[2019-01-07 01:14] LukeTowers commented on #4037
@ayumihamsaki can you look into this? @joseph-d could you provide more information on the browser used?

[2019-01-07 01:43] AugmentBLU commented on #3683
@LukeTower Specific examples include not being able to use Laravel packages such as Passport, Echo, Spark due to the completely different auth methods used or without complex changes that are not easily managed with updates. New comers are not able to use the vast majority of packages or tutorials out there due to differing methods even with a great amount of hacks.

We've discussed in the past ab

[2019-01-07 03:59] LukeTowers commented on #3683
@AugmentBLU So your main gripe is still with the Auth system differences :)

It would probably take me a day of research to figure out how we could integrate the Laravel auth system without breaking the current API that October exposes of roles, permissions, and the auth manager classes.

If people were willing to commit to a $1500 USD bounty to get it fully implemented (payable only on actual com

[2019-01-07 06:51] joseph-d commented on #4037
The issue is present on the following browsers that I use:

**Mobile:**
Chrome 71.0.3578.99 on Android 8.0.0; SM-G955F Build/R16NW
Firefox 64.0.1 on Android 8.0.0; SM-G955F Build/R16NW

**Desktop in mobile emulation:**
Chrome Version 71.0.3578.98 (Official Build) (64-bit) on Ubuntu Linux 18.10

I have also just tested it on Firefox Quantum 64.0 on Ubuntu 18.10 Desktop using a mobile responsive wid

[2019-01-07 06:56] w20k commented on #4037
I also confirm bug, tested it on the:
- IPhone latest build 12.0.x
- Chrome 71.x

I think it could be reproduced with the chrome device mode.

[2019-01-07 09:53] AugmentBLU commented on #3683
@LukeTowers It sure is. Anything Laravel seems to be so heavily dependant on its own methods that any stray from that is becoming near impossible to use.

Do you think off the top of your head that an implementation of a new Auth system would allow for straight forward integration of packages outlined above?

If so, I would put forward $500 of the required funds.

[2019-01-07 10:21] gergo85 opened #4040 "Minor UI bug - tags input field"
**Is it custom or core bug?**

Build 443 - Correct
![bug443](https://user-images.githubusercontent.com/2959112/50762764-3a942280-126e-11e9-8f8a-a928a345ef70.JPG)

Build 446 - Incorrect
![bug446](https://user-images.githubusercontent.com/2959112/50762787-50094c80-126e-11e9-94bf-84fcf8e07e68.JPG)

[2019-01-07 10:35] w20k commented on #4040
@gergo85, it's core. Already seen this one during testing.

[2019-01-07 10:53] SeriousKen opened #4041 "Cannot validate array casts using Validation trait on model"
The following example model will not validate

[code]

If I replace the `$casts` with `$jsonable` then it does validate. It seems the validation trait does not take `$casts` into account when validating and tries to validate the JSON string instead.

[2019-01-07 11:42] pbsmultimedia commented on #4009
+1

[2019-01-07 12:04] re-sign commented on #4036
@w20k Unfortunately, there is no installation log, as I had to immediately return to the previous working version of the site.
@LukeTowers No, the installation was clean from scratch.

[2019-01-07 12:51] gergo85 commented on #4040
Thank you for your idea! I added the "!important" to the "border: 0;" and the problem is solved. Will I create a PR?

[2019-01-07 12:54] w20k commented on #4040
I did the same @gergo85, but that's not the issue here. Could describe in comments `how & where` to monkey patch it, for now?
Will look at this issue in a few days, hopefully 😄

[2019-01-07 15:42] bkrajendra commented on #4009
As I have checked this related to few plugin that are using Laravel 5.5 or earlier.
**vdomah-excel** and **eugenetolok-telegram** are the affected plugins

I used simple technique on my production server without disturbing anything.
Moved all plugins to a folder outside octobercms then started copying each plugin folder one by one. and finally got hold of plugin that was throwing exception.

Littl

[2019-01-07 16:32] LukeTowers commented on #3683
@AugmentBLU it should, although it's still not going to do anything about packages that don't support LTS versions of Laravel (i.e. 5.5), and we're unlikely to change our stance on that unless people are willing to regularly pay us for the hassle of upgrading Laravel versions and all of the polyfills / testing we have to do to ensure that the core remains stable.

[2019-01-07 16:34] LukeTowers commented on #4037
@ayumihamsaki @ayumihamsaki2 @Teranode could you guys look into this and see if you can find the issue? @joseph-d are you able to try incrementally applying changes from the 446 version of storm.css to find the issue?

[2019-01-07 16:59] w20k commented on #4009
@bkrajendra, could you post here plugin name for those who might have the same issue. And, I suppose, close this issue.

[2019-01-07 17:01] AugmentBLU commented on #3683
@LukeTowers I think most of the current packages are compatible with L5.5 (Spark, Passport, Echo at least) so it would be a decent starting point for aligning the Auth system. If a none LTS release came out and there were enough people wanting the upgrade, I'm sure those wanting it bad enough can donate - I would be one.

In your honest opinion, do you think OC would benefit from the Auth system b

[2019-01-07 20:34] w20k commented on #4037
@LukeTowers found the cause, will make PR tomorrow.

[2019-01-07 20:44] w20k commented on #4039
@kukrik, couldn't yet reproduce your issue, might try with a subfolder.

[2019-01-07 21:02] w20k commented on #4040
@gergo85, @LukeTowers - found the cause. I think we have to revert `StylesheetMinify.php`.
Minification rule was an issue here.
[code]

@Samuell1  - could you make PR to revert those changes for now?

[2019-01-07 23:13] kukrik commented on #4039
My development on the server has several projects, so this project is in the "KAAR" folder. All other things work well, no problem. Only the image url is incorrect. There have been no problems until version 443.

Today I was thinking for a moment and raised the root of this project, then the url of the picture is correct and shows.

Today I made a clean installation for another project "OCTOBER" a

[2019-01-08 04:44] LukeTowers commented on #4009
@bkrajendra another person has reported issues with vdomah-excel, will look into solutions

[2019-01-08 08:37] Samuell1 commented on #4040
@w20k Maybe we can revert just that line?

[2019-01-08 08:38] chrisvidal commented on #4036
Hi,
I am having the same issue while updating from 443 to 446.

[code]

[2019-01-08 08:42] w20k commented on #4040
We could @Samuell1, but there is also this issues with recompiled assets, that we currently face: https://github.com/octobercms/october/pull/4038
The newlines 😄

[2019-01-08 08:44] w20k commented on #4036
@chrisvidal, have you tried copy-past your plugins in the subdir and re-paste them one-by-one? Or is this the issue with the clean install?

[2019-01-08 08:51] Samuell1 commented on #4040
@w20k revert PR is here i dont know why it added other commits but they are empty, https://github.com/octobercms/library/pull/369

[2019-01-08 08:53] w20k commented on #4040
@Samuell1, thanks a lot! I think we'll have to deal with minification differently 😿

[2019-01-08 08:53] chrisvidal commented on #4036
Issue is showing up after performing an upgrade on an existing project hence with existing plugins.
Let me try to remove plugin by plugin to check that.

[2019-01-08 09:00] chrisvidal commented on #4036
Well, it seems that the issue is coming from one on my own developed plugins. Not sure what and why.
After removing it from the plugins folder, OC is still in version 443 and the 'check for updates' buttons does not work anymore.

[2019-01-08 09:17] Wachem opened #4042 "Meta description field switched with settings description field (CMS pages)"
- OctoberCMS Build: 446
- PHP Version: 7.1.25

### Description:
After updating from 443 to 446 the 'meta description' field is no longer filled. Instead the 'settings description' field contains the value of the 'meta'. However the value is still available in the TWIG syntax. It seams like the fields are switched? See screenshots below:

![image](https://user-images.githubusercontent.com/6443046/5

[2019-01-08 09:38] kukrik commented on #4039
I did another test and another level below: root->TEST->another_test.

The result is "http://localhost/TEST/another_test/TEST/another_test/storage/app/media/more_image.jpg".

I hope this test will give you a hint of where the problem is.

I look forward to your thoughts and suggestions.

[2019-01-08 09:39] w20k commented on #4036
@chrisvidal, don't forget that Laravel framework do tend to remove/add methods as a fix within the `PATCH` version -> 5.6.**x**

[2019-01-08 09:42] w20k commented on #4039
@kukrik, could you also try, just to be 100% sure where to look. Try the same thing `root->TEST->another_test` with .443 build?
Thanks a lot for your help!

[2019-01-08 09:47] chrisvidal commented on #4036
thanks @w20k
I am still confused, as in:
- which Laravel version is running OC 446? is it still Laravel 5.5 LTS ?
- which patch notes are you referring to? I checked the latest OC Release notes and no mention of anything around a new Laravel version

[2019-01-08 10:04] w20k commented on #4036
@chrisvidal,
- Yes, OC will still run with 5.5.x LTS.
- I was referring to Laravel patch notes, or changes that were made.

Here you go latest 5.6.x added new method, which is not present in 5.5.x QueueableCollection.class:
![screenshot 2019-01-08 at 12 03 20](https://user-images.githubusercontent.com/1053320/50823798-7a760b00-133d-11e9-8c2e-a432989c284d.png)

[2019-01-08 10:21] chrisvidal commented on #4036
ok thanks @w20k

so I don't understand why it does not work anymore and this exception is raised since nobody upgraded to Laravel 5.6.x

[2019-01-08 10:30] w20k commented on #4036
@chrisvidal, the difference in release dates? Or others dev tend to not use 5.6.x Laravel with OC 😄

[2019-01-08 10:32] w20k commented on #4037
@LukeTowers, will wait for CSS minifier revert, and then push.

[2019-01-08 11:18] w20k commented on #4042
@Wachem, could be related to the latest update of translate-plugin. Could you look at those issues: https://github.com/rainlab/translate-plugin/pull/436 & https://github.com/rainlab/translate-plugin/pull/367#issuecomment-451887154

[2019-01-08 11:53] chrisvidal commented on #4036
I don't have any composer.json for Octobercms, it is installed with the wizard.
in the vendor folder from OC, there is a Laravel folder, but I can't seem to find the Laravel version

[2019-01-08 12:06] w20k commented on #4036
@chrisvidal, how did you install/add - LaravelShoppingCart?
Your issue is not with OctoberCMS, but plugins that use Laravel higher than 5.5.x.

See composer for LaravelShop which use 5.1.x - 5.6.x https://github.com/Crinsane/LaravelShoppingcart/blob/master/composer.json -> should be only 5.5.x.
If you have a root composer use it there (like: `plugins/author/name/composer.json`).

[2019-01-08 12:13] kukrik commented on #4039
How do I make a clean installation with build 443? Every new installation follows the latest versions in real time.

I use every project with a new installation, I use the installation wizard: https://octobercms.com/docs/setup/installation.

My previous project is in build 443. I copied it to another folder for testing. The image url is correct on the front end, but I cant log in to backend.

@w20

[2019-01-08 12:20] w20k commented on #4039
@kukrik, I will, but most probably later today. Thanks for helping!

[2019-01-08 12:57] mjauvin commented on #4040
I still don't understand why we see all those revert commits.

[2019-01-08 13:00] w20k commented on #4040
There is only one for asset compiler 😄

[2019-01-08 13:21] kukrik commented on #4039
Hi, I was thinking and doing one sample, I exchanged the build 446 in the `modules->system` folder against build 443 in the folder` modules>system`.

And it works now.

I'm a new boy here since the summer of 2018. I can't find a specific cause that causes this error.

@LukeTowers, I hope this tip will give you a specific hint about what changes have earlier been made to this folder before.

I'll l

[2019-01-08 14:14] w20k commented on #4039
@kukrik, @LukeTowers - found the cause here.

MediaLibrary.php (https://github.com/octobercms/october/blob/26173486d39cdf4312535ecf247e3d7a161713b4/modules/system/classes/MediaLibrary.php#L542)
Will create PR.
[code]

[2019-01-08 15:39] LukeTowers commented on #4040
@Samuell1 @mjauvin @w20k the extra commits are fine, I always just use the squash and merge feature anyways which takes the changes and squashes it into one commit.

[2019-01-08 15:41] LukeTowers commented on #4039
@kukrik what is your link policy and your app_url set to?

[2019-01-08 16:01] adsa95 commented on #4039
The problem actually occurs in the next line: `Url::to($fullPath)`. Because `$fullPath` is relative to the domain root (due to `$this->storagePath` being so if not using S3 etc), and when not given a full URL `Url::to()` adds the schema and full root path again (incl subdomain) and it gets duplicated.

I suggest we make `$this->storagePath` only be relative to the application root, and then the ap

[2019-01-08 16:50] LukeTowers commented on #4039
@adsa95 that sounds good to me, are you able to add a unit tests with various combinations of link policies and app urls to make sure that this stays fixed?

[2019-01-08 16:51] kukrik commented on #4039
@LukeTowers, hmmmm, I can't say anything about the first question. @adsa95 explained his comment, I understand it...
The second question is clear, I have config->app.php:` 'url' => 'http://localhost/KAAR/'`.

Where did I make a mistake?

[2019-01-08 17:21] tobias-kuendig opened #4043 "Marketplace: The result of plugin builds should be visible to the author"
When installing the offline.mall plugin via `php artisan plugin:install offline.mall` it's vendor directory is missing.

As I understand the build server removes the `composer.*` files and publishes the `vendor` directory with the plugin.

Obviously something isn't right with [my plugin's composer setup](https://github.com/OFFLINE-GmbH/oc-mall-plugin/blob/develop/composer.json).

It seems like thi

[2019-01-09 06:33] tobias-kuendig commented on #4043
I was able to narrow the problem down to the `"phpunit/phpunit": "^7.2"` dev dependency. As soon as I remove it, the `vendor` folder is included in the resulting build.

I changed the issue title to better reflect the actual problem.

I think the following points would greatly improve the marketplace dev experience:

* [ ] In case of an error, display a warning on the plugin build page
* [ ] Maybe

[2019-01-09 08:30] chrisvidal commented on #4036
thanks @w20k for your help
so basically I am screwed :) I can't modify their composer.json.
So I had to go with a previous version 2.4 and it seems to be working.
Still in test though

[2019-01-09 08:41] SeriousKen opened #4044 "beforeValidate events that return false don't halt validation"
The example of returning false in the comment will never work as `fireEvent` returns an array of results if the halt flag is `false`

https://github.com/octobercms/library/blob/568f35948da1485d655aa7af250503515fab9aad/src/Database/Traits/Validation.php#L172-L190

A fix would be to change the call to `fireEvent` to have the flag set to `true`

[2019-01-09 10:01] pvullioud commented on #3683
### Improve partners onboarding

- Add prices on https://octobercms.com/partners or on a separate page
- Tweet announcement for new partners
- Campaign to find new partners on the site heading

[2019-01-09 14:21] domstarkey commented on #3746
@LukeTowers - I've been trying to contact you about exactly that :)
I've sent you an email, just fyi

[2019-01-09 15:58] prhost opened #4046 "Problem SoftDelete when extends October\Rain\Auth\Models\User"
- OctoberCMS Build: ###https://github.com/octobercms/library/commit/d63d368d356b5df19e3b012bbe472028386e3d1d
- PHP Version: 7.2
- Database Engine: Mysql

### Description:
The trait SoftDelete is in the wrong place, it should be in `October\Rain\Auth\Models\User` and not `Backend\Models\User` since the `October\Rain\Auth\Manager` class uses `October\Rain\Auth\Models\User`

### Commit  October\Rain\

[2019-01-09 16:11] w20k commented on #4046
@prhost, what build version do you use? 446?
Could you provide a simple example?

[2019-01-09 16:33] LukeTowers commented on #4046
Technically speaking the code in the RainAuthManager should actually exist within the BackendAuthManager class instead. Feel free to make a PR to correct this by reverting the change in the rain AuthManager and adding an overriding `check()` method to the backend AuthManager to handle it. Perhaps @tobias-kuendig could help with this.

[2019-01-09 16:39] LukeTowers commented on #4036
@chrisvidal you should be able to use the `replace` property in your composer to specify illuminate/support 5.5: https://getcomposer.org/doc/04-schema.md#replace. This should lock their dependencies to 5.5 and prevent the unnecessary inclusion of the illuminate/support package within your plugin. This is the method used by the marketplace build server.

[2019-01-10 03:36] chrisvidal commented on #4036
Thanks @LukeTowers
that is much cleaner way to proceed indeed. thanks, let me try this

[2019-01-10 07:32] LukeTowers commented on #4046
@tobias-kuendig I'm saying we should keep the trait in the backend auth library and implement the softdelete / not softdelete support in the backend auth class. As a note, I think we'll have to implement it in the other methods too because lots of people are having issues with the 446 upgrade.

[2019-01-10 12:25] rohit-bhati opened #4047 "Settings sidebar menu doesn't expand on single click"
- OctoberCMS Build: 446
- PHP Version: 7.1.12
- Database Engine: MySQL
- Plugins Installed:

### Description:
1. When settings menu is clicked, the sidebar menu items have collapsed sign(>) which should be the opposite. When clicking on them it doesn't collapse instead it collapse and expand.
2. Secondly, when selected any one of the option, it loads the view and all the menu items collapse (excep

[2019-01-10 12:47] w20k commented on #4047
Confirmed, as a pre-step, you should first collapse single/all settings.

[2019-01-10 13:08] tobias-kuendig commented on #4046
Just to make sure I understand the goal of this: The rain auth manager should be completely unaware of the SoftDelete trait. So no calls to `withTrashed` should be in there. All of these checks should be handled only in the backend auth manager. Is this correct so far?

Like the `findUserById` or `findUserByLogin` methods? Are there any bug reports regarding the upgrade issues? What problems are p

[2019-01-10 13:15] w20k commented on #4046
@tobias-kuendig, as far as I know, this is only one issue related to the 446 build problems and `SoftDelete`.
There is a lot of issues were plugins use different Laravel version...that's the top story right now. And minor UI bugs.

[2019-01-10 15:36] LukeTowers commented on #4046
@tobias-kuendig That's correct. The other issue that happens when upgrading to 446 is if the upgrade fails, they're locked out of their backend because it kicks them back to the login page but the migration hasn't been run yet and they can't run the migration unless they login but they can't login until the migration has been run.

[2019-01-10 15:45] w20k commented on #4046
@LukeTowers, I think softdelete issue was related to 445 build only.

[2019-01-10 15:48] LukeTowers commented on #4046
@w20k nope, I've had people upgrading to 446 reporting the issue. We only have the non-softdelete auth support added to the check method, not the login methods.

[2019-01-10 15:53] tobias-kuendig commented on #4046
I have implemented a fix to the library code that solves the login issues:
https://github.com/octobercms/library/compare/develop...OFFLINE-GmbH:softdeletes-fix

1. Add `withTrashed` to the `createUserModelQuery` method
2. Add `checkDeleted` method
3. Call `checkDeleted` everytime a user was fetched

I'll see that I can move all these checks to the backend auth manager and remove the dependency on

[2019-01-11 00:33] Morsusy2k opened #4048 "Backend pages wont open for new administrators"
- OctoberCMS Build: 446
- PHP Version: 7.2.10
- Database Engine: Mysql
- Plugins Installed: October Demo, RedirectToHTTPS

### Description:
Newly created administrators have trouble accessing pages in the backend.

### Steps To Reproduce:
- Created new administrator from CMS as a Developer with Super User.
- Login with new administrator account.
- Browse to CMS -> Pages
- Clicking on a page name d

[2019-01-11 00:40] LukeTowers commented on #4048
@Morsusy2k did you try deleting the cache and performing a hard reload in Chrome? (Right click on the reload button when the inspector is open)

[2019-01-11 00:41] Morsusy2k opened #4049 "New installation of OctoberCMS can't find database"
- OctoberCMS Build: 446
- PHP Version: 7.2.10
- Database Engine: Mysql (WAMP)
- Plugins Installed: None

### Description:
Investigating the issue from before I have decided to try a clean install of OctoberCMS which throws an error. Installation ignores the database name I specified during the installation and searches for "database" database.

![Error screenshot](https://user-images.githubusercon

[2019-01-11 00:44] Morsusy2k commented on #4048
@LukeTowers Yes, tried everything that came to mind. (same thing happens with my local environment and on the live too)
Tried on other PC (on which I have never loaded the site) same thing happens.

[2019-01-11 00:46] LukeTowers commented on #4048
@Morsusy2k does this happen with the RedirectToHTTPS plugin removed?

[2019-01-11 00:54] Morsusy2k commented on #4048
@LukeTowers Removed all plugins on local environment the problem is still there.

[2019-01-11 01:01] LukeTowers commented on #4048
Weird. @w20k could you look into this when you have a chance?

[2019-01-11 08:50] SaifurRahmanMohsin commented on #1752
Isn't this more of a workaround than a fix? Why does the system think the relation isn't initialized to begin with when it clearly is by the controller that implements the relation behaviour?

[2019-01-11 08:59] Wachem commented on #4042
I checked and even without the translate plugin, still the same behavior...

[2019-01-11 09:58] pavelmgn opened #4050 "Media manager bug with cirillic and opcache = 1"
- OctoberCMS Build: 446
- PHP Version: 7.1, 7.0
- Database Engine: mysql
- Plugins Installed: nothing

### Description:
![rfg](https://user-images.githubusercontent.com/8817759/51026766-21aea880-15b1-11e9-8f75-1cdda7d060db.gif)

### Steps To Reproduce:
Upload files with cyrillic symbols to media manager.

### Result
in php-fpm off opcache

[2019-01-11 10:34] therealfly commented on #4048
I have the same problem. CMS is totally unusable ATM.

[2019-01-11 10:46] w20k commented on #4048
@LukeTowers, will look at it, today.

[2019-01-11 13:07] tobias-kuendig commented on #4046
This would be my proposal:

https://github.com/octobercms/library/pull/371 and https://github.com/octobercms/october/pull/4051

### Library
* Added `validateUserModel` method to reject invalid models
* Removed dependency on `SoftDelete` trait from library code

### Backend
* Overwrite `createUserModelQuery` to return all models `withTrashed`
* Use the new `validateUserModel` method to perform the

[2019-01-11 14:39] w20k commented on #4042
Tried with a clean install - couldn't reproduce your bug, nor with an upgraded version. Everything works as expected.

[2019-01-11 15:11] w20k commented on #4049
@Morsusy2k, could you past your configs that you use? Those that you use during installation?

[2019-01-11 16:37] Wachem commented on #4042
Tried also with a clean install. The bug has been resolved. My appologies.

[2019-01-11 16:37] #4042 closed

[2019-01-11 18:24] GinoPane opened #4052 "Top Menu Icons Disappear"
- OctoberCMS Build: 446
- PHP Version: 7.2.4
- Database Engine: sqlite
- Plugins Installed:
![image](https://user-images.githubusercontent.com/3897579/51052204-03fc3600-15e7-11e9-8b21-bd5a6cf417e5.png)

Here's the styling issue that appeared on the newest build:

![october_446_bug](https://user-images.githubusercontent.com/3897579/51052241-24c48b80-15e7-11e9-82de-ae58485765e0.gif)

Did anyone expe

[2019-01-11 20:44] Morsusy2k commented on #4048
@w20k Just tried recompiling assets no change to the issue.
There is nothing that indicates unsafe scripts :/

[2019-01-11 21:08] w20k commented on #4048
@Morsusy2k, quick quest. Could you zip your application? Remove all configs or .env files and post a link here? Or make a repo with your setup.
Will try to find the cause then.

[2019-01-11 21:11] therealfly commented on #4048
Hi Denis,

I will but it will be in 12 hours (different timezone) its running on a local machine at work so i will do it.

Greetings from the Netherlands

Johan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Denis Denisov <notifications@github.com>
Sent: Friday, January 11, 2019 10:08:26 PM
To: octobercms/october
Cc: therealfl

[2019-01-11 22:36] LukeTowers commented on #4052
@GinoPane I've been experiencing that issue too. I don't know what caused it though. @ayumihamsaki @Teranode @w20k could one of you guys look into this? Also @GinoPane could you see if you could find the source of the problem?

[2019-01-11 22:38] LukeTowers commented on #4050
@pavelmgn so the issue is that uploading files with the same name (when that name is cirillic characters) the original file gets removed as well as the new one? And does this happen when opcache is disabled?

[2019-01-11 22:44] LukeTowers commented on #1752
Because it's the responsibility of the FormController to initialize the RelationController (see https://github.com/octobercms/october/blob/master/modules/backend/behaviors/FormController.php#L165-L170) however `initForm()` is called by the FormController behaviour's AJAX handlers, so you need to make sure you also call `initForm()` in your custom AJAX handlers.

As a note @tobias-kuendig, @daftspu

[2019-01-11 22:50] LukeTowers commented on #4046
@tobias-kuendig why do you specify

?

Shouldn't we invalidate them if they've been deleted at all?

[2019-01-11 23:16] w20k commented on #4052
@GinoPane, @LukeTowers - as a monkey patch:
`.svg-icon-container.svg-active-effects img.svg-icon {-webkit-backface-visibility: hidden;...`

[2019-01-12 15:52] GinoPane opened #4053 "Placeholder for select dropdown does not work without an empty option"
- OctoberCMS Build: 446

Placeholder for select dropdown defined using "form-control custom-select" does not work without an empty option specified in the select options.

For example, we have such select:

[code]

It will initially look like this even when we don't select anything:

![image](https://user-images.githubusercontent.com/3897579/51075291-9578b000-169a-11e9-85f2-6485ffdba0ed.png)

On t

[2019-01-12 18:39] Rike-cz commented on #4048
I have same problem. @w20k Are you using "disable cache" in DevTools? When cache is disabled, there is no error. When you enable it, first reading of CMS or staticPages is ok, second and other triggers error.
Problem is [this line](https://github.com/octobercms/october/blob/2dbc56aead2ef2355135349b83860457f48f6235/modules/backend/assets/js/october.sidepaneltab.js#L171), something destroy $.oc.side

[2019-01-12 18:52] mariavilaro opened #4054 "Optional wildcard parameters are not supported"
- OctoberCMS Build: v1.0.446
- PHP Version: 7.1.11

### Description:
Optional wildcard parameters are not supported. So if you want to have a page that can accept no parameters (for example domain.com/category to show all categories products), and also a wildcard parameter (for example domain.com/category/subcategory/subsubcategory to show only the products for a category), you are forced to have

[2019-01-12 19:49] w20k commented on #4048
@Morsusy2k, @Rike-cz - monkey patch v0.5; Try using the old jquery, seems like, there is a bug in the code related to the new version.
Will inform you fellows, when the fix will be on the way.

For now use: `https://code.jquery.com/jquery-2.2.4.min.js`

[2019-01-12 20:11] Morsusy2k commented on #4048
@w20k I am glad that there is an idea of where the problem is. Thank you so much for looking into this. Can you point us newbs out to how can we change core jQuery version?

[2019-01-12 20:15] w20k commented on #4048
@Morsusy2k, just paste the code to `modules/backend/asstes/js/vendor/jquery.min.js`. Worked for me...might be something, else for you. Test it with your build and comment, if it worked.
Thanks!

[2019-01-12 20:36] Morsusy2k commented on #4048
@w20k Hmm the error changed:
`Uncaught TypeError: e.event.addProp is not a function`
![Console screenshot](https://user-images.githubusercontent.com/27859457/51078199-09728280-16b2-11e9-962b-ca4f7067f6ac.png)

And not even the checkbox 'workaround' works anymore, not even + Add button.

[2019-01-12 20:46] w20k commented on #4048
@Morsusy2k, forgot one more thing 😄Remove everything from migrate.
`modules/backend/asstes/js/vendor/jquery-migrate.min.js`

[2019-01-12 20:59] Morsusy2k commented on #4048
@w20k It works! Are there any side effects? If I update the CMS does this get overridden?
Thank you so much. Great support. :D

[2019-01-12 21:03] w20k commented on #4048
@Morsusy2k it will. That's why it's called `monkey patch` 😄
Don't think so.

I'll dig deeper to get this working in the next release - no worries.

[2019-01-12 21:10] Rike-cz commented on #4048
@w20k Works for me to! Thanks a lot!

[2019-01-12 21:13] w20k commented on #4049
@Morsusy2k, have you got this working? If - not, past your initial configs. Or try to use composer setup.

[2019-01-12 21:15] w20k commented on #4039
@adsa95, could you make PR to fix it? I'll look at the testing part if you don't have time. Ping me on your PR.
Thanks!

[2019-01-12 21:40] ayumihamsaki commented on #4052
Hi I have been seeing this issue for a little while, the reason the icons are being hidden is by an Ad-Blocker in my case the svg icons filename is in the blacklist of some ad-blockers. Do you notice it with the svg icons only?

`content-icon.svg`

The `content-icon` is the part being blocked.

Also the folder of the plugin maybe blacklisted as well e.g.

`/plugins/example/gdpr/assets/images/conte

[2019-01-12 23:05] nolyboms opened #4056 "OctoberCMS repeater: How to store index/id inside the json array"
Hello everyone,

after 3 days of researching for a way to accomplish my need i thought its best to ask and hope to get an answer.

In this post

https://github.com/octobercms/october/issues/2772#issuecomment-296411282

it is exactly described what i am trying to do.

I have a repeater in my backend form and the data gets saved in the database as a json like that:

<code>
"topics": [

	{
	    "topi

[2019-01-12 23:48] ayumihamsaki commented on #4052
If you confirm that css will fix it I will add it to this pr: https://github.com/octobercms/october/pull/4038

[2019-01-13 03:56] LukeTowers commented on #4052
Hmm, I do use an adblocker (uBlock origin), but it always starts working again after hovering over the empty icons.

[2019-01-13 03:59] LukeTowers commented on #4056
@nolyboms could you please provide more information on why you need the index to be stored? It used to be stored (at least, that's what I remember) but it was removed because it made it overly complex to store that information in two ways.

[2019-01-13 04:09] LukeTowers commented on #4046
@tobias-kuendig sure, technically speaking, but why would someone have deleted_at set to a date in the future on purpose? Not to mention it's not possible to intentionally do that by default right now, which means the only way that would happen right now is with a time zone conflict/issue between the app server and the DB server

[2019-01-13 04:30] nolyboms commented on #4056
@LukeTowers thank you for responding.
I am generating an API out of the OctoberCMS Backend which provides all data to be used by an vuejs website.
The API contains all information about different topics.
Each topic in the array needs to be identified with a unique id because the logic of the website allows users to send questions or participate on a survey which are assigned to the topic by its ID

[2019-01-13 04:34] LukeTowers commented on #4056
@nolyboms hmm. If you have a need for a unique ID you should be using unique records with a RelationController, not a Repeater. The reason for this is that the "id" of a repeater is not unique, it's just an integer describing it's position within the array. If you really must have a unique ID then I recommend you look at adding to the data in `formBeforeSave()`, perhaps with a hidden `guid` field

[2019-01-13 04:55] nolyboms commented on #4056
@LukeTowers
If i could get the integer which describes the position to be stored with the array that would be absolutely perfect.

https://cl.ly/51aa6f2f043a

Since that was possible in a previous OctoberCMS version - do you have an idea on how to get that info and store it in the array? I am using the Builder plugin - is there maybe a way by adding a custom HTML attribute to the field?
I was thin

[2019-01-13 05:54] LukeTowers commented on #4056
That number that you see is just straight CSS, it doesn't exist anywhere else. You'll notice that if you drag and reorder records the numbers stay in the same position even though the item contents are now different. That is why it is a bad idea to use the position of the element as an ID for other purposes.

[2019-01-13 06:17] nolyboms commented on #4056
@LukeTowers
I understand. Thank you! It was not clear to me that the number is based on CSS.

We are getting close. :-)

In my controller i am trying to append a value to the json array. But when i add this function to my controller it tries to append the value to a column:

<code>
public function formBeforeSave($model)
    {
        $model->topics= 'x1';
    }
</code>

According to the [docs](htt

[2019-01-13 11:09] w20k commented on #4052
@LukeTowers, @ayumihamsaki, @GinoPane - could you try my fix? If it works.

[2019-01-13 11:35] ayumihamsaki commented on #4052
Been looking into this and if you keep clicking on the "cms" button October will fail on loading - usually on the third time.

The issue seems to be from the Javascript, it is loading half the bar and then moving it fully. You probably dont see it happening in real-time - but that seems to be how the icons are not getting shown. I got some screenshots of it happening:

![untitled-bug](https://user

[2019-01-13 12:45] ayumihamsaki commented on #4052
@w20k @LukeTowers I think I have found a solution to this issue:

The file found here: https://github.com/octobercms/october/blob/master/modules/backend/layouts/_mainmenu.htm

Change line 7:

`<div class="toolbar-item toolbar-primary">`

into

`<div class="toolbar-item toolbar-primary" style="width:100%; padding-right:130px;">`

Change line 40:

`<div class="toolbar-item" data-calculate-width>`

i

[2019-01-13 13:01] ayumihamsaki commented on #4052
Also spotted another issue while trying to fix this one, see here:

Error:

![untitled-bug-4](https://user-images.githubusercontent.com/17784082/51085562-39159f00-1733-11e9-8f9c-cd276a56fbfc.png)

Fix:

![untitled-bug-5](https://user-images.githubusercontent.com/17784082/51085564-3fa41680-1733-11e9-8d7c-3cef7b63a228.png)

Can fix both at same time.

[2019-01-13 13:47] pavelmgn commented on #4050
@LukeTowers deletes the file name and leaves only the extension. Хвоя.jpg -> .jpg

[2019-01-13 14:07] ayumihamsaki commented on #4052
I want to add an extra issue that is connected to this issue see screenshot:

![untitled](https://user-images.githubusercontent.com/17784082/51086266-88140200-173c-11e9-83f0-d31ba4101bd6.png)

[2019-01-13 14:15] Johnzero commented on #3354
@buuug7 did you fix it?

[2019-01-13 14:18] ayumihamsaki commented on #4052
Going to merge all the above fixes into PR 4038.

[2019-01-13 14:21] w20k commented on #4052
@ayumihamsaki, I'd do it in a separate one.

[2019-01-13 14:22] ayumihamsaki commented on #4052
ok thanks.

[2019-01-13 17:54] LukeTowers commented on #4056
@nolyboms same as you would with any array in general.
[code]

[2019-01-13 17:56] LukeTowers commented on #4050
Duplicate of #3354

[2019-01-13 17:56] #4050 closed

[2019-01-13 22:49] Morsusy2k commented on #4049
@w20k Just installed it via composer and it works fine what is weird about it the past bug with [new administrators not seeing pages in BE](https://github.com/octobercms/october/issues/4048) is gone too. What is up with that..?

The problem here must be my environment, I use WAMP. Will try another installation via wizard tomorrow to confirm. Thank you for support ;)

[2019-01-14 04:19] LukeTowers commented on #4056
Whoops, order of arguments was backwards. array_map(callbackFunction, $inputArray)
do it `array_map(function () {}, $model->topics);`

[2019-01-14 05:46] tobias-kuendig commented on #4046
In this case we could simply get rid of the [`$user->deleted_at->lt(now())` check](https://github.com/octobercms/october/pull/4051/files#diff-3eed7cb4fbe54b2728183b9259b1ef27R188) and invalidate every user that has something set as `deleted_at`.

Want me to remove it?

[2019-01-14 05:54] nolyboms commented on #4056
My function looks now like this:

<pre><code>
 public function formBeforeSave($model)
    {

        $model->timeslots = array_map(function ($timeslot) {
             $timeslot['id'] = uniqid();
             return $timeslot;
        }, $model->timeslots);

        var_dump($model->timeslots);
    }
</code></pre>
<br>
The output of var_dump states that the id is been appended but checking the db c

[2019-01-14 06:08] LukeTowers commented on #4056
@nolyboms try attaching to the model's beforeSave event.

[2019-01-14 06:10] LukeTowers commented on #4046
Sure, lets go with that. I can see the theoretical feature of choosing when a user gets deleted, but I think that would probably be better suited for a more specific column as the vast majority of the time any future deleted_at dates would be due to timezone mismatches between application and database servers.

[2019-01-14 07:55] nolyboms commented on #4056
Nope. Didn't work. but...

So here is the strange thing which i can not understand:

Repeater Field Name: topics
DB Column: topics

Controller function:
<pre><code>
$model->topics = array_map(function ($topic) {
    $topic['topic_id'] = uniqid();
	return $topic;
}, $model->topics);
</code></pre>

NO TOPIC_ID IS STORED!

Now watch this...

Repeater Field Name: no change
DB: Created another column a

[2019-01-14 08:54] w20k commented on #4049
@Morsusy2k, you're welcome 😉After confirmation if everything is fine, close this ticket! Thanks!

[2019-01-14 12:31] jj8431 commented on #4049
Hi, I have the same error exactly, the same error message in exactly the same way.
my environment is Ubuntu 16.04 + php7.0 + Mysql, php and mysql were installed from ubuntu repository.
I found there are bunch of php files in the install-master/config folder, don't know which one would be the related, I just paste the database.php here:
`<?php

return [

    /*
    |--------------------------------

[2019-01-14 14:01] alpapan commented on #2865
In the DBA world, ORM is not considered a substitute for secure database design. The only reason why a FK might not be needed is when a column can be null, which can only happen if the DB hasn't been modelled correctly. So restrictive is in the eye of the expert. FKs are exceptionally useful.

For example, the attached screenshot from SchemaSpy shows that the jobs and failed_jobs table have confli

[2019-01-14 14:32] adrenth opened #4057 "`php artisan queue:restart` does not work with RequestCache enabled"
- OctoberCMS Build: 446
- PHP Version: 7.1
- Database Engine: MySQL
- Plugins Installed: none

Cache driver: file

### Description:

Restarting a queue (described on the official Laravel 5.5 documentation page https://laravel.com/docs/5.5/queues#running-the-queue-worker)

### Steps To Reproduce:
[code]

Open **new** terminal window:
[code]

Head back to first terminal window. The queue:work proces

[2019-01-14 15:41] LukeTowers commented on #4056
@nolyboms post your model class.

[2019-01-14 15:46] LukeTowers commented on #2865
@alpapan you're always welcome to submit PRs with explanations for the value of the change. You're also always able to freely change the schema as you need through your own plugins. I will mention that foreign key columns are often able to be null in October with the concept of deferred binding in play (setting relationships on records before they're actually created)

[2019-01-14 16:07] LukeTowers commented on #4046
Great! @w20k please test the related PRs

[2019-01-14 17:55] LukeTowers commented on #4057
@adrenth is there a way that we can disable the cache just for this relevant query or get it to properly detect when it needs to reset that cache item? The request cache is itself an awesome feature of October

[2019-01-14 20:23] nolyboms commented on #4056
sidenote: i have changed the column name and all corresponding assets now from "topics" to "timeslots"

model class:

<pre><code>
<?php namespace Xxx\Xxx\Models;

use Model;

class Events extends Model
{
    use \October\Rain\Database\Traits\Validation;

    public $timestamps = false;

    protected $jsonable = [
        'event_manager',
        'event_news',
        'timeslots',
        'appthem

[2019-01-15 01:21] nolyboms commented on #4056
No. :(

[2019-01-15 04:56] LukeTowers commented on #4056
@nolyboms did you try putting the logic in the `beforeSave()` method on the model? Changing `$model` to `$this` instead of course

[2019-01-15 09:14] nolyboms commented on #4056
![clap](https://user-images.githubusercontent.com/45102531/51170272-5458e980-18ae-11e9-8517-b9a1687245c5.png)

[2019-01-15 09:16] nolyboms commented on #4056
And for anyone in the same situation, here is the solution:

<pre><code>
    public function beforeSave()
{
    $this->_FieldName_ = array_map(function ($miau) {

        $miau['id'] = uniqid();
        return $miau;

    }, $this->_FieldName_);
}
</pre></code>

[2019-01-15 11:33] joseph-d commented on #4037
@w20k Sure, I'm ready to test as soon as you do the PR.

[2019-01-15 13:53] rodau commented on #4049
Same issue on different environments (apache, nginx, mamp, wamp). Command-line installation fails with same error even database name was entered different it still does not pickup and keeps default value of "database" during installation.

[2019-01-15 14:29] seanthepottingshed opened #4063 "Datatable Not Saved When Inside Repeater"
- OctoberCMS Build: 446
- PHP Version: 7.1
- Database Engine: mysql
- Plugins Installed:

### Description:
Adding a `datatable` form widget inside a `repeater` doesn't save the data.

### Steps To Reproduce:
https://github.com/octoberrain/test-plugin/pull/61

[2019-01-15 19:08] LukeTowers commented on #4063
@bennothommo this something you'd be interested in looking into?

[2019-01-15 19:40] #4056 closed

[2019-01-16 00:58] bennothommo commented on #4063
@LukeTowers no worries, will have a look.

[2019-01-16 02:58] multiwebinc opened #4064 "Get rid of meta keywords and meta title"
On the CMS pages `Meta` tab, two of the options are `Meta Title` and `Meta Keywords`. The title is redundant since we already have the actual page's title, and there is [no such thing as an actual `<meta name="title">`](https://gist.github.com/lancejpollard/1978404) meta tag. And SEO experts seem to unanimously agree that the meta keywords tag will give you no benefit. Some have gone as far as to

[2019-01-16 04:57] Teranode commented on #3683
@LukeTowers why not just look at my package tho https://github.com/Teranode/october-laravel-auth-bridge - It works for me, i can use laravel's Auth, Passport. Ive been using it for several months now with no issue.

Then when i need to extend the auth at any point i do this
[code]

gist of SessionManager: https://gist.github.com/Teranode/fd585fc223f705c696f242c77b444bf8

[2019-01-16 07:02] LukeTowers commented on #4064
The meta title field can be used by `og:title`. Also, we're probably not going to remove these as that would break backwards compatibility for people that do utilize those fields. Feel free to make your own plugin to extend the form removing those fields however.

[2019-01-16 07:02] #4064 closed

[2019-01-16 12:50] algofran opened #4065 "storage path with double app sub folder segment eg: appfolder/appfolder/storage"
- OctoberCMS Build: 1.0.446
- PHP Version: 7.2.11
- Database Engine: mysql
- Plugins Installed: default

I can upload file and success, but the url link return invalid url with double app sub folder segment
eg : http://site.com/appfolder/appfolder/storage/.../.../file.jpg

[2019-01-16 13:49] algofran commented on #4065
temporary fixed, by adding my sub folder on MediaLibrary classes init

        **$this->storagePath = rtrim(Config::get('cms.storage.media.path', 'appfolder/storage/app/media'), '/');**

[2019-01-16 13:52] w20k commented on #4065
Duplicate: https://github.com/octobercms/october/issues/4039
PR Fix: https://github.com/octobercms/october/pull/4055

[2019-01-16 14:05] bennothommo commented on #4063
I'd say it's a confirmed bug. It appears the Datatable widget is not following the same form key structure that other fields inside the repeater use on form submit.

![screenshot from 2019-01-16 21-57-55](https://user-images.githubusercontent.com/15900351/51253719-16f17a80-19da-11e9-8b11-7ad893dbb495.png)

eg. The suburb field inside the repeater has the form key `Country[states][0][item][1][subti

[2019-01-16 14:34] algofran commented on #4065
@w20k  PR Fix: #4055 not work for me,
`{
        $path = $this->validatePath($path);
        return URL::to($this->storagePath.$path);
        $fullPath = $this->storagePath.implode("/", array_map("rawurlencode", explode("/", $path)));
        return Url::to($fullPath);
    }
    /**`

instead remove backslash from rtrim(Config::get('cms.storage.media.path', '/storage/app/media'), '/'); give valid

[2019-01-16 15:24] LukeTowers commented on #4065
@w20k could you look into that? ^

[2019-01-16 15:38] LukeTowers commented on #4063
This https://github.com/octobercms/october/blob/master/modules/backend/widgets/Table.php#L81-L86 is probably the problem. It might need to be changed to use `$this->alias` instead

[2019-01-16 15:41] LukeTowers commented on #4063
@bennothommo the `alias` property is usually the one used to construct the actual `name` attributes for the inputs on a form, and this alias gets passed around by the [Repeater](https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/Repeater.php#L268) and the [Nested Form](https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/NestedForm.php#L47) and t

[2019-01-16 15:54] jajacobs commented on #4035
Fixed in #4040

[2019-01-16 15:54] #4035 closed

[2019-01-16 16:08] w20k commented on #4065
@LukeTowers, will do! I've already been planning to patch few bugs on this week 😉

@algofran, could you test without this PR changes (https://github.com/octobercms/october/pull/3536/files)?

[2019-01-16 16:10] w20k commented on #4040
@gergo85, could you test with the latest assets?

[2019-01-16 16:21] jajacobs opened #4066 "Error after update to 446"
- OctoberCMS Build: 446
- PHP Version: 7.1
- Database Engine: MySQL
- Plugins Installed: none

![image](https://user-images.githubusercontent.com/8701133/51261230-45456a80-1986-11e9-9662-1c9a053dd762.png)

The issue is caused by the setting a default array value for the checkboxlist field.

[2019-01-16 16:47] Rike-cz opened #4067 "Reset search in toolbar not implemented correctly everywhere"
- OctoberCMS Build: 446

### Description:
Reset search (X) in toolbar search input not implemented correctly everywhere (#3425). Implementation in Relation Manager toolbar missing.
![relation-manager](https://user-images.githubusercontent.com/4247582/51263631-ef3beb80-19b4-11e9-8fcf-226acf9da34e.png)

In Relation toolbar and List toolbar it's not perfect too (Mozilla/5.0 (Windows NT 6.1; Win64; x6

[2019-01-16 16:56] w20k commented on #4067
@vosco88, Could you look at this issue and provide a PR to fix it?
Thanks!

[2019-01-16 16:58] w20k commented on #4066
@jajacobs, could you also post your usage example?

[2019-01-16 17:43] jajacobs commented on #4066
This is the field definition:
![image](https://user-images.githubusercontent.com/8701133/51267716-c146af00-1994-11e9-8a46-bc0c8ecb84b8.png)

[2019-01-16 17:49] w20k commented on #4066
https://github.com/octobercms/october/pull/4062/files - that was already fixed.

[2019-01-16 17:49] vosco88 commented on #4067
@w20k Sure, will look at it.
@Rike-cz The pictures of the list toolbar are from which browser? Because when I run it in Firefox it looks good, in Chrome a bit of padding needs to be added (that I think corresponds to the second picture) . But I am not sure about first picture and where to replicate it.

[2019-01-16 17:53] jajacobs commented on #4066
Fixed in #4062

[2019-01-16 17:53] #4066 closed

[2019-01-16 18:46] #3425 closed

[2019-01-16 18:47] LukeTowers commented on #4067
@vosco88 The first picture is a recordfinder widget with showSearch: true

[2019-01-16 19:11] Teranode commented on #3683
The only gripe i have with october right now is that i cant force my way out of LTS 5.5 without creating a fork and using that fork.

[2019-01-16 19:14] Rike-cz commented on #4067
@vosco88 My usecase is Relation - View (https://octobercms.com/docs/backend/relations#has-many).

[2019-01-16 19:15] vosco88 commented on #4067
@LukeTowers Sorry I meant the second picture :) I think I have already figured out the first picture and third. I don't know where to replicate the second.

[2019-01-16 20:38] vosco88 commented on #4067
I have created PR for this.
@w20k maybe also @Rike-cz could you test it please? Seems to be working for me

[2019-01-17 00:40] bennothommo commented on #4063
@LukeTowers The `alias` is already fed through this line here I believe:
https://github.com/octobercms/october/blob/master/modules/backend/widgets/Table.php#L61

I feel It might have something to do with the `arrayName` value that is defined in the `FormField` class encasing the widget - it doesn't seem to feed down into the `Table` widget, or doesn't seem to be handled in any way. When I added th

[2019-01-17 02:50] LukeTowers commented on #4063
Interesting, are you able to continue digging into it further @bennothommo or do you need me to take a longer look at it?

[2019-01-17 03:03] bennothommo commented on #4063
I'll be happy to continue looking into it, but I anticipate my spare time over the next couple of weeks will be very limited.

I have noticed that the data tables in the Builder plugin are being processed via JS first in which the data is extracted from the table. This is before it ever reaches the AJAX handlers. I have yet to actually see it used in a standard form context yet.

Maybe throw the "

[2019-01-17 06:50] pavelmgn opened #4070 "Depends on with 3 fields."
Hello. If i write several dependsOn > 2 in fields.yaml, field not updated, by change first field. All 4 fields has dropdown type.
![rfg](https://user-images.githubusercontent.com/8817759/51300222-f9112d80-1a4c-11e9-9592-5a5c8e0abb88.gif)
![default](https://user-images.githubusercontent.com/8817759/51300228-ff070e80-1a4c-11e9-87ce-aef0da2888b4.JPG)

1 field:
[code]

2 field:
[code]

3 field:
[code]

[2019-01-17 08:56] gergo85 commented on #4040
@w20k It works again, thank you! :)

[2019-01-17 08:56] #4040 closed

[2019-01-17 14:43] algofran commented on #4065
@LukeTowers I already tried with fresh october installation
My fix return valid url without using PR #3536 changes
its return invalid url if I use both

[2019-01-17 16:23] VoroninWD opened #4071 "Request: Add ability to manually specify field names in order to have multiple fields with the same name"
HI!

I am creating an online store, and I have a need to dynamically form a whole group of form fields.

[code]

In fact, these fields are one field, which is divided into groups:
![image](https://user-images.githubusercontent.com/20097205/51322050-076f4180-1a6d-11e9-833b-fe935f9f033d.png)

These fields must use the same model relation to store data.

Everything works very well, but only as long a

[2019-01-17 16:54] BahodurSaidov opened #4072 "Fronend Form validation and Flash messages"
- OctoberCMS Build: ### 446
- PHP Version: 7.1
- Database Engine: mysql
- Plugins Installed: rainlab.user

### Description:
I have seen many examples with form validation messages, even video tutorials, but however, the simple validation is not working for me !
i wanted to customize login and registration page of rainlab.user plugin, and copied the forms/partials from source and edited like this:

[2019-01-17 18:38] LarBearrr commented on #1061
Not sure if this issue has been raised before or whether or not it belongs here, but this is the closest I could find to the issue I'm having.

I've noticed that changing a password field type to text allows the hashed password to come through, despite the field being in the model's hidden property.

For example, if you change the password field type in the Backend\Models\User class to text, and n

[2019-01-17 19:31] LukeTowers commented on #1061
@LarBearrr this is an expected behaviour, the model's `hidden` property is only for uses of `toArray()`.

This is not a security concern as client's injecting fields in their own browser has no effect on what October sends the client in terms of model data and if you're talking about plugins extending the fields serverside, well it's much easier for them to just to `steal_hashed_passwords(User::al

[2019-01-17 19:37] LukeTowers commented on #4071
I don't think allowing fields with the same name is a good solution here. You'd be better off storing one of those fields in a temporary property that you mark as `purgeable` and merging the values between the fields in the model's `model.beforeSave` event.

[2019-01-17 19:37] LukeTowers commented on #4070
@pavelmgn what's your `fields.yaml` look like?

[2019-01-17 19:42] LukeTowers commented on #4072
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-01-17 19:42] #4072 closed

[2019-01-17 22:57] adsa95 commented on #4065
@algofran I can't reproduce your fix. Removing the first `/` does no difference in links for me. And you're only changing the fallback value that's used when `cms.storage.media.path` is not set in the config, which it is by default, so I find it odd that it should make a difference. What are your `app.url` and `cms.storage.media.path` config values? Removing the first `/` from the actual media pat

[2019-01-18 01:37] algofran commented on #4065
@adsa95 thanks for noticing my getPathUrl(), I forgot to delete after redoing the fix. I'm not using that on my test.

app.url  'url' => 'http://localhost/app-origin/'
cms.storage.media.path = '/storage/app/media'

If there is no changes use this getPathUrl()
`public function getPathUrl($path)
{
        $path = $this->validatePath($path);
        return $this->storagePath.$path;
}
`
PR #4055 also

[2019-01-18 02:40] multiwebinc opened #4073 "Unable to install new plugins if one of the installed version.yaml files has a syntax error"
- OctoberCMS Build: 446
- PHP Version: 7.2.10-0ubuntu0.18.04.1
- Database Engine: sqlite
- Related: octobercms/october#3956

### Description:
I was creating my own plugin and it ran perfectly fine on its own, however I had a syntax error in my `version.yaml` file. The file contents was (notice the missing `:`):

[code]

When I went to install a new (different) plugin from the backend, I was then g

[2019-01-18 03:14] multiwebinc commented on #4073
Also, here's the first few lines of the stack trace:

[code]

[2019-01-18 04:59] pavelmgn commented on #4070
@LukeTowers, this is 4 field. Troubles with last field.
[code]

[2019-01-18 16:44] LukeTowers commented on #4073
@multiwebinc thanks for the report and submitted improvement! Merged it into develop, should be out in the next build (447) sometime next week.

[2019-01-18 16:45] LukeTowers commented on #4065
Issues don't get closed until the fix is merged into master FYI

[2019-01-18 16:46] LukeTowers commented on #4065
@algofran @adsa95 can you confirm that https://github.com/octobercms/october/pull/4055 solves the issue?

[2019-01-18 16:46] LukeTowers commented on #4070
@pavelmgn does the dependsOn not cascade? I.e. can you just set one dependsOn per field, in order and have that cascade?

[2019-01-19 06:17] algofran commented on #4065
@LukeTowers, it works at my localhost on my root subfolder.
Maybe need to consider if adding more helper (URL) and removing HTTP / HTTPS detection.

[2019-01-19 09:12] tamer-hassan commented on #3746
@LukeTowers I would like to continue maintaining october-fly, and there's obviously funding now available (per domstarkey's comment above). What's keeping us from moving forward?

[2019-01-19 17:09] LukeTowers commented on #3746
@tamer-hassan trying to coordinate a meeting time with @domstarkey, my life's pretty hectic right now.

[2019-01-19 23:38] patcaulfield opened #4076 "Invalid security token after install and go to backend dashboard"
- OctoberCMS Build: ###
- PHP Version: PHP 7.0.3 / mariaDB 10.0
- Database Engine:
- Plugins Installed:

### Description:

I have a problem when I try install.
After install, Click to the backend link url
alert message 'Invalid security token'
localhost install id OK but I'm using web hosting server. tow database name. Is it problem?

### Steps To Reproduce:

[2019-01-20 15:47] ayumihamsaki commented on #4076
I get the same issue every time, just refresh the screen and will work second time. I did create a PR fix for it found here: https://github.com/octobercms/october/pull/3879 but mod's and admins never did anymore and merge it.

[2019-01-20 23:33] patcaulfield commented on #4076
Oh, I see. I'm glad you have a same problem and you solved. Good. but me it's too difficult to understand your way to solved way because I don't know well about php. Thank you!

[2019-01-21 09:44] VoroninWD commented on #4071
@LukeTowers thanks for your reply. I started to do as you say - one question appeared: how to specify the selected checkbox?

[code]

[2019-01-21 15:13] SeriousKen opened #4078 "Morph one and relation not working for backend list columns"
I have a model with a morph one relation but the fields are empty when the list is displayed. The columns definition is:

[code]

The Meta model holds common metadata for all page types and needs to be polymorphic.

[code]

Each page type has a morphOne back to the Meta model

[code]

The query that gets generated to populate the list is

[code]

The problem seems to stem from the ? not being fill

[2019-01-21 17:46] w20k commented on #4047
Fixed PR: #4080

[2019-01-21 22:52] ayumihamsaki commented on #4076
I've gone through all of the github repo and could only find closed issues relating to this issue, see here:

https://github.com/octobercms/october/issues/3640
https://github.com/octobercms/october/issues/3266

[2019-01-22 05:38] LukeTowers commented on #4071
@VoroninWD `default` (if the model doesn't exist yet) or set the value directly on the model for the field to pull from

[2019-01-22 10:09] SeriousKen opened #4081 "Graphical glitch with taglist after update"
In build 443 taglist looks like this

![v443](https://user-images.githubusercontent.com/29771532/51527970-8f6a9800-1e2d-11e9-8a93-a12f194a1817.jpg)

And after update to build 446 looks like this

![v446](https://user-images.githubusercontent.com/29771532/51528021-ad37fd00-1e2d-11e9-8402-de37018b3527.jpg)

[2019-01-22 10:23] SeriousKen commented on #4081
A quick look at the CSS that is applied it seems that there is an invalid property on the class `select2-hidden-accessible` with `clip: rect(0)` which was `clip: rect(0 0 0 0)` in build 443, I presume this hides the element that is now visible after the update.

[2019-01-22 10:35] w20k commented on #4081
It's already resolved in dev branch 😉

[2019-01-22 10:42] w20k commented on #4081
You have the latest dev and lib also? It was fixed in the october/lib.

[2019-01-22 10:43] SeriousKen commented on #4081
Sorry for the duplicate, I did a search to see if it had already been reported but this one didn't come up.

[2019-01-22 10:44] #4081 closed

[2019-01-22 13:25] adsa95 commented on #4065
Based on the comments here I would say this is a duplicate of #4039, but the reason #4055 didn't work initially was because he also did other changes to the code, so yes #4055 should solve this issue.

[2019-01-22 15:31] adrenth commented on #4057
@LukeTowers Don't think you should make an exception for this specific case. I think other users might run into the same issues.

We need to investigate why a cache write such as `$this->laravel['cache']->forever('illuminate:queue:restart', $this->currentTime());` does not update the value in the cache.

[2019-01-22 19:01] RempadDesign commented on #4039
I Can confirm that the #4055 solution of removing the

<code>
if (!starts_with($this->storagePath, ['//', 'http://', 'https://'])) {
$this->storagePath = Request::getBasePath() . $this->storagePath;
}
</code>

from modules/system/classes/MediaLibrary.php on line 76 - 78 fixed the issue.
This issue is also anoing if is present in the Rainlab Pages Plugin because you can't change the image in the de

[2019-01-22 20:51] LucasZdv commented on #4049
Hello, in the latest versions added to be able to install October.Drivers and RainLab.Builder. The error is if you want to install any of these plugins, because the October database has not yet been installed. If you omit the installation of these plugins, the installation runs correctly.

Here I send a sample of the behavior.

Installation by command-line:
---
[code]

[2019-01-22 21:15] LucasZdv commented on #3683
Hello, I would like you to consider adding a wallet in the marketplace of octobercms.com to be able to reinvest the money obtained from our plugins, in the purchase of other plugins or plugins advertising. This seems like a good idea to promote the internal market of october and not only withdraw the money, in this way they can also use statistics to manage more funds for the project.

[2019-01-23 07:19] LukeTowers commented on #4057
@adrenth never mind, I thought you were talking about the DB request cache. Are you able to investigate this further and see why this isn't taking effect?

[2019-01-23 08:30] BahodurSaidov commented on #4072
Why no updates? I am still stuck, seeing such messages is just security risk ! Here another login sample without any editing to user plugin:
![err](https://user-images.githubusercontent.com/13314276/51593061-fada6580-1f12-11e9-829c-e5b964c35a09.png)

[2019-01-23 09:21] BahodurSaidov commented on #4072
After searching so many blogs and forums, found the issue!
i run `npm outdated` and got `jquery                           1.9.1  1.12.4   3.3.1 ` then run npm update jquery.
Re-run `npm outdated` and got `jquery                          1.12.4  1.12.4   3.3.1`.

Now works as expected.

[2019-01-23 15:01] alvaro-canepa commented on #3683
Also we can offer newest, rewrited plugins by free for buyer of oldest versions.

[2019-01-23 15:04] LucasZdv commented on #3683
Buyers already receive updates

[2019-01-23 16:58] #4067 closed

[2019-01-23 17:02] Rike-cz opened #4082 "MediaLibrary returns only fully qualified URLs"
With one of latest upgrade came new feature based on link policy - MediaLibrary class returns [only fully qualified URLs](https://github.com/octobercms/october/blob/2dbc56aead2ef2355135349b83860457f48f6235/modules/system/classes/MediaLibrary.php#L544).
For my usecase is this solution unhandy, I prefer images with relative URLs, based on setting of `cms.storage.media.path`. I think this would be de

[2019-01-23 19:13] LukeTowers commented on #4072
@BahodurSaidov where do you recommend we include that information? @ayumihamsaki what do you think about listing our dependency versions in the readme?

[2019-01-23 20:15] LukeTowers commented on #4082
@Rike-cz @mjauvin Why do you want relative URLs over fully qualified URLs? Can you provide a pros vs cons list?

[2019-01-23 23:37] LukeTowers commented on #4072
@ayumihamsaki sure, that sounds reasonable. Could you do some research and see how other projects handle similar setups?

[2019-01-24 01:50] mjauvin commented on #4082
@LukeTowers I agree that if the image src URL is generated dynamically, that should be fine (although I frankly don't see the need to have a fully qualified URL if the resource is local to the website), but if a static version of the website is generated, the static website's image URLs will not be usable with a different base website URL.

[2019-01-24 08:06] Rike-cz commented on #4082
I agree with @mjauvin. My use case is what he wrote. I create new website locally on some-domain.localhost, make a tuning according to customer on some-domain.my-site.tld and finally move it on his domain some-domain.tld. I can do that very simply because of Laravel/OctoberCMS environments setting. But I need to fill website with content (StaticPages etc.) on my localhost, and forcing fully qualif

[2019-01-24 10:43] BahodurSaidov commented on #4072
@LukeTowers might be something like md file as mentioned, but as for me, i was searching for package.json and bower.json files, since nobody use a project without package managers nowadays...
You could separate only frontend dependencies with npm or bower... but as per documentation style, md files could go better...

[2019-01-24 12:47] alvaro-canepa commented on #3683
@LucasZdv sorry, I mean something like offer other plugins for free or with discount for buyers. Example, I have a plugin "X", and publish a new plugin "Y", all that buy "X" can download "Y" for free. "Y" can be a new version of "X" or an extended version.

[2019-01-24 15:38] ayumihamsaki commented on #4072
So I will do two things:

1. Research and see how to best write up the documentation for the dependencies version lists.
2. Research and see how to best to add a dependencies file for October's package manager.

I will open a new issue for this and go from there.

[2019-01-24 15:43] ghost opened #4084 "Manage October's Dependency Versions for Developers"
Following on from this github Issue: https://github.com/octobercms/october/issues/4072

So I will do two things:

1. Research and see how to best write up the documentation for the dependencies version lists.

2. Research and see how to best to add a dependencies file for October's package manager.

[2019-01-24 15:45] ayumihamsaki commented on #4084
Also link this Github (List of Updated Dependencies): https://github.com/octobercms/october/issues/3867

[2019-01-24 15:48] ayumihamsaki commented on #4084
Totally open to input and ideas from everyone on this.

[2019-01-24 15:49] ayumihamsaki commented on #4084
Totally open to input and ideas from everyone on this.

(Might be best to have a small Discussion first).

[2019-01-25 06:50] LukeTowers commented on #4084
Just to clarify, this would be for dependencies directly included in OctoberCMS, not those that are tracked by Composer already. We could probably have a blurb in there on our stance on LTS Laravel releases but otherwise just the JS side of things

[2019-01-25 07:54] GinoPane opened #4085 "File Upload Size Inconsistency"
- OctoberCMS Build: 446
- PHP Version: 7.0.18

Size of freshly loaded images is shown in megabytes:

![image](https://user-images.githubusercontent.com/3897579/51732466-4194a080-2076-11e9-81c6-2b1a9aefd36e.png)

But if you refresh the page size will be in kilobytes:

![image](https://user-images.githubusercontent.com/3897579/51732508-71dc3f00-2076-11e9-82e5-8e438d9dc603.png)

[2019-01-25 08:03] GinoPane opened #4086 "Image Upload Preview Limitation"
- OctoberCMS Build: 446
- PHP Version: 7.0.18

When you upload images via `fileupload` with `imageHeight` and `imageWidth` set you get a cropped image when you click on the uploaded image to preview it and set title/description:

![image](https://user-images.githubusercontent.com/3897579/51732896-a3a1d580-2077-11e9-9247-ea42f2a8391f.png)

And there's no way to see the full image.

There's no such

[2019-01-25 10:10] w20k commented on #4085
Filesystem.php: sizeToString is a bit different than dropzone.filesize :)

[code]

[code]

[2019-01-25 15:29] Patriot720 opened #4087 "Popover overflow bug"
- OctoberCMS Build: 446
- PHP Version: 7.2.10
- Database Engine MySQL:
- Plugins Installed: Rainlab.pages-v1.2.2.0

### Description:
Popup goes offscreen on small resolution devices or with a huge popup.
(with no ability to scroll in instances like fullscreen editing in rainlab.pages)
![image](https://user-images.githubusercontent.com/8457664/51754620-d080d780-20cd-11e9-8c1d-bbdb29ed46a1.png)
![im

[2019-01-25 16:21] LukeTowers commented on #4087
@ayumihamsaki @Teranode @w20k do one of you want to look into this?

[2019-01-25 18:23] ayumihamsaki commented on #4087
Little bit busy sorting out some PR's in October I let the other's fix it for now.

p.s. I get that issue in `rainlab/builder` plugin  under the `models` section when I make a list that hits the bottom of the screen. The pop-up there does the same error! So maybe it's a global error?

[2019-01-25 20:16] LukeTowers commented on #4057
@nathan-van-der-werf it is already there: https://github.com/octobercms/october/blob/master/config/cache.php#L95-L106

I think probably the best way to handle this issue is prevent that specific item from going through the request cache

[2019-01-25 22:01] SeriousKen opened #4089 "Local and Global events exhibit different behavior"
There's an issue here https://github.com/OFFLINE-GmbH/oc-clockwork-plugin/issues/1 that seems to be related to the way local and global events are handled in `\System\Traits\EventEmitter` and `\October\Rain\Events\Dispatcher`. With the following class I did some tests.

[code]

If I run the following code

[code]

I get

[code]

It seems that the null comes from the global event, but the processin

[2019-01-26 09:51] tobias-kuendig commented on #4048
I'm having a similar issue on a fresh installation of build 446. Chrome behaves pretty strange. When trying to edit a cms page I get the following error:

![image](https://user-images.githubusercontent.com/8600029/51785358-ef777c00-2156-11e9-8172-52a7444b2051.png)

After reloading the page with Ctrl + F5 everything works. On the next page load however the problem occurs again until I hit Ctrl + F5

[2019-01-26 11:31] w20k commented on #4048
@tobias-kuendig you could downgrade jquery to 2.x version and remove jquery-migrate.

The only thing that I've found if you change this line (october.sidepaneltab.js):
[code]
To
[code]
It starts working again... Not a best possible solution and 99% could break something else 😄

[2019-01-26 15:00] GinoPane commented on #4053
I've changed option name in description, because I used `allowEmpty` instead of `allowClear`.

[2019-01-26 16:14] w20k commented on #4053
It miss lead me a bit :)

[2019-01-26 21:15] w20k commented on #4086
@GinoPane is it only related to preview area?

[2019-01-26 21:18] w20k commented on #4054
@mariavilaro finally get to test everything once again!

[2019-01-27 02:45] tfprado commented on #3305
Not sure if I should open a new issue, but I am interested in being able to define allowed html attributes for the rich editor (Project needs to use Vue Js and allow content editors to edit pages using a WYSIWYG editor).

I had originally found [this closed issue #2576](https://github.com/octobercms/october/issues/2576) and played with the code along with the [Froala options page](https://www.froa

[2019-01-27 06:34] bennothommo commented on #4063
@LukeTowers I've continued to look into this a bit further. I might have set it up incorrectly, but I've found the datatable doesn't really save correctly even outside of a repeater because of the way it renames the field data to `<fieldName>TableData`, so unless you've set up a model to specifically handle the data with that name, you can't just simply the use the datatable as is.

I've noticed w

[2019-01-27 07:41] GinoPane commented on #4086
@w20k the screenshot shows the issue I wanted to point out. When you click on the image to edit it the modal opens a small thumbnail instead of the image itself.

[2019-01-27 17:48] LukeTowers commented on #3305
@tfprado it's on my TODO list to update Froala, so that might end up helping.

[2019-01-27 17:50] LukeTowers commented on #4063
@bennothommo isn't that the purpose of the getSaveValue() method, to interpret the data that gets sent to the server and return it in a useful form to the Form widget? https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/DataTable.php#L108

[2019-01-27 18:00] LukeTowers commented on #4036
@pierzo change your composer to use these:
[code]

[2019-01-27 18:01] LukeTowers commented on #4086
@GinoPane you can always click on the Attachment URL link in the bottom left to view the full file.

[2019-01-27 19:06] GinoPane commented on #4086
@LukeTowers yes, but it is not convenient and not expected, whilst you the user expects to see a full image instead of thumbnail when he clicks on it

[2019-01-28 18:37] shkhaksar opened #4091 "Trigger action doesn't work for text area and file-uploader"
- OctoberCMS Build: 446
- PHP Version: 7.2.7

I set up a form with 3 widgets including a "Radio List" selector, File-Uploader and Text Area. The radio list had 3 options with keys 1,2,3 respectively. Then I specify for File-Uploader and Text area to become disabled and hidden when the option 2 is selected (in other word when value[2]). But these behaviours didn't work for upload and preview pages

[2019-01-28 22:04] w20k commented on #4091
@shkhaksar could you post your yaml file with an example?

[2019-01-29 19:26] Cryden opened #4093 "Field with Relation mode don`t create relation with use in Nestedform."
- OctoberCMS Build: 446
- PHP Version: 7.2
- Database Engine: mySql

Fields with Relation mode don`t create relation with use it in Nestedform.

I use nestedform in my plugin. Also:
[code]

Model has relationship for Person field.

When Model form save:
Content <- Json {relations}
Not Relation Model <-|-> Person

I need:
Relation Model <-> Person

Sorry. My English very Poor. ((((
Read and underst

[2019-01-29 20:49] LukeTowers commented on #4093
@cryden relation fields in JSON content (i.e. nestedform, repeater, etc) are not supported.

[2019-01-29 21:02] AugmentBLU commented on #4037
Is it possible to disable the tab switching when swiping if tabs are now scrollable? Reason is that if we use something like responsive tables in a tab and attempt to scroll horizontally, the tab switches which makes things very difficult to edit.

[2019-01-30 06:15] Cryden commented on #4093
Thanks for answer

[2019-01-30 06:15] #4093 closed

[2019-01-30 07:02] joseph-d commented on #4037
Tabs were previously scrollable before the latest update stopped them from scrolling. At that time (< build 444) scrolling tables within scrollable tabs worked perfectly fine without making the tabs scroll too. The two things worked independently. Therefore, I think that the issue mentioned by @AugmentBLU must've been introduced by the recent fix, although it doesn't seem to be happening for me.

[2019-01-30 10:44] AugmentBLU commented on #4037
@joseph-d The swiping has been in place for a while I believe.

@w20k On my Samsung S9, if viewing a tab and the tab has any overflowing content or responsive elements that allow horizontal scrolling, the JavaScript swipe is being triggered and switching tabs so without great care, I cannot scroll horizontally.

It's due to `data-slidable` within the tabs. Removing this stops the issue but it's pa

[2019-01-30 10:48] joseph-d commented on #4037
Strangely enough, I have never experienced the tabs swiping in this way. Perhaps it isn't supported by my browser.

But, yes, I agree that there's really no point in having swipable tabs if the tabs themselves are scrollable. In my opinion, it's much more intuitive to scroll and select a tab than it is to have tabs (which might not even be visible) being swipable, especially when tables (which oft

[2019-01-30 10:51] AugmentBLU commented on #4037
That's exactly it @joseph-d - I have a table within a tab and has quite a few columns so using responsive tables allows for horizontal scrolling but with the swiping JS being active, as soon as you attempt to scroll the table, it switches tab.

[2019-01-30 10:59] w20k commented on #4037
I guess we have to disable it by default and add an option to enable it if needed.

[2019-01-30 16:04] w20k commented on #3978
Should be fixed. The pagination was removed :)
Could you double check @lautsevich?

[2019-01-30 20:36] iotch opened #4095 "Dropdown custom options method arguments wrong order"
According to docs https://octobercms.com/docs/backend/forms#field-dropdown

The custom options getter method of the dropdown formwidget should receive the same arguments as `getDropdownOptions` method, however the order of arguments does not match.

See https://github.com/octobercms/october/blob/master/modules/backend/widgets/Form.php#L1263
and https://github.com/octobercms/october/blob/master/mod

[2019-01-30 20:50] mjauvin commented on #4095
Indeed, the following patch would resolve this.

[code]

[2019-01-30 23:02] LukeTowers commented on #4037
I'm fine with disabling it by default and just leaving it like that for now until someone complains.

[2019-01-30 23:04] LukeTowers commented on #4095
Unfortunately I think this is just going to have to be resolved with a change in the documentation. Changing the code would break existing assumptions. I'll ask @daftspunk for input on this though.

[2019-01-31 00:37] daftspunk commented on #4095
The code we have today has emerged and perhaps diverged from the original spec based on real world requirements, creating some confusion. This is fine and @LukeTowers is correct in that the documentation should be updated to make the usage clearer.

I will do my best to describe these differences and why this isn't a case of misfortune. Originally, the method signatures looked something like this:

[2019-01-31 01:49] alekseyp commented on #4076
I was logged in for couple weeks and started getting those errors out of no where.
Only happens on dashboard, if I navigate to any other admin page it loads, but won't let me save anything.

[2019-01-31 07:48] w20k commented on #4037
@AugmentBLU could you verify will swiping be disabled if you set `data-slidable="false"`?
Will make a PR.

[2019-01-31 07:53] w20k commented on #3899
@beysong what CDNs are you looking for?

[2019-01-31 10:18] Farrow commented on #3203
I realise you're obviously very busy @daftspunk and that this update probably involves lots of tests and checks, but is there a chance you can look into this sometime soon?

Our users (running Chrome on mac) are having issues with adding links to images in the richeditor. When they insert an image and then try to add a link to it, like so:
![richeditor-image-insert-link](https://user-images.github

[2019-01-31 12:38] FlorinMarina opened #4099 "why so many thumbs files are created?"
Why so many thumbs files are created?

I mean I see this as a very big bug. Example when I deployed first time the blog was around 1.5 Gb ...
But now it has 20Gb and it freeze the server ...

So I have to clean up all thumb files every week.

... please help ...

[2019-01-31 13:07] w20k commented on #4099
Never had the same issue. Could you add more details about this bug?

Plugins that you use or how do you call getThumb()?

[2019-01-31 13:39] FlorinMarina commented on #4099
Raideer.Thumbnail

<a href="{{ post.url }}"><img alt="{{ post.title }}" srcset="{{ humbnail(cropHeight2X,cropWidth2X, {'mode': 'crop'}  }} 2x" src="{{ |thumbnail(cropHeight, cropWidth, {'mode': 'crop'} }}" /></a>

[2019-01-31 13:47] seanthepottingshed commented on #4063
@LukeTowers @bennothommo

https://www.bountysource.com/issues/68728539-datatable-not-saved-when-inside-repeater

[2019-01-31 13:50] FlorinMarina commented on #4099
this is my complete code for the image render ... just because I imported older images from a old wordpress blog

`{% if post.excerpt and not image %}
        <div class="listing-thumbnail">
            {% if postNo < 2 %}
                {% set cropHeight = "482" %}
                {% set cropWidth =  "351" %}
            {% else %}
                {% set cropHeight = "405" %}
                {%

[2019-01-31 15:28] o0alexela0o opened #4100 "Adding middlewere gives an error Class path.storage does not exist"
- OctoberCMS Build: ###
- PHP Version: 7.2.1
- Database Engine:  Mysql 5.6.38
- Plugins Installed: Alexei Bobkov pages 1.2.20, translate 1.4.5, user 1.4.6

### Description:
trying to add middlewere
even the example from docs gives me an error:
`PHP Fatal error: Uncaught ReflectionException: Class path.storage does not exist in /Applications/MAMP/htdocs/israplanet.com/vendor/laravel/framework/src/I

[2019-01-31 16:02] maartenmachiels commented on #3354
Any update on this? Some other plugins rely on the paths being a-zA-Z0-9...

[2019-01-31 16:30] LukeTowers commented on #3203
@Farrow would you be willing to pitch in a monetary contribution to help prioritize the issue?

[2019-01-31 16:31] LukeTowers commented on #3899
@beysong then implement them.

[2019-01-31 16:31] LukeTowers commented on #4037
Or if we just remove data-slidable?

[2019-01-31 16:33] w20k commented on #4037
@LukeTowers that's an option, but for me, it feels like this option would be lost in the wild 😄

[2019-01-31 16:34] ayumihamsaki opened #4101 "Add CMS Release Versions Information Directly into the Backend of the CMS"
Take the following screenshot:

![version](https://user-images.githubusercontent.com/17784082/52068371-7b810d80-2574-11e9-86d2-4b011a194841.png)

It would be useful to have a button there, where we can click on to get the CMS Version information and be able to see all the changes in each Version Release, e.g.

This information directly in the backend to view: https://github.com/octoberrain/meta/bl

[2019-01-31 16:35] LukeTowers commented on #4037
What do you mean?

[2019-01-31 16:38] LukeTowers commented on #4101
The changelog link should probably go to the official changelog: https://octobercms.com/changelog, although that isn't very useful.

[2019-01-31 16:38] w20k commented on #4037
@LukeTowers my bad forgot about `tab.md` that it's already documented. Thought it wasn't.

[2019-01-31 16:42] LukeTowers commented on #3354
@maartenmachiels nope. Feel free to propose a change to the regex if you wish, just keep in mind that it won't be accepted unless it solves the original problem (illegal characters allowing for XSS attacks or directory traversal) and works for all of October's user base.

[2019-01-31 16:45] LukeTowers commented on #4100
[code]
^ Why is that in your boot() method?

[2019-01-31 16:47] ayumihamsaki commented on #4101
Also it may be a good idea, to have extra info when a release is messed up and needs extra work to be able to update, for example this info I put in this github issue: https://github.com/octobercms/october/issues/3999

I think if that was also there it would save Users having to look around the Internet for a solution. Future proofs October and Safe Guards any forthcoming issues in Releases.

Mayb

[2019-01-31 16:49] LukeTowers commented on #4101
@ayumihamsaki ideally that doesn't happen, and when it does, the issue gets fixed and a new build pushed so people updating will just skip straight to the working build.

[2019-01-31 16:52] ayumihamsaki commented on #4101
@LukeTowers

Good point - No need Update Notes.

Should I create a PR for the Link to https://octobercms.com/changelog or wait for Daftspunk to review?

[2019-01-31 17:01] w20k commented on #4086
@GinoPane why not expected? If you crop an image, shouldn't you get a cropped version first? And then if you want to see a full version just click on `Attachment URL`.

[2019-01-31 17:48] GinoPane commented on #4086
@w20k because, first of all, it is not clear that you get a cropped version, it is written in config only and you have to remember that, secondly, attachment URL does not state as "Open full image" or something like that, it is perceived as a simple like to a file that you can use for whatever reason.

And actually, regarding crop itself, it would be good to have JS crop logic in that preview moda

[2019-01-31 18:11] w20k commented on #4086
@GinoPane if you state it this way, then it's more likely a feature request (UX improvement request), not a bug :)

[2019-01-31 18:53] GinoPane commented on #4086
To be honest, the title and description do not contain "bug" :) So yes, it more like improvement for this area.

[2019-01-31 19:40] LukeTowers commented on #4100
@o0alexela0o that's just an example of how you would prepend middleware. If you're literally using that code then it's not going to work because `Path\To\Custom\Middleware` doesn't exist in your project.

[2019-01-31 19:54] w20k commented on #4086
@GinoPane added `help wanted` ;)

[2019-02-01 08:43] w20k commented on #4099
@FlorinMarina have you tried removing code blocks, to see which block copies thumbs?

[2019-02-01 08:59] w20k commented on #4037
@AugmentBLU made a PR.
Could you re-test and comment on PR. Thanks! :)

[2019-02-01 10:20] Farrow commented on #3203
We asked our client but unfortunately they want to prioritise other things for now. I will update you if they decide to put any money up for this though.

If they do, what is the best way to go about it?

[2019-02-01 11:13] iamike commented on #3899
@LukeTowers How can I publish plugin on plugin market?
I made one plugin, and it's work perfect at my website. the speed is good. both international and inside China.

[2019-02-01 11:15] iamike commented on #3899
Can we make a video on how to publish plugin on community?

[2019-02-01 11:22] moxetiale opened #4104 "moment(...).tz is not a function in repeater"
datepicker in repeater not working
![image](https://user-images.githubusercontent.com/17551744/52120251-26590080-2635-11e9-8d4c-909c3ac19407.png)

[2019-02-01 14:40] w20k commented on #4104
@moxetiale add more information: build version, repeater yaml part for testing & etc.

[2019-02-01 15:17] tobias-kuendig commented on #4089
See https://github.com/octobercms/october/pull/4105

[2019-02-01 16:21] Rike-cz opened #4107 "Relation dropdown field with redundant padding in preview mode"
- OctoberCMS Build: 447

Displaying relation dropdown field is ok, tree list is needed:
![dd-relation-update](https://user-images.githubusercontent.com/4247582/52135320-d2a2e300-2645-11e9-9b91-1aaec7c660d8.png)

But in the case of 1:N relation preview is field filled with redundant left padding:
![dd-relation-preview](https://user-images.githubusercontent.com/4247582/52135016-2d880a80-2645-11e9-8a

[2019-02-01 18:03] ColetteContreras opened #4108 "nested form is not working properly"
- OctoberCMS Build: ###
v1.0.447

- PHP Version:
7.1.16

- Database Engine:
MySQL

- Plugins Installed:
rainlab.User

### Description:

I added a plugin to extend the rainlab.user plugin that which have a field named `payout`. the type of the field is `json`. i would like to use `nestedform` to add/update my payout. when i used nestedform, i got a overflow error:

[code]

### Steps To Reproduce:

[2019-02-01 18:20] moxetiale commented on #4104
yaml

![image](https://user-images.githubusercontent.com/17551744/52141303-b36c7b80-266e-11e9-885b-04a93b4ceb94.png)

version 443

when i click add new item in repeater then i got this error and datepicker not working. but if i insert json manualy in mysql table and try to click datepicker its working

![image](https://user-images.githubusercontent.com/17551744/52141550-879dc580-266f-11e9-9e36-ae7

[2019-02-01 18:20] moxetiale commented on #4104
![image](https://user-images.githubusercontent.com/17551744/52141582-a13f0d00-266f-11e9-8ad6-ddab2bbfe8b0.png)

[2019-02-01 18:45] LukeTowers commented on #4108
@ColetteContreras it's not a bug, you've created an infinite loop. The NestedForm widget itself contains a Form widget, which would then get extended by your code again causing an infinite loop. To solve that, just check for `$form->isNested` and return when it's true:
[code]

[2019-02-01 18:45] #4108 closed

[2019-02-01 18:52] LukeTowers commented on #3203
Just shoot me a message on Slack or email me at octobercms@luketowers.ca @Farrow

[2019-02-01 19:10] LukeTowers commented on #4107
@Rike-cz I would be fine with removing the left padding even from an update context, as long as it's left there for the dropdown options themselves.

[2019-02-01 19:33] Rike-cz commented on #4107
@LukeTowers I think Select2 plugin used for dropdown is not able to show tree any other way. I sent an information to @w20k, he will take a look on it too.

[2019-02-01 19:38] LukeTowers commented on #4107
I'm fine with how it displays the tree in the dropdown right now, I was just saying that the selected option doesn't have to have left padding after it's been chosen and the dropdown has been closed.

[2019-02-01 19:58] CptMeatball commented on #4104
I **can not** replicate this issue on develop.

[2019-02-03 12:54] iotch opened #4109 "Taglist widget does not support 'useKey' option"
Hello. It looks like `useKey` option was never implemented in Taglist form widget for relation mode.

Pluck without primary key: https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/TagList.php#L154, https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/TagList.php#L171

Where clause against names, not keys: https://github.com/octobercms/october/blo

[2019-02-03 14:54] AugmentBLU commented on #3304
If you use multiple lists on a single page, only the first filter popover buttons work. The default behavior works fine - clicking outwith the popover for all lists.

[code]

[2019-02-03 15:07] iotch commented on #4109
Yes I would, if I only could, I surely would :)

[2019-02-03 21:01] o0alexela0o commented on #4100
I know, i changed the path, otherwise i would get another error.
I updated my code for real one. please see above

[2019-02-03 21:08] w20k commented on #4100
Have you tried like this, just an option:
https://github.com/reed-josh/october-session-issue/blob/master/plugins/october/demo/Plugin.php#L21

[2019-02-04 01:32] LukeTowers commented on #3304
@AugmentBLU could you submit a PR to fix that? Or perhaps @Teranode are you able to look into that?

[2019-02-04 01:41] Teranode commented on #3304
im not sure where i would be in a position to use multiple lists on the same page, so i cant reproduce the issue.

[2019-02-04 01:50] AugmentBLU commented on #3304
It's to support an existing feature. If you have multiple lists, say in tabs the filter works but not the apply and clear buttons.

https://octobercms.com/docs/backend/lists#multiple-list-definitions

[2019-02-04 14:57] o0alexela0o commented on #4100
@w20k yes, same result

[2019-02-04 18:52] LukeTowers commented on #4063
Fix will be in the next build (448). @seanthepottingshed please release the bounty to @bennothommo

[2019-02-04 23:50] bennothommo commented on #4063
@LukeTowers I'm happy for the bounty to go to the October war chest :)

[2019-02-05 04:39] LukeTowers commented on #4063
@bennothommo thanks, I appreciate that and the code contributions!

[2019-02-05 04:40] #4063 closed

[2019-02-05 08:03] LukeTowers commented on #4063
Appreciate it @seanthepottingshed. If you don't mind, I'd prefer bounties were run straight through PayPal, bountysource takes a 10% fee for not really that much added value in my opinion.

[2019-02-05 09:57] gergo85 opened #4114 "Minor display issue on the deleted user's page"
- OctoberCMS Build: 447

### Description:
The bottom margin of the red alert box is not constant.

### Steps To Reproduce:
- Delete an administrator
- Go to administrator's page
- Navigate between tabs

### Screenshots:
![1](https://user-images.githubusercontent.com/2959112/52265536-9bc61900-2934-11e9-9f1a-1e11c8da97a2.JPG)

![2](https://user-images.githubusercontent.com/2959112/52265547-a2ed2700-

[2019-02-05 10:03] CptMeatball commented on #4082
So the problem you are describing is that the MediaLibrary generates FQ urls that are stored within files if used together with StaticPages, making them hardcoded instead of dynamic (relative) URLs that are/can be generated by the CMS on runtime.

[2019-02-05 10:18] Rike-cz commented on #4082
@CptMeatball Exactly!

[2019-02-05 13:38] Ladylain opened #4115 "Media List and Internet Explorer"
- OctoberCMS Build: 446
- PHP Version: 7.2
- Database Engine:  MYSQL
- Plugins Installed: Builder, StaticPages, Redirects

### Description:
I've noticed an issue on Internet Explorer (Edge) with the media library.
When i opened the media library, the `control-scrollpad` is empty and in the inspector, i can see that it has no height.

if i change the css of `div[data-control='media-manager'] .contr

[2019-02-05 18:47] tobias-kuendig opened #4117 "Color picker value cannot be changed manually when it is displayed inside a modal"
When the colorpicker form widget is placed inside a modal it is not possible to change the hex value manually:

![colorpicker](https://user-images.githubusercontent.com/8600029/52296317-575f6b00-297e-11e9-8cdc-835364b4aff3.gif)

1. Changing the value normally
2. Trying to change (or even select) the value inside the modal does not work

This fork of the test plugin shows the problem:
https://githu

[2019-02-05 23:46] drmzio commented on #4101
@LukeTowers Is it possible to output the official changelog as JSON? I'd like to implement this into my project but currently there's no way to pull the changelog data. Perhaps appending `.json` to `https://octobercms.com/changelog.json` would output to JSON format?

[2019-02-06 07:13] seanthepottingshed commented on #4063
@LukeTowers

Sorry I wasn't aware of the 10% tax - absolutely no problem going forwards, should I just totally bypass Bountysource in the future?

I'll DM you on Slack when I see you're about.

[2019-02-06 08:54] Josniii opened #4118 "Built-in loading stripe has performance issues."
- OctoberCMS Build: 443

### Description:
While performance profiling our website I came across a few performance issues with the stripe-loading-indicator built into October. The following is a profiling screenshot from my local dev environment on a very simple page with the loading stripe included, based on just a 5 second profiler run.
![image](https://user-images.githubusercontent.com/13622443/

[2019-02-06 09:33] w20k commented on #4118
@Josniii make a PR and we could test it out 👍

[2019-02-06 12:01] o0alexela0o commented on #4100
@bennothommo can you please post your middlewere also?
i did tried both - prepeand and push. same result.

[2019-02-06 14:56] o0alexela0o commented on #4100
The problem is Application. If i remove it, works ok.

[2019-02-06 14:58] rizhenkov opened #4119 "PHP 7.2 create_function() deprecation"
- OctoberCMS Build: 446
- PHP Version: 7.2.10

### Description:
When trying to define own function or filther for templating engine in Plugin.php after upgrading to PHP 7.2 I have error:

An exception has been thrown during the rendering of a template ("Function create_function() is deprecated").

### Steps To Reproduce:
1. Install PHP 7.2
2. Define own filter in Plugin.php
[code]
3. Try to use th

[2019-02-06 16:14] LukeTowers commented on #4101
@drmzio you'd have to speak to @daftspunk or @alekseybobkov about that, I don't have control over the website. There's also https://github.com/octoberrain/meta/tree/master/release-notes that you could access with the GitHub API if you so desired.

[2019-02-06 16:58] w20k commented on #4115
@Ladylain If I'd have IE could look at it in more details, should be a minor bug.

[2019-02-06 19:11] Ladylain commented on #4115
@w20k I’ve lots of work at the moment, I’ll take a look as soon as I have time for it! As you just said , it’s probably a minor bug

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-07 09:34] toxigennn opened #4120 "Do not save data from settings if use partial"
- OctoberCMS Build: 446
- PHP Version: 7.2
- Database Engine: MySQL 5.7
- Plugins Installed: -//-

### Description:
Created site settings, everything works and saves to the database, except for partial.
In the partial I call the fields as basic, for example: Settings[email]. There are no errors when saving, these fields are included in the post, but not saved.
I remember working in the settings be

[2019-02-07 11:43] Ladylain commented on #4120
@sh-easy Have you well configured your fields.yaml in your setting model ?!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-07 12:40] gavinworks commented on #3301
Just ran into this problem ourselves. Wanting to give clients the ability to customise the active theme but certainly not to delete/add/edit properties of other themes.

Removing the line in @SaifurRahmanMohsin original post is the only way we've found to get round this. Additionally, when the client is done customising theme options the client can "save" or "save and close"... the "save and close

[2019-02-07 13:32] tobias-kuendig opened #4122 "Contributing Guidelines in the README are no longer available"
The link to CONTRIBUTING.md in the readme returns a 404 error.

Where are current guidelines hosted?

[2019-02-07 14:17] w20k commented on #4122
Hi, @tobias-kuendig -> https://github.com/octobercms/october/blob/master/.github/CONTRIBUTING.md
The link changed a bit ;)

[2019-02-07 14:22] tobias-kuendig commented on #4122
Thanks! See PR #4123

[2019-02-07 15:26] Josniii commented on #4118
Done. :+1:

Something related: How are you actually supposed to generate these files? `php artisan october:util compile assets` does not include the LESS file here. I had to edit this line to compile it:
https://github.com/octobercms/october/blob/master/modules/system/ServiceProvider.php#L518

[2019-02-07 15:45] LukeTowers commented on #3301
@gavinworks you could aways submit a PR to address the issue, or make a contribution to have a core developer work on it.

[2019-02-07 17:23] kosmonowt opened #4125 "Pagination broken when on page n>1 and setting list limit to m>count(entries)"
Backend:
1. I have a set of items with ±100items.
2. Default list items setting in my list is 20 entries.
3. I navigate to page 5 (now showing item 81-100)
4. Now I set my list view to 120 items.
5. As there is only one page that should be shown now I have no paginator displayed anymore, but also the page does not show any entries. Also on reload there won't be any entries on the page anymore.

Su

[2019-02-07 22:46] vosco88 commented on #2351
@LukeTowers  Is this feature still wanted? I could try to have a look at it. Where could I find the code (either js or handlers) for the funcionality that is currently in october when you do 'Ctrl + double click' on the word 'component' in code editor the code is copied to the page/partial so I was thinking starting there.

[2019-02-07 22:59] petehalverson commented on #3811
Confirmed. I setup a test on OctoDock

[Playground > Pages > Complex Page](https://a598ecf516e3.octodock.com:8443/backend/october/test/pages/update/2)

Click the SEO tab and try to remove `OctoberCMS`

[2019-02-08 01:58] LukeTowers commented on #2351
I thought it had been?

[2019-02-08 01:58] LukeTowers commented on #3811
@w20k could you take a look? ^

[2019-02-08 01:59] LukeTowers commented on #4125
Your suggestion sounds good to me @kosmonowt, feel free to submit a PR to do that.

[2019-02-08 05:34] sh-easy commented on #4120
@Ladylain yes, Yes, everything works for me and is saved, except for those fields that are in the partial

[2019-02-08 06:50] alxy commented on #2351
@vosco88 I still think it would be a great addition, however, I wasn't able to do it (too much javascript rework involved). But it should be possible and I still think it is a nice to have feature.

[2019-02-08 10:12] w20k commented on #3811
@LukeTowers on it! Might be a select2 bug...hm :)

[2019-02-10 09:49] Rike-cz commented on #4125
Similar problem as #4008

[2019-02-10 09:52] #4008 closed

[2019-02-10 15:41] AugmentBLU commented on #4065
I don't know if this is a Translate issue or related to this but if you have a translatable mediefinder field and switch the locale, the path is introducing an extra `\` to the path so the image is not rendering on the backend. This is happening with 447 - no idea if it was there before as this is a new project.  On initial load the rendered thumb/path is fine, if you select any locales, even the

[2019-02-11 05:30] bennothommo commented on #4125
Hi @kosmonowt, this should be resolved as per this PR: https://github.com/octobercms/october/pull/4020
I don't believe the fix as been added to an October build yet, but should be very soon.

[2019-02-11 08:31] w20k commented on #4125
@Rike-cz could you test the fix from @bennothommo, and comment? Thanks ;)

[2019-02-11 08:51] lautsevich commented on #3978
Yep, all's OK now!

[2019-02-11 08:51] #3978 closed

[2019-02-11 09:59] Samuell1 commented on #4119
Hey, if you use it normal way do you get same error, because iam running on php 7.3 and without issues.

`'atop' => ['Path\To\Class\Helper', 'atop']`

[2019-02-11 10:57] w20k commented on #4107
@Rike-cz - I don't think it will be fixed. Because it's not padding but `nbsp;`, which makes it difficult to handle.
The only option I see here is to hock up `setValue` method or on change and remove those redundant values.

Here is an example:
[code]

[2019-02-11 10:58] w20k commented on #4117
Confirmed - bug. Added to my Todo list.

[2019-02-11 13:25] seanthepottingshed opened #4131 "Tab Icons are not supported in Theme Data Model"
- OctoberCMS Build: 447
- PHP Version: 7.1.17
- Database Engine: mysql
- Plugins Installed: n/a

### Description:
Extending Theme model with tab icon definitions don't display in page.

### Steps To Reproduce:

Either add the following to a plugin `Plugin.php`:

[code]

or use the following:

* https://github.com/octoberrain/test-plugin/pull/62

[2019-02-11 13:51] w20k commented on #4118
@Josniii feel like it's a bug, have to change it to `.less`. Good catch!

[2019-02-11 19:56] LukeTowers commented on #4002
Issues don't get closed until the fix is merged into master, at which point Github automatically closes them.

[2019-02-12 10:16] w20k commented on #4131
@seanthepottingshed seems like it wasn't support even from `.yaml` :)

[2019-02-12 10:36] seanthepottingshed commented on #4131
@w20k

Yeah, sorry I should've mentioned that as well, noticed after I submitted this issue.

[2019-02-12 19:51] vosco88 commented on #2351
As mentioned I could have a go at this. But do any of you @alxy @LukeTowers know where I could find the code that does the 'Ctrl+doubleclick' on component word and it forks the component partial into the code so I could get some inspiration. :)

[2019-02-13 06:48] bkrajendra commented on #3429
For me i got this error due to plugin vdomah/excel
removing this plugin fixed my issue.
Ive reported this issue to developer
[https://github.com/vdomah/octoexcel/issues/10](https://github.com/vdomah/octoexcel/issues/10)

[2019-02-13 09:56] Rike-cz commented on #4125
@bennothommo fix was released in version 447 definitely, thanks @bennothommo, it works great! I tried what @kosmonowt wrote with ver. 447 and his bug looks to be solved too. @bennothommo solution killed all bugs, where user was send out of the pagination interval.
Can @kosmonowt confirm this with version 447?

[2019-02-13 10:06] Rike-cz commented on #4107
That's pity. I took a look on [Select2 plugin](https://select2.org) and there is no default way to hook this process. `templateResult` and `templateSelection` looked as solution but they do not work as we need. Maybe some custom hook can help as you wrote...

Solving preview mode is easy, but @LukeTowers want to solve all modes.

[2019-02-13 10:10] Rike-cz commented on #4002
I found the fix in version 447, so I was confused, sorry.

[2019-02-13 11:16] Nai4rus opened #4133 "Sluggable trait and utf8mb4 character set"
- OctoberCMS Build: 446
- PHP Version: 7.2
- Database Engine: MySql

### Description:
After this https://github.com/octobercms/october/issues/2972 the fields in the database are 191 characters by default. The Sluggable maximum length for the slug is 240. Therefore, when the incoming line is longer than 191, the october throw exception SQLSTATE "too long for column 'slug'".

Also the substr functio

[2019-02-13 12:08] ImadUllah commented on #2466
Data-table on data-request-update
`data-request-update="'{{ __SELF__ }}::usertickets': '#usertickets'"`
it update the partial (having table) but it hides the Data-table, kindly look at the matter.

[2019-02-13 12:09] ImadUllah opened #4134 "Data-table on data-request-update"
Data-table on data-request-update
`data-request-update="'{{ __SELF__ }}::usertickets': '#usertickets'"`
@LukeTowers it update the partial (having table) but it hides the Data-table, kindly look at the matter.
rest all the work is ok... just datatable not working

[2019-02-13 15:07] w20k commented on #4134
@bennothommo could you look at this `bug`, if you have a minute 😄

[2019-02-13 19:51] LukeTowers commented on #4133
@Nai4rus please submit a PR with your proposed fixes.

[2019-02-14 01:47] bennothommo commented on #4134
@w20k will do :)

[2019-02-14 06:25] bennothommo commented on #4134
@ImadUllah Could you please provide some more info on how you using the `data-request` AJAX functionality? Is this a partial inside a form or in a preview?

[2019-02-14 06:39] ImadUllah commented on #4134
no it is a partial having a table(bootstrap data-table) when i create or delete or update a record and update that partial it doesn't shows data table...

[2019-02-14 06:40] ImadUllah commented on #4134
it update the records but hides the data-table

[2019-02-14 06:43] ImadUllah commented on #4134
when i hide the edit form partial and shows the updated records in table partial but it hide the bootstrap data-table

[2019-02-14 06:53] ImadUllah opened #4135 "data-table not showing"
- OctoberCMS Build: ###
- PHP Version:
- Database Engine:
- Plugins Installed:

### Description:

### Steps To Reproduce:

[2019-02-14 06:54] #4135 closed

[2019-02-14 07:11] bennothommo commented on #4134
@ImadUllah You will need to check what your component's `usertickets()` method is returning. That is what is inserted into the `#usertickets` element.

[2019-02-14 07:59] ImadUllah commented on #4134
it gives the records correctly but hides the data-table,
`$this->page['created']=Ticket::where('users_id',Auth::getUser()->id)->get();`
![records in data-table](https://user-images.githubusercontent.com/35524866/52771682-57cfc400-3058-11e9-8039-a4e5458c894c.PNG)
![with out data-table](https://user-images.githubusercontent.com/35524866/52771690-5bfbe180-3058-11e9-871a-edf9f366bee4.PNG)

[2019-02-14 08:17] Nai4rus commented on #4133
https://github.com/octobercms/library/pull/378

[2019-02-14 08:36] bennothommo commented on #4134
@ImadUllah I'm not sure which data table plugin you are using, but I would say that if you needed to call a jQuery function to enable the data-table feature on the original table, you would need to call that same function again to enable the feature on the new table as the content of the <div> would've changed after the AJAX request executed. You can use the [data-request-success](https://octoberc

[2019-02-14 08:54] w20k commented on #4134
@bennothommo Thanks a lot for your time ;) Changed!

@ImadUllah guess this issue could be closed?

[2019-02-14 09:01] #4134 closed

[2019-02-14 10:13] ghost opened #4136 "Can't use new webp image format in media manager"
- OctoberCMS Build: 446
- PHP Version: 7.0
- Database Engine: SQLite

### Description:
It seems that the media manager can't deal with image in webp format. When there images with that format, it display an error :

"Call to undefined function October\Rain\Database\Attach\imagecreatefromwebp()" on line 495 of /vendor/october/rain/src/Database/Attach/Resizer.php

### Steps To Reproduce:

Just put a

[2019-02-14 10:15] w20k commented on #4136
@PubliAlex webp is not currently supported in OCMS, if I'm not mistaken.

[2019-02-14 10:39] Samuell1 commented on #4133
Hey, i think it will be better if we use laravel helper function called str_limit. What you think?

[2019-02-14 10:44] PubliAlex commented on #4136
Ok thank you for the answer.

Just a fact :
- Photo with needed transparency in PNG format : 458ko
- Same photo in webp format : 58ko, and transparency is still there (compared to jpeg)

It would be a big plus for october cms to natively support that next gen format.

[2019-02-14 11:31] w20k commented on #4136
@PubliAlex you could provide a PR to support it or submit a bounty for someone to deal with it 😉

[2019-02-14 11:36] Nai4rus opened #4137 "taglist style bug"
- OctoberCMS Build: 446

### Description:
![image](https://user-images.githubusercontent.com/33084287/52783141-69ba6280-306a-11e9-9bab-ea67fcf312cd.png)

Seems to be the source of the problem here modules/system/assets/ui/less/form.base.less:73

[2019-02-14 12:45] Nai4rus commented on #4133
I think this is not necessary

[2019-02-14 15:32] w20k commented on #4137
@Nai4rus if you're talking about the `border` - it should be fixed in dev a long time ago.

Related issue: https://github.com/octobercms/october/issues/4040

[2019-02-14 15:36] PubliAlex commented on #4136
I will try to create a PR for this, but not at the moment, it's vacation time really soon :)

[2019-02-14 16:40] Nai4rus commented on #4137
Strange, I discovered this on a new project. Tomorrow I will try to reproduce it again.

[2019-02-15 06:38] Nai4rus commented on #4137
I get this problem after the October update in the backend, both after receiving the new updates and after the forced update. After composer update the problem disappears.

[2019-02-15 07:30] amjadniazi48 commented on #3913
i think octobercms new bulid release should be announced on the website, like build 443 and then buid 446.

[2019-02-15 09:15] GinoPane commented on #2653
Why not to add this method into core like "placeholder()", "partial()" methods?

[2019-02-15 10:58] w20k commented on #2653
@GinoPane it sounds like a good doc addition more to me, then adding it to the core.

[2019-02-15 12:45] Nai4rus opened #4141 "fileupload popup bug"
- OctoberCMS Build: 446
- Chromium  72.0.3626.96

### Description:
What i have (Chromium 72.0.3626.96)
![image](https://user-images.githubusercontent.com/33084287/52856541-216c7480-313e-11e9-8bae-b6e93c01cebf.png)
What expected (firefox 65.0)
![image](https://user-images.githubusercontent.com/33084287/52856632-62fd1f80-313e-11e9-8795-382500d83021.png)

### Steps To Reproduce:
try to load a file la

[2019-02-15 12:49] ayumihamsaki commented on #3913
@amjadniazi48 They already announce the versions on the website, I have an open issue adding the version numbers directly into the cms as well, see here: https://github.com/octobercms/october/issues/4101

[2019-02-15 16:45] GinoPane commented on #2653
@w20k but wouldn't it be more consistent to have similar methods for all content types? I see no reason why "content" method was missed.

[2019-02-15 19:18] LukeTowers commented on #3913
@amjadniazi48 change log is available here: https://github.com/octoberrain/meta/tree/master/release-notes

[2019-02-15 19:24] LukeTowers commented on #4137
@Nai4rus so can this issue be closed?

[2019-02-15 20:30] alekseyp commented on #2474
@LukeTowers check my comment plz -
https://github.com/octobercms/october/commit/13596c8629e522e20aa21635c802405f2d1dfa98#r32340372

[2019-02-16 09:23] Caraz1 opened #4143 "|media filter incorrect path generated when installation is in sub directory"
- OctoberCMS Build: 446
- PHP Version: 7.0
- Database Engine: mysql
- Plugins Installed: October.Demo-v1.0.1

### Description:
There is an issue with the |media filter when installation is in a sub directory. It uses the sub directory name twice.

example: http://localhost/compunix/compunix/storage/app/media/Compunix-gradient.png

The compunix sub directory is used twice

### Steps To Reproduce:
U

[2019-02-16 10:54] jalu14 commented on #4049
+1 No matter the password, the user or the database url being specified, it will always use localhost root and no password.

Been trying to install on web and by command line, same result.

[2019-02-16 12:55] Nai4rus commented on #4137
@LukeTowers I think not, the problem was solved a month ago, but I still have it after these steps:

1) cloning from git https://github.com/octobercms/october.git
2) composer update
3) configuring database, install test plugin

4) update october in admin panel

5) composer update

I consider step 5 a temporary solution, not everyone knows or can perform this step. The system was supposed to get a

[2019-02-16 14:37] w20k commented on #4143
Already solved in the latest edge build.
Duplicate of: https://github.com/octobercms/october/issues/4065

[2019-02-16 14:49] w20k commented on #4137
@Nai4rus do you have edge updates enabled?

[2019-02-16 14:50] w20k commented on #4049
Have you tested connection via Tinker?

[2019-02-16 15:11] Nai4rus commented on #4137
@w20k no

[2019-02-16 20:24] MWalid opened #4144 "Hidden Fields Not Saved"
- OctoberCMS Build: 446
- PHP Version: 7.2
- Database Engine: mysql
- Plugins Installed: Builder

### Description:
Hidden fields are not saved, https://octobercms.com/forum/post/usage-of-hidden-form-field

### Steps To Reproduce:
- Add `hidden: true` to any form field in yaml configuration file.
- Then add:
[code]
- Add `filterFields` method to model class:
[code]
- `my_field` value will never **s

[2019-02-16 20:50] MWalid commented on #4144
So I found the bottom of it, `hidden` and `disabled` fields are submitted, but not saved, they are ignored, even if the configuration changed in `filterFields` method.

[**modules/backend/widgets/Form.php:1142**](https://github.com/octobercms/october/blob/master/modules/backend/widgets/Form.php#L1142)

    if ($field->disabled || $field->hidden) {
        continue;
    }

[2019-02-16 21:01] MWalid commented on #4144
Model filters should be applied on top of `getSaveData`.

    public function getSaveData()
    {
        $this->defineFormFields();
        $this->applyFiltersFromModel(); // <----------------------

        $result = [];

        /*
         * Source data
         */
        $data = $this->arrayName ? post($this->arrayName) : post();
        if (!$data) {
            $data = [];
        }

This

[2019-02-17 02:30] Caraz1 commented on #4143
upgraded to build 447. Issue resolved.
Many thanks.

[2019-02-17 02:30] #4143 closed

[2019-02-17 13:00] DieterHolvoet commented on #3846
Any update on this issue? Is the only solution to update laravel/framework, or is there any OctoberCMS specific development to be done?

[2019-02-17 13:05] DieterHolvoet commented on #3846
Looks like they decided to backport this feature to 5.5, I can confirm this is working correctly using v5.5.45 of laravel/framework.

[2019-02-17 23:52] LukeTowers commented on #3846
@DieterHolvoet could you submit a PR to the config to document how to enable EU region? Leave it set to the default north america region though.

[2019-02-18 09:07] w20k commented on #3846
@LukeTowers endpoint was added as a third parameter, so you could change URL.

![screenshot 2019-02-18 at 11 07 18](https://user-images.githubusercontent.com/1053320/52939643-5f9bab00-336d-11e9-961d-8ec38d3595c1.png)

[2019-02-18 10:25] adrenth commented on #4048
Hi @w20k, any updates on this issue?

Have a lot of IE users complaining over here ;-)

[2019-02-18 10:29] w20k commented on #4048
@adrenth don't think it's related to IE, might be a different issue :)

Have you tried my monkey patch (^see my comments)?

[2019-02-18 10:39] adrenth commented on #4048
Thanks for your quick response. Figured the source of this issue might be related to the recent updated libraries.

Currently downloading a Windows 7 image with IE 11 pre-installed. This is a setup from one of our clients which reported the issue to us.

Will try the monkey fix. And let you know my findings.

[2019-02-18 10:45] w20k commented on #4048
@adrenth thanks a lot for a quick response, as well :)
If there would be active testers (don't use CMS a lot, lately). I might try out few fixes, but didn't have time to continue, yet.

This fix might work... but could cause other issues.
The only thing that I've found if you change this line (october.sidepaneltab.js):
[code]
To
[code]

[2019-02-18 11:46] MWalid commented on #2561
Any hint how to configure `morphMany` relation?

Still can't use it.

[2019-02-18 13:40] PowerChaos opened #4146 "installer bug (mysql)"
well the logs just says it all

or in short , it seems it does not store the correct informtion in the database.php file
even if i manual adjust it then i get the error that the tables are not found

i tried the latest version

Greets From PowerChaos
[code]

[2019-02-18 13:55] PowerChaos commented on #4146
update::

after using the artisian comand to install it then the files and db is succesfully created
but then it trows out a warning that the log files could not be found

after manual creating that file , does it seems it works

or it is my server settings that are not playing nice with this script , or the script does not play nice in general ?

Greets from PowerChaos

[2019-02-18 14:05] w20k commented on #4146
@PowerChaos pretty sure it doesn't play well with your server.

This error normally means that either the password you are using doesn't match, or the user doesn't exist.
[code]

Side note: From my exp. composer does a better job.

[2019-02-18 14:26] PowerChaos commented on #4146
@w20k
it seems indeed that my server is doing this ( atleast for octobercms , other installers are just fine )
after i manual assign the public_html folder to 777 permission i was able to install plugins

the error you see above means that the config file does not take over my settings i filled to the installer
so the installer does not check if the db connection is succesfull or can even write th

[2019-02-18 14:36] w20k commented on #4146
@PowerChaos I think it's not well documented (PRs to docs are welcomed, https://octobercms.com/docs/setup/installation#wizard-installation), but you should be fine with `Step 5` in this tutorial.

`Step 5: Download OctoberCMS Latest Release`
Particularly, this one:
[code]
https://websiteforstudents.com/install-octobercms-on-ubuntu-16-04-lts-with-apache2-mariadb-and-php-7-1-support/

[2019-02-18 15:18] adrenth commented on #4048
@w20k I can confirm it works, I changed the `october.sidepaneltab.js` and it worked. So this is definately a `monkey fix` ;-)

However:

* `$(window).on('load')` works on IE Edge
* `$(window).on('load')` **does not work** on IE 11 (Windows 7)

* `$(document).ready()` do work on IE Edge and IE 11

[2019-02-18 15:28] w20k commented on #4048
@adrenth You could try clearing the cache and refreshing the page with "ctrl | cmd + r".
And don't use an option in dev tools: `Disable cache...`. Something related to the cache.

[2019-02-18 16:00] adrenth commented on #4048
At first I couldn't get it to work on IE11 (Win 7), other browsers seem to work fine.

1) I tried clearing the cache using the Developer Tools in IE11, did not see any 304 requests, only 200.
2) Reloaded the page and it didn't work.
3) Requested another page in the backend and then navigated back to `/backend/rainlab/pages/` and then it worked.

[2019-02-18 18:30] LukeTowers commented on #4048
What's the recommend course of action here?

[2019-02-18 18:32] LukeTowers commented on #3846
Great, just want an example added to the config file so people don't get confused. Basically exactly like https://github.com/laravel/laravel/blob/master/config/services.php#L20 but perhaps with a link to the endpoint docs. Also, that key will need to be added to the `october:env` command.

[2019-02-18 18:33] w20k commented on #3846
@LukeTowers sure thing, will do it tomorrow, or today ;)

[2019-02-18 18:36] LukeTowers commented on #2561
@MWalid please don't hijack unrelated issues for questions: https://octobercms.com/docs/database/relations#one-to-many-polymorphic-relations

[2019-02-18 18:56] PowerChaos commented on #4146
thank you @w20k
but i run centos and cpanel 🔋
easyapache 4 ( apache 2.4 ) with php-fpm and php 7.2 - 7.1 - 5.6
and some more stuff configured that could provide a conflict at some cases

but i do wonder why this specific script create everything as root when others does it as the user like it need to be

some settings prevent execution by differend owners , and as all users run as there own accoun

[2019-02-18 19:34] w20k commented on #4048
@LukeTowers will look at it once again, at the end of the week. And comment, what would be the best option to fix it.

[2019-02-19 08:50] w20k commented on #4146
@PowerChaos hm...I might give it a try on my server. To test it out.
Will let you know if I'd find something useful.

[2019-02-19 11:19] w20k commented on #3846
What do you think @LukeTowers if `october:env` will generate additional env values, based on the `MAIL_DRIVER` selected?
Example:
If `MAIL_DRIVER` == mailgun, then add 'MAILGUN_DOMAIN', 'MAILGUN_SECRET', 'MAILGUN_ENDPOINT'

[2019-02-19 15:28] LukeTowers commented on #3846
@w20k I think you can just always include those regardless of driver selected.

[2019-02-19 15:47] MWalid commented on #3416
Any updates on this?

[2019-02-20 06:59] zamilnugraha commented on #3371
@LukeTowers I have problem like @Shara96 and i via composer but does't work. can you help to solved this problem.??

[2019-02-20 09:26] w20k commented on #3371
@zamilnugraha post you error log & stack trace?

[2019-02-20 09:57] seanthepottingshed commented on #3371
@w20k

This has randomly occurred to me in the past. Haven't been able to replicate since, so curious as to why this may happen.

[2019-02-20 15:03] iboved opened #4149 "Aliases and Service Providers are not registered by Package Discovery when installing a Laravel package"
- OctoberCMS Build: 446
- PHP Version: 7.1.9

### Description:
I am trying to use this Laravel [package](https://github.com/Crinsane/LaravelShoppingcart) in my plugin. OctoberCMS [documentation](https://octobercms.com/docs/plugin/composer#laravel-aliases-service-providers) says that Aliases and Service Providers will be registered automatically if Laravel package use [Package Discovery](https://la

[2019-02-21 15:26] LukeTowers commented on #4149
@iboved are you running `composer update` in the plugin directory or the root project directory?

[2019-02-21 15:43] iboved commented on #4149
@LukeTowers I run `composer update` in the root project directory.

[2019-02-21 16:02] Ladylain commented on #4120
@sh-easy I will check on my side this evening and try to find something

[2019-02-21 18:09] LukeTowers commented on #4149
@iboved does adding the `package:discover` script to the composer.json solve the problem?

[2019-02-21 20:27] filipac opened #4153 "When having two lists with filters, the second one does not work"
- OctoberCMS Build: b39eb03336faf4c30ddb059e1973eb313dbd68f6 (dev-develop)
- PHP Version: 7.2
- Database Engine: mysql
- Plugins Installed: None

### Description:
If you have two lists on the same page (say in two different tabs or one in modal and one in page) and both have filters, the second one has errors when applying the filters:
[code]

### Steps To Reproduce:
1. Install a fresh october ins

[2019-02-21 20:56] filipac commented on #4149
@iboved you have to add the commands to your composer.json file:
[code]

[2019-02-21 21:15] filipac opened #4155 "Console install: choosing to install October.Drivers and/or RainLab.Builder fails"
- OctoberCMS Build: b39eb03336faf4c30ddb059e1973eb313dbd68f6 (dev-develop)
- PHP Version: 7.2
- Database Engine: mysql
- Plugins Installed: None

### Description:
When installing via CLI command, if you choose yes to `Configure advanced options? (yes/no)` there are two questions that allows you to install Rainlab.Builder and October.Drivers in the process. This was made by me (https://github.com/o

[2019-02-22 08:09] iboved commented on #4149
@filipac thanks)
@LukeTowers if I add `php artisan package:discover` to composer.json in root project directory (as @filipac showed), it will work. But there is no information in the documentation about this step. The documentation says that it will work out of the box.

[2019-02-22 08:24] w20k commented on #4149
@iboved you could provide a PR to docs to fix that 😉

[2019-02-22 08:43] iboved commented on #4149
It is not entirely clear, the documentation should be edited or, possibly, composer.json in OctoberCMS root. Maybe composer.json should have `php artisan package:discover` out of the box?

[2019-02-22 08:57] w20k commented on #4149
@iboved I'd leave it the way it is for now (composer.json in the root), but changed docs with provided by @filipac solution and minor corrections.

[2019-02-22 12:52] Rike-cz opened #4158 "Repeater cannot init itself on unsaved Static Page"
- OctoberCMS Build: 447
- PHP Version: 7.2

### Description:
When new Static Page is **not created**, Layout Repeater throws exception: `"A widget with class name 'formPaged41d8cd98f00b204e9800998ecf8427e5c6fee4869409ViewBagSlider' has not been bound to the controller" on line 554 of C:\......\fest\modules\backend\classes\Controller.php`.

After creating page this issue disappears.

### Steps To R

[2019-02-22 15:31] LukeTowers commented on #4149
@iboved @w20k I'm fine with a PR to the default composer.json to add the support.

[2019-02-22 16:07] LukeTowers commented on #4120
@toxigennn please post your fields.yaml. I believe your field name has to be the same as the name you're using in the partial for it to save.

[2019-02-22 16:10] LukeTowers commented on #4158
@Rike-cz this is a RainLab.Pages issue, not an October issue. Also, I think there's a related issue where it doesn't initialize when a page has had its layout switched but it hasn't been saved / reloaded.

[2019-02-22 16:10] #4158 closed

[2019-02-22 16:11] toxigennn commented on #4120
@LukeTowers They do not match, because in the partial I have many different fields (a kind of layout in this partial)

[2019-02-22 16:16] LukeTowers commented on #4120
Then I don't think it will work. Look at the Form widget's getSaveData method to figure out how this works internally, but I don't think partials were ever meant to be "custom field types", more so just raw HTML content. You should probably look into building a FormWidget for your purposes.

[2019-02-23 09:28] filipac commented on #4155
Closing since it's fixed now :)! Thank you.

[2019-02-23 10:13] Ladylain commented on #4120
@toxigennn @LukeTowers i've jsut tried it on my side and all works perfectly with some fix.

content of my partial is :
[code]
and my field is :
[code]
So , you need to get the good field name in your partial, and if you want to add more than one field into it, you can change your inputs name like this `Settings[content]['field-1]` and you can retrieve them by using  `$model->content->field-1` for

[2019-02-23 23:23] LukeTowers commented on #4155
We keep issues open until the fix is merged into master @filipac

[2019-02-24 06:29] filipac commented on #4155
got it 👍

[2019-02-24 17:01] cruachan opened #4161 "Translate plugin error on php 7.2"
- OctoberCMS Build: 446
- PHP Version: 7.2.15
- Database Engine: MySQL
- Plugins Installed: Translate

### Description:
Invalid argument supplied for foreach()

    public function getModelAttributes()
    {
        $attributes = [];

        foreach ($this->model->translatable as $attr) {
            $attributes[$attr] = $this->model[$attr];
        }

        return $attributes;
    }

PHP throw

[2019-02-24 20:35] LukeTowers commented on #4161
This belongs in the translate plugin's repo, not the main one.

[2019-02-24 20:35] #4161 closed

[2019-02-25 08:42] w20k commented on #4149
@LukeTowers @iboved - Done ;)

[2019-02-25 15:20] LukeTowers commented on #4149
@w20k did you test it?

[2019-02-25 15:30] w20k commented on #4149
@LukeTowers nope, it's not tested yet. Only made PR, while had a spare minute.

[2019-02-26 13:16] docu30 opened #4164 "Error "Something went wrong" when insert an image in rich text editor"
Hello. I'm using October CMS and I created a plugin with articles and categories. I used the rich text editor field to describe the article but when I want to add a picture I get the message "something went wrong" and the path to the image is wrong.
Example:
http://localhost:8888/oct_text/oct_text/storage/app/media/uploaded-files/image.png

The error is in the path of the image file. As can be see

[2019-02-26 13:34] w20k commented on #4164
Could you test those PR if they fix your issue: https://github.com/octobercms/october/pull/4055 & https://github.com/octobercms/october/pull/4055

[2019-02-26 14:18] ayumihamsaki commented on #3608
@w20k If it's ok with you, can I request you add this issue to your 'To Do List' please. :1st_place_medal:

[2019-02-26 21:44] docu30 commented on #4164
It's working. Thank you !

[2019-02-27 01:22] #4164 closed

[2019-02-27 12:24] tobias-kuendig opened #4165 "Add two-factor authentication to octobercms.com accounts"
As of today we have 12 plugins published on the octobercms.com marketplace that are used by around 1500 projects.

Currently, the only security measure that prevents a bad actor from releasing a malicous update to those 1500 projects is our account password.

I feel like this is a huge security risk that is waiting to be exploited. The ability to set up two-factor auth on octobercms.com accounts w

[2019-02-27 23:34] briddle opened #4167 "Bug in string_agg() for PostgreSQL"
- OctoberCMS Build: 446
- PHP Version: 7.3.2
- Database Engine: PostgreSQL
- Plugins Installed: Briddle.Crm

### Description:
When joining on multiple fields for many to many relations it adds ", ', '" to the function. This gives an error.

Please see:
https://octobercms.com/forum/post/supporting-db-postgresql?page=1#post-26378

### Steps To Reproduce:
Just install on PostgreSQL and open the CRM :

[2019-02-27 23:43] drmzio opened #4168 "Bug: Popup loading indicator not hidden after ajax done"
![](https://cl.ly/ed926cc58cf8/Image%2525202019-02-27%252520at%2525204.36.18%252520PM.png)

- OctoberCMS Build: 447

### Description:
The loading indicator still shows in the background after completed ajax requests. Found out about this bug while creating my own popups. Haven't been able to find a fix to submit PR, maybe someone can help.

Edit: Found a fix for it #4169

### Steps To Reproduce:
J

[2019-02-28 08:19] w20k commented on #4167
Hi @briddle, you could provide a PR to fix that 👍 I'll review it and test!

[2019-02-28 08:41] w20k commented on #4168
@drmzio never seen this bug before :)

[2019-02-28 09:18] bennothommo commented on #4114
It appears to be fine on my browser (Chrome 72). @gergo85 would you be able to let us know which browser you are using?

[2019-02-28 10:08] gergo85 commented on #4114
@bennothommo Indeed, it works in Chrome. This is a Firefox issue.

[2019-02-28 10:24] adrenth commented on #4048
Hi @w20k, hope you are doing well. Any progress on this issue?

[2019-02-28 13:16] bennothommo commented on #4114
Thanks @gergo85. PR here: #4171

[2019-02-28 15:23] w20k commented on #4048
Hi @adrenth, sadly - nope. But hopefully will have a minute to deal with that on weekends.

[2019-03-01 01:02] Corymillz opened #4174 "can't display children of parent on a page connected by slug"
I have subcategory page connected to my category page by slug so when clicked, the children belonging to the clicked category shows up.

it doesn't just work regardless of what i have tried

This is my php block

`use Corymillz\Adverts\Models\Cat;

function onStart(){

$this['subs'] = Cat::whereHas('children', function ($query) {
                  $query->where('slug','=',$this->param('slug'));

[2019-03-01 01:20] LukeTowers commented on #4174
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-03-01 01:20] #4174 closed

[2019-03-01 07:20] seanthepottingshed opened #4175 "CMS Page Repeater Validation Failure"
- OctoberCMS Build: 446
- PHP Version: 7.1.17
- Database Engine: mysql
- Plugins Installed: https://github.com/octoberrain/test-plugin/pull/63

### Description:
When adding _repeater_ field to CMS page `/` required validation doesn't work

### Steps To Reproduce:

- Fresh install of October
- Install: https://github.com/octoberrain/test-plugin/pull/63
- Navigate to `/backend/cms`
- Click on _Demon

[2019-03-01 07:22] seanthepottingshed commented on #3769
@daftspunk @LukeTowers

Massive apologies for the delay in getting back to you about this. The repeater now renders as expected and data can be saved, however validation isn't possible. I've raised another related issue here:

* https://github.com/octobercms/october/issues/4175

[2019-03-01 08:02] w20k commented on #3769
@seanthepottingshed could you close this issue then? Or it's better that I add `completed` tag?

[2019-03-01 08:05] w20k commented on #4175
@seanthepottingshed awesome thanks for the test-plugin example!

[2019-03-01 08:08] #3769 closed

[2019-03-01 08:24] seanthepottingshed commented on #4175
@w20k

Further to our slack conversation, neither of the below approaches work:

[code]

[code]

[2019-03-01 08:27] w20k commented on #4114
@gergo85 issues will be closed automatically after merge to master 😄

[2019-03-01 08:29] gergo85 commented on #4114
@w20k Alright :)

[2019-03-01 09:37] w20k commented on #4165
Hi @tobias-kuendig. @daftspunk will look at in it!

[2019-03-01 10:22] Eoler commented on #4165
Maybe something like this plugin (if anyone feels like _doogfooding_ it):
https://octobercms.com/plugin/vdlp-twofactorauthentication

[2019-03-01 15:51] mjauvin commented on #4048
@w20k tried your monkey patch and it's not working for me on Qutebrowser or Qupzilla.

In all cases (with or without your patch), forcing the page reload (ctrl-shift-r) allows the pages to be opened. When I move to a different backend menu and comeback, it breaks again until I force the page refresh...

[2019-03-01 15:54] w20k commented on #4048
@mjauvin have you tried both patches?

First, is to replace jQuery back to 2.x and remove content from `jquery-migrate.min.js `.
Second, is to use `$(document).ready..`.

[2019-03-01 16:08] mjauvin commented on #4048
@w20k I confirm, reverting back to jquery 2.2.4 and removing jquery-migrate does solve the problem.

[2019-03-01 16:21] w20k commented on #4048
@ayumihamsaki what do you think about this issue? Any ideas, why 3.x version does the loading of window differently (or maybe caches, or faster 😄)

[2019-03-01 17:52] ayumihamsaki commented on #4048
@w20k just had a quick read through. This is the first I heard about this issue (I don't use Rainlab Pages Plugin - I created my own plugins). Ah you said the words **caching** and that **october.sidepaneltab.js** both I complained about months ago. Just don't say about drag n drop tabs!

I find some things strange in the above comments though.

1. Morsusy2k was trying to use two different version

[2019-03-01 22:38] LukeTowers commented on #4175
@seanthepottingshed does updating the rules in beforeValidate ever work? How about doing it in beforeSave instead?

[2019-03-02 01:02] #4037 closed

[2019-03-02 01:02] #4046 closed

[2019-03-02 01:02] #4039 closed

[2019-03-02 01:02] #4047 closed

[2019-03-02 01:02] #4053 closed

[2019-03-02 01:02] #4065 closed

[2019-03-02 01:03] #4044 closed

[2019-03-02 01:03] #4073 closed

[2019-03-02 09:40] client-auto-commit commented on #4175
@LukeTowers

Good shout, that didn’t even occur to me. I’ll give that a go this evening and let you you know.

[2019-03-02 09:42] seanthepottingshed commented on #4175
@LukeTowers

Good shout, that didn’t even occur to me. I’ll give that a go this evening and let you you know.

[2019-03-02 14:18] seanthepottingshed commented on #4175
@LukeTowers

Tried the following and neither versions work:

[code]

[code]

[2019-03-02 14:23] seanthepottingshed commented on #4175
So whole thing:

[code]

[2019-03-02 16:01] w20k commented on #4048
It's too stupid to be true... 😄
@tobias-kuendig - your's FF bug could be fixed with single line of code. If you could test this out would be awesome ;)

File: `october.sidenav.js`
Change this
[code]

[2019-03-02 22:23] iulianwebdev opened #4176 "Class name resolution usage breaks script parser script."
- OctoberCMS Build: 446
- PHP Version: 7.2.15
### Description:
The October\Rain\Database\Updater.php causes an issue with migrations if a second 'class' keyword is present in the file that is being parsed, usually the class name resolution keyword.

E.g.
[code]

### Steps To Reproduce:
Created a new plugin or any new migration file. Use class name resolution keyword.
Concrete example:

[code]

So

[2019-03-03 09:45] bennothommo commented on #4175
@seanthepottingshed If you use dot notation for the field name in the validation rules, it does work:

[code]

[2019-03-03 15:58] LukeTowers commented on #4176
@iulianwebdev are you able to submit a PR to fix it?

[2019-03-03 16:00] LukeTowers commented on #4175
@bennothommo are there any changes we could make to the docs to make dot syntax more obvious?

[2019-03-03 16:13] bennothommo commented on #4175
@LukeTowers I'd say it's well covered in [this section](https://octobercms.com/docs/services/validation#validating-arrays) already. A potential enhancement that could be implemeted would be to do a pass on the fields in a rule array and converting array notation to dot notation when validating - this did trip me up when I first started using October.

[2019-03-03 16:17] seanthepottingshed commented on #4175
@bennothommo so grateful can’t wait to try it!

[2019-03-03 16:22] LukeTowers commented on #4175
@bennothommo I do like that idea, if you think it can be done easily go for it!

[2019-03-03 16:40] bennothommo commented on #4175
@LukeTowers On it :)

[2019-03-03 16:42] seanthepottingshed commented on #4175
@LukeTowers @bennothommo is Octobercms.com still down for updates - can’t access the documentation link above

[2019-03-03 16:43] bennothommo commented on #4175
@seanthepottingshed Seems to be working fine for me.

[2019-03-03 16:44] seanthepottingshed commented on #4175
@bennothommo yep I’m back in the room ;)

[2019-03-03 17:07] iulianwebdev commented on #4176
Yes, I'll try and fix the problem and submit a PR today.

On Sun, Mar 3, 2019 at 3:59 PM Luke Towers <notifications@github.com> wrote:

[2019-03-03 17:28] AugmentBLU opened #4178 "ErrorException: count(): Parameter must be an array"
- OctoberCMS Build: 448
- PHP Version: 7.2 & 7.3

### Description:
When attempting to change the translation of a repeater an error popup appear.

```ErrorException: count(): Parameter must be an array or an object that implements Countable in modules/backend/formwidgets/Repeater.php:210```

### Steps To Reproduce:
Create a repeater, with a translation. Attempt to change the language - you are pre

[2019-03-03 17:28] ayumihamsaki commented on #4048
If it's ok I would like to give some advice on Browsers (after reading some people comments here).

I think October CMS should focus on "**ever-green browsers**" only. An ever-green browser is a modern browser which auto-updates.

The best Browser that has the highest support for the most number of API's is Google Canary (which is currently running Chrome V74).

Desktop Computers: Chrome 71.58% an

[2019-03-03 17:34] w20k commented on #4178
@AugmentBLU it was already addressed by @bennothommo. Could you test this PR to see if it helps (https://github.com/octobercms/october/pull/4160)?

[2019-03-03 17:37] bennothommo commented on #4175
@LukeTowers PR here for array notation enhancement: https://github.com/octobercms/library/pull/383. I've tested with @seanthepottingshed 's PR to the Test plugin, and it works well.

[2019-03-03 17:41] AugmentBLU commented on #4178
@w20k A new error appears now.

[code]

[code]

[2019-03-03 17:42] w20k commented on #4178
@bennothommo I guess it's not over yet 😄 Could you look at it?

[2019-03-03 17:45] AugmentBLU commented on #4178
This bug is breaking several sites. Any idea when it was introduced so I can roll back? It wasn't happening on my local setup with 447 on PHP 7.2.

[2019-03-03 17:47] w20k commented on #4178
@AugmentBLU I guess with a new release... But it should be an edge build 448.

[2019-03-03 17:52] bennothommo commented on #4178
@AugmentBLU Could you provide us with your form configuration (ie. `form_config.yml`) that you are using  as well as the POST data you used when the error occurred? It might be a particular widget inside the repeater which is causing this.

[2019-03-03 17:54] AugmentBLU commented on #4178
Wow, data is being removed from the database on save. I don't have time to read in to this deeper as I now need to restore stuff.

[2019-03-03 18:16] Rike-cz commented on #4178
The same problem. I added to line 210 condition...
`if (empty($widgetValue) || (is_iterable($widgetValue) && !count($widgetValue))) {`

[2019-03-04 04:56] bennothommo commented on #4178
@Rike-cz are you using the Translate plugin as well?

@AugmentBLU Does the same issue happen if the Translate plugin is not enabled?

[2019-03-04 07:09] seanthepottingshed commented on #4175
@bennothommo @LukeTowers @w20k

Thanks guys I've just tested the dot syntax and all works as expected, for clarification should anyone else run into this prior to @bennothommo solution is merged into a future release:

[code]

[2019-03-04 07:10] tobias-kuendig commented on #4048
@w20k, patching `./modules/backend/assets/js/october.sidenav.js` and running `php artisan october:util compile js` seems to fix the issue :+1:

[2019-03-04 07:29] Rike-cz commented on #4178
@bennothommo In that case (ver. 448) not. I think that issue happen because of custom (?) form widget. I use improved mediafinder and I found that mediafinder value causes that error. My mediafinder returns string - it's not empty but also not countable.

[2019-03-04 07:43] bennothommo commented on #4178
@Rike-cz thanks for the info. How about with PR #4160 in place? Does that cause any issues for you? Just trying to determine what caused @AugmentBLU 's data loss.

[2019-03-04 08:08] Rike-cz commented on #4178
@bennothommo PR #4160 works fine for me without Translate plugin. With Translate plugin I have 2 filled forms in repeater (indexes 0 and 1) and try to switch language. It throws `"Undefined offset: 0" on line 206 of C:\dev\web\www\icestudio\brancoreality\modules\backend\formwidgets\Repeater.php`.

[2019-03-04 08:17] Rike-cz opened #4180 "Http.php: Array to string conversion"
- OctoberCMS Build: 448
- PHP Version: 7.2

### Description:
Clicking on Updates & Plugins > Install plugins throws exception: `"Array to string conversion" on line 282 of C:\dev\web\www\icestudio\brancoreality\vendor\october\rain\src\Network\Http.php`

[2019-03-04 08:18] czerwonyd opened #4181 "Overriding platform in composer.json"
- OctoberCMS Build: 440 - 448
- PHP Version: >=7.1

### Description:
While installing packages that requires PHP >=7.1 the installation fails, because of

[code]
in `composer.json`.

Example package: [Brick/Money](https://github.com/brick/money).

Despite the installation I guess PHP 7.0 should not be used any longer since it's support has ended in [the January 2019](http://php.net/supported-versi

[2019-03-04 08:23] w20k commented on #4180
Hi @Rike-cz, know issue, just change - `curl_setopt($curl, CURLOPT_POSTFIELDS, $this->requestData);` -> `curl_setopt($curl, CURLOPT_POSTFIELDS, $requestDataQuery);`.
Trying to fix it ASAP.

[2019-03-04 08:24] w20k commented on #4181
@czerwonyd take a look at the @daftspunk comment https://github.com/octobercms/october/commit/f12f3af37f491f26fe101c3a01458fa467455df0

[2019-03-04 08:27] Rike-cz commented on #4180
Thanks @w20k, it helps!

[2019-03-04 09:03] seanthepottingshed commented on #4175
@bennothommo @LukeTowers

I've run into another problem relating to this, when validating the actual repeater data itself, ie:

[code]

If you add a repeater group, it validates correctly the first time - however if you delete a repeater group and add another one, it still references the index of the previous entry.

[2019-03-04 09:08] czerwonyd commented on #4181
Oh you're right, I have missed it. But still I think, the PHP 7.0 compatibility is no longer needed when it's support has ended, don't you think?

[2019-03-04 09:11] w20k commented on #4175
Here we go again 😄

[2019-03-04 09:21] w20k commented on #4181
I might agree with you or not, but I understand why @daftspunk freeze version because there would be even more issues related to dep hell (.dll).

[2019-03-04 09:21] #4181 closed

[2019-03-04 14:32] bennothommo commented on #4178
@Rike-cz Are you using the MLRepeater widget provided through the Translate plugin in this instance, or just a normal Repeater widget?

[2019-03-04 14:49] tobias-kuendig commented on #4178
This is my fields config:

[code]

I am using RainLab.Translate as well and the whole `downloads` field is marked as translatable.

What I noticed is that if I change the repeater to an other language I can save just fine (even changes made on other languages are saved). The countable error only appears if I have the primary language active in the repeater.

[2019-03-04 18:46] Rike-cz commented on #4178
@bennothommo I am using repeater in [RainLab.Pages](https://github.com/rainlab/pages-plugin/#custom-page-fields) and I think it's automatically changed to MLRepeater through RainLab.Translate event hooks.

[2019-03-05 03:50] bennothommo commented on #4178
Thanks all. It appears to be an incompatibility with the Translate plugin, specifically how the MLRepeater widget handles internal form widgets. I'll have to investigate further and possibly submit a PR for that too. In the mean time, I've added a fix to PR #4160 so that if the form widgets aren't available, it won't try to process them. It should at least fix the current issue.

[2019-03-05 07:22] rluders opened #4182 "Remove jenssegers/data and move for Carbon 2"
Hello.

So, this week I got an issue reported at my [JWTAuth Plugin](https://github.com/rluders/oc-jwtauth-plugin/issues/22), and so I was investigating what could cause the issue. And I noticed that my plugin, has a dependency that uses Carbon 2, while OctoberCMS Library is using [jessegers/date](https://github.com/jenssegers/date/issues/310) that uses Carbon 1 as it's dependency. So, both packag

[2019-03-05 14:48] marcomessa commented on #4048
I confirm this is working with FF dev. Thank you!

[2019-03-05 18:38] medrockstar commented on #183
Any new about this feature ?

[2019-03-06 04:17] LukeTowers commented on #183
Multisite or multitenant implementations are relatively easy to build in OctoberCMS and are easily done through a plugin. If anyone would like to talk to me about specific implementations or use cases, then I'm available on the Slack.

[2019-03-06 04:18] LukeTowers commented on #4182
Go for it @rluders, as long as you can smoothly upgrade the dependency I don't have an issue with it. Are there big changes between Carbon 1 and Carbon 2? Carbon gets used a fair bit within OctoberCMS plugins both public and private.

[2019-03-06 04:21] LukeTowers commented on #4048
@w20k is that a fix that can be implemented in core? Does it break anything else? Does it require changing the jQuery version?

[2019-03-06 06:25] rluders commented on #4182
@LukeTowers there's some differences between Carbon 1 and Carbon 2. I will run some tests, but I'm pretty sure that some things could break.

For now I'll just leave the [migrate document](https://carbon.nesbot.com/docs/#api-carbon-2) to Carbon 2 here.

[2019-03-06 13:08] mjauvin commented on #4048
@w20k applied your fix - https://github.com/octobercms/october/issues/4048#issuecomment-464681943 to `sidepaneltab.js` and recompiled the js assets (`php artisan october:util compile js`) and it fixes the problem.

[2019-03-06 17:43] jonpxpx commented on #4178
I was getting the error without the use of Rainlab.Translate but using the custom fields within a template.

Fields seemed to be saving when applying the original PR - do we have an estimated timescale of when this might be fixed as we were about to upload 7 client sites (luckily, we didn't).

[2019-03-06 18:19] w20k commented on #4178
@jonpxpx could you provide us with your configuration (from_config.yaml)? To test your use case and find the cause.
Also, have you tested @bennothommo PR https://github.com/octobercms/october/pull/4160

[2019-03-06 19:06] Rike-cz commented on #4048
@w20k Fixed in Opera too!

[2019-03-06 19:10] w20k commented on #4048
@LukeTowers yes it is for the core. Not sure, I hope it doesn't, but will run more tests. What it does, It changes the loading order of sidenav. So that it would be loaded at the same time as a sidebar.
Nope - nothing to do with our JQuery upgrade.

Will make a PR.

[2019-03-06 20:35] leonarpv opened #4183 "BackendAuth Not working correctly. - Return null on methods."
- OctoberCMS Build: ###3118660d834f161d513da08477be92281a2eb96a
- PHP Version: 7.1.16
- Database Engine: Mysql
- Plugins Installed:

### Description:
BackendAuth Not working correctly.

When i try to instance BackendAuth::getUser or anything method inside the plugin controllers on backend, return null value. On the case of the BackendAuth::check method return false.

### Steps To Reproduce:
For ex

[2019-03-06 20:39] LukeTowers commented on #4183
@bennothommo can you look into this? Since most plugin controllers use `__construct()` to set the BackendMenu context, which would instantiate the BackendMenu firing this event, we might have a bigger issue then we originally thought with having those controllers instantiated before the session gets started.

[2019-03-06 20:42] LukeTowers commented on #4183
Might have to investigate another layer for middleware processing within October instead of relying solely on Laravel’s implementation
so that the BackendController has its middleware processed before checking the plugin / module controllers for middleware to process

[2019-03-07 00:38] skynett81 opened #4184 "Method diffInRealSeconds does not exist."
- OctoberCMS Build: ###
- PHP Version: 7.1
- Database Engine:
- Plugins Installed:

### Description:
i did install some plugins (Discord) but after that i did get this error.

"Method diffInRealSeconds does not exist." on line 96 of /home/geektech/public_html/demo/october/vendor/laravel/framework/src/Illuminate/Support/Traits/Macroable.php

### Steps To Reproduce:
install Discord Plugin

[2019-03-07 02:07] bennothommo commented on #4183
I'm hesitant to introduce a new middleware pipeline because there's a lot of avenues for it to go wrong. Taylor Otwell [mentioned](https://laravel-news.com/controller-construct-session-changes-in-laravel-5-3) that using the constructor for Auth checks and the like is inherently the wrong way to do things because technically the request is not processed yet, but I understand that it's the way that

[2019-03-07 02:56] artistro08 commented on #4117
Is there a way I can test this to see if it works?

[2019-03-07 03:17] LukeTowers commented on #4183
@bennothommo it's not even just Auth checks in the controller constructor that's the issue, the constructor usually calls other things that fire events that one would reasonably expect the session to be started by the time they would typically fire.

[2019-03-07 03:21] LukeTowers commented on #4183
How do you mean? Couldn't we define a closure middleware in the BackendController constructor that then processes the desired actual Controller middleware inside of it? Something like the following:

[code]

[2019-03-07 03:21] LukeTowers commented on #4184
How did you install the plugin?

[2019-03-07 03:41] bennothommo commented on #4183
@LukeTowers The main issue is how do we determine that the backend/module controller in question has any middleware without executing its constructor.

[2019-03-07 04:08] skynett81 commented on #4184
Thru the backend Admin panel.

Den tor. 7. mar. 2019, 04:22 skrev Luke Towers <notifications@github.com>:

[2019-03-07 04:10] LukeTowers commented on #4184
What's the full stack trace?

[2019-03-07 06:21] tobias-kuendig commented on #4117
https://mall.offline.swiss/backend/offline/mall/products/update/6

Click on one of the variants, then try to change the color via the text input.

Alternatively you can install this plugin locally and test it out as mentioned in the first comment:
https://github.com/OFFLINE-GmbH/test-plugin

[2019-03-07 09:43] gaabora opened #4185 "Wrong parameter value in php section of page template if it's value equals '0'"
- OctoberCMS Build: any
- PHP Version: any

### Description:
I'm getting wrong parameter value in php section of page template if it's value equals '0'.
$this->param('paramname') returns null while 'paramname' is actually '0'

### Steps To Reproduce:
navigate to /test/0 using page template below
[code]

[2019-03-07 10:04] gaabora commented on #4185
it definitely cause by isset function in getParameter() of Cms\Classes\Router
[code]
so how about
`if (array_key_exists($name, $this->parameters)) { ...`?

[2019-03-07 12:42] Xerxos opened #4186 "Package files from server are corrupt"
- OctoberCMS Build: ### Newest from https://octobercms.com/

### Description:

Hi,

When I try install October, I get:

LOG:
[code]

[2019-03-07 14:16] bennothommo commented on #4183
@LukeTowers I've come across a possible solution. We can use `ReflectionClass` to generate an instance of the requested controller without running its constructor (via the `newInstanceWithoutConstructor` method). The only catch would be that another method would need to be called in the requested controller to define the middleware, ie. `defineMiddleware()`. I've tested it out and it does work.

M

[2019-03-07 15:15] skynett81 commented on #4184
Its on a subdir on a cpanel server. I can check more when im home from work.

Den tor. 7. mar. 2019, 05:10 skrev Luke Towers <notifications@github.com>:

[2019-03-07 15:19] tobias-kuendig opened #4187 "UX: Toolbar buttons comment is confusing"
![image](https://user-images.githubusercontent.com/8600029/53966576-b63a1080-40f3-11e9-86c9-976a125cd671.png)

This comment suggests that a user has to add the toolbar buttons including the `[` and `]`. Doing this won't work and will fail without a visible error.

Further, this comment suggests the displayed list is the current/default configuration of the toolbar which it is not.

Since this form

[2019-03-07 15:28] w20k commented on #4187
@tobias-kuendig the message could be a bit more understandable with a usage example.

That's totally incorrect if you read it once again, this part: _" to be displayed in the RE by default"_ . Rephrased version: "This is the list of options that will be a default toolbar in all Rich Editor when you choose".

[2019-03-07 15:45] w20k commented on #4187
Those options that you enter in the text area will be the default values for the Rich Editor (my guess, current default is different and not displayed, or stated what it is 😄 ).

If you don't enter values, will be a system default 😄That's a logical pitfall))

[2019-03-07 15:53] tobias-kuendig commented on #4187
Alright, maybe I'm not bright enough :grin:

I guess what the real problem was for me is the `[` and `]` which suggests we need to specify the config as an "Array". Doing this will change _some_ buttons on the editor but not to the config you specified. This is very confusing since there is no error.

[2019-03-07 17:09] briddle commented on #3162
For future reference:

I needed to add protected $publicActions = ['index']; to the controller I was redirecting to to allow it to be called when not (yet) logged in :(

[2019-03-07 17:11] LukeTowers commented on #4183
The only down side of that approach is the difference between it and the default laravel way of specifying controller middleware. I'd prefer to avoid that if possible

[2019-03-07 22:16] mabehiry opened #4188 "File model query is very slow with large data"
The file model query is very slow.  This is an example of a query used, it takes about 580 ms to execute. I'm viewing about 100 images in the page, so it takes a long time for the page to render.

SELECT *
FROM   system_files
WHERE  system_files.attachment_type = 'Me\Articles\Models\Article'
       AND system_files.attachment_id = '235017'
       AND field = 'image'
       AND system_files.attachm

[2019-03-07 22:23] w20k commented on #4188
@mabehiry why not to add an index? Pretty sure it should solve your performance issue.

[2019-03-07 22:29] mabehiry commented on #4188
There are already 3 indexes:
field
attachment_id
attachment_type

I added sort_order index also

[2019-03-08 05:52] bennothommo commented on #4183
I don't think there's any way around it, unfortunately.

The only way I can think of extracting the middleware from the constructor of a controller without executing said constructor would be to parse the file or tokens of the file and manually retrieve the middleware code from the source. I think such a change would be a hack, at best.

[2019-03-08 09:53] AndreeaMb commented on #2520
Hello,

Can you help me to do this. I can not figure it out how to do it.
I  use something like that:

<button class="btn dropdown-item"
                            data-request="onDelete"
                            data-request-confirm="delete.confirm.message"
                            ...

and I want to replace the confirm alert with the modal.

Thank you

[2019-03-08 11:26] w20k commented on #2520
@AndreeaMb As I've already told you, you cannot change dialog while using `data-request-confirm`
https://github.com/octobercms/october/blob/3118660d834f161d513da08477be92281a2eb96a/modules/system/assets/js/framework.js#L223

Use `ajaxConfirmMessage`!
Here is an example:
https://octobercms.com/docs/ajax/javascript-api#global-events-examples

[2019-03-08 15:03] Caraz1 opened #4189 "upgrade to 448 causing install plugins breakage"
- OctoberCMS Build: 1.0.448
- PHP Version: 7.3.3
- Database Engine: mysql
- Plugins Installed:
October Demo  | 1.0.1 | Alexey Bobkov, Samuel Georges
Sitemap |1.0.8 | Alexey Bobkov, Samuel Georges
Toolbox | 1.22.0 | Lovata
Shopaholic | 1.21.1 | Lovata
Blog | 1.3.1 | Alexey Bobkov, Samuel Georges
Wysiwyg Editors | 1.2.9 | Anand Patel
Blog Video Extension| 1.1.2 | Alexey Bobkov, Samuel Georges
Blog R

[2019-03-08 15:14] jonpxpx commented on #4178
@w20k To confirm, the PR did fix the issue. For now, I will have to stick with that as we have a site to get out quickly.

[2019-03-08 15:35] w20k commented on #4178
@LukeTowers I guess PR #4160  from @bennothommo could be merged now as it fixed the issue.

[2019-03-08 16:00] bennothommo commented on #4178
@w20k I might suggest holding off for another day or 2, so I can see if issue #4175 from @seanthepottingshed is related to this. I was also hoping @AugmentBLU might be able to let us know if their issue was resolved by the latest changes to the PR as well.

[2019-03-08 16:08] w20k commented on #4189
@Caraz1 Please upgrade to the latest edge version change, it was already fixed/reverted. Thank you!
By @LukeTowers here https://github.com/octobercms/library/commit/21b00902c8bf1265b643374f0a54e88074242acf

[2019-03-08 16:08] #4189 closed

[2019-03-08 16:52] LukeTowers commented on #4183
@bennothommo could you try the nested middleware approach I suggested? That should resolve any issues by having the middleware run after the session has been started

[2019-03-09 09:03] bennothommo commented on #4183
@LukeTowers I've tried it out - PR #4190, but there is a caveat which is explained there.

[2019-03-09 13:50] alxy commented on #4184
I've had this issue as well. It is due to some version clash in a plugin's vendor files - specifically it uses an older [Carbon](https://github.com/briannesbitt/Carbon) version.

Disabling the plugin should fix the issue. This needs to be fixed by the plugin author.

[2019-03-09 16:33] Cleanse commented on #4186
Were you getting a 500 server error after you attempted to update? I tried to update today and now my server 500'd.

[2019-03-09 16:51] LukeTowers commented on #4186
@Cleanse are you using edgeBuilds? @w20k can you link the code reversion to fix that? I'm guessing his issue is the Http Network class issue.

[2019-03-09 16:52] Cleanse commented on #4186
@LukeTowers I was running an update from the backend. The update error'd and now my site has a 500 message.

[2019-03-09 16:55] w20k commented on #4186
@Cleanse could you try this fix: https://github.com/octobercms/library/commit/21b00902c8bf1265b643374f0a54e88074242acf

[2019-03-09 16:59] LukeTowers commented on #4186
@w20k I believe the breaking change is in the latest edge build, the fix is in the develop branch.

[2019-03-09 17:01] Cleanse commented on #4186
@w20k @LukeTowers I reverted line 282 (added `$this->requestData` back in) `src/Network/Http.php` but I am unable to retry the update because of the 500 error.

[2019-03-09 17:08] w20k commented on #4186
@LukeTowers we had three majors, which I do remember, and none of those `should` cause this thing to happen: Login|LogoutCache/Middleware, Repeater, and HasMany.

[2019-03-09 17:22] w20k commented on #4186
@LukeTowers Did a fresh install with an upgrade to the latest edge build (with scratch options) - nothing...

<img width="1209" alt="Screenshot 2019-03-09 at 19 20 29" src="https://user-images.githubusercontent.com/1053320/54074867-a3b10a00-42a0-11e9-9ec6-d484cd044413.png">
<img width="1440" alt="Screenshot 2019-03-09 at 19 22 14" src="https://user-images.githubusercontent.com/1053320/54074873-ad3

[2019-03-09 17:24] w20k commented on #4186
@Cleanse - could you disabled all the plugins?

[2019-03-09 17:26] Cleanse commented on #4186
@w20k I'll back up my data and see about a reinstall. I get a 500 error on all routes after the update errored midway through.

[2019-03-09 21:48] frthjf commented on #4181
@w20k Does that mean one cannot create a marketplace plugin with a package dependency that requires PHP 7.1? That would be problematic as more and more packages make 7.1 a minimum requirement as 7.0 is EOL.

[2019-03-10 01:46] MC1010 commented on #4178
@w20k This bug exists in 447 as well. Specifically, I encountered it a few minutes ago when using a colorpicker inside a repeater. I am not using the Translate plugin. PR #4160 solved the issue. Thank you! @bennothommo

[2019-03-10 05:38] bennothommo commented on #4175
@seanthepottingshed @w20k I have a feeling that the Repeater widget's indexes are a big part of the recent problems. I think this particular issue is separate though to the issue I fixed recently, given that I was able to test the code above with an older build of October and it happened there too.

[2019-03-10 09:02] rluders commented on #4182
Let me just add a small note here:

Maybe [this fix](https://github.com/jenssegers/date/issues/310) could help for now, but still, I think that we can use only Carbon 2.

[2019-03-10 09:39] seanthepottingshed commented on #4175
@bennothommo would you prefer it if I close this issue and raise a new issue with supporting fork of Test plugin to demonstrate?

[2019-03-10 10:07] bennothommo commented on #4175
@seanthepottingshed this issue report is fine. If I can't figure it out, I'll get you to create a PR.

[2019-03-10 17:08] seanthepottingshed commented on #4175
@bennothommo thanks your help in this matter is really appreciated

[2019-03-10 19:53] simon511000 commented on #2106
It is not solved, I still have this eternal problem. Why are error messages hard-coded? What purpose?
OctoberCMS is a super CMS but why for example the message 'Cannot login user "user" as they are not activated.' is not translatable? I do not understand.
What to do? Change the value in the OctoberCMS source code? Obviously not.

[2019-03-11 02:52] LukeTowers commented on #2106
@simon511000 you are seeing a debug message, disable debug mode and you will get the translated generic message. We're not going to translate the specific error messages (i.e. debug messages) because we want to encourage people to not have live sites running with debug mode enabled, and detailed login failure messages are nothing but helpful to attackers.

[2019-03-11 05:15] simon511000 commented on #2106
ok thank you very much

[2019-03-11 08:05] w20k commented on #4181
@frthjf pretty much, OCMS has it's own rules. When new LTS version will come to Laravel we will switch, I guess.

[2019-03-11 08:18] czerwonyd commented on #4181
@frthjf It is problematic especially for users of our plugins. I have added a note in [documentation of my plugin](https://octobercms.com/plugin/initbiz-money) and link to this issue so that more technical users can understand why installation of our plugin does not work.

[2019-03-11 15:47] frthjf commented on #4181
@czerwonyd Thanks, does that mean that I can publish through the marketplace but the users will have to modify their composer.json? Also, what happens if there is no composer.json because you used the wizard?

[2019-03-11 16:12] czerwonyd commented on #4181
@frthjf I probably have not tested all the possibilities, but generally speaking, yes - it will work for both of cases as long as you have the required PHP version installed of course.

[2019-03-11 17:35] rluders commented on #4182
Just to update the progress so far, if someone decide to try the same or if I die.

I did spent some time testing the things here and at this point I found 2 problems to use Carbon 2. Here we go:

**PHP 7.0**

The PHP version is locked to *7.0* in the *composer.json* file. It is not something compicated to change, but we need to discuss if we want to (I vote for yes). Also, if we move forward with

[2019-03-12 10:29] roulendz commented on #4183
Do now know, why but also for me it returns null.
It's regular backend controller nothing special.

[code]

Any hingfor quick fix?

[2019-03-12 15:03] leonarpv commented on #4183
@roulendz

Luckily I have 3 projects with october now with different versions of October, to solve radically replaced all inside modules path in a project that worked for me, then when it is solved I will have to see how to correct all this.

Tt was not a good practice, but to solve it momentarily I had no better option.

[2019-03-12 15:08] gavinworks commented on #3301
@LukeTowers oooo I like the idea of a contribution! How would that work exactly?

[2019-03-12 15:52] w20k commented on #3301
@gavinworks create PR and provide a solution. As easy as that :)

[2019-03-12 16:11] bennothommo commented on #4183
@roulendz Is that particular method being called inside the constructor of your backend controller, or is it used within another method? You could try using the changes in PR #4190 and see if that helps.

[2019-03-13 10:26] Adrion opened #4192 "softDelete and slug duplication error"
- OctoberCMS Build: 447
- PHP Version: 7.2.1
- Database Engine: MySQL 5.6.38

### Description:
When a model has a slug and is soft deleted the duplication prevention doesn't work.
Normally if the slugged property is the same you should have: `slug` first then `slug-2` for the second.
It doesn't if `slug` is soft deleted.

### Steps To Reproduce:
 - Create a simple model model with a slugged proper

[2019-03-13 10:44] lieszkol commented on #809
I agree with @alexeydemin - the OctoberCMS documentation is very vague when it comes to how partials are rendered inside backend plugin settings pages.

For example, it was not at all obvious to me that twig tags are not processed here.

Something simple like including an image that I uploaded into my /plugins/author/plugin/assets/ directory without hard-coding the path in the partial took way too

[2019-03-13 11:10] alxy commented on #4192
This is a complex use case - and a result of the fact that you require the slug to be unique on a database layer and at the same time use softdelete, which is entirely handled by the application. Think of it: For the application it is perfectly valid to have this slug, as there is no other record with this slug (the other one is deleted).

So I'd not consider this as a bug. You need to implement s

[2019-03-13 11:29] gavinworks commented on #3301
@w20k Luke said submit a PR... ORRR "make a contribution to have a core developer work on it." Sounds like he is alluding to my making a financial contribution to have a core developer work on it. This is the bit I'm interested in. Obviously if I was a talented enough developer I'd fix myself and submit a PR ;)

@LukeTowers could you perhaps confirm if I've understood this correctly?

[2019-03-13 11:50] w20k commented on #4183
@leonarpv @roulendz @filipac could you re-test your issue with @bennothommo PR and put up few comments in PR if it `fixed` or `not`.
So, we could proceed! Thanks a lot ;)

[2019-03-13 12:12] w20k commented on #3301
@gavinworks I think you got it right, didn't read the whole thread! You could talk to @LukeTowers directly via slack or email, or via other communication channels 😉

[2019-03-13 12:48] w20k commented on #809
@lieszkol if you have a minute and a will to provide an update to the docs, it's highly appreciated (or tips&tricks to octobertricks.com) :)

[2019-03-13 13:08] Adrion commented on #4192
Actually I thought that the my behavior was more intuitive. Since we just have to check if it exists (even trashed) or not and if so just put the `-2` suffix.
This behavior is also used in Joomla. you can't create a duplicated slug even if the over one is trashed.

In my case I'll add a custom validation on the property that generates the slug. it will be easier.

I let the issue open a few days f

[2019-03-13 14:21] gavinworks commented on #3301
@w20k no problem! I didn't realise you were on slack. I've DM'd him on there now :)

[2019-03-13 15:29] damianlewis commented on #4048
Having the same issue with Chrome 72 and IE 11 on Windows 7 Enterprise but don't have this issue with Chrome 72 on Mac.

Reverting back to jquery 2.2.4 and removing jquery-migrate code does solve the problem for Windows.

[2019-03-13 18:19] w20k commented on #4048
@damianlewis - what about this fix https://github.com/octobercms/october/issues/4048#issuecomment-468933242?

[2019-03-14 02:43] LukeTowers commented on #4192
@Adrion I would agree with you on this. Slugs should not be reused if the original slug is still present in the db, even if that original record is soft deleted. If a record is soft deleted, it can eventually be restored and then you're in for a headache of deduplicating slugs at that point. I would accept a PR to fix the sluggable trait to look for soft deleted records to (basically just added `w

[2019-03-14 07:12] Adrion commented on #4192
That exactly what I thought, I'll check to send you a PR soon.

[2019-03-14 07:30] annop-kongdeedai opened #4194 "How to call JS file that located at the root of project"
**Description**
This is my project location.

[code]

I want to implement october-cms with service-worker and I have to put my service-worker.js at root of my project, so how can i call service-worker.js from app.js?

here is my app.js
[code]
and here is error i got.

[code]

[2019-03-14 08:01] GinoPane opened #4195 "CMS page editor cannot correctly expand relative partials"
- OctoberCMS Build: 448 (irrelevant)
- PHP Version: no matter

### Description:

For example, when defining a component template, we can use partials. I included them this way:

    <ul id="{{ __SELF__.alias }}-list">
        {% partial "@list" %}
    </ul>

    <nav id="{{ __SELF__.alias }}-pagination">
        {% partial "@pagination" %}
    </nav>

And it worked fine until I tried to expand my

[2019-03-14 08:52] w20k commented on #4195
@GinoPane I don't think it's a bug, but more likely not `well-documented` feature.

[2019-03-14 08:57] GinoPane commented on #4195
Maybe, but I didn't find anything that could me restrict from using partials like that, and if we can use them like that the expand should cover thit case as well 😄

[2019-03-14 08:58] w20k commented on #4194
@ayumihamsaki you're a PRO when it comes to `serviceWorker`. Could you look at this issue when you have a minute?

[2019-03-14 11:31] annop-kongdeedai commented on #4194
I had fixed this issue by add the root path to `.htaccess` file.
[code]

I don't know another solution but this worked for me.

[2019-03-14 15:42] ayumihamsaki opened #4196 "Allow Updates and Plugins List to be Sortable"
I would like to request a feature where the Plugins Update list be able to make each column sortable. For example it would make life easier if we could have the **_list of plugins in alphabetical order_** - thus finding the plugins easier!

Current Screenshot:

![1](https://user-images.githubusercontent.com/17784082/54370262-3a9a0f80-466f-11e9-8fea-9481d48349cd.png)

Proposed Idea Screenshot:

![2

[2019-03-14 16:21] ayumihamsaki commented on #4194
@w20k Thanks lol

@annop-kongdeedai Yah I have done what you are asking for,...

1. Add your Service Worker Code to a CMS > Pages File.
2. Add the plugin: https://octobercms.com/plugin/xeor-contenttype
3. Set the mime-type to js

It should then work just fine :+1:

[2019-03-14 16:22] ayumihamsaki commented on #4194
Think you can close this issue now.

[2019-03-14 16:28] ayumihamsaki commented on #3939
Thanks for input. Will be working on this in a few months time (I have done half the coding now). Just want to finish off some more important things for October first. Just going through my list of Github Open Issues. Will add a link here later for some testers, when I finished coding it.

[2019-03-14 16:46] ayumihamsaki commented on #4196
Did a quick research and found the file location: https://github.com/octobercms/october/blob/master/modules/system/models/pluginversion/columns.yaml

Any reason to turn off the sortable function ?

[2019-03-14 17:16] LukeTowers commented on #4196
@ayumihamsaki feel free to do that, it should be as easy as setting `sortable: true` on those columns.

[2019-03-14 17:34] #4194 closed

[2019-03-14 17:42] LukeTowers commented on #4195
PHP Version: no matter

Those are there for a reason, no need to be snarky 😜

Also, this is documented, albeit not in the themes section: https://octobercms.com/docs/plugin/components#component-partials

[2019-03-14 18:16] GinoPane commented on #4195
@LukeTowers 😄 Yes, but in the context of the question I thought it would be not so important info.
Regrading docs - yes, using of partials in component context is documented and that's why I know how to use those partials differently, but still, the expanding logic is not described.

[2019-03-14 18:28] ayumihamsaki commented on #4196
If only life was that easy - I would go and fix every issue under the octobercms repo for you in a day lol.

I added `sortable: true` to the first column and ran a test and see there is no database connected to the list, see error:

![qqq](https://user-images.githubusercontent.com/17784082/54381936-d7b47280-4686-11e9-9c2d-f6e264c0e75d.png)

File Location: https://github.com/octobercms/october/blob

[2019-03-14 19:11] GinoPane opened #4197 "Component IDs are lost when expanding feature is used"
- OctoberCMS Build: 448
- PHP Version: 7.2.4

### Description:
In components we can reference component's ID like this:

![image](https://user-images.githubusercontent.com/3897579/54384593-a5fed400-46a5-11e9-8d91-9a972d67d50a.png)

And it works totally fine when we simply use components on the page, like this:

![image](https://user-images.githubusercontent.com/3897579/54384483-61733880-46a5-11e9-

[2019-03-14 21:47] reed-josh commented on #4076
I see a fix merged possibly there? I updated the octobercms install. Is there anything else we need to do to apply this fix?

[2019-03-14 23:07] seanthepottingshed commented on #4175
@bennothommo I've just tested again in `448` and this all seems to work now! I need to do some more testing just to make sure, but I think you cracked it.

[2019-03-15 00:33] ayumihamsaki commented on #4076
@reed-josh There is two separate PR's fixing this, one to allow the middleware to work for the other PR. So I would say to add both merges and give it a try. p.s. not sure where the other merge is you will need to search for it.

[2019-03-15 07:26] bennothommo commented on #4175
@seanthepottingshed That's good to hear. I'm curious as to what has changed though, as my test copy is still exhibiting the issue. :/

[2019-03-15 07:57] seanthepottingshed commented on #4175
@bennothommo I will do some more testing over the weekend, it was very late last night when I was testing

[2019-03-15 09:37] w20k commented on #3939
Will reopen this issue ;)

[2019-03-15 12:20] damianlewis commented on #4048
@w20k Fix #4048 worked on Chrome but didn't resolve the issue for IE 11. I've reverted back to the original fix.

[2019-03-15 12:29] w20k commented on #4048
That's sad, can't test with IE11 😄 Need to find a hack for that!

[2019-03-15 12:41] adrenth commented on #4048
@w20k You could download a free Windows image from Microsoft site: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2019-03-15 12:49] w20k commented on #4048
Thanks for a tip @adrenth!

[2019-03-15 14:28] ayumihamsaki commented on #3939
@w20k I think better to close it. I think the solution is more of a plugin and not a core module to the cms.

[2019-03-15 15:12] #3939 closed

[2019-03-15 15:14] w20k commented on #3939
@ayumihamsaki it's still like a discussion, not a solution or an issue. Oh, my bad forgot you've added a link to the repo, where this discussion could move on 😄

[2019-03-16 05:03] LukeTowers commented on #4196
There is a database table associated, it's just that only the code and version columns are present. We could have it sort by the code and display the name, but it'd be sorting by author at that point basically. https://github.com/octobercms/october/blob/master/modules/system/models/PluginVersion.php#L16

[2019-03-16 05:04] LukeTowers commented on #4195
@GinoPane feel free to make a PR to clarify that further, I'm always happy to get improvements to the docs!

[2019-03-16 05:43] GinoPane commented on #4195
But why do you both think that it is the docs that need to be fixed, and not the expanding logic? 😄 I opened one more issue in that area (#4197).
Btw, no response from hello@octobercms.com and plugin still cannot be updated. I wonder if I the only one who experience this.

[2019-03-16 11:14] ayumihamsaki commented on #4196
I was just looking at the database table and the name column and I think they wont match due to it getting sorted by alphabetical order on the author name and not the plugin name. Would it be better just to add a new column called `name` to the `system_plugin_versions` table and create a seeder file?

Maybe it's just me but I rather search for the Plugin Name and not the author Name.

Will save th

[2019-03-16 16:21] LukeTowers commented on #4195
@GinoPane I'm not sure I know what you mean by 'expanding logic'

[2019-03-16 19:00] GinoPane commented on #4195
@LukeTowers the logic behind the button which expands component template into theme's template.

[2019-03-17 07:21] msimkunas commented on #2734
Is there any progress on this front? Is this an exhaustive list of all ModSecurity rules that clash with the backend?

[2019-03-17 20:03] mjauvin commented on #4197
I confirm this. An easy fix would be to add this to the init() method of modules/cms/classes/ComponentBase.php:

`$this->id = uniqid($this->alias);`

Currently, the id is generated from the renderComponent() method in modules/cms/classes/Controller.php

Opinions?

[2019-03-18 05:02] LukeTowers commented on #2734
Not that I know of @msimkunas, feel free to post one here or report the false positives.

[2019-03-18 10:07] GinoPane commented on #4197
@mjauvin as a solution it does not seem to work.

[2019-03-18 12:18] mjauvin commented on #4197
It's working on my end.

[2019-03-18 13:30] mjauvin commented on #4197
You're not getting the id? Can you show me the change you did?

[2019-03-18 18:12] GinoPane commented on #4197
@mjauvin sorry, you're right. Tried on another computer, the first one was docker setup on Mac and it turns to be buggy itself.
This solution resolves the issue, though expanded and non-expanded components behaves differently:

expanded
![image](https://user-images.githubusercontent.com/3897579/54552903-2c772680-49c2-11e9-844e-0ac27c1cb3df.png)

non-expanded
![image](https://user-images.githubuser

[2019-03-18 18:23] mjauvin commented on #4197
The Component alias may not be set yet in the constructor... it's probably
better to do this in init() as I did.

On Mon, Mar 18, 2019 at 2:12 PM Siarhei Karavai <notifications@github.com>
wrote:

--
Marc

[2019-03-18 18:35] GinoPane commented on #4197
@mjauvin you're right 👍 It works fine in `init`.
Don't know why I hurry today, I thought that the outcome is the same in both cases 😄

[2019-03-18 21:12] LarBearrr opened #4201 "Exception when trying to access non-existent backend URL when CMS module is disabled"
- OctoberCMS Build: 447
- PHP Version: 7.3
- Database Engine: MySQL
- Plugins Installed: RainLab.SiteMap-dev-master
RainLab.Builder-dev-master
Bedard.Debugbar-v2.0.0

### Description:
When trying to access a non-existent backend controller, an exception is thrown if the CMS module is disabled and there is no active theme set or installed:

![image](https://user-images.githubusercontent.com/2873484

[2019-03-18 21:17] LarBearrr commented on #4201
Per @alxy suggestion, it seems that "this might be a better check": (https://github.com/octobercms/october/blob/26173486d39cdf4312535ecf247e3d7a161713b4/modules/system/reportwidgets/Status.php#L98)[https://github.com/octobercms/october/blob/26173486d39cdf4312535ecf247e3d7a161713b4/modules/system/reportwidgets/Status.php#L98]

Indeed, changing (https://github.com/octobercms/october/blob/3118660d834

[2019-03-18 21:48] LarBearrr commented on #4201
See #4202

[2019-03-19 12:45] linhtc commented on #4153
Same issue

[2019-03-19 13:26] alxy commented on #4195
@GinoPane Would you expect the @-sign to be replaced by the component alias as well? However, even that might not work in every case, namely in the case of a shared partial. That makes it extremely complex to find a solution here I would say.

[2019-03-19 14:20] ayumihamsaki opened #4203 "Update the CSS to Modern Standards"
I don't have the time to do this. But instead I feel it is worth while leaving an open issue for someone in the near future to work on.

## Issue

October CMS uses very old CSS styling, you may not see many errors on a desktop computer screen, but when you down scale on to a mobile and tablet device you will start to see many errors.

## Common CSS Issues

Things that I have noticed in the code ar

[2019-03-19 19:23] GinoPane commented on #4195
@alxy do you mean it works after additional replacement in that method?

[2019-03-19 21:59] alxy commented on #4195
@GinoPane No, it just works with the current build.

[2019-03-19 22:24] LukeTowers commented on #4203
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: http://octobercms.com/forum
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

The support demand for

[2019-03-19 22:24] #4203 closed

[2019-03-20 05:28] GinoPane commented on #4195
@alxy Hm, that's strange. Maybe you have necessary partial somewhere in a theme folder so it can be discovered?

[2019-03-20 13:43] iboved commented on #4115
I have the same problem. MediaManager doesn't work in Internet Explorer 11.

[2019-03-22 08:51] Samuell1 commented on #856
Best simple fix is to force SSL on server or dns side and dont forget to disable in _config/cms.php_ **backendForceSecure** to `false`

[2019-03-22 14:44] fabriciorabelo opened #4205 "Error while trying to install by update & plugin setting"
- OctoberCMS Build: 448
- PHP Version: 7.1.26
- Database Engine: InnoDB
- Plugins Installed: October.Drives, RainLab.Location, RainLab.Builder, RainLab.User

### Description:  When i go to install plugins the page show an error: "Array to string conversion" on line 282 of *october root*/vendor/october/rain/src/Network/Http.php

### Steps To Reproduce: Go to _Settings_ > _Updates & Plugins_ and cli

[2019-03-22 15:53] w20k commented on #4205
It was already fixed in the 448, or should be.
Try updating via composer, or manually correct this line:
https://github.com/octobercms/library/commit/21b00902c8bf1265b643374f0a54e88074242acf

[2019-03-22 15:53] #4205 closed

[2019-03-22 19:34] ayumihamsaki commented on #856
Not sure why Github has linked me to this issue?

I will just add if you use `Cloudflare` and` October CMS`, Eoler's solution to add the code to` .HTaccess` won't always work and you should create a custom `Page Rules`, for more info see here: https://support.cloudflare.com/hc/en-us/articles/204144518

[2019-03-23 15:31] setianke commented on #4009
@LukeTowers would like to report the issue oocures with nevets-paypalipn as well

[2019-03-23 17:17] LukeTowers commented on #4009
@setianke report it to the plugin author and if they don't respond, send an email to hello@octobercms.com to have the plugin taken down.

[2019-03-23 21:25] SaifurRahmanMohsin commented on #4158
@LukeTowers This doesn't look like this is a plugin-specific issue. I can see the same issue in [one of my plugins](https://github.com/SaifurRahmanMohsin/oc-txt-plugin) which was working fine for the past 2 years.

[2019-03-23 23:13] LukeTowers commented on #4158
What do you mean you can see this issue in your plugin? This error only appears on the StaticPages pages which are only included by the RainLab.Pages plugin.

[2019-03-24 05:07] SaifurRahmanMohsin commented on #4158
I mean that I see the same exact error message on my plugin i.e. the repeater throws “A widget class name ‘formHumanFields’ has not been bound to the controller”. I tried creating a new repeater by defining it in the form with a single text field and I got the same error. So no idea what’s going on here. My plugin’s been there for 2 years and this broke recently so I’m thinking it might have to do

[2019-03-24 15:43] Mohmdthabet opened #4206 "Broken media image link after adding an image in a repeater in backend settings tab"
- OctoberCMS Build: 446
- PHP Version: 7.0
- Database Engine: MySQL

### Description:
When uploading an image to a repeater inside the back end settings, the link includes the theme folder twice.

### Steps To Reproduce:
add a repeater to settings
add an image inside the repeater
upload any media image

[2019-03-24 16:06] w20k commented on #4206
Should be fixed in 447 build.
Both are related:
https://github.com/octobercms/october/pull/4055
https://github.com/octobercms/october/pull/3536

Reopen if the bug still persists.

[2019-03-24 16:06] #4206 closed

[2019-03-24 17:04] LukeTowers commented on #4158
@SaifurRahmanMohsin just because it's the same error message doesn't mean it's the same issue. You're not properly binding the repeater formwidget to the controller on the request that is trying to be handled.

[2019-03-24 18:50] Teranode commented on #4188
sometimes `attachment_id` isn't an integer (for instance I use uuids instead of ids)

I completely agree that `ORDER BY sort_order ASC` should be removed, it slows it down significantly, so instead i had to manually create the query without the sort order (on in some cases create my own sort after its been queried)

[2019-03-24 19:07] w20k commented on #4188
@Teranode could you provide a code analyze why it's generated there, I think it's something related to the QueryBuilder.

[2019-03-24 20:01] Teranode commented on #4188
It uses the sortable trait:
https://github.com/octobercms/library/blob/develop/src/Database/Traits/Sortable.php

So what "could" be done is to set a variable for if you want sorting to be enabled from the trait, while also keeping the sortable train there so if you need to use it in the future you can just set the variable for sort to true when defining the relationship

[2019-03-24 22:49] mabehiry commented on #4188
When I run the query in MySql console, it takes only 0.0032 seconds. But in the CMS it takes 0.637 seconds.

This is the query:
select * from `system_files` where `system_files`.`attachment_type` = 'Sunsoft\Articles\Models\Article' and `system_files`.`attachment_id` = '143555' and `field` = 'image' and `system_files`.`attachment_id` is not null order by `sort_order` asc limit 1

![Screenshot_1](ht

[2019-03-25 07:29] Mohmdthabet commented on #4206
Thanks it is now fixed

[2019-03-25 08:49] w20k commented on #4188
@mabehiry Pure SQL will always be faster, no doubt!

[2019-03-25 09:03] shoguniphicus opened #4208 "Backend formwidgets all need to have data-cfasync="false""
- OctoberCMS Build: 446
- PHP Version: 7.2

### Description:
If the site is behind Cloudflare CDN, some of the backend formwidget will not render properly since jquery ready function will trigger first, hence render will be triggered first before all the dependencies like, markdowneditor, or richeditor js is loaded because those js script embed does not have data-cfasync="false".

I found this pro

[2019-03-25 10:41] adrenth opened #4209 "Twig 2.7.4 breaks OctoberCMS w/ RainLab.Pages"
- OctoberCMS Build: 447
- PHP Version: 7.2.16
- Plugin: RainLab.Pages

### Description:

The Twig loader causes OctoberCMS to generate a fatal error:
modules/cms/twig/Loader.php:64

[code]

The use of `Twig_Source` is deprecated as of Twig v2.7, it should be replaced with:

old:
[code]

new (suggested fix):
[code]

Mention the cast to a string. Obviously the `$content` some lines above can be `NUL

[2019-03-25 11:40] Balex70 commented on #4209
Facing the same problem after composer update (Twig 7.2.2 -> 7.2.4).
OctoberCMS Build: 447
PHP Version: 7.1.17

[2019-03-25 11:46] w20k commented on #4209
@adrenth  shouldn't it be as a part of Rainlab.Pages issues or may be linked?

[2019-03-25 11:47] w20k commented on #4208
@shoguniphicus should be an easy fix, if you have a minute - make a PR.

[2019-03-25 11:49] slowpokefarm opened #4210 "VersionManager update caused migration files with dots in filename to be treated as messages"
- OctoberCMS Build: ### 448
- PHP Version: 7.2
- Database Engine: Mysql 8
- Plugins Installed: -

### Description:
Migrations files with dots in filenames are not executed in update cycle.

### Steps To Reproduce:
- In versions.yml create a version:

[code]

- Create a migration  file named 1.0.2_update_tables.php
- execute command `php artisan october:up`

Migration will not be executed, but migr

[2019-03-25 11:51] w20k commented on #4210
@GinoPane could you look at this issue :) Sounds like a regexp issue.

Related PR: https://github.com/octobercms/october/commit/9581b23d1e85ccfdc283946894afa2df177b304f

[2019-03-25 12:24] GinoPane commented on #4210
@w20k it is!

[2019-03-25 12:26] w20k commented on #4210
@GinoPane could you provide a fix for that?

[2019-03-25 12:44] w20k commented on #4210
@slowpokefarm - could your test this PR from @GinoPane if it helped?

[2019-03-25 12:54] slowpokefarm commented on #4210
@w20k @GinoPane Works now, thanks!

[2019-03-25 12:57] adrenth commented on #4209
This is linked to the Pages plugin I found out. But... the return value of `getTwigContent()` in this particular function should always be a `string`.

Since OC is not that strict with PHP data types this issues should be resolved by making sure the correct types are provided. Do not make assumptions, but make sure the correct datatype is used.

In this case a cast-to-string solution may fix a lot

[2019-03-25 13:06] medrockstar commented on #183
can we have just a tutorial for that ?

[2019-03-25 15:30] w20k commented on #183
@medrockstar contact @LukeTowers or look at those plugins:

https://octobercms.com/plugin/voipdeploy-multisite
https://octobercms.com/plugin/briddle-multisite

[2019-03-25 18:44] tfprado commented on #4048
@w20k I am at October build 447 and I was experiencing the sidenav.js error (only on Firefox). This fix works great for FF, will see if it affects IE users at all

[2019-03-25 19:34] w20k commented on #4168
@drmzio all completed issues will be automatically closed merge to master ;)

[2019-03-25 19:36] drmzio commented on #4168
@drmzio Oh sorry! My mistake 😁

[2019-03-25 19:52] medrockstar commented on #183
tks, good plugins,  briddle-multisite share users and plugins, but how can we limit access to the content created by plugins? like in SAAS or wordpress and drupal did.

[2019-03-25 20:46] w20k commented on #183
@medrockstar user plugin -> permissions, as simple as that?
I haven't used WP or Drupal with multisite enabled.

[2019-03-25 21:51] medrockstar commented on #183
plugin data is also shared, if we have multiple clients, all clients will see data of each others.

What we want :

**Admin1**
Site 1 : has backend with specific plugin data.

**Admin2**
Site 2 : has backend with specific plugin data.

Admin1 can't see the data insered in backend (plugins) by Admin2.

So simple. like SAAS, gmail...

Tks,

[2019-03-26 04:54] LukeTowers commented on #183
@medrockstar if it was simple, then there would be a plugin for it already. Multi tenant applications in October are highly dependant on each individual usage case which makes it not so simple for a single plugin to handle everyone's needs simultaneously.

[2019-03-26 06:03] bugzbrown opened #4212 "october:up does not run if all cache directories are not present."
- OctoberCMS Build: 447
- PHP Version: 7.3.1
- Database Engine: Mysql 5.7.24
- Plugins Installed: -

### Description:
When deploying an OctoberCMS to production I ignore the cache directories to avoid committing garbage to my GIT repository.
If the cms folders are not present when running a:

[code]

The application will crash stating that "cms/cache" directory does not exist.
 The same applies to

[2019-03-26 06:08] LukeTowers commented on #4212
Don't gitignore it, the folder already gitignores all of it's contents: https://github.com/captive/captive-cornerstone.captivexm.com/blob/master/storage/cms/cache/.gitignore.

[2019-03-26 06:08] #4212 closed

[2019-03-26 06:20] bugzbrown commented on #4212
Hi Luke thanks for the quick reply. When using the installer (as recommended by the site), the folders do not contain .gitignore files in them.
I'll double check again tomorrow with a clean install to be absolutely sure, but folders like `storage/cms/cache` and `storage/cms/combiner` don't come with these files. It might be a problem with the installer then.
I'll check back here tomorrow.

[2019-03-26 07:32] seanthepottingshed commented on #4209
@adrenth Thanks so much!!!!

[2019-03-26 08:01] tobias-kuendig commented on #4209
Using a cast on `(string) $dataHolder->content` is fixing the issue for our projects as well.

[2019-03-26 08:12] chrisvidal opened #4213 "Error 500 after trying update to 447"
- OctoberCMS Build: ### 444 (from memory)
- PHP Version: 7.2.14
- Database Engine: MySQL5.5
- Plugins Installed:
Rainlab.user
Rainlab.translate
VojtaSvoboda.TwigExtensions
offline.cors
Indikator.Backend
Ideas.Shop

### Description:

no more access to anything after trying to update to 447 (or to 448 dont remember well)

[26-Mar-2019 16:08:04 Asia/Singapore] PHP Fatal error:  Class Illuminate\Datab

[2019-03-26 08:18] LukeTowers commented on #4213
@chrisvidal this is a laravel version conflict caused by one of your plugins that is incorrectly including a version of laravel within it's own vendor directory. See https://octobercms.com/docs/plugin/composer for more information on how you should be using composer with your plugins.

[2019-03-26 08:18] #4213 closed

[2019-03-26 08:20] LukeTowers commented on #4212
@bugzbrown typically the installer is not recommended for technical users that will be using tools like Git or Composer. I recommend you take a look at my gist (https://gist.github.com/LukeTowers/9100845ba50bd53d957da822d06f3b56#file-setupproject-sh) for how I typically setup my own OctoberCMS-based projects

[2019-03-26 08:22] chrisvidal commented on #4213
Hmmm Thanks Luke, so it is probably coming from a composer from one of my plugins then.
not sure how to look at this.

[code]

[2019-03-26 08:43] chrisvidal commented on #4213
I found the culprit, Thanks @LukeTowers

[code]

[2019-03-26 08:45] chrisvidal commented on #4213
Hmm except that now, the System Update button is not triggered anymore after clicking from the backend

[2019-03-26 09:07] medrockstar commented on #183
Tks @LukeTowers  we want just a tutorial with for example laravel-tenancy.com to help Us to make this, and build Saas platform.

Super Admin for all the platfom, and every site has an sub-admin.
Every site has specific, content, plugin, themes.

[2019-03-26 09:27] SeriousKen opened #4214 "cms.page.beforeRenderPartial does not work as documented"
The documentation for cms.page.beforeRenderPartial seems to indicate you can change the path to a partial, but this generates an exception `Type error: Argument 1 passed to Cms\Twig\Loader::setObject() must implement interface Cms\Contracts\CmsObject, string given` at line 1088 in the `Cms\Classes\Controller`. If the event handler returns a `Cms\Classes\Partial` then it works. Which is correct, th

[2019-03-26 10:53] tobias-kuendig commented on #4209
https://github.com/octobercms/october/pull/4215

Please test and report if it needs any additions.

[2019-03-26 11:31] w20k commented on #4209
@adrenth , @seanthepottingshed  @Balex70  - could you guys re-test PR from @tobias-kuendig ?

[2019-03-26 12:06] Balex70 commented on #4209
For me it works on fresh new installation!

[2019-03-26 12:13] gergo85 opened #4216 "Media finder permission error message"
### Steps To Reproduce:
1. Create an administrator and disabled the "Upload and manage media contents - images, videos, sounds, documents" permission.
2. Log in as the created administrator.
3. Click on any "mediafinder" form widget and will get the following error:
![error](https://user-images.githubusercontent.com/2959112/54995643-803bce00-4fc7-11e9-868f-018f202ba782.JPG)

[2019-03-26 12:38] seanthepottingshed commented on #4209
@w20k

Tested works for me on the project I'm currently working on.

[2019-03-26 12:44] nizzac commented on #4209
@tobias-kuendig Fix working for me on an October install updated from 443 to 447.

[2019-03-26 13:49] oscarnevarezleal commented on #4136
I just ran into the same issue yesterday, seems that _imagecreatefromwebp_ is not defined in an easyapache environment.