[2019-11-26 13:00] slowpokefarm commented on #4648
@w20k I would really appreciate your help. I want to make combined assets working again and still have control over static assets headers. Which would be the best way to do it?
For now I removed the `css|js` block. I also tried to add try_files there, but I suspect it can break things in some cases.

[2019-11-26 13:10] w20k commented on #4648
If I'm not wrong, that would be the quickest solution to fix your problem (`an empty location for combined and extras`). If I'd have a minute to write a proper Regex, will ping you back ;)
[code]

[2019-11-26 15:05] lautsevich commented on #4728
I found the bottleneck! The theme dependencies will have installed in the case theme has installed via the admin dashboard. In case you install a theme by adding project ID to the admin dashboard or by CLI it doesn't work!

I think it's inappropriate behavior especially when we're talking about complex paid themes.

What do you think?

[2019-11-26 15:36] bennothommo commented on #4783
@ayumi-cloud there is a way - it may not be the most elegant way, but I used a Rule class and custom translatable message for the Builder plugin. See the files edited in this PR: https://github.com/rainlab/builder-plugin/pull/269

[2019-11-26 15:47] LukeTowers commented on #4648
We'll need to address this in some way for build 460 since it seems to be a breaking change for users with nginx configurations that hijack paths ending in .css and .js. We could either make it a configuration to use the extensions or we could improve our nginx documentation to ensure that people are having all nginx 404s handled by October as they should be doing already. @daftspunk @bennothommo

[2019-11-26 15:48] LukeTowers commented on #4783
@ayumi-cloud try `'something.uppercase' => 'The field needs to be uppercase.',`

[2019-11-26 15:56] bennothommo commented on #4648
@LukeTowers tbh, I'd be more inclined to roll back #4567 and approach it differently - ie. an actual CSS / JS file is generated that is web accessible. It shouldn't need to go through October.

[2019-11-26 15:56] w20k commented on #4648
@LukeTowers it's not in our setup, yet. But quite a common optimization for Nginx. We could just add a note in a setup guide.
Or a rollback as @bennothommo suggested ;)

[2019-11-26 16:03] LukeTowers commented on #4648
@bennothommo my problems with having an actual file generated is dealing with the old versions of the files, the different URL to the file we'd have to have, and how to handle if that file somehow goes missing (say if you're running multiple servers for a single October instance)

[2019-11-26 16:27] LukeTowers commented on #2831
@daftspunk @bennothommo we'll have to update the list after the L6 upgrade anyways, a few of those dependencies have changed since this was first posted.

[2019-11-26 16:34] Samuell1 commented on #4648
@LukeTowers combiner should work in way like webpack does, it generates manifest file with pointing original name of file to file name hash and it will change only if file content will change.

[2019-11-26 18:54] ayumi-cloud commented on #4783
Perfect thanks.

@LukeTowers suggestion didn't work for me.

@bennothommo event listener method worked for me.

[2019-11-26 19:13] LucasZdv opened #4790 "Error in the installation process."
### Description:
Hello, I am trying to install octoberCMS on php 7.3 and I get the following error.
[code]

I find it weird because I have installed octoberCMS on this version of php many times.

[2019-11-26 19:57] daftspunk commented on #4728
Thanks for the extra detail. Will investigate further to find a solution

[2019-11-26 20:13] daftspunk commented on #4648
+1 to roll this back. It was attempted in the past and created more problems than it solved, also couldn't find a clear use case for it to be needed

[2019-11-26 20:22] LukeTowers commented on #4648
@daftspunk the use case is to help CDNs recognize the file types and cache them appropriately. @alekseyp can you chime in on this?

[2019-11-26 20:22] LukeTowers commented on #4790
@LucasZdv what plugins are you using and what build of October are you using?

[2019-11-26 22:30] LucasZdv commented on #4790
I don't have plugins installed, I try to install it from the terminal.

curl https://octobercms.com/api/installer |php

The error appears when running php artisan october: install

[2019-11-27 01:04] bennothommo commented on #4790
@LucasZdv Are you sure you're using PHP 7.3? My understanding is that deprecation was done for 7.4.

[2019-11-27 06:02] daftspunk commented on #4648
Needed and wanted are different. For example, if you want to include the suffix, the combiner should already support it without any change to the core logic.

[code]

Even add some cache-busting if you like:

[code]

[2019-11-27 08:24] slowpokefarm commented on #4648
I don't think generating an actual file is a good idea. For example, we have multiple instances of the app with redis cache connected to all of them, which allows instances to serve the same cached combined assets. It works well the way it is. Something that I would appreciate though is a mention in documentation about how to handle extension specific locations in nginx configuration to keep it wo

[2019-11-27 09:16] Samuell1 commented on #4648
@slowpokefarm Even when you have multiple instances its still different name of combiner file.

[2019-11-27 09:23] slowpokefarm commented on #4648
@Samuell1 is it? Even if so there might be an issue where one instance generates the name, then the request for asset is routed to a different instance that does not have this file.

[2019-11-27 11:54] Samuell1 commented on #4648
@slowpokefarm yeah when i used combiner it created per instance different combiner hash

[2019-11-27 14:59] LucasZdv commented on #4790
@bennothommo We currently have php 7.3.12 installed, @LukeTowers, I think, you use serverpilot, this problem can be reproduced by installing a new server. Since all new serverpilot servers use this version of php.

[2019-11-27 16:05] LukeTowers commented on #4790
@LucasZdv are you able to post a stack trace of the issue? It's kind of a pain for me to spin up a new SP app to test this there

[2019-11-27 16:15] ayumi-cloud commented on #4783
@bennothommo

Want to ask you something about your code line here: https://github.com/rainlab/builder-plugin/blob/8a0d6789501cae5fb5d27fb571de049c28559d46/Plugin.php#L135

You're written: `translator.beforeResolve`

Would I be correct in thinking that uses the `Rainlab.Translator` plugin?

If so would the `Builder Plugin` then require the `Rainlab.Translator` to work.

e.g.

[code]

[2019-11-27 16:50] LucasZdv commented on #4790
![DeepinScreenshot_20191127134820](https://user-images.githubusercontent.com/7346040/69743155-bb753a80-111c-11ea-8360-3357756f2c92.png)

[2019-11-27 17:09] LukeTowers commented on #4790
can you check storage/log for the system log?

[2019-11-27 17:26] LucasZdv commented on #4790
I did an extra test, I could install it from the wizard installation correctly.

The error only occurs in the installation from the console.

[code]

[2019-11-27 17:33] LucasZdv commented on #4790
I tried running php artisan october: fresh after installation from the wizard, and I also have the same problem, this is due to compatibility with php 7.3.12. I am worried that ServerPilot will update all the servers very soon to this version to the servers that were running an earlier version.

[code]

[2019-11-27 17:58] LukeTowers commented on #4790
@LucasZdv can you run `php --version`? The PHP CLI version is different from the application version you set in ServerPilot

[2019-11-27 18:02] LukeTowers commented on #4648
Excellent point @daftspunk, I'm going to revert #4567 and add a note to the docs about adding the asset extensions

[2019-11-27 18:04] LukeTowers commented on #4783
@ayumi-cloud the translator event is provided by the Translator class in October\Rain. https://octobercms.com/docs/api/translator/beforeresolve

[2019-11-27 18:07] ayumi-cloud commented on #4783
@LukeTowers Thanks, I thought I'd double check. 👍

[2019-11-27 18:08] LukeTowers commented on #4783
@ayumi-cloud I pinged you on slack, take a look please

[2019-11-27 18:09] ayumi-cloud commented on #4783
@LukeTowers Ok will open slack in a bit.

p.s. The website search didn't work for me (this is why I asked here), see screenshot:

![image](https://user-images.githubusercontent.com/57409060/69748834-0ef97f80-1141-11ea-8404-5f7d32d2b80a.png)

[2019-11-27 18:11] LucasZdv commented on #4790
dev@bancodecomercio:~$ php --version
PHP 7.4.0RC6 (cli) (built: Nov 11 2019 01:02:58) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0-dev, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.0RC6, Copyright (c), by Zend Technologies

[2019-11-27 18:12] LukeTowers commented on #4790
@LucasZdv that would be why. Use `php7.3-sp` instead and it should work. @bennothommo we're going to need to make sure that October works for 7.4 soon.

[2019-11-27 19:19] LucasZdv commented on #4790
Server pilot support says

[2019-11-27 19:42] LukeTowers commented on #4790
@LucasZdv ignore what they said, 7.3.12 has no breaking changes from 7.3.11 that would cause this: https://www.php.net/ChangeLog-7.php#7.3.12.

My original comment is still correct, when you run just `php artisan october:install` on the server the default PHP CLI version used is 7.4 which is currently incompatible (will be fixed in a future update). So, for now just run any artisan commands with `

[2019-11-27 23:29] ayumi-cloud opened #4792 "The line chart demo code doesn't work"
The code example found here: https://octobercms.com/docs/ui/chart

Gives me two errors.

![image](https://user-images.githubusercontent.com/57409060/69765886-9826ab80-116d-11ea-8392-7e34db59d793.png)

When I check the github repo: https://github.com/rainlab/googleanalytics-plugin/blob/master/reportwidgets/trafficoverview/partials/_widget.htm

Which I know is working, will use that to rewrite the d

[2019-11-28 01:08] bennothommo commented on #4783
@ayumi-cloud I've never had much luck searching events through it as well, unfortunately. Unless those events are mentioned in a page in the normal docs.

[2019-11-28 05:01] bennothommo commented on #4790
@LucasZdv  I've resolved the error you had encountered with e9abdf7783366be643be3c0023500bdc4a32d939, however, there's potentially more incompatibilities with PHP 7.4 at the moment, including some introduced from our vendors. I would recommend locking your PHP version down to 7.3 as @LukeTowers has suggested for now.

[2019-11-28 13:04] mjauvin commented on #3755
I confirm this fixes the issue on Android mobile browsers below:

- Firefox
- Opera
- Google Chrome
- Microsoft Edge

[2019-11-28 13:05] mjauvin commented on #3755
Good work @daftspunk !

[2019-11-28 14:24] bennothommo commented on #3982
Fixed by #4789.

[2019-11-28 14:24] #3982 closed

[2019-11-28 14:49] tombien opened #4794 "Missing settings for InlineStyle button in Froala editor"
If I use "inlineStyle" button in Froala, there is "Big red" and "Small blue" css class to select in editor toolbar.

I think, setting for "inlineStyle" button is missing in "Settings > Editor settings > Markup classes"

[2019-11-28 14:59] bennothommo commented on #4794
@tombien Please feel free to provide a PR for this if you would like.

[2019-11-28 15:10] MaTToX3 commented on #4776
Can this be confirmed if it is a bug or did I miss something? I am close to the production for this project.

[2019-11-28 15:14] tombien commented on #4786
I made some research about this and in my another installations of build 458 it works. Maybe it is only "something" with this particular installation.

[2019-11-28 15:15] tombien commented on #4785
I made some research about this and in my another installations of build 458 it works. Maybe it is only "something" with this particular installation.

[2019-11-28 16:10] #3755 closed

[2019-11-28 16:10] LukeTowers commented on #3755
Fixed by https://github.com/octobercms/october/commit/566f138eabd8032aefc9aed84fe67ab4f8e6011f

[2019-11-28 16:35] LukeTowers commented on #4648
Fixed by https://github.com/octobercms/october/commit/7e98e199a46040dbf22b8211d33115ffae780e32

[2019-11-28 16:35] #4648 closed

[2019-11-28 19:26] mjauvin commented on #4404
For what it's worth, I reverted to 65ce89399df8bd81180776cb47293cc60fcf3b1d of october/library and the generated thumbs for animated gifs did NOT retain the animation.

I also went back to v1.0.419 (ece4341a6be4e28d4d1dbf773200b0b7140a156f) and could not get animated thumbs either.

[2019-11-29 03:07] bennothommo commented on #4381
@LukeTowers (and anyone who is interested in preparing for the update)

Please refer to the following PHP docs pages regarding upgrading your PHP version. This will be especially important for any users still running PHP 7.0 or PHP 7.1, as Laravel 6 requires PHP 7.2.

**Migrating from PHP 7.0 to PHP 7.1**
- [Deprecated features in PHP 7.1](https://www.php.net/manual/en/migration71.deprecated.php)

[2019-11-29 11:35] adamo commented on #4335
I've found some workaround fot displaying the relation window in my case the `add`
In the controller I override the method

[code]

I'm using a column from the relation not the pivot table.

[2019-11-29 16:11] bennothommo commented on #4268
Fixed by 128312106955d894528d448700f1fc66792b7826. Please let us know if there's any further problems.

[2019-11-29 16:11] #4268 closed

[2019-11-30 22:52] ayumi-cloud opened #4797 "PHP 7.4 support"
Today, been running a few tests with php 7.4 and October cms, it seems like many plugins are not working, but digging deeper it seems to be October CMS side and not the plugins.

Please can people investigate further.

Some examples:

### Example 1

Clear file cache plugin (13,056 installations) see github issue: https://github.com/alserom/octobercms_clearcachewidget/issues/18

The Stack Trace is

[2019-11-30 23:07] ayumi-cloud commented on #4797
- Digging deeper it appears there are loads of changes (nothing like 7.2 to 7.3) see below:

# Changes and deprecations

Besides new features, there are also lots of changes to the language. Most of these changes are non-breaking, though some might have an effect on your code bases.

Note that deprecation warnings aren't per definition "breaking", but merely a notice to the developer that function

[2019-12-01 00:46] bennothommo commented on #4797
I've suggested  [here](https://github.com/octobercms/october/issues/4790#issuecomment-559342379) that people should hold off on updating their October sites to PHP 7.4 for the moment. That being said,  the errors are pretty much entirely deprecations, so if you want to set PHP to ignore deprecations, it's quite possible that everything will still work as is.

This will also likely be resolved with

[2019-12-01 01:43] sarahjabado commented on #4729
Just bumping regarding the auto-bot. :)

[2019-12-01 01:53] bennothommo commented on #4729
@sjabado Already done :)

[2019-12-01 01:55] sarahjabado commented on #4729
Chur Cuzzy!!!!

[2019-12-01 07:03] LukeTowers commented on #4797
@ayumi-cloud also feel free to submit PRs to fix the errors as you find them, if the fix doesn't break support for 7.0 to 7.3 it'll be merged (until l6 is done, then it just needs to support 7.2)

[2019-12-01 10:52] ayumi-cloud commented on #4797
@bennothommo @LukeTowers I think it's misleading calling it php7.4 it's more like php8.0-rc.0

I had over 130 different errors in the event log (it's not a simple fix) for october.

I'm hoping that you guys will update October to Laravel 6 first as they have done some work to update to php7.4 see there pull request here: https://github.com/laravel/framework/pull/29482

When that is done, I can sta

[2019-12-01 10:53] bouzidseyf commented on #3184
[Symfony\Component\Debug\Exception\FatalErrorException]
  Cannot use File as File because the name is already in use
solution this pb?

[2019-12-01 11:18] ayumi-cloud opened #4798 "invalid security token issue"
I see this issue everyday, when I try to login to the backend.

Step to reproduce:

1. Day 1: Login to the backend.

2. Don't bother to logout, instead just close the computer down for the day.

3. Day 2: Login to the backend and enter your details, after that the cms tries to log you in and redirects to a blank screen saying "invalid security token".

4. Do a screen refresh and can log back in (b

[2019-12-01 17:49] LukeTowers commented on #3184
@bouzidseyf full stack trace please, and what version of October are you using?

[2019-12-01 17:55] LukeTowers commented on #4798
@ayumi-cloud the CSRF token is tied to the session and is stored in a hidden field on the login page. If your browser has a CSRF token loaded that doesn't match your current session (usually happens if your configuration is setup with a short session lifetime or has errors in configuration that mean that sessions don't persist at all)

[2019-12-01 19:55] ayumi-cloud commented on #4798
After reading your comment I went to check the source code of the auth.htm and it seems I set the backend service worker to true by mistake and the service worker was displaying an old version every time.

[2019-12-01 19:55] #4798 closed

[2019-12-02 01:00] bennothommo commented on #4439
@host138 I've done a test on this, and found sorting doesn't work when the relation has a specified order clause in its definition.

With your example above in the Test plugin, the User model has a `belongsTo` definition with the Role model which has `order` set to the `name` field. Because of this, when the Lists widget tries to re-order the records based on the column name picked, the name order

[2019-12-02 01:28] bennothommo commented on #4439
Fixed by 9f8d8ec9fabad06e0eb4b222611910e608729074.

[2019-12-02 01:29] #4439 closed

[2019-12-02 12:26] filipac commented on #4797
Laravel 6 upgrade is taking forever, do you have an estimate? It's always recommended to be on the latest php version and this breaks october sites.

[2019-12-02 14:09] bennothommo commented on #4797
@filipac No firm estimate yet - it was only started last week. Your patience will be much appreciated. As stated above, you can likely use October just fine with PHP 7.4 if you set up your PHP instance to ignore deprecations.

[2019-12-02 14:42] ayumi-cloud commented on #4797
## Automated code analysis tools

Automated code compatibility testing helps to detect possible problems in your code.

- https://github.com/PHPCompatibility/PHPCompatibility

- https://github.com/squizlabs/PHP_CodeSniffer

- https://github.com/phan/phan

(Using PHPCompatibility requires you to first install PHP CodeSniffer globally and then configure PHPCompatibility as the code standard to use).

[2019-12-03 01:29] multiwebinc opened #4799 "Browser client side validation not running on backend forms"
If I have the following yaml for a plugin's registered settings:

[code]

This does not perform any validation; either client-side (using [form data validation](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation)) or server-side. In the example above, I can submit any number (e.g. -1000, 0, 1000) and it will save it to the database. I also tried sending a string in the HTTP

[2019-12-03 03:09] bennothommo commented on #4799
@multiwebinc I believe the only validation rule implemented for Settings is "required" at this stage. Feel free to submit a PR that allows the insertion of validation rules in the `modules/system/behaviors/SettingsModel.php` file.

[2019-12-03 05:27] daftspunk commented on #4799
If I understand correctly, you should be using a dedicated Model for these settings. Here are some examples of using validation with the settings model:

- System
https://github.com/octobercms/october/blob/91d7b980a9abd299f0300b878b43410934a696b4/modules/system/models/MailSetting.php#L41-L47

- GA plugin
https://github.com/rainlab/googleanalytics-plugin/blob/master/models/Settings.php

Hope this h

[2019-12-03 07:11] multiwebinc commented on #4799
@daftspunk You're absolutely right. I somehow missed the section on https://octobercms.com/docs/backend/forms#validate-form-fields.

However what about client-side validation? This doesn't appear to be happening for me. Is this as designed?

[2019-12-03 15:04] TheFehr opened #4800 "Recordfinder's remove not sending correct value"
- OctoberCMS Build: 458
- PHP Version: 7.3.8
- Database Engine: SQlite
- Plugins Installed: Luke Towers.Snappy-v1.0.5
Alexey Bobkov, Samuel Georges.Builder-v1.0.26

### Description:
I have a recordfinder on a form and a dropdown list which is dependsOn that recordfinder.
Now when I remove the selected record via the "X" remove button in the recordfinder, the xhr call to update all dependsOn fields

[2019-12-03 16:01] LukeTowers commented on #4799
@multiwebinc I think something's missing that's supposed to trigger the browser's built in client side validation. I believe form save buttons were recently changed from type="submit" to type="button" to prevent accidental form submissions when hitting enter inside of fields, so you can start looking there.

[2019-12-03 16:15] LukeTowers commented on #4797
@filipac consider contributing to the bounty. I said I'd be able to prioritize working on it over client work when it gets to 2,400 USD.

[2019-12-03 16:37] LukeTowers commented on #4800
@TheFehr Sounds like a race condition to me. Try changing `data-request-success` to `data-request-success="$locker = $('#<?= $field->getId() ?>'); $locker.val(''); $locker.trigger('change')"`

[2019-12-03 20:38] daftspunk commented on #4799
Yes, client-side validation is somewhat redundant because the server is the only point that matters (clients can be tricked to bypass validation)

Instead, we emulate client-side validation with custom responses coming from the server. The UX is mostly the same and is intentionally preferred over "rolling validation" where the input validates as you enter data, which is seen as micromanaging the u

[2019-12-03 21:09] multiwebinc commented on #4799
@daftspunk I get your point, which is why I was wondering if this was intentional behavior or not.

Anyway see the draft PR I submitted since it's pretty trivial to implement in case you decide to.

[2019-12-03 21:31] daftspunk commented on #4792
Fixed in ee4078ac44afb61848ed5973694282719ee6826e

Thanks!

[2019-12-03 21:31] #4792 closed

[2019-12-03 23:10] tombien commented on #4794
For clarify. It should be "inlineClass" button, not "inlineStyle" - [Froala doc of this](https://www.froala.com/wysiwyg-editor/docs/options#inlineClasses)

Goal is to be able to add some classes to selected word(s) with a `span` element. Like you can do it for paragraph, table, etc. for now.

[2019-12-04 07:10] LukeTowers commented on #4799
@multiwebinc that looks decent to me, feel free to submit it here for review

[2019-12-04 08:05] multiwebinc commented on #4799
@LukeTowers Done.

[2019-12-04 08:12] robinbonnes opened #4801 "Repeater: Collapse all by default and accordion style"
# Feature request

My client requested two features for the repeater formwidget and I would like to know if there is a bigger demand for this.

1. Collapse all repeater items by default. This is needed for the pages plugin, to give more overview to a static page with a lot of sections (repeater items) active. Example:

![image](https://user-images.githubusercontent.com/5117166/70124554-5918be80-16

[2019-12-04 08:22] LukeTowers commented on #4799
@multiwebinc umm, you've created a PR from your fork to your fork. You need to create a PR from your fork to this repo.

[2019-12-04 08:25] LukeTowers commented on #4801
That sounds like a good idea to me @robinbonnes. Not sure about the config names but that's a minor detail that could be improved on later.

[2019-12-04 08:38] robinbonnes commented on #4801
For now I can live with this quick-and-dirty fix to collapse repeaters by default on static pages:

[code]

[2019-12-04 08:44] LukeTowers commented on #4404
@lnmput please provide the file that you're using to test that works

[2019-12-04 08:52] TheFehr commented on #4800
@LukeTowers I added `data-request-success="var $locker = $('#<?= $field->getId() ?>'); $locker.val(''); $locker.trigger('change')"` and now it's working like a charm.
Thank you very much for the quick reply. Should I do a PR for this real quick?

[2019-12-04 08:54] LukeTowers commented on #3416
Fixed by https://github.com/octobercms/library/commit/53ef96b69925ed5310581de1608d96b2dbc127e9

[2019-12-04 08:55] LukeTowers commented on #3127
Fixed by https://github.com/octobercms/library/commit/53ef96b69925ed5310581de1608d96b2dbc127e9

[2019-12-04 08:58] LukeTowers commented on #4800
Go for it @TheFehr

[2019-12-04 09:30] daftspunk commented on #4709
Fixed by https://github.com/octobercms/library/pull/438

[2019-12-04 09:30] #4709 closed

[2019-12-04 10:24] SebastiaanKloos commented on #4801
@robinbonnes Sounds like a good improvement. Do you need any help for creating a PR?

[2019-12-04 10:59] yapsr commented on #3416
Excellent!

[2019-12-04 16:14] LukeTowers commented on #4800
Fixed by #4802

[2019-12-04 16:14] #4800 closed

[2019-12-04 16:19] multiwebinc commented on #4799
@LukeTowers Oh, I see. I have no idea how to change the repo I'm submitting a PR to. My git skills are next to zero.

[2019-12-04 16:28] LukeTowers commented on #4799
@multiwebinc that's fine. Go to https://github.com/octobercms/october/compare/develop...multiwebinc:multiwebinc-patch-2, it's filled in for you.

The way you get to that in the future is clicking "Create PR" on this repository, and then clicking "Compare across forks" and selecting your fork and relevant branch as the Head Repository and our repo and the develop branch as the base repository.

[2019-12-04 16:33] multiwebinc commented on #4799
@LukeTowers I'll keep that in mind. Thanks.

[2019-12-05 02:25] bennothommo commented on #4404
@LukeTowers I believe this is the image that @lnmput used that previously worked but does not now: https://imgur.com/Z1EDsyz

[2019-12-05 08:21] lautsevich commented on #4708
@LukeTowers @alekseybobkov @daftspunk what do you think about my proposal regarding using Crowdin?

[2019-12-05 08:27] daftspunk commented on #4713
Hey @filipac! Thanks for the bug report

This has been fixed in https://github.com/octobercms/library/commit/b96ca2682c4fc9c19885bef246244b1bc7160298

[2019-12-05 08:27] #4713 closed

[2019-12-05 08:55] daftspunk commented on #4473
I have been unable to replicate this in the latest `develop` branch. I regret to inform that a lot of these changes were poorly implemented and had to be rolled back. The contributor of these features will need to make another attempt, perhaps in a more organised fashion where it is possible to review each enhancement independently or propose the changes incrementally

[2019-12-05 08:55] #4473 closed

[2019-12-05 09:09] daftspunk commented on #4739
I can confirm this functionality is currently working as expected. See the following example as an alternative method of replication and proof of this assertion:

https://github.com/octoberrain/test-plugin/blob/fe2182f2ac48119b2c76f1493d9327bcde8b6fe0/models/person/fields.yaml#L71-L79

There may be something else wrong with your code @patriknemecek. Perhaps you can perform your own testing with th

[2019-12-05 09:21] daftspunk commented on #4335
Confirmed this issue has been fixed by 5f8a5454eeb401d5ac13b5b644353b8dcaf0de14

@bennothommo this is yours to close and claim the bounty!

[2019-12-05 09:26] daftspunk commented on #4335
Replication instructions:

1. Install the [test plugin](https://github.com/octoberrain/test-plugin)
1. Add the `order` sorting to the `roles_pivot` definition inside file **plugins\october\test\models\User.php**

        'roles_pivot' => [
            'October\Test\Models\Role',
            'table' => 'october_test_users_roles',
            'pivot' => ['clearance_level', 'is_executive'],

[2019-12-05 09:31] bennothommo commented on #4335
Thanks heaps @daftspunk :D

[2019-12-05 09:40] #4335 closed

[2019-12-05 09:56] ttshivhula opened #4806 "Bullshit CMS"
Working on octobercms project. why does this cms exist ? who started this ? i wish they die a horrible death !!!

[2019-12-05 10:01] daftspunk commented on #4806
Thanks for sharing

[2019-12-05 10:01] #4806 closed

[2019-12-05 22:32] LukeTowers commented on #4708
@lautsevich I'm not opposed to doing so, but not really sure what's involved with that. How does it take translations provided on their service and convert them into the code files? Is there a guide or something you can link me to take a look at?

[2019-12-06 13:48] SebastiaanKloos commented on #4601
@LukeTowers Issue still fixed with `78.0.3904.108`

[2019-12-06 16:19] #4601 closed

[2019-12-06 22:05] pkurg opened #4808 "Multiple repeaters with similar names stored in the viewBag on the page."
I am trying to add 2 repeaters to the page.
Everything works fine, but if the name of the second viewBag (viewBag [dogy]) starts with the name of the first (viewBag [dog]) we get the error "" Undefined offset: 0 "on line 398 of / srv / www / devv / modules / backend / formwidgets /Repeater.php ".

[code]

If you change viewBag [dogy] to viewBag [ddogy], everything starts working fine again.

The e

[2019-12-07 13:24] bennothommo commented on #4808
@pkurg Thanks for the report. Confirmed bug. I believe build 460 is now locked, so the fix for this will need to be done in 461.

[2019-12-07 17:38] Nvironmental opened #4810 "Upload Error - Division by zero"
Hi there,

I am trying to upload a csv as part of the import ( I have created import functionality for own plugin, however I wanted to check whether did made mistakes in my code so I also installed  [User import/export](https://octobercms.com/plugin/vojtasvoboda-userimportexport) plugin to check)
I am getting the same error (as in the following image attached) when i try to upload a csv either thr

[2019-12-07 21:10] w20k commented on #4810
Hi, could you paste here your error logs it might give us a hint what's happening in there?

[2019-12-07 23:58] ayumi-cloud commented on #4601
⚠️Warning ⚠️ As of December 2019 there is an issue in the Firefox browser with the media manager, see video of the error here: https://youtu.be/Rlq9R3WIDfQ

If you or your clients use Firefox, I suggest adding this commit to fix it: 1e449c8

🔥🔥🔥

[2019-12-08 05:38] Trysystems commented on #4623
Still actual

[2019-12-08 06:57] Nvironmental commented on #4810
Sure, below is the the is shared log file (as txt).  However would like to point out that I don't think it logs any errors as such particular to this task.
Also, noticed that the file does get added to database in the `system_files` table (below is the attached screenshot
![Screenshot 2019-12-08 at 12 22 59 PM](https://user-images.githubusercontent.com/31243747/70385732-fa757c80-19b5-11ea-9e4f-a5d

[2019-12-08 14:22] bennothommo commented on #4810
@Nvironmental Would you mind also providing the CSV you are trying to upload as well (feel free to strip out or replace any sensitive data in there)?

[2019-12-08 14:32] Nvironmental commented on #4810
Sure.
I can't seem to upload it here directly as github won't accept csv file type.
Here is the link to the [file](https://gofile.io/?c=dKHHXQ)

[2019-12-08 16:05] ayumi-cloud commented on #4381
@bennothommo @LukeTowers

I got a question on error handling, Laravel 6 says it's moving to use ignition. Will October customize this package and add the extra features?

So I was wondering if the api feature would be added to the settings?

Links:

https://flareapp.io/ignition
https://laravel-news.com/ignition
https://github.com/facade/ignition

[2019-12-08 16:50] lnmput commented on #4404
It seems this problem is difficult to solve

[2019-12-08 17:52] Samuell1 commented on #4381
@ayumi-cloud I think it will be because its already in laravel core.

I like to see if ocms can make something like Flare does but for free because to use Flare you need to pay monthly.

[2019-12-08 18:01] w20k commented on #4810
@Nvironmental could you also show your import/export yml file?
Found one line in your stack trace: ` file config_import_export.yaml defined for Backend\Behaviors\ImportExportController.`
It might be relevant.

[2019-12-08 18:33] Nvironmental commented on #4810
Sure.  Here is the code in my `config_import_export.yaml` file.

[code]

[Here](https://gofile.io/?c=SpTw9s) is the link to the actual yaml file just for reference.

[2019-12-09 09:39] 36864 commented on #4810
Hi. The log file you posted has a bunch of exceptions and it's hard to tell which could be related to your issue.

Can you clear your log file entirely, and then try to upload the csv again? The log file should then only contain relevant information and it will be easier to find the problem.

[2019-12-09 09:56] ayumi-cloud commented on #4381
@Samuell1 Gonna add your comment to the "Revenue Generation Ideas for Core Team" thread.

---

I forgot to also ask about the custom error tabs in laravel 6 ..

Is October going to add any of these third party packages for error handling?

https://github.com/Astrotomic/ignition-stackoverflow
https://github.com/mazedlx/ignition-migrations
https://github.com/stefanbauer/ignition-laracasts-tab

[2019-12-09 09:59] ayumi-cloud commented on #3683
Credit @Samuell1 adding his suggestion,

https://flareapp.io/

[2019-12-09 12:33] xf039 opened #4812 "October Rain not compatible with PHP 7.2"
- OctoberCMS Build: master & october-1.0.460
- PHP Version: 7.2

### Description:
```php artisan october:util set build```
```PHP Parse error:  syntax error, unexpected ':', expecting '{' in /octobercms/public/vendor/october/rain/src/Support/helpers.php on line 302```

[code]

### Steps To Reproduce:
php72 composer install

No composer installation warning.

[2019-12-09 12:35] #4812 closed

[2019-12-09 13:01] xf039 opened #4813 "Method addSeconds does not exist."
```Method addSeconds does not exist.```
```vendor/laravel/framework/src/Illuminate/Support/Traits/Macroable.php line 96```

https://github.com/briannesbitt/Carbon/issues/1709

OctoberCMS is depending on Laravel 5.4, which is using a broken Carbon package.

I tried updating the Carbon package but unfortunately the error is still occurring.

[2019-12-09 13:10] #4813 closed

[2019-12-09 13:50] Nvironmental commented on #4810
Hi @36864,

I tried clearing the log file and then uploading the file however it doesn't log anything to the log files. It's empty. [Here](https://imgur.com/LPXOsZK) the link to the screen capture of the mentioned task.

[2019-12-09 14:23] bennothommo commented on #4808
@pkurg Would you mind testing the fix in #4814 and let us know if that resolves the issue for you?

[2019-12-09 14:28] bennothommo commented on #4335
@vakopian Would you mind testing the fix provided above, and releasing the bounty if this has sorted out the issue for you?

[2019-12-09 14:35] mjauvin commented on #4808
@bennothommo you could launch an octodock instance with this PR for testing, I think this should be used for all PRs since it puts everyone on the same environment/libraries for testing.

What do you think?

[2019-12-09 14:40] bennothommo commented on #4808
@mjauvin I believe @LukeTowers has discussed that with @petehalverson as a possible thing to do down the track, but for the moment, I've only been posting links to it very sparingly (generally via DM) as there's no control over what someone may get up to with the instance if it's made public.

[2019-12-09 15:39] japomani opened #4815 "Build 460 breaks pages loaded in an iframe"
After updating to Build 460, my pages, which are loaded into an iFrame of a web application, simply returned a blank page with the text:  "Invalid security token"

These pages have worked in this environment for over 6 years until today when I updated the system today.

I traced the error down to this line:
https://github.com/octobercms/october/blob/882ca6019c9c1b124e6e3f052b6aec02b6fa826b/modules

[2019-12-09 15:55] daftspunk commented on #4815
I suspect this may be related to #4598 that introduces a certain failure when there is no session available. Can you test the following:

- Re-enable the cms.enableCsrfProtection option
- Navigate to file `modules\system\traits\SecurityController.php`
- Modify Line 65

[code]

To the new code

[code]

Please report back your findings

[2019-12-09 16:01] japomani commented on #4815
I made the change and it had no effect, still got invalid security token error

[2019-12-09 16:18] daftspunk commented on #4815
This appears to be caused by d31006ae1a1f5a709e9a100d0096a5633ab820b5

Has been rolled back in 260e1f503fe18588f099de5efc928cfe941eed77

Should be fixed in Build 461

[2019-12-09 17:07] mjauvin commented on #4404
So far, I have not been able to confirm this used to generate animated thumbnails.

[2019-12-10 07:13] pkurg commented on #4808
Yes, it solves the problem.

[2019-12-10 08:44] daftspunk commented on #2361
I'm unsure why this was reopened, the OP issue should have been fixed already

- https://github.com/octobercms/install/pull/87
- https://github.com/octobercms/library/commit/d51e539614068ba9f55910f55eea2f68aa02a4bf

If there is a new issue, please reopen a new issue

#### Tests pass

[code]

[2019-12-10 08:44] #2361 closed

[2019-12-10 08:49] daftspunk commented on #3054
The issue in #2361 appears to have been fixed. This is a different issue that may require further attention.

[2019-12-10 08:51] daftspunk commented on #2415
Apologies that this DataFeed idea was never really finished because in general, it is a bad idea to combine SQL queries like this, it doesn't scale very well.

[2019-12-10 08:57] daftspunk commented on #2498
Although I don't really recommend using FK constraints; Eloquent handles this very well already. We may not want to introduce this logic because it will cause problems with soft deleting--restoring the deleted relation will not restore the relationship

It is worthwhile to note this can be handled at the database level using `ON DELETE SET NULL`

[2019-12-10 08:57] #2498 closed

[2019-12-10 09:10] daftspunk commented on #1813
This is only a cache file and there has not been any demonstrated problem with leaving deleted plugins in this file. Upon inspecting the logic, this appears to be a harmless artefact

[2019-12-10 09:10] #1813 closed

[2019-12-10 09:19] lautsevich commented on #4307
@bennothommo, thx! =)

[2019-12-10 09:21] #4679 closed

[2019-12-10 09:33] 36864 commented on #4810
If there is nothing in your october logs, there is a good chance that the upload is being rejected by your webserver before it hits october.

Do you have access to your apache / nginx error logs?

Does the same error happen if you upload a different type of file? If you haven't tested yet, please do so now. If you can't upload that either, the problem may be lack of write permissions to the filesy

[2019-12-10 10:06] lautsevich commented on #4708
@LukeTowers, all you need to do is to connect the Crowdin account to a specific repository.

![image](https://user-images.githubusercontent.com/196445/70519608-46a6f500-1b4d-11ea-8d01-4a728be3bc51.png)

Then you should choose the source branch with the lang files and specify the translations branch for Crowdin commits.

![image](https://user-images.githubusercontent.com/196445/70519779-8a016380-1b

[2019-12-10 10:12] Eoler opened #4817 "Relation form field preview visual glitch"
- OctoberCMS Build: 460
- PHP Version: 7.3
- Plugins Installed: October.Test

### Description:
Relation checkboxes are shown without margins in backend form preview mode:
![RelationField-preview](https://user-images.githubusercontent.com/680032/70520589-13a93500-1b3e-11ea-885a-f90b3e2201bc.png)

### Steps To Reproduce:
Open the following backend URL with Test Users Preview:
`/{backend}/october/tes

[2019-12-10 10:58] franko108 opened #4818 "CloudFlare Flexible HTTPS with backendForceSecure"
Hi,
not sure is it a bug, looks like.
I installed ssl, frontend is working properly.
When I edit **config/cms.php**:
`'backendForceSecure' => null,`
and change to:
`'backendForceSecure' => true,`
I got error as not properly redirect.

Now, when I edit **modules/backend/classes/Controller.php**
[code]
and change **return !$forceSecure;** to **return $forceSecure;**
https on backend is working prope

[2019-12-10 11:25] gergo85 opened #4819 "UI issues on Firefox"
OctoberCMS: 460 (and 459, 458, ...)
Firefox: 71 (and 70, 69, ...)

1. There is a dotted border around the tab title. **FIXED**
![issue1](https://user-images.githubusercontent.com/2959112/70525582-fda07200-1b47-11ea-9b70-e9025fead2ce.JPG)

2. There is a dotted border around the menu, when it is active. **FIXED**
![issue2](https://user-images.githubusercontent.com/2959112/70525588-02652600-1b48-11ea

[2019-12-10 11:40] Eoler commented on #3064
I tested it on v460 - it fails the same way as in first part of this message: https://github.com/octobercms/october/issues/3064#issuecomment-326008148
step-by-step (1. to 4.) including embedded screen capture.

[2019-12-10 17:37] LukeTowers commented on #3064
@Eoler could you make a new issue with a detailed description please?

[2019-12-10 17:43] LukeTowers commented on #4818
@franko108 are you using CloudFlare Flexible SSL?

[2019-12-10 17:45] LukeTowers commented on #4708
@lautsevich thanks for the info! I'll bring this up with the core team and get their thoughts on it.

[2019-12-10 17:51] LukeTowers commented on #4810
@Nvironmental can you check your web browser's dev console for any error messages that popup when that error message shows up? If the file gets added to the system_files table then the problem is probably client side.

[2019-12-10 17:55] maartenmachiels commented on #4786
Hi, I can confirm that I'm encountering this bug aswel, both on my localhost development environment and in a staging environment. I'm running version 458 and PHP version 7.1 and 7.3 respectively.

Adding an image into a Froala Wysiwyg field either by dragging or dropping or by clicking on the insert image button and then clicking to browse and upload from your pc results in an image with a slight

[2019-12-10 18:04] LukeTowers commented on #4568
Fixed by https://github.com/octobercms/october/commit/70e57120d0e65d7b40bf6b89ebe42afeeaa1fbf3

[2019-12-10 18:04] #4568 closed

[2019-12-10 18:11] Nvironmental commented on #4810
Hi @36864,

I don't think there is any issue with the web server as it is being able to upload files in the different sections.
I am currently developing on my local machine with `valet` setup. I have search through the nginx error logs but haven't found anything concrete (have attached the log file below).

 I also noticed something in the database, the file actually does get uploaded and the ref

[2019-12-10 18:13] LukeTowers commented on #4815
Temporarily re-opening this so that we remember to finish our internal discussion on it before launching 461.

[2019-12-10 18:21] Nvironmental commented on #4810
Hi @LukeTowers,

I do get a error on the console, however it is to do with POST request failure (attaching ref screenshots )

![Screenshot 2019-12-10 at 11 45 46 PM](https://user-images.githubusercontent.com/31243747/70556861-b34edd80-1ba7-11ea-95d9-6b5c271dabc2.png)
![Screenshot 2019-12-10 at 11 46 10 PM](https://user-images.githubusercontent.com/31243747/70556863-b3e77400-1ba7-11ea-934f-1d832378

[2019-12-10 18:23] LukeTowers commented on #4810
@Nvironmental if you click on that request in the network tab, what are the request headers, response headers, and response body?

[2019-12-10 18:29] LukeTowers commented on #4813
@xf039 why'd you close this? Also the current Laravel version October uses is 5.5 and we're working on updating to L6 which also includes an update to Carbon 2. See #4381 for more info

[2019-12-10 18:31] LukeTowers commented on #4812
@xf039 why'd you close this?

[2019-12-10 18:34] LukeTowers commented on #4381
@ayumi-cloud Ignition is one of the things on my list to look into further. I'm thinking that October is probably going to keep it's current error page unless it's incredibly easy to integrate ignition, but if we don't integrate it into the core then it could be released as a plugin.

[2019-12-10 18:54] Nvironmental commented on #4810
@LukeTowers here the screenshots of request headers, response headers and response body

![Screenshot 2019-12-11 at 12 17 53 AM](https://user-images.githubusercontent.com/31243747/70558917-c794d980-1bab-11ea-91e0-107281763026.png)
![Screenshot 2019-12-11 at 12 17 57 AM](https://user-images.githubusercontent.com/31243747/70558918-c794d980-1bab-11ea-8b6a-ce6b1ca6266d.png)
![Screenshot 2019-12-11 at

[2019-12-10 18:55] franko108 commented on #4818
@LukeTowers , yes, that's correct, CloudFlare Flexible SSL is installed and it is proxied by CloudFlare.

[2019-12-10 21:13] daftspunk commented on #4815
This is a complex issue, the issue mentioned in the rollback kicked off a series of changes the lead to this outcome. All derived commits have been rolled back as well, including 8da798a5cd2f5f640719550eebebc03e9a9d29d1

As discussed internally we will need to look at this again the future

[2019-12-10 21:13] #4815 closed

[2019-12-10 21:59] RomainMazB commented on #3117
Hi.
I'm facing the exact same issue with Valet for windows (precision if it could help).

My local environment use PHP 7.4 (which [I know is not stable for now](https://github.com/octobercms/october/issues/4790)) but I don't think that matters.

Composer install fails with the same error, again and again, here is a full trace
[code]

[2019-12-10 22:09] LukeTowers commented on #3117
@RomainMazB October wasn't compatible with PHP 7.4, Build 461 (which should be marked stable and in the master branch in about a week or so) should address that. In the meantime, you can use the dev-develop branches of the October dependencies to get the PHP 7.4 compatible versions. See https://octobercms.com/docs/console/commands#console-install-composer for details on how to do that.

[2019-12-10 22:15] LukeTowers commented on #4818
@franko108 try installing the CloudFlare plugin: https://octobercms.com/plugin/heathdutton-cloudflare. The way CloudFlare Flexible SSL works is that requests from the browser to CF are HTTPS but requests from CF to the server are HTTP. Since the server only sees the requests from CF to itself it tells CF to redirect to the HTTPS site, which CF then passes onto the browser, but then that just creat

[2019-12-10 22:16] LukeTowers commented on #4818
I would also recommend if your server is properly setup to respond to HTTPS connections (i.e. it has a certificate generated and HTTPS works properly without CF being in front of it) to change your CF SSL settings to be Full

[2019-12-10 22:18] LukeTowers commented on #4810
@Nvironmental do you have debug mode enabled?

[2019-12-10 22:32] RomainMazB commented on #3117
@LukeTowers I was trying to switch back to php 7.3 which I thought wasn't the problem. But it is: when switched back, I can install octobercms through the composer.

The project I'm starting is a long-time development so I'll use the dev-develop branch as well for now.

Thanks for the advice.

[2019-12-10 22:39] LukeTowers commented on #3117
No problem! I always recommend using dev-develop anyways when developing a project, that way you can find any bugs that might come up as soon as they do and get them fixed promptly.

[2019-12-11 00:06] #4745 closed

[2019-12-11 06:38] Nvironmental commented on #4810
@LukeTowers yeah.

![Screenshot 2019-12-11 at 12 06 19 PM](https://user-images.githubusercontent.com/31243747/70597564-aaddbd80-1c0e-11ea-8459-b342938637a9.png)

Is there any other file/place where I may have this setting missed ?

[2019-12-11 07:44] Samuell1 commented on #4810
If you getting this error you should check nginx, apache logs. This must be server error.

[2019-12-11 08:51] tombien commented on #4786
@maartenmachiels, please, can you check #4785
It has same JS error like this. May be it is related with this. Thanks.

[2019-12-11 09:54] woshj commented on #4335
Sorry if this is the wrong place to ask but how do we apply these fixes I manually went into the backend files and changed them to match the ones in the above commit.

Once I had done that I now can't view the list within the backend at all way before because I get a chance to click the add button within the relation controller.

Error: "Call to undefined method Backend\Widgets\Lists::getSortColum

[2019-12-11 10:07] bennothommo commented on #4335
@woshj The `getSortColumn` method in `Backend\Widgets\Lists` was only made public in build 460, which is an edge update. You will need to enable `edgeUpdates` in your `config/cms.php` file to retrieve that version.

[2019-12-11 10:22] woshj commented on #4335
@bennothommo Thanks mate! Now I can sort the columns although you still can't use the Add Button as mentioned by OP

Unless I still have something wrong with my setup but it all seems okay to me and the sorting fix has been applied so I think it's working correctly

[2019-12-11 11:21] Eoler commented on #3064
Sorry but I don't understand why - this is one of the best bug report in whole tracker (edited & annotated video included), what details are missing?

[2019-12-11 12:43] Eoler commented on #4473
It was reverted in: https://github.com/octobercms/october/commit/199407f1a05da2bf4f1f7df8bb03b92cde34bd89

Changes were mostly working but repositories/author(s) misteriously vanished.
I have one forked OctoberCMS installation where customer manages ~300K records and backend keyboard entry is critical for their success. Guess I'll try to reimplement it with a plugin + form behavior, already handli

[2019-12-11 14:56] bennothommo commented on #3064
@Eoler your comment [here](https://github.com/octobercms/october/issues/3064#issuecomment-551109399) is suggesting a different issue to the initial issue that was posted, which is why @LukeTowers is asking for it to be registered as a different issue. It just helps us organise exactly which issues are still applicable in recent builds.

[2019-12-11 15:53] ayumi-cloud commented on #4819
I fixed points 1 and 2 and the pr's were merged, I just checked and now all the work I have done is not merged?

See here part of the work:

https://github.com/octobercms/october/blob/0666e959e6f97ed9a22a33904c4a4cc2affd9fa3/modules/system/assets/ui/vendor/focus-visible/focus-visible.js

https://github.com/octobercms/october/blob/0666e959e6f97ed9a22a33904c4a4cc2affd9fa3/modules/backend/assets/less

[2019-12-11 15:54] ayumi-cloud commented on #4819
I fixed points 1 and 2 and the pr's were merged, I just checked and now all the work I have done is not merged?

See here part of the work:

https://github.com/octobercms/october/blob/0666e959e6f97ed9a22a33904c4a4cc2affd9fa3/modules/system/assets/ui/vendor/focus-visible/focus-visible.js

and

https://github.com/octobercms/october/blob/0666e959e6f97ed9a22a33904c4a4cc2affd9fa3/modules/backend/assets

[2019-12-11 16:06] ayumi-cloud commented on #4818
Can I add a comment please, a while ago I spoke to the Cloudflare team with some issues with setting up HTTPS with October in Cloudflare.

They told me that using **CloudFlare Flexible is bad** and not recommend as it "Leaks HTTPS" so sometimes I was seeing HTTP connections. Because of this, setting some config settings in October gave me issues!

They told me to set and recommend using: **"Full (

[2019-12-11 17:12] LukeTowers commented on #4473
@Eoler @ayumi-cloud we're open to having those enhancements in core, we had to revert them because they weren't stable enough for 458. I'd love to see them resubmitted so that we can get it added into a future build after some more in depth testing.

[2019-12-11 17:44] ayumi-cloud opened #4821 "Create new list filter to show number of records found"
### Example of enhancement idea

Currently at the bottom of the lists it says: "Displayed records: 1-50 of 1334".

I was thinking at trying to add a new filter that says: "Filtered records: 33" in the filter section (at the top of the web page).

Saves me having to scroll all the way to the bottom of the web page, to find out the number of results each time.

### Mockup Screenshot

![image](https:

[2019-12-11 20:17] franko108 commented on #4818
@ayumi-cloud Hi, thanks, this seems to be helpful.
I've changed SSL setting on CloudFlare to "**Full (strict)**" and changed back in _modules/backend/classes/Controller.php_  within   `verifyForceSecure`  method to original value:
` return !$forceSecure;`
Also, in  _config/cms.php:
`'backendForceSecure' => true,`

Thanks to everyone for the help, apparently this was the problem.
Web is on VPS and

[2019-12-11 20:20] #4818 closed

[2019-12-11 20:28] ayumi-cloud commented on #4815
@LukeTowers @daftspunk

With regards to iFrames and CSRF.

Just to let you know in feb 2020 all browsers have changed their policies with iframes. They are now classed as "Third-party" and the iframe provider will need to set the correct `SameSite` and `Secure` cookies for them, e.g.

[code]

As for the person using the iframe they should also follow correct security protocols and use the correct

[2019-12-11 21:03] Eoler commented on #3064
Its the same issue:

[2019-12-12 01:40] bennothommo commented on #3064
@Eoler apologies, my mistake.

[2019-12-12 02:37] LukeTowers commented on #3683
I'd like to thank everyone for their great comments in this thread! We've started offering paid support contracts: https://octobercms.com/blog/post/premium-support-plans-are-here so we'll be closing this issue and focusing our efforts on that for now. Thanks again, and check out the paid support program!

[2019-12-12 02:37] #3683 closed

[2019-12-12 08:50] Eoler commented on #3064
No problem, guess I'm just bitter for Froala going the way of ExtJS/Delphi which probably leave us with non-maintaned RTE...

[2019-12-12 09:33] lautsevich commented on #4728
Great, thx!

[2019-12-12 11:09] #4808 closed

[2019-12-12 12:00] #4756 closed

[2019-12-12 12:00] #4742 closed

[2019-12-12 12:00] daftspunk commented on #4742
This should be fixed now, thanks!

[2019-12-12 12:00] daftspunk commented on #4756
This should be implemented now, thanks!

[2019-12-12 19:03] ayumi-cloud opened #4823 "Checkbox lists are not displayed correctly in builds 460 - 461"
Link: https://github.com/octobercms/october/issues/4573#issuecomment-528940494

Should look like this:

![image](https://user-images.githubusercontent.com/57409060/70741021-5d4a7900-1d12-11ea-93f3-9dce0e4d8772.png)

They look like this:

![image](https://user-images.githubusercontent.com/57409060/70741002-5459a780-1d12-11ea-90a2-5f0072585ee9.png)

My PR: https://github.com/octobercms/october/pull/

[2019-12-12 21:55] ayumi-cloud commented on #4823
Code that fixes the above is taken directly from my pr:

[code]

Add the above PR code and you get this screenshot:

![image](https://user-images.githubusercontent.com/57409060/70751930-74489580-1d29-11ea-8105-160cc58b421e.png)

Extra code to fix an extra issue:

![image](https://user-images.githubusercontent.com/57409060/70751999-9b9f6280-1d29-11ea-89d2-065fc16bb50c.png)

into this:

![image](htt

[2019-12-13 07:12] Eoler commented on #4817
Related to bigger issue: https://github.com/octobercms/october/issues/4823

[2019-12-13 12:42] SebastiaanKloos opened #4825 "RelationController issue when also using afterSave model event"
I have a model called activity and a model called Achievement. They are related by a belongsToMany relation.

When creating an Achievement from the Activity controller by using the RelationController, it writes two times the same relation to the pivot table. This is caused by my script in the afterSave event where I want to automatically create a relation between Achievement and Activities by usin

[2019-12-13 14:19] Samuell1 commented on #4825
Isnt this same issue? https://github.com/octobercms/october/issues/4246

[2019-12-13 14:27] SebastiaanKloos commented on #4825
@Samuell1 No I think it is different. My afterSave method creates new links to the other model with the sync method. The RelationController then assumes it needs to be linked because there are no checks for duplicate links

[2019-12-13 14:28] SebastiaanKloos commented on #4825
I have a workaround which bypasses the contains method

[2019-12-13 14:28] #4825 closed

[2019-12-13 15:53] adrenth opened #4826 "Invalid plugin registration order"
Hi OctoberCMS community! We (Van der Let & Partners) would like to address an issue we found in the OctoberCMS' plugin registration order.

- OctoberCMS Build: latest
- PHP Version: 7.0+
- Database Engine: any
- Plugins Installed: Acme.Demo1, Acme.Demo2

----

## Problem

Currently the `PluginManager` uses an `RecursiveIteratorIterator` https://github.com/octobercms/october/blob/master/modules/sys

[2019-12-13 16:30] LukeTowers commented on #4826
@adrenth we'd accept a PR to sort by dependency by default, this is an issue that multiple people have reported over the years and we just haven't gotten around to it yet.

[2019-12-13 17:17] LukeTowers commented on #4823
@ayumi-cloud could you submit a PR with this information with a screenshot of the demo page that you have as it is in 461 right now with how it should look and the code to make it look that way?

[2019-12-13 17:19] LukeTowers commented on #4817
@Eoler going to close this in favour of #4823, thanks!

[2019-12-13 17:19] #4817 closed

[2019-12-13 21:23] ayumi-cloud commented on #4823
https://github.com/octoberrain/test-plugin/pull/82

[2019-12-13 22:28] ayumi-cloud commented on #4823
Sure, will try and get a pr done in next few hours and test it on v461.

[2019-12-13 23:20] iSWORD commented on #3054
Since this was reopened. Please accept my apologies for the harsh language in the original report. I should have been more patient and understanding.

Thank you to all maintainers of October ❤️

[2019-12-13 23:50] daftspunk commented on #4823
This occurs due to the introduction of the `quickselect` option. The feature requires a reconstruction of the form field's markup and styles. The current implemented used a "hacked" approach that did not include this reconstruction, therefore the rendering appears inconsistent according to the conditions

The issue has been accepted and will be processed soon. If you require this feature to be exp

[2019-12-14 02:14] daftspunk commented on #4826
I understand how this could be frustrating but in most cases there are ways to influence the load order regardless of how they appear in the file system, using boot/register methods, using App::before(), etc.

The migrations should be accounted for in the update manager using the `$require` property:

https://github.com/octobercms/october/blob/91d7b980a9abd299f0300b878b43410934a696b4/modules/syste

[2019-12-14 02:30] mjauvin commented on #4826
@daftspunk can you elaborate on these:

[code]

[2019-12-14 03:20] daftspunk commented on #4826
Given a concrete example of the problem it would be easier to articulate an elaborate response. While it is usually ok to depend on this sorting for migrations, for service providers an issue arises where two equal dependencies fight for dominance and the issue remains; we only kick the can down the road. The solution beyond that only gets more complex and less performant for systems that don’t ca

[2019-12-14 05:14] daftspunk commented on #4826
From [Laravel book](https://leanpub.com/laravel):

To answer the above example:

Acme.Demo1 should register its interface via the `register` method, it is now the **owner** of this interface

[code]

To ensure availability Acme.Demo2 should override this via the `boot` method, it is now a **consumer** of this interface

[code]

In a rare case you want a **secondary consumer** to override the inter

[2019-12-14 17:12] #4347 closed

[2019-12-14 22:57] ayumi-cloud opened #4828 "Expand the character limit of the error message shown in the list view of system errors"
Currently event logs look like this:

![image](https://user-images.githubusercontent.com/57409060/70855512-cde4c780-1ec3-11ea-883d-1f07a4dbe412.png)

The problem I find is that, I can't read the whole message and have to open the error log, just to be able to read the message everytime!

So is the same annoying thing Google Search does! They cut the search result and stop you from hovering a mouse

[2019-12-15 00:06] #4752 closed

[2019-12-15 00:06] #4722 closed

[2019-12-15 16:03] ayumi-cloud opened #4829 "Enhanced List widget searching"
### Explainer

Currently October always you to do a search in the list widget for all fields.

However, sometimes a user may require a more in-depth search of the column data.

### Example

Let's take the following example list data:

Color | Quantity | Brand Name
---|---|---
yellow | 10 | Bob's Secret Sauce
blue | 12 | Best Widgets Company
orange | 30 | James Ever-Green Company
red | 26 | Big Yel

[2019-12-15 20:39] #4790 closed

[2019-12-15 20:47] daftspunk commented on #4790
Update: 7.4 should be supported as of Build 461

[2019-12-15 20:48] daftspunk commented on #4797
Update: 7.4 should be supported as of Build 461 (core October files)

Some plugins still may require attention

[2019-12-15 20:51] Awebsome commented on #4790
Thank you very much now works great work!

[2019-12-15 21:54] RomainMazB commented on #2841
Sorry to re-open this issue but it's still annoying for me in my use case:
I use Laravel valet (like many others I guess) and sometimes my clients ask me to show them the development website to be sure I'm on the right way.

To do that, I use the command `valet share` which provides me a temporary url so the client can see the work accomplished. In this case, all the static pages are linked with m

[2019-12-15 21:54] LukeTowers commented on #4829
@ayumi-cloud this already exists in the form of the text filter

[2019-12-15 22:04] LukeTowers commented on #4828
@ayumi-cloud try looking at the error log page on a smaller screen, say 1200px wide and you'll see why it's required.

[2019-12-15 22:19] ayumi-cloud commented on #4828
@LukeTowers I don't get what you mean?

Here's a width 1200px:

![image](https://user-images.githubusercontent.com/57409060/70870165-d1418700-1f87-11ea-9df8-7da774047b73.png)

- Seems fine to me.

iPad example:

![image](https://user-images.githubusercontent.com/57409060/70870199-1e255d80-1f88-11ea-9e4d-ebc50f976865.png)

- Seems fine to me.

Smart phone example:

![image](https://user-images.gith

[2019-12-15 23:44] ayumi-cloud commented on #4829
@LukeTowers very sorry, I totally wrote this incorrectly, let me try to write what I mean.

### First issue

Let's say I set the following columns, to view `Color` and `Quantity` - but make `Brand Name` invisible, e.g.

![image](https://user-images.githubusercontent.com/57409060/70870955-baa02d80-1f91-11ea-900f-5b852cc219e2.png)

When I do a search **October will search all three columns**.

I thi

[2019-12-16 00:18] bennothommo commented on #4829
@ayumi-cloud Limiting the scope of searched columns can be achieved by the `searchable` option that is defined in the [column definition](https://octobercms.com/docs/backend/lists#column-options) in the `columns.yaml` file for your list. The column being hidden has no bearing on the search.

[2019-12-16 06:25] LukeTowers commented on #4829
I disagree with that. There is the separate `searchable` property as @bennothommo said which is what you should use if you want a column excluded from search. I occasionally find it useful to include hidden columns in my search.

[2019-12-16 06:26] LukeTowers commented on #4828
Fair enough @ayumi-cloud, it was probably just an arbitrary number chosen to prevent the whole thing from being displayed which would definitely cause problems. Your regex change seems fine to me, just needs to get tested.

[2019-12-16 06:31] bennothommo commented on #2841
@RomainMazB Would you be able to clarify which URLs are using absolute paths? Is it all URLs or just the assets?

Would you be able to double-check if Valet sets up the APP_URL environment variable to use the generated ngrok URL?

[2019-12-16 07:04] RomainMazB commented on #2841
I'm talking about the staticMenu url, here is my navbar template:
[code]

Don't know how to check if Valet sets up the APP_URL yet, I'll check that later

[2019-12-16 07:22] bennothommo commented on #2841
@RomainMazB I would recommend using the `force` for `linkPolicy` in `config/cms.php` and configure the `url` value in `config/app.php` to be based off the APP_URL environment variable. From what I've been able to read in terms of Valet configuration, they set this environment variable automatically. This should hopefully fix the URLs in the menu.

[2019-12-16 08:43] adrenth commented on #4826
Thank you all for commenting! Great responses so far.

I think @daftspunk has brought a good work-around for this issue. But why make it so complex? The only way to specify the plugin dependency hierarchy is by filling the `$require`. That's very clear to all developers.

Plugin B depends on plugin A, so Plugin B should assume all ServiceProviders and such are registered at the point plugin B regi

[2019-12-16 11:14] xf039 commented on #4812
@LukeTowers my default PHP version is `php54`. I ran composer as `php72`, some automated commands fall back to using `php` what resulted in `artisan october:util set build` being executed as php 5.4 instead of 7.2.

[2019-12-16 11:48] RomainMazB commented on #2841
@bennothommo It works! Thanks for the tip.

[2019-12-16 11:53] ayumi-cloud commented on #4829
@bennothommo @LukeTowers thanks, I think I'm mixing things up with `sortable` as well.

I set my hidden columns to this:

[code]

Going to close this issue, thanks for your feedbacks. 👍

[2019-12-16 11:53] #4829 closed

[2019-12-16 14:28] vortechron commented on #3239
REOPEN this. important!

[2019-12-16 15:32] LukeTowers commented on #2841
Closing in favour of #4082

[2019-12-16 15:33] #2841 closed

[2019-12-16 15:50] LukeTowers commented on #3239
@vortechron please provide information on your specific issue.

[2019-12-17 14:44] bennothommo commented on #4558
Fixed by #4566.

[2019-12-17 14:44] #4558 closed

[2019-12-17 15:17] bennothommo commented on #4718
Confirmed bug. Fixed by #4741, thanks to @DanHarrin.

[2019-12-17 15:17] #4718 closed

[2019-12-17 15:19] bennothommo commented on #3470
Fixed by #4741.

[2019-12-17 16:51] LukeTowers commented on #3470
@bennothommo reminder about tagging issues fixed by a build with that build's milestone

[2019-12-17 17:34] ayumi-cloud commented on #4797
Cool, going to re-test October v461 with php7.4 any issues will post in this thread.

(I won't mention any plugin issues here - will only focus on core related issues here).

[2019-12-18 00:07] #4765 closed

[2019-12-18 16:15] lautsevich commented on #4308
Hi @LukeTowers! Just found your [article](https://octobertricks.com/tricks/make-plugin-translation-keys-available-as-theme-messages-for-rainlabtranslate) is that a fallback solution for my request?

[2019-12-18 16:59] LukeTowers commented on #4308
@lautsevich that article is actually the reverse, since it makes translations provided by plugins meant for the backend available to the frontend & RainLab.Translate.

[2019-12-18 16:59] LukeTowers commented on #4308
In addition to sponsoring this issue, you could also join the Premium Support program to have this request bumped up in priority: https://octobercms.com/premium-support

[2019-12-18 17:00] lautsevich commented on #4308
Thx for the clarification!

[2019-12-18 22:43] ayumi-cloud opened #4833 "Scoreboard pie chart treats 'empty' values as 'empty' and not as 'zero'"
When using the scoreboard pie chart widget and putting an `empty` variable into it, currently October treats it as `empty` and not `zero`.

As the value should be a `number only`, October should treat an `empty` field as `zero` and not as `empty`.

Here is an example demoing the issue:

[code]

In the above example we can see `Passed` having `100%` and `Failed` having `0%` (Blank). The expected ou

[2019-12-18 23:51] ayumi-cloud commented on #4833
Likewise the grey area can't count either, see example:

[code]

We get this result:

![image](https://user-images.githubusercontent.com/57409060/71132708-30a1d000-21f0-11ea-9422-2c3d461d4e4e.png)

Expected result should see 40% of the pie chart being grey.

So we should see this for inverse counting:

![image](https://user-images.githubusercontent.com/57409060/71133012-2a602380-21f1-11ea-8798-05c

[2019-12-19 02:34] bennothommo commented on #2886
@LukeTowers were you planning on implementing this?

[2019-12-19 17:21] LukeTowers commented on #2886
@bennothommo yes, at some point

[2019-12-20 08:48] aidantwoods commented on #3560
Hi, I'm the author of the PR referenced earlier (https://github.com/erusev/parsedown/pull/708). The main reason this hasn't been merged is, despite it being left open for a while and referencing it in quite a few issues as a proposal to solve some of them, I'm struggling to get *any* feedback on it. It represents a substantial set of changes to a fairly popular library (which I didn't myself origi

[2019-12-20 14:06] nizzac commented on #4768
Seems this issue was raised on the laravel github last year
https://github.com/laravel/framework/issues/16320

Solutions on there seem to say that you should build your own pagination query rather than relying on the Query builder.

Is there a way to override the backend lists pagination queries within October?

[2019-12-20 16:29] bennothommo commented on #3560
@aidantwoods Thanks for getting in touch. I will strive to take a look at your PR within the next couple of days and offer some feedback if I have any. :)

[2019-12-21 02:47] daftspunk commented on #4823
Please be advised this is the intended appearance of this UI

![image](https://user-images.githubusercontent.com/1392869/71301801-13d7e900-23f8-11ea-81e8-8df875dbc578.png)

Fixed by 21f8c5f
Refs #4827

[2019-12-21 02:47] #4823 closed

[2019-12-21 09:58] daftspunk commented on #4826
After some lengthy consideration and playing devil's advocate on this idea. @adrenth makes the champion point that sorting by dependencies "just works" in the majority of cases

#### Performance issues
- The additional execution time of sorting plugins appears to be negligible
- A caching system may not ever be needed

#### Circular dependencies
- Circular dependency is classed as a fatal error
-

[2019-12-21 09:58] #4826 closed

[2019-12-21 10:07] Eoler commented on #4823
Is preview mode #4817 fixed by this too?

[2019-12-21 20:25] vdomah opened #4840 "Add a list of optionally required plugins in Plugin.php"
Hello!

I'm Marketplace plugins author and I'm facing the following dilemma: I need a possibility to require only one of two plugins.

I got Vdomah.Roles which works either with Lovata.Buddies or RainLab.User. But the problem is that Marketplace doesn't support optional required plugin. So you can either require both Lovata.Buddies and RinLab.User, or not require any plugin at all. In first case y

[2019-12-21 20:47] daftspunk commented on #4840
Happy to explore this. In this case, you could make your plugin compatible with the following scenarios:
- Neither Lovata.Buddies or RainLab.User are installed (prompt the user to choose, guide them on the differences)
- Only Lovata.Buddies installed
- Only RainLab.User installed

If your plugin can function with either, then it in theory it should function with neither

[2019-12-21 20:51] vdomah commented on #4840
Yes, that's the way my plugin Vdomah.Roles works now. To be precise, it doesn't function at all if neither of two auth plugins are present in the project. It just exists there and doesn't brake anything.

[2019-12-21 20:53] lautsevich commented on #4840
It would be useful and for themes too https://github.com/octobercms/october/issues/4307

[2019-12-21 21:04] mjauvin commented on #4840
I had the same need in a plugin I created recently. Plugin required one of Lovata.Shopaholic or OFFLINE.Mall, but could not require one or the other without requiring both.

[2019-12-22 03:38] mjauvin commented on #4404
@lnmput can you confirm that this PR (https://github.com/octobercms/library/pull/448) does generate a thumbnail for your GIFs.

Note: I was not able to keep the animaton in the thumbnail so far.

[2019-12-22 11:03] LeMaX10 commented on #4840
In my opinion, this is a frequent case when one plugin supports optionally different plugins similar in logic.

For a special case, I think it’s possible to use something like this in the Boot Plugin method:
[code]
Judging by the logic of loading dependencies and checking them, it should work.

[2019-12-22 11:07] bennothommo commented on #4840
@LeMaX10 unfortunately that wouldn't work. Requirement processing happens before the boot method of a plugin runs.

[2019-12-22 11:13] LeMaX10 commented on #4840
Oh yeah. You're right.
This would be possible when trying to override this in the constructor, however, requesting the installed plugin through the constructor will fail, except to refer to its file version :(.

[2019-12-22 18:15] ayumi-cloud commented on #4823
I take it October is not meant to be touch screen friendly as per my comment here: https://github.com/octobercms/october/pull/4827#issuecomment-568266307

[2019-12-22 19:04] ayumi-cloud commented on #4823
Have updated daftspunk commit here to allow support for tap-targets on touch screen devices, see here for the pr: https://github.com/octobercms/october/pull/4841

[2019-12-23 00:21] bennothommo commented on #3521
The ability to change the password of a Backend user from the CLI has been added: https://github.com/octobercms/october/pull/4836

[2019-12-23 12:32] alvaro-canepa commented on #4840
The best and easy way for plugin developers, was to has something like
[code]

[2019-12-23 13:58] ayumi-cloud opened #4842 ""Skip this update (always/once)" for plugins - do not work"
Got a few errors to report from our company...

Screenshot:

![71361672-90e79780-258b-11ea-9bdc-9ee0c729f28f](https://user-images.githubusercontent.com/57409060/71371733-0b271480-25aa-11ea-8259-d19d435c4af9.png)

These functions do not work at all and will continue showing an update message in the dashboard, even after being selected.

Screenshot:

![image](https://user-images.githubusercontent.co

[2019-12-23 14:13] ayumi-cloud opened #4843 "Make it more obvious why plugins missing dependencies have not been loaded"
Got a few errors to report from our company...

A few days ago our internet went down in Tokyo so we moved one of our plugins we were building to `localhost` from our `server backup zip file`.

The plugin "**required**" other plugins to be installed as per it's `Plugin.php` file:

[code]

When we opened the `Settings > Updates & Plugins` the **plugin did not show up**!

When we opened up the `Buil

[2019-12-23 15:53] iotch opened #4844 "Missing validation translation for "extensions" rule"
OctoberCMS Build: v1.0.462

[validation.php](https://github.com/octobercms/october/blob/master/modules/system/lang/en/validation.php) lacks translation for the "extensions" rule which is used by FileUpload widget:

https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/FileUpload.php#L435

I'm not good in English, so it's better to have it fixed by someone else. Thanks.

[2019-12-23 15:54] LukeTowers commented on #2360
This will be solved by seeding the admin user with a 22 char random password instead of the default hard coded one.

[2019-12-23 19:07] ayumi-cloud opened #4845 "Add an unique identifier to the filter container popup box"
At the moment the filter container popup box doesn't have an unique identifier.

Actually, the `id` tag it currently uses is not unique and should actually be placed in the `class` tag instead!

The id tag looks like this:

[code]

Every single filter pop-up container box has that id-tag. It's just that people open the filter container one at a time that they don't notice the possible error.

Our

[2019-12-23 20:00] LukeTowers commented on #4840
Additionally could have `$require = ['@Author.Plugin'];` for optional dependencies

[2019-12-23 20:04] LukeTowers commented on #4842
Consider signing up for Premium Support if you have urgent support needs: https://octobercms.com/premium-support

[2019-12-24 06:21] alvaro-canepa commented on #4840
@LukeTowers but if is optional, doesn't make sense to be in `$require`, don't you?

[2019-12-24 08:55] 36864 commented on #4840
A `$suggest` property, similar to composer's suggests mechanism would be great for optional dependencies.

[2019-12-24 12:11] rashedshaon opened #4847 "Dynamic importExportConfig in same controller"
I want to implement two different import procedure in same controller. As October CMS configuration I created two import_export config file and two different Import Model Class. But it always point the Initial config file model class which I defined in `public $importExportConfig = 'config_import_export.yaml';` controller property.

My implementation code is given bellow,

    public $importExport

[2019-12-24 12:18] ayumi-cloud opened #4848 "Flag and/or remove plugins from marketplace where their github repo has been deleted"
I would like to suggest the idea of adding some automatic quality control checks in the marketplace!

For example, if a user deletes all their github plugin repo's this would be a strong indicator that the plugins are no longer maintained and carry a risk of many bugs and errors!

It would be useful to users to warn them and/or prevent them from downloading such plugins.

Here are a few examples:

[2019-12-24 12:58] Malezha opened #4849 "Bug with changed query builder paginate signature"
- OctoberCMS Build: 461
- PHP Version: 7.3.13
- Database Engine: mysql

### Description:
When used Laravel pagination signature for parameters current page will be [reseted](https://github.com/octobercms/library/blob/dfd85ebb48922c2abe49b5834c30d9d3e6ef15b5/src/Database/Builder.php#L119).

### Steps To Reproduce:

[code]

[2019-12-24 15:36] bennothommo commented on #4840
I think a combination of @alvaro-canepa's idea of the pipe symbol to denote a chain of plugins in which *one* of them must be fulfilled, and @LukeTowers suggestion of an @ symbol to denote an optional dependency might provide the most flexibility. The term `$require` should then be renamed to `$dependencies` to not imply that everything is required.

For example:
[code]

When processing / download

[2019-12-24 16:04] bennothommo commented on #4849
@Malezha Unless I'm mistaken, `$model->query()` in the example above should return an instance of `Illuminate\Database\Eloquent\Builder`, which uses the same signature as above.

Would you be able to double-check if this is the case?

[2019-12-25 00:08] #4779 closed

[2019-12-25 00:08] #2912 closed

[2019-12-25 09:32] Malezha commented on #4849
@bennothommo nope, it's returned `October\Rain\Database\Builder`
You can reproduce it:
[code]

[2019-12-25 09:33] Malezha commented on #4849
OctoberCMS version was updated to 462.

[2019-12-25 11:27] alvaro-canepa commented on #4840
@bennothommo That would be great. Maybe the @LukeTowers idea can be for suggested plugins, like do composer.

[2019-12-25 16:03] bennothommo commented on #4849
@Malezha You should be able to statically call `paginate` on the model which will use the same signature as Laravel.

Example:
[code]

[2019-12-25 18:49] Malezha commented on #4849
@bennothommo are you kidding me? Any query builder method returned October builder.
[code]
If `October\Rain\Database\Builder` inherit `Illuminate\Database\Eloquent\Builder` so method paginate must work exactly same.
@daftspunk when you decide to [simplify api](https://github.com/octobercms/library/commit/9d6fa05a3d3ee6e0e3b0807cd9ff6d3c5a488245#diff-b26ff3bbb0e6a36c3a09242b56a270e2) no need violat

[2019-12-26 15:41] LukeTowers commented on #4847
@rashedshaon typically the way that I handle this sort of dynamic config replacement is to override the values in the controller constructor before calling the parent constructor method. As a note, you have access to the current action in the constructor, so you can do the following:

[code]
Note that I haven't tested the above, but that's roughly what you'd need to do.

[2019-12-26 15:41] #4847 closed

[2019-12-26 16:02] bennothommo commented on #4849
@Malezha I apologise - you are right. However, it looks like it was an intentional (and justified) change, and given the [docs](https://octobercms.com/docs/services/pagination#paginating-eloquent-results) already specify that the second argument in the method is for defining the current page, it's likely not going to change any time soon.

[2019-12-26 16:10] bennothommo commented on #4848
@ayumi-cloud FWIW, the repos above were renamed to https://github.com/linkonoid/octobercms-shortcodesengine and https://github.com/linkonoid/octobercms-scpincludecontent. The Shortcode Plugin was last updated on Sep 25, 2019 as well, which leads me to believe that they are using a manual method of pushing updates to the marketplace.

This would be evidence as to why we can't simply assume that a p

[2019-12-26 16:22] bennothommo commented on #4843
@ayumi-cloud Currently any missing dependencies come up as a warning that "needs attention" in the dashboard:

![Screen Shot 2019-12-27 at 00 19 34-fullpage](https://user-images.githubusercontent.com/15900351/71482667-d089da00-283e-11ea-9bd0-862742e45ada.png)

I agree, however, that any plugins that are missing dependencies should appear in the Plugin list however, with a message indicating that t

[2019-12-26 21:23] ayumi-cloud opened #4850 "Users can easily bypass Maintenance mode when switched on"
### Steps to repeat

1. Install latest version of October.

2. Turn on maintenance mode and set it to point to your desired web page.

3. Turn on a vpn / tor etc. with a different ip address.

4. Open a browser and load for example one of your images in `/storage/app/media/` etc.

You will see that it loads fine and bypasses maintenance mode.

5. Repeat steps with other files and same thing, you c

[2019-12-27 00:50] mjauvin commented on #4850
I think the maintenance mode is mainly for web pages, not resources... I
may be wrong.

--
Marc

On Thu, Dec 26, 2019, 16:23 Ayumi <notifications@github.com> wrote:

[2019-12-27 04:30] LukeTowers commented on #4850
This isn't an issue, maintenance mode is not a security measure meant to firewall your entire site, it's a user experience measure meant to protect your users from seeing potential glitches with the site or triggering actions on the site while it is in an unstable state (under maintenance).

If you want to firewall off all aspects of your site (including static resources served by your webserver w

[2019-12-27 04:30] #4850 closed

[2019-12-27 14:43] ayumi-cloud commented on #4850
@LukeTowers going to message you after the new year, we are wondering if your plugin can address this issue or not?

https://octobercms.com/plugin/luketowers-filelocker

[2019-12-27 14:54] ayumi-cloud commented on #4848
@bennothommo

Yah it seems you are right, about the renamed repos.

Though I still believe October should add an automatic check to make sure the repo's are not moved, renamed or deleted. If the automatic cron job github api check brings up a 404 then the code can send an email to the author, letting them know of this issue and if no reply from the author happens in a month period then an email sh

[2019-12-27 18:22] LukeTowers commented on #4850
@ayumi-cloud no, that plugin is intended more for a "membership files" sort of system where you need to share files with various users and want to do so through your own October CMS instance instead of Google Drive or some other system for various reasons. I made it for my own clients that for one reason or another don't want to share meeting minutes and other organization docs through google driv

[2019-12-27 20:07] ayumi-cloud commented on #4850
@LukeTowers I see, thanks for letting me know!

[2019-12-28 02:14] LukeTowers commented on #4848
@ayumi-cloud automation follows process, so if this becomes a big enough issue that dealing with it manually becomes too cumbersome, I'm sure we'll develop automation to handle it. In the meantime, feel free to report this sort of thing to hello@octobercms.com.

[2019-12-28 02:23] LukeTowers commented on #4840
@bennothommo that sounds good to me, although I'm not sure about renaming it. Yes, `dependencies` would be more accurate, but on the other hand `require` isn't that inaccurate, especially with "soft" requirements (i.e. optional dependencies) being indicated with a separate syntax `@`. If we renamed it we'd have to support both `$require` and `$dependencies` so I would prefer it was left as `$requi

[2019-12-28 02:33] LukeTowers commented on #4849
Hmm, this seems like a problem to me.

Our signature: `$perPage = 15, $currentPage = null, $columns = ['*'], $pageName = 'page')`
https://github.com/octobercms/library/blob/dfd85ebb48922c2abe49b5834c30d9d3e6ef15b5/src/Database/Builder.php#L115

Laravel's signature: `$perPage = null, $columns = ['*'], $pageName = 'page', $page = null)`
https://github.com/laravel/framework/blob/6.x/src/Illuminate/Da

[2019-12-28 02:38] daftspunk commented on #4849
@Malezha, to give some history on this, this is an artefact from a time when Laravel only supported passing the page parameter via `$_POST['page']`, you couldn't even customise the variable name. It was unacceptable so we added it ourselves. Eventually, they caught up to our thinking and added it themselves.

[2019-12-28 03:01] #4849 closed

[2019-12-28 11:32] Malezha commented on #4849
@daftspunk thank you and I apologize for rudeness in statements.

[2019-12-28 11:54] ayumi-cloud commented on #4848
Maybe one of the girls in the office can code a bot to scrape the october website and check all the plugins, then will email a mass list of issues.

[2019-12-28 12:16] ayumi-cloud commented on #4848
@LukeTowers I will message you later in Slack with the results of the scrape, looking at some of the results coming in there are quite a few issues going on.

[2019-12-28 14:09] ayumi-cloud commented on #4848
Oh dear,

![image](https://user-images.githubusercontent.com/57409060/71544834-8fe3ab00-297b-11ea-8f2e-6bba9b37016d.png)

Check out what I just spotted.

[2019-12-28 14:10] ayumi-cloud commented on #4848
+1 for automation.

[2019-12-28 14:38] mjauvin commented on #4849
Isn't that a breaking change?

[2019-12-28 15:19] ayumi-cloud opened #4853 "Fix duplicate content issues with octobercms website"
The octobercms website has thousands of duplicate content issues.

Here is an example:

URL: https://octobercms.com/plugins/pkurg-visitors?p=8

Which is the exact same as:

URL: https://octobercms.com/plugins/pkurg-visitors

Source code error:

![image](https://user-images.githubusercontent.com/57409060/71545605-118c0680-2985-11ea-944c-39ed890cedfa.png)

First the `rel="canonical"` has a query str

[2019-12-28 15:58] ayumi-cloud commented on #4853
Forum has issues as well:

URL Example: https://octobercms.com/forum/post/i-need-to-use-a-lib-on-my-plugin-how-to-add-it-by-composer?page=1

![image](https://user-images.githubusercontent.com/57409060/71546073-d1c81d80-298a-11ea-8e30-816cc5ad1631.png)

### Solution

URL: https://octobercms.com/forum/post/i-need-to-use-a-lib-on-my-plugin-how-to-add-it-by-composer?page=1

Canonical URL: https://octo

[2019-12-28 16:09] ayumi-cloud commented on #4853
Forum has issues as well:

URL Example: https://octobercms.com/forum/post/i-need-to-use-a-lib-on-my-plugin-how-to-add-it-by-composer?page=1

![image](https://user-images.githubusercontent.com/57409060/71546073-d1c81d80-298a-11ea-8e30-816cc5ad1631.png)

### Solution

URL: https://octobercms.com/forum/post/i-need-to-use-a-lib-on-my-plugin-how-to-add-it-by-composer?page=1

Canonical URL: https://octo

[2019-12-28 20:57] FlusherDock1 commented on #4728
I just bought Sneakers template from marketplace, and after installing it in clear system no required plugins was downloaded. I wanted to created another issue about that, but there is another already.

Please fix it.

[2019-12-28 21:39] LukeTowers commented on #4728
@lautsevich @FlusherDock1 If you need urgent support, consider signing up for a Premium Support plan: https://octobercms.com/premium-support

[2019-12-28 21:48] LukeTowers commented on #4849
@mjauvin no, the commit adds support for both October's signature & Laravel's signature. There is a breaking change to the simplePaginate() method, but given that the current signature didn't even line up with our own signature present in paginate() let alone Laravel's and that it's a pretty obscure and rarely used aspect of the API we're thinking it's going to be fine. It will be mentioned as a c

[2019-12-28 22:38] ayumi-cloud commented on #4848
Sally has finished crawling the october website and I'm manually processing the data right now.

I can safely say there are hundreds of 404's in the plugin section and quite a lot in the theme section as well.

My conclusion, which I will discuss in private is that you definitely need some automation! There's a big issue going on behind the scenes.

[2019-12-28 23:36] ayumi-cloud commented on #4848
Hello everyone, our company today ran a bot through the whole october cms website. If you are a plugin or theme author, please can you check out this list of errors and correct them if they belong to you!

https://htmlpreview.github.io/?https://github.com/ayumi-cloud/oc-marketplaces-issues/blob/master/October%20Plugins%20and%20Themes%20Issues.html

Let's keep the marketplace clean and high quality

[2019-12-29 00:07] #4715 closed

[2019-12-29 00:59] daftspunk commented on #1927
FEI - introduced `varcharmax` to the mysql database driver configuration. This should allow more granular control over all the possible architectural variants

See https://github.com/octobercms/october/commit/160ae441ff29dfde81e7efd42ac3f1e26f5c7985 for more detail

Note that we will eventually change this default from 191 back to 255 and sunset the support for older database versions

[2019-12-29 05:20] rashedshaon commented on #4847
Dear @LukeTowers , Thanks for your reply. I tried in this way before but the problem is before execute `parent::__construct() $this->action` value is null. How I obtain which action is called?

[2019-12-29 06:56] LukeTowers commented on #4847
@rashedshaon hmm, in that case you could also try looking at the value of the current url with `url()->current()`

[2019-12-29 11:58] rashedshaon commented on #4847
@LukeTowers  thanks for the idea. now I solves this like bellow,
[code]
But my question is why ` ->setConfig('config_system_import_export.yaml'); ` is not working properly? is it bug or others?

[2019-12-29 18:50] ayumi-cloud opened #4855 "Broken links in the main website"
Will go through each one.

URL: https://octobercms.com/about

![image](https://user-images.githubusercontent.com/57409060/71560992-563c9e00-2a68-11ea-8cc4-92313bdcb52d.png)

404 to their LinkedIn web pages (bad luck Stalkers)

---

URL: http://octobercms.com/beta
URL: https://octobercms.com/beta

No such page has been deleted, someone linked it from this web page: https://octobercms.com/forum/post

[2019-12-29 19:04] ayumi-cloud opened #4856 "Broken links in Blog section of main website"
Will try and show these in great detail as well.

URL: https://octobercms.com/blog/post/advanced-content-marketing-and-analytics

![image](https://user-images.githubusercontent.com/57409060/71561289-6c4c5d80-2a6c-11ea-9074-c7ceb0d9555c.png)

---

URL: https://octobercms.com/blog/post/getting-started-october-cms-static-pages-v2

![image](https://user-images.githubusercontent.com/57409060/71561305-a

[2019-12-29 19:04] MaTToX3 commented on #4776
Any further info? :)

[2019-12-29 19:11] ayumi-cloud opened #4857 "Compiler file issues in the missing combined assets file on octobercms website"
The following assets are missing on the website and are listed in the compiler file.

Compiler file location: https://octobercms.com/combine/23c92e0f197737aaecb8b2d16dd8605b-1548362538

Has the following 404 missing assets being called for when a user tries to open the website:

[code]

---

Compiler file location: https://octobercms.com/combine/e051e8be06518686ad098bd57cc68fc4-1576094516

Has the

[2019-12-30 06:57] LukeTowers commented on #4776
@MaTToX3 if you need priority support, consider signing up for our paid support plan: https://octobercms.com/premium-support. I appreciate the detailed report but I personally don't have time to look into this deeper right now, I'll see if @bennothommo has some time to take a quick look though in the next few weeks.

[2019-12-30 07:03] bennothommo commented on #4776
@MaTToX3 this is on my to-do list. I will hopefully have a look at it in the next couple of days.

[2019-12-30 07:03] LukeTowers commented on #4847
@rashedshaon my guess is that it's too late in the request cycle, anything that pulls from the config value has probably already done so as a part of the initialization process before `setConfig()` gets called in your example.

[2019-12-30 07:35] BlackScorp commented on #4797
Hello out there, i have currently problems with installing from scratch of october on PHP 7.4  after the final result i see the error on the step

Building configuration files

the error page says : Something went wrong during the installation. Please check the log file (install_files/install.log) or see the documentation for more information.

the install.log File stops here:
[2019/12/30 07:27:27

[2019-12-30 10:26] 36864 commented on #4853
The first one links to page 8 of the plugins page, while the second one links to page 1.

[2019-12-30 10:41] Zollerboy1 opened #4858 "Lang::choice() is not working properly"
- OctoberCMS Build: 462
- PHP Version: 7.4
- Database Engine: mysql
- Plugins Installed: Flynsarmy.IdeHelper-v1.0.9

### Description:
The `choice()` function of the `October\Rain\Translation\Translator` class (accessed through the `Lang` facade) is not working properly for languages with a language-code containing a dash (like `en-uk` or `es-ar`).

It calls the `Symfony\Component\Translation\Messa

[2019-12-30 11:45] 36864 commented on #4848
That list includes obvious example links used in documentation (including `example.com` and `localhost` links) as well as links posted in reviews by users.

I suggest ignoring common test domains and ignoring the reviews tab when looking for dead links.

[2019-12-30 14:30] ayumi-cloud commented on #4848
@36864 Or the authors could write the code properly and use the correct HTML5 tags. Instead of creating a link, they should wrap them in a `<code>` or `<mark>` tag, e.g.

[code]

should be

[code]

[2019-12-30 14:36] ayumi-cloud commented on #4853
@36864 I suggest you read here about canonicalization: https://support.google.com/webmasters/answer/139066

[2019-12-31 00:54] p5ych0 commented on #4797
combining assets doesn't work on build 462 and php 7.4.1
always returns __Trying to access array offset on value of type null__

[2019-12-31 06:23] alanhwi opened #4859 "Need an image verification code feature to prevent spam"
Octobercms is a very good CMS with high customization, modularity and speed. Thank you very much! But in the process of my actual use, there is a problem that always bothers me, that is, the Contact form function that the website must use. The Contact function often leads to a lot of spam, because there are still many regions in the world that can't use Google, and can't use Google reCAPTCHA. I ne

[2019-12-31 07:12] LukeTowers commented on #4859
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: https://octobercms.com/forum
Discord: https://discord.gg/gEKgwSZ

As a side note, if you would like to purchase my form building plugin, https://octobercm

[2019-12-31 07:12] #4859 closed

[2019-12-31 16:05] tillathenun opened #4860 "Sortable trait on model causes “ambiguous sort_order” error in belongsToMany relation"
I have a form with a relation widget showing a belongsTo relation.

[code]
The **CdmProjectPage** model the relation returns has the _sortable_ trait and obviously a _sort_order_ column.

When I try to use the form that contains the relation widget in the backend, I get this error message:

Removing the sortable trait makes it work again.

Have I missed something obvious or could I have stumbled u

[2020-01-01 14:50] Tetraneon commented on #3846
Hi !
Documentation should be updated : https://octobercms.com/docs/services/mail where :
[code]

would be :
[code]

[2020-01-01 15:32] mjauvin commented on #4860
Can you share both DB tables schema? My guess is you have the sort_order field in both related tables, which creates the ambiguity.

[2020-01-01 15:36] mjauvin commented on #4860
It *might* be possible to explicitly specify the table in the `order by` clause by adding:

`'order' => 'table_name.sort_order asc'` to the $belongsToMany relation definition.
(ref. https://octobercms.com/docs/database/relations#detailed-relationships)

[2020-01-01 17:18] tillathenun commented on #4860
Your first guess was absolutely right: I had `sort_order` on the pivot table as well. Doh. Specifying the table name in the `order by` clause doesn’t work unfortunately.

Thank you very much for your replies.

[2020-01-01 17:18] #4860 closed

[2020-01-02 00:06] #4785 closed

[2020-01-02 03:03] bennothommo commented on #4797
@p5ych0 Please create a new GitHub issue for that and provide a stacktrace.

[2020-01-02 03:06] bennothommo commented on #4859
@alanhwi Just out of curiosity, which regions cannot use Google reCaptcha? I was of the understanding that v3 (the invisible captcha) may not be supported in some countries, but v2 was in very widespread usage.

[2020-01-02 03:12] bennothommo commented on #3846
@Tetraneon Please feel free to submit a PR to the [docs](https://github.com/octobercms/docs) repository.

[2020-01-02 05:49] alanhwi commented on #4859
@bennothommo Mainly some countries in Asia and Arab. it is impossible to access Google websites, and of course, it is impossible to use tools provided by Google. Even if developers use Google tools, such as Google reCaptcha（Also includes V2）, visitors(user) will not be able to load Google code. So that the Contact form also cannot be submitted.

[2020-01-02 06:29] Tetraneon commented on #3846
@bennothommo 👍 You're right ! I learn everyday !
It has just been done !

[2020-01-03 02:54] multiwebinc commented on #3683
Has anyone taken a look at the [Google Patch Rewards program](https://security.googleblog.com/2019/12/announcing-updates-to-our-patch-rewards.html)? if you could show them how a grant from Google would help you increase October's security there's a shot in the dark that they might accept it.

[2020-01-03 03:21] BATCOH commented on #3411
Same issue with current octobercms/install.
config/database.php has valid password in it, but still `using password: NO` with this query.
MacOS Catalina, PHP 7.4.1, MySQL 8.0.18
[code]
"Try again" button helps, so maybe there is a race condition, as mentioned above.

[2020-01-03 09:19] bkrajendra opened #4862 "How to implement rest login for backend auth for mobile application?"
I am creating a mobile app for my website.
I want to provide administrator (backend user) login through mobile app and access some resources after login.
Im using ionic (Angular 8)
Is there any way to achieve this.

Im am trying by standard way by using http request and supplying all possible headers as in case of ajax request. But my issue is cors and csrf.
[code]

[2020-01-03 11:53] p5ych0 commented on #4797
@bennothommo I'm unable to find the place where the issue is introduced. Somewhere in the _kriswallsmith/assetic_. Also there's no stack trace due to error handler which I wasn't able to find as well

[2020-01-03 14:39] bennothommo commented on #3846
Nice one @Tetraneon!

[2020-01-03 14:43] bennothommo commented on #4859
@alanhwi Thanks for the further info. Given that the Captcha you linked to is a Laravel plugin, it should theoretically be able to be used in October, however, you may need to make slight adjustments to make it work. You would need to hook it into a Contact form plugin though, or roll out your own plugin in order to make use of it.

[2020-01-03 14:53] bennothommo commented on #4797
@p5ych0 Is there a screenshot of the issue, just to give us an idea of what is occurring?

[2020-01-03 15:28] bennothommo commented on #3411
@BATCOH @saldana83 @rogermle @m-paniez9292 @terokorp

Would you mind trying the fix added in https://github.com/octobercms/install/pull/100 and see if that resolves the issue for you?

[2020-01-03 16:25] LukeTowers commented on #4797
@p5ych0 if it's an issue with assetic we can fix that since we're taking over that library with the Laravel 6 upgrade. @jaxwilko are you able to test the current 2.0 against PHP 7.4?

[2020-01-03 16:34] LukeTowers commented on #4862
Use https://github.com/OFFLINE-GmbH/oc-cors-plugin and disables CSRF in cms.enableCsrfProtection

[2020-01-03 16:34] #4862 closed

[2020-01-03 16:43] JaxWilko commented on #4797
![image](https://user-images.githubusercontent.com/31214002/71736088-100c8380-2e48-11ea-88e1-439d4b209e12.png)

@LukeTowers I'll put a patch in for this and push it on it's own branch

[2020-01-03 16:45] LukeTowers commented on #4797
@JaxWilko you can push it to the main dev branch, I'm not going to have time to test it myself and I trust you'll get it right 😄

[2020-01-03 18:53] Samuell1 commented on #3411
I think second best fix will be to change `localhost` to `127.0.0.1` like @ignasigarcia pointed out. Same uses laravel as default. @bennothommo

[2020-01-03 23:43] daftspunk commented on #3411
@Samuell1 We flip-flopped on this decision already

- https://github.com/octobercms/october/commit/6c5a83de89dfb0704ed2b0d2b83ad90ecd65c15f
- https://github.com/octobercms/october/commit/1ec2b6992485bd4fcb27ccfc7a1c0d021690bcb4

127.0.0.1 causes network performance issues

[2020-01-04 11:00] Samuell1 commented on #3411
@daftspunk but that was 2 years ago, maybe now something changed?

[2020-01-04 18:32] ayumi-cloud opened #4864 "Installer is not installing the config/develop.php file"
Been installing over a dozen more october websites in the last 24 hours and I've noticed they all have the same error.

Been using the `install-master.zip` installer as I prefer the cgi than the command line - so I don't know if the same error carries over to installing via the command line.

The following file is not getting installed everytime and I don't understand why as it's still being liste

[2020-01-04 23:43] BATCOH opened #4865 "Assets Combiner: custom asset filters support"
- OctoberCMS Build: 462
- PHP Version: 7.3.13

### Description:
I try to add custom assets filter with my plugin and use `cms.combiner.beforePrepare` event as [described in examlle](https://github.com/octobercms/october/blob/72a763a9fa49b197eef59edb8ed18c026acb090e/modules/system/classes/CombineAssets.php#L414).

But filter never applies.

My local workaround is to put my filter registration direc

[2020-01-05 04:15] ayumi-cloud commented on #3893
@LukeTowers This is working now as of v462, you can close this issue also maybe you want to remove it from your 1st comment list found here: https://github.com/octobercms/october/issues/4381#issue-455036703

[2020-01-05 06:49] daftspunk commented on #4797
The fix for the combiner issue is here: https://github.com/octobercms/library/commit/b0566659e8d434a0e57f0cf8055c84996c9148a6

Seems unrelated to Assetic. Fortunately, wikimedia has picked up the package... but we can't quite use it yet. Notes are in the commit

Someone should test the SCSS combiner, if it fails, please raise a new issue

[2020-01-05 06:49] #4797 closed

[2020-01-05 10:00] LukeTowers commented on #4797
@JaxWilko could you check into using the package @daftspunk mentions in his commit in Assetic 2.0? We'll have to bump the PHP requirement but I'm fine with that

[2020-01-05 10:09] daftspunk commented on #4797
Confirmed the SCSS compiler still seems to be working with a basic test

[code]

Returns

[code]

[2020-01-05 11:02] #3893 closed

[2020-01-06 06:49] SebastiaanKloos commented on #4865
Did you elevate your plugin? I think combiner events need your plugin to be elevated

[2020-01-06 08:00] daftspunk commented on #4729
Good catch! This should be fixed in Build 463+

[2020-01-06 08:00] #4729 closed

[2020-01-06 08:04] daftspunk commented on #4784
Turns out the original problem is due to a workflow issue, see 321f7eaa1f1a49cae80fda152d111f329f25dbcc for details on what was happening

Should be fixed in Build 463+

[2020-01-06 08:04] #4784 closed

[2020-01-06 09:07] daftspunk commented on #3411
@Samuell1 If anything the problem has become worse as it was most likely related to IPv6

[2020-01-06 09:09] #3411 closed

[2020-01-06 09:19] bennothommo commented on #4864
Confirmed that the Zip downloaded from the October servers is missing the `develop.php` file. @daftspunk will hopefully be able to take a look at it at some stage. In the mean-time, you may need to manually create the file as required.

[2020-01-06 16:52] wordshop-git opened #4868 "Wysiwyg pargraph drop down appears under on/off switch"
- OctoberCMS Build: 462

### Description:
![image](https://user-images.githubusercontent.com/58780682/71832902-c15b2580-30a3-11ea-840e-1c91d2a64e0e.png)
_This is how the issue will look to everyone_

![image](https://user-images.githubusercontent.com/58780682/71885553-7f2cf500-3132-11ea-8946-135954bf9556.png)
_This has a background colour within dev tools so not custom styling just making it easie

[2020-01-06 17:37] LukeTowers commented on #4865
@SebastiaanKloos is correct, they do require plugin elevation: https://octobercms.com/docs/plugin/registration#elevated-plugin. I had forgotten about that.

[2020-01-06 17:37] #4865 closed

[2020-01-06 20:31] daftspunk commented on #3811
Fixed by outcome of #4867

[2020-01-06 20:31] #3811 closed

[2020-01-07 00:06] #4794 closed

[2020-01-07 09:10] shiftaltd opened #4869 "Dropzone timeout issue"
- OctoberCMS Build: 462
- PHP Version: 7.2
- Database Engine: Mysql
- Plugins Installed: ---

### Description:
Dropzone timeout is set to default in media library. So people can't make upload more than 30s.
https://www.dropzonejs.com/#configuration

### Steps To Reproduce:
go to backend > media - upload a big file

[2020-01-07 09:14] w20k commented on #4868
Looks good to me, couldn't reproduce, with the latest build of OCMS and test-plugin (gif). Maybe you have some custom css included? Or try rebuilding assets:

![Jan-07-2020 11-12-33](https://user-images.githubusercontent.com/1053320/71883263-bbfee900-313e-11ea-8c6a-6f2be85b3598.gif)

[2020-01-07 09:38] bennothommo commented on #4868
@w20k I think @wordshop-git is talking about the Slider checkbox (https://octobercms.com/docs/ui/checkbox). It appears to be underneath the menu just behind the "Heading 3" in the top screenshot.

[2020-01-07 09:38] wordshop-git commented on #4868
@w20k Definitely don't have custom css wouldn't know where to begin with that in the back end.

Mines also a pill on/off slider `type: switch` maybe yours is a `type: checkbox`?

This is my code

[code]

[2020-01-07 09:42] w20k commented on #4868
Thanks @bennothommo for clarification. Then it's a bit different problem, not style but the event is propagated underneath the Froala plugin. Need to take a look, how it's done there, or maybe it's our code ;) Second.

[2020-01-07 12:50] w20k commented on #4868
Found it -> z-index should be removed :) Not, sure why it's needed there, maybe @daftspunk do remember `why?`.

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/less/checkbox.less#L232
https://github.com/octobercms/october/blob/master/modules/system/assets/ui/less/checkbox.less#L297

[2020-01-07 22:09] alxy opened #4870 "Mail::queueOn / Mail::laterOn do not work"
- OctoberCMS Build: 462
- PHP Version: 7.2.3

### Description:
The Mailer functions `Mail::queueOn` and `Mail::laterOn` do not work as described in the docs. I get the following error, which is similar to the one reported [here](https://github.com/octobercms/october/issues/3130):

[code]

### Steps To Reproduce:
[code]
I borrowed this from the other issue

[2020-01-08 00:06] #4739 closed

[2020-01-08 09:31] w20k commented on #4869
It's not there in the FileUpload dropzone options in the init section. Feel free to submit a PR to fix that!

Hint:
https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/fileupload/assets/js/fileupload.js#L100

[2020-01-08 10:16] shiftaltd commented on #4869
it should inherit the php.ini upload_max_filesize. i'll check how to do that

[2020-01-08 10:43] w20k commented on #4869
Maxfilesize is already there, timeout is left to be default.

[2020-01-10 03:35] lautsevich commented on #4307
Up 😎

[2020-01-10 03:37] lautsevich commented on #4708
Up

[2020-01-10 12:35] lautsevich opened #4872 "Add supported themes link to the product sidebar"
It would be useful for a customer to see themes supported by a plugin in the same place with supported extensions (plugins) link. I believe it's a more easy and transparent way for a customer to understand plugin functionality, compatibility, popularity, etc.

Besides, it will be an easier way to start researching themes for a future purchase/install to use with this plugin. Just in one click!

Ta

[2020-01-10 14:05] 36864 commented on #4872
Isn't the support relationship the other way around?

A theme may require / support certain plugins, while a plugin should typically not care about the theme that uses it. It may require or support other plugins, but supporting a theme seems out of scope to me.

[2020-01-11 00:06] #4665 closed

[2020-01-11 00:57] daftspunk commented on #4855
Thanks @ayumi-cloud ! This was a very useful report, all the links have been repaired

[2020-01-11 00:57] #4855 closed

[2020-01-11 01:11] daftspunk commented on #4856
Thanks @ayumi-cloud ! This was a very useful report, all the links have been repaired

[2020-01-11 01:11] #4856 closed

[2020-01-11 07:24] daftspunk commented on #4869
This could also fail due to your web server configuration, PHP by default is set to 60 seconds. It seems unnecessary and unusual for dropzone to be implementing any kind of restriction here.

[2020-01-11 09:11] maartenmachiels commented on #4786
Please keep this issue open as it is an essential part of October CMS and needs to be addressed.

[2020-01-11 23:55] Teranode commented on #4870
Mail::queue does work for me

Build: 464
PHP: 7.3

been using Mail queue for emails for the longest while

Test function for backend template sending
![](https://i.imgur.com/6ssQCi9.png)

Used in user activation
![](https://i.imgur.com/lz4nGXU.png)

test successfully sent:
![](https://i.imgur.com/kD6yAud.png)

[2020-01-12 06:41] Teranode commented on #4869
Dropzone's default timeout is 30000 milliseconds
I've had to create my own formwidget to change the timeout to 0. This would then just leave the server side to handle. But this can also be easily be solved if an option was presented for the system form widget.

[2020-01-12 12:47] bennothommo commented on #4810
@Nvironmental I think with the given evidence, it is likely a fault with your server not interpreting the CSV correctly, or your operating system not reporting it as a CSV correctly and the server is rejecting it outright. I've taken a look at the file and it seems to be a valid CSV file. I also had no issue uploading it to my demo site either.

You will need to check your server logs in order to

[2020-01-12 12:47] #4810 closed

[2020-01-12 13:01] bennothommo commented on #4869
@daftspunk Dropzone implemented a timeout for XHR requests in version 4.4.0, which we upgraded to in build 460 (https://github.com/octobercms/october/commit/401b7419eef5929371f8202fe46f0c11768b3c1f). I suppose we'll probably have to set our own default, or remove the timeout completely and let server-side handle it.

[2020-01-13 06:38] tobias-kuendig opened #4874 "Using Twig::parse before a mail is sent results in a Twig\Error\SyntaxError exception"
This is a follow up to #3341.

### Error description

Using the `\October\Rain\Parse\Twig::parse` method before a mail is sent results in a `Twig\Error\SyntaxError` exception:

The mail's `partial` tag is not properly registered. The registration happens in the [MailManager's startTwig method](https://github.com/octobercms/october/blob/d3254d827fbbced25cf30de4eebf1fb0e6914f49/modules/system/classe

[2020-01-13 07:32] daftspunk commented on #4874
Thanks for your detailed report. This is unfortunate that the registration is ignored, a rare event that occurs because the environments are effectively shared. There are a couple of solutions I can think of, but will need some time to investigate and test their suitability, namely to convert `Twig` away from being a singleton in the container

[2020-01-13 10:02] alxy commented on #4870
@Teranode I actually only tested `queueOn` which calls queue under the hood. I thus expected to both be affected. Can you confirm queueOn isn't working?

[2020-01-14 04:05] roojai commented on #4801
Hi there, was wondering where you put this code. Thanks

[2020-01-14 08:21] gergo85 commented on #4819
Pin

[2020-01-14 09:45] seanthepottingshed opened #4879 "When adding First Tab or Only Tab to Lazy array in `fields.yaml` they don't load"
- OctoberCMS Build: `464`
- PHP Version: `7.2`
- Database Engine: `mysql`
- Plugins Installed: `n/a`

### Description:

If you inadvertently add the first tab of many, or the only tab to the lazy load array the tab doesn't actually load. This obviously makes sense logically but may trip up new users. This applies to both prImary and secondary tabs.

### Steps To Reproduce:

- Download and install

[2020-01-14 10:00] seanthepottingshed opened #4880 "Tab Form Fields Trigger Options Ignored when Lazy Loading Tab"
- OctoberCMS Build: `464`
- PHP Version: `7.2`
- Database Engine: `mysql`
- Plugins Installed: `n/a`

### Description:
If you lazy load a tab which would only otherwise be displayed when all the fields within fulfil their required trigger options the tab is displayed anyway. The tab should only be displayed when the trigger options are complete, eg:

If you click on the **Employment Details** tab

[2020-01-14 21:29] LukeTowers commented on #3887
For future visitors, Change forceBytecodeInvalidation to false in config/cms.php

[2020-01-14 22:45] LukeTowers commented on #4879
@seanthepottingshed what would you say the solution should be? Should we be attempting to detect if the first tab actually shown (including trigger hidden / shown tabs) and force that not to be lazy loaded or should we trigger the load of a lazy loaded tab if it is the open tab when the JS initializes?

[2020-01-14 22:47] LukeTowers commented on #4869
Fixed by #4878

[2020-01-14 22:47] #4869 closed

[2020-01-14 22:50] LukeTowers commented on #4819
@ayumi-cloud you might have to resubmit your PR to fix that again.

@gergo85 number 4 has been fixed by #4876

[2020-01-14 22:53] LukeTowers commented on #4874
@daftspunk there's a PR to refactor the CMS twig environment, perhaps we can use a similar approach here. See #3575

[2020-01-15 01:42] ayumi-cloud commented on #3893
Note: Issue with Windows 10 and SameSite Google Chrome V80, users need to install KB4534273

See here for link: https://support.microsoft.com/en-gb/help/4534273/windows-10-update-kb4534273

[2020-01-15 01:43] ayumi-cloud commented on #4752
Note: Issue with Windows 10 and SameSite Google Chrome V80, users need to install KB4534273

See here for link: https://support.microsoft.com/en-gb/help/4534273/windows-10-update-kb4534273

[2020-01-15 02:38] nleehone opened #4882 "Wizard installer fails if server has DDOS protection"
The wizard installer sends multiple POST requests to determine what PHP extensions are installed. On our server it indicated that many of the extensions were not installed, despite them being shown when running phpinfo. After debugging for a while we found that the server was returning 403 because too many POST requests had been sent within a short period. The installer was incorrectly showing the

[2020-01-15 06:57] Teranode commented on #4870
@alxy Can confirm queueOn gives off that error

[2020-01-15 07:26] seanthepottingshed commented on #4879
@LukeTowers I think for consistency lazy loading of the tab in question when the JS initialises would make sense. I suspect this may be easier to implement when dealing with cases where a tab should be hidden due to trigger options as raised in: https://github.com/octobercms/october/issues/4880

[2020-01-15 08:48] alxy commented on #4870
Thnaks for confirming the issues. I adjusted the title to be precise and correct.

[2020-01-15 20:39] ayumi-cloud opened #4884 "Add CSRF protection using the new Fetch Metadata api"
This issue I hope follows on from the previous issues opened that tried to create a XSRF check, I believe the pr was found here: https://github.com/octobercms/october/pull/4720

Refs #4699
Refs #4701

The final result of all that was a rollback and all work was reverted.

Moving forward, I would like to share the idea of using the new Fetch Metadata api.

**BEFORE COMMENTING PLEASE READ THE API -

[2020-01-15 21:10] nathan-van-der-werf commented on #4884
@ayumi-cloud how is the browser compatibility of this feature? I guess the newest versions of the major browsers support this, how about other browsers? (Edge / IE?)

[2020-01-15 21:44] ayumi-cloud commented on #4884
@nathan-van-der-werf good question, attached is the answer: https://www.chromestatus.com/feature/5155867204780032

Chrome for desktop release 76 = yes accepting and using the api
Chrome for Android release 76 = yes accepting and using the api
Android WebView release 76 = yes accepting and using the api

All Chromium browsers =  yes accepting and using the api
Edge is going to be Chromium = yes wil

[2020-01-15 21:59] ayumi-cloud commented on #4884
* This idea is not to replace the current system but to add extra security protection for users using modern browsers which counts for between 90 - 95% of all real user traffic to the cms.

![image](https://user-images.githubusercontent.com/57409060/72474984-e6f1d880-37e1-11ea-861e-9d3552856299.png)

The api will be used for the following browser engines:

- Webkit = yes
- Blink = yes
- EdgeHTML (

[2020-01-16 02:49] bennothommo commented on #4870
Confirmed bug.

[2020-01-16 03:27] mjauvin commented on #4870
It's odd since `queueOn()` calls `queue()`:
[code]
 and queue does the following:
[code]

One would think if queue() works, queueOn() would work as well...

[2020-01-16 04:02] bennothommo commented on #4870
@mjauvin The problem is the `$queue` parameter in the `queue` method. When you use the `queueOn` method and specify `$queue` as a string, it passes that to `$queue` in the `queue` method. When this is passed down to the `Mailable` object, it expects `$queue` to be a `Queue` object, not a string.

What is interesting to me is that the `Illuminate\Mail\Mailer` class from Laravel that we extend and c

[2020-01-16 04:57] bennothommo commented on #4870
@alxy @Teranode Would you mind trying the fix in https://github.com/octobercms/library/pull/454 and see if that resolves the issue for you?

[2020-01-16 07:46] bennothommo commented on #4870
Fixed by https://github.com/octobercms/library/pull/454.

[2020-01-16 07:46] #4870 closed

[2020-01-16 08:42] nathan-van-der-werf commented on #4884
It's looking good for an extra security measurement. Would love to see a PoC implementation.

[2020-01-16 12:41] bennothommo commented on #4828
Fixed by #4830.

[2020-01-16 12:41] #4828 closed

[2020-01-16 13:12] rejuvenatedigital opened #4886 "Using 'combined' as first part of slug goes to 'Page Not Found'"
**Summary**
I am having a problem when I try and visit a url that starts with 'combined' as part of a url it goes to the October's 'Page Not Found' page.
For example http://www.hillardstrust.org/combined-ioq
I have tested this on several different ocotber installations and can confirm that it's still an issue in version 464.

**Reproduce steps**
To reproduce install october and go to a url such as

[2020-01-16 14:38] hackolein opened #4887 "Theme:sync --target=database not working"
- OctoberCMS Build: 458
- PHP Version: 7.2
- Database Engine: MySQL 5.7.26
- Plugins Installed:
Indikator.Backend	1.6.11
RainLab.Pages	1.3.2
RainLab.Builder	1.0.26

### Description:
I save the templates in database (databaseTemplates is true in config). This works fine, but when I changed some layout files on filesystem and sync this files to database, this doesn't work as expected.

### Steps To

[2020-01-16 15:56] mjauvin commented on #4886
I cannot reproduce this. How did you define your custom 404 page? Mine is shown below:
[code]

Note the `url = "/404"` line

[2020-01-16 17:27] ayumi-cloud opened #4888 "How to write underscore for ace codeeditor language"
I will jump straight into it, take the following example:

[code]

The parser won't allow `_` so what would be a good suggestion to get around this ?

Link to resource: https://cloud9-sdk.readme.io/docs/language-mode

[edit] I already know you can't escape underscores.

[2020-01-16 17:41] #4888 closed

[2020-01-16 17:45] ayumi-cloud commented on #4888
Going to close this, I need to do a bit of digging into October's code and then I will write an issue or create a pr.

[2020-01-16 18:03] ayumi-cloud commented on #4888
Ignore this issue, I created a pr 4889 to fix what we had an issue with.

[2020-01-16 18:35] alexbom commented on #1947
I have the same problem. Everything tried.
I've got legacy project without initiated Git.
How can i resolve this error without "pull master"?
Maybe i can just copy some directories from the repo?

[2020-01-16 22:31] ayumi-cloud opened #4890 "Lang files dont work when using a dropdown widget in a hidden primary tab"
Hard to explain but this seems to be a bug in October, we are using v464

So we created a dropdown widget in the form field and the options are linked to the lang files.

Everything is working fine with the dropdown form widget being displayed in the first tab.

When moving the dropdown widget to a hidden inner tab in the **Primary tab**, the options are now not working with the lang files.

We ha

[2020-01-16 23:57] LukeTowers commented on #4887
@bennothommo could you take a look?

[2020-01-17 00:01] LukeTowers commented on #1947
@alexbom if you haven't used encryption anywhere in your legacy project I would recommend that you change the value of `cipher` in config/app.php to `AES-256-CBC` and then run `php artisan key:generate`

[2020-01-17 00:14] bennothommo commented on #4887
@LukeTowers will do.

[2020-01-17 07:25] alexbom commented on #1947
Thanks! I've did this already. But no profit.

[2020-01-17 07:36] bennothommo commented on #1947
@alexbom Would you mind either doing a `phpinfo()` or running `php -i` in your console, and screenshot which ciphers are available on your system? They should be listed within the **mcrypt** section.

[2020-01-17 07:54] alexbom commented on #1947
![Снимок экрана от 2020-01-16 17-46-24](https://user-images.githubusercontent.com/1853593/72594093-a8f6d080-3917-11ea-9a48-8d81ce7f3fdd.png)

[2020-01-17 09:19] bennothommo commented on #1947
@alexbom You should be able to use the `MCRYPT_RIJNDAEL_256` constant as the cipher, but note that your `mcrypt` install is very out-of-date and it's generally recommended to keep up to date with the latest security practices. I would recommend, if possible, getting your PHP installation upgraded to at least 7.2 as soon as possible to take advantage of better encryption libraries.

[2020-01-17 11:56] alexbom commented on #1947
I've tried this, but got the different Error:

Function mcrypt_get_iv_size() is deprecated
/home/c/cc77564/public_html/vendor/laravel/framework/src/Illuminate/Encryption/Encrypter.php line 303

And ciphers didn't changed after updating PHP to vesion 7.2:

![image](https://user-images.githubusercontent.com/1853593/72610581-d30cba80-3938-11ea-9b5a-ba70db538018.png)

It's simple hosting, so i can't i

[2020-01-17 18:10] LukeTowers commented on #1947
@alexbom my recommendation would be to either contact your PHP host or switch to a better PHP host. When October upgrades to Laravel 6 the minimum PHP version will be 7.2 and you'll want it to be properly setup to support future updates. Since you're already taking the time to upgrade the legacy project you might as well take it all the way to PHP 7.4 for the maximum amount of longevity.

[2020-01-17 18:20] LukeTowers commented on #4890
@ayumi-cloud can you create a PR to the test plugin to replicate the issue?

[2020-01-17 19:20] ayumi-cloud commented on #4890
ok good idea.

[2020-01-18 13:34] alexbom commented on #1947
Thanks, Luke! Change PHP version is not a problem, but is not decision )

[2020-01-18 15:03] ayumi-cloud commented on #4890
Closing this, we had a deeper look at the lang file and discovered the following error:

[code]

We didn't notice the repeated `eyeColor` field at the bottom of a very long lang file, being repeated.

Our bad.

[2020-01-18 15:03] #4890 closed

[2020-01-18 16:48] ayumi-cloud opened #4892 "Chrome 81 has some updated styling features"
Just to let the admins know and do some A-B testing with October CMS.

Google Chrome 81 have updated many styling features, a few months ago they did a full video on the features, I think this was the video I watched: https://www.youtube.com/watch?v=-oyeaIirVC0

Basically, in October CMS you get a very heavy black line around things when you select objects now.

It's actually a little bit annoying

[2020-01-18 19:10] ayumi-cloud commented on #4886
I'm seeing this error with one of our twig plugins, it seems when you start a uri with `combined` it causes a twig parsing error, we're trying to work out the reason ?

But we see it one a few of our servers as well, using the same twig plugins.

Do you get a stack trace, we could compare.

[2020-01-18 19:41] ayumi-cloud commented on #4886
I'm seeing this error with one of our twig plugins, it seems when you start a uri with `combined` it causes a twig parsing error, we're trying to work out the reason ?

We see it with a few of our servers, using the same twig plugins.

Do you get a stack trace, we could compare.

[code]

Exactly same as our servers.

[edit] It seems to be a problem using the word `combine` not `combined` digging d

[2020-01-18 20:29] ayumi-cloud commented on #4886
Hi, we had exactly the same issue, after spending a couple of hours reversing the stack trace, we discovered it was being caused by one of our plugins. In our case a twig plugin from the marketplace.

Not sure if this will help you out or not, but we had exactly the same issue with the `combine` word at the beginning of the uri's resulting in server code errors instead of returning to a 404 web pa

[2020-01-19 06:56] LukeTowers commented on #1947
@alexbom that should do the trick unless you have something else using the old function. What's the full stack trace?

[2020-01-19 06:58] LukeTowers commented on #4886
@rejuvenatedigital what plugins are you using?

[2020-01-19 14:36] alexbom commented on #1947
@LukeTowers You can find full stack here: http://cc77564.tmweb.ru

[2020-01-19 16:06] ayumi-cloud commented on #4892
p.s. Not going to create a pr until the admins give me feedback. Doing styling pr's is hard because one person says one thing and another person says another thing. So best to wait for a decision to be made first and then I be happy to code the pr.

Note: Google Chrome for many years added a soft blue line around things! Now it's a hard black line (which kind of looks ugly) I would guess it's to m

[2020-01-19 16:17] caloggs commented on #4797
Im still getting a error with PHP 7.4 when running the command `php artisan october:util compile assets`

Heres the stack trace:
[code]

Looks like they fixed it in the Wikimedia copy of Less.php with this commit https://github.com/wikimedia/less.php/commit/9d1a0dc2934689b7880894409c00e3a2ae68748d

Do you want me to create a PR to add in this change?

[2020-01-19 16:47] ayumi-cloud commented on #4892
One idea could be to create a new config file called: `accessibility` and have various options users can select, for example one user may want to turn this feature off, another user may want to style it blue etc. Then the config file could connect to a `dynamic` css file to style the backend, instead of the current setup which is hard-coded.

[2020-01-19 16:57] Samuell1 commented on #4892
@ayumi-cloud I think best will be to remove this it looks ugly and if somebody wants it he is free to overwrite css by his custom backend styles.

[2020-01-19 18:07] ayumi-cloud commented on #4892
@Samuell1 yah I agree with you. Will wait for confirmation from the admins.

[2020-01-19 19:50] ayumi-cloud commented on #4797
Going to write here some info:

PHP Version `7.4.1` is a security update and fixes the following security issues:

### Bcmath:

- Fixed bug [#78878](http://bugs.php.net/78878) (Buffer underflow in bc_shift_addsub). (CVE-2019-11046).

### Core:

- Fixed bug [#78862](http://bugs.php.net/78862) (link() silently truncates after a null byte on Windows). (CVE-2019-11044).

- Fixed bug [#78863](http://bu

[2020-01-20 00:42] LukeTowers commented on #4797
@caloggs if you would like to submit a PR to [Assetic](https://github.com/assetic-php/assetic/tree/2.0/dev) to switch the LESS libraries used that would be great.

[2020-01-20 00:48] LukeTowers commented on #1947
@alexbom something's screwed up with your installation, that code was removed in Laravel 5.2. You're not running the latest version of October.

How did you perform the update? And what version of PHP were you using when you performed the update?

[2020-01-20 00:55] LukeTowers commented on #4892
Personally I don't mind the dotted line, it does make the default styling more accessible. I'll leave this one up to @daftspunk though.

[2020-01-20 01:29] bennothommo commented on #4892
My two cents: Dotted-line looks fine to me in the nav, the big black line looks gross 🤢. Whoever thought that would improve accessibility should be [insert awful event here].

[2020-01-20 16:18] ayumi-cloud commented on #4892
p.s. By the way, I don't have an issue with firefox - it's the chrome black line I hate.

[code]

removes it.

[2020-01-20 16:40] Samuell1 commented on #4892
@ayumi-cloud i think it should be removed to be consistent with chrome.

[2020-01-20 17:17] LukeTowers commented on #4892
Personally I don't think we should remove any accessibility features added by browsers unless we're amping up our own accessibility game in turn to replace them. Just because it "looks bad" isn't a great reason to worsen the experience for someone else with a harder time using the interface.

[2020-01-20 17:20] lautsevich commented on #4308
Up!

[2020-01-20 17:31] Samuell1 commented on #4892
@LukeTowers Yeah thats true.
@ayumi-cloud I think it should be added to `:hover` to prevent it appearing on desktops without pressing tab.

[2020-01-20 17:42] LukeTowers commented on #4308
@lautsevich reminder you can join the Premium Support program to have this request bumped up in priority: https://octobercms.com/premium-support 😉

[2020-01-20 17:46] lautsevich commented on #4308
I suppose the Premium Support has a different purpose. As for this issue, we can wait at the moment.

[2020-01-20 18:22] ayumi-cloud commented on #4892
@LukeTowers @Samuell1

Can we just copy github's code, the old chrome used a soft blue line and the new chrome uses a hard black line.

Ripping github's code example, we get the following solution:

[code]

Screenshot is here:

![image](https://user-images.githubusercontent.com/57409060/72749313-97305a00-3bb1-11ea-8179-73d5082d0719.png)

[2020-01-20 18:38] alexbom commented on #1947
@LukeTowers backend/system/updates shows my current build is 458.
From this page i activated "Check Updates" and then just "Update".
PHP version was 7.0 at those moment.

[2020-01-20 19:12] Samuell1 commented on #4892
@ayumi-cloud But thats for input elements no? What you getting on chrome for non input elements like links for example?

[2020-01-20 20:44] LukeTowers commented on #1947
TBH that is useless, all it does is ask the marketplace server what the latest build was when you updated last and say it has that.

If you're comfortable using composer I would recommend using the composer.json file from the main repo in your project and running composer update.

[2020-01-20 20:45] LukeTowers commented on #4892
Sure, I don't mind that @ayumi-cloud

[2020-01-20 21:15] caloggs commented on #4797
@LukeTowers The Assetic library you've linked seems to be using a different less package, its using this one https://github.com/leafo/lessphp and the issue is in this one https://github.com/oyejorge/less.php which has been taken over by https://github.com/wikimedia/less.php

I believe copying https://github.com/wikimedia/less.php/commit/9d1a0dc2934689b7880894409c00e3a2ae68748d to https://github.co

[2020-01-20 21:55] ayumi-cloud commented on #4892
@Samuell1

Nothing - no black border on links.

Let me show you an example:

![image](https://user-images.githubusercontent.com/57409060/72760057-8c84bd80-3bcf-11ea-9ae1-8ba9776aa6b8.png)

@LukeTowers sure I will create a pr for that.

[2020-01-21 01:14] LucasZdv opened #4894 "removeField() Does not work in radio & balloon-selector fields"
- OctoberCMS Build: 464
- PHP Version: 7.3

### Description:

I need to use removeField in fields of type radio, balloon-selector and it doesn't work. It only works in standard fields.

[code]

[2020-01-21 07:20] LukeTowers commented on #4797
@caloggs sure, you can submit that PR for now. Assetic will be moving to use Wikipedia's one as a part of the L6 update so it's fine if we continue with the temporary monkey patch for now.

[2020-01-21 07:26] LukeTowers commented on #4894
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2020-01-21 08:31] caloggs commented on #4797
@LukeTowers Thanks for clarifying, will submit both PRs later today

[2020-01-21 15:20] rejuvenatedigital commented on #4886
@LukeTowers I had tested this on a blank install of october without any plugins.

[2020-01-21 15:34] rejuvenatedigital commented on #4886
@mjauvin @LukeTowers The only plugin I have installed is RainLab Pages and the 404 page is set as a Static Page.

[2020-01-21 16:08] rejuvenatedigital commented on #4886
@mjauvin it works as a CMS page, however I need this to work off the static page version.

From what I can tell it seems it isn't loading any plugins as it isn't running any code in register or boot methods in the registration files.

[2020-01-21 16:18] ayumi-cloud commented on #4819
@LukeTowers @gergo85

I fixed issues 1 and 2, pr found here: https://github.com/octobercms/october/pull/4895

[2020-01-21 18:21] LukeTowers commented on #4886
@rejuvenatedigital I have an idea

[2020-01-21 18:27] LukeTowers commented on #4886
@rejuvenatedigital thanks for the report and the very helpful comment!

I've fixed it in https://github.com/octobercms/october/commit/2b5d811180f08127b061fa7e6844437cfa90c842, will be available in Build 465+

[2020-01-21 18:27] #4886 closed

[2020-01-21 18:28] LukeTowers commented on #4892
Fixed by #4895

[2020-01-21 18:28] #4892 closed

[2020-01-21 22:56] alexbom commented on #1947
Now there is composer update error:

![image](https://user-images.githubusercontent.com/1853593/72850419-1f9a2200-3cba-11ea-83c3-3bacfdcfd8b3.png)

Do i really need exact 7.1.3 PHP version for this?

[2020-01-21 23:01] LukeTowers commented on #1947
@alexbom can you show me your composer.json file? You shouldn't be pulling in Laravel 5.8

[2020-01-21 23:03] alexbom commented on #1947
I've took this one: https://github.com/octobercms/october/blob/master/composer.json

[2020-01-22 02:39] bennothommo commented on #1947
@alexbom the `master` branch has been updated with a fix to the version constraint for Laravel. If you pull in the changes, that should fix the Composer issues above.

[2020-01-22 07:59] rejuvenatedigital commented on #4886
@LukeTowers great thanks luke

[2020-01-22 09:16] Ladylain opened #4903 "Froala Custom Buttons not working"
- OctoberCMS Build: 464
- PHP Version: 7.2.19
- Database Engine: MySQL

### Description:
Hello,

i'm trying to add some personalized buttons to the RichEditor Widget. To help me, i've read many october issues (mainly #2078 ) on this repo, but unfortunately, after many tries, it does not work.

### Steps To Reproduce:

I have made a plugin for my site, and i have added this snippet in the boot() fu

[2020-01-22 21:11] alexbom commented on #1947
@bennothommo Thanks! But i've got legacy project without initiated Git.
How can i resolve this error without "pull master"?
Maybe i can just copy some directories from the repo?

[2020-01-23 04:52] bennothommo commented on #4182
Note that this is no longer necessary - jessengers/date now supports Carbon 2 as of [release 3.5.0](https://github.com/jenssegers/date/releases/tag/v3.5.0).

[2020-01-23 04:52] #4182 closed

[2020-01-23 11:09] gergo85 commented on #4903
This is a working implementation: https://github.com/gergo85/oc-paste-content/blob/master/assets/js/froala.paste.plugin.js

[2020-01-23 11:21] Ladylain commented on #4903
@gergo85 Thanks for your answer, i've just tried this and it works BUT only if you don't fill in this field in the settings area

![image](https://user-images.githubusercontent.com/5721178/72980426-da214600-3dda-11ea-8dde-6484f41c75c7.png)

Do you have any solution that works with this configuration ?

Best,

[2020-01-23 12:42] ayumi-cloud opened #4905 "Wizard installer default file and folder permissions"
The Wizard installer default file and folder permissions, just don't make sense to me and so I decided just to create an issue.

This is the current screenshot:

![image](https://user-images.githubusercontent.com/57409060/72985167-4604ae00-3ddd-11ea-8f57-692253db5033.png)

It's pretty standard to do the following:

- `644` file permissions for `files`

- `755` file permissions for `folders`

See b

[2020-01-23 12:54] ayumi-cloud commented on #4905
There's a second part to this issue as well, see screenshot:

![image](https://user-images.githubusercontent.com/57409060/72986014-28d0df00-3ddf-11ea-8c51-a4fdbc1859f3.png)

It's says the following:

For security reasons you should delete the installation files, the install.php script and the install_files directory.

It should also mention to delete the file: `.gitignore` which comes with the pac

[2020-01-23 14:13] gergo85 commented on #4903
I tried it. Indeed, it is a bug. I have no idea what is the solution.

[2020-01-23 14:31] gergo85 opened #4906 "Froala Editor removes the form even though it is allowed"
OctoberCMS Build: 464 and older versions

### Steps To Reproduce and description
I pasted a HTML form into the textarea. I used the Froala editor Code view mode.
![1](https://user-images.githubusercontent.com/2959112/72992591-49576400-3df4-11ea-858c-4f99729679cf.JPG)

After that I changed to normal view and I clicked on the  Code view again.
![2](https://user-images.githubusercontent.com/2959112/7

[2020-01-23 14:44] ayumi-cloud opened #4907 "Add the author name to the plugin search list"
I open this request to cover a few issues, take the following screenshot:

![image](https://user-images.githubusercontent.com/57409060/72993801-e95dbf00-3ded-11ea-9fa3-0dd221924da3.png)

I've created a fake **_second entry_** by the way!

The following issues are:

1. If two plugins with the same name appear, it's hard to know which one to choose, e.g. I want the official RainLab plugin and not a

[2020-01-23 14:56] mjauvin commented on #4907
I agree, this has been bugging me as well.

[2020-01-23 15:07] ayumi-cloud commented on #4783
@bennothommo @LukeTowers

I'm seeing an issue with the method bennothommo shared with the update to the `RainLab.Translate`

Please could you give some advice and look into this issue / bug.

1. My plugin I added bennothommo's code.

2. I create a fresh new October CMS install.

3. My plugin has several `required` plugins, one being `RainLab.Translate`.

4. If I upload my plugin or try to install

[2020-01-23 18:54] LukeTowers commented on #4905
@ayumi-cloud I could be wrong, but I think they default to 777 for maximum compatibility, even on servers that are setup so poorly that anything else could cause it to break. @daftspunk care to comment on this one?

[2020-01-23 19:06] LukeTowers commented on #4907
@ayumi-cloud note that all plugin submissions to the marketplace are reviewed by @alekseybobkov, so they'd have to make it past him. But yes, I'd agree that the author name would be a good inclusion here.

[2020-01-23 19:09] LukeTowers commented on #4907
Implemented in https://github.com/octobercms/october/commit/e8dca35c15a16dd31ef5b21d80375bbd5eec1c94

[2020-01-23 19:09] #4907 closed

[2020-01-23 19:14] LukeTowers commented on #4906
Duplicate of #3305

[2020-01-23 19:14] #4906 closed

[2020-01-23 19:15] LukeTowers commented on #4903
@w20k can you look into this?

[2020-01-23 19:38] w20k commented on #4903
@LukeTowers sure-sure!

[2020-01-23 20:04] ayumi-cloud commented on #4907
Thank you, for quick fix.

No problem, I will message Alxy for `marketplace` related issues from now on.

[2020-01-23 20:16] ayumi-cloud commented on #4905
Interesting will wait to see what @daftspunk says.

It be nice to have a default on `localhost` automatically set to the above mentioned file permissions etc.

p.s. the second comment, I have created a pull request to fix that concern, found here: https://github.com/octobercms/install/pull/101

[2020-01-23 20:29] mjauvin commented on #4907
@ayumi-cloud note that @alxy and @alekseybobkov are different people...

[2020-01-24 03:42] bennothommo commented on #4905
@LukeTowers I think it might be better to default it to 755 and 644 anyways, with a note saying that if permission issues occur, then use 777 and 666, but also explain the risks involved. That way, we're not pushing unsafe values by default.

[2020-01-24 03:44] bennothommo commented on #4905
@ayumi-cloud I'm not quite sure what vulnerability you are referring to with the `.gitignore` file though. It's only used by Git, and it's supposed to be there to stop people from uploading sensitive data and temporary files to their Git repositories.

[2020-01-24 08:36] alxy commented on #4903
Probably you need to add myButton to this config list?

[2020-01-24 09:25] Ladylain commented on #4903
Sorry but i've already tried this, and it does not fix this

[2020-01-24 15:10] vdomah opened #4910 "How to add froala plugin to extend backend richeditor?"
Hello, found issue about extending froala in backend. https://github.com/octobercms/october/issues/1743 But that's not enough for my case, as I need to load additional froala plugin char_counter.min.js. But I can't figure out how to do this. Just including plugin source with addJs not helping: it gives error. It seems that the source needs to be compiled, according to froala docs: https://github.c

[2020-01-24 15:23] ayumi-cloud commented on #4905
@bennothommo

I will quickly give an overview (but not bore you).

`.gitignore` files are being used to store and distribute the `Shade` and other ransomware.

The golden rule is to delete any `hidden` files that you are not using!

The reason `hidden` files and folders are so great for hackers is because webmasters and developers tend to not check on them periodically!

The other thing is that cu

[2020-01-24 16:10] bennothommo commented on #4905
Hmmm, I've heard of `.git` folders being used for ransomware, but not `.gitignore`.

[2020-01-24 17:09] Samuell1 commented on #4905
@ayumi-cloud for your first point there is already PR https://github.com/octobercms/install/pull/97

[2020-01-24 18:24] ayumi-cloud commented on #4905
@Samuell1 yah we been wondering that, we did have a discussion at our company a couple of weeks ago talking about a pr that has been created already that deletes the install files etc after installation. We couldn't find the link at the time.

Could you explain why the install files are still there after installation when you install a fresh install on a localhost for example?

(sorry to write the

[2020-01-24 18:45] ayumi-cloud commented on #4905
Just to share infomation, what we done in the security module is the following:

1. We block external access to `.gitignore` file extensions.

2. We have an option in the settings that when turned on will block all url requests containing `install.php` or `install_files` so if the files are there, they won't get loaded anyway.

[2020-01-24 19:05] Samuell1 commented on #4905
@ayumi-cloud my pr is for wizard installer, not sure what command line installer you mean but if you mean composer then composer doesnt generate install files or folders.

[2020-01-24 19:52] ayumi-cloud commented on #4905
@Samuell1 please can you watch this video and give us your thoughts: https://www.youtube.com/watch?v=QNJuEWQnBKs

[2020-01-24 21:17] Samuell1 commented on #4905
@ayumi-cloud you showing that my PR doesnt work? or iam not sure what you mean now.

[2020-01-24 21:19] ayumi-cloud commented on #4905
@Samuell1

I guess we are saying your pr doesn't work.

[2020-01-24 21:28] Samuell1 commented on #4905
@ayumi-cloud but pr wasnt merged yet

[2020-01-24 21:32] ayumi-cloud commented on #4905
@Samuell1

hahaha good point, I thought it was merged (I just looked at the date way back in middle of 2019 and thought it was merged, I didn't check the labels and see the `blocked`).

By the way, these code lines: https://github.com/octobercms/install/blob/2ba86bfe977a76415680d0d34e0034cfe997ee89/install_files/php/Installer.php#L863-L865

You could also add the `.gitignore` file to be deleted in

[2020-01-25 05:26] #4905 closed

[2020-01-25 10:23] bennothommo commented on #4910
@vdomah How are you adding it to the scripts on the page? Are you able to confirm that the char_counter.min.js file is loaded after the Froala files?

[2020-01-25 13:55] vdomah commented on #4910
Yes, I've tried both loading char_counter before and after the froala script. Using addJs it loads the plugin before froala and using this:
[code]
it loads after froala.

Both ways I receive error: can't access DEFAULTS of undefined.

The way they load plugins in froala docs is using require: https://github.com/froala/wysiwyg-editor#load-from-cdn-as-an-amd-module

I also found require approach in

[2020-01-26 17:09] alexbom commented on #1947
@bennothommo I've updated files from /modules/ directory, but it didn't help. What files i need to refresh for solving the problem?

[2020-01-26 22:39] LukeTowers commented on #1947
@alexbom you need to make sure the latest change to the composer file `^` to `~` is present in your composer file (see https://github.com/octobercms/october/blob/develop/composer.json#L41) and then run composer update.

[2020-01-26 22:44] alexbom commented on #1947
@LukeTowers Thanks, Luke! Now error changed.

![image](https://user-images.githubusercontent.com/1853593/73143039-834f9100-40a6-11ea-8190-86ce591b0487.png)

[2020-01-27 06:01] LukeTowers commented on #1947
@alexbom now the problem seems to be a plugin or your composer.json that's requiring too low a version of Laravel. Can you post your composer.json file and the list of plugins used and attempt to update them all to the latest versions (manually if possible, if not disable them until you get the site working and re-download the latest versions)?

[2020-01-27 15:04] bennothommo commented on #4910
@vdomah As long as the JS file is loaded after the Froala file, it should work. Just to note - we are not using the latest version of Froala (our current version is 2.9.3), so you would need to use this version of the Character Counter plugin: https://github.com/froala/wysiwyg-editor/blob/v2.9.3/js/plugins/char_counter.min.js. If you load the version 3 plugin, it will likely throw the undefined er

[2020-01-27 16:11] ayumi-cloud commented on #4545
Just working on monaco editor, thought I'd add some notes:

Ace Editor (unpacked) size: 44.1Mb

Monaco Editor (unpacked) size: 68.2Mb

The above ace package contains 120 languages, monaco contains about 6, there is another repo allowing me to add more languages - adds more code size.

Ripping out lots of things from Monaco and including now 67 languages in total I get the file size down to: 20.4Mb

[2020-01-27 16:51] Samuell1 commented on #4545
@ayumi-cloud Its MB size of repository with all devs stuff or just compiled code?

[2020-01-27 20:29] LukeTowers commented on #4381
To everyone interested, we've made a lot of progress and this is now ready for active testing. Please review https://github.com/octoberrain/meta/blob/master/l6-upgrade-notes.md for information on how you can test the changes in your own projects and any changes that may be required in your code bases.

[2020-01-27 22:01] alexbom commented on #1947
@LukeTowers I've used current version of composer.json from master, but changed laravel version: "laravel/framework": "~5.5.40" All other rows of composer.json exactly the same. Here list of plugins.
gromit - is plugin for projects & categories management, created by previous programmer. I don't know, if it's possible to update the plugin. So hard... I just tried to move an October project from on

[2020-01-27 22:23] LukeTowers commented on #1947
remove the idehelper plugin. It shoudn't be on a production site anyways and you can get a newer version later. Once you've removed it run composer update again.

[2020-01-27 23:37] alexbom commented on #1947
@LukeTowers Thanks! It helped. But now when i'm openning the site, there is 500 error. And the message in error_log:

[Tue Jan 28 02:14:47 2020] [error] [pid 12382] sapi_apache2.c(351): [client 217.66.152.205:59494] PHP Fatal error:  require(): Failed opening required '/vendor/symfony/var-dumper/Symfony/Component/VarDumper/Resources/functions/dump.php' (include_path='.:/opt/php72/share/pear') in /

[2020-01-28 00:45] ayumi-cloud commented on #4545
@Samuell1 complied code - removed all the dev stuff etc.

Got a gif now to demo:

![ezgif-6-19ac5cb06fa1](https://user-images.githubusercontent.com/57409060/73226307-76df3d00-4167-11ea-8d20-3467099b9512.gif)

[2020-01-28 09:44] Samuell1 opened #4914 "List pagination is reseted to first page if search is filled on refresh"
- OctoberCMS Build: 458
- PHP Version: 7.3
- Database Engine: MySQL

### Description:
List pagination is set to first page if search is already filled and page is refreshed. Looks like its because this line https://github.com/octobercms/october/blob/develop/modules/backend/widgets/Lists.php#L308
Shouldnt this reset pagination only if you search for first time?

### Steps To Reproduce:
Just fill so

[2020-01-28 09:49] bennothommo commented on #4914
@Samuell1 this is because the search results might only span a single page. Say you're on page 3 and you only have 1 page of results, would you want to see the (non-existent) 3rd page?

It's easier to just reset the pagination on any filtering in order to ensure that the user always sees results if they are available.

[2020-01-28 09:56] Samuell1 commented on #4914
@bennothommo Yes, but issue is that you search result, then you refresh page and it resets you on first page.

[2020-01-28 10:14] tobias-kuendig opened #4915 "[Laravel 6] Method October\Rain\Mail\Mailer::setGlobalTo does not exist."
Using a global "mail to" address in Laravel 6 fails. It looks like the `Illuminate\Mail\MAiler::setGlobalTo` method has been renamed to ` setGlobalToAndRemoveCcAndBcc`.

https://laravel.com/api/6.x/Illuminate/Mail/Mailer.html#method_setGlobalToAndRemoveCcAndBcc

Full stack trace:

[code]

[2020-01-28 10:36] Eoler commented on #4868
It's not only switch (checkbox) form fields, Froala dropdowns are also partially falling behind backend tab widgets.

[2020-01-28 11:02] bennothommo commented on #4915
Wow, that is a compound fracture of a method name :/

[2020-01-28 14:02] ayumi-cloud commented on #4545
YAML:

[code]

Default: Set to false

### True

![image](https://user-images.githubusercontent.com/57409060/73270558-d0328500-41d6-11ea-83ce-249e38641275.png)

### False

![image](https://user-images.githubusercontent.com/57409060/73270421-89448f80-41d6-11ea-9fa2-4408ac91da9d.png)

[2020-01-28 14:19] ayumi-cloud commented on #4545
YAML options:

[code]

[2020-01-28 14:21] ayumi-cloud commented on #4545
YAML options:

Currently setup and working with the widget.

[code]

[2020-01-28 14:32] ayumi-cloud commented on #4545
Automatic error handling looks like this:

![image](https://user-images.githubusercontent.com/57409060/73272835-f22e0680-41da-11ea-95e5-ae7c4fee2294.png)

[2020-01-28 14:53] bennothommo commented on #4915
Fixed by https://github.com/octobercms/library/commit/13efd83fc9f10ff21d2b174ed6a5c033e9914699.

[2020-01-28 14:53] #4915 closed

[2020-01-28 15:18] ayumi-cloud commented on #4545
October handling errors and bugs:

![image](https://user-images.githubusercontent.com/57409060/73277023-7daa9600-41e1-11ea-95c5-bb865a082e36.png)

[2020-01-28 15:29] patriknemecek commented on #4739
@daftspunk I can confirm functionality via fields.yaml. I figured out the problem is in fileupload added from `backend.form.extendFields` event . I try this code in Plugin boot method in fresh OctoberCMS project and got this error `Model 'System\Models\File' does not contain a definition for 'image'.`

[code]

[2020-01-28 15:52] mjauvin commented on #4739
@patriknemecek make sure you check the $formWidget Model before calling the addFields.... in your case it should be an instance of `\Backend\Models\UserGroup` f I'm not mistaken

[2020-01-28 15:56] mjauvin commented on #4739
i.e.
[code]

[2020-01-28 16:49] LukeTowers commented on #4545
@ayumi-cloud is all that stuff in the folder you sent me?

[2020-01-28 17:11] LukeTowers commented on #4914
@Samuell1 if you could post a gif screencapture of the issue that would help us visualize it.

[2020-01-28 18:14] Samuell1 commented on #4914
Here is short gif, as you can see after refresh of page it resets current page to 1.

![2020-01-28_19-11-46](https://user-images.githubusercontent.com/3110002/73292350-341e7300-4202-11ea-8e99-620dd5c56a04.gif)

[2020-01-28 19:46] w20k commented on #4868
@Eoler could you provide an example? It might be a `z-index` issue again.

[2020-01-28 21:25] Eoler commented on #4868
Yes, it probably is:
![Froala-dropdown-zindex](https://user-images.githubusercontent.com/680032/73306733-1b6f8680-421d-11ea-9f79-58ee2b00fd94.png)

[2020-01-29 02:34] bennothommo commented on #4914
@Samuell1 Does that also happen when no filters or search are applied?

[2020-01-29 08:11] Samuell1 commented on #4914
@bennothommo No, it only happens when search is applied.

[2020-01-29 17:18] ayumi-cloud commented on #4545
@LukeTowers

Yes. But I'm working on some extra things today such as:

YAML:

[code]

[2020-01-29 17:22] ayumi-cloud commented on #4545
@LukeTowers

Yes, all the above is.

Yesterday I added a YAML for the default file location:

[code]

Also I'm working on some extra things today such as:

YAML:

[code]

[2020-01-29 17:23] ayumi-cloud commented on #4545
@LukeTowers

Yes, all the above is.

Yesterday I added a YAML for the default file location:

[code]

Also I'm working on some extra things today such as:

YAML:

[code]

For the widget to load from either the `file` or `database`.

[2020-01-29 20:26] ayumi-cloud commented on #4545
Old vs new:

![image](https://user-images.githubusercontent.com/57409060/73394421-81b7e000-42d5-11ea-8640-946a569d0c4a.png)

[2020-01-29 23:21] ayumi-cloud commented on #4545
https://github.com/ayumi-cloud/oc-security-module/blob/master/to_do_list.md

[2020-01-30 00:04] #4781 closed

[2020-01-30 03:41] bennothommo commented on #3532
Upgraded to PHPUnit 8 as part of https://github.com/octobercms/october/pull/4893.

[2020-01-30 03:42] bennothommo commented on #4649
Implemented as part of https://github.com/octobercms/october/pull/4893.

[2020-01-30 09:56] patriknemecek commented on #4739
@mjauvin Yes, this solve the problem with fileupload. Another fields work fine in create, update action without $formWidget model check, only the fileupload throws exception. Thank you

[2020-01-30 13:12] ayumi-cloud opened #4922 "Add passive event listeners to Modernizr and fix issues using non-passive event listeners"
Take the following example:

![ezgif-6-42929a0cfe4c](https://user-images.githubusercontent.com/57409060/73451905-91303b00-4360-11ea-89d0-580b0335505b.gif)

The codeeditor widget uses non-passive event listeners for it's `resize`.

Even dev-tools is flagging October and saying the following:

![image](https://user-images.githubusercontent.com/57409060/73452216-5549a580-4361-11ea-8089-f724e0fe9aa1.p

[2020-01-30 13:21] ayumi-cloud commented on #4922
Can't edit and update this page: https://github.com/octobercms/october/wiki/Modernizr-Custom-Build-Code

So admins will need to update it with the following code:

[code]

[2020-01-30 13:29] ayumi-cloud commented on #4922
Also admins need to update this page as I've updated Modernizr from v3.7.1 to 3.8.0

Link: https://github.com/octobercms/october/wiki/Javascript-Packages-in-October

[2020-01-30 13:39] ayumi-cloud commented on #3867
Update Modernizr from V3.6.0 to 3.8.0

https://github.com/octobercms/october/pull/4923

[2020-01-30 16:23] ayumi-cloud commented on #4545
Ok, found a very negative feature with Monaco Editor !

If you try to add multiple widgets on the same page you can't have different themes for each one !

Link: https://github.com/microsoft/monaco-editor/issues/1446

Link: https://github.com/microsoft/monaco-editor/issues/338

Microsoft engineers kind of suck, hence why they gave up on Edge and switched to Chromium.

Gonna rip that out of the yam

[2020-01-30 16:48] LukeTowers commented on #4545
@ayumi-cloud tbh my thoughts for that widget is that most of those settings would be managed through user preferences anyways, not individual YAML level config.

[2020-01-31 18:30] ayumi-cloud commented on #4545
@LukeTowers

### Settings

![image](https://user-images.githubusercontent.com/57409060/73564209-f9f9df00-4456-11ea-9339-211b56b1dd33.png)

### YAML options:

[code]

[2020-01-31 18:39] ayumi-cloud commented on #4545
@LukeTowers

### Settings

![image](https://user-images.githubusercontent.com/57409060/73564997-a8525400-4458-11ea-8281-c56ab5f801e6.png)

### YAML options

[code]

[2020-01-31 18:40] ayumi-cloud commented on #4545
@LukeTowers

### Settings

![image](https://user-images.githubusercontent.com/57409060/73564997-a8525400-4458-11ea-8281-c56ab5f801e6.png)

### YAML options

[code]

[2020-01-31 19:08] LukeTowers commented on #4545
@ayumi-cloud Hmm, some of those should be switched around but I'll take care of that when I review it and turn it into a plugin. Btw, `saveMethod` shouldn't be something that should be setup on the field config level, it's an implementation detail of how you handle saving the data.

Are you envisioning something like a code editor for all the files on the site from the backend like WP's theme edit

[2020-01-31 19:23] ayumi-cloud commented on #4545
@LukeTowers

I need to check wordpress and see what you mean.

So far I done it like this:

[code]

- I forgot to add the `sampleURI` to my previous comment.

[code]

[2020-02-01 03:58] LukeTowers commented on #4545
@ayumi-cloud sounds good.

[2020-02-01 17:54] ayumi-cloud commented on #4545
@LukeTowers Think I'm ready to send you an update, below is a screenshot showing all the features etc.

![image](https://user-images.githubusercontent.com/57409060/73596650-efede400-451b-11ea-8714-00a53582c848.png)

[2020-02-02 01:24] bennothommo commented on #4801
Added in https://github.com/octobercms/october/pull/4877.

[2020-02-02 01:24] #4801 closed

[2020-02-02 18:53] ayumi-cloud opened #4924 "Safe mode enabled is stuck on"
October v464

Browser: Latest Firefox.

See screenshot:

![image](https://user-images.githubusercontent.com/57409060/73613403-3cedbb00-45ed-11ea-827b-8e099ed80e0c.png)

Above: config settings is turned on yet cms is saying it's on and blocking total access to the php section!

Also the message is not the greatest, could it not mention to edit the `config file: cms/enableSafeMode`

[2020-02-02 18:53] danielbidala opened #4925 "Relation controller update form - Parent model data isn't in Request"
I have two models: Order and Orderitems. I add Orderitems to Order with relation manager. When I add new orderitem I get all field's value of parent Order in the Request.

For example, in my Orderitem model's FilterFields method I can use:
`Request::input('Order.order_type')`

But if I update an orderitem with the relation manager, the parent model (Order) data is not in the Request.

Create Form

[2020-02-02 18:59] ayumi-cloud commented on #4924
Closed issue forgot I had 0600 file permission turned on with config files.

[2020-02-02 18:59] #4924 closed

[2020-02-02 19:42] Bschalck opened #4927 "Can't find LDAP Module"
- OctoberCMS Build: Last available.
- PHP Version: 7.3
- Database Engine: PgSQL
- Plugins Installed:  None yet
### Description:
I want to install a plugin LDAP to my OctoberCMS.
Because I didn't find this plugin, I try to download this  : https://github.com/khoatran/october-ldap

But I don't know how to install it .

Can you help me ?

Thanks

[2020-02-02 23:58] LukeTowers commented on #4925
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms

To answer your question however, the parent record information is required to create the related record, but only the record's

[2020-02-03 02:13] bennothommo commented on #4927
GitHub issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
Discord: https://discord.gg/6S777kh

[2020-02-03 02:15] bennothommo commented on #4927
To answer your question, you need to add the plugin into the `plugins` folder. If you download a ZIP of that plugin and put it into `plugins/khoatd/ldap`, it should load. However, given that it appears that the plugin has been taken off the marketplace, it may no longer be supported.

[2020-02-03 02:15] #4927 closed

[2020-02-03 07:40] danielbidala commented on #4925
@LukeTowers, yes I know this isn't the best place for questions but on the forum there is not too much activity. (There is tons of unanswered questions)

My use case: I need the parent record's data in the filterfield method of the child form **also when the parent record isn't saved yet**. I have to manipulate the child form based on the parent's data. Thanks for all the help in advance.

[2020-02-04 12:19] olivedev commented on #2444
I know it is close, but I will still go ahead and post my reply here. I have my whole project up on github repo from localhost. I have connected the repo to my live [PHP host](https://www.cloudways.com/en/php-hosting.php) server. I am using Envoyer to connect the github with the live server to make it easier to deploy everytime commit is done.

[2020-02-04 16:56] vortechron commented on #4925
@danielbidala if i remember correctly, i was able to access relation data by using _session_key.

something like this:
` $this->formWidget->model->some_relationship()->withDeferred(post('_session_key'))->get()`

[2020-02-04 17:38] ayumi-cloud opened #4928 "Add error handling for upper and lower case filename mistakes"
Today I wasted many hours bug hunting to see why my custom plugin was not showing up in October CMS.

To make things really hard, October CMS didn't show any errors at all - which made the bug hunting go on so long!

After checking every single line of code in all the files, the issue was the following:

Here's a screenshot of the issue:

![image](https://user-images.githubusercontent.com/57409060

[2020-02-04 18:46] danielbidala commented on #4925
@vortechron thanks for help but i think you can't query the unsaved parent model.

@LukeTowers what if in `modules\backend\behaviors\relationcontroller\assets\js\october.relation.js`
we add somthing like:

[code]
and than extend `clickViewListRecord` function in same file:

[code]

[2020-02-05 09:48] josephcrowell commented on #4928
80% of the time when I have to troubleshoot bugs in someone else's plugin, it turns out to be case issues in some file name. +1

[2020-02-05 10:38] filipac commented on #4928
It's because of how php autoloads files :) on Windows case does not matter, but on unix it does.

[2020-02-05 15:35] LukeTowers commented on #4925
@danielbidala

That's your issue then, not that you can't access parent record data period. I'm not sure what the best solution would be. You could submit your proposed code changes in a PR for us to review

[2020-02-05 18:33] danielbidala commented on #4925
@LukeTowers

As I see the best solution is using the Request to transmit the unsaved parent model's data to the child form. (also we could use Session but it's not straightforward) This way at controller level we can get the Request if we need and use it in relationExtendManageWidget method to manipulate the child form.

The above `modules\backend\behaviors\relationcontroller\assets\js\october.rel

[2020-02-05 18:33] ayumi-cloud commented on #4928
@LukeTowers Is it ok to add the `help wanted` label to this issue. I'm not exactly sure how to write the pr for it. Maybe the admins can suggest the best method.

[2020-02-06 01:19] bennothommo commented on #4928
@ayumi-cloud To be completely honest, I'm not a fan of this idea. I can totally sympathise with wasting a great deal of time on what ended up being a trivial change, but I think it's pretty clearly stated [here](https://octobercms.com/docs/plugin/registration#directory-structure):

![image](https://user-images.githubusercontent.com/15900351/73897484-339c7100-48c1-11ea-8064-9761c39df51d.png)

and [

[2020-02-06 01:20] bennothommo commented on #4928
With all due respect, the issue is YOUR code, not October.

[2020-02-06 03:42] Flynsarmy opened #4930 "Add model relationship retrieval method to HasRelationships"
October's HasRelationships trait currently loops through its relationTypes arrays directly when retrieving a relation type. Here's an example:
https://github.com/octobercms/library/blob/d00a3fb7b956bcf5d3eaa1d7e8591a99ae18ef84/src/Database/Concerns/HasRelationships.php#L173-L176
but I'd like to have relationships defined in there based on data in the model. I'd like relation information to be retr

[2020-02-06 07:02] LukeTowers commented on #4928
@bennothommo perhaps an argument could be made for detecting invalid directories within the plugins_path and throwing a more generic error message (i.e. "plugins/author/plugin was detected but no Plugin.php was present") as a non-exception-triggering error that just gets logged instead. This would cover all the variations of Plugin.php as well as the random times when Composer and Git decide to pa

[2020-02-06 07:24] Samuell1 commented on #4928
On windows it doesnt matter if its Plugin.php or plugin.php like @filipac said.

[2020-02-06 07:35] bennothommo commented on #4928
@LukeTowers that's fair, but that would only cover the `Plugin.php` issue - it wouldn't cover the `routes.php` issue.

[2020-02-06 07:36] LukeTowers commented on #4928
Yeah, that one is a bit less common and I'm fine with devs just having to suffer through wondering why it doesn't work until they read the docs. Perhaps we could make it more clear in the docs too

[2020-02-06 12:12] mjauvin commented on #4930
Why not dynamically add those methods in the base model when you need this?

[2020-02-06 13:29] Flynsarmy commented on #4930
Because the other HasRelations methods wouldn't be using them. That's the point. See my PR.

[2020-02-06 13:31] mjauvin commented on #4930
right I see that now.

--
Marc

On Thu, Feb 6, 2020, 08:29 Flynsarmy <notifications@github.com> wrote:

[2020-02-06 16:37] ayumi-cloud commented on #4928
I take it @bennothommo you are using a mac and not a pc. As @filipac and @Samuell1 are saying windows treats `Plugin.php` and `plugin.php` as one file. The only reason I could see that error was when I looked at the nginx server. Note running a Windows 10 computer and using localhost October CMS even runs `plugins.php` it's only when the plugin was uploaded to the server that it stopped working.

[2020-02-06 21:46] daftspunk commented on #4928
We won't be including any safety nets for what is a simple naming convention. Feel free to add further clarification to the developer guide in the docs, something to document the class loader:

Folders - lower case
PHP classes - SentenceCase
PHP helpers - lower case

A generic error is a waste of computational resource. This problem occurs due to PEBKAC and has no limits to possible failings. Prog

[2020-02-06 21:46] #4928 closed

[2020-02-07 11:51] prhost opened #4932 "Auth validate not support localization"
Hi everyone,

Is there any reason why this part of October is not implementing the localization system?
Could I implement and send a PR?

https://github.com/octobercms/library/blob/master/src/Auth/Manager.php

[2020-02-08 04:04] daftspunk commented on #4932
The messages don't matter too much because, with debug mode disabled (production mode), these messages are never shown to anyone.

[2020-02-08 06:07] LukeTowers commented on #4932
@prhost we've had this discussion a few times before in the GitHub issues, take a look at https://github.com/octobercms/october/issues/2106#issuecomment-471387405 for the most recent decision on it.

[2020-02-08 06:07] #4932 closed

[2020-02-10 01:25] mjauvin commented on #4307
ping

[2020-02-10 04:02] bennothommo commented on #3551
I've confirmed the bug.

It appears to be a case of the newlines in the code editor being changed slightly (I presume by Ace Editor), which makes the field dirty and causes the safe mode check to prevent saving the model.

[2020-02-10 04:39] bennothommo commented on #3551
@CptMeatball would you mind giving the fix in #4934 a go and let me know if that resolves the issue for you?

[2020-02-10 06:21] LukeTowers commented on #4749
@ayumi-cloud still interested in this?

[2020-02-10 07:35] Samuell1 commented on #4892
@ayumi-cloud @LukeTowers  Not sure why but in firefox it shows new box-shadow focus and even outline.

![obrázok](https://user-images.githubusercontent.com/3110002/74129556-301a2a00-4be0-11ea-8235-4754dfcf1107.png)

[2020-02-10 08:13] bennothommo commented on #4892
@Samuell1 I've noticed that too.

[2020-02-11 07:19] Trysystems commented on #4623
Thank you for reopen, @w20k ! This bug is still actual. Maybe mark issue with Confirmed bug? This applies not only MediaManager, but all plugins that used MediaManager api to upload and save files.

[2020-02-11 07:47] #4910 closed

[2020-02-11 15:12] multiwebinc commented on #4381
When performing the upgrade, I get the warning message:

I'm assuming this can be ignored.

Also, Translate plugin is version 1.6.7 as indicated in the upgrade guide:

![image](https://user-images.githubusercontent.com/901732/74248788-c10b0700-4cad-11ea-8202-667875a8e680.png)

But I'm still getting the `Missing required parameters for [Route: ] [URI: en/{slug}].` exception:

![image](https://user-

[2020-02-11 18:32] ayumi-cloud commented on #4821
I've added this to my do list, I plan to start working on this in the coming days, when I've got free time.

Would love to get some insights and thoughts from @LukeTowers and @bennothommo on this before I start. With regards to the exact position and adding it to yaml or not etc. or anything else you feel maybe important.

[2020-02-11 19:13] mjauvin commented on #4821
Wouldn't it be better to add an option to the List Widget to also show the `1-50 of 1234` at the top of the list widget ?

[2020-02-11 19:17] mjauvin commented on #4821
ref. modules/backend/widgets/lists/partials/_list,htm
ref. modules/backend/widgets/lists/partials/_list_head_row.htm
ref. modules/backend/widgets/lists/partials/_list_pagination.htm

[2020-02-11 20:19] mjauvin commented on #4821
All that's required to show top pagination:
[code]

And add `showTopPagination: true` to your List Widget config_list.yaml

[2020-02-11 21:48] ayumi-cloud commented on #4821
@mjauvin Yah that sounds a good idea, will do that. Thanks for your suggestion!

[2020-02-11 21:53] ayumi-cloud commented on #4821
Reminder: To update doc's as well, with the new yaml code.

[2020-02-11 22:43] ayumi-cloud commented on #4821
In testing I see this issue:

![image](https://user-images.githubusercontent.com/57409060/74286551-e3d60380-4d1f-11ea-8944-87f3c335df80.png)

Just going to move the code above the filters.

[2020-02-12 01:47] noiarek commented on #3893
I'm still having this problem.

I did the same, I added the variable to `session.php` but the value is not lax on Chrome.

I'm currently using PHP 7.3.0 and October CMS 464.

Am I the only one experiencing this problem?

Cheers

[2020-02-12 02:43] bennothommo commented on #4381
@multiwebinc they are already in the instructions ;)

https://github.com/octoberrain/meta/blob/master/l6-upgrade-notes.md#october-cms-unit-testing

As for the Translate plugin issue, the fix for this is pending the L6 upgrade: https://github.com/rainlab/translate-plugin/issues/544#issuecomment-579611942

[2020-02-12 02:50] bennothommo commented on #4821
@ayumi-cloud I feel the filtered count should be somehow added to the pagination at the bottom that is already available. It might be a case of adjusting the verbage a bit:

ie. without filters:

`Displayed records: 1-5 of 1134`

and with filtered records:

`Displayed filtered records: 1-5 of 70 (1134 total)`

[2020-02-12 12:42] pavelmgn opened #4938 "Search in tree list"
0/
I have a problem with the search. After entering a search query, the tree list breaks. After clearing the search query, it is not restored.
![gif](https://user-images.githubusercontent.com/8817759/74335570-52699e80-4dbe-11ea-9f45-7267cf5bbeb1.gif)
If I hide some entries in the tree for some users. The tree works, but the search breaks it and does not show children.
I hide the lines this way:
[c

[2020-02-12 12:44] LukeTowers commented on #4821
@bennothommo @ayumi-cloud's issue is using lists with more than 50 records per page (i.e. 100) means that they have scroll down to the bottom to get the number of records returned every time. I do like your suggestion as a more generic change we could make though.

[2020-02-12 12:50] LukeTowers commented on #4381
Updated the version number in the instructions to indicate it's unreleased (1.6.x). You can still apply https://github.com/rainlab/translate-plugin/commit/3e31cee945f3cde55cab0ebd0fa278555207302e manually to resolve the issue.

[2020-02-12 12:54] mjauvin commented on #4938
Please, use support channels (discord/forums) for questions and problems.

Git hub issues is to report bugs only.

[2020-02-12 12:54] LukeTowers commented on #4892
Sigh. You can never win. Personally I'm fine with that for now, it's not absolutely horrendous in that example.

[2020-02-12 12:55] Samuell1 commented on #4892
@LukeTowers and i forgot to mention on some elements new focus is trigger even on desktop on mouse click

[2020-02-12 12:57] LukeTowers commented on #4938
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2020-02-12 13:06] PipeJT opened #4939 "Reorder not work with more than five records"
Hi, i found a bug on reorder implementation. If I hsve more than five records on my database, this isn't working properly, I create the plugin with Rainlab.Builder, but I implemented Sortable records by myself.

Only I can found this error in browser console
![Anotación 2020-02-12 100208](https://user-images.githubusercontent.com/18238455/74337526-3266ba80-4d7f-11ea-9789-425c2afed13c.png)

And bro

[2020-02-12 13:14] LukeTowers commented on #4939
Huh, very strange. @w20k or @mjauvin can you confirm?

[2020-02-12 13:38] mjauvin commented on #4939
I've used reorder recently with a hundred records and it worked fine. It has to be a problem with your implementation.

[2020-02-12 13:41] mjauvin commented on #4939
I'll try to reproduce in the october/test plugin

[2020-02-12 13:44] mjauvin commented on #4939
I just installed October/Test plugin and it's working fine.

- click on Trees
- click on "Reorder" above Category column

[2020-02-12 13:48] mjauvin commented on #4939
You can test this here if you'd like:

https://532b72a41476.octodock.com/backend
user/pass = admin

[2020-02-12 14:03] w20k commented on #4939
Works for me as well, latest build!

[2020-02-12 14:21] PipeJT commented on #4939
@mjauvin I test your enviroment and works fine.
I implement reorder following the documentation.

This is my controller.php
[code]

config_reorder.yaml
[code]

reorder.htm
[code]

Carrousel_model.php
[code]

[2020-02-12 14:35] mjauvin commented on #4939
What October release are you using?

Did you make any custom modifications?

[2020-02-12 14:54] PipeJT commented on #4939
@mjauvin I had the same issue between builds 455 and 458. With updates and clean installations.
But you say with latest release this works fine.

I try one more time with a clean installation and say what happened

[2020-02-12 15:18] ayumi-cloud commented on #4821
@mjauvin @bennothommo @LukeTowers

Thanks, I got a pretty good idea of what to do and will merge everyone's ideas.

To summarise:

1. Users can add `showTopPagination: true | false` to your List Widget `config_list.yaml`

2. If user is not displaying filters we show this: `Displayed records: 1-5 of 1134`

3. If user is using filters we show this: `Displayed filtered records: 1-5 of 70 (1134 total)

[2020-02-12 15:28] LukeTowers commented on #4821
`showPagination` will not be configured in config_list.yaml, that's what `recordsPerPage: 0` or `false` is for.

[2020-02-12 15:34] ayumi-cloud commented on #4821
@LukeTowers

So `if (recordsPerPage >= 100 )` show point 2 and 3 automatically.

[2020-02-12 15:43] scottbedard commented on #4381
@LukeTowers @bennothommo Out of curiosity, what is October's plan going to be going forward? Laravel is now using semantic versioning, and 7.x is expected to be released on March 3rd. I hope we're going to try and stay in sync with them. Maybe we could keep our stable release in sync with LTS, and then have an edge release that follows the latest Laravel?

[2020-02-12 15:53] #4914 closed

[2020-02-12 21:41] LukeTowers commented on #4381
@scottbedard right now we're going to be sticking with our existing process of just following LTS, but we'll be keeping our eye on what Laravel does and how many breaking changes they introduce how frequently.

[2020-02-13 20:23] ayumi-cloud opened #4941 "Add an unique identifier for tabs"
## Problem explained

We have some form widgets being loaded inside some tabs. To increase performance, these new widgets are not loaded when the web page is loaded. Instead these new widgets get loaded when a user clicks on the tab where the widget is located and then gets loaded.

Below is a code example been ripped out of October's DOM:

[code]

The important code line is as follows:

[code]

W

[2020-02-14 00:06] #4767 closed

[2020-02-14 00:06] #3354 closed

[2020-02-14 04:41] bennothommo commented on #4786
@tombien @maartenmachiels I have just tested this with build 464 and have not found any issue with drag-and-drop, nor with the uploader by clicking on "Add an Image" and selecting from my files.

Would you be able to test with the latest build and let us know if the issue still persists?

[2020-02-14 04:45] bennothommo commented on #4941
@ayumi-cloud Can't you just use the `href` attribute as the selector for CSS/JS?

[2020-02-14 10:12] tombien commented on #4786
Hi @bennothommo, I can confirm that everything is OK now in build 464. I can upload image by drag-and-drop, also by uploader. And I can see image toolbar on image in editor content  (#4785).
I tested it on same installation (updated to 464), wich made errors before.

[2020-02-14 10:23] lautsevich commented on #4708
@alekseybobkov, if I remember correctly, we've discussed with you this issue. What do you think about it?

[2020-02-14 15:45] 4nik3t opened #4942 "Mail::fake() not working as expected"
- OctoberCMS Build: v1.0.464
- PHP Version: 7.4.2
- Database Engine: MYSQL 5.7 InnoDB
- Plugins Installed: Rainlab.User

### Description:
I am trying to test some  functionality related to mails in my plugin. But the Mail::fake() does not work as expected as mentioned [here](https://laravel.com/docs/5.5/mocking#mail-fake) .

My testCase
[code]
The apply method where I have sent the mail.
[code]
I

[2020-02-14 16:18] ayumi-cloud commented on #4941
@bennothommo

I think that won't work, I just tested your suggestion out.

On this page: https://octobercms.com/docs/ui/tab

![image](https://user-images.githubusercontent.com/57409060/74548272-70add680-4f45-11ea-8d75-03e248b24893.png)

They are both using the exact same `href` so there's nothing to safe guard using two or more tabs on the same page to create an unique identifier using `href`.

[2020-02-14 20:34] LukeTowers commented on #4941
@ayumi-cloud try replicating that example inside of a form widget, I don't believe you can.

[2020-02-14 20:44] #4786 closed

[2020-02-14 20:46] LukeTowers commented on #4623
This might be a duplicate of #3354

[2020-02-14 20:47] LukeTowers commented on #4592
@bennothommo have we fixed the stale actions markdown formatting yet? Those are supposed to be two separate bullet points AFAIK

[2020-02-14 22:49] ayumi-cloud commented on #4941
@bennothommo @LukeTowers

Yah I think you're right, I had a long think about possible combinations in my head and think it would be impossible to get an issue. As you can't create the same yaml class name in a single file and multi-level containers with tabs inside them, you could get an unique identifier by also connecting it to the container.

Sorry to waste both your time! Feel free to close th

[2020-02-14 23:04] #4941 closed

[2020-02-15 07:41] seanthepottingshed commented on #4880
Bumpity bump

[2020-02-15 07:42] seanthepottingshed commented on #4879
Bumpity bump

[2020-02-15 15:48] ayumi-cloud commented on #4545
p.s. We've changed the monaco widget to work with our October 2 proposal, which means a breaking change.

In testing 100 tabs in a single plugin on a single page and each tab has a 1gig file being loaded through monaco, the monaco widget only gets loaded when a user opens that tab. Also October 2 only saves the widgets that have had code changes and ignores all the rest and not save every field li

[2020-02-16 14:13] bennothommo commented on #4623
@Trysystems I can confirm the filename working without issue on October installed on Ubuntu 18.04 / PHP 7.4 / Nginx.

[2020-02-16 14:17] bennothommo commented on #4592
@LukeTowers I had fixed it a few weeks ago in `master`, but I think Sam reverted my change when he fixed the branch up. I'll add it to `develop` and then it can be brought in with the next stable release.

[2020-02-16 14:28] bennothommo commented on #4884
Definitely a good candidate for a plugin if people want to take advantage of it early.

[2020-02-16 15:05] mjauvin commented on #4884
@ayumi-cloud What would prevent some implanted JavaScript code to remove those Sec-Fetch headers from the request headers?

[2020-02-16 17:35] Trysystems commented on #4623
Yes, it also works without issue on some Apache servers with property locale setted, but if locale not set - basename() & pathinfo() will have troubles.

[2020-02-16 19:09] ayumi-cloud commented on #4884
@mjauvin

I believe [Fetch Metadata](https://www.w3.org/TR/fetch-metadata/) and [Same Origin Policy](https://www.w3.org/Security/wiki/Same_Origin_Policy) are not client-side, so you can edit them via javascript.

From what I've seen both are create by the browser and are `read-only`

[2020-02-16 19:12] ayumi-cloud commented on #4884
Adding a bunch of info links:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Sec-Fetch-Mode
https://www.w3.org/TR/fetch-metadata/

https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy
https://www.w3.org/Security/wiki/Same_Origin_Policy

- We are experimenting with both api's with October at the moment.

[2020-02-17 15:45] Somel1978 opened #4943 "Unable to create / edit Asset files in the CMS"
New User of OctoberCMS ... Well was trying  but will need to move on to different systems as this is a quite annoying issue and from what I could gather reading online....
An issue that has been detected in 2014 apparently.

Initially we had planned to deploy this within azure on a windowsNT build with the correct stack installed.

Issues:
Whenever we try to edit any file we get error 403 within t

[2020-02-18 06:25] Somel1978 commented on #4943
Ok so this is in essence two separate issues.
One is related to Windows NT directory permissions
The other is related to mod_security in Apache. We had to white list rules 212980 , 212970, 212890, 212860, 212740, 212340.

[2020-02-18 06:33] chrisvidal opened #4945 "Search in list in Settings menu not working for model using SimpleTree trait"
- OctoberCMS Build: 464
- PHP Version: 7.2

### Description:
### Steps To Reproduce:

I have the following setup:
- a model Certificate using the SimpleTree trait
- a Certificates controller and list setup to be displayed in the Settings Menu
- the default search in the list does not happen

no trace here, as it should be.

[code]

[2020-02-18 06:35] chrisvidal commented on #4938
I am facing the same issue.

[2020-02-18 10:54] Flynsarmy opened #4946 "Allow custom FormController redirects"
There is currently no easy way to grab the saved model and redirect to a URL based on the data inside of it when saving a FormController form.

### Use Case

I hit the 'Save & Preview' button on a blog post create page in admin. It should save the blog post, then redirect the browser to $model->permalink - a dynamically generated URL based on the slug assigned during the save process.

### Proposa

[2020-02-19 01:39] Flynsarmy opened #4947 "Inconsistent and bugged component dropdown behavior"
- OctoberCMS Build: ### 464
- PHP Version: 7.4.2

### Description:
A component has two dropdown properties: *foo* and *bar* with *bar* depending on *foo*.

* If *foo* retrieves its options through a `get*Options` method, the dropdown will appear blank by default when opening the component (See *Options Method* component below).
* If *foo* sets its options within the `defineProperties` property arr

[2020-02-19 02:15] chrisvidal commented on #4945
and the sorting setup in `config_list.yaml' is not working as well.

[2020-02-19 02:22] bennothommo commented on #4945
@chrisvidal Would you please be able to provide the config you are using for the list?

[2020-02-19 02:50] bennothommo commented on #4879
Cheers @seanthepottingshed. Fixed by https://github.com/octobercms/october/commit/f8634e07574d4d68eccb0a5fafdac69b9a7270ce.

[2020-02-19 02:51] #4879 closed

[2020-02-19 03:07] bennothommo commented on #4880
@seanthepottingshed I've taken a look at this for you (and confirmed the bug), however, this looks to be an incompatibility of ideas unfortunately.

The hiding and showing of tabs based on trigger rules work when the fields are present in the HTML (either hidden due to the rules, or visible), however, lazy loaded tabs don't have any HTML until they are loaded for the first time.

This means that i

[2020-02-19 06:57] chrisvidal commented on #4945
the `config_list.yaml`

[code]

[2020-02-19 07:03] chrisvidal commented on #4945
the search is working as expected, I forgot to set the `searchable: true` in the `columns.yaml`

Only the sorting is not working.

[2020-02-19 07:31] chrisvidal opened #4948 "UI issue for Filter Type:switch not displayed as expected on Windows 10 Ent. / Chrome 79"
- OctoberCMS Build: 464
- PHP Version: 7.2
- Plugins Installed: Rainlab.User

### Description:

Referring the Rainlab.User Users List and Filter.

[code]

on MacOs, one click on the filter checkix 'Activated' looks like this
![Screenshot 2020-02-19 15 30 41](https://user-images.githubusercontent.com/2263496/74811611-ceb73100-532c-11ea-91c2-7cec62262bcc.png)

On Windows 10 Entreprise 2018 / Google

[2020-02-19 07:39] bennothommo commented on #4945
@chrisvidal Sorting is not applied when the list is in a tree view (ie. `showTree` is true). If you require sorting, you cannot use the tree view.

[2020-02-19 07:39] chrisvidal commented on #4938
@pavelmgn you need to setup `searchable: true` in your model `columns.yaml` to enable the search in the wanted fields

[2020-02-19 07:40] chrisvidal commented on #4945
I see ~ is it the same behavior with NesteTree?

[2020-02-19 07:40] bennothommo commented on #4943
@Somel1978 so are you saying that the permissions are being affected by Windows NT and mod_security, and not October?

[2020-02-19 07:44] bennothommo commented on #4945
@chrisvidal Yes, the same behaviour applies with the NestedTree trait as well. I believe Simple Trees are just sorted by parent_id and ID fields, whereas Nested Tree uses the left/right values to determine order.

[2020-02-19 07:47] chrisvidal commented on #4945
alright then. closing. the search is working and that is all that matters to me here
thanks @bennothommo

[2020-02-19 07:47] #4945 closed

[2020-02-19 08:24] pavelmgn commented on #4938
I know how to make the field searchable. My tree breaks during the search, and is not restored. And if I filter the strings, the search does not work at all.

[2020-02-19 08:31] chrisvidal commented on #4938
I see what you mean. I can confirm the same issue.

[2020-02-19 09:12] seanthepottingshed commented on #4880
@bennothommo Thanks for your time researching and confirming the bug, really appreciated.

Obviously updating the documents to advise against using both tab lazy loading and field trigger options would be quickest win, however it would be simply dreamy if both could work.

[2020-02-20 00:06] #4884 closed

[2020-02-20 04:32] Somel1978 commented on #4943
No....

We own WindowsNT servers and tried installing OctoberCMS with the proper stack installed. When we installed October CMS everything went well except when we start looking into themes.
- We realized that we could edit, save pages and partials. When we tried to upload additional images or edit any file within the assets folder we received an error 500.  Under further investigation we noticed,

[2020-02-20 04:52] LukeTowers commented on #4943
See https://octobercms.com/support/article/ke-1 and with regards to your permissions errors check `cms.defaultMask`: https://github.com/octobercms/october/blob/master/config/cms.php#L348-L357

[2020-02-20 05:03] LukeTowers commented on #4880
@bennothommo I believe there was a proposal about the lazyloaded tabs still including trigger attributes and hidden input data containers, but the problem with that is the available options for how a given FormWidget could handle their data lockers in HTML is too varied for us to reliably do so.

I haven't given this one too much thought, but could we include only the field container divs that con

[2020-02-20 05:04] LukeTowers commented on #4880
That still wouldn't work for the opposite direction (trigger condition based on a field in a hidden tab), but that one seems pretty unworkable tbh so I don't think it's worth the time to look into a solution right now.

[2020-02-20 05:09] LukeTowers commented on #2726
changing label to shut up the bot, this will be dealt with whenever someone submits a PR or I get around to the larger media manager improvements.

[2020-02-20 05:18] LukeTowers commented on #4946
@Flynsarmy I would find it acceptable to make the `getRedirectUrl()` method overridable and include `$model` in the parameters. So `$this->controller->formGetRedirectUrl($context, $model = null)`

[2020-02-20 05:21] Somel1978 commented on #4943
Had seen the article from 2015 related to mod security. Hence why we contacted namecheap for the white list.
However being an old article an update stating that this is still valid in 2020 would be a good idea, as apparently is an issue with 5 years
At least there is a workaround, (a solutuon would imply a permanent fix).

Not sure what I'm suppose to look at on the tip you sent related to permiss

[2020-02-20 05:22] LukeTowers commented on #4943
@Somel1978 you might need to set default permission masks to use on new files with that config setting, otherwise I'm not sure if your server might just be creating files with permissions that are too restrictive.

[2020-02-20 05:25] Somel1978 commented on #4943
Gotcha.....

I just find it odd that as far we can tell it only happens with the CMS Assets folder and not with every file created directory created.

[2020-02-20 05:26] bennothommo commented on #4880
@LukeTowers my thoughts too. I might just update the docs just to indicate that triggers and lazy tabs are not recommended to be used together.

[2020-02-20 05:29] LukeTowers commented on #4943
It might be because the Asset class is it's own separate logic while the rest of the theme files are handled by Halcyon models: https://github.com/octobercms/october/blob/master/modules/cms/classes/Asset.php vs https://github.com/octobercms/october/blob/master/modules/cms/classes/CmsObject.php

[2020-02-20 05:33] Somel1978 commented on #4943
Interesting any particular reason why is this?!

[2020-02-20 05:34] LukeTowers commented on #4943
@Somel1978 I believe it's because Halcyon models aren't designed to deal with large files (as asset files often are). No idea why the difference would cause permission errors though, AFAIK it is still using the same underlying filesystem driver.

[2020-02-20 05:36] Flynsarmy commented on #4946
I'm happy with this solution and will whip up a PR.

If we look at the current makeRedirect method:
https://github.com/octobercms/october/blob/d46accfc4f309f5f071cee41ac5bf58092559392/modules/backend/behaviors/FormController.php#L462-L490

How's this look:
[code]

I don't think we can just set `$redirectUrl` to `formGetRedirectURL()` if one is returned, because it's not intuitive that a relative U

[2020-02-20 05:36] LukeTowers commented on #2833
@Samuell1 you interested in submitting a PR for a flag to add this?

[2020-02-20 05:40] LukeTowers commented on #4946
@Flynsarmy I think it's fine to keep the existing behavior of relative vs absolute. This method will need to be documented anyways so we can include that tidbit in a note. I think it is intuitive to some extent in that the existing redirectUrl usage is relative and leads you to the backend. A simple note in the docs added should be sufficient I would think. Could be included in the docblock too in

[2020-02-20 05:41] Flynsarmy commented on #4946
Thanks. I'll whip up a PR shortly with relevant docblock notes.

[2020-02-20 05:41] LukeTowers commented on #4946
@Flynsarmy sounds good. Please submit a PR to the docs repo as well.

[2020-02-20 07:15] w20k commented on #4948
Have you tried upgrading Chrome to the latest version on Windows? If it's related to Chrome per OS, don't think we can do much.

Will take a look, just to be sure ;)

[2020-02-20 07:59] seanthepottingshed commented on #4880
@bennothommo @LukeTowers thanks for your thoughts on time and thoughts on this.

[2020-02-20 08:13] moxetiale opened #4951 "RelationController Bug"
Hello. I have 3 models : Product, Attribute and Option. Product hasMany Attribute and Options. Also Attribute hasMany Option.  Im using backend RelationController and creating Attribute and Options inside Product form

![image](https://user-images.githubusercontent.com/17551744/74913402-fd3f1580-53d9-11ea-9653-4a00f0e8a253.png)

I want to create Attribute options inside Product form but when i cli

[2020-02-20 10:30] Samuell1 commented on #2833
@LukeTowers Yes i am but it will take a lot of time to rework all scafollding files. But now i dont have time to do it.

[2020-02-20 14:52] Flynsarmy opened #4952 "Relation conditions aren't being applied when saving models"
- OctoberCMS Build: 464
- PHP Version: 7.4.2

### Description:
If you have two belongsToMany relations on the same table with a `conditions`
value set, record retrieval (`$record->myRelation`) works correctly and applies
the specified conditions, however saving `$record` wiil result in the first
relation being wiped and only the second relation will save.

`newPivotQuery()` isn't applying constrai

[2020-02-20 17:03] LukeTowers commented on #2833
@Samuell1 all right. I'll leave it open for now, but we'll close it the next time the github bot comments in a month and then we can re-open it when you have time to implement it.

[2020-02-23 02:16] mjauvin commented on #4082
I've recently had to deal with a WordPress site using a page builder plugin that was using full URLs for images and other resources and that was a pain to migrate to a previous host with a development domain to another domain and then to the final live domain.

I never want to have to deal with this again.

[2020-02-23 22:34] thomas4Bitcraft commented on #3305
I have found a way to get additional HTML-Tags working in the backend:

Create JS File:

[code]

And add the file to october on boot:

[code]

[2020-02-24 00:06] #4894 closed

[2020-02-24 04:24] LarBearrr commented on #4951
@moxetiale Can you post your `config_relation.yaml` for your `Product` model?

[2020-02-24 05:00] bennothommo commented on #4082
@mjauvin What's even more fun is handling assets from multiple locations (CDNs) in a Wordpress install. At least with an install that has all the images locally, there's a couple of plugins that will rewrite the URLs for you when you move address. :nauseated_face:

[2020-02-24 07:40] moxetiale commented on #4951
@LarBearrr
![image](https://user-images.githubusercontent.com/17551744/75135244-61274e00-56fa-11ea-9fe9-49635cd64c50.png)

[2020-02-24 10:36] mjauvin commented on #4082
@bennothommo I used such a plugin to rename the URLs to the new site, but somehow it missed some of them.

[2020-02-24 15:44] Rike-cz commented on #4082
It's one year old issue, what to do with that? PR or forget?

[2020-02-24 17:25] CptMeatball commented on #3551
Will do! Sorry for the slow response.

[2020-02-25 00:52] mjauvin commented on #3551
@CptMeatball if that can help, I created a container with PR #4936 merged in here (safe mode is enabled):

https://2c04c4984f2e.octodock.com/backend

user/pass = admin

[2020-02-25 01:16] mjauvin commented on #4082
I'll write a PR for this.

[2020-02-25 01:35] bennothommo commented on #3551
@CptMeatball maybe hold off for now. We've had some discussions about my fix and we're looking to attempt it a different way that may solve a few other issues that have cropped up as well. We'll update here when we have made progress on this.