[2020-06-14 20:12] LukeTowers commented on #2108
@tombien @igor-tv @claudchan Can you test #5126?

[2020-06-14 20:14] LukeTowers commented on #3305
@michaeI @datune can you test #5126?

[2020-06-14 20:31] LukeTowers commented on #4335
@vakopian I would encourage you to give it another try, I've tested https://github.com/octobercms/october/commit/24f87ae10ebd97fe5f6ba4c2a87cf60d521f9861 and it solves the problem with the add button too. The framework is not that complicated, but like any framework you have to invest time into understanding how everything fits together in order to solve complex issues with edge cases.

[2020-06-14 21:00] lucacalcaterra commented on #4927
@LukeTowers thanks.. i used ldaprecord  on laravel but don't know where to start to build a wrapper for use It in octobercms . Must override Back auth ?

[2020-06-14 23:32] igor-tv commented on #2108
This works for me on a clean project. But on a live project, after replacing files with new ones from PR, the toolbar stopped showing in the editor. There may be some conflict with already installed plugins or with existing editor settings.

<img width="1002" alt="Снимок экрана 2020-06-15 в 02 23 53" src="https://user-images.githubusercontent.com/6777469/84606613-2d8e5080-aeb0-11ea-8644-d38a355b15

[2020-06-15 11:07] igor-tv commented on #2108
I had a rule for allowed empty tags.
`i.fa, i.fas, i.far, i.fab,`
When I removed it, everything worked as it should.

[2020-06-15 14:02] LukeTowers commented on #2108
@RomainMazB could you investigate why that broke things?

[2020-06-15 19:12] Eoler opened #5128 "Backend user throttling IPs"
- OctoberCMS Build: 466
- PHP Version: 7.3
- Database Engine: MariaDB 10.2
- Apache Apache 2.4.29 on Ubuntu 18.04 LTS

### Description:
Noticed while migrating (diffing) DB from development version on edge build 466 that every new entry in `backend_user_throttle` table has IP value of `0.0.0.0` (a single new entry for each backend user). OctoberCMS build 465 logs backend user's IPs correctly on sa

[2020-06-15 20:04] lucacalcaterra commented on #4927
Adding  the package with composer in my plugin i get the following error (i understood  that oc  not use laravel auth system). How to fix  It?

In Container.php line 805:

  Target class [auth] does not exist.

In Container.php line 803:

  Class auth does not exist

[2020-06-15 21:12] LukeTowers commented on #4927
@lucacalcaterra see https://github.com/LukeTowers/oc-azureadsso-plugin/blob/master/helpers.php for how I solved that in my AzureADSSO plugin.

[2020-06-15 21:56] lucacalcaterra commented on #4927
Ok . I'll try ... i not know so much well Laravel .
For example... i must include this in boot ? More in general what i need in my plugin.php for start ? I created basic skeleton copying some code
https://github.com/LukeTowers/oc-azureadsso-plugin/blob/b5242760d0cb0af5d78ebdf455b2c03c7e843ef5/Plugin.php#L42

[2020-06-16 00:11] LukeTowers commented on #4927
Yeah, that line would probably help. Not sure what else you'd need. helpers.php is automatically loaded so you can use that file too.

[2020-06-16 01:28] bennothommo commented on #5128
@Eoler are you using a hosting setup that doesn't pass IP addresses through (like through a proxy)? The only time throttle attempts should be recorded is when the data is saved through October, not if you migrate data to the database directly.

[2020-06-16 06:59] #2108 closed

[2020-06-16 08:31] Eoler commented on #5128
No, build 465 on same VPS/domain (production subdomain) regularly writes IP addresses to `backend_user_throttle` table.

Of course. Tested by upgrading another installation on same VPS from 465 to 466 edge build and it started writing zero IPv4s for backend user throttling. I know you're all running on composer installations, but it's very probable that the problem started with this change:
`Added

[2020-06-16 14:19] dioneSky commented on #3371
I had the same error, when I created a new dir in Controllers and put there some of my php file controllers, and then I regreat of that idea so I remove the directory and put back the files to controllers dir, since then I started facing the same error because de autload_classmap.php didnt update.

So I tryed this:

artisan cache:clear
artisan clear-compiled
composer dump

none of above trys worke

[2020-06-16 16:27] LukeTowers commented on #5128
@Eoler can you `dd(Request::ip())` in one of those installs and tell us if you're getting the IP address? I'm not seeing the behavior on any of my sites running the L6 build (which includes the latest develop changes). The change you're talking about didn't touch anything to do with the IP address: https://github.com/octobercms/october/commit/6c391b5e82f7040d67032dc911df5eef0e2bda42

[2020-06-16 17:05] Eoler commented on #5128
@LukeTowers works fine, writes IPv4 to `backend_access_log`
A true mystery...

[2020-06-16 17:57] lucacalcaterra commented on #4927
I Cannot understand what the class [auth] refers to (?). Need a middleware or what else ?

If i use the package ldaprecord (non laravel ) can semplify things  or not ? Tnx !

[2020-06-16 18:42] LukeTowers commented on #4927
No idea without trying it myself. You're going to have to be willing to learn more about how Laravel and October work behind the scenes if you want to integrate a custom authentication layer; or pay someone else to do it for you.

[2020-06-16 18:45] LukeTowers commented on #5128
I don't understand. Is it working in 466 now?

[2020-06-16 19:32] lucacalcaterra commented on #4927
Thanks for your reply... I'll need to learn, but web dev is not my principal work

[2020-06-16 21:26] goldmont opened #5130 "User avatar is not right aligned after upgrading OctoberCMS to version 465"
- OctoberCMS Build: 465 (php artisan october:util set build)
- PHP Version: 7.2
- Database Engine: MySQL
- Plugins Installed: RainLab.Builder

### Description:
Hi,

after upgrading to version 465, User avatar CSS is not working properly. As you can see from the screenshot attached below, the avatar is not right-aligned; instead, the dropdown, appears exactly where it should be. Is there a solution

[2020-06-16 21:28] LukeTowers commented on #5130
@goldmont you need to clear your browser cache / any CDN cache if present, there was a change that made the alignment happen through CSS instead of JS which improved the rendering of that, but only takes affect if you actually get the updated CSS files in your browser.

[2020-06-16 21:28] #5130 closed

[2020-06-16 21:36] goldmont commented on #5130
Solved. Thank you man.

[2020-06-17 06:05] bennothommo commented on #5033
Marking this as In Progress as [Wikimedia are working on it](https://github.com/wikimedia/composer-merge-plugin/issues/184), and just so this doesn't get archived again.

[2020-06-17 07:55] Eoler commented on #5128
Access log works, user throttle saves `0.0.0.0` IPv4:
![BackendUsers-throttle](https://user-images.githubusercontent.com/680032/84871140-7137b480-b080-11ea-9ae7-08cf08466564.png)

[2020-06-17 09:14] LukeTowers commented on #5128
@Eoler if you dd() here: https://github.com/octobercms/library/blob/develop/src/Auth/Manager.php#L75 what does that get? Perhaps something changed in the Laravel internals that breaks it if it's called too early in request?

[2020-06-17 11:04] Eoler commented on #5128
@LukeTowers  is this in `/vendor/october/rain/src/Auth/Manager.php` ?
Not getting any hits for that line (even after clearing framework and other caches) on backend login.

[2020-06-17 11:09] Samuell1 commented on #5128
@Eoler Did you run composer again after migrating?

[2020-06-17 11:16] Eoler commented on #5128
@Samuell1 I'm not on a composer installation, running 466 edge build.

[2020-06-17 11:21] Samuell1 commented on #5128
@Eoler then something didnt update when you have this old file.

[2020-06-17 15:52] LukeTowers commented on #5128
@Eoler are you using any plugins that replace the default backend authentication mechanism?

[2020-06-17 19:08] Eoler commented on #5128
No @LukeTowers , I've tried 466 build on third installation (completely different server) without common plugins - problem stays the same.

[2020-06-17 21:30] LukeTowers commented on #2303
@CptMeatball why'd you close this?

[2020-06-18 13:56] RomainMazB commented on #3942
No news about that feature? I'm facing the situation where an user ran into posting a negative review instead of opening an issue on the repo. It's a free stuff so "I don't care for my self" but I'm convinced this tool can be useful for everyone ( + OctoberCMS itself because it helps users to create theme more easily and I hope share their creation) so a negative review is negative for the users a

[2020-06-18 15:45] LukeTowers commented on #3942
@RomainMazB if you login to your author dashboard and review the reviews, there should be a "flag" icon next to all the reviews, just press that and include a reason why you're flagging it and then the admins can remove it or change the rating.

[2020-06-18 17:27] #5128 closed

[2020-06-18 17:55] #5085 closed

[2020-06-18 17:56] LukeTowers commented on #5085
@hardik-satasiya Fixed by https://github.com/octobercms/october/commit/1b8fae0ef0ac219c3a82e781954c31343304d12f

[2020-06-18 19:45] RomainMazB commented on #3942
Good to know! Thanks

[2020-06-19 12:44] ayumi-cloud opened #5131 "Automatic updating of October CMS and installed plugins"
### Explainer

In wordpress cms you do this by adding a hook in the functions.php file for example:

[code]

In October a proposal of adding an option in the config files to turn automatic updates for plugins and themes could be added, e.g.

[code]

### Limitations

Some plugins have a message asking the admins for a manual input before the update can happen. In this case the cms should send an em

[2020-06-19 18:30] goldmont commented on #4783
Hi,

any news about this? I have the same problem.

[2020-06-20 20:12] msimkunas opened #5133 "Refresh handlers not bound for fields within lazily loaded tabs"
- OctoberCMS Build: 466

### Description:
`dependsOn` doesn't work with form fields that are within lazily loaded tabs because those fields are not available when the dependant field refresh handlers are bound.

One possible solution is to rebind the dependant field handlers after loading a tab [here](https://github.com/octobercms/october/blob/develop/modules/backend/widgets/form/assets/js/october

[2020-06-21 11:31] bennothommo commented on #5131
@ayumi-cloud It's a good idea, in theory - in practice, in terms with my previous experience with Wordpress, auto-updates were responsible for more of my grey hairs than any other system I have ever worked with.

All updates, on any system, carry an element of risk - you've probably seen it happen with some of our CMS updates. Having a system automatically update - especially one that is perhaps n

[2020-06-21 11:57] bennothommo commented on #4783
@goldmont There is a [PR here](https://github.com/octobercms/library/pull/455) to improve Rule object handling, but it is targeting our Laravel 6 upgrade. We'll hopefully have the L6 upgrade out shortly.

[2020-06-21 14:50] ayumi-cloud commented on #5131
@bennothommo I agree with everything you said. Yes as **default it would set to turned off in both cases**. I don't want to do the exact same approach as WordPress - October CMS can achieve these features with less headache than wp!

After reading your comment - it got me thinking about [Semantic Versioning 2.0.0](https://semver.org/), it maybe a got idea to auto update only `MINOR` and `PATCH` ve

[2020-06-21 14:56] bennothommo commented on #5131
@ayumi-cloud I'm gonna drop the mention of themes for now, themes cannot be updated as per the discussion on theme versions (can't seem to find the discussion right now though).

If we were to proceed with this, I think it would be important for October itself to be auto-updateable as well, as most security fixes would be delivered this way.

[2020-06-21 15:47] ayumi-cloud commented on #5131
@bennothommo sure I don't mind. But I think plugins and the cms are different, because you, luke and daftspunk have told me in the past that October CMS is not going to follow Semantic Versioning and just stay on version one.

See comments:

https://github.com/octobercms/october/issues/4381#issuecomment-585267817

https://github.com/octobercms/october/issues/4381#issuecomment-585431616

*Many othe

[2020-06-21 16:09] ayumi-cloud commented on #5131
@bennothommo sure I don't mind. But I think plugins and the cms are different, because you, luke and daftspunk have told me in the past that October CMS is not going to follow Semantic Versioning and just stay on version one.

See comments:

https://github.com/octobercms/october/issues/4381#issuecomment-585267817

https://github.com/octobercms/october/issues/4381#issuecomment-585431616

*Many othe

[2020-06-21 16:36] LukeTowers commented on #5131
A config value is definitely a requirement (maybe `cms.enableAutoUpdate`). When it comes to updating plugins vs. the core, it's tricky because some plugin updates require updates to the core and some core updates may require updates to the plugin. It would be easier to deal with this if October used semantic versioning for the core, but that's highly unlikely to change any time soon as discussed i

[2020-06-21 21:13] ayumi-cloud commented on #5131
Cool thanks for the insights Luke and congrats on the Laravel 6 update (I didn't know it was ready now) - will fork the branch and start testing it out.

Just want to ask (to make sure I'm on the right page here) with regards to auto updates with the plugins and cms core. We're going to create two separate pr's and not a single one!

[2020-06-22 03:57] LukeTowers commented on #5131
@ayumi-cloud I would say that you should make it as a plugin first, and then we can look at integrating it into the core after we see how popular it is.

[2020-06-22 13:18] Klaasie opened #5134 "Relation count on list view with mysql strict_mode enabled results in an error"
- OctoberCMS Build: 466
- PHP Version: 7.2^
- Database Engine: MySQL MariaDB 10.3.23 (with strict set to true through database.php configuration)

### Description:
For one of our plugins we're currently running into the error described below:

[code]

The query in question:
[code]

The issue is the result of a combination using count on a model with the sortable trait (which will add sorting throu

[2020-06-22 14:08] LukeTowers commented on #5134
@Klaasie feel free to port the linked PR to the October Rain library as a PR (including the tests if possible).

[2020-06-23 10:47] seanthepottingshed opened #5135 "Add support for tab deep linking to CMS & RainLab.Pages tabs"
- OctoberCMS Build: `466`
- PHP Version: `7.2`
- Database Engine: `mySQL`
- Plugins Installed: `RainLab.Pages` -> `1.3.3`

### Description:
Tab linking doesn't work for pages, the same applies for CMS pages

### Steps To Reproduce:

* https://example.com/admin/rainlab/pages#primarytab-thepottingshedcontentblockslangcontent-blockstabscontent-blocks <-- Doesn't reference selected page

<img width="1

[2020-06-23 15:24] lucacalcaterra commented on #4927
Hi Luke, i'm target ldaprecord on a l6 branch of ocs. Tha laravel packages autoload two service provider, one for Ldap search and another for LdapAuth. LdapAuthServiceProvider search for auth class that doesn't exists on ocs because doesn't use the laravel standard auth mechanism. Anyway the ldaprecord autoload the serviceprovider generating error. How can skip the autodiscovery of the providers a

[2020-06-23 15:39] LukeTowers commented on #4927
@lucacalcaterra you can add the package names that it's autodiscovering to your project's composer.json's extra.laravel.dont-discover array and then run php artisan package:discover to remove the breaking ones. Note that we're currently working on a PR to completely disable the autoloading behaviour by default in October since it seems to cause a lot more trouble than it's worth: https://github.co

[2020-06-23 15:47] lucacalcaterra commented on #4927
Already done befor wrote to you... added the array  in composer but seems
to have no effect, package is anyway discovered.

"extra": {
        "laravel": {
            "dont-discover": [
                "directorytree/ldaprecord-laravel"
            ]
        }
    }

λ php artisan package:discover
Discovered Package: directorytree/ldaprecord-laravel
Discovered Package: jenssegers/date
Discovered

[2020-06-23 15:51] LukeTowers commented on #4927
@lucacalcaterra did you put it in the project's composer.json? If it's in the plugin's composer.json it won't be detected.

[2020-06-23 15:54] LukeTowers commented on #5135
This is a pretty complicated use case that would need custom handling in the JS for both the CMS controller & RainLab.Pages. You would need to include the template file type and filename in the tab URL in order to load the main tab that houses those nested tabs before selecting the nested tab.

[2020-06-23 15:59] lucacalcaterra commented on #4927
Tried. Now it's ok, but .., how do I make the plugin independent from the  composer.json of oc repo on root ?

[2020-06-23 16:05] LukeTowers commented on #4927
You'll have to wait for https://github.com/octobercms/library/pull/492 to be merged, which shouldn't be too long. For now just keep the dependency in the plugin's composer.json file and the dont-discover in the project's composer.json file.

Feel free to add your comments to that PR.

[2020-06-24 08:41] LukeTowers commented on #4925
@danielbidala something somewhat similar is being worked on in #5136, feel free to add your thoughts there.

[2020-06-25 00:12] #4903 closed

[2020-06-25 11:06] iboved opened #5137 "Read & Write database connections problem"
- OctoberCMS Build: 465
- PHP Version: 7.3.10
- Database Engine: MySQL

### Description:
We use [Read & Write connections](https://octobercms.com/docs/database/basics#read-write-connections) in our project. And we faced with a problem in the Backend. When we create the model in the Backend and press "Create and close" button, it redirects us to the list but this list doesn't contain our newly crea

[2020-06-25 16:10] LukeTowers commented on #5137
@iboved what does your database.php look like?

[2020-06-26 00:13] Flynsarmy commented on #4952
Ping

[2020-06-26 02:44] bennothommo commented on #5137
@iboved That is unfortunately a side effect of using read/write splitting and MySQL replication - there will always be a small delay.

You could possibly cheat by introducing a `usleep(20000);` call within a callback for the `list.extendQuery` event, which will delay the List widget *before* making the database query - it just means that you're effectively adding 20ms to your load time on lists.

[2020-06-26 06:22] LukeTowers commented on #5137
@iboved if the write DB config is setup with a separate database connection then you can have a plugin dynamically change the configured database connection by checking `App::runningInBackend()`

[2020-06-26 06:28] iboved commented on #5137
@LukeTowers thanks for your answer. This is what I need. How to do so? And where to do this? Thanks a lot!

[2020-06-26 06:34] iboved commented on #5137
Here is my database.php definition:
[code]

[2020-06-26 08:45] LukeTowers commented on #5137
@iboved try something like this in your plugin's boot() method:

[code]

[2020-06-26 13:19] Klaasie opened #5140 "List filter type group doesn't work with large amounts"
- OctoberCMS Build: 466
- PHP Version: ^7.2
- Database Engine: Mysql MariaDB 10.3.23

### Description:
The issue is that when using the list filter group the filter might actually not work (silently fail) when dealing with more than 500 records.

This happens because: `max_input_vars` defaults to 1000
And: available options are being posted to the filter widget along with the selected data.

For e

[2020-06-26 14:20] LukeTowers commented on #3202
Reopening in favour of #5140, #4592, & #2602

[2020-06-26 14:22] LukeTowers commented on #5140
Closing in favour of #3202. This is a known issue and one we plan on addressing at some point, we're just busy with other things at the moment. If you'd like to take a stab at implementing a fix in a PR I'd be happy to review it.

[2020-06-26 14:22] #5140 closed

[2020-06-27 06:30] alireza-salehi commented on #4381
can we use "wip/laravel-6" branch as a clean installation for new projects or is it too soon?

[2020-06-27 07:06] LarryBarker commented on #4381
@alireza-salehi I’m using this branch in a production environment. Just make sure you follow the upgrade guide completely.

[2020-06-27 10:02] Samuell1 commented on #4381
@LukeTowers even plugin routes arent cached too because they going trough main routing not trough ocms custom.

[2020-06-27 14:21] bennothommo commented on #5009
This may be worked around in the near future by a search functionality being added to the RainLab.Docs plugins (https://github.com/rainlab/docs-plugin/issues/5)

[2020-06-27 16:12] LukeTowers commented on #4381
@Samuell1 ?

[2020-06-27 20:46] Samuell1 commented on #4381
@LukeTowers forgot to mention iam responding to this msg, and i if you run route:cache it doesnt cache anything because of that issue with initializing of routes.

[2020-06-27 23:59] qroft opened #5142 "Can not fork any component anymore as controller/index.php line 406 is null"
**Summary**
When i drag and drop a component onto a page and want to fork said component, an error alert pops up.

**Reproduce steps**
Drag a component onto a page. Click on component and then the fork icon.

**Expected behavior**
OctoberCMS should convert the twig tag into html code.

**Actual behavior**
"Call to a member function getContent() on null" on line 406 of /mnt/webxxxxxxx/htdocs/octobe

[2020-06-28 02:01] LukeTowers commented on #5142
@qroft what version of October are you running?

[2020-06-28 05:59] 4nik3t commented on #5142
Hello @LukeTowers  I had this same issue when using the forum plugin rainlab/forum-plugin/#141. It happens when the components do not have any template files (i.e without default.htm)

[2020-06-28 16:52] LukeTowers commented on #5142
I see the problem, will push a fix.

[2020-06-28 16:57] #5142 closed

[2020-06-28 18:48] qroft commented on #5142
Thanks Luke.
One question about these procedure: i am playing around with Shopaholic and at the moment can not use it due to this bug at the current version that i am using.

I am sure that a solution for me would be to download the proper branch from Github and upload it to my server.
I also know that this can have certain risks.

But is there any other waz that allows me to use the component or

[2020-06-28 19:16] SaifurRahmanMohsin opened #5143 "Crash when importing assets using CombineAssets via plugin"
- OctoberCMS Build: ### 465
- PHP Version: 7.4.7
- Database Engine: 10.4.13-MariaDB
- Plugins Installed: Mohsin.Acme

### Description:
When I use CombineAssets::combine to import some assets into the OctoberCMS combiner, it crashes at [CombineAssets#L492](/octobercms/october/blob/develop/modules/system/classes/CombineAssets.php#L492)

### Steps To Reproduce:
1. Scaffold a fresh plugin with a compo

[2020-06-28 19:42] SaifurRahmanMohsin commented on #5143
Ooh, casting to array fixes this:
[code]
Not sure if it's a hack or the right fix thou'.

[2020-06-28 22:57] LukeTowers commented on #5142
@qroft the problem only happens when you try to fork a specific component correct? The problem is with that specific component. The "forking" feature only automatically works with components that supply a `default` partial. If they don't then it doesn't work because there's nothing to pull from.

[2020-06-28 23:26] qroft commented on #5142
Unfortunately no. I simply undeleted the Lovata Shopaholic plugin as i thought that it caused the problem.
But even now, it does not matter what component i pull over, i get the same information of a default partial not set up.

I will download now the DEV branch and upload it to my server to see if it works afterwards.

[2020-06-29 00:35] qroft commented on #5142
So i uploaded the DEV branch to my server and it does not matter what component i try to fork, i get this info:
"This component does not have a 'default' partial"

[2020-06-29 02:37] #1791 closed

[2020-06-29 03:03] bennothommo commented on #5143
@SaifurRahmanMohsin hmmm, you should be able to just add an array to `addCss()` directly - it'll use the combiner automatically if it is given an array of CSS files.

[2020-06-29 06:03] LukeTowers commented on #5142
@qroft it sounds like it might be a permissions error, does the PHP server have access to the relevant partial file?

[2020-06-29 06:07] LukeTowers commented on #5143
@bennothommo I believe he's doing it his way to get around the AssetMaker trait using the local assetPath property to resolve the asset's location since it's in a separate folder. He could try using the plugin path helper symbol (`$`, so `$this->addCss(['$/mohsin/acme/assets/sass/acme.sass']);`) or another approach I sometimes do is to set the assetPath property right before calling addCss() to th

[2020-06-29 11:21] Ladylain commented on #3887
Hi @LukeTowers

Just to let you know that your push fixed this issue :)

Best

[2020-06-29 14:13] LukeTowers commented on #3887
Perfect, thanks for the update @Ladylain!

[2020-06-29 14:32] #5073 closed

[2020-06-29 14:48] seanthepottingshed opened #5145 "Extended Plugin Form Fields using MorphOne Relationship do not get passed to Validation"
When extending plugin form fields using MorphOne Relationship, nothing is passed to the validation for the related values.

[code]

[2020-06-29 14:48] #5145 closed

[2020-06-29 14:49] vojtasvoboda opened #5146 "Critical error: Missing argument 6 for HasManyThrough construct"
Check screenshot. When I change [this line](https://github.com/octobercms/library/blob/master/src/Database/Relations/HasManyThrough.php#L22) from:

`parent::__construct($query, $farParent, $parent, $firstKey, $secondKey);`

to

`parent::__construct($query, $farParent, $parent, $firstKey, $secondKey, 'id');`

it works, but it who knows if it is correct :-)

![snimek obrazovky 2016-04-20 v 14 44 11]

[2020-06-29 14:49] #5146 closed

[2020-06-29 14:49] #5147 closed, assigned to nobody

[2020-06-29 14:49] jfoliveira opened #5148 "Can't make the builder searchWhere use the complete search term!?"
Hi, after [struggling trying to search for the exact search term](https://octobercms.com/forum/post/recordfinder-how-filter-records-starting-with-whole-search-term) I noticed that [src/Database/Builder.php line 29](https://github.com/octobercms/library/blob/master/src/Database/Builder.php#L29) breaks the search term into words.

Giving that, how could we make OctoberCMS backend search widgets (`re

[2020-06-29 14:49] #5148 closed

[2020-06-29 14:50] daftspunk opened #5149 "plugin:create command broken"
Paging @gpasztor87

When you execute `php artisan plugin:create Acme.Test` it creates the plugin inside the following folder:

**/plugins/acme/test/acme/test/Plugin.php**

Please fix and also test the other commands.

[2020-06-29 14:50] #5149 closed

[2020-06-29 14:51] triasrahman opened #5151 "exception 'ErrorException' with message 'imagesx() expects parameter 1 to be resource, boolean given'"
Hi @daftspunk,

I've got so many errors when an image is resized by `getThumb()` on twig. It makes the 500 error page. On the error log, it happens on [Resizer:80](https://github.com/octobercms/library/blob/master/src/Database/Attach/Resizer.php#L80) when trying to call `imagesx(false)`.

The weird thing is why the param is `false` instead of image? After I looked on the database, I see the `conte

[2020-06-29 14:51] #5151 closed

[2020-06-29 14:51] jonpxpx opened #5152 "Handling offsets with Resizer"
Hey @daftspunk,

We have the need to be able to thumbnail to the top left of the image, so we were passing across the offsets in our partials and expected the image to be cropped to those positions, however the offsets are ignored for the Resizers crop method.

A simple and NON elegant way of doing this for now could be:

[code]

We are going to look into implementing a different resizer in our ow

[2020-06-29 14:51] #5152 closed

[2020-06-29 14:52] #5153 closed

[2020-06-29 14:52] tobias-kuendig opened #5153 "HtmlBuilder::limit fails with umlauts"
When passing a string to HtmlBuilder::limit that includes umlauts, the string encoding somehow gets messed up. The following test case fails: https://github.com/OFFLINE-GmbH/library/commit/dbaff8e164f5b081e03b72e1e12c4b9f4c72cb36

[code]

Expected output is

[code]

Received output is

[code]

[2020-06-29 14:52] LukeTowers commented on #5153
@tobias-kuendig did this ever get fixed?

[2020-06-29 14:52] #5154 closed

[2020-06-29 14:53] mohamedsharaf opened #5155 "use Extension in my code"
i saw a post on sitepoint  where i can extend user class methods from plugin i ke the concept
i need to use it on my own code not the whole framework

class Plugin extends PluginBase
{
    public function boot()
    {
        User::extend(function($model){
            $model->belongsTo['team'] = ['Rafie\SitepointDemo\Models\Team'];
        });
    }
}

how can i make my laravel user class like thi

[2020-06-29 14:53] #5155 closed

[2020-06-29 14:53] PavelVesnin opened #5156 "Wrong variable name"
Something wrong with Resizer
https://github.com/octobercms/library/blob/master/src/Database/Attach/Resizer.php
Line 111

[code]

[2020-06-29 14:53] #5156 closed

[2020-06-29 14:53] kerbylav opened #5157 "Broken 'unique' validation"
https://github.com/octobercms/library/blob/master/src/Database/Traits/Validation.php#L275

This breaks unique validation with 'additional where clauses' as per laravel docs.

[2020-06-29 14:53] #5157 closed

[2020-06-29 14:53] alxy opened #5158 "forceCreate() method"
To fullfill laravels API and for convenience reasons, the `Validation` trait should also define a `forceCreate()` method. The current, inherited laravel implementation does not work for October, as it does not bypass validation.

For reference: https://github.com/octobercms/library/blob/master/src/Database/Traits/Validation.php#L86-L94

I'd prepare a PR, but Im unsure how this is implemented best.

[2020-06-29 14:53] #5158 closed

[2020-06-29 14:54] LukeTowers commented on #5158
@alxy was this ever addressed?

[2020-06-29 14:54] robinbonnes opened #5159 "Localize the exceptions"
Is it an idea to localize the exceptions given by the Rain library?

For example the login errors like:

[code]

I understand the library acts like a kind of framework and should work standalone, however maybe its an idea to defer the exception by returning the exception type and then localize it in octobercms?

Let me know what you think.

P.S. It's for about 50 messages/exceptions

[2020-06-29 14:54] #5159 closed

[2020-06-29 14:54] axomat opened #5160 "Component class property values not set unless explicitly declared"
This is easily reproduced by setting $this->test to anything in a component and then dd'ing it. It will always be null as a result of the extendabletrait changes you made a few days ago (labelled "this will cause some pain!").

While I know that it is good practice to declare properties correctly, it is not always easy to do so.

For instance, if you check the property $this->mymodel->validationEr

[2020-06-29 14:54] #5160 closed

[2020-06-29 14:54] jofrysutanto opened #5161 "October\Rain\Foundation\Exception versus Illuminate\Foundation\Exceptions namespace"
Following up on the this [post](http://octobercms.com/forum/post/is-it-posible-to-bring-back-the-app-directory-for-native-laravel) on how to include full `app/` structure into october, came to my attention that only `Exception` naming is inconsistent from Laravel's Illuminate library. Is it worthwhile renaming `October\Rain\Foundation\Exception` into `October\Rain\Foundation\Exceptions` to closely

[2020-06-29 14:54] #5161 closed

[2020-06-29 14:55] alxy opened #5162 "Purgeable trait"
I think, there is an issue with the time, when thie purging is applied.
Apparently, I am not able to work with the $purgeable attributes in the models `beforeSave()` event method. My guess is, that the pruging is applied to early, that means before the `bevoreSave()` method is called. That should be changed.

[2020-06-29 14:55] #5162 closed

[2020-06-29 14:55] psoots opened #5163 "Error calling create() on MorphToMany Relation."
Let's say we have the m~m polymorphic relationship as set up in the [Eloquent docs](http://laravel.com/docs/master/eloquent-relationships#many-to-many-polymorphic-relations) but using October's models. Then as I understand it, you should be able to call `$post->tags()->create(['tagName' => 'foo']);`. However, this throws an error:

Eloquent's [`create`](https://github.com/laravel/framework/blob/5.

[2020-06-29 14:55] #5163 closed

[2020-06-29 14:55] #5164 closed

[2020-06-29 14:56] #5165 closed

[2020-06-29 14:56] tiancheng91 opened #5165 "Error query in Database\Relations\DeferOneOrMany::withDeferred()"
For example, if you has another db connection with diff prefix and defined an model with it, error occurs,  Default `DbDongle::getTablePrefix()` and `$table` in `$query->from` is error defined.

[2020-06-29 14:56] keiosweb opened #5166 "[Feature request] Kernel configuration"
Laravel 5 architecture depends on application using it's own Kernel class, which has array fields used for configuration - global and route-related middleware stacks. Currently October allows no access to edit those configurations and uses hard-coded kernel class October\Rain\Foundation\Http\Kernel.

My proposition is to allow October's kernel class to import settings the same way service provider

[2020-06-29 14:56] #5166 closed

[2020-06-29 14:56] keiosweb opened #5167 "CSRF verification"
Currently CSRF verification middleware is commented out in Kernel class and I was unable to find any other place in code doing CSRF checks. Is October using CSRF protection at all?

[2020-06-29 14:56] #5167 closed

[2020-06-29 14:57] pfrend opened #5168 "$model->hasManyRelation()->saveMany($models) fails, tries to defer binding always."
The saveMany() method in Illuminate\Database\Eloquent\Relations\HasOneOrMany does not function correctly.

The problem is it calls array_walk with the current class instance and the save method as array params:
array_walk($models, array($this, 'save'));

This means the save method is called with the index of the current array_walk iteration as the second param, which then gets passed as the $sessi

[2020-06-29 14:57] #5168 closed

[2020-06-29 14:57] firemankurt opened #5169 "reconsider changes to File::getStorageDirectory()"
https://github.com/octobercms/library/blob/master/src/Database/Attach/File.php#L538

This recent change makes it more difficult to get path of files.

Combining Config::get('cms.storage.uploads.path') and File::getDiskPath() used to give path of uploads.

Now results in "/storage/app/uploadsuploads/protected/"  instead of "/storage/app/uploads/protected/"

[2020-06-29 14:57] #5169 closed

[2020-06-29 14:58] keiosweb opened #5170 "::extend method is broken"
October\Rain\Database\Traits\Validation uses global scope registration via static trait boot method, this method is called **once on model registration** and ~~every single time object using this trait is constructed~~ every single time Illuminate\Database\Eloquent\Model::flushEventListeners is called and if this method uses static::extend call, which has no check if callback was already registere

[2020-06-29 14:58] #5170 closed

[2020-06-29 14:58] tresbach opened #5171 "Laravel v5.0.6 change in Model::newFromBuilder"
Hi, [this change](https://github.com/laravel/framework/commit/5165d44c7741dd901d71ca3e9a40b14e4170d7c1#diff-1) breaks October Model. I'm making a PR, in case  it's the right approach.

[2020-06-29 14:58] #5171 closed

[2020-06-29 14:58] Flynsarmy opened #5172 "URL::route() is relative despite absolute argument being true"
`URL::route('foo', [], true)` will return a relative URL in the RC despite that third argument _$absolute_ being true.

[2020-06-29 14:58] #5172 closed

[2020-06-29 14:58] SaifurRahmanMohsin opened #5173 "Switch to ApplicationException"
I noticed [this error](http://i.imgur.com/ZQXG5fd.png) when I used RainLab.User plugin. PHP's Exception class gives the line number and internal file path and name which doesn't help to retain transparency from the web app users. While one way would be to set debug to true, it would be best to change from Exception to Application Exception. Also, I noticed the strings are hardcoded as English. It

[2020-06-29 14:58] #5173 closed

[2020-06-29 14:58] gpasztor87 opened #5174 "Error in Filesystem class"
Hi!

I have the following error:
Declaration of October\Rain\Filesystem\Filesystem::put() should be compatible with Illuminate\Filesystem\Filesystem::put($path, $contents, $lock = false)

[2020-06-29 14:58] #5174 closed

[2020-06-29 14:59] #5175 closed

[2020-06-29 14:59] #5176 closed

[2020-06-29 14:59] adis-io opened #5176 "It seems simpleTree conflicts with relation form field."
![](http://i.imgur.com/bdaTKnu.png)

Here my gists:
https://gist.github.com/adisos/9a170a3689b42759a0d0

[2020-06-29 14:59] daftspunk opened #5177 "Better relation key definitions"
Phone
belongsTo
Person

Phone
key - person_id
otherKey - id

User
hasMany
Roles

User
key - role_id
thisKey - id

Post
belongsToMany
Category

Post
table - posts_categories
thisKey - post_id
otherKey - category_id

Category
table - post_categories
thisKey - category_id
otherKey - post_id

[2020-06-29 14:59] #5177 closed

[2020-06-29 14:59] gpasztor87 opened #5178 "Class 'October\Rain\Database\Relations\DbDogle' not found"
Hi,

I have the following error in the backend pages:
We're sorry, but an unhandled error occurred. Please see the details below.

Class 'October\Rain\Database\Relations\DbDogle' not found
../vendor/october/rain/src/Database/Relations/DeferOneOrMany.php line 46

[2020-06-29 14:59] #5178 closed

[2020-06-29 14:59] #5179 closed

[2020-06-29 15:00] eelkevdbos opened #5180 "CAST slave_id in DeferOneOrMany whereRaw calls"
Without the CASTing of slave_id to INTEGER, PostgreSQL fails to execute the where statement. Commit resolving this issue is found here:

https://github.com/eelkevdbos/library/commit/1c788cc212963e14cd77a4297bc3e9f88f4ebb3a

[2020-06-29 15:00] #5180 closed

[2020-06-29 15:00] Flynsarmy opened #5181 "model.getAttribute, model.beforeGetAttribute events don't return properly"
If you return 0 in a `model.getAttribute` or `model.beforeGetAttribute` event, the result will be ignored. Only null should be ignored.
### Use case

I want to return the number of reward points a user has:

[code]

In the above, if `sum('amount')` is 0, `$user->rewardpoints` will be null instead of 0.

[2020-06-29 15:00] #5181 closed

[2020-06-29 15:00] #5182 closed

[2020-06-29 15:00] jordilopez opened #5182 "DeferOneOrMany.php and table prefixes"
Hi,

DeferOneOrMany is ignoring table prefixes so, if you're using them, exceptions will be thrown when creating a new post.

Regards,
Jordi

[2020-06-29 15:00] Danno040 opened #5183 "Bug in ExtendableTrait behavior: Setting undeclared attributes doesn't work"
There is a bug with how ExtendableTrait's extendableSet is written where assigning to an undeclared attribute will fail silently.

Here's a quick test to demonstrate what I mean:

[code]

This could be remedied in one of two ways:
1. Add `$this->{$name} = $value;` after line 161 in [ExtendableTrait](https://github.com/octobercms/library/blob/master/src/Extension/ExtendableTrait.php#L161)
2. Follow

[2020-06-29 15:00] #5183 closed

[2020-06-29 15:00] that0n3guy opened #5184 "Support morphToMany and morphedByMany polymorphic relationships"
I decided this issue should probably go here as well.

Polymorphic relationships in laravel are pure awesome, I'm not sure why more people don't use them yet.

We need full support for many-to-many polymorphic relationships.

Also see: https://github.com/octobercms/october/issues/229

[2020-06-29 15:00] #5184 closed

[2020-06-29 15:01] alxy opened #5185 "[Bug] Uploading images with uppercased extension doesn't work"
Uploading images with uppercased extension doesn't work. Lead to 404 - Page not found errors.

[2020-06-29 15:01] #5185 closed

[2020-06-29 15:01] andrew13 opened #5186 "Throttling by delay instead of IP"
I'm willing to implement throttling by delay instead of IP.

Currently it is by IP which is fairly easy to fake.
https://github.com/octobercms/library/blob/master/src/Auth/Manager.php#L192

I would suggest that instead a delay be used.
http://blog.codinghorror.com/dictionary-attacks-101/

If desired, I'll code it up in a pull request.

[2020-06-29 15:01] #5186 closed

[2020-06-29 15:02] daftspunk opened #5187 "Improve paginate() method"
It is unnatural to set the current pagination page by using:

[code]

We should include this as part of the `->paginate()` method in the Model. Eg:

[code]

[2020-06-29 15:02] #5187 closed

[2020-06-29 15:02] daftspunk opened #5188 "Add support for 'condition' default relation filter"
As per docs:

Default relationship filters can be used on all relations:
- **order** - sorting order for multiple records.
- **conditions** - applies a where statement. (TODO)

[code]

[2020-06-29 15:02] #5188 closed

[2020-06-29 15:02] daftspunk opened #5189 "The installer does not save the active build number"
When installing and immediate update is possible because the build number is not recorded.

[2020-06-29 15:02] #5189 closed

[2020-06-29 15:02] daftspunk opened #5190 "Add encrypted attribute modifier"
Related issue:
https://github.com/rainlab/mailchimp-plugin/issues/1

In the same family as hashable, purgeable and jsonable; another type is needed for storing sensitive data in the database `encrypted`.

This should be added to October's ActiveRecord model.

[code]
- **$encrypted** - values are encrypted and decrypted for storing sensitive data.

[2020-06-29 15:02] #5190 closed

[2020-06-29 15:02] daftspunk opened #5191 "Add support for hasManyThrough"
With the introduction of Laravel 4.1 there is a new `hasManyThrough` relationship definition. This should be ported to October's ActiveRecord model.

Prototype code:

[code]

Whilst there, during the upgrade there were some additional parameters made available (localKey) that should also be added to the exisiting relationship accepted parameters.

[2020-06-29 15:02] #5191 closed

[2020-07-01 13:49] XIOLog commented on #5058
I have some problem

[2020-07-01 14:29] XIOLog commented on #5058
I`m switched to the Laravel 6 branch and a problem still remains

[2020-07-01 14:42] XIOLog opened #5193 "SASS compiler fails to compile `rgba(#xxx, yy)` value with php 7.4"
- OctoberCMS Build: master
- PHP Version: 7.4
- Database Engine: MariaDB

### Description:
SASS file with

[code]

I had an error:
[code]

I have switched to the Laravel 6 branch (wip/laravel-6), but the problem still remains.

[2020-07-01 17:24] daslicht commented on #4801
So this is added inteh current version ? How to use it please?

[2020-07-01 18:23] mightyhaggis commented on #4801
@daslicht Somehow I missed this update! And a great one it is.
Looking through the Issues and having just tested to find it works  :)

`{repeater name="" tab="" prompt="" style="accordion"} ... {/repeater}`
Options for style: https://github.com/octobercms/october/pull/4877#issue-362492258

[2020-07-01 20:12] jostos opened #5194 "October stops working after cache clear from backend - restrict-api / opcache"
Looks like that i was also lucky one experiencing the issue with OPCache and restric_api

This issue is coming together with all of this looks like

After i do some edit or change in the files (in the backend) and save it - sometimes it goes trough and sometimes not

The only solution to see the changes is to clear the cache from backend widget -
After i do it - page and October is not reachable a

[2020-07-01 20:14] jostos commented on #5194
Also after i do some change to code i need to go trough couple of page refreshes with errors like this - >
![iss2](https://user-images.githubusercontent.com/6843110/86287309-46a13c00-bbe8-11ea-8902-02e3bad07de0.jpg)

[2020-07-01 20:54] LukeTowers commented on #5194
Sounds like problems with server permissions. Do those files exist when you browse the filesystem?

[2020-07-01 20:55] LukeTowers commented on #4801
@mightyhaggis @daslicht docs are updated here: https://github.com/octobercms/docs/blob/master/backend-forms.md#repeater. They'll be updated on the main site as soon as 467 becomes stable.

[2020-07-01 20:58] LukeTowers commented on #5193
Duplicate of #5058

[2020-07-01 20:58] #5193 closed

[2020-07-01 21:30] jostos commented on #5194
Im not sure if i understand, the permissions on files on FTP are 755 for everything looks like
The files that im editing are on the FTP as well and im able to reach them and edit them via October backend
Sorry looks like i might be wrong or no idea what you are asking :D

[2020-07-01 22:02] LukeTowers commented on #5194
@jostos does this happen on any other server you use? Or locally? Without more information and the ability to replicate the issue there's not much we can do.

[2020-07-01 22:06] jostos commented on #5194
There are couple circumstances that it happens which im not familar with
for now it is like this -
1. i edit code -save it
2. i get issue in my 2nd comment
3. wait OR refrsh page till i go trough all errors from restric/opcache i dont know
4. change is on the server

5. or the change goes trough - 1 from 10 tries

so i dont know what is wrong

[2020-07-01 22:21] RomainMazB opened #5195 "ThemeData attachments should rely on attachMany relationship instead of multiple attachOne"
Hi.

As I've already talked with @LukeTowers on slack, I've "discovered" that the `ThemeData` model is using multiple `attachOne` relationship as [you can see here](https://github.com/octobercms/october/blob/09b7e1b2fd75b46284c9517fe2503f4574b17638/modules/cms/models/ThemeData.php#L127-L129) to handle the files upload you may need to customize your theme.

The problem of that is when you create a

[2020-07-01 23:29] LukeTowers commented on #5195
So basically your proposal is to continue having an attachOne relationship defined for every fileupload field used on a theme, but behind the scenes have an attachMany relationship that retrieves all of the related files in one query and sets the value of all the attachOnes to their appropriate value?

[2020-07-02 01:02] bennothommo commented on #5194
@jostos What are your `opcache` settings in your `php.ini` config?

[2020-07-02 01:28] shoguniphicus opened #5196 "Composer Autoload Is Broken For Backend"
- OctoberCMS Build: 465
- PHP Version: 7.2.24
- Database Engine: MySQL

**Description:**
It's been a while since we update anything to the system, but that's also because we were never really logged out of the backend. But our last patch to the server broke it.

We encounter the issue of missing library that is supposed to be loaded with October.Drivers. We checked the plugin files and realized th

[2020-07-02 03:02] LukeTowers commented on #5196
Duplicate of #5110. This has been fixed in https://github.com/octobercms/october/commit/8dba43ba0b3d356761675402b58c0bbe4d09dc9a and will be available in a couple days at most when we release 467. For now you can just apply those changes manually in your installation.

[2020-07-02 03:02] #5196 closed

[2020-07-02 04:11] LukeTowers commented on #5196
Build 467 is now available.

[2020-07-02 06:01] RomainMazB commented on #5195
@LukeTowers

Yep, I said to myself we maybe should keep the attachOne to prevent any breaking change I can't see but it can be deleted if implemented in the core:

I've made some tests by:
- still registering the list of file uploads in an array
-  overriding the `getAttribute` method in `ThemeData`: if the attribute is in the array, return `attachments()->whereFirst('field', $key);` else return `

[2020-07-02 07:31] jostos commented on #5194
I'm a little bit lost in this stuff - where i can find php.ini?

[2020-07-02 07:35] bennothommo commented on #5194
@jostos might be easier to just do a `<?php phpinfo(); ?>` in a file on your webhost somewhere and access that via your browser - that'll show the `opcache` configuration.

[2020-07-02 07:49] jostos commented on #5194
Opcode Caching | Up and Running
-- | --
Optimization | Enabled
SHM Cache | Enabled
File Cache | Disabled
Startup | OK
Shared memory model | mmap
Cache hits | 1325830153
Cache misses | 167841
Used memory | 3944096024
Free memory | 6314066600
Wasted memory | 479255616
Interned Strings Used memory | 133278552
Interned Strings Free memory | 202265344
Cached scripts | 145045
Cached keys | 145045
Max ke

[2020-07-02 09:53] Samuell1 commented on #5194
https://github.com/octobercms/october/issues/1250 Similar issue before somewhere in code is missing some statement to skip cache if doesnt exists

[2020-07-02 14:30] rgsone opened #5197 "Backend Date/DateRange list filter 'ignoreTimezone' does not work"
- OctoberCMS Build: 466
- PHP Version: 7.2+

### Description:
When i set `ignoreTimezone: true` with date type scope in my filter definition, the `ignoreTimezone` is not applied.
After digging in OC modules i found incorrect php opening tag in `modules/backend/widgets/filter/partials/_scope_date.htm` and `modules/backend/widgets/filter/partials/_scope_daterange.htm`.
The tag is `<?php` instead of

[2020-07-02 20:08] LukeTowers commented on #5197
@rgsone could you submit a PR? @LarryBarker could you confirm this?

[2020-07-03 08:08] mikestraczek opened #5198 "RelationManager on "belongsTo" with "update" create new record, but dont update it."
- OctoberCMS Build: 466
- PHP Version: 7.3
- Database Engine: MySQL 5.7

### Description:
Hey,

I have add a relation from User to Address (belongsTo) and create a RelationManager with "update"-Function to create and update new record. At OctoberCMS Version 465 it works fine, but at version 466 or 467 the record is not updated. Form fields updated, but after reloading the old data will appears.

[2020-07-03 13:01] mplodowski commented on #5198
I have the same issue using hasMany with RelationManager.

I click on list record, popup with update form is displayed. I close it.

Then I click on create new record and popup displays with data filled from the previous update form. This is not happening when I refresh page and click to create new record first.

This was working fine on build 465.

[2020-07-04 00:06] LukeTowers commented on #5198
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2020-07-07 22:15] RomainMazB opened #5200 "AttachOne and AttachMany eagerload in PostgreSQL: Varchar <> Integer comparison is not allowed."
- OctoberCMS Build: ### 467
- PHP Version: 7.4
- Database Engine: PostgreSQL 12.3

### Description:
I'm facing an issue on RainLab\Blog with PostgreSQL which is mostly related to the `attachMany/attachOne` relationships: the `attachment_id` in the `system_files` table is stored as a `varchar(191)` (I guess to let developer use UUID on their models), but PostgreSQL can't process a string <> integer

[2020-07-08 05:24] chrisvidal opened #5202 "Override ImportExportController Behavior give an exception"
- OctoberCMS Build: latest
- PHP Version: 7.3
- Database Engine: MySQL 5.5

### Description:
When creating a new Controller Behavior class by overriding the `ImportExportController` behavior, and navigating to the `export` URL,, this exception shows up:

[code]

[code]

### Steps To Reproduce:

[2020-07-08 05:27] chrisvidal commented on #5202
my new controller looks like

[code]

[2020-07-08 05:29] LukeTowers commented on #5202
@chrisvidal why are you extending the behavior instead of just overriding the methods?

[2020-07-08 06:12] chrisvidal commented on #5202
not sure to understand the question.
I want to make this behavior class available in my other projects.

[2020-07-08 07:10] Rike-cz commented on #5202
If I had the same challenge, I used this constructor for change partials path:
[code]

[2020-07-08 07:22] LukeTowers commented on #5202
@chrisvidal I still don't understand your use case, but @Rike-cz has the correct fix for your current issue.

[2020-07-08 07:22] #5202 closed

[2020-07-08 07:25] chrisvidal commented on #5202
@LukeTowers
I am creating a new behavior inheriting from the existing ImportExporController because I want to add a missing functionality which is the ability to export selected rows from a backend list, instead of using the export form.

@Rike-cz thanks a lot. Let me try this.

[2020-07-08 08:27] bennothommo commented on #5061
Fixed by #5201.

[2020-07-08 08:28] bennothommo commented on #1850
Fixed by #5201.

[2020-07-08 10:05] bennothommo commented on #5200
@RomainMazB does PostgreSQL have some form of "strict" mode like MySQL? If it does, perhaps disabling it will loosen up the type checking.

[2020-07-08 19:03] RodrigoGalter opened #5203 "Problem if combine letter "a" with single other character in slug"
- OctoberCMS Build: 467
- PHP Version: 7.3.19

### Description:
When trying to use a letter "a" the slug is not formed, and the next following letter of "a" is also not considered for the slug, only after the third letter that the slug begins to be formed.

### Steps To Reproduce:
Configure the slug to use the preset of the field that will mirror, and use the letter "a" alone or followed by anothe

[2020-07-08 19:39] LukeTowers commented on #5203
This is done on purpose, the concept is called "stop words". See https://github.com/octobercms/october/blob/develop/modules/system/assets/ui/js/input.preset.js#L163 for the full list of words removed by default.

[2020-07-08 19:39] #5203 closed

[2020-07-08 19:50] RodrigoGalter commented on #5203
but there are situations that I need the combination "AT", is there a way to remove some letters from the list as my need?
In my case in portuguese I have a title "Alta tensão (AT)", in this case I can not generate a complete slug for this title.

[2020-07-08 20:42] fgschafer opened #5204 "Problems with mediafinder generated links on October installed on subfolder after update to build 467"
I noticed that after updating to build 467, the mediafinder generated links don't work unless the link policy is set to "force" if October is installed in a subfolder.  It would be nice to have proper support for relative links in this situation too.

[2020-07-08 20:46] LukeTowers commented on #5203
@RodrigoGalter you should be able to use the `data-input-preset-remove-words="false"` option to prevent it from removing stop words:

[code]

[2020-07-08 21:09] RomainMazB commented on #5200
Hi @bennothommo ,

AFAIK and after some searches to be sure of it: It doesn't exist a way to be less strict in PostgreSQL but I've found a fix and it's finally not related to PostgreSQL...

Hard to guess this issue has been added on Laravel 5.7!

On Laravel 5.7, the [whereInMethod](https://github.com/illuminate/database/blob/5.7/Eloquent/Relations/Relation.php#L317-L324) has been added to Eloquent

[2020-07-09 07:25] mahony0 opened #5205 "Validation Error in Theme File PHP Code Section Parser"
- OctoberCMS Build: 465
- PHP Version: 7.4

![err](https://user-images.githubusercontent.com/2674488/87009399-ca9d8a00-c1cd-11ea-8330-a7759d6aeb0c.jpg)

As it is shown in the screenshot, **use Cache** directive is in the method definition and commented.
Line 10 is causing this issue because if I remove the line, everything is fine.

[2020-07-09 07:39] bennothommo commented on #5205
@mahony0 As far as I'm aware, you cannot use `use` statements in the PHP code for templates, as that code is wrapped in a class before being run. If you want to use classes from external libraries, you have to use their fully-namespaced class names.

[2020-07-09 08:01] mahony0 commented on #5205
My intent is not using **use Cache;** in the method definition space, but surprised while it's commented but parsed as well.
I thought this is a bug, but it seems it's not so we can close this issue as well.

[2020-07-09 08:03] LukeTowers commented on #5205
@bennothommo you can actually use `use` statements, they just can't be the root namespace since the parsed class is already in the root namespace since it doesn't have one itself. @mahony0 you are correct that it is a bug that it's picking up that use statement even though it's commented, however I'm going to submit a PR that just fixes the issue of "non-compound names" being used because trying t

[2020-07-09 08:13] mahony0 commented on #5205
@LukeTowers is [this regex](https://regex101.com/r/UDBRPz/1) suits for it? Need be carefully tested though

[2020-07-09 08:18] LukeTowers commented on #5205
@mahony0 meh, https://github.com/octobercms/october/pull/5206 fixes it and is less risky. The commented out sections aren't getting evaluated, it's literally just looking for use statements to pull into the top of the file, so the worst that would happen is that a useless class gets imported, which doesn't do anything AFAIK.

#5206 fixes the annoying issue that even trips me up sometimes by just p

[2020-07-09 08:19] #5205 closed

[2020-07-10 05:35] tobias-kuendig commented on #5153
It did not! I might find some time next week and see if I can still reproduce this issue and implement a fix.

[2020-07-10 15:01] igor-tv opened #5207 "Soft deleting relations does not soft delete records from the pivot table"
- OctoberCMS Build: 465
- PHP Version: 7.4.6
- Database Engine: MySQL

### Description:
If I delete a model record that has belongsToMany relationship, the related records in the pivot table are not marked deleted.

### Steps To Reproduce:

1. Create model witch belongsToMany relation:
[code]
table 'vendor_plugin_mymodels_users'
`id | name | reated_at | updated_at | deleted_at
`
[code]
pivot table

[2020-07-12 10:32] bennothommo commented on #5207
@igor-tv What is the `User` model that the `MyModel` model in your example is related to? Is that supposed to be `MyModelUser` to match your example?

[2020-07-13 20:51] frthjf commented on #4565
I've run into the same issue. For me, the solution was to remove the cache files under `storage/framework/*.php`.

[2020-07-14 07:03] lautsevich opened #5208 "Improve poor performance of the adding an image to a model in the add() method"
The query for the deleting legacy data from the `system_files` table is calling while adding an image to a model `attachOne` in the `add()` method:

PHP code example:

[code]

SQL query:

[code]

A single query execution performance:

up to 1k records | 100k+ records
--------------------- | -------------------
~560μs              | ~405ms

[2020-07-14 21:16] ayumi-cloud opened #5211 "CMS section loading blank code editor and can't close the tab bug"
- OctoberCMS Build: 467
- PHP Version: 7.3.19
- Database Engine: MySQL
- Plugins Installed: n/a

### Description:
When opening several files in the cms section, we have seen the cms crash and display a white screen. The file then can not be deleted and the page needs to be refreshed. This has happen a dozen times today from different computers in the office and this only started after updating the

[2020-07-14 21:29] LukeTowers commented on #5211
Please post the error log and stack trace from your browser's developer console.

[2020-07-14 23:39] ayumi-cloud commented on #5211
The error log in the settings section in the cms and the dev tools console log screen were both not showing any errors, every time the error occured.

[2020-07-15 04:05] LukeTowers commented on #5211
There should definitely be something in the browser dev tools when the issue occurs, whether that's a failed network request or a breaking error in JS

[2020-07-15 16:12] tamer-hassan commented on #3808
The issue resurfaced with latest release of OctoberCMS, and I had to manually reapply the above mentioned commit changes to fix..

[2020-07-15 16:15] tamer-hassan opened #5213 "Switch ar locale to use ar-ly for moment.js localization"
Briefly, asset js localizes arabic numbers to indic numbers, causing issue with DateTime helper and SQL when submitting dates in forms.

To quote from 7 Nov. 2018 comment by Ghost:
https://github.com/octobercms/october/issues/3808#issuecomment-436427220

I had to manually reapply the above mentioned commit changes to fix..

[2020-07-15 16:18] ayumi-cloud opened #5214 "Menu items don't support being provided custom properties anymore"
- OctoberCMS Build: 467
- PHP Version: 7.4

We had this code running in one of our plugins for quite a while, see example: https://octobertricks.com/tricks/register-custom-side-navigation-for-your-plugin

We believe it stopped working on v466 update (2 updates ago)

When adding the code line:

[code]

To see what's being passed through we see the following:

[code]

However, the `Plugin.php` file

[2020-07-15 16:41] LukeTowers commented on #5213
Need to swap out https://github.com/octobercms/october/blob/develop/modules/system/assets/ui/vendor/moment/locale/ar.js symbolMap section with https://github.com/octobercms/october/blob/develop/modules/system/assets/ui/vendor/moment/locale/ar-ly.js and then run `php artisan october:util compile lang`

[2020-07-16 01:12] bennothommo commented on #5214
@ayumi-cloud It appears that the October Trick in question was relying on a "hack" so to speak, in that previously we were allowing arbitrary configuration options for the navigation items. @Klaasie's work on #4929 has changed that as now the navigation configuration is converted into true classes that only take the official configuration options, and not just converted to standard objects, as per

[2020-07-16 01:14] bennothommo commented on #5214
My opinion is for the latter, as there's no real harm in including these values if people want to use them for custom navigation partials.

[2020-07-16 11:21] ayumi-cloud commented on #5214
@bennothommo @LukeTowers

Thanks for looking into this issue and the useful information. The doc's issue I've opened up - yes I will give it a go and create a pr for you. Just got a question though, are you guys going to add the `groups` property to the default list ?

Also your link: https://github.com/octobercms/october/blob/develop/modules/backend/classes/NavigationManager.php#L153-L183

Doesn'

[2020-07-16 11:25] ayumi-cloud commented on #5211
@LukeTowers we were not seeing any notification of an issue at all. Since updating Google Canary, all of yesterday we didn't see this issue. There may a chance it was a bug in the browser? If we come across this again we will investigate and update this post - sorry to not be able to add some error log or stack trace right now.

[2020-07-16 11:46] ayumi-cloud commented on #5214
Going to make the issue a little bit more complicated, I've got a concern with how October CMS deals with the sidebar navigation at the moment. In the `settings` section you can compress the sub-menu headers in the sidebar and then refresh the screen and this will be stored in a cookie. Likewise, using this `hack` method creates and stores the selection in a cookie.

The problem I have is that thi

[2020-07-16 13:51] xitara opened #5216 "How to prevent line endings from changing?"
- OctoberCMS Build: 465
- PHP Version: 7.3.20 fpm (debian/buster)
- Database Engine: mariadb
- Plugins Installed: demo

### Description:
if I edit a file in backend/cms, it will be saved with windows-line endings
on edit just one line in an external editor (sublime text 3 in my case) the full file will be marked as changed in git (sublime merge)

I think, the backend-editor should be use the syste

[2020-07-16 15:02] LukeTowers commented on #5216
@xitara see `cms.convertLineEndings` in config/cms.php. I believe it's actually you using a browser on Windows that causes the problem, so just enable that setting and you should be good to go.

[2020-07-17 06:12] LukeTowers commented on #5214
@bennothommo I prefer the latter as well. See https://github.com/octobercms/october/pull/4929/files#r455474792 for how we can do that.

[2020-07-17 12:36] Duddy67 commented on #963
@LukeTowers  Yes, it's still an issue for me.
Has a solution been found, or is the problem still unresolved ?

[2020-07-17 15:10] LukeTowers commented on #3202
Fixed by https://github.com/octobercms/october/commit/517c588ef7224941af761ba4df4f329dd0a442db

[2020-07-17 15:10] #3202 closed

[2020-07-17 15:10] LukeTowers commented on #2602
Fixed in https://github.com/octobercms/october/commit/517c588ef7224941af761ba4df4f329dd0a442db

[2020-07-17 15:11] LukeTowers commented on #4592
Fixed by https://github.com/octobercms/october/commit/517c588ef7224941af761ba4df4f329dd0a442db

[2020-07-17 15:11] LukeTowers commented on #5140
Fixed by https://github.com/octobercms/october/commit/517c588ef7224941af761ba4df4f329dd0a442db

[2020-07-17 15:12] LukeTowers commented on #963
@Duddy67 sounds like you're not initializing your List widget correctly. Please post your code.

[2020-07-17 15:25] Duddy67 commented on #963
Here it is:
[code]

[2020-07-17 16:31] xitara commented on #5216
My browser runs on linux (chrome) but I test this option.

October is the best CMS I ever used :)
Thank you

[2020-07-17 16:38] LukeTowers commented on #963
@Duddy67 that's the problem. If you aren't initializing the List widget on every request made to the backend when your ReportWidget is present then it will not be present when you attempt to call an AJAX handler that is defined by the Lists widget (i.e. pagination). You need to initialize that widget in the init() method of your ReportWidget

[2020-07-17 16:59] Duddy67 commented on #963
@LukeTowers  Thanks for your help, but what do you mean by ReportWidget ?
The only widget I have is the one I create in my controller (see the code above):
`$widget = $this->makeWidget('Backend\Widgets\Lists', $config);`
As for the init() method where should it be declared ?
Would you have an example ?

[2020-07-17 17:40] LukeTowers commented on #963
@Duddy67 this issue is about Report widgets. Show me the entire file you're using for your code.

[2020-07-17 18:17] Duddy67 commented on #963
@LukeTowers Sorry I didn't notice it was about Report widgets, but I guess the principle remain the same whatever the widget.
Here's my controller's code:

[code]

[2020-07-17 21:22] LukeTowers commented on #963
The principle isn't the same, this issue has nothing to do with your issue.

The problem you are encountering is that when you try to use an AJAX handler provided by your CategoryLists widget, it doesn't exist, because it's only created when `onLoadCategoryList()` is run. To fix this, you need to create the widget in your construct() method instead.

[2020-07-18 01:38] WebMago commented on #3681
I had this issue on **October CMS 4.6.5 with PHP 7.1**, I solve it using this code found in the URL:

 [https://coderoad.ru/51825844/OctoberCMS-openssl_encrypt-%D0%BE%D0%B6%D0%B8%D0%B4%D0%B0%D0%B5%D1%82-%D1%87%D1%82%D0%BE-%D0%BF%D0%B0%D1%80%D0%B0%D0%BC%D0%B5%D1%82%D1%80-1-%D0%B1%D1%83%D0%B4%D0%B5%D1%82-%D1%81%D1%82%D1%80%D0%BE%D0%BA%D0%BE%D0%B9-%D0%BC%D0%B0%D1%81%D1%81%D0%B8%D0%B2-%D0%B7%D0%B0%D0%

[2020-07-18 06:48] LukeTowers commented on #3681
@WebMago do not do that. That file will be overwritten the next time you update and by doing that you are leaving yourself vulnerable to the attack that the change was meant to prevent.

You should not have any issues with Build 465 after clearing your cookies, and if you are try enabling edge updates and updating to Build 467 instead.

[2020-07-18 08:10] Duddy67 commented on #963
@LukeTowers Thanks again. It makes sense now.
Here's my code modified according to your explanation. Hope it helps.

[code]

[2020-07-18 12:44] tobias-kuendig commented on #5153
It looks like this issue is no longer present. The test passes now without any changes. Let me know if you want a PR with the test:

https://github.com/OFFLINE-GmbH/library/commit/9fb0730579a2df0629cb6d3fe803466eb0d0311e

[2020-07-18 21:58] LukeTowers commented on #5153
@tobias-kuendig sure, can't hurt

[2020-07-19 07:01] #5197 closed

[2020-07-19 07:08] #5204 closed

[2020-07-19 07:09] LukeTowers commented on #5204
@fgschafer I've added a note to the config file about how to properly handle this: https://github.com/octobercms/october/commit/5a5208bd0b75c411840d4246bd5b3df427005ced

[2020-07-19 07:15] #5213 closed

[2020-07-19 07:20] #5137 closed

[2020-07-20 13:51] juanmoyano commented on #2330
@LukeTowers @GitJaap would you mind sharing the .htaccess redirect rules please? Thanks!

[2020-07-20 21:34] LukeTowers commented on #2330
@juanmoyano I never actually wrote any, that was just an example. Perhaps @bennothommo or @seanthepottingshed could help?

[2020-07-21 01:18] #5081 closed

[2020-07-21 07:25] seanthepottingshed commented on #2330
Sorry we use nginx so I have no knowledge of the dark arts of this .htaccess you speak of

[2020-07-21 08:02] bennothommo commented on #2330
@juanmoyano Here's an example of the rewrite rules, based off @LukeTowers suggestion:

`SeoFile.php`

[code]

`.htaccess`

[code]

I'm not responsible for this particular code suggestion ruining your work week.

[2020-07-21 16:00] WebMago commented on #3681
Here the user mention has been cleared the cookies, never confirm this be the solution, 'cause the solution was an upgrade.
https://github.com/octobercms/october/issues/3681#issuecomment-413858563

So I need to clear the cookies of all my "users" this be insane.

Let me try wit 467

[2020-07-21 16:11] LukeTowers commented on #3681
There should no longer be that requirement, the code is supposed to support both versions and upgrade the old cookies.

[2020-07-21 18:03] marcbrouwertue opened #5218 "Model firstOrFail does not fail"
When calling Model::where('someVarChar', false)->firstOrFail() returns the first item rather than failing, also the use of ->first() leads to incorrect results if the item does not exist

[2020-07-21 19:43] LukeTowers commented on #5218
What version are you using? I do not experience that happening.

[2020-07-21 20:24] pkurg opened #5219 "How to remove theme dependencies on the market page?"
https://octobercms.com/theme/pkurg-appco-october

The theme was originally loaded with this theme.yaml

[code]
But the dependence turned out to be unnecessary.

I updated my theme with new theme.yaml

[code]
But the dependence remained on the theme page . https://octobercms.com/theme/pkurg-appco-october

How to remove it?

pkurg@pkurg.ru

[2020-07-21 20:31] marcbrouwertue commented on #5218
It works fine on build 465, but after the update to 467 it does not work correctly anymore so the issue is either in 466 or 467

[2020-07-21 21:13] LukeTowers commented on #5218
Just tested it on https://09fee74e8a4f.octodock.com/backend and it worked perfectly fine. Please show your exact code and the database table in question.

[2020-07-21 21:15] LukeTowers commented on #5219
Send an email to hello@octobercms.com

[2020-07-22 04:34] bennothommo commented on #4622
I've made an attempt to improve the performance of the Media Library with a large number of images (10k+), however, the main performance decrease that occurs may unfortunately be unsolvable at this point.

The [Flysystem](https://github.com/thephpleague/flysystem) library that we use to provide the ability to store files locally, or on remote sources such as FTP, AWS, etc, does not have the capabi

[2020-07-22 08:15] LukeTowers commented on #4622
@bennothommo I think it's those reasons which is why the System\Models\File model uses folder sharding and WP uses date based upload folders. A plugin / config option could probably be made to implement the date based sharding of uploaded flies, but I can't think of anything off the top of my head that would easily fix it for existing files beyond updating all the places the existing files are ref

[2020-07-22 13:42] juanmoyano commented on #2330
@bennothommo Thanks! I'll give it a shot!

[2020-07-22 15:15] marcbrouwertue commented on #5218
@LukeTowers as far as I can see, your model is not found. Could you try this on an existing model with an existing column?

[2020-07-22 20:17] LukeTowers commented on #5218
What database driver are you using @marcbrouwertue?

[2020-07-23 15:20] marcbrouwertue commented on #5218
@LukeTowers

        'mysql' => [
            'driver'    => 'mysql',
            'host'      => 'localhost',
            'port'      => 3306,
            'database'  => '*****',
            'username'  => '*****',
            'password'  => '*****',
            'charset'   => 'utf8mb4',
            'collation' => 'utf8mb4_unicode_ci',
            'prefix'    => '',
        ],

[2020-07-23 16:12] LukeTowers commented on #5218
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2020-07-24 00:54] mabehiry opened #5221 "Session put doesn't work in Ajax handlers"
- OctoberCMS Build: ### 467
- PHP Version: 7.2
- Database Engine: MySQL
- Plugins Installed:

### Description:
I cannot write session values in Ajax handlers, although I can read the values.

### Steps To Reproduce:
public function onSend()
{
    Session::put('item', 'value');
}

public function test()
{
    echo Session::get('item'); // doesn't get any result
}

[2020-07-25 13:33] SplicedWeb opened #5222 "Site Breaking Bug affecting "stringList" and "text" properties"
- OctoberCMS Build: 467
- PHP Version: 7.1 & 7.3.1
- Database Engine: mySQL
- Plugins Installed: October.Demo, Martin.Forms

### Description:
Upgrading from Build 465 to 467 caused some components to no longer allow saving settings when the property type is "stringList" or "text".

In the magic forms plugin for example, when editing "Security" > "Allowed Fields" when values already existed, you ca

[2020-07-25 14:33] bennothommo commented on #5222
Thanks for letting us know @SplicedWeb - seems to be some broken HTML at work. Having a look now.

[2020-07-25 14:52] #5222 closed

[2020-07-26 06:25] bennothommo commented on #4864
I'm gonna close this, simply because anyone who will actually need to use the file (people who are doing development on October itself) will get the file when they clone the repo. There's probably no need for this file to be available from the Wizard installer.

[2020-07-26 06:25] #4864 closed

[2020-07-26 06:58] #5216 closed

[2020-07-26 07:22] prema770 opened #5223 "Marketplace update server breaks when provided with a previously valid project ID"
Hi - We attempted update a couple of OCMSs today and we notice this error shortly after pushing the button:
![image](https://user-images.githubusercontent.com/2165583/88473840-92d86580-cf75-11ea-8902-3094050ad14e.png)

Notice also we have an error 500 coming back from the api
http://gateway.octobercms.com/api/core/update

Has anyone got any tips on how to resolve this
Thanks in advance
Mike

[2020-07-26 08:12] LukeTowers commented on #5223
@prema770 are you able to look at your logs and provide the full stack trace?

[2020-07-26 12:09] prema770 commented on #5223
@LukeTowers Yes.
This is the traces we have in place to isolate

![image](https://user-images.githubusercontent.com/2165583/88478393-f4132f80-cf9b-11ea-90b0-0e6d732682e4.png)

This the related log.txt. Please just ask if you would like to see the apache log as well
Some additional info:
- We tried both backend and artisan
- We tried disabling all plugins
- Updated php7.2curl

Thanks for looking at

[2020-07-26 15:29] Yi-pixel opened #5224 "Does the PHP code section of theme templates support traits?"
This seems to be a strange problem, because an old project uses this framework, so I am learning to use it, but I am now encountering a very serious problem.

When I was developing the theme, I found that my development tool (PHPSTORM) was not well supported because this file was too complicated. It had declaration blocks, PHP code blocks, and twig template blocks. If I set the file type `.htm` of

[2020-07-27 04:38] bennothommo commented on #5224
We could potentially use the [`Reflection`](https://www.php.net/manual/en/book.reflection.php) library to determine if the `use` case is for a class or if it's for a trait, and place the `use` case in the proper location.

[2020-07-27 04:47] WonlyCms commented on #5224
Yes, This proposal is great. Using Reflection can more accurately determine a Trait. So, can this proposal be adopted? Maybe you can see it in a later version?

[code]

[2020-07-27 05:18] WonlyCms commented on #5224
If possible, the code will look like the following, more concise.

- plugins/october/demo/contract/Template.php

[code]

- themes/demo/pages/test/test.htm

[code]

- storage/cms/cache/12/d0/test.htm.php (test.htm After compilation)

[code]
- themes/demo/logic/test/test.htm.php

<?php

use Cms\Classes\PageCode;

return function (PageCode $page) {
    // $this === $page
    $page['name'] = 'tom';
};

[2020-07-27 06:23] bennothommo commented on #5224
@WonlyCms Would you mind giving #5225 a try and see if that works better for you? You may need to make the edits directly to the October CMS files if you cannot check out the PR directly.

[2020-07-27 07:15] WonlyCms commented on #5224
Great, it works as expected, and the `use` statements related to `trait` will now be correctly written into `class`,As expected, it was perfect.

Now, I can use traits to better extend my templates, thanks!

- themes/demo/pages/home.htm:6

[code]

- plugins/october/demo/contract/Template.php:1

[code]

- storage/cms/cache/a7/02/home.htm.php

[code]

[2020-07-27 07:55] LukeTowers commented on #5224
@WonlyCms This use case is pretty convoluted and I'm not sure we want to support it. PHP code sections in theme template files are meant for extremely simple / quick & dirty pieces of functionality that you don't want to bother creating a full component for.

Why do you want to structure your code in such a way instead of just using Components to begin with?

While the solution proposed by @bennot

[2020-07-27 08:14] WonlyCms commented on #5224
The main reason for this is that the PHP code block capability is provided in template development, but existing development tools cannot handle this block correctly, and the code cannot be highlighted, prompted, checked, or formatted during development.

Therefore, it is hoped that the php code will be separated through the method of Trait, so that the php code block part can be written more easi

[2020-07-27 15:43] LukeTowers commented on #5224
@WonlyCms Changing the framework merely to support a specific IDE is unacceptable. It's not impossible to write syntax highlighters for Octobers theme template files, see https://github.com/dqsully/octobercms-template-language for an example of one made for VS Code.

If you still absolutely must have a separate PHP file for this logic, then use components. That's what they're for.

[2020-07-27 15:56] LukeTowers commented on #5223
`development.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Parse error: syntax error, unexpected '$result' (T_VARIABLE), expecting ',' or ')' in /var/www/prema/modules/system/classes/UpdateManager.php:856` looks like an error with your inline modifications, and I have a hunch about what's causing the update manager server side error.

[2020-07-27 16:18] LukeTowers commented on #5223
@prema770 it looks like the project ID associated with your instance is invalid, try removing it / updating it and running the update again.

[2020-07-28 01:26] WonlyCms commented on #5224
This plugin only provides the highlighting of PHP code blocks. At the same time, it loses `format`, `verification`, `reminder`, `twig tag`, and some common functions of template development, such as `emmet`, or even Including support for `style` and `script`.

If I use `PHPSTORM` for development and set the `.htm` of the template to `twig`, then I can get twig complete support for `format`, `check

[2020-07-28 01:57] LukeTowers commented on #5224
If you want "template development decoupling", then use components. You're trying to shove a full size engine onto a weed whacker by wanting to have the full suite of an IDE available in a template file that contains three separate languages at once.

I think even @nathan-van-der-werf who usually disagrees with me on the side of IDE support in October would probably agree with me on this (although

[2020-07-28 01:58] LukeTowers commented on #5224
Remember, October's core philosophy is "Back to basics"

[2020-07-28 06:51] nathan-van-der-werf commented on #5224
Totally agree with you on this one @LukeTowers

I never use the PHP code block in themes. If you really need "logic" for your theme, I would just make a plugin for it. It will make your code structure better, since "logic" shouldn't even be in your themes.

[2020-07-28 08:04] Yi-pixel commented on #5224
I am the author of this issue, and I just changed my Github username to the current one.

Yes, I agree with this view, "**I never use the PHP code block in themes.**", because in any framework, it is not recommended to use PHP code in the template, because it will make the template not so Easy to understand.

However, now I am working on an old project. My current job is more like a "theme develop

[2020-07-29 02:37] bennothommo commented on #5224
@Yi-pixel

I don't feel it necessary to recommend that. The PHP code block is perfectly fine to use in certain circumstances, but as @LukeTowers and @nathan-van-der-werf mentioned, it's more clean to use components and plugins.

The only issue here is that you're not getting code colouring, autocompletion and other PHPStorm features, when editing templates. This is not something we have to resolve

[2020-07-29 02:46] Yi-pixel commented on #5224
As I mentioned earlier, this Plugin only brings code highlighting, and only highlighting, even if there are obvious errors, they will not be displayed and processed.

![img](https://user-images.githubusercontent.com/31845646/88750424-15d10a00-d188-11ea-88d4-52c1ecdd652b.png)

In addition, in my case, the twig tag does not seem to produce a highlight effect.

![img2](https://user-images.githubuserc

[2020-07-29 02:54] bennothommo commented on #5224
@Yi-pixel as I suggested though, the CMS editor does contain syntax checking:

![Screenshot from 2020-07-29 10-54-11](https://user-images.githubusercontent.com/15900351/88751291-da373f80-d189-11ea-98b6-7be366f8946e.png)

[2020-07-29 03:02] Yi-pixel commented on #5224
I think this is not a good way to deal with it, it will make the theme development work more and more complicated.

[2020-07-29 03:03] bennothommo commented on #5224
@Yi-pixel regarding the Twig highlighting, the October plugin for VSCode does state that you need to add `{##}` to the boundary of your Twig code block to get around a shortcoming with VSCode's grammar system:

![image](https://user-images.githubusercontent.com/15900351/88751870-21720000-d18b-11ea-8af2-09dc9acc31c3.png)

[2020-07-29 03:03] LukeTowers commented on #5224
I'm going to close this issue now, as the discussion is veering away from anything productive. We're not going to change the core to better support a particular IDE, IDEs should change to better support the code that they interact with.

[2020-07-29 03:03] #5224 closed

[2020-07-29 08:54] prema770 commented on #5223
@LukeTowers Brilliant thanks very much. Will remember, and really appreciate what you are doing for OCMS

[2020-07-30 02:12] bennothommo commented on #3008
@rajakhoury @msimkunas This still happens with the Laravel 6 branch, however, I believe it's intended functionality. The casting of types would need to happen *before* validation so that the expected type of data is validated - for example, if I cast an attribute as a boolean, I would then set up my rules under the pretense that the value being validated will be a boolean, so I would perhaps have

[2020-07-30 02:12] #3008 closed

[2020-07-30 07:09] robinbonnes opened #5226 "EncryptCookies middleware bug: ErrorException: substr() expects parameter 1 to be string, array given"
- OctoberCMS Build: 468
- PHP Version: 7.3.17
- Database Engine: 5.5.41-MariaDB

### Description:
After executing the edge update, it runs into the following issue when signing in into the backend:

[code]

### Steps To Reproduce:
It's hard to reproduce myself, because I didn't had any cookies set for this backend. However it seems once you have cookies set and try to sign in after the update, the

[2020-07-30 07:42] bennothommo commented on #5226
@robinbonnes Would you mind clearing the cookies for the site again and give it another try? It seems strange as it appears the cookie has already been decrypted and parsed before it hits our value check.

Does your `RobinsCMS\Hours\Middleware\MultiTenancy` middleware interact with the cookies at all?

[2020-07-30 08:01] robinbonnes commented on #5226
I just checked, it can't be the middleware because most of that code gets skipped. I suggested the client to clear the cookies. Probably it will work, because it doesn't happen when I login. Will let you know.

However, sooner or later I have to update about 40+ installs, so it would be a no-go to suggest all clients to delete their cookies after the update. Will try to reproduce myself.

Thanks f

[2020-07-30 08:23] LukeTowers commented on #5226
@robinbonnes what version of October did you upgrade from?

[2020-07-30 08:24] bennothommo commented on #5226
@robinbonnes The security fix is supposed to invalidate all previous cookies, so realistically, the clients shouldn't have to delete the cookies. If you are able to provide some reproducible steps when you can, that would be awesome.

[2020-07-30 08:34] robinbonnes commented on #5226
467

This is how to reproduce the update failure:
1. Sign in to the backend.
2. Hit Settings -> Update (467 -> 468).
3. It gives error:
![image](https://user-images.githubusercontent.com/5117166/88900420-a45c8e80-d24f-11ea-8807-47f45dc35319.png)
(Update failed, access denied)
4. Try again doesn't work. When I refresh the page, I have to login.
5. Once logged in again, Settings -> Update still says

[2020-07-30 08:35] LukeTowers commented on #5226
@bennothommo i think he might have cookies from before the last fix that stopped serializing the cookies.

[2020-07-30 08:36] LukeTowers commented on #5226
Hmm, that's very odd. What session driver are you using?

[2020-07-30 08:42] robinbonnes commented on #5226
Just the default one, `file`?

I wonder if you guys, or maybe someone else, has to do the same steps when updating from 467 -> 468. And if they get the same login error.

Will try the following:
PC 1 + backend user 1: Login on 467 backend (set cookies)
PC 2 + backend user 2: Login on 467 backend (set cookies)
PC 1 + backend user 1: Update to 468.
PC 2 + backend user 2: Try to login on 468 without

[2020-07-30 09:31] robinbonnes opened #5227 "After removing a column from the list with relation parameter set, error occurs"
- OctoberCMS Build: 467
- PHP Version: 7.3.17
- Database Engine: 5.5.41-MariaDB

### Description:
Probably an edge case kind of bug. However its always good to report it 🙂

- As soon as you sort a list on a specific column with the following configuration:
[code]

- And you sort on that column.
- Then remove the column from the list settings
- Produces the following error:

[code]

### Steps To Re

[2020-07-30 13:44] pkurg opened #5228 "Not possible create a new assets file in the backend."
- OctoberCMS Build: 467
- PHP Version: 7.4

Not possible create a new assets file in the backend.

cause of error:  https://github.com/octobercms/october/commit/2b8939cc8b5b6fe81e093fe2c9f883ada4e3c8cc?branch=2b8939cc8b5b6fe81e093fe2c9f883ada4e3c8cc&diff=unified

[2020-07-30 16:37] LukeTowers commented on #5228
@pkurg fixed in https://github.com/octobercms/october/commit/b1954e92586f33a345068d56b957d7e366a5ba71, thanks for your report!

[2020-07-30 16:39] ayumi-cloud commented on #5211
@LukeTowers going to close this issue hasn't come up in the office - we strongly believe it was a rendering issue with the canary browser.

[2020-07-30 16:39] #5211 closed

[2020-07-30 16:54] #5227 closed

[2020-07-30 20:20] LukeTowers commented on #5226
Another thing to check is if you have manually overridden `October\Rain\Cookie\Middleware\EncryptCookies::$serialize` or `Illuminate\Cookie\Middleware\EncryptCookies::$serialize` to force allow serialization of cookies, which would also cause this behaviour.

[2020-07-30 20:34] LukeTowers commented on #5226
https://github.com/octobercms/library/commit/09896978bd8b09aac20a8da70ac93c2617afa03c should fix this issue for you, although I was entirely unable to replicate your original issue, even after I tried manually force the middleware to generate serialized cookies.

[2020-07-30 20:34] #5226 closed

[2020-07-30 20:41] LukeTowers commented on #5221
@mabehiry I was unable to replicate this. Where are these AJAX handlers located, and are you absolutely sure they're actually being called?

[code]

[2020-07-31 11:42] junjettrasmonte commented on #4571
With AWS EFS now supported in lambda. I guess this is now possible as you can now mount a filesystem that is shared between lambda instances. Before EFS, you can only write to the tmp folder but tmp is not shared.

[2020-07-31 21:20] mabehiry commented on #5221
You're right. It was a bug in my code!
Sorry for that

[2020-07-31 21:20] #5221 closed

[2020-08-02 15:25] tobias-kuendig commented on #1409
I'm just dumping some information here I found while going after a bug. Maybe this comes in handy if someone tackles this issue in the future.

Having a relation widget that is sorted by a pivot data column (`pivot[sort_order]`) works fine until you set `deferredBinding: true` on the relation widget's list config:

It essentially boils down to two things:

1. With `deferredBinding` set to true, [`

[2020-08-03 00:10] Teranode commented on #5226
@LukeTowers try to push this for wip-laravel6 cause im getting this error for that branch but instead of `substr()` it's `strpos()` and this fixes it.

[2020-08-03 07:48] LukeTowers commented on #5226
@Teranode will do, thanks for the ping

[2020-08-04 00:18] #5019 closed

[2020-08-05 00:32] LarryBarker commented on #5108
So this is still an issue. I spoke to @daftspunk about it when I first encountered it, and while he agreed this is not the intended behavior, he wasn't sure the cause.

Like I said, originally I was trying to add a placeholder to '_default.htm' layout to place some buttons outside of the form area.

What I ended up discovering is that when doing this, all content in the partial/view must be inside

[2020-08-05 06:46] igor-tv opened #5232 "Lack of button with data-attach-loading attribute"
- OctoberCMS Build: **467**

### Description:
A submit button with the data-attach-loading attribute does not show the spinner during the request if it is placed outside the form.

### Steps To Reproduce:
[code]

[2020-08-05 07:57] bennothommo commented on #5232
@igor-tv This is by design. A submit button needs to be within a form to properly submit it too as per the HTML5 spec.

[2020-08-05 07:58] #5232 closed

[2020-08-05 08:19] igor-tv commented on #5232
<img width="967" alt="Снимок экрана 2020-08-05 в 11 17 02" src="https://user-images.githubusercontent.com/6777469/89388865-49261280-d70d-11ea-872c-746779f23f0f.png">

[https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button](https://developer.mozilla.org/)

[2020-08-05 08:30] bennothommo commented on #5232
@igor-tv Interesting, didn't realise that made the spec. Nonetheless, we technically still support IE11 with the AJAX framework, and [that doesn't support the `form` attribute](https://caniuse.com/#feat=form-attribute) for buttons, so if you wish to use buttons outside of the form with the AJAX framework, you'll need to use the JavaScript API.

[2020-08-05 08:40] igor-tv commented on #5232
@bennothommo Thank you for your reply.

[2020-08-06 05:11] adrian-stein commented on #5204
I second this. Any word on a permanent fix?

[2020-08-06 05:18] bennothommo commented on #5204
@adrian-stein you'll need to follow @LukeTowers notes and adjust your configuration accordingly.

[2020-08-06 10:12] huynhnamegal opened #5233 "List filter problems"
- OctoberCMS Build: 467
- PHP Version: 7.0.30

### Description:
I have a problems with list filter in relation popup (Manage view - Many to Many). I used the same config_filter file for ListController and RelationController. But dropdown dependsOn did not work. And I cannot type any number into numberrange for sort in relation popup (such as Disabled). It's worked when I tried to sort with single

[2020-08-06 10:26] huynhnamegal commented on #5233
Updating: by some magical, dependsOn dropdown is worked. But number and numberrange cannot type

[2020-08-06 23:36] simonmannsfeld commented on #5228
Your fix is solving all my problems. <3 Thank you!

[2020-08-07 00:19] LukeTowers commented on #5228
@simonmannsfeld there's a new fix that's much better than that hacky fix that will be available in the L6 update next week hopefully - provided by @bennothommo so credit to him for being the real MVP :)

[2020-08-07 08:37] robinbonnes commented on #5226
This fixes it. I disabled `cms.edgeUpdates` for all backends. However because update 468 is moved out of `pending`, I have to manually patch all backends after update. Anyone else got the same issue? Is there an easier way to fix? :)

[2020-08-07 08:47] acasar commented on #5226
@LukeTowers Can this fix be merged to master asap? I had to change the composer dependency for ``october/rain`` to ``dev-develop`` to solve this issue and I'd prefer to run a stable version in production.

[2020-08-07 10:25] simonmannsfeld commented on #5228
@LukeTowers @bennothommo You and your whole team are my real heros <3 Thank you so much for your work. Credit to all of you!

[2020-08-07 10:41] LukeTowers commented on #5226
@acasar @robinbonnes merged the fix into master, will talk to @daftspunk about retagging / rebuilding the marketplace update version.

[2020-08-09 02:22] LukeTowers commented on #3592
@SeriousKen I just ran into this issue myself while working on the image resizer PR. What did you end up doing to get around it?

[2020-08-09 07:18] Samuell1 commented on #3592
@LukeTowers Isnt better to split params to 2 separate and call them and merge them together in code? Like `/calendar/2018/2019` then get firstyear and secondyear

And its not issue in laravel but symfony has this https://symfony.com/doc/current/routing.html#slash-characters-in-route-parameters

Another solution is that replace slashes with for example other character and them in code replace back

[2020-08-09 07:51] LukeTowers commented on #3592
@Samuell1 in my case I'm trying to pass a URL as a parameter, which would require the use of a slash character. Double encoding it is a good idea though.

[2020-08-09 07:53] LukeTowers commented on #3592
@Samuell1 also the symfony issue is different I believe, I think if you passed a URL encoded / to a route param in symfony it would work fine because it doesn't try to decode the path before parsing it like Laravel does.

[2020-08-09 09:44] #4381 closed

[2020-08-09 18:48] LukeTowers commented on #3592
Since changing this behaviour could cause breaking changes, we're going to leave it as it is and say that our official recommendation is to double encode any URL params that require slashes in them (note that Laravel's official recommendation is different, see https://github.com/laravel/docs/pull/4785/files).

[2020-08-09 18:48] #3592 closed

[2020-08-10 08:26] iboved commented on #5137
@LukeTowers thanks for your help!

But there are two corrections:
1. We should use **register** method instead of **boot**. It is impossible to change the database connection in the **boot** method, because it is too late.
2. We can not use boolean values (true / false) in read and write options. It throws a fatal error. We should use **null** values.

[2020-08-10 11:09] Hlusta opened #5235 "Build 468 causes error"
- OctoberCMS Build: 468
- PHP Version: 7.1.33
- Database Engine: mysql

### Description:
After upgrade to 468 the error appears (see screenshots below for details). The cookie needs to be deleted in order to make website available again.

![Snímek obrazovky 2020-08-10 v 12 37 33](https://user-images.githubusercontent.com/2931374/89774719-aef80d00-db06-11ea-94c0-8482d78be364.png)
![Snímek obrazovky

[2020-08-10 12:46] bennothommo commented on #5235
@Hlusta a fix has been deployed for this, but needs to be brought into the 468 build tag. See https://github.com/octobercms/library/commit/09896978bd8b09aac20a8da70ac93c2617afa03c. In the meantime, you can either delete the cookies, or apply the fix manually into the `vendor/october/rain` folder until the tag is updated.

Duplicate of https://github.com/octobercms/october/issues/5226.

[2020-08-10 12:46] #5235 closed, assigned to nobody

[2020-08-10 12:53] Hlusta commented on #5235
Thank you and I'm sorry for duplicate, did not notice... :(

[2020-08-10 14:53] LukeTowers commented on #5137
Updated for future reference @iboved, thanks!

[2020-08-10 16:22] Samuell1 opened #5236 "Theme directory paths are incorrect on Windows"
- OctoberCMS Build: 469 (develop branch)
- PHP Version: 7.3.4
- Database Engine: mysql
- Plugins Installed: demo plugin

### Description:
First issue is that this statement (https://github.com/octobercms/october/blob/develop/modules/cms/classes/CmsObject.php#L235) like returns false but shouldnt because it fails in next array checks that allow only integer or string

`array_key_exists(): The first

[2020-08-11 14:05] bennothommo commented on #5236
@Samuell1 would you mind trying to changes to the `resolve_path` helper made as part of this PR: https://github.com/octobercms/library/pull/512 and see if that resolves the issue?

[2020-08-12 16:14] noezansithole commented on #5198
Have you guys fixed this issue: <?= $this->relationRender('#####') ?> , You can create new record but you cant update

[2020-08-12 21:13] LukeTowers commented on #3667
FYI, if you need to implement NestedTree on an existing data set, try using the following code in a seeder to generate the correct index data on the table after running a migration to add the appropriate columns:

[code]

[2020-08-13 04:49] bennothommo commented on #5236
@Samuell1 https://github.com/octobercms/october/commit/3a1f547adb0bef8245691fc5df0612cf865d90d7 should fix this issue once and for all, hopefully. Would you mind giving it a test and letting us know?

[2020-08-13 17:51] Samuell1 commented on #5236
@bennothommo tested it and it works!

[2020-08-13 20:45] #5236 closed, assigned to nobody

[2020-08-14 00:05] bennothommo commented on #5236
Fixed by https://github.com/octobercms/october/commit/3a1f547adb0bef8245691fc5df0612cf865d90d7.

[2020-08-14 00:19] #5111 closed

[2020-08-14 21:55] jimcottrell opened #5239 "Client-side form validation can break setting model forms"
- OctoberCMS Build: 467
- PHP Version: 7.2

### Description:

Not sure that client-side form validation was completely thought through, even with #5088. Any settings form that has been using the `required` flag for fields that might be hidden would be broken in 467.

### Steps To Reproduce:

Create a placeholder settings model with the following form fields YAML:

[code]

Without doing anything, a

[2020-08-14 22:17] LukeTowers commented on #5239
@jimcottrell does changing the code in Backend\Classes\FormField->getAttributes() from
[code]
to
[code]
resolve the issue for you?

[2020-08-14 22:52] jimcottrell commented on #5239
It doesn't, no, as it's not a hidden field to October. It's just not visible at the moment of validation because its tab is inactive. That might be the right thing to do with fields marked with the `hidden` config though.

[2020-08-15 05:53] LukeTowers commented on #5239
Hmm, is there a way to catch that error and ignore it, or perhaps do a better job at making the field visible if necessary first?

[2020-08-15 17:50] jimcottrell commented on #5239
You'd probably have to fist use `checkValidity` instead of `reportValidity` and update visibility on any thrown `invalid` event before calling `reportValidity` on that element, possibly also disabling fields using `trigger` to show/hide so the browser doesn't validate them. As-is though, the client-side validation is not compatible with the full range of October form functionality.

[2020-08-16 02:56] LukeTowers commented on #5239
Yeah, looking into it further it looks like Drupal has been trying to solve this issue for the past 8 years (see https://www.drupal.org/project/drupal/issues/1797438#comment-13718769), so I don't think we're going to get any farther than they have. I'll go ahead with disabling it by default on the settings controller and the scaffolding, as well as documenting the issues with it. We can look at re

[2020-08-16 03:00] #5239 closed, assigned to nobody

[2020-08-16 03:07] LukeTowers commented on #5239
Also see https://www.drupal.org/project/field_group/issues/2969051, which is basically the same issue but in Drupal, and illustrates just how deep the whack a mole game can get to be when trying to overcome the browser limitations when it comes to the HTML5 form validation.

Thanks @jimcottrell for the detailed report! Fix will be available in Build 469 along with the Laravel 6 update.

[2020-08-16 21:47] mabehiry opened #5240 "Add search mode to config_relation"
In config_relation.yaml file, I want to change search mode so when searching in related fields, I get the exact word, not like words. Is there an ability to configure search mode as in lists?

[2020-08-16 22:56] mabehiry opened #5241 "search mode is not working in lists"
When setting search mode in config_list.yaml, nothing changes!
This is how my file looks like:
toolbar:
    buttons: list_toolbar
    search:
        prompt: 'backend::lang.list.search_prompt'
        mode: exact
But I get the results that contain all the word

[2020-08-17 00:43] daftspunk commented on #5241
Check to make sure at least one list column.yaml has `searchable: true` set

[2020-08-17 08:59] mabehiry commented on #5241
Yes it is set

[2020-08-17 15:04] PubliAlex commented on #5069
ahhh, +1 for this. Big TTFB is a problem for me since I use october CMS, with some TTFB reaching the second. I tried everything and finally opted for a static html caching (even if it bring lot of problems too).

I hope that issue is explaining why I have high TTFB without using static cache cause I always used assets combining features.

[2020-08-18 02:06] bennothommo commented on #5069
@aurelien-roy @PubliAlex not that it resolves the actual TTFB speeds of the combiner, but I've had a lot of success in just simply suffixing a `.css` or `.js` to the end of combined assets and using standard browser caching (`Cache-Control` or `Expires`).

[2020-08-18 02:12] LukeTowers commented on #5069
@bennothommo the combiner should already be setting the cache headers, I think we looked at adding the extension to the URL once before but it ended up breaking something, probably related to server configuration not passing those requests through to the combiner.

[2020-08-18 02:14] bennothommo commented on #5069
@LukeTowers interesting - I've had no problems with it myself, either during development or on production.

[2020-08-18 02:18] LukeTowers commented on #5069
Yeah, it was only a couple people that reported it as an issue, so it was more so on their side with server configuration, but it was either a common way to configure it that triggered the issue or what our docs recommended at the time so we couldn't change it.

Ideally the solution to this is to just have the combiner generate a static file just like the new resizer is going to do, but that's som

[2020-08-18 06:10] Samuell1 commented on #5069
@bennothommo @LukeTowers it was issue when server was thinking that file path exists on server as real file not generated

[2020-08-19 02:08] boyardnicolas opened #5242 "Cannot input Chinese characters in a TagList"
- OctoberCMS Build: 467
- PHP Version: 7.4.5 and 7.4.9
- Database Engine: 5.7.29-0ubuntu0.18.04.1 and MariaDB 5.5.65
- Plugins Installed:
    - Vldp-Redirect-v2.5.2
    - Rainlab-Page-v1.3.5
    - Rainlab-Builder-v1.0.26
    - Indikator.Backend-v1.6.12
    - Inetis.Dump-v.1.0.0
    - OFFLINE-SiteSearch-v.1.5.3
    - OFFLINE-ResponsiveImages-v2.3.6
    - Arcane-Seo-v1.1.20
    - Indikator-News-v1.1

[2020-08-19 08:24] panakour opened #5243 "Relation manager widget"
- OctoberCMS Build: 468 (464 is working)
- PHP Version: 7.4
- Database Engine: mysql

### Description (I got this issue only with the 468 build):
I have created a relation manager widget to a plugin for the backend users (the definition of the relation is called hotelier). The relation is one to many. One user (hotelier) has many products and one product belongs to (user) hotelier
[code]
The relat

[2020-08-19 11:38] summercms opened #5244 "Issues with Windows Hibernate"
From day one we always had this issue and kind of swept it under the carpet.

It goes like this ...

- Install October CMS.

- Use it to develop and update some plugins etc.

- Then one day some strange errors appear ? Either plugins don't install properly or you run one of your plugins and some strange results happen etc.

- Let's just say we already know the solution (which is to clear the cache

[2020-08-19 13:02] TheJackMachine opened #5245 "Mailtemplate views fails on seeding."
- OctoberCMS Build: 468
- PHP Version: 7.3
- Database Engine: MySql 5.7
- Plugins Installed: Rainlab.Translate + Personal Plugins + Renatio Frombuilder

### Description:
Mail tempalte can’t be registered.

If a plugin is no elevated, the plugins views is not registered.

But when it come the seeding part, internaly, the systeme try to find mail view, call the FileViewFinder, but the views are not

[2020-08-19 15:41] LukeTowers commented on #5244
These are a bunch of separate issues, and none of them are actionable without more detailed replication instructions. I've never encountered any of the issues that you list here.

If you can provide detailed replication instructions for these issues starting from downloading the installer and going to the issue being present 100% of the time then we can look at doing something about them, otherwis

[2020-08-19 15:58] #5245 closed, assigned to nobody

[2020-08-19 15:58] LukeTowers commented on #5245
Fixed in https://github.com/octobercms/october/commit/3864e5b1c6e720e103f35a0aaddd25fb3142e605 @TheJackMachine, thanks for your report!

[2020-08-19 16:48] summercms commented on #5244
@LukeTowers Sure, understand. Does October keep any record of error messages shown, e.g. when the plugins failed to install due to the cache we kept seeing the same error message - but we never thought of writing it down. Just wondered if it gets stored in the database etc.

[2020-08-19 16:48] LukeTowers commented on #5244
Only place would be in the event log, if it's not there then no.

[2020-08-19 16:51] summercms commented on #5244
Ah ok, yah I checked that and nothing there in the event log section. Ok we will keep a look out for this problem and update this issue with more information to investigate further. Sorry for lack of info right now - hopefully can gather some info in the near future on this.

[2020-08-19 16:53] summercms commented on #5244
If anyone from the October community has a caching problem which maybe part of this issue - please comment below.

[2020-08-19 17:42] Samuell1 commented on #5244
If you loosing session after clearing cache then you need to separate cache for session.

[2020-08-19 19:23] ginger-tek commented on #4943
@LukeTowers
I have this same issue, and as I can assume above it was never explained or resolved, however, it persists in the most recent version of OctoberCMS.

I have an Apache 2.4 environment on shared hosting, with a fully defaulted public/ folder. Here's what I did to replicate this issue:

- I downloaded the install-master.zip and extracted it
- SFTP uploaded all the extracted files to my pu

[2020-08-19 21:00] LukeTowers commented on #4943
@simpltek I'm unable to replicate locally, perhaps @bennothommo is able to try out your instructions?

[2020-08-19 21:02] LukeTowers commented on #5244
Ah, yes. If you're using redis for session and for cache then you need to make sure you're using a separate redis connection for your sessions.

[2020-08-19 22:36] summercms commented on #5244
Ah perfect, that's the problem we are facing, didn't realise we needed to separate the connection with redis. Thanks 😆

[2020-08-19 22:42] #5244 closed, assigned to nobody

[2020-08-20 04:22] bennothommo commented on #4943
@simpltek @LukeTowers on a fresh VPS with Apache 2.4 and following the instructions to the letter, I can confirm I see the same issue. Taking a look now.

[2020-08-20 04:43] bennothommo commented on #4943
@simpltek The issue is related to this commit (sorry @LukeTowers): https://github.com/octobercms/october/commit/2b8939cc8b5b6fe81e093fe2c9f883ada4e3c8cc

When determining the file path of the new asset, the `realpath` call there returns `false` because the file does not exist (yet). Because of this, it cannot save a new file, but it can edit files just fine.

We have fixed this, but the fix is wit

[2020-08-20 12:26] ginger-tek commented on #4943
Thank you so much @bennothommo for looking into this. I will probably just modify my Asset.php file for now and not update until the Laravel 6 update is stable.

Cheers 👍

[2020-08-20 17:40] digitreadmedia commented on #5243
I'm having this issue as well.  I've created a test plugin on a clean install and replicated the issue here: https://github.com/digitreadmedia/tesplugins

[2020-08-21 10:07] chrisvidal opened #5246 "RelationManager button delete exception build #468"
Since the last build 468  update, the partial holding relation manager `button_delete` is raising an exception, in preview mode only; update mode is working fine

[code]

[2020-08-21 15:53] LukeTowers commented on #5246
@chrisvidal could you `dd($buttonText)` here: https://github.com/octobercms/october/blob/develop/modules/backend/behaviors/RelationController.php#L1559 and show us what it outputs?

[2020-08-22 19:43] mostmojo commented on #4212
In order to ignore `/storage/cms/combiner` do you simply add: `/storage/cms/combiner`to git ignore? I am also getting an error in my production site -- I assume this is something to do with caching? Thanks in advance!

[2020-08-23 07:06] LukeTowers commented on #4212
@mostmojo no, you want the directory present but its contents ignored, so you add storage/cms/combiner/.gitignore to your repo with these contents: https://github.com/octobercms/october/blob/develop/storage/cms/combiner/.gitignore

[2020-08-23 10:03] mostmojo commented on #4212
![Screenshot 2020-08-23 at 1 01 54 PM](https://user-images.githubusercontent.com/44060394/90975885-dad0b500-e540-11ea-82d0-6ec52268418a.png)

Many thanks for the swift reply Luke. If I've understood correctly, then it should look something like the picture attached above.

[2020-08-23 10:12] LukeTowers commented on #4212
That's correct @mostmojo

[2020-08-23 18:35] seanthepottingshed commented on #5135
This would still be super lovely jubbly to keep functionality consistent throughout CMS

[2020-08-24 02:43] bennothommo commented on #5243
Duplicate of #5198.

[2020-08-24 02:44] #5243 closed, assigned to nobody

[2020-08-24 04:02] chrisvidal commented on #5246
result of `dd($buttonText)`

[code]

[2020-08-24 05:57] #5198 closed

[2020-08-24 06:00] LukeTowers commented on #5243
Should be fixed by https://github.com/octobercms/october/commit/5a843bc90986a29ec0375697490af9864ecbd188; please let me know if there's still any issues.

[2020-08-24 06:00] LukeTowers commented on #5198
Should be fixed by https://github.com/octobercms/october/commit/5a843bc90986a29ec0375697490af9864ecbd188; please let me know if there's still any issues.

[2020-08-24 06:15] LukeTowers commented on #5246
@chrisvidal can you post your config_relation.yaml? I'm unable to reproduce this.

[2020-08-24 07:32] bennothommo commented on #5242
@boyardnicolas I believe this is an issue upstream from the Select2 library used with the TagList widget. We'll have to wait for a fix from them before looking into this further.

https://github.com/select2/select2/issues/5267
https://github.com/select2/select2/issues/5837

[2020-08-24 07:40] chrisvidal commented on #5246
sure.

[code]

and `relation_toolbar.htm`

[code]

[2020-08-24 08:21] #4943 closed

[2020-08-24 12:47] KonstantinObuhov commented on #3180
For someone who wants to use the list with export config  should looks like this:
![image](https://user-images.githubusercontent.com/15628982/91046444-1773dd80-e621-11ea-8dbd-3c384eb58ae5.png)

[2020-08-24 13:34] freddy38510 opened #5248 "PathResolver::resolve breaks with open_basedir"
- OctoberCMS Build: [#f708754f079bcbcf876cb245e794671b453fe36b](https://github.com/octobercms/october/commit/f708754f079bcbcf876cb245e794671b453fe36b)
- PHP Version: 7.4

### Description:
The new [`PathResolver`](https://github.com/octobercms/library/blob/develop/src/Filesystem/PathResolver.php) introduced recently is not working with open_basedir restrictions.

This happens in the `resolve` metho

[2020-08-24 13:44] bennothommo commented on #5248
Thanks @freddy38510 - totally forgot about basedir restrictions. Will deploy a fix for this shortly.

[2020-08-24 15:53] bennothommo commented on #5248
@freddy38510 Would you mind testing PR https://github.com/octobercms/library/pull/516 and let us know if that stops the "open_basedir" warnings from being shown?

[2020-08-24 17:08] LukeTowers commented on #5246
@chrisvidal that would be the problem then, you need to either just let the RelationController handle rendering the toolbar by specifying toolbarButtons instead of toolbarPartial, or you need to make sure you sent the `$text` variable to the `button_delete` partial when you render it yourself. See https://github.com/octobercms/october/blob/develop/modules/backend/behaviors/relationcontroller/parti

[2020-08-24 17:08] #5246 closed, assigned to nobody

[2020-08-24 20:15] freddy38510 commented on #5248
@bennothommo

I was just testing this PR, there is no more warnings about open_basedir.

Thanks for your reactivity, great job !

[2020-08-25 00:12] chrisvidal commented on #5246
thanks @LukeTowers
it was working fine before the updates, maybe it is worth mentioning somewhere in the doc?

[2020-08-25 00:19] LukeTowers commented on #5246
Yeah, that wasn't a use case we considered when the update happened. @DanHarrin could you take a look at what we could do to prevent this from popping up for anyone else rendering these partials directly?

[2020-08-25 00:52] #5248 closed, assigned to nobody

[2020-08-25 08:11] bennothommo commented on #5194
There's two potential sources for this issue:

- You have `opcache.revalidate_freq` set to 30, which means there's 30 seconds where the OPCache will not revalidate a file and check if it's updated, which could potentially cause said issue. You can try setting this to `2` in your `php.ini` settings.
- It appears you are using an NFS drive, which could be introducing delays between when the cache is

[2020-08-25 08:14] bennothommo commented on #5200
@RomainMazB just to clarify, have you tried this with the Laravel 6 upgrade on the `develop` branch? Does the issue still exhibit there?

[2020-08-25 08:16] bennothommo commented on #5207
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-08-25 08:16] #5207 closed

[2020-08-25 08:17] bennothommo commented on #5143
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-08-25 08:17] #5143 closed

[2020-08-25 09:29] bennothommo commented on #5108
@LarryBarker I've been able to figure this out.

These 3 lines in the BlockBuilder are basically breaking out of a parent output buffer in the scenario you mentioned above:
https://github.com/octobercms/library/blob/develop/src/Html/BlockBuilder.php#L47-L49

Essentially, if there's any output between the two blocks (such as some normal content, or even just whitespace), those lines will do another

[2020-08-25 13:35] SebastiaanKloos opened #5249 "Repeater item and parents dependsOn issue"
- OctoberCMS Build: 468
- PHP Version: 7.2

### Description:
While depending on repeater field from a field within the repeater fields, the js crashes when deleting a repeater item.

[code]

Produces this error when trying to delete a repeater:
<img width="455" alt="CleanShot 2020-08-25 at 15 28 42@2x" src="https://user-images.githubusercontent.com/6506510/91180219-c8dd4680-e6e7-11ea-8793-2890a3a2

[2020-08-25 15:58] code-po8 opened #5250 "Getting password fields returns encrypted empty string instead of empty string when blank"
- OctoberCMS Build: 468
- PHP Version: 7.1
- Database Engine: MariaDB
- Plugins Installed: N/A

### Description:
I have a settings model with password fields.  In the past (I don't recall which version of October), I have had to check if the password field was left blank and repopulate the value from originals.  I used `$this->get('stored_password') == ''` to check.  After upgrading October to 468

[2020-08-25 16:22] bennothommo commented on #5250
@code-po8 this is intentional - see https://github.com/octobercms/library/pull/499.

An empty value - like 0 or an empty string - can be legitimate values that need to be encrypted. If you want to store an *absence* of an encrypted value, you should store the field as `null` instead.

Also, you should be able to access the attribute directly and it will be decrypted on the fly - eg. `$model->store

[2020-08-25 17:15] LukeTowers commented on #5249
@SebastiaanKloos there is a problem doing it the other way around: https://github.com/octobercms/october/pull/4736#discussion_r400566131

[2020-08-25 17:22] SebastiaanKloos commented on #5249
@LukeTowers Totally missed your comment. I'll check it tomorrow. Thank you for your reply!

[2020-08-25 17:30] code-po8 commented on #5250
`$this->stored_password` returns null in my beforeSave whether or not I leave the stored_password field blank on the form.

[2020-08-25 17:33] LukeTowers commented on #5250
@code-po8 please post the code for your model.

[2020-08-25 17:36] SebastiaanKloos commented on #5249
Ahh gotcha. I'll debug it a bit more tomorrow

[2020-08-25 17:48] code-po8 commented on #5250
Heavily redacted, so let me know if I messed something up.

Settings.php (model):
[code]

fields.yaml
[code]

[2020-08-25 17:55] LukeTowers commented on #5250
Hmm, I'm pretty sure the Encryptable trait isn't meant to be used on SettingsModels, since those store their data in a JSON blob and the Encryptable trait is designed to be used on entire table columns.

[2020-08-25 18:11] code-po8 commented on #5250
I have a plugin which makes API calls to another web service.  It needs to store the API secrets that are encrypted at rest, so I need to have the Encryptable trait (or at least encryption).  This is a configuration of the plugin, so a SettingsModel makes sense to me.

Is there a better approach?

[2020-08-26 02:09] bennothommo commented on #5250
@code-po8 I would simply create a new Model (and corresponding database table) and store the details that way. If you have to use the Settings model, you'll need to manually encrypt and decrypt the value before saving or read it - you won't be able to use the trait this way.

[2020-08-26 02:11] #4783 closed

[2020-08-26 08:05] LukeTowers commented on #5250
@bennothommo do you think it would be doable to support the settings model behavior in the encryptable trait?

[2020-08-26 08:37] bennothommo commented on #5250
@LukeTowers I suppose it's theoretically possible if we allow the trait to encrypt individual keys in a JSON object. The Settings `value` column is a mediumtext column though, which does support a large dataset, but encryption can add a fair bit of additional data.

[2020-08-26 11:42] summercms opened #5251 "`Master` and `Content` tabs are not connected to the yaml files"
October has 4 tabs: https://octobercms.com/docs/ui/tab

Yaml file code seems to only allow: `Primary` and `Secondary` only and I cant seem to find the code for the `Master` and `Content`.

Code examples:

[code]

and

[code]

Above both work - however!

[code]

and

[code]

Do not work - maybe I am missing something here?

[2020-08-26 17:52] ericp-mrel opened #5252 "Relation manager widget inconsistent with different field name."
- OctoberCMS Build: 468
- PHP Version: 7.4
- Database Engine: MariaDB 10.3
- Plugins Installed:
  - October.Demo
  - October.Test
  - RainLab.Builder

### Description:
I'm trying to create a JS component that listens to the `change.oc.formwidget` event on a relation manager widget, but I've noticed some inconsistent behavior with this event not triggering when the field name is different than the

[2020-08-26 18:02] LukeTowers commented on #5251
YAML fields are handled by the Form widget, which supports outside fields, tabs, and secondaryTabs (https://octobercms.com/docs/backend/forms#form-tab-options). The tabs that you linked are different visual ways of displaying tabs, that you have to decide to implement the markup for yourself: https://github.com/octobercms/october/blob/develop/modules/system/controllers/mailtemplates/index.htm

[2020-08-26 18:02] #5251 closed, assigned to nobody

[2020-08-26 18:07] LukeTowers commented on #5250
@bennothommo 16 MB should still be plenty for anything stored in a settings model, some encrypted contact information I store only takes up 0.5 KB so I can't see it becoming a limiting factor.

[2020-08-26 20:29] summercms commented on #5251
@LukeTowers

Luke I mean, why cant we just modify this file: https://github.com/octobercms/october/blob/develop/modules/backend/widgets/form/partials/_form.htm

and have something like this:

[code]

etc.

[2020-08-26 20:46] LukeTowers commented on #5251
That's tying the organizational structure of the Form widget to the presentational structure of the different tab types.

[2020-08-27 02:35] bennothommo commented on #4942
@4nik3t @alxy is this still an issue with the Laravel 6 update in `develop`?

[2020-08-27 06:33] jan-vince commented on #5226
Hi @LukeTowers, I have the very same problem on many sites when updated to 468.

Everyone that has been logged in to backend before this update is now unable to view any page getting the `substr()` error.

Only (user) way was to clear cookie `admin_auth`.

Unfortunatelly your fix didn't solved this for me so I tried to find the cause of a problem.

I had to add string check to `decrypt()` function

[2020-08-27 12:49] summercms commented on #5251
Yah why we cant code out these october core files to allow the 4 tab types to get fully integrated into the yaml files instead of coding `hacks` to inject the extra two tabs into the form widgets.

If they were added to the yaml files it would take a user a **few seconds** to add it into the yaml file - yet the current setup is to instead use a `hack` method and add it via html/php code (which tak

[2020-08-27 14:44] aniket-magadum commented on #4942
@bennothommo I will check and get back on this

[2020-08-27 17:47] LukeTowers commented on #5226
@jan-vince it's already been added, we're just not going to release a new build for it, it'll be included in the L6 update: https://github.com/octobercms/library/commit/09896978bd8b09aac20a8da70ac93c2617afa03c

[2020-08-28 03:18] daftspunk commented on #5251
Three sets of tabs was generally seen as enough to meet 99% of use cases. Can you explain your use case a little more?

[2020-08-28 11:44] summercms commented on #5251
@daftspunk Sure I can explain a use case, for my reasons:

The `content` tabs are **responsive** and useful for a long list of tabbed items, for example:

![image](https://user-images.githubusercontent.com/57409060/91556337-7475d900-e92a-11ea-89b1-7ffe9d10f734.png)

Whereas if we used the `Primary` or `Secondary` tabs the **long** list of tabs, that would hide some of the tabs and make them extend

[2020-08-28 11:51] summercms opened #5253 "SystemExceptions logged twice"
Going to report this as it maybe a bug - but need someone else to confirm, please.

Basically, we think the **custom form widgets** are being called **twice** by October.

A simple test to create this issue:

1. Create a `yaml` file and add a custom widget.

2. Add the custom widget to the `Plugins.php` file.

3. Now don't add the custom widget code to the `formwidgets` folder.

4. You should see

[2020-08-28 19:57] #5253 closed, assigned to nobody

[2020-08-30 08:52] LukeTowers commented on #2831
This needs to be completed before L6 goes live

[2020-08-30 09:41] aniket-magadum opened #5254 "Can't override existing methods with addDynamicMethod()"
- OctoberCMS Build: 468
- PHP Version: 7.2.19
- Database Engine:  InnoDB
- Plugins Installed: Rainlab.User

### Description:
I am trying to add a dynamic method to a backend controller with the following code.

[code]
The problem is that this callback function does not fire. Upon further investigation, I found that the Controller called the listExtendQuery method in the ListController class

https

[2020-08-30 10:09] LukeTowers commented on #5254
You cannot override an existing method with `addDynamicMethod()`. Instead, extend the List widget directly by doing the following:

[code]

[2020-08-30 10:09] #5254 closed, assigned to nobody

[2020-08-30 10:12] aniket-magadum commented on #4942
@bennothommo  the problem is still there.

[2020-08-30 10:13] aniket-magadum commented on #5254
@LukeTowers Thanks

[2020-08-30 10:20] aniket-magadum commented on #5254
This is the corrected code. Changed this

to this

[code]

[2020-08-30 15:44] bennothommo commented on #4942
Thanks for letting us know @4nik3t.

[2020-08-31 02:41] bennothommo commented on #4842
@ayumi-cloud I've looked into this, and everything seems to be working as expected. The **Skip update (once only)** option means it will skip the update *this time* - it's intention is to be used if you wish to update, say, all other plugins with minor updates and leave a major update on a plugin until you've had time to ascertain that it will be compatible with your installation. If you were to c

[2020-08-31 02:41] #4842 closed

[2020-08-31 03:22] #4755 closed

[2020-08-31 06:19] #5065 closed

[2020-08-31 07:09] bennothommo commented on #5084
I have tried a few different ways to replicate your problem, but have been unable to do so, even when emulating a setup that I interpreted was close to your example.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step

[2020-08-31 07:09] #5084 closed

[2020-09-01 00:23] #3551 closed

[2020-09-01 03:54] bennothommo opened #5256 "Sluggable field no longer works after form refresh"
- OctoberCMS Build: 468 (and `develop`)
- PHP Version: 7.4
- Database Engine: MySQL
- Plugins Installed: RainLab.Pages

### Description:
Sluggable fields appear to stop working as soon as a form is refreshed. This happens even if the form context is in `create` and the sluggable field itself has not been modified, so theoretically, the slug should still be tracking the trigger field value.

### St

[2020-09-01 04:17] bennothommo commented on #5252
@ericp-mrel Is the partial that you're targeting dynamically loaded or refreshed at all (for example, if it's within a lazy tab or has trigger rules)? It is possible in this instance that the element you originally targeted with the event is not the element that you see at a later stage, and is in fact a separate element in the DOM.

You could try using a "delegated" event listener like the follow

[2020-09-01 04:21] bennothommo commented on #5241
@mabehiry Would you mind providing us with your `columns.yaml` configuration for the model used in the list, as well as a sample of the results and the query you used in the search field?

[2020-09-01 12:09] mabehiry commented on #5241
This is the columns.yaml
[code]
And this is the query with results
![image](https://user-images.githubusercontent.com/33180080/91849719-1cb4d600-ec7a-11ea-9c3c-70754b990bde.png)

[2020-09-01 13:55] ericp-mrel commented on #5252
I am not using any type of dynamically loaded element or lazy tabs. I was even using the [Test Plugin](https://github.com/octoberrain/test-plugin) to test this functionality out and it happens in that plugin as well.

It just seems that the partial field name MUST match the name of the relation because of how the `october.relation.js` script references the field based on the relation name.

I was

[2020-09-01 16:32] LukeTowers commented on #5256
@bennothommo do you know if this ever worked?

[2020-09-02 03:41] bennothommo commented on #5256
@LukeTowers I hadn't noticed it working or not working before. I submitted this more as a note for myself to have a look at it at a later stage.

[2020-09-02 03:50] bennothommo commented on #5252
@ericp-mrel I recognise that you were very thorough in your original post, and I appreciate that. I had simply misinterpreted what you had said about the Test Plugin and thought that the event was firing on the wrong element, and not that you had actually meant it's not firing at all.

We'll take a look into it.

[2020-09-02 13:44] ericp-mrel commented on #5252
No worries, I was typing it as I was deep diving into the OctoberCMS backend code and figuring out how it all works. If I remember right, I believe when using the checkbox to select an item in the relation manager widget list, it will actually fire a change event, but when adding/removing an item the event isn't fired due to the relation.js script not being able to find the element in the DOM due

[2020-09-03 06:54] bennothommo commented on #5241
@mabehiry those results are expected for an exact search for "eg", as per what the search query does (https://github.com/octobercms/library/blob/develop/src/Database/Builder.php#L60-L102)

I think there might be some confusion on what the `exact` search mode is. It simply means that the search query must be found *as typed* in the record. All the records that show in this list contain the search q

[2020-09-03 14:35] si-dge opened #5259 "Twig macro import is broken"
- OctoberCMS Build: 468 `develop` branch
- PHP Version: 7.3.21
- Database Engine: mysql 5.7.25
- Plugins Installed: Rainlab.Pages, October.Demo, Lovata.Buddies, Lovata.Shopaholic, Lovata.Toolbox, Lovata.Goodnews (etc by Lovata) - last versions
- Cache driver: file

### Description:

Pages are not loading when develop theme with using twig macro (https://octobercms.com/docs/markup/tag-macro). No er

[2020-09-03 17:08] LukeTowers commented on #5259
Firstly, .twig is not a supported extension in the themes, .htm is the only valid extension. Secondly, the docs state

Try defining your macro in `theme/partials/macros/form.htm` and `import 'macros/form'`.

[2020-09-03 18:34] si-dge commented on #5259
Yes, it work.

Interesting why on version 459 it works when importing from another folder. And with twig extesion

[2020-09-03 18:44] LukeTowers commented on #5259
It never should have. There have been various security enhancements to lock down how partials and other templates are loaded, so that would be my guess as to why it changed.

[2020-09-03 18:44] #5259 closed, assigned to nobody

[2020-09-03 18:53] si-dge commented on #5259
I use twig because the theme develop separately with webpack. In this case october layout not useable. Maybe, you can give advice how is better

[2020-09-03 21:22] LukeTowers commented on #5259
I'm not sure what you mean.

[2020-09-04 09:02] mabehiry commented on #5241
Thank you for your declaration
So what is the search mode that get the exact phrase? i.e something like this:
query = 'eg'
Because my table contains too many records and I want to find only the same phrase
Thank you

[2020-09-04 16:26] LukeTowers opened #5260 "Only sync tags related to current branch in subsplit build scripts"
It would be ideal that the various build scripts per branch (https://github.com/octobercms/library/blob/develop/build/rain-split-1.0.sh & https://github.com/octobercms/library/blob/develop/build/rain-split-stable.sh) only synced the tags that belonged in the given branch (i.e. 1.0 only would sync v1.0.x tags and 1.1 would only sync v1.1.x tags). That way we could improve performance of the split s

[2020-09-04 16:41] #5098 closed

[2020-09-04 19:07] LukeTowers opened #5261 "Add support for uploading SVGs"
Need to integrate with https://github.com/darylldoyle/svg-sanitizer to automatically sanitize SVGs on upload and then re-add them to the list of allowed defaultExtensions, assetExtensions, and imageExtensions.

[2020-09-05 15:51] summercms commented on #4864
The following config files are not being installed:

- `develop.php` - I opened an issue for this here.

- `hashing.php` - first time issue has been raised.

- `logging.php` - first time issue has been raised.

p.s. I opened issue in the `installer` repo - see here: https://github.com/octobercms/install/issues/112

[2020-09-06 19:20] LukeTowers commented on #5204
@fgschafer @adrian-stein does it work if you set your app.url to correctly include the subfolder and leave the uploads and media URLs unchanged?

[2020-09-07 12:16] fgschafer commented on #5204
Indeed the initial issue that motivated that comment in the documentation was that the thumbnail previews on the backend mediafinder widget were not working WITH the app_url set WITH the subfolder and link policy left on the default (detect).  The subfolder was missing in the url of the image preview.

[2020-09-07 12:38] bennothommo commented on #5204
@fgschafer Thanks for clarifying, but I did not encounter that issue in the scenario you stated. The image preview appeared just fine for me.

[2020-09-07 16:15] LukeTowers commented on #2831
@daftspunk final results for v1.1.0:

[code]

[2020-09-07 16:18] fgschafer commented on #5204
@bennothommo thenks for your answer.  The one is not working is this:
In a custom plugin:
`public function boot()
    {
        // Extend all backend form usage
        Event::listen('backend.form.extendFields', function ($form) {

            // Only for the CMS Index controller
            if (!$form->getController() instanceof \Cms\Controllers\Index) {
                return;
            }

[2020-09-07 16:21] fgschafer commented on #5204
@bennothommo Thanks.  The issue is for example here.
In a custom plugin boot method:

[code]

[2020-09-07 20:39] digitreadmedia opened #5267 "Protected attachments are not loading correctly"
- OctoberCMS Build: 468
- PHP Version: 7.4
- Database Engine: mySQL/MariaDb

### Description:
Protected attachments saved with the method below get's saved to the public folder instead of the protected storage folder, resulting in 404 errors when trying to load / output the files.

**Relation**:
`    public $attachMany = [
        'docs' => ['System\Models\File' , 'public' => false],
        'pdfs

[2020-09-07 21:25] LukeTowers commented on #5267
What plugins do you have installed? I just tried this on 1.1.0, but was unable to replicate. I was able to find and fix a related issue for displaying thumbnails for protected files though.

[2020-09-07 21:50] digitreadmedia commented on #5267
Hi,

Only plugins I have installed is Rainlab/Pages, Rainlab/User, Rainlab/Builder, Developer Tools and my plugin.

[2020-09-07 22:33] LukeTowers commented on #5267
Are you able to reproduce this on a fresh install of October CMS from composer `composer create-project october/october testUploadsIssue`?

[2020-09-08 01:40] adrian-stein commented on #5204
I have changed the 'linkPolicy' to be 'force' and left the media_path and uploads_path and app.url untouched and it works.

[2020-09-08 10:52] digitreadmedia commented on #5267
Hi, yes - I'm able to reproduce the issue on a clean install with testUploadsIssue.

The plugin merges data from the database to a Word docx document and then uses an external API to merge the Word doc to PDF.  Both files are then saved to storage/temp, from where it is attached to the model.  But instead of saving the files to storage/app/uploads/protected it saves to storage/app/uploads/public.

[2020-09-08 15:55] LukeTowers commented on #5267
@digitreadmedia ah, there's your problem. You can't set is_public after `fromFile()` because `fromFile()` creates the file on the disk: https://github.com/octobercms/library/blob/develop/src/Database/Attach/File.php#L125.

Do this instead:

[code]

[2020-09-08 15:55] #5267 closed, assigned to nobody

[2020-09-09 03:40] u07 commented on #3266
Guys, but what if I can't refresh the page and get a new token? I have a work in progress, a dozen of files in the editor. The changes will be lost.

[2020-09-09 04:03] LukeTowers commented on #3266
@u07 you could load a new page to get your updated security token and then take that token and edit the HTML of the page you're on to insert it into the hidden input element with the name _token and then when you click save the AJAX request will use that new token to authorize the save request.

[2020-09-09 04:04] LukeTowers commented on #3266
Or just copy and paste all of the in progress work to text files on your computer and then copy and paste them back. You should probably save more often :)

[2020-09-09 04:52] aniket-magadum opened #5270 "SQLSTATE[HY000]: General error: 1364 Field 'disk_name' doesn't have a default value"
- OctoberCMS Build: ### 468
- PHP Version: 7.2.19
- Database Engine: InnoDB
- Plugins Installed: RainLab.User

### Description:
I have created a component inside for my custom plugin and I am trying to attach one resume to the user model.

Plugin.php in the register method I have placed the following code.
[code]
This is the partial file

[code]
I am uploading the file via AjaxHandler onUpdate().

[2020-09-09 05:10] u07 commented on #3266
Yeah, that's a solution, kind of. But can't it happen automagically? Requesting and updating the token like every 1h?

[2020-09-09 06:03] LukeTowers commented on #3266
@u07 as far as I'm aware that would defeat at least one of the purposes of the token. If you need the timeout to be longer, then you should be able to change how long your sessions last in config/sessions.php

[2020-09-09 10:28] u07 commented on #3266
@LukeTowers isn's that just a login cookie lifetime? cms.php says: session have a limited time (see session.lifetime) in case "back-end login remember" is False. Since it's True in my case, the cookie never expires. But the token does.

[2020-09-09 12:32] tobias-kuendig opened #5271 "Inconsistent parsing of version.yaml"
A problem did arise with our mall plugin's version.yaml. Suddenly, this line is causing an issue during the installation:

https://github.com/OFFLINE-GmbH/oc-mall-plugin/blame/640ae7f236c9290678e2cceb99b4cf764b15fd98/updates/version.yaml#L195

Issue https://github.com/OFFLINE-GmbH/oc-mall-plugin/issues/573

Because of the `:` in the message, this is interpreted as an array. I guess according to th

[2020-09-09 14:29] SplicedWeb opened #5272 "Site breaking bug - Martin.Forms rendered useless if RainLab.Mailchimp plugin installed in Build 469"
- OctoberCMS Build: 469
- PHP Version: 7.49
- Database Engine: mySQL
- Plugins Installed:
October.Demo-v1.0.1
Martin.Forms-v1.4.20
RainLab.MailChimp-v1.0.4
SureSoftware.Maillog-v2.1.0
### Description:
Error when submitting form: "The specified file extension [js] is invalid." on line 520 of /vendor/october/rain/src/Halcyon/Builder.php

### Steps To Reproduce:
Install OctoberCMS latest Build 469
In

[2020-09-09 19:49] LukeTowers commented on #5272
This is a bug in the forms plugin.

[2020-09-09 19:49] #5272 closed, assigned to nobody

[2020-09-09 19:53] LukeTowers commented on #5271
@tobias-kuendig if you release a new version then your plugin will be rebuilt, the cached copy of the changelog on the marketplace shouldn't cause any issues with the actual installation of the plugin itself if you trigger a rebuild by releasing a new version.

Seems like this is a new warning bubbling up from newer PHP versions.

[2020-09-09 20:08] LukeTowers commented on #3266
No, the session lifetime is for the session. The cookie is just to allow you to reauthorize even when your session has expired without having to login again. So the cookie is what will get you a new session token, but changing the session lifetime is what will help prevent your first session token from expiring in the first place.

[2020-09-10 01:27] SplicedWeb commented on #5272
Thanks @LukeTowers I wasn't sure if it was the plugin since the Forms plugin works prior to adding Mailchimp plugin.

[2020-09-10 07:03] tobias-kuendig commented on #5271
That works, thanks. I must have messed up something on the first try as the error was still there.

That's what I thought at first but it looks like this warning has been there since the early days: https://3v4l.org/MeoBt

It looks like it is related to the `symfony/yaml` component. Downgrading symfony/yaml from v3.4.44 to v3.4.43 makes the issue disappear. But to me there is no obvious line that

[2020-09-10 15:38] damsfx commented on #5270
I'm also having trouble with database attachment creation.
 - OctoberCms build : 469
 - Php version : 7.3.11
 - Database Engine: InnoDB
 - No plugins

Either with :
[code]
or with :
[code]

[2020-09-10 15:51] tobias-kuendig commented on #5270
https://github.com/octobercms/library/commit/6cd6af6940ca15598ad1bab64e2db4a005d9d38f#diff-b062dfb9a3f1e4c504ad988c977f1b40 maybe?

[2020-09-10 16:45] LukeTowers commented on #5271
@tobias-kuendig I think at very least it's worth reporting to Symfony, perhaps they have some insight into why a patch version suddenly started parsing differently.

[2020-09-10 17:33] damsfx commented on #5270
Reverting back to `protected $guarded = [];` seems to work in v**1.0.469** build.

But it's very strange ... This line has always been like this?
See [library/src/Database/Attach/File.php ](https://github.com/octobercms/library/blob/0fba71b3a3fc29191f9bffcd32e9c720199c90b3/src/Database/Attach/File.php#L33)  on 9 Jan 2014

[2020-09-10 18:14] LukeTowers commented on #5270
@bennothommo can you look into this?

[2020-09-10 18:15] LukeTowers commented on #5270
@damsfx @tobias-kuendig @4nik3t is this issue present in v1.1.0?

[2020-09-10 23:50] damsfx commented on #5270
Test this code (from command) with two fresh installs.

[code]
 - Php version : 7.2.11
 - Database : sqllite
 - No plugins

----

**October 1.1** : Work nice !
<details><summary>in composer.json</summary>
<p>

[code]
</p>
</details>

----

**October 1.0** : **Error**.
<details><summary>in composer.json</summary>
<p>

[code]

</p>
</details>

Result this error
[code]
If I set `protected $guarded =

[2020-09-11 00:54] bennothommo commented on #5270
@LukeTowers Laravel have backported that security fix from L6 and L7 to L5.5 (the one which made guarded attributes that are not actual database columns no longer work) - https://github.com/laravel/framework/pull/33858

We'll have to add the changes from https://github.com/octobercms/library/commit/6cd6af6940ca15598ad1bab64e2db4a005d9d38f into the 1.0 branch too.

[2020-09-11 01:05] bennothommo commented on #5270
All,

If this is preventing you from doing work in the mean time, and you have used Composer, the simple fix is to change the `laravel/framework` dependency to `5.5.49` in your `composer.json` to downgrade L5.5, until such a time that we can release a new 1.0 build.

[2020-09-11 03:32] LukeTowers commented on #5270
Another simple fix would be to just upgrade to v1.1.0 via composer too :)

[2020-09-11 06:15] tobias-kuendig commented on #5271
It looks like the real problem is the `!!!` part of the changelog message.

According to the yaml spec, a line starting with `!` has a special meaning:
https://stackoverflow.com/questions/9664113/what-does-a-single-exclamation-mark-do-in-yaml

I'm not sure if it has to explicitly be a single `!` or if `!!!` counts as a "non-specific tag" as well.

Maybe we should make sure that these messages are

[2020-09-11 07:30] bennothommo commented on #5271
@tobias-kuendig I've added some unit tests for this here: https://github.com/octobercms/october/commit/e7b1862c441b8984a704bfd4c2e1e08b54de9b38

It seems to be the combination of both `!!!` and the `:` in the middle of the string which is doing this. Using `!!!` on its own seems to have no issue.

I think you're right - we'll have to update the docs to stipulate quotes around the message in cases

[2020-09-11 08:19] bennothommo commented on #5270
Fixed by https://github.com/octobercms/library/pull/521 - will be released with the next build of 1.0.

[2020-09-11 08:19] #5270 closed, assigned to nobody

[2020-09-11 11:37] tobias-kuendig commented on #5271
Check out the updated symfony issue as well:
https://github.com/symfony/symfony/issues/38154#issuecomment-690975649

I guess using quotes for the update messages is the proper way forward.

[2020-09-11 11:41] summercms opened #5274 "Repeater field `minItems: 1` not showing the first entry"
- OctoberCMS Build: 468

### Description:

It was working fine in previous cms versions. Now is not working in all test plugins.

### Steps To Reproduce:

In our tests we created a repeater field under a `primary` tabs section for example:

[code]

### Expected results

To be showing the first repeater field.

### Received results

Currently hiding the first repeater field.

Using the `minItems: 1

[2020-09-11 17:36] LukeTowers commented on #5271
@bennothommo @tobias-kuendig is there anything we can do (perhaps pre-process the file) to fix this for October users? Are we able to preprocess the file to automatically add quotes around the !!! line?

[2020-09-11 17:59] damsfx commented on #5261
I use this macro in a theme:
[code]
with
[code]
It allows me to manipulate SVG images and change their attributes with the help of [twig source](https://twig.symfony.com/doc/2.x/functions/source.html) function.
Since the last update SVG manipulation is no longer allowed.

A temporary workaround for this limitation?
Adding 'svg' to `fileDefinitions->defaultExtensions` in  `cms.php` config file dose

[2020-09-11 20:08] LukeTowers commented on #5261
@damsfx that's a separate issue, I'm working on a fix right now.

[2020-09-11 21:50] LukeTowers commented on #5261
@damsfx https://github.com/octobercms/october/commit/dca6128501890473043cbe2bfd3016b4f48d39d6 should fix your issue, please try it out and let me know if it does.

[2020-09-12 13:01] damsfx commented on #5261
Yes, it works perfectly!

[2020-09-13 23:58] bennothommo commented on #5208
@lautsevich This looks to be normal to me. The `delete` query occurs in order to fire off callbacks on any previously-attached records, and I believe part of those callbacks for files is to delete the file off disk. 405ms for 100k records looks to be a good result to me for that sort of functionality.

Is there a particular optimisation that you can suggest in that whole process?

[2020-09-14 10:09] Samuell1 opened #5276 "Datatable throws js errors in relation modal"
- OctoberCMS Build: 458
- PHP Version: 7.3

### Description:
When datatable is added to relation and relation modal is open to edit or add it throws error to clicking in datatable dropdown option.

`Uncaught TypeError: can't access property "tagName", item is null`

### Steps To Reproduce:
[code]

[2020-09-14 10:52] sammyaltron commented on #3266
Hi @LukeTowers

Is there a workaround with the "Invalid security token" issue. I just ran into it for the first time and tried your suggestions as stated above but it still throws the same error and rather blocking me from navigating on the backend

[2020-09-14 12:52] mkinternet opened #5277 "Minify framework js code"
Can framework js code be minified?
https://www.octobercms.com/modules/system/assets/js/framework.js
https://www.octobercms.com/modules/system/assets/js/framework.extras.js

Google insigt or gtmetrix alerts that this code is not compressed

[2020-09-14 12:56] alxy commented on #5277
Yes, pass them to an array and use the theme filter. Something like this should work:

[code]

Reference is also in[ the docs](https://octobercms.com/docs/markup/filter-theme#combiner-aliases).

[2020-09-14 13:04] mkinternet commented on #5277
This code only combine assets.

[2020-09-14 13:06] alxy commented on #5277
From the docs:

[2020-09-14 13:08] bennothommo commented on #5277
@alxy is correct - `cms.enableAssetMinify` will minify scripts that are run through the combiner, using the code he mentioned above.

[2020-09-14 13:08] #5277 closed, assigned to nobody

[2020-09-14 15:51] LukeTowers commented on #3266
@sammyaltron try asking for help on the discord, this issue is usually always related to your server configuration vs the October configuration

[2020-09-15 10:51] sjsadeghi opened #5278 "File doesn't save from request"
OctoberCMS Build: 469

### Description:
It was working fine in previous cms versions. Now is not working.
when I want to assign file from request, the file is empty!

![Screenshot from 2020-09-15 15-13-27](https://user-images.githubusercontent.com/18641071/93201828-f48fa180-f766-11ea-9fda-e6b0b65e26c0.png)

### Steps To Reproduce:

- create a model that has file field (image)
- create an api to as

[2020-09-15 13:44] LukeTowers commented on #5278
@sjsadeghi please post your code. Also, it's likely that https://github.com/octobercms/library/commit/425b9f54d0ffb858b9bbe319538a14fa488ac58c fixes that issue for you.

[2020-09-16 11:17] climao commented on #1743
@LukeTowers I used your suggestion to use a JS file in my plugin but to configure tableStyles, instead of inlineStyles.

Unfortunately that didn't work. Any ideas  why?

[2020-09-17 04:47] #5274 closed, assigned to nobody

[2020-09-17 04:48] bennothommo commented on #5274
Thanks for the report @ayumi-cloud.

[2020-09-17 23:12] summercms commented on #5274
@bennothommo Thanks for fixing it. 👍

[2020-09-18 16:08] NewEditOfficial opened #5279 "Error when using a webp file as a backend avatar image"
_I wake up and i cant access the Dashboard (backend)._

[System Log](https://github.com/octobercms/october/files/5246694/system.log)

Error:
![error](https://user-images.githubusercontent.com/19749031/93620150-d9789800-f9d9-11ea-8d57-9961ba13d031.PNG)

Thanks in advance for help!

[2020-09-18 16:11] LukeTowers commented on #5279
@NewEditOfficial looks like an issue with your hosting provider, it can't find the imagecreatefromwebp() function which usually means that the GD extension isn't properly setup. It's also triggered because someone is using a webp file as a backend user avatar, so if you get rid of that file it should start working again. Check your system_files table for files attached to Backend User models with

[2020-09-18 16:22] NewEditOfficial commented on #5279
@LukeTowers
I was thinking of it could be the avatar, but wasn't sure, I'm going to try it.
Thank you

[2020-09-18 16:26] NewEditOfficial commented on #5279
@LukeTowers Yea, i removed the avatar - it's working ty.

[2020-09-18 16:39] #5279 closed, assigned to nobody

[2020-09-19 11:48] summercms opened #5280 "Have an option to not allow blank entries in repeater fields when there is another repeater entry filled in"
Take the following examples:

### Example 1

![image](https://user-images.githubusercontent.com/57409060/93665909-07112000-fa72-11ea-991a-4d84ed7f3010.png)

Above: 2 `<li>` entries, with all 4 fields filled in - this is fine.

### Example 2

![image](https://user-images.githubusercontent.com/57409060/93665926-260fb200-fa72-11ea-9489-8abe3b7116ae.png)

Above: 2 `<li>` entries, with 3 fields filled

[2020-09-19 14:48] Samuell1 commented on #5280
I think you can use array validators something like `myrepeater.*.name` Should work.

[2020-09-19 14:52] summercms commented on #5280
@Samuell1 I forgot about that, thanks will test that out.

[2020-09-19 16:25] #5280 closed, assigned to nobody

[2020-09-21 16:08] ivang76 commented on #4628
Hi there,
I'm still having the same issue.
Using a custom template with two tabs and many repeaters, if I don't save the new page before add one item I get this error:

Plugin version : 1.3.5
October build : 469

[2020-09-21 20:29] leetNightshade commented on #5261
At least in the version of OctoberCMS I'm on right now, SVG still can't be uploaded to assets because it's not an allowed upload type.

Locally I've added them, can we get that patched on the release version?

[2020-09-21 23:25] bennothommo commented on #4628
@ivang76 please post your field config .yaml file where this error is occuring and we'll try and replicate.

[2020-09-21 23:34] LukeTowers commented on #5261
@leetNightshade it will be in 1.1.1. Also you can just change it yourself by adding the allowed extensions to config/cms.php -> `fileDefinitions.asset` and `fileDefinitions.default`

[2020-09-22 14:50] PubliAlex commented on #5261
@LukeTowers Would be great to prefill the cms.php file with the fileDefinition array to not googling how it works each time you need it. Plus it would be more inline with other parameters that you just have to change.

[2020-09-22 15:26] bennothommo commented on #5261
@PubliAlex it's not included in there for a reason - allowing SVGs can be a security vulnerability if you allow frontend users (or even untrusted admins) some way to upload SVGs, so someone who wants it - and understands the risks - should enable it manually.

[2020-09-22 15:53] bennothommo commented on #5271
@LukeTowers we certainly can try and implement some pre-processing to catch most of the issues - for example, if we pre-process the version numbers to contain quotes, we could even upgrade `symfony/yaml` to `4.x` - we had to lock it to `3.x` for L6 as `4.x` didn't support our version numbers, but `3.x` is EOL next year.

The only potential concern is some fringe cases where people may have formatt

[2020-09-22 17:41] LukeTowers commented on #5271
I figure we can probably just stay on 3.x for a while, there's not much benefit from upgrading AFAIK.

[2020-09-23 06:31] PubliAlex commented on #5261
@bennothommo Hello, I understand it's not included by default, what I mean is to include the fileDefinition array with the file extension supported by default.

Like that, if you want to add one, you just have to add one line into that array, instead of creating it from scratch.

[2020-09-23 07:48] LukeTowers commented on #5261
@PubliAlex @bennothommo is saying that we make it difficult to find on purpose. Most people would only need to change those values for SVG support, which will be included in 1.1.1 anyways.

[2020-09-23 08:27] ivang76 commented on #4628
Hi @bennothommo
the field conf isn't in the yaml but I used the "variable" definition directly into the template page.
Something like this:

Let me know please if you can replicate and fix it. Thank you!

[2020-09-23 15:04] summercms opened #5282 "Repeater field deletes all data when adding another entry"
Latest version of october.

The bug goes like this:

1. Have two fields in each repeater entry, the first being an `input` and the second being a `select / dropdown` field.

2. I write some data in the `input` field.

3. I don't click save.

4. I add another repeater entry.

5. The data I wrote in the first repeater entry `input` field gets deleted.

Gif of the bug in action:

![bug](https://user-

[2020-09-23 16:18] LukeTowers commented on #5282
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2020-09-23 16:58] summercms commented on #5282
No problem, will try and create a pr to recreate this bug in the test plugin, sometime this week.

[2020-09-24 12:10] summercms commented on #5282
@LukeTowers Sorry this is embracing, was coding the test plugin and noticed that we had our October II machine learning widget connected to that input field and there seems to be a conflict between that code and the repeater javascript.

Will have to be more careful as we are using October II full-time in the office to speed up development.

Have tested the normal `input` field in the repeater set

[2020-09-24 12:10] #5282 closed, assigned to nobody

[2020-09-25 00:24] #5218 closed

[2020-09-25 13:50] rwcorbett commented on #5058
for what it's worth it seems to be only that particular CSS function not compiling... I tested these:

[code]

[2020-09-25 15:28] LukeTowers commented on #5058
@Jaxwilko if you're feeling bored maybe you could take a look at this?

[2020-09-25 18:27] jaxwilko commented on #5058
@rwcorbett when I add your code to a file then include it with:

[code]
The output is:

[code]

In both php7.3 & php7.4

Could you give me a pointer in how to replicate the issue?

[2020-09-26 06:26] chrisvidal opened #5286 "403 Forbidden: You don't have permission to access this resource."
- OctoberCMS Build: 469
- PHP Version: 7.3.9
- Database Engine: MySQL 5.x
- Plugins Installed:
RainLab.Blog
MailLog
RanLab.MailChimp
Backup
OFFLINE.SiteSearch

### Description:
Can't update any backend settings, like the Mail Configuration for example, but not only.
Receiving this "403 Forbidden" error
My plugin settings page is working fine, and other plugin settings are working fine as well.
It

[2020-09-26 09:06] LukeTowers commented on #5286
Possibly related to https://octobercms.com/support/article/ke-1, if you have weird ModSecurity rules enabled it could be blocking that request specifically.

[2020-09-28 07:29] chrisvidal commented on #5286
thanks @LukeTowers

I had to disabled entirely ModSecurity to make the backend settings works.

[2020-09-28 07:50] ivang76 commented on #4628
did you find time to investigate?
thank you!

[2020-09-28 14:52] gergo85 opened #5287 "File upload and repeater widget"
I use the File upload widget in the Repeater widget. I added more different files and saved the form. When I refreshed the page, the all File upload widget contain same file.

Before save:
![01](https://user-images.githubusercontent.com/2959112/94447999-b9e82900-01aa-11eb-8feb-61b4ac5b886c.jpg)

After save:
![02](https://user-images.githubusercontent.com/2959112/94448012-bce31980-01aa-11eb-81d3-44

[2020-09-28 15:21] LukeTowers commented on #5287
You're doing something wrong, fileupload widgets use model relationships, so by their very nature they're not going to work with the repeater widget out of the box which stores its data in JSON and can have an arbitrary number of rows. Use a mediafinder instead.

[2020-09-28 15:21] #5287 closed, assigned to nobody

[2020-09-28 15:28] #5286 closed, assigned to nobody

[2020-09-28 16:45] bennothommo commented on #4628
@ivang76 sorry, I have been away for the past couple of days and have not yet had a chance to have a look. I will give it a look in the next day or so.

[2020-09-29 07:04] gergo85 commented on #5287
All right. Are there any solution to add user permission to folders of Media? I need to users view own folder, not all folders.

[2020-09-29 07:09] dimti opened #5288 "Color index out of range"
- OctoberCMS Build: 7c6ef31a1fb6b9aab507527e9af950012a2dec59
- PHP Version: 7.3.2

### Description:
When getThumb of gif and probe to resizing it and apply alpha index i got error: Color index 108 out of range

### Steps To Reproduce:
Load gif in any attach model.
Try to resizing it.
Hot fix: https://github.com/dimti/library/commit/396f65dc139d0a62b7fb61b767e86aa57a115761
![577573ee515443b2d063a2f

[2020-09-29 07:25] LukeTowers commented on #5287
@gergo85 yes it's pretty simple, just use the ability to dynamically change the config along with event handlers and you can do that relatively easily. See my FileLocker and EasyFiles plugins for an example

[2020-09-29 09:05] gergo85 commented on #5287
Thank you for your help! :)

[2020-09-30 09:04] wordshop-git commented on #3608
I think this is still happening in build 469?

framework.min.js is located here: /modules/system/assets/js/framework-min.js
![image](https://user-images.githubusercontent.com/58780682/94665469-1874ea80-0304-11eb-80b1-5ad50bd06734.png)

Is there any way around this or do we just have to run unsafe-eval in our CSP

[2020-09-30 12:59] prhost opened #5290 "Email events do not pass parameter by reference"
Hi,

Currently I was needing to reverse the email content before it fires, I saw that there are several events in the mail with `beforeSend`, `prepareSend`, but none of them is possible to change the `$data` or `$view`, or anything that is not just return false to stop sending.
I found this @LukeTowers conversation about it in https://github.com/octobercms/october/pull/4651#issuecomment-537548865

[2020-09-30 17:39] LukeTowers commented on #3608
@wordshop-git you could make a PR implementing my suggested fix in the comment above.

[2020-09-30 17:48] LukeTowers commented on #5290
Did you try requesting it by reference first @prhost?

[2020-09-30 18:39] prhost commented on #5290
yes, for some reason when i put reference on Event::listen, he doesn't even enter the event.

[2020-09-30 20:31] LukeTowers commented on #5290
A PR should be fine then, we can review it further when it's submitted

[2020-10-01 00:25] #5223 closed

[2020-10-01 16:20] cregx commented on #4136
I don't know if I understood everything in the discussion, but I agree with @ghost that OctoberCMS should support webp. There is no reason why the Media Manager should not support the webp format. Safari will also support this format with macOS Big Sur.

[2020-10-01 17:42] LukeTowers commented on #4136
@cregx AFAIK it does support webp right now.

[2020-10-01 23:47] bennothommo commented on #4136
@cregx There is a perfectly valid reason - we support IE11 still, and IE11 does not support WEBP. If someone were willing to add the graceful handling of the media manager if the WEBP format (or `imagecreatefromwebp` PHP method) were not available, then we could consider enabling it by default, but at this stage, it's showing hard errors and affecting the experience so we simply can't enable it by

[2020-10-02 08:09] gergo85 opened #5294 "Automatic file renaming in Media Manager"
Is the file renaming automatic to web safe format in Media Manager?

[2020-10-02 08:22] LukeTowers commented on #5294
?

[2020-10-02 08:56] gergo85 commented on #5294
I upload this files:

"1. Mintalap I..jpg" -> "1-mintalap-i.jpg"
"01. kép Mezőberényi rátétes hímzés.jpg" -> "01. kép Mezőberényi rátétes hímzés.jpg"

The name of first image changed. The Media Manager replaced the spaces to hyphen and changed the letters to lowercase.
The name of second image didn't change.

[2020-10-02 09:05] LukeTowers commented on #5294
How & where did you upload them?

[2020-10-02 09:13] gergo85 commented on #5294
I use the Media Manager page and Media Finder.

[2020-10-02 09:41] LukeTowers commented on #5294
Which one had which result?

[2020-10-02 10:04] gergo85 commented on #5294
Before upload: 1. Mintalap I..jpg
After upload: 1-mintalap-i.jpg

Before upload: 01. kép Mezőberényi rátétes hímzés.jpg
After upload: 01. kép Mezőberényi rátétes hímzés.jpg

[2020-10-02 17:46] LukeTowers commented on #5294
And what happens to the second file if you upload it through the media manager instead?

[2020-10-02 17:46] LukeTowers commented on #5294
I meant which upload method had which result, not which file had which result.

[2020-10-03 10:31] cregx commented on #4136
@bennothommo Unfortunately I see it differently. The IE11 represents a very small share with less than 3%. However, if you continue to focus on this browser, you should be prepared for this browser to remain with us for many, many years to come. This can also be seen in the new Edge Chromium from Microsoft, which continues to integrate the IE11 browser (Enterprise Mode). And for this reason I thin

[2020-10-03 13:54] bennothommo commented on #4136
@cregx I appreciate your thoughts, but we aren't slowing it down though - if people want to use WEBP, they most certainly can. We are simply stating that *by default*, we don't enable it. I also am saying that if someone wants to update the media library widget to *gracefully* handle when WEBP is enabled but being used on a browser (or server) that does not support it, then we can possibly change

[2020-10-03 14:01] bennothommo commented on #5288
@dimti That seems to me to be a corrupted .gif file. If possible, are you able to provide the .gif file so that we can test it out?

[2020-10-03 15:51] panakour opened #5296 "DB Performance issue using the new resize feature"
Using the new resize feature in my theme like so `{{ image.path|resize(96, 96, {mode: "crop"}) }}` querying the database in every sequence request because of:
https://github.com/octobercms/october/blob/f8f5e6e02273c81488542e51be50b5baed7a8af2/modules/system/classes/ImageResizer.php#L588

It should check if already resized after the first request and prevent from querying the database in the next r

[2020-10-03 16:18] LukeTowers commented on #5296
@panakour the quick fix for you is to not use the path property, just pass the image model by itself `{{ image | resize(96, 96, {mode: "crop"}) }}`

[2020-10-03 16:26] panakour commented on #5296
@LukeTowers thanks! this is solve the issue

[2020-10-03 16:26] #5296 closed, assigned to nobody

[2020-10-05 08:44] mahony0 opened #5297 "Theme URL's are case-insensitive"
- OctoberCMS Build: 469
- PHP Version: 7.4
- Plugins Installed: RainLab.Translate-v1.7.2

### Description:
I thought this is an url interpretation bug. Both https://domain.tld/contact and https://domain.tld/ConTacT opening the same page is kinda weird and not SEO friendly.

### Steps To Reproduce:
* Create a page in theme with url like: /contact
* Try to reach the /contact page via every capitaliz

[2020-10-05 16:32] LukeTowers commented on #5297
While URLs are technically case sensitive, it’s rarely a good idea to treat them as such in a cms environment, see https://www.searchenginejournal.com/url-capitalization-seo/343369/. Additionally, IIS does not support case sensitive URLs by default. Why should we encourage people to be using case sensitive urls when they can cause so many problems?

[2020-10-05 16:55] mahony0 commented on #5297
I couldn't find any relevant info in docs. about case-insensitive handling of urls so need to ask if that's intended or not. Also if that's problematic for IIS which I never used, surely it's logical to keep it that way.

Maybe putting a word in docs about this will be useful for clarifying

[2020-10-05 17:26] LukeTowers commented on #5297
@mahony0 sure, where would it make sense to you for a note about it to be? Perhaps you can submit a PR?

[2020-10-06 08:08] dimti commented on #5288
That file upload my managers old years ago.
First bytes  tell me is a gif file. But, maybe with that file is some wrong.
https://cdn2.predelanet.ru/media/cache/images/7/5/5/7/c/ca511c30b3fd172a384db47e848ba5f9d0d.gif

[2020-10-07 06:05] #3594 closed

[2020-10-07 06:10] bennothommo commented on #3594
@twistedindustries @AugmentBLU this is now fixed as of https://github.com/octobercms/october/commit/af6db51b7978aae874844e79e0103b0952d7b762.

Note that `emptyMessage` is only used for the "view" widget in list mode (ie. a many relation). You will need to specify `noRecordsMessage` within the "manage" config to specify the message in the popup list.

[2020-10-07 06:38] bennothommo commented on #5288
@dimti Seems strange - your .gif file has 111 colors in its palette, so index 108 should not be out of range. Have you had any troubles with other .gif files?

[2020-10-07 06:53] bennothommo commented on #5233
Confirmed the bug - I believe it may have something to do with the focus controlling that occurs with popups.

[2020-10-07 07:34] gergo85 commented on #5294
I tested both method (Media Manager page and Media finder widget). A result is same.
I tried more variant of filename and I find the issue. If the last caracter of filename is dot, the conversion runs.

[2020-10-07 09:16] digitreadmedia opened #5299 "Relation Manager giving ViewForm errors, but the form works"
- OctoberCMS Build: 469
- PHP Version: 7.4
- Database Engine: MariaDb

### Description:
I'm rendering a model in a relation manager within my plugin with a belongsTo relationship.  The form preview loads correctly.  When updating the relation, the popup form loads correctly but then after a few seconds displays the error: "A widget with class name 'relationClientViewForm' has not been bound to the

[2020-10-07 09:45] bennothommo commented on #5299
@digitreadmedia Please provide your `config_relation.yaml` and `config_form.yaml` files.

This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the tes

[2020-10-07 13:09] davodsaraei opened #5300 "Wrong var type"
In this line, The `$config` variable defined as an array but used as an object

https://github.com/octobercms/october/blob/af6db51b7978aae874844e79e0103b0952d7b762/modules/backend/classes/ControllerBehavior.php#L26

[2020-10-07 14:23] ivang76 commented on #4628
Hi @bennothommo, in the meantime that you will find time to check it out, may I ask you another thing related to these "Custom page fields" please?
How and where can I manage the validations of that _{repeaters}_ and _{variables}_ before to save them and, if it fails, to alert the user?
On a my custom model I normally use the beforeSave function, maybe can I do something similar?

Thanks for all a

[2020-10-07 18:27] rwcorbett commented on #5058
Okay let me clarify - we were using this method of calling the stylesheet:
[code]

Also please note the specific syntax of the SASS `rgba` function being called `rgba( $color, $alpha);` (see [HERE](https://sass-lang.com/documentation/modules#rgb) for reference).

This is the format that does not work:
[code]
test.scss ==> [test.zip](https://github.com/octobercms/october/files/5342991/test.zip)

In

[2020-10-07 23:07] LukeTowers commented on #5300
@davodsaraei feel free to submit a PR, make the change here too please: https://github.com/octobercms/october/blob/af6db51b79/modules/system/traits/ConfigMaker.php#L30

[2020-10-08 03:24] bennothommo commented on #4628
@ivang76 I believe it's possible through the plugin architecture.

You could potentially create your own plugin and then implement a listener for the `model.beforeValidate` event to programatically insert the validation rules. @seanthepottingshed has an example in this old issue which you could give a try: https://github.com/octobercms/october/issues/4327#issuecomment-491704920

[2020-10-08 03:25] bennothommo commented on #4628
You may have to try the following adjustment as well: https://github.com/octobercms/october/issues/4327#issuecomment-495677694.

[2020-10-08 03:41] bennothommo commented on #4628
@ivang76 I've finally gotten around to testing your template code (with the latest `develop` version of October CMS) and I cannot replicate the error you encountered. It potentially may have been fixed in the Laravel 6 update for October.

If possible, please try and update October CMS to version 1.1.0 and re-test.

[2020-10-08 07:23] SaidiAli commented on #5300
@davodsaraei I think it's intended to be used as an object. The array is turned into an object in this method; https://github.com/octobercms/october/blob/af6db51b79/modules/system/traits/ConfigMaker.php#L30

[2020-10-08 07:35] mahony0 commented on #5297
Sure @LukeTowers here it is: [Docs Update](https://github.com/octobercms/docs/pull/486)

[2020-10-08 09:47] Rike-cz opened #5301 "Form setting for Input.trigger.js does not accept null"
When in your form setting is something like this:
[code]
...everything works as expected. `""` value is compared with empty text field `""` and result is **true**.

But in this case:
[code]
... `""` is compared with `null` returned by dropdown and result is **false**.

I did not find way how to impose `null` to form field condition setting.

### Possible solution
When Input.trigger.js `self.trigge

[2020-10-08 10:43] davodsaraei opened #5302 "Issue with october:update when using composer"
- OctoberCMS version 1.1
- PHP Version: 7.4
- Database Engine: MYSQL

### Description:
Difference between the OctoberCMS update in the admin panel or command line and composer update.

### Steps To Reproduce:
1. I create a new plugin and add composer.json to add new packages.
2. I update from the admin panel or command line with the `php artisan october:update --force`.
3. I get the following err.

[2020-10-08 12:32] davodsaraei commented on #5302
**Note:** If I clone the git repo and run the `composer install` command. some files in modules dir will be changed and I don't know why.

<img width="1440" alt="Screenshot 2020-10-08 at 16 01 12" src="https://user-images.githubusercontent.com/15808829/95458783-86ae5280-097f-11eb-82a2-55eba6ac64cb.png">

[2020-10-08 12:38] davodsaraei commented on #5300
@SaidiAli @LukeTowers It will be changed to object but I have another issue when I run the `composer install`.
https://github.com/octobercms/october/issues/5302#issuecomment-705536788

[2020-10-08 15:40] sstifler opened #5303 "How to use data-request-flash"
- OctoberCMS Build: 469
- PHP Version: PHP 7.2.22
- Database Engine: mysql

I found an error: css Flash message styles don't work in data-request-flash. An example from the documentation: https://octobercms.com/docs/ajax/extras#ajax-flash

[code]

code in my page was not applied in the html code:
`<p class="success flash-message fade in">You did it!<button type="button" class="close" aria-hidden="

[2020-10-08 17:09] haralake opened #5304 "Scssphp v0.8.4 compiler gives error "expecting list, null received:...""
- OctoberCMS Build: ### 469
- PHP Version: 7.3
- Database Engine: mySQL
- Plugins Installed:

### Description:
I use Octobercms and bootstrap 5 Alpha2. I try to compile bootstrap 5 scss files with build in octobercms scssphp v0.8.4 compiler like this:
`<link href="{ ['assets/vendor/bootstrap/scss/bootstrap.scss']|theme }}" rel="stylesheet">`
but on frontend i get error:

`expecting list, null rece

[2020-10-08 17:32] LukeTowers commented on #5304
@haralake are you using composer?

[2020-10-08 17:34] LukeTowers commented on #5303
@fatklass you're confusing two separate things. The `{% flash %}` tag is for flash messages that are displayed when the page is rendered, not displayed on AJAX requests. The `data-request-flash` attribute tells the AJAX framework that the flash message will be handled on AJAX requests, but in order for it to actually work you need to make sure you're including `framework.extras.js` on your page.

[2020-10-08 17:37] LukeTowers commented on #5302
@davodsaraei do not use `october:update` when you're using composer without setting `cms.disableCoreUpdates` to true.

[2020-10-08 17:38] haralake commented on #5304
No i don't use composer

[2020-10-08 17:42] LukeTowers commented on #5302
See https://github.com/octobercms/docs/commit/1b6cb3f054efb3637f3beba13f63eefe386a7f97

[2020-10-08 17:42] #5302 closed, assigned to nobody

[2020-10-08 17:43] LukeTowers commented on #5300
@davodsaraei see my comment on that.

[2020-10-08 17:44] LukeTowers commented on #5304
@haralake I would recommend you switch to using composer. The marketplace update to v1.1 is coming, but it's faster to just switch to using composer now.

[2020-10-08 17:44] #5304 closed, assigned to nobody

[2020-10-08 17:46] LukeTowers commented on #5297
Resolved by https://github.com/octobercms/docs/commit/f54a27eb39fada746be26a817d3f266c97bf65c9. Thanks for the contribution @mahony0 :)

[2020-10-08 17:46] #5297 closed, assigned to nobody

[2020-10-08 17:52] LukeTowers commented on #5301
@Rike-cz do you think you could submit a PR to https://github.com/octobercms/october/blob/develop/modules/system/assets/ui/js/input.trigger.js#L67-L91 to handle dropdown null values better?

[2020-10-08 17:54] LukeTowers commented on #5294
@bennothommo are you able to confirm the above?

[2020-10-08 17:57] haralake commented on #5304
The error: `An exception has been thrown during the rendering of a template ("vendor/rfsfile not found for @import: line: , column: "). ` was just from my installation. So the updated Leafo/scssphp v1.2.1 works just fine without any problems. Marketplace v1.1 will solve this issue?

[2020-10-08 18:00] sstifler commented on #5303
I use framework.extras.js. ajax Flash messages work. http://prntscr.com/uvnhtd
But my css classes don't work.
Because the ones that are used by default are used framework.extras.js.

http://prntscr.com/uvnm8e
http://prntscr.com/uvnljj

**or so**

[code]

does not work https://prnt.sc/uvnljj

[2020-10-08 18:08] LukeTowers commented on #5304
@haralake we've switched to using scssphp/scssphp, so it will probably solve your problem. I highly recommend you just switch to using composer now so you can test it against your site now instead of waiting for the marketplace release to be available and maybe still having the issue.

[2020-10-08 18:09] haralake commented on #5304
Ok thank you @LukeTowers , i would do that

[2020-10-08 18:15] LukeTowers commented on #5303
@fatklass see https://github.com/luketowers/oc-blank-theme/blob/master/assets/js/app.js#L9-L28 for an example of how you can set global handling for all frontend AJAX requests with flash messages with custom classes.

[2020-10-09 07:04] Rike-cz commented on #5301
@LukeTowers I found very simple way to achieve what I want.

What is another problem - automatically changed dropdowns (via dependsOn) does not trigger any event. It's more complex I think, maybe for @bennothommo eyes and brain.
![trigger](https://user-images.githubusercontent.com/4247582/95553254-72fdfd00-0a0e-11eb-90c3-1b33929975fc.gif)

[2020-10-09 08:01] sstifler commented on #5303
Thank you for helping me. But it doesn't work. Installed the demo theme October CMS. And did as you said does not work.
default.htm
[code]
test.htm page
[code]

http://prntscr.com/uvyz13

`<p class="success flash-message fade in">You did it!<button type="button" class="close" aria-hidden="true" wfd-id="27">×</button></p>`

[2020-10-09 19:03] dennisgon commented on #5301
hi, can you assign this to me? i
I want to try to solve the problem

[2020-10-10 13:30] summercms opened #5308 "Make uploading screenshots a `required` feature for all plugins to the marketplace"
The biggest problem I have with the plugin marketplace is trying to second guess what half the plugins do?

Most of the time I don't download the plugins because there is a meaningless short description and if the author spent a few minutes uploading a screenshot of what their plugin actually does? Then I might download it and give it a try.

Please all authors I'm not a mind reader!

Therefore, I

[2020-10-10 19:58] LukeTowers commented on #5303
The `{% flash %}` tag has nothing to do with AJAX requests. Anything you put in there is not going to be affect flash messages displayed by AJAX requests.

Put your customizations in the section of the JS that handles AJAX requests flashing:
[code]

[2020-10-11 09:13] SebastiaanKloos commented on #5308
There are a lot of toolbox / no controller type plugins. So there may be some plugins which can't be screenshotted

[2020-10-11 10:18] ayumi-cloud commented on #5308
Some of those plugins, could take a screenshot of a `code example`, to let users better understand their plugin!

There are very few plugins which maybe don't need a screenshot, like this one: https://octobercms.com/plugin/vojtasvoboda-twigextensions

They have the correct amount of documentation!

~BUT most `toolbox / no controller type plugins` really don't have enough info in their documentatio

[2020-10-11 10:24] ayumi-cloud commented on #5308
Some of those plugins, could take a screenshot of a `code example`, to let users better understand their plugin!

Do you have a specific plugin example to look at?

I really believe 99.99% of all plugins can do a screenshot in one way or another.

[2020-10-11 10:42] summercms commented on #5308
Some of those plugins, could take a screenshot of a `code example`, to let users better understand their plugin!

Do you have a specific plugin example to look at?

I really believe 99.99% of all plugins can do a screenshot in one way or another.

All plugins either `add`, `upgrade` or `change` a `feature` of some kind. A screenshot can demo that feature.

[2020-10-11 12:01] summercms commented on #5308
Going to add another comment as I feel strongly on this topic!

I give an example:

There are many plugins in the marketplace that have 1-50 installs, containing a poor description and no screenshots! Clearly those few installs are by the plugin's author and have been installed on the plugin author's websites! Many non plugin author users look at that plugin and can't fully understand what it does

[2020-10-12 03:06] bennothommo commented on #5301
I think a `null` for a dropdown implies nothing is selected, which might be why it's set up to apply the filter that way (ie. I want the trigger to occur if nothing is selected). Does the same thing occur if you specifically include a blank string in the value - ie. `condition: value['']`? Not sure if that will work, but worth a go.

[2020-10-12 03:36] iwsmike commented on #1636
I've recently met this issue on OctoberCMS Build 209 (yes we're still running this, don't ask why...), your answer helped but for me this fixed it:

[code]

[2020-10-12 09:29] ivang76 commented on #4628
Hi @bennothommo,
thanks for the advices about the validation of custom fields, I'm gonna make some test.

Instead unfortunately even with the Laravel 6 update I still get that _"A widget with class name 'formPage04cc1efcf2a6200b8326a39b207098e0ViewBagElements' has not been bound to the controller" on line 605 of [...]"_ error when I click to add a new repeater item on a new (not yet saved) page.

[2020-10-12 10:18] dimti commented on #5288
I dont now. That only one describe error with use this engine along to three months. I intention to check anothers gif-files with old ski-brand logos in my shop and describe about that with one week.

[2020-10-12 17:47] LukeTowers commented on #1636
@iwsmike yikes, 209? I'd be interested in helping you upgrade to the latest version purely out of curiosity to see how easy it is or not. Let me know if you're interested in that.

[2020-10-12 18:16] LukeTowers commented on #4628
@bennothommo I encountered that too on the latest develop branch but haven't dug into what's causing it.

[2020-10-12 18:17] LukeTowers commented on #5301
@Rike-cz can't you set the price field to automatically trigger based on the product option field as well as the option value field?

[2020-10-12 19:39] Rike-cz commented on #5301
@LukeTowers If every _Product option_ has one or more _Option value_, yes, I can. But in marginal case with no option values for product option I will optain enabled _Price_ too. But it's a detail I think.

[2020-10-13 05:06] bennothommo commented on #4628
@LukeTowers the only way I've been able to replicate this is when I made another layout available to the Static Pages plugin. Interestingly, the default layout worked before this new layout was made available, but started showing the same issue after the layout was made available.

@ivang76 Are you using multiple layouts?

[2020-10-13 05:54] LukeTowers commented on #4628
@bennothommo that sounds about right, I usually have a number of different layouts that I make available to the RainLab.Pages plugin

[2020-10-13 06:26] ivang76 commented on #4628
@bennothommo yes sure, there are different layouts from basic to complex (using custom fields with _variables_ and _repeaters_) that the editor can select.
Sorry if I didn't mention this case before.

[2020-10-13 07:33] Rike-cz commented on #5301
If @bennothommo would make some changes in dropdowns, I think this is not correct behavior too:
![loading](https://user-images.githubusercontent.com/4247582/95829678-d81b6080-0d36-11eb-81e7-eea58dcba816.gif)
Changing of value in dropdown fires loading indicators not only in his own dependents.

[2020-10-13 08:14] bennothommo commented on #4628
@ivang76 @LukeTowers would you mind trying the fix in https://github.com/rainlab/pages-plugin/commit/d2ff05e8b8a6815a34c71f91b06eacc91fbe79f5 and see if that resolves the issue for you both?

[2020-10-13 08:19] bennothommo commented on #5301
@Rike-cz could you make a separate issue for that, so it doesn't get lost here? I assume that's based on `dependsOn`.

[2020-10-13 09:05] Rike-cz opened #5311 "Repeater dropdowns and triggering loading indicator"
This bug manifests itself when using dependsOn inside form repeater.
Changing of value in dropdown fires loading indicators not only in his own dependents.
![loading](https://user-images.githubusercontent.com/4247582/95829678-d81b6080-0d36-11eb-81e7-eea58dcba816.gif)

[2020-10-13 09:06] Rike-cz commented on #5301
Sorry! #5311

[2020-10-13 16:26] iwsmike commented on #1636
Hi Luke! I think, pretty difficult if not impossible as it was "customized" by different "coders" before i got to the company a couple of years ago... I recently managed to make it run on PHP 7.2.11 instead of 5.6.40, this was annoying but now i face other issues like we are using some third parties tools such as ElasticSearch and also an old version 1.7.5... the upgrade is currently impossible be

[2020-10-13 17:36] LukeTowers commented on #1636
@iwsmike hit me up on Slack or Discord and we can chat. I've had to deal with similar messes before

[2020-10-13 21:18] ivang76 commented on #4628
thank you @bennothommo, this fix seems to work, but now I noticed a new strange behaviour: there isn't anymore the popup alert with the error, but the repeater fields are not saved.

Let me explain... if I create a new page and fill the repeater (no more blocking error) and save the page, and after that I reload it, the repeater fields won't be there anymore. The repeater block in the form is empt

[2020-10-14 02:04] bennothommo commented on #3305
I assume this has been fixed by #5126, but let me know if this is not the case and I will reopen.

[2020-10-14 02:04] #3305 closed

[2020-10-14 07:30] GinoPane commented on #4976
Up

[2020-10-14 08:35] gergo85 opened #5313 "BackendAuth::register usage"
I use the example code:
[code]
Location: https://octobercms.com/docs/backend/users#backend-auth-facade

I got the following error:
![error](https://user-images.githubusercontent.com/2959112/95964087-bb4f5d80-0e08-11eb-9987-654d1acf665b.jpg)

[2020-10-14 15:04] LukeTowers commented on #5313
It's first_name & last_name not name, was recently updated in the docs on github: https://github.com/octobercms/docs/blob/master/backend-users.md#backend-user-helper

[2020-10-14 17:59] zimudec opened #5314 "Upgrade from 1.0 to 1.1 from the backend system"
Is it possible to upgrade from the backend system to version 1.1? either with or without composer?

If not, I think that it would be a necessary functionality to avoid resorting to a developer and for an easier and faster upgrade, taking into account that laravel 5.5 is no longer in maintenance since September 2020.

[2020-10-14 18:58] LukeTowers commented on #5314
The marketplace update for 1.1 is being worked on right now, but in the meantime the answer to all your questions is to use Composer.

[2020-10-14 23:45] bennothommo commented on #4628
@ivang76 yeah I've seen the same - will investigate further. I'd dare say it's the same issue, just happening at another point (ie. on the initial save)

[2020-10-15 06:40] gergo85 commented on #5313
I changed the code, but the error message is same.
October version: 1.0.469

[2020-10-15 06:53] gergo85 commented on #5313
I use it in the beforeSave() method of my plugin. If I put it in the boot() method of Plugin.php I get the following error:

![error](https://user-images.githubusercontent.com/2959112/96087219-d03cf700-0ec3-11eb-8438-2730b4ac9133.jpg)

[2020-10-15 12:19] PrestaSafe opened #5315 "Big backend menu"
Hi !

The backend is very great, but, a lot of plugins generate item menu, and, the menu in back can be a mess really faster.
The `collapsed` navigation is nice but not very efficiant.

I think an other backend menu should be proposed with small entries and possibilities to collapse sub items.
For exemple (PrestaShop backend menu)
<img width="229" alt="Capture d’écran 2020-10-15 à 14 17 07" src=

[2020-10-15 15:57] LukeTowers commented on #5315
Feel free to submit a PR with screenshots

[2020-10-15 15:59] LukeTowers commented on #5313
@gergo85 try using v1.1.0 via composer instead.

[2020-10-15 20:08] Brovtsin opened #5316 "After upgrading to build 469, can not log into backend, it always redirects back to the login page"
After upgrading to build 469, when I try to log into the backend, it always redirects back to the login page. But if I enter the wrong credentials, an error occurs that the credentials are not valid.

### Steps To Reproduce:

[2020-10-15 20:27] LukeTowers commented on #5316
@Brovtsin what happens if you login with correct credentials, and then go straight to /backend in your browser?

[2020-10-16 01:38] bennothommo commented on #5316
@Brovtsin in addition to @LukeTowers comment above, do any errors regarding the cookie or redirection occur in your web developer toolbar in Chrome or Firefox?

[2020-10-16 05:19] Brovtsin commented on #5316
Thank you, for the reply!

If I go straight to the /backend, after login with correct credentials, it redirects me to /backend/backend/auth/signin.

If it's important I run my development under docker.

No errors, only 302 redirects -

![image](https://user-images.githubusercontent.com/69000783/96216129-3ab76b00-0f88-11eb-9044-8320c2a06309.png)

[2020-10-16 06:04] Brovtsin commented on #5316
I can dump User from signin_onSubmit method of Auth controller

![image](https://user-images.githubusercontent.com/69000783/96218940-75bc9d00-0f8e-11eb-84da-e1451b6467c3.png)

and here is RedirectResponse dump

![image](https://user-images.githubusercontent.com/69000783/96220569-9d613480-0f91-11eb-9a50-3f0c990acb07.png)

[2020-10-16 06:36] Brovtsin commented on #5316
And then after $redirect->setRequest($this->generator->getRequest());
this is at line 189 of vendor/laravel/framework/src/Illuminate/Routing/Redirector.php
we have as result from $this->generator->getRequest() -
![image](https://user-images.githubusercontent.com/69000783/96221275-f8475b80-0f92-11eb-9733-6b041f7280d8.png)

[2020-10-16 06:38] dimti commented on #5288
These some similar gif-images:
https://cdn2.predelanet.ru/media/cache/images/c/e/5/6/2/c36145c7928a43e65a15aa99958c49228a8.gif
https://cdn2.predelanet.ru/media/cache/images/2/6/d/5/6/bc4284e5729f2f0895ea6d96adeed79a370.gif
https://cdn2.predelanet.ru/media/cache/images/3/2/5/9/5/796da9cedef83e8c1916ddb7fefd1ae5806.gif
https://cdn2.predelanet.ru/media/cache/images/c/a/0/1/8/f8eb6728a3bcdb608de791278

[2020-10-16 06:45] Brovtsin commented on #5316
And finally if dd(Backend::redirectIntended('backend')); in modules/backend/controllers/Auth.php

![image](https://user-images.githubusercontent.com/69000783/96222115-54f74600-0f94-11eb-8f6f-ca32a69c5997.png)

[2020-10-16 07:56] bhargavy commented on #5313
Updating via composer is throwing incompatible error

[code]
PHP Version 7.4.6

[2020-10-16 08:16] gergo85 commented on #5313
How to update the website to v1.1.0 from v1.0.469?

[2020-10-16 08:47] bennothommo commented on #5313
@bhargavy @gergo85 you'll need to copy the updated `composer.json` file from [here](https://github.com/octobercms/october/blob/develop/composer.json) and apply that to your project - making sure to bring across any additional requirements you may have for your project (within `require` or `require-dev`). You should then be able to run `composer update` and get the necessary updates.

[2020-10-16 08:48] SciCrea opened #5318 "Support directory naming in Unicode"
Hello, I propose to make the opportunity to name catalogs in Unicode. Now the pages placed in the catalog in Cyrillic do not appear. Supporting the name in Unicode will add convenience to the service of the site.

[2020-10-16 19:02] LukeTowers commented on #5313
@bhargavy sounds like your composer install or PHP CLI is running an older version of PHP than your web server.

[2020-10-16 19:03] LukeTowers commented on #5318
You're going to have to provide more information than that.

[2020-10-17 11:42] Brovtsin commented on #5316
I tried with fresh october cms  installation, and the same problem occurs.
It seems, that problem in plugin, I created. Because if I delete the folder with my plugin, I can login to backend. But before upgrade to build 469 it was working good.

[2020-10-17 14:01] Brovtsin commented on #5316
So, the error occurred because of this line of code in my Plugin boot method -
error_reporting(E_ALL & ~E_NOTICE);

[2020-10-17 15:17] summercms opened #5319 "Validation stack errors not passing to events in settings section"
I've noticed this over the years and to be honest, was a bit lazy to report it.

Basically add some regex validation rule to the models file and then pass an invalid regex combination through the rules validation.

October CMS then displays an error on the frontend web page.

BUT for some strange reason it never displays it in the backend event errors section?

This is a little bit of a pain in th

[2020-10-17 15:38] xitara commented on #5315
In the meantime you can take a look on my core-plugin, I use on nearly each october-projekt:

https://github.com/xitara/oc-plugin-core

there is a collapsable sidemenu for multiple plugins, seperate dashboard, custom-menus, sortable menus, optional icons and some more.
it's not perfekt but I think it can helps a lot on bigger projects

![Unbenannt](https://user-images.githubusercontent.com/2645776

[2020-10-17 17:49] PrestaSafe commented on #5315
I'll try it, but it looks like to do the things i want !
Thanks

[2020-10-17 21:36] LukeTowers commented on #5319
Please post the frontend code you use to trigger the error

[2020-10-18 11:00] SciCrea commented on #5318
When I add a folder with a name on Cyrillic in the Content theme folder it doesn't show up in the backend.
And if you add a file name to a cyrillic folder, there will be a bug:

`
File does not exist at path /themes/demo/content/content/welcome.htm
/vendor/laravel/framework/src/Illuminate/Filesystem/Filesystem.php line 41
`

Where, repeating the Content folder is a folder with a name in Cyrillic.

[2020-10-18 12:17] summercms commented on #5319
Will try and code a test plugin, to demo the error.

Have a question, how do we track `validation` errors in October? Right now they seem to not show up. I was thinking that it might be useful to create another section to track and monitor validation errors, something like this:

![image](https://user-images.githubusercontent.com/57409060/96367189-228c4b00-1144-11eb-8044-e1f352afcc39.png)

[2020-10-18 13:40] bennothommo commented on #5318
@SciCrea can you provide an example of a directory name which doesn't appear?

[2020-10-18 18:52] LukeTowers commented on #5319
Validation errors shouldn't be tracked, they're tools for informing the user that something they provided wasn't able to be processed by the system and how to fix it. Just like we explicitly do not log ApplicationExceptions, which are essentially just a way to manually trigger a validation error based on complex business logic.

I would say probably the real issue here is in how your code is handl

[2020-10-18 19:07] LukeTowers commented on #5318
What operating system are you using?

[2020-10-19 06:50] Brovtsin commented on #5316
Had to reopen the issue, because unfortunately , removing  my plugin didn't work for docker environment . It still redirects me to log in page.

[2020-10-19 06:55] #5316 closed, assigned to nobody

[2020-10-19 09:25] SciCrea commented on #5318
Linux

[2020-10-19 09:40] zigi05 opened #5320 "Twig function for `Form::number('name', 'value')` does not exist"
- OctoberCMS Build: 469

### Description:
The https://octobercms.com/docs/services/html states that

However, `{{ form_number('name', 'value') }}` for `Form::number('name', 'value')` facade method throws the following error:

[2020-10-19 10:07] bennothommo commented on #5320
@zigi05 The `Form` facade is linked to the [`October\Rain\Html\FormBuilder`](https://github.com/octobercms/library/blob/develop/src/Html/FormBuilder.php) class, which does not have a number method. You could instead use `form_input` and use `number` as the first attribute (ie. `{{ form_input('number', 'fieldName', 'fieldValue') }}`)

[2020-10-19 10:42] #5320 closed, assigned to nobody

[2020-10-19 11:24] summercms commented on #5319
Yah I think you're right, I need to invest deeper, thanks for the advise!

[2020-10-19 11:48] gergo85 commented on #5313
I did it and I got the following error message:

Warning: require(C:\xampp\htdocs\vendor\composer/../october/rain/src/Parse/Assetic/Less/lessc.inc.php): failed to open stream: No such file or directory in C:\xampp\htdocs\vendor\composer\autoload_real.php on line 66

Fatal error: require(): Failed opening required 'C:\xampp\htdocs\vendor\composer/../october/rain/src/Parse/Assetic/Less/lessc.inc.php

[2020-10-19 15:34] #5319 closed, assigned to nobody

[2020-10-19 15:35] LukeTowers commented on #5313
delete vendor, modules, & composer.lock, then run composer install using the proper version of PHP and the updated composer.json.

[2020-10-19 17:08] #5055 closed

[2020-10-20 08:15] gergo85 commented on #5313
I deleted the folders and run the run composer install. The vendor/autoload.php file not generated.

![error](https://user-images.githubusercontent.com/2959112/96559242-0f50bb00-12bd-11eb-9d3c-2784f42b4cee.jpg)

[2020-10-20 09:22] LukeTowers commented on #5313
if you're not using the tests folder then remove the require-dev dependencies and the references to the test cases from your composer file.

[2020-10-20 10:21] gergo85 commented on #5313
It works! Thank you very much!
How to update the database?

[2020-10-20 13:49] gergo85 commented on #5313
Unfortunately the issues are still there :(

[2020-10-20 15:30] LukeTowers commented on #5313
@bennothommo are you able to take a look at the original issue report with the register method failing?

[2020-10-20 15:32] mjauvin commented on #5058
@rwcorbett the way I read what @jaxwilko said was that the RESULTING css once compiled was **converted** to rgba(r, g, b, a), but he used rgba(#rgb, a) in the source scss file.

[2020-10-20 15:45] mjauvin commented on #5058
@rwcorbett For reference, I also tested this on 1.1 branch (Laravel 6) using the following:

file `assets/scss/test.css`:
[code]
I included this in my layout like below:
[code]
And in my broswer debug tool, I see the following:

![Screenshot from 2020-10-20 11-43-11](https://user-images.githubusercontent.com/2013630/96610321-7ffdd480-12c9-11eb-8c03-1e533c323d80.png)