[2020-02-25 07:41] panakour commented on #4082
I have already create a PR https://github.com/octobercms/october/pull/4423 from June

[2020-02-25 10:26] jacobdekeizer opened #4955 "Twig parse gives unknown partial error in laravel mailable"
- OctoberCMS Build: 464
- PHP Version: 7.4
- Database Engine: MySql

### Description:

Twig::parse() function gives an error in a mailable object.

[code]

### Steps To Reproduce:

1. Create a mailable

[code]
2. Send mail

[code]

### Temporary solution
Instead of Twig::parse() use this:

[code]

Edit: Probably the same issue as #4874

[2020-02-25 11:16] alxy commented on #4942
I also encoutered this bug. October overrides how mails are send, but do not change the pretend method accordingly. I started building a working MailFaker, which I have never really finished: https://gist.github.com/alxy/6e74d306be7bd0c9d1f134f34d547a44

here is how you would use a custom Mail faker:
[code]

[2020-02-25 12:43] xpectmore commented on #4621
i solve scrolling problems like this
 https://stackoverflow.com/a/57641938/5781320

[2020-02-25 18:36] multiwebinc commented on #4381
The Validator class still needs to be updated. When trying to validate using `lte` (added in Laravel 5.6), I get:

[2020-02-25 19:59] mjauvin commented on #4942
@alxy Would you be interested in completed this work? From what I can glance, you were very close.

[2020-02-25 20:03] mjauvin commented on #4082
Yes, but there should be a configuration setting to enable/disable with default being relative. @LukeTowers explained this in a comment above, see: https://github.com/octobercms/october/issues/4082#issuecomment-538716087

[2020-02-25 22:23] LukeTowers commented on #4381
@multiwebinc please add that as a comment on the PR

[2020-02-26 16:16] ayumi-cloud opened #4956 "Speedup bleeding edge updates releases"
The reason to open this issue up is because I would like to request a change in the way the October team handles `Milestones` in this repo.

I read a statement from daftspunk in Slack saying releases should be every 1-2 weeks.

If we look at the current `Milestone v1.0.465` see here: https://github.com/octobercms/october/milestone/12

It currently says the following info: `36 open and 28 closed`.

[2020-02-26 19:38] GinoPane commented on #4308
Hm, just wondering, is this issue also about the case when we have theme settings that cannot be translated?

For example, we could have "website_title" setting and currently it can get only one value (e.g. English). And we won't be able to translate it on the frontend (even using "|_", because dynamic labels are not picked up by the translator).

[2020-02-27 02:16] bennothommo commented on #4308
@GinoPane I believe this issue is just for the lack of translation support for the field labels and settings in the Theme Customisation form.

I would suggest not using settings for that - you can already use translation strings for that type of customisation.

[2020-02-27 03:54] bennothommo commented on #4956
@ayumi-cloud I'll let @LukeTowers and @daftspunk come to a decision on this one way or the other, however, I just wanted to add a couple of points:

- Irrespective of whether we continue the current release pattern or implement yours, the issue of testing (and the lack of testers) is still going to remain. That, I feel, is more critical than trying to speed up releases.
- The purpose of "bleeding

[2020-02-27 10:49] lautsevich commented on #4308
@GinoPane, nope. It's for the theme customization UI in the backend.

[2020-02-27 12:08] GinoPane commented on #4308
@bennothommo thanks for confirmation.

To be honest there are a few design flaws with it:

We don't have a general website settings tab in October. Those settings belong to the theme. And usually such stuff as website name, website author, description etc are put there. And if we are going to use basic translator capabilities via translator key, those settings become useless (because they are not

[2020-02-27 15:17] ayumi-cloud commented on #4956
@bennothommo interesting thanks for your extra info and input - we're going to try that instruction setup via composer so we can test and use the latest develop branch. That would definitely help us!

[2020-02-28 00:06] #4833 closed

[2020-02-28 05:58] daftspunk commented on #4833
You are welcome to submit a pull request to address this.

[2020-02-28 08:36] lautsevich commented on #4840
Up!

[2020-02-28 08:43] lautsevich commented on #4728
Up!

[2020-02-28 09:16] gergo85 commented on #4819
The 3 and 5 issues have still not been fixed.

[2020-02-28 11:41] ayumi-cloud opened #4959 "Promote October CMS and give the community a useful tool by adding the CMS to the Lighthouse tool"
@daftspunk @LukeTowers

Been thinking about this for a while and I contacted Google a few weeks ago. Today they sent me an update saying we can go ahead now.

What I'm talking about is called "Stack Packs" - you can learn more here: https://developers.google.com/web/updates/2019/01/lighthouse-platform-packs

Creating and adding a Lighthouse Stack pack gives the following two advantages:

1. Gives

[2020-02-28 17:08] LukeTowers commented on #4955
Duplicate of #4874

[2020-02-28 17:08] #4955 closed

[2020-02-28 17:29] ayumi-cloud commented on #4959
# How to Contribute

We'd love to accept your contributions to this project to improve how we provide stack-specific guidance in Lighthouse. Please read through the following before contributing however.

## Contributor License Agreement

Contributions to this project must be accompanied by a Contributor License
Agreement. You (or your employer) retain the copyright to your contribution;
this simp

[2020-02-29 12:52] GinoPane commented on #4308
Guys, please check out the PR ^^

[2020-03-02 06:47] chrisvidal commented on #4948
it is the latest version of Chrome apaprently

[2020-03-02 17:44] laurentbardin opened #4962 "Cannot install a theme through the command line when cms.databaseTemplates is enabled"
- OctoberCMS Build: 1.0.464 (also tested on the `develop` branch currently at aff120fcec390309e93eae8f195f253623a5ea12)
- PHP Version: `PHP 7.2.26 (cli) (built: Dec 21 2019 23:33:26) ( NTS )`
- Database Engine: MySQL
- Plugins Installed: October.Demo

### Description:
Installing a theme through the command line fails when the `databaseTemplates` setting is set to `true`.

### Steps To Reproduce:
1

[2020-03-03 08:48] gergo85 commented on #4819
The dotted border still appear.
![issue](https://user-images.githubusercontent.com/2959112/75758259-17f77f80-5d34-11ea-9446-3a5635446b31.PNG)

[2020-03-03 14:34] inaRQuokka opened #4963 "Package files from server are corrupt"
I just installed October, and got this problem. Can anyone help me?

![image](https://user-images.githubusercontent.com/61745625/75785608-faabcb00-5d9e-11ea-90fb-8f670dc228e1.png)

[2020-03-03 14:36] ayumi-cloud opened #4964 "Firefox styling error in v465"
Running some tests in several browsers with the latest update and come across this error in v465 in Firefox.

See screenshot:

![image](https://user-images.githubusercontent.com/57409060/75785548-d4b10700-5d5b-11ea-8b55-0d49526e0869.png)

When we adjust css and remove the following code lines:

[code]

Location: https://github.com/octobercms/october/blob/aff120fcec390309e93eae8f195f253623a5ea12/mo

[2020-03-04 09:50] bennothommo commented on #4776
@MaTToX3 can you please try the fix in #4967 and let us know if that fixes the issue for you?

[2020-03-04 13:36] tombien opened #4968 "Adding image in Froala adds full path to src"
- OctoberCMS Build: 464
- PHP Version: 7.1

### Description:
When I add Image in Froala editor, it add full path to src attribute (with protocol and domain).
It is important to add only relative paths (starting with /storage/...) not http(s)://domain.test/storage/...

### Steps To Reproduce:
Add Image in Froala editor and look at source.

I think, this bug is important to fix, because for now Froa

[2020-03-04 13:50] mjauvin commented on #4968
This is discussed in here:

https://github.com/octobercms/october/issues/4082

[2020-03-04 13:55] tombien commented on #4968
@mjauvin  thanks, sorry I miss this. But I feel this feature very unhandy, like others in discussion. Mainly because local development, testing domains development, changing protocols etc.

[2020-03-04 14:01] tombien commented on #4082
Hello, I miss this discussion, so I add this #4968
I am absolutely for keep relative paths in all content. For me, main reason is developing websites localy, put content with customer on local (or some dev domain) and after customer's review, checking bugs etc. deploy it to another (public) domain.

[2020-03-04 14:24] Hlusta commented on #4082
I'm for relative paths as well. Local development (eg. *.test domain) or moving website to another domain to name just few examples where absolute paths are useless.

My current client can't use domain without www within their local network => images failed to display when I made changes while logged in via https://example.com/backend instead of https://www.example.com/backend. That's how I came a

[2020-03-04 14:30] mjauvin commented on #4968
Totally agree with you!

[2020-03-04 17:27] ayumi-cloud opened #4969 "Remove the 'Show the stacktrace' button in event logs"
Please can the admins consider removing the `Show the stacktrace` button in event logs!

See this screenshot as an example:

![image](https://user-images.githubusercontent.com/57409060/75904740-ad316b80-5e3b-11ea-99d1-d126a6f9df93.png)

We try to look at the reason for doing this step and think it's maybe to safe guard mobile devices from loading a web page with a big height? Either way, it's tota

[2020-03-04 17:46] LukeTowers commented on #4969
Feel free to submit a PR that we can review.

[2020-03-04 20:05] LukeTowers commented on #4968
Closing as a duplicate of #4082. I do agree this is something that should be fixed though.

[2020-03-04 20:05] #4968 closed

[2020-03-04 20:52] LukeTowers commented on #4959
@ayumi-cloud since you seem to work with Google a fair amount and probably already have a CLA with them, would you be willing to put together the code for it and post it here for our review and then submit the PR yourself?

[2020-03-04 21:02] ayumi-cloud commented on #4959
@LukeTowers I don't mind doing that for you - I will it it to my to-do list.

I was thinking of creating a spreadsheet with the various messages and sending it to you in Slack for review. If you happy with that I will start trying to do the research in the coming days (when I'm free) and try to find plugins and libraries (**_that are properly maintained_** to link into the descriptions).

[2020-03-04 21:36] LukeTowers commented on #4959
@ayumi-cloud thanks!

Probably no need for a spreadsheet, just the JSON in a comment on this issue should be good enough.

[2020-03-04 22:35] LukeTowers commented on #3010
@bennothommo this might be nice to have in the core. @mjauvin or @daftspunk do you remember what we decided about switching to that Sortable JS library? Played around with it again just now and it seems pretty sweet.

[2020-03-05 00:03] bennothommo commented on #3010
@LukeTowers agreed. I'd be happy to tackle it after the dust settles with L6.

[2020-03-05 00:06] bennothommo commented on #3010
The only issue that would need to be considered is how to re-order records over multiple pages - would you need to disable pagination when re-ordering is enabled?

[2020-03-05 06:34] mjauvin commented on #3010
@LukeTowers didn't pursue this since @daftspunk fixed the issue we had with the current library on mobile.

[2020-03-05 08:38] bennothommo commented on #4776
Fixed by #4967.

[2020-03-05 08:38] #4776 closed

[2020-03-05 08:46] Eoler commented on #3010
Great! Take a look how @tobias-kuendig did it in OFFLINE plugins:
https://github.com/OFFLINE-GmbH/oc-mall-plugin/blob/develop/controllers/Categories.php

[2020-03-05 09:01] bennothommo commented on #4761
Marking this as on hold for now. I have attempted to do this via GitHub Actions, however, GitHub Actions does not allow you to do any "write" operations in an Action that is run by a PR from another repo - ie. nearly all of our PRs. This is the same reason that our "wrong branch" action does not work.

I will attempt to find another way to handle this.

[2020-03-07 09:58] Blinks44 commented on #4623
I have this problem to. Ubuntu 18.04, nginx, php 7.2, first cyrillic word always disappear in media manager...

[2020-03-08 20:41] Samuell1 commented on #4624
@mahony0 @LukeTowers Looks like there will be in core of laravel new Http library thats uses Guzzle as base https://laravel-news.com/zttp-is-coming-to-laravel-7

[2020-03-08 21:04] daftspunk commented on #4969
This is by design, sorry. For non-technical users they only need to be concerned with the error. It helps when instructing clients to read the logs and it focuses their attention on the right place. We went out of our way to build this button for this reason

[2020-03-08 21:04] #4969 closed

[2020-03-09 10:04] robinbonnes commented on #4678
One of our clients is requesting the feature to select a daterange (filter) with 1 datepicker (drag from start date to end date or hold shift). This isn't supported by Pickaday. Is there a way we can add our own filter widgets to support this?

[2020-03-09 10:54] ayumi-cloud commented on #4969
@daftspunk would it be ok to have an option in one of the `config` files, to turn this feature `on/off` for **advanced** users?

[2020-03-10 00:44] bennothommo commented on #4969
@ayumi-cloud as a suggestion, you can make a plugin that removes the button and shows the stacktrace by default.

[2020-03-10 00:47] bennothommo commented on #4678
@robinbonnes While you cannot swap Pikaday with another library in the in-built datepicker widget, you can [create your own](https://octobercms.com/docs/backend/widgets#form-widgets) form widget which may use another library, if you wish.

[2020-03-10 09:08] LukeTowers commented on #4624
@Samuell1 interesting, so we should see that in October in another three years then 😂

[2020-03-10 09:22] robinbonnes commented on #4678
@bennothommo I know how to create a formwidget, however can I use it as a filter widget too?

[2020-03-10 09:25] bennothommo commented on #4678
@robinbonnes Good question - I don't think so. I think the available filters are hard-coded into the `Backend\Widgets\Filter` class currently.

[2020-03-10 09:32] LukeTowers commented on #4678
@robinbonnes you could probably take over the frontend display / interactions of those datepickers purely through JS, since the actual data being sent to the server would still be the same for the filter widget.

[2020-03-10 17:25] Samuell1 commented on #4624
@LukeTowers maybe yes 😄 but i think there is little changes between 6 and 7 then you can simply just update it and use that new lib

[2020-03-11 00:06] Flynsarmy opened #4975 "Scoreboard truncates with too many items"
- OctoberCMS Build: ### 464
- PHP Version: 7.4.2

### Description:
When adding too many items to a scoreboard, the fourth item is pushed up against the elements below and fifth and onwards are truncated and hidden all together:
![Screen Shot 2020-03-11 at 9 44 37 am](https://user-images.githubusercontent.com/334808/76369063-fde61e80-637d-11ea-9bd0-108ed0bfdb63.png)

### Steps To Reproduce:
Add the

[2020-03-11 00:07] #4925 closed

[2020-03-11 03:03] bennothommo commented on #4975
@Flynsarmy looking at all the examples in the docs, I think it was intended to only be used for a small number of items, but nonetheless, I agree it should be flexible. Please feel free to submit a PR if you are interested in fixing it.

[2020-03-11 10:42] GinoPane opened #4976 "Component aliases validation"
Hi!

Are there any particular reasons why component aliases cannot have dashes inside?

![image](https://user-images.githubusercontent.com/3897579/76408132-646e3b00-6384-11ea-9cc0-388cebf2d543.png)

Dashes could be used to separate parts of the string along with underscores when one is used for logical separation and another one as white space substitution.

**Proposal**

Allow dashes inside alias

[2020-03-11 14:25] lautsevich commented on #4308
Done!

[2020-03-11 21:06] robinbonnes commented on #4678
Tried to handle it manually, but its pretty complex (highlighting dates when moving the mouse over etc.).
[code]

I'm gonna try to destroy the datepicker and add my own to the date field. Will let know if it works.

[2020-03-12 03:19] #4749 closed

[2020-03-12 03:20] bennothommo commented on #4963
@inaRQuokka are the package files still being reported as corrupt?

[2020-03-12 09:07] najbo opened #4979 "Database connection lost after running command php artisan october:env if mysql password has quotes in database.php file"
- OctoberCMS Build: 464
- PHP Version:  7.2.24
- Database Engine: mysql (InnoDB)
- Plugins Installed: october.demo-v1.0.1

### Description:
Hello,

I get a mysql connection error after running command php artisan october:env ; everything worked fine before. I realized it was because I used a quote caracter (" or ') in the password. Password was correctly written in file config/database.php but quo

[2020-03-12 19:02] GinoPane opened #4980 "Tree view does not work for deep nesting levels"
- OctoberCMS Build: 465
- PHP Version: 7.2.4
- Database Engine: SQLite

### Description:
It looks like list tree view does not work for nesting levels deeper than 3. Here's the gif:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3897579/76557563-dd68b200-64ac-11ea-8549-14619328eb4a.gif)

Catefory 6 is a parent for Category 5, so it is expected to see that category there:

![i

[2020-03-13 00:56] bennothommo commented on #4980
@GinoPane There must be something else at work here - I cannot replicate the issue.

![Screenshot_2020-03-13 https 6bbcbba428dc octodock com(1)](https://user-images.githubusercontent.com/15900351/76579768-6234e980-6508-11ea-948e-77d93e1df96c.png)
![Screenshot_2020-03-13 https 6bbcbba428dc octodock com](https://user-images.githubusercontent.com/15900351/76579775-63fead00-6508-11ea-943a-a408c9a4591b

[2020-03-13 06:39] GinoPane commented on #4980
Ok, I'll play around with it

[2020-03-13 07:07] Eoler commented on #4980
Maybe its SQLite? It works flawlessly with MariaDB.

[2020-03-13 07:15] GinoPane commented on #4980
@Eoler yep, I think about it too, because the issue persists with cookies cleared and no JS errors:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3897579/76598243-62c68380-64fa-11ea-8912-9870a1198cd2.gif)

Will dig into it.

[2020-03-13 08:08] GinoPane commented on #4980
@bennothommo @Eoler wow, it turned out the reason was in session driver.

I used file-based sessions for this setup and `framework/sessions` directory was missing, so sessions were not actually stored. When I switched to a cookie-based setup or created `sessions` directory for file sessions everything worked as expected.

[2020-03-13 08:08] #4980 closed

[2020-03-13 08:14] bennothommo commented on #4980
@GinoPane thanks for letting us know. Curious as to how you remained logged in to the Backend though? :P

[2020-03-13 09:36] GinoPane commented on #4980
![image](https://user-images.githubusercontent.com/3897579/76608799-2ac93b80-650e-11ea-8ff1-80ebdb0dd846.png)

[2020-03-13 10:11] lautsevich commented on #4872
Up! =)

[2020-03-13 10:54] hackolein opened #4981 "Defer a relation unbinding"
In the doc [Defer a relation unbinding](https://octobercms.com/docs/database/relations#defer-unbinding) is written, that there is a method called delete with deffered binding.  But this doesn't work, the item will delete directly and I can't find the method in

Is that a bug in the code or a doc issue?

[2020-03-14 14:42] bugzbrown commented on #4979
I've confirmed that this is in fact a bug and created a pull request that addresses this issue:

https://github.com/octobercms/october/pull/4983

Hope it gets accepted :)

[2020-03-14 14:53] bennothommo commented on #4976
@GinoPane I assume it has something to do with the INI-style formatting of the configuration at the top of a CMS object, but truth be told, I'm not sure. Perhaps @LukeTowers or @daftspunk might know the reason.

[2020-03-15 07:07] Kirutian opened #4985 "Unable to create new layout templates."
Anyone have a quick fix for not being able to edit or create new page templates ?

I get the following error:

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>403 Forbidden</title>
</head><body>
<h1>Forbidden</h1>
<p>You don't have permission to access /backend/cms
on this server.<br />
</p>
</body></html>

[2020-03-15 09:08] LukeTowers commented on #4985
Sounds like permission issues with your server.

[2020-03-15 09:15] LukeTowers commented on #4979
@bennothommo we also need to make sure that the october:env command is surrounding all env values with quotes, or at the very least any with a # character in it.

[2020-03-15 09:22] bennothommo commented on #4979
@LukeTowers I'll have to run some tests, because I believe a quote in the middle of a string is invalid as well if it's not escaped - I presume this is why it was opted to just remove them completely.

[2020-03-15 09:45] najbo commented on #4979
Thanks a lot !

[2020-03-15 16:52] ayumi-cloud commented on #4607
![image](https://user-images.githubusercontent.com/57409060/76706100-ffe11200-66dc-11ea-93eb-f450fedb2868.png)

That's a bit childish, trolling ! Sad that even admins clicked Like (should know better!)

---

drmzio we been working hard on October II and some info can be found here: https://github.com/ayumi-cloud/oc-security-module

Most of the code work is in several private repo's and being heavi

[2020-03-16 07:47] lautsevich commented on #4708
UP

[2020-03-16 14:40] bennothommo commented on #4979
@najbo I'm going to re-open this as it is a confirmed bug and I'm working on a unit test and possible fix (if @bugzbrown is unable to complete their fix).

[2020-03-16 14:46] najbo commented on #4979
Okay perfect, thanks a lot

[2020-03-17 02:27] prhost commented on #4956
I would like to comment if you allow me, I believe that testing at the same time is necessary, there is a delay problem and people to test, but releasing something in beta for people to test, where there may be places that contain problems and no one will test, what would be the parameter of this? the time? I mean, for any adjustment to go from beta to stable without anyone testing, who would cont

[2020-03-17 12:03] ayumi-cloud commented on #4956
@prhost thanks for your input.

I'm just going to write a comment, to be a bit clearer of what I was trying to raise.

I was thinking the following:

1. Websites in `production` mode should use `stable` releases and not `bleeding edge` updates.

2. Websites in `development` mode can use `bleeding edge` updates and be willing to beta test bleeding edge updates.

No `production` website should ever

[2020-03-17 22:40] setianke commented on #3124
What about changing line 1533 and 1540 in /modules/backend/widgets/MediaManager.php

`$fileName = $fileNameClean . '.' . $extension;`

to

`$fileName = $fileNameClean.date('YmdHi').'.'.$extension;`

Would be an easy fix and preventing files to be overwritten or is the file being overwritten the desired behavior?

[2020-03-18 00:07] #4939 closed

[2020-03-18 00:07] #4821 closed

[2020-03-18 01:43] prhost commented on #4956
Yes `production` only `stable versions`, but if there is no one to review it can happen to changes from `bleeding edge` to `stable` without having the necessary amount of tests.

Not everyone has good quality in their PRs and they test before sending. Anyway, we need moderation, or the idea of requiring at least one unit test as a complement to that PR. It would be good for CI/CD, but it would gen

[2020-03-18 01:52] ayumi-cloud commented on #4956
Sounds good.

[2020-03-18 01:53] bennothommo commented on #4956
@ayumi-cloud

Just on this point, we only put Testing Needed on PRs that we have not yet tested ourselves and are asking for community effort in testing. If we ourselves test something and confirm it working, it generally gets merged immediately.

[2020-03-18 02:17] ayumi-cloud commented on #4956
@bennothommo thanks for clarification, I didn't realise that.

---

Was just looking at:

[code]

Maybe could update the description to warn people not to use `bleeding edge updates` in `production` mode (sometimes it best to state the obvious).

[2020-03-18 06:29] LukeTowers commented on #4956
@ayumi-cloud the problem really comes down to what we actually use `edgeUpdates` for. We are of the opinion that `develop` is the bleeding edge, and *any* build that gets released (pending or otherwise) should be as stable as possible. The purpose of `edgeUpdates` is actually to have our better equipped users be the last line of defence against any issues that could possibly be found in production

[2020-03-18 06:54] LukeTowers commented on #3124
@setianke the problem in my eyes is the current behaviour not giving the user the choice. I personally don't like including the upload date in the filename, so I would prefer that users on uploading a duplicate file were presented with the option to either cancel, replace, or keep both (in which case a (1), (2), etc) gets added to the latest upload's filename.

[2020-03-18 14:14] ayumi-cloud commented on #4956
@LukeTowers I'm on a agree to disagree with your comment. Yah I get what you saying and agree with it. But you only need to open the pull request section and see there is a real issue with testing and a `blockage` going on!

![image](https://user-images.githubusercontent.com/57409060/76969106-da911580-6921-11ea-8cee-48852d8723da.png)

See screenshot, loads of pr's with the `Testing Needed` labels

[2020-03-18 16:36] setianke commented on #3124
@LukeTowers agreed, imo an option in the Settings enabling the automatic date in filename on/off or show warning with cancel/replace/keep both would be a good solution (just my 2cents)

[2020-03-18 20:00] prhost commented on #4956
There is level 3, it is exactly you to fork from october and work on the branch dev. I believe the `Testing Needed` flag is to say that a review is necessary, that is, a test. This is also common, no one approves a PR without first looking. Now what can be done besides the unit test? That also requires greater knowledge of who is going to do PR, and that can be a problem. You need to reduce the se

[2020-03-18 20:10] ayumi-cloud commented on #4956
@prhost thanks for throwing out some ideas - much appreciated.

[2020-03-19 00:05] #4760 closed

[2020-03-19 02:44] LukeTowers commented on #4956
@ayumi-cloud

This is exactly what the Paid Support program is designed to solve. https://octobercms.com/premium-support

If there are PRs that your company needs to be running in production and needs them to be reviewed by the core team, then they should pay for the core team's attention to those issues. No amount of changing how we issue releases is going to change the facts of how much time any

[2020-03-19 12:09] ayumi-cloud commented on #4956
Yah very good point, going to pass your comment to my office managers to read! Though our managers announced any business changes will be done after covid-19 has finished.

[2020-03-19 15:39] srsgores opened #4993 "Document data attribute API Usage"
The [current documentation for the data attributes API](https://octobercms.com/docs/ajax/attributes-api) currently lacks any description of the expected back-end API for submitting forms.

Currently, AJAX submission is achieved via jQuery, leaving theme vendors who choose not to include the library out of many plugins and back-end components.  The `request` implementation [heavily depends on jQuer

[2020-03-19 15:54] LukeTowers commented on #4993
@srsgores while it's unlikely that we'll move away from jQuery, that is just one implementation of the AJAX framework. I've heard from a few different people that don't like jQuery for one reason or another that they'd like to know how to use the AJAX framework without it. Right now I'd say that the easiest way of achieving that would be to read framework.js and the code in Backend\Classes\Control

[2020-03-19 22:02] srsgores commented on #4993
@LukeTowers, even after reading the file, the endpoints are unclear.  If you could, at the very least, comment on the following:

1. Endpoint URL format for a plugin (for example, the corresponding endpoint for a controller with an `onSubmit` function)
2. Minimum expected data to send data via `POST` and the format expected

Finally, is there a reason why the current implementation isn't backwards

[2020-03-19 23:51] icanall10 commented on #202
return $this
                ->controller
                ->setStatusCode(404)
                ->run(404);

[2020-03-20 03:03] Mitchbird opened #4994 "Base Table or View not found"
I created my project locally using Xaamp and after hosting the website I had some problems with connecting to the database. Whenever I pull up the website I get a notification saying "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'October.system_settings' doesn't exist (SQL: select * from `system_settings` where `item` = system_log_settings limit 1)". I've been trying to fix this for a

[2020-03-20 16:27] Ladylain commented on #4903
Hello there,

is there any infos about this fix ?

Thx

[2020-03-20 16:48] mjauvin commented on #4903
@Ladylain look at the source code, that explains why this is not working:

   `modules/backend/formwidgets/richeditor/assets/js/richeditor.js`

When something is defined in settings it gets assigned to `this.options.toolbarButtons`  through the widget's markup.

[2020-03-20 17:17] mjauvin commented on #4903
maybe extending this in your plugin:
[code]

That is a pure guess...

[2020-03-20 19:22] LukeTowers commented on #4994
Looks like you haven't transferred the database over or updated the database connection settings in config/database.php

[2020-03-20 19:32] LukeTowers commented on #4993
@srsgores The AJAX handling code is active on any URL handled by the Cms\Classes\Controller or Backend\Classes\Controller classes, so pretty much any normal route within October. All the serverside code expects at the most basic is an `X-OCTOBER-REQUEST-HANDLER` header with the name of the handler being called, and any data to be submitted in the request body. There are a few other headers that yo

[2020-03-21 18:55] ayumi-cloud opened #4995 "SameSite not working in various places"
Running latest October version: 465

We notice some strange results in `SameSite` with October:

1. Through http `via` proxy method the cms allows all cookie attacks by turning off it's protection in Google Chrome.

More info: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via

2. Firefox dashboard, see screenshot:

![firefox](https://user-images.githubusercontent.com/57409060/77234312-

[2020-03-21 23:30] srsgores commented on #4993
Just so others don't have to load up a separate instance, let's go through an example:

If I have a plugin in the directory `plugins\vimirlab\newsletter` and a controller in the path `plugins\vimirlab\newsletter\controllers\Subscribers.php` that has a `public` function, what would the URL look like?

I had tried `backend/plugins/vimirlab/newsletter/controllers/Subscribers` to no avail.

[2020-03-22 00:05] #4592 closed

[2020-03-22 00:07] Flynsarmy commented on #4946
Ping

[2020-03-22 06:32] #4946 closed

[2020-03-22 06:39] LukeTowers commented on #4993
@srsgores ah, you're asking about backend routing. The answer is in our documentation: https://octobercms.com/docs/backend/controllers-ajax#actions-views-routing.

`backend/[author name]/[plugin name]/[controller name]/[action name]`

So given your example the route would be `backend/vimirlab/newsletter/subscribers/nameofpublicmethod`

[2020-03-23 01:15] #4981 closed

[2020-03-23 01:15] bennothommo commented on #4981
@hackolein The issue is the method should be `remove`, not `delete`. I've resolved this in the docs.

[2020-03-23 06:22] yfktn opened #4996 "dependsOn isn't triggered on relationManager create and update pivot table with ManyToMany Relationship"
- OctoberCMS Build: ### 464
- PHP Version: PHP 7.1.3
- Database Engine: MariaDB
- Plugins Installed: General

### Description:
When I create or update value of pivot table with many to many relationManager, existing fields that depends on the value doesn't updated because filterFields() doesn't called.

### Steps To Reproduce:
Suppose field:
[code]

I fix it in **modules\backend\behaviors\relation

[2020-03-25 01:33] Flynsarmy commented on #4952
Ping

[2020-03-25 03:32] LukeTowers commented on #4938
Again:

This is a complex case.

In order to aid in our understanding / replication of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2020-03-25 04:19] pavelmgn commented on #4938
hi, i will do this week

[2020-03-25 08:11] florianstancioiu opened #4999 "Make the OctoberCMS codebase PSR-2 compatible"
OctoberCMS seems to mostly use the [PSR-2 coding standard](https://www.php-fig.org/psr/psr-2/), but the `namespace` keyword is positioned incorrectly in every single class file. Please make the code base PSR-2 compatible, this will enforce a sensible standard on everyone coding on OctoberCMS. PSR-2 is the defacto coding style standard for PHP and it makes a lot of sense to use it.

The enforcement

[2020-03-25 08:20] bennothommo commented on #4999
@florianstancioiu Thank you for reporting this, however, October CMS is compliant with the PSR-2 guidelines. The PSR-2 guidelines make no mention of any requirement of placement of a `namespace` declaration, only that an empty line is placed after it. See the [following section](https://www.php-fig.org/psr/psr-2/#3-namespace-and-use-declarations) of the PSR-2 guidelines:

[code]

You'll also note

[2020-03-25 08:20] #4999 closed

[2020-03-25 08:37] florianstancioiu commented on #4999
The examples of neither [PSR-2](https://www.php-fig.org/psr/psr-2/#11-example) nor [PSR-12](https://www.php-fig.org/psr/psr-12/#example) shows the code being exactly like you guys write it.

The PSR-2 documentation doesn't mention the starting tag: `<?php` should be alone on its line, but [the example shows just that](https://www.php-fig.org/psr/psr-2/#11-example).

In PSR-12, [they mention that e

[2020-03-25 14:55] LukeTowers commented on #4999
@florianstancioiu then what you really are asking for is strict adherence to PSR-12.

We're not going to change this. We are currently matching the PSR-2 standard which does not define where the namespace statement is put, and I personally think having it on the same line is the cleanest look and can't stand the separate line.

Unless you can demonstrate a tangible benefit from changing it then we

[2020-03-25 15:29] bennothommo commented on #4999
@florianstancioiu please consider the following pseudo-code before making a big deal about this:

[code]

[2020-03-25 15:30] florianstancioiu commented on #4999
@LukeTowers The reason why I'm asking for this is because I'm used to the way Laravel classes are written, that's why I'm using this CMS in the first place. Whenever I create a new file using the built-in artisan tools, my OCD kicks in and I add a new line to each class and this ain't the kind of thing I should waste my time on. Updating the code to Laravel's form of PSR-2 will make for a better e

[2020-03-25 17:17] LukeTowers commented on #4999
@florianstancioiu changing this does not make the code future proof, all it does is make devs coming straight from Laravel very slightly more at home with the coding style. We optimize for the October developer experience, not Laravel's.

We're always willing to do things that would make it a nicer experience for Laravel devs but not at the expense of October devs. Should you become very involved

[2020-03-25 19:59] ayumi-cloud commented on #4995
[update] We have spoken to both the Mozilla and Chrome team and done a lot of testing and the issue is with October CMS!

The SameSite is not working correctly.

[2020-03-26 00:05] #4768 closed

[2020-03-26 00:05] #2833 closed

[2020-03-26 15:40] #4979 closed

[2020-03-26 15:55] bennothommo commented on #4963
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-03-26 15:55] #4963 closed

[2020-03-27 06:35] multiwebinc opened #5007 "jakub-onderka/php-parallel-lint is abandoned"
When doing a `composer update`, I get the following message

[2020-03-27 06:49] #5007 closed

[2020-03-27 06:49] bennothommo commented on #5007
Thanks for letting us know @multiwebinc.

[2020-03-27 13:00] pavelmgn commented on #4938
[Commit](https://github.com/octoberrain/test-plugin/pull/85/commits/97e76c3297b93a1ff462a51a7df66b960a6bea7a)
[PR](https://github.com/octoberrain/test-plugin/pull/85#issue-394737462)

[2020-03-27 13:09] florianstancioiu opened #5009 "The Algolia powered search is inactive in certain conditions"
# What happens:

The Algolia powered search is inactive in certain conditions.
There is no response from the search at all, no results are being shown in the custom search dropdown.

# When it happens:

This happens when I have multiple documentation tabs open at the same time, I switch to a different website for a while and I spend some time there (5+ minutes but not tested) and when I come back,

[2020-03-29 00:05] #4951 closed

[2020-03-29 16:01] LukeTowers commented on #2831
@daftspunk this is the latest update:

[code]

This was obtained by installing a new copy of October via composer, switching it to L6 branches, running `composer update --no-dev`, and then using the following code in Tinkerwell:

[code]

[2020-03-29 21:02] michaeI commented on #3305
Thats a bummer, the bug still presists, I have added  "i" tag to allowed list of empty tags but still is getting removed ... the workaround to it is to use &nbsp; but it will break the alignment of your icon...
Btw. what is the point of removing empty tags? is this kind of safety procedure? ;-)

[2020-03-30 01:37] bennothommo commented on #2831
@daftspunk A list of Illuminate libraries to replace too:

[code]

Could we also get the following ignored by the Marketplace build as well:

[code]

[2020-03-30 01:50] bennothommo commented on #3305
@michaeI I believe Froala strips them because it assumes it cannot visually present empty tags (for example, a `<strong></strong>` tag with no content shows nothing on screen).

[2020-03-30 23:07] az-vm opened #5016 "Can´t login on Backend´s - Page Loops on Login"
Hello,

I have october installed and working for long time,  but today i want to login on backend, and just can´t, i enter the credentials, and the page simple loops, no error show, nothing...

Any one have this issue ?

Thank you,
Vitor

[2020-03-30 23:17] daftspunk commented on #5016
Check this config, set it to `false` and try again

[code]

[2020-03-30 23:22] az-vm commented on #5016
Hello!

Thank you daftspunk, i have change as you told, but got the same problem.

Thank you!

[2020-03-31 00:08] #3595 closed

[2020-03-31 00:49] az-vm commented on #5016
I have moved all the content to another host, and it worked fine.

On this particular host, i try to do a fresh install, and i got this error:

Zend OPcache API is restricted by "restrict_api" configuration directive

Could this tell something ?

Thank you!

[2020-03-31 00:58] az-vm commented on #5016
Host PHP info:

https://phpfpm-72.cloudweb-infos.hosting.ovh.net/

[2020-03-31 06:13] LukeTowers commented on #5016
@az-vm set `forceBytecodeInvalidation` to false in `config/cms.php`

[2020-03-31 07:07] #4845 closed

[2020-03-31 07:35] #4868 closed

[2020-03-31 07:37] LukeTowers commented on #4880
@bennothommo could you update the docs as above so we can close this issue for 466?

[2020-03-31 08:29] LukeTowers commented on #4947
@Flynsarmy is this still an issue?

[2020-03-31 08:30] LukeTowers commented on #4948
@daftspunk can you look into this since you use Windows?

[2020-03-31 08:40] chrisvidal commented on #4948
I found the origin of this bug.
It is coming from a Corporate Security browser extension called Menlo Security Isolation Platform - it has a web-form input restriction function.

We can close this I guess.

[2020-03-31 09:36] danielbidala commented on #4975
I suggest to use something like simple-scrollbar.js [https://github.com/buzinas/simple-scrollbar](https://github.com/buzinas/simple-scrollbar). "Very simple and lightweight vanilla javascript library for creating a custom scrollbar cross-browser."

I use it like this:
![Megrendelések _ Bright CRM-simple-scrollbar](https://user-images.githubusercontent.com/16636699/78011324-baab1a00-7343-11ea-9b38-

[2020-03-31 10:10] az-vm commented on #5016
Thank you @LukeTowers for the comment.

As you told, i try it, but the same... login loop... it does not enter admin...

Thank you,

[2020-03-31 10:38] az-vm commented on #5016
The issue was detected.

On the host i facing this issue, i try to do some tests:

- SQL Source;

On OVH they have local and "Private-SQL", in this issue the sites was using the "Private-SQL", and i upload the SQL data to the "Local" SQL, and it worked.

At this moment i have detected were the issue is coming...

So this is not a problem of OctoberCMS, it´s a Hosting issue, so it´s closed.

Thank

[2020-03-31 10:41] az-vm commented on #5016
Just to people know:

- The SQL ->  autocommit, Commit, and Rollback, was turned OFF, turining it ON, all worked normal, and login worked normal.

Thank you

[2020-03-31 10:41] #5016 closed

[2020-03-31 10:45] LukeTowers commented on #4948
Perfect, thanks very much @chrisvidal! FYI, just working on the CSV injection report right now, fix should be available in build 466

[2020-03-31 10:45] #4948 closed

[2020-03-31 10:58] bennothommo commented on #4880
@LukeTowers already done :) - https://github.com/octobercms/docs/commit/252f2bfdba2321738b07f25b91e1159fa4daf8bf#diff-3253ac7e6278d278efcecb4cf1619b35

[2020-03-31 11:00] bennothommo commented on #4975
@danielbidala Looks good - did you want to have a crack at a PR that implements that?

[2020-03-31 11:01] bennothommo commented on #4975
Realistically, I think you can just use pure CSS with `overflow: auto`.

[2020-03-31 11:21] chrisvidal commented on #4948
thanks @LukeTowers
and I am still "working" on a blog post on the security matter.
The PT agency just came back with their latest findings...I was waiting for them...and they didn't find anything new hehe

[2020-03-31 12:15] Flynsarmy commented on #4947
Still broken on latest dev build.

[2020-03-31 17:48] LukeTowers commented on #4975
@bennothommo is correct, this should be achievable with pure CSS. We won't be accepting a PR that adds any extra JS dependencies for this.

[2020-03-31 17:48] LukeTowers commented on #4880
Excellent @bennothommo, thanks!

[2020-03-31 17:48] #4880 closed

[2020-03-31 17:50] LukeTowers commented on #4948
Sounds good @chrisvidal. There will be a few security advisories published shortly for Build 466, perhaps you want to share them with your agency since they didn't seem to detect them the first time around.

[2020-03-31 18:01] danielbidala commented on #4975
@bennothommo, yes we can use pure css but the browser's built in scrollbars looks ugly (at least for me) when used for things like this.
@LukeTowers I understand that there is no need to add another dependency to core. Anyone can implement Simple-scrollbar.js or any other scroll library for a plugin in no time if needed.

[2020-03-31 20:24] LukeTowers commented on #4975
Personally I don't think it should be scrolled at all, I think it should just take up more vertical space.

[2020-03-31 22:31] LukeTowers commented on #4819
@daftspunk see https://github.com/octobercms/october/pull/4895 & https://github.com/octobercms/october/pull/4965. Your call what you want to do with the focus styles. I've heard a number of complaints about the recent change in #4895 so reverting that and revisiting the original issue is probably the best course of action.

[2020-03-31 22:37] LukeTowers commented on #4887
@hackolein can you test out #5017 and let me know if that fixes the issue for you?

[2020-03-31 22:38] LukeTowers commented on #4947
What are your thoughts on this @daftspunk? Is this intentional or should we push a fix to make the behaviour consistent?

[2020-03-31 22:39] LukeTowers commented on #4082
Could you provide your thoughts on this @daftspunk? I'm fine implementing it at a later date, just curious for your thoughts on the matter.

[2020-03-31 23:24] SaifurRahmanMohsin commented on #2106
@daftspunk @LukeTowers Why use a different Exception class when you already have a custom [AuthException class](https://github.com/octobercms/library/blob/develop/src/Auth/AuthException.php)?

Wouldn't it be more effective to have an enum inside it with login_attribute_missing, credential_mismatch, invalid_login, password_required, user_not_activated and then a parameter bag or just a class field

[2020-04-01 00:58] bennothommo commented on #3054
Fixed by https://github.com/octobercms/october/pull/4986.

[2020-04-01 00:58] #3054 closed

[2020-04-01 07:08] chrisvidal opened #5019 "List Controller Filter with nestedtree model is not working"
- OctoberCMS Build: #465
- PHP Version: 7.3

### Description:

In a list controller, I have a filter setup

[code]

the model `Capacity` is using a `nestedtree` trait.

in the backend list, I can't seem to be able to filter by capacity.

The `Apply` and `Clear` button appears randomly.
So far I didn't find the conditions of appearance of the `apply` button.

[2020-04-01 08:41] bennothommo commented on #4975
@Flynsarmy Mobile doesn't show scrollbars by default (unless you use `overflow: scroll`) - they generally only appear when someone actually scrolls.

@danielbidala scrollbars may look ugly (especially in such a small location), but they do give a visual indicator that something is scrollable. I am, however, leaning towards @LukeTowers' opinion of just making it just extend vertically without scrol

[2020-04-01 09:42] hackolein commented on #4887
Yes, works as expected. Thank you!

[2020-04-01 10:12] #4887 closed

[2020-04-01 13:23] dhcmega commented on #4636
Hi @maartenmachiels
Have you found a solution for this problem?
Thanks!

[2020-04-01 13:28] maartenmachiels commented on #4636
Hi @dhcmega , unfortunately I've never found the answer. I talked it over with our hosting provider, but it has been put off... Are you experiencing the same issue?

[2020-04-01 13:33] dhcmega commented on #4636
Hi, yes, thanks for getting back to me.
In my case, it works ok for web requests, but I have that exact error for api requests, mystery...

This is how I test it in case you ever need it. There are 3 commands `new`, `connect` and `get`. Despite of the getOption() error, it works ok.

[code]

[2020-04-01 14:51] faselunare opened #5020 "empty Jsonable fields save data in the database"
- OctoberCMS Build: 465
- PHP Version: PHP 7.1.14
- Database Engine: mysql  Ver 15.1 Distrib 10.3.22-MariaDB

### Description:
I'm developing a custom plugin and i found a possible bug referenced by another usere here in the forum

https://octobercms.com/forum/post/jsonable-repeater-fields-saving-empty-arrays?page=1#post-30651

Empty jsonable fields save in database an empty array ([])
and if you

[2020-04-01 15:53] Samuell1 commented on #3887
@LukeTowers Its there a way to change that in installer? Getting same error from it in installation process.

[code]

[2020-04-01 22:44] LukeTowers commented on #4775
@bennothommo are you able to look into this?

[2020-04-01 22:54] LukeTowers commented on #3887
@Samuell1 you could use a different way of installing October

[2020-04-01 22:56] LukeTowers commented on #5020
@faselunare I'm not so sure that's a bug, it seems like your richeditor isn't actually empty, it has a newline character in it. Try using the code view on it to make sure you've removed every single character.

[2020-04-01 23:03] LukeTowers commented on #4393
Now resolved in the L6 upgrade of October as we bring in Assetic directly.

[2020-04-01 23:04] LukeTowers commented on #3647
This may be solved in the latest version of the dependency.

[2020-04-02 03:58] LukeTowers commented on #1956
Going to archive this request for now. I personally don't really see a benefit from making this change, especially as browsers (for better or for worse, I personally think it's worse but whatever) have started to hide the full URL more and more from end users).

[2020-04-02 03:58] #1956 closed

[2020-04-02 07:53] shailendracool433 opened #5021 "October CMS unable to connect to the database"
I'm struggling to connect mysql database named 'dbsg_october' to the OCTOBER CMS.
ALL my credentials are exactly same but this error.

![image](https://user-images.githubusercontent.com/30532636/78223686-05b16280-74e7-11ea-8c3a-049044f899f4.png)

![image](https://user-images.githubusercontent.com/30532636/78223790-31344d00-74e7-11ea-8c30-3bbd29bccdb1.png)

[2020-04-02 07:59] 4nik3t commented on #5021
I think this is a problem for mysql 8+. Not sure if octobercms is tested on it

[2020-04-02 11:20] Samuell1 commented on #3887
@LukeTowers i just commented line in Installer.php(435): opcache_reset()

[2020-04-02 14:25] LukeTowers commented on #3887
@Samuell1 can you change that line to the following instead and let me know if that solves it?

[code]

[2020-04-02 15:28] LukeTowers commented on #5021
@4nik3t what version of PHP are you using? See https://www.php.net/manual/en/ref.pdo-mysql.php, when using MySQL > 8.0.4 you have to use PHP 7.2 at least when using MySQL 8.0.4's new default authentication method (https://mysqlserverteam.com/mysql-8-0-4-new-default-authentication-plugin-caching_sha2_password/).

You can also switch MySQL to using the legacy authenticator as recommended here: https

[2020-04-02 15:33] #4996 closed

[2020-04-02 16:18] #4082 closed

[2020-04-02 16:21] 4nik3t commented on #5021
@LukeTowers thanks for the info

[2020-04-02 16:22] LukeTowers commented on #4082
Fixed by https://github.com/octobercms/october/commit/ccb2c372bb1fb3980c1240ffb2f7aeef5e786dae. Media library will no longer force absolute URLs unless `cms.linkPolicy` is set to `force`.

[2020-04-02 16:24] LukeTowers commented on #5021
@shailendracool433 see above comment.

[2020-04-02 16:25] mjauvin commented on #4082
Nice! :)

On Thu, Apr 2, 2020 at 12:18 PM Luke Towers <notifications@github.com>
wrote:

--
Marc

[2020-04-02 16:26] norotaro opened #5024 "OctoberCMS installation does not work with composer create-project"
The installation with `composer create-project october/october myoctober` is not working.
This is the error:

**Your requirements could not be resolved to an installable set of packages.**
Problem 1
    - Installation request for wikimedia/composer-merge-plugin dev-master -> satisfiable by wikimedia/composer-merge-plugin[dev-master].
    - **wikimedia/composer-merge-plugin dev-master requires php

[2020-04-02 16:38] Hlusta commented on #4082
Thank you!

[2020-04-02 16:56] LukeTowers commented on #5024
Fixed by https://github.com/octobercms/october/commit/3a577cbbbb29b513072d5f18ab71d13d436779b4, was already fixed in the develop and L6 branches but composer create-project works off of the master branch.

[2020-04-02 16:57] #5024 closed

[2020-04-02 17:15] #4552 closed

[2020-04-02 17:23] LukeTowers commented on #2714
@petehalverson I would see value in a global setting to disable plugin updates through the backend.

[2020-04-02 17:24] LukeTowers commented on #3009
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-04-02 17:24] #3009 closed

[2020-04-02 17:54] taylankoca commented on #2708
Hello,

Thank you for your great effort on october cms. I use it in nearly all of my projects. I wish the best of luck to all of you.

In a case where multiple users with multiple permissions using the media finder and same pool of files, there is a problem. Yes we can create image selector in a repeater field, but what if we still want to keep the files uploaded secret? I mean, media finder shows

[2020-04-02 17:56] LukeTowers commented on #4628
Fixed by https://github.com/rainlab/pages-plugin/commit/60a22613cbc88ce0c750bb634a8371c7ae83ce4b

[2020-04-02 19:00] Samuell1 commented on #3887
@LukeTowers cant test it already installed ocms :(

[2020-04-02 19:07] LukeTowers commented on #3887
@Samuell1 can you try installing it again on the server?

[2020-04-02 19:10] LukeTowers commented on #2708
@taylankoca that is possible by writing your own plugin to dynamically change the media folder root depending on the current user so they can only ever see their own files. How exactly you go about doing that depends entirely on your project's specific needs but it is possible with some knowledge of how the internals work.

[2020-04-02 19:11] LukeTowers commented on #2708
You could even make it so that the media library root folder was based on the specific record being edited to help deal with the issue of multiple users with access to a specific record needing to be able to see any images added to repeaters through that record.

[2020-04-02 19:11] Samuell1 commented on #3887
@LukeTowers Website already running but this same check is in ocms core no? it should then work no?

[2020-04-02 19:46] LukeTowers commented on #3887
Try enabling cms.forceBytecodeInvalidation and see if that line of code helps then

[2020-04-02 23:03] faselunare commented on #5020
It seems like no
in fact it does it anyway even when the item has just been created and all fields are empty
inspecting the richeditor in code mode i see 2 lines but even if I remove the second line, it doesn't change.

[2020-04-03 08:36] Samuell1 commented on #3887
@LukeTowers forcebytecode is enabled and it works, issue is only with installer.

[2020-04-03 14:47] #4187 closed

[2020-04-03 15:17] LukeTowers commented on #3887
Pushed the opcache config fix to the installer too, so it should be fixed now.

[2020-04-03 17:20] LukeTowers commented on #4243
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-04-03 17:20] #4243 closed

[2020-04-04 17:03] bennothommo commented on #1431
Implemented by https://github.com/octobercms/october/pull/4539.

[2020-04-04 17:03] #1431 closed

[2020-04-05 05:24] LukeTowers commented on #4523
@SebastiaanKloos can you verify that this is still an issue in the Laravel 6 branch of October?

[2020-04-05 14:06] PrestaSafe opened #5029 "Allowed memory size every two minutes"
- OctoberCMS Build: 465
- PHP Version: 7.2.22
- Database Engine: MariaDB 10.2
- Plugins Installed:
- October.Demo | 1.0.1
- RainLab.Pages | 1.3.2
- RainLab.Blog | 1.4.0
- Inetis.Dump | 1.0.0
- Prestasafe.TwigBase64 | 1.0.1
- PKleindienst.BlogSearch | 1.4.0
- Renatio.SeoManager | 1.3.3
- VojtaSvoboda.TwigExtensions | 1.2.6
- RainLab.Sitemap | 1.0.9
- Xeor.Sitemap | 1.0.1
- Romanov.ClearCacheWidget

[2020-04-05 14:38] bennothommo commented on #5029
@PrestaSafe do you have Xdebug enabled? If you have some heavy duty error logging or reporting, you might run into memory issues.

[2020-04-05 14:39] bennothommo commented on #5029
You can increase the memory limit in PHP by changing the [memory_limit](https://haydenjames.io/understanding-php-memory_limit/) configuration value to `512M`, although 256MB should be plenty for October CMS.

[2020-04-05 15:56] PrestaSafe commented on #5029
@bennothommo Thanks for you answer. I've upgrade the memory_limit to 1024M, i've steel the problem.
[code]
Xdebug is not installed.
You can check my phpinfo here: https://www.prestasafe.com/phpinfo
Thanks

[2020-04-05 16:03] #4858 closed

[2020-04-05 16:10] bennothommo commented on #5029
@PrestaSafe you may want to disable that link - that's got some sensitive information on there. As for the issue, there might be some form of infinite loop happening. Do you have any memory limit if all the plugins are disabled?

[2020-04-05 16:10] bennothommo commented on #4858
Fixed by https://github.com/octobercms/library/commit/64be2b64a235f35332d0062531a7ac34c7f9a1f6.

[2020-04-05 16:29] #4962 closed

[2020-04-05 16:30] bennothommo commented on #4962
Fixed by https://github.com/octobercms/library/commit/e616ff50d7fe58644de32c356f6a022303bd9b7b.

[2020-04-05 19:24] PrestaSafe commented on #5029
@bennothommo Well, i'm pretty sure i found it !
It came from the 404 errors, my template haven't a 404 page, so the errors appareas when i run 404 error without the page, i'm created it, and now, it works fine.  I stay on it to be sure, but i'm pretty sure it's ok now. Is it a bug BTW ?

[2020-04-05 20:26] PrestaSafe commented on #5029
It's been more than one hour that my log file is empty. It's good for me, if you want to try to reproduice this bug, remove the route /404 and file of one template and test it.
It's maybe a bug.
Thanks for you support :)

[2020-04-05 22:42] faselunare commented on #5020
i think the problem is in the richeditor that add an empty line also if is left empty
![Schermata 2020-04-06 alle 00 40 59](https://user-images.githubusercontent.com/39338657/78511756-6965b500-779f-11ea-8482-8946934906ff.png)

[2020-04-05 23:11] faselunare commented on #5020
More infos
if i set the field as richeditor, when empty, save in the database "{"resource_note":"\r\n"}"
if i set textarea, in the db i have {"resource_note":""}
in this case i'm able to test if is empty or not

this happen when the field is inside a nestedform or inside a repeater

[2020-04-06 06:14] LukeTowers commented on #5020
@faselunare what you can do is trim the variable in twig before checking if it's empty: https://twig.symfony.com/doc/2.x/filters/trim.html

[2020-04-06 06:17] LukeTowers commented on #5029
@PrestaSafe if you don't have a /error page, then your 404 page will be displayed instead when app.debug is false.

[2020-04-06 07:45] #4775 closed

[2020-04-06 07:46] bennothommo commented on #4775
Fixed by https://github.com/octobercms/october/commit/9155e7de7e1035dc3d6bd51288f909268c240a76.

[2020-04-06 08:32] PrestaSafe commented on #5029
Ok, but in my template, i did'nt have any error page, so when a 404 was trigged, my serveur increased memory (of 3-4Gb) and app.debug or not on true, i didn't have error displayed, only 500 error with no explenations. I've tried in my local instance, it's the same.

![Capture d’écran 2020-04-06 à 09 48 48](https://user-images.githubusercontent.com/4788787/78535104-e1f26300-77eb-11ea-933e-497e8f9

[2020-04-06 08:47] PrestaSafe commented on #5029
Ok, i've found it !

It came from my page called: post-details.htm
[code]

If i removed it, it's working, and if i change the URL from `/:slug` to `/post/:slug` it's working too.

It came from the `/:slug`

Bug or not ? that is the question. Thanks to you @bennothommo @LukeTowers guys !

[2020-04-06 10:36] bennothommo commented on #4761
We have deployed a command that we can run in GitHub to present the one-liner Docker instance as @petehalverson suggested - you can see an example here: https://github.com/octobercms/october/pull/4965#issuecomment-600423051.

Ultimately, while this will provide a decent shortcut to getting October ready for testing, the only thing that will truly speed up the testing of PRs is if the community get

[2020-04-06 10:36] #4761 closed

[2020-04-07 00:05] #4662 closed

[2020-04-07 08:31] SebastiaanKloos commented on #4523
@LukeTowers I'll add it to my tasklist for this week

[2020-04-08 08:40] tobias-kuendig opened #5033 "Composer 2.0 compatibility"
It seems like composer 2.0 is right around the corner. Downloading `https://getcomposer.org/composer.phar` already gives you a 2.0 build.

Our deployments just started to fail because of this. It seems like there is an issue with the composer-merge-plugin, as it explicitly requires composer 1.1:
https://github.com/wikimedia/composer-merge-plugin/blob/master/composer.json#L15

I have opened an issu

[2020-04-08 10:11] maartenmachiels opened #5034 "PDF attachments don't show up in Windows 10 mail"
- OctoberCMS Build: 465
- PHP Version: 7.3
- Database Engine: MySQL

### Description:
When sending an e-mail with a PDF attachment, the attachment doesn't show up in Windows 10 Mail. It does show up in Outlook, Gmail, Outlook Online... but for some reason it never shows up in the native Windows 10 Mail client. When sending the original e-mail to Gmail for example (where the PDF does show up withou

[2020-04-08 15:24] idpsycho commented on #5033
It has been happening everywhere for a few days now, happens to everyone in our team.

TEMPORARY solution:
[code]

[2020-04-08 16:33] LukeTowers commented on #5034
@maartenmachiels are you able to find any related issues when searching this issue with SwiftMailer & Laravel itself? October doesn't really customize the logic provided by those libraries when it comes to attaching files.

[2020-04-08 23:57] igor-tv commented on #2108
I confirm this. This only works for` i.fa`. For other tags and classes does not work, empty tags are deleted when saved. I wanted to add `span.iconify` to the allowed empty tags, but that didn't help. Have to add `&nbsp;` inside.

October 465

[2020-04-09 07:02] maartenmachiels commented on #5034
Thanks Luke. I can't seem to find any related issues by searching for SwiftMailer & Laravel. I'll do some more investigation.

[2020-04-09 12:43] tombien commented on #2108
@igor-tv
This is still not fixed. I can confirm it. October 465. I mentioned this 3 years ago :)

I can put to Froala `<i class="fa fa-bulb"></i>` and it will stay.
I can put `<i class="xx xx-bulb"></i>` and it will not stay.

I have `<i>` in my allowed empty tags.
Class "fa" do not need allowed empty tags - it stays always with or without allowed empty `<i>`

I know, this is not a "big problem" b

[2020-04-09 17:50] #4964 closed

[2020-04-09 17:50] #4819 closed

[2020-04-09 17:51] SebastiaanKloos commented on #4523
@LukeTowers Nope still the same:

[code]

[2020-04-09 20:24] #4799 closed

[2020-04-10 00:06] #4623 closed

[2020-04-10 15:02] pablorq opened #5036 "UI - Linking rows doesn't work in frontend"
- OctoberCMS Build: 464
- PHP Version:
- Database Engine: SQLITE
- Plugins Installed: builder-v1.0.26, User-v1.5.3, Debugbar-v3.0.1v1.2.0 -->

### Description:
The 'linking row' functionality isn't working. A simple table is shown with the anchor on the text instead of the row hover.

### Steps To Reproduce:

Based on the documentation: [Linking rows](https://octobercms.com/docs/ui/list#linking-ro

[2020-04-10 15:04] pablorq commented on #5036
I also tried the List 'Complete example' and doesn't behaves as the online demo, using the code from the documentation page.

[2020-04-10 15:53] LukeTowers commented on #5036
@pablorq where are you creating these pages? This is for the backend UI framework, if you aren't including the required styles / scripts in your frontend then they're not going to work there.

[2020-04-10 22:04] multiwebinc commented on #4381
I just did a fresh install of October and tried to upgrade it to Laravel 6, and I am having some issues.

When doing `composer update` I get the following messages:

[code]

The abandoned packages messages are warnings (highlighted in orange), and the other one is an error (it's highlighted in red), and it appears to be aborting composer since it almost seems like when you call a script with inval

[2020-04-10 22:11] LukeTowers commented on #4381
@multiwebinc what version of PHP are you using and what does your composer.json look like?

[2020-04-10 22:12] multiwebinc commented on #4381
I have a working install of October with Laravel 6 (not the one in my previous post), and I'm having an issue with the Rainlab Translate plugin. If I put the following in one of my twig files:

[code]

This outputs:

[code]

However when using a fresh install of October with Laravel 5, the same code outputs:

[code]

[2020-04-10 22:14] multiwebinc commented on #4381
@LukeTowers PHP 7.2.24

Here is my composer.json, which is working for another install that I had previously updated to Laravel 6.

[code]

[2020-04-10 22:16] LukeTowers commented on #4381
@multiwebinc that's a result of a recent change to prevent XSS in the translate plugin. Use the `| transRaw({contact_page: ''})` filter instead now. See https://github.com/rainlab/translate-plugin/commit/4a3d601920e1da3f9cb3ff31c91b90b25e7652ea

[2020-04-10 22:20] LukeTowers commented on #4381
@multiwebinc simplify that down to the following if you don't use automated testing. If you use automated testing make sure you update the tests directory and use the composer file from https://github.com/octobercms/october/tree/wip/laravel-6
[code]

[2020-04-10 22:48] multiwebinc commented on #4381
@LukeTowers Thanks. That composer file worked with no error, only the following warning messages, so something else I had there must be causing the error:

[code]

Also, I am not sure what happened with the translate plugin because I seemingly had version 1.6.7 installed, and the change you mention appears it was merged in 1.6.10. I just removed the plugin and reinstalled it and it is working corr

[2020-04-10 23:15] #4274 closed

[2020-04-10 23:17] LukeTowers commented on #4381
@bennothommo could you look into those error messages and update them if relevant to us?

[2020-04-11 07:03] chrisvidal opened #5037 "CMS Content Markdown not rendered as expected"
- OctoberCMS Build: 465

### Description:
I am creating some content using the CMS content with the mardown editor.
My content files are named like this `program/week1.md`

My content is typed in like this in the editor

[code]

but it is rendered like this in the frontend using the twig `{% content 'file' %}`

`Welcome guys, to week 1`

I am expecting 2 paragraphs to be rendered.
Does it make sen

[2020-04-11 08:37] GinoPane commented on #4308
Hey, it shouldn't be closed! The MR is ready for it 😄 @bennothommo could you please remove the "archived" label?

[2020-04-11 10:40] chrisvidal commented on #5037
Not sure if this is documented somewhere, but adding 2 spaces at the end of a sentence forces a line return.

[2020-04-11 12:05] mjauvin commented on #5037
This is how markdown works. If you want to force a paragraph, just add an empty line between your paragraphs,like below:

paragraph 1

paragraph 2

[2020-04-11 12:08] bennothommo commented on #4308
Thanks @GinoPane and @w20k. It's just our monthly reminder to revisit this :)

[2020-04-11 12:45] chrisvidal commented on #5037
Y, I actually don't want force a paragraph but a line return.
2 space characters seems to be effective

[2020-04-11 12:45] #5037 closed

[2020-04-11 12:54] mjauvin commented on #5037
Right, I've seen the two spaces documented but I find it not very easy to spot. I think it's better/more obvious to use a <br> at the end of the line you want to break.

[2020-04-11 15:00] LukeTowers commented on #5037
@chrisvidal you should also be able to run it through `|nl2br` using the following: `{% content('file') | nl2br %}`

[2020-04-12 04:45] chrisvidal commented on #5037
thanks
@LukeTowers `nl2br` does not prevent the needs of the 2 space characters apparently

in this 2 previous line, there is a line return at then end `thanks` and it appears correctly when rendered even though I didn't put 2 space characters. So I feel like there is something to look at here from github markdown rendering

[2020-04-12 06:16] chrisvidal commented on #5037
Just read about Markdown rendering that could use GFM line breaks, so there's no need to use MD's two-space line breaks.

[2020-04-12 12:12] mjauvin commented on #5037
what do you mean by GFM rendering?

[2020-04-13 00:05] #3954 closed

[2020-04-13 06:53] chrisvidal commented on #5037
it is apparently a way of rendering line break depending on the markdown library used.
Not sure what library OC is using

[2020-04-13 12:31] pablorq commented on #5036
Ah! Ok!

I thought it was for frontend also.

Thank you!

[2020-04-13 12:31] #5036 closed

[2020-04-13 14:54] bennothommo commented on #5037
@chrisvidal We use Parsedown (https://github.com/erusev/parsedown) which I'm fairly sure supports GFM.

[2020-04-14 00:09] #1979 closed

[2020-04-14 03:07] chrisvidal commented on #5037
cool!
I guess what matters is the parameter used to perform the markdown rendering by the TWIG command `content`

[2020-04-14 03:11] chrisvidal commented on #5037
I check their code and this parser does not support GFM rendering unfortunately.
there is no options of such.

[2020-04-14 05:37] GinoPane commented on #4976
Up

[2020-04-14 15:50] bennothommo commented on #5037
@chrisvidal They list "GitHub-flavored" as a feature on their README, so that's rather surprising. Have you tested it to make sure?

[2020-04-14 15:57] bennothommo commented on #4976
@GinoPane I think I know the reason - it's to allow for overriding the partial templates for aliased components (by using the component's alias as a filename in specific location in the theme). It's likely the validation was purposely made conservative to prevent issues with dashes in filenames.

It's likely not an issue anymore as most OS's allow dashes in filenames, so if you want to submit a PR

[2020-04-15 04:28] SaifurRahmanMohsin commented on #5033
I'm getting a similar issue which I believe is related to this. Surprising that the error message makes no sense because I'm using php 7.2 when the minimal requirement is 7.0 as per the platform.
![Screen Shot 2020-04-15 at 9 56 31 AM](https://user-images.githubusercontent.com/1699753/79298740-9f253f00-7eff-11ea-9567-5432c8327264.png)

[2020-04-15 04:33] bennothommo commented on #5033
@SaifurRahmanMohsin The issue is we use the `config` key in `composer.json` to lock the version of PHP to `7.0`. @daftspunk's reasoning for the change can be [found here](https://github.com/octobercms/october/commit/f12f3af37f491f26fe101c3a01458fa467455df0). If this issue occurs for you, you can either remove the `config` key in `composer.json`, use @idpsycho's suggestion above, or use the `wip/la

[2020-04-15 04:36] LukeTowers commented on #5033
@bennothommo using the L6 branch in @SaifurRahmanMohsin's case isn't the problem, he needs to update his composer.json to pull in 1.4.1 of the merge plugin instead of using dev-master. It's unfortunate that we were using dev-master in the first place, every project that's ever been pulled down before the recent fix will still have the broken version in their composer.json.

[2020-04-15 05:54] chrisvidal commented on #5037
they are not mentioning this GFM rendering anywhere. and I tested on their test website.
and indeed, the line break is not happening.

[2020-04-15 05:55] chrisvidal commented on #5037
their demo to test is here: https://parsedown.org/demo

[2020-04-15 11:56] robinbonnes commented on #4381
Maybe a stupid question, but if this is going to roll out to production. Will it be as simple as hitting the update button in the OctoberCMS backend?

[2020-04-15 16:01] LukeTowers commented on #4381
@robinbonnes as long as you aren't using any super complex Laravel features then yes, it should just be that easy. See https://github.com/octoberrain/meta/blob/master/l6-upgrade-notes.md for the upgrade guide which has been broken down into sections based on the functionality that has been affected. If you're not using any of those sections you can update through the backend no problem. If you are

[2020-04-16 08:45] mabehiry commented on #4136
I'm still having the same issue!
User uploaded a jpg file, for some reason this error has appeared!
It throws a FatalThrowableError, I tried to handle it using try and catch, but it still appear making the website to crash!
This is my code:

[code]

What should I do to handle this error?

[2020-04-16 21:03] rajakhoury opened #5041 "League\Csv incompatibility"
October Build 465 (wip/laravel-6)
Plugin: RainLab Blog
Steps to reproduce: Import any file..

The `Backend\Models\ImportModel` throws an exception during CSV imports.
Message: `Call to undefined method League\Csv\Reader::addFilter()`

The package changelog / website docs says that these methods have been deprecated in v9.

    - `League\Csv\AbstractCsv::addFilter`,
    - `League\Csv\AbstractCsv::a

[2020-04-17 00:05] #4848 closed

[2020-04-17 00:05] #4853 closed

[2020-04-17 02:44] bennothommo commented on #4136
@mabehiry You have to enable WEBP support on the server for the GD library in order for the `imagecreatefromwebp` method to be usable. You can view the necessary information for this here: https://www.php.net/manual/en/image.installation.php.

We can add handling for this, however, we'd still need to throw exceptions if the method is not available, so people would still get error screens if they t

[2020-04-17 03:38] bennothommo commented on #5041
Thanks for letting us know @rajakhoury - fixed as of https://github.com/octobercms/october/commit/3720af4c02fae89815bd982f2ef6fc920dd8e1d1.

[2020-04-17 03:39] #5041 closed

[2020-04-17 11:07] tinh1115 commented on #5033
Downgrade to 1.9.2 works for me, but in different project.

[2020-04-17 13:29] mabehiry commented on #4136
@bennothommo Thank you. I've enabled it

[2020-04-17 23:13] idpsycho opened #5043 "Composer install stuck: "Something's changed, looking at all rules again (pass #789)""
- OctoberCMS Build: new installation from 2020 (googled and read 10 pages, cant find how to find ocms version from console)
- PHP Version: PHP 7.3.11
- Plugins Installed: none

### Description:
`composer install` gets stuck on:
[code]

When run with `composer i -vvv` i get this:
[code]

### Steps To Reproduce:
Happens in two different projects by two different people, roughly both got created abou

[2020-04-18 02:29] bennothommo commented on #5043
@idpsycho Just to clarify, are you saying that you were able to install these projects 2 months ago when they started, but you cannot now - ie. you're moving the projects to a different environment?

[2020-04-18 07:29] idpsycho commented on #5043
Okay, so the issue is that the developer changed his platform php dependency from 7.0.8 to 7.2.0 after he encountered the wikimedia issue. If I just change the platorm php back to 7.0.8, it doesnt break (it breaks on the old wikimedia bug)

[code]

Okay, so the solution is to NOT DO THIS:
[code]

put it back to original value of
[code]

SOLUTION
and if you have old project, the only thing needed t

[2020-04-18 09:05] aurelien-roy opened #5044 "Subtree split repos out of sync?"
Was wondering, are the subtree repos (like [octoberrain/system](https://github.com/octoberrain/system)) synced automatically with this one,  or is the sync is triggered by a manuel actuoin?

Because I just noticed they are out of sync.
Last commit on october/develop was 3 days ago and affected all 3 modules.

But the submodules repos (like https://github.com/octoberrain/system/tree/develop) have t

[2020-04-18 09:32] mabehiry commented on #4622
I've the same issue, how can I limit the number of rendered files to only 30 files?

[2020-04-18 15:52] bennothommo commented on #5044
@aurelien-roy At this stage, it's a manual process. We're looking to make it automated through GitHub Actions at some point, but we are working against some restrictions that are in place with that service (ie. it won't work cross-repo).

I'll run the task now though so the submodules are up-to-date.

[2020-04-18 15:59] bennothommo commented on #5043
@idpsycho Thanks for the clarification. You are indeed correct - we have fixed this in `develop` and `master` already, but some installs may have already been done before the fix was in place.

[2020-04-18 15:59] #5043 closed

[2020-04-19 02:31] #5044 closed

[2020-04-19 09:16] DieterHolvoet opened #5045 "Initialization of library items of remote storages is really slow"
- OctoberCMS Build: 1.0.465
- PHP Version: 7.2
- Database Engine: mysql
- Plugins Installed: _not relevant_

### Description
When opening the media library on an empty cache, the page loads really slow and even timeouts. This is only the case for me when storing media externally, in my case on Google Cloud Storage.

### Steps To Reproduce
Set up a remote storage and use it for media. Run `artisan

[2020-04-19 20:01] tineklancar commented on #4366
I have the exact same issue. (Also have PHP 7.3)

![octobercms-install-error](https://user-images.githubusercontent.com/2991202/79698454-4c45e180-8289-11ea-9691-7b941a426765.PNG)

[2020-04-19 20:46] LukeTowers commented on #4366
@tineklancar that doesn't look like the same problem. Try removing your vendor directory and composer.lock and running composer update

[2020-04-19 20:58] tineklancar commented on #4366
Thanks for getting back to me unfortunately removing both and rerunning composer update has no effect. I still get the same error message.

[2020-04-19 21:07] LukeTowers commented on #4366
try composer dump-autoload too

[2020-04-19 21:07] #4366 closed

[2020-04-20 00:05] #4985 closed

[2020-04-20 03:36] #4994 closed

[2020-04-20 06:54] tineklancar commented on #4366
unfortunately that has no effect either either. I'm left with only wikimedia/composer-merge-plugin in my vendors folder where as the error message says there is no MergePlugin.php file (there are some others). I've tried deleting it, re-running upload and install, clearing composer cache ... nothing seems to work :/

[2020-04-20 16:31] LukeTowers commented on #4366
You should be able to use composer @tineklancar.

What are the exact steps you're taking from scratch?

[2020-04-21 01:20] bennothommo commented on #4366
I wonder if it's something to do with Vagrant - both cases reported in here are using that.

[2020-04-22 13:16] Arzon commented on #3668
@danielbidala you can have a look at the following url
https://octobercms.com/forum/post/repeater-default-value-backend-forms

[2020-04-22 14:11] SebastiaanKloos opened #5049 "Localization override not working for plugins"
- OctoberCMS Build: 465
- PHP Version:
- Database Engine:
- Plugins Installed: RainLab.User 1.5.3

### Description:
Overriding localization files won't work for plugins. I've created a folder lang/nl/rainlab/user/lang.php with the overrides. October still uses the language strings in the RainLab.User plugin.

Used the documentation at https://octobercms.com/docs/plugin/localization#overriding.

##

[2020-04-22 14:27] mjauvin commented on #5049
The documentation you references mentions the **app's lang directory** NOT the **plugin's lang directory**

[2020-04-22 14:32] mjauvin commented on #5049
Please, look at this post:

https://octobertricks.com/tricks/override-translations-with-a-plugin

[2020-04-22 16:56] LukeTowers commented on #3668
@bennothommo did the repeater styles addition change how minItems behaves?

[2020-04-22 20:58] mjauvin commented on #5049
You can also use the following method to do what you initially wanted:
[code]

[2020-04-22 21:04] SebastiaanKloos commented on #5049
Ahh. My bad. I will try your suggestion! Thanks!

[2020-04-22 21:07] SebastiaanKloos commented on #5049
@mjauvin The example in the docs shows how to override a plugins localization. So it should work...

[2020-04-22 21:33] mjauvin commented on #5049
No, it's showing the "App localization directory", see attached screenshot of the Documentation

![Screenshot_20200422-173041](https://user-images.githubusercontent.com/2013630/80036194-46394600-84bf-11ea-9d00-3174dd54bb3a.jpg)

[2020-04-23 00:05] #4956 closed

[2020-04-23 02:34] SaifurRahmanMohsin opened #5050 "Standardize the User model"
I've been using OctoberCMS to build a few mobile applications and I wrote a plugin as well for [my convenience](https://octobercms.com/plugin/mohsin-user) to re-use code. However, some projects require multi-level auth i.e. backend user / frontend user which is already supported by OctoberCMS. However, I found there **are inconsistencies in the field names**.

For example, [the frontend User model

[2020-04-23 04:15] daftspunk commented on #5050
first_name and last_name indicate both are required fields

name and surname indicate that surname is optional

name could be used for the full name (name: Adam Person)
name and surname could be broken apart (name: Adam, surname: Person)

[2020-04-23 05:31] SaifurRahmanMohsin commented on #5050
So you want the surname to be optional for backend users and that is why you chose it over a more consistent first_name and last_name across both rainlab’s user model and october’s user model?

[2020-04-23 05:32] #5050 closed

[2020-04-23 06:24] nathanlesage commented on #3560
Just pinged @aidantwoods and asked how this issue is proceeding on his side!

[2020-04-23 09:11] SebastiaanKloos commented on #5049
@mjauvin Ahh. Thanks. Will add the override to the applications lang. I think I was sleeping...

[2020-04-23 09:11] #5049 closed

[2020-04-23 12:35] mjauvin commented on #5049
@SebastiaanKloos try this, it will allow you to put overrides within your plugin lang folder.

[2020-04-23 21:51] LukeTowers commented on #5049
@mjauvin that's not what he was trying to do, he just wanted to override the RainLab.User plugin translations for his specific project.

Note that my official recommendation would be to avoid the constructor solution as much as possible because it does not play nice with any other plugins at all. If you need to override a language string from your plugin and have it play nice with other plugins I

[2020-04-23 22:13] mjauvin commented on #5049
@LukeTowers his initial request was to override the localization strings under his **plugin's** lang folder (and not the application's lang folder)

[2020-04-23 23:03] SebastiaanKloos commented on #5049
@mjauvin You are right, however it doesn’t really matter how to do the translations. If I can add the translations to the project, that’s fine.

In my spare time, I will create a plugin where you can define the translations which will be using the translation event. I’ve used that event before.

Thank you for your clear answers @mjauvin @LukeTowers.

[2020-04-24 05:55] bennothommo commented on #3668
@LukeTowers I don't believe it has.

[2020-04-24 15:07] bennothommo commented on #4947
@Flynsarmy I've just done a test using your instructions and I'm seeing something slightly different:

- Scenario 1 (Options Method) shows me the first option `foo` selected on load, however it does not populate options for the `post` field. If I specify `foo` as `default` for the `category` field, the `post` field is populated.
- Scenario 2 (Options Array) shows me no option selected for `categor

[2020-04-24 15:08] bennothommo commented on #4947
@LukeTowers any thoughts on the above?

[2020-04-24 15:15] bennothommo commented on #4947
I've just realised there is a `placeholder` parameter for the Inspector fields, which the dropdown uses. I wonder if this should either be renamed to `emptyOption`, or allow both terms to be used (with `placeholder` given priority to maintain backwards compatibility).

[2020-04-24 16:07] LukeTowers commented on #4947
@bennothommo both terms should be supported

[2020-04-25 00:10] Flynsarmy commented on #4952
Ping

[2020-04-25 21:40] danielbidala commented on #1791
@oadslug thanks for your solution, it works well! I've spent hours trying to figure out what's happening.

[2020-04-26 08:06] Eoler commented on #1791
You're not the only one: https://github.com/octobercms/october/issues/1698

[2020-04-27 02:44] #4995 closed

[2020-04-27 05:55] bennothommo commented on #3560
@aidantwoods I sincerely apologise for the lack of movement on me giving your 2.0.0 PR a review. I've had a brief look at what you've done so far - it looks great, but given how substantial the change is, I want to look into it more before I offer any feedback. I will also be testing this with our usage of the library in the Markdown Editor widget in October CMS and see what ramifications (if any)

[2020-04-27 08:08] LukeTowers commented on #1791
@bennothommo could you review this and verify that the trigger API and dependsOn support have different behaviour when rendering a form in pieces vs one render call (assuming that both are under a single containing form element of course).

@daftspunk could you provide more background information as to why the trigger API is allowed to cross sections whereas the dependsOn isn't? I would think that

[2020-04-27 08:37] bennothommo commented on #1791
@LukeTowers I can't confirm any particular difference between the two scenarios. Dependent fields are based on the fields available within the main `form` element, which in the normal course means that it's basically every field except for those within a modal window, or those within a nested form widget.

I was able to confirm that a dependent field was refreshed in separated sections by changing

[2020-04-27 20:16] LukeTowers commented on #1791
@Eoler @oadslug @danielbidala could you guys provide more specifics on what exactly isn't working and we can look into it further?

[2020-04-27 22:18] daftspunk commented on #1791
This is a complex case. Please submit a Pull Request to the [test plugin for investigation](https://github.com/daftspunk/oc-test-plugin) that demonstrates the issue. Don't forget to include step by step instructions on how to replicate it *using the test plugin*.

[2020-04-28 08:31] Eoler commented on #1791
Problem is only reproducible on sidebar area in [form-with-sidebar layout](https://github.com/octobercms/october/blob/master/modules/backend/layouts/form-with-sidebar.htm#L21), workaround is to use single wrapper form on that layout. Maybe worth mentioning in the documentation (can't find `form-with-sidebar` in the docs right now?)

[2020-04-28 09:41] bennothommo commented on #1791
@Eoler The sidebar is still within the `form` element though, isn't it?

[2020-04-28 13:30] mjauvin opened #5054 "Stay logged in checkbox appears twice on backend login form."
When cms.backendForceRemember is set to null, the "stay logged in" checkbox appears twice (see attached screenshot)

![Screenshot_20200428-092351](https://user-images.githubusercontent.com/2013630/80492959-b79b4d80-8932-11ea-99c5-df7ec4644f56.jpg)

[2020-04-28 13:35] Eoler commented on #1791
Yes, sorry I misremembered - all my plugins manage backend controllers with custom list/form/relation behaviors (like in #4473 for example) so there's rendering with `'useContainer' => false` and some CSS/JS enhancements which doesn't expose this issue. Closest explanation is the comment here: https://github.com/octobercms/october/issues/1698#issuecomment-297148662
Maybe not relevant anymore?

[2020-04-28 15:56] #5054 closed

[2020-04-28 16:12] mjauvin commented on #5054
@LukeTowers this does not fix the problem because on mobile, it's overriden by the following media query:
[code]

[2020-04-28 16:55] LukeTowers commented on #5054
It fixed it when I tested it, but that was in chrome's inspector so the CSS was probably slightly prioritized. Just add an !important and PR it.

[2020-04-28 17:07] datune opened #5055 "AJAX loading indicator does not properly stop after receiving a redirect response to a file download"

[2020-04-28 17:37] Rike-cz opened #5056 "Relation view filter widget has not been bound to the controller"
- OctoberCMS Build: 465
- PHP Version: 7.3

### Description:
![tags](https://user-images.githubusercontent.com/4247582/80518770-38843480-8987-11ea-9eee-3aa7f494a026.gif)

### Steps To Reproduce:
- relation Category hasMany Articles
- render relation view widget in category preview page with custom filter scopes.
- type something to search fields of any group type scope.

[2020-04-28 17:54] LukeTowers commented on #5056
@alxy is this related to the stuff you did?

[2020-04-29 06:14] Zio3D commented on #4559
Ok, perfect! Thank you for your answer 😃

[2020-04-30 00:21] TimFoerster opened #5058 "SASS compiler fails to compile `rgba(#xxx, yy)` value with php 7.4"
- OctoberCMS Build: dev-master
- PHP Version: 7.4

### Description:
SASS file with
[code]
should compile with php 7.4, but fails

related to https://github.com/leafo/scssphp/pull/710

waiting for https://github.com/assetic-php/assetic/tree/2.0/dev migration?

[2020-04-30 06:37] lautsevich commented on #4728
Up 😎

[2020-04-30 06:37] lautsevich commented on #4840
Up 😎

[2020-04-30 07:36] LukeTowers commented on #5058
@TimFoerster please try switching to the Laravel 6 branch and let us know if it's still a problem there.

[2020-04-30 07:37] LukeTowers commented on #4840
Friendly reminder about the premium support program @lautsevich 😉

[2020-04-30 07:37] LukeTowers commented on #4728
Friendly reminder about the premium support program @lautsevich 😉

[2020-04-30 14:26] tineklancar commented on #4366
Hi Luke,Ben,

I've updated both vagrant and Homestead to latest versions (2.2.7 and 9.5.1 respectively) and now the installation works fine. Thanks for the help!

[2020-04-30 15:09] alxy commented on #5056
Probably yes, but does the filtering work, just the search doesn't?
@Rike-cz Maybe you can look into it, I have started a new job and don't have too much time now.

[2020-04-30 17:04] LukeTowers commented on #5056
@Rike-cz my guess is that since the popover DOM nodes are technically at the root of the document and not inside the parent form element the required `relation` POST variable is not being sent with the search AJAX request which means that the relationcontroller isn't initializing the required widgets.

[2020-04-30 20:26] Rike-cz commented on #5056
@alxy Yes, filtering works only search does not.
It looked like simple one line missing problem but what I inspected and @LukeTowers wrote, it is not so simple...

[2020-04-30 21:23] LukeTowers commented on #5056
It shouldn't be too difficult, you just need to be able to provide the relation field in the AJAX requests sent by the filters.

[2020-05-01 07:14] LukeTowers opened #5059 "Add core support for the | resize(width, height, options) filter"
The `| resize(width, height, options)` filter is one of the most included third party add-ons available for October, with the following plugins providing variations of it to over 23,000 installations:

- https://octobercms.com/plugin/toughdeveloper-imageresizer
- https://octobercms.com/plugin/abwebdevelopers-imageresize
- https://octobercms.com/plugin/raideer-thumbnail
- https://octobercms.com/plu

[2020-05-01 07:22] seanthepottingshed commented on #5059
@LukeTowers

Exciting stuff! Will the design statement make references to **Focal Point Cropping**?

* https://glide.thephpleague.com/1.0/api/crop/#crop-focal-point

[2020-05-01 18:25] LukeTowers commented on #5059
@seanthepottingshed updated the statement. That's something that can be added in later, the focus right now is exposing the existing functionality of the `October\Rain\Database\Attach\Resizer` class to a twig filter so that the unmaintained plugins that are used by a number of installations can start using this core filter instead.

[2020-05-01 18:25] LukeTowers commented on #5059
Feel free to comment with your ideas and thoughts around this enhancement.

[2020-05-02 00:22] Flynsarmy commented on #4930
Up. PR still open

[2020-05-02 00:36] LukeTowers commented on #4930
@Flynsarmy bot's just acting up

[2020-05-02 11:39] seanthepottingshed commented on #5059
@LukeTowers

Excellent idea, we've used the Glide library to implement focal point cropping and we've also tweaked `fileuploader` form widget in order to allow setting of focal point:

<img width="950" alt="Screenshot 2020-05-02 at 12 38 51" src="https://user-images.githubusercontent.com/12046965/80863123-e8042400-8c71-11ea-9d92-89fd257a5476.png">

Happy to share the code here if it helps.

[2020-05-02 11:53] mjauvin commented on #5059
Nice @seanthepottingshed !

[2020-05-02 19:40] adrian-zawada opened #5061 "Hide password value in Mail Configuration"
In Mail Configuration in CMS Backend field of password input type shoulb be set to password now is text. After logging in the user should not see the password, often many people work on one CMS this is dangerous.

### In short, what should you do?
- change the password input from type="name" to type="password"

[2020-05-03 02:18] bennothommo commented on #5061
@adrian-zawada Thanks for your submission, but we are not going to change the password field. There needs to be an ability for admins to be able to review the password entered, in case of debugging issues with connecting to SMTP. Just remember that the password is in plaintext in `config/mail.php` as well.

If you don't want people to be able to see the password, assign them user accounts where th

[2020-05-03 02:18] #5061 closed

[2020-05-03 07:11] LukeTowers commented on #5061
Additionally, the password field as implemented in October does not retain the value from the model which means that if the record is saved again a blank value for the password field is inserted instead overwriting the password configuration.

[2020-05-03 07:19] LukeTowers commented on #5059
Sure, go for it @seanthepottingshed!

[2020-05-03 08:00] tomaszstrojny commented on #5061
Just as a side note, what do you think about changing the field to the password but with the "show" button next to it?

It's not about security but just other people that may see it on my screen.

[2020-05-03 09:56] seanthepottingshed commented on #5059
@LukeTowers

[TPSFileUpload.zip](https://github.com/octobercms/october/files/4569957/TPSFileUpload.zip)

[2020-05-03 16:17] LukeTowers commented on #5061
@tomaszstrojny I'm not necessarily opposed to it, but the field type would have to be different from `password`, perhaps `credential`, or `hidden-value`, or `sensitive`. Not really a huge fan of any of those ideas, ideas welcome.

[2020-05-04 02:12] bennothommo commented on #5061
@tomaszstrojny Wouldn't the same problem occur with the password being visible in `config/mail.php` too?

[2020-05-04 02:20] bennothommo commented on #5055
@datune If you have time, would you mind providing us with a test case to the [Test plugin](https://github.com/octoberrain/test-plugin) demonstrating this issue?

[2020-05-04 02:37] mjauvin commented on #5055
I do confirm this behavior.

[2020-05-04 07:09] adrian-zawada commented on #5061
Okey, I understend but leaving the password field with the text type is not very secure. Someone sitting next to them can easily see them etc. It would be nice if this field was a password and there was a show password button somewhere nearby. I know this not very nessesery but would be helpful for everyone :-)

Have a nice day!

[2020-05-04 07:27] bennothommo commented on #5055
@mjauvin Do you have a test case I can review for it?

[2020-05-04 07:30] bennothommo commented on #5061
@adrian-zawada I can appreciate that it might not *seem* secure, but as I've stated, it's no less secure than the password being available on your editor if you were to open `config/mail.php`.

If you are worried about colleagues or other people looking over your shoulder and stealing passwords, I would suggest one of these:

![image](https://user-images.githubusercontent.com/15900351/80944464-3c4

[2020-05-04 07:37] bennothommo commented on #4864
Confirmed this is still occurring.

[2020-05-04 07:55] tomaszstrojny commented on #5061
Ha, good one @bennothommo :)

I would be worried more about the client's administrator who I often give access to backend so that they can change mail settings without my help.

I think that for showing any sensitive data we should have something like the field. Whether it's mail password or any encrypted data like API tokens, passwords to third-party services etc. I am not a big fan of displaying

[2020-05-04 08:00] bennothommo commented on #5061
@tomaszstrojny

Not to argue a point to death, but they would be trusted with the mail settings though? That's what the permissions are for ;).

Nonetheless, if you do happen to PR a new feature to have *revealable* passwords, I'm sure that'll be a useful addition. Let us know how you go :)

[2020-05-04 11:11] mjauvin commented on #5055
No, I don't.

[2020-05-04 13:22] bennothommo commented on #4523
@SebastiaanKloos how have you defined the asset variable in the LESS file?

[2020-05-04 17:05] LukeTowers commented on #5055
@bennothommo

[code]

[2020-05-05 01:20] Flynsarmy opened #5063 "Controller Filter errors when no scopes defined"
- OctoberCMS Build: 465
- PHP Version: 7.4.5
- Database Engine: mysql 15.1
- Plugins Installed: Flynsarmy.Badfilter

### Description:

If a `ListController` has a `filter` option but there are no scopes defined in the filters config file, visiting the `ListController` page gives a javascript error instead of simply not displaying the `ListFilter`.

In older versions of October CMS no error was pre

[2020-05-05 01:51] bennothommo commented on #5055
Thanks @LukeTowers, but I do know how to do a redirect ;). I was simply asking if someone might've set up a link or action with an AJAX handler and the necessary attributes to show the loader, ie. `data-load-indicator`.

[2020-05-05 05:13] Flynsarmy opened #5065 "Mail Templates Settings page can throw a fatal error"
- OctoberCMS Build: 465
- PHP Version: 7.4.5
- Database Engine: mysql 15.1

### Description:
If a plugin registers a mail partial, the partial is modified in Backend - Settings - Mail Templates, and the plugin is then disabled or removed, the mail templates page becomes unable to load, throwing the fatal exception

![Screen Shot 2020-05-05 at 3 10 46 pm](https://user-images.githubusercontent.com/3

[2020-05-05 06:07] #5063 closed

[2020-05-05 06:08] LukeTowers commented on #5055
Oh, sorry about that @bennothommo, thought you were confused about the exact implementation of the handler. I believe all AJAX requests in the backend trigger the stripe loading indicator though don't they?

[2020-05-05 06:14] LukeTowers commented on #5065
The offending line is https://github.com/octobercms/october/blob/b896924dec1e1e34026377451b2a535bb35ac63d/modules/system/models/MailPartial.php#L100

The problem is that if a mail template record generated by a plugin exists in the database (note this is currently specifically only an issue for partial template types) and then that plugin is later removed or disabled, then this will throw an excep

[2020-05-05 06:51] bennothommo commented on #5065
@LukeTowers I'd say the second option is best - it's more graceful and allows the plugin to be reinstalled or re-enabled with the changes intact at a later stage.

[2020-05-05 17:10] LukeTowers commented on #5065
@bennothommo could you take a stab at implementing that or do you need me to?

[2020-05-09 15:44] ayumi-cloud commented on #5059
Going to add my two cents.

It would be really nice if October could also add an `Intrinsic` feature to images.

You can see some demo's here: https://googlechrome.github.io/samples/intrinsic-size/

Going to go a bit technical now and give a summary of why `Intrinsic` images are important.

There are three combinations of code, and all of them will get the exact same layout result after adding `im

[2020-05-10 14:35] aurelien-roy opened #5069 "Serving combined assets is slow"
- OctoberCMS Build: 465
- PHP Version: 7.3

While benchmarking my website, I noticed combined assets took some time to load. This is due to a high TTFB (>100ms), whereas "normal" (non-combined) assets has 10ms TTFB.

The reason is that the current .htaccess is configured to blacklist the `/storage/cms` folder (which contains all combined assets). Thus, every combined asset is served through Octobe

[2020-05-10 15:49] alxy commented on #5056
I can confirm the issue.

[2020-05-10 16:38] alxy commented on #5056
While trying to fix this, I have realized that it is actually a duplicate of https://github.com/octobercms/october/issues/4775 , which has already been fixed by @bennothommo . Nice work there! It works for me in view and manage mode.

[2020-05-11 02:16] bennothommo commented on #5056
@alxy Thanks for letting us know about the duplication.

This issue is fixed by 9155e7d.

[2020-05-11 02:16] #5056 closed

[2020-05-11 03:07] bennothommo commented on #5065
@Flynsarmy I've taken a look at the steps that you took in order to get the exception, and I unfortunately don't get an exception. I did the following:

- I registered a mail partial for our October Test plugin, and confirmed that it appeared in the Mail Partials list.
- I then modified said partial through the Mail Partial editor screen.
- I then removed the October Test plugin.

When I returned

[2020-05-11 04:10] Flynsarmy commented on #5065
Think this issue can just be closed until someone else experiences it unless @LukeTowers has anything more to add. He was helping me debug the issue at the time.

I deleted the affected records from my DB so that my mail page would start working again. As a result I can no longer replicate.

[2020-05-11 04:21] bennothommo commented on #5065
@LukeTowers let us know if you've been able to replicate it before, and the steps you took if so. I'll be happy to take a look then :)

[2020-05-11 04:30] LukeTowers commented on #5069
This would somewhat tie into the approach I'm planning on taking with the resize filter: https://github.com/octobercms/october/issues/5059

[2020-05-11 08:27] LukeTowers commented on #5065
@bennothommo This specifically came up with the OFFLINE.Mall plugin, see https://cd0da7c0682a.octodock.com:8443/backend/system/mailtemplates for reproduction.

Instructions:
- Install OFFLINE.Mall
- Go to mail templates page
- Disable OFFLINE.Mall
- Reload mail templates page

[2020-05-12 06:26] bennothommo commented on #5065
Thanks @LukeTowers - will take a look soon.

[2020-05-12 16:30] LukeTowers opened #5070 "Laravel 6: Email validation filter is too permissive"
Originally reported by @datune.

Laravel introduced fancier email validation in 5.8 (https://github.com/laravel/framework/pull/26503), but made it too permissive by default, supposedly following the RFC exactly (although there are inconsistencies reported). This has caused breaking changes in emails reported as valid even though they may not be: https://github.com/laravel/framework/issues/28233, h

[2020-05-12 16:31] LukeTowers commented on #5070
@bennothommo could you take a stab at this?

[2020-05-12 16:38] bennothommo commented on #5070
Will do!

[2020-05-13 11:37] iboved commented on #2330
@GitJaap how did you solve this issue?

[2020-05-13 21:54] LukeTowers commented on #2330
The PHP code would look something like this:

[code]
which would turn `storage/app/uploads/public/123/qwe/1d2/123qwe1d2asdlfkasdf2.jpg` into `storage/app/uploads/public/123/qwe/1d2/123qwe1d2asdlfkasdf2.jpg/nice_seo_filename.jpg`, which you would then use .htaccess rules to redirect to `storage/app/uploads/public/123/qwe/1d2/123qwe1d2asdlfkasdf2.jpg` by stripping off the last part of `storage/app/u

[2020-05-14 12:44] cosminbosutar commented on #5055
I have the same behavior.

I have the download page as follows:
`title = "Download"
url = "/download"
layout = "default"
is_hidden = 0
==
    function onStart()
    {
        $pathToFile = storage_path('static/download-file.xlsx');
        $fileName = 'download-file.xlsx';
        $headers = [
            'Content-Type' => 'application/xlsx'
        ];

        return Response::download($pathToFil

[2020-05-14 14:43] tobias-kuendig commented on #3608
This problem still exists. For example, when closing a relation modal, the following line is triggered, which still uses `eval` calls:

https://github.com/octobercms/october/blob/3a577cbbbb29b513072d5f18ab71d13d436779b4/modules/system/assets/js/framework.js#L153

[code]

Also, something in the `codeeditor` form widget triggers an error as well.

![image](https://user-images.githubusercontent.com/8

[2020-05-14 20:42] LukeTowers commented on #3608
@tobias-kuendig are you able to submit a PR to fix the issue? That should probably be a different issue.

[2020-05-15 05:52] tobias-kuendig commented on #3608
I do wonder if this can be fixed without breaking changes. The JS framework essentially allows to provide a function body in the `data-request-success` attribute that is then executed. I don't think there is a way around eval'ing this code. Alternatives like the `new Function()` constructor are blocked as well by the CSP headers.

Replacing all the `data-request` parts with explicit inline `<scrip

[2020-05-15 06:56] multiwebinc opened #5072 "Backend datepicker widget always sends datetime strings to the server"
The [datepicker](https://octobercms.com/docs/api/backend/formwidgets/datepicker) form widget can be configured with 3 modes, `datetime`, `date`, or `time`. However if using either `date`, or `time`, a full timestamp string is always sent to the server.

![image](https://user-images.githubusercontent.com/901732/82020168-dba2a280-9645-11ea-9815-e9bde2585dbd.png)

The timestamp is also converted to U

[2020-05-15 07:05] bennothommo commented on #5072
@multiwebinc We've been discussing this issue as a part of https://github.com/octobercms/october/pull/4111#issuecomment-628069893. I agree that only the actual part of the date string being requested should be sent, and when it comes to `date`, timezones should not play a part. With `datetime` and `time`, they should, but I think it needs to be optional for `time`.

[2020-05-15 07:15] bennothommo commented on #3608
@tobias-kuendig When I had a look at this, months ago, I came to the same conclusion. However, it's my understanding that the only time `unsafe-eval` is reported is when it's actually run, not that it's in the script. So if you use straight JavaScript and don't use the `data` attributes, you should be fine.

I'm not the biggest fan of allowing the JavaScript to be eval'd, but it's been in there si

[2020-05-15 07:29] tobias-kuendig commented on #3608
That is correct. The problem mostly arises when a user clicks on the "submit" button on a relation modal. The `data-request-success` call linked above will cause a CSP error, which leads to the popup overlay not being hidden correctly (the spinner remains visible).

![error](https://user-images.githubusercontent.com/8600029/82023384-7de67880-968e-11ea-814b-0313bca96c64.gif)

[2020-05-15 07:40] multiwebinc commented on #5072
I edited my post slightly to explain my reasoning, which is that it should be sent to the server in the same format that it will be stored in a database.

A single time cannot have a timezone in and of itself, because the UTC offset is dependent on the date. For timezones that have daylight savings time, UTC offset will vary throughout the year, so if you're only selecting the time, how do you kno

[2020-05-15 08:10] tomaszstrojny commented on #5072
Just as a side note, I was struggling with the time in the [Let's Rent](https://octobercms.com/plugin/initbiz-letsrent) plugin. Users can enter the opening hours of the rental office. I came up with using `ignoreTimezone` attribute and then parsing every single hour by `Carbon` to get just the hour from the date. Did the trick.

[2020-05-15 10:20] duycong2509 commented on #4622
I hope this issue will be resolve. It could be a necessary problem in the future.

[2020-05-15 13:57] GoldenScrew opened #5073 "Package files from server are corrupt"
Hello, I am newby in OctoberCMS, and I first time try to install thie smc on my hosting, but I had an error every time.

Everytime it was stopped on [2020/05/15 07:26:54] Install step: downloadCore

Then I changed time of execution for php in .htaccess
[code]
and now I have this error:

I see tat you had similiar problems past years and these problems just was closed. What should I do?

[2020-05-15 22:45] LukeTowers commented on #4622
It will be resolved when someone has the time to deal with it themselves to submit a PR, or when / if someone sponsors the issue if they don't have the time or skill required to fix it themselves.

[2020-05-15 22:59] LukeTowers commented on #5073
Try installing on a different server or locally. It's possible that your host is firewalling connections to the download server. That is usually what those other issue were caused by.

[2020-05-15 23:03] LukeTowers commented on #5072
I think I would agree with @multiwebinc that if it's being used in `mode: date` or `mode: time`, then only those values should be sent back to the server without any timezone processing on it, however we also have the ignoreTimezone property to factor in, and all of this gets very complicated quite quickly when considering changing the existing behaviour which could affect any workarounds people h

[2020-05-15 23:04] LukeTowers commented on #3608
@tobias-kuendig in that case then it should be a simple enough fix, just refactor the relation modal to use the JS API instead of the data-request attributes.

[2020-05-16 12:47] GoldenScrew commented on #5073
Which server IP should I tracert?

[2020-05-17 05:51] techcomputeraid commented on #4183
Hi friends, Grappled the whole night (& a better part if the day) yesterday with this issue.

I have found a solution / workaround.

Tried the partials method but still got the BackendAuth::getUser()->id returning '' (NULL). Didn't work.
Didn't work from the controller but it worked from the model without the partial but strangely, if we set readOnly to '1' or '0' instead of 'true' or 'false'.

He

[2020-05-17 06:07] techcomputeraid commented on #4183
Its like 2 issues happening at the same time. Basis the set permission, the model needs to retweet the BackendAuth::getUser()->id to the field.yaml and we need to reset readOnly='1' or '0' instead of 'true' or 'false' while changing the drop down attributes.

[2020-05-17 06:28] techcomputeraid commented on #4183
I'm sorry not from the model but the controller.

[2020-05-18 00:11] LukeTowers commented on #5073
Not sure, you'd have to send an email to hello@octobercms.com

[2020-05-18 00:16] bennothommo commented on #4622
@duycong2509 Separate and store your files in folders. I can't think of many cases where it would be necessary to have 10,000+ files in the one folder that you want accessible through the Media Manager.

[2020-05-18 00:23] bennothommo commented on #5072
@LukeTowers @multiwebinc given your comments, the proposed solution would be the following:

- When mode `date` is used, only the date part of the value is posted, `ignoreTimezone` is implicitly enabled, the dev is encouraged to use the DATE field type in the DB.
- When mode `time` is used, only the time part of the value is posted, `ignoreTimezone` is implicitly enabled, the dev is encouraged to

[2020-05-18 06:07] it-werxdotca opened #5074 "|theme filter will not pull content and images"
- OctoberCMS Build: 465
- PHP Version:
7.2
- Database Engine:
Mariadb (mysql)
- Plugins Installed:

### Description:
Attempting to use the |theme filter to pull images into dot.htm

Filter used: `style="background-image: url('{{ 'assets/media/various/bg-pattern-inverse.png'|theme }}');"`

The filter will not find the theme directory when you want to put images into the theme...

### Steps To Repro

[2020-05-18 06:39] bennothommo commented on #5074
@it-werxdotca Just checking, you do have a file located at `themes/<active theme>/assets/media/various/bg-patter-inverse.png`?

[2020-05-18 14:34] it-werxdotca commented on #5074
Yes. It is not an uncommon problem. I was peeking at another theme from the store and they had to directly link images... There are issues on the forum regarding this dating back four years... So, no help there either.

[2020-05-18 14:47] mjauvin commented on #5074
@it-werxdotca I'm using this exact technique in my CMS pages and it's working fine.

I think you have an extra single quote in there... try this:
[code]

[2020-05-18 14:49] it-werxdotca commented on #5074
Ah... I am not using it the way you described. I applied it the way the documentation suggests.

`style="background-image: url('{{ 'assets/media/various/bg-pattern-inverse.png'|theme }}');"`

[2020-05-18 14:58] mjauvin commented on #5074
Yes, but you have extra quoting that's breaking it. Try this:
[code]

[2020-05-18 15:31] it-werxdotca commented on #5074
`<div class="bg-white bg-pattern" style="background-image: url( {{ 'assets/media/various/bg-pattern-inverse.png' | theme }} );">`

This does not work.

It should work as documentation dictates. It works fine when loading scripts. JavaScript or CSS.

Again, it has been on the forum for four years. Other themes I have looked at link directly to media. This is not an uncommon problem.

[2020-05-18 19:09] jacobdekeizer opened #5076 "Validate backend forms client-side breaks current backend forms"
I upgraded to the latest version and this pr broke my current forms in the backend: #4804.

I have a backend form field with a `dependsOn` on another form field. The depends on form field only gets updated when all the required fields are filled in, but not all required fields are filled in when you are in the middle of creating a new record.

For example my fields.yaml:

[code]

When I change the

[2020-05-18 19:51] Samuell1 commented on #5074
Are you sure you have images in your assets/media/ folder in your theme? @it-werxdotca

[2020-05-18 21:11] LukeTowers commented on #5076
@jacobdekeizer I'm not sure this is a bug to be honest, shouldn't it be preventing the request from being submitted until you have fulfilled the requirement? If the field doesn't actually have to be required in all cases, then you should be removing that rule when it's not applicable or only adding it when it is.

[2020-05-18 21:11] LukeTowers commented on #5076
@bennothommo any thoughts on this?

[2020-05-18 21:15] mjauvin commented on #5074
This is definitely working for any type of asset, there must be something you are doing wrong or I am missing information.

[2020-05-18 21:18] mjauvin commented on #5074
Also not sure what documentation you are referring to as what I wrote is the proper usage.

[2020-05-18 21:18] it-werxdotca commented on #5074
100% positive. When I link directly it works fine.

Again. This has been an issue for four years... Nothing new.

[2020-05-18 21:19] mjauvin commented on #5074
Can you link the outstanding issues you are referring to? I never had problems with this, ever.

[2020-05-18 21:20] LukeTowers commented on #5074
@it-werxdotca please paste the exact output of `style="background-image: url('{{ 'assets/media/various/bg-pattern-inverse.png'|theme }}');"`

[2020-05-18 21:36] it-werxdotca commented on #5074
`style="background-image: url('{{ 'assets/media/various/bg-pattern-inverse.png'|theme }}');"`

Again... does NOT work. Again... there are around 83 issues involving this on the forum over the past four years... This IS an issue.

None of the theme on the store use this when using images either. They use work arounds or link directly to the media.... Again. I am following the documentation. I can g

[2020-05-18 21:39] mjauvin commented on #5074
If you are not providing more information, we will need to close the issue. All of us are using this without issue, this is a BASIC feature of OctoberCMS... We are trying to help but you provide no helpful information to help us identify where the problem is on your end.

[2020-05-19 00:53] bennothommo commented on #5074
@it-werxdotca When you say it "doesn't work", what do you mean by it doesn't work? Is an error screen shown? Does it appear incorrect in the generated HTML for that page?

When @LukeTowers asked for the exact output of your line of code, the fact that you repeated it back to him, are you saying that the final HTML that is output when you view the page has the Twig variable still within it, unparse

[2020-05-19 01:03] bennothommo commented on #5076
@LukeTowers I'm leaning towards it being a bug - I don't think validation should stop a dependent field being updated if another field is required, especially if that required field has nothing to do with the dependency, as @jacobdekeizer's demo code implies.

I'm also thinking of the scenario where say there's 20 other fields underneath the fields that @jacobdekeizer has above, and one of the lat

[2020-05-19 02:54] mjauvin commented on #5074
I checked other free themes, and they all use the theme filter:

https://github.com/ArtCodeStudio/viola-theme/blob/master/pages/work-progress.htm
https://github.com/ArtCodeStudio/viola-theme/blob/master/partials/about.htm

https://github.com/vojtasvoboda/oc-newage-theme/blob/master/partials/sections/download.htm

https://github.com/responsiv/flat-theme/blob/master/pages/home.htm
https://github.com

[2020-05-19 04:48] bennothommo commented on #5070
Fixed by https://github.com/octobercms/library/commit/97d4163041f68c23f6deb28832d860463bb233ee and https://github.com/octobercms/october/commit/c3a5780d37996f14fefacd7ba5af4703f53b14db.

[2020-05-19 04:49] #5070 closed

[2020-05-19 06:40] it-werxdotca commented on #5074
Well, not sure how much more information I can give.

The ones I have checked out do not use it. There are 83 issues over the past four years on the forum regarding the same thing. All I see are work arounds on the forum. I do see the code I read the documentation the files work when you use a direct link. They do not when I use the |theme filter...

If you do not want to fix it. Fine. All good. I

[2020-05-19 06:50] jacobdekeizer commented on #5076
@LukeTowers This is a frustrating bug for the end user. Like @bennothommo said, if there are 20 other fields where some of them are required to post the form, you have to fill all the required fields before the dependsOn fields are updated. This is wrong and different from the behaviour before this pr got merged. Could you guys revert that pr until it's fixed or make a fix for it?

[2020-05-19 06:59] bennothommo commented on #5074
@it-werxdotca I'm simply trying to find out *what* doesn't work. It doesn't load the image? It has an incorrect URL? Help us, to help you.

[2020-05-19 07:44] Samuell1 commented on #5074
@it-werxdotca I tested it and it correctly generates url.

[2020-05-19 08:35] FlusherDock1 commented on #4975
You can change the look of scroll bar by pure css.

[2020-05-19 08:39] Flynsarmy commented on #4975
Not showing scrollbars by default on mobile is an even bigger argument for them being a bad idea here. It won't be obvious the box is scrollable. Even if you made them always visible, scrolling in vs out of a smaller scrollable area isn't a good UI experience IMO.

[2020-05-19 08:42] Samuell1 commented on #4975
I think scoreboard should be reworked to fully use flexbox first because now its using table and floats and its weirdly setting for example font size to 0.

[2020-05-19 09:46] tobias-kuendig opened #5078 "for..of is not supported in IE11"
What is the current IE version October supports?

[The service worker removal in the backend](https://github.com/octobercms/october/search?q=navigator.serviceWorker.getRegistrations%28%29.&unscoped_q=navigator.serviceWorker.getRegistrations%28%29.) currently fails as it uses a `for..of` loop that is not supported in IE11.

[code]

IE11 compatible:

[code]

[2020-05-19 10:03] bennothommo commented on #5078
@tobias-kuendig we still target IE11 at the moment. I'll switch this up shortly.

[2020-05-19 10:59] #5078 closed

[2020-05-19 17:15] LukeTowers commented on #5076
@bennothommo is there a way that we can ignore the client side validation on any requests triggered by the dependency logic? Perhaps by adding a flag or option to the $.request method to bypass that check, and then add that flag to request triggered by the dependent logic?

[2020-05-19 17:19] LukeTowers commented on #4975
If anyone has a better idea, feel free to submit a PR to fix it. Note that we do still support IE11, and we will not be accepting a JS "fix" for this.

[2020-05-19 17:24] LukeTowers commented on #5074
@it-werxdotca since you are unwilling to provide the information that we have explicitly asked for multiple times in this thread in order to provide completely free support to you, we are unwilling to spend any more of our own time helping you solve your problems.

If you want our help, then you need to put in the basic work to provide the information we asked you for. Otherwise, we're going to tr

[2020-05-19 17:24] #5074 closed

[2020-05-20 01:39] multiwebinc commented on #5072
@LukeTowers If I set ignoreTimezone, then date and time fields are not affected by timezones. Time fields are sent to the server with the user's current date at the selected time. Date fields are sent with the selected date at "00:00:00" time.

I was going to take a quick stab at it to see how easy or difficult it would be to modify the JS, and I notice that it's using minfied JS (storm-min.js). I

[2020-05-20 02:41] multiwebinc commented on #5072
I'm wondering what the best way to accomplish this would be since it would be a breaking change. I know other plugins rely on the current behavior. For example, [Vdlp.Redirect](https://octobercms.com/plugin/vdlp-redirect) with almost 12000 installs explicitly relies on the format currently being used for the "date" mode ([see here](https://github.com/vdlp/oc-redirect-plugin/blob/5424ac646cb6e288e9

[2020-05-20 02:47] bennothommo commented on #5076
@LukeTowers I was suprised the client-side validation was triggering at all with AJAX requests - I was under the impression it's supposed to only trigger when a form is submitted. I'll have a look into it.

[2020-05-20 03:29] bennothommo commented on #5072
@multiwebinc VDLP's Redirect plugin is safe - their implementation is using a `substr` call to extract just the date portion anyway, so it would still be safe if it's just the date. You are, however, right in the sense that it's a breaking change if people were parsing the date-time string in some special way, but on the other hand, it is fixing up an actual issue where the date is sometimes incor

[2020-05-20 04:36] multiwebinc commented on #5072
@bennothommo You're right. I missed the substr part.

[2020-05-20 04:38] LukeTowers commented on #5072
@multiwebinc there is a setting to decompile the backend assets, see https://github.com/octobercms/october/blob/develop/config/develop.php#L22.

@bennothommo I would think that it would be an acceptable change to make, but I would want to see automated tests added for the future, and I can't dedicate any time to reviewing this in depth until a PR is submitted (definitely not going to be a part of

[2020-05-20 05:49] multiwebinc commented on #5072
@LukeTowers Take a look.

[2020-05-20 20:19] KonstantinObuhov opened #5081 "Can't get class with params from container"
- OctoberCMS Build: 465
- PHP Version: 7.x

### Description:
According to the Laravel API we have the ability to resolve a class instance out of the container with passing params to its constructor.

[the-make-method](https://laravel.com/docs/5.6/container#the-make-method)

### Steps To Reproduce:

1) Create a TServiceProvider
[code]

2) Create a TestService class
[code]

3) Register the TServiceP

[2020-05-20 22:33] LukeTowers commented on #5081
@KonstantinObuhov try testing it with Laravel 5.5, or switch to the L6 branch of October and try it there instead: https://github.com/octoberrain/meta/blob/master/l6-upgrade-notes.md

October only uses LTS releases of Laravel. If you can replicate the desired functionality in 5.5 or 6 (and can't replicate in the L6 branch of October) then we can proceed.

[2020-05-20 22:36] LukeTowers commented on #5081
Also, try accessing the class with App::make() later in the request lifecycle (i.e. not in a custom route) and see if that has anything to do with it.

[2020-05-21 14:28] tobias-kuendig commented on #4381
It looks like the upgrade is coming along great! Is there anything specific we can help out with?

[2020-05-21 15:36] LukeTowers commented on #4381
@tobias-kuendig test it out on your sites! :) It should be pretty much production ready by now, we're just waiting to finish up 466 as the last 7.0-7.1 release and then the L6 will be the next one. I'm using it in production on all my sites with no issues (apart from headaches with the two main |resize plugins, but that's because of my hosting environment, not the L6 upgrade).

You could also chec

[2020-05-21 15:56] multiwebinc commented on #4523
Just FYI, the [Less.php repo](https://github.com/oyejorge/less.php) has now been archived, and the author recommends Wikimedia's fork:

[2020-05-21 16:11] LukeTowers commented on #4523
@multiwebinc we are using the wikimedia fork in the L6 branch

[2020-05-21 16:29] jeremymouton commented on #2108
@tombien 3 years and you're still using <i> for icons? :)

[2020-05-21 17:25] multiwebinc commented on #4381
In response to my [previous comment](https://github.com/octobercms/october/issues/4381#issuecomment-612252526), I looked into the abandoned package errors I'm getting when running `composer update`:

[code]

These are caused by laravel/tinker which requires an old version of psy/psysh, which requires jakub-onderka/php-console-highlighter. This was fixed by psy/psysh in the following commit:

https

[2020-05-21 17:41] LukeTowers commented on #4381
@multiwebinc so they don't use that version in Laravel 6?

[2020-05-21 17:48] tombien commented on #2108
Hi,
yes in some cases.
for example Font Awesome docs still use it:
https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use <https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use>

 And yes I think it is useful for our customers - normal people which can write for example blog post using Froala Editor. And they can put <i> (this is a button in toolbar)
 and the

[2020-05-21 18:00] multiwebinc commented on #4381
@LukeTowers As of Laravel 6.8.0, Tinker was updated from v1 to v2. See: https://github.com/laravel/laravel/pull/5161

[2020-05-21 18:08] tombien commented on #2108
But this is not the problem. This bug is also for span.
You can put <span class=„fa fa-whatever“></span> but you can not put <span class=„zi zi-whatever“></span> - only fa class is accepted - this is the problem - if you have a custom icon font.

[2020-05-21 18:29] empower-josh opened #5084 "Relationfinder on pivot form - A widget with class name has not been bound to the controller"
- OctoberCMS Build: 465
- PHP Version:  7.2.24
- Database Engine: MySQL

### Description:
When using recordfinder on a third model from within a pivot form on two many-to-many models, the initial list will populate, and if you select a record, it will work as expected. However if you try to search or move between pages of results it fails:

[code]

From @LukeTowers via Slack:

### Steps To Reprodu

[2020-05-21 19:13] multiwebinc commented on #4381
@LukeTowers I'm guessing this could be updated in https://github.com/octobercms/library/edit/wip/laravel-6/composer.json ?

[2020-05-21 19:18] LukeTowers commented on #4381
It could be indeed, feel free to submit a PR to the L6 branch with the update. Just checked their changelog for 2.0 and it looks like it was just dependency updates that are all compatible with our 6.x changes so it should be fine to just merge it in no problems.

[2020-05-21 19:21] LukeTowers commented on #5084
@bennothommo this should be really similar to the work you recently did on (filter scopes? dependsOn? either way, same root problem of the relation data not being sent with the popup's requests given it's location in the DOM). Could you take a look at fixing it?

[2020-05-21 19:29] multiwebinc commented on #4381
@LukeTowers Sounds good. https://github.com/octobercms/library/pull/494

[2020-05-21 23:22] SebastiaanKloos commented on #4523
‘’’

li {
  font-family: @primary-font;
}

‘’’

[2020-05-22 00:26] LukeTowers commented on #4523
@SebastiaanKloos FYI, it's ` (a backtick) not ' (a single quote) for code formatting on github.

[2020-05-22 04:44] bennothommo commented on #2108
@tombien If you want this issue to be given priority over others, please consider [placing a bounty](https://www.bountysource.com/issues/34976424-new-rich-editor-froala-strips-out-empty-i-tag) on it.

[2020-05-22 04:49] bennothommo commented on #4523
@SebastiaanKloos have you tried using one of the escaping functions in LESS? http://lesscss.org/functions/#string-functions

[2020-05-22 06:26] SebastiaanKloos commented on #4523
@LukeTowers Yeah I know. Couldn’t find it on my iOS keyboard... 🙈

[2020-05-22 06:28] SebastiaanKloos commented on #4523
I’ll try the escaping functions!

[2020-05-22 10:30] hardik-satasiya opened #5085 "css is broken for (auto-complete) drop-down inside inspector"
![Screenshot 2020-05-22 at 3 55 52 PM](https://user-images.githubusercontent.com/2410795/82658818-4e62dd80-9c45-11ea-91b9-9c205e6f0e54.png)

It seems css is broken for drop-downs inside inspector

step to reproduce
-----
just open any inspector and try to type on auto-complete dropdown.

[2020-05-22 22:01] LukeTowers opened #5086 "Report modified templates in the System Status dashboard widget"
When using databaseTemplates on a site where the content is updated by developers in the filesystem and users in the CMS section, it's too easy for developers to forget to check if any of the files they're trying to make a change in have been modified by the client already, which would prevent the changed file in the filesystem from taking effect.

It would be helpful to have a warning / message o

[2020-05-24 11:03] shiftaltd commented on #4381
I'm trying to install L6 branch i have after a composer udate

`> php artisan october:util set build

In ServiceProvider.php line 128:

  Call to undefined method October\Rain\Translation\Translator::addJsonPath()`

[2020-05-24 20:13] it-werxdotca commented on #5074
I have figured out what the problem is... When using the |theme filter you CAN NOT go further than two directories deep:
`{{'assets/dir/file.png'|theme}}`

What I was doing was going the extra directory.
`{{'assets/dir1/dir2/file.png'|theme}}`

This is STILL a bug. I do not know why it is written this way but hey...

Also, this is the LAST time I intersact with the october CMS team. The experience

[2020-05-24 20:31] mjauvin commented on #5074
Personally, I am accessing 3 levels deep as in:
[code]

[2020-05-24 20:35] mjauvin commented on #5074
And by the way, we kept asking for more details to actually help you but you just wouldn't provide any... other than "it's not working"

I'm sorry but this is not how it works.

 Good luck finding a community that will magically guess and fix your stuff!

[2020-05-24 20:38] LukeTowers commented on #5074
I just tested `{{ 'assets/images/break/break/break/logo.png' | theme }}` and it worked fine. Your description further confirms my believe that this is PEBKAK and you were using the wrong path to your asset and now you're too embarrassed to admit it and are blaming us.

Feel free to prove me wrong, and if this is actually a reproducible bug in October I'd be more than happy to fix it.

[2020-05-24 20:41] LukeTowers commented on #4381
@shiftaltd can you report that in a separate issue along with the full stack trace (if you can get it) and the exact steps you took? I haven't encountered that issue myself and I've moved 10-20 production sites over to the L6 branch without any issues.

[2020-05-25 05:51] bennothommo commented on #5074
@it-werxdotca

And to you too, buddy.

[2020-05-25 05:55] bennothommo commented on #5085
@hardik-satasiya Would you mind providing us with the build of October you are running? Also, it looks like you are running the Builder plugin in your screenshot, would you mind providing us the version of that plugin you are running as well?

[2020-05-25 06:57] hardik-satasiya commented on #5085
Sorry for not posting that information.

[code]

[2020-05-25 07:08] bennothommo commented on #5085
@hardik-satasiya Thanks a lot - we'll take at it soon. :)

[2020-05-25 08:21] shiftaltd commented on #4381
@LukeTowers ok. there si probably something with my not so fresh install. I'll do a fresh one on a new vps to test. Thanks

[2020-05-25 08:37] SebastiaanKloos commented on #4523
Nope didn't work @bennothommo... I think it has to do with it being a variable.

[2020-05-25 12:17] shiftaltd commented on #4381
Sorry. It works. my error was due to laravel\cashier in composer.json. I have to find the L6 cashier version i guess

[2020-05-25 13:25] huynhnamegal opened #5089 "Relation manage filter with Many-to-many relationship"
I have read #4241, and I've tried to use filter to scope data for many-to-many relationships (with Pivot), but it's just work in view, not in manage.
![image](https://user-images.githubusercontent.com/20609668/82816456-5fba1d00-9ec5-11ea-85f7-0d644c0f1532.png)
My relation_config.yaml
![image](https://user-images.githubusercontent.com/20609668/82816530-8415f980-9ec5-11ea-829d-bfd91e42f094.png)
![im

[2020-05-25 16:09] LukeTowers commented on #5089
@alxy did you implement list filters on the pivot manage widget or does that still need to happen?

[2020-05-25 18:53] #5076 closed

[2020-05-26 07:49] thiennv-2147 opened #5090 "Multi Cross-site scripting (XSS) vulnerabilities October Build 465"
- OctoberCMS Build: 465
- PHP Version: 7.4.5
- Database Engine: MySQL
- Plugins Installed:

### Description:
Cross-site scripting (XSS) vulnerabilities in October CMS allow remote attackers to inject arbitrary web script or HTML

### Steps To Reproduce:
================
Reflected XSS: in every function search using parameter "scopeName", "sortColumn"
---------------------------
POC:

POST /october

[2020-05-26 07:51] tomaszstrojny commented on #5090
It's a little too late but take a look here: https://github.com/octobercms/october/security/policy

[2020-05-26 07:57] #5090 closed

[2020-05-26 07:58] thiennv-2147 commented on #5090
@tomaszstrojny  thank you! I closed the issue and sent another email

[2020-05-26 08:00] tomaszstrojny commented on #5090
@thiennv-2147 :+1: but the issue should be probably removed if it's possible. Despite closing it's still visible. If you cannot do it, ask in the email to remove the issue, probably Samuel or Luke will remove it.

[2020-05-26 09:20] #5045 closed

[2020-05-26 09:28] LukeTowers commented on #4947
@Flynsarmy can you test #5071 and verify that it fixes your issue?

[2020-05-26 15:49] shiftaltd opened #5092 "October's Translation service doesn't match Laravel's"
On composer require laravel/cashier on wip/laravel branch the console return
<pre>
php artisan october:util set build

In ServiceProvider.php line 128:

  Call to undefined method October\Rain\Translation\Translator::addJsonPath()
</pre>
a quick fix for this is to paste the following methods
-  in October\Rain\Translation\Translator
<pre>
/**
     * Add a new JSON path to the loader.
     *
     *

[2020-05-26 16:05] #4843 closed

[2020-05-26 17:36] #5092 closed

[2020-05-26 21:26] LukeTowers commented on #5084
@mjauvin this would be related to our discussion in the Discord channel regarding the pivot form not sending the parent form data with every AJAX request.

[2020-05-26 21:28] LukeTowers commented on #4523
@SebastiaanKloos did you submit an issue to the wikimedia Less library that the Laravel 6 branch is now using?

[2020-05-27 01:36] #4947 closed

[2020-05-27 02:21] bennothommo opened #5093 "Allow multiple subdirectory levels in FileDatasource "select" method"
Related:
- https://github.com/octobercms/october/pull/5087
- https://github.com/octobercms/library/pull/315

The `select` method in the `October\Rain\Halcyon\Datasource\FileDatasource` class currently limits its search to allow only a single level of subdirectories. Since this method is used to load up the asset list for the CMS module, this effectively means that people may only store one level o

[2020-05-27 07:22] shiftaltd commented on #5092
@LukeTowers thanks

[2020-05-27 12:40] maartenmachiels opened #5094 "500 error on fresh install"
Hi,

I recently moved a site to a shared server that has roughly the same configuration as my  previous server did. The problem is that every so often, an error 500 appears, intermittently and without a clear cause. As a test, I tried to do a clean install, but the errors seem to persist.

This is the stack trace:

[code]
When I Google these errors, it states that I should run the command `compose

[2020-05-27 15:01] LukeTowers commented on #5094
Try deleting the vendor directory and adding the composer.json file from the repo and then running composer update.

[2020-05-27 15:18] maartenmachiels commented on #5094
Hi Luke,

Just did that and then it throws the following error:

[code]
What do you make of that?

[2020-05-27 16:10] LukeTowers commented on #5094
See https://github.com/wikimedia/composer-merge-plugin/issues/184. If you can, downgrade to Composer 1.x, if not then just remove that part of the composer.json file (note that this means that running composer update from your project root to pull in your plugin dependencies will not work)

[2020-05-27 17:11] RomainMazB opened #5095 "Author's free plugin installation mail alert is still sending when unwanted"
I'm receiving mails everyday when the free plugins I've created are added to a project.

I've unchecked the checkbox in author's settings to not receive them and I thought for a while it was working but then I've submitted some new plugins and now I'm receiving them again.

Don't know (why it would be) if the submission of new plugin is related but I suspect it is.

[2020-05-27 17:21] LukeTowers commented on #5095
Please send an email to hello@octobercms.com

[2020-05-27 17:32] maartenmachiels commented on #5094
Thanks Luke... When I remove the vendor folder now and run `composer update` using the modified composer.json file, I get several errors:

[code]
Thanks for looking into this.

[2020-05-27 17:48] LukeTowers commented on #5094
Remove vendor folder & the modules folder and then run it again.

[2020-05-27 18:03] maartenmachiels commented on #5094
Thank you, Luke. Now it fails with the following message:

[code]

[2020-05-27 18:04] LukeTowers commented on #5094
@maartenmachiels remove the parts of composer.json referencing the tests directory.

[2020-05-27 18:04] RodrigoGalter opened #5096 ""success is not a function" in branch "wip/laravel-6""
- OctoberCMS Build: wip/laravel-6
- PHP Version: 7.4

### Description
When uploading a csv the system stop, and the console displays this error message.

### Message error
Uncaught TypeError: formEl.request(...).success is not a function at october.form.js?v465:153

### Steps To Reproduce:
Upload file csv.

[2020-05-27 18:08] LukeTowers commented on #5096
@RodrigoGalter can you check to see if you have https://github.com/octobercms/october/commit/655c8011b964367949cc76a4caf93e17502eda9e applied locally?

[2020-05-27 18:17] maartenmachiels commented on #5094
Thank you Luke. This is what the terminal outputs after doing this:

[code]
The site itself is running on PHP 7.3.18, but it seems the PHP version of the terminal is on PHP 5.4. As this is a shared environment, I don't really have control over it.

The site is back up again now, but the intermittent issues persist. This is what is present in the logs after the `composer update` command:

[code]

U

[2020-05-27 18:29] LukeTowers commented on #5094
@maartenmachiels honestly, I would move to a different host. Otherwise your best bet would be to find the PHP 7.3 executable on the server and run composer through that so that it downloads the right version of the dependencies for your server.

[2020-05-27 18:33] maartenmachiels commented on #5094
Thanks for your advice Luke, I will contact the provider tomorrow and see if we can get that done... I will post my findings here as soon as I can.

[2020-05-27 18:37] RodrigoGalter commented on #5096
@LukeTowers won't exists this implementation yet.

![image](https://user-images.githubusercontent.com/2292422/83059139-cfe4b200-a02f-11ea-9064-3e27fc741362.png)

[2020-05-27 18:46] LukeTowers commented on #5096
@RodrigoGalter I've just merged the changes into the Laravel 6 branch, building the release right now, will post another comment when it's ready for you to run composer update to pull the fix in.

[2020-05-27 19:22] LukeTowers commented on #5096
@RodrigoGalter you should be good to run `composer update` now to get the latest fixes.

[2020-05-27 19:22] #5096 closed

[2020-05-28 08:47] maartenmachiels commented on #5094
Update: problem solved!

I just got off the phone with the provider. They set `pcre.jit=`0 as an additional directive in the PHP settings (a field to which I did not have access, as this particular hosting is a shared hosting environment).

Even without running any further composer commands, the site now works without error. It seems that this one error triggered the other errors regarding unfound

[2020-05-28 08:47] #5094 closed

[2020-05-28 21:55] mrgswift opened #5097 "Potential vulnerability in jQuery"
Since this is already a public security advisory and a jQuery vulnerability, I am posting it as a public issue.

**Summary:**

[**CVE-2020-11022**](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11022)
In jQuery versions greater than or equal to 1.2 and before 3.5.0, passing HTML from untrusted sources - even after sanitizing it - to one of jQuery's DOM manipulation methods (i.e. .html(),

[2020-05-28 22:53] LukeTowers commented on #5097
@mrgswift I realize that this is already public but I would prefer to have these reports come through privately first. We deal with all security reports very quickly so I prefer to discuss them back and forth over email before public issues are submitted when they may not be applicable.

[2020-05-28 23:25] mrgswift commented on #5097
Understood.  From now on anything related to security will be discussed privately.

[2020-05-29 01:14] LukeTowers commented on #5097
Thanks, I appreciate it!

[2020-05-29 10:22] SebastiaanKloos commented on #4523
@LukeTowers Not yet. I will submit an issue to the wikimedia Less library soon.

[2020-05-30 07:47] vdomah commented on #4840
Trying to mimic the behavior of this feature with my Vdomah.Roles plugin.

The goal is to make two adapter plugins for RainLab.User and Lovata.Buddies. Yesterday I've submitted Vdomah.RolesBuddies plugin. Which do two things: requires Lovata.Buddies and Vdomah.Roles and adds role_id column.

But my plugin was rejected because of guidelines violation.

So column should be named vdomah_rolesbuddies_

[2020-05-30 18:32] msimkunas commented on #3008
I'm experiencing this bug as well. October build 465.

[2020-05-30 21:13] LukeTowers commented on #4840
@vdomah the simple solution is to just prefix it with your author name: `vdomah_role_id`. This should fulfill the requirement from the guidelines, AFAIK nothing says it has to be author_plugin_column, it just has to be prefixed to prevent conflicts with other plugins. In some cases requiring the full author_plugin_ prefix wouldn't even work within some DB column length restrictions.

[2020-05-30 21:17] LukeTowers commented on #3008
@msimkunas can you switch to the L6 branch and test if the issue is still present there?

[2020-05-31 03:21] LarryBarker commented on #4381
I'm not sure if this is related to the move to L6 or not, but I am having a tough time updating my dependencies. I have been working with @LukeTowers to troubleshoot, and have yet to resolve the issue. I have removed `modules`, `vendor`, and all of my plugins, and running `composer update` is throwing the following error:

[code]

I also cannot get the stack trace from the browser because I am get

[2020-05-31 03:55] philip opened #5098 "Difficulties finding the backend"
I struggled to find the backend UI. Here's what I did:

1. curl -s https://octobercms.com/api/installer | php
2. php artisan october:install
3. Opened it in browser (using Valet service)
4. See an 'October Demo' site; w/ 3 pages

But I could not find the backend admin UI; and I saw no indication of one (e.g., no login) in the demo.

IMHO this should be simpler/clearer to find. I ended up guessing

[2020-05-31 07:13] LukeTowers commented on #5098
I appreciate the feedback @philip, be sure to keep an eye out for any other rough spots in the learning experience / documentation. PRs are always greatly appreciated!

[2020-05-31 07:17] SebastiaanKloos commented on #5093
@bennothommo I know the Developer Tools plugin uses the same kind of UI with multiple levels of subdirectory

[2020-05-31 07:23] bennothommo commented on #5093
@SebastiaanKloos you're right - I haven't looked into how that's setup yet, but I'll definitely use that if it works.

[2020-05-31 07:29] alxy commented on #5089
I thought it would work on all manage list, no matter if they included pivot fields or not. Does it work if you do not have pivot fields in your columns, @huynhnamegal ?
In any case, please provide a reproducable example of the bug at the [test plugin](https://github.com/octoberrain/test-plugin) ?

[2020-05-31 07:38] alxy commented on #5089
@huynhnamegal I realised the filter view for the pivot manage list has not been updated accordingly. Maybe this resolved your issue: https://github.com/octobercms/october/pull/5099

[2020-05-31 07:39] LukeTowers commented on #4381
@LarryBarker I just tested adding that package as a requirement to a project running the L6 branch and had no problems, so not sure what's going on there for you. I did however run into that annoying issue with the invalid laravel cache files for the service providers / aliases after removing the package, and I think I've come up with a solution here: https://github.com/octobercms/library/pull/492

[2020-05-31 07:41] vdomah commented on #4840
@LukeTowers thanks, that simplifies things enough.

[2020-05-31 07:57] RomainMazB commented on #5098
@LukeTowers I'll do the job.

Already done in my [AdminBar plugin](https://github.com/RomainMazB/octobercms-adminbar/blob/eaf9cb0c1d24c95a85d91be36e2dc0da370b3f3e/components/adminbar/default.htm#L6), guess the same stuff will be ok for you?

[2020-05-31 08:29] LukeTowers commented on #5098
Works for me

[2020-05-31 08:38] LukeTowers commented on #5097
Fixed by https://github.com/octobercms/october/commit/5c7ba9fbe9f2b596b2f0e3436ee06b91b97e5892, thanks for the report @mrgswift!

@bennothommo is there a way we can tell GitHub what our JS dependencies are so that we can get notified when they release security advisories?

[2020-05-31 08:38] #5097 closed

[2020-05-31 10:59] alvaro-canepa commented on #4840
@vdomah why not duplicate `jwtauth` to support only `Lovata.Buddies`.

[2020-05-31 11:35] vdomah commented on #4840
@alvaro-canepa I’ll try this approach also, may be moving businesses logic code to shared package to require by composer

[2020-05-31 13:27] RomainMazB commented on #5098
@LukeTowers as said on slack, I've been "forced" to do a slightly different way to not be dependent to Twig Extension plugin.
It may exists a better way to do it, let me know if you have a better idea. Let me know!

[2020-05-31 16:28] bennothommo commented on #5097
@LukeTowers we have to define the specific versions we are running in the `package.json` file I've already set up for JS testing - https://github.com/octobercms/october/network/dependencies. At the moment, it see us as running as `^ 3.4.1`, which means we wouldn't have got the advisory as we're saying we can accept versions above that.

[2020-05-31 16:57] LukeTowers commented on #5097
@bennothommo we should probably switch that to be more of a reporting feature than an actual package management file, i.e. specify the exact package versions we use

[2020-05-31 16:59] bennothommo commented on #5097
@LukeTowers yep, agreed, as long as the tests still work. I'll take a look soon.

[2020-05-31 17:30] LukeTowers commented on #5098
Posted my review @RomainMazB

[2020-05-31 19:50] RomainMazB commented on #5098
@LukeTowers Done.

[2020-06-01 04:10] philip commented on #5098
Nice! That was quick :)

[2020-06-01 12:14] freddy38510 commented on #4381
@LarryBarker
I faced the same issue than you.
I found why the class "files" could not be found in this [pull request](https://github.com/barryvdh/laravel-ide-helper/pull/914) .

So, i forked laravel-ide-helper and made a [commit](https://github.com/freddy38510/laravel-ide-helper/commit/7be94e58bd75183e2fa9deaf940405dccd806f52) to fix the issue.

I'm using the fork like this in the composer.json fi

[2020-06-01 13:09] bennothommo commented on #5019
@chrisvidal sorry for missing this. Can you provide a screenshot of the incorrect display of the filters buttons?

[2020-06-01 13:09] #4922 closed

[2020-06-01 23:15] ericp-mrel commented on #4381
I was looking through the route caching item and testing to see if they worked with closures.
I noticed all of the route registrations happen inside of the App::before() calls and I was curious what the original reason for that was. As it stands with the routes for the different modules being registered in that way it causes the route:cache command to fail since it thinks there aren't any routes.

[2020-06-02 01:11] #4993 closed

[2020-06-02 01:11] #5021 closed

[2020-06-02 01:12] bennothommo commented on #4993
@LukeTowers I've only just seen your mention to me - apologies.

I'm in two minds about jQuery in relation to our framework - on the one hand, we've historically always used jQuery, and the effort involved to change that will be great. On the other hand, we've always advertised that October will always support your framework of choice for the public side, at least.

Our framework however creates a

[2020-06-02 01:13] LukeTowers commented on #4381
@ericp-mrel it has to do with when the plugin routes get registered vs the module routes vs any routes added by third party packages. We had an internal discussion about it a few weeks ago and I'll be making some changes to it in the next month or so. Note that any plugin routes are still listed and cached just fine, it's just the module ones that aren't, which isn't really that big of a deal beca

[2020-06-02 01:18] LukeTowers commented on #4993
@bennothommo we wouldn't ever officially support custom framework.js implementations in the backend (if they do that then they have to re-implement every single backend JS plugin), but it would be doable to document the spec of the API so that anyone could implement it however they want. But yeah, I don't have time to take care of this myself either right now.

If anyone wants to sponsor this then

[2020-06-02 06:53] #5089 closed

[2020-06-02 12:57] lautsevich commented on #4959
Such a cool idea! Is there any news?

[2020-06-02 13:00] lautsevich commented on #4306
It would be great to fix it one day.

[2020-06-02 13:41] RomainMazB commented on #5098
@philip Welcome to October: the CMS which get you back to the basic quickly :rocket: :smile:

Feel free to add your idea about [how this link should be named](https://github.com/octobercms/october/pull/5100#issuecomment-636850618).

[2020-06-02 14:00] lautsevich opened #5103 "Extend marketplace bundles with the products developed by 3d party vendors"
There's no possibility to add to the bundle plugin or theme which belongs to other vendors. There are only your products in the select box.

![image](https://user-images.githubusercontent.com/196445/83523471-edf85980-a4ea-11ea-8076-0309d80063d2.png)

It would be great to provide the ability to add 3d party vendors. We believe it will push marketplace purchases, vendors collaboration, and October C

[2020-06-02 14:06] lautsevich commented on #5103
The list of important things that should be discussed:
- restrictions options to disable the ability to add a product to a 3rd party bundles;
- options to sell 3rd party product with on a discounted price as part of a bundle;
- warranty and support for the 3rd party product sold as a part of a bundle.

[2020-06-02 15:18] RomainMazB commented on #5103
I'm not selling any product on the marketplace yet so my mind may not reflect the reality.

As I know: free product can be "added" to a bundle, just by require them in the plugin or theme. So the problem comes only for the paid products.

If so I see both good improvements and problems here:
### Improvements
- It will give some visibility for less-popular plugins which could be added in some popul

[2020-06-02 16:25] LukeTowers commented on #5103
As @RomainMazB said, you can already include free plugins through dependencies. Paid plugins not by the bundle author would be incredibly complex to implement support for because you would get into incredibly complex situations around revenue splitting of bundle sales, handling discounts on the bundle as a whole as well as any discounts that a third party author might have on their product.

Perso

[2020-06-02 16:25] LukeTowers commented on #4959
Haven't heard from @ayumi-cloud for a while, not sure what's up with them.

[2020-06-02 16:49] lautsevich commented on #5103
@RomainMazB, thx for your opinion. As for free plugins, you right they can be added as requirements to the theme and it should be working. But there's a huge bug I've found and described in [here](https://github.com/octobercms/october/issues/4728#issuecomment-558671387).

As for the problems you've mentioned. Thx for the points, I'll add it to the commend above.

[2020-06-02 16:52] lautsevich commented on #5103
@RomainMazB, and as for coupons. There's no possibility to apply a coupon to a bundle while you purchase it.

[2020-06-02 17:17] lautsevich commented on #5103
@RomainMazB, @LukeTowers, as for warranty. I've never purchased a bundle by myself, I just sell bundles. =)) As a merchant I see the purchase of a bundle like that

![image](https://user-images.githubusercontent.com/196445/83548431-6c192800-a50c-11ea-90f1-2a7b79074c6f.png)

I mean, I see 7 purchases of paid plugins included in the "Sneakers Shop for Shopaholic" bundle. I don't have an invoice for

[2020-06-02 17:22] lautsevich commented on #4959
Ouch. Hope he's (she?) safe and well these challenging days!

[2020-06-02 19:17] LukeTowers commented on #5103
The problem still stands when it comes to how to split the revenue with the third party author. If they're charging $50 for their plugin, and you're charging $20 for your bundle, how would they get paid? And even if you're charging $60 for your bundle, what, that means you're only getting $10 for everything you added to it?

It opens up a huge can of worms when it comes to how to split the revenue

[2020-06-02 19:42] lautsevich commented on #5103
The price field should be restricted to the min value of the sum of the 3rd party bundles.

Yep. It's the merchant's responsibility.

@LukeTowers, you should know how things work. I mean setting the price value for a bundle. Let me show to others.

To set the discount to a single product, you should you can set the discount percentage value for a coupon.

![image](https://user-images.githubusercon

[2020-06-02 19:47] lautsevich commented on #5103
Ahaha! I just clicked to the Approved link and saw this modal

![image](https://user-images.githubusercontent.com/196445/83562765-cc1ac900-a522-11ea-88b8-5fac6612000f.png)

I've never used this functionality! Anyway, there can be a restriction to change 3rd party vendor price value. Or there can be an input to apply a personal coupon to discount the value.

[2020-06-02 21:11] lautsevich commented on #5103
Some thoughts.

The list of the bundle products including 3rd party plugin.

![image](https://user-images.githubusercontent.com/196445/83569748-a646f180-a52d-11ea-89e7-b92a5d5e1462.png)

Edit bundle product modal without the ability to change 3rd party product price.

![image](https://user-images.githubusercontent.com/196445/83568993-8236e080-a52c-11ea-8faa-40104ecb560d.png)

Edit bundle product m

[2020-06-02 21:16] lautsevich commented on #4708
Is there any decision regarding the Crowdin service?

[2020-06-02 21:30] LukeTowers commented on #4708
@lautsevich I'm not opposed to using it, I just need to find the time to set it up, and since I don't really use any multilingual features of October it's not high on my priority list right now. If you'd like to sponsor the integration then I could get it done this week for $100, otherwise it'll have to wait until higher priority things like getting the Laravel 6 upgrade out are done.

[2020-06-02 21:30] LukeTowers commented on #4708
It is something that I'll setup eventually, just too busy right this moment to do so unless it was a sponsored use of time.

[2020-06-02 21:32] LukeTowers commented on #5103
Hmm, not bad for UX @lautsevich, there's still the complexity of actually implementing it and dealing with the accounting side of it. I'll pass it along to @daftspunk though.

[2020-06-02 21:34] lautsevich commented on #5103
Great, thx!

[2020-06-03 02:31] bennothommo commented on #4959
I wouldn't mind giving this a try in the future, but it's extremely low priority at the moment.

[2020-06-03 05:39] RomainMazB commented on #4959
Again, just my thoughts about that (a thing I may not understand perfectly):
It's a great feature, even if it's just a customization since theses message will already be shown when using lighthouse with PageSpeed insight.

Watching at some of the WP error message/link in it's stack pack (which is not exhaustive I suppose), what shouldn't be reproduce is the kind of the one for AMP: it definitely p

[2020-06-03 11:13] ayumi-cloud commented on #4959
Sorry been sick for a while (still taking medicines). Hospitals and doctors seem to only treat covid-19 and ignore all other illnesses! Which has only made things worse!

I got a back log of work to start doing this month and this issue would be low priority on my list.

Also there has been some changes at Google camp with this area of development such as the core vitals see here:

![image](https:

[2020-06-03 12:15] ayumi-cloud commented on #4959
I forgot to also add a couple of things:

1. I don't really want to link to people's plugins in the descriptions if they are not maintained or have coding/security issues etc. It puts people's websites at risk who would reply on trusting this tool.

2. Another issues is with some core features, a perfect example is Luke's issue here: https://github.com/octobercms/october/issues/5059 I don't want t

[2020-06-03 12:24] lautsevich commented on #4959
@ayumi-cloud, welcome back!

I believe it would be great not to suggest a specific plugin but saved search results in the marketplace "image optomization" etc.

[2020-06-03 12:36] ayumi-cloud commented on #4959
Hi @lautsevich yah that's a good idea.

I was just thinking ahead and maybe in the future people would ask for their plugin(s) to be added to the descriptions. Then I would think **the admins need to set some sort of criteria to only allow good plugins to be added**.

I'm trying to avoid something like this:

1. I add Plugin X.
2. Later people add reviews saying it's bad or pointless (or);
3. The

[2020-06-03 13:35] lautsevich commented on #5103
BTW, AFAIK this functionality has been planned for the first release of the bundles' functionality. We've discussed it with @alekseybobkov for more than one year ago.

[2020-06-03 13:47] lautsevich commented on #4728
Let me add an additional use-case.

We want to make themes' UI translatable using Rainlab.Translate plugin. It will increase their value for the customer, especially when we're talking about merchants who want to run their new online shop without dev experience.

We can't add such functionality at the moment. Because by default a theme will get a fatal error right after installing if it will have

[2020-06-03 13:56] lautsevich commented on #4728
BTW, IMO it isn't inappropriate discussing payment in case we're talking about software bug.

Resolving this serious bug will allow developers to create more complex and high-quality paid products for the marketplace. More valuable paid products will lead to increasing marketplace revenue. It's win-win-win for the developers, customers and marketplace.

[2020-06-03 16:34] LukeTowers commented on #4728
@lautsevich it comes down to priorities. You say that it's win-win-win, and sure, it would be. However, in terms of direct impact on myself, there's no reason for me to bump this up in priority right now.

As always, for something to get dealt with somebody has to take the time to deal with it.  Right now that isn't going to be me (unless the situation is changed by the requester paying for premiu

[2020-06-03 16:36] LukeTowers commented on #4959
@ayumi-cloud I would say only first party plugins should be specifically recommended (i.e. RainLab plugins), everything else should be a marketplace search term recommendation.

[2020-06-03 16:40] LukeTowers commented on #5103
Yeah, I talked to Sam and it's still in the plan for future functionality to be added. No promises on when it'll be added though, @alekseybobkov's a busy guy.

[2020-06-03 20:45] lautsevich commented on #5103
I know, I know. I've opened this issue to discuss the idea with the community first of all.

[2020-06-03 21:53] LukeTowers commented on #5103
There's not much to discuss AFAIK, it's a planned feature, and as always when it comes to the marketplace there is no guaranteed timeline of when it will be completed. If anyone has any specific problems or suggestions they can think of then they're welcome to add them to the issue of course, but no guarantee they'll be implemented. Voting on it also won't speed it up 😉

[2020-06-03 23:12] RomainMazB commented on #4959
There's where I wanted to come, of course.

Promote third party plugins is not fair for the others concurrent plugins, and in some sort engages the cms responsibility if there is major issue in the plugin.

The next time I will make it shorter to not beat around the bush :+1:

[2020-06-04 00:47] bennothommo commented on #4728
@lautsevich To follow on from @LukeTowers comment, when I had a look at this late last year, I found that the October CMS Marketplace API was a significant reason for the issue, as the Updates & Plugins section as well as some of the CLI commands - especially the ones that deal with Project IDs - is reliant on the payload from the API servers. The maintainers have very little access to this system

[2020-06-04 00:54] bennothommo commented on #4959
@ayumi-cloud

Sorry to hear about your troubles. All the best for a speedy recovery.

[2020-06-04 07:33] lautsevich commented on #4728
Guys, I've got your points. Thx. @bennothommo, am I understood right that this bug cant be fixed without @alekseybobkov and @daftspunk?

[2020-06-04 07:40] bennothommo commented on #4728
That's correct @lautsevich.

[2020-06-04 07:43] lautsevich commented on #4728
Hm. Could you please provide more details? We're considering to help you with this issue.

cc @kharanenka.

[2020-06-04 08:22] bennothommo commented on #4728
@daftspunk and @alekseybobkov are the sole handlers of the Marketplace functionality. You would need to get in touch with them (perhaps via hello@octobercms.com) in order to ascertain if they would accept outside contributions.

I believe there is a way this could be handled on the CMS side, through parsing the theme config ahead of time and requesting plugins that way, but this would still involv

[2020-06-04 11:05] ayumi-cloud commented on #4959
@bennothommo thanks for your kind words, wish you all the best.

[2020-06-04 11:46] mjauvin opened #5104 "mediafinder can't upload when present on the CMS controller"
- OctoberCMS Build: 466
- PHP Version: 7.3.18
- Database Engine: MySQL

After upgrading to build 466, when trying to upload a file using the popup created when clicking a field of type mediafinder, the file does not get uploaded:

- click the field to open the media manager
- click on "Upload" button in the top left handside corner of the media manager popup
- select a file to upload
- file does n

[2020-06-04 12:37] bennothommo commented on #5104
@mjauvin Is there any JS errors appearing in console after the upload? Any errors thrown by the AJAX request for uploading the file?

[2020-06-04 14:54] ayumi-cloud opened #5105 "Add support for Coveralls.io"
I'm currently working on some big repo's in github and they use the following:

- `Travis`

- `Testrunner`

- `Coveralls`

I find it really useful using these things when submitting pull requests as the pr's get fully tested in real-time!

Each thing does a different task (by the way).

These tools then allow the admins to do LESS WORK - as they don't need to check so much!

It would be really gre

[2020-06-04 14:58] LukeTowers commented on #5104
Just tested it on Octodock and can't reproduce it: https://a3756e7ed8b7.octodock.com:8443/backend/october/test/countries/update/2#primarytab-content.

[2020-06-04 15:02] Samuell1 commented on #5105
Already replaced by github actions, that is faster and better. https://github.com/octobercms/october/pull/4633

[2020-06-04 15:03] LukeTowers commented on #5105
@ayumi-cloud we already use GitHub Actions to run our automated testing and quality check suite, see https://github.com/octobercms/october/actions?query=workflow%3ATests. We've found that it's much better than Travis for our needs. Testrunner seems specific to a different kind of testing suite, we already have plans to do more functional / UI tests using Laravel Dusk.

I'm not sure I see the value

[2020-06-04 15:06] LukeTowers commented on #4728
@bennothommo could you explain the issue and what changes are needed on the marketplace side? Shouldn't it be possible to parse the theme.yaml get get the requirements and install them just from with October itself?

[2020-06-04 15:10] bennothommo commented on #5105
We've actually tried out a similar app already, Codecov, for coverage reports when we were using Travis. https://codecov.io/gh/octobercms/october

It's a bit out of date now as I haven't ported it across to Actions yet, but shouldn't be too difficult to revive it.

[2020-06-04 15:10] ayumi-cloud commented on #5105
I give an example:

I create a pr for the new jquery 3.5.1 and upload it to this repo, the following would happen:

- Travis = Test for syntax errors etc.

- Testrunner = Would display any conflicts with the current code in the Travis screen and shows the correct code changes needed in the other files.

- Coveralls = Tests the package size and makes sure I am not making October too large in size e

[2020-06-04 15:12] ayumi-cloud commented on #5105
I really like the `Testrunner` script - it's super useful.

[2020-06-04 15:38] ayumi-cloud commented on #5105
@LukeTowers

Sure no problem.

So taking my example of creating an updated jQuery PR. Test Runner would scan the repo for any conflicts and show the following:

![image](https://user-images.githubusercontent.com/57409060/83777777-b66fe580-a681-11ea-8195-cf9e93631028.png)

In the above example it's saying it found a conflict and shows it in the `base` and then shows the correct code change in the `

[2020-06-04 15:54] lautsevich commented on #4728
The same question. It's a surprise for us to thar some marketplace API should have been affected during resolving thus issue.

[2020-06-04 17:25] LukeTowers commented on #4728
@bennothommo had just typed out a long response but then the app crashed so he'll post it tomorrow instead.

[2020-06-04 17:26] LukeTowers commented on #5105
@ayumi-cloud 😕 I don't quite understand what it's doing? What does "base" vs "calculated" mean in that context?

[2020-06-04 17:33] sqwk opened #5106 "Backend styles parse CSS calc()"
- OctoberCMS Build: 465
- PHP version: 7.2 (Scotchbox Pro 1.5)

### Description:

Using `calc()` as part of the CSS backend styles calculates the value instead of leaving the CSS alone: For example, using `.fr-view { padding-right: calc(100% - 944px); }` to limit the width of the froala editor while keeping the scrollbar at the right ends up as  `.fr-view { padding-right: -844%; }`.

### Steps To

[2020-06-04 17:57] LukeTowers commented on #5106
@sqwk this is because the backend styles are parsed with LESS. See https://stackoverflow.com/a/17904128/6652884 for how you can use calc() in LESS without calculating the value instead.

[2020-06-04 17:57] #5106 closed

[2020-06-04 18:06] ayumi-cloud commented on #5105
@LukeTowers

`Base` would mean the original code in the repo.

`Calculated` would mean the suggested code change in the repo.

---

I've been looking deeper into the test runner and I think it only works on test yml files. So maybe can't be added in a nice way into the October repo - I'm kind of in two minds about it.

As you said:

Laravel Dusk would be best for the laravel. I was just thinking i

[2020-06-04 19:13] ayumi-cloud commented on #5105
Maybe my idea is no good, I leave you to decide if you want to close this issue or not?

[2020-06-04 20:01] #5105 closed

[2020-06-04 23:52] multiwebinc opened #5107 "Send button value in AJAX requests"
I have the following HTML for one of my components:

[code]

In the component's `onAjaxRequest() method, I do:

[code]
This outputs an empty array:

[code]

According to the [`<button>` spec](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button):

Defines the value associated with the button’s name when it’s submitted with the form data. This value is passed to the server in params whe

[2020-06-05 00:11] #4857 closed

[2020-06-05 01:48] bennothommo commented on #4728
@LukeTowers @lautsevich It's a complex issue, I agree, and I'm only basing this off my assumptions of how the Marketplace API works (given that I've never seen the code).

I felt when I went through it at the time that the problem would be better fixed on the Marketplace API side because in my [initial post](https://github.com/octobercms/october/issues/4728#issuecomment-548297082), that particular

[2020-06-05 02:55] LarryBarker opened #5108 "Additional Block::placeholder() causing backend views to render incorrectly"
- OctoberCMS Build: ###
- PHP Version: 7.4
- Plugins Installed: October\Test

### Description:
When trying to add additional `Block` placeholders to the `default.htm` layout, the page is rendered incorrectly.

### Steps To Reproduce:
1. Install the Test plugin if not done so already
2. Update `backend/layouts/default.htm` to add the following after the breadcrumb block placeholder on lines 45-50:

[2020-06-05 03:21] LarryBarker commented on #5108
**UPDATE**

I took a look at the `HtmlBlock` class in the library to see if I could understand better what is going on. I'm still not entirely sure I understand, but I looked at some other views where I have multiple `Block::put()` references. In these views, I am actually wrapping the content of the view inside `Block::put('body')` and it works. So, I thought I would do the same here, and sure en

[2020-06-05 04:40] mjauvin commented on #5104
Hey @LukeTowers, I added the following code to October.Test plugin in your octodock instance directly in Plugin.php's boot() method and that triggers the problem:
[code]
To reproduce:

- Just open any Cms page (or create a new one)
- click on the "images" tab
- click on "featured_image" field
- click on "upload"

You'll see the file doesn't get added as it does in the Playground Users controller.

[2020-06-05 07:33] Samuell1 commented on #5107
Isnt issue that your buttons type is submit but they need to be type `button` ?

[2020-06-05 12:14] kharanenka opened #5110 "Kernel does not register vendor/autoload.php file in plugin folder."
- OctoberCMS Build: 466
- PHP Version: 7.3.13
- Database Engine: MariaDB 10.4.11
- Plugins Installed: [Lovata.Toolbox](https://octobercms.com/plugin/lovata-toolbox) + [Lovata.Shopaholic](https://octobercms.com/plugin/lovata-shopaholic)
### Description:

After change in modules\system\classes\PluginManager.php (line 229), file /vendor/autoload.php from plugin is not registered. Therefore, if you in

[2020-06-05 15:37] mjauvin commented on #5104
@bennothommo no errors in JS console, no errors in system.log

[2020-06-05 15:44] mjauvin commented on #5104
Interesting, the image actually uploads but ends up under the active theme's assets/images folder... how is that even possible?

[2020-06-05 15:46] mjauvin commented on #5104
Actually, that's in my local install... on the octodock instance reference above, it ends up under the theme's assets folder.

[2020-06-05 16:30] multiwebinc commented on #5107
@Samuell1 Maybe I didn't explain the issue well enough. The issue is that the name/value pair of the submit button are _not_ being sent to the server, but they _should_ be. A `<button type="button">` should not have its value sent to the server, and in fact wouldn't even submit the form at all if pressed.

Here's a quote from the [PR I submitted](https://github.com/octobercms/october/pull/5109):

[2020-06-05 16:39] LukeTowers commented on #5104
@mjauvin thanks for the added info, I've been losing my mind digging deep into the internals for Symfony's UploadedFile. I think I know what the issue is now.

[2020-06-05 22:01] #5104 closed

[2020-06-05 22:13] LukeTowers commented on #5107
I'm going to mark this as a pending enhancement since the AJAX framework has never behaved this way and we're focusing on getting 466 as stable as possible and then launching the L6 upgrade. Once those are done we can review and implement this.

[2020-06-05 22:47] LukeTowers commented on #5110
Tested this and it seems to only be an issue on the installation, after they're installed they work just fine. Might be some sort of race condition where the required plugin's autoload file is not loaded before the requiring plugin runs its migrations? Seemed to only happen in the completeInstall step, in $this->updatePlugin() of the update() method of the UpdateManager class.

@bennothommo could

[2020-06-06 02:37] bennothommo commented on #5110
@LukeTowers when you tested this, what was installed first? Shopaholic or Toolbox?

[2020-06-06 02:41] LukeTowers commented on #5110
@bennothommo Shopaholic and then Toolbox. Note that some of the migrations worked but some of the ones related to the settings section seem to have failed because navigating to the settings pages for the plugin give me table not found errors.

[2020-06-06 02:47] bennothommo commented on #5110
@LukeTowers ah I see, so it might indeed be a race condition. Toolbox should be installed first because it is the dependency. That being said, plugins are not supposed to be loaded in any update functionality, which is why there's a different outcome when the plugin is elevated.

@kharanenka does Shopaholic rely on Toolbox as part of the migrations?

[2020-06-06 08:21] ayumi-cloud commented on #4959
To make our Lighthouse pack more useful to developers - I plan to link to external useful developer tools, as October's marketplace plugins do not cover everything developers need to build websites.

I can give an example of this, Responsive Image Breakpoints Generator Tool can be found here: https://www.responsivebreakpoints.com/

The tool makes it easy to work out the break points for responsive

[2020-06-06 12:26] Cobyheart opened #5111 "Nestedform widget not translatable (e.g. when used with static pages)"
- OctoberCMS Build: ### 465
- PHP Version: 7.3

- Plugins Installed:
rainlab.pages-v1.3.3
rainlab.translate-v1.6.7

### Description:
Using a nestedFrom form widget in a static page layout should provide translatable fields in the static pages plugin. Which is not the case.

### Steps To Reproduce:
Create a yaml in your theme folder e.g.
[code]

Create a layout for a static page.
Add a nestedForm
[

[2020-06-06 16:00] msimkunas opened #5113 "JS form widgets are not properly disposed of in the relation manager"
- OctoberCMS Build: 466

### Steps To Reproduce:

1. Create an instance of a relation manager that manages a form with some field dependencies in it.
2. Click the "Create" button in the relation manager to open up a popup with the form.
3. Trigger a reload of a dependant field by modifying the value of the field it depends on. A single `onRefresh` request is sent to the backend. Close the popup.
4

[2020-06-06 23:25] twistedindustries commented on #3594
I'm experiencing the exact same issue, here is my config_relation.yaml

`questions:
    label: 'Questions'
    view:
        list: $/mj/entry/models/entry/questions_columns.yaml
        toolbarButtons: add|remove
        recoredsPerPage: 40
        showSearch: true
        scope: isGameQuestion
    form: $/mj/entry/models/entry/questions_pivot_fields.yaml
    manage:
        list: $/mj/entry/model

[2020-06-07 16:42] LukeTowers commented on #3594
@alxy or @DanHarrin would you like to take a stab at this?

[2020-06-08 11:56] digininja opened #5116 "Installer doesn't check for mod_rewrite being enabled and .htaccess permissions"
- OctoberCMS Build: whatever the latest is from the automatic installer
- PHP Version: 7.2
- Database Engine: mariadb
- Plugins Installed: None

### Description:
The wizard installer doesn't check that mod_rewrite is installed so after the install has finished AJAX framework demo in here fails as you are walking through the first pages of the newly installed site

`/demo/ajax`

I assume the rest o

[2020-06-08 12:00] ayumi-cloud commented on #5097
@LukeTowers @bennothommo as I said in the past a few times, use this: https://snyk.io/ or https://github.com/apps/whitesource-bolt-for-github

[2020-06-08 15:34] ayumi-cloud commented on #4959
[code]

[2020-06-08 16:32] LukeTowers commented on #5097
@ayumi-cloud GitHub has a tool for dependency vuln reporting built in, we just need to adjust our package.json to make it known to GitHub what dependencies we're using for JS. I believe it's on @bennothommo's todo list, but if you'd like to do it, go ahead!

[2020-06-08 16:33] LukeTowers commented on #5116
@digininja do you know of a way to programmatically check for that? Also, keep in mind that October supports being run by more than just Apache, we also support nginx and IIS.

[2020-06-08 16:44] digininja commented on #5116
You could check for the mod_rewrite by trying to access a file which it
gives you access to, if you get a 404 then it isn't in place.

Not sure about the htaccess, maybe put one in a directory and access a file
in there, if you get a 500 then something is wrong. Do this before the
rewrite as you use htaccess to set that up.

I'm sure there are plenty of ways to detect Apache Vs nginx etc.

On Mon,

[2020-06-09 00:11] #5020 closed

[2020-06-09 00:11] #5029 closed

[2020-06-09 01:21] bennothommo commented on #5116
@digininja There's isn't really a reliable way to determine the availability of `mod_rewrite` directly - there is the [`apache_get_modules`](https://www.php.net/manual/en/function.apache-get-modules) method that PHP provides, but it is only available if a) you're running Apache and b) you're running PHP as an Apache module (so not through CGI, FPM or a similar handler).

We could do a check to det

[2020-06-09 01:25] bennothommo commented on #5097
@LukeTowers I tried that out - the only (really minor) issue is that specifying all these dependencies is that when `npm install` is run to do the tests, it downloads all these dependencies into the `node_modules` folder, even though they aren't needed for the tests.

I was hoping to have `npm` deliver these dependencies into the folders we have them in October (potentially giving us a decent mech

[2020-06-09 01:44] LukeTowers commented on #5097
Oh well, even just having them recorded centrally and being tracked by GitHub is an improvement. Is Yarn any better? I don't really know anything about JS package management

[2020-06-09 05:50] LukeTowers opened #5118 "Add support for Html::purify($html, $options)"
Refs discussion in https://github.com/rainlab/blog-plugin/commit/6ae19a6e16ef3ba730692bc899851342c858bb94.

October already has `Html::clean()` which is lightweight method for protecting against XSS attacks by sanitizing provided HTML to remove potential XSS attempts. This is mostly used for situations where the providers of the content are already in a privileged / somewhat trusted role (i.e. aut

[2020-06-09 05:58] bennothommo commented on #5097
@LukeTowers I think Yarn has the same limitation. It's no big deal, it just would've been a nice-to-have.

[2020-06-09 06:14] digininja commented on #5116
You could do the check during the installation rather than after.

I'll see if I can knock something up that works.

On Tue, 9 Jun 2020, 02:22 Ben Thomson, <notifications@github.com> wrote:

[2020-06-09 07:52] kharanenka commented on #5110
Hi @bennothommo ! Yes, some plugin migrations of **Shopaholic** plugin add tables and transfer data. Data transfer is associated with calling of model class objects. The model class contains traits from **Toolbox** plugin. Traits are installed as composer packages in **Toolbox** plugin.

[2020-06-09 08:43] bennothommo commented on #5110
@kharanenka Thanks for the info. So in that case, it's definitely a race condition in that Shopaholic is installed first, and its migrations run, before Toolbox. We'll get a fix ready for it in build 467 which should hopefully be out within a week or two. In the meantime, you may need to instruct your users to install Toolbox first, then Shopaholic.

[2020-06-09 08:45] kharanenka commented on #5110
Thanks for quick fix! Have a nice day

[2020-06-09 09:01] digininja commented on #5116
Give this a try, it tries to make a request to a file in a directory which setups a rewrite rule with .htaccess. From my brief checks, if .htaccess isn't allowed, then the server gives back a 500, so detecting that suggests .htaccess failed. By requesting the file after the rewrite, if it gets a 404, then the rewrite failed so mod_rewrite isn't in place.

https://github.com/digininja/october_apach

[2020-06-09 09:03] digininja commented on #5116
This should work from any directory the CMS is installed into, I tried it in a random directory and in the root and both worked as expected, but that could do with a bit more checking, as could the way I pull out the current directory - that will fail if you have index.php in the URL, I couldn't remember if you did or not.

[2020-06-09 09:23] tobias-kuendig opened #5119 "Usability issues with persisted backend list state"
We often get feedback from customers, that the persisted backend list state is confusing to them.

I do understand the use-case for it: If you navigate to page 3 of a list and edit a record, you should get back to page 3 of the list after saving.

The confusion arises if you navigate to another Plugin's list and return some minutes later and expect a "fresh list view" but you somehow are still on

[2020-06-09 09:59] msimkunas commented on #5118
Although I do agree that adding a `purify` filter has the potential to encourage poor practices performance-wise, it would still be useful in cases where the author of the plugin did not perform proper sanitization on input and it is now left up to the end user of the plugin to purify that data on output. Obviously, this is not a long term solution and the issue should eventually be fixed in the c

[2020-06-09 11:25] msimkunas commented on #5113
Since it's the responsibility of the form widget to properly cleanup after itself, I've been thinking about a solution that would involve adding the following event listener to the end of the `init()` method of `october.form.js`:
[code]
If the form is inside a popup, closing that popup would call the `dispose()` method of the form and perform the necessary cleanup. This seems to solve the issue ou

[2020-06-09 11:45] pablorq opened #5121 "Builder - Plugin - Seed error when version selected"
- OctoberCMS Build: 465
- PHP Version:  7.2.31
- Database Engine: mysql (docker)
- Plugins Installed:
rainlab/debugbar
rainlab/builder

### Description:

When a seed php file is created and added to plugins version file, you get an error when try to apply that version.

The error is:
`'Version file /var/www/html/plugins/[user]/[plugin]/updates/seed_cards.php is not found.'`

I'm using Docker on Wi

[2020-06-09 13:53] Cobyheart commented on #5111
Bounty added! 50$
https://www.bountysource.com/issues/91663754-nestedform-widget-not-translatable-e-g-when-used-with-static-pages

[2020-06-09 17:27] LukeTowers commented on #5118
@msimkunas even in that case you can easily work around it:
[code]

[2020-06-09 17:33] LukeTowers commented on #5110
@kharanenka can you test out #5120?

[2020-06-09 17:35] LukeTowers commented on #5119
@tobias-kuendig I think probably a better solution would be making it more obvious to the user that they are not on a clean list state, perhaps some sort of visual indicator or an obvious "reset" button?

[2020-06-09 17:36] LukeTowers commented on #5111
Solution WIP here: https://github.com/rainlab/translate-plugin/pull/584

[2020-06-10 03:00] bennothommo commented on #5116
@digininja Makes sense. Would you be willing to provide a PR to the [Installer repo](https://github.com/octobercms/install/) that implements this check? I think it would need to happen after the rest of the installation steps are completed, to ensure that everything is set up correctly before the test occurs.

[2020-06-10 03:25] bennothommo commented on #5121
@pablorq Unfortunately I cannot replicate the issue - I could create and run a seeder with no issues here (https://36195d4a5ae5.octodock.com - login: admin / admin). It could potentially be a problem with your Docker setup.

[2020-06-10 03:46] #5110 closed

[2020-06-10 04:04] LukeTowers commented on #5116
@bennothommo is there something in the standard recommended server config that we could check to make sure it's working before the install process begins? Or is there something that we could put into the standard config?

[2020-06-10 04:30] pablorq commented on #5121
@bennothommo
Thank you for your feedback.

Are you using Windows 10 as the Docker host? In this case, which version of Docker do you have? I'm thinking about a problem related with Docker over Windows and file permission issues.

By the way, I have no problem with other files (models, controllers, components, etc.).

Thank you in advance!

[2020-06-10 05:20] pablorq commented on #5121
## [CRAZY] Workaround

I've found a workaround, but it's not the easy way to do the things. But first: the tests.
In all the tests the content of the files are the same as the ones detailed on the first post. Only a few file name modification are done:

- `version.yaml` file has no modification over all the tests.
- `seed_cards.php` gets some name modification over the tests.

### Test 01 - Do not

[2020-06-10 07:04] digininja commented on #5116
I think it would be better to do these checks before the install rather
than after. From memory you have a page that checked a few things that were
needed were in place, it could go with those.

I think it would be better to warn the user earlier rather than later if
things might not work for them.

And I'll see if I can do a PR, I've not looked at your code but it
shouldn't be that hard to work o

[2020-06-10 07:51] bennothommo commented on #5116
@LukeTowers we can do an attempted rewrite with a stub file (as @digininja's suggestion does), but my concern is that, at least for Apache hosts, this may not be reflective of the `.htaccess` file that our Installer downloads and installs.

[2020-06-10 07:58] digininja commented on #5116
I haven't dug into what other things the `.htaccess` puts in place but we
might be able to check for those as well.

I think that even if we can't, at least making a few extra checks is worth
doing. My install was on a freshly installed Debian box (I might have
broken the htaccess permissions myself, I can't remember) but mod_rewrite
was definitely not enabled by default, so that would be caught w

[2020-06-10 08:20] bennothommo commented on #5121
@pablorq That still sounds like a Docker issue to me - maybe Docker on Windows has trouble seeing filesystem changes or something similar. Note that we although October CMS does work on Docker (such as the case with the Aspen Digitial Docker image you are using), it is not "officially" supported, so your best bet is to ask around on [Discord](https://discord.gg/gEKgwSZ) and see if someone has enco

[2020-06-10 08:20] #5121 closed

[2020-06-10 08:23] bennothommo commented on #5119
I prefer the state to remain as is, even jumping to different sections, but I'd be up for an option that allows developers to set a list to not keep its state if its likely that people will always want the first page (like, say, a log viewer).

[2020-06-10 08:31] Flothus commented on #5111
Thanks LukeTowers! Could you test it?
I have just tried and the picker is not appearing yet. Cmd + click on another picker will also change the language for all fields but not for the ``nestedFom`` yet.

What I don't get is if you delete/rename the MLnestedform.php there is no error when you open a static page in the backend that requests the nestedform. If you remove the MLRepeater it will throw

[2020-06-10 09:51] Cobyheart commented on #5111
Thanks Luke, did you manage to test it?
I have just tried and the picker is not appearing yet. Cmd + click on another picker will also change the language for all fields but not for the ``nestedFom`` yet.

What I don't get is if you delete/rename the MLnestedform.php there is no error when you open a static page in the backend that requests the nestedform. If you remove the MLRepeater it will thro

[2020-06-10 16:10] RomainMazB opened #5123 "Add some UI customizations options to checkboxlist"
Hi everyone, I've just used widely the checkboxlist widget in a project and faced some "annoying" behaviors which I've fixed locally in my project.

I feel like it could be good to share my work as a PR, but wanted to discuss about it before:

IMHO checkboxlist need some basics "improvements" like the PR I've made previously for the default checked state: #5122

Today I've faced another example: t

[2020-06-11 08:13] yehudahkay commented on #3418
I wouldn't have thought to delete to deactivate, perhaps this could be made clearer in the ui

[2020-06-11 10:02] Samuell1 commented on #5116
Maybe something similar BoltCms did can be implemented in installer https://docs.bolt.cm/3.7/howto/making-sure-htaccess-works#test-if-mod-rewrite-is-working

[2020-06-11 11:34] digininja commented on #5116
That is pretty much what my script does mine is just slightly more granular
to try to work out of it is htaccess or mod_rewrite is broken.

On Thu, 11 Jun 2020, 11:02 Samuell, <notifications@github.com> wrote:

[2020-06-11 13:02] schmauch opened #5124 "Mail with two view files for html and plain text alternative isn't working properly"
- OctoberCMS Build: 465
- PHP Version: 7.0.28

### Description:
When using the Mail fascade to send mail with an array of two view files as first argument (the one for html the other for plain text - as written in the docs)  isn't working properly. The first file is used for both parts in the mail. Using array keys or not doesn't matter.

The docs says:

### Expected behavior
The mail message shou

[2020-06-11 14:51] RomainMazB commented on #3305
Hi,
Just to add an information, this issue exists since 2017 and I'm surprised nobody mentioned the `allowedBlankTags` option of Froala: https://froala.com/wysiwyg-editor/v1-2/docs/options/#allowedBlankTags

@michael To avoid this, you just need to create a custom script, target the RichEditor and call this method:
[code]

[2020-06-11 14:57] Cobyheart commented on #5111
Do you have a guess, what is missing/needed to get it to work?
I would give it another try.

[2020-06-11 15:02] LukeTowers commented on #3418
@yehudahkay any suggestions?

[2020-06-11 15:03] yehudahkay commented on #3418
A simple idea would be to change the delete icon to a deactivate button the view deleted to view deactivated

[2020-06-11 15:05] LukeTowers commented on #3418
Feel free to make a PR with a screenshot of the changes :)

[2020-06-11 15:24] LukeTowers commented on #3305
@RomainMazB could you add support for that to the backend editor settings page?

[2020-06-11 15:56] RomainMazB commented on #3305
@LukeTowers sure! Only for the `i` tag?

[2020-06-11 16:26] msimkunas opened #5125 "Add a user preference option to enable/disable Gravatar"
There should be a user level preference to enable/disable Gravatar avatars that is set to `false` by default because of privacy concerns. The current behavior is to use Gravatar when no user avatar is present.

Currently, there is a way to overcome the problem by setting the user avatar manually: https://octobercms.com/forum/post/how-to-remove-gravatar-url-calls?page=1#post-30194

It's a hacky sol

[2020-06-11 16:57] LukeTowers commented on #5125
It wouldn't be a user preference, it would be a config option.

But actually, what would be a better idea is if no avatar was assigned to a user when the user is created (and existing users with no avatar), the server itself makes the request to Gravatar to get the image for that user and then stores it locally as if the user had used the image. That way there is no privacy concern as the server i

[2020-06-11 17:08] msimkunas commented on #5125
Caching the initial request sounds like a good improvement. However, I still think it would be better to give the user control over whether an initial request is ever made.

October [sends ](https://github.com/octobercms/october/blob/439ed2cc33a1c4ec37a862d640ab7736fd193325/modules/backend/models/User.php#L114-L118) an `md5` hash of the email to Gravatar. The privacy concern here needs further inv

[2020-06-11 18:00] LukeTowers commented on #3305
Default to the `i` tag but it would be a settings field so anyone could add their own preferences to it.

[2020-06-11 18:01] LukeTowers commented on #3305
So yeah

[2020-06-11 18:04] LukeTowers commented on #5125
@msimkunas that doesn't apply in this case as the MD5 hash would never be revealed to anyone but Gravatar, and Gravatar doesn't receive any information as to what site is making the request so there is 0 risk to it. "Recovering" original content from md5 hashes is really just making brute force / dictionary attacks against it that rely on it being so fast to do on modern hardware, which is why you

[2020-06-11 18:05] LukeTowers commented on #5125
@msimkunas the problem that StackOverflow had was that user's usernames & gravatar URLs were public information, but not their emails. This meant that using brute force and dictionary attacks combined with the public gravatar URLs they were able to attach the emails used for the accounts to the accounts.

[2020-06-11 18:06] LukeTowers commented on #5125
And finally, you can control the request ever being made in the first place, by overriding the User model (when this proposed change is implement) to prevent the initial request from occurring or overriding the partial that renders the gravatar URL in the browser to prevent it from using gravatar.

[2020-06-11 18:07] RomainMazB commented on #3305
Ok. You can count on me.

[2020-06-11 18:21] msimkunas commented on #5125
Thanks for clarifying this. I wasn't sure about how Gravatar actually works because I've never really used it that much.

Yes, I'm well aware of that. That is part of the reason why I raised this issue after all. However, if there is no perceivable way to match user info with Gravatar URLs then I suppose there really is no privacy concern here.

That is, unless, October is used in a way where the

[2020-06-11 20:35] LukeTowers commented on #5125
@msimkunas I would say that the particular use case described is unlikely to be widely spread, so it would justify a bit of extra code in that case. Either way, implementing a local caching of gravatar images would solve any privacy concerns for pretty much all cases anyways.

[2020-06-11 20:37] LukeTowers commented on #5125
When we're maintaining and building a platform that's used by thousands upon thousands of projects around the globe, we have to very carefully consider every public API surface we introduce (whether that's events, public methods, configuration, or user preferences). Right now, I think the best solution to this problem is the one that I proposed above rather than adding a user configuration option.

[2020-06-11 20:42] msimkunas commented on #5125
@LukeTowers Fair enough. Although I don't see how caching those avatars does anything to improve _privacy_ here. It most certainly directly impacts _performance_ and not privacy. The user email is still sent to the Gravatar servers (albeit in a hashed form) irrespective of whether it is the user's browser or the web server itself.

[2020-06-11 20:46] LukeTowers commented on #5125
The privacy concern around gravatar isn't an email being sent to gravatar, it's public access to the hashed form of that email when developers aren't aware that the email can be determined from the hash. Locally cached files solves this problem by no longer providing the hash of the email to anyone but the server itself and gravatar in a single request.

[2020-06-11 20:51] msimkunas commented on #5125
Ah, yes. That slipped my mind for some reason...

I'll try to look into implementing your proposed change if I get the time.

[2020-06-12 00:11] #5034 closed

[2020-06-12 03:54] LukeTowers commented on #2794
This has been fixed by #5077 & https://github.com/octobercms/october/commit/e8dca35c15a16dd31ef5b21d80375bbd5eec1c94

[2020-06-12 03:54] #2794 closed

[2020-06-12 09:47] LukeTowers opened #5127 "Don't redownload existing plugins when attaching a project ID to an instance of October"
Current behaviour:
- When you attach a project ID to an October instance that already has plugins in it, and those plugins are also available on the marketplace, the updating system will automatically attach all of those plugins to the marketplace project and then redownload them, overwriting the files that already exist in the instance.

This is a massive pain for two reasons:

1. You could be us

[2020-06-12 09:58] LukeTowers commented on #5127
Note: it appears that the free plugins aren't added to the project, but they're redownloaded anyways, which makes this nonfeature even more annoying

[2020-06-13 19:24] LukeTowers commented on #3819
With composer 2.0 supporting filtered repositories (see https://php.watch/articles/composer-2), any plugins / themes provided by the marketplace acting as a composer provider should be namespaced under october-plugin/author-plugin and october-theme/author-theme, and then the composer files returned by the packages should take advantage of the [custom installer name property](https://github.com/com

[2020-06-14 01:47] vakopian commented on #4335
Unfortunately this bug is still not fixed in the latest build 466. I just tried my test project and got the same error as @woshj.

This bug was a major blocker for the project I was attempting with octobercms and I spent many hours trying to fix it myself in the core, without success. This endeavor has proved to me that the enormous complexity in this framework is just not worth the effort (a bug

[2020-06-14 08:10] GinoPane commented on #4976
Please don't close

[2020-06-14 18:25] lucacalcaterra commented on #4927
I cannot get to work . Issues with librarie conflict. Can you confirm It still work on current version of oct cms ?

[2020-06-14 20:06] LukeTowers commented on #4927
@lucacalcaterra you'd probably be better off writing a plugin wrapper for https://github.com/DirectoryTree/LdapRecord-Laravel targeting the L6 branch of October (which should be released in a couple weeks.