[2018-06-28 02:16] Gamertech commented on #3596
Yea, editing the timezone in the config while logged in will prevent normal logout and keep the session live.
It sometimes recognises that the session has ended and kicks you back to the login page when browsing, but continues to allow access if you browse back to the backend page.
It's trying to invalidate the session but is being overridden by something to still allow access. I'm moving time for

[2018-06-28 02:50] LukeTowers commented on #3611
@seriousken I feel like the proper fix for this would be in the FormWidget to ignore fields that don't change and not even send it to the model. If we make changes to the model class then that will have effects on lots of other pieces, not just the form usage.

[2018-06-28 02:53] LukeTowers commented on #3610
I'm thinking more so retaining the pagination when you've applied a filter, navigated some of the pages, and then leave and come back in the same session. Thoughts on providing a way for the user to always have a way to go back to the first page?

[2018-06-28 02:55] LukeTowers commented on #3596
@Gamertech feel free to dig deeper and see if you can come up with a PR to fix that

[2018-06-28 02:57] LukeTowers commented on #3615
@ayumihamsaki if there are any specific security vulnerabilities to report with a marketplace plugin, please email hello@octobercms.com and cc octobercms@luketowers.ca. Plugins submitted to the marketplace by @alekseybobkov but there isn't enough resources to perform pentests on all submitted plugins so we rely on users reporting anything non-obvious.

[2018-06-28 03:04] LukeTowers commented on #3606
@jlongo if you can come up with a list of characters that we should prevent on all major filesystems then we should be able to make something work with regex.

[2018-06-28 03:06] LukeTowers commented on #3614
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2018-06-28 04:30] LukeTowers commented on #2747
@meysammahfouzi what do you mean by "apparently"?

[2018-06-28 07:47] SeriousKen commented on #3611
@LukeTowers when setting an attribute to an empty string, saving and then reloading the model the value is NULL, so the model effectively converts an empty string to NULL when saving. In fact, it trims the string so a string full of spaces will also be NULL when the model is reloaded. So I feel that the model should not consider itself dirty if its attributes produces no change in the final file.

[2018-06-28 08:08] meysammahfouzi commented on #2747
@LukeTowers I mean if I am not doing it wrong! Because when I log `$relatedModel->pivot`, it's logged as an empty array `[]`.

[2018-06-28 09:13] CSNWEB opened #3617 "Composer.json not downloaded with plugin"
##### Expected behavior
When I install a plugin its composer.json is downloaded as well so the wikimedia merge plugin can work

##### Actual behavior
For some reason it composer.json (and lock) are missing, at least when I try to install: https://github.com/scottbedard/oc-debugbar-plugin

##### Reproduce steps
Install the debugbar plugin

##### October build
437

[2018-06-28 11:11] JurekR opened #3618 "Image file attachments in the model seem to have pretty slow SQL queries"
##### Expected behavior
Fast, optimized queries. A way maybe to actually use a field in the models table instead of the octobercms management tables.

##### Actual behavior
Since the attachments itself are then saved in some octobercms internal table, your query will be "fixed" to work then.

##### Reproduce steps
E.g. you populate a large list of models having a image file attachment inside, the

[2018-06-28 11:38] ayumihamsaki commented on #3615
@LukeTowers Hi Luke I hope all is well your end.

In the past I have reached out to various developers and told them about there security issues with there plugins and 100% seem to either not care or can not be bothered.

I will give you some brief examples of issues but I will be honest and say most likely over 90% of the plugins in the Marketplace have very bad security vulnerabilities! There ar

[2018-06-28 11:59] ayumihamsaki commented on #3615
I think one solution would be to fully intergrate HTMLPurifier into OctoberCMS Twig and then send out emails to every dev plugin owner and tell them to change the `|raw` tags into `|purify` tags! That would be a start.

[2018-06-28 12:50] salehasadi commented on #2807
@daftspunk hi, i tried your solution but it throws this error:

[2018-06-28 14:34] LukeTowers commented on #2807
@salehasadi use the File helper class, not the File model class. I.e. `use File as FileHelper;` then `FileHelper::put()` not `use System\Models\File;`

[2018-06-28 14:45] LukeTowers commented on #3615
@ayumihamsaki I understand your concerns, however I'm not convinced that any of these issues are actionable security flaws, perhaps I'm misunderstanding something.

In regards to the form builder plugin's use of `| raw`, all of the values passed to that filter come directly from the application, so I don't see how that counts as XSS since anyone with access to change those values has access to cha

[2018-06-28 14:47] salehasadi commented on #2807
@LukeTowers thank you i'll check it.
i found another solution in stack overflow with **fromData** method my october version was old i updated it and method Became available.

[2018-06-28 17:22] ayumihamsaki commented on #3615
@LukeTowers my explanations are probably bad, I try explain.

The `|raw` tag issue, a hacker just needs to insert code into the database (easy to do) and there is no sanitation and validation to stop the hacker being able to carry on the work needed. Nothing is getting blocked.

The `this.page.url|app` issue, the code is letting any URL pass, so if a hacker redirects the user after submitting the

[2018-06-28 17:29] ayumihamsaki commented on #3615
(Better if some professional security experts could chip in).

[2018-06-28 17:54] brunocascio commented on #3612
@LukeTowers  Have you any plans to implements this soon?

[2018-06-28 18:17] ayumihamsaki commented on #3615
I know you are not a lawyer, but...

I am a bit curious to know, under GDPR laws would October Website be liable for storing and serving Security Vulnerability plugins without doing fulls checks to make sure they pass the most common security issues?

Plus is it ok to download the free and paid plugin, contact the developer about the issue, no response or action taken to fix the problem. Patch and

[2018-06-28 20:58] jlongo commented on #3606
@LukeTowers  in my previous comment there is a link where are shown the reserved chars and also the allowed ones in the most used OS.
Thanks

[2018-06-29 03:01] LukeTowers commented on #3615
@ayumihamsaki

That's not exactly the case; nothing in life is black and white and the same holds true here. I'll address each of your concerns in the following response:

1. `action="{{ this.page.url | app }}"` being a potential Open Redirection Attack:
Firstly, let me say that this isn't an Open Redirection Attack, that would be User -> Trusted Site -> Malicious Site. IF an attacker was able to

[2018-06-29 03:03] LukeTowers commented on #3612
@brunocascio not unless someone sponsors it or does it themselves and submits a PR. See the standard response below ;)

The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Co

[2018-06-29 03:32] daftspunk commented on #3608
IIRC to explain the issue, the framework is converting a "JSON-like" string in to a JS object. I say JSON-like string because it's actually a JS-object string. For example, this is a valid JS-object:

[code]

However, it is not valid JSON to parse JSON it requires this

[code]

Essentially it means the difference between

[code]

and

data-request-update="'targetId': 'partial'"

( note the extra '

[2018-06-29 03:59] LukeTowers commented on #2807
@salehasadi ah yes, definitely go with `File::fromData` instead

[2018-06-29 04:18] #3606 closed

[2018-06-29 04:56] LukeTowers commented on #3618
What exactly is this issue supposed to achieve? You have provided zero information on specifics, this reads like a vague "do better" comment. If you have a specific issue with detailed information then post that, otherwise we don't have time for vague complaints.

[2018-06-29 04:56] #3618 closed

[2018-06-29 05:02] LukeTowers commented on #3617
This is done on purpose for all marketplace plugins. The marketplace build process pulls all composer dependencies into each plugin's /vendor directory and then removes the composer.json and composer.lock files from the plugin. This is done to support both users that don't use composer and users that do. Users that don't use composer need to have those dependencies present in the plugin's vendor d

[2018-06-29 05:02] #3617 closed

[2018-06-29 05:12] LukeTowers commented on #2747
@meysammahfouzi try `$this->model->{$this->relationName}->pivot`

[2018-06-29 07:04] MeLlamoPablo commented on #3608
Off the top of my head, the easiest way is [JSON5](https://github.com/json5/json5). For example:

[code]

That piece of code alone is 28KB minified and 7,9KB minified + gzipped, including the JSON5 dependency. Kind of sucks considering that's almost 50% of [moment.js](https://momentjs.com)' build size, excluding locales, for essentially JSON with steroids. However if that's acceptable to you, then

[2018-06-29 09:34] riartem commented on #3158
@roulendz
### For future readers
**(Checked in October 437 and fully works solution)**
To solve that case we need to define the [Accessor](http://octobercms.com/docs/database/mutators#accessors-and-mutators) in the model class.

[code]

// And in the config_filter.yaml we call new "virtual field"
[code]

[2018-06-29 12:59] MattMcManis commented on #1658
@LukeTowers

Has this multi medifinder feature been implemented?

[2018-06-29 13:02] JurekR commented on #3618
Hi, ok will try to catch you in the chat and provide some more details.

[2018-06-29 14:49] ayumihamsaki commented on #3615
@LukeTowers hi, understand what you are saying. I will close this issue, as I know you are a very busy guy and I don't want to take up too much of your time! With regards to demo'ing successful attacks on plugins, I didn't want to write here because that would be illegal and I would propbably get into a lot of trouble. Thanks for the info on the procedure of reporting plugins with regards to secur

[2018-06-29 14:49] #3615 closed

[2018-06-29 15:51] lthurston opened #3619 "Add config option cms.restrictBaseDir for relaxing file path restrictions"
Per a discussion with @LukeTowers and @daftspunk in Slack, I'm going to add an undocumented config option (for use in dev envs only!) that allows realpath() as alternative path validation.

https://octobercms.slack.com/team/U712K9ZQ9

I'm referencing commit fb2aa1730cc08e8563908b54b70e942bd2988f5e and its removal of realpath() as the places where this change will be made.

I should be able to work

[2018-06-29 16:37] LukeTowers commented on #3619
@lthurston on second thought you can make it documented, have it set to true by default with a strong warning against setting it to false.

[2018-06-29 16:40] LukeTowers commented on #1658
@MattMcManis not yet, life got in the way, @datune no longer wanted to sponsor it because it was taking a while so now it's dropped down my priority list. It's still in progress, however not on the top of my list.

[2018-06-29 16:41] LukeTowers commented on #3615
@ayumihamsaki if you can create a demoable attack then send it to me @ octobercms@luketowers.ca and I can address it from there. Proving that attacks exist isn't illegal, it's only illegal if you try to use it on people's sites without permission.

[2018-06-29 16:58] LukeTowers commented on #3618
@JurekR feel free to also post those details here

[2018-06-29 17:06] LukeTowers commented on #3158
@riartem feel free to add support for the select property on filter configs in a PR.

[2018-06-29 17:10] ayumihamsaki commented on #3531
@LukeTowers @daftspunk  Hi Luke and daftpunk, I show you a screenshot as of 29 June 2018. It doesn't seem to be fixed on the website:

![www](https://user-images.githubusercontent.com/17784082/42105193-59fa0be6-7bc7-11e8-8d79-dd32a79842a1.png)

Is it ok, to send an email to hello@octobercms.com and cc octobercms@luketowers.ca. Because the website says "**Please note that this Project ID is private

[2018-06-29 17:10] LukeTowers commented on #3608
@MeLlamoPablo feel free to submit a PR for review when able

[2018-06-29 19:19] stevemortimer commented on #3610
Quick note: I'm going on vacation starting today and won't be able to check back for a week and a half to check any responses.

The filters and pages are already saved when an admin user sets them, navigates off, and returns. This should continue to work as it currently does with whatever ends up being decided here.

When it comes to UX, my approach is I prefer providing the end user with what the

[2018-06-30 00:10] LukeTowers commented on #3610
@stevemortimer approach #1 sounds good to me, I was misreading your example code; didn't realize that it only runs when a filter is applied for the first time.

[2018-06-30 02:55] gmonte commented on #2578
Don't forget this feature please!!!

[2018-07-01 17:42] dundermave opened #3621 "datepicker shows up in wrong position"
##### Expected behavior
Datepicker should show up in correct position.

##### Actual behavior
Datepicker shows up in bottom left corner.

Here you got gif too see the behavior:
https://i.gyazo.com/62c14ec26aa62cbdb9858dfb1480f4bb.mp4

As you can see, time picker is working fine, but something is wrong with datepicker.
Same problem on chrome and firefox, windows 7

##### Reproduce steps
Create simp

[2018-07-01 19:16] dundermave commented on #3621
Ok, i've found the issue of this problem.

The problem is locale language in backend.
When I change to other local languages such as English, Spanish, Russian, Romanian etc.  everything works fine but when i switch to Polish language, problems come back :(

[2018-07-02 08:05] MeLlamoPablo commented on #3608
I've taken a look into this, and the issue is worse than I imagined. I've submitted a PR with a proof of concept (which you can see referenced below this comment), but the issue is not solved with it alone. Here are some concerns:

1. The `framework.js` file also makes use of eval [here](https://github.com/octobercms/october/blob/fb2aa1730cc08e8563908b54b70e942bd2988f5e/modules/system/assets/js/fr

[2018-07-02 09:46] xtremetom commented on #3104
This still seems to be an issue

[2018-07-02 17:30] lthurston commented on #3619
@LukeTowers @daftspunk Can you put some eyes on this to confirm I'm doing this correctly? If it looks good, I'll PR it.

https://github.com/lthurston/october/commit/71c165bf34725defc591d251a54dcb79f542be9d

[2018-07-02 19:14] interworks-morr opened #3623 "Mail Branding Permissions Issue"
##### Expected behavior
Only show the backend mail settings for the permissions I have.

##### Actual behavior
Currently, if I have just the manage_mail_settings, I see a link to the mail branding but get access denied when clicking on it.  The mail branding settings page on the backend requires the system.manage_mail_templates permission, however, the navigation to that page requires the system.m

[2018-07-02 22:42] lthurston commented on #3619
Err, this isn't quite right. I'll circle back tomorrow.

[2018-07-02 22:42] LukeTowers commented on #3104
@xtremetom please post detailed replication instructions

[2018-07-02 22:44] LukeTowers commented on #3619
@lthurston let me know when it's ready to review. Feel free to submit it as a WIP PR while you work on it

[2018-07-02 23:02] LukeTowers commented on #3608
@MeLlamoPablo

Thanks for digging into this! The following are my responses:

1. I think we should probably look into the use of `eval` in framework.js to minimize it as much as possible. @daftspunk would have to provide some more background on the other uses of it

2. Whatever solution we do for framework.js should be replicated across the codebase. As a note, you compile assets in october by run

[2018-07-03 07:21] kojaktaha opened #3625 "Adding multiple images inside rich text editor with a single drag"
##### Expected behavior
So the richtext editor froala comes with a nice feature, adding images from the gallery, when I multiselect images and click insert ... all the images I selected should be added to my text.

##### Actual behavior
Only one image is added

##### Reproduce steps
add a rich text editor to your model, when you are inserting the data try to add multiple images as mentioned in the

[2018-07-03 10:00] SeriousKen commented on #3611
@LukeTowers this is the CmsCompoundObject which is based on the Halcyon model which saves to the filesystem, not a DBMS, so there is no VARCHAR. I still think it is the model's job to understand when it has changed rather than the form. The form's role is to supply data to the model, the model interprets that data.

[2018-07-03 15:31] LukeTowers commented on #3611
@SeriousKen ah, that's the key difference I was missing. That looks good to me, submit a PR with some tests added for the changes and I'll merge it

[2018-07-03 15:34] LukeTowers commented on #3625
Related to #1658

[2018-07-03 18:29] kojaktaha commented on #3625
Any possible work around until the enhancement is made?

[2018-07-03 21:12] devalexandre commented on #2488
I create it, and not work if not input in list folder work

[2018-07-04 04:43] LukeTowers commented on #2488
@devalexandre
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2018-07-04 21:16] LukeTowers commented on #3625
@kojaktaha not really, you'll just have to insert them one by one

[2018-07-04 21:46] SaifurRahmanMohsin opened #3627 "Tab behaves erratically with repeater fields when using Trigger API"
When I add a switch (the trigger-er element) and use the trigger API to show a tab with a repeater (the trigger-ed element) when the switch is ON then trigger API fails to hide the tab when the repeater has a value but shows the tab when it doesn't have any items.

##### Expected behavior
The tab should hide whether the repeater has values or not because trigger API allows you to hide/show a field

[2018-07-05 13:43] SeriousKen opened #3628 "Can't remove component from CMS page"
##### Expected behavior
Clicking the x on the component should remove the component and reloading the page the component should not be there.

##### Actual behavior
In a very specific case the component cannot be removed using the GUI.

##### Reproduce steps
In the demo project edit the Plugin components page. Make sure that there is something in all the description, code, and meta sections. Save,

[2018-07-05 14:16] LukeTowers commented on #3627
@SaifurRahmanMohsin fixed in https://github.com/octobercms/october/commit/c55a7cd2e2fa59457304eecaf8d834e46fd539fe, thanks for your detailed report and reproduction plugin!

[2018-07-05 19:44] cleverer commented on #3264
@LukeTowers No idea how to implement this, but I think adding a relative path should automatically be expanded before handed to the assetmaker. Or at least that's what I had expected originally.

If this is not possible/too complicated I suggest the solution in https://github.com/octobercms/october/issues/3264#issuecomment-346857066 gets added to the documentation at https://octobercms.com/docs/cm

[2018-07-05 21:04] LukeTowers commented on #3264
@cleverer sure, give adding it to the docs a shot! The best solution would be to separate the local filesystem asset path and the public URL asset path variables but I don't have time to do that right now so adding that to the docs for now would be a good temporary solution unless someone wants to implement a full fix for this.

[2018-07-05 21:59] LukeTowers commented on #2753
@lrs @SebastiaanKloos @maartenmachiels @You85 Support has been added in the latest develop branch thanks to @jimcottrell!

[2018-07-06 09:18] SeriousKen commented on #3628
The referenced pull request fixes Halcyon model's dirty logic as it checks for removed attributes when considering if the model is dirty and should correct this issue. Please test with other plugins that rely on CmsObject such as Static Pages.

[2018-07-08 14:04] SaifurRahmanMohsin commented on #3627
Thank you for fixing this--I tested the code in the sample plugin and it appears to fix the issue. It's crazy how a single symbol changes an entire system's behavior.

[2018-07-08 14:04] #3627 closed

[2018-07-08 14:28] SaifurRahmanMohsin opened #3631 "Shouldn’t form config's default value take precedence over a non-existential model’s default value?"
This is a different [from this](https://github.com/octobercms/october/issues/3627) but I used the same sample repo to demonstrate the bug so kindly just look at the latest commit to understand what's being done. But before you see it, let me tell you what's happening:

I have a form with a simple field **awesomeness** which has a default value as **Yeah!!** in its form configuration file. However,

[2018-07-08 16:47] LukeTowers commented on #3631
If you define an attribute accessor then when the form asks the model for a value it receives one so it will use that instead

[2018-07-08 17:36] SaifurRahmanMohsin commented on #3631
Yes. I understood that. But is that optimal behavior? Shouldn’t the form config’s default value have the higher precedence than the accessor? Accessor is generally a “getter” which means if there is data you can manipulate it in the low level to mutate it to something else during the retrival from the database. But when in CREATE context of a form, it should ideally ignore the accessor or any defa

[2018-07-09 13:23] mazzzai commented on #3176
can you help me with same trouble?

mac high sierra

https://i.stack.imgur.com/KSXmt.png

[2018-07-09 16:08] LukeTowers commented on #3176
@mazzzai no.

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2018-07-09 16:18] LukeTowers commented on #3631
@SaifurRahmanMohsin I would agree with you, however I'm a bit wary of tying defaults only to the create context. Ideally, I would prefer that defaults are applied over any property that's null / empty, so I'm a bit unsure of tying it to the create context.

In your case specifically you can set the default value within the accessor if you'd like. Any thoughts on that?

[2018-07-12 02:49] AxDSan commented on #1970
FINALLY! this annoyance is over! 8648a49 should get rid of it.

[2018-07-12 08:15] mplodowski opened #3634 "Show week numbers for DatePicker form widget"
##### Expected behavior

Allow to specify in DatePicker form widget if it shows week numbers.

##### Actual behavior

Week numbers are not displayed.

##### Reproduce steps

Create backend form and add datepicker field definition:

[code]

##### October build

437

I would like to prepare PR for this. Are you interested?

[2018-07-12 08:31] chaskayu opened #3635 "Failed to translate a string which containing a variable."
##### Expected behavior
Display:
<option>Female</option>
<option>Male</option>
<option>Not Specified</option>

##### Actual behavior
Display:
<option>mym.website::lang.user.gender.Female</option>
<option>mym.website::lang.user.gender.Male</option>
<option>mym.website::lang.user.gender.Not Specified</option>

##### Reproduce steps
Running with below codes on a page:
{% for value in gender %}
    <o

[2018-07-12 08:35] mplodowski commented on #3635
Try:

[code]

[2018-07-12 08:39] chaskayu commented on #3635
@mplodowski It works fine after adding a brackets. Thank you so much for your prompt reply and help!

[2018-07-12 08:39] #3635 closed

[2018-07-12 08:55] sergei3456 opened #3636 "Cookie::queue not work"
In custom plugins not work function Cookie::queue(Cookie::make($name, $value, $minutes))

##### Expected behavior
Add custom cookie next response

##### Actual behavior
Cookies are not added

##### Reproduce steps
To call function in a plugin Cookie::queue

##### October build
Build 437

[2018-07-12 11:33] LukeTowers commented on #3635
@chaskayu is this for the frontend? Because you shouldn't be using backend translations (which is what those keys are) on the frontend, there is the separate RainLab.Translate plugin for that.

[2018-07-12 12:17] LukeTowers commented on #3634
@mplodowski sure, go for it.

[2018-07-12 12:17] LukeTowers commented on #3636
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2018-07-12 12:21] LukeTowers commented on #3381
@ibanks ping :)

[2018-07-12 12:22] LukeTowers commented on #3444
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-07-12 12:23] LukeTowers commented on #3457
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-07-12 12:23] #3457 closed

[2018-07-12 12:31] LukeTowers commented on #3569
@matteotrubini ping?

[2018-07-12 12:31] LukeTowers commented on #3564
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-07-12 12:31] #3564 closed

[2018-07-12 12:32] LukeTowers commented on #3560
@Hambern is this still an issue?

[2018-07-12 14:24] FaZeRs commented on #3500
@LukeTowers yes, I made PR https://github.com/octobercms/library/pull/320 but just have no idea how to write tests for this

[2018-07-12 15:34] Hambern commented on #3560
Yes, but havent had the time to look into it further

[2018-07-13 14:51] ibanks commented on #3381
@LukeTowers Lol. I know man. Busy as heck but that's no excuse as all IT guys are. Lol. I apologize again. I will definitely get to this as soon as I can. I will try to get it completed this weekend. Thanks again for the reminder. 👍 :-)

[2018-07-13 15:03] SaifurRahmanMohsin commented on #2889
If you add an option to set a customViewPath to the relation config then you still would need to re-define all the existing relationController elements i.e. create, delete, etc. if you want to use those in your project. This means that developers would have to copy paste the button html files from `modules/backend/behaviors/relationcontroller/partials` to re-create the buttons. I think it would be

[2018-07-13 23:01] ayumihamsaki commented on #3608
@LukeTowers Hi Luke I'm getting this error using the OctoberCMS AJAX functions see error:

`Uncaught Error: Error parsing the data-request-update attribute value. EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' .......`

HTML DOM Code is this:

`<button role="button

[2018-07-13 23:40] ayumihamsaki commented on #3608
@LukeTowers Hi Luke I'm getting this error using the OctoberCMS AJAX functions see error:

`Uncaught Error: Error parsing the data-request-update attribute value. EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' .......`

HTML DOM Code is this:

`<button role="button

[2018-07-14 00:11] ayumihamsaki commented on #3608
@MeLlamoPablo Could you write a long list of pass and no-pass combinations and I will try to write a regex solution. Are you wanting to create a regex preg_matrch?

[2018-07-14 06:37] justRau commented on #3165
@yapsr please see answer here: https://octobercms.com/forum/post/url-aliases?page=1#post-24354

You could extend this example to suit your use case.

[2018-07-14 16:04] ayumihamsaki commented on #3608
Hi,

Maybe I am being a bit thick, but when I read everything it just looks like this to me:

1. Validate Two properties and make sure they contain only Numbers, Letters Upper and Lower case and one dot (not two or more in a row). Fail all other characters.

2. Just add them the two properties to a JSON string

e.g.

## Example 1:

[code]

## Example 2:

`var property1 = "targetId%$#"; // fail`

S

[2018-07-14 16:19] ayumihamsaki commented on #3608
@LukeTowers Hi Luke not sure if this is useful to this issue, but maybe checkout this: https://github.com/douglascrockford/JSON-js

[2018-07-15 19:53] joakimbo opened #3639 "Fileupload in relationcontroller form does not respect disabled option in filterFields method"
##### Expected behavior
Defining a fileupload in fields.yaml for a model and setting ```disabled: true``` in either the fields.yaml or in the models filterFields function makes the widget activate previewMode when used in a relationcontroller form.

##### Actual behavior
Fileupload widget only sets previewMode to true if ```disabled: true``` is set in fields.yaml, setting disabled to true in filte

[2018-07-16 05:29] amjadniazi48 opened #3640 "Invalid security token on opening two admin panels of two entirely different projects"
##### Expected behavior
(Describe expected behavior here)
October should work with two admin panels at the same  time with entirely diffrent projects with different databases
##### Actual behavior
(Describe actual behavior here)
i m running two october projects, on opening two admin panels at the same time, it will restirct me to use one admin panel at one time and give me invalid security token

[2018-07-16 05:35] munxar commented on #3640
how do the urls look for this two local projects?

[2018-07-16 05:59] amjadniazi48 commented on #3640
i m using wamp server for windows.
following are the urls
http://localhost/amazfit/backend/
and
http://localhost/nankari11/backend

[2018-07-16 06:34] munxar commented on #3640
And here is the Problem: You use folders, so both apps are served from
domain 'localhost'.
I'd suggest using something like laragon to get one hostname per october
instance.

Amjad Iqbal Khan <notifications@github.com> schrieb am Mo., 16. Juli 2018,
07:59:

[2018-07-16 06:35] munxar commented on #3640
Here's the link: https://laragon.org

Sascha Aeppli <sascha.aeppli@liip.ch> schrieb am Mo., 16. Juli 2018, 08:33:

[2018-07-16 06:38] amjadniazi48 commented on #3640
Thanks a lot, i will use it.

[2018-07-16 08:19] amjadniazi48 commented on #3640
Basically making a virtual host is essential to handle this problem, it can be run on wamp as well but virtual host is required to run both instances of two separate projects of octobercms.

[2018-07-16 09:41] munxar commented on #3640
@amjadniazi48 that's right and laragon does that for you automatically via some scripts.
including some really helpful tools for webdevelopment (nodejs, cmder, etc.).

btw. pls close this issue and join out friendly slack community for this kind of questions:
https://octobercms.slack.com/

[2018-07-16 12:14] amjadniazi48 commented on #3640
ok thanks

[2018-07-16 12:14] #3640 closed

[2018-07-16 13:38] joakimbo commented on #3639
Related https://github.com/octobercms/october/issues/3444

[2018-07-16 13:40] joakimbo commented on #3444
@LukeTowers Bump, it does seem that filterFields is too late to change (atleast) the fileupload widget

[2018-07-16 14:15] LukeTowers commented on #3444
@joakimbo are you able to look into how we could work around or fix that?

[2018-07-16 14:16] LukeTowers commented on #3444
Duplicate of #3639, switching to that one instead because it has better information

[2018-07-16 14:16] #3444 closed

[2018-07-16 14:20] LukeTowers commented on #3639
@joakimbo does filterFields give you access to the FileUpload formwidget to be able to set previewMode manually?

[2018-07-16 14:24] LukeTowers commented on #3165
@yapsr Closing as this could be implemented by a plugin. Thanks for the follow up @justRau!

[2018-07-16 14:24] #3165 closed

[2018-07-16 14:33] joakimbo commented on #3639
@LukeTowers The ```$fields``` param only contains objects of Backend\Classes\FormField which doesn't seem to have any reference to possible widgets.

[2018-07-16 16:42] achtan opened #3641 "FR: shorthand for partial form widget path definition"
Hi, pls dont force us to create boilerplate files like: `controllers/foo/_bar.htm`

for Example:
##### Actual behavior
[code]

controllers/foo/_languages.htm
[code]

##### Expected behavior
[code]
no need for `controllers/foo/_languages.htm`

[2018-07-16 16:45] joakimbo commented on #3639
@LukeTowers Could we simply re-run the widgets init func after the filterFields?
https://github.com/octobercms/october/blob/fb2aa1730cc08e8563908b54b70e942bd2988f5e/modules/backend/widgets/Form.php#L1026
i.e
[code]

[2018-07-16 17:16] achtan commented on #2276
hi, any update on this topic?

[2018-07-16 18:33] SaifurRahmanMohsin commented on #2889
Ah ok... I didn't notice that @LukeTowers . I realize now that you can simply add a custom user-defined button like **predict** and create a _relation_button_predict.htm and it takes the view automatically even without setting customViewPath in the config. The OctoberCMS documentation should probably have this information since it was confusing to figure out. Even the error message said _button_pr

[2018-07-17 14:54] yapsr commented on #3165
@justRau @LukeTowers Thank you for mentioning a possible solution.

[2018-07-17 15:10] bkrajendra opened #3643 "Media Manager throwing error due filename containing unsupported character."
I'm using latest build of octobercms.
Today i was just checking my media folder in backend and got this error.

![image](https://user-images.githubusercontent.com/994083/42826023-0c232874-8a01-11e8-820a-8e1a09dbba20.png)

Basically media is managed by my client and it has uploaded file with something spurious in filename.
Ideally this should not happen

It looks like problem is with this name "adm

[2018-07-17 18:43] termiyanc commented on #3591
@LukeTowers Maybe later. As you can already see)

[2018-07-18 20:04] LukeTowers commented on #2889
@SaifurRahmanMohsin make the desired improvements to the documentation and I'd be happy to review it!

[2018-07-19 05:11] LukeTowers commented on #3639
@joakimbo what do you think about adding some information to the documentation that mentions that if you want to affect formwidgets that set internal state (i.e. previewMode based on field disabled value) then you should do that within the `backend.form.extendFieldsBefore` event and provide an example of doing so?

[2018-07-19 05:11] LukeTowers commented on #3591
@termiyanc as I can already see what?

[2018-07-19 05:13] LukeTowers commented on #3643
Duplicate of #3606. Fixed in https://github.com/octobercms/october/commit/432b22c14e51463eefa7c14fde51fea7edc1e864

[2018-07-19 05:21] LukeTowers commented on #2276
@achtan nope, but feel free to dig into it yourself and see what you can come up with!

[2018-07-19 05:35] joakimbo commented on #3639
Sure, does the code altering the formwidgets from field config stay?

[2018-07-19 11:31] termiyanc commented on #3591
@LukeTowers as you can see, that i am not so speedy about this question here)

[2018-07-19 15:35] LukeTowers commented on #3639
@joakimbo the reason that you can modify the formwidgets in the config state (and in `backend.form.extendFieldsBefore`) is because you are actually just modifying their pre-boot configuration. After they have been booted (or had `init()` called on them) they no longer look at those configuration values. Does that make more sense as to why you can affect them in those places but not `filterFields()

[2018-07-19 15:51] joakimbo commented on #3639
@LukeTowers I understand that and it's not that it isn't making sense.
The problem I have is that out of 4 ways (that I know of) of how the form fields can be defined/changed any widget that "resides" in these fields only bothers to act on 3 of these (all before init). Why be able to change values of a field with a widget (that the widget would respond to in config) if the widget wont change?

[2018-07-19 21:32] ayumihamsaki opened #3646 "Add more Asset File Extensions to October Backend"
Hi,

Currently Octobercms has the following assets extensions built into it:

- Js
- Css
- Rss

Where you can add assets like this:

[code]

Almost all Google Developers are quoting **JavaScript modules** these days, files with the following extension: `.mjs`

I was thinking of suggesting that OctoberCMS add some more file extensions to the backend to keep up with current trends.

I suggest the fo

[2018-07-20 13:38] achtan commented on #3641
hi, sry for misunderstanding or bad explanation of my FR... i am not an hater or troll :) (just my english is bad :/ )

my first comment is not a question...
i just dont see the point of boilerplate code needed for partial form widget
- why do i need to define `fields -> fieldName -> partial` property ? when it can by dynamically generated...

when my fieldName is `languages` and type is `partial`

[2018-07-20 13:58] LukeTowers commented on #3641
@achtan Thanks for the explanation and better summery of what you're asking!

Because a `partial` field is not meant solely for the RelationController. A `partial` field is a field that renders whatever HTML you provide it: http://octobercms.com/docs/backend/forms#field-partial.

A `partial` could be anything from a simple status message to a RelationController view (`$this->relationRender()` to a

[2018-07-20 14:04] LukeTowers commented on #3646
@ayumihamsaki what would "adding" MJS, Atom, & JSON assets even do? I.e. What would calling `addMjs()`, `addAtom()`, and `addJson` do?

[2018-07-20 15:11] ayumihamsaki commented on #3646
@LukeTowers adding `addAtom()`, and `addJson()` would allow developers to add **_dynamic sources_** into their plugin(s) - same reason why you already have `addRss()` most likely. Look at AMP-HTML for example they use Mustache Templating system and JSON to create Dynamic things! Some of my plugins I create in October are Dynamic and use JSON etc. As for suggesting `addAtom()` October uses `addRss(

[2018-07-20 16:00] ayumihamsaki commented on #3646
Here's an example of a dynamic plugin using JSON:

![dyn](https://user-images.githubusercontent.com/17784082/43012533-49b25932-8c3e-11e8-9873-30f4377ec28e.png)

End of the day it's just some space, you can add whatever you like in that space and create fully functional apps...

[2018-07-21 00:23] LukeTowers commented on #3646
@ayumihamsaki not really, my question is moreso what would those methods functionally do? There's nothing stopping you right now from doing `->addJs('/path/to/mjsfile.mjs')` and having it included in the scripts tag, and I'm not sure what the point of `addAtom` and `addJson` are, where is that stuff getting output?

[2018-07-21 02:30] ayumihamsaki commented on #3646
@LukeTowers Sorry I see your point.

I thought that would not work as with Javascript modules you have to set a `type="module"` for the browser to understand it is a module JS file and not a normal one. That's why I thought you may need a new `addMjs()`. Plus also add a `nomodule` attribute to the normal `addJs()`.

I'm not totally sure to be honest, as I don't fully understand how the `addRss()`

[2018-07-21 03:43] LukeTowers commented on #3646
@ayumihamsaki I've never used MJS so I'm definitely not the person to push through an enhancement to provide specific support for it within October. However, feel free to submit a PR to add any desired functionality yourself.

With regards to RSS, I don't actually know what October does with it either tbh, perhaps @daftspunk knows why that method exists.

With regards to JSON what you're asking fo

[2018-07-21 03:43] #3646 closed

[2018-07-21 08:14] ayumihamsaki commented on #3646
@LukeTowers ok, understand. Thanks for taking the time to explain things.

[2018-07-21 08:46] Harti opened #3647 "SCSS Compiler doesn't support `@supports` (ironically)"
#### Expected behavior

[code]
should compile to:
[code]

#### Actual behavior

[code]
instead compiles to:
[code]

#### Reproduce steps

theme/demo/assets/scss/app.scss:
[code]

In your layout file:
[code]

Regardless of the example working, you can see in the combined asset that the `.sticky-top` part of the SCSS rule is missing.

#### October build

437

[2018-07-22 03:54] LukeTowers commented on #3647
Duplicate of https://github.com/leafo/scssphp/issues/493, not much we can do about in October itself but feel free to contribute towards a fix on leafo's side of things and it'll propagate to October!

[2018-07-22 03:54] #3647 closed

[2018-07-22 03:55] LukeTowers commented on #3646
@ayumihamsaki no problem, any time!

[2018-07-23 01:47] LukeTowers commented on #3355
@dzava any idea for a solution within October?

[2018-07-23 19:31] dzava commented on #3355
The [defaultSimpleView](https://github.com/laravel/framework/blob/5.5/src/Illuminate/Pagination/AbstractPaginator.php#L445) method of the Paginator could be used to override the Laravel view with one provided by October.

Another solution could be to add the `getFromJson` method to the October translator. However since the keys in the template are not namespaced, it would require either
- the user

[2018-07-23 20:30] LukeTowers commented on #3355
@dzava overriding the Laravel view with one provided by October works for me, could you submit a PR?

[2018-07-24 00:45] BenjaVR opened #3649 "Backend list header "align" option does not work without "sortable""
##### Expected behavior
When using the `align: center` option in a backend list ([search for "align"](https://octobercms.com/docs/backend/lists)), the column headers should be centered. This works only if the `sortable` option is set to true:
![image](https://user-images.githubusercontent.com/17981138/43110229-1289122a-8eeb-11e8-9b92-d3da05ecd019.png)
If you would put the `sortable` option to fals

[2018-07-25 16:36] LukeTowers commented on #3649
@BenjaVR if you could submit a PR to fix this that would be great!

[2018-07-25 17:55] LukeTowers commented on #1970
Fixed by https://github.com/octobercms/october/commit/d5829c75cf840e64f6a0af5e46e3a67a197024d6

[2018-07-27 22:05] SaifurRahmanMohsin commented on #1923
This bug still persists, correct? I'm using sorting on a relation and have managed to get it working great but the sorting doesn't happen since the post('sort_orders') value is always zeroed.
[code]

[2018-07-28 01:13] mismaiti opened #3654 "repeater field does not display data which is exist in database"
I put repeater field in form where i use `relationController` for that.. so it is nested relationship. everything work perfectly except when i put data inside repeater field and save it, data only exist in database, it does not display in form as i tried to update data.. but if crafted manually by reference from [@daftspunk ](https://octobercms.com/support/article/ob-21)
all data display perfectly

[2018-07-28 07:47] LukeTowers commented on #3654
@mismaiti please post what the mistake was so other people can learn from it too :)

[2018-07-28 07:53] LukeTowers commented on #1923
Yes, you need to follow the instructions in https://github.com/octobercms/docs/commit/e07d603bb0fe68d057b091990a2ae6881781d53f if you are adding the trait to a table that already has data.

[2018-07-28 08:38] SaifurRahmanMohsin commented on #1923
Ah, so this bug occurs because the initial sort order doesn't exist! Thanks for the comment man... I thought this was due to something else and wrote a workaround to make it work in my case...:
[code]
And in my model I had added:
[code]

Setting the sort_order to copy it's own record ID as suggested by to docs wouldn't work in my case since I'm using this against a relation. So now each set of rel

[2018-07-28 08:39] SaifurRahmanMohsin commented on #1923
Ah, so this bug occurs because the initial sort order doesn't exist! Thanks for the comment man... I thought this was due to something else and wrote a crude workaround to make it work in my case...:
[code]
And in my model I had added:
[code]

Setting the sort_order to copy it's own record ID as suggested by to docs wouldn't work in my case since I'm using this against a relation. So now each set

[2018-07-28 09:27] davidatMB opened #3655 "Failed to load resource: the server responded with a status of 406 (Not Acceptable) with throw new ValidationException"
##### Expected behavior
It should work without an error message in console of Webdevelper.

##### Actual behavior
When I use the line the code
[code]
an error message is shown in console.

##### Reproduce steps
Create a component like shown
[code]
and the form
[code]
Submit the form without entering anything in name, lastname or message. Then in the AJAX-Request the error appears.
When you comment

[2018-07-28 15:04] fredec commented on #3490
Guys, I had the same problem, when updating the system or trying to attach some project, I was receiving an "empty response from the server". The problem was the firewall blocking the connection. All I did was open the port 80 to this URLs:

http://octobercms.com

http://gateway.octobercms.com

Voilá, everything started working fine to me! Hope this can help somebody.

[2018-07-28 15:05] fredec commented on #69
The solution is here: https://github.com/octobercms/october/issues/3490

[2018-07-28 22:36] LukeTowers commented on #3654
@mismaiti thanks for the follow up!

[2018-07-30 02:35] pavelmgn opened #3656 "Focus not jump to next field after set value."
After set change several fields, timestamp and other form widgets, focus is lost and not jumping on next field.

[2018-07-30 04:34] LukeTowers commented on #3656
Detailed information required to be able to help you.

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even

[2018-07-30 04:42] LukeTowers commented on #1923
@SaifurRahmanMohsin Regarding using sort order on related records, the ID method still works since the relation will load only the relevant records and they will be in the appropriate order even if their sort orders are 5,7,13 instead of 1,2,3

[2018-07-30 04:58] pavelmgn commented on #3656
In datepicker enter date value from keyboard and press "tab" key - if next field in form simple input this work good. If i click on datepicked calendar, focus from the field disappears. If after simple input i press tab key again amd after the simple input (text), select widget, then the focus also disappears.

This greatly complicates keyboard input without a mouse.

in gif i pressed tab - shift

[2018-07-30 05:03] pavelmgn opened #3657 "How to update formwidget with dependsOn: relation manager?"
fields.yaml
[code]

client - formwidget client_information - relation manager

If i update client field, relation manager updated. How to force to update a client field at updating relation manager?

https://octobercms.com/forum/post/how-update-formwidget-with-dependson-option

[2018-07-30 05:10] #3657 closed

[2018-07-30 12:27] HugoWijdeveld opened #3659 "this.page variable causing an exception"
##### Expected behavior
In the header of a layout, I have the lines:

    <title>MyName | {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">

I expect that to parse as

    <title>MyName | MyTitle</title>
    <meta name="description" content="">
since there is no meta_description.

##### Actual behavior
The system throws an exception:

The parsin

[2018-07-30 12:31] LukeTowers commented on #3659
Is there a difference in cms.enableTwigStrictVariables` (https://github.com/octobercms/october/blob/master/config/cms.php#L363) between the two instances?

[2018-07-30 12:42] LukeTowers commented on #3656
@pavelmgn could you make a PR to re-add focus to the datepicker input field after a click closes the datepicker popup?

[2018-07-30 18:02] JohnB7590 opened #3660 "Plugin installation fails on migration step but leaves files causing migration to be retried endlessly"
##### Expected behavior
So I was expecting that I would be able to make updates for October CMS.

##### Actual behavior
"SQLSTATE[42804]: Datatype mismatch: 7 ERROR: column "statistics" cannot be cast automatically to type integer HINT: You might need to specify "USING statistics::integer". (SQL: ALTER TABLE news_posts ALTER statistics TYPE INT)"

##### Reproduce steps
Now, what I did in the proce

[2018-07-30 18:12] LukeTowers commented on #3660
@JohnB7590 this error is occurring because October is trying to run the pending migrations for the plugin in question, however that migration is failing on your environment, probably because the author did not test on a PostgresSQL environment.

What October could do to improve the UX for these sorts of cases is to track failing migrations and simply not try to run them more than once and throw a

[2018-07-30 18:14] LukeTowers commented on #3655
@davidatMB I'm not sure what you're expecting to have happen here, you explicitly are telling the application that you are throwing an exception, this halts execution and informs the user that the request was unacceptable. What are you wanting to have happen here instead?

[2018-07-30 18:23] JohnB7590 opened #3661 "I Cannot Render an iframe Tag Under a Sidebar Partial for the MDB-Loaded Theme"
##### Expected behavior
In essence, I was trying to script an iframe tag - hoping that I could hardcode that to the partial, which would be added onto the sidebar partial/template.

##### Actual behavior
However, the iframe failed to work - and there was no embedded video to see or view. I also made sure that the embed directory was used in the url as well (i.e. https://www.youtubeexample.com/embe

[2018-07-30 18:35] JohnB7590 commented on #3660
I wanted to ask another question. So, removed the plugin, and that seemed to work for the obvious reason that the check for updates button was working (since there were no new updates). However, I still get an SQLSTATE error whenever I had tried to reinstall the plugin. However, with the SQLSTATE error, it gives you some suggestions about a table that you can alter (I believe). Where would that be

[2018-07-30 19:45] LukeTowers commented on #3661
@JohnB7590 Github issues really isn't the place for questions like this as it appears to be an issue with a third party theme. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: http://octobercms.com/forum
StackOverflow: http://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or http://octobercms.com/chat
Slack: ht

[2018-07-30 19:45] #3661 closed

[2018-07-30 19:54] LukeTowers commented on #3660
@JohnB7590 that would be over the PGSQL, although you'd need to work with the plugin author to resolve it so that the migrations can run automatically via code; there could be side effects to trying to do it yourself manually.

[2018-07-30 19:56] koliane opened #3662 "How to find information about the current user in October CMS?"
An authorized user on a particular page presses a button, thereby sending an ajax request that is processed in the plugin in the routes.php file. There I have to get the user data via the `Auth::getUser ();` command, but it issues `NULL`, although the current user is authorized.
How can I get information about the user in my case?

##### Expected behavior
I need to get information about the author

[2018-07-30 20:06] LukeTowers commented on #3662
@koliane attach the `web` middleware to the route handling the request, Laravel stopped starting the session middleware automatically on all request routes in 5.5 so now any custom routes that want to use session data (i.e. the auth implementation) needs to attach the `web` middleware.

[2018-07-30 20:06] #3662 closed

[2018-07-31 08:56] HugoWijdeveld commented on #3659
Hi Luke, thanks for lighting the torch for me. It was indeed the combination of cms.enableTwigStrictVariables and the env.APP_DEBUG that I had overlooked. So I can confirm it was my mistake and October is behaving as expected after all. I've closed the subject. Thanks again for helping me out.

[2018-07-31 08:56] #3659 closed

[2018-07-31 11:29] pavelmgn opened #3663 "dependsOn in chain not work"
[code]
![rfg](https://user-images.githubusercontent.com/8817759/43456990-d971eed6-94de-11e8-8c66-0db131509128.gif)

[2018-07-31 12:06] pavelmgn commented on #3663
I`m idiot. Array....

[2018-07-31 12:06] #3663 closed

[2018-08-01 07:28] sushmak2216 opened #3665 "GroupBy Datetime field with the date format into listing"
##### Expected behavior
groupBy the list record with date with pagination (field is of datetime type )

##### Actual behavior
pagination is not working with the groupby date(As it will group by them as datetime)

##### Reproduce steps
1.) A field with datetime type, shown as date in listing
2.) Group them on behalf of date (Not  #working) with pagination functionality

##### October build
(October

[2018-08-01 17:49] vosco88 commented on #3560
Still an issue, I just tried it.

[2018-08-01 20:31] neuberoliveira opened #3666 "[Question]Add custom widget to form builder list"
I create a widget to use with my models forms, its working as expected, but e can edit, or even add it, from the form builder, need to edit the fields.yaml file. And display the error above in the form builder.
![captura de tela 2018-08-01 as 17 14 35](https://user-images.githubusercontent.com/3378304/43547003-637394a0-95b0-11e8-9722-93893f87dcd1.png)

Is this the expected behavihor? I would like

[2018-08-01 22:24] michalise commented on #3608
@LukeTowers @daftspunk Hi I just wondered what the status of this issue is because I see many "high" labels dating back several years still open, so I'm worried that this issue may not get fixed any time soon.

I am having this issue with my CSP Level 3 only when I try to use October's AJAX. In Google Chrome it totally blocks it from working and I really hope you could get the AJAX working asap.

[2018-08-02 12:42] AlexisWalravens commented on #2330
@GitJaap Could you please share the code ?
@shiftaltd Did you find any other solutions ?

[2018-08-02 13:48] lautsevich commented on #3227
+1 for this issue. It would be very useful for syncing with Laravel ecosystem. As for us, we'll update our Buddies plugin according this changes.

[2018-08-02 16:13] LukeTowers commented on #3608
@michalise are you saying that jQuery no longer uses eval internally?

[2018-08-02 16:25] LukeTowers commented on #3666
You can listen to the `pages.builder.registerControls` event here: https://github.com/rainlab/builder-plugin/blob/master/Plugin.php#L122-L124. Use https://github.com/rainlab/builder-plugin/blob/master/classes/StandardControlsRegistry.php as a reference as how to register your own controls.

[2018-08-02 16:25] #3666 closed

[2018-08-02 16:26] #3655 closed

[2018-08-02 16:40] LukeTowers commented on #3665
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

In this specif

[2018-08-02 17:06] michalise commented on #3608
@LukeTowers

According to the developers working on jQuery they have said, jQuery uses eval on V3 and below. On V4 that comes out next year no that will be fixed and patched.

Google has already written a spec on this issue and sent it to various commonly used frameworks and polyfill io. So the small list of main frameworks are working on this, I saw a list of around 10 frameworks actively working

[2018-08-02 21:26] LukeTowers commented on #3666
@neuberoliveira you shouldn't need `new StandardControlsRegistry($controlLibrary); ` at all, that class is just a helper for better organizing the registration of all the default built in controls. If removing that doesn't work then you should investigate if changing the priority of your event handler to attempt to run it either before or after the plugin's built in handler improves the situation.

[2018-08-02 22:17] michalise commented on #3608
@MeLlamoPablo @LukeTowers

I like the idea of using JSON5 (it's a solid library), but I agree with Luke's point about it being too big in size. It seems like this is a JSON Parse Encoding and Decoding issue. Did you know that the JSON5 is built using the following code from here: https://github.com/douglascrockford/JSON-js/blob/master/json_parse.js

That code is 9Kb instead of 20Kb in size and a m

[2018-08-03 04:07] neuberoliveira commented on #3666
@LukeTowers remove `new StandardControlsRegistry` do nothing, but i finally made it to work, its a bit tricky but works.

The issue was on the last parameter of [ControlLibrary:: registerControl()](https://github.com/rainlab/builder-plugin/blob/master/classes/ControlLibrary.php#L91-L93) in the exemple you gave me its aways `null` so i keep it that way.

When `$designTimeProviderClass` is  `null` i

[2018-08-03 05:10] sushmak2216 commented on #3665
Sure, What else i explain? I am very bad at explaining.

[2018-08-03 13:11] LukeTowers commented on #3666
@neuberoliveira would you be willing to do up a section for the plugin docs explaining how to register custom controls with the builder plugin?

[2018-08-03 13:11] LukeTowers commented on #3665
@sushmak2216 I recommend that you just ask for help on Slack, it's better suited to the Q&A style that you'll need.

[2018-08-03 13:11] #3665 closed

[2018-08-03 20:03] kojaktaha opened #3667 "NestTree doesn't work on some data (A node cannot be moved to a descendant of itself)"
##### Expected behavior
Creating or moving a  record in the tree should be possible.

##### Actual behavior
When creating or editing a record I get (A node cannot be moved to a descendant of itself.), I have created the model with all the required fields (nest_left "nullable", nest_right "nullable", nest_depth "nullable", parent_id "nullable") and I made a relationship field that using the (parent

[2018-08-03 21:06] ayumihamsaki opened #3668 "Add minItems property to Repeater"
Been searching for the solution to this issue and have decided to create an issue.

In October CMS when you create a Repeater field it will display like this:

![1](https://user-images.githubusercontent.com/17784082/43665710-034569a4-9769-11e8-97e9-ae4a0aece33d.png)

However this is very bad Web Design and many case studies have said not to create hidden fields which reduce user interactions.

I a

[2018-08-03 21:53] LukeTowers commented on #3667
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2018-08-03 21:57] LukeTowers commented on #3668
@ayumihamsaki I don't know the reasoning behind this decision for sure, but I'm guessing that it doesn't display the first item by default right now because when you go to save it when you haven't actually entered anything into the field it would save an empty entry. This could cause problems, especially when you factor in fields having default values which would prevent a solution where the first

[2018-08-04 09:06] kojaktaha commented on #3667
I am a real newbie developer, I don't know what to do with the test plugin! any guidelines or a place to start on how it works, what it should do? how can I be useful using it?

[2018-08-04 15:11] ayumihamsaki commented on #3668
@LukeTowers Hi I understand what you are saying so I thought I test out your comment, which produces the following database results:

### Hidden Menu

![1](https://user-images.githubusercontent.com/17784082/43677789-02ba089a-9800-11e8-9dca-ebec31997a98.png)

### Displayed Menu

![2](https://user-images.githubusercontent.com/17784082/43677797-112d77ea-9800-11e8-98de-3a55e7396021.png)

Both options

[2018-08-04 16:06] neuberoliveira commented on #3666
@LukeTowers sure, just point me the right place int the docs to add this.

[2018-08-04 17:34] LukeTowers commented on #3667
@kojaktaha basically download the test plugin, make changes in it until you can replicate the issue that you are having, and then submit those changes in the form of a PR to the original repository. There's lots of online guides for how to submit PRs, I don't have any links to anything that describes how to do this in more detail unfortunately.

[2018-08-04 18:12] ayumihamsaki commented on #3668
@LukeTowers That idea sounds prefect.

[2018-08-04 22:57] ayumihamsaki commented on #3668
@LukeTowers

Your idea sounds prefect with the `minItems` - would it get around the `default` issue?

Would it be a good idea to pre-display the repeater field with a `minItems: 0` and have an event listener that checks to see if the user has updated the first array field(s) or not before saving?

If the user has not changed the fields in the repeater field then save the repeater with: `minItems:

[2018-08-05 05:31] LukeTowers commented on #3668
@ayumihamsaki the idea would be that the developer would set `minItems: 1` to display the first repeater item and it would be up to them to perform any validation that they might require to prevent that from being saved when it shouldn't.

[2018-08-05 16:05] ayumihamsaki commented on #3668
@LukeTowers

I understand what you are saying.

I would be incline to add an extra thing on top though. If the array fields are all blank values then save it to `[]`. If the developer has a `default` then yes they can create the extra validation. So the following examples:

[code]

On save gives:

`[{"added_at":"","details":""}]`

Because **_ALL_** blank values can be saved instead as `[]` in data

[2018-08-05 20:40] Teranode commented on #3649
Ill take a look at it when i get my server up

[2018-08-05 21:02] vosco88 commented on #3649
I was trying to have a look at it. And noticed that this #3638 should fix it as I came to the same conclusion

[2018-08-05 21:59] prhost opened #3672 "https://octobercms.com/plugins Erro page 500 😧"

[2018-08-06 00:08] LukeTowers commented on #3672
Website was being upgraded.

[2018-08-06 00:08] #3672 closed

[2018-08-06 00:27] #3422 closed

[2018-08-06 00:30] #3256 closed

[2018-08-06 00:35] LukeTowers commented on #1935
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

Also, I believe this has been implemented for a while with the support for the /404 page. https://octobercms.com/docs/cms/pages#404-page

[2018-08-06 00:35] #1935 closed

[2018-08-06 00:35] LukeTowers commented on #2152
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-06 00:35] #2152 closed

[2018-08-06 00:36] LukeTowers commented on #2181
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-06 00:36] #2181 closed

[2018-08-06 00:38] LukeTowers commented on #1567
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-06 00:38] #1567 closed

[2018-08-06 00:42] LukeTowers commented on #2357
Closing as not relevant anymore.

[2018-08-06 00:42] #2357 closed

[2018-08-06 00:46] LukeTowers commented on #2707
@robinmalburn could you submit a PR to fix this?

[2018-08-06 00:47] LukeTowers commented on #2820
@Teranode another UX issue for you :)

[2018-08-06 00:50] LukeTowers commented on #2870
https://github.com/octobercms/install/pull/88 has been merged, thanks @mariavilaro!

[2018-08-06 00:51] #2870 closed

[2018-08-06 02:41] LukeTowers commented on #2929
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-06 02:41] #2929 closed

[2018-08-06 02:42] LukeTowers commented on #2717
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-06 02:42] #2717 closed

[2018-08-06 07:36] robinmalburn commented on #2707
I'm afraid we decided not to use October CMS after completing our initial feasibility study, so I haven't really looked at it since back in February 2017, so I wouldn't really be the best person to look at patching this issue.  Hopefully someone else in your community can pick up correcting the issue if hasn't been coincidentally corrected in an update since last year.

[2018-08-06 08:38] #3667 closed

[2018-08-06 13:48] ayumihamsaki commented on #3668
@LukeTowers

I'm not sure of a good solution to that, it's a good question, I was thinking the same thing.

PHP Logic is this:

`[{"added_at":"","details":""}] = This array is NOT EMPTY, but contains BLANK VALUES.`

and

`[] = This array is EMPTY.`

This leaves us with the following options:

|  hide 1st array row | show 1st array row  |  show empty | show blank values |
|---|---|---|---|
| true |

[2018-08-06 13:51] LukeTowers commented on #3032
@daftspunk let's go with the iframe logic. As a note, this is in the preview of a log generated by sending an email while mail settings are set to log.

[2018-08-06 14:02] LukeTowers commented on #2707
@robinmalburn no problem. Do you mind sharing some of the factors that came up in your feasibility study for deciding against going with October?

[2018-08-06 14:03] #2932 closed

[2018-08-06 14:17] #3047 closed

[2018-08-06 14:18] LukeTowers commented on #3056
@daftspunk why does this check exist in the first place?

[2018-08-06 14:18] ayumihamsaki commented on #3668
~I'm thinking maybe it is not important to set the database field to `[]` at all. What do you think?

[2018-08-06 14:26] LukeTowers commented on #3668
@ayumihamsaki I'd agree with that. If the developer uses minItems then they can deal with that however they want, originally I was more concerned about default behaviour changing.

[2018-08-06 14:27] ayumihamsaki commented on #3668
~I changed my mind, I think it is not important to set the database field to `[]` at all.

`php empty();`

The following values are considered to be empty:

- "" (an empty string)
- 0 (0 as an integer)
- 0.0 (0 as a float)
- "0" (0 as a string)
- NULL
- FALSE
- array() (an empty array)

Therefore it would not be necessary to check. I think best to leave out and just do your `minItems` only.

[2018-08-06 14:33] LukeTowers commented on #3668
@ayumihamsaki could you start work on a PR to implement minItems for the repeater?

[2018-08-06 14:47] ayumihamsaki commented on #3668
@LukeTowers I was thinking of paying a donation for this instead - if that's ok with you?

(I'm currently building a plugin which is as big as an app right now for everyone).

Off topic I have created a grid system for october backend and update the colour picker see screenshot:

![aaaaaaaaa](https://user-images.githubusercontent.com/17784082/43723599-ed025412-998f-11e8-8f16-4c177a1d3a0f.png)

Wou

[2018-08-06 14:58] ayumihamsaki commented on #3668
@LukeTowers I was thinking of paying a donation for this instead - if that's ok with you?

[2018-08-06 15:32] LukeTowers commented on #3668
@ayumihamsaki sure, I could implement this functionality for $300 USD.

[2018-08-06 15:38] LukeTowers commented on #3602
@daftspunk we should add a KE article about this titled "Backend side-menus broken when using CloudFlare"

[2018-08-06 17:15] ayumihamsaki commented on #3668
@LukeTowers I was thinking of donating $100 as this is a very minor enhacement to october.

[2018-08-06 17:42] ayumihamsaki commented on #2820
@LukeTowers

Please have a look at this github code I was playing about for the backend menu:

https://github.com/ayumihamsaki/oct-menu-bar

[2018-08-06 18:50] wertykid opened #3673 "Mod Rewrite enabled on XAMPP but not able to install CMS"
Hello,

I have enabled Mod Rewrite on XAMPP but I am getting this error "PHP mod_rewrite module is required". Can anybody help me with that?

LoadModule rewrite_module modules/mod_rewrite.so (Check loaded with phpinfo())

Directory settings updated:
AllowOverride All
Require all granted

Thanks for the help!

[2018-08-07 04:54] LukeTowers commented on #3668
@ayumihamsaki when would you need it by?

[2018-08-07 08:32] #2753 closed

[2018-08-07 08:32] #3590 closed

[2018-08-07 08:32] #3619 closed

[2018-08-07 08:32] #3623 closed

[2018-08-07 08:32] #3634 closed

[2018-08-07 08:32] #1970 closed

[2018-08-07 08:32] #3610 closed

[2018-08-07 14:13] ayumihamsaki commented on #3668
@LukeTowers I'm not bothered, whenever you got any free time. I just thought this issue was a bug in October CMS.

I get feedback from website owners about October CMS and they always tell me two main issues which are this issue and the media section being very slow.

So I thought I'd open this issue and I dont mind giving a donation of $100 to it because I use October 100% of my time and been usi

[2018-08-07 16:26] amjadniazi48 opened #3674 "Forgot password area of the website is not working"
##### Expected behavior
(Describe expected behavior here)
i want to login into my account on octobercms website and in forgot password i try it many times but it cannot allow me to enter into the my account
##### Actual behavior
(Describe actual behavior here)
i have tried forgot password many times but it doesn't allow me to enter my email is amjadiqbalkhanniazi@gmail.com it is registered please

[2018-08-07 16:32] amjadniazi48 commented on #3674
working now

[2018-08-07 16:32] #3674 closed

[2018-08-07 18:02] LukeTowers commented on #3668
@ayumihamsaki alright, that works for me :) $300 was for a priority change, but I can do it for the $100.

[2018-08-07 20:09] LukeTowers commented on #3668
@ayumihamsaki anything ending at luketowers.ca goes to the same inbox so it really doesn't matter 😄

[2018-08-07 22:52] ayumihamsaki commented on #3668
@LukeTowers I thought you were going to say anything (at) gmail.com goes to you lol. Send you an email, hope you get it thanks.

[2018-08-08 03:49] mrlinnth commented on #3673
I am on LAMP stack but having same issue. My apache2 mod_rewrite is enabled but getting mod_rewrite error at requirement check page.

[2018-08-08 04:48] mrlinnth commented on #3673
@wertykid I have found a way to fix.

I have changed line 103 in `install_files/php/installer.php` as follows

[code]

[2018-08-08 06:16] LukeTowers commented on #3673
@wertykid @mrlinnth Detecting proper support for the presence of mod_rewrite when using Apache seems to be quite the problematic issue.

The current implementation uses `SetEnv` in the .htaccess file and checks `$_SERVER`, which should be reliable enough but technically requires `FileInfo` to be an allowed override, either with `AllowOverride: all` or `AllowOverride: FileInfo`. We could perhaps us

[2018-08-08 11:14] kharanenka opened #3675 "Adding attach/detach events for models"
##### Expected behavior
We have model [events](https://octobercms.com/docs/database/model#events).
It will be useful to add events for [Many To Many](https://octobercms.com/docs/database/relations#inserting-many-to-many-relations) relations (attach/detach methods).
This is useful if we need to clear cache or add logic after creating/removing relation.
I tried to create pivot models and use [events

[2018-08-08 16:48] LukeTowers opened #3676 "Disable mail styles on marketplace author notification emails"
Since Build 420 introduced an improved mail system, notification emails sent to authors from the marketplace include a light blue background for what should be a simple text email. This should either be removed or there should be an actual design to those emails. Personally, my vote is for just sending them as text or basic HTML without the mail brand styling because the current approach looks unf

[2018-08-08 17:00] LukeTowers opened #3677 "Remove scope of methods and properties from their definition in the API docs"
The [API documentation](https://octobercms.com/docs/api/backend/classes/formfield) currently outlines public & protected methods and properties with a header describing the section and then placing the scope in front of the method / property name. This is redundant, if I am looking in the "Public properties" section I know all of the properties listed there are public, same for protected and priva

[2018-08-08 18:59] jan-vince commented on #2106
Hi @LukeTowers, I would like to able to translate default auth soft error and I have tested @datune solution with Rainlab.User plugin in frontend and translation works fine.

What is needed to move this forward? How can I help?

[2018-08-09 03:15] mrlinnth commented on #3673
@LukeTowers sorry I was a stupid potato. I didn't realize I have "Show Hidden" off in my file managers and there is .htaccess file inside the installer folder. No error after I copy .htaccess to my vhost.

So I guess this might not be a bug and more like a careless user issue on my case :sweat_smile:

[2018-08-09 06:43] sushmak2216 commented on #839
How to add the partial(SiteHeader) into custom plugin views?

[2018-08-09 07:20] gergo85 opened #3678 "Website: Wrong statistics on the second page of the author's page"
First page:
![first](https://user-images.githubusercontent.com/2959112/43884022-49bf974c-9bb5-11e8-8821-2033f6dbd3ab.JPG)

Second page:
![second](https://user-images.githubusercontent.com/2959112/43884032-536665dc-9bb5-11e8-9f96-01e9d0b2be6e.JPG)

[2018-08-09 07:57] AndreeaMb opened #3679 "Custom font-family and colours in the richeditor"
Hello,

There is a possibility to add custom font family in the richeditor just for a theme? And collors also?

Thank you!

[2018-08-09 09:42] acasar opened #3680 "Not compatible with latest Laravel change (5.5.42)"
It seems that Laravel changed serialization logic a bit in Laravel 5.5.42

https://github.com/laravel/framework/commits/5.5

Since then I can't login into the backend. I get the following error:

[code]

![image](https://user-images.githubusercontent.com/6329543/43891278-319ddac0-9bc9-11e8-853d-d79f40152968.png)

cc @daftspunk @LukeTowers

[2018-08-09 09:42] Toxigen opened #3681 "Error after "composer update" or "composer install" [fixed]"
##### Expected behavior
Authorization in backend without errors

##### Actual behavior
There is an error logging in to the backend, but if I again go to the url / backend /, then I will be already authorized
![image](https://user-images.githubusercontent.com/20593987/43890821-d9b9f1e4-9bd8-11e8-9cce-0d3d50de9e6c.png)

##### Reproduce steps
Install October CMS through git and run "composer update"

[2018-08-09 09:55] acasar commented on #3680
Just a side note, in Laravel 5.5.41 everything works normally.

[2018-08-09 10:00] Samorai commented on #3681
Hi!
Have the same problem.

[2018-08-09 10:07] jexme commented on #3681
duplicate https://github.com/octobercms/october/issues/3680

[2018-08-09 10:09] jexme commented on #3681
when rolling back to version 5.5.41 another error
![image](https://user-images.githubusercontent.com/22722008/43892728-d1733f22-9bdd-11e8-9917-0323ea42d69e.png)

[2018-08-09 10:16] acasar commented on #3681
@jexme when rolling back, just clear cache and cookies. Works fine then.

[2018-08-09 12:44] gergo85 commented on #3679
It is not possible to add custom fonts. :(

[2018-08-09 13:35] LukeTowers commented on #2106
@jan-vince @datune I've merged in the PRs, thanks!

[2018-08-09 13:35] #2106 closed

[2018-08-09 13:36] LukeTowers commented on #3679
@gergo85 why not?

[2018-08-09 13:37] LukeTowers commented on #3679
@AndreeaMb do you mean just for backend display or to have a button that would apply a class to selected text which you could then use in the frontend to change its font-family?

[2018-08-09 13:48] LukeTowers commented on #3680
Closing in favour of #3681 because of more activity over there, thanks @acasar! No thanks @taylorotwell 😝

[2018-08-09 13:48] #3680 closed

[2018-08-09 13:54] LukeTowers commented on #3681
Relevant: https://laravel.com/docs/5.5/upgrade#upgrade-5.6.30 and https://github.com/laravel/framework/compare/a2c54e6e69035111fa2709f9cdac55be811feb6b...c5dc9c870a8a1af6c7e827dd81bd15f0a1561cc4

[2018-08-09 14:08] AndreeaMb commented on #3679
To have a button that would apply a class to selected text which you could then use in the frontend to change its font-family?

    Pe joi, 9 august 2018, 16:40:35 EEST, Luke Towers <notifications@github.com> a scris:

@AndreeaMb do you mean just for backend display or to have a button that would apply a class to selected text which you could then use in the frontend to change its font-family?

—

[2018-08-09 14:43] gergo85 commented on #3679
I didn't find how to extend the font family dropdown menu in the editor.

[2018-08-09 15:00] LukeTowers commented on #3681
Fixed by https://github.com/octobercms/library/commit/c8e2740d974a4409f9990d64f19ef493acf7c0e6, apply manually until change is merged to master and a new build is created. If you have issues with the fix, make sure you clear the cache with `php artisan cache:clear` and delete all your cookies.

[2018-08-09 15:07] LukeTowers commented on #3679
@AndreeaMb @gergo85 see https://gist.github.com/LukeTowers/78e60848003ba6ec91b08e810ba0ac54 and https://github.com/octobercms/october/issues/2078 for information on how to extend the richeditor to have custom buttons. Note: neither of these links are step by step guides, you'll have to use them and the Froala documentation to figure out how to customize it as you require.

[2018-08-09 15:07] #3679 closed

[2018-08-09 15:15] LukeTowers commented on #839
@sushmak2216 Github issues really isn't the place for questions like that. Please use one of the many other avenues available instead of hijacking existing issues for your questions.

Forum: http://octobercms.com/forum
StackOverflow: http://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2018-08-09 15:54] LukeTowers opened #3683 "Revenue Generation Ideas for Core Team"
This is to discuss revenue generation ideas for the core development team (@LukeTowers, @daftspunk , @alekseybobkov) in order to keep the project going strong.

Each idea should be a separate comment and should be voted / shown support for with emoji reactions. Ideas and discussion appreciated. **NOTE:** Please only show support for ideas that you would pay money for / signup for.

# Current Reven

[2018-08-09 15:56] LukeTowers commented on #3683
Private Plugin & Theme support in Marketplace:

Add support for managing private plugins and themes through the marketplace for a fee. The fee would be recurring and could be per repo (theme / plugin) or tiered levels or a one-size-fits all approach.

[2018-08-09 15:57] LukeTowers commented on #3683
OctoberCMS Managed Hosting:

Managed hosting provided by the OctoberCMS experts; who better to manage your hosting experience than the professionals that build October in the first place?

[2018-08-09 15:58] LukeTowers commented on #3683
Subscription/Recurring licenses for Marketplace Products:

Recurring license options for Marketplace Authors to provide ongoing support and improvements for their products. Think one time initial cost, plus discounted recurring fee for new updates and ongoing support.

[2018-08-09 16:00] LukeTowers commented on #3683
Professional Support Contracts:

Pay for your company to have a support contract with the developers that build October for priority support and guidance.

[2018-08-09 16:11] lunfel commented on #3683
Feature bounty:

Community members that really wants a certain feature, pays together until we get to a certain money threshold. That way, you could prioritise the most wanted and best revenue feature for octobercms for you guys.

One feature I would more than willing to pay for is having more flexibility with many-to-many relations with pivot information in backend form.

[2018-08-09 16:29] LukeTowers commented on #3683
@lunfel we already accept feature bounties. Feel free to create an issue for your desired enhancement and then create a bounty on BountySource under the https://www.bountysource.com/teams/rainlab team for the issue you created. 👍

[2018-08-09 18:03] lunfel commented on #3683
@LukeTowers Didn't know that! Maybe it should be put more in sight? I don't know, I may have been living under a rock all this time.

[2018-08-09 18:27] LukeTowers commented on #3683
@lunfel any suggestions for how we can improve the visibility of that?

[2018-08-09 19:08] LukeTowers commented on #3683
## OctoberCMS Swag
Offer OctoberCMS swag (tshirts, mugs, stickers, etc.) for sale online

[2018-08-09 19:47] gergo85 commented on #3679
It's OK. I have already made custom button. I think the original font family dropdown cannot be modified.

[2018-08-09 22:29] robballantyne commented on #3683
# Agency Recruitment Campaign

I don't want to be negative but it seems to me that there simply aren't enough October users that want to spend money so the partner programme and market place gratuity seem like the only viable options for squeezing money out of a project like this. Rather than looking for additional revenue streams I'd be spending more time on growing these.

There are a lot of age

[2018-08-10 07:35] edhardie commented on #3683
## Improved Partner Program
In my own circumstance, the only way I can see ourselves as an agency making a meaningful contribution is via a regular monthly payment of something like $50 - $100.  I know this currently possible, but it's tricky convincing other members of management to commit to that sort of spend without anything in return. We've looked closely at becoming a partner, but the lump s

[2018-08-10 08:58] alvaro-canepa commented on #3683
# Marketplace Packages
Adding a new section in Marketplace to offer packages of plugins/themes, something like public Projects.
At now, plugins has dependency, but Authors can offer their plugins in a package with discount or maybe for free packages, just to help end users, to have a complete (one install) suite of eCommerce, Real Estate, Website, Blog, Forum, or whatever...
It would be great if p

[2018-08-10 14:15] minhluccode opened #3684 "openssl_encrypt() expects parameter 1 to be string, array given"
/Users/leluc/Desktop/www/vendor/laravel/framework/src/Illuminate/Encryption/Encrypter.php line 91

[2018-08-10 14:19] minhluccode commented on #3684
<img width="1214" alt="screen shot 2018-08-09 at 10 52 18 am" src="https://user-images.githubusercontent.com/29726422/43962892-0afd90c0-9ce3-11e8-999d-c6fd68ab34af.png">

[2018-08-10 14:25] iagoneresb commented on #3684
You can find the solution in https://github.com/octobercms/october/issues/3681#issuecomment-411788524 .

[2018-08-10 14:27] minhluccode commented on #3684
@iagoneresb thank you very much

[2018-08-10 14:49] #3684 closed

[2018-08-10 23:42] WaskiWabit opened #3685 "Question: Is it possible to add css classes to relation manager lists?"
##### Expected behavior
I understand how listInjectRowClass() works given that your model has a controller. My model does not have a controller because it is related to another model instead. Is it possible to add listInjectRowClass() without extending the Relation Controller?

I have a WorkOrder model and a WorkOrders controller. The WorkOrders model has a LineItems model related to it. I can't s

[2018-08-11 00:36] LukeTowers commented on #3685
@WaskiWabit what have you tried so far?

[2018-08-11 00:38] WaskiWabit commented on #3685
I tried to extend the behavior "Relation Controller" to no avail. The paths to the behaviors seem to be hard coded.

[2018-08-11 00:48] LukeTowers commented on #3685
@WaskiWabit all `listExtendRowClass` does is provide a shortcut to hooking into the `list.injectRowClass` event on the List widget: https://github.com/octobercms/october/blob/7e6800ea6e00637619a0d10eef3eaa82d5c4b255/modules/backend/behaviors/ListController.php#L182-L184

All you have to do is extend the RelationController's view widget (which in this case is a list widget) to hook directly into th

[2018-08-11 00:48] #3685 closed

[2018-08-11 00:51] WaskiWabit commented on #3685
I will give this a shot. Thanks Luke!

[2018-08-11 04:07] LukeTowers commented on #3685
No problem @WaskiWabit!

===
Was this helpful? Did it save you time? Then consider becoming a [Patreon supporter](https://www.patreon.com/LukeTowers) so I can keep providing excellent support! Or, add your thoughts to https://github.com/octobercms/october/issues/3683

[2018-08-11 14:03] davidatMB opened #3686 "Component Validations fails"
##### Expected behavior
I use this validation settings for my component:
[code]
so I expect a eMail-Adress to be like: 'bla@blub.de'
##### Actual behavior
When giving '' (empty String) it gives me this error message:
'Please enter the external parameter name.' and not 'Keine korrekte ...'

When giving 'xxx' then it passes validation.

##### Reproduce steps
Create component
[code]

##### October bu

[2018-08-11 16:56] LukeTowers commented on #3686
Try `\S+@\S+\.\S+` as your pattern instead. Failing that, attempt to debug the issue in this file: https://github.com/octobercms/october/blob/5daf4365ae18df4deb961fab6d7e498a41c3ec3b/modules/system/assets/ui/js/inspector.validationset.js, which is probably included in storm-min.js

[2018-08-11 19:08] WaskiWabit commented on #3685
Hmm, this does nothing. Doesn't throw an error and does not give expected results. I am trying to strikethrough rows that have a status = 0 on the relation "recommendations".  Any help would be greatly appreciated.

[2018-08-11 19:31] LukeTowers commented on #3685
@WaskiWabit post your code. Controller class and relation_config

[2018-08-11 19:34] WaskiWabit commented on #3685
It looks like "list.injectRowClass" works for me. Thanks again!

[code]

[2018-08-11 19:45] WaskiWabit commented on #3685
Strange... now I am getting this error when trying to create a "recommendation"

![capture](https://user-images.githubusercontent.com/10679529/43995558-2d30954c-9d75-11e8-97b8-abee929515e6.PNG)

[2018-08-11 22:10] WaskiWabit commented on #3685
Nevermind. Apparently my vendor directory became corrupt. All is well now.

[2018-08-11 22:14] LukeTowers commented on #3685
Good to hear!

[2018-08-12 07:39] LukeTowers commented on #3668
@ayumihamsaki finished implementing `minItems` for the repeater, also added server side validation of minItems & maxItems.

You can send me the money by going to https://www.paypal.me/theluketowers/100usd

[2018-08-12 18:59] WaskiWabit commented on #2750
This does not seem to work when accessing the fields from filterFields() within a model.

[code]

[2018-08-12 22:11] ayumihamsaki commented on #3668
@LukeTowers Many thanks have paid and sent you an email. Can I leave you to close this issue,.. Many thanks, look forward to seeing it in a future october version.

[2018-08-12 23:28] LukeTowers commented on #3668
@ayumihamsaki the issue will be automatically closed when the relevant commit is merged into master.

[2018-08-12 23:29] LukeTowers commented on #2750
@WaskiWabit I believe there's an issue for that, it's because the filterFields occurs too late in the lifecycle to properly affect the fileupload form widget as it has already loaded it's configuration by that point and no longer looks at the config of the base FormField object that is being modified by filterFields.

[2018-08-13 00:08] WaskiWabit commented on #2750
Well that's a bummer :( Then how come other form fields can be set to readOnly or disabled? It seems like it should be all or nothing.

[2018-08-13 03:54] LukeTowers commented on #3681
@shoguniphicus it should only be an issue that requires clearing the cookies under a very narrow set of conditions:

You used composer to update Laravel 5.5.42 in the two days between it's release and the fix being released on October's end. There's not much we can do to help the developer in the case; unless you have a different fix in mind?

[2018-08-13 04:00] LukeTowers commented on #3639
@joakimbo To be more clear, I'm not opposed to the code being changed so that filterFields works properly for FormWidgets, I was just providing alternatives.

What do you propose for a fix?

[2018-08-13 04:00] LukeTowers commented on #2750
@WaskiWabit other form fields are just plain FormField classes, it's when it comes to FormWidgets that the problem occurs with the configuration being changed after the FormWidget has already pulled it from the FormField instance that it's attached to.

It's not something that's going to stay that way forever, it's just a currently open issue that could be addressed. See #3639 for further discussi

[2018-08-13 06:10] joakimbo commented on #3639
@LukeTowers Thank you for clearing that up, unfortunately as of now I don't have any other solution than #3645. I would need to take another look at it, perhaps later this week.

[2018-08-13 13:57] LukeTowers commented on #3681
@shoguniphicus it has been fixed, @daftspunk just needs to push a new build. It's marked complete because https://github.com/octobercms/library/commit/c8e2740d974a4409f9990d64f19ef493acf7c0e6 fixed it.

I'll ping @daftspunk to push a new build so people stop encountering this.

[2018-08-13 13:58] davidatMB commented on #3686
This doesn't work either - same behavior as with my pattern.
But that main thing is that I get an error message which I haven't defined
[code]
not 'keine korrekte Adresse'.

I just noticed, that when I insert for example 'xxx' I get the correct validationMessage ('keine korrekte Adresse') - only when left completely empty the wrong validation Message is outputted.

Nor of the files modules\system\

[2018-08-13 22:55] rdroe commented on #3126
Where is the composer.json where I am supposed to make this change (i.e. Laravel 5.1 => 5.5)?
The website I'm working on may have been installed with the installer, so it is not in what I presume to be the normal composer.json location (e.g. the root directory of the site or project ).
Thanks for any help.

[2018-08-13 23:17] #3681 closed

[2018-08-13 23:18] #3044 closed

[2018-08-13 23:18] #3668 closed

[2018-08-14 17:16] osmanzeki commented on #3675
As an FYI and/or reference, this package and plugin does this:

https://github.com/damianlewis/october-laravel-pivot
https://github.com/damianlewis/oc-sortable-relations-plugin

[2018-08-15 04:04] LukeTowers commented on #3675
Pull requests welcome ;)

[2018-08-15 09:23] MaxNozhkin opened #3689 "Fileupload sql fatal error"
Since v1.0.438, when open page with fileupload field in backend - fatal error.
Postgres postgres (PostgreSQL) 10.4. PHP 7.2.8.

`SQLSTATE[42601]: Syntax error: 7 ERROR: syntax error at or near "as" LINE 1: ...hment_id" is not null or "CAST(system_files"."id" as "TEXT)"... ^ (SQL: select * from "system_files" where ("system_files"."attachment_type" = RainLab\Blog\Models\Post and "system_files"."att

[2018-08-15 10:00] GinoPane commented on #1795
Here's the video where this bug is reproduced: https://www.youtube.com/watch?v=5iijs0xH7iU&feature=youtu.be

Could please someone explain why `disabled.json` was implemented? It seems completely unreliable.

[2018-08-15 18:11] GinoPane commented on #1795
@LukeTowers

The reason for this issue is

[code]

It calls `clearMeta` which removes `disabled.json`. I don't know why it was done like that but it looks wrong to me. Anyway I left it untouched and made a fix for the issue.

[2018-08-15 18:56] kharanenka commented on #3675
How did you install these packages in your project? These packages are not published on packagist.org.

[2018-08-15 23:02] LukeTowers commented on #3689
As per [the contribution guidelines](https://github.com/octobercms/october/blob/master/CONTRIBUTING.md#reporting-a-bug-with-octobercms), please provide the exact steps you are taking for the issue to occur. This will be used for peer review.

[2018-08-15 23:05] LukeTowers commented on #3675
@kharanenka google composer using github repos as packages.

[2018-08-16 02:25] WaskiWabit opened #3692 "Relationships: Touching parent timestamps"
##### Expected behavior
I have a parent model that has an $attachMany 'System\Models\File' attached to it. I then have a child model that has an $attachMany 'System\Models\File' attached to it. The child model also has protected $touches defined to access the parent models "updated"at". When I add a file or remove a file to the child model, the parent models "updated_at" is not "touched."

##### A

[2018-08-16 03:05] LukeTowers commented on #3692
Sounds like the attachMany relationship doesn't do anything with the `touches` property, could you look into that in the library code and see if you can come up with a PR to fix it?

[2018-08-16 04:13] daftspunk commented on #1795
Thanks everyone for helping us locate this long standing problem.

Fixed in ab7dda260baf2b0489f6fe2753a5fabc6f910b93
Available in Build 440+

[2018-08-16 04:13] #1795 closed

[2018-08-16 13:40] FaZeRs opened #3695 "QueryBuilder::searchWhere() and QueryBuilder::orSearchWhere() doesnt exist"
##### Expected behavior
Search columns in backend

##### Actual behavior
Gives error when trying to search columns in backend

##### Reproduce steps
http://i.imgur.com/5cEmYrJ.png type text in searchbox
http://i.imgur.com/LXncKxE.png get error

##### October build
440

This problem only happens to models which use this Trait https://github.com/grimzy/laravel-mysql-spatial

[2018-08-16 13:54] FaZeRs commented on #3695
[code]

This will fix it.

[2018-08-16 13:54] #3695 closed

[2018-08-16 15:00] gergo85 opened #3698 "Remove hard height constraint from previewing uploaded images that causes images to stretch"
I upload a long width logo:
![before](https://user-images.githubusercontent.com/2959112/44216370-0ad86700-a175-11e8-8927-67aae2df6485.JPG)

If I deleted the height css style, I get right ratio:
![after](https://user-images.githubusercontent.com/2959112/44216462-46733100-a175-11e8-842e-57e8f74b3086.JPG)

Are the css dimensions (especially the height property) necessary?
/modules/backend/formwidgets

[2018-08-16 15:13] zakir1929 commented on #2222
+1

[2018-08-16 17:34] LukeTowers commented on #2222
@zakir1929 plugin's already have the $depends property that is used to determine migration order, what exactly are you "+1"ing? And don't get me started on how useless "+1" comments are to GitHub discussions 😉

[2018-08-16 17:41] LukeTowers commented on #3698
@gergo85 feel free to submit a PR to change it to use max-height and max-width instead to constrain the proportions to something reasonable. Remember, people can upload all sorts of wacky sized images

[2018-08-16 17:49] HassanIbrahim commented on #3681
I applied the fix, now the error is `return $unserialize ? unserialize($decrypted) : $decrypted;`
`/Users/home/Code/klue/vendor/laravel/framework/src/Illuminate/Encryption/Encrypter.php line 149`

[2018-08-16 19:09] LukeTowers commented on #3681
@HassanIbrahim did you clear your cookies?

[2018-08-17 01:19] WaskiWabit commented on #3692
**could you look into that in the library code and see if you can come up with a PR to fix it?**

Which lib?

[2018-08-17 02:39] LukeTowers commented on #3692
@WaskiWabit [octobercms/library](https://github.com/octobercms/library)

[2018-08-17 06:09] kharanenka commented on #3675
Do you understand reasons I created this task? I do not need these functions in project. I am a developer of [Shopaholic](https://octobercms.com/plugins/search?search=shopaholic) plugins and we need to have these functions in OсtoberCMS for development of our plugins. If solution with addition of package is not right for you, why did not you say this first?
Why do we need to figure this out after

[2018-08-17 13:03] HassanIbrahim commented on #3681
@LukeTowers yes but solved by upgrading to release v1.0.440

[2018-08-17 17:09] LukeTowers commented on #3675
@kharanenka my apologies for the confusion, I thought that you were asking how to include it at the project level. Do you have any questions about how I want to see it implemented in the library?

[2018-08-17 18:03] kharanenka commented on #3675
Yes, give us recommendations on this task so that we can do issue and you could immediately accept it.

[2018-08-17 19:53] LukeTowers commented on #3675
What are the events that you need added and where do they need to be fired and with what arguments?

[2018-08-17 21:08] nathan-van-der-werf commented on #3602
I can confirm that this is caused by the Cloudflare Rocket Loader.

[2018-08-18 16:45] zakir1929 commented on #2222
@LukeTowers  Sorry for confusion by "+1"ing. I thought it is a sign for pointing the same issue which someone already experienced. I know about $depends and $require property of Plugin and they use to determine migration order.

so for explaining let me make it more easy.

I have created a plugin **A** which extend another plugin **B** but **B** is also extending a **Plugin (in my case Rainlab.Use

[2018-08-18 17:43] zakir1929 commented on #2222
![screenshot](https://user-images.githubusercontent.com/16069667/44301871-3f4a4f80-a33c-11e8-86ad-bbd0d017e130.png)

[2018-08-18 19:13] LukeTowers commented on #2222
@zakir1929 then remove all the fields that use that tab, add your fields, and then re-add the original fields; or modify the form config in place dynamically to reorder it as necessary.

[2018-08-19 12:07] zakir1929 commented on #2222
its worked Thanks !!! @LukeTowers  you helped me in 2 issues so thankyou very much.

[2018-08-19 16:13] ayumihamsaki opened #3707 "Invalid security token and Service Workers"
I have read all the past issues with regards to the error message "Invalid security token" however none talk about Service Workers causing this issue.

When you add a Service Worker to October CMS you will get the following issues:

(**Please note**: In Firefox and Google Chrome you can turn off the Service Worker however you will still get issues)

1. Login to backend wont work first time and you

[2018-08-19 16:58] LukeTowers commented on #3675
@kharanenka please write out all of the events with their names and their parameters

[2018-08-19 17:00] LukeTowers commented on #2222
@zakir1929 no problem!
===
Was this helpful? Did it save you time? Then consider becoming a [Patreon supporter](https://www.patreon.com/LukeTowers) so I can keep providing excellent support! Or, add your thoughts to https://github.com/octobercms/october/issues/3683

[2018-08-20 03:36] onurguven commented on #3689
I'm having the same issue.

[2018-08-20 05:02] zakir1929 commented on #2222
Thankyou for the offer @LukeTowers right now I am very new to Octobercms so maybe I will think about it in future.

[2018-08-20 08:24] leonaze opened #3708 "New mod_rewrite test in installer doesn't work with my server"
Hi,

I tried to make a new install like all the times before but today I have a message "mod_rewrite is required"...

I see that installer change last week with a new test for mod_rewrite. My host Webfaction doesn't support SetEnv : https://community.webfaction.com/questions/19408/how-do-i-set-environment-variables-for-php

I remove the test from the installer and I install October.

Maybe it can

[2018-08-20 13:57] didiervassout commented on #3673
@wertykid I tired copying the .htaccess file one my MAMP folder but it doesn't fix anything for me...

[2018-08-20 14:37] ayumihamsaki opened #3709 "Can see YAML Backend Files"
I have a question, why can anyone be able to see the data in YAML files in the plugins and cms backend etc. Surely they should be hidden like php files? It seems to give hackers a bit too much information to use and reverse engineer attacks on things.

Would it be a good idea to have them only be seen server-side only and not be able to read them directly in the browser?

I'm curious to know the r

[2018-08-20 14:38] LukeTowers commented on #3709
@ayumihamsaki what is your server stack and the config file?

[2018-08-20 14:43] LukeTowers commented on #3708
Thanks @leonaze. Do you have any ideas for alternative ways of detecting if .htaccess is enabled on Apache servers? Will close this and move discussion to #3673 because it's more active.

[2018-08-20 14:43] #3708 closed

[2018-08-20 14:44] LukeTowers commented on #3673
@didiervassout do what @leonaze did in #3708 and just remove the test for now. The test requires that the server environment allows you to use `SetEnv`.

[2018-08-20 14:54] didiervassout commented on #3673
Thanks @LukeTowers !

[2018-08-20 14:56] ayumihamsaki commented on #3709
@LukeTowers

I'm using:

- siteground hosting
- php 7.2.8
- MYSQL Server version: 5.6.40-84.0-log - Percona Server (GPL), Release 84.0, Revision 47234b3

The php ini is quite long which bit would you want to know?

p.s. screenshot of main bit:

![aaa](https://user-images.githubusercontent.com/17784082/44348112-7aaa6280-a491-11e8-9c78-bd116d2f8d9f.png)

I'm guessing you are saying I need to set som

[2018-08-20 15:03] ayumihamsaki commented on #3709
p.s. While researching this topic I found this: https://www.drupal.org/project/drupal/issues/1956698

[2018-08-20 15:23] seanthepottingshed opened #3710 "Extending Cms\Models\ThemeData assetVar values not available for LESS Compiler"
##### Expected behavior

Extending the `Cms\Models\ThemeData` model should make `assetVars` field values available for `System\Classes\CombineAssets` when compiling LESS using `theme` TWIG filter.

##### Actual behavior

Any `assetVar` field values that are added by extending the `Cms\Models\ThemeData` model and not available in `System\Classes\CombineAssets` when when compiling LESS using `theme`

[2018-08-20 16:08] ayumihamsaki commented on #3709
Ok so would it be a good idea to update the .HTaccess file default?

This code is taken from HTML Boilerplate:

[code]

The above code protects against an attack detailed more on the link: 	http://feross.org/cmsploit/

Then the code below is taken from Drupal:

[code]

So basically would it be a good idea to merge the two Filematch lists together and then add the code to the OctoberCMS default HTa

[2018-08-20 17:19] chrisbethelepb commented on #3689
I ran in to the same bug in a different area, but can also reproduce it on a backend controller that contains a fileupload widget.

Steps to reproduce:
1) Install: `composer create-project october/october test-pgsql`
2) Clone test plugin: `git clone https://github.com/octoberrain/test-plugin.git test-pgsql/plugins/october/test`
3) Run a new pgsql instance via docker: `sudo docker run --name pgsql

[2018-08-20 17:48] chrisbethelepb commented on #3689
[code]

`where ("CAST(october_test_posts"."id" as "TEXT)"` is clearly where the problem is in this query.

[2018-08-20 20:33] LukeTowers commented on #3710
@seanthepottingshed does this issues exist in 440?

[2018-08-21 02:52] LukeTowers commented on #3689
Possibly related to https://stackoverflow.com/questions/40016417/laravel-eloqeunt-cast-table-column-with-postgres-generating-error

[2018-08-21 03:19] #3710 closed, assigned to nobody

[2018-08-21 03:40] daftspunk commented on #3689
Interesting. It worked before.

Actual:

[code]

Expected:

[code]

First and foremost, can we confirm the expected should appear exactly as shown above?

[2018-08-21 04:32] daftspunk commented on #3689
Nevermind. This was caused by 8c084045596aaf182a8eae412873437f3729222d

 - Enhance deferred_bindings table query performance (#328)

Subsequently fixed by fc8cd3e6d6aba36e60787c006774215d5b3582a8

We'll need someone to test this to make sure it is working before preparing a build.

[2018-08-21 09:40] nathan-van-der-werf commented on #3709
Do you have any example files which are accessible from the website (with the URL's you are calling them from?).

[2018-08-21 11:51] w20k commented on #3686
Hi @davidatMB , @LukeTowers ,

Build version: v1.0.440
Screenshot: ![screen_shot_2018-08-21_at_14_45_42](https://user-images.githubusercontent.com/1053320/44399751-56ae5600-a551-11e8-82aa-bea3a3fa1ee9.png)
Code (just pasted to defineProperties in one of my ComponentBase implementation):
` 'to' => [
                'title' => 'Kontaktformular',
                'description' => 'Kontaktformular',

[2018-08-21 11:59] w20k commented on #3707
Hi, @ayumihamsaki ,

Had the same problem while testing jQuery 3.x, it was a minor bug in the octobercms.min.js file.
Maybe you had an error in console?

If not, might give it a try at the end of the week, and post my 'workflow'.

[2018-08-21 13:07] chrisbethelepb commented on #3689
@daftspunk that fixed the Test plugin, it now seems to work as expected. Thanks for the quick response!

[2018-08-21 14:53] tripti20 opened #3713 "Plugin Prefix Name"
##### Expected behavior
When we create a new Plugin through Builder.First step is to enter name and prefix which is used to create a database table with PluginName_Prefix_TableName.

If I change my mind while creating table name to change Plugin Name is there a way to do that.

Through Localisation we can change Name but while creating database table .It still take old names. If we try to change t

[2018-08-21 15:34] ayumihamsaki commented on #3709
@nathan-van-der-werf Hi, I dont want to show my websites, so I will find one just like how the hackers would do instead.

First I will search using a Google Dorks, I will use Rainlab blog plugin as its quite popular, see screenshot:

![111111111](https://user-images.githubusercontent.com/17784082/44411878-6df44000-a55f-11e8-9b65-6db0a41ebe5a.png)

I put a box around someone's website, now I click

[2018-08-21 15:41] ayumihamsaki commented on #3707
@w20k hi ya, I have my console dev tools screen open all the time. There is no error displayed. Only error is saying no manifest file can be loaded in the backend. Yah if you could look into it that would be great. It's a highly annoying bug.

[2018-08-21 15:51] nathan-van-der-werf commented on #3709
But this website (http://feruntu.com) isn't secured at all, I don't think it has a .htaccess, when trying the above I'm also getting the 404 so I don't think this is a real issue?

[2018-08-21 18:55] ayumihamsaki commented on #3709
@nathan-van-der-werf can you just go to your website that uses October CMS and put in a URL for one of your plugins direct to a YAML file and you will see the data appearing! October CMS should by default not be showing source files - see here: http://feross.org/cmsploit/

So yes its an issue.

[2018-08-21 19:07] nathan-van-der-werf commented on #3709
@ayumihamsaki  I checked my websites and they all show a 404 (like I said already 3 times).

Also analyse the current .htaccess, https://github.com/octobercms/october/blob/master/.htaccess#L34

Did you try to make a clean installation of OctoberCMS and were you still able to access the yaml files in the plugin / modules directories? If so, tell us about your setup configuration (apache / nginx etc

[2018-08-21 19:29] ayumihamsaki commented on #3709
Not sure what you are doing but I can read their YAML file data no problem in a Broswer, see video demo'ing it:

https://youtu.be/-v2lwBVa-og

[2018-08-21 19:36] nathan-van-der-werf commented on #3709
@ayumihamsaki The website in the demo doesn't have a .htaccess file, that's why you can see the directory listing.

Just tested your setup and I am still getting 404's.

![1](https://user-images.githubusercontent.com/1123054/44424711-3949ae00-a58a-11e8-9a71-cd3b3bfc62dd.PNG)
![2](https://user-images.githubusercontent.com/1123054/44424713-39e24480-a58a-11e8-8304-2cef07bbf6a8.PNG)

[2018-08-21 20:02] ayumihamsaki commented on #3709
@nathan-van-der-werf This is one of our production websites, I hidden the name.

Here we have the .HTaccess from https://github.com/octobercms/october/blob/master/.htaccess installed:

![part1](https://user-images.githubusercontent.com/17784082/44425993-68115580-a585-11e8-9a93-f8b74a0b495a.png)

Here is the same website with the extra code added to the .HTaccess:

![part2](https://user-images.gith

[2018-08-21 20:11] nathan-van-der-werf commented on #3709
What happens when you leave out the version.yaml in the url? Do you see a directory listing ?

(So when you go to: https://www.[url]/plugins/rainlab/builder/updates)

[2018-08-21 20:49] ayumihamsaki commented on #3709
@nathan-van-der-werf

If I do, what you ask I will get a 404 error screen doing the following URL, for the following URLS:

https://www.[url]/plugins/rainlab/builder/updates
and
https://www.[url]/plugins/rainlab/builder/updates/

404 Error with and without a backslash at the end.

[2018-08-21 20:54] nathan-van-der-werf commented on #3709
No idea why we are getting different results, I think the issue might be hosting related, since I can in no way reproduce this issue (locally and on multiple servers).

I tried it with apache, apache / nginx proxy and locally (xampp (apache)), on every environment I'm getting the 404  when I'm trying to access the .yaml files so I think it's really an hosting related issue.

Maybe you can try a se

[2018-08-21 20:57] ayumihamsaki commented on #3709
@nathan-van-der-werf I'm thinking it maybe a server level issue, gonna contact the hosting company and get them to have a deeper look, thanks for your time.

[2018-08-21 22:40] ayumihamsaki commented on #3709
Gonna close this issue the hosting company said there was a issue in the server apache / nginx code nd they have resolved it now.

[2018-08-21 22:40] #3709 closed

[2018-08-22 01:53] LukeTowers commented on #3686
@w20k thanks. @davidatMB closing as we can't reproduce this.

[2018-08-22 01:53] #3686 closed

[2018-08-22 02:14] daftspunk commented on #3689
Cheers for following that up.

[2018-08-22 02:14] #3689 closed

[2018-08-22 03:08] LukeTowers commented on #3713
This is not an issue for the main October repository, this is a question for Slack or perhaps at most an issue for the Builder repository.

That being said, it's easy to just have the builder plugin generate the tables with the prefix as it is and then go in and change the namespace and migration files to actually be what you want them to be in the code directly.

[2018-08-22 03:08] #3713 closed

[2018-08-22 06:35] kharanenka commented on #3675
I create PR in octobercms/library repo ([link](https://github.com/octobercms/library/pull/339))

[2018-08-22 07:57] viamage opened #3714 "Issues with installing composer dependencies for PHP7.1+"
##### Expected behavior
October is running on PHP7.2 and allows pulling plugin's composer dependencies that require PHP7.1+

##### Actual behavior
October breaks with

[code]

##### Reproduce steps
Require for example `hashids/hashids 3.0` in plugin's composer json and do composer update from october's root directory.

##### October build
437/dev-master, installed with composer create-project

###

[2018-08-22 08:12] mariavilaro opened #3715 "Autoprefixer support"
Hi! I was investigating a way of integrating autoprefixer and I just found out that the Assetic package that you are using to compile the assets already has a AutoprefixerFilter for that. Do you plan in supporting it soon? Maybe as a new config param in config/cms.php or something?

[2018-08-22 08:41] SeriousKen opened #3716 "Question about ExtensionBase code"
Looking at the code for ` October\Rain\Extension\ExtensionTrait` I noticed the following code:

[code]

https://github.com/octobercms/library/blob/c643d02957f5e2bdbccb796e5d03a0ae3342c2b1/src/Extension/ExtensionTrait.php#L27-L30

Should it not be:

[code]

Maybe @LukeTowers can shed some light on this.

[2018-08-22 09:07] iboved opened #3717 "How to catch 404 response in OctoberCMS and make some logic before displaying 404 page?"
Is it possible to catch 404 response in OctoberCMS and make some logic before displaying 404 page?

For example, a user is trying to access some image on my site with url = http://site.com/storage/app/media/image_name_500_350.jpg . If this image does not exist (if this link returns 404 error page), I want to catch this response, create image with width = 500 px and height = 350 px and show this im

[2018-08-22 09:40] iboved commented on #3717
@nathan-van-der-werf thanks for your answer, but `cms.page.display` Event is not called when we access an image from MediaManager by url like so: http://site.com/storage/app/media/image_name.jpg
I have just checked. Maybe you know another solution?

[2018-08-22 09:56] gergo85 commented on #3698
I fixed it, but there is an another issue. If I upload a too small image (height < 170px), the image thumbnail generator increases the image height to 170px. So the image will become ugly.

[2018-08-22 10:18] nathan-van-der-werf commented on #3717
@iboved For me it works, tried it with your URL (on my own local domain) (https://xxxxx.localhost/storage/app/media/image_name.jpg), the event cms.page.display gets fired since the file (page) doesn't exist.

What is the result you are getting? The 404 page ?

[2018-08-22 10:34] iboved commented on #3717
@nathan-van-der-werf I have found why `cms.page.display` Event is not called in my application. The `cms.page.display` Event is called only if you have a CMS page with url = "/404". If no, this Event is not called.
I have tried to use `cms.page.beforeDisplay` Event, but it seems that it is very early. I always have 200 status code in this Event.

[2018-08-22 10:48] iboved commented on #3717
@nathan-van-der-werf I think "/404" CMS page is not a problem. I will create this page to make it possible to catch `cms.page.display` Event. Thank you for your help. You gave me a very good starting point in this issue.

[2018-08-22 12:20] viamage opened #3719 "October Drivers market version is behind upstream (causing errors in PHP7.2 environment)"
##### Expected behavior
October Drivers installs Guzzle 6.3 when installed with php artisan plugin:install october.drivers

##### Actual behavior
October Drivers installs Guzzle 6.0

##### Reproduce steps
[code]

##### October build
any

#### Details
There are bugs in Guzzle 6.0 affecting all PHP7.2 users, which were resolved in Guzzle 6.3.
https://github.com/guzzle/guzzle/issues/1750

I see Octob

[2018-08-22 12:29] sushmak2216 commented on #681
Integration with list behavior is not working
I have added the following lines into list configuration files:
export:
    useList: true

[2018-08-22 12:32] sushmak2216 opened #3720 "Integration with list behavior is not working"
##### Expected behavior
The export button will export the list data into excel

##### Actual behavior
Nothing happens

##### Reproduce steps
added the following lines into list configuration files:
export:
   useList: true
**Note**: it doesnot seems to be done
Will you suggestion what am i missing?

##### October build
(October build number)

[2018-08-22 14:36] LukeTowers commented on #3714
@viamage @jonpxpx I had a discussion with @daftspunk about this before he implemented it and he's not going to budge on changing it unfortunately. Your best bet for autodeployments is probably to remove the default composer.json and replace it with your own prior to running `composer install`.

[2018-08-22 15:17] nathan-van-der-werf commented on #3714
While I don't agree with the BC (since Laravel 5.5 has >=7.0)

@viamage @jonpxpx you could use the "--ignore-platform-reqs" flag while executing composer install / update, see https://getcomposer.org/doc/03-cli.md#install-i (don't think it's the "best" thing to do, but it's something to consider)

[2018-08-22 18:42] w20k commented on #3719
@LukeTowers , should be compatible with version 5.5 or higher("php": ">=5.5").

They fixed the bug where collection wasn't initialised, which somehow was related to many libraries and php 7.2 ([Pull request fix](https://github.com/guzzle/guzzle/pull/1686/files))

[2018-08-22 18:43] Rike-cz opened #3721 "CombineAsset::combineToFile and localPath parameter"
https://github.com/octobercms/october/blob/ab7dda260baf2b0489f6fe2753a5fabc6f910b93/modules/system/classes/CombineAssets.php#L204

$localPath is not used in this method.

[2018-08-22 20:53] nathan-van-der-werf commented on #3529
SameSite configuration has been added in https://github.com/octobercms/october/pull/3688

[2018-08-22 21:01] nathan-van-der-werf commented on #3451
👍

The images are still loaded over http, this really should be https. This should be a small fix to make.

[2018-08-22 21:29] #3545 closed

[2018-08-22 21:29] LukeTowers commented on #3507
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:29] #3507 closed

[2018-08-22 21:30] #3499 closed

[2018-08-22 21:30] LukeTowers commented on #3529
Fixed by https://github.com/octobercms/october/commit/80942fa2d7d9bf2776815fcb459fcab5bf129a2f

[2018-08-22 21:30] #3529 closed

[2018-08-22 21:31] #3272 closed

[2018-08-22 21:32] LukeTowers commented on #3398
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:32] #3398 closed

[2018-08-22 21:32] LukeTowers commented on #3337
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:32] #3337 closed

[2018-08-22 21:32] LukeTowers commented on #3251
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:32] #3251 closed

[2018-08-22 21:33] LukeTowers commented on #3239
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:33] #3239 closed

[2018-08-22 21:34] LukeTowers commented on #3191
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:34] #3191 closed

[2018-08-22 21:34] LukeTowers commented on #3173
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:34] #3173 closed

[2018-08-22 21:35] #3155 closed

[2018-08-22 21:35] LukeTowers commented on #3123
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:35] #3123 closed

[2018-08-22 21:36] LukeTowers commented on #3078
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-08-22 21:36] #3078 closed

[2018-08-22 21:38] LukeTowers commented on #3016
@jan-vince @tyamz I think the answer is because you're overwriting the value of `preview_image` with your column, so if you did
[code]
it should work.

[2018-08-22 21:38] #3016 closed

[2018-08-22 21:40] LukeTowers commented on #3721
What's your point?

[2018-08-22 21:43] LukeTowers commented on #3719
@daftspunk I don't have access to the October marketplace account to setup auto builds for the Drivers plugin to pull in https://github.com/octoberrain/drivers-plugin/commit/40f6a8272738ade54aac7133f783e92818fe45a5 for a new marketplace build.

[2018-08-22 21:44] #3714 closed

[2018-08-22 21:47] #3717 closed

[2018-08-22 21:47] LukeTowers commented on #3720
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2018-08-22 21:51] LukeTowers commented on #3716
@SeriousKen you're probably correct, good catch! I'll ping @daftspunk to take care of this just in case he did it on purpose.

[2018-08-22 21:53] LukeTowers commented on #3715
@mariavilaro what would you suggest? Also, could you expand what exactly an "auto prefixer" does? Is that for adding the vendor prefixes to CSS properties? If so, does that filter work with projects that already have vendor prefixed properties?

[2018-08-22 23:41] daftspunk commented on #3716
Confirmed typo. PR would be accepted.

[2018-08-23 06:41] mittultechnobrave opened #3722 "OctoberCMS local and test server storage path issue"
I have created one virtual host in my local server .. say it as `demo.mywebsite.com` and made my all the changes using static pages and uploaded few images on the fly from editor in static pages this is working fine.

Now as soon as I uploaded on my test server,somewhere at`http://testserver.com/mywebsite`, I m unable to see the images which I had uploaded on my local server.

When I `firebug` it,

[2018-08-23 11:15] SeriousKen commented on #3716
PR created https://github.com/octobercms/library/pull/340

[2018-08-23 11:36] Alex360hd commented on #3683
I work in an agency, and we would be really happy to pay a recurring fee in order to be able to setup some private plugins and themes on october websites (synced with the project feature).

If pond is a good tool, we would also pay in order to use it. But it seems to become a chimera.

We would also pay for an extended licence for a good visual page builder (like the one you teased before abandon

[2018-08-23 14:47] LukeTowers commented on #3683
@Alex360hd @errantquill @onurguven what's the reason for the thumbs down on managed hosting and recurring licenses?

[2018-08-23 15:05] Alex360hd commented on #3683
For me, as an agency, we already have our own servers so I completely don't care about managed hosting. I would prefer you put some efforts in things that directly concern our everyday job (I think about media manager revamp, private plugins and theme, etc...) that would change our everyday life.

For reccuring licence it was a mistake (even if it's low in the list of things I would like to see fo

[2018-08-23 15:26] LukeTowers commented on #3683
@Alex360hd is the media manager revamp something that your company would be interested in sponsoring?

[2018-08-23 15:33] Alex360hd commented on #3683
It's hard actually cause sponsoring, opensource etc... are not in the DNA of my boss actually (try to change that). That's why I push for ideas that would convince my boss to give you some money cause it would bring to us a real gain. (media manager would too but it's not like subscribing to a service).

[2018-08-23 15:46] LukeTowers commented on #3722
@mittultechnobrave this would be a question for the static pages repo, not the main one. In any case, the images have been added to the richeditor content using the path resolution that was available when the images were added to the field, the image paths within the richeditor fields are not processed through the `|media` filter later.

To replace these paths either setup a 301 redirect of all /s

[2018-08-23 15:46] #3722 closed

[2018-08-23 16:37] tamer-hassan opened #3726 "Feature request: Artisan schedule:list command"
As here: https://github.com/hmazter/laravel-schedule-list
tried to integrate into a OC plugin but cannot get it to work.

[2018-08-23 16:40] LukeTowers commented on #3726
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: http://octobercms.com/forum
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

The support demand for

[2018-08-23 16:40] #3726 closed

[2018-08-24 07:00] daftspunk commented on #3719
Jobs done:

[code]

[2018-08-24 07:00] #3719 closed

[2018-08-24 07:07] daftspunk commented on #3714
There is an important reason for this change, altho it would appear the flag gods have sent us `--ignore-platform-reqs` anyway. @LukeTowers should we document it?

[2018-08-24 07:14] #3716 closed

[2018-08-24 07:37] LukeTowers commented on #3714
@daftspunk probably, where do you think is best?

[2018-08-24 07:48] ErrantQuill commented on #3683
@LukeTowers Because often, updates to a plugin can include security updates or compatibility fixes with various composer package updates. It seems unfair to charge someone again just to keep their site functional and secure. A system to only charge for feature updates or something of the sort would then mean having to maintain LTS versions and whatnot. Seems like a hassle for everyone involved.

[2018-08-24 08:25] tamer-hassan commented on #3726
I now have a working plugin, which I will publish, hopefully later today.
Could you kindly reopen the issue so I can reference a PR to here?

[2018-08-24 11:01] tamer-hassan commented on #3726
nevermind, i read this https://octobercms.com/help/site/authors

[2018-08-24 11:11] gergo85 commented on #3698
Done.

[2018-08-24 11:11] #3698 closed

[2018-08-24 15:35] LukeTowers commented on #3683
@ErrantQuill the current marketplace model is everything is provided in "as-is" condition. The idea behind the recurring licenses would be something like GravityForms model where you pay a yearly fee to continue getting updates and support. If anything it makes it better for the user because then the author actually has a reason to keep their plugin up to date and working well.

[2018-08-25 13:27] Teranode commented on #3721
@LukeTowers I beleive he's trying to find out why it's there if it's not in the function:

[code]

[2018-08-25 13:54] Teranode commented on #3603
This would essentially be changing all popover content as popup based on size.

[2018-08-25 15:27] Rike-cz commented on #3721
@Teranode We talked about it with @LukeTowers later on Slack and I was called to make a pull request #3727

[2018-08-25 19:41] ErrantQuill commented on #3683
@LukeTowers That's a fair point, actually. I've a bit of a jaded opinion since clients in my country fight tooth and nail over pennies.
To be honest, I have not actually used any plugin besides the Users and Location plugins; the very reason I took up October is the ease of extensibility using plugins so I tend to just make whatever is needed. October makes things pretty easy anyway, and any clien

[2018-08-26 18:08] ibanks opened #3728 "Should I Keep Publisher/Developer Roles Or Replace Them With My Own?"
##### Expected behavior
I expect that when I set the publisher and developer **is_system** flag in the database to false, I will be able to alter the individual permissions in the backend admin panel.

##### Actual behavior
When I alter the permissions and save, the is_system flag in the database is set right back to true each time.

I'm sure this is an elementary question but I haven't put time i

[2018-08-26 19:46] LukeTowers commented on #3728
Read http://octobercms.com/docs/backend/users to get a better understanding of how the role system works @ibanks

[2018-08-26 19:46] #3728 closed

[2018-08-26 19:46] LukeTowers commented on #3728
Also don't just make up a build number if you don't know it 😝

[2018-08-26 19:49] ibanks commented on #3728
@LukeTowers

Lol. You got me. ;-)

[2018-08-27 13:09] YeyeMorales commented on #3158
Thx for this!!!

[2018-08-27 23:33] w20k commented on #3707
@ayumihamsaki , Hi, didn't have time to play with a fully PWA ready solution (or close to fully workable solution), but I did small testing, and thought about an idea. Haven't yet digged in the Workbox docs, so this might sounds silly, but Isn't that easier to just specify "white listed routes" ?

[2018-08-28 08:31] w20k commented on #3451
Hi, should October market also be a https? ([UpdateManager Api URL](https://github.com/octobercms/october/blob/ab7dda260baf2b0489f6fe2753a5fabc6f910b93/modules/system/classes/UpdateManager.php#L895)

[2018-08-28 10:56] SeriousKen opened #3730 "Is setDepth necessary here in NestedTree?"
Looking at the NestedTree trait I spotted this:

https://github.com/octobercms/library/blob/c643d02957f5e2bdbccb796e5d03a0ae3342c2b1/src/Database/Traits/NestedTree.php#L112-L115

The work of `moveToNewParent` is done in the `moveTo` method which as one of the last things it does is call `setDepth`. So is it necessary to call it again? I've commenting out the line done some limited testing and it d

[2018-08-29 03:44] LukeTowers commented on #3451
Yes, that's @daftspunk's realm to deal with though.

[2018-08-29 04:45] LukeTowers commented on #3730
@SeriousKen is it causing any issues the way it is right now?

[2018-08-29 08:21] NSVN-DinhTheLam opened #3731 "Dashboard report-widget not padding right on Firefox"
##### Expected behavior
Hover then report-widget title must padding right 18px

##### Actual behavior
They won't padding at all. Overlap with drag-handle

##### Reproduce steps
Drag any widget then hover other widgets. They won't padding to right (Firefox only)

##### October build
437

##### Fixed:
Add following CSS to 'modules/backend/widgets/reportcontainer/assets/css/reportcontainer.css':
`.re

[2018-08-29 08:28] SeriousKen opened #3732 "No getLeftSibling() or getRightSibling() methods in NestedTree"
There are no `getLeftSibling()` or `getRightSibling()` methods on the `NestedTree` trait which causes the `moveLeft` and `moveRight` methods to fail with `Call to undefined method October/Rain/Database/QueryBuilder::getLeftSibling()`

https://github.com/octobercms/library/blob/c643d02957f5e2bdbccb796e5d03a0ae3342c2b1/src/Database/Traits/NestedTree.php#L295-L311

[2018-08-29 09:00] SeriousKen commented on #3730
Looks like it is necessary. When moving nodes with children, the depth doesn't get updated on the children without it.

[2018-08-29 09:00] #3730 closed

[2018-08-29 14:52] funphp opened #3733 "CMS sidebar buttons are not working with fresh installation"
##### Expected behavior
Add pages, update page content

##### Actual behavior
nothing

##### Reproduce steps
just click on sidebar menu

##### October build
437
<img width="549" alt="screenshot 2018-08-29 20 51 59" src="https://user-images.githubusercontent.com/905894/44795828-7129a480-abcd-11e8-9b74-cec64447a0b3.png">

[2018-08-29 18:29] ayumihamsaki commented on #3707
@w20k

Yes and no, because you dont want to write the URL route of your custom October CMS Admin in a Javascript File which hackers can read, if you are saying just to add the route in the service worker code. But if you are saying create a white list via php then I say yes, because then it would be hidden.

[2018-08-29 19:46] SeriousKen opened #3734 "listsNested incorrect order"
##### Expected behavior
Calling listsNested should return an indented array that represents the tree

##### Actual behavior
Returns an indented array but in index order rather than ordered by nest_left

##### October build
437

[2018-08-29 20:00] SeriousKen commented on #3734
Created PR https://github.com/octobercms/library/pull/344

[2018-08-29 21:52] SeriousKen commented on #3734
Not sure now if this is the correct way to fix this. Looking at the query object that is got from the builder it doesn't seem to have the nested tree global scope applied to it.

[2018-08-29 22:18] SeriousKen commented on #3734
Replaced getQuery with toBase which returns a query object with all scopes applied. This ensures the global scope is applied and gives the correct ordering.

[2018-08-29 23:27] #2489 closed

[2018-08-29 23:46] LukeTowers commented on #3733
Duplicate of #3602'

[2018-08-29 23:48] LukeTowers commented on #1844
Duplicate of #3602

[2018-08-30 02:31] daftspunk commented on #3602
Although I suspect this is a problem related to double minification. According to this [CloudFlare article](https://support.cloudflare.com/hc/en-us/articles/200169436-How-can-I-have-Rocket-Loader-ignore-specific-JavaScripts-) we simply need to tell Rocket Loader to ignore some specific scripts.

Fixed by f068b13851150c6d12f4f2949497e21b980b7f15
Available in Build 443+

[2018-08-30 02:48] daftspunk commented on #3675
Fixed by https://github.com/octobercms/library/pull/339

Thanks

[2018-08-30 02:48] #3675 closed

[2018-08-30 08:05] SeriousKen opened #3736 "NestedTree trait getParent returns collection"
The `getParent` method returns a collection, should it not return a model instance instead as this is probably the most expected behaviour?

[2018-08-30 08:57] vosco88 commented on #3731
I've added the suggested display:block #3737

[2018-08-30 09:21] Fl0Cri opened #3738 "Cannot make thumbnails of an image without extension"
Actually the `getThumb()` method of `October\Rain\Database\Attach\File` relies on `isImage()` which check if the extension is in an array of image extensions.

The problem is that images may not have an extension. For example I tried to download  an image from a Google Drive url, which look like a long token without indication of the extension (and I bet some APIs also do like this).

It would be

[2018-08-30 09:32] w20k commented on #3707
@ayumihamsaki , That was not exactly my idea :)

Just use approach that firewalls uses under the hood: specify only those route, that are public, and for all others - deny usage of SW. By default, if route is not specified, just don't use service worker. Hackers won't see your private routes anyhow (only by sniffing ports/routes, in this case), if you really need to use admin/private routes with S

[2018-08-30 11:30] CSNWEB opened #3739 "Plugin refresh fails when other plugins depend on it"
##### Expected behavior
If I refresh a plugin all plugins that depend on it are refreshed as well (first all rolled back and then all recreated). Otherwise this doesn't work at all with dependent plugins.

Example, you installed the User Plugin and now you add your own House Plugin.

[code]

And you have a table `house`
[code]
Then `php artisan plugin:refresh Rainlab.User` should still work

It wo

[2018-08-30 13:01] SeriousKen opened #3740 "Using touches on NestedTree causes an exception"
If a model that uses NestedTree is a parent of another model that defines $touches on the relationship then it throws an execption:

[code]

I think I've tracked this down to `$moveToNewParentId` being `null` as default. Setting it to `false` in the NestedTree trait seems to fix this.

[2018-08-30 18:48] SeriousKen commented on #3740
Looking into this further I think the problem lies elsewhere. My PR works because the default for $moveToNewParentId is false rather than null but the issue caused because for some reason the beforeSave event isn't firing so storeNewParent is never called.

[2018-08-30 18:55] SeriousKen commented on #3740
Got it! In the Eloquent model, touchOwners only fires the saved event, not the saving event. This means that any touched October models only fire the afterSave event, so this PR is needed to work around this case.

[2018-08-30 19:08] ayumihamsaki commented on #3707
@w20k I got this feeling you not used service workers much? That wont fix the issue in this problem.

I think the issue is that the service worker is messing up the session cookie and showing october a cached version of the cookie only or something. No admin files are being cached by the way.

[2018-08-30 19:30] ayumihamsaki commented on #3707
@w20k Cool idea, will create that for the backend and see if it will fix the issue.

[2018-08-30 19:43] ayumihamsaki commented on #3683
@LukeTowers @daftspunk I'm all for you guys making money from this project. I just want to add a comment saying please dont make October CMS end up like Pyro CMS. I was with them for many years and the owner was very rude and made all the plugins over priced when he upgraded the CMS to V3. So I decided to move across to October CMS and I really love the CMS and the People and Team behind it.

Pers

[2018-08-30 20:08] petehalverson commented on #3683
## October CMS Conference
Start a conference. Sell tickets and sponsorships.

[2018-08-31 01:10] #3032 closed

[2018-08-31 01:20] montcroft opened #3741 "Valid file characters too restrictive"
Smells like #3606 and #3607, but  is a request for broader general character support. Perhaps you could provide this as a configurable option?

##### Expected behavior
Media library should handle any *existing* and valid filename for the operating system / serving environment.

If it cannot manage a given name, it should elegantly handle this case, and allow continued use of the media library. If

[2018-08-31 06:52] LukeTowers commented on #3738
@Fl0Cri I believe it's currently implemented that way to give some level of control over what the system deems an acceptable image. How come you can't do the analysis of the mime types in your own code and then assign an appropriate extension before passing it off to the File->getThumb method?

[2018-08-31 06:54] LukeTowers commented on #3739
@CSNWEB a PR would be accepted implementing the functionality you speak of (rolling back dependent plugins as well upon confirmation)

[2018-08-31 06:56] LukeTowers commented on #3740
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2018-08-31 07:05] LukeTowers commented on #3741
The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Contribute to my Patreon](https://www.patreon.com/LukeTowers) so that I can spend more time on issues like these
- [Make a

[2018-08-31 07:18] CSNWEB commented on #3739
@LukeTowers great to hear. I digged a bit into it and wonder where the right place to fix this is. There seem to be several rollback functions including one in the version manager.

[2018-08-31 07:37] Fl0Cri commented on #3738
Yes, that's what I finally did, but it would have been convenient if it could have worked out of the box.

In my case I need to add custom http headers to access the image so of course the provided `fromUrl()` could not suit my needs (I don't blame it, I understand that it's a too specific use case), but in a more common case it could have detected the `Content-Type` response header and internally

[2018-08-31 08:09] CSNWEB commented on #3739
I could imagine updating this: https://github.com/octobercms/october/blob/master/modules/system/classes/UpdateManager.php#L533
and this https://github.com/octobercms/october/blob/master/modules/system/classes/UpdateManager.php#L504
But then I would need to add the stopOnVersion parameter, (so the dependencies don't get updated). Or write all logic in the command.

[2018-08-31 08:31] w20k commented on #3707
@ayumihamsaki , you're welcome ;) Hope it helps!

[2018-08-31 08:54] SeriousKen commented on #3740
@LukeTowers PR to test plugin created https://github.com/octoberrain/test-plugin/pull/52

[2018-08-31 09:50] minhluccode opened #3743 "Why not use the viewbag in the layout when Layout Model Afterfetch"
##### Expected behavior
(Describe expected behavior here)
<img width="578" alt="screen shot 2018-08-31 at 4 47 46 pm" src="https://user-images.githubusercontent.com/29726422/44905978-e320fb80-ad3d-11e8-8ce3-54e4fce06777.png">
<img width="586" alt="screen shot 2018-08-31 at 4 48 05 pm" src="https://user-images.githubusercontent.com/29726422/44905979-e3b99200-ad3d-11e8-96f3-5cbbe13324f2.png">

#####

[2018-08-31 15:29] LukeTowers commented on #3738
@Fl0Cri I'd accept it in the fromUrl method or perhaps as a flag to the isImage method, but not replacing the existing behaviour.

[2018-08-31 16:21] Eoler opened #3745 "Dropdowns not working in backend forms with sidebar"
List items in dropdown menus (that includes language switcher from RainLab.Translate) are inacessible in backend forms sidebar area - see this video demonstration:

![dropdown-form-with-sidebar](https://user-images.githubusercontent.com/680032/44923943-0a7dc580-ad4a-11e8-9a84-89c1bb6d0a0a.gif)

Reproduced with latest extensionless Chrome/Firefox on Windows 10.

##### October build
442

Possible co

[2018-08-31 23:37] LukeTowers commented on #3743
(Describe the lack of response here)

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers

[2018-08-31 23:37] #3743 closed

[2018-08-31 23:42] LukeTowers commented on #3745
@Eoler are you able to investigate the styles that are causing the issue and submit a PR to fix it?

[2018-09-02 11:38] YeyeMorales commented on #2302
Cambiar a español
Hello, I have problems with exporting. I need the file to export the data I select in the list but the model does not take that data from me, implement the filters with the scopes but never take them, they could help me
sorry for my English.

[2018-09-02 14:06] ayumihamsaki commented on #3707
@w20k Have tested it out, only half works. You also need to delete the pre-cache as well, so if the Service Worker is already cached or you open both the Admin and websites in different tabs in the same browser, you would still get the issue and need to clear the cache as well.

Doing both things I think will sort out the issue - still coding and testing...

[2018-09-02 20:56] tamer-hassan opened #3746 "Support Swoole"
Already got OctoberCMS working with Swoole after some work with https://github.com/scil/LaravelFly  running in "Map" mode.

but have only two main issues with current OC code:

- the stage at which Execution Context (back-end/front-end) setting happens is very early
See: https://github.com/octobercms/library/blob/master/src/Foundation/Bootstrap/RegisterOctober.php#L40-L50
It is not until System\Se

[2018-09-03 08:05] jason-migz opened #3747 "Allowed memory size of 134217728 bytes exhausted (tried to allocate 9796480 bytes) in RainLab User Plugin"
##### Expected behavior
POSSIBLE DUPLICATE: [https://github.com/octobercms/october/issues/2590](url)
- I will redirect to UserPage when Log-in Authentication is valid
##### Actual behavior
- When i try to login this Error is displayed Allowed memory size of 134217728 bytes exhausted (tried to allocate 9796480 bytes)

##### Reproduce steps
- Seed the RainLab.User Plugin for 10000 User
- Log-in with

[2018-09-03 09:33] mariavilaro commented on #3715
Yes @LukeTowers it's exactly that. Latest Laravel with webpack does it automatically already. https://github.com/postcss/autoprefixer

I'm not exactly an expert, but I think that if you run it with projects that are already prefixed, it will remove and readd the properties as your browsers configuration says.

And yes @Teranode of course autoprefixer needs to be installed in the system as a node m

[2018-09-03 13:59] Mohmdthabet opened #3749 "404 page no ajax handlers was found"
Adding on Ajax request using  $.request inside the 404 page returns

AJAX handler '' was not found.

Although it is added in the layout and inside the page itself.

You can replicate the issue by adding any ajax request inside the 404 page it always returns the ajax handler is not found.

[2018-09-03 14:29] mariavilaro commented on #3715
I think I will have to desist. In Win and Mac devel environments I can't make it work, in my linux server it works but when I try to pass a browser list that is not the default, it fails with a timeout. I think it's too much to make it work in runtime.

[2018-09-03 14:59] tamer-hassan commented on #3746
https://github.com/tamer-hassan/october-fly

[2018-09-03 17:12] wertykid opened #3751 "Meta description inserted but not showing on page itself"
##### Expected behavior
(Describe expected behavior here)
Hello,
I have implemented Meta Title and Description at the backend of some static pages. However, when I check the source webpage it does not reflect the meta title and meta description. Can anybody help me with this? Thanks a lot!

![metaissue1](https://user-images.githubusercontent.com/15935795/44997225-644aed80-afdf-11e8-8c67-e3ef33cf76

[2018-09-03 18:56] Eoler commented on #3745
Came as far as concluding that it's connected with independent scrolling for sidebar area (disabling .control-scrollpanel and .control-scrollbar in [form-with-sidebar layout](https://github.com/octobercms/october/blob/master/modules/backend/layouts/form-with-sidebar.htm#L21) fixes it), but too much nested divs and dependencies after that.

Worked around this issue and another one #1698 by overridi

[2018-09-03 20:30] LukeTowers commented on #3747
1. This doesn't belong in the main OctoberCMS repo, use the repo for the RainLab.User plugin instead: https://github.com/rainlab/user-plugin
2. This looks like something's wrong in your octobercms-profile-search project. Can you replicate in a fresh install of OctoberCMS on the demo theme?

[2018-09-03 20:30] #3747 closed

[2018-09-03 20:33] LukeTowers commented on #3749
@the-specialist2005 please submit a PR to this repository demonstrating the issue in the demo theme.

[2018-09-03 20:34] LukeTowers commented on #3715
@mariavilaro well thanks for your interest in it anyways!

[2018-09-03 20:34] #3715 closed

[2018-09-03 20:39] LukeTowers commented on #3746
@tamer-hassan I don't really have any idea what you're asking for nor do I have the time to research a bunch of other projects to figure it out either. Try simplifying what you're saying so that I can easily grasp what it is you're trying to do / want me to do about your question.

[2018-09-03 20:41] LukeTowers commented on #3751
Yes, you need to do that yourself in your theme. See https://github.com/rainlab/bonjour-theme/blob/master/partials/site/meta.htm#L2-L10

[2018-09-03 20:41] #3751 closed

[2018-09-04 02:49] jason-migz commented on #3747
This [https://github.com/rainlab/user-plugin](url) Plugin is my currently using here is the picture of my Installed plugin
![capture](https://user-images.githubusercontent.com/21366028/45007242-7b193080-b02f-11e8-9f29-f9cff12687f0.JPG)
Looks Like this plugin can't handle vast amount of users or just my XAMPP server. but i tried it on Laravel project and seed 1 million user and user there _php arti

[2018-09-04 04:57] jason-migz opened #3752 "RE: Allowed memory size of 134217728 bytes exhausted (tried to allocate 9796480 bytes) in https://github.com/rainlab/user-plugin Plugin"
##### Expected behavior
- I will redirect to UserPage when Log-in Authentication is valid

##### Actual behavior
When i try to login this Error is displayed Allowed memory size of 134217728 bytes exhausted (tried to allocate 9796480 bytes)
![44974908-9e8e9d80-af93-11e8-97da-11c53653e2dd](https://user-images.githubusercontent.com/21366028/45010790-c6d4d580-b041-11e8-996c-f2f6393cf08d.JPG)
![capture

[2018-09-04 06:44] CSNWEB commented on #3739
@LukeTowers I would actually do that by default otherwise you end up with a hafly down migrated plugin in the worst case. But a flag is also one. The behaviour you describe is exactly what I would like to have. Although this has to be recursive of course so that the dependencies of the dependencies are `down()`ed first (and `up` at the end of course)

[2018-09-04 06:50] LukeTowers commented on #3752
Duplicate of #3747. Please be more careful.

[2018-09-04 06:50] #3752 closed

[2018-09-04 06:52] LukeTowers commented on #3739
@csnweb I disagree with having it be the default behaviour, the issue only becomes a problem when dependents enforce DB level foreign keys so having potentially unintentional data loss result by default is not something I'm comfortable with

[2018-09-04 06:55] CSNWEB commented on #3739
@LukeTowers That why I actually would list all plugins that will be rolledback and ask if you really want to do that. But a flag is also fine, still would like to add that prompt.

[2018-09-04 16:45] rbferreyra commented on #3657
@pavelmgn Do you have found the solution?

[2018-09-04 17:59] LukeTowers commented on #3746
@tamer-hassan how about you submit a PR with the required changes to support Swoole to the https://gitub.com/octobercms/library repository and we can carry on the discussion there?

[2018-09-04 18:02] LukeTowers commented on #3739
I would say that we could have it continue doing the current behaviour, but in the output of the default command list the plugins that would be affected by adding the flag to the command and inform the user how to run it with the flag.

Feel free to submit a PR that implements this functionality in it's own method and then we can go from there to discuss having changes to existing methods in order

[2018-09-04 22:18] VoroninWD opened #3755 "List of checkboxes do not work on the touch screen"
##### Expected behavior
It should work

##### Actual behavior
It does not work. Pressing does not give any result

##### Reproduce steps
Go to any list and open its settings. Try turning off or on any checkboxes.
![screenshot_2018-09-05-01-04-15-205_com android chrome](https://user-images.githubusercontent.com/20097205/45060469-a12ee700-b0a8-11e8-86e1-4b72c1972b52.jpg)

It also does not work on th

[2018-09-05 03:01] testdnmedia opened #3756 "please update laravel 5.5 to 5.7"
october cms now uses version 5.5, please support laravel version 5.7. judging from the version used now it is far behind

[2018-09-05 03:13] jason-migz opened #3757 "Access Twig Variable in Javascript file"
##### Expected behavior
I expected that if i will write variable in my _.htm_ like this `{% set name = 'Juan' %}` and alert it in my _.js_ file like this `var myName = '{{ name }}' alert(myName);` it will alert the `myName` variable.

##### Actual behavior
Instead alert the `myName` variable it's alerted the whole string like this {{ name }} I hope OctoberCMS developer will notice this because in

[2018-09-05 03:40] munxar commented on #3757
put that in **one** file:

[code]

it works.

[2018-09-05 04:48] Teranode commented on #3756
October uses LTS releases. When the next LTS releases it will be upgraded to that.

[2018-09-05 05:00] jason-migz commented on #3757
@munxar I got syntax error when i put
[code]
inside the <script></script> tag but it works fine when i put it outside the <script></script> tag inside the _.htm_ file.

[2018-09-05 07:04] seanthepottingshed commented on #3710
@daftspunk @LukeTowers

I've run into an edge case where **you can only extend the form fields once** as I can't pass `$config` into the `cms.theme.extendFormConfig` event callback by reference .

In the below example I'm listening to the Event twice in the boot method of the same plugin. In a real world application it would implemented in the boot method of several elevated plugins:

[code]

How

[2018-09-05 10:10] Alex360hd opened #3759 "Add a way to display dropdown values with twig"
##### Expected behavior
When I create some dropdown in the backend, I want to be able to easily display the key and / or the value of that dropdown in my templates, without writing PHP as it should be an easy and common task.

##### Actual behavior
Actually, you can only display the key by using {{ model.my_dropdown }}, there is no way (directly with twig) to display the dropdown value (which is a

[2018-09-05 11:29] w20k commented on #3759
Hi @Alex360hd ,

You could create your own plugin for Twig dropdown support, like this one from @LukeTowers -> https://github.com/LukeTowers/oc-twigpcre-plugin. And add to the market, so that everyone could use it or help you somehow.  Or provide a PR to support this feature.

[2018-09-05 11:33] w20k commented on #3757
@jason-migz , could you share your code snippet, probably you have an error in usage.

This is correct example, and should not rise any errors (tried on my local machine, build version 442):
[code]

[2018-09-05 11:35] w20k commented on #3755
Hi, @ebashu-on-holidays,
Needs additional effort to investigate the cause :)

Found out that only first checkbox works and not under the checkbox spot, but top left corner from it.

[2018-09-05 11:36] pavelmgn commented on #3657
@rbferreyra  I created a FormWidget to solve the problem.

[2018-09-05 16:10] kpolicar opened #3762 "Backend controller behavior hidden actions"
##### Expected behavior
Define a variable $hiddenActions on classes extending Backend\Classes\ControllerBehavior which appends these actions to the controller's existing hidden actions.

##### Actual behavior
One can currently hide controller behavior actions by calling the hideAction method for each action in the behavior, or by listing the methods in the controller. Both methods are rather messy

[2018-09-05 16:28] ayumihamsaki commented on #3707
I think the following three things should be added to October CMS to fix the issue, these are as follows:

1. As w20k has said, give an option in the backend Settings to be able to block the Service Worker Route.

2. OctoberCMS should Clear the Cache on the Admin Login Page, this would cover two main things, the first is clearing the Service Worker Cache or any other Cache that has been instead by

[2018-09-05 19:39] LukeTowers commented on #3756
As @Teranode said. Laravel breaks things far too often for us to be constantly upgrading the core version used, OctoberCMS will only ever use LTS releases of Laravel.

[2018-09-05 19:39] #3756 closed

[2018-09-05 19:41] LukeTowers commented on #3707
@ayumihamsaki if you can submit a separate PR for each of those issues so that we can discuss them further from there that would be appreciated!

[2018-09-05 19:42] LukeTowers commented on #3762
@Naltamer a PR for that would be accepted, also the default controller behaviors that are included in October should make sure that they aren't letting unintentional actions through (i.e. ` /backend/backend/users/listMakePartial/container`)

[2018-09-05 20:10] LukeTowers commented on #3759
@Alex360hd that's not really the responsibility of the frontend to know what you have labelled that key as in the backend. I'd agree with @w20k, implement it yourself as a separate plugin.

[2018-09-06 03:26] longcnn commented on #2307
Me too and my problem in firefox

after php artisan cache:clear

try to change another brower for example:chrome ie ...

and the problem is gone...

[2018-09-06 07:12] tamer-hassan commented on #3746
@LukeTowers PR's submitted, with changes as minimalist as possible.

1. Moving only the execution-context setting of back-end/front-end to System\ServiceProvider allows Swoole-based projects to work properly when only System\ServiceProvider is configured as a 'providers_in_request' (as in [OctoberFly example config](https://github.com/tamer-hassan/october-fly/blob/master/config/laravelfly-app-conf

[2018-09-06 09:36] jason-migz commented on #3757
@w20k your code works fine because you set the variable in global scope. but how about if i am going to use it in jQuery AJAX. for example in Laravel which OctoberCMS based you can do this
[code]
How about in OctoberCMS? because nowadays developers uses AJAX all the time especially when form submittion.

[2018-09-06 09:53] w20k commented on #3757
First, I wouldn't go with route function here, it will throw an error if your route is not defined and twig will bug out. So, your need a wrapper or a custom function, or in case of OctoberCMS I'd use - filter: page ( ```{{ product | page }} ```)
Second, what would I do before doing ajax request, put your 'route('profile')' to a variable and check if it's empty or a valide url.

[code]

[2018-09-06 10:03] Alex360hd commented on #3759
Hello,

It sound strange to me that a formWidget provided by core (dropdown) could not be displayed in frontend with ease and without external plugins, so I would prefer a PR solution directly to the core in order to support that.

But if you still think it's not the job of the core, there is the excellent [Twig extension](https://octobercms.com/plugin/vojtasvoboda-twigextensions) plugin that I in

[2018-09-07 01:17] LukeTowers commented on #3759
@Alex360hd it's not the job of the formwidget to display anything on the frontend, it's simply a tool of convenience for the backend users. Adding something in the core to do that would (in my opinion) be far too opinionated about how these things are used and setup. Remember, there are a lot of different ways that the options for a dropdown can be defined which means a lot of different places tha

[2018-09-07 01:17] #3759 closed

[2018-09-07 01:17] #3757 closed

[2018-09-07 12:56] ebashu-on-holidays commented on #3755
@w20k, yes, I tried to fix the problem through CSS, but it did not work out

[2018-09-07 14:50] w20k commented on #3683
## October CMS Paid Tutorials/Lessons from Nooby to OctoNinja
Create a tutorials/lessons for beginners and advanced Users. Really would love to have 'tips & tricks' from the core team, to know all the goodies.

[2018-09-07 15:27] HammenWS commented on #2013
@LukeTowers I have the same issue and created a PR for this #3766

[2018-09-08 09:32] VoroninWD opened #3767 "Filtering backend form data via Laravel middleware"
In my plugin I defined the boot() method and added middleware from Laravel package.

[code]

But all data written to the database - all exactly empty `_`, not `null`.

The reason is in this line:
https://github.com/octobercms/october/blob/2d77565e6cbdc26e91a2c1459bf90da79e70c23a/modules/backend/widgets/Form.php#L1130

The `post()` function receives data from `$_POST`, but middleware requires an `i

[2018-09-08 10:47] kojaktaha opened #3768 "Unable to Upload a file using JavaScript API (Argument 1 of FormData.constructor is not an object)"
##### Expected behavior
I am Trying to upload a file through Ajax in OctoberCMS, there are 2 ways to upload using Ajax either using the a for like in this [eaxmple ](https://gist.github.com/daftspunk/7491eccdb1986c2435f8fe64d9714921), or by using the JavaScript API as shown on the [Documentation](https://octobercms.com/docs/ajax/javascript-api#javascript-api).

My problem is with using the second

[2018-09-09 08:14] seanthepottingshed opened #3769 "Extending Cms\Classes\Page with Repeater Groups Field displays 'Unknown component` error after page saved"
##### Expected behavior
To be able to extend `Cms\Classes\Page` with Repeater Groups field.

##### Actual behavior
Extending `Cms\Classes\Page` with Repeater Groups field displays **Unknown component** error:

![screen shot 2018-09-09 at 08 59 35](https://user-images.githubusercontent.com/12046965/45262448-b4c2b080-b40e-11e8-824e-b1120addaf5c.png)

...file is updated as follows:

[code]

##### Rep

[2018-09-09 16:20] nozreh opened #3770 "Call to undefined method Cms\Widgets\TemplateList::getCollapseStatus() - Build 442"
Not really sure what is causing this error, I have updated all the core modules to the latest (Build 442)
But when I tried accessing my backend cms and RainLab.Pages I'm getting this error:

[code]

##### Expected behavior
Supposed to show all the CMS pages, layouts files etc.

##### Actual behavior
Unable to view CMS and Pages, showing
`Call to undefined method Cms\Widgets\TemplateList::getCollap

[2018-09-10 00:51] LukeTowers commented on #3770
@nozreh check to make sure that your local copy of https://github.com/octobercms/october/blob/master/modules/cms/widgets/TemplateList.php matches the one on Github.

[2018-09-10 02:01] nozreh commented on #3770
Hi @LukeTowers,

Thanks for the response.

Yes, it's exactly the same.

Here's the QA test user to see it in action.
url: https://qa.omh.sg/
login: temp_user
password: tempuser

[2018-09-10 06:39] ebashu-on-holidays commented on #3767
@LukeTowers , changing from `$_POST` to `request()->post()` helped to solve the problem

[2018-09-10 22:12] LukeTowers commented on #3767
@ebashu-on-holidays could you test the related pr fully then to speed up the process of merging it?

[2018-09-11 06:08] pavelmgn opened #3771 "/modules/backend/formwidgets/richeditor/assets/js/richeditor.js wrong info in comment"
##### In richeditor.js:
[code]

But its not wrong, if i init richEditor on textarea this will not worked.
The minimum constriction should be as follows:
_example_
[code]
Initialization is not on textarea.
Maybe I'm wrong, but in another way it did not work for me.

##### October build
442

[2018-09-11 08:10] kojaktaha commented on #3768
@LukeTowers How should I go about it?

[2018-09-11 12:27] pavelmgn opened #3772 "Why "has" not worked in scheduler?"
I have a class with a static method.
If I run the method from the controller button, then everything works.
[code]
filters - relationship Many To Many

But if I run method from scheduler.
[code]
It stops working.
And displays an error in the log:
[code]
If i change first record on:
[code]
everything is working

##### October build
442

[2018-09-11 21:47] LukeTowers commented on #3768
@kojaktaha you should just be able to remove those lines and do the following:
[code]

[2018-09-11 21:51] LukeTowers commented on #3771
@pavelmgn then feel free to update that example :)

[2018-09-11 21:55] LukeTowers commented on #3772
Sounds like a Laravel issue, have you tried googling for that?

[2018-09-12 04:00] Eparrita opened #3774 "Error "php artisan october:install" with an error of "Missing vendor files, try running "composer install" or use the Wizard installer.""
##### Expected behavior

Hello, I have a error after running php artisan october:install. The error is "php artisan october:install" with an error of "Missing vendor files, try running "composer install" or use the Wizard installer."

I tried running composer install, composer update but nothing. If I copy and paste the folder vendor of  other project october installed the command line php artisan

[2018-09-12 04:08] LukeTowers commented on #3774
Sounds like you're missing the composer.json file. Make sure that is present before running composer install or composer update and make sure that composer has the right permissions to create and populate the vendor directory.

[2018-09-12 04:08] #3774 closed

[2018-09-12 04:18] pavelmgn commented on #3772
Yes, I was googling, but so far nothing has been found

[2018-09-12 08:52] Alex360hd opened #3775 "Sortable datatable ?"
##### Expected behavior
The [documentation](https://octobercms.com/docs/api/backend/formwidgets/datatable) mention a $rowSorting option for datatable. I would expect that defining this to "true" add a way to sort your rows in your datatable.

##### Actual behavior
When you set rowSorting: true (also tried sortable: true) to the yaml file describing the datatable, it seems it have no effects.

####

[2018-09-12 09:36] gbaumeister commented on #3411
The problem suddenly also appears on Managed-Hosting at Hosteurope, (where it hasn't occurred until now). I can't think of any big changes on the machine as it is a shared/managed-hosting environment.

[2018-09-12 14:29] LukeTowers opened #3776 "Add ability for plugin authors to redirect to a maintained fork on the marketplace"
Plugin developers should have the ability to mark their plugin as obsolete in favour of a forked version.

In an ideal world, the developer would specify another plugin on the marketplace that is the new canonical version (requiring confirmation from the other plugin's developer, should probably be in the form of an important preset update message for the second part of this, something like "!!! O

[2018-09-12 14:37] LukeTowers commented on #3775
Maybe take a look at the actual code itself before making an issue :)

https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/DataTable.php#L29

[2018-09-12 14:37] #3775 closed

[2018-09-12 14:37] LukeTowers commented on #3775
Feel free to submit a PR implementing it however :)

[2018-09-12 15:06] Eparrita commented on #3774
Look the folders and files, they have permission 777, my machine use linux (Elemtary OS), the composer folder have permission 755. I tried all, I clone the repository, I used line command composer create-project october/october, but when I running php artisan october:install always the same error. I would like to able to use the line command. I hope you can help me, I like OctoberCMS is powerful a

[2018-09-12 15:17] Alex360hd commented on #3775
Ah sorry, I looked at others plugins that implement datatables (responsiv.pay for example) to see if I made something wrong. Didn't think to look at the formWidget code directly.

For the PR, will try but I don't feel comfortable enought with october CMS to propose something that could be integrated to core.

[2018-09-12 17:05] LukeTowers commented on #3775
Doesn't hurt to try @Alex360hd, that's how you learn more about it :)

[2018-09-12 17:06] LukeTowers commented on #3774
@Eparrita what is the output of running `composer install`?

[2018-09-12 17:11] Eparrita commented on #3774
This is the output

![captura realizada el 2018-09-12 14 09 58](https://user-images.githubusercontent.com/34838881/45441571-b8b43400-b695-11e8-93c5-faae01372c01.jpeg)
![captura realizada el 2018-09-12 14 10 40](https://user-images.githubusercontent.com/34838881/45441572-b8b43400-b695-11e8-84a9-a5cb5691ab58.jpeg)

[2018-09-12 17:38] LukeTowers commented on #3774
Try following composer's instructions:
[code]

[2018-09-12 17:45] Eparrita commented on #3774
I going to try that!

[2018-09-12 17:45] Synairgis opened #3779 "Incorrect relationship refreshing"
##### Expected behavior
I created a custom plugin to help my users fill out what they call "Accomplishments". The layouts need a slideshow so I used Peterhegman's slideshow plugin and linked it to my plugin using a relationship. So, what I'd expect when I add an accomplishment is for the slideshow preview to actually mirror the various slides and settings I added when I created said slideshow. Esp

[2018-09-12 18:34] Eparrita commented on #3774
It's done!!! Thank you so much for you support!

[2018-09-12 19:05] LukeTowers commented on #3774
No problem @Eparrita
===
Was this helpful? Did it save you time? Then consider becoming a [Patreon supporter](https://www.patreon.com/LukeTowers) so I can keep providing excellent support! Or, add your thoughts to https://github.com/octobercms/october/issues/3683

[2018-09-12 19:06] LukeTowers commented on #3779
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/octoberrain/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2018-09-12 20:28] chrisbethelepb commented on #3636
This is not a bug with October. You need to register the `Illuminate\Cookie\Middleware\AddQueuedCookiesToResponse` middleware in your plugin.

If you are defining routes in a `routes.php` file in your plugin, you can register them per-route, or using a route group. If you want to globally enable cookie queuing for your October install, add this to your `Plugin.php` file:

[code]

[2018-09-13 01:39] WaskiWabit opened #3780 "Potential problem with File"
##### Expected behavior
To be able to attach mp3 files to a model via attach one when the mp3 files are on the same file system, (not uploaded via the backend interface).

##### Actual behavior
I have a folder full of mp3 mixes that I am trying to migrate from an old site to October. When using my AudioUpload controller in the backend (which is a standard model + attach one), everything works as e

[2018-09-13 07:30] Alex360hd commented on #3775
Will try. I looked at the repeater formWidget to see how reordering is done. Seems to be in repeater.js, now I have to understand the code (have some difficulties with your JS syntax, especially Repeater.prototype), will see if I can do something

[2018-09-13 10:26] robinbonnes commented on #3683
I agree on the visual page builder part. Maybe put it on Bountysource and even sell it under rainlab in the marketplace?

For example: This Wordpress page builder plugin https://codecanyon.net/item/visual-composer-page-builder-for-wordpress/ has over 300.000 sales * 46 dollars ...

[2018-09-13 11:58] Teranode commented on #3304
I'd need a visual representation on what needs to be done.

[2018-09-13 12:44] Synairgis commented on #3779
As requested, I created a pull request (#54) and included detailed instructions to reproduce the issue in said request using the test plugin. Of course, if you have any questions don't hesitate to ask.

[2018-09-13 13:42] Nelortiz opened #3781 "Problem with SMTP- contact send email"
/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/AbstractSmtpTransport.php

[2018-09-13 13:44] Nelortiz commented on #3781
Timed Out" on line 477

[2018-09-13 14:36] Nelortiz commented on #3781
I forgot to activate first SLL then configure mail smtp with port 465, Thanks October

[2018-09-13 14:36] #3781 closed

[2018-09-13 14:40] YannPl opened #3782 "Bring back grouped hierarchal permissions"
Hello,
Sorry if I'm not using the default issue template because this doesn't apply in this case.

**Context :**
I'm maintaining a big application in production for customers, using October for the back office and a custom front office developped under laravel and React.
We have deeply extended the permission system of October to be used as well in the back office (October) and front office users

[2018-09-13 14:44] Alex360hd commented on #3775
Spent my day trying to understand how it works. I could do some things, and I have some questions for other things.

**What is a success ?**
- I could add a "drag" column to the begining of my datatables
- I can reorder rows with drag & drop of that "drag" column thanks to an external jquery plugin

**What is a fail ?**
- I couldn't add some markup in my "drag" column. Seems there are no "markup"

[2018-09-13 14:49] LukeTowers commented on #3304
Something like:
<img width="321" alt="screen shot 2018-09-13 at 8 47 00 am" src="https://user-images.githubusercontent.com/7253840/45496001-ba333a00-b731-11e8-92c7-722def13c7ac.png">
Apply would basically close the dialog triggering the application of the filters and clear would clear the active filter data from the dialog. Feel free to play around with the styling of those buttons but that's the

[2018-09-13 14:54] LukeTowers commented on #3775
@Alex360hd perhaps you could ask around in the slack? Alternatively is this something you're interested in helping out with @Teranode?

[2018-09-13 14:56] LukeTowers commented on #3780
Woah there, the File model handles placing the file data on the disk itself, I can tell you right now that that part is not necessary and is probably going to cause issues.

[2018-09-13 14:59] LukeTowers commented on #3779
@Synairgis did you get the author of that plugin to look into this? We can't confirm this is a bug with the October core unless you can replicate it using only the October core, not some random person's questionable plugin.

[2018-09-13 15:04] LukeTowers commented on #3782
@YannPl
I could have sworn there was a note on the upgrade guide about this. There is http://octobercms.com/docs/backend/users#users-and-permissions for documentation on the current system just as a reference.

Could you explain more about why exactly you need a grouped system of inheritable permissions rather than a role based system? The reason we moved away from the grouped system was that it w

[2018-09-13 15:19] WaskiWabit commented on #3780
Yes but the file is not uploaded via the uploader. It is on the same file system as October. How else would I approach this situation? I don't think the following will work.

[code]

[2018-09-13 16:27] LukeTowers commented on #3782
@YannPl could you provide more specific examples as to how exactly your group system works? I'm not sure I understand why a user would have such a combination of roles as to make their access to the system unique amongst other users.

[2018-09-13 16:28] LukeTowers commented on #3780
What do you mean "file is not uploaded via the uploader. It is on the same file system as October"? The default file model uses the local filesystem for storing data.

[2018-09-13 16:57] WaskiWabit commented on #3780
When you upload a file, you use the upload widget. I am trying to mimic that process. October is installed on my server and the mp3 files to be processed are on the same server. I am trying to read thru the mp3 directory and place files within October as if they were uploaded via the widget. They aren't uploaded at all.

[2018-09-13 19:47] LukeTowers commented on #3780
See http://octobercms.com/docs/database/attachments#creating-attachments and http://octobercms.com/docs/api/october/rain/database/attach/file#fromdata

[2018-09-13 23:02] WaskiWabit commented on #3780
It appears to work but no go. The attachment_id is set to NULL in system_files. And it still gives me the same error when I load the backend controller.

[code]

Code: (file->fromData()... placed the file in storage/temp)
[code]

[2018-09-13 23:46] WaskiWabit commented on #3780
Same thing goes for

[code]

The attachment_id is set to NULL in system_files. And it still gives me the same error when I load the backend controller.

[2018-09-14 08:13] CptMeatball opened #3784 "October.Drivers installed files don't match the repo files"
### Expected
Reinstalling October.Drivers installs the same files when version number don't change.

### Actual
Reinstalling October.Drivers changes the files while the versional number does not.

While checking for some inconsintencies in our mailgun setup, I've reinstalled the `october.drivers` plugin. To my surprise the files of the plugin changed while the version number did not.

- Composer.j

[2018-09-14 08:47] CptMeatball commented on #3784
I'm also seeing that the vendor folder has been removed from the directory, but I can't see to find the necessary dependencies in the root vendor directory.

[2018-09-14 09:08] YannPl commented on #3782
Let say we have an application to manage a factory maintenance:
There are several units in the factory, so employees, according to their job have access to one or more units. Then they can either create entries on certain units or only see entries created by others.

So we can have per-unit groups:

**Unit 1** :
- Read and create group
- Read only group

**Unit 2** :
- Read and create group
- Read

[2018-09-14 10:02] daftspunk commented on #3784
Pushed another build, give it another go.

[2018-09-14 10:02] #3784 closed

[2018-09-14 12:23] gergo85 opened #3785 "The layout of tab is crashes when I add a (grouped) repeater item"
##### Expected behavior
![good](https://user-images.githubusercontent.com/2959112/45549726-090fcb00-b829-11e8-9ea8-79c712b3a429.jpg)

##### Actual behavior
![issue](https://user-images.githubusercontent.com/2959112/45549210-512dee00-b827-11e8-85bf-30a3de6b7081.gif)

##### Reproduce steps
1. Extend a form with some fields (http://octobercms.com/docs/plugin/extending#extending-backend-form).
2. Afte

[2018-09-14 12:39] seanthepottingshed commented on #3785
[code]

[2018-09-14 14:00] LukeTowers commented on #3780
@WaskiWabit I don't think `add()` works on singular (attachOne) relationships, you're just supposed to use direct assignment: `$au->audio = $file`. Also, `fromData` expects the actual file contents as the first parameter.

[2018-09-14 14:04] LukeTowers commented on #3782
Well, I'll discuss this with @daftspunk, but we haven't experienced anything that actually requires having a grouped inheritance permission system like you're describing, usually things can be boiled down to roles at the very least matching job titles.

It would be more helpful if you could use specific names for things instead of calling things "unit" or "group". It would be most helpful if you c

[2018-09-14 14:10] LukeTowers commented on #3785
@gergo85 or @seanthepottingshed could you guys find relevant places in the documentation to add the following:
[code]

[2018-09-14 19:12] WaskiWabit commented on #3780
Ok that worked :). BUT... in the system_files table, the **file_size** in incorrect and so is the **content_type**. The actual filesize is 59171736 but shows up as 21 in system_files. And the content type is audio/mpeg but shows up as text/plain.

[2018-09-14 19:46] WaskiWabit commented on #3780
Thank you very much @LukeTowers  for taking the time to help me out with this issue. I know you are a busy man. Much appreciated!

[2018-09-14 19:59] LukeTowers commented on #3780
===
Was this helpful? Did it save you time? Then consider becoming a [Patreon supporter](https://www.patreon.com/LukeTowers) so I can keep providing excellent support! Or, add your thoughts to https://github.com/octobercms/october/issues/3683

[2018-09-14 19:59] #3780 closed

[2018-09-14 22:48] LukeTowers commented on #3746
@tamer-hassan I'm thinking that the accompanying plugin should probably live under the octoberrain vendor since we're supporting swoole within the core. Do you have any thoughts on that?

[2018-09-15 02:36] tamer-hassan commented on #3746
@LukeTowers october-fly requires `scil/laravel-fly`, which in turn requires `ext-swoole`.
https://github.com/scil/LaravelFly/blob/master/composer.json#L20
Swoole extension is only available for installation on Linux (via PECL) and mac OS X (via brew).

[2018-09-15 02:56] LukeTowers commented on #3746
Right, but I'm suggesting that October-Fly lives under https://github.com/octoberrain/swoole-plugin. That way support for Swoole within October is more of a first class citizen with a more centralized place for maintaining support.

[2018-09-15 02:59] tamer-hassan commented on #3746
Sounds good. Let's do that!

[2018-09-15 05:48] seanthepottingshed commented on #3785
@LukeTowers

* https://github.com/octobercms/docs/pull/321

[2018-09-15 10:24] #3785 closed, assigned to nobody

[2018-09-16 22:53] LucasZdv opened #3789 "Translate options in config_filter.yaml ( type: group )"
##### Expected behavior
LIST FILTER.
Translation does not work in the scope options.

config_filter.yaml
[code]

##### Actual behavior
in the label works correctly, but not in options.

##### October build
buid 442

[2018-09-17 00:27] LukeTowers commented on #3789
@LucasZdv feel free to submit a PR to fix it

[2018-09-17 02:35] jason-migz opened #3790 "Access route() method in jQuery AJAX url option"
##### Expected behavior
It is Good to access route() method of laravel in OctoberCMS, like what laravel did using their templating Engine called Blade like this:
[code]

I know if you create a _routes.php_ inside your plugin directory you can do this:
`Route::post('profile{id}', array('as' => 'profile', 'uses' => 'OCA\Webforms\Classes\Ocaforms@store'));`

##### Actual behavior
but i tried to acces

[2018-09-17 02:48] LukeTowers commented on #3790
If you don't require the parameter filling features of `route()` you can use `| app`: http://octobercms.com/docs/markup/filter-app. If you need to have `route()` accessible within Twig then make a PR to add that functionality and I'll review it.

[2018-09-17 04:17] jason-migz commented on #3790
Okay. This is Noted. Thank you.

[2018-09-17 04:17] #3790 closed

[2018-09-17 04:43] jason-migz opened #3791 "Next button is not working in Plugin Fields table"
##### Expected behavior
I expected when i click the next button in the table, the next column will be show, but i can't click the button. It seems the button is disable. here is the picture

##### Actual behavior
the next button in Column of a Plugin fields is not clickable when the fields is over 12 columns.
![capture](https://user-images.githubusercontent.com/21366028/45606323-d5c27b80-ba76-11e8

[2018-09-17 11:28] w20k commented on #3791
@jason-migz, I think, if menu is too long, it will have the same issue. So, feel free to submit a PR to fix it ;)

[2018-09-17 12:00] gergo85 opened #3792 "The loading text not show properly"
##### Actual behavior
![ezgif-3-7aa12aa85b](https://user-images.githubusercontent.com/2959112/45621757-bed55680-ba81-11e8-9936-dc72942f614f.gif)

##### Reproduce steps
Click on the Refresh button in the log pages.

##### October build
442

[2018-09-17 12:47] w20k commented on #3792
Seems like past fixes did something wrong :)

https://github.com/octobercms/october/pull/3394

[2018-09-17 12:51] Eoler commented on #3792
It works when buttons are in a wrapper div.loading-indicator-container (form buttons), but not in a toolbar...

[2018-09-17 14:06] LukeTowers commented on #3791
@jason-migz @w20k see https://github.com/octobercms/october/issues/2820#issuecomment-293979084. Those aren't buttons, they're just visual indicators that it can be scrolled. You're supposed to click and drag the entire panel to scroll it. I do agree that they should be made clickable, further discussion in #2820

[2018-09-17 14:06] #3791 closed

[2018-09-17 14:08] LukeTowers commented on #3792
@gergo85 @w20k @Eoler can one of you make a PR to fix it?

[2018-09-17 14:13] YannPl commented on #3782
I'll try but it's not always easy to translate specific vocabulary in english ;)

What I call "**group**" represents the old permission system of october. One group gives a bunch of permissions for the associated users. **Users can be in several groups** and permissions are **cumulative** when a user is associated to multiple groups.

So let's describe one of the many possibilities we have with ou

[2018-09-17 14:27] LukeTowers commented on #3782
@YannPl I can see what you're saying. I'll discuss this with @daftspunk and see what we can do for you. The other alternative if we don't end up bringing this back into core is to re-implement grouped permissions via a plugin, but hopefully we can work something out that will be beneficial to everyone :)

[2018-09-17 15:21] LucasZdv commented on #3789
Thanks! @LukeTowers https://github.com/octobercms/october/pull/3793

[2018-09-17 15:22] w20k commented on #3792
@LukeTowers , will do it tomorrow, if @gergo85 or @Eoler have time today to create PR;

Seems like #3394 should be reverted, and that would fix the problem:
File: https://github.com/octobercms/october/blob/8f713ed881a3429f5c09530e20be74fa9783f968/modules/system/assets/ui/less/loader.less
Append: 'background: @body-bg;' to .loading-indicator { .. }

[2018-09-17 15:36] LukeTowers commented on #3792
Probably #3394 and it's follow up PR should be fixed and then a more specific fix for the original #3394 issue to remove the background in that specific case should be applied.

[2018-09-17 18:06] LukeTowers commented on #3792
@w20k it's still applicable, #3394 was for a custom background of solid white, I don't think it was for any built in stuff. @Alex360hd could you comment on this?

[2018-09-17 20:03] w20k commented on #3792
@LukeTowers , I'm not 100% sure, but what I've found out, it won't work with transparent or any inherited option.
Seems like there was one more change, in css, that removed the default background color from the component or something else :)
Right now, in admin panel, main background color is set on the 'body' element.

I could suggest one fix, like @ayumihamsaki did with the form-button ([PR #357

[2018-09-18 07:26] Alex360hd commented on #3792
For what I remember, I just removed the background color of the wrapper. But maybe on this page, that background recovered all the buttons, letting some spaces to display the loading text correctly.

2 solutions :
- Easiest : You can rollback my commit in order to reuse the @body-bg color as an overlay for the buttons. It will work as before, keeping the background color problem described on my PR

[2018-09-18 08:03] w20k commented on #3792
@Alex360hd , It's already work this way ("More difficult"). The only issue is background color, right now it's set to none;

![sep-18-2018 11-02-31](https://user-images.githubusercontent.com/1053320/45673087-7629a600-bb32-11e8-9434-127af8d27338.gif)

[2018-09-18 08:43] YannPl commented on #3782
@LukeTowers Thanks for the answer ! Hope to hear from you guys soon ! :)

[2018-09-18 14:13] gergo85 opened #3795 "Wikipedia article"
I my opinion the Wikipedia page of OctoberCMS is very poor. It would be better to have more content.

https://en.wikipedia.org/wiki/October_(CMS)

[2018-09-18 14:36] LukeTowers commented on #3795
What would you recommend adding to it?

[2018-09-18 14:44] LukeTowers commented on #3792
I'm thinking we should revert the original PR that caused this (and the PR that patch fixed it in only one spot and then we should revisit a better approach for fixing the original issue @w20k @Alex360hd

[2018-09-18 15:39] gergo85 commented on #3795
Something like the http://octobercms.com/features page.

The "Features" paragraph would be more information why the October CMS is a good choose to developers.
Which popular technologies (Laravel 5.5, Twig, YAML, etc.) and own solutions (file-based templates, built-in asset combiner, built-in code editor, etc.) are used.
The advantages of October are the detailed document and active community too.

[2018-09-19 12:37] amorphine opened #3800 "What are the best practices for numbering version of a plugin which several developers work with?"
Hello, wouldn't you be so kind as to help with some cases I faced with?

Case A.
There's a plugin SomePlugin which has a version 1.0.0. Two developers DevA and DevB have got to implement some features. They start with git branches BranchA, and BranchB. Both of them need to create a migration and increment a plugin version. So each of them creates a migration file but DevA thinks his update in enou

[2018-09-19 13:59] LukeTowers commented on #3800
This is a tricky problem that can probably only be resolved through better communication between DevA, DevB, and DevS. Versions should be planned out in advance so that your developers are prepared for what's coming and even if they have to do a manual refresh (for instance if they were working on 1.1 when they know that 1.0.1 is also being worked on) at least they would know about it and be prepa

[2018-09-19 13:59] #3800 closed

[2018-09-19 15:13] cleverer commented on #3264
With 87ed09166d0b2284f159f0d0d34895a16731eb4c I'd like to reopen this Issue and propose an easy solution. Could someone give me feedback on my commit? If it looks good, I'd open a PR.

As an easier workaround than https://github.com/octobercms/october/issues/3264#issuecomment-346857066, one can just prepend the Path with `~/themes/foo/` for a theme called foo. So in my example above (https://githu

[2018-09-19 18:46] mortezaa opened #3801 "queue class not exist"
I want to push a job in queue but when I writing bottom code in my controller, I got error for class not exist !
I already create my class in classes folder of plugin ...

      ` Queue::push('\Mori\News\Classes\jobs\InstaClass', ['message' => "hello"]);`

The error in failed_jobs table is

`ReflectionException: Class \Mori\News\Classes\jobs\InstaClass does not exist in D:\xampp\htdocs\project\ven

[2018-09-19 19:32] LukeTowers commented on #3801
Either `plugins/mori/news/classes/jobs/InstaClass.php` doesn't exist or the namespace at the top of that file is incorrect.

Please don't make issues for basic PHP questions, save those for the Slack channel or a general google search instead.

[2018-09-19 19:32] #3801 closed

[2018-09-19 19:43] cleverer commented on #3264
Opened PR #3802 for easier discussion of code.

[2018-09-19 22:39] mortezaa commented on #3801
sorry for that but document is not clear on Queues&jobs and no source is availible. Thanks for answer xd

[2018-09-19 23:45] KeitelDOG commented on #3411
Same thing here, I even create another mysql user with full privileges, and still Access denied (using password: YES).

- Ubunutu 18.04 on DigitalOcean
- Apache 2.4.29
- PHP 7.2.7
- MySQL  5.7.23

Why suddenly this problem is spreading everywhere?
Is it because PHP itself does not have the right to trigger mysql with full rights?

[2018-09-20 01:28] itpcc opened #3805 "[NestedTree][SQLServer] A column has been specified more than once in the order by list. Columns in the order by list must be unique."
##### Introduction
I use PHP Version 7.2.9 with SQLServer.
I use `use \October\Rain\Database\Traits\NestedTree` with the plugin's model.
I create records and tree using OctoberCMS reorder.
Then, I query children from the record which have children record.

##### Expected behavior
When I ask for record which have children. ( I also call `record.getChildCount` first to make sure that the record have

[2018-09-20 01:58] LukeTowers commented on #3801
No problem, although this has nothing to do with queues or jobs specifically, it's just about class autoloading in PHP :)

[2018-09-20 02:03] LukeTowers commented on #3411
I have no idea why this is happening, would much appreciate someone digging into what's causing the issue and providing a fix.

[2018-09-20 04:56] KeitelDOG commented on #3411
I tried to install PHP 7.1.20 hoping it works but it doesn't. Could it be new security issue from MySQL 5.7? Since it's a new server, Should I try MySQL 5.6 to see. On dev, Mac OS High Sierra, PHP 7.1.7 and MySQL 5.7.19 work great.

[2018-09-20 05:35] LukeTowers commented on #3411
Shouldn't be 5.7, people have been having it for a while sporadically. For some reason the connection attempts aren't picking up the credentials saved in the installer.

Could we get the usernames & passwords attempting to be used pasted here? That would probably help a bunch, it could be due to an escaping issue.

[2018-09-20 08:35] gbaumeister commented on #3411
I had the problem with plain alphanumerical passwords. Interesting I made a successful install on the mentioned hosteurope machine. So I currently don't have a machine available to do further testing/debugging... It almost feels like a timing/concurrency bug.

[2018-09-20 09:14] iotch opened #3806 "TypeError in Firefox 63"
##### Expected behavior
No errors

##### Actual behavior
In Firefox 63 (and probably other versions), page throws js error `TypeError: previewIframe.contentWindow.document.getElementsByTagName(...)[0] is undefined, can't access property "scrollHeight" of it` at `mailbrandsettings.js:16:35`

##### Reproduce steps
go to `/backend/system/mailbrandsettings`

##### October build
No clue where to find t

[2018-09-20 09:20] SeriousKen opened #3807 "morphTo and proxy form fields"
https://github.com/octobercms/october/blob/2d77565e6cbdc26e91a2c1459bf90da79e70c23a/modules/backend/traits/FormModelSaver.php#L67

Is there any reason morphTo is not listed in the singular types? I've got a content model which morphs to various type models and the controller displays a different set of fields depending on the type. The problem is that proxy fields cause an error on saving unless I

[2018-09-20 11:58] w20k commented on #3806
@iotch, tried with Firefox: 63.0b4 and can't reproduce your error.

![customize_mail_appearance___petro_fit](https://user-images.githubusercontent.com/1053320/45816891-a796a300-bce5-11e8-849a-88d228239a17.png)

[2018-09-20 12:45] w20k commented on #3806
Hm...strange. you don't have any external plugins or AdBlock enabled?
Tested with three projects, based on the OctoberCMS, latest build 442 and couldn't reproduce your issue.

[2018-09-20 12:52] iotch commented on #3806
Will investigate further. I'm closing this for now.

[2018-09-20 12:52] #3806 closed

[2018-09-20 14:33] LukeTowers commented on #3411
Very odd. Is anyone able to find any related issues with PHP / MySQL beyond just OctoberCMS?

[2018-09-20 14:50] LukeTowers commented on #3807
@SeriousKen I can't think of a reason that it's not, also I see that `$morphOne` is not documented in the OctoberCMS (or Laravel docs). Could you add a PR to fix the morphTo issue and then make a PR to document $morphOne?

[2018-09-20 16:36] KeitelDOG commented on #3411
I got my problem resolve. MySQL 5.7+ use socket_auth plugin (new security feature) by default to allow root to connect. That's why MySQL 5.7 does not ask for password on Ubuntu 18.04 :

Here is the steps I follow :
`$ sudo mysql_secure_installation`
Set Password and complete all steps

Login with no user and password
`$ sudo mysql`
`mysql> SELECT user,authentication_string,plugin,host FROM mysql.u

[2018-09-20 17:55] mabehiry opened #3808 "DatePicker problem with Arabic"
##### Expected behavior
In any datepicker for date and time, you should select date and time and click save.

##### Actual behavior
When you save form with date and time, you get this error message:
"A four digit year could not be found
Data missing" on line 909 of D:\xampp\htdocs\sites\dtitest\vendor\nesbot\carbon\src\Carbon\Carbon.php
Also, the time picker doesn't show the time when clicking the

[2018-09-21 16:53] tschallacka opened #3810 "Unit testing plugin composer packages related plugin not loaded before seeder"
##### Expected behavior
When running a unit test on plugin A that requires plugin B that requires plugin C (via `$require = ['Author.PluginB']` and the plugin B has ['Author.PluginC'] in Plugin.php that plugin C's composer is loaded and the classes available.

##### Actual behavior
[code]

##### Reproduce steps
Have three plugins. Plugin A and Plugin B.
Have Plugin A require plugin B.
Have Plugin

[2018-09-21 20:19] mberizzo opened #3811 "taglist odd behavior on remove first value"
##### Expected behavior
Add and remove values without problems

##### Actual behavior
You can add coma separeted values without problems but if you want to delete the first value, you can't because when input field lose focus, the first value reappear. Only happend with first value and when you are updating

##### Reproduce steps

1. In your fields.yaml create a field with type=taglist
2. Add dife

[2018-09-21 20:38] LukeTowers commented on #3811
Can you attach a GIF of this happening along with the list of fields used to recreate it?

[2018-09-22 13:47] mberizzo commented on #3811
![bug_taglist](https://user-images.githubusercontent.com/2679457/45917870-7983a100-be54-11e8-99c5-8815190fc6aa.gif)

fields.yaml
[code]

[2018-09-22 19:16] tschallacka commented on #3810
I'm going on my honeymoon now, i can provide test plugins after 3 weeks when needed

[2018-09-23 01:17] LukeTowers commented on #3810
@tschallacka congrats! Enjoy your time away, just ping me when you're back!

[2018-09-23 17:50] ayumihamsaki opened #3814 "Force HTTPS on octobercms.com"
The October CMS Website is NOT Secure and even when you login to the sensitive areas on the website it is poorly secure!

See screenshot as evidence!!!

![sssssss](https://user-images.githubusercontent.com/17784082/45931146-5692e300-bf61-11e8-9069-7c0454bbdcec.png)

p.s. I Strongly suggest someone goes and checks the Website Properly! You guys are just asking to get everyone's accounts hacked.

Pl

[2018-09-23 21:19] ayumihamsaki commented on #3814
@LukeTowers I dont use Slack, but I would be more than happy to update that website to [HTML5 Boilerplate Specs](https://html5boilerplate.com). Normally I would keep quiet on such things but because everyone's cms is connected to that website via plugins and themes it just opens the door to possible hacks and injections from one central location to everyone cms installations.

[2018-09-23 22:43] ayumihamsaki commented on #3814
Ok will do.

[2018-09-24 08:04] CSNWEB commented on #3800
Hey @LukeTowers just saw this. As October keeps track of all migrated versions it could easily (may be by a flag) check if there are any older versions that didn't ran.

Regarding the coordination we usually just assign a 1.x version to each dev. So if the plugin is on 1.2.x and two devs want to start working on it, one gets 1.3.x and the other one 1.4.x.

[2018-09-24 13:26] Alex360hd opened #3817 "Alter backend settings menu"
##### Expected behavior
October CMS provide a nice way to extend plugins using events. However, it seems there are no events that allow to alter the backend settings menu (I don't mean backend top menu, I mean backend settings left sidebar on the settings page).

##### Actual behavior
Actually, it seems you cannot alter backend settings menu (or I didn't find the event that can do that)

##### Oct