[2019-06-16 00:26] LukeTowers commented on #4381
You mean not setting strict type mode at the top of every file?

[2019-06-16 05:07] bennothommo commented on #4368
On Hold until a new version of Twig is released which contains the fixes provided by this PR: https://github.com/twigphp/Twig/pull/3059

[2019-06-16 14:38] nathan-van-der-werf commented on #4381
The code not being strict at all, some examples:

- https://github.com/octobercms/october/blob/master/modules/system/classes/PluginBase.php#L93
- https://github.com/octobercms/october/blob/master/modules/system/classes/PluginBase.php#L83
- https://github.com/octobercms/october/blob/master/modules/system/classes/PluginBase.php#L43
No strict typing, while it should always return an array

- https://

[2019-06-17 00:02] Teranode commented on #4381
some of that seems like nitpicky stuff someone could PR in if they were concerned about it.

[2019-06-17 01:16] bennothommo commented on #4381
@nathan-van-der-werf We are looking to implementing strict typing on core files where possible. All new development will likely be strict-typed, but older code will need to be tested when converted to strict typing in order to ensure that everything still works as expected. We'd be happy to accept any PRs that improve the strict typing in files as long as its tested.

[2019-06-17 05:22] tobias-kuendig commented on #4347
Not yet! Had a few days off, I will tackle this in the next few days.

[2019-06-17 08:00] adrenth commented on #4381
@bennothommo

"...to ensure that everything still works as expected."

Totally agree, but... By implementing strict types and use proper type hinting the change of breaking third party code will be bigger; because developers can throw in all garbage as of know. These major changes can all be part of the next big OC major release.

That's why semver is becoming more important when refactoring the b

[2019-06-17 09:25] nathan-van-der-werf commented on #4381
I don't think strict typing is "nitpicky stuff"... it enforces "better" code instead of "you can throw any type into this method".

I agree that older code will need to be tested thoroughly.

I did some PR's with code optimisations already https://github.com/octobercms/october/pulls?q=is%3Apr+author%3Anathan-van-der-werf+is%3Aclosed but since many developers aren't using a decent IDE (PHPStorm) I

[2019-06-17 14:51] bennothommo commented on #4381
@adrenth Whilst I like the idea of semver, in theory, it does imply that we'll handle multiple branches of versions. Given that we've already got our hands full with just one stream of development as @LukeTowers said - it's probably too much for us. Just look at the horror that Magento has to deal with, working on semver.

@nathan-van-der-werf I saw @LukeTowers proposed if you could provide a CI g

[2019-06-17 17:02] nathan-van-der-werf commented on #4381
Proposed some tooling to do it https://github.com/octobercms/october/pull/3690#issuecomment-413305893

Don't have the time to set it up, it's not a magical tool to fix all ugly code into clean and good looking code.

[2019-06-18 04:19] Teranode commented on #4381
I'm not saying strict types are bad im just saying after php 7 and october's move to laravel 5.5 some of the strict type implementations could have been implemented through people's PRs if they were concerned about it.

[2019-06-18 07:15] tobias-kuendig commented on #4347
I did some further checks, this is what I have found out:

:no_entry_sign: Including a partial outside the component's scope is currently blocked.

[code]

:ok: Including a partial from a subfolder is possible, but you cannot override this via the theme.

[code]

Changing `/modules/cms/classes/Controller.php:1003` from

[code]
to

[code]

yields the same results (`..` is not allowed, subfolders wo

[2019-06-18 11:00] ayumihamsaki opened #4392 "Hard to see the code editor buttons"
Either my eye sight is going, or this is not correct?

See screenshot:

![aaa](https://user-images.githubusercontent.com/17784082/59785427-a9b18080-92bc-11e9-8e1d-df08e81be2f9.png)

Changing CSS value:

[code]

Putting the two CSS values through my custom plugin tool in October I get the following results:

![Untitled](https://user-images.githubusercontent.com/17784082/59676739-21e64c00-91c0-11e9-

[2019-06-18 12:55] w20k commented on #4392
@ayumihamsaki I'd go with the same color as a left side text: `#919898`, but then the hover is incorrect 😄

[2019-06-18 13:18] ayumihamsaki commented on #4392
Will do:

[code]

[2019-06-18 13:47] LukeTowers commented on #4347
@tobias-kuendig the path in the last example currently isn't checked for validity here: https://github.com/octobercms/october/blob/master/modules/cms/classes/Controller.php#L1027-L1029. We could implement valid path checking at the lowest level of the CmsObject class' `loadCached()` method by replacing the `..` check at the start of `validatePath()` with a call to https://github.com/octobercms/lib

[2019-06-18 19:50] blakej115 opened #4393 "Update scssphp"
I noticed that the built in scss compiler runs into issues when trying to import Bootstrap, giving the following error: /* expecting color: line: 104 */

Is it possible for the core to update to the latest version of scssphp which has fixed some issues? https://github.com/scssphp/scssphp

Thanks!

[2019-06-19 00:06] bennothommo commented on #4393
See https://github.com/octobercms/library/pull/409#issuecomment-501151171.

October CMS brings in the scssphp library through the Assetic library. We won't be able to upgrade scssphp until they merge this PR: https://github.com/kriswallsmith/assetic/pull/892

[2019-06-19 00:06] #4393 closed

[2019-06-19 10:20] MaxNozhkin commented on #3124
@daftspunk can you add some event before file upload or when filename is generating?

[2019-06-19 14:43] ayumihamsaki commented on #4379
Q: Can we do something about storm-min.js there so much garage code inside.

1. It's 188Kb in size, could we minify it please to under 100Kb.

2. We got encrypted code:

![1](https://user-images.githubusercontent.com/17784082/59775105-7a911400-92a8-11e9-80ea-0717aa946019.png)

3. We got a huge amount of strange Hexadecimal Code:

![1](https://user-images.githubusercontent.com/17784082/59775205-af9

[2019-06-19 14:46] ayumihamsaki commented on #4379
Q: Can we do something about storm-min.js there so much garage code inside.

1. It's 188Kb in size, could we minify it please to under 100Kb.

2. We got encrypted code:

![1](https://user-images.githubusercontent.com/17784082/59775105-7a911400-92a8-11e9-80ea-0717aa946019.png)

3. We got a huge amount of strange Hexadecimal Code:

![1](https://user-images.githubusercontent.com/17784082/59775205-af9

[2019-06-19 14:48] ayumihamsaki commented on #4379
Q: Can we do something about storm-min.js there so much garage code inside.

1. It's 188Kb in size, could we minify it please to under 100Kb.

2. We got encrypted code:

![1](https://user-images.githubusercontent.com/17784082/59775105-7a911400-92a8-11e9-80ea-0717aa946019.png)

3. We got a huge amount of strange Hexadecimal Code:

![1](https://user-images.githubusercontent.com/17784082/59775205-af9

[2019-06-19 14:56] bennothommo commented on #4379
@ayumihamsaki `storm-min.js` is the compilation of several libraries into one - [see here](https://github.com/octobercms/october/blob/master/modules/system/assets/ui/storm.js) for the list. I can say that (3) is likely moment.js and (4) are templates for certain widgets.

I'm sure there are ways to abstract certain libraries out of there and to load them only when needed, but truth be told, ~180kb

[2019-06-19 14:57] ayumihamsaki commented on #4379
Also would it be a good idea for October to start using some code size limits and create some standards for everything, for example something like this:

![Untitled](https://user-images.githubusercontent.com/17784082/59776560-f724f200-92aa-11e9-8fea-3d3a6c6890c6.png)

[2019-06-19 15:00] ayumihamsaki commented on #4379
Thanks @bennothommo for comment.

It's a big deal for me using Google Canary as it's all getting virus scanned under Google Chrome's new Manifest V3 spec.

[2019-06-19 15:13] ayumihamsaki commented on #4379
@bennothommo Thanks for the link. Can't we split `storm.min.js` into two separate files.

1. Load the essential files in the `<head>`.
2. Load the extra files in an `async` near the `</body>` closing tag.

[2019-06-19 15:28] LukeTowers commented on #4379
@ayumihamsaki you're welcome to try to split it and see how the performance is affected. Performance improvements on hard data only please 😉

[2019-06-19 15:31] ayumihamsaki commented on #4379
@LukeTowers Thanks I will try to do, my theory is like this:

p.s.

That would be fine if we were all running `HTTP 1.1` but with `HTTP/2` it makes no sense to try and pipe down a massive file.

On a timing diagram it would look like this:

![Untitled](https://user-images.githubusercontent.com/17784082/59779080-859b7280-92af-11e9-8c68-3d819fe291ff.png)

Hopefully I can prove it with some results.

[2019-06-19 15:33] LukeTowers commented on #3124
@MaxNozhkin there's the after upload event: https://octobercms.com/docs/api/media/file/upload. You could make a PR to propose a beforeUpload event if you'd like

[2019-06-19 15:39] bennothommo commented on #4379
@ayumihamsaki I agree with you, but from a pragmatic standpoint, we cannot assume everyone running October is running a HTTP/2 compatible server.

[2019-06-19 15:40] ayumihamsaki commented on #4379
@bennothommo totally agree with you.

[2019-06-19 15:59] ayumihamsaki commented on #4379
Just had an idea! 💡

We have all talked about to minify or not to minify the backend assets many times.

Why don't we just create both sets and then attach them to the config/environment.php

See this code line here:

https://github.com/octobercms/october/blob/7590dfd30fb08242c6c8e111115659d38ac4aeb8/config/environment.php#L16

## Development Example:

`'default' => 'development',`

Assets are set

[2019-06-19 16:35] ayumihamsaki commented on #4379
Just had an idea! 💡

We have all talked about to minify or not to minify the backend assets many times.

Why don't we just create both sets and then attach them to the config/environment.php

See this code line here:

https://github.com/octobercms/october/blob/7590dfd30fb08242c6c8e111115659d38ac4aeb8/config/environment.php#L16

## Development Example:

`'default' => 'development',`

Assets are set

[2019-06-19 21:08] ayumihamsaki commented on #2303
Was thinking, the solution is some basic maths e.g.

![d1636ff0-5faf-11e6-8b1f-e7f850c2a384](https://user-images.githubusercontent.com/17784082/59800274-14bf7f00-92de-11e9-9b91-aa6581897684.png)

1. We work out the total height of the field area on the User's device using 100vh.

2. We then use javascript to keep increasing the `height` of the `stretch box` until it hits the height limit of the `f

[2019-06-19 21:44] LukeTowers commented on #4379
If we went that way @ayumihamsaki then we'd use app.debug to determine to load minified or unminified. Again, hard numbers only 😉

[2019-06-19 22:10] ayumihamsaki commented on #4379
ok 😄

[2019-06-19 22:35] ayumihamsaki commented on #3971
Code Example: http://htmlpreview.github.com/?https://github.com/ayumihamsaki/october-drag-bar/blob/master/drag-bar.html

## Code Usage Options

**Global Scope:**
[code]

### Options
The options parameter can be a map of any of these properties (default values are shown):

[code]

**handleSelector**
A jQuery selector or DOM element that acts as a selector. This can be a string, a DOM object or an e

[2019-06-20 02:21] gusdn5387 opened #4396 "Help me :("
I created a plugin on the backend. However, the speed of outputting more than 2,000,000 data to the list is very slow. Also, the speed at which all data is imported and moved from Page 1 to Page 2 is very slow. Downloading over 10,000 data to csv is also very slow. Can you solve this speed problem? Please let me know how to solve the problem. :(

[2019-06-20 06:51] #4175 closed

[2019-06-20 07:40] seanthepottingshed opened #4397 "`fields.yaml` defaultTab declaration doesn't work"
- OctoberCMS Build: `v455`
- PHP Version: `7.1.17`
- Database Engine: `mysql`
- Plugins Installed: https://github.com/octoberrain/test-plugin/pull/74

### Description:
Defining `defaultTab` does not make tab active / focused.

### Steps To Reproduce:
- Install https://github.com/octoberrain/test-plugin/pull/74
- Navigate to `backend/october/test/users/update/2`
- **Pivot data** tab should be activ

[2019-06-20 12:08] SebastiaanKloos opened #4398 "Dashboard page won't load when using Object list editor type"
- OctoberCMS Build: 456
- PHP Version: 7.3.6

### Description:
The dashboard page won't load after using a reportwidget with a property which uses the object list type. You get the message: ErrorException: substr() expects parameter 1 to be string, array given.

### Steps To Reproduce:
1. Use a reportwidget with a property which uses the object list type
2. Fill in the reportwidget properties
3. R

[2019-06-20 12:59] bennothommo commented on #4396
@gusdn5387 There's a few things you can try:

- Optimise the indexes in your database table. Make sure you have indexes for all fields that are sorted or related.
- Set the `showPageNumbers` setting for the list widget to `false`.
- Limit the number of filters applied to the row set so that there's less computation involved
- Try and separate groups of rows to other pages if possible, to shrink th

[2019-06-20 12:59] #4396 closed

[2019-06-21 02:47] joe-conigliaro commented on #3683
I have a suggestion, although it's not directly about revenue raising.
Could you try and grow the core development team? To help spread the burden, that way more will get done without it coming down to money. I think you guys deserve to make money where possible, but this is an open source project and it deserves to reach it's full potential.

[2019-06-21 05:51] LukeTowers commented on #3683
@joe-conigliaro we have been, @w20k and @bennothommo have recently joined us as core & RainLab plugin maintainers, @mjauvin has taken on maintaining RainLab.Translate, and we're seeing increased contributions from our community which is great.

Having @w20k and @bennothommo helping out has been fantastic so far, reduced the load and pressure on me quite a bit. We still need to come up with solid r

[2019-06-21 05:57] joe-conigliaro commented on #3683
That's great to hear, October is such a good project. I've been using it since the early days I always used to be in the irc channel. It's really a pleasure to use compared to others which i won't name. I just want to see it grow and do well.

[2019-06-21 06:05] LukeTowers commented on #4398
@SebastiaanKloos code example of the report widget that doesn't work please.

[2019-06-21 06:07] LukeTowers commented on #4397
@seanthepottingshed feel free to dig into the source and see if you can make a PR to fix the issue. Failing that, perhaps @Teranode or @ayumihamsaki have time to look into this?

[2019-06-21 06:30] seanthepottingshed commented on #4397
@LukeTowers it's scary in there! I will have a look and see what I can determine.

[2019-06-21 07:07] bennothommo commented on #4397
Confirmed bug.

[2019-06-21 07:11] bennothommo commented on #4397
@seanthepottingshed Sorry, this may break your heart, but I have to rescind that confirmation.

The [docs for `defaultTab`](https://octobercms.com/docs/backend/forms#form-tab-options) state:
[code]
It's not used to set which tab is active by default, it's simply specifies which tab will receive fields that have no tab specified.

[2019-06-21 07:13] seanthepottingshed commented on #4397
@bennothommo

Ahhhh, sorry my bad, will close this then. Sorry for not understanding the functionality.

[2019-06-21 07:13] #4397 closed

[2019-06-21 08:54] ayumihamsaki commented on #4397
You got me thinking about the default tabs in October and I was suddenly wondering if they have ARIA on them, checking October there is no ARIA setup in any tabs in October. Maybe worth adding some?

See example here of what I am talking about: http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml

[2019-06-21 08:56] Samuell1 commented on #4397
@ayumihamsaki Ithink aria is pretty useless in backend.

[2019-06-21 08:57] ayumihamsaki commented on #4397
@Samuell1 So people with disabilities can't use the backend now?

[2019-06-21 09:20] ayumihamsaki opened #4400 "Tabs dont have WAI-ARIA Accessibility Features"
Looking at the backend and frontend examples from October's Standard tabs there are no ARIA on any of them.

More info can be found here: http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml

Ripping the code example from this example web page: https://octobercms.com/docs/ui/tab

We get the following code:

[code]

We can insert the following WAI-ARIA to make this:

[code]

This would

[2019-06-21 12:36] haralake opened #4402 "Static page Repeater fields data doesn't saved properly after a field is deleted."
- OctoberCMS Build: ### 455
- PHP Version: 7.2
- Database Engine: MySQL
- Plugins Installed: Rainlab.StaticPages

### Description:
I'm using a simple repeater variable on static page:
[code]
On static pages backend i create one static page and using repeater field i create 2 fields. Everything works ok, but if i delete one field and create a new one i get wrong data on save. As you can see on samp

[2019-06-21 12:50] bogandix opened #4403 "pagination heavy loading for +1million rows"
- OctoberCMS Build: 455
- PHP Version: 7
- Database Engine: mysql

### Description:
The ListController view has a loading issue on a entity with many rows in the database, like more than one million. The change page dropdown generates a 11 Mb response

### Steps To Reproduce:
Generate a list view with more than 1 million items
![Screenshot 2019-06-21 at 15 46 32](https://user-images.githubusercont

[2019-06-21 14:23] LukeTowers commented on #4403
@bogandix for lists with large numbers of records we recommend setting the `showPageNumbers` property for the list widget to false.

[2019-06-21 14:23] #4403 closed

[2019-06-21 17:15] Samuell1 commented on #4397
@ayumihamsaki

From MDN docs:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

[2019-06-21 17:34] ayumihamsaki commented on #4397
@Samuell1 Those are HTML5 elements such as the following:

- <article>
- <aside>
- <audio>
- <bdi>
- <canvas>
- <datalist>
- <details>
- <dialog>
- <embed>
- <figcaption>
- <figure>
- <footer>
- <header>
- <main>
- <mark>
- <menuitem>
- <meter>
- <nav>
- <output>
- <progress>
- <rp>
- <rt>
- <ruby>
- <section>
- <source>
- <summary>
- <svg>
- <time>
- <track>
- <video>
- <wbr>

That doesn't cover

[2019-06-21 19:18] Samuell1 commented on #4397
@ayumihamsaki yes it cover but looking right now at it i see tabs buttons are not a buttons but a links, if they are buttons they should work without aria etc but they are not.

[2019-06-21 20:25] ayumihamsaki commented on #4397
@Samuell1 the way I see ARIA, let's say you have an image on a web page. If I didn't mark it up with ARIA and just replied on HTML schema. How is a blind person meant to know if the image is a logo or a photo or a picture or an icon etc. That's the reason why I personally go the extra mile.

If you got some free time, watch this video it's an eye opener on this subject, see here: https://www.youtu

[2019-06-21 21:08] Samuell1 commented on #4397
@ayumihamsaki yes, but you looking at backend as website but its mostly for advanced users, not normal website that is mean to be used by users. Yes that video is good but still its example for website that isnt backend administration with many interactive things at once. But still if it can be easy implemented then its fine 👍

[2019-06-22 01:01] lnmput opened #4404 "Gif image upload cannot generate thumbnails"
- OctoberCMS Build: 455
- PHP Version: 7.2
- Database Engine: MySQL 5.7
- Plugins Installed:  No plugin install

### Description:
Gif image upload cannot generate thumbnails
![Snipaste_2019-06-22_09-00-59](https://user-images.githubusercontent.com/7955415/59957579-4ac25600-94cc-11e9-936f-d269c0dd61b1.png)

[2019-06-22 02:38] bennothommo commented on #4368
Twig 2.11.3 is now released, which should include the PR above.
@Nai4rus @jexme Would you be willing to test that version of Twig and see if it resolves the issue? Make sure that your October CMS install has `debug` set to `true` whilst doing this.

[2019-06-22 09:26] SebastiaanKloos commented on #4398
@LukeTowers You can add this property to the report widget
[code]

[2019-06-22 09:33] bozsokidaniel opened #4405 "Request log details page error"
- OctoberCMS Build: 455
- PHP Version: 7.1
- Database Engine: MySQL
- Plugins Installed: -

### Description:
I have try to check my request log details and i got the following error. (See attached img below)

### Steps To Reproduce:
1. Login to OC backend
2. Check your request logs
3. Select one request log and click on it to read the details
4. You get the error

![request_log_error](https://user

[2019-06-22 15:17] ayumihamsaki commented on #4397
Just coding up the tabs in October ...

Relating to this issue, the `default` tab will be `tabindex="0"` and the rest of the tabs will be `tabindex="-1"`.

Does anyone know the variable of the default tab in October, so I can connected up both together?

Thanks.

[2019-06-23 05:11] LukeTowers commented on #4398
@SebastiaanKloos could you add an example to the test plugin?

[2019-06-23 05:29] #4405 closed

[2019-06-23 05:30] LukeTowers commented on #4404
@lnmput feel free to make a PR to fix this

[2019-06-23 08:48] bennothommo commented on #4404
@lnmput I've tested this with a fresh install of October and .gif files are supported just fine as far as I can tell. Could you provide us with some more info on how you are inserting the .gif image, and if there's any error messages in your logs after uploading?

[2019-06-23 08:54] bennothommo commented on #4402
Confirmed. This will have to fixed in the Blog plugin, I believe.

[2019-06-23 09:03] haralake commented on #4402
Do you mean Static Pages Plugin?

[2019-06-23 09:12] bennothommo commented on #4402
@haralake Sorry, brain snap! :P Yep, the Static Pages plugin.

[2019-06-23 09:39] haralake commented on #4402
To many plugins out there i guess.. : ) .So do i have to create a new issue for Static Pages plugin?

[2019-06-23 11:27] bennothommo commented on #4402
@haralake That's fine, I know where the issue is. Will hopefully sort it out soon.

[2019-06-23 14:34] SebastiaanKloos commented on #4398
@LukeTowers, No problem. I’ll add an example tomorrow

[2019-06-23 14:34] ayumihamsaki opened #4407 "Vendor assets in the default demo theme are out of date"
I just noticed that the vendor assets for the default demo theme are out of date.

- jQuery is using v1.11.1 (has a lot of security issues and xss problems)
- Bootstrap is using v3.3.7 (5 years old now)
- Font Awesome v3.2.1 (5 years old now)

Can update all these to latest versions, I think it is worth doing as this demo theme is pre-installed on everyone's CMS.

I will do this PR next, after I h

[2019-06-23 14:37] bennothommo commented on #4344
Sorry for the delay, all. I have been able to consistently replicate it on my own copy, but can't for the life of me figure out why it works when a text field is included in the repeater fields, but it fails when it is just the repeater. Will continue to look into it.

[2019-06-23 14:51] Asinox commented on #4376
Same here!

[2019-06-23 15:20] haralake commented on #4402
@bennothommo that's great news!

[2019-06-23 16:39] LukeTowers commented on #4407
The demo theme is just that, a demo. What you could do is replace the jQuery entirely with the embedded version of jQuery by using `@jquery` instead of including it's own assets but I don't see a good enough reason to update either Font Awesome or Bootstrap. If people want updated versions of those libraries there are plenty of other starter themes they can use (including one of my own: https://gi

[2019-06-23 16:39] #4407 closed

[2019-06-23 16:43] LukeTowers commented on #4376
@Asinox please use the latest dev branch until the next build is out:

[2019-06-24 09:49] lnmput commented on #4404
![001](https://user-images.githubusercontent.com/7955415/60009372-54a0b080-96a8-11e9-9076-7df030f637fb.png)
![002](https://user-images.githubusercontent.com/7955415/60009374-579ba100-96a8-11e9-9be7-c82c580f22d8.png)

[2019-06-24 09:51] lnmput commented on #4404
@bennothommo js is error
![003](https://user-images.githubusercontent.com/7955415/60009539-a34e4a80-96a8-11e9-8484-1071ca7fae31.png)

[2019-06-24 09:54] bennothommo commented on #4404
@lnmput I don't believe the issue falls within the JS - the error you posted above seems to be something to do with the debug bar. The thumbnail image itself is one used as a fallback if the upload of your image has failed, so I believe the issue lies in a plugin, or perhaps the server.

Would you be able to look into it further for us?

[2019-06-24 11:08] lnmput commented on #4404
There is no error on the server， This is the picture I uploaded the error.  https://imgur.com/Z1EDsyz， You can try

[2019-06-24 14:31] bennothommo commented on #4404
@lnmput Thanks for that - so the issue is that the `.gif` file you have provided is animated. I believe the resizer is unable to resize animated `.gif` files, and it would be likely that even if it could, it would not be able to keep the animation. If you have any suggested fixes, please feel free to provide a PR.

[2019-06-25 01:17] gusdn5387 opened #4409 "Help Me :("
I tried to use the radio button on __list_toolbar.htm in the backend list to divide the data by month and week. But I can not solve it. Is there a good way?

    <div class="btn-group">
        <a
            href="<?= Backend::url('partner/ad/ad/export') ?>"
            class="btn btn-default oc-icon-download">
            download
        </a>
        <div class="radio custom-radio" style="displ

[2019-06-25 01:40] lnmput commented on #4404
@bennothommo Maybe you are right, but in earlier versions of octobercms, gif-formatted images were thumbnail-generated. such as 419
![hhh](https://user-images.githubusercontent.com/7955415/60062780-2f09ba80-972d-11e9-8284-17a0ba89a4f7.png)
![ttt](https://user-images.githubusercontent.com/7955415/60062784-3630c880-972d-11e9-9feb-0d9537664455.png)

[2019-06-25 04:14] bennothommo commented on #4404
@lnmput was the animation kept in the thumbnail as well?

[2019-06-25 07:52] lnmput commented on #4404
@bennothommo  The 419 version, the animation kept in the thumbnail as well

[2019-06-25 09:58] bennothommo commented on #4404
Thanks @lnmput - it's likely that the [recent changes to the Resizer class](https://github.com/octobercms/library/pull/396) to fix issues with transparency might be the culprit here. Would you be interested in providing a fix for us?

[2019-06-25 15:52] LukeTowers commented on #4409
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-06-25 15:52] #4409 closed

[2019-06-25 18:33] prhost opened #4410 "Sign in to the Awesome PHP in CMS category"
Do you want to join this awesome list? I can send a PR if they want.

https://github.com/ziadoz/awesome-php#content-management-systems-cms

[2019-06-25 19:20] ayumihamsaki commented on #3867
To do's:

- Need to update jQuery Migrate V3.0.1 to 3.1.0
- Add notes for the focus-ring polyfill fill

[2019-06-25 20:18] LukeTowers commented on #4410
Sure.

[2019-06-25 20:18] #4410 closed

[2019-06-26 06:54] DanHarrin opened #4413 "AJAX Select2 Issues"
As per #4411 and #4412 with @LarBearrr.

[2019-06-26 06:56] DanHarrin commented on #4413
@LarBearrr feel free to add.

Part of the issue here is that the docs currently state `onGetOptions()` to return a keyed array with all of the options as keys and values. This is fine when working with PHP, but this is then parsed into a JSON object as JS doesn’t support keyed arrays. Select2 is then expecting an array, not an object. That’s where some of this issue is. The JSON object needs to be

[2019-06-26 07:40] DanHarrin commented on #4413
Here's what's needed to support the current docs' JSON object format:
[code]

[2019-06-26 07:44] w20k commented on #4413
Related: https://github.com/octoberrain/test-plugin/pull/75

[2019-06-26 07:56] DanHarrin commented on #4413
PR: #4414

[2019-06-26 07:58] DanHarrin commented on #4413
Related: #2722

[2019-06-26 12:32] LarBearrr commented on #4413
Here is an updated method that is working with the test example:

[code]

[2019-06-26 13:20] yapsr commented on #3416
Original source code in laravel 4.2 framework for formatException can be found here: https://github.com/laravel/framework/blob/4.2/src/Illuminate/Exception/Handler.php#L328

[2019-06-26 22:54] ayumihamsaki opened #4417 "Scrollbar in Code Editor screen jumpy and flickers in Edge Browser"
See youtube video: https://youtu.be/buVGNnG0Q5c

It's pretty much unusable when using the Edge browser.

That was on Edge 18. Chrome, Firefox and Opera are ok. I didn't bother to test Safari, because I think that browser is pure junk!

Looks like some bad scrolling jank - http://jankfree.org/

Seems to be coming from the `.ace_scrollbar`

See here code example for ace editor: http://jsfiddle.net/w

[2019-06-27 00:12] prhost commented on #4297
Telegram is widely used by development communities and technology of all kinds. I participate in several groups, it is good because everything is close by (:

I can give you group admin, or create another, but it would be nice to have everyone supporting it.

![Screen Shot 2019-06-26 at 21 05 46](https://user-images.githubusercontent.com/3984760/60223157-6922ab80-9856-11e9-902c-aae8fefcdd63.png)

[2019-06-27 00:56] flycj opened #4418 "Come on"
Come on, always support you
Thanks!

[2019-06-27 00:56] #4418 closed

[2019-06-27 05:15] anurat opened #4419 "Add Thai translation"
Hi,

I would like to contribute by adding a new language, namely Thai language, to October backend.
So far I am able to translate some of the text in the following:

update modules/backend/models/Preference.php
	function getLocaleOptions()
		add 'th' => [Lang::get('system::lang.locale.th'), 'flag-th'],

create modules/backend/lang/th/lang.php
	update text
create modules/cms/lang/th/lang.php
	updat

[2019-06-27 05:45] LukeTowers commented on #4419
@anurat after updating client.php you have to run `php artisan october:util compile lang` to recompile the JS language files.

[2019-06-27 05:50] LukeTowers commented on #4417
@ayumihamsaki feel free to make a PR.

[2019-06-27 06:01] anurat commented on #4419
Thank you LukeTowers, it works!

[2019-06-27 06:25] LukeTowers commented on #4419
No problem @anurat! I'll leave this open until you've made a PR to add the language and it's been merged

[2019-06-27 07:55] huynhnamegal opened #4420 "Add support for scope to the TagList relation mode"
- OctoberCMS Build: 4456
- PHP Version: 7.0.26

### Description:
I want to show some records via relation which used scope query for taglist type. And it did not work, it return all records and ignore the scope query. But it worked with relation type.

[2019-06-27 09:26] bogandix commented on #2912
you can use the widget list query to get the condtions
$this->widget->list->prepareQuery() which returns the query builder instance; there is a "where" with de filtered conditions

[2019-06-27 09:52] yapsr commented on #3416
Fix would be to simply add this method in `\October\Rain\Foundation\Exception\Handler`:

    function formatException($e) {
        if (!empty($this->debug))
        {
            $location = $e->getMessage().' in '.$e->getFile().':'.$e->getLine();
            return 'Error in exception handler: '.$location;
        }
        return 'Error in exception handler.';
    }

[2019-06-27 10:00] ayumihamsaki commented on #4417
I need to spend some time, trying to find the cause of the issue first, then will be happy to create a pr for it.

[2019-06-27 13:06] prhost opened #4421 "List child rows (show extra / detailed information)"
I am developing this functionality as a matter of necessity, I can send you a PR if you are interested, I believe it is very complicated to create a plugin for it due to many changes in `Lists Widget` and partials of the list.

I am based on the functionality of Tree Node that already has in the list.
I created an attribute in `config_list.yaml` called `rowDetailsPartial` which passes the partial

[2019-06-27 16:23] LukeTowers commented on #4421
This plugin seems similar to what you're looking for: https://octobercms.com/plugin/linkonoid-backendpopup

[2019-06-27 16:31] prhost commented on #4421
Quite different, in this plugin you can not customize anything, only configure to show the main actions of the Form, and have no preview. My idea is to personalize anything, display a graph, more information, and allows you to see more than one simultaneously to compare data for example.

[2019-06-27 16:36] LukeTowers commented on #4421
Well I'm not opposed to the idea in theory, but the API for it would have to be well designed. I would also like it to be focused on improving the mobile experience of lists, I think this could be a good way of minimizing the columns used on mobile while still retaining the amount of data displayed. Thoughts?

[2019-06-27 16:44] LukeTowers commented on #3416
@yapsr we could add that, but I'm more interested in what's the point of it to begin with and if Laravel removed it should we also look at removing it?

[2019-06-27 16:46] LukeTowers commented on #4420
That's not a supported option, see https://octobercms.com/docs/backend/forms#widget-taglist for a list of the supported options. You could always add support for it yourself in a PR though.

[2019-06-28 02:47] opjklu opened #4422 "Google Browser Editing Page Problem"
- OctoberCMS Build: ### Build 456
- PHP Version: 7.3
- Database Engine: mysql
- Plugins Installed:

### Description:
Google browser CMS module edit page, can not edit normally, Firefox browser can, for example, can not delete normally, add code

### Steps To Reproduce:

[2019-06-28 05:24] bennothommo commented on #4422
As per [the contribution guidelines](https://github.com/octobercms/october/blob/master/CONTRIBUTING.md#reporting-a-bug-with-octobercms), please provide the exact steps you are taking for the issue to occur. This will be used for peer review.

[2019-06-28 05:26] bennothommo commented on #4125
This was fixed by https://github.com/octobercms/october/pull/4020.

[2019-06-28 05:26] #4125 closed

[2019-06-28 07:49] w20k commented on #4422
Or a video clip/gif.

[2019-06-28 08:08] panakour commented on #4082
Also there is an issue if you want to add https (ssl) down the road

[2019-06-28 09:25] bennothommo commented on #4402
@haralake Would you mind testing PR #4424 and see if this resolves the issue for you?

[2019-06-28 10:06] haralake commented on #4402
@bennothommo I test PR #4424 and i confirm it resolves the specific issue.

[2019-06-28 10:53] bennothommo commented on #4402
@haralake thanks for confirming :D

[2019-06-28 14:26] yinglau opened #4425 "create new plugin can't create table"
When I create a new plugin `php artisan create:plugin Winson.Test`, after that I create a model with `php artisan create:model Winson.Test posts`, and run `php artisan plugin:refresh Winson.Test`, mysql can't see the table `winson_test_posts`.
How can I create the table?

[2019-06-28 15:18] p5ych0 opened #4426 "Can't install using CLI"
- OctoberCMS Build: v1.0.456
- PHP Version: 7.3.6

### Description:
Installation fails with
[code]

### Steps To Reproduce:
[code]
Output:
[code]

[2019-06-28 16:23] jexme commented on #4368
Yes, with version 2.11.3, with debug = true it works as it should, with debug = false it does not work, as discussed

Thank you all for your help!

[2019-06-28 16:23] #4368 closed

[2019-06-28 16:34] jexme commented on #4425
First, it is better to create models in the singular, in your case Post
Secondly, in order for the migrations to work, you need to add them to `updates/version.yml`:
[code]

procedure:
1. php artisan create: plugin Winson.Test
2. php artisan create: model Winson.Test Post
3. add your table to the migration file
4. Raise the version of the plugin `php artisan october:up` or update it `php artisan p

[2019-06-28 16:36] LukeTowers commented on #4425
@yinglau creating the model doesn't automatically add its migration file to the version.yaml file (required for the migration to be run). See https://octobercms.com/docs/plugin/updates#migration-seed-files

As a side note, models should always be named with a singular name (i.e. Post) and tables and controllers with the plural form of that name.

[2019-06-28 16:36] #4425 closed

[2019-06-28 16:52] LukeTowers commented on #4426
Could not replicate this on PHP 7.2, can you run `composer show laravel/framework` and see what version you're running for Laravel?

[2019-06-29 03:36] opjklu commented on #4422
[Kazam_screencast_0000.zip](https://github.com/octobercms/october/files/3341350/Kazam_screencast_0000.zip)

[2019-06-29 05:43] bennothommo commented on #4402
Fixed as of 3eac212.

[2019-06-29 05:50] bennothommo commented on #4422
@opjklu I'm still unclear as to what the issue is. Are you talking about the caret position in the editor appearing out of position from where the input characters are appearing?

[2019-06-29 06:58] opjklu commented on #4422
yes

[2019-06-29 08:16] ayumihamsaki commented on #3867
# List of Update Information for Future Ref / Updating

## Core Files

| JS Library Name | URI Location | Update Location | Version Number | Last Update Date |
|---|---|---|---|---|
| jQuery | See Github PR: https://github.com/octobercms/october/pull/4317 | https://github.com/jquery/jquery/releases | 3.4.1 | May 1, 2019 |
| jQuery Migrate | See Github PR: https://github.com/octobercms/october/pull

[2019-06-30 01:20] ayumihamsaki commented on #4019
Closing this issue, please go to this issue instead: https://github.com/octobercms/october/issues/4392

Which has a PR solution found here: https://github.com/octobercms/october/pull/4395

[2019-06-30 01:20] #4019 closed

[2019-07-01 00:55] bennothommo commented on #4422
@opjklu I'm not getting the same issue, even with the same conditions from your video. I would suggest trying to run `artisan cache:clear` and `artisan october:util compile assets` from the command line just to eliminate some common issues. If you can provide some additional info so that we can properly replicate the issue, please feel free to re-open this issue.

[2019-07-01 00:55] #4422 closed

[2019-07-01 19:38] DanHarrin commented on #4413
Fixed with #4414.

[2019-07-01 19:38] #4413 closed

[2019-07-02 17:30] #4384 closed

[2019-07-03 16:31] Samuell1 commented on #2833
@LukeTowers can this same be done for create:controller command?

[2019-07-03 22:47] p5ych0 opened #4429 "Create relative links while mirroring"
currently all symlinks are being created with absolute paths while mirroring. it seems to be much robust to have relative paths instead. please consider

[2019-07-03 22:50] p5ych0 commented on #4426
well, I noticed that after my php has been updated. recently I haven't experienced this issue. it seems you have to add some requirements into composer.json, like php >7.0 & <7.3. otherwise installations gets broken

[2019-07-04 01:34] bennothommo commented on #4429
@p5ych0 Would you be willing to provide a PR that adds an argument to the `artisan october:mirror` command which would allow someone to specify that they want relative symlinks?

[2019-07-04 05:32] LukeTowers commented on #4429
@p5ych0 @bennothommo this already exists, see the `--relative` flag for the `october:mirror` command. I'll add a note to the docs.

[2019-07-04 05:57] LukeTowers commented on #4429
Documented here: https://github.com/octobercms/docs/commit/f6e3eef7a69aae4daf0ae2d27f004a1fa993a008

[2019-07-04 05:57] #4429 closed

[2019-07-04 06:10] LukeTowers commented on #4426
@p5ych0 so is this still an issue? We already have requirements for PHP in our composer.json: https://github.com/octobercms/october/blob/master/composer.json#L33

[2019-07-04 06:39] 2jiwon opened #4430 "Backend login error message"
When I login backend, an error message is displaying like "There is no column with name 'idx' on 'jiwon_byapps_view.".
I checked the database tables of Octobercms, but there is no table named like it.
When I tried to update plugins, the same message appears and update failed.

I also tried to update in the command line by "php artisan october:update" command, it also failed.
The error message is l

[2019-07-04 07:12] yinglau commented on #4425
Thanks guy, cool.

[2019-07-04 07:53] yinglau opened #4431 "Problem for using the Backend.Behaviors.ImportExportController"
Here some problems to use export behaviors.
I follow the [https://octobercms.com/docs/backend/import-export#export-page](https://octobercms.com/docs/backend/import-export#export-page) to develop the plugin

**step 1. add the import export behaviors to my controller class**

[code]

**step 2. Configuring the behavior**

here is my `config_import_export.yaml`

[code]

And finnally, I call the `expor

[2019-07-04 07:56] LukeTowers commented on #4431
Your server is misconfigured, it's attempting to serve the requested URL without touching October at all. Configure your server so that all requests (excluding known asset files such as image, fonts, scripts, and stylesheet extensions) go through October's entry point (index.php) so that October can process this request.

[2019-07-04 07:56] #4431 closed

[2019-07-04 08:05] yinglau commented on #4431
How to configure, which file? @LukeTowers

[2019-07-04 08:07] LukeTowers commented on #4431
@yinglau Depends on the server you're using. What server software are you using? Apache? IIS? Nginx?

[2019-07-04 08:09] LukeTowers commented on #4430
Remove the `jiwon.byapps` plugin from your plugins folder, it appears to be written in such a way that it's trying to access a database column which doesn't exist yet.

[2019-07-04 08:09] #4430 closed

[2019-07-04 08:09] LukeTowers commented on #2833
@Samuell1 sure. I don't have the time to implement it myself right now unless someone wants to sponsor it but feel free to go for it.

[2019-07-04 08:12] 2jiwon commented on #4430
I can't remove the plugin. I made the plugin and it's important. What can I do now? T_T

[2019-07-04 08:12] yinglau commented on #4431
@LukeTowers Local environment development， In my mac, and start the application use `php -S 0.0.0.0:8000`, not use `Apache` or `Nginx`

[2019-07-04 08:16] yinglau commented on #4431
@LukeTowers In my server host , it's succesful, my server host is use `Nginx` to run it, but my local host just use `php -S 0.0.0.0:8000` to run, it doesn't work.

[2019-07-04 10:39] w20k commented on #4431
@yinglau try using MAMP on Mac, would be much easier. You'd have to somehow configure your php server to server files properly: like nginx config or apache (docs:https://www.cvedetails.com/product/156/Apple-Mac-Os-X.html?vendor_id=49).

There is an option to do it with build in the php server, but it feels like you'd have to write your own `router.php` for that. Which sounds like a pain... and run

[2019-07-04 10:43] w20k commented on #4430
Just find the place where it's trying to access this column and monkey patch it ;) If you still need this plugin.

[2019-07-04 10:58] seanthepottingshed commented on #4431
@yinglau I find Laravel Valet works really well

[2019-07-04 15:49] LukeTowers commented on #4431
@yinglau you could also try running `php artisan serve` instead and see if that's better setup

[2019-07-04 15:51] LukeTowers commented on #4430
@2jiwon or remove the $elevated = true I'm assuming you have in the plugin's Plugin.php otherwise its code wouldn't be trying to run when you're trying to run the migration.

[2019-07-04 16:56] ayumihamsaki commented on #3958
New direction for this Github Issue:

(this comment has been placed here as notes)

I was looking at the networks files:

[code]

I'm thinking of doing the following:

1. Load them properly via HTML and not via `json` and also preload the assets.

2. Delete `jquery.isotope.min.js` and use a more modern light-weight drag n drop library. An example new modern library example can be found here:  http

[2019-07-04 18:22] vakopian commented on #4335
https://www.bountysource.com/issues/74048786-bug-in-pivot-sorting

[2019-07-04 22:30] p-imagination commented on #1868
I've the same problem, hasn't been resolved?

[2019-07-05 01:45] Cleanse commented on #4335
How are you making the call on the pivot? I use October and just built a plugin with pivot sorting.

[code]

Maybe try changing your line to: ` 'order' => ['pivot_relation_sort_order']`.

[2019-07-05 02:49] 2jiwon commented on #4430
@LukeTowers  I checked the plugin.php file and it doesn't have the code to remove. T_T

[2019-07-05 04:45] w20k commented on #4335
Might be fix your looking for https://github.com/octobercms/october/issues/4432

[2019-07-05 05:44] Teranode commented on #4381
@ayumihamsaki im still not getting any issues with that on #3893 in laravel 5.5

[2019-07-05 05:51] LukeTowers commented on #4430
@2jiwon post your full stack trace.

[2019-07-05 05:57] LukeTowers commented on #1868
@p-imagination it's not the same issue, this error message can be triggered for any number of reasons. Try asking or help on the slack first and then create a new issue with detailed reproduction instructions if that doesn't work.

[2019-07-05 12:47] ayumihamsaki commented on #4381
@Teranode It's been a while since we talked about that issue, I just decided to bypass it by putting this in my `.htaccess`:

[code]

Will re-test that issue in a test website today and see if I can still repeat the issue. PHP versions have changed since then and many bug fixes.

[2019-07-05 12:57] ayumihamsaki commented on #3893
re-test php version: 7.3.6 as of 05-07-2019, see test results:

![test-pix](https://user-images.githubusercontent.com/17784082/60723907-dc9a7c00-9f2c-11e9-9231-8adda74146c4.png)

[2019-07-05 12:58] ayumihamsaki commented on #4381
re-test php version: 7.3.6 as of 05-07-2019, see test results:

![test-pix](https://user-images.githubusercontent.com/17784082/60723907-dc9a7c00-9f2c-11e9-9231-8adda74146c4.png)

[2019-07-05 13:28] ayumihamsaki commented on #4381
@LukeTowers sorry if I sound I am repeating parts of this conversion.

As adrenth said about **Semantic Versioning**, when you do this major update will you be updating the version number like this:

Current Version as of today: **v1.0.456** (with LTS 5.5)

LTS 5.9 Version would be: **v2.0.0**

(to signal MAJOR version when you make incompatible API changes).

That would be the correct way. Becaus

[2019-07-05 13:37] ayumihamsaki commented on #4381
@LukeTowers sorry if I sound I am repeating parts of this conversion.

As adrenth said about **Semantic Versioning**, when you do this major update will you be updating the version number like this:

Current Version as of today: **v1.0.456** (with LTS 5.5)

LTS 5.9 Version would be: **v2.0.0**

(to signal MAJOR version when you make incompatible API changes).

That would be the correct way. Becaus

[2019-07-05 13:38] ayumihamsaki commented on #4381
@LukeTowers sorry if I sound I am repeating parts of this conversion.

As adrenth said about **Semantic Versioning**, when you do this major update will you be updating the version number like this:

Current Version as of today: **v1.0.456** (with LTS 5.5)

LTS 5.9 Version would be: **v2.0.001**

(to signal MAJOR version when you make incompatible API changes).

That would be the correct way. Beca

[2019-07-05 13:38] ayumihamsaki commented on #4381
@LukeTowers sorry if I sound I am repeating parts of this conversion.

As adrenth said about **Semantic Versioning**, when you do this major update will you be updating the version number like this:

Current Version as of today: **v1.0.456** (with LTS 5.5)

LTS 5.9 Version would be: **v2.0.000**

(to signal MAJOR version when you make incompatible API changes).

That would be the correct way. Beca

[2019-07-05 13:39] ayumihamsaki commented on #4381
@LukeTowers sorry if I sound I am repeating parts of this conversion.

As adrenth said about **Semantic Versioning**, when you do this major update will you be updating the version number like this:

Current Version as of today: **v1.0.456** (with LTS 5.5)

LTS 5.9 Version would be: **v2.0.0**

(to signal MAJOR version when you make incompatible API changes).

That would be the correct way. Becaus

[2019-07-05 13:40] ayumihamsaki commented on #4381
@LukeTowers sorry if I sound I am repeating parts of this conversion.

As adrenth said about **Semantic Versioning**, when you do this major update will you be updating the version number like this:

Current Version as of today: **v1.0.456** (with LTS 5.5)

LTS 5.9 Version would be: **v2.0.0**

(to signal MAJOR version when you make incompatible API changes).

That would be the correct way. Becaus

[2019-07-05 17:09] pavsid commented on #3415
Getting a similar error too - `A widget with class name ... has not been bound to the controller on line 598 ...`

I'm using a record finder widget inside a repeater field. The record finder works, until I try to search within it, or sort columns etc.

If I select an option, and save the record, it works fine. Strange thing is, if I go back to that record and use the search/sort then works fine. O

[2019-07-05 18:27] LukeTowers commented on #3415
@bennothommo could you look into @pavsid's report above?

[2019-07-05 18:35] nathan-van-der-werf commented on #3893
I'm also running OctoberCMS with CloudFlare on PHP 7.3, I'm not having these problems.

[2019-07-05 18:57] ayumihamsaki commented on #3893
Going to investigate this further, I have found the Laravel PR, see here: https://github.com/laravel/framework/pull/18036/files

Will do some further investigating on it.

Please note, I quote someone from the Laravel team talking about this:

[2019-07-05 20:40] ayumihamsaki commented on #3893
After a few hours researching I have the following conclusion. This is fixed in the following versions: Laravel 5.6.38 and Symphony 4.1.5.

Upgrading to Laravel LTS 5.9 should fix this.

[2019-07-05 20:41] ayumihamsaki commented on #4381
## SameSite issue:

After a few hours researching I have the following conclusion. This is fixed in the following versions: Laravel 5.6.38 and Symphony 4.1.5.

Upgrading to Laravel LTS 5.9 should fix this.

[2019-07-05 20:51] ayumihamsaki commented on #3893
After a few hours researching I have the following conclusion. This is fixed in the following versions: Laravel 5.6.38 and Symphony 4.1.5.

Symphony PR: https://github.com/symfony/symfony/pull/27885
Laravel PR: Don't have the exact link (but speaking to team members in their repo that's their answer)

Upgrading to Laravel LTS 5.9 should fix this.

[2019-07-06 03:17] LukeTowers commented on #4381
@ayumihamsaki I get the concept and value of semantic versioning, I just don't know if @daftspunk is going to be on board with a change to that. He was pretty adamant when I first started with the project that there will never be an October 2.0. We'll see how the upgrade goes and go from there.

[2019-07-06 14:33] ayumihamsaki commented on #4381
Hi daftspunk if you could have a think about this issue with Semantic versioning it would be good. My next pr for october is to update the jQuery Migrate and it contains the following code deprecates. I'm wondering how best to communicate these changes to everyone, in regards of their themes and plugins code. The easiest solution would be Semantic versioning I think.

Please see screenshot from jQ

[2019-07-06 14:51] bennothommo commented on #4344
@iboved After 15 or so hours of going through this widget code and workflow, ~~I have gone slightly insane~~ I believe I have cracked the issue. Would you mind giving PR #4434 a test and let me know if that works for you?

[2019-07-06 14:53] bennothommo commented on #3415
@pavsid PR #4434 may resolve this issue for you. Would you mind trying that fix out and let me know how you go?

[2019-07-06 15:23] ghost opened #4435 "Update Deprecated code in October (event.key) Updates and Testing"
To make things easier I have created this github issue and then will create a bunch of Pr's and connect them to this issue. Probably will take quite long to test each file etc.

# Update File List

## October CMS Files

### event.keyCode (deprecated)

- [x] 12 lines - https://github.com/octobercms/october/blob/master/modules/backend/widgets/table/assets/js/table.processor.dropdown.js

- [x] 2 line

[2019-07-06 22:19] vakopian commented on #4335
@Cleanse , using `pivot_relation_sort_order` doesn't work, it just complains about `Unknown column 'pivot_relation_sort_order' in 'order clause'`. Would you mind sharing a working code example where pivot sorting works?

@w20k please note that the example above does not use the Relation widget, which your pull request is fixing. It uses the `Backend\Behaviors\RelationController` behavior.

[2019-07-07 05:51] arashonline commented on #1743
Hi, Is there any way to make rich Text Editor to use Html5 tag format for audio and video now it is like:
`<figure class="" data-label="Prerequisites.mp4" data-video="/storage/app/media/Prerequisites.mp4">&nbsp;</figure>
`
it should be like:
`<video width="320" height="240" controls>
  <source src="/storage/app/media/Prerequisites.mp4" type="video/mp4">
  Your browser does not support the video ta

[2019-07-07 06:11] DanHarrin opened #4436 "Move Storm UI to its own repo"
I was having a chat with @daftspunk about the possibility of the [Storm UI](https://github.com/octobercms/october/tree/master/modules/system/assets/ui) having its own repo, as well as its docs living in [OctoberCMS/Docs](https://github.com/octobercms/docs). On each October build, it would then be pulled in from this repo and would live in the same place as it does currently. There are two aims to

[2019-07-07 15:21] Cleanse commented on #4335
I'll try and get you an example out tomorrow. My project does not use the Backend, so that could be why. I'll test a backend example similar to your setup.

The project I created that has working pivot sorting: https://github.com/Cleanse/events/blob/master/models/Match.php

[2019-07-07 17:21] ghost opened #4437 "Add 3 and 4 column support in backend"
# Summary of the PR

This is a quick list of what the PR will add to October and the conclusion to this discussion:

[code]

PR found here: https://github.com/octobercms/october/pull/4509

Doc's PR found here: https://github.com/octobercms/docs/pull/387

---

## Examples

I've now finished this pull request feature, I welcome any testing and feedback - if you got a feature request or find a bug, c

[2019-07-07 17:25] seanthepottingshed commented on #4437
@ayumihamsaki yes this would be amazing. Also love your colour picker any plans to
share the widget in a plugin ;)

[2019-07-07 17:31] ayumihamsaki commented on #4437
@seanthepottingshed I don't mind sharing the color picker but I hope that the October team would let me add it straight into the core of october. Here's what it looks like in real-time:

![ezgif-2-73a4e0919b91](https://user-images.githubusercontent.com/17784082/60771838-5d03dd00-a0e5-11e9-920e-a1d65adf4990.gif)

[2019-07-07 17:39] seanthepottingshed commented on #4437
@ayumihamsaki - I promise to stop detailing this issue, just one more question - does your colorpicker support RGBA?

[2019-07-07 17:46] ayumihamsaki commented on #4437
@seanthepottingshed no problem, ask as many questions as you want. Just taking a small break from coding. It supports the following:

- RGB
- HEX
- RGBA
- HSL
- HSLA
- HSV
- Hexadecimal

[2019-07-07 19:56] thomas4Bitcraft commented on #4144
simple solution for the problem:
add
`cssClass: hidden`
in the fields.yaml file

[2019-07-07 23:20] LukeTowers commented on #4436
If we're keeping the UI assets & docs where they are anyways then I don't see any reason to duplicate that content in separate repositories. The Storm UI library is pretty tightly tied to OctoberCMS in general and unlikely to be used on its own. The only problem with the current setup that I see is that it's harder for newcomers to understand where the UI docs are coming from on the website. (syst

[2019-07-07 23:23] LukeTowers commented on #4437
@ayumihamsaki you can already have multiple column fields by setting the `cssClass` property of the fields in question to bootstrap col- classes.

[2019-07-07 23:24] LukeTowers commented on #1743
@arashonline please don't hijack old unrelated issues, make new issues instead or ask for help on Slack.

[2019-07-08 03:53] bennothommo commented on #4435
@ayumihamsaki Is the syntax for `event.key` the same as `event.keyCode`? Quite a few of the listed files are from third-party vendors (such as Select2, Bootstrap, SweetAlert, etc.), and I'm not sure we should be changing those when a) we don't know what effects it will have on those libraries and b) if we upgrade them in the future, we'd have to make the same change(s) again if they have not yet d

[2019-07-08 06:26] DanHarrin commented on #4436
@LukeTowers okay I see where you're coming from, so would a move of just the [UI docs](https://github.com/octobercms/october/tree/master/modules/system/assets/ui/docs) so that they reside in [OctoberCMS/Docs](OctoberCMS/Docs) _instead_ of the [`ui` folder](https://github.com/octobercms/october/tree/master/modules/system/assets/ui) would suffice in this case?

[2019-07-08 07:22] Rike-cz commented on #4437
@LukeTowers It's not exactly true, because col- classes add padding gap (they need to be used inside .row). You have to use `cssClass: col-* p-l-0 p-r-0`.

[2019-07-08 07:30] Samuell1 commented on #4437
There is way like this

[code]

and then for fields you just define `span: left1`

[2019-07-08 08:45] adrenth commented on #4381
Maybe the topic about semver deserves a separate issue to take this discussion further ;-) However, I greatly appreciate the time that was spent to make things clear. I'll keep an eye on any updates regarding Laravel upgrades. Brings some good stuff!

[2019-07-08 08:46] Rike-cz commented on #4437
@Samuell1 Yes, and we like to have it in core as well.

[2019-07-08 09:27] tobias-kuendig opened #4438 "The CSS combiner destroys certain calc rules"
We use [lostgrid.org](http://lostgrid.org) extensively in our projects. For a certain time now we have been experiencing problems with the combiner (I cannot pinpoint the exact October version that introduced this bug).

lost-grid generates rules like this:

[code]

When this rule is passed through October's combiner it ends up as

[code]

Because of the `- 0` without a unit the rule becomes inval

[2019-07-08 09:30] tobias-kuendig commented on #4438
I just noticed that October uses Assetic, this might be an upstream issue.

[2019-07-08 09:38] tobias-kuendig commented on #4438
Found the possible culprit:
https://github.com/octobercms/library/blob/master/src/Parse/Assetic/StylesheetMinify.php#L55

[2019-07-08 09:46] bennothommo commented on #4438
@tobias-kuendig I wouldn't mind seeing that line gone. @w20k, @LukeTowers - what do you reckon?

[2019-07-08 10:10] w20k commented on #4438
@tobias-kuendig make a PR, will merge. Might be something that I've missed while testing.

[2019-07-08 10:44] w20k commented on #4435
I agree with @bennothommo, @ayumihamsaki  could you remove from your list vendor specific files.

[2019-07-08 11:42] tobias-kuendig commented on #4438
Here's my PR: https://github.com/octobercms/library/pull/411

If someone has a better solution please feel free to comment!

[2019-07-08 12:18] host138 opened #4439 "Imposible to use sorting in the relations"
- OctoberCMS Build: 455
- PHP Version: 7.3.4
- Database Engine: Mysql 5.7.23
- Plugins Installed: October.Test-v1.0.1

### Description:
Sorting doesn't work at all

### Steps To Reproduce:
You can see in the October Test plugin.
Users -> NEO -> In the "Standard" tab "Roles" section.  For example, try to sort by ID column.

[2019-07-08 13:09] yinglau opened #4440 "How to handle http 'OPTIONS' request"
I write a `POST` method http request , there is a `OPTIONS` request got `404`
![image](https://user-images.githubusercontent.com/16402665/60812492-3072c280-a1c4-11e9-9786-ba5549123545.png)

How to handle the `OPTIONS` method request?

Thanks!

[2019-07-08 13:31] #4392 closed

[2019-07-08 13:33] LukeTowers commented on #4437
@ayumihamsaki what does the CSS for your proposal look like?

[2019-07-08 13:34] LukeTowers commented on #4436
@DanHarrin if @daftspunk is fine with moving it to a ui/ folder under the docs repo then I'm fine with that. He has to update the website to make it work in the first place so without his agreement it's not going to happen.

[2019-07-08 13:36] LukeTowers commented on #4436
@daftspunk while we're talking docs it would be nice if the generated API docs were pushed to a readonly repo automatically (say octoberrain/api-docs) for local replication.

[2019-07-08 13:51] LukeTowers commented on #4440
See https://medium.com/@neo/handling-xmlhttprequest-options-pre-flight-request-in-laravel-a4c4322051b9 or just use the wonderful plugin by @tobias-kuendig: https://octobercms.com/plugin/offline-cors

[2019-07-08 13:51] #4440 closed

[2019-07-08 13:54] LukeTowers commented on #4435
@ayumihamsaki please don't make separate PRs for each file, just make them all under this one.

[2019-07-08 14:08] SebastiaanKloos commented on #4398
@LukeTowers I have added it to the test plugin

[2019-07-08 14:28] yinglau commented on #4440
@LukeTowers Hey guys, thanks for your help, it's finally work.

[2019-07-08 14:32] ayumihamsaki commented on #4437
@LukeTowers

Here's a general overview of the few things I did, to make it work it 99.99% of all cases in the backend:

1. For 3 and 4 columns I set all the field to using `auto` (not `left`, `right` or `full`).

2. Removed the `clear: left;` and `clear: right;` CSS they create issues.

3. Removed the `float: left;` and `float: right;` and use Flexbox instead. Flexbox settings I use full prefixes

[2019-07-08 14:36] ayumihamsaki commented on #4437
@LukeTowers

Here's a general overview of the few things I did, to make it work it 99.99% of all cases in the backend:

1. For 3 and 4 columns I set all the field to using `auto` (not `left`, `right` or `full`).

2. Removed the `clear: left;` and `clear: right;` CSS they create issues.

3. Removed the `float: left;` and `float: right;` and use Flexbox instead. Flexbox settings I use full prefixes

[2019-07-08 14:46] pavsid commented on #3415
@bennothommo Thanks, but unfortunately i'm getting the same error :(

[2019-07-08 14:55] ayumihamsaki commented on #4435
As bennothommo said:

This is why I said:

Can divide everything into two sets:

- October CMS files
- Third party files

Also:

Not totally the same, sometimes you need to write them differently in the `function()`.

The library Select2 I had a look at a few months ago, the version we are using right now is completely different from the new version. The version we are using has quite a few bugs.

[2019-07-08 15:05] ayumihamsaki commented on #4435
How to keep everyone happy here, what I can do is create a single pr to fix all the non-third party vendors files and then fix them at a later date and keep this issue open.

[2019-07-08 17:44] LukeTowers commented on #4437
@ayumihamsaki if you can implement the following API (making it fully responsive for all layout options) then I think the columns would be acceptable. And you're right, I will say that the colour picker should be a plugin 😉

[code]

[2019-07-08 17:45] LukeTowers commented on #4398
@w20k could you take a look when able?

[2019-07-08 17:49] LukeTowers commented on #3415
@bennothommo this issue probably still exists inside and outside of a child repeater with your fix because it's an issue with a detached formwidget (detached because it's calling from the context of a popup instead of the overall form) trying to call it's AJAX handlers when either the widget nested in a repeater isn't initialized or the alias for referencing that widget is incorrect.

[2019-07-08 17:52] ayumihamsaki commented on #4437
Cool, will work on it in the coming weeks.

[2019-07-08 22:50] ayumihamsaki commented on #4437
Notes:

1. Create PR.

2. Update Builder Plugin with new features.

3. Update October Doc's Repo.

[2019-07-08 23:59] bennothommo commented on #3415
@pavsid Thanks for letting me know.

@LukeTowers thanks for that. Will dig into it further :)

[2019-07-09 07:28] w20k commented on #4398
@LukeTowers sure! Added to my Todo's

[2019-07-09 07:33] rominronin commented on #4370
@DanNicolau Can you please outline how you extended the defaults. I'm trying to extend the froala plugin to add a character limit (using the character count plugin), but I get 'Cannot read property DEFAULTS of undefined' errors.

[2019-07-09 08:15] plyusninva opened #4441 "Column not found: 1054 Unknown column 'any_template' in 'order clause'"
- OctoberCMS Build: 455
- PHP Version: 7
- Database Engine: MySQL

### Description & steps:
1) Log settings -> Log theme changes ENABLED
2) LOGS -> Theme log (/backend/cms/themelogs)
3) Try sort column "Template"
![image](https://user-images.githubusercontent.com/25381948/60875486-67dc8000-a253-11e9-938b-4e8adcfaaf01.png)
4) Result error:
![image](https://user-images.githubusercontent.com/25381948

[2019-07-09 08:32] laetificat opened #4442 "Auth::id() has an undefined variable"
- OctoberCMS Build: v1.0.456
- PHP Version: 7.3.3
- Database Engine: MySQL

~~**Note: I'm currently in the process of creating a pull request to fix this.**~~

### Description:
When calling `RainLab\User\Facades\Auth::id()` the system throws an unhandled error with the message `Undefined variable: user`.

### Steps To Reproduce:
Call `RainLab\User\Facades\Auth::id()` anywhere in your code where av

[2019-07-09 09:22] NathanBastiaans commented on #4442
I can recreate the issue by calling the `Auth::id()` method in an existing component. The given pull request seems to fix this issue. 👍

[2019-07-09 09:24] NathanBastiaans commented on #4441
You can log out with your back-end user to restore sorting to defaults.

[2019-07-09 09:32] plyusninva commented on #4441
Thank you very much! :-)

[2019-07-09 11:33] harmenjanssen opened #4443 "Remove column type: relation warning"
- OctoberCMS Build: v1.0.456
- PHP Version: 7.0
- Database Engine: mysql
- Plugins Installed: -

### Description:

Using the [Debugbar](https://octobercms.com/plugin/bedard-debugbar) I noticed some lists in my backend using up to 460 queries (!). The performance of these pages was atrocious.

The bulk of the queries were error logs:

[code]

Upon removing the `type: relation` configuration from my

[2019-07-09 12:10] #4438 closed

[2019-07-09 12:44] w20k commented on #4398
@LukeTowers found the cause:
https://github.com/octobercms/october/blob/4e92686c1a7de662840fa160b7348003f5ba817d/modules/backend/widgets/ReportContainer.php#L453

`$widget->property` return an `array` and `Lang::get` is waiting for a string.

[2019-07-09 14:10] LukeTowers commented on #4398
@w20k out of curiosity can you post a screenshot of what the widget's inspector looks like? I don't think I've used the objectList type before.

[2019-07-09 14:27] #4443 closed

[2019-07-09 14:30] #4442 closed

[2019-07-09 14:32] LukeTowers commented on #4370
@rominronin I've used the following in the past:
[code]

[2019-07-09 14:35] LukeTowers commented on #4441
@NathanBastiaans @plyusninva Note that in Build 457 that will no longer work as sorting will be saved as a user preference instead of a session variable. To fix it in the future temporarily (before an official fix is released) just add `sortable: false` to the offending column definition.

[2019-07-09 14:38] #4441 closed

[2019-07-10 07:44] w20k commented on #4398
@LukeTowers was the first time for me to test this functionality. Haven't seen it yet.
Do you know is there an option to make Algolia on `octobercms.com` to parse those doc files as well - `modules/system/assets/ui/docs`? Or they're not visible at all? Not sure yet, how our `docs` system works)

Here you go:
![Screenshot 2019-07-10 at 10 38 03](https://user-images.githubusercontent.com/1053320/609

[2019-07-10 08:11] bennothommo commented on #4437
@ayumihamsaki @LukeTowers wishlist item - would it be possible to have a 75 / 25 arrangement with two columns?  (ie. the first column spans 75% of the width, and the second column spans 25%).

It's something I've been achieving with CSS classes, but might be cool to give developers the flexibility with something in core.

[2019-07-10 08:17] w20k commented on #4439
Confirmed - a bug, will be looking at it on weekends.

[2019-07-10 09:47] ayumihamsaki commented on #4437
@LukeTowers @bennothommo I would be up to coding that, I think it's an interesting idea and I can see some good use cases for it.

My only question is naming the API ?

[code]

Would that work?

[2019-07-10 09:55] ayumihamsaki commented on #4437
@LukeTowers @bennothommo I would be up to coding that, I think it's an interesting idea and I can see some good use cases for it.

My only question is naming the API ?

[code]

Would that work?

[2019-07-10 09:55] bennothommo commented on #4437
@ayumihamsaki If you're specifically making it so that there's 4 columns, I'd probably think just allowing them to enter in a number between 1-4 to denote the amount of columns they want the field to span:

[code]

Then they can arrange it however which way they like.

[2019-07-10 09:57] ayumihamsaki commented on #4437
So like this:

[code]

[2019-07-10 09:59] bennothommo commented on #4437
@ayumihamsaki Yep, but you could still include your `third` and `quarter` keywords as well for 33% and 25%.

[2019-07-10 10:01] ayumihamsaki commented on #4437
@LukeTowers Would you be happy with this:

[code]

[2019-07-10 10:07] ayumihamsaki commented on #4437
Had a re-think maybe could just do this?

[code]

[2019-07-10 10:13] w20k commented on #4437
Just out of curiosity, why do we need 'span: auto'? Shouldn't it be a default option?

[2019-07-10 10:18] ayumihamsaki commented on #4437
Yah it should be the default setting.

The best way I can answer you on why we need `span:auto` is open builder plugin and see what happens if you do `two left columns` and then compare them to `two auto columns`. 😆

[2019-07-10 10:26] ayumihamsaki commented on #4437
Be like this because of the CSS floats used:

![w20k](https://user-images.githubusercontent.com/17784082/60962174-99158880-a305-11e9-96df-3c7fd9d65eaa.png)

[2019-07-10 10:31] ayumihamsaki commented on #4437
## Notes:

Need check the code and see if it does the following:

- **left** - uses `float: left;`

- **right** - uses `float: right;`

- **auto** - should use `flexbox` `wrap;`

[2019-07-10 14:06] ayumihamsaki commented on #4437
Would like to also fix this issue at the same time. The problem is when you down scale the screen size the layout gets messed up. I think this is due to using `clear: left;` and `clear: right;` CSS.

See screenshot of a plugin I am currently building:

![issue](https://user-images.githubusercontent.com/17784082/60975719-54e5b080-a324-11e9-8a62-6e1ca692a96d.png)

[2019-07-10 14:14] w20k commented on #4437
@ayumihamsaki it's not really related to downscaling or float.
It's mainly because of the way `float` works. So, to fix that issue you'd need to wrap each line in a separate block/section (and use `clear` for floated layout).

[2019-07-10 14:32] Samuell1 commented on #4437
Best will be to migrate it to flexbox

[2019-07-10 15:00] ayumihamsaki commented on #4437
Tested both ideas, the flexbox won (didn't need to add an extra block/section).

![issue](https://user-images.githubusercontent.com/17784082/60980099-c1b07900-a32b-11e9-9f8a-97c12fdfe173.png)

[2019-07-10 15:04] ayumihamsaki commented on #4437
I'm up for trying to code everything in this issue next week, if people wanna test the code and give me feedback can adjust everything to satisfy everyone's needs.

[2019-07-10 15:14] LukeTowers commented on #4398
@w20k not sure about algolia, you'd have to talk to @daftspunk about it.

[2019-07-10 15:14] #4398 closed

[2019-07-10 15:23] LukeTowers commented on #4437
@ayumihamsaki that looks good to me.

[2019-07-10 15:26] ayumihamsaki commented on #4437
Cool, thanks for the confirmation.

[2019-07-10 22:37] ayumihamsaki opened #4446 "Fix the die and dump debugging widget"
Just come across this piece of code when reading the source code.

When you create a dump box it creates the following code:

[code]

Basically, the Browser is auto fixing the coding mistake so maybe people don't notice it.

The above code line seems to have a double `colspan`

See code in October:

https://github.com/octobercms/october/blob/217d52bc776eb19b5642ad8344955535c930f5fe/modules/cms/twi

[2019-07-10 22:48] ayumihamsaki commented on #4446
Just spotted some other strange things going on, it seems like there is no matching `<td>` and `<th>`.

Also missing `<tbody>` and `<thead>` tags.

This is what I am seeing:

[code]

[2019-07-10 22:54] ayumihamsaki commented on #4446
Just spotted some other strange things going on, it seems like there is no matching `<td>` and `<th>`.

Also missing `<tbody>` and `<thead>` tags.

This is what I am seeing:

[code]

Maybe the code should be like this:

[code]

[2019-07-10 22:55] ayumihamsaki commented on #4446
Just spotted some other strange things going on, it seems like there is no matching `<td>` and `<th>`.

Also missing `<tbody>` and `<thead>` tags.

This is what I am seeing:

[code]

Maybe the code should be like this:

[code]

[2019-07-10 23:00] ayumihamsaki commented on #4446
Their seems to be more weird things going on ?

[code]

There's no double quotes on the `class` and `id` attributes ?

[2019-07-10 23:06] ayumihamsaki commented on #4446
This is not escaped ?

[code]

Needs to be:

[code]

More missing double quotes ?

[code]

On the `class` and `href`.

[2019-07-10 23:08] ayumihamsaki commented on #4446
That's all the errors I see, just repeated several thousand times over.

[2019-07-11 06:32] kharanenka commented on #4382
Hi! We added .octoberinclude file to /build folder. When will edits be added to make it work?

[2019-07-11 08:00] w20k commented on #4446
Will look at it @ayumihamsaki, when I have a minute. Thanks!)

[2019-07-11 08:00] maartenmachiels commented on #4402
Hi guys, thanks for your extended work on this bug. When would the bugfix be available as an update in the backend of October CMS?

[2019-07-11 08:06] w20k commented on #4402
By using a Dev build or on the next release - v1.0.457 (should be soon). We're currently working on the issues/prs to make it happened!

[2019-07-11 08:17] meysammahfouzi commented on #2349
@ekrokowski @daftspunk

**TL;DR**
Setting both timezones to UTC is a bad practice. The correct approach to fix this problem is setting `ignoreTimezone: true` for date fields.

**Details:**
I had the same problem. The timezone in my `app.php` file is set to 'UTC' and the timezone in my backend preferences is set to (UTC +4:30). This works perfectly when working with DateTime fields. So if I enter a

[2019-07-11 12:26] lautsevich commented on #4382
@LukeTowers, hi! Is there any news regarding implementing the support for `.octoberinclude` file? Our customers are [suffering](https://github.com/octobercms/october/issues/4382).

[2019-07-11 13:02] LukeTowers commented on #2349
@meysammahfouzi can you make a PR to the docs to make this more clear that if you are using `mode: date` you probably want to be using ignoreTimezone: true?

[2019-07-11 13:29] #4402 closed

[2019-07-11 13:32] ayumihamsaki commented on #4446
Thanks.

Also why does it use three columns and not two, that also makes no sense to me?

![eg](https://user-images.githubusercontent.com/17784082/61055066-a0619280-a3e8-11e9-9529-6a8a7e4bc911.png)

[2019-07-11 13:52] ayumihamsaki commented on #4446
Another error:

![eg](https://user-images.githubusercontent.com/17784082/61056587-8a090600-a3eb-11e9-83cc-5e98d9cef22e.png)

[2019-07-11 14:51] ayumihamsaki commented on #4437
@LukeTowers I don't want to open another issue just to ask you this question.

Does October have a built in slider ?

![eg](https://user-images.githubusercontent.com/17784082/61061123-985b2000-a3f3-11e9-8709-cec96cc216ac.png)

I looked in the doc's here: https://octobercms.com/docs/ui/form

(I checked every section under `controls` and `styling` and couldn't find one)

[2019-07-11 16:57] LukeTowers commented on #4437
@ayumihamsaki no, and could you use the Slack to ask off-topic questions please? 😉

[2019-07-11 17:03] LukeTowers commented on #4446
@ayumihamsaki I would imagine that it is hard coded for the same reason exception messages and code comments are not translated. The development language of the project is English, and this is an development tool. If it's not something that should be displayed to end users, only developers, then it should be in English.

[2019-07-11 18:06] ayumihamsaki commented on #4437
Gonna have to join this slack group, thanks.

[2019-07-11 18:07] ayumihamsaki commented on #4446
Cool, that makes sense.

[2019-07-11 18:24] meysammahfouzi commented on #2349
@LukeTowers Yes, I hope this helps: https://github.com/octobercms/docs/pull/385
I was wondering if there is any documentation for setting timezone in October at all?

[2019-07-11 22:03] ayumihamsaki commented on #4446
## Summary of fixes

1. HTML table elements

2. Add missing double quotes

3. Escape characters

[2019-07-12 03:06] LukeTowers commented on #2349
@meysammahfouzi in what way? What specifically are you looking for?

[2019-07-12 03:09] LukeTowers commented on #4437
https://octobercms-slack.herokuapp.com/ @ayumihamsaki it's where all the cool people hang out 😉

[2019-07-12 04:55] wenlong-date opened #4451 "Alert twice when csrftoken invalid in backend"
- OctoberCMS Build: 456
- PHP Version: 7.2
- Database Engine: 5.5
- Plugins Installed: none
- testing base on Chrome(version 74.0.3729.108) and Edge

### Description:
In backend ,when page csrf token expired, the invalid_token info will alert twice

### Steps To Reproduce:
1. open OctoberCMS backend
2. for test the bug ,we comment out the code of file `modules/backend/classes/Controller.php` on li

[2019-07-12 06:48] seanthepottingshed commented on #4437
@LukeTowers @ayumihamsaki and the beautiful people

[2019-07-12 10:19] meysammahfouzi commented on #2349
@LukeTowers There are two places in October where timezone can be set. One in the `app.php` file and another in the backend preferences. Has the usage of each of them and the difference between them been documented anywhere? I think this could be confusing for the new users.

[2019-07-12 11:43] w20k commented on #4446
@ayumihamsaki few notes:

1. It think it's ment to be width="100", just a misstype ;)  - `$output[] = '<th colspan="3" width="100" style="'.$this->getHeaderCss().'">'; `
2. Tbody/Thead was introduce with the release of HTML 3.2 standard, but added only in HTML 4.0  (in 1999). Wasn't that popular before the strike of the HTML5 and era of clean code and strict tags :) Sort of an old school approach.

[2019-07-12 12:41] w20k commented on #4451
Bug - confirmed.

[2019-07-12 14:29] LukeTowers commented on #2349
@meysammahfouzi there's a note in the configuration about it: https://github.com/octobercms/october/blob/master/config/app.php#L56. Also, there's technically three: app.timezone, cms.backendTimezone, and the user's backend preferences.

[2019-07-12 14:47] ayumihamsaki commented on #4446
Just gonna go through your points - for my notes and what I plan to do to fix the issues:

I think you are right, **I will delete it out**. The Widget width seems to be adjustable and when I tested it with these two things:

### Test 1

[code]

We get the following width results:

![oct-1](https://user-images.githubusercontent.com/17784082/61135164-0289c880-a4b9-11e9-96ce-14b91dc46b9c.png)

### Te

[2019-07-12 15:07] ayumihamsaki commented on #4446
Thinking of doing two separate PR's for this issue:

1. Fix the styling HTML issues with the widget.

2. Update the vendor file(s) (I don't know what vendor package we are using?) and connect them to this github issue for updating: https://github.com/octobercms/october/issues/3867

[2019-07-12 15:08] ayumihamsaki commented on #3867
To do's:

- Need to update jQuery Migrate V3.0.1 to 3.1.0

- Update the debugging Package, see issue: https://github.com/octobercms/october/issues/4446

[2019-07-12 19:57] ayumihamsaki commented on #2820
Just going through my github issues.

Testing this today, there seems to be another issue with the top menu.

- Chrome - Can use the mouse wheel

- Firefox - Mouse wheel doesn't work

Haven't tested rest of the browsers.

[2019-07-12 20:05] ayumihamsaki commented on #2820
@LukeTowers @daftspunk

Please decide whether you want to remove these pointless arrows, I can do the following.

Remove the following code:

## October.css File

[code]

## Storm.css File

[code]

[2019-07-12 20:57] ayumihamsaki commented on #2820
## Summary of issues with top nav menu

Since I opened this issue, I have had time to look deeper in October's code and there are several other issues currently open. It maybe a good idea to squash everything together and get this sorted out once and for all.

Current issues I see:

1. The two arrow icons do nothing in functionality and several people have suggested to remove them.

2. Code doesn'

[2019-07-12 21:54] LukeTowers commented on #2820
@ayumihamsaki if you have a suggestion for a different implementation that works better then please make a PR so we can review it.

[2019-07-12 22:51] ayumihamsaki commented on #2820
Doing research on it as we speak.

[2019-07-13 04:15] bennothommo commented on #3415
@pavsid Would you mind providing an example of your setup as a PR to our [test plugin](https://github.com/octoberrain/test-plugin)? I think I have an idea as to where the issue may lie, but I would like to test it with a replica of your custom field setup so I can confirm.

[2019-07-13 09:33] ayumihamsaki commented on #4437
### Flexbox testing platforms (notes):

- Chrome/Canary
- Firefox Nightly
- Opera Dev
- Edge
- IE11
- Safari IOS
- Samsung Internet

[2019-07-13 09:36] ayumihamsaki commented on #4437
### Flexbox testing platforms (notes):

- Chrome/Canary
- Firefox Nightly
- Opera Dev
- Edge
- IE11
- Safari IOS (Use 9.3.5) <-- (biggest headache)
- Samsung Internet

[2019-07-13 09:46] daftspunk commented on #4382
Please create a file in the root directory of your plugin or theme called `.octoberinclude` (lower case) with the contents:

[code]

This should include all hidden files recursively throughout the next build run.

Don't forget to report back your findings so we can close this ticket.

Thanks!

[2019-07-13 11:12] ayumihamsaki commented on #4350
Hi @bennothommo not sure if this is useful to you, I was using codepen yesterday and thought of this issue, here's a screenshot of what I was thinking (maybe useful?)

![idea](https://user-images.githubusercontent.com/17784082/61170893-84d0c600-a567-11e9-8049-2ec8bfe3dd72.png)

[2019-07-13 11:43] ayumihamsaki commented on #4379
## Notes

Just gonna add some notes, two PR I want to start with:

1. Fix the top menu navigation (it has really bad render blocking). As per my comment here: https://github.com/octobercms/october/issues/2820#issuecomment-511031119

2. Split the main assets into sync and async.

Hopefully can get these two things coded in the near future - but now on my to do list.

[2019-07-13 11:57] ayumihamsaki commented on #4379
## Notes - To do list (Performance)

Just gonna add some notes, three PR I want to start with:

1. Fix the top menu navigation (it has really bad render blocking). As per my comment here: https://github.com/octobercms/october/issues/2820#issuecomment-511031119

2. Split the main assets into sync and async.

3. Rip out Isotope and replace it with a more modern drag n drop, as per comment: https://g

[2019-07-13 14:07] tobias-kuendig opened #4452 "Question about `| trans` filter and XSS"
I just noticed that the following call using the `| trans` filter in Twig does not escape the `query` parameter (in fact the whole string is unescaped).

[code]

To me this is very unintuitive and dangerous behaviour since usually stuff inside Twig's `{{ }}` can be considered properly escaped.

So what's your thoughts on this? Is this expected behaviour? How would you go about escaping this value

[2019-07-13 15:48] LukeTowers commented on #4452
@tobias-kuendig so you're XSSing yourself? Or are you talking about a site where you're passing user input to the trans function? Because you should definitely not be doing that.

[2019-07-13 16:30] tobias-kuendig commented on #4452
Well, of course I'm doing exactly that! :sweat_smile:

I guess what I'm actually trying to find out is the official way to provide pre-translated strings with a plugin that can be used in the frontend.

AFAIK RainLab.Translate only supports this via the `theme.yaml` file, right?

[2019-07-13 17:09] LukeTowers commented on #4452
@tobias-kuendig it's fine to use the trans() filter for plugin provided translations, but if you're going to pass in user input then make sure that you also add the `| escape` filter after (i.e. `'my.key' | trans() | escape`): https://twig.symfony.com/doc/2.x/filters/escape.html

[2019-07-13 18:01] ayumihamsaki commented on #4437
# PR Design Notes

## Repo 1

### Doc's (Not Doc's Repo)

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/docs/form.md

### LESS Files

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/less/form.less

### Storm.css (not October.css)

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/storm.css

## Repo 2

### Doc's Repo

[2019-07-13 18:04] ayumihamsaki commented on #4437
# PR Design Notes

## Repo 1

### Doc's (Not Doc's Repo)

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/docs/form.md

### LESS Files

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/less/form.less

### Storm.css (not October.css)

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/storm.css

### CSS Media Queries

Look

[2019-07-13 18:09] ayumihamsaki commented on #4437
# PR Design Notes

## Repo 1

### Doc's (Not Doc's Repo)

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/docs/form.md

### LESS Files

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/less/form.less

### Storm.css (not October.css)

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/storm.css

### CSS Media Queries

Look

[2019-07-14 11:16] SaifurRahmanMohsin commented on #3683
# Introduce Widgets Marketplace:

Widgets are components that can be re-used across multiple plugins. However, the OctoberCMS system is designed in a way that plugins can only have widgets inside them. While this is great esp. when a plugin might needs a particular widget only within in, there should also be an option to load widgets from a marketplace since there are several widgets that work acr

[2019-07-14 16:33] LukeTowers commented on #3683
@SaifurRahmanMohsin what you're talking about is already possible simply by making plugins that only contain one widget in them. See https://github.com/captive/oc-calendar-plugin & https://github.com/captive/oc-notes-plugin. This does have the downside of paid widgets requiring be paid for by the end users though. I'm not sure there's enough demand to sustain developing a paid "widgets" section of

[2019-07-14 16:49] ghost opened #4454 "Add full support for Click, Keyboard and Touch Navigation"
## Intro

Currently October CMS has good `mouse click` support with the frontend and backend.

However, October CMS has intermediate functionality with `touch` support.

It gets worse, October CMS has almost no `Keyboard Navigation` support.

W3c one of the main internet standards organizations has very specific rules for everything when it comes to this area.

## Example with Form Tabs

I recentl

[2019-07-14 17:24] ayumihamsaki commented on #4454
## Radio buttons

Just playing around coding these, I leave my notes here for future ref:

![gay](https://user-images.githubusercontent.com/17784082/61187033-774d3600-a664-11e9-8e59-dabd7e0dfbb7.png)

Link: https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/radio/radio-1/radio-1.html

[2019-07-14 17:32] ayumihamsaki commented on #4454
## Side Note

Need to update the October documentation code examples.

For example, these are now wrong: https://octobercms.com/docs/ui/tab

Missing WAI-ARIA in the HTML code.

[2019-07-14 20:43] #4278 closed

[2019-07-15 05:15] tobias-kuendig commented on #4452
That's excactly what I was looking for, thanks @LukeTowers!

[2019-07-15 05:15] #4452 closed

[2019-07-15 06:51] kharanenka commented on #4382
I moved .octoberinclude file to theme root folder and set '*' content for it. We still haven't got hidden files in build folder

[2019-07-15 07:51] bennothommo commented on #4350
Thanks heaps for that @ayumihamsaki - your post above inspired me to pivot the development of the Grid widget a bit. I'm looking at implementing it as a "view" of the Lists widget now, as I realised during development that it was using way too much shared code for it to be a separate widget. The upshot is that you'll be able to toggle the view like your image above. :)

[2019-07-15 13:42] ayumihamsaki commented on #4435
- Space bar is a bit of a headache, I did some research on it 2 days ago and came to the conclusion you need three fields. This is what I found out:

Future propsoal - `(Space character)`
Current proposal - ` `
Passed propsal (older browsers e.g. IE11) - `Spacebar`

[2019-07-15 14:03] bennothommo commented on #4252
Fixed by https://github.com/octobercms/library/pull/403.

[2019-07-15 14:03] #4252 closed

[2019-07-15 14:04] bennothommo commented on #4249
Fixed by https://github.com/octobercms/library/pull/403.

[2019-07-15 14:04] #4249 closed

[2019-07-15 14:43] ayumihamsaki commented on #4454
## List of completed widgets

- [x] - Footer - https://github.com/octobercms/october/pull/4401
- [x] - Form - https://github.com/octobercms/library/pull/392 and ...
- [x] - Tabs - https://github.com/octobercms/october/pull/4401
- [ ] - Radio Buttons
- [ ] - Checkboxes
- [ ] - Dropdown Menus

[2019-07-15 14:45] ayumihamsaki commented on #4454
### Role form notes

Need to update the following files:

https://github.com/octobercms/october/blob/master/themes/demo/pages/ajax.htm

https://github.com/octobercms/october/blob/master/plugins/october/demo/components/todo/default.htm

https://github.com/octobercms/october/blob/master/themes/demo/partials/explain/ajax.htm

https://github.com/octobercms/october/blob/master/modules/system/controller

[2019-07-15 17:29] Samuell1 commented on #2833
After searching there is no way to use if statements in stub files. Then this needs to be created in one or in 2 separate files.

[2019-07-15 19:04] ayumihamsaki commented on #4454
Link to my notes, stops subscription notifications annoying other people.

https://github.com/ayumihamsaki/october-wai-aria-notes/blob/master/README.md

[2019-07-16 10:26] rodrigosaraiva opened #4456 ""Call to undefined function October\Rain\Database\Attach\imagecreatefromjpeg()" on line 498 of /var/www/html/vendor/october/rain/src/Database/Attach/Resizer.php"
- OctoberCMS Build: 455
- PHP Version: 7.3
- Database Engine: MariaDB
- Plugins Installed:

- Frozendo.PagePreview	1.2.1
- Indikator.Backend	1.6.9
- OFFLINE.SiteSearch	1.3.22
- PanaKour.Backup	1.0.9
- RainLab.Builder	1.0.25
- ToughDeveloper.ImageResizer	1.3.6
- Martin.Forms	1.4.14
- Romanov.ClearCacheWidget	1.3.0
- October.Drivers	1.1.2
- Guc.Melkan	1.0.18
- RainLab.Blog	1.3.3
- RainLab.BlogVideo

[2019-07-16 15:07] Rike-cz commented on #4456
It's more about your PHP setting than about OctoberCMS. See: https://stackoverflow.com/questions/13338339/imagecreatefromjpeg-and-similar-functions-are-not-working-in-php

[2019-07-16 15:17] rodrigosaraiva commented on #4456
I don't think so.
![Screenshot from 2019-07-16 16-16-18](https://user-images.githubusercontent.com/5757716/61306872-303a7e80-a7e5-11e9-88da-8aa510f8c8c3.png)

[2019-07-16 15:23] rodrigosaraiva commented on #4456
I don't think so. I have the GD library, docker packages, and PHP configuration ok.
![Screenshot from 2019-07-16 16-22-11](https://user-images.githubusercontent.com/5757716/61307347-13eb1180-a7e6-11e9-80c0-ca152d9db250.png)
![Screenshot from 2019-07-16 16-21-53](https://user-images.githubusercontent.com/5757716/61307348-13eb1180-a7e6-11e9-92e0-f0e52a591da3.png)

[2019-07-16 15:31] bennothommo commented on #4456
@rodrigosaraiva You have not got JPEG support installed with your GD extension. You need to build the extension with an attached JPEG library.

[2019-07-16 15:32] #4456 closed

[2019-07-17 13:41] ayumihamsaki commented on #4454
@LukeTowers @w20k Question time.

I'm working on doing keyboard navigation for radio buttons at the moment behind the scenes. I got the following coding problem with October CMS current setup and want to double check my solution to the problem.

Currently October CMS has the following code for radio buttons:

[code]

As per link: https://octobercms.com/docs/ui/checkbox

The first is that the above

[2019-07-17 14:12] ayumihamsaki opened #4458 "October shows the :url? webpage"
Take the following example:

[code]

Which gives me the following etc.

[code]

The trouble is when you put the following in the browser address bar is actually shows that junk web page:

[code]

This is no good for Search engine crawler bots that will index this junk web page.

Can't it route to a 404 error page by default.

[2019-07-17 14:40] ayumihamsaki commented on #4454
@LukeTowers @w20k Question time.

I'm working on doing keyboard navigation for radio buttons at the moment behind the scenes. I got the following coding problem with October CMS current setup and want to double check my solution to the problem.

Currently October CMS has the following code for radio buttons:

[code]

As per link: https://octobercms.com/docs/ui/checkbox

The first is that the above

[2019-07-17 16:04] Samuell1 commented on #4458
What you mean junk web page? Hope you dont running production website with debug enabled.

[2019-07-17 16:25] ayumihamsaki commented on #4458
@Samuell1 Thanks for your comment, I double checked my config files, it was because my enviroment was set to `development` instead of `production`.

Gonna close this issue.

[2019-07-17 16:25] #4458 closed

[2019-07-17 21:08] LukeTowers commented on #4400
Fixed by https://github.com/octobercms/october/commit/22847e7892a2054da91bd85ec183ba6e7bc52094

[2019-07-17 21:08] #4400 closed

[2019-07-17 23:13] ayumihamsaki commented on #3867
## To do list

The next one could be jQuery.flot we are using V1.1

The folder location is here: https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/flot

Current version is 3.2.2. see here: https://github.com/flot/flot/releases

[2019-07-17 23:32] ayumihamsaki commented on #3867
## To do list

The next one could be jQuery.flot we are using V1.1

The folder location is here: https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/flot

Current version is 3.2.2. see here: https://github.com/flot/flot/releases

Note: New version has a lot more plugins to add extra features!

---

Also update the excanvas.js  and excanvas.min.js in same folder. Have

[2019-07-17 23:39] ayumihamsaki commented on #3867
## To do list

The next one could be `jQuery.flot` we are using V1.1

The folder location is here: https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/flot

Current version is 3.2.2. see here: https://github.com/flot/flot/releases

Note: New version has a lot more plugins to add extra features!

---

Also update the `excanvas.js` and `excanvas.min.js` in same folder.

[2019-07-18 01:10] ayumihamsaki commented on #3867
## To do list

The next one could be `jQuery.flot` we are using V1.1

The folder location is here: https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/flot

Current version is 3.2.2. see here: https://github.com/flot/flot/releases

Note: New version has a lot more plugins to add extra features!

Remove `excanvas.js` and `excanvas.min.js` in same folder, it adds HTML c

[2019-07-18 01:17] ayumihamsaki commented on #3867
## To do list

The next one could be `jQuery.flot` we are using V1.1

The folder location is here: https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/flot

Current version is 3.2.2. see here: https://github.com/flot/flot/releases

Note: New version has a lot more plugins to add extra features!

---

Also update the `excanvas.js` and `excanvas.min.js` in same folder.

[2019-07-18 01:20] ayumihamsaki commented on #3867
## To do list

The next one could be `jQuery.flot` we are using V1.1

The folder location is here: https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/flot

Current version is 3.2.2. see here: https://github.com/flot/flot/releases

Note: New version has a lot more plugins to add extra features!

Remove the `excanvas.js` and `excanvas.min.js` in same folder. They add H

[2019-07-18 04:54] #4446 closed

[2019-07-18 04:56] LukeTowers commented on #3867
@ayumihamsaki do we really need to upgrade it? If we're not using any of the new features and there's no issues with the current version I don't see any reason to upgrade it.

[2019-07-18 06:44] ayumihamsaki commented on #3867
@LukeTowers It's up to you, please read their changelog and see all the bug fixes they made, it seems a lot of bug fixes, but yah it would be a pain to update, https://github.com/flot/flot/blob/master/CHANGELOG.md

[2019-07-18 07:09] ayumihamsaki commented on #2303
Think this can be done with flexbox, here's a working example:

[code]

Going to try and work on this issue at the same time, while I create the pr for this issue: https://github.com/octobercms/october/issues/4437

I will probably create a single PR for both issues - going to be writing that pr today.

[2019-07-18 08:35] ayumihamsaki commented on #4437
~Just gonna re-code all October backend CSS it's a complete mess right now, will code it properly and correct the layout files. There's so many stupid things in the CSS like setting heights to 0.1px for the top navigation menu etc. Going to cleanup October and make it modern. Plus remove all these `display: table-row;` on every single class.

[2019-07-18 08:37] ayumihamsaki commented on #4437
~Just gonna re-code all October backend CSS it's a complete mess right now, will code it properly and correct the layout files. There's so many stupid things in the CSS like the height for the top navigation menu is set at 0.1px right now etc. Going to cleanup October and make it modern. Plus remove all these `display: table-row;` on every single class.

[2019-07-18 10:58] Samuell1 commented on #1061
Looking trough source code field type password already exists.

https://github.com/octobercms/october/blob/develop/modules/backend/widgets/form/partials/_field_password.htm

[2019-07-18 11:07] w20k commented on #2588
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-18 11:07] #2588 closed

[2019-07-18 11:13] w20k commented on #2583
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-18 11:13] #2583 closed

[2019-07-18 11:20] ayumihamsaki commented on #4454
Breadcrumbs:

1. Add `<nav>`
2. Add php/twig code to inject the last breadcrumb with `aria-current="page"`

[2019-07-18 11:29] bennothommo commented on #4437
@ayumihamasaki While I'm sure there's many improvements to make in the CSS, don't assume that just because it doesn't make sense to you, that it doesn't work.

Quite a few of the CSS rules are to fix certain issues with browsers. For example, the 0.1px rule is to force certain elements to be as minimum height as possible - when set to 0px, Firefox screws up the layout.

Also, `display: table-row`

[2019-07-18 11:33] daftspunk commented on #4382
Apologies there was a deployment issue, please retry.

[2019-07-18 11:41] kharanenka commented on #4382
Now everything works! Thanks

[2019-07-18 11:46] lautsevich commented on #4382
Great! Thx @LukeTowers @daftspunk!

[2019-07-18 11:46] #4382 closed

[2019-07-18 12:11] ayumihamsaki commented on #4437
@bennothommo thanks for the feedback will keep it in mind. I guess I'm just experimenting right now and see how far I can modernize October. I just keep going for now, just starting to make some progress with flexbox. It's the amount of <div>'s everywhere that's a real pain.

[2019-07-18 12:17] ayumihamsaki commented on #4437
This is with 100% flex and no display: table-row at all, see I'm starting to get some progress into it:

![see](https://user-images.githubusercontent.com/17784082/61456517-3142eb80-a95e-11e9-83be-d6b9f82eb91c.png)

The field area is stretched to fit in the form area.

[2019-07-18 12:31] Rike-cz commented on #4437
@ayumihamsaki: Are you going to change backend Bootstrap v3 -> v4 too?

[2019-07-18 12:46] bennothommo commented on #4437
@ayumihamsaki Don't get me wrong - some of the quirks of the Backend CSS/JS have caused me headaches as well - any sort of clean-out and modernization is a good thing, so I definitely look forward to seeing what you can do with it - just be mindful that a lot of the code in there is in there for a reason.

[2019-07-18 12:51] ayumihamsaki commented on #4437
That's what I'm most worried about. I try to test each thing as I go along.

Yah I could update that at the same time, makes sense. Are there any issues for people using bootstrap v3 html code with bootstrap v4. I don't want to cause backward compatibility issues for people's plugins.

[2019-07-18 12:54] bennothommo commented on #4437
@ayumihamsaki There may be some backwards compatibility issues with v4 - especially for people using custom templates with their own Bootstrap code, or perhaps people using CSS classes to control the layouts of forms.

[2019-07-18 12:56] ayumihamsaki commented on #4437
Best not to update bootstrap v4 for now.

I just keep it simple and update flexbox and a bunch of github css issues for now.

[2019-07-18 12:58] ayumihamsaki commented on #4417
Link this for now: here: https://github.com/octobercms/october/issues/4437

[2019-07-18 13:00] Rike-cz commented on #4437
Yes, there are many changes between this versions. For example .col-xs-12 is now .col-12 etc.
I am voting for v4, maybe optional, but v3 is history.

[2019-07-18 14:14] ayumihamsaki commented on #4437
Just gonna link this here: https://github.com/ayumihamsaki/backend-notes/blob/master/README.md

Any annoying css backend issue, add an issue there and I will try to fix it, as I plan on fixing a bunch of things with this pr.

This way I can write a bunch of notes and not annoy you guys with notifications all the time.

[2019-07-18 14:26] LukeTowers commented on #4437
No v4. October isn't even really using Bootstrap at this point, it's more of a custom framework (storm) that's loosely based on v3. Not worth updating at all. If someone wants to use v4 then they're free to override everything under the sun to make that work but we are not going to go in that direction.

[2019-07-18 14:39] LukeTowers commented on #4454
You don't have to add another div, you can use the existing field container div by adding the `aria-label` to the field's container attributes: https://github.com/octobercms/october/blob/master/modules/backend/classes/FormField.php#L330

JS can target by attributes, and you could also do a specific amount of parent() calls

[2019-07-18 14:41] #1061 closed

[2019-07-18 14:44] LukeTowers commented on #3867
@ayumihamsaki Meh, not worth it in my opinion unless someone reports an issue where they actually need it upgraded for some reason, which I can't really see happening.

[2019-07-18 16:22] Rike-cz commented on #4437
@LukeTowers: I think it's good to have standardized syntax, and if is base syntax derived from Bootstrap it would be better to stay actual. For example `.col-xs-` vs `.col-` or notation mismatch (`.m-l-lg` vs `.{property}{sides}-{breakpoint}-{size}`). But this is only my opinion and it's ease to make own custom css helpers.

[2019-07-18 19:40] ayumihamsaki commented on #4437
## New field sizes due to maths

API Position Name | Media Query | Number of Fields
--- | --- | ---
full | any size | 1 field
four | above 1200px | 4 fields
four | 950 - 1200px |  3 fields
four | 700 - 950px | 2 fields
four | below 700px | 1 field
three | above 950px | 3 fields
three | 700 - 900px |  2 fields
three | below 700px |  1 field
left | above 700px |  2 fields
left | below 700px |  1 fie

[2019-07-18 22:59] ayumihamsaki commented on #4437
Preview:

![see](https://user-images.githubusercontent.com/17784082/61497626-07b6ae00-a9b8-11e9-8b67-5f4112dfa23e.png)

[2019-07-18 23:59] LukeTowers commented on #4437
Seems to be some issues with the 3 quarters spaces but otherwise looks good

[2019-07-19 06:47] w20k commented on #4437
@ayumihamsaki definitely padding/margin between columns is a bit odd.

[2019-07-19 07:53] w20k commented on #4454
.siblings() to uncheck all the radio buttons in that group.

Minor note from me. When you start coding other blocks (Radio Buttons, Checkboxes, Dropdown Menus & etc). Could you rewrite your code (tags listener) so that it will be a separated prototype-based script with all the needed setters/getter and logic inside.

[2019-07-19 13:38] ayumihamsaki commented on #4437
@LukeTowers @w20k well spotted, I ran three main tests. I did:

1. CSS Grids
2. CSS Flexbox
3. CSS Table

Css Grids gave me the best result, but I could not use it because the backwards compatibility on Safari IOS below 10 and IE11 was not there and there is no polyfill.

CSS Flexbox gave me good padding/margin between the fields - but when you started mixing `25%`, `33%` and `75%` in a random ord

[2019-07-19 14:05] ayumihamsaki commented on #4437
Had a re-think, the span-left and span-right has the following:

48.5% x 2 = 97% (gives me 3% gapping)

So I will give the new fields a margin of 3% to match the orginial fields.

That way should match up better.

[2019-07-19 14:16] ayumihamsaki commented on #4437
Fixed:

![see](https://user-images.githubusercontent.com/17784082/61541784-2e1c2e00-aa38-11e9-8c2a-e857d59d22cb.png)

Thanks for the feedback. 👍 👍

[2019-07-19 15:14] ayumihamsaki commented on #4437
Will try and fix october.css and storm.css and all the LESS files as well, been meaning to fix these small errors for quite a while. These errors probably are causing cross-browser bugs:

See an example screenshot of october.css

![october-css errors](https://user-images.githubusercontent.com/17784082/61545865-5740bc80-aa40-11e9-9b36-445568cef527.png)

[2019-07-19 16:07] ayumihamsaki commented on #2303
@LukeTowers Review please!

Possible fix for this issue, however there is a big catch! The fix will only work if you do not add any fields under the stretch field.

Stretch field (with no fields below it):

![see](https://user-images.githubusercontent.com/17784082/61549276-873f8e00-aa47-11e9-9155-1c82f8c1d072.png)

Stretch field (with fields below it):

![see](https://user-images.githubusercontent

[2019-07-19 16:16] ayumihamsaki commented on #2303
@LukeTowers Review please!

Possible fix for this issue, however there is a big catch! The fix will only work if you do not add any fields under the stretch field.

Stretch field (with no fields below it):

![see](https://user-images.githubusercontent.com/17784082/61549276-873f8e00-aa47-11e9-9155-1c82f8c1d072.png)

Stretch field (with fields below it):

![see](https://user-images.githubusercontent

[2019-07-19 16:47] Eoler commented on #2303
Hmm, can we have both stretch (if last) and dynamic height (on more content) implementations?

[2019-07-19 17:10] ayumihamsaki commented on #2303
@LukeTowers

I'm thinking what @Eoler is saying and create two options called: `stretch` and `grow`.

- stretch = stretch (if last)

- grow = dynamic height (on more content)

If you and @daftspunk are happy with that. I will code that today.

[2019-07-19 17:14] ayumihamsaki commented on #2303
@LukeTowers

I'm thinking what @Eoler is saying and create two options called: `stretch` and `grow`.

- stretch = stretch (if last)

- grow = dynamic height (on more content)

If you and @daftspunk are happy with that. I will code that today.

---

Code for grow would be this:

[code]

Have already tested it and works fine.

[2019-07-19 20:14] SaifurRahmanMohsin commented on #2763
@SebastiaanKloos You can find the rules [here](https://github.com/octobercms/october/blob/develop/phpcs.xml).

[2019-07-19 20:29] ayumihamsaki commented on #4437
### PR Notes:

- [ ] PR 1 - Builder (working on - need add more code)

- [x] PR 2 - Doc's

- [ ] PR 1 - October CMS core code (Done wait to upload)

[2019-07-19 20:51] LukeTowers commented on #3471
`cms.runMigrationsOnLogin` has been added in https://github.com/octobercms/october/commit/c21c22e1baf1e85ceeb11999a1c1ad144f5f3a2d

[2019-07-19 20:51] #3471 closed

[2019-07-20 02:38] LukeTowers commented on #2303
@ayumihamsaki I like the idea but `grow` isn't going to be applicable to every field type. For example, any single line text input (text, date, colour, password, number, etc) isn't going to need grow, only multiline inputs like richeditor, markdown, textarea need to support those options. Stretch can apply to slightly more (partial & hint perhaps)

[2019-07-20 02:41] LukeTowers commented on #4437
@ayumihamasaki whats with the API change from `third` to `3-1`?

[2019-07-20 03:31] ayumihamsaki commented on #4437
The reason for the change was to give a bit more control on the fields, the difference being I added different css styling, so can do this:

![dif](https://user-images.githubusercontent.com/17784082/61573463-31023780-aaa7-11e9-80d3-8b55aa1828fd.png)

[2019-07-20 03:42] ayumihamsaki commented on #2303
@LukeTowers I totally get what you are saying. My only problem in the builder plugin is trying to make sure someone doesn't select Stretch and Grow at the same time. That's the reason why I put it in a dropdown menu.

It has three options: `nothing`, `stretch` and `grow` for people to select under a dropdown name of `dynamic`.

When I was looking at the builder code, the `textarea` field was turne

[2019-07-20 10:09] daftspunk commented on #4436
The docs live with the library because the two are closely connected, the JS files are needed or the docs don't really make sense. It's also useful to access the docs while working with the JS. The current set up is similar to a [Storybook](https://storybook.js.org/)

[2019-07-20 10:12] #4436 closed

[2019-07-20 13:04] ayumihamsaki commented on #2303
@LukeTowers Sorry I forgot to ask you the most important thing, would you be happy with this setup:

Builder plugin to display that `grow` and `stretch` options for multiline inputs like `richeditor`, `markdown` and `textarea` etc.

If a user wanted to add `stretch` (not `grow`) to `partial` and `hint` or another field type, they can manually add it in themselves. To be honest those two fild types

[2019-07-20 14:35] Samuell1 commented on #4258
Its because to allow ajax works on 404 pages, if you remove that if statement for ajax it returns 404 status code.
https://github.com/octobercms/october/commit/136ec180844f059b4cb94704f6b3653c4654f198

[2019-07-20 15:52] ayumihamsaki commented on #2303
@LukeTowers Sorry I forgot to ask you the most important thing, would you be happy with this setup:

Builder plugin to display that `grow` and `stretch` options for multiline inputs like `richeditor`, `markdown` and `textarea` etc.

If a user wanted to add `stretch` (not `grow`) to `partial` and `hint` or another field type, they can manually add it in themselves. To be honest those two fild types

[2019-07-20 18:40] Samuell1 commented on #4188
This cant be removed or it will break relations. Tested it and if you remove that check it will automatically attach other file that is null.

[2019-07-20 19:09] ayumihamsaki commented on #4437
### PR Notes:

- [x] PR 1 - Builder Plugin - finished. https://github.com/rainlab/builder-plugin/pull/290

- [x] PR 2 - Doc's - finished. https://github.com/octobercms/docs/pull/387

- [ ] PR 3 - October CMS core code - not finished (trying to finish off dynamic height fields).

[2019-07-21 01:33] ayumihamsaki commented on #2303
Just in the process of trying to code this out.

### New feature idea for textarea

My plan is trying to make the textarea be able to do three things:

1. grow
2. stretch
3. fullscreen

Below is a code example doing the fullscreen:

![ezgif-2-e00c879af276](https://user-images.githubusercontent.com/17784082/61585881-49ce2400-ab5f-11e9-88b4-0ab5ccea3be5.gif)

[2019-07-21 02:45] multiwebinc commented on #4258
The description of the commit says "This allows AJAX to function on maintenance and 404 pages". I suppose the question would be, why would you *want* it to function on maintenance and 404 pages? If I, as a developer, mess up and put the wrong URL in, I want the server to balk at me instead of telling me the request went through "OK". The status codes exist for a reason, and using them incorrectly

[2019-07-21 06:09] mabehiry commented on #4136
The same problem with me. It seems that the client uploaded unsupported image. How to handle the error?

[2019-07-21 07:14] LukeTowers commented on #4136
@mabehiry easy way to prevent the uploading of webp right now is to add a config entry `cms.fileDefinitions.defaultExtensions` and return the array of extensions listed here: https://github.com/octobercms/library/blob/master/src/Filesystem/Definitions.php#L99-L144 - without the webp format. This will prevent it from being allowed to upload in the first place.

[2019-07-21 07:17] LukeTowers commented on #4258
@multiwebinc I can think of at least one reason you'd want AJAX requests to work on the 404 page: a search component that uses AJAX requests. I'm curious why the 503 error code is being ignored though. @daftspunk could you provide some background here?

[2019-07-21 07:42] LukeTowers commented on #4258
@multiwebinc @daftspunk is adamant that the behaviour will stay as it is to have AJAX supported on maintenance mode & 404 pages (his provided use case is a contact form).

We can however include a note in the documentation that details this behaviour, its reason for existence, and the way to disable it (include the following code in your 404.htm PHP code section)
[code]

[2019-07-21 07:48] LukeTowers commented on #2303
@ayumihamsaki Don't bother with the fullscreen unless you have a specific project that actually uses it, text areas shouldn't really be used for super long form content anyways. Builder stuff is fine with me as long as it's just the fields that actually use it that get the option.

[2019-07-21 07:55] LukeTowers commented on #4437
@ayumihamsaki I'm not sold on that formatting. If people really really want empty spaces between their fields then I suggest they use a partial to do so. I would much rather have a way simpler API of the original proposal then have a ton of extra classes for hyper specific column placement, especially considering that a major ability of October is highly extensible / dynamic forms that change what

[2019-07-21 10:15] Samuell1 commented on #4136
Using webp images now is little bit a scary because some browser dont support it yet.
https://caniuse.com/#feat=webp

[2019-07-21 11:49] ayumihamsaki commented on #4437
@LukeTowers Sure no problem and how to do the margins ?

For example:

![margins](https://user-images.githubusercontent.com/17784082/61590793-e8856f80-abb5-11e9-8954-9adfdd3a3ca1.png)

[2019-07-21 12:03] ayumihamsaki commented on #4437
@LukeTowers Sure no problem and how to do the margins ?

For example:

Tab 1 we have the following:

Third - position 1 (first / n1 / odd)
Third - position 2 (n2 / even)
Third - position 3 (n3 / odd)
Left - position 4 (first / n1 / odd)
Right - position 5 (first / n1 / odd)
Third - position 6 (n4 / even)
Third - position 7 (n5 / odd)
Third - position 8 (n6 / even)

![margins](https://user-images.g

[2019-07-21 12:16] ayumihamsaki commented on #2303
@LukeTowers I will leave out the fullscreen option. My reason behind it was because both the **Rich Editor** and **Textarea** use the same mysql function of `text` which allow a 65,535 character limit. So I thought many people may add large amounts of text to the textarea. I know I do in many cases.

[2019-07-21 15:43] acasar opened #4465 "Dev tagged as stable"
Release v1.0.457 was tagged on a dev branch, pointing to commit https://github.com/octobercms/october/commit/a59d3b83ebeba501e092995be033943e9cfdcb21

Seems like that's a mistake? Shouldn't tagged releases always point to master?

[2019-07-21 18:48] LukeTowers commented on #4465
@acasar that is intentional. If you would like to use Composer and only receive builds marked as stable then please use https://github.com/octoberrain/meta/blob/master/build-process.md#stable-composer-usage as your OctoberCMS requirements.

[2019-07-21 18:48] #4465 closed

[2019-07-21 18:51] ayumihamsaki commented on #2303
PR results:

## Textarea Stretch

### Outside Tabs

![outside-tabs](https://user-images.githubusercontent.com/17784082/61595576-bc3b1480-abf0-11e9-899e-e4723b63b17d.png)

### Primary Tabs

![primary-tabs](https://user-images.githubusercontent.com/17784082/61595580-c65d1300-abf0-11e9-91a9-3207357f5114.png)

### Secondary Tabs

![secondary-tabs](https://user-images.githubusercontent.com/17784082/615

[2019-07-21 18:52] LukeTowers commented on #2303
@ayumihamsaki I'm curious to hear more about use cases where you would put long form text into a text area. I almost always find that it's better to use markdown or richeditor when dealing with long form text.

[2019-07-21 18:55] LukeTowers commented on #4437
@ayumihamsaki you'll probably need to use the adjacent sibling selector: `.third + .third:not(.third + .third + .third)`

[2019-07-21 18:56] ayumihamsaki commented on #2303
@LukeTowers I have major issues when I try to put HTML in the rich editor or markdown. The simple reason is because there are new attributes all the time and these editors remove the new attributes. Secondary they add a bunch of crazy HTML code in the source view, for example a line break comes up like this:

[code]

I don't use them for HTML code at all and paste my HTML code directly into textar

[2019-07-21 18:57] acasar commented on #4465
Thanks for clarification 👍

[2019-07-21 19:07] LukeTowers commented on #4465
@acasar no problem, I documented the process so that in the future it'll be more transparent to the users. Let me know if you have any other questions!

[2019-07-21 19:11] LukeTowers commented on #2303
Ah, gotcha. Yeah, I don't think that's a super common one so I think we're fine without a full screen button supported in the textarea.

[2019-07-21 19:19] ayumihamsaki commented on #2303
I'm fine not adding it, I was worried add the icon in the textarea causing issues.

[2019-07-21 19:24] ayumihamsaki commented on #4437
@LukeTowers do you think it would work if someone did this:

![outside-tabs](https://user-images.githubusercontent.com/17784082/61595960-75035280-abf5-11e9-9b7a-cce8407e6500.png)

[2019-07-21 21:21] ayumihamsaki commented on #4437
Gonna experiment using jQuery `.position()` any `left: 0` won't have `margin-left`.

[2019-07-21 21:25] ayumihamsaki commented on #4437
Gonna experiment using jQuery `.position()` on the `.parent()` container of each form fields, any `left: 0` won't have `margin-left`.

[2019-07-22 05:45] #4131 closed

[2019-07-22 07:54] w20k commented on #4437
@ayumihamsaki I don't think that you should solve col movent with `right/left-margin` and the same class. Would be better to use the same approach as in Bootstrap with the `offset-*` class name.
Grid/skeleton should be as fluid as possible without any additional headaches :)

Horizontal alignment for Flexbox:
https://getbootstrap.com/docs/4.3/layout/grid/#horizontal-alignment

Offsetting columns:

[2019-07-22 12:23] ayumihamsaki commented on #4437
@w20k I read through and investigated what you suggested. It wouldn't solve the problem though, because bootstrap and pure.css grids are doing this method by allowing users to manually add in the offset column class, see screenshot:

![space](https://user-images.githubusercontent.com/17784082/61631858-5a77ba80-ac83-11e9-9af1-c370d0e4760f.png)

It's just a fixed margin value and then the user has t

[2019-07-22 12:48] w20k commented on #4437
@ayumihamsaki yeah, that's the main reason would really love to have it static without additional re-calculation from the JS side.
We could use `debounce resize()` (link below), but still to re-drawing all, even, only visible elements will be closer to `Dashboard Isotope.js` right now. Which ain't nice, IMHO.

Debounce resize:
https://www.paulirish.com/2009/throttled-smartresize-jquery-event-handl

[2019-07-22 12:59] ayumihamsaki commented on #4437
@w20k Nice thanks for the info, will take a deeper look into it today.

p.s. The downscaling rules are like this:

For `.third` and  `.three-quarters` uses pure css and takes advantage of `width: 100% !important` tags to cheat.

As for the `quarters` it has the following:

API field position name | Media Query | Number of Fields and width values
--- | --- | ---
quarter | above 1200px | 4 fields (2

[2019-07-22 13:07] w20k commented on #4437
Wait a second @ayumihamsaki, why do you cheat with `100% !important`?
Could you show me your code, if you have something ready already, or is it in one of your PRs?

[2019-07-22 13:22] ayumihamsaki commented on #4437
@w20k take a look commit is here: https://github.com/octobercms/october/pull/4463/commits/ac036a84f7e4a2b60368bec8f5d0391471ba83ed

[2019-07-22 13:54] kharanenka opened #4466 "Error with saving ThemeExport model object"
- OctoberCMS Build: 455
- PHP Version: 7.2
- Database Engine: MySQL
- Plugins Installed: irrelevant

### Description:

Error occurs when saving \Cms\Models\ThemeExport model object.
Problem with presence of `public $ attributes` array in model class.

source code:
[code]

Error:
[code]

### Steps To Reproduce:

[2019-07-22 14:57] bennothommo commented on #4466
@kharanenka We need some more info here. Where is the error occurring? Are you extending the `ThemeExport` model in any way?

[2019-07-22 15:00] #4371 closed

[2019-07-22 15:05] #3603 closed

[2019-07-22 15:05] #3944 closed

[2019-07-22 15:05] #4122 closed

[2019-07-22 15:05] #4226 closed

[2019-07-22 15:05] #4229 closed

[2019-07-22 15:05] #4342 closed

[2019-07-22 15:05] #4351 closed

[2019-07-22 15:05] #4369 closed

[2019-07-22 15:05] #4376 closed

[2019-07-22 15:35] bennothommo commented on #4380
Confirmed bug - I've also found that if one or more of the nested form fields share a name with a field available in the main form, they will actually take the value of that field when in an update context.

[2019-07-22 17:43] Samuell1 commented on #3244
This should be fixed by this PR https://github.com/octobercms/october/pull/4266

[2019-07-22 18:40] multiwebinc commented on #4258
@LukeTowers If you have a 404 page with an AJAX contact form, why couldn't you just submit the form to a URL that exists instead of submitting it back to the same nonexistent page?

[2019-07-22 19:18] Exodon commented on #4466
This bug appeared based on this steps:
1. Create database using laravon environment in windows to run October cms.
2. Download the installer from October CMS website and run the setup.
3. After installation of the October CMS, I connect my October account and install the project based on the ID. Automatically it install the plugins and theme attached.
4. Copy the scripts from the **_build_**  them

[2019-07-22 19:58] Eoler commented on #4258
What about 503's? There's usually newsletter subscriptions on them.

[2019-07-22 20:28] Samuell1 commented on #4258
@multiwebinc Because with ocms request framework it does request on same route.

@Eoler thats should be same

[2019-07-23 02:10] bennothommo commented on #4466
@Exodon That does not sound like an issue with October - it more looks like an issue somewhere in the Shopaholic plugin. You will need to contact the developer of the plugin to resolve that issue.

[2019-07-23 03:21] bennothommo commented on #4380
Fixed as of a7bc442df5fb615a1cf044b046ccce0e374aff73.

[2019-07-23 03:21] #4380 closed

[2019-07-23 03:41] anurat commented on #4419
Hi @LukeTowers ,

I've translated most of the text in lang and client files but some of them I couldn't find where they are used so I do not understand or not sure how I should translate them.

Here are the text I couldn't translate. If you could point out where they are used or explain what these mean, I'd really appreciate it.

modules/system/lang/th/lang.php

[code]

modules/cms/lang/th/lang.ph

[2019-07-23 06:49] w20k commented on #3244
If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-23 06:49] #3244 closed

[2019-07-23 06:50] w20k commented on #3061
Should be fixed now, If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-23 06:50] #3061 closed

[2019-07-23 07:26] LukeTowers commented on #4419
This is an error message that is shown in the combiner under certain conditions: https://github.com/octobercms/october/blob/4e92686c1a7de662840fa160b7348003f5ba817d/modules/system/classes/SystemController.php#L28.

By default, October will automatically "inline" mail template CSS for better support in mail clients (this means instead of having a style tag with all your CSS rules, it analyzes your

[2019-07-23 07:31] LukeTowers commented on #4258
@multiwebinc it's technically possible to do that by specifying the URL in the AJAX API request but it's easier if it submits to the same page just like any other AJAX request.

[2019-07-23 07:44] #3126 closed

[2019-07-23 07:46] w20k commented on #3126
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-23 07:57] w20k commented on #4437
@ayumihamsaki I do belive `important` should not be used, but need to investigate `why`.

[2019-07-23 08:25] kharanenka commented on #4466
I am developer of Shopaholic plugins. Please read my message **carefully**.

You can get error with using easy code:
**Example 1 (updating ThemeExport model):**
[code]
Error:
[code]
**Example 2 (creating ThemeExport model):**
[code]

Error:
[code]

P.S. If you close such questions without checking, then there will be no success in our business. I have to pay @daftspunk , @alekseybobkov   attention

[2019-07-23 08:42] bennothommo commented on #4466
@kharanenka With respect, your original issue report had no steps on how to replicate the issue, no reference to Shopaholic and apparently you found it irrelevant to tell us what plugins you have installed, therefore I made the request for more information.

When @Exodon responded, their only references to Shopaholic were two artisan commands referencing Shopaholic CLI tasks which is outside our r

[2019-07-23 08:49] anurat commented on #4419
Thanks a lot @LukeTowers,
I think I will leave some of those without translating and do a Pull Request.

I'm still new to Pull Request so I'm not sure whether I'm doing it right.
Please let me know if you have preferred way of doing this.

1. Generally should I fork october to my account, commit changes and then do a pull request?
2. I found that modules/backend/models/Preference.php has changed a

[2019-07-23 09:06] Exodon commented on #4466
guys let me know if you need more info to be easy to track the problem....

[2019-07-23 09:44] shoxabbos commented on #3683
# Add another payment methods to the market place.
Because in many countries paypal is not working. And users can't buy plugins, themes

[2019-07-23 09:53] ayumihamsaki commented on #4437
@w20k I think it's for these reasons: https://hashnode.com/post/why-not-to-use-important-in-css-cj7hd9swl01ny6iwtu8iich4j

[2019-07-23 10:10] w20k commented on #4437
@ayumihamsaki you're welcome!
My question was regarding, why exactly we need to use `important` if it's just a `grid`, which should always be on the spot with overrides and in only for corner cases use `hack` (still think it's a hack, where refactoring ain't an option, sort of).

[2019-07-23 10:19] w20k commented on #3683
@shoxabbos Stripe was added: https://www.facebook.com/octobercms/posts/2490826301030818?comment_id=2491335934313188&notif_id=1563339892338463&notif_t=feed_comment

[2019-07-23 10:29] kharanenka commented on #4466
Error is not related to plugins. There is an obvious error in ThemeExport model.

Now core has 3 models (ThemeData, ThemeExport, ThemeImport) for 'cms_theme_data' table. Do I understand correctly that it is not possible to write data to 'cms_theme_data' table with using ThemeExport model?

Should ThemeExport model support the ability to save data in 'cms_theme_data' table?

[2019-07-23 10:31] Samuell1 commented on #4466
@kharanenka If you try to define `folders` as empty array does it work?

[2019-07-23 10:35] kharanenka commented on #4466
No, i have error with 'data' field
[code]

[2019-07-23 10:49] Samuell1 commented on #4466
Oh i see you getting different errors for create and update, if you add manually $jsonable to model with that values does it works?

[2019-07-23 10:57] kharanenka commented on #4466
Yes, if i add `public $jsonable = ['folders', 'data'];` to ThemeExport model, then it works.

But I'm not sure that this is enough to not have problems in future with `$attributes` array. Because `folders` field is not in `cms_theme_data` table. I'm not sure that this is necessary to fix, because I can save theme data if I use ThemeDat model.

[2019-07-23 11:33] ayumihamsaki commented on #4437
@w20k

I think the reason is because someone was being lazy (or doing some old style coding) when creating the backend field forms.

Normally I would do this:

[code]

But someone has coded the backend style like this:

[code]

Because of the rest of the coding in October, I had no choice but to use `!important`. Maybe a disucssion with the admins with regards to the usage of !important in the LES

[2019-07-23 11:44] ayumihamsaki commented on #4437
@w20k

To answer your question why I added !important tags, for two reasons:

1. There is some conflicting bad css in october creating a conflict with my added coded so I had no choice but to add the !important tags to over write the bad code.
2. I'm using javascript to auto inject the css classes so it's an easier way to balance the two css and js styling.

I got a question for you, in the file:

[2019-07-23 11:48] ayumihamsaki commented on #4437
@w20k

To answer your question why I added `!important` tags, for two reasons:

1. There is some conflicting bad css in october creating a conflict with my added coded so I had no choice but to add the `!important` tags to over write the bad code.
2. I'm using javascript to auto inject the css classes so it's an easier way to balance the two css and js styling.

I got a question for you, in the fi

[2019-07-23 12:17] daftspunk commented on #4466
This appears to be a classic case of XY problem. Why are we saving the ThemeExport model in the first place?

@bennothommo is correct to suggest this is caused by a plugin, because nowhere does the core ever call `save()` [on the ThemeExport model](https://github.com/octobercms/october/search?q=ThemeExport&unscoped_q=ThemeExport).

Why is Shopaholic calling `save()` on the ThemeExport model?

- Th

[2019-07-23 12:27] kharanenka commented on #4466
Strange use of classes of models that do not work with the database.Why didn't you take out this logic in separate classes (not model classes)?

The task that I solved is simply to save data in `cms_theme_data` table. I found 3 models that are used for this table. I took one of them and it worked. Now it turns out model classes does not fulfill its function and only adds confusion. What do you thi

[2019-07-23 12:34] daftspunk commented on #4466
The table is defined in those classes so we can leverage the FileUpload (System\Models\File) relationship, which is stored in the database and references the related table name. In theory we could put any table in there, but seeing as it is an exisiting one, I understand the confusion.

@w20k @bennothommo @LukeTowers Perhaps we should include an explicit exception on these semi-functional models (

[2019-07-23 13:17] w20k commented on #4437
And they way I would normally do (desktop-first-approach):
[code]
Could you make a note somewhere, I'll dig into your implementation later on the weekends if my main project won't `bug` me. Still, think it's a bit odd, though - probably needed!
Thanks a  lot @ayumihamsaki !

[2019-07-23 14:12] ayumihamsaki commented on #4437
@LukeTowers @w20k

This is my code solution, to making the columns resize automatically and on resize of the screen:

![ezgif-2-9261491559e8](https://user-images.githubusercontent.com/17784082/61719099-3045fb80-ad5c-11e9-8fe7-e6586ddbe858.gif)

File commit is here: https://github.com/octobercms/october/blob/95a64ffa8b479418de35b2b8d55a1dc27cc489e8/modules/backend/widgets/form/partials/_form-contai

[2019-07-23 16:11] ayumihamsaki commented on #2303
As per Luke's comment, I decided to code his request.

Stretch feature to `hint` fields:

![hint](https://user-images.githubusercontent.com/17784082/61728059-57a4c480-ad6c-11e9-8afb-aa2b76ae2feb.png)

Stretch feature to `partial` fields:

![partial](https://user-images.githubusercontent.com/17784082/61728078-62f7f000-ad6c-11e9-8d3b-403eb5999b19.png)

Grow is not added to them.

Right now it's not

[2019-07-23 17:22] LukeTowers commented on #4466
@kharanenka

It is not irrelevant, it is included in the issue template for a reason; proved entirely valid in this case. You may not realize it, but writing that communicates to the core developers a lack of respect for our time. As support is free, I would highly recommend that you make more of an effort to respect the time and contributions of the people volunteering their time to help you solv

[2019-07-23 17:22] #4466 closed

[2019-07-23 17:31] LukeTowers commented on #4419
@anurat:

Yes, but make sure you base it off of the develop branch and make the PR with the develop branch.

Leave the existing format of the file alone, there will be some automated style checking when the PR is submitted, just make sure you aren't making any changes to the style / formatting and if the style checker asks for changes make them.

Modify the composer.json to use the develop branch

[2019-07-23 17:38] LukeTowers commented on #4437
@ayumihamsaki I'm not a fan of JS being used for this at all, think of use cases where fields are being dynamically added or hidden / unhidden. What's the main issue you're having with the CSS right now?

[2019-07-23 18:07] multiwebinc commented on #4258
@LukeTowers @Samuell1 Thank you for the clarification. I haven't actually used the AJAX functions of October much, so I assumed you had to specify the URL for the request.

[2019-07-23 18:07] #4258 closed

[2019-07-23 18:21] PrestaSafe opened #4467 "Ajax component in snippet not working"
- OctoberCMS Build: 455
- PHP Version: 7.2
- Database Engine: MariaDB
- Plugins Installed: RainLab.Builder 1pilot RainLab.pages

### Description:
Hi, i think i've found a mistake with partial inside a snippet.

I've made a partial, inside this partial i've put a component.
This partial is a snippet.

If i put this snippet  inside a page (RainLab.Pages)
my component is displayed, but the ajax not w

[2019-07-23 18:26] ayumihamsaki commented on #4437
@LukeTowers my main issue is that you are calling mutliple fields the same name and expecting them to be in different places. Your suggestion of using CSS wouldn't work due to if someone added a bunch of random fields (not in order) to the form area. Hence why I added logic with javascript, it can now caluclate any random order and put the boxes in the correct positions with any screen size.

[2019-07-23 18:40] FirestarterUA opened #4468 "Nestedform and Datatable field types cant be Translated"
Hi.
I have a two database(text type) fields in filds.yaml:
[code]

and

[code]

in my model:

[code]

Any other type work as expected (can be transalted), **but datatable and nestedform does not**.

[2019-07-23 18:58] ayumihamsaki commented on #4437
@LukeTowers my main issue is that you are calling mutliple fields the same name and expecting them to be in different places. Your suggestion of using CSS wouldn't work due to if someone added a bunch of random fields (not in order) to the form area. Hence why I added logic with javascript, it can now caluclate any random order and put the boxes in the correct positions with any screen size.

For

[2019-07-23 19:01] alxy commented on #4467
Snippets, which is a sepcial kind of a partial, do not support AJAX handlers. This is documented [here](https://octobercms.com/docs/cms/partials#life-cycle-limitations). Please note:

If you need more flexibility, consider registering a[ component as snippet](https://github.com/rainlab/pages-plugin#snippets-created-from-components). That should allow you to define ajax handlers.

[2019-07-23 19:04] alxy commented on #4468
This issue concerns the [Translate plugin](https://github.com/rainlab/translate-plugin), not the core. However, you are right. These complex and very rarely used FormWidgets are not supported, as you can easily [check here](https://github.com/rainlab/translate-plugin/tree/master/formwidgets). Go ahead and implement these if you need them ;)

[2019-07-23 19:12] #4468 closed

[2019-07-23 19:40] Samuell1 commented on #3605
This already exists: https://github.com/octobercms/library/blob/develop/src/Database/Attach/File.php#L476

[2019-07-23 20:08] Samuell1 commented on #4144
Shouldnt be this expected behavior? Like spunky said in that forum post people should use partial or attributes @LukeTowers

[2019-07-23 20:20] Samuell1 commented on #2505
Maybe implement this in ComponentBase and can be activated with variable?

[2019-07-23 20:28] Samuell1 commented on #3584
Looks like guzzle is already updated in drivers-plugin @LukeTowers

[2019-07-23 20:33] FlusherDock1 commented on #3683
## Extend the partners program.

At the moment, the affiliate program does not carry any benefit for the web agency itself, except for the link on the October website or the author's icon in the marketplace.

As an option: add discounts in the marketplace for templates or plugins to partners who have already paid for the affiliate. Make very cheap ($ 1 or $ 5) plugins free, and etc.

But increase

[2019-07-23 21:12] faselunare commented on #4347
Hi, any news on this issue?
i have to override some partials in a subfolder...

[2019-07-23 21:49] ayumihamsaki commented on #4437
Going to put this comment in bold, I may have mislead you by mistake:

---

**The above gif is not the full picture!**

**When you load the web page for the first time, you will NOT see the fields move around. There is no no delay built in.**

**When you resize the screen there is a 150mS delay and you will see the fields move around and re-calculate.**

---

[2019-07-23 22:04] ayumihamsaki commented on #4437
Going to put this comment in bold, I may have mislead you by mistake:

---

**The above gif is not the full picture!**

**When you load the web page for the first time, you will NOT see the fields move around. There is no delay built in.**

**When you resize the screen there is a 150mS delay and you will see the fields move around and re-calculate.**

---

This is a normal thing, if you look at th

[2019-07-23 23:30] LukeTowers commented on #3683
@FlusherDock1

That's essentially stealing from the marketplace developers since they are the ones that receive the bulk of those payments. The best that we could do is reduce the cost of plugin to exactly what the author receives (so without the gratuities) but then that starts costing us money. Do you have any other ideas for things that could make the partner program more attractive? Dedicated

[2019-07-23 23:31] #4467 closed

[2019-07-23 23:35] LukeTowers commented on #4258
@multiwebinc no problem. FYI AJAX requests in OctoberCMS always default to going to the current URL, request handling logic is handled via the "handler" specified in the headers of the request.

[2019-07-23 23:37] LukeTowers commented on #3605
@Samuell1 can you test and confirm if this is still an issue? If it exists but it's not working then we'll need to fix it.

[2019-07-23 23:37] LukeTowers commented on #3584
Fixed by https://github.com/octoberrain/drivers-plugin/commit/40f6a8272738ade54aac7133f783e92818fe45a5

[2019-07-23 23:37] #3584 closed

[2019-07-23 23:41] LukeTowers commented on #4144
I'm at odds with myself, one the one hand it makes sense for model filters to be applied before saving the model since that impacts the structure of the form but on the other hand I would prefer to discourage the saving of hidden fields in favour of directly adding that data in beforeSave as it's not secure to save the value of hidden fields since developers may think they're protected from client

[2019-07-23 23:48] LukeTowers commented on #2505
@Samuell1 That could work, activated with `$this->cacheTTL` being not null (also doubling as the expiration timing in seconds (or datetime) for the call to Cache) and a new protected method `getCacheKey()` which defaults to some generic namespaced key suffixed with the alias of the component.

[2019-07-23 23:52] ayumihamsaki commented on #4437
Making some good process on this and can create this complex layout in October:

![sssssssssss2](https://user-images.githubusercontent.com/17784082/61754924-416b2880-adad-11e9-99eb-952f5cb62a52.png)

[2019-07-23 23:53] LukeTowers commented on #4437
@ayumihamsaki off the top of my head,

[code]

[2019-07-24 01:02] ayumihamsaki commented on #4437
Making some good progress on this and can create this complex layout in October:

![sssssssssss2](https://user-images.githubusercontent.com/17784082/61757055-dfafbc00-adb6-11e9-8433-84df8e0ac87f.png)

This is a combo of converting the form area into full flexbox and javascript offsets.

I need test all the special field widgets and tabs etc.

[2019-07-24 02:36] bennothommo commented on #4144
@LukeTowers hmmm, I always thought that `hidden` hides it from view but still makes it available in POST, kinda like how a `input type="hidden"` field works. If someone doesn't want their field to be included in POST, I think that's more a job for the `disabled` attribute. But I agree they shouldn't be modified before saving given that usually you're doing that external to the form or plugin in qu

[2019-07-24 05:57] anurat commented on #4419
@LukeTowers ,

Thank you very much for your patience and the answers.

I modified composer.json as the following:
[code]
but I still got >2000 modified files after running `composer install`, which will be a problem when doing pull request. I probably miss something.

[2019-07-24 06:16] Samuell1 commented on #3605
Yes, i tested it and it works, thas why it was weird for me to see this issues :D @LukeTowers

[2019-07-24 07:30] PrestaSafe commented on #4467
Thanks for this answers.
I've registered a page snippet an modify my component view. It's now working.

[2019-07-24 08:09] w20k commented on #4419
@anurat do you have `.gitignore`?

[2019-07-24 08:20] tobias-kuendig commented on #4347
I just tested this change:

[code]

Was this what you had in mind, @LukeTowers? With this, partial paths like `default`  are no longer accepted. We would somehow have to resolve the absolute path for the partial before validating the path.

[2019-07-24 08:32] anurat commented on #4419
@w20k I do have `.gitignore`
The modified files are source code but I don't see any changes inside the file.
Just smartgit reporting them being modified.

![smartgit](https://user-images.githubusercontent.com/2355534/61777925-08bc6500-ae28-11e9-8819-c6a88722743a.png)

[2019-07-24 08:51] FlusherDock1 commented on #3683
@LukeTowers

Not exactly, I just did not develop this topic to the end to convey the basic idea.

The authors will receive their 70% after the sale, but they will receive money not from the buyer (agency) but from October itself.

The cost of cheap plug-ins or themes will be invested in the cost of the affiliate program that the agencies will pay monthly.

**The second idea is a subscription syste

[2019-07-24 09:16] PubliAlex commented on #3683
To me, the best way to make some more money with October CMS is to develop the private plugin repository system. I work in an agency and it would be really useful to us to be able to upload our custom private plugins to october website and put them in projects, in order to install them all with just few clicks.

I see that it's the most voted feature of that topic, I think many agencies (mine incl

[2019-07-24 09:31] FlusherDock1 commented on #3683
@PubliAlex just store plugins in your repository, clone it to october install and do:
 `php artisan october:up`

[2019-07-24 09:54] LukeTowers commented on #4419
@anurat try running composer update instead. Also see https://stackoverflow.com/questions/14564946/git-status-shows-changed-files-but-git-diff-doesnt

[2019-07-24 09:55] LukeTowers commented on #4144
@bennothommo it is available in POST but the Form widget purposefully excludes it before saving the model.

[2019-07-24 09:58] LukeTowers commented on #4347
Roughly @tobias-kuendig, although you have to make sure it's checking the cms.restrictBaseDir directive like it's done elsewhere though. And yes, we would need to resolve the path before validating it.

[2019-07-24 10:02] #3605 closed

[2019-07-24 10:20] SaifurRahmanMohsin commented on #3683
I have to agree with @LukeTowers on this. The reason OctoberCMS is more attractive as a choice is because of the plugin eco-system it comes with. It enables people like me from countries like India to make side money thro' plugins. I market OctoberCMS actively as a consequence of it coz pushing it means pushing my plugins as well. Heck, I’ll be giving a talk this weekend at [Amazon’s community day

[2019-07-24 10:49] FlusherDock1 commented on #3683
@SaifurRahmanMohsin you probably don't understand what I wrote here.

The authors will continue to receive their revenue as it was.

Example:
Author places plugin for 15$ in the marketplace. October revenue will be 30%.

If any random user buys a plugin, he will pay $15, that will be cut between author and marketplace.
All I say is remove cut for the marketplace from price for Partners, that alrea

[2019-07-24 11:09] FlusherDock1 commented on #3683
## Move the donation section to the main page

https://octobercms.com/fundraising

The section with donations should not be hidden in the bowels of the site as it is now.

It is necessary to bring it to the main page, so that everyone can see it. I am sure that the majority did not even know about its existence.

[2019-07-24 11:10] LukeTowers commented on #3683
@FlusherDock1

Now we're talking about just shifting around when / how the partner pays for that plugin whether that is in a bulk purchase as a part of their renewal or as the cost of the plugin when they buy it. If we started offering to pay for plugins for partners that's an arrangement that only makes sense for partners to engage in when it has the potential to actively hurt our financial situa

[2019-07-24 11:17] FlusherDock1 commented on #3683
@LukeTowers

You absolutely right, and that's why we are discussing it here.

There are many options to protect October from such a problem. For example, a fixed number of plugins per month at a certain price or in the price range. and etc.

[2019-07-24 12:23] SaifurRahmanMohsin commented on #3683
@FlusherDock1 Ok, I think I get what you mean. I am still skeptical if the difference would cover the cost. I have a strong feeling that if this is implemented, many users will download the plugins that were in the $1-5 slab but would then be free and the partners who are shelling out more for the program will only get only a small bump in the sales of their plugins. I highly doubt that the differ

[2019-07-24 12:24] #4013 closed

[2019-07-24 13:37] mlieshout commented on #3683
Correct. Have a look at the Blender homepage on how this could work

[2019-07-24 15:49] ayumihamsaki commented on #4437
## PR Notes:

- [ ] PR 1 - Builder Plugin - working on. https://github.com/rainlab/builder-plugin/pull/290

- [x] PR 2 - Doc's - finished. https://github.com/octobercms/docs/pull/387

- [x] PR 3 - October CMS - finished. https://github.com/octobercms/october/pull/4463

[2019-07-24 18:33] LukeTowers commented on #4451
Fixed by https://github.com/octobercms/october/commit/df81ea182b8d759a80cff146cd3982753e17553c

[2019-07-24 18:33] #4451 closed

[2019-07-24 23:18] ayumihamsaki commented on #4437
Test results:

![localhost_json_ayumi_tabs_index_update_1](https://user-images.githubusercontent.com/17784082/61834951-c6b81100-ae71-11e9-872e-8a50a807a223.png)

[2019-07-25 03:45] bennothommo commented on #4144
@LukeTowers If that's the case, I personally think we should deprecate hidden fields being excluded. A "hidden" field implies that by some condition it can become "visible" or otherwise is involved in the context of the form data, which means it should be included in the final saved data. Overall, if a developer is intending for a field not to be included in the save data, it should be disabled, s

[2019-07-25 06:07] DanHarrin commented on #4381
Is October now going to support v6 instead?

[2019-07-25 06:10] DanHarrin commented on #4297
How about [https://zulipchat.com/](Zulip)? Looks alot like Slack, has a few other features, and has unlimited message history for open source projects!

[2019-07-25 07:37] LukeTowers commented on #4381
@DanHarrin probably, waiting on more information about it.

[2019-07-25 07:51] LukeTowers commented on #4144
@daftspunk can you comment on the original reason that hidden fields were excluded from save data?

[2019-07-25 12:44] ayumihamsaki commented on #4437
@LukeTowers

I would like to tidy up the sidebar in the setting page, right now it looks like this:

![ezgif-2-d504a9fcdc92](https://user-images.githubusercontent.com/17784082/61581531-63e41400-ab17-11e9-8a02-57b372faba4c.gif)

This is kind of all over the place!

I would like to remove all those media queries and just have the following setup:

[code]

What the above code does: Above 400px screen

[2019-07-25 12:55] lautsevich commented on #4466
Hi everyone!

Let me add my 50 cents to this case.

@kharanenka, have found a bug which brokes one third-party [products](https://github.com/oc-shopaholic/oc-fake-data-shopaholic-plugin) for October CMS. It's definitely a bug because 'it works before' and 'is broken' after some of the latest CMS updates.

Just believe we respect the time of the core team and trying to do our best to make October e

[2019-07-25 13:04] ayumihamsaki commented on #4014
Closing this as it's working in latest firefox - test today.

[2019-07-25 13:04] #4014 closed

[2019-07-25 13:07] ayumihamsaki commented on #3971
Please note if the green light was to add a drag bar to the CMS page I would suggest to remove the highly buggy Code Editor Hover Function and just reply 100% on a drag bar instead, see screenshot what I am talking about:

![50489587-6c9cbd80-0a00-11e9-88ac-99557357eba3](https://user-images.githubusercontent.com/17784082/61876782-8db98400-aee5-11e9-8f22-950d6a904804.png)

[2019-07-25 13:48] Eoler opened #4473 "Visual glitches while navigating backend forms with keyboard"
- OctoberCMS Build: 457
- PHP Version: 7.2

### Description:
Fantastic work for keyboard users in #4454 but there are visual glitches in certain form widgets:
- switch
- record finder

### Steps To Reproduce:
Just tab around the form with switches and record finder:
![OctoCMS-form-with-sidebar](https://user-images.githubusercontent.com/680032/61879328-1db1fa80-aef3-11e9-98bd-2bfa645c7032.gif)

[2019-07-25 13:48] amorphine opened #4474 "Model 'freezes' relation state accross multiple instances being used with relation widget"
- OctoberCMS Build: 457
- PHP Version: 7.3
- Database Engine: MySQL 5.7

### Description:
There are two models Problem and Topic:
[code]
[code]

There's a model X related to Problem. I need to show a dropdown list with problems in format _'ProblemTopicTitle - ProblemTitle_'. Configuring backend field list:

[code]
What actially happens: at _getNameWithTopicTitleAttribute()_ method _$this->topic_ i

[2019-07-25 17:26] LukeTowers commented on #4466
@kharanenka @lautsevich

This was not mentioned. This should never have worked period, so please post the version that it used to work in so that we can verify that.

We close bug reports when we deem them solved to clear them from our list to deal with. Just because a report has been closed however doesn't mean that the conversation has to stop, if further discussion reveals that there is still m

[2019-07-25 17:41] LukeTowers commented on #4473
@ayumihamsaki could you look at this and make a PR that we could include in 458? @Eoler or perhaps you could make a PR to fix it?

[2019-07-25 17:50] ayumihamsaki commented on #4473
@Eoler @LukeTowers

Will investigate this further.

I understand the '**switch**' issue, but what do you mean by '**record finder**'

[2019-07-25 17:54] LukeTowers commented on #4473
@ayumihamsaki it's the bottom two fields, selecting them makes them expand vertically and moves the popup triggering button from the right to the left

[2019-07-25 17:59] ayumihamsaki commented on #4473
Issue with switch, below is working solution:

[code]

[2019-07-25 18:01] LukeTowers commented on #4474
@amorphine I don't follow, your fields.yaml references `problem` as a relationship but neither of the models you posted define `problem` as a relationship.

[2019-07-25 18:03] LukeTowers commented on #4437
@ayumihamsaki I don't want the PR being massive since each PR will be squashed down to a single commit. You can make a branch off of the branch you're working on for that PR and work on it in a separate PR if you'd like but I don't want it to be a part of the main one.

[2019-07-25 18:35] ayumihamsaki commented on #4473
I think the styling of the button on the record finder is not right, see here:

![image](https://user-images.githubusercontent.com/17784082/61899132-b60ba780-af12-11e9-893f-4ae924b0ab97.png)

This try and fix that.

---

Also I might as well add my other commit here as well, as I found another bad coding error in October, see screenshot:

![image](https://user-images.githubusercontent.com/17784082

[2019-07-25 18:41] ayumihamsaki commented on #4473
Anyway fixed, see results:

![image](https://user-images.githubusercontent.com/17784082/61899785-236c0800-af14-11e9-9d48-8789acd5e90f.png)

[2019-07-25 18:56] ayumihamsaki commented on #4437
@LukeTowers I will have to wait then, because that pr is using those files and I can't branch them off right now.

[2019-07-25 23:10] zimudec opened #4476 "Method to overwrite methods of a component of an external plugin?"
Hi, how are you?

What is the best practice for overwriting methods of a component of an external plugin?

I need to overwrite all the functionality of the "onRun" method of the component.

It occurred to me to create my own component that inherits from that component, and to overwrite the onRun method in the new class, but I realized that the "onRun" method of the father also runs automatically,

[2019-07-25 23:12] seanthepottingshed commented on #4476
@zimudec this would be more suited for discussion within the OctoberCMS Slack channel

[2019-07-26 00:25] #4476 closed

[2019-07-26 06:44] Samuell1 commented on #1617
This already exists in docs for partial:
https://octobercms.com/docs/backend/forms#field-partial
https://octobercms.com/docs/backend/lists#column-partial

[2019-07-26 07:56] amorphine commented on #4474
@LukeTowers I've prepared a [demo-plugin](https://github.com/amorphine/octobercms-relationissue/tree/master) with some sed data
Path to install: plugins/amorphine/relationissue
To see the bug visit page _/backend/amorphine/relationissue/reviews/create_
And you will see that:
![image](https://user-images.githubusercontent.com/3597501/61935691-b730e900-af93-11e9-9373-0136bb791e6c.png)
while Daniel's

[2019-07-26 08:02] LukeTowers commented on #1977
Closed by https://github.com/octobercms/october/commit/edcc4af68aa70dc4b84b687e34edb90d14191ca0

[2019-07-26 08:02] #1977 closed

[2019-07-26 08:10] LukeTowers commented on #4036
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-26 08:10] #4036 closed

[2019-07-26 08:17] Samuell1 commented on #4119
I tested it out and it works without issues on OCMS 447 and PHP 7.3.4. Maybe you using old Twig version that is not supporting  PHP 7.2+

[2019-07-26 08:19] LukeTowers commented on #4474
Hmm, odd. This is just handled with a normal collection->lists() method so I wonder what is causing this. https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/Relation.php#L151

[2019-07-26 08:20] LukeTowers commented on #4119
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-07-26 08:20] #4119 closed

[2019-07-26 08:21] #1617 closed

[2019-07-26 08:26] LukeTowers commented on #4437
@ayumihamsaki I would recommend in the future that you clone October to your account and then for each PR you make use a branch off of the develop branch. That will make it a lot easier to manage all of the concurrent PRs to October for different things as well as sharing commits between PRs.

[2019-07-26 12:37] ayumihamsaki commented on #4437
@LukeTowers I done all that. I have cloned off the dev branch and then created branches off the cloned dev.

[2019-07-26 13:35] tobias-kuendig commented on #4043
I'm having the same issue again with a plugin that has only one dependency I cannot remove:

https://github.com/OFFLINE-GmbH/oc-opening-hours-plugin/blob/master/composer.json

The build completes without any errors but the marketplace version installed via `php artisan plugin:install offline.openinghours` contains no `vendor` directory.

Do you have any more insight into this issue?

[2019-07-26 17:17] ayumihamsaki opened #4482 "Focus Ring on the codeeditor search for no matches"
I found a small bug, which right now produces two different colored focus rings in the search box in the cms page, see screenshot:

![hard-to-see](https://user-images.githubusercontent.com/17784082/61968889-0cd7b680-afd1-11e9-8025-8bf05a339c29.png)

Adding the following CSS:

[code]

Gives me the following:

![ezgif-2-d9ae378b1109](https://user-images.githubusercontent.com/17784082/61969093-97b8b1

[2019-07-26 17:43] ayumihamsaki opened #4484 "Rich Editor doesn't fill the full height of the container textarea"
Rich Editor doesn't fill the full height of the container textarea, see screenshot:

![61890217-efd2b300-aefe-11e9-99ac-63c8dc73588f](https://user-images.githubusercontent.com/17784082/61970727-47dbe900-afd5-11e9-835f-82456c20deb4.png)

[2019-07-26 21:05] LukeTowers commented on #4482
Fixed in https://github.com/octobercms/october/commit/d8cd45163d9cd6f3a43fa0d5c3b334f284174f09

[2019-07-26 21:05] #4482 closed

[2019-07-27 04:52] daftspunk commented on #4144
This is in fact by design (feature not a bug). From the form's perspective, hidden fields simply do not exist. Disabled has similar functionality in the HTML scope.

The form purposely excludes it to prevent the model from updating fields in the database, with potential for corruption. The Active Record (Eloquent) implementation will only include fields that are dirty. So if a field is hidden, it

[2019-07-27 05:05] daftspunk commented on #4466
The problem was a massive chunk of information was missing from this ticket (why are you doing that?). The best outcome here is to study XY further, know when it exists and know how to deal with it. People naturally speak from the position they are in now, not the position from which they started, so XY is inevitable and common. These types of conflicts are easily resolved by forcing someone to re

[2019-07-27 05:23] daftspunk commented on #4144
This issue appears to have divered from the original problem, in that hidden fields are not available in the `filterFields` due to a possible life cycle fault. Moving to #4145

[2019-07-27 05:23] #4144 closed

[2019-07-27 05:25] MWalid commented on #4144
What if the field is changed in `filterFields` method and `hidden` is set to `false`? Still it's not saved, although the field is not `hidden` anymore.

[2019-07-27 05:27] daftspunk commented on #4144
Thanks @MWalid! This could indeed be a legitimate bug, but we'd have to see it demonstrated using the Test plugin first so we can confirm the fix works and is the best approach.

[2019-07-27 05:56] MWalid commented on #4144
Preparing test plugin.

Just now found another[ forum post with the same issue](https://octobercms.com/forum/post/filtering-form-fields-with-dependson-problem?page=1#post-27712).

[2019-07-27 06:06] MWalid commented on #4144
Test plugin is here:

1- Go to playground > People.

2- Open any record.

3- Change the name to `walid`

4- Blur name field, preferred name field should appear.

5- Enter any value.

6- Save & refresh the page.

7- Preferred name value is not saved.

Screen record: http://g.recordit.co/yjnxesDujX.gif

And test plugin: https://github.com/MWalid/test-plugin

[2019-07-27 08:41] Samuell1 commented on #4474
I tested this and looks like relation before rendering trough lists() method returns wrong data.

[2019-07-27 08:53] ghost opened #4487 "Remove double tap on October CMS websites for mobile devices"
I was using october cms on my ipad today and I notice that every link you have to double tap - it's highly annoying!

What I mean by this is the following example:

1. **Open a plugin page:**

![ipad-1](https://user-images.githubusercontent.com/17784082/61992171-b57a2a80-b052-11e9-9d6c-b2698da01238.png)

2. **Touch the 'screenshots' page - doesn't open but is selected.**

![ipad-2](https://user-im

[2019-07-27 16:34] ayumihamsaki opened #4490 "InvalidArgumentException: No hint path defined for plugin name"
This took me several hours to go through the stack trace to find the solution and the problem.

Basically the problem is like this:

1. You install a plugin (Acme.Something) - in this case it installed some mail templates into the system.

2. You install a different plugin - in this case (form builder plugin).

3. I delete the first plugin (Acme.Something) out of October CMS.

4. I open the form b

[2019-07-27 17:47] ayumihamsaki opened #4491 "Hide plugins in the top navigation that only contain sidemenu"
I feel like I'm having one of those days where errors are following me about.

I installed two plugins from the marketplace.

1st plugin (main plugin) can be found here: https://octobercms.com/plugin/jorgeandrade-subscribe

2nd plugin (plugin extras) can be found here: https://octobercms.com/plugin/jorgeandrade-subscribeplus

When installing both the plugins I get the following error in the top na

[2019-07-27 20:12] ayumihamsaki opened #4493 "Please can you remove this plugin or contact the owner"
This plugin has killed my backend and all I see is this error message when I try to login:

![dead](https://user-images.githubusercontent.com/17784082/61999139-d5413b00-b0b2-11e9-9353-6fa9711c3594.png)

The plugin web page in october is found here: https://octobercms.com/plugin/jorgeandrade-subscribeplus

The reason I am writing an issue here is because of the following:

1. **Product support** li

[2019-07-27 20:18] ayumihamsaki commented on #4493
Sorry can you remove all his plugins they are all dead 404 links, his profile is here: https://octobercms.com/author/JorgeAndrade

You can check all of his plugins to confirm.

[2019-07-28 00:39] ayumihamsaki commented on #4454
@LukeTowers I'm just looking at the code in more depth right now. Thanks, I see what you saying, so I can just use this and don't need to add another `<div>` example jquery:

[code]

@w20k Could you explain a little bit more, what you are thinking to set up all the different fields.

I was just thinking of doing something like this:

[code]

[2019-07-28 00:44] ayumihamsaki commented on #4454
@LukeTowers I'm just looking at the code in more depth right now. Thanks, I see what you saying, I can just use this the below jQuery and don't need to add another `<div>`.

[code]

@w20k Could you explain a little bit more, what you are thinking to set up all the different fields.

I was just thinking of doing something like this:

[code]

Then save it to a file called `wai-aria.js`

[2019-07-28 15:05] ayumihamsaki commented on #4454
@LukeTowers I'm just looking at the code in more depth right now. Thanks, I see what you saying, I can just use this the below jQuery and don't need to add another `<div>`.

[code]

@w20k Could you explain a little bit more, what you are thinking to set up all the different fields.

I was just thinking of doing something like this:

[code]

Then save it to a file called `wai-aria.js`

[2019-07-28 15:28] bennothommo commented on #4493
@ayumihamsaki Try emailing hello@octobercms.com with these details. That's generally the better place for marketplace enquiries.

[2019-07-28 15:28] #4493 closed

[2019-07-28 15:44] bennothommo commented on #4491
@ayumihamsaki The original scenario you specified with the two plugins has a faulty implementation of the `registerNavigation` event in the second plugin. I believe plugins currently must specify a top-level navigation item when using this method, or alternatively, they can extend via the `backend.menu.extendItems` event to add navigation items for other plugins.

However, we should have some vali

[2019-07-28 15:54] bennothommo commented on #4490
@ayumihamsaki This looks to be an issue with the Form Builder plugin (I'm presuming this a third-party one, if not, please let me know). We would need to know which method is being used to retrieve the email templates before we can investigate the bug further. Please re-open this if you can source more info for us.

[2019-07-28 15:54] #4490 closed

[2019-07-28 16:00] ayumihamsaki commented on #4454
@LukeTowers I'm just looking at the code in more depth right now. Thanks, I see what you saying, I can just use this the below jQuery and don't need to add another `<div>`.

[code]

@w20k Could you explain a little bit more, what you are thinking to set up all the different fields.

I was just thinking of doing something like this:

[code]

Then save it to a file called `wai-aria.js`

----

If you

[2019-07-28 16:02] ayumihamsaki commented on #4454
@LukeTowers I'm just looking at the code in more depth right now. Thanks, I see what you saying, I can just use this the below jQuery and don't need to add another `<div>`.

[code]

@w20k Could you explain a little bit more, what you are thinking to set up all the different fields.

I was just thinking of doing something like this:

[code]

Then save it to a file called `wai-aria.js`

----

If you

[2019-07-28 16:40] ayumihamsaki commented on #4493
@bennothommo thanks, trouble is I never get a reply, when I email that address, likewise when I email luke's email as well, but I will give it a go anyway. 😄

[2019-07-28 16:45] ayumihamsaki commented on #4491
Interesting, thanks.

[2019-07-28 16:53] ayumihamsaki commented on #4490
ok will investigate further.

[2019-07-28 17:18] w20k commented on #4454
@ayumihamsaki will make you a simple example, but you could start with a simple version ;)

[2019-07-28 17:18] ayumihamsaki commented on #4493
@bennothommo Is it possible for you to change this screenshot, see here:

![email](https://user-images.githubusercontent.com/17784082/62010535-0a599600-b164-11e9-8f08-bba0f11a6418.png)

What I'm suggesting is to remove the website link and replace it with the email address of `hello@octobercms.com`

[2019-07-28 17:26] ayumihamsaki commented on #4454
@w20k thanks look forward to seeing it. 🥇

[2019-07-28 18:18] ayumihamsaki commented on #4454
Any reason why this line is like this:

https://github.com/octobercms/october/blob/217d52bc776eb19b5642ad8344955535c930f5fe/modules/system/assets/ui/js/checkbox.js#L6

I would think it should be like this:

https://github.com/octobercms/october/blob/217d52bc776eb19b5642ad8344955535c930f5fe/modules/system/assets/ui/js/datepicker.js#L14

[2019-07-28 18:55] w20k commented on #4454
@ayumihamsaki if are you talking about `use strict` or not? If so, I guess, it was not the case back when JS modules were written.

_If `+ || (` - JS compiler doesn't care._

There are **4** ways in JS to write IIFE, will describe them quickly.

Default and ES6 way:
[code]

Alternative syntax using unary operators:
[code]

Named IIFE:
[code]

IIFEs starting with a semicolon:
[code]
_This prevents

[2019-07-28 18:58] ayumihamsaki commented on #4454
@w20k thanks going to save that info 👍

[2019-07-28 19:09] ayumihamsaki commented on #4454
@w20k thanks going to save that info 👍

October uses this way:

[code]

I don't get it, because `"use strict";` is not used in modules, see here: https://stackoverflow.com/questions/31685262/not-recommended-to-use-use-strict-in-es6

Which method would you recommend using in October ?

[2019-07-28 19:14] w20k commented on #4454
@ayumihamsaki it's correct and not really, there is a great note added to MDN docs:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode#Strict_mode_in_browsers

[2019-07-28 19:17] ayumihamsaki commented on #4454
Thanks makes sense that paragraph.

[2019-07-29 09:50] bennothommo commented on #4493
@ayumihamsaki that's probably a question for @LukeTowers or @daftspunk

[2019-07-29 10:09] w20k commented on #4474
@Samuell1 have you found why does it happens?

[2019-07-29 12:09] w20k commented on #4493
@bennothommo I think it's a part of this template: https://github.com/octobercms/october/blob/master/.github/ISSUE_TEMPLATE/2_SUPPORT_QUESTION.md
But, yeah, I agree better to ask @LukeTowers if he agrees.

[2019-07-29 12:15] zakir1929 opened #4495 "Backend richeditor is not loading plugin in 455 build."
- OctoberCMS Build: ### 455
- PHP Version: 7.1
- Database Engine: Mysql

### Description:
I have added a new toolbar button in backend richeditor but when i click on that button a callback function runs and there I added my plugin code(plugin of richeditor like a insertLink) to run but it's not working. I checked the console and it shows undefined for plugin object.

The code is not working in 455

[2019-07-29 12:17] w20k commented on #4495
@zakir1929 it was fixed in this commit by @mjauvin https://github.com/octobercms/october/commit/30f4d4c5af180efb21a6e53f023b3b01b76fa891

[2019-07-29 12:29] zakir1929 commented on #4495
I am not able to update from 455 to 457 build. How i can do that.

[2019-07-29 12:38] zakir1929 commented on #4495
yep it is solved in 457 Thanks

[2019-07-29 12:38] #4495 closed

[2019-07-29 14:55] ayumihamsaki commented on #4493
Cool thanks, will wait for Luke's decision. 👀

[2019-07-29 22:43] LukeTowers commented on #4493
@ayumihamsaki I would recommend just adding another issue template for "Marketplace Support" that recommends emailing hello@octobercms.com. Support in general for OctoberCMS can be found at that link so we'll keep that option as it is right now but another option could definitely be added.

[2019-07-29 23:09] LukeTowers commented on #4144
@MWalid I feel like the Trigger API might better suit your objective, see https://octobercms.com/docs/backend/forms#field-trigger-events and let me know if that solves your problem or what's wrong with it for your case if it doesn't.

[2019-07-29 23:14] ayumihamsaki opened #4498 "Focus Ring on tabs is cut on the top"
See screenshot of issue:

![aaa](https://user-images.githubusercontent.com/17784082/62088889-be3f4c00-b25e-11e9-8bfb-2e246c2f1b41.png)

See solution:

![bbb](https://user-images.githubusercontent.com/17784082/62088947-f47ccb80-b25e-11e9-885c-51792626be63.png)

I want to do a pr and quickly fix all 4 types of tabs for the focus ring.

[2019-07-29 23:42] ayumihamsaki commented on #4493
@LukeTowers I put it in this pr (I can't create new branches for some strange reason right now?)

https://github.com/octobercms/october/pull/4494/commits/66b774b424e3760910c616db6b4388052e4067b0

[2019-07-30 01:12] bennothommo commented on #4493
Link added: https://github.com/octobercms/october/commit/216a54fca4fd02d3fb75a2152f4c583261506b94

[2019-07-30 08:29] bennothommo commented on #1837
@Samuell1 is going to have a crack at this.

[2019-07-30 10:08] ayumihamsaki commented on #4493
Thanks

[2019-07-30 15:14] ayumihamsaki commented on #4454
## List of completed widgets

- [x] - Footer - https://github.com/octobercms/october/pull/4401
- [x] - Form - https://github.com/octobercms/library/pull/392 and https://github.com/octobercms/october/pull/4463
- [x] - Tabs - https://github.com/octobercms/october/pull/4401
- [x] - Breadcrumbs - https://github.com/octobercms/october/pull/4478
- [x] - Radio Buttons - https://github.com/octobercms/octo

[2019-07-30 15:15] pavsid commented on #3415
Sorry @bennothommo I've been away - do you still need this?

[2019-07-30 15:19] ayumihamsaki commented on #4454
## List of completed widgets

- [x] - Footer - https://github.com/octobercms/october/pull/4401
- [x] - Form - https://github.com/octobercms/library/pull/392 and https://github.com/octobercms/october/pull/4463
- [x] - Tabs - https://github.com/octobercms/october/pull/4401
- [x] - Breadcrumbs - https://github.com/octobercms/october/pull/4478
- [x] - Radio Buttons - https://github.com/octobercms/octo

[2019-07-30 15:30] ayumihamsaki commented on #4454
### Focus Ring on tabs is cut on the top

See screenshot of issue:

![aaa](https://user-images.githubusercontent.com/17784082/62088889-be3f4c00-b25e-11e9-8bfb-2e246c2f1b41.png)

See solution:

![bbb](https://user-images.githubusercontent.com/17784082/62088947-f47ccb80-b25e-11e9-885c-51792626be63.png)

I want to do a pr and quickly fix all 4 types of tabs for the focus ring.

[2019-07-30 15:31] ayumihamsaki commented on #4498
Moved here: https://github.com/octobercms/october/issues/4454#issuecomment-516471325

[2019-07-30 15:31] #4498 closed

[2019-07-30 15:31] ayumihamsaki commented on #4498
Moved here: https://github.com/octobercms/october/issues/4454#issuecomment-516471325

[2019-07-30 16:03] bennothommo commented on #3415
@pavsid not a problem. And yes please :)

[2019-07-30 19:06] ayumihamsaki commented on #4417
Possible fix for this issue is in this pull request I did a while back: https://github.com/octobercms/october/pull/3951

[2019-07-30 20:56] SebastiaanKloos commented on #1837
This is very importent when working with person related data in the EU (GDPR). Would love to see such an option!

[2019-07-31 01:08] rogermle commented on #3411
I also ran into this issue today.

I was using Homestead Valet with a MySQL 8 installed from the Oracle Website with Legacy Authentication enabled.

How I resolved the issue was running $ `php artisan october:up` in the project folder to have the migrations run.

I hit "Retry" and the installer successfully completed. So far it doesn't SEEM to have any side effects.

[2019-07-31 03:12] #4419 closed

[2019-07-31 14:50] ayumihamsaki commented on #4454
## List of completed widgets

- [x] - Footer - https://github.com/octobercms/october/pull/4401
- [x] - Form - https://github.com/octobercms/library/pull/392 and https://github.com/octobercms/october/pull/4463
- [x] - Tabs - https://github.com/octobercms/october/pull/4401
- [x] - Breadcrumbs - https://github.com/octobercms/october/pull/4478
- [x] - Radio Buttons - https://github.com/octobercms/octo

[2019-07-31 14:51] ayumihamsaki commented on #4454
## List of completed widgets

- [x] - Footer - https://github.com/octobercms/october/pull/4401
- [x] - Form - https://github.com/octobercms/library/pull/392 and https://github.com/octobercms/october/pull/4463 and https://github.com/octobercms/october/pull/4503
- [x] - Tabs - https://github.com/octobercms/october/pull/4401
- [x] - Breadcrumbs - https://github.com/octobercms/october/pull/4478
- [x]

[2019-07-31 14:54] #4484 closed

[2019-07-31 15:39] ghost opened #4505 "Setting page and sidebar"
I'm opening this github issue, to try and learn and better understand what the heck is going on with this: `sidenav-tree-root` class.

I need to find out what it's main purpose is in October?

It seems to be some stupid thing! So I am banging my head on the wall asking myself why is it there and what it's main purpose is?

I want to remove it totally out of October!

Here is what it's doing in the

[2019-08-01 00:44] ayumihamsaki commented on #4454
## List of completed widgets

- [x] - Footer - https://github.com/octobercms/october/pull/4401
- [x] - Form - https://github.com/octobercms/library/pull/392 and https://github.com/octobercms/october/pull/4463 and https://github.com/octobercms/october/pull/4503
- [x] - Tabs - https://github.com/octobercms/october/pull/4401
- [x] - Breadcrumbs - https://github.com/octobercms/october/pull/4478
- [x]

[2019-08-01 09:53] ayumihamsaki opened #4507 "Builder plugin has a display error in firefox"
When running tests on some other pr's I came across this small error, this github issue just shows the error for future ref and will connect a pr for it.

The issue seems to be in firefox only - chrome works fine.

### Problem

![er1](https://user-images.githubusercontent.com/17784082/62283887-711fcd80-b44a-11e9-9b57-b4dbf3fd13a6.png)

### Solution

![er2](https://user-images.githubusercontent.com

[2019-08-01 11:06] ghost opened #4510 "Top Navigation and sidebar issues"
This github issue outlines some of the bugs in the top navigation and sidebar. I have a pr done for this issue, but it's only 50% done so far and I needing to finish it off and further tests things.

For now, I want to create this as a future ref for all the fixes done in the pr.

## Bugs

1. Top navigation switched to flexbox, fixed the sizes issues and right account-avatar image sizing.

![61581

[2019-08-01 13:25] ayumihamsaki commented on #4510
@LukeTowers

Avatar image sizes are now fixed to the following sizes: 45px, 60px and 78px.

Want to mention something like min-size for account avatar's should be at least 78px in size and in a square format.

Not sure where to add this info into the doc's ?

[2019-08-01 16:07] ayumihamsaki commented on #4505
## Summary of issues

1. Mobile screens are completely stuck in the sidebar as it takes up 100% of the width.

2. Tablet screens see a squashed menu with two columns and words hanging out of the sidebar.

3. Low quality computer screens see 100% width in a weird media query range.

4. High quality computer screens see three columns and when you click on an item in the settings page the sidebar swi

[2019-08-02 10:42] SaifurRahmanMohsin commented on #4144
You're right @LukeTowers, the trigger API in indeed the better option to solve this issue and ideally should have been used. However, @MWalid has made a valid point. Taking a look at the code suggests that when filterFields is called and changes are made via filterfields, the controller holding the formWidget does not know the changes that have occurred due to filterFields and so it doesn't update

[2019-08-02 11:37] MWalid commented on #4144
@LukeTowers trigger API only works with drop downs, checkboxes and radio
groups, what if I need to do something like “if (inputValue > someValue)” -
I cant do that with trigger API.

On Fri, Aug 2, 2019 at 2:42 PM Saifur Rahman Mohsin <
notifications@github.com> wrote:

--
Regards

[2019-08-03 14:59] ayumihamsaki commented on #4454
@w20k Thanks again for your comments, really appreciate them, just added them to my notes:

![notes](https://user-images.githubusercontent.com/17784082/62413505-9dcd1400-b607-11e9-9234-b6b6bf3fc352.png)

[2019-08-03 20:57] ghost opened #4515 "Improve mobile responsiveness of pages with sidebar elements (Builder plugin, CMS Pages)"
While working on a pr, I have found the following big bug.

**You can't use the CMS page at all on screensizes below 768px.**

There is a CSS setup of:

[code]

This then totally hides the sidebar from the screen rendering the CMS page totally useless.

![a1](https://user-images.githubusercontent.com/17784082/62416815-8ad33780-b639-11e9-9f59-97421cc59619.png)

and here

![a2](https://user-images.g

[2019-08-03 22:14] ayumihamsaki commented on #4515
Also builder plugin doesn't work at all under 768px screensizes exactly same problem.

No sidebar at all.

![stupid](https://user-images.githubusercontent.com/17784082/62417317-75173f80-b644-11e9-9121-d72143cb2b7e.png)

[2019-08-04 01:44] bennothommo commented on #4491
Fixed by https://github.com/octobercms/october/pull/4497.

[2019-08-04 01:44] #4491 closed

[2019-08-04 02:40] ayumihamsaki commented on #4515
My idea of a solution:

![idea](https://user-images.githubusercontent.com/17784082/62418772-a0605580-b669-11e9-9390-b01e02cb3572.png)

But need a discussion to see what people think.

[2019-08-04 07:41] bennothommo commented on #4507
Fixed in 8219f19e8d902670cddcad3dfc6ef28516418cc0.

[2019-08-04 07:41] #4507 closed

[2019-08-04 12:08] bennothommo commented on #4515
@ayumihamsaki I can't say I'm a fan of that. The main issue, as I [mentioned here](https://github.com/octobercms/october/pull/4516#issuecomment-517967204), is that mobile devices give us only a small viewport to work with. With this in mind, the entire screen should be taken up by the form being viewed, as it's the most important element on the page.

How I would tackle mobile responsiveness for t

[2019-08-04 13:00] ayumihamsaki commented on #4515
@bennothommo I agree with your ideas.

Btw, my above image is not totally clear - sorry I drew it at 4am. Maybe this will explain it a bit better:

![62418772-a0605580-b669-11e9-9390-b01e02cb3572](https://user-images.githubusercontent.com/17784082/62423969-17283d80-b6c0-11e9-82f4-d8bcacc8f602.png)

Above: Has a horizontal dragbar to adjust sub-menu size.

and

![img2](https://user-images.githubuse

[2019-08-04 13:05] ayumihamsaki commented on #4515
@bennothommo I agree with your ideas.

Btw, my above image is not totally clear - sorry I drew it at 4am. Maybe this will explain it a bit better:

![62418772-a0605580-b669-11e9-9390-b01e02cb3572](https://user-images.githubusercontent.com/17784082/62424031-e98fc400-b6c0-11e9-86c7-f8d2c6e16739.png)

Above: Has a Vertical dragbar to adjust sub-menu size.

and

![img2](https://user-images.githubuserc

[2019-08-04 13:38] martingg88 opened #4519 "Update Failed For ZipArchive::extractTo"
I still facing the ZipArchive::extractTo Permission denied while doing the upgrading after configured as follows:

chown -R apache:apache {{project path}}

chmod -R 777 {{project path}}

Any idea how to solve this issue?

[2019-08-04 19:23] SaifurRahmanMohsin commented on #4144
@daftspunk I would like to ask--why does filterFields have to be defined in the model rather than the FormController class? I feel like it's badly placed given that it operates in a form-level than a model-level. Also, I've been [trying to solve](#4513) this issue and I've realised that filterFields takes in the allFields property as an object and then doesn't apply the changes made inside it to t

[2019-08-04 22:00] w20k commented on #4141
Fixed by https://github.com/octobercms/october/pull/4077

[2019-08-04 22:00] #4141 closed

[2019-08-04 23:14] LukeTowers commented on #3913
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-08-04 23:14] #3913 closed

[2019-08-04 23:18] LukeTowers commented on #2993
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-08-04 23:18] #2993 closed

[2019-08-05 06:23] Samuell1 commented on #1837
@bennothommo @SebastiaanKloos PR created :)

[2019-08-05 07:25] Rike-cz opened #4521 "Form widgets within repeater not inherit previewMode"
- OctoberCMS Build: 455
- PHP Version: 7.2

### Description:
I have backend form with **repeater** within simple form fields and form widgets. Simple form fields (text, textarea) are in preview mode, but widgets (richeditor, mediafinder) no. Problem is with sharing previewMode information between repeater and form widgets.

![repeater-bug](https://user-images.githubusercontent.com/4247582/62446417

[2019-08-05 08:31] w20k commented on #4519
I think it's mostly `www-data` user not `apache`, but depends on the server configuration I guess.

[2019-08-05 11:39] ayumihamsaki commented on #3913
@LukeTowers I dont want to sound rude, but I got 30 PR's just sitting waiting for testing and to have `Reviewers` and/or `Assignees`. It seems like people are trying to avoid PR's with more than 5 files been edited. Anyway to deal with the issue of processing these pr's and finding testers.

[2019-08-05 12:07] w20k commented on #3913
@ayumihamsaki you're not exactly right on your JS/CSS RR's.
I haven't had time to deal with those, but so far half (or more, haven't posted a comment) of `deprecated js functions` I've reviewed. So, I'm just waiting for the next release to proceed with those `459`.

[2019-08-05 12:50] ayumihamsaki commented on #3913
@w20k You miss my point, it's seems like you are the one doing 80%+ of the testing! I'm suggesting to Luke to try and find more testers to help you out.

[2019-08-05 14:10] w20k commented on #3913
@ayumihamsaki it's easy only on paper (in theory). I'm not just testing, and it's easier for me to deal with JS/CSS stuff, but trying to understand the idea behind PR, dig in into the code (when needed), test and follow up with an `optimization suggestions` if needed.
Testing is simple in the `nutshell` ;)

[2019-08-05 14:14] ayumihamsaki commented on #3608
@LukeTowers @w20k

[code]

![test999](https://user-images.githubusercontent.com/17784082/62470990-86bb2d00-b793-11e9-9ff3-e813e53f04dd.png)

Above: Image show the first method jJSON working and second method JSOn not working.

Let me know if this is on the right track to fixing this issue?

[2019-08-05 14:31] ayumihamsaki commented on #3913
@w20k yah I agree with you, I just think testing is not straight forward to October CMS. Things are not isolated correctly. For example, the latest pr I did the blue sidebar in the cms page and the blue sidebar in a plugin web page uses the exact same class without any isolation container. Though the code is exactly the same the enviroment is not the same. The correct method would be to add the co

[2019-08-05 14:47] ayumihamsaki commented on #3913
@w20k yah I agree with you, I just think testing is not straight forward to October CMS. Things are not isolated correctly. For example, the latest pr I did the blue sidebar in the cms page and the blue sidebar in a plugin web page uses the exact same class without any isolation container. Though the code is exactly the same the enviroment is not the same. The correct method would be to add the co

[2019-08-05 19:37] SebastiaanKloos opened #4523 "LessCompiler variables with color"
- OctoberCMS Build: 457
- PHP Version: 7.2.19

### Description:
![CleanShot 2019-08-05 at 21 30 52](https://user-images.githubusercontent.com/6506510/62490084-c3ede200-b7c8-11e9-8a3b-a19a5ea40141.png)

Is converted by the LessCompiler to the following:

![CleanShot 2019-08-05 at 21 31 00](https://user-images.githubusercontent.com/6506510/62490166-f3045380-b7c8-11e9-8567-ba25d114ada6.png)

### Step

[2019-08-05 21:53] DanHarrin opened #4524 "WidgetManager’s removeReportWidget() Issues"
- OctoberCMS Build: 457
- PHP Version: 7.3.1

I’ve noticed a couple of issues with `WidgetManager`’s `removeReportWidget()` method.

1. is that the class is missing a simple `use SystemException;`, so I get `Class 'Backend\Classes\SystemException' not found` error messages thrown at me when trying to call `removeReportWidget()`.
2. is that there’s a very odd issue with the detection of whether the

[2019-08-06 01:17] bennothommo commented on #4524
@DanHarrin I've tested this, and it's not a bug per se - what's happening is the `system.reportwidgets.extendItems` event is being called twice because the [`listReportWidgets`](https://github.com/octobercms/october/blob/37eb5b0c3c535f7c0473fd9d0c02e4f405a154a6/modules/backend/classes/WidgetManager.php#L165) method in `Backend\Classes\WidgetManager` is being called twice.

Your event has removed a

[2019-08-06 01:17] #4524 closed

[2019-08-06 06:03] DanHarrin commented on #4524
@bennothommo that would work, however `$widgetManager->reportWidgets` is a protected property at the moment. I'll PR that along with the missing `SystemException` import.

[2019-08-06 06:06] DanHarrin commented on #4524
Fixed with #4525.

[2019-08-06 07:37] w20k commented on #3608
@ayumihamsaki I guess so, but still, I'm not sure if it's a good idea to add a new layer of complexity just because of the two eval functions being used inside of `framework.js`.

[2019-08-06 07:48] Samuell1 commented on #4379
I findout that Yaml parsing is not cached and it takes a long time. It should make backend a little bit faster. https://github.com/octobercms/october/pull/4526

[2019-08-06 11:38] ayumihamsaki commented on #3608
I'll try and create a pr today and list all the advantages and disadvantages of the pr.

[2019-08-06 17:04] Samuell1 commented on #4100
@LukeTowers this was solved looks like

[2019-08-06 17:05] Samuell1 commented on #3330
@LukeTowers @zietbukuel was this solved?

[2019-08-06 17:07] Samuell1 commented on #4120
@LukeTowers Looks like solved.

[2019-08-06 19:02] ayumihamsaki commented on #4454
@w20k quick question, later this week I want to start work on the next pr and update the dropdown menu options to add keyboard nav support. I want to extend this javascript file found here: https://github.com/octobercms/october/blob/bcd2e429ea4f0323c73f02b428ea6910f349aeee/modules/system/assets/ui/js/waiaria.js

My tiny question to you, is that javascript file ok, or do you have any plans to chang

[2019-08-07 01:16] bennothommo commented on #3500
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-08-07 01:16] #3500 closed

[2019-08-07 01:24] bennothommo commented on #3551
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-08-07 04:08] martingg88 commented on #4519
Thanks. I think the issue related to Centos Selinux Policy.

[2019-08-07 06:48] DanHarrin commented on #1292
Fixed with #4529.

[2019-08-07 07:02] #4100 closed

[2019-08-07 07:07] Samuell1 commented on #2380
@LukeTowers outdated

[2019-08-07 07:13] Samuell1 commented on #3873
@zmsaunders is this still issue?

[2019-08-07 07:13] w20k commented on #4454
@ayumihamsaki you could proceed without worrying about me refactoring it, right now it looks good!
Sorry for the delay with testing and reviews!

[2019-08-07 07:20] Samuell1 commented on #3770
@LukeTowers

[2019-08-07 07:22] Samuell1 commented on #2683
This is duplicate of https://github.com/octobercms/october/issues/3605 and outdated issue

[2019-08-07 07:25] Samuell1 commented on #3344
@LukeTowers i think this will be cool to have in cms.php config and default as null depending on debug mode.

[2019-08-07 07:35] #4519 closed

[2019-08-07 07:35] #2380 closed

[2019-08-07 07:37] Samuell1 commented on #3502
I dont think data-request-error should be triggered on validation errors because you got your server response back and data-request-error should error only on server errors or network errors etc.

[2019-08-07 07:42] Samuell1 commented on #3482
Is this still a issue? @catthr @LukeTowers

[2019-08-07 07:44] Samuell1 commented on #3563
@LukeTowers

[2019-08-07 10:21] bennothommo commented on #2683
Duplicate of #3605.

[2019-08-07 10:21] #2683 closed

[2019-08-07 10:22] bennothommo commented on #3563
@Samuell1 I'll leave this open. It's something that may need to be looked into in the future.

[2019-08-07 11:24] DanHarrin commented on #1956
Hey @LukeTowers, I'm currently working on a PR for this, mind checking it out when I release it? What I'm doing works, but I'm not sure if my solution is the simplest way to implement this or not.

[2019-08-07 12:10] Samuell1 commented on #3563
@bennothommo it was just ping if this is actual, i can then do PR to remove it

[2019-08-07 12:12] bennothommo commented on #3563
@Samuell1 by all means, have a go at it if you want to :). Probably is worth having a look at.

[2019-08-07 14:38] bennothommo commented on #3913
@ayumihamsaki If we had more testers, then we could assign priorities for testing. I'm fairly sure the intention of the "Testing Needed" label was to encourage people looking to contribute to the project to test - it was one of the things I did before I became a maintainer.

If you can rally people to help test, the project would definitely benefit from it, and it would very likely speed up any ne

[2019-08-07 15:54] bennothommo commented on #4454
@ayumihamsaki I've done some testing tonight on the PRs linked in this issue. I figured I would collate my results here. Note that I have tested the changes using the [October Test Plugin](https://github.com/octoberrain/test-plugin/), on both Chrome and Firefox.

### Tabs
- Tab arrow nagivation does not seem to work. Sometimes, the LEFT ARROW key works when the last tab is highlighted, but I've ne

[2019-08-07 16:40] ayumihamsaki commented on #3913
@bennothommo What you said is exactly what I'm thinking. I wish Luke or Daftspunk would convey that message to the October community and even post that on the October facebook web page.

It would be amazing to have all the pr's tested within a 6 month time frame. Instead of what's happening right now with some PR's sitting there for over 15 months labelled 'testing' still.

[2019-08-07 16:55] ayumihamsaki commented on #4454
@bennothommo nice thanks for all the detailed info.

I see that as well, I believe it's a PC / MAC and Browser issue thing. I get same results.

Yes I set it up exactly like that. The reason being I didn't want to add the full code update to this pr for lists, I actually wanted to do another pr for lists. So I only setup the highlighting but not the seleect action yet.

Should be tabbed only - not

[2019-08-07 17:41] LukeTowers commented on #2505
See reference implementation in #4471. We will not be implementing this at present due to the varied requirements of individual components and a lack of performance testing for commonly used components to be able to decide if this is a useful addition.

[2019-08-07 17:41] #2505 closed

[2019-08-07 18:11] ayumihamsaki commented on #4454
Nice thanks for all the detailed info.

Point 1.

Tabs - Tab button works - but not arrow keys. Going to investigate deeper and try and sort this out. w20k also had issues with the `tabindex="-1"` not working at all. So we did a quick fix and switched to using `tabindex="0"` for all tabs. I will try and code a proper fix for that this week.

Point 2.

Reading the Spec just now it says that it depe

[2019-08-07 19:00] ayumihamsaki commented on #4454
### Update:

Have fixed the tabs, now the `left` and `right` arrow keys work and also the `home` and `end` buttons, commit: https://github.com/octobercms/october/pull/4501/commits/201cd463ed2672bd1589e1b8d6b619d4efbd5c4a

[2019-08-08 07:21] Rike-cz opened #4530 "Media Manager and different root folders for backend users"
Currently all backend users use Media Manager from predefined root. There is no way how to asocciate user with different root folder, everything is hard-coded. I think many applications of CMS want to have different media root for each backend user, because administrator do not want that users can affect folders and files of other users. But it looks that implementation of this feature would be ve

[2019-08-08 07:47] Samuell1 commented on #4530
This can be possible but only with fully reworking media manager to use database. If you want something like this is better to make custom plugin where people can upload files.

[2019-08-08 08:12] Rike-cz commented on #4530
I meant only simple solution like:
- root folder /storage/app/media (as now),
- backend user id 1 has root folder: /storage/app/media/1,
- backend user id 2 has root folder: /storage/app/media/2,
etc.

For realize that I need only some event to hook like:
`Event::listen('backend.mediaManager.init', function($mediaManager) {
    $mediaManager->root = ...;
});`

[2019-08-08 09:36] alxy commented on #4530
You can already do this, as the root folder is a config option. You would just need to override this config option. I know that someone has already sucessfully dont it.

[2019-08-08 09:44] Rike-cz commented on #4530
@alxy: I tried this monkey patch before (class Plugin):
[code]
But it causes more troubles with mediafinder form widget and elsewhere in frontend with media filter (when backend user is logged in). This is not good solution.

[2019-08-08 09:49] alxy commented on #4530
Yeah, this isnt how it worked. Try it in boot and do it in ``Backend\Classes\Controller::extend()``. You should be able to get the current backend user using ``BackendAuth::getUser()`` - no need to hook into the models afterFetch event. I currently do not have an isntallation to test this, but it was something like this.