[2017-11-30 15:07] LukeTowers commented on #3256
@TimFoerster I'm unfamiliar with either of those, do you mind giving some details?

[2017-11-30 15:22] LukeTowers commented on #3266
@immeyti basically there is a security token that is tied to user sessions that is rendered in the markup for the page to prevent cross-site scripting attacks. If you try to login when your login page has been open for a while without refreshing the page first (regenerating the token), then you will be denied because the token that you have on that page is too old and has expired.

I'm going to cl

[2017-11-30 15:22] #3266 closed

[2017-11-30 15:23] LukeTowers commented on #3265
@flyingbaba how are the SEO fields added?

[2017-11-30 15:30] LukeTowers commented on #3271
I'm guessing that you are having problems because you aren't fully understanding how model scopes work. Model scopes are meant to modify and return the $query object, to be chained. They aren't meant to return records directly. Your scope should be filtering records that have a groups relationship with the required name:
[code]

[2017-11-30 15:46] LukeTowers commented on #3272
@atrauzzi What you're asking for is difficult by nature because a CMS works by being opinionated about things like code structure.

October's core assumptions are
1. Custom business logic is encapsulated within individual plugins stored in the $pluginsDir.
2. Each site has one theme that is stored in the $themesDir and is rendered using the Twig template engine and does not contain significant amo

[2017-11-30 15:51] LukeTowers commented on #3274
Awesome, thanks @stevemortimer

[2017-11-30 15:54] LukeTowers commented on #3275
@TimFoerster I'd accept a PR to add support for your suggested configuration of a thumbs config array in the media config array.

[2017-11-30 16:47] johnmain commented on #3271
Ok that works.  Thanks for the help.

[2017-11-30 16:47] #3271 closed

[2017-11-30 21:02] LukeTowers commented on #3274
Fixed by https://github.com/octobercms/october/commit/7c20e32c47d8c692d670009971bf127740eea291

[2017-11-30 21:02] #3274 closed

[2017-11-30 21:13] cory-seatsmart opened #3279 "PHP 7.2.0 each() deprecation"
##### Expected behavior
SCSS Compiles

##### Actual behavior
SCSS compiler gives error: `/* The each() function is deprecated. This message will be suppressed on further calls */`. Even though it claims that the error will be suppressed, it does not disappear after multiple page refreshes.

##### Reproduce steps
- Upgrade server PHP to 7.2.0
- Load a page that uses October's built in SCSS compilat

[2017-11-30 22:04] justinbeatz commented on #3279
If you upgrade the php version of your server to 7, you must upgrade October to 420+ (right now the build is in 428 I think), check this post about the changes of OctoberCMS with php7:

[Build 420 - Foundation framework upgrade (Laravel 5.5 LTS)](http://octobercms.com/support/article/rn-9)

[2017-12-01 07:32] flyingbaba commented on #3265
@LukeTowers  `self::extend` extends model, so I guess in renatio/seomanager/classes/seoFields.php we have this function:

    protected function seoFields()
    {
        $fields = Yaml::parseFile(base_path('plugins/renatio/seomanager/models/seotag/fields.yaml'));

        return Event::fire('seo.extendSeoFields', [$fields], true) ?: $fields;
    }

[2017-12-01 12:37] Samorai commented on #3268
@LukeTowers
I had try to update from 419 to 428, and got `500 internal server error.`
Into server logs had:
[code]
But I have QUEUE_DRIVER=redis

Steps to fix it:

1. Change env variables to
[code]
2. Update build
3. `composer require predis/predis`
4. Change back env variables, if you're using Redis.

@chrisvidal can you give your .env file?

[2017-12-01 12:51] Samorai commented on #3263
Chrome mac, unconfirmed.
Builds, 419,428.

[2017-12-01 13:52] TimFoerster commented on #3256
About Mailtrap:

from [laraveldaily](http://laraveldaily.com/mailtrap-send-testing-email-without-actually-sending-it/):

About Mailhog:
Mailhog is a local smtp server that is installed on homestead.
As a developer you are able to connect on `localhost:8025` to use the Mailhog-UI where you can find every outgoing email. It is like a local mailtrap service.
More information about mailhog on [laravel

[2017-12-01 15:50] LukeTowers commented on #3256
What do you think would be best as a default @TimFoerster? @daftspunk do you have any input?

[2017-12-01 15:55] LukeTowers commented on #3268
@Samorai don't add dependencies to your project's composer.json, use the Drivers plugin instead. I have no idea how your site was working without it and using redis before. http://octobercms.com/plugin/october-drivers

[2017-12-01 15:56] LukeTowers commented on #3263
Any more information @mjauvin?

[2017-12-01 16:04] TimFoerster commented on #3256
only found this commit where laravel switched to mailtrap in the `.env.example` but I didn't  found any discussion about it
https://github.com/laravel/laravel/commit/8e15c7f73ebb541967560a38b46ea75d58dfaa02#diff-cbfd64a28982a1818f2b5f16e7f9d634

[2017-12-01 16:09] LukeTowers commented on #3256
Typical laravel fashion, don't explain anything

[2017-12-01 16:55] mjauvin commented on #3263
No, unfortunately.

On Fri, Dec 1, 2017 at 10:56 AM, Luke Towers <notifications@github.com>
wrote:

--
Marc

[2017-12-01 21:36] ametad commented on #3109
Try, on a page:

[code]

components/oc-test-component/default.htm
[code]

Further read: http://octobercms.com/docs/cms/components#external-property-values

[2017-12-02 01:36] chrisvidal commented on #3268
OK I got it.
OC does mot upgrade if you are trying to upgrade the plugins RainLab.User at the same time.
So, skip the upgrade of RainLab.user first. Perform OC upgrade. Then perform upgrade of RainLab.User and it should work

thanks All

[2017-12-02 06:28] daftspunk commented on #2848
Fixed in Build 430+

[2017-12-02 06:28] #2848 closed

[2017-12-02 18:11] qroft commented on #3256
I changed from the php mail option to sendmail and after adding the -t parameter instead of the -bs parameter, seinding out a testmail within the backend works fine.

On the frontend i simply copied the example from the OctoberCMS manual and changed the values in there as needed. But it does not work.
Before the said code-snippet from the documentation, i added a simple database insert and that wo

[2017-12-02 22:34] AxDSan commented on #1970
10/2/2017 - Still looking for this feature to be implemented.

[2017-12-03 00:03] LukeTowers commented on #1970
@AxDSan
10/2/2017 - Still looking for a PR to be made implementing this feature.

The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Make a financial contribution to the pro

[2017-12-03 11:46] Samorai commented on #3268
@LukeTowers ok, thanks. I have many dependencies which I added to composer.json, now I'll moving it to Drivers plugin.

[2017-12-03 14:00] Samorai commented on #1658
Hi @LukeTowers can I help you to improve mediafinder widget, for adding multiple images?
Is there any specification for it? Or works on this improvement is not in progress now?

[2017-12-03 18:39] LukeTowers commented on #1658
@samorai work on this was supposed to start in September when a potential sponsor for the project was hoping to land a client project to pay for it. That's looking unlikely to happen at this point so I'll be working on it during the time I have for non paying work. It's still planned, just at a slower pace.

The specification for this particular aspect is as follows:
Add a new config option to the

[2017-12-03 18:50] LukeTowers commented on #3268
@Samorai if your dependencies aren't included in the drivers plugin don't add them yourself. Read https://luketowers.ca/blog/how-to-use-laravel-packages-in-october-cms-plugins/

[2017-12-04 06:22] flyingbaba commented on #3265
@LukeTowers @daftspunk Please close this issue, it was an error in Renatio.SeoManager model extension. New update is released and it is all fine now.

[2017-12-04 06:44] #3265 closed

[2017-12-04 08:04] Samorai commented on #1658
When maxItems is over 1, the returning data should be saved to jsonable column, yes?
@LukeTowers

[2017-12-04 08:26] Alex360hd commented on #1658
I understand that register path in a string when you deal with just one image make sense for backward compatibility, but it would be great to provide a specific options for that, a "conserve legacy behavior" checkbox, checked as default.

If unchecked, it would save image path in an array, even if there is just one image, the advantage to do that is that you have consistency over the way informati

[2017-12-04 11:23] munxar commented on #1658
I totally agree with @Alex360hd idea. We could ensure downward compatibility (in most cases) if we would make the |media filter aware of this behavior and let it handle string and array:

[code]

[2017-12-04 12:23] LukeTowers commented on #1658
@munxar and how do we we support old schema that stores paths in a VARCHAR column, not a jsonable one? I'm not opposed to the suggestion, just want to make sure that everything is covered. In theory we could check if the maxItems property is actually defined and if so have that behaviour occur. Also, how can we keep the same frontend code if legacy columns untouched by the change yet are pure stri

[2017-12-04 12:28] munxar commented on #1658
@LukeTowers To your first question: Support old schema when reading the data and make a [oldDate] out of it. Saving models requires an upgrade of the models to jsonable, you're right.
And what about not touching the MediaFinder at all, and implement a new Widget that behaves like describes: MultiMediaFinder?

[2017-12-04 12:32] LukeTowers commented on #1658
@munxar that doesn't solve the issue with the front end or backend actually. We can handle old data no problem when we load it in the widget, but what we can't do is change data on records without even having them loaded by the backend at all. We also can't automatically convert old data to new data because presumably it's stored in a VARCHAR column with a default limit of 255 characters, so we ca

[2017-12-04 12:34] munxar commented on #1658
@LukeTowers see my Idea above (edited while you posted)

[2017-12-04 12:42] LukeTowers commented on #1658
@munxar that's what I'm saying doesn't solve the problem. How would a separate media manager solve the problem?

[2017-12-04 12:50] munxar commented on #1658
@LukeTowers Imho it does.
Existing backend MediaFinder widget -> keep as is
If I need multiple images, use the (new) MultiMediaFinder, it needs a jsonable column, it needs new markup in the frontend, but it will not break anything existing.
And it solves the initial need for a 'MediaFinder' that can support multiple images.

[2017-12-04 12:56] LukeTowers commented on #1658
@munxar what's wrong with changes to the existing one? It would require the developer to touch the code to take advantage of it anyways (setting maxItems) so we can tell them to make the necessary changes to their code and schema at the same time. I'd rather find a simple way to handle old data then branch out the mediafinder widget, that adds unnecessary complexity to the system.

[2017-12-04 13:00] Alex360hd commented on #1658
@LukeTower Not sure to understand, actually, Json variables (like repeater) are stocked in a TEXT column type on the database side (JSON column type is not supported by all systems, that's probably the reason), so it shouldn't be a problem to save a string or an array to that column.

A new widget is also a valid idea, I would prefer to have small widget type but all configurable (in fact I would

[2017-12-04 14:40] munxar commented on #1658
@LukeTowers I understand, keep it in the existing one.

If the new MediaManager would write string or string[] depending on maxItems to the db we would have to write twig that must check for [iterable](https://twig.symfony.com/doc/2.x/tests/iterable.html) and that is resulting in view markup like:

[code]

On the other hand we could always write string[] into the db, but allow for reading strings

[2017-12-04 14:52] Alex360hd commented on #1658
@munxar Sounds good to me, it seems to mix best of both world

[2017-12-04 16:42] Samorai commented on #1658
@LukeTowers I think, that idea with MultiMediaFinder is better solution. We can create them and set MediaFinder as deprecated.

[2017-12-04 17:36] LukeTowers commented on #1658
@Samorai @munxar @Alex360hd I'm going to say that a different formwidget is a last resort.

The frontend compatibility is not difficult to solve as mentioned with a change to the media filter that detects an array and gets the correct value from it. One thing I'd like to point out is that my ideal data storage structure for this change is
[code]
The above structure is to allow for the theoretical

[2017-12-04 20:39] johnmain commented on #3176
I also have this issue on my local dev version.  However, was able to update the production and Staging servers without any issue.

[2017-12-05 01:08] #1644 closed

[2017-12-05 07:29] immeyti opened #3284 "make Search Widget"
hi.
i need add search to modules\backend\behaviors\relationcontroller\partials_manage_list.htm
because i have 3000 record, can u help me?
thank you.

[2017-12-05 08:59] canthis commented on #3284
@immeyti You should not touch october system files. Just follow documentation on [configuring relation behavior](https://octobercms.com/docs/backend/relations#configuring-relation) and use **showSearch** option.

[2017-12-05 14:41] LukeTowers commented on #3284
Thanks @canthis!

[2017-12-05 14:41] #3284 closed

[2017-12-05 14:47] immeyti commented on #3284
i want add searching in accessories jkshop. but i cant do it.
can u help me?
tank you.

[2017-12-05 14:57] LukeTowers commented on #3284
@immeyti try contacting the plugin author.

[2017-12-05 15:06] vitormicillo opened #3286 "Redirect to https"
##### Expected behavior
Hi, I do not know if anyone here has had the same problem,
but after performing the installation of the system when accessing the administrative area it redirects the protocol http to https.
I'm testing on a local virtual machine, this redirect does not allow me to use admin

##### October build
Not sure, but it was the last version installed with the composer

[2017-12-05 15:20] LukeTowers commented on #3286
Check your config/cms.php. If backendForceSecure is true, then that is the problem. If it is null, and config/app.php has debug = false, then backendForceSecure is true.

[2017-12-05 15:26] vitormicillo commented on #3286
thank you very much @LukeTowers , it was like null i changed it to false

[2017-12-05 15:26] #3286 closed

[2017-12-06 03:43] hackoh opened #3287 "Can't install with message 'Application In Production'"
My command was
```composer create-project october/october .```

and got message
[code]

in homestead.

[2017-12-06 06:04] LukeTowers commented on #3287
Set debug = false in config/app.php and then run php artisan key:generate

[2017-12-06 09:46] Harti commented on #2256
@LukeTowers How do I access the Slack channel?

[2017-12-06 09:48] munxar commented on #2256
@Harti https://octobercms.slack.com and register

[2017-12-06 10:30] Harti commented on #2256
@munxar appreciate it, I've already tried that though. My Slack credentials don't work.

Below it says:

So I figured I need to sign up somewhere else so that they can invite me.

[2017-12-06 14:05] osmanzeki commented on #3287
Had the same problem when creating a brand new project via Composer. It seems like the application config is in production by default which stops the automated "after create-project" commands to fail.

[2017-12-06 14:57] henrytubritt commented on #59
For me it required making sure that I had AllowOverride all in the <Directory /var/www> directive in /etc/apache2/apache2.conf. It was set to None by default. Then restarted the service /etc/init.d/apache2 restart

[2017-12-06 15:05] LukeTowers commented on #2256
@Harti http://octobercms-slack.herokuapp.com/. Please do not comment on this issue for unrelated messages anymore.

[2017-12-06 15:26] LukeTowers commented on #3287
@osmanzeki that's odd because https://github.com/octobercms/october/blob/master/config/app.php#L19 is set to true, so it shouldn't be. Could you look deeper into the issue and see if you can find out why that is?

[2017-12-06 15:28] osmanzeki commented on #3287
@LukeTowers I believe this line here is the culprit. I had to change it to 'development' in order for the `artisan key:generate` command to work.

https://github.com/octobercms/october/blob/master/config/environment.php#L16

[2017-12-07 15:03] LukeTowers commented on #3287
@osmanzeki could you make a PR with the summary of the issue to fix it?

[2017-12-07 15:05] ametad commented on #3259
Merged!

[2017-12-07 15:05] #3259 closed

[2017-12-07 15:39] osmanzeki commented on #3287
Done. :)

[2017-12-07 22:48] AasemElrayes commented on #1471
I solved the problem by changing port check in "\install_files\js\vendor.js" from "80" to "your port" .

[2017-12-07 23:33] ayumihamsaki opened #3290 "Question: How to add / bind Search to a custom List in Backend"
Hi,

Have gone through github, stackoverflow and october etc. looking for the solution. So after a few hours have decided to ask the question here (sorry I know you guys are very busy!)

Been trying to learn how to create custom Lists with Controllers. From the Tutorial found here: https://octobercms.com/support/article/ob-20

I have everything working in a custom List, all the fields, can adjust

[2017-12-08 06:44] LukeTowers commented on #3290
When in doubt, read how october does it: https://github.com/octobercms/october/blob/master/modules/backend/behaviors/ListController.php#L197 :)

[2017-12-08 17:03] mohib0306 opened #3293 "Boolean fields are interpreted wrongly in the fields.yaml"
Hi;

I have a nullable boolean field (my_field) in my table. I used the following configurations in the fields.yaml file of the corresponding model.
[code]
or
[code]

The expected behavior is that if the field is `false` in the table, then `No` should be selected. And in case of `Null` none of the two options should be selected. But this does not happen and either of the above configurations the `

[2017-12-08 17:19] mohib0306 commented on #3293
Actually the problem is not only with the `type: radio` but other types of fields i.e. dropdown, ballon-selector etc. as well

[2017-12-08 18:55] LukeTowers commented on #3293
Feel free to submit a PR to fix this!

[2017-12-11 05:11] HekmatFavid commented on #2804
There is no any parameter in user plugin's lang folder,  you can set attributes in Modules\System\Lang in attributes array.
I test, and it's work properly!

[2017-12-11 07:20] immeyti opened #3294 "Backend-relation"
Hi
I'm extending  jkplugin in this way: Extending the User plugin
I'm using the fields with relation type now. It's Ok and i have no problem with it.
plugin.php:
'book[writer]' => [
                        'label'         => 'Writer',
                        'type'          => 'relation',
                        'nameFrom'      => 'name',
                        'tab'           => 'Books',

[2017-12-11 08:59] Hein-Thu-Ya commented on #1471
how to solve Test connection to the installation server on October CMS. Please!

[2017-12-11 09:10] AasemElrayes commented on #1471
If you use something like xxamp and changed port from 80 to 8082 , you have to chang port in "\install_files\js\vendor.js" from 80 to 8082 , it works fine after editing files @Hein-Thu-Ya

[2017-12-11 09:23] Hein-Thu-Ya commented on #1471
Thank You Bro! I Got it

[2017-12-11 13:31] SebastiaanKloos commented on #3294
@immeyti Please take a look at the documentation. I think this will may help you.

http://octobercms.com/docs/backend/relations

[2017-12-11 14:47] immeyti commented on #3294
@SebastiaanKloos Maybe its better to ask my Question in this way
I have 3 Model
Product (jkshop plugin)
Book (my plugin)
Seller (my plugin)
Product hasOne Book
Book belongsToMany Seller
how to use Backend-Relation in Product model for submit a book with Seller relation??

[2017-12-11 14:56] LukeTowers commented on #2804
@HekmatFavid don't change core files (i.e. files under the modules folder), they will be removed in the next update. See http://octobercms.com/docs/plugin/localization#overriding instead

[2017-12-11 15:05] LukeTowers commented on #3294
@immeyti we aren't going to write your code for you. You need to do several things in order for that to work:
1. Setup the relations in your models
2. Setup the inverse of the relations in the third party plugin's models by extending them dynamically http://octobercms.com/docs/database/model#extending-models
3. Extend the third party plugin's Product form fields to include the field that will rend

[2017-12-11 15:05] #3294 closed

[2017-12-12 08:47] roulendz opened #3295 "Question: Disable responsivnes, for specific custom backend page."
##### Expected behavior
Way to disable responsive to specific backend page (custom plugin)
Just to be able to zoom in and zoom out for the page.

##### Actual behavior
I want to be able to zoom in zoom out on the specific custom plugin page.

*Any idea and help would be appreciated!*
##### Reproduce steps
Open admin panel inside a phone or emulate on chrome, and try to zoom in and zoom out with CT

[2017-12-12 11:25] roulendz opened #3297 "Editing CMS/Assets files on PHONE almost every key stroke deletes previos letter."
##### Expected behavior
On phone when editing file, I except that when I type, text writes and works :D See video, hard to explain

##### Actual behavior

When I type on phone in CMS section -> assets it on almost every key press deletes the previous character and it is impossible to edit some minor things on phone
https://www.youtube.com/watch?v=SIpZopkbVaI

##### Reproduce steps
Open backend pan

[2017-12-12 15:51] ibanks opened #3298 "SQL Error on Plugin Removal"
##### Expected behavior
When I remove a plugin via artisan or through the administration panel. I expect every trace of the plugin to be removed without error.

##### Actual behavior
What is happening is that I am receiving an SQL error that says:

`SQLSTATE[42804]: Datatype mismatch: 7 ERROR: column "slide_show_height" cannot be cast automatically to type integer
HINT: You might need to specify "

[2017-12-12 16:51] jonostanck commented on #2984
I also have this problem.

[2017-12-12 20:59] ayumihamsaki commented on #3290
Perfect thanks

[2017-12-12 20:59] #3290 closed

[2017-12-12 21:15] daaru00 commented on #2720
Error is still present, I can't proceed to the install process and create a new admin user.
Doing an echo of `contents` variable on `./vendor/october/rain/src/Config/ConfigWriter.php:44` this is the result:
[code]
You can see `'mysql',` statement is in a strange wrong position, the configuration's parsing seems wrong.

If I delete the redis configuration section from the `./config/database.php` an

[2017-12-12 21:53] ibanks commented on #3298
There was an error with the plugin. I updated the plugin and it was then removed.

[2017-12-12 21:53] #3298 closed

[2017-12-13 15:22] ChVuagniaux opened #3299 "[Market] Connect to private GitHub repos owned by a GitHub organization"
The current behavior (adding user `octoberapp` as a contributor of the repo) work well when the repo is owned by a GitHub user but for organization repos there is an extra cost for each added users. We would be very grateful if we can be avoid this extra cost ;)

There is a way to use GitHub Deploy Keys ? (seems me the more appropriate) instead of adding the `octoberapp` user to the repos.

I don'

[2017-12-13 15:35] LukeTowers commented on #2720
@daaru00 feel free to submit a PR to fix it. Personally I don't use the `october:install` command at all, and you really shouldn't be using it in an automated fashion anyways, that's what `october:up` is for.

[2017-12-13 18:03] LukeTowers commented on #3297
Have you tried checking the issues for the Code editor that we use?

[2017-12-14 13:29] maxibanki opened #3300 "CMS sidebar buttons are not working"
##### Expected behavior

Buttons with links are working

##### Actual behavior

Nothing happens

##### Reproduce steps

Click on a Button.

##### October build

430

![image](https://user-images.githubusercontent.com/17984549/33994532-227a6c6a-e0db-11e7-9f05-14aadebda748.png)

the href of the am element is only `javascript:;`.

[2017-12-14 16:01] LukeTowers commented on #3295
I'm not aware of that shortcut working on any other site, it's always been CTRL + or CTRL -, which works fine for me

[2017-12-14 16:02] LukeTowers commented on #3300
Did you check the JS console?

[2017-12-14 16:04] maxibanki commented on #3300
Empty.

I'm also sure, that this is no caching issue. Because I have Cloudflare and they are really annoying with caching. (Chrome Cache and October Cache also disabled / cleared).

[2017-12-14 18:49] SaifurRahmanMohsin opened #3301 "Permission cms.manage_theme_options not usable without cms.manage_themes"
##### Expected behavior
When a backend user has the permission to **Configure customization options for the active theme** but not **Activate, deactivate and configure CMS themes** navigating to CMS -> Front-end theme should open the active theme's update page directly.

##### Actual behavior
The page returns an "ACCESS DENIED" message.

##### Reproduce steps
1. Create a new client backend account

[2017-12-14 19:11] LukeTowers commented on #3301
@SaifurRahmanMohsin this should be handled by https://github.com/octobercms/october/blob/master/modules/cms/controllers/Themes.php#L48-L55, are you saying that it doesn't?

[2017-12-14 19:39] SaifurRahmanMohsin commented on #3301
That's correct, that event doesn't work as expected. When I first created the client account with the customization permissions (ALLOW) and configure CMS themes (DENY) it actually showed me the "ACCESS DENIED" message rather than redirecting. I'm guessing that the ACCESS DENIED code returns before the event code does and that's why this happens.

[2017-12-14 20:44] LukeTowers commented on #3301
AH! I've got it now :) It was a necessary change but one that caused issues in this case: https://github.com/octobercms/october/commit/c7a3354dfd5fcad9a435dae0f15db4ace80de4ef#diff-6cdbb280344f40eebe758cf8e8e5f7d9.

We're going to have to look at options for hooking in before the authentication system kicks users out, whether that's in the form of a new event or if it's by putting the authenticati

[2017-12-14 20:58] LukeTowers commented on #3300
What do you mean by

?

[2017-12-14 21:09] maxibanki commented on #3300
![image](https://user-images.githubusercontent.com/17984549/34014463-7944a020-e11b-11e7-8138-c315323a9881.png)

[2017-12-15 04:36] LukeTowers commented on #3300
What messages appear in the console when the rocket loader is disabled?

[2017-12-15 07:24] maxibanki commented on #3300
![chrome_2017-12-15_08-22-13](https://user-images.githubusercontent.com/17984549/34031349-2e614580-e171-11e7-863e-b5d6d5a737e0.png)
I don't think that Rocket Loader is the issue, because I've been activating it for the past few months without any problems.

[2017-12-15 14:29] LukeTowers commented on #3300
Does the browser make any network requests when you click on the menu items?

[2017-12-15 18:14] maxibanki commented on #3300
Nope

[2017-12-15 19:33] LukeTowers commented on #3300
Has framework.js loaded? Are there data-request attributes specified on the menu items?

[2017-12-16 12:33] maxibanki commented on #3300
Nope, there aren't data-request attributes there:
![image](https://user-images.githubusercontent.com/17984549/34070382-93eee732-e265-11e7-8d76-8762f7e379c0.png)

(Also in my plugin the controller the deletion of a data set is not working)

[2017-12-17 13:38] HekmatFavid opened #3303 "Delete Pivot table rows programmatically"
I have Users ,Products and Carts pivot table with user_id ,product_id columns.
i want programmatically delete  product_id by desire user_id and use following command:
[code]
this error message appear :
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id' in 'where clause' (SQL: delete from `hb_products_carts` where `id` is null)

how to delete pivot row ?

[2017-12-17 19:41] LukeTowers commented on #3303
Try debugging the raw SQL statement that gets executed by replacing `->first()` with `->toSql()`

[2017-12-17 20:56] LukeTowers opened #3304 "[UX] Add "Apply Filter" button to filter groups"
We should add an "Apply Filter" button to filter groups between the selectable filter options and the selected filters in order to provide a hint to users for how to apply their selected filters.

The current behaviour is requiring the user to close the filter popup by clicking anywhere else on the page before the selected filters are sent in an AJAX request and the list is filtered appropriately.

[2017-12-18 00:37] ranmichael opened #3305 "Richeditor 'Code view' strips 'form' tag even though it's in the 'Allowed tags' list"
##### Expected behavior
Html `<form>` tag and its attributes are saved.

##### Actual behavior
Html `<form>` and `</form>` tags are automatically stripped

##### Reproduce steps
- Edit a page using StaticPages plug-in
- In the richeditor, go to 'code view'
- Try to save a valid form, for example:
[code]
- Hit save (or ctrl+s)

Notice that the opening and closing `<form>` tags (and attirbutes, if p

[2017-12-18 17:58] alxy commented on #3305
The allowed tags is for the codeeditor, not the richeditor widget. I would like to question. wether it is a good idea to allow arbitrary HTML tags in the richeditor. Can't you use a snippet for that purpose?

[2017-12-18 18:49] HekmatFavid commented on #3303
Thank's Luke, i use DB::table Query builder and this works properly.

[2017-12-18 18:49] #3303 closed

[2017-12-18 18:58] ranmichael commented on #3305
Thanks @alxy for your attention.

Exactly. I am using the 'code view' accessible via the RichEditor.
What am I missing?

Actually, I first tried to use a snippet for this, but there is an issue with rendering snippets in Static Pages:
Snippets work in the built-in 'Content' Richeditor or 'simply' added RichEditors.

But, when I add a RichEditor in a Repeater, there is a parsing problem of snippets

[2017-12-19 16:05] Alex360hd commented on #2708
@LukeTowers Does it mean that we will be able to add multiple images thanks to the new media finder, or the media finder will become incompatible with repeater too because it deal with system_files table ?

[2017-12-19 16:31] LukeTowers commented on #2708
@Alex360hd you will be able to add multiple images because of the media finder, it will still not use the system_files table nor will it use relationships. It will not become incompatible with the repeater.

[2017-12-19 16:39] LukeTowers commented on #3305
@ranmichael The real bug here is with the snippet support, not the richeditor. The codeeditor is an entirely separate formwidget from the richeditor, it is not the "code view" for the richeditor. The richeditor should not (and will not) be allowing `<form>` tags

[2017-12-19 17:45] ranmichael commented on #3305
Thanks @LukeTowers for the clarifications.
I figured it might be stripped on purpose - but in that case it is weird that form `<input>` tags are not stripped... no? Is that the bug then?

On a side note,
Snippets, which are an excellent idea, are giving me a hard time since I started using them.
Sometimes snippets break also in the default 'Content' tab in Static pages.

 - i.e. I get a `<figure>`

[2017-12-19 23:02] ibanks opened #3309 "Getting SQL Error In Illuminate/Database/Connection.php"
##### Expected behavior
When creating forms for a custom backend plugin, I expect any field that is of type fileupload to function normally assuming the attach one relationship has been properly established.

##### Actual behavior
Instead, I am getting this SQL error:

`SQLSTATE[HY000]: General error: 208 Invalid object name 'system_files'. [208] (severity 16) [(null)] (SQL: select top 1 * from [s

[2017-12-20 05:35] LukeTowers commented on #3309
That's not how a fileupload formwidget works. For a fileupload formwidget, specify the field name as the name as the attachOne relationship that you want it uploaded to. Fileuploads do not get stored on your table, they get stored in system_files.

[2017-12-20 05:35] #3309 closed

[2017-12-20 06:56] prabhu9484 opened #3311 "Code Cleanup - W3C validator"
[#####] Expected behavior
Should be 0 errors after passing through https://validator.w3.org/

##### Actual behavior
**Option1 : Validate by URI**

When we passed a core install on
http://pfaorissa.co.in/test/test/ through https://validator.w3.org/
We only got 2 warnings and 1 error

**Option2 : Validate by File Upload**

When we uploaded october/themes/demo/pages/home.htm through https://validator

[2017-12-20 07:56] munxar commented on #3311
1. Click on 'more options' on the w3vaidator form and select 'html 5' as document type.
You'll see that only 2 warnings and one error will remain.
2. By investigating the 'error' I could not find this markup.
[code]
which is not correct, because a 'pre' block element can not nested inside a 'p' element. so change the p to a 'div' an your good to go.
p.s. the warnings are more or less self explaini

[2017-12-20 08:50] LukeTowers commented on #3311
As above, thanks @munxar!

[2017-12-20 11:49] maxibanki commented on #3218
Same error on my installation. In the coding he can't find the `.sweet-alert` modal.

[2017-12-20 11:57] simonechinaglia commented on #3218
@LukeTowers  My error was coused by cloudflare integration with double minify action on js.

[2017-12-20 12:10] maxibanki commented on #3218
Oh nice!
For future users who have problems with this, create a page rule and disable performance:
![image](https://user-images.githubusercontent.com/17984549/34206482-0054d85e-e587-11e7-9189-d300ed4f6d29.png)

@LukeTowers please close this issue, because he wrote that it is resolved.

[2017-12-20 12:12] maxibanki commented on #3300
Solved as described in #3218.

[2017-12-20 12:12] #3300 closed

[2017-12-20 19:50] ibanks commented on #3309
That's how I have it. It's a little weird because I have a personal application that I'm working on and the same setup works there but not here for some reason. Here is what I have in my fields.yaml

`
fields:
    ...(some other configs)...

    slider_image:
        label: Upload Image
        description: Your slider image file
        type: fileupload
        mode: image
        fileTypes: jpg,

[2017-12-20 20:13] LukeTowers commented on #3309
What is your DB Schema?

[2017-12-20 20:15] LukeTowers commented on #3218
Perfect, thanks for the update @simonechinaglia & @maxibanki!

[2017-12-20 20:15] #3218 closed

[2017-12-20 20:29] ibanks commented on #3309
This one is SQL Server 2014. The one where it works is PostgreSQL 9.3 (I think).

[2017-12-21 03:46] ibanks commented on #3309
...the "I think" part was specific to the version of Postrges. Sorry about that if there was a misinterpretation. It works just fine using Postgres db.

[2017-12-21 06:29] tim0991 opened #3312 "Problem in use input.preset"
When i enter `this is an question`, i hope i can get `this-is-an-question`,but actually it is `question`

I found a `removeList` in input.preset.js, what is the use of this

![image](https://user-images.githubusercontent.com/26053904/34243352-4f0df5b4-e65b-11e7-9d34-3caec9576731.png)

[2017-12-21 06:49] LukeTowers commented on #3312
@tim0991 the point of this is to remove words that would clutter the slug unnecessarily. See https://kb.yoast.com/kb/list-stop-words/ and http://searchmicroservices.techtarget.com/definition/stop-word

[2017-12-21 06:49] #3312 closed

[2017-12-21 06:50] LukeTowers commented on #3309
No, what is the actual composition of your DB table?

[2017-12-21 07:26] tim0991 commented on #3312
In some cases, we want get the original string, and in wordpress it returns the same thing

![image](https://user-images.githubusercontent.com/26053904/34245032-1f89911a-e663-11e7-8e9c-37d272340999.png)

Can we add an option to control this?

[2017-12-21 07:43] LukeTowers commented on #3312
Sure, make a PR to add support for toggling this feature.

[2017-12-21 08:41] tim0991 opened #3313 "Problem in richeditor with video"
when i insert a video by url，editor create `<video>` tag
![image](https://user-images.githubusercontent.com/26053904/34250317-729e2820-e677-11e7-95a2-6ca668320c7f.png)
![image](https://user-images.githubusercontent.com/26053904/34250342-883acc56-e677-11e7-85fd-0d300164ead9.png)

it can't display in chrome
how can i use `<iframe>` instand of this,
and i test insert video in `froala's wysiwyg-editor

[2017-12-21 11:14] ibanks commented on #3309
You know what? I apologize. How stupid of me. We are using two different RDBMS's, I forgot. The db that the CMS files are hosted on is Postgres while the other is SQL Server for much of the site's processes. I referenced the wrong database (SQL Server) where it does not have the CMS tables. So of course it cannot find the system_files table. Sorry about that.

[2017-12-21 12:47] alvaro-canepa commented on #1415
## I glad to inform about the new plugin, for install private plugins, is coming to Marketplace.

The plugins must be in Bitbucket or Github. The installation process check for missing dependencies, try to find it in marketplace, and if found, recommend to normal installation.

The Bitbucket process are ready. Now i need work on Github.
I need more work for autorun composer if `composer.json` is d

[2017-12-21 13:35] maxibanki opened #3315 "Call to a member function isSuperUser() on null"
##### Expected behavior

No error

##### Actual behavior

Error:
`Call to a member function isSuperUser() on null in modules/backend/controllers/Users.php:53`

Code pointer:
https://github.com/octobercms/october/blob/736188e26fbef08cdefab30c4c5be1bf982decd1/modules/backend/controllers/Users.php#L52-L57

Stacktrace:
![image](https://user-images.githubusercontent.com/17984549/34257925-2f4a125c-e65c-

[2017-12-21 15:48] Alex360hd commented on #1415
Good! I don't see it on the marketplace yet, hope to see it validated very soon !

[2017-12-21 16:46] prhost commented on #1415
@alvaro-canepa sooner than ever hehe, I hope to see this plugin soon in the marketplace. Congratulations

[2017-12-21 17:15] LukeTowers commented on #3315
What are the exact steps and pages you are visiting in order to get this @maxibanki?

[2017-12-21 17:17] LukeTowers commented on #3309
No worries, glad you got your problem solved!

[2017-12-21 17:19] LukeTowers commented on #3313
Use an iframe in the code view. The video insert is for linking to actual videos, not to webpages that contain videos (i.e. YouTube).

[2017-12-21 17:19] #3313 closed

[2017-12-21 17:26] LukeTowers commented on #1415
@alvaro-canepa if you're running the composer requirements, make sure you trigger the run in the project root, not the plugin dir.

[2017-12-21 17:38] alvaro-canepa commented on #1415
@LukeTowers, but the `composer.json` must be in plugin root folder. If i run `composer install` in project root, give error if OC was installed without composer (using web installer).
I use `Symfony Process` to run composer commands.

@prhost jeje, no, now I focus on this plugin, because I needed too ;)

[2017-12-21 21:35] mirorauhala opened #3317 "Variable not correctly initialized in Cms\Classes\Page"
##### Expected behavior
Search concludes there are no pages.

##### Actual behavior
"Undefined variable: references" on line 169 of /var/www/october/modules/cms/classes/Page.php

##### Reproduce steps
1. Install OctoberCMS
2. Install Rainlab.Pages
3. Create a new menu
4. Edit Menu Item
5. Search all references with any 2 letters.
6. Observe **Actual behavior**

##### October build
431

[2017-12-21 22:04] LukeTowers commented on #1415
@alvaro-canepa True. Perhaps just add detection for the October instance using composer (composer.json present in project root) and call it in the correct location accordingly. One other thing that you'll have to consider with composer support if you're calling it in the plugin directory (this gets done on the marketplace as well) is to utilize the `replace` property of composer.json to prevent co

[2017-12-22 03:23] tim0991 commented on #3312
PR https://github.com/octobercms/october/pull/3320

[2017-12-22 03:51] tim0991 commented on #3313
I didn't fully understand what you mean, did you mean if i want to show video in web page, i need to manually use <iframe> in editor by source code

[2017-12-22 06:44] buuug7 opened #3321 "install october with CLI issue"
I installed october with ` composer create-project --prefer-dist october/october
 chicken-soup`, a exception have accured. failured both in  win10 and osx(10.13) with vagrant homestead.
## enviroment
#### win10(version 1709 build 16299.125)
+ virtualbox 5.1.26
+ Vagrant 2.0.0
+ homstead 5.0.1

#### osx(10.13.2)
+ virtualbox 5.2.2
+ Vagrant 2.0.1
+ homstead 5.0.1

## screenshot
#### win10
![image](

[2017-12-22 07:06] buuug7 commented on #3321
i know this exception is no matter for use, this exception is not accured before 431 installed with CLI.

[2017-12-22 09:49] prabhu9484 commented on #3311
Many thanks @munxar and @LukeTowers  - appreciated - merry Christmas and a Happy New Year !

[2017-12-22 10:27] alvaro-canepa commented on #1415
@LukeTowers Is there any way to run `composer install/update` from root project but without affecting the main `/vendor` folder? Something like `composer install "plugins/author/name/"`

[2017-12-22 10:54] gergo85 commented on #3125
It works again on the October build 430.

[2017-12-22 10:54] #3125 closed

[2017-12-22 12:15] alvaro-canepa commented on #2831
It would be great to have the `$baseOctoberDependencies` on some setting or helper, based on installed build.
Maybe `oc_dependencies()` returns the array.

[2017-12-22 12:33] maxibanki commented on #3315
I don't know, I'm not 100% sure. I've created a new user and checked and unchecked a few permissions of him. Also, I've added him to a group. Then I logged me in with this user via an Inkognito tab. After that I realized, that i didn't have enough permissions and gave him Superuser privileges. Then I thought about that and came to the result, this is too much and gave him explicit permissions and

[2017-12-22 13:47] alvaro-canepa commented on #1415
The first plugin with composer has been installed fine. I use the @LukeTowers code on #2831 .
I use the [@norotaro](https://github.com/octobercms/october/issues/2831#issuecomment-299879815) list. But removing `composer-plugin-api`, that made "Not installed package" error.

Now, go to github API devel and test.

[2017-12-22 18:58] LukeTowers commented on #1415
@alvaro-canepa that list is outdated since the update to 5.5, you're best of generating your own or just using only the `illuminate/*: 5.5.*` packages.

[2017-12-22 19:00] LukeTowers commented on #3315
This should only occur if you are trying to access the Users controller without being logged in.

[2017-12-22 19:02] alvaro-canepa commented on #1415
@LukeTowers you right, thanks

[2017-12-22 19:04] LukeTowers commented on #3321
@buuug7 could you check to see if it's due to this change: https://github.com/octobercms/october/commit/fbf482a3f44eb28076d6df5ee46df30befaa0789

[2017-12-22 19:06] LukeTowers commented on #3313
YouTube embeds are not videos, they are embeds of the YouTube webplayer on other pages. So if you want to use those embeds, then you will need to add them manually in the editor source code view.

[2017-12-22 19:35] nwilcox93 opened #3322 "ScssCompiler Error"
##### Expected behavior
Attempting to add sass in this manner:
function onStart(){
    $this->addCss(['assets/sass/global.scss']);
}
##### Actual behavior
Exception is thrown:
file_get_contents(/themes/mytheme/assets/sass/global.scss): failed to open stream: No such file or directory

49 | file_get_contents(…) | ~/vendor/october/rain/src/Parse/Assetic/ScssCompiler.php | 74

I believe it is an issu

[2017-12-22 21:31] LukeTowers commented on #3322
Try the following and let me know if it works:
[code]

[2017-12-22 21:53] nwilcox93 commented on #3322
I applied the code and it still threw the exception.

using `<link href="{{ ['assets/sass/global.scss']|theme }}" rel="stylesheet">` seems to compile the .scss properly.

[2017-12-22 23:43] LukeTowers commented on #3322
What's the exception exactly using my above code?

[2017-12-22 23:59] nwilcox93 commented on #3322
file_get_contents(/themes/mytheme/assets/sass/global.scss): failed to open stream: No such file or directory

C:\Websites\MySite\Website\mysite/themes/mytheme/layouts/default.htm line 74

TYPE
PHP Content

EXCEPTION
Cms\Classes\CmsException
![image](https://user-images.githubusercontent.com/34778416/34315119-9f625bd6-e741-11e7-9e57-789e084c40bd.png)

49 | file_get_contents(…) | ~/vendor/october/ra

[2017-12-23 21:21] LukeTowers commented on #2831
@alvaro-canepa propose the implementation of such a function. I'm imagining a plugin that scans the composer.json / composer.lock files to get the currently installed versions of the dependencies used by the project.

[2017-12-24 09:30] alvaro-canepa commented on #2831
@LukeTowers  I like the idea, a simple plugin, but need to have a updated list, for OC installation without composer. In all my works, I never use the shell to install October as a composer project, I prefer the UI installer. But I don't have `composer.json` / `composer.lock`. In that case, the plugin must have a prebuilder array with OC build number as key.

Sorry my English.

[2017-12-24 13:20] alvaro-canepa commented on #1415
Hi all, for a christmas present, I have a testing version of my plugin. Named **Private Plugins**. I need someone with private github repos to test. I use Bitbucket and free Github account.
it was to be published as pay plugin in marketplace. And of course, is in private repo, so if someone has interest in testing, tell me how send the zip repo plugin.

Thanks and MERRY CHRISTMAS !!!

[2017-12-24 16:39] flyingbaba commented on #3144
Please help with that, where should I put ->middleware('web') , I'm simply using auth like in its basic usage and front end fails to keep the session.

[2017-12-24 16:47] flyingbaba opened #3323 "Frontend RainLab.User fails to keep session"
Build 430

RainLab.User Build: 1.4.5.

Using the simple form for signin: data-request="onSignin" server fails to keep user logged in. This issue happened only on production server, local dev xampp has no issue with what. Sessions are stored as files, file is created but user is logged out right after logging in.

Backend is keeping me logged in without any troubles.

Found this thread here: https:

[2017-12-24 17:59] LukeTowers commented on #3323
This is an issue for the RainLab.User repository, not the main october one.

[2017-12-24 17:59] #3323 closed

[2017-12-24 18:02] LukeTowers commented on #1415
@alvaro-canepa Octobercms@luketowers.ca

[2017-12-24 18:04] LukeTowers commented on #3144
@flyingbaba that's a separate issue, this only applies to custom routes within plugins.

[2017-12-24 18:06] LukeTowers commented on #2831
@alvaro-canepa fair enough. Perhaps the solution is to have the installer leave the composer.lock in the update package as a part of the build process so that it would be accessible to the plugin. We're not going to want to manually maintain such a list.

[2017-12-25 05:21] tim0991 commented on #3313
oh i see~~
* in forala, the editor create `<iframe>` tag
* in october, the editor create `<figure>` tag, front page transform it to `<video>`

[code]

and here support partial to specify custom format

[2017-12-25 05:22] tim0991 commented on #3313
thanks ~

[2017-12-25 12:26] Alainy commented on #3321
#3288 did cause this. I ran `git clone https://github.com/octobercms/october.git;cd october;git checkout develop` then changed `'default' => 'development'` back to `'default' => 'production'` and then ran `composer create-project`. But now the same bug occurs as in #3287. It seems that that `php artisan key:generate` expects an input from the user to continue the command and the default value is *

[2017-12-25 16:47] buuug7 commented on #3321
a normal laravel project need generate the application key for quick start (eg. database is optional config), but the october application need more configurations (not just only generate the application key) unless you run `php artisan october:install` or other ways of installation.

i think `php artisan key:generate` in the `composer.json` is superfluous ,so remove the `php artisan key:generate`

[2017-12-25 23:50] LukeTowers commented on #3321
@buuug7 @Alainy how about if we switch the default environment back to production but make the post-install command `php artisan key:generate --force` instead?

[2017-12-25 23:52] LukeTowers commented on #3313
@tim0991 Feel free to add support for what you're asking for with a pull request, it will get reviewed and merged when ready :)

[2017-12-26 00:07] buuug7 commented on #3321
@Luke Towers this will also cause error, because they can not find a file with '.env' name

[2017-12-26 10:14] alvaro-canepa commented on #1415
Hi @LukeTowers I send the link to download the zip plugin. For private repos, use **Token** auth in GitHub and **OAuth2** auth for Bitbucket. I forget to remove the others authorization methods from settings.

Thanks

[2017-12-26 21:18] adc91 commented on #2852
Thanks @daftspunk

[2017-12-27 00:32] #3287 closed

[2017-12-27 00:32] #3138 closed

[2017-12-27 06:12] prabhu9484 commented on #3311
Many thanks @munxar and @LukeTowers  - appreciated - merry Christmas and a Happy New Year !

[2017-12-27 09:31] Tetraneon opened #3325 "Soft delete scope might not be properly applied globally in Laravel 5.5"
Hi,

This issue appear after October update from 413 to 430

##### Expected behavior

The pagination navbar is disable when I have less items to show than necessary.

##### Actual behavior

Paginating navbar is visible whereas there's less items than indicated by `->paginate(5);`. October seems take care of the deleted items staying in database.

##### Reproduce steps

In my database, I have 14 re

[2017-12-27 15:52] LukeTowers commented on #1743
Example as asked for via email:
JS File (`plugins/myauthor/myplugin/assets/js/froala.js`)
[code]
Extending the backend controller to include your JS file on every backend page (Note, you should be more selective what pages you include it on, i.e. if you just want to add it to your plugin, then extend only your plugin's controllers)
Plugin.php (`plugins/myauthor/myplugin/plugin.php`):
[code]

[2017-12-27 17:36] LukeTowers commented on #3325
@Tetraneon could you please dig into the code that renders the pagination navbar and see if you can spot the change that would be causing this issue?

[2017-12-27 17:42] #3311 closed

[2017-12-27 17:47] LukeTowers commented on #3321
@buuug7 could you make a PR to implement your suggestions and provide a detailed explanation in the PR then please?

[2017-12-27 20:14] fbarrento opened #3327 "Redirect::back() not working"
##### Expected behavior
After submitting a form and perform the validation. If I got an error I expect that the user is redirect to the current position on the same page.

##### Actual behavior
The page is refreshed but the page scroll is at the top.

##### Reproduce steps
1. User submits a form
2. Component perform validation
3. Component redirects back the user to the top of the page instead of

[2017-12-27 20:30] LukeTowers commented on #3327
How is that an October issue? It sounds more like an issue with your markup. Are you using anchor tags?

[2017-12-28 09:26] Tetraneon commented on #3325
Ok... I replace the pagination navbar by the October instruction `{{ items.render }}` and in a second time, by the Laravel one `{{ items.links() }}`

Both gave the same result :
[code]

I have 2 pages when `->paginate(5)` and only 1 when `->paginate(15)`. I think the pagination query doesn't include `"... AND deleted_at IS NOT NULL"`...

[2017-12-28 09:43] alvaro-canepa commented on #1415
Sorry people, but my plugin has been rejected, because "conflict" with Pond.

![image](https://user-images.githubusercontent.com/5142298/34406754-6b90c5fc-eb99-11e7-9ea0-d6a941ec5d83.png)

I love OctoberCMS, but I disagree with that. How I see, my plugin was rejected because Pond is a paid service to deploy private plugins. My plugin do that with less money, only $15 for unique payment.

So, if so

[2017-12-28 14:45] LukeTowers commented on #3325
@Tetraneon could you please post the exact code for your query?

[2017-12-28 18:59] wilirius commented on #3315
@LukeTowers Exactly - going to yourwebsite.test/backend/backend/users shouldn't cause an error, but rather 404 or redirect to the authentication screen. So if your login session expires and you open the tab back up, it ideally wouldn't cause an error.

[2017-12-28 19:21] LukeTowers commented on #3315
Should be fixed by https://github.com/octobercms/october/commit/69e56b0b5b237aaaabfc25f88fc8265c7549f243

[2017-12-28 19:21] #3315 closed

[2017-12-28 20:13] Tetraneon commented on #3325
Oh! Sorry...

The script :
[code]
The model :
[code]
Perhaps, `public $timestamps = true;` is now nécessary in model definition ? I try but nothing happened...

[2017-12-28 20:29] LukeTowers commented on #3325
I'm thinking that the softdelete scope is not being applied to the base `where()` query, try `::where('user_id', $userId)->whereNull('deleted_at')->paginate(5);`

[2017-12-28 22:24] Tetraneon commented on #3325
It works...
Do you think it come with Laravel 5.5 ?

[2017-12-29 15:08] DevKhater commented on #2854
columns:
       number_of_media:
        label: Gallery
        relation: images
        valueFrom: count
        default: 0

    public $attachMany = [
        'images' => ['System\Models\File', 'count' => true],
    ];

it worked for me this way, I can display the number of attached files.

[2017-12-29 15:48] LukeTowers commented on #3325
It might have, there might be a difference in how global scopes (as used by the soft delete trait) get applied. Are you able to try to debug the query object to see if the SoftDeletingScope is applied to it and in what instances it is not?

[2017-12-30 08:41] zietbukuel opened #3330 "{% if partial(partialname) %} returns false even is the file exists"
##### Expected behavior
`partial()` should return true if the partial file exists.

##### Actual behavior
But it doesn't.

This is my code:

[code]

In my layout or pages I call it like this:

`{% partial 'hero' name='contact' %}`

So, the 'hero' variable inside my partial resolves to `contact/hero.htm`. The file exists, but `partial()` is returning false. When I run `{{ dump(hero) }}` it shows em

[2017-12-30 19:16] LukeTowers commented on #3330
If `dump(hero)` is empty, then something is wrong with how you're assigning it.

[2017-12-30 20:35] zietbukuel commented on #3330
Well, that's why I described how I assign the variable and how I make use of it. If it's something wrong on my end, please let me know how to fix it, thanks.

[2017-12-31 06:39] LukeTowers commented on #3330
Is this all of the code you use? If it's getting called more than once on a page there could be race conditions or potentially some other scoping issues causing the variable to be empty.

[2017-12-31 06:42] zietbukuel commented on #3330
Yes, that's all the code. It's being called once per page only.

[2017-12-31 06:45] LukeTowers commented on #3330
Where does `name` get set?

[2017-12-31 06:53] zietbukuel commented on #3330
I call it like this:

`{% partial 'hero' name='contact' %}`

From my pages.

The weird thing is that the variable is visible when I add `dump()` at the bottom, but it's empty for `dump(name)`.

[2017-12-31 15:37] DevKhater commented on #2854
it could be solved by adding partial column type

    number_of_media:
        label: Gallery
        type: partial
        path: ~/plugins/acme/blog/models/products/_content_column.htm

[2017-12-31 17:28] LukeTowers commented on #3330
How about if you try to just echo the variable itself or its JSON representation? I.e. `{{ hero }}` or `{{ hero | json_encode }}`

[2018-01-01 09:34] pikanji opened #3332 "`storage.uploads.disk` in config/cms.php is not effective."
##### Expected behavior
When `storage.uploads.disk` in config/cms.php is set to `s3` (assuming that `s3` is properly configured in config/filesystem.php), the uploaded file from FileUpload widget in backend is uploaded to S3.

##### Actual behavior
The uploaded file is stored in the disk specified by `default` in config/filesystem.php, no matter what is selected in `storage.uploads.disk` in config

[2018-01-01 16:45] arifnyet opened #3334 "Where to get Build <318?"
im sorry.... but can anyone tell me where to get build for octobercms 318.... thanks alot

[2018-01-01 22:48] LukeTowers commented on #3334
@arifnyet why do you need that? You can get the build for 319 and above here: https://github.com/octobercms/october/archive/v1.0.319.zip

[2018-01-01 23:02] LukeTowers commented on #3332
Potentially related: #2917

[2018-01-01 23:05] LukeTowers commented on #3332
Fixed by https://github.com/octobercms/october/commit/54ab6f080a60526fd9685518c1456bc1b7781187

[2018-01-01 23:05] #3332 closed

[2018-01-02 06:01] ronogrimen opened #3335 "Octobercms media not working after updating."
After fixing this problem "Call to undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()" october cms media now is not working.

[2018-01-02 06:02] LukeTowers commented on #3335
**Describe the expected answer here.**

[2018-01-02 06:03] LukeTowers commented on #3335
In all seriousness:
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correc

[2018-01-02 06:16] ronogrimen commented on #3335
![untitled](https://user-images.githubusercontent.com/32258387/34475414-ecbc86e4-efc6-11e7-901a-887bb1bdb3e4.png)
It shows like there's no problem but I cant upload delete or view anything.

[2018-01-02 08:22] Zmove commented on #1415
Hmm yes, also disagree, in addition, pond is not available yet. In addition, this plugin just allow to install some private plugins whereas pond will provide a whole development ecosystem.

Don't understand why the october team doesn't validate this plugin and, at the same time, validated at least 4 plugins that create the same contact form on the frontend.

PS : Your plugin in bitbucket is not av

[2018-01-02 09:26] alvaro-canepa commented on #1415
Thanks @Zmove for your comment. The repo is public now. Be free to use it ;)
Remember to uncompress into `planetadeleste/privateplugins` folders (inside `/plugins`).

Happy 2018 !!!

[2018-01-02 10:22] prhost commented on #1415
@alvaro-canepa is a shame, unfortunately octobercms will give preference to them. Why not put it in github?

[2018-01-02 10:33] alvaro-canepa commented on #1415
@prhost I use Bitbucket because has free private repos. And, at first, this plugin was be a paid plugin. Now I release the repo to be used by anybody ;)

https://bitbucket.org/planetadeleste/oc-private-plugins/overview

Also have a slack channel on [#oc_private_plugins](https://planetadeleste.slack.com/messages/C8LPN7T7G)

[2018-01-02 15:28] LukeTowers commented on #3335
What error do you get? What was your fix? You need to provide more information or I simply can't help you.

[2018-01-02 17:48] arifnyet commented on #3334
it is just my client refused to upgrade to php5.5 for some unknown reason... if it still available can i have a copy.... thanks a lot

[2018-01-02 17:53] LukeTowers commented on #3334
Not a clue. Tell you client that they are risking security issues and that PHP 7 is significantly faster as well.

[2018-01-02 17:53] #3334 closed

[2018-01-02 17:58] arifnyet commented on #3334
@LukeTowers oh ok then... i just have to force them to do it by other means

[2018-01-03 01:34] ronogrimen commented on #3335
I cant add, delete or anything in media page. I fixed it by updating my composer but this problem occurs again  "Call to undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()"

[2018-01-03 02:23] LukeTowers commented on #3335
Funny how you just said the exact same thing again.

How did you update your composer?

[2018-01-03 02:25] ronogrimen commented on #3335
Because that is the problem and u still ask what error did i get.

composer update in terminal

[2018-01-03 04:05] LukeTowers commented on #3335
Are you using a public folder?

[2018-01-03 04:09] ronogrimen commented on #3335
No

[2018-01-03 04:28] LukeTowers commented on #3335
Check your filesystem, are they actually missing from the disk or is it that the browser can't connect to them?

[2018-01-03 05:27] ronogrimen commented on #3335
The file is there. I think the browser cant connect.

[2018-01-03 06:11] LukeTowers commented on #3335
Are you sure you aren't using a symlinked public directory? http://octobercms.com/docs/setup/configuration#public-folder

[2018-01-03 06:17] ronogrimen commented on #3335
Wait. I think im using public directory

[2018-01-03 06:22] LukeTowers commented on #3335
Remove the public directory that you currently have and then run `php artisan october:mirror $nameOfYourPublicDirectory --relative` ($nameOfYourPublicDirectory is usually just `public`).

For future reference the typical script I use when updating October with composer is the following:
[code]

[2018-01-03 06:30] ronogrimen commented on #3335
It's fine now. But i got another error in rainlab pages plugin "Call to undefined method RainLab\Pages\Widgets\PageList::getCollapseStatus()" My current build is 431 and the version of the pages plugin is 1.2.18.

[2018-01-03 06:57] LukeTowers commented on #3335
@ronogrimen Try reinstalling build 431, it doesn't sound like you have the current version of https://github.com/octobercms/october/blob/master/modules/backend/traits/CollapsableWidget.php present on your install.

[2018-01-03 07:08] ronogrimen commented on #3335
Its working now. But I didnt reinstall it, I just overwrite my collapsablewidget.php by the one you gave. Thank you so much but can you please tell me on how to reinstall it properly

[2018-01-03 12:26] r-guimaraes commented on #2227
I know that you guys have already found the solution, but just complementing ...

I set the locale to "Brazil", and timezone to "America/Sao_Paulo" (because obviously that was just my case) at "Profile > Back-end preferences", and that did the trick

Thanks for the answers above

[2018-01-03 17:33] nwilcox93 commented on #3322
I believe i have a fix for the issue on my end.  May need to be tested on Mac.  I added some code to the prepareCombiner function in CombineAssets.php.  See New Code within the foreach loop.

![image](https://user-images.githubusercontent.com/34778416/34531945-cad50282-f079-11e7-89da-2a62a445b76b.png)

It was an issue when making the FileAsset with Assetic.  I'm not an experienced programmer so I'

[2018-01-03 18:56] LukeTowers commented on #3322
That fix works for you and only you @nwilcox93. What you have to do is to set `$this->assetPath` to the correct location. Try `public_path('themes/mytheme/assets/sass/global.sass')` or someother variation. You need to debug it to find out what exact path you need to pass into `assetPath` to make it work, but your code changes won't be helpful for anyone else because it basically just moves that pr

[2018-01-03 20:37] EdisonLV opened #3336 "Any backend's ajax request ends with an error"
##### Expected behavior
Able to view any file (page/partial) in editor

##### Actual behavior
After choosing the file from the list to view I am getting a popup with error in it (see below)

##### October build
431

##### PHP version
7.1.12

![screen shot 2018-01-03 at 3 32 41 pm](https://user-images.githubusercontent.com/2999577/34538826-fe2e6d9a-f09b-11e7-8d70-d2bf936678f9.png)

[2018-01-03 20:49] ranmichael commented on #2254
Same issue here.
Build 431.

I use taglist for **StaticPages** like this:
`{variable type="taglist" name="tags" span="left" label="Filter tags for this item. Separate tags by a comma"}{/variable}`

Can save, but can't reload the static page unless I manually delete the tags.

The error I get is in
Taglist.php on line 143

And tags are saved like this:
Items[1][tags][] = "tag1"
Items[1][tags][] = "

[2018-01-03 21:59] LukeTowers commented on #3336
@EdisonLV are there any errors in your browser console?

[2018-01-03 22:22] LukeTowers commented on #2254
If you set `mode="array"`, on the variable does that fix it @ranmichael?

[2018-01-03 22:45] ranmichael commented on #2254
Yes !
Awesome ! @LukeTowers

Got any magic powder for nested repeaters in Static Pages as well ?

Cheers and happy new year !

[2018-01-03 22:50] ranmichael commented on #2254
Here is the code that doesn't work.
(There is no error, but the variables of the nested repeater are displayed as if they were part of the first Repeater, so we don't see the nested repeater.)

`{repeater tab="Icon Sections" name="Sections" prompt="Add a section" }
            {variable name="sectionTitle" label="Section Title" type="text" size="tiny"}{/variable}
            {# Items #}

[2018-01-04 05:10] lincolnbrito opened #3337 "In Str.php line 487: Illegal offset type in isset or empty"
PHP 7.1 or 7.2

##### Expected behavior
Show the options to install october

##### Actual behavior
[code]

In Str.php line 487:

  Illegal offset type in isset or empty

##### Reproduce steps

##### October build
430

[2018-01-04 05:12] LukeTowers commented on #2254
@ranmichael we'll need to make the `{variable type="taglist"}` default to `mode="array"` then. Sorry, nothing on the nested repeater. That's been reported a couple of times, but nobody's put forward any PRs and I don't have time to fix it myself atm. If I ever run into the issue myself, then it'll probably get fixed, otherwise we'll be relying on the community to provide the fix for that.

[2018-01-04 05:13] LukeTowers commented on #3337
Are you able to dig into the command and see what's causing the issue @lincolnbrito?

[2018-01-04 14:16] ranmichael commented on #2254
Ok Luke,
Thanks again !

[2018-01-04 21:35] nwilcox93 commented on #3322
Setting $this->assetPath in the php section of the layout has no effect on the $assetPath Variable within AssetMaker.php.

I changed to function inside AssetMaker to inspect the variable it is passing to CombineAssets:combine();

    public function combineAssets(array $assets, $localPath = '')
    {
        // Short circuit if no assets actually provided
	    if (empty($assets)) {
		    return ''

[2018-01-04 21:39] LukeTowers commented on #3322
Ah, I see why. It is because methods are called on the controller object, but properties are set on the page object: https://github.com/octobercms/october/blob/master/modules/cms/classes/CodeBase.php.

Try setting `$this->controller->assetPath` instead @nwilcox93

[2018-01-04 21:40] LukeTowers commented on #3322
So it should now be
[code]

[2018-01-04 21:56] nwilcox93 commented on #3322
Way to go.  That fixed it.

[2018-01-04 22:22] LukeTowers commented on #3322
Glad to hear it :) There's always a simple solution 😂

[2018-01-04 22:22] #3322 closed

[2018-01-05 14:00] EdisonLV commented on #3336
Issue can be closed. The problem was identified and fixed. Thnak you

[2018-01-05 14:55] LukeTowers commented on #3336
@EdisonLV could you post what the issue was and the fix so that future visitors to this issue can have some help debugging their issues?

[2018-01-05 14:57] EdisonLV commented on #3336
@LukeTowers it has nothing to do with October itself, it was one of my experimental plugins messing thing up.

[2018-01-05 18:03] LukeTowers commented on #3336
Out of curiosity, have you tested Laravel package discovery with October plugins yet?

[2018-01-05 19:14] EdisonLV commented on #3336
the library I was using still works without ```App::register('\RenatoMarinho\LaravelPageSpeed\ServiceProvider');``` in my plugin's boot() method

[2018-01-05 20:05] jan-vince opened #3339 "ErrorException: putenv() has been disabled for security reasons"
##### Expected behavior
Backed forms should be saved without any errors.

##### Actual behavior
After update to version 431, some backend forms throw error:

[code]

This is related to PHP configuration of my host that do not allow ````putenv()````.

I understand that I can change hosting company but disabled ````putenv()```` is probably more common situation and many more OctoberCMS users can be

[2018-01-05 20:32] LukeTowers commented on #3339
@jan-vince it would be helpful if you could provide the full stack trace of the issue.

[2018-01-05 20:33] LukeTowers commented on #3336
I'm referring to the new feature in Laravel 5.5 where composer packages can define an extra property in their config.json to have Laravel register the service providers automatically.

[2018-01-05 20:43] jan-vince commented on #3339
Sure, here is one of them (from backend Settings - while saving Log settings).

*When I comment all ````putenv()```` calls in ````.../symfony/console/Application.php````, everything is fine and I can save all forms.*

*I don't know yet how (and why) the symfony console package is used while saving backend forms.*

[code]

[2018-01-05 20:50] EdisonLV commented on #3336
As I said before, the package did work without manually registering service provider in boot() method, so I believe package discovery does work with october plugin system.

[2018-01-05 21:07] LukeTowers commented on #3336
Ah, misread that :) Missed the

Thanks for the update!

[2018-01-05 21:12] LukeTowers commented on #3339
`php artisan queue:restart` is called when saving models that implement the SettingsModel because the queue works off of the settings data that was in the database when the queue was started. Thus, for any setting that affects the running of the queue, the queue worker needs to be restarted on updating of that setting for the changes to take effect.

I do think that the current method of doing it

[2018-01-05 21:31] jan-vince commented on #3339
But October will be still dependend on ````putenv()```` calls, isn't it?

I was fine with version 430 so some changes between 430 and 431 introduced this problem.

Will try to dig deeper...

[2018-01-06 08:09] HekmatFavid opened #3340 "Set dropdown emptyOption value"
I have dropdown with following fields.yaml
[code]
in my product table has material_id corresponding material dropdown.
when material_id field defined Nullable in database and user dosent select any option and default option is 'none' Null value save in my database.
i want save 0 instead of null. is solution for define emptyValue like property in fileds ?

[2018-01-06 14:45] LukeTowers commented on #3340
@HekmatFavid try this
[code]

[2018-01-06 17:32] HekmatFavid commented on #3340
It's work properly.
Thank you I really appreciate your help.

[2018-01-06 18:15] LukeTowers commented on #3340
No problem, happy to help!

[2018-01-06 18:15] #3340 closed

[2018-01-06 18:57] LukeTowers commented on #3231
In summary:

If using the `->json()` column type in your migrations, MySQL 5.7 is required to properly support it. This has changed from Laravel 5.3 on where it was changed from being a alias for `->text()` to actually creating a JSON column type in the DB schema.

A shim to determine the version of the database and then call the appropriate method (text if <5.7, json if >=5.7) was considered, how

[2018-01-06 20:36] #3231 closed

[2018-01-07 01:03] bekerov opened #3341 "Unknown "partial" tag when sending User mail templates"
##### Expected behavior
When I want reset password I can't do it.

##### Actual behavior

I got 2 errors in logs when trying reset password:
[code]

2.
[code]

##### Reproduce steps
Cant define steps because this error occured after some time

##### October build
i have old octobercms but tryed php artisan october:update and update octobercms and all plugins (user and blog)

I cant use website any

[2018-01-07 21:10] jan-vince commented on #3339
Hi @LukeTowers,

would you agree to update ````afterModelSave()```` method with ````try...catch```` block like this:

[code]

This would have zero impact on systems with ````putenv()```` enabled but allow installations on limited hostings to be able to save settings that implement ````SettingsModel````.

[2018-01-08 00:15] gregorskii commented on #3268
I have this same issue. Should the updater be smart and know that it cannot update to a version that requires a different PHP version that the system supports? Seems like a bad practice to bomb the system when the admins have not installed PHP 7.

I would imagine it would update to the last version which supports the PHP version the system is on, which is version 1.0.419.

I have explicitly instal

[2018-01-08 01:52] LukeTowers commented on #3268
@gregorskii could you detail exactly what is occurring to "bomb the system"?

[2018-01-08 02:13] LukeTowers commented on #3339
That's probably a good solution in general, but since we're looking at this anyways I'd like a better solution than always restarting the queue driver on every settingsmodel save.

[2018-01-08 02:22] LukeTowers commented on #3341
Try `php artisan cache:clear`

[2018-01-08 03:15] gregorskii commented on #3268
Before I update everything is fine, after server 500s every request. The update fails with a 500 as well.

I would have to rebuild the system to grab the exact error.

The server stack in question is using php 5.7.

[2018-01-08 03:58] bekerov commented on #3341
Nope.
I found problem.
Fresh install octobercms + userplugin.

In file `october\plugins\rainlab\user\views\mail\restore.htm` selected code not work. I think parser cant read tag `partial` in email template.
[code]

[2018-01-08 05:15] LukeTowers commented on #3341
Then you aren't running the latest OctoberCMS version

On Jan 7, 2018 21:59, "Artur Bekerov" <notifications@github.com> wrote:

Nope.
I found problem.
Fresh install octobercms + userplugin.

In file october\plugins\rainlab\user\views\mail\restore.htm selected code
not work. I think parser cant read tag partial in email template.

{% partial 'button' url=link type='positive' body %}
Restore passwor

[2018-01-08 05:16] LukeTowers commented on #3268
So you've installed 419 and it's erroring when you try to attach a project?

[2018-01-08 05:42] gregorskii commented on #3268
Yes, server does not have php 7 so I can not install anything newer.

[2018-01-08 08:13] jan-vince commented on #3339
Hi @LukeTowers

I have created PR #3342 and added a video so you can check, what is fixed and how it works with ````try...catch```` block.

Would be great if you can merge it and add to a next October version.

*To solve a problem with ````queue:restart```` (with every SettingsModel save) is beyond my skills right now. Maybe @daftspunk or @jimcottrell can help here.*

[2018-01-08 14:31] LukeTowers commented on #3339
Merged it @jan-vince, thanks! I'd still like a better solution, but this will work for now.

[2018-01-08 14:41] LukeTowers commented on #3268
@gregorskii when you tried to update to build >=420, you should have had to manually confirm the new requirements of PHP7: https://octobercms.com/changelog

[2018-01-08 15:58] gregorskii commented on #3268
It will work without it 7.0, assuming one follows the instructions and fixes the known issues? Also I did not try to update the second time, I just tried to attack the project, does that trigger an update as well?

[2018-01-08 16:49] LukeTowers commented on #3268
@gregorskii attaching a project will trigger an update to grab the plugins associated with the project. However, it's not going to serve you outdated versions of plugins that are compatible with 419.

I cannot understate how much I recommend that you simply update to at least PHP 7 given the performance and security improvements in general of 7 and the fact that you will be missing out on any futu

[2018-01-08 18:14] jimcottrell commented on #3339
@LukeTowers I disagree that it's ridiculous to restart the queue on any settings change, as settings don't change that often, it's not a giant performance hit, and to me it seems like more work than it's worth to have to decide what settings impact queue workers, possibly forgetting to change flags when settings are added/changed and then having to debug why your system isn't doing what you think

[2018-01-08 19:00] bekerov commented on #3341
I install it with `composer create-project october/october myoctober`.
How it can't be last version?

Also i tryed on different website run `october:up` and last build is 431.

[2018-01-08 19:01] LukeTowers commented on #3339
Fair enough @jimcottrell, those are reasonable points to make. Ideally the issue would be resolved upstream with Laravel, not sure what the best solution on that end would be though

[2018-01-08 19:10] LukeTowers commented on #3341
@bekerov because if you are installing it via composer on PHP < 7 (a requirement of October) then composer will grab the last version that supported PHP < 7, Build 419

[2018-01-08 19:31] gregorskii commented on #3268
Understood that is my goal too, we manage quite a lot of projects and this is not one of mine. I am updating a related system and getting pulled into a world of hurt here. :)

I'll update it and let you know what I find.

[2018-01-08 19:34] bekerov commented on #3341
thanks.
so why plugins also dont check php version?

[2018-01-08 19:39] LukeTowers commented on #3341
Because the plugins don't define PHP as a requirement since October already does and they require October to work

[2018-01-08 20:37] bekerov commented on #3341
Updated php to 7.2 version.
Then run `php artisan october:update` and it found 1 update.
Then i got error:
[code]

Tryed on 2 websites and same problem. For first website it breaks `php artisan command`.
[code]

Could you please help with it?

[2018-01-08 21:58] LukeTowers commented on #3341
If you install via composer then you need to update via composer. Replace composer.json with the current version from the repository and run composer update

[2018-01-08 22:31] bekerov commented on #3341
after replace composer.json and composer install same error :(

[2018-01-08 22:33] bekerov commented on #3341
when laravel/framework changed from 5.1.* to 5.5.* i got this error

[2018-01-08 22:39] LukeTowers commented on #3341
@bekerov the problem with the attribute filter does not exist is a plugin that is not Laravel 5.5 compatible, what is the full stack trace for that particular error?

[2018-01-09 01:45] gregorskii commented on #3268
Think I was able to update PHP 7 in this projects Vagrant install.

Ran into #3321.

[2018-01-09 03:25] LukeTowers commented on #3268
@gregorskii that's not a huge issue, just rerun `php artisan key:generate` after running `php artisan october:env`

[2018-01-09 03:25] tim0991 opened #3344 "Add ability to configure whether or not backend users must be activated before they can login"
https://github.com/octobercms/october/blob/33d492fda730814089087c68778b5238cf510de4/modules/backend/classes/AuthManager.php#L24

In my test, i found no matter what `backend_users.is_activated` value is, the backend users can signin

https://github.com/octobercms/library/blob/master/src/Auth/Manager.php#L372-L374
[code]
So, `Backend\Classes\AuthManager` override `October\Rain\Auth\Manager`'s `requi

[2018-01-09 04:05] gregorskii commented on #3268
Yes, but the issue is it fails on composer new. That’s how the ansible job is creating the instance.

[2018-01-09 07:05] gregorskii commented on #3268
Done. I had a few things I had to update:

cipher type, update the APP_KEY to new cipher
used locked composer.json file which removes the post install command to generate the key -> rather than using composer new to create a new october project in the container
install php7.2-zip
updated configs to .env type removing most custom configs in config/ (not required, but seems to make sense)
lots of ot

[2018-01-09 13:06] LukeTowers commented on #3268
Not a problem @gregorskii, glad I could help you update!

[2018-01-09 13:06] #3268 closed

[2018-01-10 01:22] pikanji opened #3346 "`storage.uploads.disk` in config/cms.php is still not effective for some part"
My fix for #3332 was not enough. Although the problem I reported there was fixed, I found other functions, such as deletion of uploaded files, are still not working due to the same problem (`System\Models\File` is partially using `default` in config/filesystems.php).
To fix this issue, I suggest to make its base class `October\Rain\Database\Attach\File` a bit more scalable instead of adding more o

[2018-01-10 06:16] LukeTowers commented on #1956
@barryrld the routing for backend requests happens here: https://github.com/octobercms/october/blob/master/modules/backend/routes.php. It passes any backend request to `\Backend\Classes\BackendController` which then handles the request within the `run()` method where it attempts to route the request to either a module or a plugin to be handled by a controller that extends `\Backend\Classes\Control

[2018-01-10 09:56] MattPurland commented on #3126
@rangrage this fixed it for me too, not entirely sure why composer.json didn't have the correct Laravel version. Didn't need to fix the MediaLibrary issue though. Cheers!

[2018-01-10 12:34] buuug7 opened #3348 "this is a suggestion for october"
## suggestion
While most apps are trying to lose weight, october can not be a exception. At present the most important task is to fix the bug and reduce unnecessary features, octoberCMS aim is not to solve all problems, just like C++, try to create a universal language, this led to the C++ is arcane and difficult to use.Many years passed, and no substitute for C.

The original intention of october

[2018-01-10 14:32] LukeTowers commented on #3348
There are no specific changes suggested that are actionable. We aren't going to be removing the LESS/SCSS asset compilation feature since
a. That breaks people's expectations that October will remain stable.
b. I like using that feature and as a developer find it incredibly useful.

We're not going to remove MailBrandSetting either because of the people's expectations that October will continue to

[2018-01-10 14:33] LukeTowers commented on #3126
@MattPurland composer.json does not get updated by composer update, so when you updated via composer you pulled in Build 420+ but you were not using Build 420+'s composer.json

[2018-01-10 15:13] buuug7 opened #3351 "MediaManager quickMode lead to uploaded-files directory more and more big"
## description
if uploaded image from richeditor, MediaManager will use quickModel upload all images to a directory named **uploaded-files**, this lead **uploaded-files** directory more and more big, it need several minutes to open it.

![october-media](https://user-images.githubusercontent.com/12119289/34779689-e763e390-f65b-11e7-8e6d-d45da7df80a2.png)

## suggestion
When the quickMode is enable,

[2018-01-10 15:39] LukeTowers commented on #3351
How about `/uploaded-files/YYYY/MM/$filename-$uuid.$extension` instead?

[2018-01-10 15:51] buuug7 commented on #3351
@LukeTowers it good. However, I am afraid that if the files in this folder grow too fast in a month, for example, 2,000 pictures will be uploaded in one month, which will cause the folder to be too large.Do you have any other ideas?

[2018-01-10 16:17] LukeTowers commented on #3351
2,000 pictures in a month seems a bit excessive, perhaps this is something that needs to be made configurable with `cms.storage.media.quickModeFolder => 'uploaded-files/{Y}/{m}/{d}/{filename}-{uuid}.{ext}'`

[2018-01-10 16:36] buuug7 commented on #3351
@LukeTowers Your idea is great. When are you going to implement it? I can't wait.

[2018-01-10 16:50] kojaktaha opened #3352 "Hidden Fields in Backend forms are not being saved"
##### Expected behavior
When a Backed Form is Submitted with hidden the values in the Hidden should be carried to the Database and saved.

##### Actual behavior
Data is not saved

##### Reproduce steps
if I create a form with a hidden field, and then use the filterFields() function in the Model responsible from the form to add value to that hidden field,, the value is not saved into the database.

[2018-01-10 23:51] LukeTowers commented on #3351
You can implement it yourself and make it in this PR, I'll provide feedback on the code you write but it should be fairly straightforward. =

[2018-01-10 23:55] LukeTowers commented on #3352
This is done on purpose, disabled and hidden fields are removed from the dataset because otherwise the user could craft a request to change those values: https://github.com/octobercms/october/blob/master/modules/backend/widgets/Form.php#L983.

If you need to set a model property through code only and not allow a user to do it then use a hidden field but hook into beforeSave() or similar on the mod

[2018-01-10 23:55] #3352 closed

[2018-01-11 07:29] d4wner commented on #3257
#### ADLab of Venustech

[2018-01-11 07:36] LukeTowers commented on #3257
?

[2018-01-11 09:48] kojaktaha commented on #3352
The problem is that if I have a field that was initially hidden and change it to visible if still will not save the data!!

[2018-01-11 09:55] kojaktaha commented on #3352
Just as an additional note for future lost developers like me .... if you want to hide a field ... don't hide it in the fields.yaml file .... make it visible there and hide it using filterFields() in the model responsible for that form, as Luke said .. hidden fields in fields.yaml are not to be submitted.

[2018-01-11 11:07] buuug7 commented on #3351
@LukeTowers yes.

[2018-01-11 11:49] buuug7 opened #3354 "MediaManager Can not upload filename with Unicode character"
##### Description
When upload filename with Unicode characters, MediaManager worked very bizarre. For example, we upload a file with `波比.jpg` name, the MediaMange prompt upload success, but we could not found it in the MediaManage. actually, it upload `波比.jpg`  and rename it with `.jpg` name, only contain the the dot and file extension.

##### Screenshot
![media1](https://user-images.githubusercon

[2018-01-11 14:33] LukeTowers commented on #2603
Discussion continued in #3354

[2018-01-11 14:33] LukeTowers commented on #3354
Duplicate of #2603 but this is a better issue report so any discussion will be here instead

[2018-01-11 14:37] LukeTowers commented on #3354
@buuug7 while your suggestion of the URL generator is appreciated, I want to add extra dependencies only as a last resort. How does Laravel handle unicode file name issues? What can we do with the dependencies that we already have available to us? What are the concerns with saving non-latin characters to the filesystem?

[2018-01-11 14:42] LukeTowers commented on #3352
Fields hidden with $field->hidden = true in filterFields() should have the same effect @kojaktaha, is this not the case?

[2018-01-11 15:09] EdisonLV opened #3355 "Pagination render method"
The error was shown after October upgrade from 419 to 431

##### Expected behavior
Render pagination after calling ```$articles->render()``` method (I am using it in the backend)

##### Actual behavior
Spits out an error (see bellow)

[code]

##### October build
431

[2018-01-11 16:34] Eoler commented on #3354
Some of (not so recent) browsers on very popular OS still have trouble displaying images with spaces in URIs so it would be great to at least slugify filenames for uploaded Media Manager files - Laravel's built-in Str::slug works fine for that purpose with all Latin languages.

[2018-01-11 17:10] buuug7 commented on #3354
@Eoler  agree

[2018-01-11 18:00] LukeTowers commented on #3354
@Eoler @buuug7 what about for non-latin characters? I'm fine with the slugifying, would prefer a solution that keeps the unicode characters present if possible without adding extra dependencies

[2018-01-11 18:02] LukeTowers commented on #3355
Full stack trace please.

[2018-01-11 18:07] EdisonLV commented on #3355
Thank you!

[code]

[2018-01-11 18:09] LukeTowers commented on #3355
@EdisonLV looks like the issue is with the BigBuzz.Rates plugin on your site:
`#6 /example.com/plugins/bigbuzz/rates/controllers/tables/logs.htm(49): Illuminate\Pagination\Paginator->render()`
Contact the plugin author to resolve the issue.

[2018-01-11 22:17] jimcottrell opened #3358 "ListController display can render slowly depending on model's $appends usage."
##### Expected behavior
The `ListController` behavior will put together tables of model data with minimal unnecessary data access.

##### Actual behavior
If a list defines a record URL, then rendering each row calls the model's `toArray` function so that any model attribute can be used as a URL parameter. The `toArray` call adds all attributes defined in the model's `$appends` property. If the mod

[2018-01-12 06:24] LukeTowers commented on #3358
@jimcottrell What is the difference in values when using `getAttirbutes` vs `toArray`?

[2018-01-12 07:10] Eoler commented on #3354
Don't know how are non-latin characters translated to slugs, maybe @buuug7 can elaborate. Also, not sure I really wan't my CMS users to upload media files with Unicode names...

[2018-01-12 16:50] buuug7 commented on #3354
@LukeTowers @Eoler , Unicode contains more characters than ASCII and Latin, it represent future. For example, Utf8 is the most widely used on the Internet a unicode implementation approach, which is designed for transmission codes, and makes the code without borders, so you can show that the all cultural characters in the world.

[2018-01-12 16:56] buuug7 commented on #3354
@LukeTowers Laravel Str::slug only works with Latin laguage. For brevity, it does not provide additional Unicode support. if a developer needed Unicde support unless he find a solution. this keep laravel framework lighter weight.

[2018-01-12 17:01] buuug7 commented on #3354
@LukeTowers  There is no need to implementation with october. there is no need reinvent the wheel. Besides, it takes extra effort to maintain this feature, and I think it's necessary to use the third-party packages.

[2018-01-12 17:06] buuug7 commented on #3351
@LukeTowers this issue should be suspended for a while until #3354  is solved.

[2018-01-12 18:21] jimcottrell commented on #3358
@LukeTowers `getAttributes` returns the model's `$attributes` property, so just the current attribute values loaded from the database with any changes. The `toArray` function is the full array representation of the model (`toJson` just encodes the results of `toArray`), so `$attributes` plus anything added by `$appends`, any relationships that aren't hidden, any `$appends` and relationships those

[2018-01-12 20:24] WWRFresource commented on #2964
I too would like to know how to do this. Currently, I have a controller for my plugin called Dashboard. I was able to replicate the Backend Index module to display the dashboard on this controller's index. However, it just duplicates whatever is already on the main dashboard.

I would like to be able to specify my own config_dashboard.yaml to use with this controller.

[2018-01-12 23:01] #3321 closed

[2018-01-12 23:08] LukeTowers commented on #2964
@WWRFresource @Klaasie @tdolph The `$context` property is a public property of the ReportContainer widget, it should be accessible through the widget's configuration.
Try
[code]
as seen here: https://github.com/octobercms/october/blob/master/modules/backend/controllers/Index.php#L65

[2018-01-12 23:19] LukeTowers commented on #3358
@jimcottrell looks like `toArray` was added on purpose by @daftspunk (https://github.com/octobercms/october/commit/ac9df4c0763c12c7e4f19a6bcfe499e397ac6fdf) so it's a use case that we'll have to support.

I think probably the best solution would be to consolidate both sections into a `parseRecordLocation($recordLocation)` that would then look at a config value `includeAppendsInLocation` (or someth

[2018-01-12 23:20] LukeTowers commented on #3354
@buuug7 `Str::ascii()` exists in Laravel, can we use that instead?

[2018-01-12 23:28] jimcottrell commented on #3358
@LukeTowers Fair enough. I'd still prefer parsing the URL for parameter names and having it access only the attributes that are used as parameters. If someone needs to use an appended attribute that does extra work, they could do that and live with the performance hit or work around it with an eager load or whatever, but it would still only be that one needed attribute instead of pulling all appen

[2018-01-12 23:34] LukeTowers commented on #3358
@jimcottrell if you can make a PR to parse it go for it :)

[2018-01-13 03:45] daftspunk commented on #2802
Replicated then fixed by https://github.com/octobercms/library/commit/8535756d220db6559781c26433be8fb7b94aeb5e

This will be available in Build 433+

[2018-01-13 03:45] #2802 closed

[2018-01-13 12:31] buuug7 commented on #3354
@LukeTowers tested with this ,seems it not work.
[code]

[2018-01-13 18:32] LukeTowers commented on #3354
@buuug7 is the dependency you suggested going to introduce new system requirements for October? https://github.com/ausi/slug-generator/blob/master/composer.json? They require:
[code]
Also, would it make more sense to load this dependency into the October Library and then utilize it within October's Str::slug method?

[2018-01-13 19:32] jan-vince commented on #3339
Right now the original problem with Exception is solved so I will close this.

[2018-01-13 19:32] #3339 closed

[2018-01-14 20:05] miy4mori commented on #3264
same issue.
finally,I have to use css instead of scss.

[2018-01-14 21:11] LukeTowers commented on #3264
@miy4mori did you try the solution: https://github.com/octobercms/october/issues/3264#issuecomment-346857066?

[2018-01-15 01:36] ARH-Digital commented on #3256
Is this related to Laravel no longer supporting Mail::send()?
https://laravel.com/docs/5.4/upgrade

I have updated a site from build 419 to 431, and the Mail::send() is having issues. I am unsure if this  relates to what is described above.

[2018-01-15 07:12] buuug7 commented on #3354
@LukeTowers yes, load this denpendency into October Library and packaged with `Str::slug` method is very good. i try it.

[2018-01-15 08:06] miy4mori commented on #3264
@LukeTowers Yes, I tried, but in my case it just did not throw an exception, and scss does not seem to be compiled correctly. I did not carefully verify in a hurry , I will take the time to do more verification.

[2018-01-15 10:35] Alex360hd commented on #3048
Just a few question about the new text filter. How do you use "%like%" with that field ?

Actually, I can make it working with that condition :

    conditions: invoiceNumber = :value

But I would like to be able to search in the middle of the value string, something like that :

    conditions: invoiceNumber like :%value%

I tested all kind of syntax (like %:value%), (%like% :value) etc... could

[2018-01-15 11:09] SeriousKen opened #3359 "artisan october:install fails withe SQLite database"
##### Expected behavior
Installs October CMS correctly

##### Actual behavior
PDO Error

In Connection.php line 664:

  SQLSTATE[HY000]: General error: 1 no such table: system_settings (SQL: select * from "system_settings" where "item"  = system_log_settings limit 1)

In PDOConnection.php line 79:

  SQLSTATE[HY000]: General error: 1 no such table: system_settings

In PDOConnection.php line 77:

[2018-01-15 12:14] buuug7 commented on #3359
this need be fixed, caused by recent 432build, under processing

[2018-01-15 16:27] LukeTowers commented on #3359
@SeriousKen this is because the default is set to MySQL in .env, and .env is generated on project creation with Composer as of Build 432. @buuug7 is working on a Regular Expression for the ConfigWriter class to handle env() values for configs, but in the meantime you can change the config in .env to point to your SQLite database and then run `php artisan october:up` to run the migrations.

[2018-01-15 16:33] LukeTowers commented on #3048
@Alex360hd https://github.com/octobercms/october/blob/master/modules/backend/widgets/Filter.php#L740-L742 is where it gets parsed into the query, try playing around with that and see what you find out.

[2018-01-15 16:56] LukeTowers commented on #3264
@miy4mori Keep in mind that each array element is its own compilation context, i.e. `['variables.scss', 'main.scss']` won't work because `variables.scss` won't be included in `main.scss`. To get around that you `@include variables.scss` in `main.scss`. The other thing is that the current version of the SCSS compilation library may not support some of the features you are trying to use, look at the

[2018-01-15 16:59] LukeTowers commented on #3256
@ARH-Digital no, not unless you were using the `Class@send` syntax in your `Mail::send()`. Are you using the `mail` driver?

[2018-01-15 21:42] ARH-Digital commented on #3256
@LukeTowers I was using the `mail` driver yes. After viewing all of the above though, I have switched to the `sendmail` driver  as mentioned by @plyusninva

The `Mail::send()` that failed to work was:

        Mail::send('pluginVendor.pluginName::mail.template', $data, function ($message) {
            $message->to(env('NOTIFICATION_EMAIL'));
            $message->subject(env('NOTIFICATION_SUBJECT

[2018-01-15 23:02] LukeTowers commented on #3256
So have you tried googling that error in regards to sendmail?

[2018-01-15 23:24] ARH-Digital commented on #3256
Apologies for not communicating clearly.
It is now working using `sendmail` It was failing while using the `mail` driver.

[2018-01-16 17:01] LukeTowers commented on #3256
@ARH-Digital ah, I see. In the future please read the full thread and try the suggestions mentioned before commenting. Glad to hear you've got it working though!

[2018-01-16 21:11] jofrysutanto opened #3360 "Update phpunit dependency from ~5.7 to ~6.0 to match Laravel 5.5"
##### Expected behavior
Writing tests in OctoberCMS is expected to support Laravel TestCase helpers.

##### Actual behavior
Some of Laravel TestCase helper traits such as `assertDatabaseHas()` breaks due to missing expected PHPUnit class dependency:

[code]

##### Reproduce steps
Clean installation of October build 420+ (Laravel 5.5)
Create new unit tests that utilises Laravel `InteractsWithDataba

[2018-01-17 01:04] LukeTowers commented on #3358
@jimcottrell could you provide a PR for how the revised list widget would handle the new Router\Helper method?

[2018-01-17 01:07] jimcottrell commented on #3358
@LukeTowers Ha, was right in the middle of it.

[2018-01-17 03:06] sunyakun00 opened #3362 "Custom 404 returns 200 OK header"
##### Expected behavior
when a custom 404 page is set, the http header should return 404 code.
##### Actual behavior
it returns 200 OK code in header.
##### Reproduce steps
create a custom 404.htm, check the status code
##### October build
CMS version 415

[2018-01-17 03:11] sunyakun00 commented on #3362
after tracing the code, I have found the reason.

\modules\cms\classes\Controller.php

        /*
         * Extensibility
         */
        if ($event = $this->fireSystemEvent('cms.page.display', [$url, $page, $result])) {
            return $event;
        }

        if (!is_string($result)) {
            return $result;
        }

        return Response::make($result, $this->statusCode);

wh

[2018-01-17 05:59] sunyakun00 commented on #3362
here is my fix. I know changing core file is not a good idea, but for the time being, I have to do this.

        if (!$page->exists || $url === '404') {
            return Response::make($result, $this->statusCode);
        }
        /*
         * Extensibility
         */
        if ($event = $this->fireSystemEvent('cms.page.display', [$url, $page, $result])) {
            return $event;

[2018-01-17 06:18] sunyakun00 commented on #3362
this is my quick fix, even though it's not a good idea to change the core files, but I have to fix it for the time being.

if (!$page->exists || $page->url == "/404/" || $url === '404') {
            return Response::make($result, $this->statusCode);
        }
        /*
         * Extensibility
         */
        if ($event = $this->fireSystemEvent('cms.page.display', [$url, $page, $result])) {

[2018-01-17 08:30] vtangel opened #3364 "Custom pivot form depends on selected item"
##### Expected behavior
In backend relation behavior **belongs to many (with Pivot Data)**, how to custom pivot form fields depends on selected item when add or link.

[https://octobercms.com/docs/backend/relations#belongs-to-many-pivot](url)
##### October build
4.31

[2018-01-17 09:25] ronogrimen opened #3365 "Administrator in octobercms"
![error](https://user-images.githubusercontent.com/32258387/35035122-4cb459d8-fbab-11e7-86d9-2c21c7f03e08.png)
This error pop ups when creating admin user

##### October build
(October build number 432)

[2018-01-17 14:06] #3364 closed

[2018-01-17 16:08] WWRFresource commented on #2964
@LukeTowers Thanks for the update. Quick question though-I tried using my own config_dashboard.yaml as referenced and this does not seem to work. I am really trying to display a specific report widget for this controller so my backend users do not have to add it to the controller themselves. I tried setting the canAddAndDelete property to false. This causes no report widgets to be displayed. So I

[2018-01-18 01:45] LukeTowers commented on #2964
The widgets are loaded here: https://github.com/octobercms/october/blob/master/modules/backend/widgets/ReportContainer.php#L302. The `addWidget()` method can't be used in your case because that is where the canAddAndDelete property is checked.

Two options exist here, either we can make a change checking that property only in the AJAX handles, therefore only preventing users from making changes; o

[2018-01-18 01:57] LukeTowers commented on #3365
Duplicate of #3341. Discussion will continue there.

[2018-01-18 01:57] #3365 closed

[2018-01-18 01:57] LukeTowers commented on #3341
This would be happening if you have the Build 420+ version of https://github.com/octobercms/october/blob/master/modules/backend/views/mail/invite.htm but you don't have the changes in https://github.com/octobercms/october/commit/18b9253bcbfb1480254e7e601274ad0e2279ce1f#diff-fa443c75b14275af0e30b8973b50926d or they aren't taking affect for some reason.

[2018-01-18 01:58] LukeTowers commented on #3362
@sunyakun00 you should contact the plugin author and get them to return a properly formed response object with the correct header codes.

[2018-01-18 01:58] #3362 closed

[2018-01-18 01:59] LukeTowers commented on #3364
What?

[2018-01-18 02:44] ronogrimen commented on #3341
@LukeTowers this is my invite.htm

subject = "Welcome to October CMS"
layout = "system"
==

Hi {{ name }},

A user account has been created for you.

Login: {{ login }}

Password: {{ password }}

After signing in you should change your password by clicking your name on the top right corner of the administration area.

You can use the following link to sign in:
{{ link }}

==

<p>Hi {{ name }},</p>

[2018-01-18 17:46] LukeTowers commented on #3341
@ronogrimen what build number of October are you running? Did you install with the installer or via composer?

[2018-01-19 02:46] ronogrimen commented on #3341
432. Via composer

[2018-01-19 02:48] LukeTowers commented on #3341
@ronogrimen what does your composer.json look like?

[2018-01-19 03:38] ronogrimen commented on #3341
{
    "name": "october/october",
    "description": "October CMS",
    "homepage": "http://octobercms.com",
    "keywords": ["october", "cms", "octobercms", "laravel"],
    "license": "MIT",
    "authors": [
        {
            "name": "Alexey Bobkov",
            "email": "aleksey.bobkov@gmail.com",
            "role": "Co-founder"
        },
        {
            "name": "Samuel Georges",

[2018-01-19 09:47] wishxupanpan opened #3366 "Is there any support for gif tailoring?"
Is there any support for gif tailoring?
The type of gif displayed at the foreground is no longer dynamic after the getThumb method,but I need a gif map of the right size

[2018-01-19 19:15] LukeTowers commented on #3366
?

[2018-01-19 19:17] LukeTowers commented on #3341
@ronogrimen you are very clearly not on build 432, you are on build 419:
[code]

[2018-01-20 17:42] jeison24 commented on #3015
I got this bug with PHP 7.2.0

How I can fixed ?

[2018-01-21 15:33] LukeTowers commented on #3015
@jeison24 are you using the code in https://github.com/octobercms/library/commit/384024082f8425e45c3b308af4a3deb2c5f17aaf

[2018-01-21 22:09] jeison24 commented on #3015
@LukeTowers Yes, I fixed with that. But there is not other solution from laravel?

[2018-01-21 22:23] LukeTowers commented on #3015
Not sure what you're looking for @jeison24?

[2018-01-22 02:55] ronogrimen commented on #3341
But in the backend its 432. What I need to do now? There's no update in the backend

[2018-01-22 03:01] LukeTowers commented on #3341
@ronogrimen every time you run the process that updates the build number all it does is poll the latest build number from the marketplace and set it as your current build. Because your composer version is locked to 419, it would update that number incorrectly. You will need to make sure that your environment is running PHP7 and then replace your composer.json with the version of composer.json curr

[2018-01-22 09:16] Alex360hd opened #3368 "Issue with afterCreate() model and HTML page"
Hello,

I noticed a strange thing and I'm not sure if I found a bug or if it's the expected behavior. In all case, if it's not a bug, I think the documentation should be updated to notice that behavior.

I need to communicate with an API when I create a new model. Basically, this is to synchronize stock level between my product model and an external API.

To do that, I use the afterCreate() method

[2018-01-22 10:38] alxy commented on #3368
Can you confirm ``$product->slug`` yields the correct (expected) value? Also, if you visit the page using the browser, do you see the attributes beeing populated?

[2018-01-22 22:24] jimcottrell commented on #3368
@Alex360hd Is this when you create a model in the OctoberCMS backend? And is the URL that you're calling out to then immediately loading a page displaying the model you've just created? I don't understand why that would be necessary, but that's the impression I'm getting, so it should be said that with October's `FormController` behavior, at the time `afterCreate` runs you're in an open database t

[2018-01-23 08:18] Alex360hd commented on #3368
Hello,

What I'm trying to do is to work with [Snipcart API](https://docs.snipcart.com/api-reference/products#post-products). I want to create the product on snipcart when I create it on october CMS backend.

Their POST call is made for that, and, as you can see in the doc, the parameter you need to pass is the url where you can find the product with it's add to cart button (fetchUrl), the snipcar

[2018-01-23 09:15] marijnhurkens opened #3369 "Issue installing on PHP 7.2 on Windows"
##### Expected behavior
I tried to install OctoberCMS on Windows using PHP 7.1.9, PHP 7.2.0 and PHP 7.2.1. The installation passes the checks but fail when the installation starts  (and I assume it also fails on PHP 7.1.8). Installation works on PHP 7.0.22.

##### Actual behavior
PHP crashes:

`Process finished with exit code -1073741819`

##### Reproduce steps
On windows:

1. Unzip OctoberCMS to

[2018-01-23 14:10] LukeTowers commented on #3368
@Alex360hd you could handle it in your controller's formAfterCreate() method: https://github.com/octobercms/october/blob/master/modules/backend/behaviors/FormController.php#L238-L246

[2018-01-24 07:10] daftspunk commented on #3359
Should be fixed in Build 433+

[2018-01-24 07:10] #3359 closed

[2018-01-24 07:11] daftspunk commented on #3321
Should be fixed in Build 433+

[2018-01-24 08:12] alaatarek95 opened #3371 "View [0] not found. ../vendor/laravel/framework/src/Illuminate/View/FileViewFinder.php line 137"
on opening mail templates in settings it should return all templates

but actually  it shows this error in this project only ,, I don't know why I have changed the vendor and modules files but I still receiving this error ,, I tried to enter new mail templates manualy to the database table system_mail_templates but I recieved error while sending mail by them saying (Unknown "partial" tag in "__str

[2018-01-24 08:49] Teranode commented on #2714
@daftspunk would this be a good way to implement it?
![](https://image.prntscr.com/image/oVFCQU55RqiCbAgdkAVA5A.png)

each plugin can be toggled rather than doing a select/deselect all.

[2018-01-24 14:55] LukeTowers commented on #3371
@alaatarek95 did you install via composer or the installer?

[2018-01-24 15:01] LukeTowers commented on #2714
@Teranode a switch is better, but I think it could probably be made even simpler. Would you be able to do it in a table layout?

| Plugin | Freeze Updates | Disable Plugin |
| --- | --- | --- |
| RainLab.User | Off | Off |
| Uxms.Restful | Off | On |

[2018-01-24 15:26] LukeTowers commented on #3097
Duplicate of #2168

[2018-01-24 15:26] #3097 closed

[2018-01-24 21:39] Teranode commented on #2714
@LukeTowers ![](https://image.prntscr.com/image/caSkxRi1Sn2g6Cl5NyM7YA.png)

would this work, also changed the words to a yes/no since its more a question where you want to do an action

[2018-01-25 01:39] Teranode commented on #2714
Final Product(?)
![](https://image.prntscr.com/image/nWXppyBiRFG1RmvUGBdIVg.png)

[2018-01-25 05:35] Teranode commented on #3009
I wanted to take a look at this problem but im not getting an replicated issues with it.
@LukeTowers if the PR i submitted works for this then we can close this.
@edhardie ill need yo to test this when it is pushed,

[2018-01-25 07:02] LukeTowers commented on #2714
That looks better, but now to take it a step further a couple of things:
Plugins should be left aligned, everything else is so it makes more sense for it to be as well.
What do you think about the configuration happening on every change of the switch via AJAX request? On that note, how about integrating those as a Switch column type displaying it directly in the plugins list itself as an idea? The

[2018-01-25 09:07] oliverpool commented on #2714
(novice view) I would suggest to inverse all the switches: **Update to new versions** and **Plugin enabled**.
That way the pop-up will look *greener*.

Otherwise the first feeling is "so much red? something must be wrong!"

[2018-01-25 10:05] TimFoerster commented on #2714
I would prefer

Plugin | Updates enabled | Plugin enabled
------------ | ------------- | -------------
RainLab.User | on / yes (green) | on / yes (green)

[2018-01-25 14:18] Teranode commented on #2714
That way the pop-up will look greener.

Otherwise the first feeling is "so much red? something must be wrong!"

This is a choice left completely up to you, those texts can be changed as they are in the lang folder.
@TimFoerster @oliverpool

Plugins should be left aligned, everything else is so it makes more sense for it to be as well.
What do you think about the configuration happening on every ch

[2018-01-25 14:34] oliverpool commented on #2714
I also prefer `#4`.

You can change the text, but you can't **inverse the meaning of the switch**:
I think that an *activated, updatable* plugin should look green (which is the `Yes` value)

[2018-01-25 15:01] Teranode commented on #2714
I don't know, I wanna have @LukeTowers input on this. I just want to focus on function. That visual aspect seems too minor for me to change it. I mean i get what you are saying

[2018-01-25 16:50] Harti commented on #3176
For future reference, this seems to happen only on some local development setups due to various timeout or script execution times not being set long enough for the installation to finish, cf. https://octobercms.com/forum/post/504-gateway-time-out-error-on-unpacking-of-application-files

[2018-01-26 16:10] Alex360hd commented on #3368
Hello,

I used formAfterCreate() as suggested and it works like a charm. Thank you for the help !

Best regards,

Alex

[2018-01-26 16:10] #3368 closed

[2018-01-27 02:26] LukeTowers commented on #2714
@Teranode I like #4 the best too. Could you vertical align middle the plugin names?

Let's take a step back here for a moment though, could we perhaps take some design inspiration from WordPress (gasp I know, the sacrilege 😆 )? I know you'd like an improvement on the existing UX, and really anything would be; but if we're going through the trouble of making the changes we may as well try to make i

[2018-01-27 14:12] Teranode commented on #2714
@LukeTowers

![](https://image.prntscr.com/image/zEeQdE8EQEigcKqvXkp2SA.png)

Also, I suggest going into the storm css and changing
[code]

vertical-align to middle, because the list and the regular table is affected by this. Right now its on top.

[2018-01-27 17:59] alaatarek95 commented on #3371
@LukeTowers via installer

[2018-01-27 18:29] LukeTowers commented on #3371
Have you disabled core updates? Can you upgrade to the latest build? It'll require PHP 7

[2018-01-27 22:46] LukeTowers commented on #2714
@Teranode the changes would be in https://github.com/octobercms/october/blob/develop/modules/system/assets/ui/less/list.base.less#L29 for the vertical align, but I don't know if we want to change that 100% by default. Could you make the change, recompile the assets, and then test across lists in the backend to see if anything looks out of position with the change?

As for the toolbar buttons, I wa

[2018-01-28 01:24] Teranode commented on #2714
@LukeTowers well i borrowed your 'bulk-actions' js from the user plugins file. an issue i have with that is when i use one of the bulk action the separate 'remove' button stays as if an item is checked, so i had to move it to the dropdown (with a confirmation so users know that they're deleting it)

[2018-01-28 05:31] LukeTowers commented on #2714
@Teranode can't you unselect the affected plugins after performing a bulk action to fix that issue? I would like it in a different button altogether given the gravity of accidentally pressing it. If it's in the same dropdown as the other actions with the same confirmation dialog, then it's not marked important enough from the other actions. Any thoughts on that? Also, do you have a screenshot with

[2018-01-28 05:42] Teranode commented on #2714
@LukeTowers

![](https://image.prntscr.com/image/ugCvcImtQIadjWDk2xrMgg.png)

[2018-01-28 08:17] alaatarek95 commented on #3371
it works! thank you @LukeTowers

[2018-01-28 08:17] #3371 closed

[2018-01-28 21:37] LukeTowers commented on #2714
@Teranode Looking pretty awesome! Question, you seem to have added a new JS control `bulk-actions`, any reason why you didn't use the dropdown control instead? http://octobercms.com/docs/ui/dropdown.

[2018-01-29 00:06] Teranode commented on #2714
@LukeTowers it was kind of a last mineute thing, tryna do this before i get bombarded with work, then i found out i still got 2 days, so ill take a look at that dropdown later

[2018-01-29 08:41] chrisvidal opened #3376 "Add chunking abilities to ImportExportBehavior"
##### Expected behavior
to export 100 000 records from a model with 2 relations

##### Actual behavior
Out of Memory or Timeout

##### Reproduce steps
setup a model with 100 000 records and 2 relations

##### October build
431

[2018-01-29 09:49] abdulla-allaith commented on #3009
I'm facing the same issue, some plugins are getting added to `disabled.json` automatically "intermittently" as @edhardie described.

[2018-01-29 11:31] munxar commented on #3376
if you need that much data, use the eloquent [chunk function](https://laravel.com/docs/5.5/eloquent#chunking-results) to query your model.
consequently you should stream the csv or append to a local file and response that if done.
the standard ex- importer can't handle this situation. you'll have to the controller logic by yourself.

probably we could make the ex, importer behavior handle this?

P

[2018-01-29 12:00] chrisvidal commented on #3376
Thanks for your answer @munxar

So basically I would have to rewrite a whole new export behavior, right?

[2018-01-29 14:41] LukeTowers commented on #3376
Chunking import and exports is something that I would like to add by default to October, there was a plugin that implemented that behaviour pretty nicely a while ago but I can't remember what it was called exactly. For now you'd have to implement it yourself @chrisvidal but it is something that would be nice to have in core.

[2018-01-29 14:42] LukeTowers commented on #3009
@abdulla-allaith are you able to nail down the process to a set of reproducible steps? We can't do anything unless we can reliably reproduce the issue.

[2018-01-29 15:03] edhardie commented on #3009
Hi all. @Teranode I can have a go at testing for you if you've got some code I can run.  I've got this very hacky temporary fix in place in `modules/system/classes/PluginManager.php `

[code]
With those two being the plugins that caused problems.

@abdulla-allaith we might be able to narrow this down a bit further now it's not just me and @neilcarpenter1 seeing this. What OS and PHP version are yo

[2018-01-30 13:49] chrisvidal commented on #3376
oh I would love to find this plugin back then hehe to avoid wasting time.
I'll try to find it. Do you remember by any chance what was doing this plugin? Was it published in the officials October plugins listing?
Chunking by default in OC import/export would be nice indeed. +1

[2018-01-30 15:07] abdulla-allaith commented on #3009
@edhardie Sorry I just found out my issue is different, in which I have disabled plugins and I was not able to re-enable them. Even if I deleted them from `disabled.json` they always came back. I found the solution in #2714 and my plugins are now enabled and they do not get disabled like before.

[2018-01-31 15:59] LukeTowers commented on #3376
@chrisvidal No, I don't think it was in the marketplace, I think it was just a random Github Repository. The author may have taken it down to theoretically polish it up for a more public release but I can't remember.

[2018-02-01 01:29] chrisvidal commented on #3376
Oh I see, Hmmm, I found this one https://github.com/canthis/oc-chunk-import.

[2018-02-01 03:08] LukeTowers commented on #3376
@chrisvidal that's the one I was thinking of!

[2018-02-01 06:00] rajakhoury commented on #3130
Please i'd appreciate some guidance as I am having the same problem using `Mail::queueOn()`
I reinstalled October ( build 433 ) and I doesnt seem to solve it as it was mentioned by @daftspunk.

Could someone please try this  ( I'm using Redis ) :

	use Mail;

	Mail::queueOn( 'mail-queue' , 'plugin.mail.view' , $data, function ($message) use ($email, $name) {
		$message->to($email, $name);
	});

Er

[2018-02-01 10:59] rangrage opened #3377 "Database Missing error ("Illegal offset type" on line 245)"
##### Expected behavior
Access the /backend

##### Actual behavior
When trying to access the /backend on an existing installation (which was working fine yesterday) I am getting the "DATABASE MISSING" error.

When visiting the frontend the following error message is displayed:

`Illegal offset type
C:\xampp\htdocs\october\vendor\laravel\framework\src\Illuminate\Database\Connectors\ConnectionFactor

[2018-02-01 11:51] rangrage commented on #3377
This is an issue with xampp.

Steps to remedy:

- Stop MySQL and Apache services.
- Quit XAMPP from Control Panel.
- Restart PC.

Still unsure why this problem occurred.

[2018-02-01 11:51] #3377 closed

[2018-02-01 14:07] tylerssn opened #3378 "Updates only reflecting after adjusting file-case. Docker for Mac issue or October CMS?"
##### Expected behavior
See changes to files reflected immediately if cache has been cleared or disabled

##### Actual behavior
File changes are often not seen until renaming the file with a different letter-case. For example, renaming Contacts.php -> contacts.php and then restoring to Contacts.php

##### Reproduce steps
Setup dev environment with Docker for Mac (more specifically, Lando, which is

[2018-02-01 16:08] LukeTowers commented on #3378
Probably Docker for Mac issue, never heard of that happening before.

[2018-02-01 16:10] LukeTowers commented on #3130
@rajakhoury do you have the contents of https://github.com/octobercms/library/commit/a9c5c87603c8a3bea1fdc42b3a7ef2a4975363cd in your vendor folder?

[2018-02-01 17:25] rajakhoury commented on #3130
@LukeTowers Yes, I checked it yesterday after you mentioned it on Slack and again after updating.

Are you sure this is not an issue with Laravel Files ?

Looking at October\Rain\Mail\Mailer which extends Illuminate\Mail\Mailer and I see a same warning in the `queue` method :

**Illuminate\Mail\Mailer.php**
![editor-warining](https://user-images.githubusercontent.com/4506434/35692975-5ed7ff5a-0742

[2018-02-01 17:51] LukeTowers commented on #3130
@rajakhoury are you able to do some extra debugging to see if you can find the root cause and provide a fix in the form of a PR?

[2018-02-01 19:26] rajakhoury commented on #3130
@LukeTowers sure i'm trying :)

[2018-02-02 11:50] trnikon commented on #2629
@poniatowski 502 record_ids + 497 sort_orders = 999 + _session_key + _token = **1001 > 1000**. Always leave some room.

I had the same problem and increasing `max_input_vars` fixed it. In my case I increased it from 1000 to 4000.

[2018-02-02 14:40] LukeTowers commented on #2629
@trnikon couldn't we store the array of ids and the array of sort orders in one variable each? Why does each sort order and each id need to be it's own variable?

[2018-02-02 19:05] msimkunas opened #3380 "Meta noindex tag on backend pages"
##### Expected behavior
The backend pages should have the `meta` noindex tag set.

##### Actual behavior
They don't.

##### Reproduce steps
N/A

##### October build
431

Backend pages should have the `<meta name="robots" content="noindex">` tag set in their layout to prevent search engines from indexing them. More info: https://support.google.com/webmasters/answer/93710?hl=en

Using the `robots.tx

[2018-02-02 19:36] LukeTowers commented on #3380
Fixed by https://github.com/octobercms/october/commit/77ae173c24614b83898f2ac2dd5c7352c643cea4

[2018-02-02 19:36] #3380 closed

[2018-02-02 20:17] msimkunas commented on #3380
Thanks for the quick response!
This only adds the tag to internal backend pages though. The sign in page remains unaffected.

[2018-02-02 21:01] LukeTowers commented on #3380
@msimkunas Good catch, fixed in https://github.com/octobercms/october/commit/a916d99de4ec98e07b595b3446b413aec5bf107d

[2018-02-03 23:58] ibanks opened #3381 "Backend Form Update Issue"
##### Expected behavior
On the backend, when using the built in FormController to build a custom slider plugin that uses the widget's create, update, and preview controller views, I expect when saving the slider to be updated, using the update view along with the example for the update.htm file provided in the OctoberCMS docs, that the slider and any updated content is saved successfully.

##### A

[2018-02-04 04:29] LukeTowers commented on #3381
Post your code for the view (`update.htm`), your controller class, your config_form.yaml, your fields.yaml, and your model class. Make sure to enclose it properly in three backticks at the start and end of each file to indicate that it is code. @ibanks

[2018-02-04 15:51] ibanks commented on #3381
Thanks for assisting.

**update.htm**

[code]
**Controller**
[code]
**form_config.yaml**
[code]

**fields.yaml**

[code]

[2018-02-04 17:28] LukeTowers commented on #3381
I need the model class as well

[2018-02-04 18:05] ibanks commented on #3381
Here it is:

**Sliders.php (model)**

[code]

[2018-02-04 18:11] ibanks commented on #3381
The idea is that after creating the new slider, the customer will go directly to the preview page. From the preview page, they can choose to update it, publish it (mark it active in the db), delete it, or save it for later (mark it pending in the db).

So it's not exactly in the same order as suggested in the repo docs.

[2018-02-04 20:29] LukeTowers commented on #3381
@ibanks what's the `morphOne` relationship for?

[2018-02-04 22:59] ibanks commented on #3381
So when the admin first clicks on the Slider Plugin, the first backend page I want them to see is a page that has all of the active sliders with their images and text. I found that when I pull all of active sliders from the Sliders table, it would not load the image with the slider record. In order words, I'd get everything but the image. The actual image is stored in the system_files table.

In o

[2018-02-04 23:49] LukeTowers commented on #3381
What's the exact error message you get when trying to save a record?

[2018-02-05 00:20] ibanks commented on #3381
So when I create a new record, that is being done successfully. When I try to update an image, it's saying "Please upload a slider image".

This is the url of the update page if it helps:

http://kamby/backend/kamby/slider/create/update/3

[2018-02-05 01:17] tylerssn commented on #3378
I believe this is connected to the container that I am building from changing a Memcached setting.

[2018-02-05 01:17] #3378 closed

[2018-02-05 12:51] SiyuQian opened #3382 "Add support for more than one nested folder in the CMS file browser"
##### Expected behavior
Display the whole folder directory tree in the admin panel

##### Actual behavior
The backend view:
![image](https://user-images.githubusercontent.com/24470452/35805071-4dfc1e5a-0adf-11e8-97c2-55fdde8a4411.png)

My folder structure:
![image](https://user-images.githubusercontent.com/24470452/35805112-77ef8fe4-0adf-11e8-85ff-4736a21bd9f1.png)

##### Discussion
I am not sure

[2018-02-05 13:05] munxar commented on #3382
afaik, you can just have one level of subdirs. so pillar folder is ok, slider is one level to deep.
this is documented somewhere but i couldn't find it right now.

[2018-02-05 15:53] LukeTowers commented on #3382
@SiyuQian @munxar http://octobercms.com/docs/cms/themes#subdirectories. Personally I'm not opposed if someone wanted to make a PR to add support for infinite subdirectories.

[2018-02-05 21:43] brunocascio opened #3383 "Notice about reserved words"
##### Expected behavior

Prevent users to use reserved words or handle this properly (?)

##### Actual behavior

I was trying to create a model that contains a column named "rules". Assigning the column into a repeater field make an SQL Exception (maybe it is removed from post data)

##### Reproduce steps

- Create schema with column 'rules' (not null)
- Assign it into a repeater field
- Try to cr

[2018-02-05 23:51] LukeTowers commented on #3383
What was the exact error?

[2018-02-06 00:08] brunocascio commented on #3383
Hi @LukeTowers. I've just updated the issue steps in order to improve the description

[2018-02-06 00:10] brunocascio commented on #3383
NOTE: I changed the name of the column to "some_rules" and it works...

[2018-02-06 05:48] LukeTowers commented on #3383
What happens if you make the rules column nullable? I usually make any jsonable columns nullable.

[2018-02-06 17:50] LukeTowers commented on #3383
Are you using the validation trait on your model? @brunocascio
The validation trait uses the rules property to store the validation rules, so you can't have a rules database column if you already have a rules property on the model being used for other purposes.

[2018-02-06 17:54] brunocascio commented on #3383
This is my model file: @LukeTowers

[code]

Am I missing something? You are right about validations but are not working 🤔 .

[2018-02-06 18:01] LukeTowers commented on #3383
Remove `use \October\Rain\Database\Traits\Validation;` `public $rules = [];` and add `rules` to the jsonable and it will work. I suggest you just name your column something else though because the validation trait is pretty useful.

[2018-02-06 18:05] brunocascio commented on #3383
Thanks @LukeTowers! Finally, I used another column name. However, would be great add this in the docs since no error description about this is provided. 😄

[2018-02-06 18:14] rajakhoury commented on #3130
@LukeTowers no luck so far - My temporary workaround is to create Jobs, dispatch it to the Mail queue , and just use the default `Mail::send()` - I'll keep you guys posted.

[2018-02-06 19:24] LukeTowers commented on #3383
Feel free to make a PR to the octobercms/docs repository, ping me when you do and I'll review and merge it.

[2018-02-06 19:24] #3383 closed

[2018-02-06 21:24] alxy opened #3384 "Subject is always "Mailable" for queued mails"
##### Expected behavior
The subject is not correctly processed if mails are queued. Actually it will always be "Mailable". This bug is even present on the octobercms.com website, whenever you get a mail for a subscribed form thread.

##### Actual behavior
The mail should show the correct title.

##### Reproduce steps
``Mail::sendTo('admin@domain.tld', 'acme.blog::mail.message', $params);``
``Mail:

[2018-02-07 15:55] ibanks commented on #3381
@LukeTowers As always I appreciate you taking the time to look into any issues I find. I'm sure you have a lot on your plate. In the meantime, is there any kind of work around that you or anyone else would suggest that I can implement to move forward on developing this plugin? Time is really of the essence for me. Thanks in advance.

[2018-02-07 15:56] LukeTowers commented on #3381
@ibanks why is the URL /create/update?

[2018-02-07 17:25] ibanks commented on #3381
I have four links on the left vertical sidebar of the backend page for the slider: Active (to see all active sliders), Create (to create a new slider), Pending (to see all pending/saved-for-later sliders), and Deactivated (to see all sliders that have been deactivated).

I found _(and I could be wrong)_ that in order for each link to be highlighted, each one should be it's own controller/view setu

[2018-02-07 18:31] LukeTowers commented on #3381
You don't have to have a different controller for each action just to have the navigation link marked as current, just do the following:
[code]
etc. etc.

[2018-02-07 20:23] ibanks commented on #3381
Okay. Thanks. I will try this and reply to the ticket.

[2018-02-08 02:53] SiyuQian commented on #3382
Hey Luke,
Thank you for the documentation link. BTW, Luke can you help me to confirm that October Team is agreed on merge the 'add support for infinite subdirectories' to the project. (You know, I just wanted my codes more meaningful) If it is OK, I might do this when I finished all my paid projects.
Cheers,
Siyu Qian

[2018-02-08 03:08] LukeTowers commented on #3382
@SiyuQian I personally am not opposed to it; and as long as the implementation and user experience can retain simplicity at the core of it all then I don't think any of the other core members will mind either. Be prepared for the potential of lots of review comments on your PR though :)

[2018-02-08 06:21] munxar commented on #3382
@LukeTowers @SiyuQian I have good news: By just setting this attribute to null, i could use any depth from code.
https://github.com/octobercms/library/blob/4d1418ec5a86c86d4761b8cea00e68bcd8ce523e/src/Halcyon/Model.php#L88
Basically every file based model (static pages, email templates, ...) uses this, the change should be in every subclass. But the backend didn't reflect this change (work needed

[2018-02-08 11:13] woeps opened #3385 "Rich Editor (Froala) misplaces button after horizontal separator"
##### Expected behavior
Regarding October's Rich Editor (Froala): Displayed horizontal separator (`-` in backend editor settings > toolbar buttons) should take up the whole with, without any button being rendered in the same line. Following buttons should be placed below the separator.
![](https://screenshotscdn.firefoxusercontent.com/images/c9892be0-fff6-4257-8af4-ae81c62ffc5e.png)

##### Actual

[2018-02-08 11:49] ibanks commented on #3381
Okay. So I've made the changes where I have just one controller with the various actions but it still does not solve the problem. Both the update action and the create action call the same onSave method. The create action works just fine. In looking further into it, it seems that somewhere in the onSave method, it is not reading that an image is already uploaded.

Here is the image node's HTML on

[2018-02-08 17:05] LukeTowers commented on #3381
Can I see the latest version of your Controller class?

[2018-02-08 17:18] LukeTowers commented on #3385
@woeps What is the behaviour of changing that rule to 100% below 1275px (especially on mobile)?

[2018-02-08 17:34] LukeTowers commented on #3382
@munxar we'd probably want to focus on one thing at a time, so we would change that variable in https://github.com/octobercms/october/blob/master/modules/cms/classes/Partial.php or perhaps in https://github.com/octobercms/october/blob/master/modules/cms/classes/CmsCompoundObject.php if we changed the UX for all the CMS file listing.

I like the breadcrumb idea @munxar, could you provide a screensh

[2018-02-08 18:48] rajakhoury opened #3386 "[Question] Register Mail Layouts & Partials"
I'd like to sync / refresh Mail Layouts, Templates & Partials from the command like something like `php artisan update-mails` - Sometimes it is useful after pushing new files to the server.

The Templates Model has a great method `syncAll();` that looks for registered templates in plugins but the Layout & Partial Model don't.

My question what is the best practice for creating layouts ? ( Location

[2018-02-08 19:58] LukeTowers commented on #3203
@daftspunk please also fix https://github.com/octobercms/october/issues/3385

[2018-02-08 19:58] LukeTowers commented on #3385
I've pinged @daftspunk to include this fix when he takes care of #3203

[2018-02-08 20:27] PanikaValecha opened #3387 "Upon updating. get the error - Class 'TwitterAPIExchange' not found"
##### Expected behavior
Website should open successfully

##### Actual behavior
Below is the screenshot:
![screen shot 2018-02-08 at 1 27 46 pm](https://user-images.githubusercontent.com/21162472/35996504-ea24febe-0cd3-11e8-89b6-17b1af0294e4.png)

![screen shot 2018-02-08 at 1 27 54 pm](https://user-images.githubusercontent.com/21162472/35996509-ed578534-0cd3-11e8-80c0-ea5e818796db.png)

I am quit

[2018-02-08 20:27] ghost opened #3388 "Backend list column sorting of jsonable element"
Hello,

I noticed something strange when you work with backend list with sortable json column.

let's assume you have a "customer" json field like that

    {
        firstname: 'John',
        lastname: 'Doe'
    }

In your column.yaml you want to output the firstname and lastname in separate columns.

    customer[firstname]:
        label: Firstname
        type: text
        searchable: true

[2018-02-08 20:54] LukeTowers commented on #3387
I am quite sure that the exception is because you are missing the TwitterAPIExchange class. Sounds like a dependency your site has that you've removed. Did you install via composer but then update with the web interface?

[2018-02-08 20:57] PanikaValecha commented on #3387
I just updated using the cms backend. I didn't install via composer.

[2018-02-08 20:59] LukeTowers commented on #3387
What's the contents of multi-theme-master/partials/cta2.htm?

[2018-02-08 21:00] PanikaValecha commented on #3387
<div class="twitter-space">
<h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms twitter-space2">We are now on TWITTER</h2>
  <div class="twitter-status wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">{{ this.page.status|md }}</div>
  <br/>
  <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
  <img class="img img-circle" src="{{ this.page.prof

[2018-02-08 21:00] PanikaValecha commented on #3387
<div class="twitter-space">
<h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms twitter-space2">ECG IS ON TWITTER</h2>
  <div class="twitter-status wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">{{ this.page.status|md }}</div>
  <br/>
  <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
  <img class="img img-circle" src="{{ this.page.profile_

[2018-02-08 21:02] PanikaValecha commented on #3387
![screen shot 2018-02-08 at 2 01 50 pm](https://user-images.githubusercontent.com/21162472/35998022-a458fba6-0cd8-11e8-973f-7ae5141acffa.png)

[2018-02-08 21:04] PanikaValecha commented on #3387
//More code above this..
$requestMethod = 'GET';

  #   $twitter = new TwitterAPIExchange($settings);
    $response = $twitter->setGetfield($getfield)
            ->buildOauth($url, $requestMethod)
            ->performRequest();
    $tweets = json_decode($response);
    $tweet = $tweets[0];
    //$this->pr($tweet);

    $this->page["status"] = $this->stringToLink($tweet->text);
    $this->page["t

[2018-02-08 21:25] PanikaValecha opened #3389 "Changes made to markdown editor are not reflected on the website"
##### Expected behavior
Markdown editor options do not work as expected. I created the following blog:
![screen shot 2018-02-08 at 2 21 40 pm](https://user-images.githubusercontent.com/21162472/35998976-8ab6191a-0cdb-11e8-8c82-250cc76564f7.png)

##### Actual behavior
When I preview the blog on the website, It shows "#" for headings as it is and "**" too. The headings are only shown when I use html

[2018-02-09 04:07] LukeTowers commented on #3387
Did you make the site? The library you are trying to use doesn't come with October, it must have been added by whoever made the site

[2018-02-09 04:31] LukeTowers commented on #1622
@ikanell you can use route grouping to accomplish what you want.

[2018-02-09 04:32] LukeTowers commented on #3389
How are you rendering the post? @PanikaValecha

[2018-02-09 13:31] marcomessa opened #3390 "Issue with fileUploader in a model saved through RelationController behavior"
##### Scenario
I have a Product model with RelationController behavior, which $belongsTo Blueprint model. I need to create a Blueprint from inside Product form, using backend relationships. The Blueprint model has $attachOne and $attachMany fields. I'm in Product create action ( onRelationManageCreate() )

##### Expected behavior
I expect to be able to correctly set and save both $attachOne and $a

[2018-02-09 13:46] ibanks commented on #3381
Here is the latest version:

[code]

[2018-02-09 16:30] PanikaValecha commented on #3387
@LukeTowers - Yes, I didn't make this website. However. I didn't change anything too. Previously, we had the build 419 and then I updated october cms and the current build is 431. So, if the library worked fine previously, it should work with the current update too.

[2018-02-09 16:32] PanikaValecha commented on #3389
@LukeTowers - I have a blog.htm page that displays all the blogs. When I preview the blog.htm page, I get the above attached preview.

[2018-02-09 17:27] LukeTowers commented on #3389
Can you post the contents of the blog.htm?

[2018-02-09 17:29] LukeTowers commented on #3387
Not if the person who integrated the library tossed it in the vendor or modules directory without going through the correct process. Does your website directory have a composer.json file present?

[2018-02-09 17:33] LukeTowers commented on #3390
Sounds like somethings going wrong with your deferred binding on the create. Are you able to dig deeper and see if you can find the issue?

[2018-02-09 18:04] marcomessa commented on #3390
Sure! I'm inspetting onRelationManageCreate() call with xDebug and i can tell that:

1) deferredBinding is set tu true
2) view mode is single
3) my attachments fields in $saveData are set to -1 - maybe this is the issue? Maybe not, because the same happens when inspecting onRelationManageUpdate()

Just to check if I made some king of implementing error, here are my steps:

- in Products controller

[2018-02-09 18:31] PanikaValecha commented on #3387
Yes, it has a composer.json file

[2018-02-09 18:32] LukeTowers commented on #3387
Post the contents please

[2018-02-09 18:33] LukeTowers commented on #3390
@marcomessa thanks for the update! Your configuration looks okay, not sure what the issue would be. Keep me posted please :)

[2018-02-09 18:33] PanikaValecha commented on #3389
![screen shot 2018-02-09 at 11 33 01 am](https://user-images.githubusercontent.com/21162472/36043589-071d3536-0d8d-11e8-8abd-b5c38a1b3d72.png)

The code is linked to the  blog database.

[2018-02-09 18:37] PanikaValecha commented on #3387
![screen shot 2018-02-09 at 11 36 16 am](https://user-images.githubusercontent.com/21162472/36043747-9288c950-0d8d-11e8-9d98-c976bc9e3386.png)

![screen shot 2018-02-09 at 11 36 08 am](https://user-images.githubusercontent.com/21162472/36043759-9c22dc4e-0d8d-11e8-9df8-d3977c81bfd3.png)

[2018-02-09 19:47] LukeTowers commented on #3387
Are you sure that's what's in the yourwebsite/composer.json file and not what's in the yourwebsite/vendor/october/rain/composer.json file?

[2018-02-09 19:48] PanikaValecha commented on #3387
This one is the /vendor/october/rain/composer.json file

[2018-02-09 19:51] LukeTowers commented on #3389
I need to see the contents of the blog partial, the partial where your blog post is actually getting rendered. My guess is it's missing the `|md` filter if using the `.content` property or it's not using the `.content_html | raw`

[2018-02-09 19:51] LukeTowers commented on #3387
No, I need to know if you have a /composer.json file.

[2018-02-09 19:52] PanikaValecha commented on #3387
I can find another html/composer.json file that has the october cms information. It is that the one you are asking?

[2018-02-09 19:54] PanikaValecha commented on #3389
This doesn't involve any partial. I am just using the blog hyperlink in the footer of the website. That link is linked to the blog page and not partial.

[2018-02-09 20:01] PanikaValecha commented on #3387
![screen shot 2018-02-09 at 12 59 52 pm](https://user-images.githubusercontent.com/21162472/36047395-363edff2-0d99-11e8-857c-2c9a958b828d.png)
![screen shot 2018-02-09 at 1 00 13 pm](https://user-images.githubusercontent.com/21162472/36047398-380d0548-0d99-11e8-831d-9a86bc028deb.png)

There is just this composer.json file , besides the one that I previously sent.

[2018-02-09 20:02] LukeTowers commented on #3389
See line 18 in your screenshot.

[2018-02-09 20:02] LukeTowers commented on #3387
I need to know if the website you are currently having problems with has a composer.json file for the website, which would be in the website_dir/composer.json file.

The reason I need to know this is because the person who made the site for you should have included the dependency in the project's composer.json. This isn't an issue with October at any rate, it's an issue specific to your website. I

[2018-02-09 20:03] PanikaValecha commented on #3389
![screen shot 2018-02-09 at 1 02 28 pm](https://user-images.githubusercontent.com/21162472/36047496-84e88586-0d99-11e8-944b-2b7acd31fb8d.png)

Oops, sorry..this is the content blog the blog partial.

[2018-02-09 20:05] LukeTowers commented on #3387
That's what I'm looking for. You need to update the site by running `composer update` in your website root.

[2018-02-09 20:06] PanikaValecha commented on #3387
The composer file that I just sent is the one in the website directory..

[2018-02-09 20:06] LukeTowers commented on #3389
there's your problem. Change `{{ result | raw }}` to `{{ result | md }}`

[2018-02-09 20:06] #3389 closed

[2018-02-09 20:06] PanikaValecha commented on #3387
oh..okay. Let me try updating it then. Thanks.

[2018-02-09 20:08] PanikaValecha commented on #3389
That worked. Thanks a lot :)

[2018-02-09 20:17] PanikaValecha commented on #3387
That worked!! thanks a lot for all your help. I really appreciate it. Thanks again!!

[2018-02-09 20:41] LukeTowers commented on #3387
Not a problem. Since your site is using composer, I highly recommend that you disable admin panel updates by setting `disableCoreUpdates` to true and only updating through composer in the future https://github.com/octobercms/october/blob/master/config/cms.php#L119

[2018-02-09 20:41] #3387 closed

[2018-02-09 20:42] LukeTowers commented on #3389
You're welcome

[2018-02-10 18:27] WebShapedBiz opened #3391 "Cannot login backend users"
While front end is working fine, I'm getting this error on all of my backend users:

https://imgur.com/a/0voZi

There was no CMS update recently, this just happened.
I remember a few years back there was a similar issue with the backend_users table but I forgot how I managed to fix it then.

EDIT: Found one backend user who was still logged in and can access CMS backend, all others that were logge

[2018-02-10 20:02] wreighsantos opened #3392 "Saved date is subtracted by 1"
##### Expected behavior
Hi, I'm using Builder to generate forms for my models. I am saving a record with a field which is type of date, when saved, the saved date should be the same with what I've inputted.

##### Actual behavior
After refreshing the page, the field shows a date **one day** lesser than what I've inputted. E.g., my input is January 26, 2018, after save and refresh, the field will d

[2018-02-10 21:13] LukeTowers commented on #3392
That's because October automatically converts the date from the application timezone to the backend timezone on display; and also converts the date from the backend timezone to the application timezone on saving. To prevent this behaviour (i.e. store and display the dates exactly as entered, set the `ignoreTimezone` option to true on the datepicker and/or the datetime column. See http://octobercms

[2018-02-10 21:13] #3392 closed

[2018-02-10 22:44] SebastiaanKloos commented on #3391
Looks like you have to take a look at your db settings. Something with the strict mode. I have had this issue before. Had to do with your db

[2018-02-11 05:42] WebShapedBiz commented on #3391
Thank you @SebastiaanKloos, my thoughts exactly. Maybe the hosting provider changed or updated something in MySQL server that caused this.

[2018-02-11 17:47] ibanks commented on #3381
Hello @LukeTowers. Do you have any update on this? As always thanks.

[2018-02-11 20:11] LukeTowers commented on #3381
Sorry, I don't see what would be causing this. Are you able to replicate this issue in the [Test plugin](https://github.com/daftspunk/oc-test-plugin) and make a PR there so I can test it out and find the problem?

[2018-02-12 08:47] xyng commented on #3384
I experienced the same problem and decided to dig a little:
This only affects subjects set in the template. If you set a subject in the callback function it will be set correctly.
The problem has to be somewhere before serialization for queueing occurs, as the subject will be `null` in the serialized job data when it's only set by the template.

A temporary workaround might be to set the subject i

[2018-02-12 09:22] WebShapedBiz commented on #3391
Hi.

My problem continues. The hosting company does not have any sql_mode set:

--------
mysql> SELECT @@sql_mode;
+------------+
| @@sql_mode |
+------------+
| |
+------------+
1 row in set (0.00 sec)
--------

Still, I'm unable to log in. Also, I observed unusual data in backend_users columns. Is there a reference how those should look? What would be correct values for these?
- Permissions: one

[2018-02-12 11:17] ibanks commented on #3381
I'm going to attempt to replicate the issue via your instructions. This may take a second to do. I'll be headed on vacation soon for a few days going into the weekend. In the meantime, I want to attempt to find what the issue is myself again. After searching through the recorded issues, I believe that it is related to this: https://github.com/octobercms/october/issues/1823

[2018-02-12 15:06] Alex360hd opened #3393 "storm.css : .loading-indicator shouldn't have background property set."
Hello,

It's a very, very small thing, but the .loading-indicator css rules in storm.css add have a background:#f9f9f9; property.

I think that the correct behavior for that div is to have the same background than the element where it's displayed. So, you shouldn't write any background rules to that div, or eventually background: transparent;

Best regards,

Alex

[2018-02-12 15:40] LukeTowers commented on #3391
Permissions is fine, those are only the per user permission overrides; the rest of the permissions are loaded from the users role or if they're a superuser. Do you have a full stack trace?

[2018-02-12 15:47] WebShapedBiz commented on #3391
Thank you Luke.

At the moment I'm not having anything. This was my installation two years
ago without my involvement since. I'm trying to get some answers but it
would seem that the system is in half-updated state so this error may be
direct result of this.
However, one admin user's active session is allowing him to get to backend
and the front-end is working fine, even with several plugins using

[2018-02-12 15:47] LukeTowers commented on #3384
@xyng are you able to provide a fix in a PR for this issue?

[2018-02-12 15:54] LukeTowers commented on #3391
Check the logs in storage, or check your server logs to see if you can get a stack trace out of them.

[2018-02-12 15:54] LukeTowers commented on #3391
Frontend doesn't work by the way

[2018-02-12 15:56] LukeTowers commented on #3393
Submit a PR to the LESS file in question and include a before and after screenshot with both regular usage and usage where the background is causing a problem please.

[2018-02-12 15:58] WebShapedBiz commented on #3391
Will do @LukeTowers, thank you.

[2018-02-12 16:37] Alex360hd commented on #3393
PR created.

First PR, be indulgent ^^

[2018-02-12 16:48] LukeTowers commented on #3393
Will close when PR merged

[2018-02-12 18:07] EdisonLV commented on #3388
if the column type for **customer** in your MySQL is set to JSON, than this should work:
[code]

[2018-02-13 07:35] Alex360hd commented on #3388
Unfortunately, I use JSON database that doesn't handle that syntax. That's why I think it would need a special function in the october side to find an universal syntax that make this works in every database type.

[2018-02-13 09:10] #3391 closed

[2018-02-13 11:49] wreighsantos opened #3395 "[Question] Scope for Relation Widget"
Is there a work around for this?
Currently, I'm using **Record Finder**, but I find it too much because I am just choosing from up to 10 items at most. What keeps me on using it is it supports `scope`.

Why I need scope? Because, in the relation that I will load, I need to filter it *based* from the currently selected **Model**.

Say, a group can have 4 membership grades, but some may have only 1.

[2018-02-13 12:24] alen12345 commented on #2939
@HammenWS @harmenjanssen That should be definitely merged!

[2018-02-13 12:30] ibanks commented on #3381
@LukeTowers I downloaded the test plugin and followed it carefully comparing the Person/Phone setup to my Sliders plugin and I ended up finding the problem. The issue was with my file attachment setup. I have a Sliders table and in that table I created an **image** column which is the key name I specify in the attachOne relationship with the system_file table where the attachments are uploaded.

[

[2018-02-13 13:29] Mr1008 commented on #3384
I have same issue for this one. And indeed it seems that the issue is this code:
[code]
and method `buildSubject($message)` taking basename
[code]

[2018-02-13 16:32] VoroninWD opened #3397 "Error edit child relation with softdelete"
##### Expected behavior
It must be worked in any condition. As without softdelete

##### Actual behavior
When I'm try open manage window of relation record - I see error:
"Call to a member function getId() on null" on line 1 of /modules/backend/behaviors/relationcontroller/partials/_manage_form.htm

##### Reproduce steps
I have parent model and child model, with relation hasMany. SoftDelete enable

[2018-02-13 16:36] LukeTowers commented on #3391
@WebShapedBiz were you able to solve the problem?

[2018-02-13 16:48] LukeTowers commented on #1927
@tylerssn the issue mentioned would be different as we only recently switched to defaulting to utf8mb4.

[2018-02-13 16:48] LukeTowers commented on #3384
@Mr1008 what can we do to fix it from October's end then?

[2018-02-13 16:51] alxy commented on #3384
@LukeTowers You can at least change the badge to confirmed bug :p I have also started to investigate this issue but wasn't able to fix, as it's not so easy, since October did override some methods of the original laravel Mailer and others not...

[2018-02-13 16:53] LukeTowers commented on #2939
Leaving it open until the issue is actually corrected with a code change merged into core.

[2018-02-13 16:56] LukeTowers commented on #3381
@ibanks Ah yes, I've seen that happen several times. Can you make any recommendations for changes to the documentation to make it more apparent that having a column name with the same name as your attachOne or attachMany relationships will cause issues?

[2018-02-13 17:09] LukeTowers commented on #3395
This already exists, there is the `scope` property on the relation formwidget just like on the recordfinder. Added in https://github.com/octobercms/october/commit/8ee7d3f5ae0e56b1e332ad18a8e6162365e4e4d7, I've also just added it to the documentation in https://github.com/octobercms/docs/commit/049457276c374e671a693bc831567f94c76a30bb

[2018-02-13 17:09] #3395 closed

[2018-02-13 17:26] alen12345 commented on #2939
On second thoughts, and having looked at the code, I think that relying on env vars for a test or hardcoding an url is really bad practice. I will look at PR #3074 and think about a workaround.

[2018-02-13 20:06] LukeTowers commented on #1927
The issue is when you are running an older version of MySQL or MariaDB. Upgrade those and the issue will go away. https://laravel-news.com/laravel-5-4-key-too-long-error

[2018-02-13 20:24] tylerssn opened #3398 "Saved settings are not appearing in custom plugin"
##### Expected behavior
Plugin settings' field values should populate with saved setting values

##### Actual behavior
settings are saved to DB but do not populate the backend settings form

##### Reproduce steps
1. system_settings table is empty
2. Save new backend settings for plugin using  admin UI (URI: `backend/system/settings/update/[vendor]/[namespace]`
3. system_settings table is no longer

[2018-02-13 20:30] LukeTowers commented on #3398
@tylerssn the issue is here:
`public $settingsCode = SettingsManager::SETTINGS_CODE;`

`$settingsCode` needs to be the **unique** value for this model's settings stored in the database. I.e. `etre_addresssweet_settings`

[2018-02-13 20:30] LukeTowers commented on #3398
See http://octobercms.com/docs/plugin/settings#database-settings

[2018-02-13 20:31] wintstar commented on #1927
And how about isnt´t you're with a hoster who doesn't update the database immediately?
 Isn't there a solution for the meantime?

To change the hoster, I and others certainly don't think it's a good solution.

[2018-02-13 20:32] WebShapedBiz commented on #3391
No, I wasn't. The system was corrupted beyond repair so I couldn't rely on error messages to guide me. I'm already installing the new system.

Thank you for your time and effort.

[2018-02-13 21:10] LukeTowers commented on #1927
@wintstar then change database.php back to using just utf8 instead of utf8mb4

[2018-02-14 00:02] Naph opened #3399 "Trailing data error when saving timestamps using MS SQL"
##### Expected behavior
Saving timestamps using MS SQL

##### Actual behavior
Saving errors: "The format separator does not match Trailing data"

##### Reproduce steps
Login to backend when using MS SQL. Fails on updating last_login.

##### October build
october/backend:1.0.432
october/cms:1.0.432
october/rain:1.0.433
october/system:1.0.432

Fixed in laravel/framework 5.5.22
https://github.com/lar

[2018-02-14 01:11] LukeTowers commented on #3399
Update your Laravel framework version then with the following in your composer.json
`laravel/framework: "5.5@dev"`

[2018-02-14 03:33] Naph commented on #3399
At time of submitting this issue, my Laravel version was 5.5.33 and have investigated this further.

Referring to the commit log, the asDateTime method in HasAttributes was changed. There is an explicit str_replace for the format when a DateTime is created. This is because the static method DateTime::createFromFormat does not accept 'v' as a valid character. Here's a trace illustrating that Octobe

[2018-02-14 04:34] Naph commented on #3399
Ah! No worries.

[2018-02-14 04:45] #3399 closed

[2018-02-14 05:48] testdnmedia opened #3400 "Update Laravel Release 5.6.x"
how to fix this, i want to upgrade laravel 5.5. * to 5.6. * ?
Problem
- don't install laravel/framework 5.6.x-dev|remove october/october No version set (parsed as 1.0.0)
...
- Can only install one of: laravel/framework[5.7.x-dev, v5.5.34].
- Installation request for laravel/framework ^5.6 -> satisfiable by laravel/framework[5.6.x-dev, 5.7.x-dev, v5.6.0, v5.6.1, v5.6.2, v5.6.3].

[2018-02-14 06:06] munxar commented on #3400
I't because the core library october/rain has laravel still set as version 5.5 which gives composer an unresolvable conflict because it can't install both version at the same time. I'm not a composer crack, but prop you can override this version in the root composer.json?

[2018-02-14 11:48] yabasha commented on #1658
Any updates?

[2018-02-14 12:26] wreighsantos commented on #3395
does your answer resolve this issue? [#2076](https://github.com/octobercms/october/issues/2076) Thank you!

[2018-02-14 16:51] LukeTowers commented on #2076
Support for the `scope` property was added in #2871

[2018-02-14 16:52] ametad opened #3401 "/storage/cms/disabled.json owner is root"
##### Expected behavior
After visiting https://<domain>/backend/system/updates/manage the site is not crashing.

##### Actual behavior
After visiting https://<domain>/backend/system/updates/manage the site is not crashing. With error:

`$ ls -lha`
[code]

##### Reproduce steps
Remove the file storage/cms/disabled.json
Then go with browser to https://<domain>/backend/system/updates/manage

##### Oc

[2018-02-14 16:52] LukeTowers commented on #3395
Yes it does

[2018-02-14 16:53] ametad commented on #3401
Uhm... I am op for suggestions ;-)  Is this some wrong Linux config or indeed an October issue?

[2018-02-14 16:54] LukeTowers commented on #3401
Wrong linux config, I've never encountered an issue where root owned that process. If you were doing some artisan commands while running as root I could potentially see that happening, but you really shouldn't be doing that in the first place.

[2018-02-14 16:55] LukeTowers commented on #1658
@yabasha any feedback on the ideas discussed in this issue?

[2018-02-14 16:59] LukeTowers commented on #3400
@testdnmedia why do you want to upgrade Laravel? October will only officially support LTS releases of Laravel; they change and break things far too often to be continually upgrading. If you absolutely must have it and can't for some reason implement what you actually need some other way then you could in theory do `laravel/framework: 5.6 as 5.5` but I **strongly** recommend that you do not go down

[2018-02-15 06:39] Teranode commented on #3400
:V but I usually go down that route for maximum edginess, then again im not managing a large-scale application

[2018-02-15 06:51] LukeTowers commented on #3400
@Teranode then feel free to use the `as` composer trick to make it work; we're just not going to support it 😉

[2018-02-15 08:23] Alex360hd commented on #1658
@LukeTowers I would not change the database column type depending on the number of media you have. I would always consider them as json as the only difference between 1 media and N media is the number of items in the JSON/array. It's just a matter of a loop.

In addition, it should be easy to transform a 1 media field to N media field, so the database column should consider the more complex scenar

[2018-02-15 16:29] Verbat commented on #1927
Is there also a way fixing this when using the installer?
I'm trying to set up a new octobercms installation but i cannot get it up and running as installation always stops with an error. There's no database.php yet which i can edit.

[2018-02-15 17:00] LukeTowers commented on #1927
If someone wants to add a PR to the install repo to specify the DB collation for MySQL installs that would be a good solution for older hosts.

[2018-02-15 18:46] lorajc commented on #3133
I had the same problem!

[2018-02-15 20:56] LukeTowers commented on #3133
@lorajc Does #3192 solve it?

[2018-02-16 02:12] Grawl commented on #3305
@LukeTowers

why?

[2018-02-16 03:26] LukeTowers commented on #3305
Because the richeditor is not an HTML editor, it's a WYSIWYG editor for non-technical users. Why do you need to have form tags in the editor? What are you trying to achieve? @Grawl

Possibly related: https://github.com/froala/wysiwyg-editor/issues/1870

[2018-02-16 05:28] GaneshKandu opened #3402 "Specified key was too long; max key length is 767 bytes"
##### Actual behavior
While installing OctoberCMS 1.0.433  we are getting following issue :

SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes (SQL: alter table `sessions` add unique `sessions_id_unique`(`id`))

##### Reproduce steps
While installing OctoberCMS 1.0.433
Server environment
PHP - 7.0.2
MySQL - 5.5.53

##### October build
O

[2018-02-16 11:05] feridi94 commented on #3402
I also experience it, as a solution I try to do this and succeed. by adding a line of code in the ArtisanServiceProvider.php

open location file: ./vendor/laravel/framework/src/Illuminate/Foundation/Providers/ArtisanServiceProvider.php
and add the following line of code:
`use Illuminate\Support\Facades\Schema;
class ArtisanServiceProvider extends ServiceProvider{
     public function boot(){

[2018-02-16 11:32] joelamltc opened #3403 "How do I upload a file from backend (not using the media manager or file uploader)?"
As above. I do want my files/images can be manipulated by myself before moving to server.
I did try to create a traditional file upload widget using html `<input type="file">` but not success.
I cannot get my file correctly when the form is being submitted.
Any suggestion or ideas can be advised?

Huge Thanks.

[2018-02-16 12:30] GaneshKandu commented on #3402
Hi,

i can't update any file during installation
i am using online installer can't update file at run time

[Download installer](https://codeload.github.com/octobercms/install/zip/master)

@octobercms you can set Schema::defaultStringLength(191); in the boot method of your AppServiceProvider.

[https://github.com/laravel/framework/pull/23189](https://github.com/laravel/framework/pull/23189)

[2018-02-16 13:41] gerrymcdonnell commented on #1927
Same issues on a fresh install i know this issue is common with Laravel but was able to get the install to work using the method above;
config/database.php

'charset'   => 'utf8',
 'collation' => 'utf8_unicode_ci',

[2018-02-16 17:09] feridi94 commented on #3402
I agree the thing that just did not completely solve it, but in this way might be able to solve this problem.
in config/database.php in mysql section
add or replace charset & collation
**default**
 'charset' => 'utf8mb4',
 'collation' => 'utf8mb4_unicode_ci',

**replace with**
'charset' => 'utf8',
'collation' => 'utf8_unicode_ci',

       'mysql' => [
            'driver' => 'mysql',
            '

[2018-02-16 18:39] mjauvin commented on #3263
Just checked with OCMS Build 433 and Chrome Version 64.0.3282.119 and the problem cannot be reproduced.

Might have been solved either with Laravel update or chrome, cannot say.

[2018-02-16 18:39] #3263 closed

[2018-02-16 22:02] LukeTowers commented on #3402
Duplicate of #1927

[2018-02-16 22:02] #3402 closed

[2018-02-17 03:01] Grawl commented on #3305
Many users know HTML, it's not a rocket science. I want to add a Google AdSense ad code loking like this:

[code]

I added `script` and `ins` tags in all fields in editor settings but still this code is removed from editor on save or code / WYSIWYG toggle.

[2018-02-17 11:30] alxy commented on #3305
@Grawl  Use a snippet in that case, it's really the perfect use case. If you are not using the staticpages plugin, there is a plugin on the marketplace that enables snippets for any richeditor field.

[2018-02-17 17:54] JeremyKeusters opened #3405 "Installation MYSQL Error "Index column size too large""
##### Expected behavior
I was trying to install OctoberCMS. I expected it to run successfully.

##### Actual behavior
I got an error while installing.
`SQLSTATE[HY000]: General error: 1709 Index column size too large. The maximum column size is 767 bytes. (SQL: alter table 'deferred_bindings' add index 'deferred_bindings_master_type_index'('master_type'))`

##### Reproduce steps
Install OctoberCMS

[2018-02-17 18:47] danhrrn commented on #3405
We have identified that this could be an issue with the use of `utf8mb4` on your server. Please check what encoding your installation uses on line 63 in /config/database.php

[2018-02-17 18:56] danhrrn commented on #3344
I do confirm that this is indeed a big. Please add the necessary label to this @LukeTowers.

I will work on getting this fixed and will submit a PR.

[2018-02-17 19:00] danhrrn commented on #3403
In October, images are stored in a way that they need to be uploaded by the system ideally. Look at what is going on when a file is uploaded natively to an installation, and if you still feel it necessary for you to build this plugin, call the methods defined there.

[2018-02-17 19:05] danhrrn commented on #3405
You need to change line 62 and 63 to…
[code]
and report back what happens then.

[2018-02-17 19:51] LukeTowers commented on #3405
Duplicate of https://github.com/octobercms/october/issues/1927

[2018-02-17 19:51] #3405 closed

[2018-02-17 23:11] LukeTowers commented on #3305
@Grawl this really is better suited to a snippet or a component. Allowing users to paste script and form tags is not the best solution. I do agree though that the if you've told the EditorSettings that you specifically don't want them removed and they are still being removed then that's something to look into.

[2018-02-18 02:59] Grawl commented on #3305
Please, let **me** control what I want to have on my frontend, okay? If I want to use `<my-calc data-options='{ "foo": "bar" }'></my-calc>` to insert a calculator inside any article why editor removes this HTML when I turn on HTML edit mode? Why I want to use HTML editor mode if I cannot add any custom HTML I cannot add with editor buttons?

I want to control my website. Please, let me control my

[2018-02-18 03:52] joelamltc commented on #3403
Would you like to explain more？

[2018-02-18 06:30] LukeTowers commented on #3305
Froala supports this, at least in the latest version: https://codepen.io/anon/pen/aqEPqQ; so it should be working in October. I know we need to update the distributed version; so perhaps doing that will fix it. @daftspunk?

[2018-02-18 21:25] gaalgergely opened #3406 "Issues installing OctoberCMS"
##### Expected behavior
I use the installer, the step: Create admin account
SQL: alter table `sessions` add unique `sessions_id_unique`(`id`)

##### Actual behavior
Something went wrong during the installation. Please check the log file (install_files/install.log) or see the documentation for more information.
SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max

[2018-02-18 21:30] wintstar commented on #3406
Look here:
https://github.com/octobercms/october/issues/3405

https://github.com/octobercms/october/issues/3402

and many more:

https://www.google.de/search?q=laravel+long%3B+max+key+length+is+767&oq=laravel+long%3B+max+key+length+is+767&aqs=chrome..69i57j69i60.6998j0j4&sourceid=chrome&ie=UTF-8

[2018-02-18 21:43] scottbedard opened #3407 "Add ability to extend casts array on models"
##### Expected behavior
N/A

##### Actual behavior
N/A

##### Reproduce steps
N/A

##### Proposed feature

Currently, there is no way (that I could find) to extend the `casts` array of another plugin's model. The feature I'm proposing would be including an `addCasts` method to live alongside [these helpers](https://github.com/octobercms/library/blob/develop/src/Database/Model.php#L673).

If this i

[2018-02-18 21:45] LukeTowers commented on #3406
See https://github.com/octobercms/october/commit/bd9f88587f5adad66866294d22a598aa195cff4b. The official fix will come in Build 434 when @daftspunk pushes that soon; but if you need it fixed sooner then upgrade MariaDB to 10.2.

[2018-02-18 22:10] luis7fj opened #3408 "I can not install octobercms"
![image](https://user-images.githubusercontent.com/5165935/36357624-7d2f9168-14ce-11e8-94d6-b2dec57e0a76.png)

[2018-02-18 22:42] LukeTowers commented on #3408
Duplicate of #3406

[2018-02-18 22:42] #3408 closed

[2018-02-19 00:16] robinbonnes commented on #2912
Same issue here. Want to update some values on the scoreboard above the backend list, based on the selected filters. But when I apply a filter it only refreshes the list. Refreshing the whole page would be enough. Maybe some event is a good solution?

Tried the following in boot() function from plugin.php file:

[code]

Also checking the applied filters is a little bit hard, for now I use this ugl

[2018-02-19 01:55] LukeTowers commented on #2912
@robinbonnes the relation controller has a method used to extend partial results, perhaps we could implement something similar to that with the list controller

[2018-02-19 08:16] SebastiaanKloos commented on #3407
@scottbedard There are more arrays that could not be extended. It is only possible to override the array on other models

[2018-02-19 09:47] AugmentBLU commented on #1959
The Beyond Behaviors series was helpful - just wondering if you able to give a quick example or point in the direction of how we can tackle having a `belongToMany` or `morphToMany` relation in a popup?

I see we can build out the list the same was as outlined in the series, however - how do we use `add` or `link` existing records which would open in another popup, with a list of available, selecta

[2018-02-19 14:50] LukeTowers commented on #3407
Sure, sounds good to me.

[2018-02-20 04:53] vangar commented on #2101
Since #2257, you can wrap ``if (!$widget->isNested) {`` around your addFields and this will stop them appearing in repeater fields.

[2018-02-20 06:29] #3317 closed

[2018-02-20 06:29] #1927 closed

[2018-02-20 06:29] #3393 closed

[2018-02-20 08:36] tschallacka commented on #2076
Woo! Thank you. I've finally conviced my bosses that I could upgrade so I can move from 361 to the most current version :-) with this useful feature in it! awesome!

[2018-02-20 10:22] ibanks commented on #3381
@LukeTowers Late reply. Just got back from vacation. Yes. I actually have a couple of these doc recommendations to submit. I will get these done very soon. Thanks.

[2018-02-20 16:05] LukeTowers commented on #3381
Good to hear @ibanks!

[2018-02-20 16:06] LukeTowers commented on #2076
Your bosses need to stay more up to date! 😂

[2018-02-20 16:09] LukeTowers commented on #3406
This should be fixed now!

[2018-02-20 19:30] adc91 opened #3409 "Backend Tabs and Google Maps issue"
Hello guys,

I am having problems implementing a Google Maps map using multiple tabs in October CMS.

Is there any way to detect the TAB change event in the backend and act accordingly to redo the map?

I think it is due to a problem in Google Maps itself with the elements with the property visible in hidden, which is why I need to apply some hack.

## Tab active
![Image Tab 1](https://i.imgur.com

[2018-02-20 19:33] LukeTowers commented on #3409
This is due to how Google Maps works, you will need to trigger a rerender on the map element when you switch tabs and make it visible; the map listens for initial render and bases its appearance after its visibility.

[2018-02-20 19:38] adc91 commented on #3409
@LukeTowers yes, it is possible to call a trigger to load the element assigned to the map that is visible.

The problem I have mainly is to detect a change in the october backend tab to execute the trigger.

#### Trigger code
`google.maps.event.trigger (map, 'resize');`

[2018-02-20 19:59] LukeTowers commented on #3409
Try listening to `oc.updateUi` on the window: https://github.com/octobercms/october/blob/master/modules/system/assets/ui/js/tab.js#L59

[2018-02-20 23:00] scottbedard commented on #3407
Closed by https://github.com/octobercms/library/pull/306

[2018-02-20 23:00] #3407 closed

[2018-02-21 01:26] rajakhoury commented on #2653
@HenrikR  didn't work for multilingual content files `content.es.htm` ...

I added this instead ( borrowed the translate plugin )

    public function contentExists($file = null)
    {
        return EventRegistry::instance()
            ->findTranslatedContentFile( new Controller(), $file);
    }

[2018-02-21 05:14] Grawl commented on #3305
I just added `<my-calc data-options='{ "foo": "bar" }'></my-calc>` to editor in this pen and it has been removed on HTML mode toggle.

[2018-02-21 05:44] gaalgergely commented on #3406
Works fine. Thank you!

[2018-02-21 05:59] LukeTowers commented on #3406
@gaalgergely Great to hear it!

[2018-02-21 06:00] LukeTowers commented on #3305
@Grawl you have to add data-options to the list of allowed attributes.

[2018-02-21 19:14] adc91 commented on #3409
Thanks @LukeTowers,

I leave the code in case someone else can help.
[code]

[2018-02-21 19:16] #3409 closed

[2018-02-21 19:16] LukeTowers commented on #3409
Not a problem, glad I could point you in the right direction!

[2018-02-21 23:39] meysammahfouzi commented on #2428
You can also use this: https://github.com/blueimp/jQuery-File-Upload/wiki/Basic-plugin

[2018-02-22 01:43] tonylangworthy opened #3410 "Plain text database credentials in config/database.php"
Are there any plans to move the database credentials into a .env file upon installation?

[2018-02-22 02:10] LukeTowers commented on #3410
Yes, it already exists. `php artisan october:env`: http://octobercms.com/docs/console/commands#october-env-command

[2018-02-22 02:10] #3410 closed

[2018-02-22 02:28] tonylangworthy commented on #3410
Very nice! Thank you!

[2018-02-22 04:58] LukeTowers commented on #3410
Take a look at `php artisan october:mirror public --relative` as well for additional security goodness 😄

[2018-02-22 05:14] tonylangworthy commented on #3410
Excellent! I just installed this today and have finally read the docs. Very nice system!!

[2018-02-22 05:16] Grawl commented on #3305
but `<my-calc>` element is also removed

[2018-02-22 05:40] LukeTowers commented on #3305
Because it has a not allowed attribute.

[2018-02-22 05:49] Grawl commented on #3305
Okay it's working on this pen if I add `htmlAllowedEmptyTags: ['mycalc']` to JS config.

But in October when I add `mycalc` to "allowed tags", "allowed empty tags" and "tags to not wrap" fields it's not working.

[2018-02-22 18:05] flakerimi commented on #3406
It doesn't work when attached project id / paid plugin

[2018-02-22 18:14] LukeTowers commented on #3406
Sounds like a completed unrelated issue @flakerimi

[2018-02-22 18:14] #3406 closed

[2018-02-22 21:50] LukeTowers commented on #3305
Like I said, it's possible that updating the distributed version of Froala is required to fix this.

[2018-02-23 06:52] Ziflin opened #3411 "Access denied for user 'root'@'localhost' while Creating Admin Account in Wizard"
##### Actual behavior
I'm trying to setup a new install of October on Ubuntu 16.04 using mysql (tried MariaDB also) and during the final install using the wizard when it is doing the "Create admin account" I get the following error:

```SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost' (using password: NO) (SQL: select * from information_schema.tables where table_schema = database a

[2018-02-23 15:20] LukeTowers commented on #3411
Did you enter the correct username and password to access MySQL? Usually hosts don't let you log in as root without a password

[2018-02-23 15:37] Ziflin commented on #3411
This is just running in a new VirtualBox VM for testing, so it's a bare-bones Ubuntu server install. I created a database for October and user (october_root) and entered all of that info in the wizard, so I'm not exactly sure where the 'root'@'localhost' is coming from for this error message.

I did go through the command-line install and after a few tweaks was able to get it working with Sqlite a

[2018-02-23 16:23] LukeTowers commented on #3411
The default database credentials: https://github.com/octobercms/october/blob/cf01254b2b05a85854f898c6dd48d2abeb2af98b/config/database.php#L57-L61

Unless you change those in the installer then that's what it's going to use to try to connect.

[2018-02-23 16:47] julesgilson opened #3412 "Back-End user with no permissions can change their Group"
##### Expected behavior
I would have though that a user with no System permissions (inherited from role) would not be able to change the group(s) they are in

##### Actual behavior
If the user goes to "My Account" from the menu they can select which groups they belong to

##### Reproduce steps
I created a new role, with no permissions except Media. I created a new user, assigned them to this role.

[2018-02-23 19:41] LukeTowers commented on #3412
This doesn't affect the permissions that the user has access to since permissions are stored in the roles since https://github.com/octobercms/october/commit/8002c1010bd51020e02997c0afa876ebd1097001 (which is also when it became possible for users to change their assigned groups). I would agree though that this should only be managed by those with manage_users permissions.

Fixed in https://github.

[2018-02-23 19:41] #3412 closed

[2018-02-23 20:09] bfloren opened #3413 "Unknown database type bit requested"
##### Expected behavior
Create new table via Builder
##### Actual behavior

table not created.

"Unknown database type bit requested, Doctrine\DBAL\Platforms\MySQL57Platform may not support it." on line 423 of /Users/brett/Code/Project11/vendor/doctrine/dbal/lib/Doctrine/DBAL/Platforms/AbstractPlatform.php

##### Reproduce steps

![screen shot 2018-02-23 at 3 04 07 pm](https://user-images.githubus

[2018-02-23 20:13] danhrrn commented on #3413
Please post this issue on https://github.com/rainlab/builder-plugin/issues instead and close this.

[2018-02-23 20:50] #3413 closed

[2018-02-25 14:48] alen12345 commented on #2939
@LukeTowers can you please have a look at my proposal at PR #3074 ? I think we can fix the issue that way.

[2018-02-26 08:15] ametad commented on #3401
That is what I thought so too. But I do not use artisan commands with sudo, ever. Also, this behaviour is not triggered by an Artisan command, but by going to a specific page in the backend. When I delete the file and come back to that page, a second later the file torage/cms/disabled.json is appearing there again. All other files written by the system (uploads, cache, etc.) have www-data as owner

[2018-02-26 08:57] theodark opened #3415 "Custom Form Widgets With AJAX Handlers Won't Work As Expected Inside Repeaters"
Adding a custom form widget, with AJAX handlers, inside a repeater should call that handler upon request. However the response throws an SystemException, even if the said custom widget uses the `$this->getEventHandler('onXXX')` method to access the handler.

In my case I was using the select2 to implement a custom "relation" style widget. Below is the partial that does the fetching request:

[code

[2018-02-26 14:50] LukeTowers commented on #3401
No problem; odd behaviour but at least it's not present in current versions!

[2018-02-26 14:50] #3401 closed

[2018-02-27 09:43] papangproduction opened #3416 "FormatException not found"
Hi

##### Expected behavior

I try to handle the ModelNotFoundException in boot of my **plugin.php** with this code :

[code]
When i use firstOrFail method, the handler is activated and debug push me in **october\rain\src\Foundation\Exception\Handler.php** line 153 :

[code]

But the formatException method is not found.

##### October build

Current Build : 434
PHP version : 7.1.12

[2018-02-27 15:25] maartenmachiels opened #3417 "Question about constraining results of model query attachments"
As mentioned in #2877 querying a model with file attachments is very slow when there are a lot of records in table `system_files`. Modifying the column `attachment_id` to an unsigned integer makes everything run a lot faster. If I understand correctly, this fix is still being reviewed.

In my usecase, I've made a component with an overview of mannequins (roughly 1300 mannequins, with 10-30 images

[2018-02-27 16:28] LukeTowers commented on #3417
The query to retrieve multiple images in a relationship has essentially the same performance affect as the query to retrieve one. Unless you're dealing with multiple thousands of related images attached to each mannequin (at which point it would be a memory constraint with loading that many Eloquent record) you don't have anything to worry about here.

Performance improvements that would make a bi

[2018-02-27 16:55] maartenmachiels commented on #3417
Thank you, Luke. I understand and will follow your suggestions.

[2018-02-27 16:55] #3417 closed

[2018-02-28 10:30] the-specialist2005 opened #3418 "Backend users Activation and Deactivation (Suspended) Suggestion"
New suggestion is to add the ability to activate and deactivate (Suspend) back-end users so,
If the user account is deactivated (Suspended) by the admin,
This user cannot do anything, until re-activated by the admin

[2018-02-28 13:40] GinoPane opened #3419 "Installation through composer create-project exits with error"
##### Expected behavior
Successful installation

##### Actual behavior
![image](https://user-images.githubusercontent.com/3897579/36790493-e59be588-1c8c-11e8-8aba-a74bc0b09743.png)

##### Reproduce steps
Run
`composer create-project october/october projectname`

[2018-02-28 18:12] iboved opened #3420 "How to extend/override *.js files from another plugins in my Plugin.php?"
How to extend/override js files from another plugins?
For example, I want to extend/override [multilingual.js](https://github.com/rainlab/translate-plugin/blob/master/assets/js/multilingual.js) file from [Rainlab.Translate](https://octobercms.com/plugin/rainlab-translate) plugin. I want to change some behavior in this file, but I do not want to edit this file directly.
How can I do it inside my pl

[2018-02-28 18:28] GinoPane commented on #3176
The same issue when updating through the backend.

[2018-02-28 18:37] LukeTowers commented on #3176
Is it really @GinoPane?

[2018-02-28 18:40] LukeTowers commented on #3419
Duplicate of #3321

[2018-02-28 18:48] LukeTowers commented on #3420
In order to accomplish this you'll need to understand how to extend Javascript in general; and how to load scripts on backend controllers.

[2018-02-28 18:48] #3420 closed

[2018-03-01 00:32] meinmotion commented on #3419
Same here

[2018-03-01 01:35] testdnmedia opened #3422 "composer update error"
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 0 installs, 3 updates, 0 removals
  - Updating erusev/parsedown (1.6.4 => 1.7.0): Loading from cache
  - Updating nesbot/carbon (1.22.1 => 1.23.0): Loading from cache
  - Updating nikic/php-parser (v3.1.4 => v3.1.5): Loading from cache
Writing lock file
Generating autoload files

[2018-03-01 01:51] LukeTowers commented on #3422
What version of Jenssegers\Date do you have installed?

[2018-03-01 01:53] LukeTowers commented on #3419
Just FYI; the install completes but it doesn't setup an application key automatically because Laravel's key:generate command expects there to be a .env file present. There's been back and forth about the correct solution in #3321 and related; but for now you can just install as normal and then run `php artisan october:env` to generate a .env file and then run `php artisan key:generate`

[2018-03-01 02:01] testdnmedia commented on #3422
Updating jenssegers/date (v3.2.12 => v3.0.0-beta)

[2018-03-01 02:04] LukeTowers commented on #3422
which one works?

[2018-03-01 06:49] Teranode commented on #3422
@LukeTowers Carbon recently made an update (1.22.1 => 1.23.0),  Jenssegers does not have that update reflected so it's suggested to stay on 1.22.1 of Carbon til Jessegers update's their code. (though i manually updated it myself not sure when they're gonna do theirs.

[2018-03-01 08:10] GinoPane commented on #3176
@LukeTowers it is! Actually, the environment is the same as for installation issue. It's a clean Laradock installation with a tweak to run OctoberCms on Docker. The image 4 cores and 2 GB of RAM allocated (CPU is i7 7700K).

The error itself is the same as on the screenshot - 504 timeout on unpacking.

If it can be fixed using PHP's max_execution_time, so maybe it would be better to set this limit

[2018-03-01 08:20] GinoPane commented on #3419
@LukeTowers thanks! Yes, there're workarounds, but do I understand you correctly that the general fix is not ready yet? There's a mention of 433 build there.

[2018-03-01 09:18] iboved commented on #3420
I know how to load scripts on backend controllers.
Can you write a simple example how to extend Javascript please (or send a link to an example)?
Thanks.

[2018-03-01 10:08] testdnmedia commented on #3422
remove "nesbot / carbon": "^ 1.23" in composer.json file and composer update, now normal again

[2018-03-01 10:52] mattiak14 opened #3423 "Error stream_set_blocking() on sending email"
##### Expected behavior
ErrorException: stream_set_blocking() expects parameter 1 to be resource, null given in /data/web/e77577/html/backend14/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/StreamBuffer.php:271
Stack trace:
[code]
##### Actual behavior

##### Reproduce steps
initially I could send without errors
It started when I upgraded to the latest version of octobercms that force

[2018-03-01 12:57] KonstantinObuhov commented on #3384
I have the same issue.
In order to hack some cases you can play inside closure)

[2018-03-01 13:59] josephbuarao opened #3424 "Do you need Filipino Translation for Octobercms?"
Hi there,

Good day and how are you? I hope this message finds you well.

I am Joseph Buarao , who has been doing high quality Filipino and Tagalog translations for several projects.

Consider this message as my letter of application. I am a web developer by profession and an experienced Filipino translator - these are on top of being an experienced web developer with more than 6 years of experien

[2018-03-01 14:59] LukeTowers commented on #3422
@Teranode could you submit an appropriate PR to jessegers/date?

[2018-03-01 16:15] Teranode commented on #3422
@LukeTowers as of 6 hours ago, the package has been updated to reflect the update of Carbon, so everything should work fine now.

[2018-03-01 16:23] dmeijboom commented on #3416
It seems like `formatException` is no longer available Laravel 5> (it looks like it was removed since Laravel 4.2). However this is a bug in: `octobercms/library`, is it an idea to close this issue and create a new issue in the library project?

[2018-03-01 17:45] wellyfrs commented on #2106
How can we translate the following message "The details you entered did not match our records. Please double-check and try again." which appears when the user tries to login with an invalid credential?

This message is hardcoded on .../rain/src/Auth/AuthException.php.

[2018-03-01 18:32] gbaumeister commented on #3411
Experienced the same bug since today. I try to install with user "root" and explicitly set the (correct) password. After the filesystem has been installed, installation breaks with:

Note that it tries to connect without a password although a password has been set.

[2018-03-01 19:52] GinoPane commented on #3176
@LukeTowers
I've investigated it more and fixed it. The reason was in Nginx timeout, not PHP, so it cannot be fixed in runtime through the code. I noticed that all failures were exactly after 60 seconds - the default Nginx timeout. Setting the **fastcgi_read_timeout** to something bigger did the trick. Now installation and update work fine.

As long as it cannot be fixed in code, we still can add

[2018-03-01 20:22] LukeTowers commented on #3176
It'd be nice if we could detect a timeout during this process and then display a descriptive error message with links to learn more about how to increase the timeout accordingly

[2018-03-01 20:23] LukeTowers commented on #3411
Did the credentials get properly written to config/database.php? @gbaumeister

[2018-03-01 20:24] LukeTowers commented on #3422
Thanks for the update @Teranode, I'll leave it open a little longer for other people that might come across the issue.

[2018-03-01 20:26] LukeTowers commented on #3416
@dmeijboom this is an appropriate place for the issue; octobercms/library doesn't allow issues - any OctoberCMS issue gets tracked in this repository.

I'm not sure what you mean by it was removed; I can see it here: https://laravel.com/api/5.5/Illuminate/Exception/Handler.html#method_formatException

[2018-03-01 20:27] LukeTowers commented on #3384
@KonstantinObuhov were you able to find a fix for the issue?

[2018-03-01 20:32] LukeTowers commented on #3423
Some googling around reveals that you need to make sure that `proc_open()` is enabled on your hosting environment. See https://stackoverflow.com/questions/36115345/laravel-5-1-sending-email-error-stream-set-blocking-expects-parameter-1-to-b#comment65950282_36115345 and http://www.devnetwork.net/viewtopic.php?f=52&t=138845.

As a related question, would managed OctoberCMS hosting be a service that

[2018-03-01 20:32] #3423 closed

[2018-03-01 20:36] LukeTowers commented on #3420
To extend something in javascript you would have to have a hook to attach to. You could try to modify the `$.fn.Multilanguage` object directly; or in this specific case you could just attach to the same element that it is `$el = $('ul.ml-dropdown-menu', this.$el)` and attach another event handler to it with `$el.on('click', '[data-switch-locale]', function() {});`

[2018-03-01 21:39] dmeijboom commented on #3416
@LukeTowers Good to know! I mean that even though this method is shown in the documentation it doesn't seem to exist in their codebase anymore (see: https://github.com/laravel/framework/blob/5.5/src/Illuminate/Foundation/Exceptions/Handler.php). That or I can't find it.

[2018-03-01 23:42] LukeTowers commented on #3416
Odd; seems like their API docs are being generated from 4.2. Do you have any thoughts on a resolution for this issue @dmeijboom?

[2018-03-02 06:44] GinoPane commented on #3176
@LukeTowers I agree, it would be definitely better, but I didn't manage to find a way to do this (just because PHP itself can not control this timeout). I'll try to investigate this more.

[2018-03-02 07:29] dmeijboom commented on #3416
@LukeTowers I can create a pull-request which simply re-implements the `formatException` method in Handler.php?

[2018-03-02 08:03] gbaumeister commented on #3411
Yes, they do. Everything seems right here.

 I can only replicate the problem on my local machine. Running:

Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.25-0ubuntu0.16.04.1, Copyright (c) 1999-2017, by Zend Technologies

MYSQL

I'll do some more digging...

[2018-03-02 08:51] gbaumeister commented on #3411
Just another quick note. If I refire the createAdmin AJAX call from Developer Tools it runs through smoothly and creates the database as it should.

[2018-03-02 17:09] LukeTowers commented on #3411
So you can't reproduce it anywhere else? Odd. Looking forwards to updates!

[2018-03-02 17:10] LukeTowers commented on #3176
There would have to be something in the client side that detects the HTTP error code for timeouts and displays the appropriate message. It'd be great if you could make a PR for that!

[2018-03-02 17:11] LukeTowers commented on #3416
Sure, what exactly is the method supposed to do though?

[2018-03-02 18:08] GinoPane commented on #3176
@LukeTowers to be honest, I was thinking about splitting of the core archive into parts and extracting them one by one, so the timeout won't be reached at all 😄
But I like your suggestion too, I'll probably look into that.

[2018-03-02 20:20] GinoPane commented on #3176
@LukeTowers I ended up with something like this for now:

![image](https://user-images.githubusercontent.com/3897579/36919814-a6b688ac-1e6f-11e8-8780-b4786beee0c2.png)

The links are to the official Apache and Nginx documentation (timeout-specific sections).

If this looks fine, I'll create a PR to octobercms/install then.

[2018-03-02 20:52] LukeTowers commented on #3176
That works great @GinoPane! Could you change the wording to "The operation timed out. Please increase the server's timeout and try again."

That's a much better way to handle it for the users!

[2018-03-03 21:38] avlight commented on #63
Hello guys! I have a question related to image size and customization into the blog post.
For example, I have that code for image integration:
![9_main.jpg](http://hql-blog.loc/storage/app/uploads/public/5a9/a2b/0db/5a9a2b0db7aec777751196.jpg)

How can I change its width or height, maybe border and etc.
Where can I find some format documentation for this?

[2018-03-03 23:45] LukeTowers commented on #63
@avlight please don't highjack unrelated issues for your questions; there are lots of other avenues for asking questions in the community.

@avlight Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of highjacking unrelated issues for your questions.

Forum: http://octobercms.com/forum
StackOverflow: http://stackoverflow.com/qu

[2018-03-04 00:34] avlight commented on #63
@LukeTowers thank you for answer.
And it is not only a question ;)

[2018-03-04 07:47] kdoonboli commented on #2996
I'm getting this error and I'm on build 434. What do I need to do? thx

[2018-03-04 14:02] the-specialist2005 opened #3425 "Adding a Reset backend Search button or (X)"
New Suggestion to add a button to clear search field in the back-end instead of having to delete the text letter by letter in order to clear search filtration.

[2018-03-04 17:23] PSSGCSim opened #3426 "Redis over socket"
##### Expected behavior
To connect to redis UNIX socket

##### Actual behavior
Does not work

##### Reproduce steps
Set redis config as follows:
[code]

##### October build
434

[2018-03-04 19:01] joakimbo opened #3427 "Traits not available as behaviours (yet)"
Edit: The functionality requested here is being moved, please see [this octobercms/library PR](https://github.com/octobercms/library/pull/310) for updates.

Traits cannot be used to extend a model (not a bug).

    SomeModel::extend(function ($model)
    {
        $model->implement[] = 'October\Rain\Database\Traits\Purgeable';
        $model->addDynamicProperty('purgeable', ['propertyToPurge']);

[2018-03-04 19:52] dmeijboom commented on #3416
In Laravel the only thing it does is return "Error in exception handler." or a little more information when debug is enabled. It looks like they refactored the handler class in 5.5.

[2018-03-04 21:17] kdoonboli commented on #2874
@LukeTowers I'm getting a similar error:

[code]

I had had an old build. I recently updated everything. I didn't add a new plugin. Everything works except the mail (user login and registration).  Thanks in advance.

[2018-03-04 22:43] kdoonboli opened #3429 "Illuminate Mailer::queue($view, $queue = NULL) must be compatible with MailQueue::queue($view, array $data, $callback, $queue = NULL)"
After upgrading to latest version (from pre php7), I can no longer send emails. User registration doesn't work either as it can't send emails.

[code]

##### Reproduce steps
I updated the build and the rest of the plugins through the "Updates and Plugins" menu.

##### October build
4.34

[2018-03-05 00:10] kdoonboli commented on #2874
@LukeTowers Got it to work! Thanks! I searched for "Illuminate\Mail\Mailer" in my plugins folder and found an outdated plugin having it's own vendor folder with copies of old illuminate files. Then I followed your suggestion. I deleted the vendor folder, but I ran the "composer update" command inside that plugin folder itself so it would only read its own composer.json

[2018-03-05 00:11] kdoonboli commented on #3429
Got it to work thanks to #2874

I searched for "Illuminate\Mail\Mailer" text in my plugins folder and found an outdated plugin having its own vendor folder with copies of old illuminate files. Then I followed the suggestion in #2874 . I deleted the vendor folder, then I ran the "composer update" command inside that plugin folder itself so it would only read its own composer.json

[2018-03-05 00:12] #3429 closed

[2018-03-05 02:03] #3176 closed

[2018-03-05 02:08] LukeTowers commented on #3426
Definitely not an October issue, possibly related to a misconfiguration? See https://github.com/nrk/predis/issues/277. At any rate, "Does not work" is not enough information to do anything about anything.

[2018-03-05 02:09] LukeTowers commented on #3416
@dmeijboom Could you figure out what the point of it being called here in October was and provide some recommendations on a fix for this?

[2018-03-05 02:11] LukeTowers commented on #3425
@the-specialist2005 good idea, I'd welcome that; it would also serve as a solution for an issue that occurs when the search is saved in the user's session / cookies but doesn't get populated in the search box so the records are filtered by an invisible search. Make a PR and then ping me on it to review it

[2018-03-05 07:50] LukeTowers commented on #3427
@JoakimBo what do you think of the method I implemented in https://github.com/CptMeatball/notifiable-user/pull/1 to make integrating model traits as behaviors easier?

[2018-03-05 08:24] JoakimBo commented on #3427
@LukeTowers If I understand that code correctly that looks like a much smarter thing to do, it would certainly cut down on the code needed by the behaviours but  I have atleast one concern. This isnt a huge problem but the exceptions Traits throw when checking after certain properties identify them as Traits i.e

[code]

Could you also elaborate on why it rather extends ModelBehaviour than Extensi

[2018-03-05 17:20] PSSGCSim commented on #3426
Thanks for linking the other project. Sorry, I did not know there is some other plugin in use. It was indeed by using wrong configuration. I have edited the config according to the issue.

[2018-03-05 17:20] #3426 closed

[2018-03-05 19:46] LukeTowers commented on #3427
@JoakimBo it extends ModelBehavior which extends ExtensionBase. ModelBehavior just does the constructor for us. I'm thinking I'd like to build the proxying with `__call()`, `__get()`, `__set()`, and perhaps `__callStatic()` if required straight into the ModelBehavior base so implementing traits as model behaviors would be as easy as
[code]
I'm concerned about side effects of doing the proxying tho

[2018-03-05 20:30] JoakimBo commented on #3427
@LukeTowers I tried to do purgeable as proxy (didnt put too much effort into it so might just be that). Didn't really get to a state where it was working like I wanted so I will have to test it more. I can't really foresee the side effects of using the magic methods but it might be wise to more forward carefully with them since they would run at every applicable call. They also invite a layer of a