[2018-09-24 13:51] LukeTowers commented on #3817
@Alex360hd what exactly are you trying to do?

[2018-09-24 14:31] Alex360hd commented on #3817
I'm working on an ecommerce plugin. To not reinvent the wheel, this plugin will rely on Responsiv.Currency and Responsiv.Pay plugins to manage currencies and invoices.

These 2 plugins add their own category on backend settings, I would like to regroup all configuration under my own plugin category to avoid to split things.

Best regards,

Alex

[2018-09-24 15:10] mberizzo commented on #3811
Still not, Luke. In these days i will work on it

[2018-09-24 19:55] LukeTowers opened #3819 "Add composer support to the marketplace"
It would be great to add composer support to the marketplace so that it could make all marketplace plugins available through a composer interface. There are resources out there for how to create your own packagist clones (composer repositories), and we could have the project IDs provided to composer through an environment variable so that we could even make private plugins available through a comp

[2018-09-24 20:08] immersiontravis commented on #3819
I would love this. We're trying to get away from Wordpress, and we're thinking about adopting October instead. But one of the *reasons* we dislike Wordpress is its habit of self-updating plugins – which brings the site's filesystem out of sync with version control.

Composer support for all Marketplace plugins would go a long way toward solving this.

[2018-09-24 20:14] Alex360hd commented on #3817
Thank you, it does the job. I looked at the [doc here](https://docs.google.com/spreadsheets/u/1/d/17vv4zn_ezp9iFBgYhYuYsmUG4MXW9uuIw7aOIrVcHiM/edit#gid=0) and that event wasn't mentionned

[2018-09-24 20:14] #3817 closed

[2018-09-24 20:17] LukeTowers commented on #3264
Fixed by https://github.com/octobercms/october/commit/aeb7616d063121d47cfb5aefe07fa9524e4a522b

[2018-09-24 20:19] LukeTowers commented on #3817
@Alex360hd yeah unfortunately that doc doesn't cover everything, I'm hoping to get the API docs to 100% when it comes to events but in the mean time your best bet usually ends up being reading the source files to figure things out when you hit a wall in the docs.

[2018-09-25 07:04] w20k commented on #3819
Hi,

I might be wrong, but if you don't want to have any updates, just disable them, and use composer as your source of updates. OctoberCMS won't update anything, if you don't press "the" button ;)

From the config, to disable core updates: config/cms -> ```'disableCoreUpdates' => false,```.
And from the Plugins menu:
![screen shot 2018-09-25 at 10 02 32](https://user-images.githubusercontent.com/

[2018-09-25 07:39] daftspunk commented on #3805
Removed the one in the class relationship definition (https://github.com/octobercms/library/commit/8d96a7b239f8b30984ccde8dbfc525558d053197)

This should be available in Build 443

Thanks

[2018-09-25 07:39] #3805 closed

[2018-09-25 08:02] TimFoerster opened #3820 "Register mail layouts and mail partials in a plugin"
##### Expected behavior
A plugin should be able to publish its own mail layouts and partials, like the `System\Classes\PluginBase::registerMailTemplates` method.

##### Actual behavior
There is no easy way to integrate layouts or partials of a plugin

##### October build
current

[2018-09-25 08:08] SeriousKen opened #3821 "Can't change background or text colour on backend lists"
I'm trying to use `injectRowClass` to change either the text or the background colour of specific rows in a backend list and it isn't working.

[code]

It works if I use other classes such as `strike`, but I need the rows color coded.

I've tracked it down to `storm.css` setting `color`, and `background-color` on the `th` and `td` elements, which will obviously take precedence over the row class.

[2018-09-25 11:35] blajanadrian18 opened #3822 "Permission registration system.manage_logs"
Permission system.manage_logs it`s not register to system/ServiceProvider.

[2018-09-25 14:46] LukeTowers commented on #3821
@SeriousKen you could aways inject your own CSS to the page to override the list styling?

[2018-09-25 14:51] LukeTowers commented on #3822
?

[2018-09-25 14:55] LukeTowers commented on #3820
@TimFoerster feel free to submit a PR to introduce that feature :) Will need an accompanying docs entry

[2018-09-25 15:27] ayumihamsaki opened #3823 "Dashboard make it 12 instead of 10"
Most CSS Grid systems use 12 because it makes the columns equal sizes, for example:

1 column = 12 spaces
2 columns = 6 spaces
3 columns = 4 spaces
4 columns = 3 spaces

However the Dashboard at the moment is really messy due to it having 10 spaces and giving the following:

1 column = 10 spaces
2 columns = 5 spaces
3 columns = Can't be done as whole number
4 columns = Can't be done as whole numbe

[2018-09-25 17:57] ayumihamsaki commented on #3819
I like this idea very much! Would it also be a good idea to force people to also use `composer.lock` file and have those plugin packages scanned with https://snyk.io/ thus making OctoberCMS Marketplace safer!

[2018-09-25 19:01] LukeTowers commented on #3819
@ayumihamsaki neat idea, unfortunately Snyk doesn't support composer / PHP yet: https://support.snyk.io/getting-started/languages-support

[2018-09-25 19:02] LukeTowers commented on #3823
Feel free to make a PR to implement that as an option if it doesn't already exist @ayumihamsaki

[2018-09-25 19:44] w20k commented on #3811
Tried to reproduce it and could not :)

[2018-09-25 23:00] abnmt commented on #3820
I register layouts and partials like this:

[code]

[2018-09-26 06:53] iboved commented on #3627
I have the same problem. My current build number is 437. For some reason, I don't have your changes (c55a7cd2e2fa59457304eecaf8d834e46fd539fe) in my `/modules/backend/widgets/form/assets/js/october.form.js` file.

[2018-09-26 09:40] AndreeaMb commented on #3679
@gergo85 can you help me to do this, step by step using an example please? I am beginner and I do not know exactly how to do it.

Thank you

[2018-09-27 05:06] LukeTowers commented on #3819
No clue how I missed that @ayumihamsaki, good catch!

[2018-09-27 11:32] SeriousKen opened #3826 "Custom theme data doesn't support array fields"
Custom settings on the theme doesn't support array fields, for example if you add the following to the demo theme's `theme.yaml`

[code]

It says:

I've looked into this and it seems the `beforeSave` method is being called too late. I've created a fix by moving the code to the `model.saveInternal` event instead as this is fired before the validation that triggers the error.

[2018-09-27 12:35] SeriousKen commented on #3826
Found a workaround. Use ThemeData::extend to add the relevant fields to jsonable.

[2018-09-27 12:35] #3826 closed

[2018-09-27 13:54] LukeTowers commented on #3826
That is the recommended way of accomplishing that :) I'll add it to the docs as a note though.

[2018-09-27 15:36] iotch opened #3829 "File upload and MorphOne relationship broken"
##### Expected behavior
Db fields `system_files.attachment_id` and `system_files.attachment_type` must have correct values and not be null

##### Actual behavior
Db fields `system_files.attachment_id` and `system_files.attachment_type` is not filled with values on file upload and MorphOne relationship via RelationController. Uploaded image is never attached to model.

##### Reproduce steps
1. inst

[2018-09-28 16:14] kojaktaha commented on #3768
@LukeTowers I got a new Error when I tried it

Argument 1 of FormData.constructor does not implement interface HTMLFormElement

[2018-09-29 16:18] iotch commented on #3415
Is there any progress on this? Got same issue recently.

[2018-09-30 02:56] LukeTowers commented on #3415
@iotch feel free to dig into it further to see if you can find out any more information on the issue.

[2018-10-01 00:25] #3741 closed, assigned to nobody

[2018-10-01 00:30] LukeTowers commented on #3769
@seanthepottingshed did https://github.com/octobercms/october/commit/a0ec7652f8e366ca5ad463067569da91dd55bd30 fix it?

[2018-10-01 00:33] daftspunk commented on #3769
You will want to make sure you extend the `viewBag` component to prevent the unknown component error, this is a dedicated component intended to serve this exact purpose. So the result will end up something like this:

[code]

When extending the CMS object, make sure you extend directly to the `viewBag` array as well (ignore `settings` it is an internal marker):

[code]

[2018-10-02 01:17] Hao1995 opened #3835 "Problem with Chinese phonetic symbol"
##### Expected behavior
When I type Chinese phonetic symbol. Like 'ㄔㄨㄤˋ'.
The normal situation will produce a word '創'.
And we can press '↓' key to choose which word we want.
Maybe is '創', '愴' ... these are spell by 'ㄔㄨㄤˋ'.
![tag_edge](https://user-images.githubusercontent.com/25665586/46323501-3a5a0a80-c621-11e8-9aa8-91240d2e05b3.gif)

##### Actual behavior
But here it is wrong.
When I type the f

[2018-10-02 13:09] immersiontravis opened #3836 "Model fields defined as "type: number" should be rendered as <input type="number">"
##### Expected behavior
When a field is defined in a model's fields.yaml as `type: number`, the rendered form control should be `<input type="number">`.

##### Actual behavior
The form control is rendered as `<input type="text" pattern="-?\d+(\.\d+)?">`. On mobile devices, users are presented with the alphanumeric keyboard, rather than a numeric keyboard. On any device, the "pattern" attribute is

[2018-10-02 14:18] gergo85 commented on #3679
I implemented the custom button feature in the [Paste Content](https://github.com/gergo85/oc-paste-content) plugin.

1. Add the following namespace to the Plugin.php:
`use Backend\FormWidgets\RichEditor;`

2. Extend the Plugin.php with the following lines:
[code]

3. The source code of javascript file is something like:
[code]
I didn't test this code, but it is a good example how to extend the bui

[2018-10-02 15:48] LukeTowers commented on #3836
This is a duplicate of #2311. We've been back and forth on this for a while, but the main issue preventing this from happening is that apparently type=number forces it to be a whole number, no decimals allowed: https://github.com/octobercms/october/commit/c836d92f9f04f66f8e0e1b4d9ba8af83fed3e439

[2018-10-02 15:49] LukeTowers commented on #3835
@Hao1995 Try upgrading October to the latest build (Note: You will need to read RN-7 and you will need PHP 7).

[2018-10-02 15:51] immersiontravis commented on #3836
Sorry for the dupe – I should've searched harder. Will put any further comments in #2311.

[2018-10-02 15:51] #3836 closed

[2018-10-02 16:33] LukeTowers commented on #3836
No problem, it's kind of hard to find with your search query

[2018-10-02 17:06] w20k commented on #3836
Why not @LukeTowers? Html5 supports double value (http://w3c.github.io/html-reference/input.number.html#input.number.attrs.step.float). You have to specify step option in html or just make it as any.
[code]

[2018-10-02 17:20] LukeTowers commented on #3836
@w20k does step any still make it have that scrollable buttons feature?

[2018-10-02 17:21] LukeTowers commented on #3836
Also does it support negative values?

[2018-10-02 17:28] immersiontravis commented on #3836
It supports negative values. The spinner buttons can be hidden with CSS (although I believe it requires vendor prefixes for some browsers).

[2018-10-02 17:54] w20k commented on #3836
@LukeTowers, it does, just by removing min attr..

[code]

To remove the Spinner, this CSS rule should be used:
[code]

[2018-10-02 18:32] LukeTowers commented on #3836
If someone would submit a PR (along with a PR in the test plugin for me to verify that it works) I'd accept it.

[2018-10-02 18:43] datune commented on #3104
@daftspunk  I am experiencing the exact same behaviour when using Event::queue as @computerfr33k

[2018-10-02 19:11] LukeTowers commented on #3104
@datune please provide as many details as possible.

[2018-10-02 22:40] iotch opened #3837 "Markdown editor formatting dropdown is broken in full-screen mode"
##### Expected behavior
dropdown links must be clickable

##### Actual behavior
"formatting" dropdown links are not clickable because of `<div class="dropdown-overlay"></div>` which receives z-index of 600 when dropdown is open. The editor itself has z-index of 300 in full-screen mode.

##### Reproduce steps
Open markdown editor in full-screen mode, click 'formatting' dropdown and try to apply for

[2018-10-03 07:12] zakir1929 opened #3839 "Cloudflare issue after updating to latest octobercms 443 build."
I updated my octobercms from 437 to 443 build.
and now the header menu is not showing up in the way it was showing before and flash messages for add/edit/delete of any record is not showing up in backend only.

##### Expected behavior
![image](https://user-images.githubusercontent.com/16069667/46395039-abc0b880-c708-11e8-8062-8087b5b130fb.png)

##### Actual behavior
![image](https://user-images.gi

[2018-10-03 10:33] Hao1995 commented on #3835
My PHP version is 7.1.11.
Then upgraded the OctoberCMS version to build 443.

The [RN-7](https://octobercms.com/support/article/rn-7) here.
I think it's an issue that is about file path.
Not relate my question.

[2018-10-03 11:45] w20k commented on #3792
@LukeTowers, did it - #3840

[2018-10-03 11:46] w20k commented on #3836
If @immersiontravis won't have time to deal with it, I hope to make it happen on weekends ;)

[2018-10-03 13:16] immersiontravis commented on #3836
Unfortunately, I don't yet know October well enough to feel comfortable submitting PRs...

[2018-10-03 14:08] iotch commented on #2631
I wonder how to collapse all items on mobile

[2018-10-03 14:08] w20k commented on #3836
Could someone open this ticket? :)

[2018-10-03 16:36] LukeTowers commented on #3836
@immersiontravis just give it a try! I'm not going to yell at you if you get it wrong at all, I'll just let you know what needs changing and how to do that :) This is a relatively easy one to get started with :)

[2018-10-03 16:38] LukeTowers commented on #2631
@iotch any recommendations for the best UX to have on mobile to achieve that?

[2018-10-03 16:39] LukeTowers commented on #3835
@Hao1995 sorry, I meant [RN-9](https://octobercms.com/support/article/rn-9) for upgrading. Is the issue still present in Build 443?

[2018-10-03 16:41] LukeTowers commented on #3839
Turn off CloudFlare performance settings on your backend: https://github.com/octobercms/october/issues/3602#issuecomment-399692351

[2018-10-03 16:41] #3839 closed

[2018-10-03 16:43] LukeTowers commented on #3839
Actually, I'll try adding onto https://github.com/octobercms/october/commit/f068b13851150c6d12f4f2949497e21b980b7f15

[2018-10-03 16:46] iotch commented on #2631
Sure! Keep those buttons and don't rely on actions not available on mobile devices (hover, control/command modifiers, etc.) :)

[2018-10-03 16:50] LukeTowers commented on #3839
@zakir1929 https://github.com/octobercms/october/commit/29541394a3fc773f498c2d6c142302ca2cb927d2 should fix it in theory.

[2018-10-03 16:50] LukeTowers commented on #2631
@iotch those buttons are too large for mobile, could you provide a mockup of how it should look ideally?

[2018-10-03 16:57] iotch commented on #2631
I'm not sure that those buttons are too large for mobile, actually. Another option is to use icons or double tap instead of ctrl+click.

[2018-10-03 17:52] w20k commented on #3836
@immersiontravis , I could try, I or @LukeTowers would help you with this PR ;) Should be fairly simple!

[2018-10-03 21:58] arustler commented on #3119
Can confirm this issue.
I am using the RelationController to display the fields. Setting them in the .yaml file to `readOnly: true` does not work

config_relation.yaml
[code]

fields_systems.yaml
[code]

[2018-10-04 08:09] seanthepottingshed commented on #3769
@LukeTowers

Many apologies I've been off work until today, I will have a look shortly.

[2018-10-04 16:56] zakir1929 commented on #3839
Thankyou @LukeTowers  this problem has been solved :) .

but there is a new problem now.
The editor in whole website is not showing up
![image](https://user-images.githubusercontent.com/16069667/46490029-80cb8700-c824-11e8-8a35-fc63c3c90d28.png)

[2018-10-04 20:08] LukeTowers commented on #3839
@zakir1929 it sounds like CloudFlare just isn't playing nice. I would recommend you just disable the performance on the entire backend now.

[2018-10-05 06:16] Hao1995 commented on #3835
@LukeTowers
Yes! The issue still exists.

[2018-10-05 07:07] #3792 closed

[2018-10-05 08:39] Wachem opened #3846 "Mailgun driver support EU region"
##### Expected behavior
Chose your region in the mail (Mailgun) setup (US/EU).

##### Actual behavior
October only calls the US API endpoint instead of the (new) EU API endpoint.

##### Reproduce steps
Use a Mailgun domain in EU region with following API endpoint: https://api.eu.mailgun.net/v3/*

##### October build
443

[2018-10-05 10:00] damsfx commented on #3679
file: **plugin.php** , public function **boot()**, add :
[code]
In the new created file `\plugins\you\yourplugin\assets\js\extend-richeditor.js`:
[code]
![screenshot_2018-10-05](https://user-images.githubusercontent.com/282242/46529136-eb68db00-c895-11e8-8074-98a2e7a3bf0a.png)

and voila!

[2018-10-05 19:00] LukeTowers commented on #3835
@Hao1995 Is this an OS / Browser feature? I don't think there's anything special built into October to support this

[2018-10-05 19:02] LukeTowers commented on #3846
@Wachem feel free to make a PR to add support for this.

[2018-10-06 16:15] tobias-kuendig commented on #3341
I just had the same problem that was caused be a helper function I had included via composer.

The function was using `Twig::parse` to render a twig template. The problem was, that this call initialized Twig [before the `MailPartialTokenParser` got registered](https://github.com/octobercms/october/blob/master/modules/system/classes/MailManager.php#L307).

When further down the stack the email got

[2018-10-07 12:36] ayumihamsaki opened #3849 "Event Log character limit bug"
I will show a screenshot of the problem:

![bug](https://user-images.githubusercontent.com/17784082/46581735-821fce00-ca35-11e8-8db8-adc4c0a4ac5b.png)

I have highlighted the areas where there is a very short character limit going on!

I can't actually pin point the error due to such short character limits.

Surely October CMS can have longer character limits to better show the location of the err

[2018-10-07 21:55] ayumihamsaki commented on #3849
@LukeTowers

I think you are totally right on your comment. One thing though, October is now using Laravel 5.5 so can we get rid of the HTML Stack Trace and move over to the FULL JSON Stack Trace. Then create some nice styling for the JSON Data and we can see everything.

This video demo's what I am saying: https://www.youtube.com/watch?v=GjXgZYEgnQs

[2018-10-07 22:45] ayumihamsaki commented on #3849
@LukeTowers

My recommendation/request would be for October to get rid of it's current error handling and move over to this one, found here: https://github.com/GrahamCampbell/Laravel-Exceptions

Also please check out this short video that demo's it and see how nice that error debuggin system is: https://www.youtube.com/watch?v=IWW26hIOv-I

Let me know what you think?

[2018-10-07 22:49] ayumihamsaki commented on #3849
I'm suggesting both these packages:

GrahamCampbell/Laravel-Exceptions
filp/whoops

by the way.

[2018-10-08 06:48] SadiqUltra commented on #3354
In Backend\Widgets\MediaManager.php file I have change regex with desired Unicode range. And it does work.
`
 protected function validateFileName($name)
    {
        // added our language's unicode in regex
        if (!preg_match('/^[\p{Bengali}0-9a-z@\.\s_\-]+$/i', $name)) {
            return false;
        }

        if (strpos($name, '..') !== false) {
            return false;
        }

[2018-10-08 08:09] tobias-kuendig commented on #3341
I just moved the Twig parse call into it's own class and registered it via my plugin's boot method. It seems like it's still a problem if `Twig->parse` is called before the email is sent.

Registering the `MailPartialTokenParser` permanently solves this problem. I'm not sure why the token parser is only loaded temporarily.

[code]

Is there a way to force a reload of the twig environment in the Ma

[2018-10-08 08:57] Hao1995 commented on #3835
@LukeTowers
I guess the issue is caused by october_proejct\modules\system\assets\ui\storm-min.js.
I search the class "select2-search__field" of tag input element in this file.
Then find the "Search.prototype".
That has a lot of trigger events like 'focus', 'disable', 'keydown' ...etc.
Then I write down many console.log inside.

Finally, I found this function 'Search.prototype.resizeSearch' be trig

[2018-10-08 10:39] w20k commented on #3795
Wow, looking forward ;) Nice done @gergo85 !

[2018-10-08 12:37] tobias-kuendig commented on #3341
I have to correct my previous comment. After clearing all compiled views and the cache my frontend does not work anymore.

Abviously the mail `partial` tag no conflicts with the default frontend `partial` tag.

I'll see if I can find another solution.

[2018-10-08 13:07] gergo85 commented on #3795
Thank you @w20k ! I added tutorial videos too.

[2018-10-08 14:14] #3795 closed

[2018-10-08 14:15] LukeTowers commented on #3835
@Hao1995 so are you able to create a PR to fix the issue?

[2018-10-08 14:17] LukeTowers commented on #3354
@SadiqUltra you shouldn't change core files, those changes will be removed next time you update.

[2018-10-08 14:22] LukeTowers commented on #3849
@ayumihamsaki it already somewhat uses that I think. Feel free to submit a PR with screenshots showing the differences

[2018-10-08 14:54] wisdomugo opened #3851 "Invalid argument supplied for foreach(): modules\cms\classes\ComponentHelpers.php line 39"
##### Expected behavior
(Describe expected behavior here)
I expect it to take me to the pages ie .htm files i have created so i can select a page and add components, edit them and do some other things in the pages.

##### Actual behavior
(Describe actual behavior here)
throws an error that says: Invalid argument supplied for foreach().

##### Reproduce steps
(Describe the steps to reproduce the pr

[2018-10-08 15:28] LukeTowers commented on #3851
Disable all your plugins and update the CMS to the latest version

[2018-10-08 15:34] wisdomugo commented on #3851
Ok. let me try it immediately

[2018-10-08 15:49] Aloha276 commented on #3015
Same error with PHP 7.2.10, any updates from Laravel for the 5.5 version?

[2018-10-08 15:52] wisdomugo commented on #3851
@LukeTowers I just did as you said.. error still persists

[2018-10-08 17:37] ayumihamsaki commented on #3849
I try to create a PR this week for this, it seems quite important to have a nice bug/error checking system. Leave it with me will try to put something together...

[2018-10-08 21:09] LukeTowers commented on #3851
@wisdomugo what components are included in your theme's pages and layouts?

[2018-10-09 10:20] Darkrogua commented on #2722
**Not work**
I tried to use it in my partial plugin, search results are missing

`<label for='Form-field-Order-name'>Dropdown</label>
<select id='Form-field-Order-name' name='Order[product_id]'
    class='form-control custom-select'
    data-handler='onGetProductName'
    data-minimum-input-length='1'
    data-process-Results='true'
    data-ajax--delay='300'

**handler**
`
    public function onG

[2018-10-09 11:30] wisdomugo commented on #3851
@LukeTowers I have the following components:
1. Account component of the user plugin
2. locale picker component of the translator plugin
3. The Pages plugin
4.. the Builder plugin
5. Some components of some custom plugins i built myself, one extends the user plugin, others like country database plugin, etc about 4 of them

[2018-10-09 11:31] wisdomugo commented on #3851
Thanks for helping.. hoping you'll see me through finally.
@LukeTowers

[2018-10-09 11:54] wisdomugo commented on #3851
OK. I just found out something. I disabled one of my plugins, the one that extended the user plugin and the  exception stopped throwing. once i enable it back it starts again. So the problem is from that my plugin. Hoping this helps and clarifies the problem more. Hoping to get the more better directions as you can give me. Thanks @LukeTowers.

[2018-10-09 11:55] w20k commented on #3851
@wisdomugo could you tell exact name of this plugin?

[2018-10-09 12:41] iboved commented on #3433
I have the same problem. I try to implement a translation for an external plugin. I add the following:
[code]
But when I try to create the Product model, I get the following error:
`Unexpected type of array when attempting to save attribute "translatable", try adding it to the $jsonable property.`

Why `addDynamicProperty()` method adds `translatable` property to the model `attributes`?

[2018-10-09 12:59] Thejuse commented on #3683
# Marketplace bundles

It would be a cool idea that you can make bundles for everyone with plugins/Themes and you can buy it (if there are payed plugins) and you can add it if there are free Plugins.

e.g
**StartPackage**
- rainlab-pages
- rainlab-blog
- rainlab-sitemap
- renatio-seomanager

That can be a QuickStart Package for sites and you can install it easy and fast

[2018-10-09 14:28] LukeTowers commented on #3683
@Thejuse I appreciate the contribution, it's been suggested above here: https://github.com/octobercms/october/issues/3683#issuecomment-412022173

[2018-10-09 14:29] LukeTowers commented on #3851
@wisdomugo your plugin is interfering with a components get properties method causing it to not return an array of properties.

[2018-10-09 14:33] LukeTowers commented on #3433
@iboved because it adds it as a property to the model and Laravel saves all properties that it doesn't know about explicitly. You need to also make sure that the model implements purgeable and add `translatable` to the `purgeable` property.

[2018-10-09 15:52] LukeTowers commented on #3851
@wisdomugo post the code for your plugin.php and any components you built here

[2018-10-09 23:20] ayumihamsaki commented on #3849
@GrahamCampbell Sorry to bother you, what's your thoughts on this issue?

[2018-10-10 08:07] SadiqUltra commented on #3354
@LukeTowers yes, but for now its only option that works, I guess.

[2018-10-10 09:02] wisdomugo commented on #3851
It is a seller plugin, extended the user plugin model
The plugin.php code:
[code]

The plugin has a Register Component with some partials.
The Register.php file code:

[code]

[2018-10-10 09:10] wisdomugo commented on #3851
It is a multi section registration form for sellers.. I put each section of the form into separate htm pages in the component. On clicking a next button in a form, an ajax request is made to a function inside the Register.php file where the data is inserted into the database, the currently submitted form is checked to know the next form to call up, then the next form to call up is passed into the

[2018-10-10 14:44] LukeTowers commented on #3851
@wisdomugo you need to remove
[code]
from your component or have it return an empty array. I'll also make a fix in the core to prevent this from triggering an error in the future.

[2018-10-10 18:08] ayumihamsaki commented on #3849
@LukeTowers If it's ok with you I think I will close this issue. I have looked into it and it seemd to not be a problem October's side but Whoops side. The reason they are limiting those values for on purpose due to security and not showing the full values. Therefore I think maybe it would not be a good idea to extend the database paths etc. in the Stack Trace. Therefore can I leave it up to you t

[2018-10-10 19:27] Eoler opened #3855 "Improve linking from ActiveTheme report widget with permissions"
##### Expected behavior
ActiveTheme ("Website") report widget should respect backend permissions when linking to Settings controllers:
- In maintenance: backend admin has acces to `cms.manage_themes`
- Manage themes: backend admin has access to `cms.manage_themes`
- Customize theme: backend admin has access to `cms.manage_theme_options`

##### October build
443

Can do pull request later on...

[2018-10-11 04:49] montcroft commented on #3741
Have just managed to schedule a test for this. Excellent, thanks team. esp @chrisbethelepb

[2018-10-11 08:11] Wachem commented on #3846
I'll look into this soon ;-)

[2018-10-11 14:21] ayumihamsaki opened #3856 "Improve Tab UX for large numbers of tabs and smaller screen sizes"
Using the code from this webpage: https://octobercms.com/docs/ui/tab

I will show the following screenshots and errors:

## Master tabs

![1](https://user-images.githubusercontent.com/17784082/46809999-a5b18400-cd67-11e8-90ea-e2bb50977280.png)

The CSS is NOT broken, however the User Experience seems rather poor to scroll the tabs.

## Primary tabs

![2](https://user-images.githubusercontent.com/1

[2018-10-11 14:57] wisdomugo commented on #3851
I am very grateful @LukeTowers . It is now working. Thanks a lot for your assistance

[2018-10-11 15:06] wisdomugo commented on #3851
Please sir, what i am actually building on that my plugin is a multi section form in october cms. The form will have Next and Previous buttons. On clicking NEXT, data on the form is saved and next form is shown. I show it with renderPartial() inside a div on that same page. When PREVIOUS, previous form will be shown with the previously filled data persistent on the fields. Plugin component has som

[2018-10-11 15:06] gergo85 opened #3858 "The attributes and containerAttributes field options don't work"
##### Actual behavior
The given values don't show in the source code.

##### Reproduce steps
Extend any text fields with "attributes" or "containerAttributes" option.

##### October build
443

[2018-10-11 16:20] LukeTowers commented on #946
Fixed by @w20k!

[2018-10-11 16:38] LukeTowers commented on #3856
@ayumihamsaki I like the suggestion. Submit a PR and I would be happy to review it.

[2018-10-11 16:40] LukeTowers commented on #3851
@wisdomugo I would recommend you ask for assistance on Slack, github issues are meant only for issues with the OctoberCMS core.

[2018-10-11 16:57] LukeTowers commented on #3858
@gergo85 what field types do they not work on? Please submit a PR to the [test plugin](https://github.com/octoberrain/test-plugin) that demonstrates the issue.

[2018-10-11 18:15] ayumihamsaki commented on #3856
@LukeTowers

Have finished coding something for you to check out, I have tested it inside October CMS as well, so here are some screenshots:

## Desktop Version

![1](https://user-images.githubusercontent.com/17784082/46824718-aa872f80-cd89-11e8-9bef-451cb35a925d.png)

## Tablet Version

![2](https://user-images.githubusercontent.com/17784082/46824727-b1ae3d80-cd89-11e8-84d0-5284c30ab4c3.png)

##

[2018-10-11 20:38] gergo85 commented on #3858
I tried text fields. Alright, I added a PR to the test plugin.

[2018-10-11 22:07] Beaudinn commented on #3341
same +1

[2018-10-11 22:32] LukeTowers commented on #3341
@Beaudinn please do not make "+1" comments. If you have nothing detailed or helpful to add to the conversation then just note your "+1" by reacting appropriately to an earlier comment in the thread.

[2018-10-11 22:36] Beaudinn commented on #3341
Sorry  @LukeTowers
@tobias-kuendig you can use the MailManager itself to render the markdown template into text like
`MailManager::instance()->renderText($content, $data)`

[2018-10-11 23:08] ayumihamsaki commented on #3856
# Code Examples for Documentation

I have used the exact same code as October's Tabs the only real difference is using the `**responsive-tabs**`

## Normal Code Example

[code]

## October Icon Example

[code]

PR to come will just be CSS and LESS Code only I have used October's already installed Javascript Tab Extension.

[2018-10-11 23:10] ayumihamsaki commented on #3856
# Code Examples for Documentation

I have used the exact same code as October's Tabs the only real difference is using the `**responsive-tabs**` class attribute:

## Normal Code Example

[code]

## October Icon Example

[code]

PR to come will just be CSS and LESS Code only I have used October's already installed Javascript Tab Extension.

[2018-10-11 23:14] ayumihamsaki commented on #3856
# Code Examples for Documentation

I have used the exact same code as October's Tabs the only real difference is using the `**responsive-tabs**` class attribute, which _I have just created_:

## Normal Code Example

[code]

## October Icon Example

[code]

Screenshot of the two code snippets will look like this in October CMS:

![1](https://user-images.githubusercontent.com/17784082/46839008-67d64

[2018-10-12 00:32] LukeTowers commented on #3596
@Gamertech could you test this with the latest develop branch of the OctoberRain library: https://github.com/octobercms/library/commit/f73fea160379496d227d867405e5a2b498cd5b27

[2018-10-12 02:49] montcroft commented on #3741
I spoke too soon. The code was in some weird cache state when I tested, and it simply stopped working again at a later time.

We're now stuck on:   '  ' and !    - note that those first two chars are different

I think it's going to be near impossible to catch all allowed characters with a regular expression. I think this code should concentrate on what isn't allowed.

[2018-10-12 02:55] LukeTowers commented on #3741
@montcroft if you could submit a PR to implement the perfect solution I'd love to review it!

[2018-10-12 03:11] montcroft commented on #3741
First I will need to gain a better understanding of why this method exists and where it is used. For us it causes a problem when scanning a folder, but I suspect it provides value elsewhere.

I will see what I can cook up.

[2018-10-12 04:27] Gamertech commented on #3596
No, doesn't affect it at all. Clicking the Sign Out link just refreshes/browses to the dashboard with no errors after changing the app's time forward.

[2018-10-12 08:41] AndreeaMb commented on #3679
@damsfx  I have this error 'Uncaught TypeError: Cannot read property 'DEFAULTS' of undefined'...I do not see where I am wrong...do you have any ideea?

[2018-10-12 09:16] nolybom commented on #3431
@GinoPane Did you cross a possible solution for that issue?

[2018-10-12 11:30] gergo85 opened #3861 "Do you like October? Vote your favorite CMS!"
The CMS Critic Awards started and the voting has begun:
https://www.cmscritic.com/awards/
Now the October is third, but I hope it will be the first :)

OpenSourceCMS website user rating:
https://www.opensourcecms.com/october/

[2018-10-12 12:14] GinoPane commented on #3431
@nolybom actually it was not an issue. I was logged in to the backend area as admin at the moment and that's why all posts were displayed on the frontpage.
If you are guest you won't see those posts.

[2018-10-12 14:51] reed-josh opened #3862 "Middleware after first request of a session unable to put session values"
##### Expected behavior
If you try to "put" or change session data in a middleware it should update the session, and it should work this way on every request not just the first.

##### Actual behavior
Currently it appears if you set session data in the middleware it will work the first time the code is run, but running the same code again subsequent times in the same session the middleware's alter

[2018-10-12 15:35] LukeTowers commented on #3861
@gergo85 that's disappointing that they've labelled OctoberCMS as a flat file CMS. I've sent them a message to see if they'll change the category

[2018-10-12 16:15] tobias-kuendig commented on #3341
I ended up registring my own Twig environment. This prevents all conflicts when using my helper.

[code]

[2018-10-12 17:30] LukeTowers commented on #3862
@w20k do you want to look into this?

[2018-10-12 19:00] ghost opened #3863 "October CMS and Auto Save (autosave)"
Been using October CMS for many years, but one thing in the back of my mind is autosave. All professional systems should have an autosave feature!

Is there a way or does October CMS already have this feature?

I would like to see autosave on all form widget fields (not list).

For example some screenshots I was thinking in my mind:

## Autosave

![temp-1](https://user-images.githubusercontent.com

[2018-10-12 19:17] idpsycho commented on #2451
Hello, I have built a custom Model Trait HasManyJsonable that fetches hasMany relations into jsonable, and is able to sync the submitted form back into relations.
It has a built in validation for repeater models.

It was quite a challenge, but in the end I had to implement those usecases in it:
1. simple checklist with checklist_item's with hasMany relation, editable as jsonable with repeater
2. "

[2018-10-12 19:19] gergo85 commented on #3861
@LukeTowers I agree with you.

[2018-10-12 20:45] ayumihamsaki commented on #3863
Totally agree with you! Your questions about localstorage and periodically saving to the db - I was also thinking about? I would say a balance of funcationality and security, that covers most user cases.

I leave this open up to discussion and further ideas, as it not so straight forward to add, but would be a welcomed feature I believe.

[2018-10-12 20:46] amdad commented on #3863
Cool feature, but more important than auto save at this moment, is to make sure 2 (or more) admins do not save the same record over on each other. When edit same record at the same time.

[2018-10-12 20:52] ayumihamsaki commented on #3863
Here's some initial goals:

- User doesn't lose their input data due to bad internet and need to start again to fill out the form
- Reduction of having to click on the save button to update the form fields
- Bypass method when the plugin is in development mode
- Logic to prevent or notify multiple admin users

[2018-10-12 21:38] w20k commented on #3863
How I see, it should be done, and not that hard, because if we go straight to saving either to local storage or DB directly, the most problematic part would be - 'Data Validation'. Pain in di butt!

What I would suggest to have instead - Revision table for 'BackendForms'. Where data isn't validated, but stored directly to DB + local storage for cache (I guess for performance ;) ). Revision could h

[2018-10-12 21:45] w20k commented on #3862
@LukeTowers , sounds fun, will take a look, but after weekends, I guess ;) Father is celebrating his jubilee (60th birth anniversary).

[2018-10-12 22:52] w20k commented on #3862
@reed-josh , could check if explicitly calling '\Session::save()', would help :)

[2018-10-13 03:41] LukeTowers commented on #3863
Note that I don't want this to be something that is enabled for everything by default, I'd rather have this provided as a feature that developers can enable as desired, or perhaps as a plugin.

[2018-10-13 15:06] ayumihamsaki commented on #3863
Following on from Luke's comment would it be a good idea to assign autosave settings for each Backend Administrator and they can custom set the autosave settings and/or turn it off. I feel everyone will have a different preference.

I like the autosave in Microsoft office as it works in the background and doesn't cause any problems to my workflow, so I was hoping October could be like that.

[2018-10-13 15:07] ayumihamsaki commented on #3863
Following on from Luke's comment would it be a good idea to assign autosave settings for each Backend Administrator and they can custom set the autosave settings and/or turn it on/off. I feel everyone will have a different preference.

I like the autosave in Microsoft office as it works in the background and doesn't cause any problems to my workflow, so I was hoping October could be like that.

[2018-10-14 08:01] w20k commented on #3862
The question cleared, if you want to use session, you have to process request first, and then your session object will be accessible.

[code]

[2018-10-14 15:13] LukeTowers commented on #3862
@reed-josh does @w20k's answer help?

[2018-10-15 05:06] kerbylav opened #3864 "Why there are no beforeLogout/afterLogout methods and events?"
Is there any special reason for this? It could be useful to perform some "cleanups" before or after actual logout of user. Especially in case of an backend user.

[2018-10-15 10:01] ayumihamsaki commented on #3608
@LukeTowers @daftspunk

Hi Luke, call me thick but can't you just do this with `JSON.stringify()` ?

For example see my code:

[code]

The output will be:

`{"abc":"value"}`

Or maybe I am not seeing something here?

[2018-10-15 14:47] LukeTowers commented on #3608
@ayumihamsaki the problem is that we need to go the other direction here, we have a JS object in a string that we need to turn into a JS object in code. See https://github.com/octobercms/october/issues/3608#issuecomment-401237383

[2018-10-15 14:55] LukeTowers commented on #3864
@kerbylav please post an example of how you would use such events. Also there are some events that you can hook into that would achieve similar results, see https://github.com/luketowers/oc-pwnedpasswords-plugin#force-existing-users-to-reset-their-passwords

[2018-10-15 15:54] reed-josh commented on #3862
So in a fresh install of Laravel 5.7 I am able to create the behavior that I want.

Middleware

    public function handle($request, Closure $next, $guard = null)
    {
        session()->put('foo', request()->get('foo'));
        $response = $next($request);
        return $response;
    }

and in the welcome.blade.php file

            <div class="title m-b-md">
                    Laravel!

[2018-10-15 15:58] ayumihamsaki commented on #3608
@LukeTowers `JSON.parse()` is the opposite of `JSON.stringify()`, the only issue with using it is that it doesn't use trailing stops at the end. Is it possible to see some more examples then I can understand the issue a little bit clearer. I actually have this issue affacting one of my plugins I am building due to the ajax getting blocked by csp.

[2018-10-15 16:00] ayumihamsaki commented on #3608
@LukeTowers `JSON.parse()` is the opposite of `JSON.stringify()`, the only issue with using it is that it does not allow trailing commas. Is it possible to see some more examples then I can understand the issue a little bit clearer. I actually have this issue affecting one of my plugins I am building due to the ajax getting blocked by csp.

[2018-10-15 16:45] ghost opened #3867 "List of Updated Javascript Packages in October for Future Reference"
This is a question, but why are so many packages in October so out of date and there seems to be so many of them in this state.  The more I check the more worrying it makes me feel.

I am referring to all the Javascript packages mostly, although the CSS is very old as well.

With regards to the Javascript packages most are using jQuery V1 still and alot say their dated from as far back as 2006. Su

[2018-10-15 17:45] LukeTowers commented on #3867
@ayumihamsaki simply put, because no one has bothered to update them. Feel free to submit PRs as desired, testing thoroughly for backwards compatibility.

[2018-10-15 18:21] amdad commented on #3856
Did you just replace amazing styled tabs for this 'red ones'? You should rather fix responsiveness of original ones than totally throw them away.

[2018-10-15 20:03] ayumihamsaki commented on #3867
@LukeTowers Will try my best and will periodically create PR's and link them to this issue, will take time due to backwards compatibility and conflicts, if other people could also try and HELP that would be great. I think there are well over 100 out of date JS files on a quick search through the master of this github.

If you want to make a plan for this let me know otherwise will just update thin

[2018-10-15 20:50] Fenn-CS commented on #3556
I am having this error while trying to upload a CSV file in order to imports posts on Indikator news plugin. Just as mentioned before the error message is pretty useless and does not help the dev solve the problem in anyway.

[2018-10-15 21:19] ayumihamsaki commented on #3867
These paths:

[code]

...and any other Javascript file inside a **vendor** or **assets** folder.

[2018-10-15 21:31] amdad commented on #3856
Alright, so if it will be as additional style of tabs then very welcome!

How to use them directly from yaml?

[2018-10-15 21:59] LukeTowers commented on #3867
@w20k is this something you're interested in helping with?

[2018-10-15 22:03] LukeTowers commented on #3856
@ayumihamsaki could you please update the CSS to make it look more like it belongs in October? The red and pale yellow don't work well with the default styling. Also, there is currently no support for tab icons in October, so how do you plan on implementing that?

[2018-10-16 06:28] Eoler commented on #3855
Tested with full theme managing permissions, options only, and without any of two - it works @LukeTowers .

[2018-10-16 07:16] w20k commented on #3862
@reed-josh Might take a while, need to test this behaviour with Laravel also. Or if you could help me out, and post your code on github? :) Would be perfect!

[2018-10-16 07:29] gergo85 commented on #3858
@LukeTowers Is it right PR for test plugin?

[2018-10-16 09:54] phper01 opened #3870 "{% if category.children %} category.children =[], is true"
{% if category.children  %}
        bbb
    {% else %}
        aaa
     {% endif %}
category.children is [] ;
always bbb

please help,thanks.

[2018-10-16 10:08] #3870 closed

[2018-10-16 10:38] gergo85 commented on #3861
The new homepage of the official site looks good 👍

[2018-10-16 10:38] #3861 closed

[2018-10-16 11:37] kerbylav commented on #3864
Well, for example, when some backend user logs out, I need to stop any possible impersonation he was doing. And now I do something dirty, intercepting backend route of signing out to make it possible.

But it is just wrong, because of number of reasons, including there is no way to intercept \BackendAuth::logout()

[2018-10-16 12:24] Cryden opened #3871 "getSaveValue() after saving model"
How to make the formwidget save the data only after the model is saved?

[2018-10-16 14:19] ayumihamsaki commented on #3867
@LukeTowers @w20k Thanks.

[2018-10-16 15:01] ayumihamsaki commented on #3867
Issue: Sweet Alert last updated 2015, by Daftpunk. There is no Version Number on anything found in this folder: https://github.com/octobercms/october/tree/master/modules/backend/assets/vendor/sweet-alert

The Newest Version was last dated 2017, so it must be out of date. Plus there is now a polyfill for the new features so the polyfill would need to be added to the October Core Loader as well I th

[2018-10-16 15:13] LukeTowers commented on #3864
@kerbylav feel free to add the necessary PRs to the library repo and the backend user model following the existing naming conventions.

[2018-10-16 15:15] LukeTowers commented on #3871
How to make the rain fall only after the ground is wet?

[2018-10-16 15:20] Cryden commented on #3871
How to call a function in formwidget after saving model data?

[2018-10-16 15:27] ayumihamsaki commented on #3608
@LukeTowers  I wonder if @w20k would like to look at it? This is a really big issue for me because I can't use October's AJAX and CSP at the same time. It's stopping some of my plugins working! Anyway, to change it from low to medium. :laughing:

[2018-10-16 16:41] nathan-van-der-werf commented on #3608
I agree with @ayumihamsaki that this is a big issue.

[2018-10-16 16:44] w20k commented on #3871
@Cryden, start from reading documentation first: https://octobercms.com/docs/database/model#events

[2018-10-16 16:56] zmsaunders opened #3873 "Update server throws 500 "Trying to get property of non-object" response if project has been deleted."
##### Expected behavior
Update server should return response indicating that the project supplied does not exist, or allow update to proceed with non-purchased plugins.

##### Actual behavior
Update server returns 500 response with body of "Trying to get Property of Nonobject" when project supplied in payload has been deleted from https://octobercms.com/account/project/dashboard.

##### Reproduce

[2018-10-16 17:10] w20k commented on #3608
We could try to adopt the new JQuery approach ($.globalEval() -> what it does is quite [interesting](https://github.com/jquery/jquery/blob/e743cbd28553267f955f71ea7248377915613fd9/src/core/DOMEval.js#L12) ;) ), they dropped eval from their code base. Only test plugin Sinon.JS has it (if I'm not mistaken)!

jQuery Doc URL: https://api.jquery.com/jquery.globaleval/

@nathan-van-der-werf or @ayumiham

[2018-10-16 17:45] ayumihamsaki commented on #3856
@LukeTowers sure I will try and update the colors to make it more inline with the rest of the OctoberCMS other Tabs (sorry about that).

Actually I ran several tests and all were successful use October's defalut icons and Font Awesome icons, the above screenshots I used Font Awesome 5.4.1

Taken from the Doc Notes found here: https://octobercms.com/docs/ui/icon

It says the following:

So I just d

[2018-10-16 17:46] ayumihamsaki commented on #3856
@LukeTowers sure I will try and update the colors to make it more inline with the rest of the OctoberCMS other Tabs (sorry about that).

Actually I ran several tests and all were successful used October's defalut icons and Font Awesome icons, the above screenshots I used Font Awesome 5.4.1

Taken from the Doc Notes found here: https://octobercms.com/docs/ui/icon

It says the following:

So I just

[2018-10-16 18:16] ayumihamsaki commented on #3856
@LukeTowers Please QC this and say if ok or not before I update the PR - see screenshot:

![tabs-colour](https://user-images.githubusercontent.com/17784082/47037886-a4b99180-d16f-11e8-803c-3a61e76f2175.png)

[2018-10-16 18:53] LukeTowers commented on #3856
Hover can be the same as active, there's a weird extra top border on the active one, and I don't think the fonts should be bold.

What I meant about the tab icons is how do you plan on defining them in the form fields YAML?

[2018-10-16 19:00] Cryden commented on #3871
i can use in formWidget this code?
[code]

[2018-10-16 19:52] LukeTowers commented on #3871
@cryden you could, but it would be better to target the specific model being touched by the form. Try something like this:
[code]

[2018-10-16 21:00] Cryden commented on #3871
Thanks!

[2018-10-16 21:00] #3871 closed

[2018-10-16 21:59] ayumihamsaki commented on #3856
As per Luke spec updated screenshot of new PR is this for future ref:

![1](https://user-images.githubusercontent.com/17784082/47050021-7bf4c480-d18e-11e8-9435-588ca22e5272.png)

I think you are talking about this: https://octobercms.com/docs/backend/forms#form-tab-options

To be honest, I coded it in flexbox so it is clever enough to re-size with and without icons (you dont need to add any extra

[2018-10-16 22:07] ayumihamsaki commented on #3856
As per Luke spec updated screenshot of new PR is this for future ref:

![1](https://user-images.githubusercontent.com/17784082/47050021-7bf4c480-d18e-11e8-9435-588ca22e5272.png)

I think you are talking about this: https://octobercms.com/docs/backend/forms#form-tab-options

To be honest, I coded it in flexbox so it is clever enough to re-size with and without icons (you dont need to add any extra

[2018-10-16 22:15] LukeTowers commented on #3856
@ayumihamsaki so you would need to add another option under that heading that would work like this:
[code]

[2018-10-17 02:10] LukeTowers commented on #3856
@ayumihamsaki you'll also have to actually implement it in this PR as well

[2018-10-17 06:53] iboved opened #3875 "Why "Lang::hasForLocale()" method does not exist in OctoberCMS?"
##### Expected behavior
I want to check if a key is localized in a certain language. There is a `Lang::has()` method which always returns `true`, because it always fallback to the default locale. This issue is fully described [here](https://github.com/laravel/framework/issues/10718). Here is the [Pull request](https://github.com/laravel/framework/pull/10767) where Laravel developers added a new me

[2018-10-17 09:29] Teranode commented on #3875
There are also other methods that aren't implemented. Seems like there's a bunch of things that arent added core-wise because they're custom implementations of their contracts. So this is more than just translations.

[2018-10-17 13:23] LarBearrr opened #3876 "Dropdown causing `substr() expects parameter 1 to be string, array given` in RelationController form"
##### Expected behavior
Display a dropdown of Locale options (similar to `/backend/backend/preferences`) in a form used by the RelationController with a hasOne/belongsTo relationship.

Note: The field is part of a JSONable property.

##### Actual behavior
When selecting the record with the RelationController `Link` button, it throws:
`substr() expects parameter 1 to be string, array given` which i

[2018-10-17 15:47] ayumihamsaki commented on #3856
@LukeTowers Sorry still dont fully understand, so not sure what to code exctaly logic wise.

[2018-10-17 15:47] ayumihamsaki commented on #3856
@LukeTowers Sorry still dont fully understand, so not sure what to code excatly logic wise.

[2018-10-18 02:29] ayumihamsaki commented on #3608
@LukeTowers I would like to also say that there is no "security" label, I think this issue should of also got a 'security issue' label of some kind.

@w20k there is also another issue, I have seen jquery V1 code in many field widgets and October is using jQuery V2. So there should have been jQuery Migrate running some time ago. I did add it to the jQuery V3 update issue, but something for you to k

[2018-10-18 03:09] ayumihamsaki commented on #3707
Still trying to get all the answers with regards to this issue.

https://medium.com/@nekrtemplar/self-destroying-serviceworker-73d62921d717

[2018-10-18 03:30] ayumihamsaki commented on #3707
Ideas (placement positions):

- public function __construct() (Add the Javascript code to turn off Service Workers)

- public function index() (Add middleware header: Clear-Site-Data: "cache", "cookies")

- public function signout() (Add middleware header: Clear-Site-Data: "cache", "cookies", "storage", "executionContexts")

[2018-10-18 05:05] osmanzeki commented on #3863
Tell me if I'm a bit too off-topic here but would having a Revisioning system built-in enable these kind of features automatically? Meaning that the autosaved would create a "Revision" (that keeps on getting updated for the time that the edit is being done) that could be then eventually be "applied" or "unapplied" (on save, on revert).

This could potentially also solve the problem of users editin

[2018-10-18 05:31] LukeTowers commented on #3863
@osmanzeki that's an interesting thought. I don't think we want to get too deep into the weeds with concurrent editing however, see https://ckeditor.com/blog/Lessons-learned-from-creating-a-rich-text-editor-with-real-time-collaboration/ for how complex that can get.

[2018-10-18 05:47] osmanzeki commented on #3863
Oh god no hahah I wasn't thinking about anything like that. Reimplementing Google Docs-like collab is no small task. I've programmed multiplayer games in the past so all kinds of horrible things happen when you do get into realtime and networking. Especially with lag, packet loss, etc, etc. :)

My idea was simpler than that, if you're a cms user and you route into a FormController for a given mode

[2018-10-18 06:07] munxar commented on #3863
@osmanzeki there is already a logging feature that keeps track of every change you do in file and displays a nice diff.
to enable it: backend / settings / Log Settings / Log theme Changes (enabled)
In theory this could be extended to revert back and forth to any version of a file (like git).
At least for the CMS or StaticPage part.
After having such a feature, it's

a) save to save at any time bec

[2018-10-18 09:44] FlusherDock1 commented on #1409
Is there any update about this situation?

[2018-10-18 15:37] ayumihamsaki commented on #3707
@LukeTowers

I would just to try and create a PR for this today, so that this issue can get closed off. I have done my research now and think I can write the code code for it. But I have some questions about the **Middleware**. (The Javascript side of things will be ok).

I will be editing the file location: https://github.com/octobercms/october/blob/master/modules/backend/controllers/Auth.php

Th

[2018-10-18 15:46] ayumihamsaki commented on #3707
@LukeTowers

I would just to try and create a PR for this today, so that this issue can get closed off. I have done my research now and think I can write the code code for it. But I have some questions about the **Middleware**. (The Javascript side of things will be ok).

I will be editing the file location: https://github.com/octobercms/october/blob/master/modules/backend/controllers/Auth.php

Th

[2018-10-18 15:47] ayumihamsaki commented on #3707
@LukeTowers

I would just to try and create a PR for this today, so that this issue can get closed off. I have done my research now and think I can write the code code for it. But I have some questions about the **Middleware**. (The Javascript side of things will be ok).

I will be editing the file location: https://github.com/octobercms/october/blob/master/modules/backend/controllers/Auth.php

Th

[2018-10-18 18:41] ayumihamsaki commented on #3608
@w20k I like your idea with using `jQuery.globalEval()`

I have been reading up over there and see that the jQuery Team are also working on CSP to fix the nouce-issue see here: https://github.com/jquery/jquery/issues/3541

So at a later date it would also be a good idea to update jQuery to version 3.4.0

I just want to point out the nouce-issue with CSP. If using `jQuery.globalEval()` and it fixes

[2018-10-18 19:56] LukeTowers commented on #1409
@FlusherDock1 nope. Feel free to sponsor the issue or implement support for it yourself and submit a PR :)

[2018-10-19 03:00] reed-josh commented on #3862
Hey, sorry I haven't been on for a few days. Yes, I would be happy to post it tomorrow, left the code on my work computer.

[2018-10-19 13:27] seanthepottingshed commented on #3863
Would this be able to tied in with the current `Revisionable` trait somehow?

[2018-10-19 13:28] munxar commented on #3863
@ayumihamsaki i think it's already implemented. we only need a control in the pages section that displays the data from the cms_theme_logs table.

[2018-10-19 13:30] seanthepottingshed commented on #3863
Ignore me, I've just noticed @osmanzeki comment above! ( https://github.com/octobercms/october/issues/3863#issuecomment-430876383 )

[2018-10-19 16:07] TimFoerster commented on #3820
implemented by #3850

[2018-10-19 16:07] #3820 closed

[2018-10-19 19:09] ayumihamsaki commented on #3867
XRegExp is flagging up in my system as version 1.5.0 and the latest version is 4.2.0 cant find location however?

[2018-10-19 19:11] ayumihamsaki commented on #3867
syntaxhighlighter still using 3.0.83 (July 02 2010) and that version uses EVAL so possible security problem maybe. Latest version is 4.0.1 ~will try to update this package next.

[2018-10-20 00:10] damsfx commented on #3679
@AndreeaMb It's look like you don't have the editor instantiate.
In your browser console try to see if `$.FroalaEditor` command give you something.

I'm not an expert of FroalaEditor, just had to do it for a project, I've see the documentation and 2~3 topics, and done it without errors.
I'm sorry, no time to investigate more with you.

[2018-10-20 09:49] Teranode commented on #3304
@LukeTowers https://github.com/octobercms/october/pull/3882/

[2018-10-21 00:30] LukeTowers commented on #3304
@Teranode what's the reasoning between using that language and no icons?

[2018-10-21 00:58] Teranode commented on #3304
Just wanted to get something bare bones out and just update as needed (because i would have forgot about this request)

[2018-10-21 01:18] LukeTowers commented on #3304
Meant language in terms of the words chose :) Looks good, any thoughts on how it functions?

[2018-10-21 01:28] Teranode commented on #3304
Not really, i had no issues with it before, since this is more of a client issue wouldn't hurt to have buttons.

[2018-10-21 10:01] Ladylain opened #3883 "Missing Inline Style plugin into froala editor"
Hi,

I was trying to use `Inline Style` function inside Richeditor widget, and it didn't want to work. After many minutes searching, i've found that this plugin is missing from the froala editor js build.

Is this normal ? could it be possible to add it to the next version ?

thanks

[2018-10-21 17:59] LukeTowers commented on #3883
@daftspunk thoughts?

[2018-10-21 18:03] w20k commented on #3883
It's just outdate, we already had this issue in slack ;) Guess should be fixed by @ayumihamsaki major JS upgrade :)

[2018-10-22 14:41] ayumihamsaki commented on #3867
Select2:

4.0.3 -> 4.0.5

https://github.com/octobercms/october/tree/master/modules/system/assets/ui/vendor/select2

[2018-10-22 14:45] ayumihamsaki commented on #3867
SyntaxHighlighter still using the (2013 version) 3.0.83

Modern Version is v4 at v4.0.1

Problem is now using npm and sass.

[2018-10-22 21:40] LukeTowers commented on #3867
@ayumihamsaki are you able to split all these upgrades up into separate pull requests (based on which items are dependent on each other, so if depA has no other interactions in October then it can be by itself, but if depB and depC interact with each other then they should be together in a PR).

[2018-10-22 23:38] ayumihamsaki commented on #3867
Yes will do that, no problem

[2018-10-23 04:38] Teranode commented on #3863
Hmm to use the theme log for the cms pages, i believe the pages must use a unique identifier for each page so that when accessing the theme log it knows what page template it's associated with (the cms is not tied to the database)

[2018-10-23 05:28] munxar commented on #3863
@Teranode let's look at the db schema of the **cms_theme_log**:

[code]
the **theme** holds the name of the used theme identifier (which is unique), where the **template** holds the name of the used file which is unique in the theme too.
imho each change can be traced in a unique way.

[2018-10-23 11:53] ryanapil opened #3887 "Zend OPcache API is restricted by "restrict_api" configuration directive"
##### Expected behavior
Website works

##### Actual behavior
Error

##### Reproduce steps
https://dev.ryanapil.uk/october/

##### October build
Latest

# | CALLED CODE | DOCUMENT | LINE
-- | -- | -- | --
43 | opcache_invalidate(…) | ~/modules/cms/classes/CodeParser.php | 338
42 | Cms\Classes\CodeParser->writeContentSafe(…) | ~/modules/cms/classes/CodeParser.php | 156
41 | Cms\Classes\CodeParser->r

[2018-10-23 11:56] ryanapil commented on #3887
Build 443

[2018-10-23 12:05] tschallacka commented on #3810
@LukeTowers https://github.com/tschallacka/thirdpartyload/

I found a solution, but it's quite a handful to implement for all the plugins and such.
Is there a way the default october bootstrap can be modified to autoload the vendor dirs of $required plugins?

[2018-10-23 14:58] LukeTowers commented on #3887
Duplicate of #3468, #3438, #3664.

[2018-10-23 14:58] #3887 closed

[2018-10-23 14:59] LukeTowers commented on #3810
Probably @tschallacka given that October already supports loading from plugin vendor directories in the first place.

[2018-10-23 20:11] netbeing commented on #3411
I actually changed from auth_socket to password (as described by KeitelDOG above) but still got the same error msg.  Anyone can help?

My setup: Ubuntu 18.04 on Vultr
LEMP (nginx 1.14.0/MySQL 5.7.23/PHP 7.2)

[2018-10-25 07:53] #3858 closed

[2018-10-25 13:33] LukeTowers commented on #3858
@gergo85 yes, just haven't looked at it yet. Why did you close this?

[2018-10-25 14:34] gergo85 commented on #3858
It is a false report, sorry.

[2018-10-25 21:39] ghost opened #3893 "SameSite Cookie not working"
Today I upgraded my October CMS to PHP 7.3

I done the following things:

1. Add the following code to my .HTaccess

`AddHandler application/x-httpd-php73 .php .php5 .php4 .php3`

2. Updated the Version in the Cpanel

3. Says this in the admin backend dashboard:

![1](https://user-images.githubusercontent.com/17784082/47530809-2e1d4200-d89b-11e8-8edd-e78ee2f095d3.png)

4. I have added these three

[2018-10-25 21:43] reed-josh commented on #3862
Hey, sorry this took me so long. Crazy week.

Here is the example of it working I described

https://github.com/reed-josh/laravel-session-example

[2018-10-25 22:19] ayumihamsaki commented on #3893
## Update:

Adding the following code to the .HTaccess makes it work:

`Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure; SameSite=Strict"`

See screenshot:

![4](https://user-images.githubusercontent.com/17784082/47533627-fff03000-d8a3-11e8-895a-fb5e25121ceb.png)

However, this just highlights that the code in the `session.php` is not working!

[2018-10-25 23:41] Teranode commented on #3893
Hmm,
Since you have php 7.3 can you remove the htaccess headers.

- go into a plugin create a routes.php file
- add a random route
- add the `web` middleware to it and then go to that route to check the cookie flag?

[2018-10-26 01:01] ayumihamsaki commented on #3893
@Teranode

Ok just did exactly what you said and the flag is:

![2018](https://user-images.githubusercontent.com/17784082/47538417-b0692e80-d8ba-11e8-9919-46eaa48d6874.png)

[2018-10-26 03:32] Teranode commented on #3893
@ayumihamsaki the header should be set by the SessionStart class in the web middleware and the CMS controller and Backend Controller utilize the web middleware so maybe try deleting cookies then refreshing

[2018-10-26 07:11] uwejan opened #3894 "RTL slug."
Hello Guys, Thanks for the awesome CMS.
##### Expected behavior
I am new with October, i am trying to create a blog , where slug url is multilingual, while i try RTL slug it get translated to Latin characters, where i expexted to be the same as the title RTL like, Arabic, Persian characters . http:/site.com/موضوع-جديد

##### Actual behavior
http:/site.com/modoaa-gdyd

##### Reproduce steps
After s

[2018-10-26 13:02] ayumihamsaki commented on #3893
@Teranode

First thanks for your advice. I understand that Laravel 5.5 or greater combined with PHP 7.3 will have the SameSite Cookie.

I believe the issue is not with regards to them, the issue is with regards to October CMS URL system. I will show you steps to repeat the issue (stepping up a static webpage in october)

## Steps to Repeat Issue

1. I removed the `.HTaccess` headers to try and for

[2018-10-26 16:35] LukeTowers commented on #3894
@uwejan slugs do not support non-latin characters, in the slug generation function itself it has character maps to map non-latin characters to latin characters.

[2018-10-26 16:35] #3894 closed

[2018-10-26 16:37] uwejan commented on #3894
So. You basically saying there is no way have the slug on non Latin characters?

[2018-10-26 16:38] LukeTowers commented on #3893
@ayumihamsaki in theory it's already implemented is what @Teranode is saying

[2018-10-26 16:40] LukeTowers commented on #3894
@uwejan It's unexplored territory at least from October's view. You could probably implement it yourself if you tried hard enough but the reality is that unicode URLs are not well or widely supported in numerous applications so the character mapping is regarded as the best current solution.

[2018-10-26 18:55] ayumihamsaki commented on #3893
Thanks Luke for clearing that up, I was wondering that. I guess I will just have to wait for PHP 7.3 to come out for more people to confirm this bug.

[2018-10-26 18:58] ayumihamsaki commented on #3893
Thanks Luke for clearing that up, I was wondering that (it did have me a little confused). I guess I will just have to wait for PHP 7.3 to roll out to more hosting comnpanies - for more people to confirm this bug.

[2018-10-26 18:58] ayumihamsaki commented on #3893
Thanks Luke for clearing that up, I was wondering that (it did have me a little confused). I guess I will just have to wait for PHP 7.3 to roll out to more hosting companies - for more people to confirm this bug.

[2018-10-27 02:30] Teranode commented on #3893
Just added PHP 7.3 on my local machine and im not getting the same issues you are:
![](https://i.imgur.com/qo8Bo00.png)
![](https://i.imgur.com/nB6Ijbh.png)

[2018-10-27 02:43] mismaiti opened #3896 "filterFields function is not working when repeater field is used"
i created a model  and trying to use filterFields() function to set field label dynamic base on username.
by doing this

[code]

but i got am exception

from this line

`$fields->wil->label = "Sektor";`

after hours trying find out what happen since i use the same function on other models with no issue..
i discover that if i remove all **repeater field** from the model.. everything works like a ch

[2018-10-27 13:58] w20k commented on #3862
@reed-josh , thanks a lot!

[2018-10-27 14:27] iamike opened #3899 "Let's make the world for a better place: OctoberCMS China Friendly Project"
##### Expected behavior
More plugins are able to adapt China mainland internet environment.

##### Actual behavior
When foreign users are easily follow the document [finishing AWS S3 bucket integration](https://octobercms.com/docs/cms/mediamanager), those Chinese developers still can not find their familiar faces like Aliyun's OSS(Alibaba) or qCloud's COS(Tencent).
Although finally they'll find so

[2018-10-27 14:48] LukeTowers commented on #3896
@mismaiti the repeater field includes nested Forms itself, so you actually need to use the model event instead to check the formwidget attempting to filter the fields: https://octobercms.com/docs/api/model/form/filterfields

Something like this:
[code]

[2018-10-27 14:48] #3896 closed

[2018-10-27 14:55] ayumihamsaki commented on #3893
Will investigate over the weekend - hopefully can find the reason and not just end up doing a brand new install to try and correct the issue.

[2018-10-27 15:32] mismaiti commented on #3896
@LukeTowers where should we call this.. i try called from controller and boot() and nothing happened..

[2018-10-27 15:54] ayumihamsaki commented on #3893
I done a fresh new install (same issue)

1. phpinfo:

![1](https://user-images.githubusercontent.com/17784082/47606206-30e57780-da00-11e8-831b-352829a8dbd7.png)

2. HTaccess file, I took from here: https://github.com/octobercms/october/blob/master/.htaccess

3. I downloaded the zip file from octobercms.com and uploaded to the server

4. changed session.php to this:

![3](https://user-images.github

[2018-10-27 18:58] Teranode commented on #3899
There's already this package (but like 26 issues on it):
https://github.com/jacobcyl/Aliyun-oss-storage

[2018-10-27 22:35] iamike commented on #3899
Exactly, they outdated and buggy. I suggest we start it by Tencent’s Qcloud. You may find they have better API docs.

[2018-10-27 22:37] LukeTowers commented on #3896
@mismaiti you'd put that in the model class itself. Hence the `$this->bindEvent` since you're binding your listener to the specific model's `model.form.filterFields` event.

[2018-10-27 22:39] LukeTowers commented on #3899
@iamike feel free to make a laravel filesystem driver yourself. I don't speak any Chinese and don't use those providers myself so I can't produce a driver for them. I can easily make laravel drivers work as OctoberCMS plugins, but as far as actually building / maintaining the specific driver itself, that's not within my realm.

[2018-10-27 22:47] iamike commented on #3899
Sure, this will be my today’s mission.

[2018-10-28 15:09] Teranode commented on #3899
I think the best course of action would be to fork your own copy and maintain it from there?
I would like to help but the language barrier is putting me at a disadvantage plus i would need to do testing with the action storage.

[2018-10-28 22:58] Tune389 commented on #3846
Workaround until fix -> https://github.com/WildSideUK/Laravel-MailgunEu

[2018-10-29 02:53] iamike commented on #3899
@Teranode can you give me an email account you usually using?
Don't worry the about docs issues, I find Tencent has released a pretty well api docs recently,
and I can provide you an environment for you to test it.
https://intl.cloud.tencent.com/document/product/436/7751

[2018-10-30 09:16] w20k commented on #3899
@iamike Hook me up also ;)

[2018-10-30 22:21] ayumihamsaki commented on #3230
I want to close this (to clean up things) and link it to the following PR: https://github.com/octobercms/october/pull/3886

[2018-10-30 22:31] ayumihamsaki commented on #3230
I read Luke has said "Issues should stay open until the fix is merged into master" so will reopen this and leave it ref the PR.

- Sorry my bad.

[2018-10-30 22:46] ayumihamsaki commented on #3899
I'm not an expert but why use Tencent’s Qcloud ?

Baidu Wangpan is free and has a huge 2 TB of Storage space and its easy for western and chinese people to register and create accounts.

1. Just go here to open a QQ Email: https://en.mail.qq.com/cgi-bin/loginpage

2. Then go here to open the free hosting: https://yun.baidu.com/

Following this issue, would love to see how to get around the China G

[2018-10-30 22:52] ayumihamsaki commented on #3899
I'm not an expert but why use Tencent’s Qcloud ?

Baidu Wangpan is free and has a huge 2 TB of Storage space and its easy for western and chinese people to register and create accounts.

1. Just go here to open a QQ Email: https://en.mail.qq.com/cgi-bin/loginpage

2. Then go here to open the free storage: https://yun.baidu.com/

Following this issue, would love to see how to get around the China G

[2018-10-31 10:10] #3821 closed

[2018-10-31 10:58] tschallacka commented on #3899
You could make a plugin with the working drivers and put it in the plugin store it like this plugin does for google drive.

https://github.com/LukeTowers/oc-gdrivefilesystemdriver-plugin/blob/master/Plugin.php

[2018-10-31 12:33] tschallacka commented on #3810
@LukeTowers I built up the following commands for easy testing reproduction

[code]

but for the love of me, if I run it like that I get all kinds of double slash problems. I need to dig a bit in it if it's an encoding issue or that I switched to php 7.2 or something else why I suddenly get unexpected double slashes.

[2018-11-01 10:53] SeriousKen opened #3903 "Datepicker time positioning different to calendar"
The position of the popup for the calendar positions itself for best fit in the viewport but the time popup is _always_ below the time field even if there isn't enough room. This creates an inconsistent experience for our users inputting dates.

[2018-11-01 16:33] LukeTowers commented on #3903
@SeriousKen pictures please

[2018-11-02 00:13] alfreedom opened #3905 "Disabled plugin's controllers are still accessible"
##### Expected behavior
The controller pages of a disabled plugin should not be displayed in the backend with the url of the page

##### Actual behavior
If you enter a page of a plugin using your url, show the page, regardless of whether the plugin is disabled

##### Reproduce steps
1. Go to a backend controller page of a plugin.
2. Copy the page url.
3. Disable the plugin in the configuration pan

[2018-11-02 12:31] w20k commented on #3905
@LukeTowers - confirmed.
Sidebar is removed, but with absolute URL it's accessible.

Settings:
![screenshot 2018-11-02 at 14 29 08](https://user-images.githubusercontent.com/1053320/47915516-c921a780-deab-11e8-9a36-9cc3d6f8d808.png)

Plugins Page:
![screenshot 2018-11-02 at 14 29 16](https://user-images.githubusercontent.com/1053320/47915511-c4f58a00-deab-11e8-9647-923a5f750c91.png)

[2018-11-02 14:41] w20k commented on #3905
@LukeTowers, I will already started debugging ;)

[2018-11-02 14:52] ayumihamsaki commented on #3867
# Keep Record of all the Updates for Future Ref/Updating

| JS Library Name | URI Location | Version Number | Update Location | Last Update Date |
|---|---|
| Core Files |
|---|---|
| jQuery | See Github PR: https://github.com/octobercms/october/pull/3886 | https://github.com/jquery/jquery/releases | 3.3.1 | Nov 2018 |
| jQuery Migrate | See Github PR: https://github.com/octobercms/october/pull/38

[2018-11-02 14:57] ayumihamsaki commented on #3867
|   |   |   |   |   |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |

[2018-11-02 15:03] ayumihamsaki commented on #3867
# List of Update Infomation for Future Ref / Updating

## Core Files

| JS Library Name | URI Location | Version Number | Update Location | Last Update Date |
|---|---|---|---|---|
| jQuery | See Github PR: https://github.com/octobercms/october/pull/3886 | https://github.com/jquery/jquery/releases | 3.3.1 | Nov 2018 |
| jQuery Migrate | See Github PR: https://github.com/octobercms/october/pull/388

[2018-11-03 00:01] w20k commented on #3905
@LukeTowers, found the spot, but not yet sure about how plugins $id is generated (is it as simple as ucfirst($author) . '.' . ucfirst($plugin)? ).

It looks up for a plugin controller, but doesn't check if plugin is disabled or not.
https://github.com/octobercms/october/blob/master/modules/backend/classes/BackendController.php#L107

[2018-11-03 01:01] LukeTowers commented on #3905
@w20k you should be able to use this: https://github.com/octobercms/october/blob/master/modules/system/classes/PluginManager.php#L505

[code]

That could probably go right after the list(author, plugin) call to prevent the further code from running

[2018-11-03 08:49] w20k commented on #3905
@LukeTowers tried this way while testing. Didn't work. Namespace and pluginId should start with capitalized letter .

This worked like charm, will make a PR either today, or tomorrow.
[code]

[2018-11-03 19:46] ayumihamsaki opened #3907 "Question: Why does October not have CSRF Protection on GET Requests?"
October has the Twig function:

```{{ form_open() }}```

When used as above it will automatically create a POST request, as below:

[code]

To force the Twig Function to create a GET request I write the following:

```{{ form_open({ method: 'GET' }) }}```

The above code gives the following output:

```<form method="GET" action="https://www..example.com" accept-charset="UTF-8">```

Note the sessio

[2018-11-03 19:47] ayumihamsaki commented on #3907
For ref: I'm using this doc's page: https://octobercms.com/docs/markup/function-form

[2018-11-03 22:10] scottbedard commented on #2555
For anyone who comes across this, the above PR is now at https://github.com/octoberrain/test-plugin/pull/38

[2018-11-04 02:48] MWalid commented on #3808
I fixed my issue above by disabling moment localisation,

at **modules/system/assets/js/lang/lang.ar.js** and just before `var symbolMap = {` I added `return;` statement to disable the Arabic locale.

Now I'm able to save date fields to database

[2018-11-04 09:55] w20k commented on #3907
@ayumihamsaki, The quickest answer would be: only requests that make state change to the system, should have a CSRF protection. GET is not the one.
If you need a protection from repetition use a page generated tokens (not build in, I guess).

[2018-11-04 14:49] ayumihamsaki commented on #3907
I see, makes sense now, thanks for reply.

[2018-11-04 14:49] #3907 closed

[2018-11-05 15:12] LukeTowers commented on #3808
@MWalid @mabehiry does https://github.com/octobercms/october/pull/3906 solve the issues for you?

[2018-11-05 16:00] mabehiry commented on #3808
No, It's the same problem!

[2018-11-05 16:03] MWalid commented on #3808
@mabehiry Did you try to disable the Arabic symbol mapping?

[2018-11-05 20:09] ayumihamsaki commented on #3808
@MWalid @mabehiry

Can I ask a quick question. The error message:

Is your mysql database field set to UTF-8 and not something like Latin. It needs to be set to:

"utf8_general_ci"

To save in Arabic. Let me know if this is the issue or not as I want to see if this is the library causing the issue or something else?

[2018-11-05 20:15] mabehiry commented on #3808
@ayumihamsaki
I don't get this error message, I just get saved! after that I see the field in database like this:
0000-00-00 00:00:00
Also, there is no encoding for the field of type datetime in MySQL

[2018-11-05 21:49] gregkasmark commented on #2869
This could also be caused by not using data-request-flash tag on the element requesting ajax.

[2018-11-05 21:52] gregkasmark commented on #2869
Messages can be shown twice if you're requesting ajax from an element (ex: button or link) and haven't specified the **data-request-flash** attribute.

[2018-11-06 00:20] ayumihamsaki commented on #3808
Sorry, ignore my last comment.

[2018-11-06 08:36] SeriousKen commented on #3903
The calendar uses autopositioning, looking at the code in Pikaday which is used for the calendar it uses its own popover code rather than bootstrap.

![calendar](https://user-images.githubusercontent.com/29771532/48052043-c28e7b00-e19e-11e8-85ae-778cb905d08e.jpg)

The timepicker uses the bootstrap popover always aligned to the bottom of the input.

![clock](https://user-images.githubusercontent.co

[2018-11-06 10:26] CptMeatball opened #3909 "CSS or JS only Combiner Aliases"
##### Expected behavior
Load Framework.Extras specific files only through an alias like `@framework.extras.css` or `@framework.extras.js`.

##### Actual behavior
Framework.Extras CSS can only be loaded when there is another stylesheet present in the Combiner. With JS files this does not cause issues because it defaults to JS files.

##### Reproduce steps
Use `@framework.extras` alias in empty styl

[2018-11-06 14:50] ayumihamsaki commented on #3808
Sorry, ignore my last comment.

General note I need to update the lang file found here with the new moments locales:

https://github.com/octobercms/october/blob/master/modules/system/assets/js/lang/lang.ar.js

*but I think after doing that it probably won't fix this issue. So will invest further.

[2018-11-06 15:52] reecube opened #3910 "Feature request: Split the .htm files"
Because the forum is in read-only mode, I opened my feature request here: "This forum is in read-only mode. Please continue to browse, but replying and other actions are disabled for now."

I really love october cms, but there is one thing I don't really like: The `.htm` files for page/meta/layout/etc definitions.
I don't like them for the following reasons:

- It's a html file but not html syntax

[2018-11-06 16:19] w20k commented on #3909
A file to look at and line: https://github.com/octobercms/october/blob/master/modules/system/classes/CombineAssets.php#L134

[2018-11-06 16:29] w20k commented on #3910
Don't get your point, so it's better to wait for @LukeTowers. But for me it's a bit odd feature request.

@reecube, if you use 'Intellij Idea' or 'PhpStrom', in Settings -> Editor -> File Types -> remove '.htm' from HTML "File Types" and add it to PHP. And here you go, everything works: styling, php, twig, html, js, autocompletion and etc.

[2018-11-06 16:49] LukeTowers commented on #3910
@reecube we're not going to change the file type nor split the files up. I don't necessarily agree with using .htm as the extension of choice but your described issues are easily solved by changing your editor's configuration.

[2018-11-06 16:49] #3910 closed

[2018-11-06 22:10] ayumihamsaki commented on #3808
@MWalid Yah that makes sense, I see what you are saying. So use Arab writing for everything except numbers.

@LukeTowers Permission to change the file code at location: https://github.com/octobercms/october/blob/master/modules/system/assets/js/lang/lang.ar.js

And add the commit code I already have done: https://github.com/octobercms/october/blob/21bd7351a2bac1bad0e7a275260c627b250ad88d/modules/sy

[2018-11-07 06:26] joseph-d opened #3911 "Myanmar / Burma flag is incorrect"
##### Expected behavior

Using `<i class="flag-mm"></i>` in the backend should produce the current Myanmar / Burma flag which looks like this:

![image](https://user-images.githubusercontent.com/1070155/48114117-ad285800-e255-11e8-82f6-41e265b187a7.png)

##### Actual behavior

It actually produces the old Myanmar / Burma flag (which hasn't been used since 2010) which looks like this:

![image](htt

[2018-11-07 09:02] w20k commented on #3911
Feel free to submit a PR here ;)

[2018-11-07 09:09] joseph-d commented on #3911
Actually, I made the change to the sprite PNG but I couldn't figure out how to do a PR for just an image. Can you give me any pointers?

[2018-11-07 09:34] w20k commented on #3911
@joseph-d - this fix is already in place, but you have to way for build .444. It's still in progress.

Was a part of this PR:https://github.com/octobercms/october/commit/5b7d9041fde8ccd1ca0d605cd3b413397718a94d

[2018-11-07 09:58] joseph-d commented on #3911
Ok, that looks much better with SVG etc.. I'll close this issue and wait for that then :-)

[2018-11-07 09:58] #3911 closed

[2018-11-08 19:19] reed-josh commented on #3862
@w20k no problem. Is that enough for you to pinpoint the issue?

[2018-11-08 21:50] vosco88 commented on #3388
Hi, I just came accross this issue myself and can confirm when you have jsonable field and accesing it's properties with brackets [], even if you have searchable and sortable set to true it is not working.

The column does not even have the sortable arrow as per below screenshot
![image](https://user-images.githubusercontent.com/14372933/48229527-a4946680-e3a8-11e8-9533-d34cf679db01.png)

[2018-11-09 03:08] LukeTowers commented on #3388
There is no support in October currently for DB columns of type JSON. If someone wants to add such support for all DB types supported by October, then feel free to submit a PR. Until then, if you absolutely must have a column be sortable / searchable then I recommend you bring it out into a regular table column.

[2018-11-09 11:39] MaxNozhkin commented on #2722
Response must be like this, i read it in select2 docs, it works!
{
  "results": [
    {
      "id": 1,
      "text": "Option 1"
    },
    {
      "id": 2,
      "text": "Option 2"
    }
  ],
  "pagination": {
    "more": true
  }
}

[2018-11-09 14:02] w20k commented on #3905
Found one strange behaviour, looking at it right now.

[2018-11-09 18:16] zindigo commented on #3010
Thanks @vakopian! It works perfectly.

I added code to change the cursor when it hovers on the handle to make it more user-friendly. In the .js file, I changed...

[code]

to...

[code]

[2018-11-09 22:16] LukeTowers commented on #3905
@w20k it should pass the request off to be handled by the CMS 404 page, or however a 404 in the backend typically works

[2018-11-10 16:10] sNuuFix opened #3912 "linkPolicy: force not respected when generating asset links"
##### Expected behavior
When deploying OctoberCMS on cloud infrastructure as Docker Swarm, behind reverse proxy/load balancer, asset links should be inlined with hostname and protocol taken from config or fowarded headers. Logging into backend should be possible.

##### Actual behavior
Depending on link policy setting, all assets are either without https or with with wrong hostname. Autodetecting

[2018-11-11 19:03] ayumihamsaki opened #3913 "Ways to Speed up October CMS Releases"
## Intro

Before I write this issue, I hope I won't annoy the admins and creators of this wonderful project and I truly hope October CMS will continue to grow and get better.

## The Issue

The problem with October CMS is that releases are coming out very slowly and people have written Pull Requests that seem to just sit there for years! It must be very annoying for people to have spent time and h

[2018-11-11 21:05] LukeTowers commented on #3912
@sNuuFix sounds like quite the complex deployment of October that you've got going on. Do you mind explaining a bit more what

would look like?

[2018-11-12 15:59] Fenn-CS opened #3914 "Media Manager error message doesn't render if invalid path contains unknown characters"
##### Expected behavior
Open media manager Correctly

##### Actual behavior
Media manager throws exceptions when file names contain certain "invalid" characters e.g `'`. I however wrote a script to remove all invalid characters from file names.

The exception stopped pointing to the files that had invalid file names and just throws a general error which suggest some name is not being accepted but

[2018-11-12 18:59] LukeTowers commented on #3912
@sNuuFix if you could submit a PR to respect the force linkPolicy I would be happy to review it. The documentation would lead me to believe that it should do what you're saying it should do so I would consider it a bug if it wasn't.

[2018-11-13 01:32] Fenn-CS commented on #3914
I ended up noticing some path name with following unknown character. `start-of-name-�-end-of-name.jpg`

[2018-11-13 01:35] Fenn-CS opened #3915 "Media Manager Unable to Open"
##### Expected behavior
Open media manager correctly by paginating files when they are so many

##### Actual behavior
Tries to load all files before opening! Complexity becomes high with thousands of files.

##### Reproduce steps
Put thousands of files in `storage/app/media` in my case 12000 photos and audios! (Migrating a wordpress blog)

##### October build

#### 443

[2018-11-13 05:02] LukeTowers commented on #3915
Duplicate of #3612, feel free to add your comments on the issue there (note: don't just say something like +1 or similar comments, if you need the issue addressed then be willing to contribute to a fix)

[2018-11-13 05:02] #3915 closed

[2018-11-13 05:03] LukeTowers commented on #3914
@Fenn-CS I'd like to figure out why the path isn't displaying in the error message though, would you be willing to investigate that and see if you can come up with a fix to show the path in the error message even with unknown characters present?

[2018-11-13 08:43] Fenn-CS commented on #3914
@LukeTowers ok! I would look into this. However, I noticed the path by trying to access the media manager from the toolbar of a wysiwig. The error path just showed up in the system popup but I would check why this does not happen right in the editor itself.

[2018-11-13 09:11] Fenn-CS commented on #3612
@LukeTowers please why did you close the issue? It's a genuine problem that the media manager cannot be used in (large) production scale. Should this not be left open so we examine how to fix it?

[2018-11-13 15:20] LukeTowers commented on #3612
@Fenn-CS I closed your issue because this issue already exists, is open, and is the same as yours.

[2018-11-14 13:15] CptMeatball commented on #3230
On updating one of our projects it seems the `@jquery` alias throws some errors. On first glance it looks like it only includes `jquery migrate`. Will investigate further.

[2018-11-14 13:22] CptMeatball opened #3917 "@jquery alias only includes jquery migrate"
##### Expected behavior
Using `@jquery` in the combiner includes the jquery (backend) library that is used in the backend.

##### Actual behavior
Using `@jquery` in the combiner only includes the jquery migrate (backend) library that is used in the backend.

##### Reproduce steps
Put following script on front-end.

    <script src="{{ [
        '@jquery'
    ] | theme }}"></script>

##### October

[2018-11-14 15:05] ayumihamsaki commented on #3917
Just to add a quick note, I originally added that line of code to the alias list and Luke told me to remove it because he said he thought it did a double load. So please invest that also.

[2018-11-14 15:07] CptMeatball commented on #3917
I guess it does not 😅

[2018-11-14 15:13] ayumihamsaki commented on #3917
@CptMeatball

Sorry just thought of something else, your PR's have done the same error I thought of at the time. You should not register the alias jQuery Migrate under a separate alias because the whole idea I had was to make backwards compatibility for people's plugin codes. So it's best to force the jQuery Migrate into a single alias of jQuery, then people's code before the CMS update will not n

[2018-11-14 15:17] CptMeatball commented on #3917
I understand the reasoning. The problem is that doesn't work. As my issue states, the alias method does not do a double load with the same extension. And if it should, there's something else wrong.

Maybe we should combine migrate and jquery altogether?

[2018-11-14 15:20] ayumihamsaki commented on #3917
yah I was just thinking that merging the two files and creating this:

`$this->registerAlias('jquery', '~/modules/backend/assets/js/vendor/jquery-and-migrate.min.js');`

[2018-11-14 15:22] ayumihamsaki commented on #3917
You want create the pr or I can do it for you? - up to you.

[2018-11-15 09:22] Samuell1 commented on #3917
Maybe something like this and it can be backwards compatible?

[code]

[2018-11-15 10:45] ajslim commented on #2465
PHP Storm can support this, but why would we call them .htm files when they are actually twig files? Shouldn't they be called what they are.

You could also set phpstorm to recognise .js files as php, but you shouldn't label the files that way.

[2018-11-15 10:51] claudchan opened #3921 "Request: Repeater titleFrom bind to more options"
Hi,
Can make the repeater titleFrom not just bind to text field (type: text)?
Suggest to also bind with the label (type: section).
I am creating a component that does not have title field required also I do not want user to purposely to key in a label just for the title display after collapsed.

[https://imgur.com/a/UidiWVl](https://imgur.com/a/UidiWVl)

[code]

[2018-11-15 11:18] Dreanad opened #3922 "Date in French (day and month)"
##### Expected behavior
Date in french : Jeudi 15 Novembre 2018, 12:09

##### Actual behavior
Thursday 15 November 2018, 12:09

##### Reproduce steps
fresh install
app.config timezone="Europe/Paris"
[code]

the time is working, but not the translation of day and month
i have try lot of solution, but no one working (with DateTime, strfotime, etc)

##### October build
443

[2018-11-15 17:30] w20k commented on #3922
@Dreanad could you also post the way you try to use it? Or example (image)?

[2018-11-15 18:03] w20k commented on #3905
Sorry for taking so looong ;)

[PR Fix](https://github.com/octobercms/october/pull/3923)

[2018-11-15 19:33] LukeTowers commented on #3917
@Samuell1 what makes this not backwards compatible? I think the combined under the jquery alias is fine.

[2018-11-15 19:36] LukeTowers commented on #3921
@claudchan feel free to implement this in a PR

[2018-11-15 19:39] LukeTowers commented on #2465
@ajslim That decision was made by @daftspunk when October was released; regardless of whether or not people like it - it's not going to change. It's just one of the quirks to get used to when you have the power of October at your disposal :)

[2018-11-15 19:42] LukeTowers commented on #3922
@Dreanad first thing:

**DO NOT** set `app.timezone` to anything other than UTC. Doing this is just asking for headaches. Instead, use cms.backendTimezone to set the default timezone in the backend.

Second thing: Use the backend preferences to set your locale (or the config file), don't set the locale in code directly like that, that bypasses all of the tools October has for dates / times.

[2018-11-15 20:04] Dreanad commented on #3922
@w20k http://www.noelshack.com/2018-46-4-1542311840-capture.jpg
http://www.noelshack.com/2018-46-4-1542312015-capture2.jpg

I think i use DateTime in the wrong way

@LukeTowers Ok, i put in back in UTC, for the setLocale, that was just for test, i use Config to get the values otherwise, and i have set backend timezone, thank you for your advice !

[2018-11-15 20:19] LukeTowers commented on #3922
@Dreanad if you want to interact with dates directly in PHP then use the Argon class which indirectly extends Carbon: https://github.com/octobercms/library/blob/master/src/Argon/Argon.php

[2018-11-15 20:22] Dreanad commented on #3922
@LukeTowers I'll look at Argon, thank you, Carbon cant do the job ?

[2018-11-15 20:29] LukeTowers commented on #3922
Carbon can, Argon just automatically sets the locale defined by OctoberCMS for you.

[2018-11-15 21:39] Dreanad commented on #3922
Thank you, im trying, but i have a class not found on Argon ( i try to use it in plugin.php)
`       Argon::setArgonLocale(\Config::get('app.locale'));
`

so i have tested with just Jenssegers\Date\Date; and seems to be ok ! i have date in french when i use the Date class, its ok to used that class rather than carbon or argon ?

by the way, what is an umbrella class ? I've never heard of it, maybe

[2018-11-15 21:49] LukeTowers commented on #3922
@Dreanad You don't need to call the setLocale method, Argon does it itself when constructed. Umbrella class just refers to it extending the actual classes doing the work so that if the behind the scenes classes ever needed to be changed out, references to Argon would still work fine, mixed with a bit of initialization / configuration logic based on the application (i.e. setting the locale)

[2018-11-15 21:54] w20k commented on #3922
@Dreanad ping me, if you still haven an issue, might look at it on weekends! ;) But I guess, should be fine by now!

[2018-11-15 22:00] Dreanad commented on #3922
@LukeTowers  So how to call Argon construct, i still have the class not found
thanks for your explanation,  It's already clearer to me

@w20k Yeah, i finally see the end of it ! Thanks you for your help here and on Slack !

[2018-11-16 02:07] claudchan commented on #3921
Please review my code change and help to enhance more better. My change is currently target 'h4'. I am sure there is a better way to write to target any of the first 'label' instead.
Thank you.

[2018-11-16 07:31] vdomah commented on #3104
Faced same issue. Quick search by "CallQueuedHandler" gave the following result:
![screenshot_1](https://user-images.githubusercontent.com/9612735/48604297-0c871600-e982-11e8-86e4-01c9a0fadeba.png)

So error "Class Illuminate\Events\CallQueuedHandler does not exist" appears because it really doesn't exist. But there is October\Rain\Events\CallQueuedHandler.
So after I replaced lines 'Illuminate\Ev

[2018-11-16 07:41] LukeTowers commented on #3922
@Dreanad add `use October\Rain\Argon\Argon;`

[2018-11-16 07:44] LukeTowers commented on #3104
@vdomah could you submit that fix in a PR?

[2018-11-16 08:20] vdomah commented on #3104
@LukeTowers yes, doing

[2018-11-16 08:34] vdomah commented on #3104
@LukeTowers btw, how to clone october/rain? I can't see that repo?

[2018-11-16 08:49] Dreanad commented on #3922
@LukeTowers ok Argon twice, thats working ! thank you a lot for your help

[2018-11-16 08:49] #3922 closed

[2018-11-16 09:29] w20k commented on #3903
Found the culprit: `placement: 'bottom',` it's by default set to be `bottom` ;)

[2018-11-16 11:05] Rike-cz opened #3925 "Call to undefined method Cms\Classes\Asset::delete"
##### Expected behavior
Clicking on "delete" button in CMS > Assets > tab delete opened asset.

##### Actual behavior
Error thrown: "Call to undefined method Cms\Classes\Asset::delete()" on line 398 of C:\...\vendor\october\rain\src\Extension\ExtendableTrait.php

##### Reproduce steps
Watch attached animation.
![ocms](https://user-images.githubusercontent.com/4247582/48617826-c63cb180-e997-11e8-9f

[2018-11-16 13:08] everyx commented on #2741
Hi, @LukeTowers  It's possible add this default path option to File upload?

[2018-11-16 16:14] LukeTowers commented on #3921
@claudchan I wouldn't implement it looking at the first label by default, it should only support it as an option for the titleFrom to refer to a field that is of type section, at which point it would get the value from the label.

[2018-11-16 17:20] LukeTowers commented on #2741
@everyx what does that even look like / what is the purpose of that?

[2018-11-16 17:38] ajslim commented on #2465
I haven't looked into it, but is there a major difficulty in setting it to look for .htm *or* .twig files?

[2018-11-16 18:04] LukeTowers commented on #2465
@ajslim probably, there would probably be a bunch of assumptions throughout the code base based on that assumption.

[2018-11-16 18:48] developerads commented on #3344
+1

I don't believe it is correct to call this a bug; setting ```$requireActivation = false``` was probably not accidental.

So what remains to be known is: why was it done and how can we get an option to enable it if want/need it, without having to manually implement the login/is_activated system manually?

[2018-11-16 19:13] w20k commented on #3903
Found a simple solution for now, needs more testing, but guess will work.
Cheers ;)

[2018-11-16 19:48] w20k commented on #3925
@Rike-cz found issue, might give it a go and make PR, soon ;)

[2018-11-17 01:19] everyx commented on #2741
the `path` option should set `file upload` default upload path like this issue's `path` option for `MediaFinder`.

I think it's a easier way than hard code manual  move to organize files from plugin.

[2018-11-17 05:32] LukeTowers commented on #2741
@everyx probably not, files are stored in the directory that their model class determines, there's no reason to configure that location in multiple locations. If you want to change the place that files get uploaded to then change cms.storage.uploads.folder or extend System\Models\File with your own class and override the getStorageDirectory() method and then use that model in the relationship defi

[2018-11-17 05:33] LukeTowers commented on #2741
And this proposal is to change the default location the mediafinder widget looks for media instead of always using the root media folder, not really changing the upload path.

[2018-11-17 05:37] LukeTowers commented on #3344
Few options to handle this:

Add the ability for this to be turned on and off with a file config option

or

Add the ability for this to be turned on and off with a DB setting

or

Both of the above.

[2018-11-17 19:57] LucasZdv commented on #3814
The octobercms website already has the certificate for what I see, if it is true that not before.

[2018-11-17 19:58] LucasZdv commented on #3814
The octobercms website already has the certificate for what I see, if it is true that not before.

[2018-11-17 20:57] domjag opened #3929 "Form capture with semantic ui multiselect problem"
##### Expected behavior
Save form - collect values from semantic ui multiselect dropdown
Try to save data with onUpdate handler.

##### Actual behavior
Captures array but also inserts extraneous data

##### Reproduce steps
As you can see from the screenshot the values are captured but also attaches extraneous content from somewhere. Need to know if this is a bug or if I can manually clean this up

[2018-11-17 21:41] ayumihamsaki commented on #3814
@LukeTowers @LucasZdv Just done a re-check on the website. Can confirm also looks fixed now.

![1](https://user-images.githubusercontent.com/17784082/48665969-6be34400-eab0-11e8-8a71-a4fd45a92e80.png)

Above: Redirects all pass now

![2](https://user-images.githubusercontent.com/17784082/48665974-8ae1d600-eab0-11e8-8e76-9b9d1ad15fff.png)

Above: Cert is correct now and not a hackable Symantec one

[2018-11-17 22:19] #3814 closed

[2018-11-17 22:33] LukeTowers commented on #3929
@domjag that's part of the AJAX api. Are you not using the built in framework.js to handle these requests & responses?

[2018-11-18 03:54] domjag commented on #3929
Here is my code:
backend/calendar.htm
[code]
And my widget.htm
[code]
and relevant code for the controller MealPlanner.php

[code]

[2018-11-18 07:30] everyx commented on #2741
@LukeTowers  ok, thanks for you comment :)

[2018-11-18 13:37] ayumihamsaki commented on #3867
# List of Update Information for Future Ref / Updating

## Core Files

| JS Library Name | URI Location | Update Location | Version Number | Last Update Date |
|---|---|---|---|---|
| jQuery | See Github PR: https://github.com/octobercms/october/pull/3886 | https://github.com/jquery/jquery/releases | 3.3.1 | Nov 2018 |
| jQuery Migrate | See Github PR: https://github.com/octobercms/october/pull/38

[2018-11-18 14:48] Nelortiz opened #3931 "Random"
Help me how plugin random or order example A9983F937 in id_card

$id_card = str_random(10); is work but how to save in data base in plugin
partial path, if save no work
Text Name if button save work in data base
and
Partial if button save no work in data base

Partial path = file is generator_field.htm

the file of generator_field.htm is:

<?php
$id_card = str_random(10);

?>

<input type="text" n

[2018-11-18 14:50] Nelortiz commented on #3931
the file of generator_field.htm is:

<   ?     php
$id_card = str_random(10);

?   >

<inpu t typ  e="text" name="id_card" id="id_card" value="<?=$id_card?>" placeholder="" class="form-control" autocomplete="off" maxlength="2 55" /  >

[2018-11-18 15:43] #3917 closed

[2018-11-18 15:53] CptMeatball commented on #3846
Where's the file located that calls the API? Inside the core or in 'october.drivers'?

[2018-11-18 19:18] LukeTowers commented on #3929
Yikes. Don't echo your response in your AJAX handler, you should just be able to return the data object directly from your handler and then the framework will handle encoding it into JSON and passing it as a response to the framework.js which you can then hook into with a `data-request-success` handler on the button to handle the successful response. I suggest you read the full https://octobercms.

[2018-11-18 19:19] LukeTowers commented on #3931
help me how understand question

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time

[2018-11-18 19:19] #3931 closed

[2018-11-18 20:18] ayumihamsaki commented on #3867
next on my list: https://github.com/janl/mustache.js/releases

[2018-11-18 23:34] Awebsome opened #3932 "[Question] Artisan command before Connect to database."
##### Expected behavior
I need to be able to execute artisan commands even if the connection to the database is not established.

##### Actual behavior
I made a plugin to export backups of the database and be imported into another server as a clone for Staging, Devs & QA areas.

The import method is a wizard to overwrite the config / database.php file but if the connection is not established the a

[2018-11-19 00:55] LukeTowers commented on #3932
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

StackOverflow: http://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2018-11-19 15:30] LukeTowers commented on #3903
@SeriousKen @w20k implemented a fix, I've merged it into develop.

[2018-11-19 15:31] #3932 closed

[2018-11-19 16:22] w20k commented on #3914
@LukeTowers tried to reproduce error (not showing path) twice, for me it work as sit should. Maybe OS locale or something related with encoding might be a problem... Hm...

[2018-11-20 10:31] amorphine commented on #3800
Due to some curcumstances we can not afford the linear path so we found a workaround:
[code]
This line of code placed in boot section of Plugin.php allows `artisan migrate` to catch migrations.

[2018-11-21 10:29] PubliAlex opened #3934 "Upload path per file attachment"
##### Expected behavior
It would be great to be able to define upload path for each attachments. Something like that :

public $attachMany = [
    'avatar' => ['System\Models\File', 'path' => '/storage/app/media/avatar']
];

##### Actual behavior
Actually, you can only define global upload path in config/cms.php. All your uploaded files, for all your models, will be uploaded there.

##### Reproduc

[2018-11-21 10:56] SeriousKen commented on #3934
I would extend System\Models\File to support what you require then use it in place of the system file model.

[2018-11-21 13:34] PubliAlex commented on #3934
Thank you for your answer. I know that october cms is (pratically) fully extendable as it's largely based on laravel and most conception choices are excellent.

However, if I post here, that's because it seems to be a quite basic and often needed that should be handled by configuration. But we can discuss about that.

[2018-11-21 16:46] Wankishh commented on #3846
In services.php mailgun just add new entry endpoint => api.eu.mailgun.net

[2018-11-21 17:53] LukeTowers commented on #3934
@PubliAlex @SeriousKen is correct in his recommendation. We're not going to implement a path configuration option for the built in file model in the way that you ask for because it would encourage a use case that isn't officially supported, uploading file attachments to the media manager directory.

If you still want to proceed with that approach then do what @SeriousKen recommended and in your pl

[2018-11-21 17:53] #3934 closed

[2018-11-21 19:37] LukeTowers commented on #3846
@Wankishh that won't work because October uses Laravel 5.5 so the changes I linked are not present in the version of Laravel that we use.

[2018-11-21 21:42] termiyanc opened #3935 "Did not find a way to make work the Ajax-validation mechanism using "JavaScript API""
Hello.

I would like to use "JavaScript API" to make Ajax-request, and my handler may throw the ValidationException. These exceptions are handling by "Data attributes API". But i did not find a way to use this validation using only "JavaScript API". To make this validation mechanism work i need to add empty "data-request" attribute and "data-request-validate" attribute to my form.

[2018-11-22 18:11] LukeTowers commented on #3560
@nathanlesage could you look into it further and see what's causing it?

[2018-11-22 20:11] saleksin commented on #3912
I can confirm that issue. I have much simpler use case, but effect is the same. My main URL points to one server, that acts like proxy for second one. Requests between proxy server and second one are not secure. Second server has different hostname. When I use link policy "force", all links has proper URL (from app.url), but with http instead of https, that is in app.url.

[2018-11-22 20:11] nathanlesage commented on #3560
@LukeTowers Okay, OctoberCMS can ease up, it's not inside the source code of October.

The issue arose in March (!) on the repository of Parsedown, currently there are several open issues pertaining that bug:

- https://github.com/erusev/parsedown/issues/654 (closed by now, tracked in the 118 of parsedown-extra)
- https://github.com/erusev/parsedown-extra/issues/118

Unfortunately, they still have

[2018-11-22 21:33] firemankurt opened #3937 "Component Property Dropdown option method call inconsistent"
Component property dropdowns should follow same behavior as form fields in model YAML files.
When a dropdown is specified without an options array, a studly cased method get____Options() should be called to populate the dropdown field.
If neither options array or method exists there should be an exception thrown.

##### Expected behavior
    public function defineProperties() {
		return [

[2018-11-22 21:57] w20k commented on #3935
Could you also add a code example, how you do a call with JS API?

[2018-11-23 15:32] LukeTowers commented on #3104
@plehatron thanks, much appreciated!

[2018-11-23 19:43] LukeTowers commented on #3104
Fixed by https://github.com/octobercms/library/commit/e4a0b2150a7f08d43a88bcec38e367b0d0cb9d13. Thanks @plehatron!

[2018-11-23 20:42] termiyanc commented on #3935
This is it:

[code]

And i did not find a way (i repeat) how to use the Ajax-validation mechanism with this JS-API only. I need to add attributes to my form as if i would use the "Data attributes API":

[code]

I mean that i want the Ajax-validation to automatically work, to automatically handle the "ValidationException"s as it works through theese attributes, but though "JavaScript API". I also n

[2018-11-23 21:16] vdomah commented on #3104
Thanks @plehatron!

[2018-11-25 13:08] the-specialist2005 opened #3938 "Question: Adding Self Hosted CDN for File Attachment"
What i am trying to achieve is serving images from subdomain link that points to the same file location on the main domain. This can Help speed up images loading. The images are self hosted CDN such as:

img.example.com
img2.example.com

By Adding CDN array to config/app.php

[code]
and use it like this:
`<img src="{{  "/img/yourImg.png" | cdn }}" alt="Your Image loaded from CDN" />`

What i tried

[2018-11-25 17:02] ayumihamsaki opened #3939 "Theoretical implementations of Web Application Firewalls within October"
Hi,

If it's ok I would like to open this issue up and gather ideas about this subject and input from other users.

I am thinking of creating a Web Application Firewall (WAF) for October CMS to add a layer 7 defense (in the OSI model), see below:

![1](https://user-images.githubusercontent.com/17784082/48981663-73b67000-f0d0-11e8-8e25-83bc34e402f8.png)

I have looked at Laravel Firewall 2.2 Packag

[2018-11-26 05:13] LukeTowers commented on #3938
You're looking for twig filters, see https://octobercms.com/docs/plugin/registration#extending-twig

[2018-11-26 05:13] #3938 closed

[2018-11-26 05:31] LukeTowers commented on #3939
Storing IP addresses in your database is not against the GDPR, in this case it is covered as a "[Legitimate Interest](https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/)" as no matter how you look at it a software WAF is going to require some amount of IP address logging to be effective (as you allude to by suggesting you store it

[2018-11-26 05:33] LukeTowers commented on #3939
As another note, I don't typically mind these discussion type threads, but I'm not sure issues on the main octobercms/october repo is really the right place for them. I would recommend using the forums, but unfortunately they're read only because of spam right now. Do you have any thoughts on better places to have these discussions?

[2018-11-26 06:55] shoxabbos opened #3941 "Entity–attribute–value model"
##### Expected behavior
There are posts for each post its own category and the category has its own properties.
In the admin I need to implement a functional in such a way that when the admin chooses a category for the post, the properties of the category are displayed as additional fields. I like you it works below there are screenshots.

##### Db structure
[code]

![image](https://user-images.gi

[2018-11-26 13:53] zakir1929 commented on #2182
is there any solution available to this issue now @daftspunk @LukeTowers  ???

Thanks

[2018-11-26 16:18] ayumihamsaki commented on #3939
@LukeTowers Thanks Luke for your input and all your points, I totally agree on all of them and will keep researching this matter more.

With regards to discussion type threads, I was in two minds about writing this issue here. I wanted a place where I could have this stored and let users add input over time. I don't like the idea of writing this type of post in the chat room and having any importa

[2018-11-26 16:32] LukeTowers commented on #3939
I agree the forum needs to be reopened, but that's @daftspunk's wheelhouse to deal with as I don't have access to the website at all. As far as chat rooms go, I don't think we'll be moving away from Slack any time soon, simply too many people use it daily for us to force a migration unless we're really solid on an alternative.

[2018-11-27 06:56] zakir1929 commented on #2182
ok i did the redirect solution which @daftspunk suggested. Thankyou guys

[2018-11-27 10:11] shoxabbos commented on #3941
I do not need nested relations. I want to make dynamic filters for products.  This is model called EAV.
Like this: https://habrastorage.org/files/96b/dee/92b/96bdee92b43d4592a52014e74bbc7816.png

[2018-11-27 10:16] shoxabbos commented on #3941
![image](https://user-images.githubusercontent.com/8403807/49074649-eb160c00-f256-11e8-89da-787e0498cfa5.png)
![image](https://user-images.githubusercontent.com/8403807/49074851-6677bd80-f257-11e8-8c12-d9e20c601c2d.png)

[2018-11-27 11:06] GinoPane commented on #3913
@ayumihamsaki Bravo! You've described everybody's pain 😄

[2018-11-27 16:05] ghost opened #3942 "Request: Make Marketplace reviews editable"
On the October CMS website Users can leave reviews about plugins.

The issue is that you can not `edit` / `change` / `update` your review after it has been sent.

This can cause a plugin developer problems due to a person leaving a neg review about the plugin having an error for example and then the author fixing it. Then the user not being able to update their review with regards to the author fi

[2018-11-27 16:08] vanyaraspopov commented on #1761
@daftspunk you should add `keyFrom` option in the docs https://octobercms.com/docs/backend/forms#widget-recordfinder

[2018-11-27 16:34] ayumihamsaki commented on #3939
@LukeTowers

Totally makes sense! I believe the current trend is for developers to use Slack and non-dev's using Telegram.

I was more referring to things such as IRC. I actually can't believe that is still going (I used MIRC way back in the 90's).

Then October started trying to expand into other things such as this: http://area51.stackexchange.com/proposals/97119/octobercms

Actually I would cha

[2018-11-27 21:15] LukeTowers commented on #1761
@vanyaraspopov docs are open source, feel free to submit a PR to octobercms/docs!

[2018-11-27 21:19] LukeTowers commented on #3941
@shoxabbos you'd be looking at the https://octobercms.com/docs/api/backend/form/extendfields event to dynamically add / remove fields based on the value of another field. You'd want to get the model with $widget->model (or `->getModel()`, can't remember atm) to see the current values and you would want to make all of your dynamic fields dependsOn the field that triggers their existence.

[2018-11-28 08:32] obuchmann opened #3944 "[Feature Request] set Project id from command line"
It would help to script october deployments if there would be an artisan command to set the project id.

Working on an PR.

[2018-11-28 09:53] CptMeatball opened #3945 "Backend system assets have versioning set"
##### Expected behavior
Updating to newest develop-branch changes, also updates the jquery files etc.

##### Actual behavior
After updating to newest develop-branch changes, browser still loads the old files due to a `?v1` parameter that is added to all files.

![image](https://user-images.githubusercontent.com/1681727/49143652-c758d180-f2fb-11e8-9889-cb7544cb7986.png)

##### October build
Latest

[2018-11-28 10:37] w20k commented on #3945
Hi,

By default it add coreBuild number. Just try to run october utils for fetching build number.
`php artisan october:util set build`

[code]

[2018-11-28 11:13] CptMeatball commented on #3945
ahh. that explains. Thanks!

[2018-11-28 11:13] #3945 closed

[2018-11-28 13:59] obuchmann commented on #3944
I mean to attach a project id, like the System\Controllers\Updates::onAttachProject() method does.

The implementation could be as following:

[code]

[2018-11-28 16:20] vanyaraspopov commented on #1761
@LukeTowers держи )
https://github.com/octobercms/docs/pull/335

[2018-11-28 17:13] LukeTowers commented on #3944
@obuchmann I'm fine with that. If you could make your PR to add it to `october:util` in the form of `php artisan october:util set project=$projectIdHere` that would be accepted.

[2018-11-29 11:58] ayumihamsaki commented on #3939
Going to close this issue due to two main reasons:

1. This is not a bug/issue with regards to October CMS.
2. I don't think this would end up being an enhancement, it's more likely to become a separate plugin, for everyone to decide if they want it or not.

[2018-11-29 14:22] ayumihamsaki opened #3947 "Improve visibility of code editor buttons in the backend"
This issue has annoyed me for years and today, I had enough and decide to code the fix.

The issue see screenshot, below:

![1a](https://user-images.githubusercontent.com/17784082/49227605-5ab80280-f3e1-11e8-9b9a-5a8a3f40e234.png)

As you can see, you can not see the buttons in default mode as they are hidden in the code (very annoying!)

The old CSS code:

[code]

My suggestion is to re-code it t

[2018-11-29 14:39] ayumihamsaki commented on #3947
Update: Actually I might just move it across to the left a bit so it is not covering the scrollbar like the search box is doing:

[code]

Giving the results:

(With Scrollbar)

![3a](https://user-images.githubusercontent.com/17784082/49228939-61944480-f3e4-11e8-9d7e-ad238c1d7f9a.png)

(Without Scrollbar)

![3ab](https://user-images.githubusercontent.com/17784082/49228990-7bce2280-f3e4-11e8-81d9-ba

[2018-11-29 16:17] w20k commented on #3947
Hi, @ayumihamsaki looks great to me 😉. Just a minor note, could you test it with different resolutions: tablet, desktop, mobile?

[2018-11-30 09:41] w20k commented on #3939
Hi @ayumihamsaki, just wanted to add my 50 cents.

First, take a look at source code and the plugin: https://octobercms.com/plugin/vdlp-redirect. It's partially doing what you were planning to come up ;)
**Side Note**: For storing IPs  @LukeTowers  was right. You could do it, but if it's not differentiated as an exact User. And as a GDPR tip, you could store IP's, but not in the plain format - cry

[2018-11-30 14:01] w20k commented on #3603
It's fixed by @Teranode commits, despite mobile.

I do think it should be done this way for Mobile. It's better to have a label and input field with 100% width (like: 1 line label, 1 line input & etc). It's a part of a different issue/feature request 😉

[2018-11-30 14:33] LukeTowers commented on #3939
@w20k do you have a source for

[2018-11-30 15:12] w20k commented on #3939
![tools-to-anonymize-or-pseudonymize-data-are-part-of-idcs-gdpr-technology-framework-and-are-among-the-tools-which-are-underused-by-cisos-and-cdos-according-to-idcs-philip-carnelley](https://user-images.githubusercontent.com/1053320/49296968-3bdd6d00-f4c2-11e8-974f-75ce1cd46902.gif)

_My bad, not encrypting, but hashing._

It's not like you can't store personal data, but all the issues that might

[2018-11-30 15:17] ayumihamsaki commented on #3603
@Teranode Thanks for fixing this issue - I totally forgot all about this issue!

[2018-11-30 16:37] LukeTowers commented on #3939
For this case of storing IP addresses not connected to any user data this would be acceptable under that principal wouldn't it?

[2018-11-30 16:39] w20k commented on #3939
Yep, it would be acceptable.

[2018-12-01 15:34] ayumihamsaki commented on #3867
next on my list: https://github.com/janl/mustache.js/releases

[2018-12-01 15:46] w20k commented on #3867
I'm ready @ayumihamsaki  😄

[2018-12-01 16:07] ayumihamsaki commented on #3867
@w20k hahaha

[2018-12-01 16:13] ayumihamsaki opened #3949 "Rules for Updating Third-Party Modules in October CMS"
Hi Luke,

I written some rules that maybe useful, when updating vendor modules, these are the lessons I have learnt from updating a few modules now. I just wondered if they are useful to put in the notes section etc.

## Rules for Updating Third-Party Modules in October CMS:

1. Only use the Official Github Releases Repo or an Official CDN.

2. If getting the updated files from an Official CDN, be

[2018-12-01 18:06] LukeTowers commented on #3949
@ayumihamsaki these are great, thanks! I'd like to get a new repo started (octobercms/meta) where we could put this sort of stuff, but I'll need to talk to @daftspunk more about that first.

[2018-12-01 18:14] LukeTowers commented on #2616
See comment in #2617

[2018-12-01 18:14] #2616 closed

[2018-12-01 18:42] TimFoerster commented on #3275
@LukeTowers nope, i just picked up from a slack discussion.

[2018-12-01 18:49] ayumihamsaki commented on #3949
@LukeTowers You welcome! Agree would be useful to have a separate place to store all this useful information.

[2018-12-01 19:42] LukeTowers commented on #3608
jQuery has been upgraded, can we get the ball rolling on testing the .globalEval approach?

[2018-12-01 20:54] vosco88 opened #3952 "[UX] Add "Clear filters" button to filter"
When you have couple of filter scopes with something selected it is a bit annoying to have to click through all of them to clear them.
My suggestion would be to add a button to the filter toolbar that would clear all filters.

I was trying to look on how to approach this as I would like to code it but probably would need some guidance and help. As I am not sure how to approach clearing all.

[2018-12-01 20:57] w20k commented on #3952
Hi @vosco88  could you add a screenshot of this issue? Would be a bit easier to understand. It might be fixed in the dev branch already 😄

[2018-12-01 21:04] LukeTowers commented on #3952
@vosco do you have a mockup of how you would like envision it looking? Ideally two mockups, one with one filter and one with a lot of filters

[2018-12-01 21:14] vosco88 commented on #3952
@LukeTowers I was envisoning it as something like this quick mockup
![image](https://user-images.githubusercontent.com/14372933/49332908-fb5f1b80-f5b5-11e8-8f21-ba89a5be3697.png)

I do not think I would specify it differently with different amount of filters, but basic idea is you click the button  and it clears all applied filters from the list.

@w20k it is not an issue per say, more a feture re

[2018-12-02 12:39] Albert221 opened #3954 "Unable to edit file with parentheses in its name"
Okay, so I uploaded an image to my assets, its name is `Tło1 (1).jpg`. Now, I cannot delete it or rename because:

![image](https://user-images.githubusercontent.com/4085280/49339815-643aa800-f637-11e8-8fc1-4eb37a671031.png)

October version: current buil: 443

[2018-12-02 17:10] ayumihamsaki opened #3955 "Possible Bug in the Plugins Backend Section"
## Steps to repeat the bug:

Go to the Settings > Updates & Plugins > Manage Plugins

Then I had for example this row:

[code]

Then I go to Settings > Updates & Plugins

I click on the "Check for updates" button.

I get the reply:

Now I change the Settings to the following:

[code]

Then I go to Settings > Updates & Plugins

I click on the "Check for updates" button.

I get the reply:

## Expect

[2018-12-02 17:48] w20k commented on #3955
Hi, @ayumihamsaki can't reproduce it with my local sites.

The only place where `is_frozen` flag is checked is here:
https://github.com/octobercms/october/blob/edcc4af68aa70dc4b84b687e34edb90d14191ca0/modules/system/classes/UpdateManager.php#L263
Doesn't seem to be a problem here. Needs more testing with specific plugin or version. Maybe server is bugging.

[2018-12-02 17:48] LukeTowers commented on #3952
@vosco88 I would probably want it at the end, or as a button outside of the filter container

[2018-12-02 18:04] vosco88 commented on #3425
@LukeTowers I've started to work on this one. So far I've put the button to the left of the search like below as not to have the input field too crowded when closed.
![image](https://user-images.githubusercontent.com/14372933/49343138-78e16500-f664-11e8-9124-95453c1bd9f9.png)
Other placement I was thinking is to replace the search icon with the 'X' icon but I did not want to loose the search icon.

[2018-12-02 18:06] LukeTowers commented on #3425
@vosco88 I don't mind having the X replace the search icon, what are your concerns with that?

[2018-12-02 18:16] vosco88 commented on #3425
@LukeTowers probably just overthinking it :) ok will work on that, will ping you when done

[2018-12-02 19:49] ayumihamsaki commented on #3955
@w20k Thanks for looking into it, I will run some tests as well.

I have several paid plugins in the backend switched off at the moment.

Before I wrote this issue, I was able to repeat the issue several times, going back and forth turning the switches on and off and clicking on the update button! So I don't think it's a one off bug.

The plugin that failed is the following: https://octobercms.com

[2018-12-02 20:32] ayumihamsaki commented on #3955
@w20k @LukeTowers

Ok you are in luck, I still have other paid plugins turned off in one of my clients websites. That I have not updated in a while. I will take a video and demo the issue with another paid plugin:

Please watch this video: https://www.youtube.com/watch?v=Sd4ap7JxhcA

That is for the paid plugin: https://octobercms.com/plugin/radiantweb-problog

Again nothing wrong with the plugin.

[2018-12-02 22:11] w20k commented on #3955
@ayumihamsaki not sure if it's called luck 😄

[2018-12-02 23:33] w20k commented on #3954
Used the same fileName (OSX). It worked for me. No errors.
Screenshot:
<img width="948" alt="screenshot 2018-12-03 at 01 31 55" src="https://user-images.githubusercontent.com/1053320/49346444-54ed4600-f69b-11e8-92a3-79f142122a72.png">

@Albert221, could you add steps how to reproduce your bug?

@LukeTowers we already have rule for parenthesis: `preg_quote('(', '/'),preg_quote(')', '/'),`.

[2018-12-02 23:35] Albert221 commented on #3954
@w20k looks like you added it to Media, not Assets (in CMS section). I'll record a short screencast next evening.

[2018-12-02 23:40] w20k commented on #3954
@Albert221 thanks for a tip. Yeah, found it 😉

[2018-12-03 00:55] LukeTowers commented on #3954
I'm not sure if we want to put it in the filesystem layer, there's a lot of different stuff that could break if we had it at the filesystem layer. The main reason there's validation in the media library section is to prevent XSS, so as long as we can come up with a solid way to handle that going forwards that isn't quite as brittle as filename validation I'm fine with the solution.

[2018-12-03 08:28] greinbold opened #3957 "HTTP 302 error when trying to get backend without debug mode"
Hello,

My October instance works fine, but only with debug mode...

As discussed on the IRC channel, I got a HTTP 302 error when I try to get the backend without debug mode.

Apache 2.4 config:

[code]

HAProxy 1.8 config:

[code]

config/app.php

[code]

config/cms.php

[code]

##### Expected behavior
Can connect to the backend without debug mode with a high availability proxy which handle SSL/T

[2018-12-03 10:07] w20k commented on #3957
Hi, @greinbold

Try setting config/cms.php -> `'backendForceSecure' => false,`. Should work.
When setting debug to false backend is forced to use HTTPS, and in your case HTTPS protocal for your host is not defined.

[code]

[2018-12-03 10:47] greinbold commented on #3957
It works now.

I had not think about that and also don't understand which exactly describe `to force a secure protocol`.

Thanks a lot @w20k

[2018-12-03 10:56] w20k commented on #3957
What it does it enables HTTPS for your backend (`force a secure protocol`), pretty much that's it 😉

[2018-12-03 10:56] w20k commented on #3957
@greinbold could you close this issue, if it's resolved, thanks!

[2018-12-03 11:11] #3957 closed

[2018-12-03 15:34] ghost opened #3958 "Update the dashboard area with improved downscaling"
I'm just going to open this issue, but I don't have time to fix it right now.

All the widgets in the dashboard for many plugins and the default ones are not responsive! If you open the dashboard screen in tablet mode or open chrome browser and open dev-tools and resize the screen you will see that there is no responsive code at all to any of the widgets.

Here's an example:

![example](https://us

[2018-12-03 15:37] LukeTowers commented on #3958
@ayumihamsaki part of the problem is that it isn't that easy for developers to make the widgets responsive with breakpoints because I don't think you can target the width of the container holding your elements, just your screen width. Any thoughts on that?

[2018-12-03 15:40] ayumihamsaki commented on #3958
@LukeTowers My initial thoughts is using flexbox and rem instead of px. Needs investigation, but I think can easily be upgraded, to make it easy for developers.

[2018-12-03 15:41] LukeTowers commented on #3958
@ayumihamsaki feel free to experiment with it, I'm not so sure it'll be that easy. Some other thoughts are allowing different layouts at smaller screen sizes and / or having developers specifying a min width for their widgets

[2018-12-03 15:43] w20k commented on #3958
Or as an option, we could help developers build 'dashboard widgets' the smart way. Provide them with guidelines or a set of tests (or a test tool) for different resolution/options.

[2018-12-03 15:48] ayumihamsaki commented on #3958
@LukeTowers @w20k I strongly, I think I could code something for a baseline, which will make all the widgets responsive and developers wont need to do any extra work.

I throw out some ideas:

- Responsive fonts
- Media Queries for screen sizes
- Flexbox
- REM instead of PX
- Overflow

I think is also a good idea.

But October CSS Code is old and still using floats and old this still. So an upgrad

[2018-12-03 15:50] ayumihamsaki commented on #3958
p.s.

"How to empower developers to make dashboard widgets more responsive"

I wouldn't say it totally developers fault, I'm sure its the October CMS base line css code fault.

[2018-12-03 15:54] w20k commented on #3958
@ayumihamsaki , @LukeTowers - what do you guys think, if we could create a separate branch or rep. to test these ideas? And to find the best possible solution?

[2018-12-03 15:59] ayumihamsaki commented on #3958
@LukeTowers @w20k I just remembered, I talked about the Dashboard with Luke a few months ago. From reading my old notes it seems like the dashboard is built using the JavaScript library:

* jquery.isotope

I wrote that October is using v1.5.26 and the new version is v3.0.6

So I would suggest we update that library first and go from there!

Link to my note: https://github.com/octobercms/october/pu

[2018-12-03 16:02] ayumihamsaki commented on #3958
I'm up for that. Been wanting to create a wild experiment branch for a while. That allows dev's to create things and not worry about breaking October (before running tests).

[2018-12-03 16:06] LukeTowers commented on #3958
The main issue with the dashboard widgets is that a user can have 10 (or 12 if @ayumihamsaki's enhancement PR goes though) widgets all trying to display on the same row while in a mobile screen size.

[2018-12-03 16:09] ayumihamsaki commented on #3958
So why not use flexbox wrap function?

See here for demo: https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-wrap_wrap

Adjust the window size to see it in action.

[2018-12-03 17:06] w20k commented on #3958
I think we could start with a simple approach for now 😉Maybe a new isotope version would fix it somehow)) Don't believe in it, but miracles tend to happened ))

[2018-12-03 17:34] ayumihamsaki opened #3959 "Feature Request: Allow all Backend Tabs to become slide-able"
Sorry you must be sick and tired of all my requests!

I keep trying to slide the editor tabs! I am so use to doing this in all my developer tools.

I really think this would be a welcomed feature.

Example `.gif` showing the feature in Google Canary tabs:

![ezgif-2-1bb9608cb2ef](https://user-images.githubusercontent.com/17784082/49390709-932d4880-f721-11e8-933d-f26e2cd432b2.gif)

I am referring t

[2018-12-03 18:47] ayumihamsaki commented on #3958
@LukeTowers Can I have permission to break this [PR](https://github.com/octobercms/october/pull/3825) up into two sections:

1. Update jquery.isotope.js library
2. Update Dashboard to 12 from 10

Then @daftspunk can review the 12 column idea whenever he wants and the updated library can get pushed through to fix this issue.

p.s. I would need to cancel that PR as I don't have my console connected

[2018-12-03 19:42] LukeTowers commented on #3958
@ayumihamsaki works for me

[2018-12-03 19:44] LukeTowers commented on #3959
Feel free to submit a PR for that @ayumihamsaki. Try to avoid adding any new dependencies.

[2018-12-03 23:16] ayumihamsaki commented on #3867
Need to update all these jquery scripts:

https://github.com/octobercms/october/tree/master/modules/backend/assets/js/vendor

[2018-12-03 23:18] ayumihamsaki commented on #3959
@LukeTowers Quick Question, do you know what library October uses for the Dashboard drag n drop. Maybe I could extend that one for the tabs?

[2018-12-04 00:11] LukeTowers commented on #3959
Isotope isn't it?

[2018-12-04 12:12] w20k commented on #3867
@ayumihamsaki found a small bug with moment-timezone.js. We need to use moment-timezone with Zone data but the release version doesn't contain those values.

[2018-12-05 17:35] ayumihamsaki opened #3962 "How to re-set collapsed folders to default setting in cms editor section"
This is an issue that has gone on for several months now. A long time ago all the folders in the cms editor section were all **"collapsed" by default** and then after an update to the cms all the folders are now "expanded" by default.

This is really annoying issue for me, due to having on average over 500 partials per website project. It takes me a good 10 minutes everyday closing all the folders

[2018-12-05 23:56] ayumihamsaki commented on #3962
I believe it went like this after this commit update (but not 100% sure): https://github.com/octobercms/october/commit/a2a7eec4f5df016a9e41ce9698d58f8d69bcccc3

That sounds an amazing idea.

[2018-12-06 03:14] LukeTowers commented on #3962
@ayumihamsaki thanks. Feel free to submit a PR to add the toggle all functionality on modifier clicks

[2018-12-06 12:07] ayumihamsaki commented on #1542
@LukeTowers I agree with @w20k this issue can be closed, I have two open issues with regards to this issue open right now, see here:

Issue with Tabs: https://github.com/octobercms/october/issues/3856

Issue with Top Menu: https://github.com/octobercms/october/issues/2820

Both those issues should cover this issue, so no need to have this open.

[2018-12-06 12:12] ayumihamsaki commented on #3608
@w20k Let me know when you have put something together, then tag me. This issue is highest on my to do list. I have several coded plugins that are affected by this issue so will be happy to help you test.

Anyway, following this issue closely.

[2018-12-06 16:46] #1542 closed

[2018-12-06 20:57] sNuuFix commented on #3912
I am now running aspendigital/octobercms container with latest October version under latest nginx-proxy and the issue has gone away by itself for some reason. I tried to dig into sourcecode to find the place that forces http but didn't succeed. This seems like specific edge case that's tied to server's (mis)configuration.

[2018-12-06 22:04] LarBearrr commented on #3863
I've been wondering about the Revisionable trait in the Rain library as well. AFAIK, there are no implementations of it thus far. Does anyone have any idea how to use it?

[2018-12-07 03:48] vicrly opened #3967 "Proposal: Add format property to columns"
modify /modules/backend/widgets/List.php function evalTextTypeValue()
[code]
**changed to**
[code]

[2018-12-07 06:06] LukeTowers commented on #3967
What is the purpose of this?

[2018-12-07 14:47] w20k commented on #3608
Update2: `$.globalEval()` from didn't work well with OCMS approach, have an idea but needs refactoring. `~new Function()` should do the trick.

[2018-12-07 16:05] MattHamer5 opened #3968 "Package files from server are corrupt"
##### Actual behavior
Currently using Vagrant ScotchBox. Trying to install October using the wizard (install.php), I go through all the steps successfully; link my MySQL Database and Create an Account. When it comes to the actual installation page it immediately says

##### Error Logs:
`[2018/12/07 03:54:08] Install step: downloadCore`
`[2018/12/07 03:54:11] File hash mismatch: f4018fccd269a1ddced

[2018-12-07 16:15] viamage opened #3969 "Memory Leak in RelationController with bigger datasets"
##### Expected behavior
RelationController supports big related datasets of related models without memory leaks.

##### Actual behavior
On example of HasMany relation, with around 100k related records php eats huge amounts of RAM when trying to access controller.

##### Reproduce steps
Seed any HasMany relation with a big dataset, setup relation controller for parent and try to access parent model

[2018-12-07 16:51] LukeTowers commented on #3969
@viamage I would accept a PR to fix this

[2018-12-07 20:36] ayumihamsaki commented on #3959
@LukeTowers

I believe Isotope does not have a drag and drop feature built into it see github here: https://github.com/metafizzy/isotope/issues/213

People keep quoting [Packery](https://packery.metafizzy.co/)

I'm not sure if October uses that library, I can't see any sign of it in October.

I have done a little bit of research into this issue and have found three different solutions:

## Solutio

[2018-12-07 20:37] w20k commented on #3959
@LukeTowers, seems not. Isotope only used in the reportsController (Dashboard).

[2018-12-07 20:38] ayumihamsaki commented on #3959
@w20k yep very speedy right haha

[2018-12-07 20:43] w20k commented on #3959
@ayumihamsaki, I'd drop all the options, despite jQuery UI, because it's already a part of the asset library as well as jQuery.Drag and jQuery.Scroll.
The one huge, like gigantic part, would be - testing (manual & auto. - I want UI tests 😄 or just simple smoke tests). Wouldn't be that great to add a new shiny feature with glitching.

[2018-12-07 22:00] ayumihamsaki commented on #3959
@w20k I just found the files now, location here:

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/js/drag.scroll.js
https://github.com/octobercms/october/blob/master/modules/system/assets/ui/js/drag.sort.js

fiddle looks ok as well.

[2018-12-07 22:18] ayumihamsaki commented on #3959
@w20k I just found the files now, location here:

https://github.com/octobercms/october/blob/master/modules/system/assets/ui/js/drag.scroll.js
https://github.com/octobercms/october/blob/master/modules/system/assets/ui/js/drag.sort.js

fiddle looks ok as well, except the "Lock Last Tab" doesn't work. When you turn it on, you can't turn it off. But I think don't need that part for October?

p.s. tha

[2018-12-07 22:34] w20k commented on #3959
That looks awesome, thanks @ayumihamsaki !
Forgot my charger, so no working weekends for me, 50% left 😄

[2018-12-07 22:51] ayumihamsaki commented on #3608
@w20k looks like you beat me to that one, I was going to suggest that as well.

Been doing this:

`pluginCode += `, ${JSON.stringify(pluginConfig.options)}`;`

into

`pluginCode += `, ${stringifyWithoutComments(pluginConfig.options)}`;`

[2018-12-07 22:54] ayumihamsaki commented on #3608
@w20k I was going to suggest something like this?

I've been doing this:

[code]

into

[code]

[2018-12-07 23:02] w20k commented on #3608
@ayumihamsaki, not sure I understand what you mean.

There are currently two issues with eval in frameworks.js:
1. String to object 'conversion'
2. In scope function execution

[2018-12-08 15:24] ghost opened #3971 "Would it be a good idea to add a Javascript dragbar to the backend in various places?"
I got one final idea for updating the code section in the October backend. I also would like to add it to the builder plugin.

I will show you my idea for the code editor section to add a Javascript dragbar, so users can adjust the size of the column to read the files more easily, or hide them a bit better.

## The Problem

Currently October allows you to either display it in full or hide it. Ther

[2018-12-08 15:36] jluisgarcia opened #3972 "Question: Is a Native blog plugin being developed?"
Just curious whether there is a Native Blog Plugin (developed by the OctoberCMS team) being developed.
It would be a fantastic addition to the project.
Thanks.

[2018-12-08 16:43] LukeTowers commented on #3972
See the https://github.com/rainlab plugins, those are all developed by the core developers. Specifically RainLab.Blog is what you're looking for

[2018-12-08 16:43] #3972 closed

[2018-12-08 20:03] ayumihamsaki commented on #3959
@w20k @LukeTowers

Ok I run some experiments right now and need to get some feedback. I do the following code:

1. https://github.com/octobercms/october/blob/master/modules/backend/layouts/_head.htm

add the lines:

[code]

2. https://github.com/octobercms/october/blob/master/modules/system/assets/ui/storm.css

[code]

3. https://github.com/octobercms/october/blob/master/modules/backend/assets/css

[2018-12-09 15:32] ayumihamsaki commented on #3608
@w20k Please check out MeLlamoPablo comment point number 4 here: https://github.com/octobercms/october/issues/3608#issuecomment-401704625

This can be directly linked to the PR we are working on here: https://github.com/octobercms/october/pull/3951

With regards to the `emmet.js` update in the code editor. Not sure if you want to finish that PR first before doing this, let me know.

[2018-12-09 17:39] ayumihamsaki commented on #3867
Do jQuery Cookie next as there are some security issues that may need to be patched:

location: https://github.com/octobercms/october/blob/master/modules/backend/assets/js/vendor/jquery.cookie.js

update: https://github.com/js-cookie/js-cookie/releases

v1.4.1 to v2.2.0

## RFC 6265 compliance

js-cookie respects the RFC 6265 proposed standard, which was proposed in April 2011 and specifies how al

[2018-12-10 14:37] MattHamer5 commented on #3968
I got this setup and working straight away when I switched over to Homestead, so unsure if it was just a ScotchBox problem.

[2018-12-11 14:32] felipe-alves-reis commented on #1305
On my site I do not use flash message. I have this problem when I use the Ghost plugin, which simulates the login on the front with the user registered in the plugin "frontend user". When I move the user on the frontend, when I go to the administrative part, the message "you were successfully disconnected" @daftspunk

[2018-12-11 20:51] SebastiaanKloos commented on #3971
That would be really nice. The adjustments should be saved in the session

[2018-12-11 20:59] LukeTowers commented on #1305
@felipe-alves-reis that's an issue with the Ghost plugin then. Either you should implement flash message handling in the frontend or ask the author of that plugin to make flash messages optional. The Flash logic will remain a shared class.

[2018-12-11 21:02] #3968 closed

[2018-12-11 21:03] LukeTowers commented on #3967
I have no idea what you just said. How about you provide a demonstration of how this would be used in real life?

[2018-12-12 11:01] lautsevich commented on #3678
The same problem in LOVATA's profile. Most likely, the number of plugins isn't taken from the DB, but from an object with a list of plugins coming to the page template.

[2018-12-12 11:07] lautsevich opened #3978 "Broken pagination on the author page"
##### Expected behavior
Pagination on the author page works.

##### Actual behavior
Pagination on the author page doesn't work.

##### Reproduce steps
Open author page with more than 18 plugins ([LOVATA](https://octobercms.com/author/Lovata), [Vojta Svoboda](https://octobercms.com/author/VojtaSvoboda)) and try to go to the second page.

![image](https://user-images.githubusercontent.com/196445/498

[2018-12-12 14:44] Adrion opened #3979 "|page filter code side ?"
Context
--------
I create a model and I want to redirect the user to a page that use the model_id.
Since model_id is not known at component creation I can't use `|page` filter or I will get http://path/default

Problem
---------
I did not find any clean way to generate the url by passing the CMS file path like `|page` does.
I checked in code and twig filter calls a controller instance. (url() help

[2018-12-12 14:53] LukeTowers commented on #3979
I need more context, what do you mean 'model_id is not known at component creation'?

[2018-12-12 16:01] Adrion commented on #3979
I made a component for a model creation form.
After creation (`onSubmit()`) I wanted a validation step and redirect the user on a dedicated page.
for example `/product/:product_slug/validation`

when I request my component method ex: `onSubmit()` I would like to return a redirection URL.

[code]

I tried with `url()` helper, Redirect class etc. But they are all laravel based and doesn't handle phy

[2018-12-12 20:04] rllapur89 commented on #2602
I tried to set a maximum value for "max_input_vars" but it doesn't work. I found a temporary solution for this issue, so, we have to modify the line $query->limit(500) in Filter.php file and voila. The problem is going to be when we update the October version that these changes are lost so we should keep that in mind ;-)

[2018-12-12 22:30] LukeTowers commented on #3979
Do this:
[code]

[2018-12-12 22:30] #3979 closed

[2018-12-13 01:47] vicrly commented on #3967
For example: $100.00, 10 people, 30 years, 5 months, 8-10~9-10
Output control is the core of Lists, so I think formatting is essential

[2018-12-13 02:22] LukeTowers commented on #3967
Please provide an example of the YAML that the column definitions would look like when using this

[2018-12-13 06:53] Adrion commented on #3979
Thanks I'll give it a try !

[2018-12-13 07:17] Adrion commented on #3979
Perfect `$this->pageUrl()` is exactly what I needed. I saw this method in pageFilter declaration but I didn't know that `ComponentBase` has the controller as a property :)
Thanks 👍

[2018-12-13 18:53] LukeTowers commented on #3979
No problem!

===
Was this helpful? Did it save you time? Then consider becoming a [Patreon supporter](https://www.patreon.com/LukeTowers) so I can keep providing excellent support! Or, add your thoughts to https://github.com/octobercms/october/issues/3683

[2018-12-14 10:00] rongself opened #3981 "Number ran'ge"
##### Expected behavior
(Describe expected behavior here)

##### Actual behavior
(Describe actual behavior here)

##### Reproduce steps
(Describe the steps to reproduce the problem here)

##### October build
(October build number)

[2018-12-14 10:00] #3981 closed

[2018-12-14 10:21] rongself opened #3982 "Number range filter doesn't work if either 'min' or 'max' is set to 0"
https://github.com/octobercms/october/blob/826e72d3a969c2307e83e59c28056b26e488723c/modules/backend/widgets/Filter.php#L764

[2018-12-14 11:12] w20k commented on #3982
@rongself, could you describe how should range work if your 'min&max' values are equal?

[2018-12-14 11:30] w20k commented on #3982
@munxar why would you use range than? If you're looking only for a single value?
'0' value is an issue here, for sure, but still, you won't use the range with min=0 & max=0, there is no point 😄

[2018-12-14 11:35] munxar commented on #3982
@w20k Yes, but if it is something you calculate or derive from something else (a variable) you sometimes don't have control over what you get. Let's say you give the user a range from 0 to the max of some items. What will this range be in the beginning when no records are entered? Yes, 0.
I don't claim it makes sense, but imho the filter must handle that edge case in a predictable way.

[2018-12-14 15:59] tmus opened #3983 "disabled:true on form recordpicker results in integrity constraint violation"
##### Expected behavior
Adding `disabled: true` to a recordpicker in fields.yaml should not send the (unchanged) value to the FormController.

##### Actual behavior
The unchanged value is sent to the FormController, where it is set to null (because it is disabled), resulting in an attempt to override the record id with null.

##### Reproduce steps
Make a fields.yaml file with a `recordpicker` elem

[2018-12-14 17:18] LukeTowers commented on #3983
In theory that should work, and that is already in place for regular fields, so I don't see why it wouldn't. Please test it, perhaps @w20k can take a look as well, and then submit a PR

[2018-12-14 17:31] michalise commented on #3683
Just do an ICO,

The people behind the project will become millionaire's and they can then hire a proper team to develop this project more quickly!

I have seen so many BS projects out there that have done an ICO and raised huge amounts of capital and their code is totally rubbish, where you could put something together in a single day! At least with October the code is good and already done!

You

[2018-12-14 17:34] LukeTowers commented on #3983
Go for it @tmus. No worries @w20k, I've done that more times than I can count

[2018-12-14 18:53] michalise commented on #3683
Just do an ICO,

The people behind the project will become millionaire's and they can then hire a proper team to develop this project more quickly!

I have seen so many BS projects out there that have done an ICO and raised huge amounts of capital and their code is totally rubbish, where you could put something together in a single day! At least with October the code is good and already done!

You

[2018-12-15 03:51] vicrly commented on #3967
YAML column definitions,like this is:
[code]
output:
99 $/people

[2018-12-15 05:03] munxar commented on #3967
@vicrly I totally like the idea, and did this myself with a custom column about 100 times.
@LukeTowers having this option, would be very useful.

[2018-12-15 13:06] auzadventure opened #3985 "Clarify Documentation For Ajax Introduction"
##### Expected behavior
[The documentation ](https://octobercms.com/docs/ajax/introduction)

##### Actual behavior

The onTest handler method accessed the form data using the input helper method and the result is passed to the result page variable.
[code]

`$this->page['result']` does not work if the code is inserted in the CODE section of the page.

##### Reproduce steps
If the PHP code is insert

[2018-12-15 17:17] LukeTowers commented on #3985
@auzadventure feel free to submit a PR to https://github.com/octobercms/docs

[2018-12-16 13:44] Rike-cz opened #3986 "Add SVG support in Media Manager"
Idea for Media Manager improvement - add SVG support (as image beside current JPEG, PNG...)

[2018-12-16 15:34] LukeTowers commented on #3986
Duplicate of #3106. Resubmit that PR with my recommendations implemented if you would like to see this.

[2018-12-16 15:34] #3986 closed

[2018-12-16 15:52] LukeTowers commented on #3325
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2018-12-16 15:52] #3325 closed

[2018-12-16 16:54] vicrly commented on #3967
@munxar you're right
@LukeTowers ok. let me try

[2018-12-16 22:46] Harrison-B commented on #3411
Had the same issue on Apache/MySQL 5.7/PHP 7.1, it was fixed by installing a fresh wizard instance with no plugins or themes.

[2018-12-17 03:39] rongself commented on #3982
@w20k @munxar
sorry,my english is really bad.
for example, min=0 and max=20, the filter will not work

[2018-12-17 10:07] Rike-cz commented on #3986
Sorry, my bad.

[2018-12-17 12:11] Rike-cz commented on #3986
@datune Are you able to resubmit your PR?

[2018-12-17 14:17] radist opened #3987 "How to use Condition callback and After match callback in Router Rule"
this is not in the documentation

https://github.com/octobercms/library/blob/master/src/Router/Rule.php#L283-L330

[2018-12-17 14:21] w20k commented on #3987
Hi, @radist, if you're interested, could make a PR to [docs](https://github.com/octobercms/docs) 😉

[2018-12-17 14:30] w20k commented on #3987
@radist, It's called from Router.php (https://github.com/octobercms/library/blob/master/src/Router/Router.php#L84). Should work from the code perspective.
Why do you think code ain't ready?

[2018-12-17 14:38] Tranest8tion opened #3988 "Error with Backend Administrators options"
Expecting to be able to add, delete, update Admins for the backend, however an exception occurs

I get an exception listed in the image attachment

![screen shot 2018-12-17 at 9 32 44 am](https://user-images.githubusercontent.com/13798489/50093526-eb168580-01de-11e9-8790-50fe45abaaa7.png)

Reproduce with: Clean install using MS SQL dB and running the install via October instructions.

build number

[2018-12-17 14:45] radist commented on #3987
matchCallback is always null
https://github.com/octobercms/library/blob/master/src/Router/Router.php#L83

in afterMatch(); No parameters passed
https://github.com/octobercms/library/blob/master/src/Router/Router.php#L82

$callback  is always null
https://github.com/octobercms/library/blob/master/src/Router/Rule.php#L317

always return unset properties afterMatchCallback
https://github.com/octoberc

[2018-12-17 14:50] w20k commented on #3987
@radist, would you like to make PR to fix it?

[2018-12-17 14:54] w20k commented on #3988
@Tranest8tion, if you're using SQL server, you have to apply this script: https://github.com/orlando-colamatteo/ms-sql-server-group-concat-sqlclr

[2018-12-17 14:58] radist commented on #3987
We need a description from the designer how it should work. From the current state of the code it’s not clear.

[2018-12-17 14:59] w20k commented on #3987
@radist, will have to wait for @LukeTowers input on this one. He might have a clue.

[2018-12-17 15:00] w20k commented on #3986
@Rike-cz, you could make a revision of his PR and resubmit it with regards to the author.

[2018-12-17 15:40] Tranest8tion commented on #3988
Thank you so much w20k! It worked perfect.

[2018-12-17 15:40] #3988 closed

[2018-12-17 15:47] gitlog commented on #3987
Useful stuff :+1:

[2018-12-17 15:51] LukeTowers commented on #3987
@daftspunk I have no idea what any of this is for, you mind taking a look?

[2018-12-17 15:57] LukeTowers commented on #3988
@w20k could you add a link to the docs you're talking about? And is there an opportunity to add a section in our documentation for users of MS SQL?

[2018-12-17 16:49] w20k commented on #3988
@LukeTowers, it's already there. Was a bit easier to post a link 😉

https://octobercms.com/docs/setup/installation#system-requirements

[2018-12-17 22:49] ayumihamsaki opened #3989 "Feature Request: Add/Create an IP Address Whitelist in Maintenance Mode"
## Problem

I work on a website that has October (World's best CMS) and it has over 1 million web pages, we have a small team and we create code updates all the time, on average 1-3 updates per day throughout 2018. It has been found best to tweak things in Live Production Mode, having one Browser open for the Front-end and another Browser open at the same time for the backend. Basically this setup

[2018-12-18 03:57] LukeTowers commented on #3989
The reason the site works for the backend browser is because maintenance mode on the frontend is bypassed when logged into the backend. So if your frontend browser also logged into the backend then that would work too. I'm not opposed to the idea in theory, but I don't think it's a good fit for inclusion in the core. It would probably be easily implemented as a separate plugin though, so that's go

[2018-12-18 03:57] #3989 closed

[2018-12-18 15:24] ayumihamsaki commented on #3989
@LukeTowers Ok, fair enough. The issue we were getting was doing a full cache reset on the front-end and that logs us out, then the maintenance screen shows up, so I was hoping to be able to get around that. Will push this idea further through a plugin and not into the core files. Thanks for feedback.

[2018-12-18 20:08] tyamz opened #3991 "'TypeError: jQuery is undefined' after partial update"
[UPDATE]
=
I have been able to pinpoint the issue down to a particular partial update. It is only when I update the partial with 'blogPosts/postList', but other partial updates do not cause the jQuery TypeError. I'm not sure what exactly is causing it. I've added more code to this post as well as the paths to the files to help understand what's going on.

#### PLEASE NOTE: There is a lot of code b

[2018-12-19 10:05] w20k commented on #3991
@tyamz, your scripts, and jQuery should be on the default layout, not on the page. Could you show the default layout?

[2018-12-19 15:20] w20k commented on #3991
@tyamz, will take a look 😉

[2018-12-19 16:33] tyamz commented on #3991
No, I am using many plugins, should I list them?

[2018-12-19 16:47] tyamz commented on #3991
Fortunately, the OctoberCMS plugins page copies over markdown-friendly.
## Plugins ##
October Demo | Provides features used by the provided demonstration theme. | 1.0.1 | Alexey Bobkov, Samuel Georges
-- | -- | -- | --
Location | Location based features, such as Country and State. | 1.0.8 | Alexey Bobkov, Samuel Georges
News and Newsletter | Simple news and newsletter plugin. | 1.10.9 | Gergő Szab

[2018-12-19 17:36] w20k commented on #3991
@tyamz, could you also take a look what response you get from ajax call? In dev tools -> network tab?
And also post what is inside the blog.js if possible.

[2018-12-19 18:49] tyamz commented on #3991
@w20k I'm confused, it just randomly started working again. I'll close this for now.

[2018-12-19 18:49] #3991 closed

[2018-12-20 13:22] ayumihamsaki commented on #3947
Closing this as already merged into new October Version - not sure why not closed?

[2018-12-20 13:30] ayumihamsaki commented on #3603
closing as merged to master

[2018-12-20 14:57] LukeTowers commented on #3603
@ayumihamsaki it hasn't been merged to master, the release of the build is just a pending build, tagged to develop. We'll go stable next week at which point this stuff will be merged to master.

[2018-12-20 14:58] LukeTowers commented on #3230
@ayumihamsaki it hasn't been merged to master, the release of the build is just a pending build, tagged to develop. We'll go stable next week at which point this stuff will be merged to master.

[2018-12-20 14:58] LukeTowers commented on #3554
@ayumihamsaki it hasn't been merged to master, the release of the build is just a pending build, tagged to develop. We'll go stable next week at which point this stuff will be merged to master.

[2018-12-20 14:58] LukeTowers commented on #3947
@ayumihamsaki it hasn't been merged to master, the release of the build is just a pending build, tagged to develop. We'll go stable next week at which point this stuff will be merged to master.

[2018-12-20 15:06] ghost opened #3998 "Can not bypass errors in installer"
See screenshot:

![xxxxxxwq](https://user-images.githubusercontent.com/17784082/50292298-a00fa300-0468-11e9-95b3-ec78a11c2fe8.png)

Two issues here:

1. Is with the plugin (not october issue)

2. Issue is that you can not bypass this error - there is no feature! That needs to be fixed in the installer.

[2018-12-20 15:14] w20k commented on #3998
@ayumihamsaki, could you past install_logs?
Is it related to any plugin? Or only to a specific one?

[2018-12-20 16:09] ayumihamsaki commented on #3603
@LukeTowers Sorry I didn't realize this was a Bleeding edge update and not a stable update - my bad.

[2018-12-20 19:06] ayumihamsaki opened #3999 "Backend Users deleted_at column migration not running on backend update to Build 445"
We updated the cms from V443 to V445 and found the following errors and solutions and I thought I'd post them here to help out everyone (not sure where to post this as the forum is closed).

**_You will need to update two or three things._**

If you have bleeding updates turned on and turn to update from V443 to V445 you will come across this error message:

![11111111a](https://user-images.github

[2018-12-20 19:10] LukeTowers commented on #3999
@ayumihamsaki that first error shouldn't be happening, it should be handled by https://github.com/octobercms/october/blob/develop/modules/backend/database/migrations/2018_12_16_000011_Db_Backend_Add_Deleted_At.php. Could you do some testing (@w20k perhaps you can dig into this to) and figure out why that migration didn't run in your case?

[2018-12-20 19:10] LukeTowers commented on #3603
No problem :)

[2018-12-20 19:11] LukeTowers commented on #3998
@w20k are you able to replicate this?

[2018-12-20 19:13] ayumihamsaki commented on #3999
Had that error on some updates and even on a fresh install. Will run some tests...

[2018-12-20 19:13] LukeTowers commented on #3999
Thanks. It's definitely something that shouldn't be happening and should be fixed, but we need to know what's causing the issue because in theory it should be working fine.

[2018-12-21 00:43] willouch commented on #3999
Hi,
when you see error message,

With your phpmyadmin or other tools go to database -> backend_user

and add new field before created_at

call it :: deleted_at
with attributes = timestamp, nul=yes, default=NULL

and then Clic Try again

[2018-12-21 07:48] bennothommo commented on #3999
I noticed when I updated my Composer dependencies via `composer update`, I had to manually run the migration above via `php artisan october:up` - I presume that is expected as it hasn't been added to the `post-update-cmd` scripts.

If you're using Composer for updating October, make sure to run that command.

[2018-12-21 09:33] w20k commented on #3998
@LukeTowers, can't test it with formBuilder - it's a paid plugin. But will do with others, just to be sure.

[2018-12-21 10:08] w20k commented on #3999
@LukeTowers confirmed -  `Upgrade from 443 to the 445 cause DB error.`

[2018-12-21 12:16] tobias-kuendig commented on #3999
Is it possible that the updated code runs an Auth call using the SoftDeletes trait before the migration was executed?

The exception comes from this call in [modules/backend/classes/Controller.php:147](https://github.com/octobercms/october/blob/master/modules/backend/classes/Controller.php#L147)

[2018-12-21 12:33] w20k commented on #3999
@tobias-kuendig, is right.

After unpacking and before doing migrations, it calls for a User and fails gracefully :)

[2018-12-21 15:13] YannPl commented on #3782
Hi !
I'm here to get news from this iwwue, have you decided anything about it ?

Enjoy christmas and the new year ! ;)

[2018-12-21 15:39] LukeTowers commented on #3999
Hmmm, how can we fix this?

[2018-12-21 15:57] ayumihamsaki commented on #3998
+1 To have a 'Skip' button whenever October is trying to install **_third party code_** from plugins and themes.

[2018-12-21 16:11] Rike-cz opened #4002 "Add support for `data-request-url` in the data attributes AJAX API"
This is only question, by now. Is there any reason for "locking" request URL to this page only? Security reason? I would like to set it like other parameters, e.g. via html data-request-url attribute.
https://github.com/octobercms/october/blob/826e72d3a969c2307e83e59c28056b26e488723c/modules/system/assets/js/framework.js#L115

[2018-12-21 16:34] tobias-kuendig commented on #3999
The scope can be disabled by using `withTrashed` where appropriate, right?

I guess it's either patching the AuthManager or adding some kind of "pre-migrations" to the update process. I feel like latter might be risky since the auth check is kind of a nice thing to have before any kind of migration is run :sweat_smile:

[2018-12-21 16:37] LukeTowers commented on #3999
Ah, I see what you did there. That would in theory work.

Perfect, could you submit a PR to the Library repo to fix the issue?

[2018-12-21 16:39] tobias-kuendig commented on #3999
Do you think it's sufficient to only patch the `check` method of the AuthManager?

[2018-12-21 16:42] Rike-cz commented on #4002
@LukeTowers I know that, but data-* attribute missing in this case (for me). I can send PR, if you want.

[2018-12-21 16:58] LukeTowers commented on #4002
What is the use case?

[2018-12-21 17:00] LukeTowers commented on #3999
@tobias-kuendig what would be the reason for needing this workaround in the other checks? It's only meant to support this case isn't it? If you can think of a good reason to do it in the other places then let me know.

[2018-12-21 17:18] linlan84 opened #4003 "Complaint about a paid plugin from the marketplace"
I bought a plugin a few weeks ago and around 90% of the plugin does not work at all. I left a support message found here: https://octobercms.com/plugin/support/uxms-sentry/most-of-the-plugin-doesnt-work-in-2018

2 weeks have passed and the author hasn't replied back to confirm if they are going to fix the plugin or not?

Could the admins have words with the author. As I feel it's really bad to sel

[2018-12-21 17:41] LukeTowers commented on #4003
Send an email to hello@octobercms.com and they should be able to look into this for you.

[2018-12-21 17:41] #4003 closed

[2018-12-21 17:47] tobias-kuendig commented on #3999
That's true! I guess https://github.com/octobercms/library/pull/367 will do it then.

[2018-12-21 18:05] Rike-cz commented on #4002
I use it when I need to call (AJAX) service of non-OctoberCMS Laravel based api.

[2018-12-21 18:33] linlan84 commented on #4003
Done, have sent an email to that address, please could you ask whoever is meant to check it to look out for my email. Thanks luke.

[2018-12-21 18:42] ayumihamsaki commented on #3998
Is it possible to add a 'help wanted' tag to this. I'm quite busy right now and the little spare time I got, I want to focus on updating the JS and CSS files in October. Which will take a long time and drag on for many months! lol

[2018-12-21 18:44] Teranode commented on #3497
How about removing the description and authors, adding the toggle buttons, and add a third button that opens up more information about the plugin that contains the description and author and website, etc

[2018-12-21 19:14] w20k commented on #3998
I'll look at this it @ayumihamsaki, but I've added.

[2018-12-21 20:15] ayumihamsaki commented on #3998
Thank you

[2018-12-21 20:46] SebastiaanKloos commented on #3998
Had the same problem. Just retry. The second time was a successfull try

[2018-12-21 20:48] ayumihamsaki commented on #3958
Isotope is being used for the drag n drop in dashboard.

[2018-12-21 20:52] ayumihamsaki commented on #3998
Thanks SebastiaanKloos, but when I tested it, it kept trying to install the same bit of code over and over again.

I was actually running a dummy test on the installer to see how it would work on the large update of V445.

[2018-12-21 20:53] ayumihamsaki commented on #3497
That sounds a good idea!

[2018-12-21 20:54] ayumihamsaki commented on #3497
That sounds a good idea! Opening a modal window.

[2018-12-21 22:30] LukeTowers commented on #3999
@w20k @ayumihamsaki @Eoler @willouch could you guys test https://github.com/octobercms/library/pull/367 and see if that solves the problem? I feel like it does, but I just want to double check before getting @daftspunk to release another build

[2018-12-22 01:06] ayumihamsaki commented on #3999
@LukeTowers

I get a BadMethodCallException, see screenshot:

![aaaaaaa2](https://user-images.githubusercontent.com/17784082/50368918-aa738f00-0585-11e9-93ac-94a5e6bf9ffc.png)

From the line:

`if (!$user = $this->createUserModel()->withTrashed()->find($id)) {`

[2018-12-22 07:09] tobias-kuendig commented on #3999
@ayumihamsaki 	You have to be at least on build 444 for the code to work. You cannot put it into an earlier build since the user model doesn't use SoftDeletes yet.

Remember, the workaround is only relevant for this one request between the download of the updated build 444 code and the execution of the migrations.

[2018-12-22 13:33] ayumihamsaki commented on #3999
Ok strange because I did this and it seemed to work and upgrade from V443 to 445:

[code]

[2018-12-22 13:50] ayumihamsaki commented on #3958
@LukeTowers @w20k I ran some tests on this last night and found that October's CSS does the following thing:

Below 768px make all the boxes 100%
Above 768px make all the boxes use a 10 column grid

Before I begin it is not just developers that need to change the widgets, October also has badly created widgets for example:

![untitled](https://user-images.githubusercontent.com/17784082/50375064-a7

[2018-12-22 14:26] ayumihamsaki opened #4005 "Fix Sidebar and File Column bar in the code editor section"
I was testing this on a pr I am working on and notice that this is also broken on a normal cms version, see screenshot:

![untitled](https://user-images.githubusercontent.com/17784082/50375453-661fd780-05f5-11e9-8e06-14d3806ae401.png)

Therefore  I will open a new issue and this needs to get fixed separately.

This needs to be fixed before I can continue with the pr here: https://github.com/octobe

[2018-12-22 15:47] LukeTowers commented on #3958
How would that work in terms of users defining the screen space a widget should take up?

[2018-12-22 15:48] LukeTowers commented on #4005
Before and after screenshots please

[2018-12-22 16:33] Rike-cz commented on #3986
Little question when I am trying to solve SVG problem: Why every thumbnail in Media Manager is PNG, if original image is JPEG? It's purpose or bug?

[2018-12-22 20:41] ayumihamsaki commented on #4005
@LukeTowers Sorry! Going to have to work on this a bit more, it seems like the file bar is all messed up under 800px screens, when testing on a new build. The Stick function doesn't work at all and there is a slight height issue. Will search for the javascript code and try to correct it as well. Will try to do a full pr and a video showing you the before and after. Will tag you in next few days wh

[2018-12-22 22:06] LukeTowers commented on #3999
Should be fixed by https://github.com/octobercms/library/commit/d63d368d356b5df19e3b012bbe472028386e3d1d

[2018-12-22 22:06] #3999 closed

[2018-12-22 23:48] ayumihamsaki commented on #3958
@LukeTowers

Ok Luke this is the clever bit (you will laugh when you read this):

The User defines there dashboard using the 12-grid pattern (Max screen size). Then the cms will adjust it and down-scale everything doing the following:

For example,

Screen Size is: Width 1920px

So we have a 12-grid.

width-1 = width: 8.33%
width-2 = width: 16.66%
width-3 = width: 24.99%
width-4 = width: 33.32%
wi

[2018-12-23 11:30] jluisgarcia opened #4007 "Question: Will there be an official E-commerce plugin in the future?"
Will there be an official E-commerce plugin in the future made by the OctoberCMS Core Team?

[2018-12-23 13:56] ayumihamsaki commented on #4005
## Before

![b4](https://user-images.githubusercontent.com/17784082/50384259-7057d980-06ba-11e9-9c1e-02e2d6afc9b6.png)

## After

![af](https://user-images.githubusercontent.com/17784082/50384262-76e65100-06ba-11e9-8eaf-587a0d1ce22e.png)

**Note**: The PR has a YouTube video demo'ing all the fixes.

[2018-12-23 13:58] ayumihamsaki commented on #4005
@LukeTowers

## Before

![b4](https://user-images.githubusercontent.com/17784082/50384259-7057d980-06ba-11e9-9c1e-02e2d6afc9b6.png)

## After

![af](https://user-images.githubusercontent.com/17784082/50384262-76e65100-06ba-11e9-8eaf-587a0d1ce22e.png)

**Note**: The PR has a YouTube video demo'ing all the fixes.

[2018-12-23 15:09] Rike-cz opened #4008 "List Widget: unable to achieve previous page when last record is deleted"
##### Expected behavior
When I delete last record in current page (page > 1), i expect:
1. automatical redirect to previous page OR
2. any navigation button to achieve previous page.

##### Actual behavior
I see empty record list and I have no way to achieve previous page. Maybe delete cookie only.

##### Reproduce steps
![lists-widget](https://user-images.githubusercontent.com/4247582/50384952-f4

[2018-12-23 16:20] jluisgarcia commented on #4007
Just a matter of trust, better compatibility with the base software and Long Term Support.
I am not saying an external option would be bad but I tend to favor core products.

[2018-12-23 16:44] LukeTowers commented on #4007
I'm going to go ahead and say probably not. The core team is busy enough just maintaining the core and RainLab plugins, not to mention the core team consists of three people doing this in their spare time. Any ecommerce plugin we could create would have to compete with everything else going on in our busy lives, so I don't think that would make it a good option for users. I'd would suggest you go

[2018-12-23 16:44] #4007 closed

[2018-12-24 15:04] ayumihamsaki commented on #3867
# List of Update Information for Future Ref / Updating

## Core Files

| JS Library Name | URI Location | Update Location | Version Number | Last Update Date |
|---|---|---|---|---|
| jQuery | See Github PR: https://github.com/octobercms/october/pull/3886 | https://github.com/jquery/jquery/releases | 3.3.1 | Nov 2018 |
| jQuery Migrate | See Github PR: https://github.com/octobercms/october/pull/38

[2018-12-25 14:36] bkrajendra opened #4009 "Declaration of Illuminate\View\Factory::composer($views, $callback) must be compatible with Illuminate\Contracts\View\Factory::composer($views, $callback, $priority = NULL)"
Just tried Updating my 443 ocms with latest 445 and Im getting error on update screen

[code]

[2018-12-25 21:33] w20k commented on #4009
Don't use dev branch before the new bleeding edge fix will be released.

[2018-12-26 03:19] LukeTowers commented on #4009
@w20k this is unrelated to the other problem.

@bkrajendra what plugins do you have installed? This is occurring because you have multiple versions of Laravel included in your installation. The specific change that is throwing your error was https://github.com/laravel/framework/commit/19fcecfc782cb7fe0dea6f8a293e167cfb1bf38d and was a part of the 5.5 upgrade. The issue is probably coming from a pl

[2018-12-26 17:18] ayumihamsaki commented on #3958
Will try to sort that out in next few days.

[2018-12-26 19:45] ayumihamsaki commented on #3959
Closing this as it can't be done! The other scroll tabs is fighting this and giving really bad results.

[2018-12-26 19:45] #3959 closed

[2018-12-27 11:05] Rike-cz opened #4013 "Media Manager creates only PNG thumbnails"
Each created thumbnail in Media Manager is PNG now.

It's feature or bug? I think for JPEG would be better to have JPEG tumbnails, maybe for BMP too. GIF and PNG would stay as is - PNG thumbnail.

[2018-12-27 11:44] DanielHitchen commented on #3999
Thanks @ayumihamsaki your solution worked for us.

After trying to update to 445 and breaking our site, we then had to try a fresh install which then broke again, and is still breaking due to the ```deleted_at``` column not being inserted into the ```backend_users``` table during the install.

Once we ran your fix above, it all worked perfect.

Thanks again

[2018-12-27 17:55] ayumihamsaki opened #4014 "Code Editor Hover Function does not work in Firefox Browser"
I just spotted an error with the Hover function in the code editor - it's doesn't work in Firefox Browser.

## Chrome Browser V73 and V71

(Works fine)

![chrome](https://user-images.githubusercontent.com/17784082/50489587-6c9cbd80-0a00-11e9-88ac-99557357eba3.png)

## Firefox Browser V66

(doesn't work at all)

![firefox](https://user-images.githubusercontent.com/17784082/50489599-863e0500-0a00-11

[2018-12-27 17:59] ayumihamsaki commented on #4014
* Probably need to test it in Edge, Opera and Safari as well.

[2018-12-27 18:47] ayumihamsaki commented on #3958
@LukeTowers @w20k Here is the coded test as request - enjoy!

See here: https://htmlpreview.github.io/?https://github.com/ayumihamsaki/october-isotope/blob/master/dashboard-test.html

(Seems to work nicely)

[2018-12-27 18:47] ayumihamsaki commented on #3958
@LukeTowers @w20k Here is the coded test as requested - enjoy!

See here: https://htmlpreview.github.io/?https://github.com/ayumihamsaki/october-isotope/blob/master/dashboard-test.html

(Seems to work nicely)

[2018-12-27 19:13] LukeTowers commented on #2303
@w20k @ayumihamsaki @Teranode anyone want to try their hand at this? Note that it's tricky to fully support because form outside fields container has a height based on the content (only tabbed fields have 100% height) and stretch = height: 100% doesn't really work because it doesn't take into account any labels or previous fields that are in the same container. Stretch should stretch to fill the r

[2018-12-27 19:15] LukeTowers commented on #3958
@ayumihamsaki could you do an example with blocks labelled with their column widths and at least one full row of 12 that I can play with the resize on?

[2018-12-27 19:49] w20k commented on #2303
@LukeTowers, could you example a bit more. How should `stretch` work? For example, if you have a small screen? Where half of your fields don't even fit? Should it have a min-height and max - should be dynamic, based on your screen size?

[2018-12-27 20:00] LukeTowers commented on #2303
stretch should only really work on the last field in the container, and it should stretch to fit the available height. I'm fine if outside form fields still require an explicit height to be set on the outside form fields container before stretch fills the remaining height.

[2018-12-27 23:37] ayumihamsaki commented on #2303
I have not looked into this properly but I would think that using `height: 100%` is not a good idea. It would be better to use `height: 100vh` and `width: 100vw` then the css can work it out from the screen size instead.

[2018-12-28 00:02] ayumihamsaki commented on #3958
@LukeTowers

Try this: https://htmlpreview.github.io/?https://github.com/ayumihamsaki/october-isotope/blob/master/dashboard-test-2.html

[2018-12-28 14:02] Teranode commented on #2303
i have a general idea on how to fix this, but my first question would be is "layout-relative" needed on the form group?

[2018-12-28 14:13] Teranode commented on #2303
If I can remove the layout-relative from the form group then we can have this:
![](https://i.imgur.com/mNbFC80.gif)

[2018-12-28 15:46] ayumihamsaki commented on #2303
Not really a fan of that feature, but I am sure other people want it. Looking at the gif's it reminds me of a `textarea` and I want to ask/suggest, would it be a good idea to add a feature like `cols`, for example:

[code]

To allow the developer to choose the `min-height`, e.g.

[code]

But change the `cols` to something like `minStrechHeight`.

[code]

or

[code]

[2018-12-28 16:08] LukeTowers commented on #2303
@Teranode the example you provided looks good, what does removing the layout-relative do? Also, if we had it stretch based on the content then it should be able to specify a maxHeight.

Here's an example of where the stretch property comes in handy:
![0notes-interface](https://user-images.githubusercontent.com/7253840/50520802-0196c980-0a88-11e9-8b84-09c35986f9b2.png)

See how the richeditor expan

[2018-12-28 16:45] LukeTowers commented on #3958
I like it @ayumihamsaki, go ahead and make a PR for this. As far as I can tell too this won't have any effect on existing users using 10 column layout correct? If that's the case we don't have to worry about making 10 vs 12 configurable

[2018-12-28 23:12] ayumihamsaki commented on #3958
When I tested the pr for the 12 grid on an existing 10-grid dashboard I ended up with a 2 column gap on the right hand side. Overall the dashboard pretty much the stayed the same.

Will try to code a pr for it in next few days (early jan 19).  Hopefully easy to create, will test it and take my time on it, before uploading it.

[2018-12-29 00:15] ayumihamsaki commented on #3958
I'm going to also fix the color scheme in the dashboard because it's really bad and doesn't pass WCAG 2.0 AA Standards. So I will adjust the colors to make the screen easier on the eyes and help people with poorer eye sight be able to use it easier. Can test it here: http://accessible-colors.com/

[2018-12-29 00:17] ayumihamsaki commented on #3958
Will try to code a pr for it in next few days (early jan 19). Hopefully easy to create, will test it and take my time on it, before uploading it.

I'm going to also fix the color scheme in the dashboard because it's really bad and doesn't pass WCAG 2.0 AA Standards. So I will adjust the colors to make the screen easier on the eyes and help people with poorer eye sight be able to use it easier. As

[2018-12-29 00:35] LukeTowers commented on #2337
See https://octobercms.com/plugin/luketowers-essentialvars for my final solution to this

[2018-12-29 20:39] ayumihamsaki opened #4019 "Cant see code buttons after V446 update"
I just updated the cms to latest version and notice the code icons are now really hard to see, please see screenshot:

![untitled](https://user-images.githubusercontent.com/17784082/50541966-220a7500-0ba9-11e9-928c-017ef82ac58c.png)

Can I have permission to update the color to pass WCAG 2.0 AA, code section:

![untitled](https://user-images.githubusercontent.com/17784082/50541985-79a8e080-0ba9-11

[2018-12-29 20:47] ayumihamsaki commented on #4019
Actually if someone else could create the pr it would be helpful, I have reached my max number of branches open for pr's in github. The css is in the file and LESS file:

`/modules/backend/formwidgets/codeeditor/assets/css/codeeditor.css?v446`

[2018-12-30 04:14] LukeTowers commented on #4019
@Teranode could you look into this please?

[2018-12-30 10:04] Rike-cz commented on #4013
@LukeTowers So feature or bug?

[2018-12-30 10:11] Teranode commented on #4019
@LukeTowers shoudl I push it to this? https://github.com/octobercms/october/pull/4016 (since they're codeditor and richeditor) or create a separate patch.

[2018-12-30 14:06] ayumihamsaki commented on #4019
@LukeTowers @Teranode I'm going to create a temp account and fix this right now. I got a feeling my previous pr I missed out the less code. I will create a pr for this right now.

[2018-12-30 14:36] ayumihamsaki commented on #4019
I can't create the pr github has flagged me:

![wwwww](https://user-images.githubusercontent.com/17784082/50548179-2fbf0980-0c40-11e9-8e07-18833e25aba0.png)

I will write the code below, can someone create the pr for it:

[2018-12-30 14:37] ayumihamsaki commented on #4019
File Location: \modules\backend\formwidgets\codeeditor\assets\css\codeeditor.css

Code:

[code]

[2018-12-30 14:38] ayumihamsaki commented on #4019
File Location: \modules\backend\formwidgets\codeeditor\assets\less\codeeditor.less

Code:

[code]

[2018-12-30 14:39] ayumihamsaki commented on #4019
Gives the following results:

### Main Code Editor (Light Icons):

![untitled](https://user-images.githubusercontent.com/46263127/50548136-9e4f9780-0c3f-11e9-85a6-992f35b9599e.png)

### The rest of October (Dark Icons):

![untitled](https://user-images.githubusercontent.com/46263127/50548160-d5be4400-0c3f-11e9-8970-db32d215b60a.png)

[2018-12-30 18:36] LukeTowers commented on #4019
@ayumihamsaki why are the buttons offset from the right in the HTML markup section of your screenshot?

[2018-12-30 18:37] LukeTowers commented on #4019
@Teranode separate patch, that PR doesn't fully solve the original issue so it'll need more review first.

[2018-12-30 19:18] Teranode commented on #4019
@LukeTowers that offset is there because the regular cms display expects the chevron icon:
![](https://i.imgur.com/vTig2Tz.png)

![](https://i.imgur.com/WzhYVxE.png)

[2018-12-30 19:42] PrestaSafe opened #4024 "Ajax backend partial not found but exist."
Hello i've a problem with the ajax backend partial rendering.
I've mad a plugin witch rendering partial vues.
I've a partial vue existing, but october tell me is not found...

##### Expected behavior
replace partial vue in ajax with AJAX handler

##### Actual behavior
Error:
[code]

##### Reproduce steps
So, in my plugin i do a makePartial like this:
[code]

and place it in a vue:

[code]
It works

[2018-12-30 19:43] LukeTowers commented on #4019
@Teranode could you reposition them in the context that doesn't include the chevron as well?

[2018-12-30 19:58] LukeTowers commented on #4024
Your partial is called `_payment_tab.htm`, not `_paiment_tab.htm`

[2018-12-30 19:58] #4024 closed

[2018-12-30 19:59] LukeTowers commented on #4013
meh, not really either. If you want to you could propose a PR to retain the file type when creating thumbnails.

[2018-12-30 21:54] PrestaSafe commented on #4024
Ok thanks to you but it's not working too.
The path should be:
/Users/guillaume/Sites/october/plugins/prestasafe/erp/models/invoice/_payment_tab.htm
but the path is: _payment_tab.htm

<img width="947" alt="capture d ecran 2018-12-30 a 22 51 48" src="https://user-images.githubusercontent.com/4788787/50551720-a7fbee00-0c85-11e9-88a7-9e3cfb188fe2.png">

There is a prefix to put or something else in t

[2018-12-30 22:35] ayumihamsaki commented on #4019
It was there just like Teranode said in his comment, I have not tested this but from the top of my head you could probably just change this:

From:

[code]

into this:

[code]

Then it would probably shift only the main code editor screen - but like I say that's just from the top of my head and not tested in anyway.

[2018-12-31 12:07] Rike-cz commented on #4013
Fixed in this PR: https://github.com/octobercms/october/pull/4011/commits/a23a3ec80951378239aa365cb7094725e61bae37

[2018-12-31 14:12] SeriousKen opened #4025 "afterBoot event not firing"
##### Expected behavior
An event handler bound to model.afterBoot should get triggered when the model is booted

##### Actual behavior
The event is never triggered

##### Reproduce steps
Bind an event handler to any model eg:

[code]

##### October build
443

The cause seems to be in the constructor of `October\Rain\Database\Model`

[code]

The parent constructor has alreadt fired the `booted` Elo

[2019-01-01 08:54] alpapan opened #4026 "Laravel artisan command make:job doesn't work as expected"
Hello

When trying to user artisan the laravel way (for example make:job), it complaints

[code]

##### Reproduce steps

You install any official way and the result will be the same

[code]
or
[code]
or
[code]
or
[code]
**Any of the above and then:**
[code]

NB: i'm on cygwin windows, not that should make a difference...

This is not a fatal bug for me but it is a bug nonetheless because it breaks

[2019-01-01 09:07] LukeTowers commented on #4026
Those laravel scaffolding commands aren't meant to work in October because of the concept of plugins holding the application logic instead of the root application itself holding that logic. See https://octobercms.com/docs/console/scaffolding#scaffold-create-command for a list of scaffolding commands currently supported. The addition of more would be appreciated however.

[2019-01-01 09:44] alpapan commented on #4026
Yeap I saw that link

Ok, perhaps in meantime

A) we could make a note on the documentation (as per your wording) so that people don't waste time wondering why?

B) suggest that people add their plugin folder instead of /app? If that is a good idea

C) both...

a

[2019-01-01 09:49] alpapan commented on #4026
(actually B wouldn't work)

[2019-01-01 14:40] frthjf commented on #3683
## Enable pay what you want for free plugins with 50% or higher marketplace gratuity

I'm the author of some free plugins. The reason I decided to make them free is not that I don't think that they are not worth any money but because being an admin of an NGO websites I know that not everyone can always effort plugin prices and not one price serves them all. On the other hand, there are always peop

[2019-01-01 18:53] LukeTowers commented on #4026
Feel free to submit a PR to the docs with the note explaining the situation

[2019-01-02 05:33] prhost opened #4027 "Idea - Separate parts of the core in standalone packages"
It would be just a suggestion, I could not find another place to talk about.

OctoberCMS goes beyond a simple CMS, there are a lot of good things that make it up, I've tried re-creating/copying it on other projects and it's never been able to do as well as octobercms, it's well organized and almost everything is modular. Think of how symfony components and laravel illuminate work, separate into sm

[2019-01-02 05:58] LukeTowers commented on #4027
October is already modular to an extent, it's divided into the October\Rain library and the three core "October Modules" (Backend, CMS, & System). Further breaking it down the October\Rain library is split into it's separate packages (like october/auth, etc) although that will be changing shortly and we'll be keeping the October\Rain library all in one piece.

We're not really looking at reorganiz

[2019-01-02 09:09] BahodurSaidov commented on #2753
Any docs for this feature ?

[2019-01-02 16:40] PubliAlex opened #4028 ""Unsupported operand types" on line 449 of /modules/backend/widgets/Form.php"
Here is my field .yaml :

    fields:
        is_variant:
            label: Is variant
            span: full
            type: switch
        backend_form:
            label: Backend form
            span: auto
            type: dropdown
            dependsOn:
                - is_variant

On my model, I have the following function :

    public function getBackendFormOptions()
    {
        if(

[2019-01-02 18:56] LukeTowers commented on #2753
@BahodurSaidov it's enabled automatically when `cms.enableAssetMinify` is enabled: https://github.com/octobercms/october/blob/master/config/cms.php#L186-L198

[2019-01-02 18:59] LukeTowers commented on #4028
What version of PHP are you using? What build of OctoberCMS are you using? The line in question has nothing to do with dependsOn, it's got something to do with something in your install that's hooking to the `backend.form.refresh` event: https://github.com/octobercms/october/blob/master/modules/backend/widgets/Form.php#L449

[2019-01-02 22:47] prhost commented on #4027
* Ajax request API > https://octobercms.com/docs/ajax/introduction
* Version and migration control system > https://octobercms.com/docs/plugin/updates
* Form rendering via yaml
* Model relations definitions by array and yaml config > https://octobercms.com/docs/backend/relations
* Extraordinary Traits > https://octobercms.com/docs/database/traits
* File Attachments > https://octobercms.com/docs/da

[2019-01-03 09:00] PubliAlex commented on #4028
Sry for the lack of informations.

PHP version : 7.0.16
October version : 443

Thank you for the answer, I disabled plugins one by one to see what could make dependsOn to bug, and it was caused by the [OFFLINE.Clockwork](https://octobercms.com/plugin/offline-clockwork) plugin. Disablig it resolve the issue.

[2019-01-03 09:00] #4028 closed

[2019-01-03 13:59] ghost opened #4030 "Speeding up the loading of web pages using October's AJAX by using rel-preload"
To speed up October CMS web pages that use October's AJAX code:

[code]

A developer could add link `rel-preload` which **must be loaded inside the `<head>` tag** to speed up the loading of the web page(s) that use October AJAX by reducing the wait times for the injected files. Below shows the following method:

## Method to Speed up October's AJAX web pages

[code]

which automatically turns into

[2019-01-03 16:27] ghost opened #4031 "filterFields : red asteric not added to fields that are required dynamically"
Lets imagine that working base scenario.

**My fields.yaml file**

    myboolean:
        label: My boolean
        type: switch

    myfield:
        label: My field
        type: dropdown
        dependsOn:
            - myboolean

**The filterFields method in my model**

    public function filterFields($fields, $context = null) {
        if($fields->myboolean->value == true) {
            $fie

[2019-01-03 21:56] #946 closed

[2019-01-03 21:56] #3829 closed

[2019-01-03 21:56] #3837 closed

[2019-01-03 21:56] #3851 closed

[2019-01-03 21:56] #3230 closed

[2019-01-03 21:56] #3304 closed

[2019-01-03 21:56] #3855 closed

[2019-01-03 21:56] #3554 closed

[2019-01-03 21:56] #3808 closed

[2019-01-03 21:56] #3903 closed

[2019-01-03 21:56] #3905 closed

[2019-01-03 21:56] #3119 closed

[2019-01-03 21:56] #3506 closed

[2019-01-03 21:56] #3909 closed

[2019-01-03 21:56] #3925 closed

[2019-01-03 21:56] #3947 closed

[2019-01-03 21:56] #3962 closed

[2019-01-03 21:56] #2311 closed

[2019-01-03 21:56] #3358 closed

[2019-01-03 21:56] #3807 closed

[2019-01-03 21:56] #2176 closed

[2019-01-03 21:56] #3967 closed

[2019-01-03 21:56] #3104 closed

[2019-01-03 21:56] #3969 closed

[2019-01-04 13:22] jajacobs opened #4035 "Taglist style regression"
Taglist select element visible after update.

Build 443:

![image](https://user-images.githubusercontent.com/8701133/50689934-f7357c00-1001-11e9-9d45-8d45a342337a.png)

![image](https://user-images.githubusercontent.com/8701133/50690006-34017300-1002-11e9-943b-a294ae99475a.png)

Build 446:
![image](https://user-images.githubusercontent.com/8701133/50689965-16cca480-1002-11e9-80dc-07887325c330.png)

[2019-01-04 15:05] ayumihamsaki commented on #4030
Creating:

[code]

Is a good idea, agree does place the burden on the developer.

Another idea is directly injecting the dom:

[code]

[2019-01-04 17:08] re-sign opened #4036 "Error after update to 446 & clean install"
![october_install_bug](https://user-images.githubusercontent.com/10549482/50700328-48be2500-105b-11e9-911f-c51caee33b79.PNG)

Please check install screen, Some error after update from 443 to 446 on another website.
PHP 7.2.13+MariaDB-10.2.16+ubuntu16.04

![october_update_error](https://user-images.githubusercontent.com/10549482/50700734-5e801a00-105c-11e9-9fc3-1ace409d288f.PNG)

[2019-01-04 19:23] re-sign commented on #4036
Downgrade to build 443. Is working correctly on these servers.

[2019-01-05 09:38] joseph-d opened #4037 "Backend tabs and tables no longer horizontally scrollable"
- OctoberCMS Build: 444-446
- PHP Version: 7.2

### Description:

Since the latest 444-446 build update, it is no longer possible to horizontally scroll backend tabs and tables on mobile view.

### Steps To Reproduce:

Go to and backend view with tabs or tables that extend beyond the mobile viewport and try to swipe to scroll them horizontally as was previously possible prior to the Build 444 upda

[2019-01-05 15:53] AugmentBLU commented on #3683
If October was a bit more "in-line" with how Laravel are doing things then you may find the CMS getting better traction. More users could mean more revenue in the market place etc. Half the ideas here are missing the point and seems heavily based on selling something, it won't work. You need regular donations and funding from developers and business that use the product but if the CMS is not in-tu

[2019-01-05 16:42] w20k commented on #4035
@jajacobs, will look at it. Do you have an example despite? Might speed up process 😄Thanks!

[2019-01-05 18:58] w20k commented on #4035
@jajacobs, paste your taglist from yaml. Couldn't reproduce your bug. Works fine for me.

Screenshot:
<img width="1306" alt="screenshot 2019-01-05 at 20 57 12" src="https://user-images.githubusercontent.com/1053320/50728032-98b8ec80-112c-11e9-920c-1f08b98f0cad.png">

[2019-01-06 07:39] w20k commented on #3746
Better to ask @tamer-hassan ;)

[2019-01-06 16:55] Alert commented on #3772
That was fixed in laravel [5.5.43](https://github.com/laravel/framework/blob/v5.5.44/CHANGELOG-5.5.md)
Just do `composer update` and probrem will be solved :)

[2019-01-06 17:04] w20k commented on #4036
@re-sign, could you past the log as a text, and remove personal information? Couldn't reproduce, yet, the clean install.

[2019-01-06 20:08] kukrik opened #4039 "Quick notice of a broken mediafinder version from 443 to 446 when upgrading"
First of all, I would like to announce that my English is not good.
I don't know if upgrading the version caused a broken mediafinder. Today (06.01.2019), I received an automatic notification of a version update recommendation. Fortunately, my second project is in the development phase. Then other plugins that use the mediafinder will not display the image in the backend. Image link is broken. For

[2019-01-07 00:02] LukeTowers commented on #4036
@re-sign did you add any plugins or themes with the installer?

[2019-01-07 00:04] LukeTowers commented on #4035
@jajacobs also please post your browser & version, as well as the error message in the yellow triangle

[2019-01-07 00:40] LukeTowers commented on #3683
@AugmentBLU Do you have specific examples and are you willing to put your money where your mouth is and sponsor some of these desired features?

[2019-01-07 00:42] #3772 closed

[2019-01-07 01:00] LukeTowers commented on #3746
@Johnzero I'm not opposed to working on it but I don't have any use for it right now nor any funding to work on it.