[2019-03-26 18:38] seanthepottingshed commented on #4214
Would it be related to this? https://github.com/octobercms/october/issues/4209

[2019-03-27 01:55] Teranode commented on #2854
I've been wondering. Why not use the defined `protected $withCount = []` variable that's available for Laravel? It works with october's array-style methods and it diesplays the count correctly for all relations and even october's attachMany solution.

`protected $withCount = ['wallpaper']` = `wallpaper` relation will appear as `wallpaper_count`;

[2019-03-27 01:56] Teranode commented on #2854
@LukeTowers is the count boolean needed if that's available already?

[2019-03-27 07:04] tobias-kuendig commented on #4209
Don't want to be pushy but can we get this merged and released then? We're having more and more customers who trigger updates and break their websites. :sweat_smile:

Also, if I'm not mistaking, this bug also affects all new installations.

[2019-03-27 07:22] adrenth commented on #4209
@tobias-kuendig @w20k @LukeTowers Reviewed the PR and it's good to go.

[2019-03-27 08:33] SeriousKen commented on #4214
@seanthepottingshed not sure its related. It seems to be when returning a string from the event handler as documented it sets `$partial` to the result.

https://github.com/octobercms/october/blob/3118660d834f161d513da08477be92281a2eb96a/modules/cms/classes/Controller.php#L944-L963

When it hits line 1088 then setObject expects `$partial` to be a  `Cms\Contracts\CmsObject` and throws the exception.

[2019-03-27 17:41] LukeTowers commented on #183
@medrockstar you'll notice there's a team of 6 behind that project and 2 sponsors and 23 backers. If people are willing to pay for the time it would take me to put something like that together then we can talk.

[2019-03-27 19:21] LukeTowers commented on #4209
Please test #4218

[2019-03-27 19:22] dmxd5 commented on #4048
This issue occurs after I delete a page. Clearing all the cms cache and doing Chrome hard reload fixes it for me.

[2019-03-27 19:24] LukeTowers commented on #2854
No idea @Teranode, I'm not familiar with this

[2019-03-27 19:28] LukeTowers commented on #4216
That's up to the developers to implement to dynamically remove fields that their users shouldn't have access to. While we could in theory hook into the backend.forms.extendFields event to dynamically remove all mediafinder formwidgets when the user doesn't have the appropriate permission to use them, that could lead to a headache when a developer has specified that field as required but the user c

[2019-03-27 19:31] LukeTowers commented on #4214
@SeriousKen change the documentation.

[2019-03-27 19:32] LukeTowers commented on #4213
What do you mean it's not triggered anymore? Any error messages in the console?

[2019-03-27 21:26] Teranode commented on #2854
well yea, its been available. You can even put in constraints when you use the method form:
[code]
I believe that the custom count that you guys are implementing for the array methods should just be scrapped if this is available, otherwise you're just gonna add more workload onto your table.

[2019-03-27 23:54] drmzio commented on #3683
## Ads Across October Website
Let people pay for ad placement across the entire October website (forum, blogs, marketplace, homepage, etc...) **HOWEVER** ads must be on or related to OctoberCMS (e.g. development/design services, plugin/theme beta testing, etc..)

No Google Ads, or other third-party advertising.

[2019-03-28 02:04] chrisvidal commented on #4213
When I click the 'update plugins' button, nothing is happening.

I had to remove my composer folder first, then the button works again, then
install my vendor files after.

Christophe Vidal
C.T.O. at  Voilaah
A  29B Mosque Street, Singapore 059507
W  http://voilaah.com  <http://voilaah.com>

Create your own email signature
<https://www.wisestamp.com/signature-in-email?utm_source=promotion&utm_medi

[2019-03-28 03:14] daftspunk commented on #4186
Referring to the OP issue only. Note the important detail here:

[code]

This means the package delivered to the installer was empty. This is usually caused by some misconfiguration of the web server. Since the "Test the connection to the installation server" passed then its not caused by a firewall or anything, rather it is due to the size of the file / timeout configuration in the web server.

R

[2019-03-28 03:14] #4186 closed

[2019-03-28 03:17] daftspunk commented on #4165
Thanks for the suggestion! We'll see what we can do. For now it is highly recommended that you follow best practice when it comes to passwords, ie. use a password manager with 2FA

[2019-03-28 03:27] bugzbrown commented on #4212
@LukeTowers Great!! I must have gotten the wrong impression about the installer as I felt it was the recommended way to get up and running with October - I had a look at your gist think it's a great starting point for my projects. Thanks for the help & all your hard work!

[2019-03-28 09:03] w20k commented on #4209
Bump, guys @adrenth, @seanthepottingshed, @Balex70, if you have a minute, please re-test @LukeTowers PR and will be merged!

Neat trick to get PR patch: https://patch-diff.githubusercontent.com/raw/octobercms/october/pull/4218.patch

[2019-03-28 09:15] nizzac commented on #4048
This fixed this issue in Firefox for me and didn't affect Chrome or IE.

Internet Explorer Version 11.253.17763.0            Works
Chrome Version 73.0.3683.86                         Works
Firefox Quantum Version 66.0.2                      Works

[2019-03-28 12:13] mjauvin commented on #4048
Fixes my issue in QuteBrowser (based on chromium), finally!

[2019-03-28 12:30] gergo85 commented on #4216
You are right, but it would be better to display a user-friendly error message instead of default one.

[2019-03-28 12:55] damianlewis commented on #4048
I've tried this fix again and can confirm that it doesn't work for OctoberCMS build 447 when using IE 11.0.9600.19266 on Windows 7 Enterprise.

[2019-03-28 12:57] w20k commented on #4048
@damianlewis do you have any errors?

[2019-03-28 13:24] daftspunk commented on #4101
This feature is added and will be available in Build 449+

Note the JSON format can be found at https://octobercms.com/changelog?json

[2019-03-28 13:24] #4101 closed

[2019-03-28 13:32] daftspunk commented on #4043
Thanks for the suggestion and for linking up the issues, we will look at adding more feedback to the build process in the future.

[2019-03-28 13:43] daftspunk commented on #3987
This code is the internal router used to route request to the relevant CMS page, using the specific format in the documentation. It's a package that can operate standalone and it was designed to function this way so there are some features that are not used.

The features in question are a basic form of middleware, allowing a before and after callback to be fired before a route rule executes. Ther

[2019-03-28 13:43] #3987 closed

[2019-03-28 14:09] daftspunk commented on #3823
This is merged. Thanks @ayumihamsaki !

[2019-03-28 14:09] #3823 closed

[2019-03-28 15:01] daftspunk commented on #3056
This is because the 404 page itself may have AJAX handlers and components used on it. A good solution here would be set the 404 status code in the 404 page and then it will carry over to the AJAX calls.

[2019-03-28 15:01] #3056 closed

[2019-03-28 15:39] adrenth commented on #4209
Applied the patch on a fresh project:

- Fetched the latest packages using `composer update`
- Installed latest `Rainlab.Pages` plugin.
- Created a page '/test' with some content
- Navigated to page; no error.

[2019-03-28 15:41] damianlewis commented on #4048
@w20k after adding the `<meta http-equiv="x-ua-compatible" content="IE=edge">` meta tag, these are the errors from IE 11 when loading the /backend/cms page.
[code]

This is the error when clicking on a page link in the CMS section.
[code]

[2019-03-28 15:58] LukeTowers commented on #3949
Added to https://github.com/octoberrain/meta/blob/master/updating-js-dependencies.md

[2019-03-28 15:58] #3949 closed

[2019-03-28 16:06] LukeTowers commented on #4216
Where would you display it though? Feel free to make a PR with your suggestions.

[2019-03-28 16:09] LukeTowers commented on #4213
Weird.

[2019-03-28 16:11] LukeTowers commented on #3683
@drmzio ads are already present on the marketplace pages and as a Partner. I'm not sure I'd see the value in having ads anywhere else on the site. I appreciate your input though.

[2019-03-28 16:51] daftspunk commented on #3203
Per OP, Froala has been bumped to v2.9.3 (463008450b627864cb3906b29cb1690e7e4517fc)

This should be available in Build 449+

[2019-03-28 16:51] #3203 closed

[2019-03-28 17:15] ayumihamsaki commented on #3949
@LukeTowers Thanks for adding it there. I would like to ask, the most common method of adding such information to many github repo's is to add information like this to the wiki section of the repo, in regards to October CMS that location would be here: https://github.com/octobercms/october/wiki

Totally up to you where you want to place this type of information, I just thought I'd mention it - jus

[2019-03-28 17:31] ayumihamsaki commented on #3949
I will try to write it and update it for you - If you could Check it and allow the updates that would be great.

[2019-03-28 17:46] daftspunk commented on #4048
This should be fixed by 288d9543afb5f856a03f03b68dca96e4ed1f410a available in Build 449+

[2019-03-28 17:46] #4048 closed

[2019-03-28 17:49] ayumihamsaki commented on #3949
I will try to write it and update it for you - If you could Check it and allow the updates that would be great.

This is what I have done:

![Untitled](https://user-images.githubusercontent.com/17784082/55180464-968d8980-5181-11e9-8ee0-0b24eefd9125.png)

Added two pages and a custom sidebar of useful links.

[2019-03-28 17:50] ayumihamsaki commented on #3949
I will try to write it and update it for you - If you could Check it and allow the updates that would be great.

This is what I have done:

![Untitled](https://user-images.githubusercontent.com/17784082/55180464-968d8980-5181-11e9-8ee0-0b24eefd9125.png)

Added two pages and a custom sidebar of useful links.

For Review: @LukeTowers @w20k @daftspunk

[2019-03-28 18:41] daftspunk commented on #3746
Execution context now occurs from a provider and lives inside the container, see 0ae48e9f968bac97614838c14f16be6c619a6ae0

[2019-03-28 20:14] daftspunk commented on #3746
Request values (GET/POST) are now pulled from the app container, see
https://github.com/octobercms/library/commit/fd839047c2d7757f225a8ed60673ca8a20fe7df4

The `header_remove()` call has been removed entirely because it did nothing:
https://github.com/octobercms/october/commit/c5bc804d7398522783fbd76b2764f9541747867d

There is no more premature termination of the application thread, no more `exit(

[2019-03-28 20:14] #3746 closed

[2019-03-28 23:27] amdad commented on #3203
@daftspunk SAMMY IS A HERO.

[2019-03-28 23:29] amdad commented on #3203
HURRAY, HURRAY

[2019-03-28 23:29] amdad commented on #3203
HURRAY, HURRAY SAMMY IS A HERO!

[2019-03-29 06:53] chrisvidal opened #4219 "Backend can not create Admin"
- OctoberCMS Build: ### 447
- PHP Version: 7.1
- Database Engine:mysql 5.5
- Plugins Installed: Rainlab.user, Rainlab.page

### Description:
i create a new backend user role, then I try to create a new admin and get this error:

[code]

### Steps To Reproduce:
create a new backend user and try to save

[2019-03-29 08:31] Eoler opened #4220 "Froala license expired"
- OctoberCMS Build: 449

### Description:
After updating to a new edge build (with upgraded Froala resources: #3203) all richtext fields show this warning:
**Expired copy of the Froala Editor. Please renew the license.**
Link: https://wysiwyg-editor.froala.help/hc/en-us/articles/360000717489-Why-is-my-editor-license-expired

[2019-03-29 09:06] w20k commented on #4220
@Eoler could you try to pull `the latest - latest` changes :D

[2019-03-29 09:13] daftspunk commented on #4220
This should be fixed in Build 450. Thanks for the report!

[2019-03-29 09:13] #4220 closed

[2019-03-29 10:41] SaifurRahmanMohsin commented on #4158
@LukeTowers Oh ok. That's weird, I didn't know I have to manually bind it. Let me figure that out then. The plugin was working all this time for over 2 years without issues.

[2019-03-29 13:35] anastasiauz commented on #3354
It's not only about the filenames - it's possible to create a folder with space in name and then the picture is not displayed in browser, for ex. Chrome 72/October 447, if it is a background - ex.: http://joxi.ru/RmzEMxZfYMPq9r. It will be great if folders are slugified.

[2019-03-29 14:29] fabriciorabelo opened #4222 "Error with datepicker form widget, invalid date format"
- OctoberCMS Build: 447
- PHP Version: 7.1.26
- Database Engine: InnoDB
- Plugins Installed: RainLab.User, Rabelo.UserPlus

### Description:
I'm getting an error while trying to save user record, invalid date format.

### Steps To Reproduce:

 I'm extending RainLab.User with my plugin but while editing user record, without change the current date of birthday (the extended field) already saved , i

[2019-03-29 16:12] tobias-kuendig commented on #4220
Any ETA on when build 450 will be officialy released? Froala adds a `Powered by` message to all richeditors. I'd rather have this fixed before the weekend otherwise there will be lot's of edits to undo next week.

![image](https://user-images.githubusercontent.com/8600029/55246535-b5edea80-5245-11e9-8932-7f856fedf777.png)

[2019-03-29 16:32] Eoler commented on #4220
450 is already available on my edge installations, and it fixes Froala nag screen.

[2019-03-29 16:33] tobias-kuendig commented on #4220
On edge, yes. But I don't want to switch installations to edge updates just for this problem since this might introduce other bugs from unreleased plugin updates.

[2019-03-29 18:49] LukeTowers commented on #1838
You can already do this. Override your controller's `formCreateModelObject()` to return a model that already has the desired relationship initialized.

[code]

[2019-03-29 18:49] #1838 closed

[2019-03-29 18:54] LukeTowers commented on #4220
@tobias-kuendig you shouldn't have the Froala update in the first place unless you were on edgeUpdates, Build 449 was still in pending status, i.e. an edge update. https://octobercms.com/changelog

[2019-03-29 18:59] LukeTowers commented on #4222
@fabriciorabelo You need to add your field to the `$dates` property of the model you're modifying.
[code]

[2019-03-29 18:59] #4222 closed

[2019-03-29 19:03] LukeTowers commented on #4219
This was an issue with one of the old plugin migrations you ran when you initialized your database, not an issue.

[2019-03-29 19:03] #4219 closed

[2019-03-29 19:36] AugmentBLU opened #4223 "RecordFinder Is Broken v450"
- OctoberCMS Build: 450
- PHP Version: 7.3
- Database Engine: MySQL
- Plugins Installed: Test Plugin

### Description:
Using a fresh install of 450 and OC official test plugin, the record finder is not working. You can see the popup to select a record but on selecting, the input is empty.

### Steps To Reproduce:
On a fresh install of 450, using OC test plugin - go to `october/test/people/update/6

[2019-03-29 21:31] LukeTowers commented on #4223
The build number in the backend is very misleading, especially when using composer. It's just the latest stable build number (unless you have edgeUpdates enabled), in which case it's the latest edge build number.

It would have to be one of the following changes:
https://github.com/octobercms/october/commit/288d9543afb5f856a03f03b68dca96e4ed1f410a
https://github.com/octobercms/october/commit/c5bc8

[2019-03-29 23:11] w20k commented on #4223
@LukeTowers will retest tomorrow with the latest build. Js/Css shouldn't be a problem here :)

[2019-03-30 07:21] tobias-kuendig commented on #4220
The installation was updated via composer so it actually received build 449 with edgeUpdates disabled. It seems like it was updated just before build 450 was tagged. So updating it through composer again fixed the issue :+1:

This is the third time this month we had problems because of `pending` releases being available via composer (https://github.com/octobercms/october/issues/4178, https://githu

[2019-03-30 08:25] LukeTowers commented on #4220
@tobias-kuendig use `dev-master` instead of `dev-develop` or `1.0` in composer (note for library you'll have to do `dev-master as 1.0`) in order to always only use the equivalent of stable builds via composer.

[2019-03-31 07:21] reinarudo commented on #4223
I'm not sure if this is related, as I'm still learning october cms, and please excuse my English. I was following wacth and learn (Ivan)'s tutorial on youtube about Backend Filters. However the conditions on the filter yaml file are not being executed. The only filter that was working was the switch filter.

After some digging on the codes on modules\backend\widgets\Filter.php, it seems like all t

[2019-03-31 09:55] rajakhoury opened #4224 "Migration files in sub directories treated as comment"
OctoberCMS Build: 450
PHP Version: 7.3.2

**Description:**

I have my plugin migration files organized into sub-directories but since last updates these are treated as comment. Is this intentional ?

**Steps To Reproduce:**

Create multiple folders inside your `plugin/updates` folder and add any migration files / seeds.

    1.0.1:
        - First version of Plugin
        - user/create_user_table

[2019-03-31 10:01] w20k commented on #4224
@GinoPane could you look at this one as well 😄

[2019-03-31 10:22] rajakhoury commented on #4223
Same issue

[2019-03-31 11:40] LukeTowers commented on #4223
@reinarudo please post a new issue with what you have found, include as much detail as possible.

@rajakhoury "same issue" or "+1" comments are not helpful, especially when someone else has just posted a completely unrelated issue above. Please keep those comments just as reactions to the initial comment, i.e. as a thumbs up on the first comment posted.

[2019-03-31 14:21] reinarudo opened #4226 "Backend Filters not working (Composer installation)"
- OctoberCMS Build: v1.0.450  (commit: cca64db)
- PHP Version: 7.1.7
- Database Engine: MySQL 5.7.19
- Plugins Installed: Rainlab.Builder-v1.0.23

### Description:
All scope types when creating custom List filter not working as well (except for Switch)

Fresh install via wizard installation (working)
![image 1](https://content.screencast.com/users/reynald.tolentin/folders/Jing/media/f5384e1a-6422-

[2019-03-31 14:56] w20k commented on #4223
Will be fixed as a part of stable 450 build ;)

[2019-04-01 00:08] alxy commented on #4226
This is not a filter, but the list search.

[2019-04-01 01:17] reinarudo commented on #4226
Pardon with the terminology since I just started learning about this cms 2 days ago.

It happens with List Filters as well. I'm following this doc: https://octobercms.com/docs/backend/lists#adding-filters

[2019-04-01 03:39] LukeTowers commented on #4226
Issue will be fixed in the next build

[2019-04-01 04:32] bennothommo commented on #4188
I think a better optimisation would be to retrieve all the attached images in one query as opposed to doing a single query for each file. Even if the query is slow, it would be one slow query and not 100.

[2019-04-01 06:45] w20k commented on #4188
@bennothommo I was thinking the same, but my concern is to write tests, before breaking things 😄

[2019-04-01 07:11] bennothommo commented on #4188
@mabehiry Are you using an `attachOne` file association for this scenario?

[2019-04-01 07:44] fashakra opened #4228 "Repeater Form Widget"
- OctoberCMS Build: 450
- PHP Version: 7.1
- Database Engine: MySQL
- Plugins Installed:

### Description:

The repeater fields are being saved as blank

### Steps To Reproduce:

The hidden field in the repeater widget that has a prefix defined as const INDEX_PREFIX = '___index_';  is being replaced in the page with an extra prefix before the underscores. This is making the form save the fields as

[2019-04-01 07:45] LukeTowers commented on #4228
What build number are you on?

[2019-04-01 07:47] w20k commented on #4228
@LukeTowers I think it's the same bug: https://github.com/octobercms/october/issues/4223

[2019-04-01 07:48] fashakra commented on #4228
build 450

[2019-04-01 07:50] LukeTowers commented on #4228
@w20k might be. @fashakra can you confirm that your local copy of that file is the same as https://github.com/octobercms/october/blob/develop/modules/backend/formwidgets/Repeater.php#L112, specifically the `$this->alias.self::INDEX_PREFIX.$fieldName;` part?

[2019-04-01 07:53] fashakra commented on #4228
$this->indexInputName = $this->alias.self::INDEX_PREFIX.$fieldName;
$this->groupInputName = $this->alias.self::GROUP_PREFIX.$fieldName;

$this->alias are missing from my version!

[2019-04-01 08:25] #4228 closed

[2019-04-01 09:19] huynhnamegal opened #4229 "Repeater field did not save data"
- OctoberCMS Build: 447
- PHP Version: 7.0.26
- Database Engine: MySQL

### Description:
In morning, I try to run command "composer update" and composer update modules of OctoberCMS, it change some files. After updating, all of my repeater fields did not save any data.
I rollbacked to before updating and my repeater fileds still working. But now, I tried "composer update" again, no changes in modu

[2019-04-01 09:23] cheb60 commented on #4229
I can confirm this bug. It only saves an JSON string containing empty arrays.

[2019-04-01 09:27] LukeTowers commented on #4229
Duplicate of #4223 and #4226. Fixed in the latest library dev branch, fix will be available in build 451.

[2019-04-01 11:25] seanthepottingshed commented on #4175
@bennothommo @w20k @LukeTowers @daftspunk

Yeah, you're right @bennothommo I was definitely having a senior moment, the issue remains.

[2019-04-01 12:23] w20k commented on #4131
For now, it's not possible to dynamically add icons.

[2019-04-01 16:14] jonnydevv commented on #4049
I'm having same problem installing via command line with composer.
Steps to reproduce:
- composer create-project october/October October;
- php artisan october:env;
- update .env file with APP_ENV=dev where I've set my database.php inside config/dev folder;
- composer update;

I keep getting the same message even when I run `php artisan october:util set build`:

I've also tried running October:up

[2019-04-01 18:42] LukeTowers commented on #4049
What's your database config @jonnydevv?

[2019-04-01 18:52] LukeTowers commented on #4131
I don't know why that wouldn't work, are you sure you don't have something else listening to that event overriding the value of `$config['tabs'];`?

[2019-04-01 22:13] jonnydevv commented on #4049
My database config:

[code]

[2019-04-01 23:33] LukeTowers commented on #4049
What about your .env file?

[2019-04-01 23:39] jonnydevv commented on #4049
My .env file:

`APP_ENV=dev`

[2019-04-02 09:13] mabehiry commented on #4188
@bennothommo  Yes I'm using attachOne

[2019-04-02 09:39] bennothommo commented on #4188
@mabehiry Thanks, I presume then that what you have set up is a page where you can view 100 articles in a single page, and each one has a single file upload for an image or some other file, is that correct?

If so, and if you want to avoid the loading delay right now, you could use the `mediafinder` widget instead of a `fileupload` widget to pick the image, as the `mediafinder` widget saves the UR

[2019-04-02 09:51] bennothommo commented on #4175
@seanthepottingshed Thanks for letting me know - I will take a look at it in the next couple of days hopefully.

[2019-04-02 12:12] jonnydevv commented on #4049
I've changed php version from` 7.3.3` to` 7.2.16` and now it works.

Steps i use to install with php7.2:
- run `composer create-project october/october october`
- run `php artisan october:env`,  update database settings and .env
- run `php artisan october:up`
- run `php artisan october:util set build`

I guess october isn't compatible with php7.3, because I tried downgrade until v1.0.444.
Hope it

[2019-04-02 12:23] w20k commented on #4049
@jonnydevv I've tried with PHP 7.3.2 via composer. Had no issues there.

[2019-04-02 12:25] jonnydevv commented on #4049
Could you reply your steps?
Because I've tried with the steps I showned before without success, always getting same message:

[2019-04-02 12:26] w20k commented on #4049
I mainly use `best practices gist` form @LukeTowers -> https://gist.github.com/LukeTowers/9100845ba50bd53d957da822d06f3b56#file-setupproject-sh

[2019-04-02 14:29] mabehiry commented on #4188
@bennothommo Yes, it's a good idea. Thank you. But you know, when using fileupload I can crop the image and use various sizes. I use it for the thumb images.
Anyway, I used caching for images so that I don't need to call it every time. But I think if this is a better way to optimize SQL query, it will be good.
Thank you

[2019-04-02 15:21] tfprado commented on #4229
@LukeTowers When will build 451 be available?

[2019-04-02 15:36] w20k commented on #4229
Should be fixed soon ;)

[2019-04-02 16:28] LukeTowers commented on #4229
Already out @tfprado https://packagist.org/packages/october/backend#v1.0.451, https://octobercms.com/changelog.

[2019-04-02 18:39] Samuell1 commented on #3275
Hey, can this be reopen? This issue is with everything that uses *temp* folder not only MediaManager for example Export uses temp folder too.

[2019-04-02 19:20] w20k commented on #4137
Fixed in latest build!

[2019-04-02 19:20] #4137 closed

[2019-04-02 20:37] w20k commented on #3275
Done @Samuell1

[2019-04-03 06:34] seanthepottingshed opened #4230 "Static Page Repeater Groups Save Failure"
- OctoberCMS Build: v1.0.451
- PHP Version: 7.1.17
- Database Engine: mysql
- Plugins Installed: RainLab.Pages v1.2.20

### Description:
Saving Repeater with Groups in a Static Page doesn't work as `_group` property is empty.

### Steps To Reproduce:
- Install a fresh version of OctoberCMS
- Install `RainLab.Pages`
- Create a Static Page called `home.htm` with a URL of '/'
- Install the following

[2019-04-03 09:29] jonnydevv commented on #4049
I was able to install in php 7.3.3. Made a new box and no problems with installation following the steps I've showned before:

[2019-04-03 14:09] LukeTowers commented on #4230
Wow, there are so many choices on how to fix this bug.

1. Remove `uniqid()` from the form widget alias generation in the RainLab.Pages plugin: https://github.com/rainlab/pages-plugin/blob/master/controllers/Index.php#L397
Pros: seems to be pointless and buggy to have that there given that the form alias will change on every single request which renders it useless if attempting to use it in input

[2019-04-03 14:10] LukeTowers commented on #4230
@seanthepottingshed @bennothommo any input on the above?

[2019-04-03 15:13] seanthepottingshed commented on #4230
@LukeTowers **3** sounds like a winner to me; however @bennothommo would be in better position that me to understand any caveats. Also need to consider the impact this may have on the yet as unresolved issue with Repeater Group deletion in CMS pages:  https://github.com/octobercms/october/issues/4175#issuecomment-469172078

[2019-04-04 01:15] bennothommo commented on #4230
@LukeTowers @seanthepottingshed I'll aim to have a look this evening and give my two cents worth. :)

[2019-04-04 07:15] bennothommo commented on #4230
@LukeTowers @seanthepottingshed Regarding option 3, whilst removing the group fields outside of the item row data is probably safe, I believe the reason for the extra index fields is to keep track of ordering. I believe some JSON implementations (especially in the JavaScript side) will reorder numbered sequential arrays based on their keys, which means data like this:

[code]

... will result in t

[2019-04-04 07:30] LukeTowers commented on #4230
@bennothommo could you test out my latest commit? https://github.com/octobercms/october/commit/b4b4b1b566d9c117896d7c24ae835d0be2f916c0

[2019-04-04 08:13] Samuell1 opened #4232 "Temp folder is local only"
- OctoberCMS Build: 447
- PHP Version: 7.3

### Description:
Exporting CSV file creates file in Temp folder but folder isnt shared between servers then sometimes it returns error of missing file. Same issue is with thumbnails for MediaLibrary #3275

### Steps To Reproduce:
Use multiple servers for website and export CSV in backend or open MediaLibrary to see thumbs are missing sometimes.

[2019-04-04 11:35] seanthepottingshed commented on #4230
@LukeTowers

I've tested your commit and this resolves my issue.

[2019-04-04 11:37] seanthepottingshed commented on #4230
@LukeTowers @bennothommo

Not that I was expecting it to - but I've also tested to see if this resolves the CMS Repeater Group deletion issue, and that issue remains.

[2019-04-04 13:57] bennothommo commented on #4230
@seanthepottingshed I let @LukeTowers know via Slack that his fix seemed to have broken the repeater in the October Test plugin in the Countries form under the Content tab. That one uses groups in its config as well.

[2019-04-04 20:56] LukeTowers commented on #4230
@bennothommo could you test it again? I'm unable to replicate your issue. @seanthepottingshed are you talking about my option 1 commit (remove uniqid()) or my option 3 (remove extra __index_, __group_ processing)?

[2019-04-04 21:52] seanthepottingshed commented on #4230
@LukeTowers

I was referring to this: https://github.com/octobercms/october/commit/b4b4b1b566d9c117896d7c24ae835d0be2f916c0

I'm off to Scotland for a few days will be back to work on Monday, have a fantastic weekend!

[2019-04-05 00:19] Teranode commented on #4188
@LukeTowers I noticed that the SortableScope has this already:
https://github.com/octobercms/library/blob/develop/src/Database/SortableScope.php#L20

Is that how it's suppose to be in that method?

[2019-04-05 08:33] CSNWEB opened #4237 "Search widget sometimes shows results for parts of the words from previous ajax request"
- OctoberCMS Build: v1.0.442
- PHP Version: 7.1
- Database Engine: Postgres
- Plugins Installed: Martin.SSOLogin, various unpublished private ones.

### Description:
While typing in the search widget of a backend controller list it sometimes happens that a previous search request takes longer to finish then the last one. This leads to an earlier one beeing used, showing you results from the first

[2019-04-05 10:18] w20k commented on #4107
@Rike-cz this might help to hook into the matcher: https://stackoverflow.com/questions/51491048/select2-option-space-not-searching

[2019-04-05 16:17] smkamranqadri commented on #219
My concern is if frontend user have to do some backend stuff then it have to have two user and two password while awkward, is there any way frontend user can be link or something like that?

[2019-04-05 19:38] LukeTowers commented on #219
Sure, you could do one of the following:

1. Build frontend components to manage the data that they need to interact with.
2. Just use backend users in the frontend, this would be similar to how WP does it
3. Hook into the frontend user management events and create an identical backend account for the front end user with the necessary permissions.

Which option you choose is determined by how much

[2019-04-08 09:53] jexme opened #4243 "Add method/event after sorting"
It may be worth adding an event, or a method in the model, after the records are sorted (ReorderController, onReoder method).

As an example, this would be very useful if the model data is cached and you need to clear the cache after a change in sorting.

[2019-04-08 13:36] CptMeatball opened #4246 "beforeSave event is fired twice in relationManager"
- OctoberCMS Build: 451 latest dev @ [aeeb791](https://github.com/octobercms/october/commit/aeeb791899b4bbbddf114dfb24d01581022ec695)
- PHP Version: 7.2.15
- Database Engine: 10.3.13-MariaDB Homebrew
- Plugins Installed: October.Test

### Description:
When creating an item in a relation manager, the `beforeSave` event is called twice.

### Steps To Reproduce:
0. Install latest October
0. Clone [PR

[2019-04-08 14:04] FlorinMarina commented on #4099
I removed Raideer.Thumbnail ... but the issue persist ... my storage/app/uploads folder has 7.5 Mb ... anyone with the same issue ???

[2019-04-08 14:17] w20k commented on #4099
@FlorinMarina it's really hard to tell where the issue is. Thumbs don't regenerate files if not needed.

7.5 ain't big - I've storage with 100k image and the same amount of thumbs. Don't have any issues with thumbs being cloned/copied.

Try debugging this part, add `Log:error('thumb_' . $this->id . '_' . $width . '_' . $height . '_' . $options['offset'][0] . '_' . $options['offset'][1] . '_' . $op

[2019-04-08 14:24] FlorinMarina commented on #4099
Sorry **7.5 Gb ...**

[2019-04-08 14:21:32] dev.ERROR: thumb_18_482_351_0_0_crop.png
[2019-04-08 14:21:32] dev.ERROR: thumb_17_405_215_0_0_crop.png
[2019-04-08 14:21:32] dev.ERROR: thumb_21_405_215_0_0_crop.png

reload the page ...

[2019-04-08 14:21:03] dev.ERROR: thumb_18_482_351_0_0_crop.png
[2019-04-08 14:21:03] dev.ERROR: thumb_17_405_215_0_0_crop.png
[2019-04-08 14:21:03] dev.ERROR: thumb_21

[2019-04-08 14:34] w20k commented on #4099
Could you also look for this thumb (`thumb_18_482_351_0_0_crop.png`) and how many you have in your project?

From a code perspective, it creates a file if it does not exist. Might be a huge bug somewhere or misconfiguration:
[code]

[2019-04-08 14:38] FlorinMarina commented on #4099
only once storage/app/uploads/public/5c3/5d6/5b1/thumb_21_405_215_0_0_crop.png

[2019-04-08 14:48] w20k commented on #4099
Then there is no issue, I guess. Three images and three thumbnails :)
Maybe thumbs aren't optimized? That could be an issue 😄

[2019-04-08 14:57] FlorinMarina commented on #4099
I think is an issue ... and I think we found it ...

[code]

as you can see the post id is missing

[2019-04-08 15:13] w20k commented on #4099
Maybe because of the plugin that you've used previously? Not sure, could you re-test it with a clean install, just to be sure @FlorinMarina ?

[2019-04-08 19:09] AugmentBLU commented on #4246
I seem to be getting the following error, which might be related as I can see the makeManageWidget function being hit twice if I debug.

[code]

Happens with 450/451 but is fine with 447, I haven't tried 448/449 using PHP 7.3.

[2019-04-09 03:58] LukeTowers commented on #4246
@AugmentBLU that seems like the actual error you're getting is that the model wasn't found: https://github.com/octobercms/october/blob/develop/modules/backend/behaviors/RelationController.php#L833. That code probably needs to be fixed to correct the error message thrown

[2019-04-09 07:06] jexme commented on #4025
@LukeTowers @SeriousKen I confirm the problem, at the moment this functionality does not work, but you cannot call `bootNicerEvents` before the constructor.

Yes, in this case, the `$model-> afterBoot()` method will work, but the event itself will still not be listened to, because trait Emitter, in which the creation of new events takes place (`bindEvent` method), will not be called yet

[2019-04-09 11:15] MaTToX3 opened #4247 "Running "october:down" throws error because migration rollback is ran in incorrect order"
- OctoberCMS Build: Any
- PHP Version: 7.0+
- Database Engine: Any
- Plugins Installed: RainLab.Blog (but basicly any, when you extend it with custom column)

### Description:
When developing on local machine, I like to run a clean database seeding from time to time, so in October way I should do the october:down and october:up. Since I developed a custom plugin, which adds an extra field to RainL

[2019-04-10 09:10] FlorinMarina commented on #4099
[code]

.. this might be the issue ... testing the method ... and if this is the cause is a bug , very big bug ...

[2019-04-10 09:36] bennothommo commented on #4175
@seanthepottingshed I've had another look at this following on with the fixes in https://github.com/octobercms/october/pull/4242. The following `boot()` code does fix the validation:

[code]

However, the saving of the repeater items is broken due to the indexes of the fields clashing. I'll probably have to look at this as part of my other fixes, but at the very least, this code should work once a

[2019-04-10 09:37] w20k commented on #4099
@FlorinMarina it's just a path :) And you have an ID issue, it's should be a different story...

[2019-04-10 09:40] w20k commented on #4175
Should be definitely added to OctoberTricks 😄

[2019-04-10 10:08] seanthepottingshed commented on #4175
@bennothommo

Thanks! This is so very appreciated. Should the CMS page repeater indices be fixed - then my life would be complete in every way imaginable. ;)

[2019-04-10 10:27] TimFoerster commented on #4182
Another alternative would be to wait 4 months for the new lts version, since laravel 5.8 moved to Carbon2.

[2019-04-10 15:30] dimensi opened #4249 "Datafeed not working on Postgres 9.6"
- OctoberCMS Build:
- PHP Version: 7.2
- Database Engine: Postgres 9.6
- Plugins Installed: Builder

### Description:
Then i try to use DataFeed, i got error.
[code]

### Steps To Reproduce:

[code]

[2019-04-11 10:00] bennothommo commented on #4175
@seanthepottingshed Could you give my branch (https://github.com/octobercms/october/pull/4242) a test and let me know if this works for you? My latest commit should fix the index issue.

[2019-04-11 10:37] w20k commented on #4175
@seanthepottingshed your life should be complete now 😄 I hope)

[2019-04-11 11:54] vevers opened #4251 "Branded emails: incorrect word-break in Outlook clients"
- OctoberCMS Build: 451
- PHP Version: 7.1
- Database Engine: n.a. (5.7.19)
- Plugins Installed: n.a.

### Description:
All emails using the default branded css do seem to have word-break issues in Outlook clients. Words are broken at random points due to the "word-break: all" css setting.

See the following link for example renders: [https://litmus.com/checklist/emails/public/15ff7f9](https://lit

[2019-04-11 12:09] YannPl commented on #3782
Any update about this issue ?

[2019-04-11 12:19] w20k commented on #4251
@vevers can't you override this option on your own?
It was maybe to cover really long words, like -> API keys, or something similar.
[code]
that's definitely a small bug :)

[2019-04-11 12:45] vevers commented on #4251
We've tried overwriting the CSS in multiple ways (head, body, inline, different selectors, etc.), but without any luck. If "word-break: break-all" is applied to the body it somehow seems to be impossible to overwrite this in Outlook. Might be an Outlook bug.

And although it might seem like a small bug, it results in corrupted emails for all Outlook users (mostly business users) when using the def

[2019-04-11 13:40] dimensi commented on #4249
https://stackoverflow.com/questions/18073901/failed-to-find-conversion-function-from-unknown-to-text
It says here that postgres just can't do that

[2019-04-11 14:26] dimensi opened #4252 "DataFeed->count broken"
- OctoberCMS Build: last
- PHP Version: 7.2
- Database Engine: mysql 5.7
- Plugins Installed: Builder

### Description:

When I try to call the `count()` method, I get the following error
[code]

### Steps To Reproduce:

[code]

[2019-04-11 15:01] ayumihamsaki opened #4253 "Add role=form to generated Form::open()"
Not sure whether to file this as a bug or feature request?

## The issue:

The following October info web page: https://octobercms.com/docs/markup/function-form

We can add the php code snippet:

[code]

This produces something like this:

[code]

The trouble is that the output doesn't add any accessibility standards.

## Solution

By default October CMS should add the following snippet:

[code]

[2019-04-11 16:45] LukeTowers commented on #4253
@ayumihamsaki feel free to submit a PR to accomplish that.

[2019-04-11 17:07] LukeTowers commented on #4251
@vevers feel free to submit a PR to fix it

[2019-04-11 21:53] ayumihamsaki commented on #4253
@LukeTowers I would be happy to do that, but I can't find the correct file to update. Could you point me in the right direction please.

[2019-04-12 02:34] LukeTowers commented on #4253
@ayumihamsaki it might be something in the library (Support perhaps? Html?) or in Laravel itself

[2019-04-12 06:38] huynhnamegal opened #4254 "Add dependsOn support to Filters"
How can I filter the list base on other filter's?
Example, I want to choose province to get list of districts for filter list.

I tried  $this->widget->listFilter->getScopeValue({scope_name});, but it did not work.
I tried to set some default value for array and it worked.

![image](https://user-images.githubusercontent.com/20609668/56016839-bb5c3200-5d27-11e9-9280-0bc2e9618de7.png)

![image](http

[2019-04-12 07:43] w20k commented on #4253
@ayumihamsaki should be here -> `vendor\october\rain\src\Html\FormBuilder: 112-160, 158 where attributes are converted to a string` 👍

[2019-04-12 08:11] LukeTowers commented on #4254
It's not currently possible without some fairly ridiculous hacking (sample of something I've done before below, very brittle though)

Controller class: (abuse `Config::set()` as a temporary in-request key-value store)
[code]

Model class:
[code]

It would be nice to support `dependsOn` in the filter configs though like we can with fields, but I don't have time to look into adding that functionalit

[2019-04-12 08:28] Samuell1 commented on #4232
I was thinking for CSV it can be solved that we can just return CSV as response without needing to save it to temp folder.

Something like this:
[code]

[2019-04-12 15:33] ayumihamsaki commented on #4253
@w20k Thanks :+1:

https://github.com/octobercms/library/blob/master/src/Html/FormBuilder.php

[2019-04-13 09:05] foralien commented on #4208
Have the same issue with 447 build, for example media manager doesn't work at all due to broken script loading order. Cloudflare Roket doesn't allow to be switched on some pages (eg. /backend) so adding cfasync="false" is the only way to fixed it.

This attribute is added to some scripts that printed directly in header.htm partial, but to those that added by addJs - not yet. So the backend is actu

[2019-04-13 19:58] SeriousKen opened #4255 "Can't clear record finder when useRelation = false"
When updating a model that has a record finder with useRelation set to false it is impossible to clear its value.

The attached plugin demonstrates this. Create a record and add some users to it. Save it and then try clearing any of the user records.

[serious.zip](https://github.com/octobercms/october/files/3076680/serious.zip)

[2019-04-13 20:26] rajakhoury opened #4257 "Intercept posted data using the Javascript API ( Ajax forms )"
- OctoberCMS Build: 451
- PHP Version: 7.3.2

### Description:
I am working on JS plugin that displays some data and updates it using ajax. So basically I have a couple elements ( forms, buttons..) that trigger those ajax request. What I am trying to achieve is intercept the posted data and save it in memory for some other usage.

Looking at the [docs](https://octobercms.com/docs/ajax/javascript-a

[2019-04-15 17:25] multiwebinc opened #4258 "AJAX always returns 200 response code"
When I try to send an AJAX request to anything other than a PHP script that should be a 404, it returns 200 instead.

Here is how it appears without setting the X-Requested-With header (i.e. not AJAX):

[code]

And now with AJAX to the same URL:

[code]

However, if we send the request to a non-existent PHP file, we correctly get a 404:

[code]

Here is my nginx conf file:

[code]

[2019-04-15 22:27] LukeTowers commented on #4208
@foralien see my comment in #4092.

[2019-04-15 22:39] ayumihamsaki commented on #3608
@w20k Just to let you know I have created a PR to update jQuery to V3.4.0 it has some updates with regards to this issue. I got a feeling it might work with $.globalEval() and the new jQuery.

This is from their jQuery: https://github.com/jquery/jquery/issues/4278

This is the PR: https://github.com/octobercms/october/pull/4259

[2019-04-15 23:11] ayumihamsaki commented on #3608
@w20k Just to let you know I have created a PR to update jQuery to V3.4.0 it has some updates with regards to this issue. I know the jQuery team have done a lot of update work with regards to CSP and `$.globalEval()` in this version.

This is the PR: https://github.com/octobercms/october/pull/4259

[2019-04-16 09:45] Samuell1 opened #4260 "File model is slow when is checking if file exists in remote filesystem"
- OctoberCMS Build: 447
- PHP Version: 7.3.3
- Filesystem: AWS S3

### Description:
Using remote storage system (S3 for example) can slowdown website a lot because methods like getThumb are checking if file exists on _every requests_, that means it makes 20 requests for 20 images.

Testing in backendlist with 120 rows and image per row. 120 images takes 8s with caching solution is 500ms average.

[2019-04-16 10:49] GinoPane opened #4261 "Placeholder Existence Check Does Not Work"
- OctoberCMS Build: 451
- PHP Version: 7.1.23

### Description:
The [function](https://octobercms.com/docs/markup/tag-placeholder#checking-placeholder-exits) to check if placeholder exists seems to be broken. It is always false though the placeholder exists.

### Steps To Reproduce:
I have a placeholder called "theme_sidebar".
If I put in it using ```{% if ... %}``` I get nothing. Though it works

[2019-04-16 11:45] gergo85 commented on #3867
New versions available:
- Modernizr v3.7.1 (https://github.com/Modernizr/Modernizr/releases)
- moment.js v2.24.0 (https://github.com/moment/moment/releases)
- Raphaël JS v2.2.8 (https://github.com/DmitryBaranovskiy/raphael/releases)

[2019-04-16 13:19] LukeTowers commented on #4261
That's because at the moment your check is run, it doesn't exist. Just because you populate it later on doesn't mean that it knows about that before hand.

[2019-04-16 13:19] #4261 closed

[2019-04-16 13:32] GinoPane commented on #4261
@LukeTowers what is the point of the check then? It is useless.

[2019-04-16 13:36] ayumihamsaki commented on #3867
Thanks will create some PR's for them

[2019-04-16 13:39] ayumihamsaki commented on #3867
Will add the info here: https://github.com/octobercms/october/wiki/Javascript-Packages-in-October

[2019-04-16 14:09] LukeTowers commented on #4261
@GinoPane it is not useless, you're just using it wrong 😜

You tell me how it's supposed to know the placeholder content exists when at the time that it executes, that content does not exist. In your example the placeholder content doesn't exist until after that conditional check is run.

[2019-04-16 15:17] GinoPane commented on #4261
@LukeTowers hm, but how to use it then? :) What I did is almost 100% the same that documentation tells: `check -> put if exists`

[2019-04-16 19:24] mihailbishkek commented on #1600
I can't attach file in pivot relation Manager. How I can do it?

[2019-04-16 19:40] mihailbishkek commented on #2786
What about attach image in pivot models?

[2019-04-16 19:42] mihailbishkek commented on #1409
What about attach files in pivot models?

[2019-04-16 21:18] LukeTowers commented on #4261
@GinoPane I think what you're getting confused by is you think that function checks for the existence of the placeholder itself. It doesn't, it checks to see if the placeholder has any content assigned to it yet:

You shouldn't need to check if the placeholder itself exists, you can add content to a non-existent placeholder without anything breaking

[2019-04-16 23:10] ayumihamsaki2 commented on #3867
**Note**: `moment.js` if I remember correctly there was an issue with the `ar` lang pack and we switched it over to `ar-ly.js` as per issue: https://github.com/octobercms/october/issues/3808

Also moments we use TimeZone as well as per: https://github.com/octobercms/october/pull/3960

[2019-04-17 05:35] GinoPane commented on #4261
Ah, ok, thanks. That makes sense but still it is really confusing. Probably it would be useful to update docs.

[2019-04-17 06:44] Samuell1 commented on #1250
Last weeks i getting sometimes errors similar to this issue, looks like issue is back?

But for cache iam using Redis, iam not sure why its trying to access cache file in storage folder.

`ErrorException: file_get_contents(/var/www/html/storage/cms/cache/d3/61/filter.htm.php): failed to open stream: No such file or directory in /var/www/html/modules/cms/classes/CodeParser.php:298`

then

`Symfony\

[2019-04-17 07:21] LukeTowers commented on #4261
Feel free to submit your suggested improvements as a PR

[2019-04-17 08:10] cheb60 opened #4264 "Richeditor uploading files and images is not working"
- OctoberCMS Build: build 447 and up to latest
- PHP Version: 7.2

### Description:
CMS uses the froala editor froala which can upload a file or image. When trying to upload an image or file it throws back an error. Saying that something wen't wrong. This happends because the CSRF token is not being passsed through the AJAX request.

Temporay fix: diable CSRF token security....

### Steps To Repro

[2019-04-17 11:57] Samuell1 opened #4265 "Active theme config is not cached"
- OctoberCMS Build: 447
- PHP Version: 7.3.3

### Description:
Theme config is not cached and that means its calling Yaml parse on every request, more testing shows that it takes around **20ms** to parse _theme.yaml_.

![obrázok](https://user-images.githubusercontent.com/3110002/56285878-8e898f80-6118-11e9-94e1-891217d8758a.png)

### Steps To Reproduce:
This can be reproduced by using {{ this.them

[2019-04-17 22:56] LukeTowers commented on #4265
Feel free to submit a PR to improve this.

[2019-04-17 23:28] robinbonnes opened #4268 "dependsOn not working for datepicker with time format"
- OctoberCMS Build: 451
- PHP Version: 7.1

### Description:
When having a form with a datepicker field in time mode, other fields that depend on that field by the dependsOn configuration, don't update.

The same is happening for datetime fields, but then it only updates on changing the date.

### Steps To Reproduce:

Create a form like this:

[code]

Changing the time in field 1 doesn't trigger t

[2019-04-18 06:02] ayumihamsaki commented on #3867
# List of Update Information for Future Ref / Updating

## Core Files

| JS Library Name | URI Location | Update Location | Version Number | Last Update Date |
|---|---|---|---|---|
| jQuery | See Github PR: https://github.com/octobercms/october/pull/4259 | https://github.com/jquery/jquery/releases | 3.4.0 | April 2019 |
| jQuery Migrate | See Github PR: https://github.com/octobercms/october/pull/

[2019-04-18 07:58] harmenjanssen commented on #2357
It's still relevant I think: I cannot assign groups to my own user, whereas I can assign groups to everyone else.

I *am* a super user, can make other people super user, et cetera.

I'm having trouble understanding the need for the myaccount controller action? Surely the form and the options are applicable to all users, regardless of them being the currently logged-in user?

I'm interested in doin

[2019-04-18 08:51] LukeTowers commented on #2357
@harmenjanssen it's mostly from when permissions were assigned to groups, we didn't want users granting themselves more permissions by assigning new groups to themselves. Feel free to make a PR.

[2019-04-18 08:53] harmenjanssen commented on #2357
Hmm, makes sense. But in my case I can do more to others than myself.

I'll think about this some more.

[2019-04-18 08:54] LukeTowers commented on #2357
To be clear, that shouldn't be too much of an issue anymore, as groups no longer contain permissions. However, probably the best way of handling this is to only add it to the myaccount context when the user has the appropriate permissions to use it (probably just manage_users)

[2019-04-18 09:05] harmenjanssen commented on #2357
How is it checked outside myaccount?
Is the split still necessary even? I'm assuming I cannot add groups to other users without the right permissions, so wouldn't that mean I can just show the same form for "me" as for other users, since permissions are already checked correctly in the form?

[2019-04-18 09:25] LukeTowers commented on #2357
I'd say the split is still worth it given potential for future changes that could continue to benefit from the current user having a different context when attempting to modify their own account.

[2019-04-18 15:37] ayumihamsaki opened #4271 "Performance Issue with storm-min.js when loading web pages"
I have noticed this several times where you try to do a "**hard reload**" of a web page in the backend while I am working on building some new plugins, see the waterfall screenshot:

![bug](https://user-images.githubusercontent.com/17784082/56372547-21006080-61f7-11e9-9619-3ba95742fd4b.png)

Above: Here we can see it has taken Chrome 11 seconds to open `storm-min.js` the whole web page has a blank

[2019-04-18 19:00] LukeTowers opened #4274 "Make installer clean up after itself"
Currently the installer asks the user to manually remove install.php and the install_files directory. We could easily improve this by making the installer clean up after itself: https://stackoverflow.com/questions/1216755/how-to-make-php-script-delete-itself-and-includes-dir

[2019-04-18 20:27] ayumihamsaki commented on #4048
The HTTP Header:

[code]

Is a dead HTTP Header and Microsoft have dropped support for it a few years ago. They say not to use it by the way.

Likewise with the chrome one:

[code]

I wouldn't recommend to use it.

[2019-04-18 22:28] NedStrk opened #4275 "Access session in Twig"
### Description:
Couldn't find an answer in the docs, but I am pretty sure the solution should be simple )

Assume we use ```Redirect::refresh()->with('message', 'Some message here');```

Now we want to access variable ```$message``` from Twig (front-end)

tried ```session_get('message')``` and ```session('message')```

[2019-04-18 23:29] LukeTowers commented on #4275
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-04-18 23:29] #4275 closed

[2019-04-19 08:33] webstylecenter commented on #4264
I also noticed this bug and can confirm that the error is caused by the CSRF token not being passed. Uploading images using the media tab, or the browse button -> upload is working fine. Just uploading images within the button popup isn't working. Issue can be reproduced in safari and chrome browser. Using PHP 7.2 and build 451

[2019-04-19 14:47] ghost opened #4277 "Enhancement Idea: Adding Priority Hints API to October CMS"
## Introduction

I am about to start work on adding a new API to my October CMS websites. The API has been in the making for around 2 years now by Google and now can be used in a "production" website environment.

## About the API

When the browser loads assets they are given a Priority for the loading, see below an example:

![1](https://user-images.githubusercontent.com/17784082/56428699-2d98bd8

[2019-04-19 14:47] ayumihamsaki commented on #4277
Look forward to feedback and ideas...

[2019-04-19 15:10] ayumihamsaki commented on #4277
The above comment talks about the front-end only. The back-end could also be updated with this API.

Look forward to feedback and ideas...

[2019-04-19 19:08] LukeTowers commented on #3109
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-19 19:08] #3109 closed

[2019-04-19 19:15] LukeTowers commented on #3867
@ayumihamsaki could you review https://github.com/octobercms/october/pull/3616 or submit a new one updating Dropzone?

[2019-04-19 19:25] LukeTowers commented on #2869
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-19 19:25] #2869 closed

[2019-04-19 22:11] LukeTowers commented on #2303
@CptMeatball could you test https://github.com/octobercms/october/pull/4016?

[2019-04-19 22:22] VoroninWD opened #4278 "Second calling ajaxSuccess from jQuery"
- OctoberCMS Build: 451
- PHP Version: 7.3
- jQuery: 3.3.x - 3.4.0
- Database Engine: MySQL
- Plugins Installed: Custom plugins

### Description:
Hi! I noticed that the call to the `ajaxSuccess` event occurs twice:
Once from the `framework.js` file and the second time from the jQuery library

[code]
The first time all the parameters matches the `framework.js`, the second time the parameter data ma

[2019-04-19 22:29] LukeTowers commented on #4278
@ayumihamsaki could you chime in on this?

[2019-04-19 23:51] ayumihamsaki commented on #3867
@LukeTowers No problem I will work on that tomorrow, please can you close that pr and I will create a new one for you.

[2019-04-20 15:15] ayumihamsaki commented on #4278
I'm not sure, if it's being called twice, would it be a good idea to remove it from the framework.js and reply on it directly from jquery. I think the `jquery` file has newer code to process this, than the `framework.js` - is what I'm saying. I think I read they did some update on to in the 3.4.0 release ? (But don't quote me on that).

Is it possible to see a screenshot of the console.log

Also w

[2019-04-20 15:16] w20k commented on #4278
@VoroninWD you cannot skip those from jQuery. Might be a hack or a trick, how to use the only `framework.js`, but those are the global jQuery events.

Events:`["ajaxStart", "ajaxStop", "ajaxComplete", "ajaxError", "ajaxSuccess", "ajaxSend"]`

[2019-04-20 15:25] w20k commented on #4278
In the latest version you could disable those, but globally:
1. Use `global: false`
[code]
2. Don't know if it works, but should 😄. Disable specific event:
[code]

[2019-04-20 15:26] ayumihamsaki commented on #2303
@LukeTowers I might try and test this right now. I have been waiting for this issue, as I have some plugins I built needing this feature. So I will try and test the pr today.

[2019-04-20 15:52] ayumihamsaki commented on #2303
Hi that pr is not working I get the following results:

![eg](https://user-images.githubusercontent.com/17784082/56459518-a406ef80-638c-11e9-9cf3-e32a9f54ce28.png)

[2019-04-20 16:14] VoroninWD commented on #4278
![image](https://user-images.githubusercontent.com/20097205/56459715-60b67c00-63a0-11e9-9c8e-2b8a3b6f1cdd.png)

[2019-04-20 16:15] w20k commented on #4086
@GinoPane could you try out a fix? Should be easy.
Change a single line (`backend/formwidgets/fileupload/partials/_config_form.htm -> line 11`): from `src="<?= $file->thumbUrl ?>"` -> `src="<?= $file->pathUrl ?>"`

[2019-04-20 16:21] VoroninWD commented on #4278
@w20k , how can I disable a global event if I send a request like this:

[code]

[2019-04-20 16:25] w20k commented on #4278
@VoroninWD right now the only way is to fix it in the `framework.js line:115`. So, you have to patch it and recompile assets, if it helps sounds like a PR to me.

[2019-04-20 16:28] ayumihamsaki commented on #4278
yah agree with @w20k I was looking at line: 128 - 139 just now.

[2019-04-20 16:36] w20k commented on #4107
@Rike-cz try this one, should work in your case: https://github.com/harvesthq/chosen/issues/2274#issuecomment-125152849

[2019-04-20 16:48] ayumihamsaki commented on #3867
Need to update:

## sweetalert (last update 4 years ago)

https://github.com/octobercms/october/tree/master/modules/backend/assets/vendor/sweet-alert
https://github.com/t4t5/sweetalert/releases
https://sweetalert.js.org/guides/#installation

## jcrop (last update 4 years ago)

https://github.com/octobercms/october/tree/master/modules/backend/assets/vendor/jcrop
https://github.com/tapmodo/Jcrop/rel

[2019-04-20 16:51] w20k commented on #3867
@ayumihamsaki would be awesome if we could merge it somehow (sweetalert). Probably needs some fixes from our side.

[2019-04-20 17:05] ayumihamsaki commented on #3867
@w20k If you could invest it and let me know will create a pr. I had a quick look and looks very different the complied versions.

[2019-04-20 17:13] w20k commented on #3867
@ayumihamsaki will do, after a few more major updates ;)

[2019-04-21 10:43] ayumihamsaki commented on #4277
Need to wait for this pr https://github.com/octobercms/october/pull/4272 to be added to the next version before can start coding a pr for this issue.

[2019-04-21 12:21] ayumihamsaki commented on #3867
@LukeTowers @w20k I was thinking is it possible to add a label to this repo and mark up issues that fix or modify any external vendor files. For example a github issue complains about a javascript vendor file with a bug and creates a fix by editing that js file. It then makes it harder to update the javascript vendor files, because we need to search through all the issues on this repo to find any

[2019-04-21 15:56] sebalaini opened #4286 "backend link broken"
- OctoberCMS Build: 447
- PHP Version: 7.3.4
- Database Engine: pgsql

### Description:
when I type `localhost/october/backend` in my MacOS X I'm redirected to `http://localhost/october/backend/backend/auth` it doesn't add `signin` to the end of the URL, I add `signing`, I hit enter to load and nothing still same error, I refresh and it works

`This page isn’t working
localhost didn’t send any dat

[2019-04-21 18:08] Samuell1 commented on #4286
https://www.drivereasy.com/knowledge/fix-err-empty-response-on-google-chrome/

[2019-04-21 22:14] ayumihamsaki commented on #4030
(Don't close PR's open on this one)

[2019-04-21 22:14] ayumihamsaki commented on #4277
(Don't close PR's open on this one)

[2019-04-21 22:22] ayumihamsaki commented on #4264
Just going to put a side note here, October is using Froala Editor V2.4.2 and current Version is 2.9.5. Though I think is not easy to update as there are many custom bug fixes with October and Froala. I leave the admins to decide.

[2019-04-21 23:56] LukeTowers commented on #4264
@ayumihamsaki2 Froala was updated to 2.9.3 in Build 449.

[2019-04-22 00:01] LukeTowers commented on #4286
@sebalaini you can also try using the built-in webserver by running `php artisan serve` on the command line in your project root.

[2019-04-22 00:01] #4286 closed

[2019-04-22 00:20] LukeTowers commented on #3867
@ayumihamsaki I would say ignore sweet alert. It works fine as it is right now as a tool used by the core. I don't believe anyone interacts with it directly so I don't see a reason to update it.

[2019-04-22 00:34] LukeTowers commented on #4278
@ayumihamsaki did the original version of jQuery included in OctoberCMS (prior to v3) fire those events? If not, I don't see why we can't just disable them entirely by default.

[2019-04-22 00:43] LukeTowers commented on #3064
Should be fixed in the latest build (452)

[2019-04-22 00:43] #3064 closed

[2019-04-22 00:45] LukeTowers commented on #2303
@ayumihamsaki feel free to help out @Teranode with making a fix

[2019-04-22 05:41] mittultechnobrave opened #4288 "OctoberCMS DynamicPDF plugin page wise dynamic header content"
I am using OctoberCMS [DynamicPDF][1] Plugin and its working as per my expectations.

However, I have a PDF brochure in which I want to generate my header text dynamically based on each page I generate. Here is my sample of PDF Brochure.

[![enter image description here][2]][2]

[![enter image description here][3]][3]

As you can clearly see my dynamic header text **CAPABILITIES** and **OUR TEAM**

[2019-04-22 07:09] GinoPane commented on #4086
@w20k it may help, but the default style for the image must be updated as well:

![image](https://user-images.githubusercontent.com/3897579/56488247-c8baae80-64d5-11e9-9bbe-372bc70f57bb.png)

[2019-04-22 07:18] w20k commented on #4086
@GinoPane -> remove this line as well :) Should be a fix for your case!
` style="<?= $cssDimensions ?>"`

[2019-04-22 07:40] GinoPane commented on #4086
@w20k let me get this clear, do you want me to submit a PR for this? 😄

Anyway, removing of style won't fix the issue in general, because you can easily end up with something like this, when the whole modal does not fit the screen:

![image](https://user-images.githubusercontent.com/3897579/56489466-b2aeed00-64d9-11e9-8573-3e1b189965cf.png)

So the style for image must be fixed as well. I'm not su

[2019-04-22 08:00] LukeTowers commented on #4288
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-04-22 08:01] LukeTowers commented on #4288
@mittultechnobrave how do you expect two body tags to exist in the same document??? Are you trying to have both pages display in the same PDF file?

[2019-04-22 08:03] mittultechnobrave commented on #4288
Yes .. in same PDF file .. Two body tags or multiple body tags I have based on my structure .. it will generate a new page in the same PDF.

[2019-04-22 08:25] LukeTowers commented on #4288
Two body tags is not valid HTML. Put them both in divs, then put your header into a partial and pass the text content as a partial property and render the partial twice, once for each page with the appropriate text property value passed.

[2019-04-22 08:30] mittultechnobrave commented on #4288
OK this is I have done .. I have set multiple `body' tags inside my respected `div` in my template file.
[
{% set dynami = 'CAPABILITIES' %}
{% put dynamicHeader %}
{{ dynami }}
{% endput %}

<div>
<body style="background-color: #fff;">
   <div id="content">
   Capabilities content
   </div>
</body>
</div>

{% set dynami = 'OUR TEAM' %}
{% put dynamicHeader %}
{{ dynami }}
{% endput %}
<div>
<body

[2019-04-22 08:32] mittultechnobrave commented on #4288
Do I need to add my `partial` inside my `layout` file or `template` file ?

[2019-04-22 08:35] iboved commented on #2724
Repeater still doesn't support "readOnly" option. It supports the "disabled" option, but not "readOnly".

[2019-04-22 09:51] Samuell1 commented on #4288
If you want header on every page use `position: fixed;` on it.

[2019-04-22 10:08] w20k commented on #4086
@GinoPane if you want this fix to be added :D Better to add a PR ;) Don't have time right now to deal with that.

[2019-04-22 10:11] w20k commented on #4278
@LukeTowers it was there from the version 1.x something. Probably something else in the core changed, that's more likely.

[2019-04-22 10:28] mittultechnobrave commented on #4288
I do that but I have dynamic content for each page .. Hence In next page I am able to see both the content in header.

[2019-04-22 10:49] chrisvidal opened #4289 "OC updates"
- OctoberCMS Build: 443

- PHP Version: 7.1.x
- Database Engine: Mysql 5.5

### Description:

hit the system updates button to upgrade OC version from 443 to 447.
It didnt go through due to a permission file denied error.
And now, I cant connect to the backend anymore because of this error:

[code]

### Steps To Reproduce:
upgrade from 443 to latest version

[2019-04-22 10:51] w20k commented on #4289
Use composer to upgrade - should solve your issue.

[2019-04-22 11:27] chrisvidal commented on #4289
I tried the command

[code]

but still the same error.

I dont have a composer.json at the root of the installation

[2019-04-22 11:29] w20k commented on #4289
Copy composer.json from the GitHub and run `php composer update`.

[2019-04-22 12:33] ayumihamsaki commented on #4264
Sorry my bad I was looking at the `master` branch and not the `dev` branch.

[2019-04-22 12:46] ayumihamsaki commented on #4278
Yes I've seen jQuery update some things in the core since then. I agree it's best to `disable them entirely by default`.

[2019-04-22 20:19] Corymillz opened #4291 "Why did my plugin disappear from backend after boot method?"
I am using the latest version of octobercms

Ok this is kind of driving me crazy. i tried boot method in a new plugin but it shows 'plugin has been removed from file system' even though it is still there in my files, and it is also removed from the builder list of plugins. I thought it was a problem with the new plugin and tried the boot method on my main dev plugin and I am now seeing the same th

[2019-04-22 21:05] Corymillz commented on #4291
Sorry False Alert. Just a silly curly bracket close. Seems I cant delete

[2019-04-23 00:30] chrisvidal commented on #4289
I got this error

[code]

[2019-04-23 05:11] LukeTowers commented on #4291
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-04-23 05:11] #4291 closed

[2019-04-23 05:18] LukeTowers commented on #4278
Let's have it be disabled by default but give the developer the ability to re-enable it by hooking into an appropriate event and setting the option

[2019-04-23 05:21] LukeTowers commented on #2724
@iboved feel free to submit a PR to add support or sponsor the issue so a core maintainer can fix it for you.

[2019-04-23 18:47] ayumihamsaki commented on #3856
@LukeTowers Any reason this is still open as the PR's have been merged already?

[2019-04-24 06:17] #3856 closed

[2019-04-24 10:39] nemerki commented on #2807
use File as FileHelper;

        $data=request('image');
        list($type, $data) = explode(';', $data);
        list(, $data)      = explode(',', $data);
        $data = base64_decode($data);

        $path = temp_path(md5($data)).'.png';
        FileHelper::put($path, $data);
        $assignment= Cv::find(post('cv_id'));

        $assignment->profile = $path;
        $assignment->save();

[2019-04-24 10:52] w20k commented on #4289
@chrisvidal allocate more memory? :)

[2019-04-25 02:28] huynhnamegal opened #4294 "Cannot upload image with rich editor"
- OctoberCMS Build: v452

I have uploaded images to blog with rich editor, but it did not work. But I can select any image in media strorage.

I tried to upload image in my PC.
![image](https://user-images.githubusercontent.com/20609668/56705682-2819f800-673c-11e9-8017-61b3d2fdf940.png)

Sometimes, it's 'uploading...'
![image](https://user-images.githubusercontent.com/20609668/56705723-5ef00e00-67

[2019-04-25 06:36] chrisvidal commented on #4289
I am on DigitalOcean.
I had to create a swap file memory, and install missing php-ext
it seems to be working now
thanks

[2019-04-25 06:38] Samuell1 commented on #4294
This looks like upload size limit issue.

[2019-04-25 06:41] Samuell1 commented on #4288
I think you can use partials from your CMS theme. @mittultechnobrave

[2019-04-25 07:01] huynhnamegal commented on #4294
Nope, I just upload a image with 8KB. And my server did not log this wrong

[2019-04-25 07:19] adrenth commented on #3707
Please, can we try to fix this issue with a proper solution? This code made me cry for about an hour ;-). I don't think we should add middleware like such in the constructor of a framework Base class.

[code]

Also this causes an error in my projects which are extending the base `Auth` controller:

`Closure object cannot have properties`
at modules/backend/Controllers/Auth.php line 38

----

How t

[2019-04-25 07:46] #4289 closed

[2019-04-25 11:38] ayumihamsaki commented on #3707
@adrenth feel free to create a pr to fix it, I would suggest using something like [call_user_func()](https://php.net/manual/en/function.call-user-func.php)

[2019-04-25 17:30] LukeTowers commented on #3707
@adrenth why shouldn't middleware go in the constructor? Isn't that where it's supposed to live? How is this causing issues for you?

[2019-04-25 18:05] ayumihamsaki commented on #4052
@w20k @LukeTowers Whats the status of this issue, I'm seeing this error every single time I do a refresh of the web page while I'm building some plugins (current version 452). I thought this issue was fixed a few months ago, but seems to be still here. Seems to be slowing down the loading of the backend web pages?

[2019-04-25 18:47] LukeTowers commented on #4052
Which one @ayumihamsaki? There were a lot discussed in this thread. The backface visibility fixes the icons not showing up until hover and that is working AFAIK

[2019-04-25 19:35] ayumihamsaki commented on #4052
When I do a refesh of the backend I see this screen:

![untitled](https://user-images.githubusercontent.com/17784082/51086266-88140200-173c-11e9-83f0-d31ba4101bd6.png)

The top menu items on the right do not show straight away and the left column is very large. The web page takes around 10 -13 seconds to load and then the web page displays. It does this when I try to refresh the screen (not loadin

[2019-04-25 19:38] ayumihamsaki commented on #4052
When I do a refesh of the backend I see this screen:

![untitled](https://user-images.githubusercontent.com/17784082/51086266-88140200-173c-11e9-83f0-d31ba4101bd6.png)

The top menu items on the right do not show straight away and the left column is very large. The web page takes around 10 - 13 seconds to load and then the web page displays. It only does this when I try to refresh the screen. If I

[2019-04-25 21:43] LukeTowers commented on #4052
@ayumihamsaki please open a separate issue for that with as much information as you can gather on the problem

[2019-04-26 06:50] netsmertia commented on #2889
I think the whole discussion was moved to another direction.
I also using the great octobercms to build my application and need to add a `Total` row at the end of `lists` inside a relation.
I have following setup to show order items inside a order form (update.htm) using `relationController`

[code]
The lists is not using the partials at `order_item_list` folder. Also I don't have controller for `

[2019-04-26 07:26] seanthepottingshed commented on #4175
@w20k @bennothommo

Sorry for massive delay in getting back to you guys, been on Easter holidays, will definitely get back onto this once I've caught up with client work. Thanks as always!

[2019-04-26 07:39] bennothommo commented on #4175
@seanthepottingshed Sounds good, and not a problem! You'll need to test it against the October `develop` branch now, as the repeater fixes are all merged.

[2019-04-26 08:38] seanthepottingshed commented on #4175
@bennothommo

Sexytime!

[2019-04-26 09:18] GinoPane commented on #4052
I saw it recently too when I installed a new plugin

[2019-04-26 11:00] GinoPane opened #4295 "Themes page shows non-relevant data sometimes"
- OctoberCMS Build: 452
- PHP Version: 7.1

Running under Docker on MacOS.

### Description:
The latest release has this update:

via https://github.com/octobercms/october/pull/4270

And it seems to me that it causes this:

![image](https://user-images.githubusercontent.com/3897579/56803231-0727d480-681a-11e9-963b-b7691f82c56d.png)

Different themes installed, but all listed under the same name, d

[2019-04-26 11:13] Samuell1 commented on #4295
Its fixed later https://github.com/octobercms/october/commit/0fdd3c32cb5feaf71e8202d9ebf776169e2110b4

[2019-04-26 11:19] GinoPane commented on #4295
@Samuell1 cool, let's see if it helps

[2019-04-26 13:48] bkrajendra commented on #3227
i can also donate something ... this is really needed feature for OC.
Currently Im using Passport on separate server instance for oAuth purpose.

Also it will be great if we can make OC easily adaptive to Laravel plugins as there are many plugins which are great to add new functionalities. I understand its still possible by implementation our own plugin and then using Laravel plugin with some modi

[2019-04-26 13:51] bkrajendra commented on #3227
I guess @LukeTowers has already initiated something but its not complete yet
[https://github.com/LukeTowers/oc-passport-plugin](https://github.com/LukeTowers/oc-passport-plugin)

[2019-04-26 15:45] ayumihamsaki commented on #4052
I'm thinking there are two small issues here:

## Sidebar Issue

I think to stop the sidebar from starting an extra large size and then re-sizes down just add the following css code:

[code]

into

[code]

Need to double check the max width size if it is `120px` or `150px` I can't remember ?

## Top Menu Bar Issue

I think this is an issue in the javascript code and nothing to do with any css or p

[2019-04-26 16:43] LukeTowers opened #4297 "Slack vs. Discord"
Current OctoberCMS uses Slack for our community discussions and support. There has been interest expressed in switching to Discord, considering the main limitation of Slack requiring paid plans to retain history (which just isn't feasible for our community).

OctoberCMS has a Discord right now, but it's not really utilized by anyone much yet: https://discord.gg/MM3ezTZ.

Vote for your preferred pl

[2019-04-26 16:55] bennothommo commented on #4297
We could also try Mattermost - https://mattermost.com.
Pretty much a carbon copy of Slack, but is available as open source with no history limitations that I can see.

[2019-04-26 16:56] eightygrit commented on #4297
Might be a useful link: https://stackshare.io/stackups/discord-vs-gitter-vs-slack

Also, here's [the relevant slack thread](https://octobercms.slack.com/archives/C09864473/p1556296311170400) on this topic.

[2019-04-26 17:03] eightygrit commented on #4297
Might as well throw Gitter into the conversation too.  https://gitter.im/

[2019-04-26 17:15] LukeTowers commented on #1698
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-26 17:15] #1698 closed

[2019-04-26 17:29] LukeTowers commented on #3068
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-26 17:29] #3068 closed

[2019-04-26 17:45] eightygrit commented on #4297
## Discord

The more I look at it, the more I don't like it. It's gamer-centeric, which is fine, but not what this community is about. As was noted in the slack thread, the UI is a bit of an eyesore.

On the plus, it is popular, and that could lead to increased engagement.

## Mattermost

I love it. Great UI. FOSS. But someone does have to host it. It's a minimal expense, but also one more thing f

[2019-04-26 17:57] LukeTowers commented on #3227
This will come this summer as a part of the move to Laravel 5.9

[2019-04-26 18:08] LukeTowers commented on #4295
@GinoPane can you report back after testing that commit?

[2019-04-26 18:09] LukeTowers commented on #4052
@ayumihamsaki please submit a separate issue for each issue. This issue was originally only for the SVG icons disappearing.

[2019-04-26 19:08] GinoPane commented on #4295
@LukeTowers  will do

[2019-04-26 21:31] amdad commented on #4297
We need 2 things. Unlimited free history/search. And code oriented syntax would be also very welcome.

Mattermost can be self hosted. Independent, but that means also generate a COST. Time and money.

So I think Gitter would be the weapon of choice. BUT GRAV was on gitter then moved to Slack then moved to Discord. So? Maybe Discord will be best. It looks best when it comes to UX at least.

I would

[2019-04-26 22:48] ayumihamsaki commented on #4052
@LukeTowers Ok I will open up another github issue. I think the bug I am seeing is not the same as the original problem in this issue.

[2019-04-26 23:00] ghost opened #4298 "Top menu loading issue when doing a refresh in the backend"
- OctoberCMS Build: 452
- PHP Version: 7.3.4
- Database Engine: Mysql
- Plugins Installed: Many over 100

### Description:

When I do a refesh of the backend I see this screen:

![issue](https://user-images.githubusercontent.com/17784082/56840347-007f7880-687f-11e9-879e-f23a98ea5d0e.png)

The top menu items on the right do not show straight away and the left column is very large. The web page take

[2019-04-26 23:01] ayumihamsaki commented on #4298
As per comment: https://github.com/octobercms/october/issues/4052#issuecomment-487150143

[2019-04-28 10:49] amdad commented on #4297
Check this out https://getgrav.org/blog/chat-moving-to-discord

[2019-04-28 18:26] ayumihamsaki commented on #3867
Waiting for Modernizr to reply to my github issue because I found a code typo error in one of their files which October CMS uses, so I want to fix their error before updating the javascript file. Note the current version we have will also have this error.

If there `domPrefixes.js` file they write `omPrefixes` and not `domPrefixes`

[2019-04-28 18:27] ayumihamsaki commented on #3867
Waiting for Modernizr to reply to my github issue because I found a code typo error in one of their files which October CMS uses, so I want to fix their error before updating the javascript file. Note the current version (3.6.0) we have will also have this error.

In there `domPrefixes.js` file they write `omPrefixes` and not `domPrefixes`

[2019-04-29 07:57] tobias-kuendig opened #4300 "File upload widget handler is running too many times"
Using the [test plugin](https://github.com/octoberrain/test-plugin):

1. Navigate to Playground -> Posts
1. Click on a post to edit it
1. In the Galleries tab, create a new gallery
1. Upload a single image
1. Hit save

Expected: The image is uploaded once.

Effective result: The image is uploaded three times.

The [`checkUploadPostback` method](https://github.com/octobercms/october/blob/master/mod

[2019-04-29 09:52] cheb60 commented on #4264
# @LukeTowers Is it possible that this bug can be marked as Priority: high? This bug will cause many plugins to fail with the  rich-editor formwidget. User will not be able to upload files or images in the rich-editor. I'm also trying to fix this bug.

[2019-04-29 10:03] GinoPane commented on #4295
@LukeTowers though I'm not 100% confident with this, but it looks like that the issue was fixed.

[2019-04-29 15:23] webstylecenter commented on #4264
@cheb60 As a workaround, users can upload images if they hit the browse button and upload a new image in the popup window. It's far from perfect so a bug fix is needed asap.

[2019-04-29 16:09] mjauvin commented on #4300
What version of october core are you using? Rainlab.Translate plugin installed or not?

[2019-04-29 16:19] Samuell1 commented on #4297
I recommend reading this: https://reactjs.org/blog/2015/10/19/reactiflux-is-moving-to-discord.html?utm_source=tuicool

[2019-04-29 16:43] mjauvin commented on #4300
Ok, was able to reproduce this with latest october develop...

[2019-04-29 16:48] mjauvin commented on #4300
Just tested the same with octobercms/october MASTER branch and the bug does not happen.

[2019-04-29 17:25] mjauvin commented on #4300
I identified commit 5190c8177bbb6531836ad8fa8458111361a35608 to be causing the problem.

need to investigate further.

[2019-04-29 17:30] mjauvin commented on #4300
@bennothommo @w20k do you see anything in that commit that would cause this issue?

[2019-04-29 17:56] LukeTowers commented on #4300
@mjauvin it's the removal of https://github.com/octobercms/october/commit/5190c8177bbb6531836ad8fa8458111361a35608#diff-1ed71bcf1b00cec1209c03574555ff54L432.

We need to add better filtering to the checkUploadPostback to fix the check done here: https://github.com/octobercms/october/commit/5190c8177bbb6531836ad8fa8458111361a35608#diff-1ed71bcf1b00cec1209c03574555ff54R365 so that it truly is unique

[2019-04-29 18:02] LukeTowers commented on #4264
@bennothommo can you take a look at this?

[2019-04-29 18:03] #4295 closed

[2019-04-29 20:09] mjauvin commented on #4300
@LukeTowers Any idea why/how checkUploadPostback() is being called 3 times for one upload action in the first place?

[2019-04-29 21:51] VoroninWD commented on #4278
@LukeTowers, I disabled events by default. Documentation is ready. What else is needed?

[2019-04-29 23:38] bennothommo commented on #4264
@LukeTowers will do.

[2019-04-30 00:30] LukeTowers commented on #4300
@mjauvin because it's called from the `init()` method of the widget, and every widget for a request is initialized on that request.

[2019-04-30 00:31] LukeTowers commented on #4278
It's potentially a breaking change so it'll go in the next build when the current builds go stable

[2019-04-30 03:09] bennothommo commented on #4264
PR here: #4302

[2019-04-30 05:00] LukeTowers commented on #4264
@cheb60 @webstylecenter @ayumihamsaki could you please test #4302?

[2019-04-30 05:31] cheb60 commented on #4264
@LukeTowers @bennothommo Thank you. I just checked the PR. When I upload an image it says invalid security token in the response (403). You can see the image in the richeditor but after that it dissapears. It does not work yet.

[2019-04-30 05:38] bennothommo commented on #4264
@cheb60 Would you be able to confirm that the "_token" key was sent in the post data when uploading a file or image directly in Froala?

[2019-04-30 06:29] daftspunk commented on #4264
This should be fixed in 3e5449c8550c6ea7d0d17062c46506c1078f8954

[2019-04-30 06:29] #4264 closed

[2019-04-30 10:06] joseph-d opened #4303 "Scrolling lists not possible from list area on mobile"
As per the discussion https://github.com/octobercms/october/commit/ec2a0d5fb04088abb9c488d9593a9394420971b0#r33356776 here are two GIFs that illustrate the issue occurring on mobile Chrome and Firefox. The GIF itself has been made on Desktop Chrome in mobile debug mode but is faithful to what is actually happening on mobile Chrome:

Build 447

**Unable to scroll by touching and dragging in the mai

[2019-04-30 10:10] w20k commented on #4303
@joseph-d could you create a PR (compile assets as well), please ;) And will do the merging!

[2019-04-30 10:36] joseph-d commented on #4303
Sure, I'll give it a go. I've never done a PR for LESS/CSS files before so can you tell me how I should proceed? Can I just edit `less/list.less` and `storm.css` within GitHub and create the PR from that, or do I need to clone the whole repo to my local machine, physically recompile less and then push and submit the PR?

If it's the latter, is there any guidance about the version of LESS and the c

[2019-04-30 10:44] w20k commented on #4303
@joseph-d let's do a GitHub approach. Just edit the .less file and make a PR out of it. Storm.css shouldn't be directly changed anyhow.

And if you have free time :)
1. Clone a dev branch
2 Make your changes for `less/list.less`
3. Run artisan command (`php artisan october:util compile less`)
4. Push those changes to your forked repo, then create a PR for Dev branch

[2019-04-30 12:33] joseph-d commented on #4303
@w20k Ok, thank you for your guidance. I did it the hard way as a learning exercise. I think it's correct but please let me know if I did anything wrong. :-)

[2019-04-30 12:37] w20k commented on #4303
@joseph-d thanks a lot for your contribution! ;) All good!

[2019-04-30 12:38] joseph-d commented on #4303
Glad to hear it :-) Thank you again for your patience and guidance.

[2019-04-30 12:38] #4303 closed

[2019-04-30 14:22] obuchmann commented on #4268
I can confirm this bug.
It happens for mode: time and mode: datetime too for the time part of the widget.

[2019-04-30 14:30] cheb60 commented on #4294
Duplicate of #4264

[2019-04-30 15:07] #4294 closed

[2019-04-30 17:20] mjauvin commented on #4300
The bug only shows up if the attachMany field is in a popUp form (so AJAX handlers).

[2019-04-30 18:01] mjauvin commented on #4300
I really don't get where those 2 extra init() calls are coming from... there is only one FileUpload widget on that form

[2019-04-30 18:45] LukeTowers commented on #4300
Hmm, maybe the widget is getting initialized in multiple places

[2019-05-01 06:01] tobias-kuendig commented on #4300
When I was looking into the issue I found that the widget somehow also is initialized via the `relationRender` calls.

[2019-05-01 09:53] bennothommo commented on #4300
A potential fix may be to remove the temporary file after it is converted into a file model, and adding a check in subsequent calls to see if that temporary file exists - skipping processing the request if it does not.

[2019-05-01 14:30] mjauvin commented on #4300
@bennothommo I tried your suggestion even though I know this would not get accepted as a solution (I think we need to find out why the formwidget gets inititialized 3 times)... it solves the problem of the file being added 3 times to the Model, but there is a second problem happening when UPDATING an existing model record which this "fix" does not solve:

[code]

[2019-05-01 14:38] mjauvin commented on #4300
Anyone has an idea on why this breaks when handled from a Popup form and not when handled by a regular create view with the same model/file upload widget!?

[2019-05-01 14:40] mjauvin commented on #4300
You can see the [unbroken] bahavior when using the "Users" menu of the same test demo and uploading images from the Single and Multiple Image tabs

[2019-05-01 14:59] bennothommo commented on #4300
@mjauvin I'd say the relation form has its own initialisation process on top of the main form initialisation. AJAX calls also tend to refresh the widgets and forms they are related to, which usually involves running initialisation again.

[2019-05-01 15:07] mjauvin commented on #4300
This is way over my head, I'll leave this to someone more familiar with all
this initialization mess... ;)

On Wed, May 1, 2019 at 10:59 AM Ben Thomson <notifications@github.com>
wrote:

--
Marc

[2019-05-01 15:35] ayumihamsaki commented on #4297
Hi I would like to offer two different solutions:

## Telegram

Telegram is probably the most popular messaging tool for websites that want to create channels for their users to talk and discuss things! I would suggest create and using a Telegram channel for October CMS. I believe you can have up to 50,000 users per channel.

## Arrowchat

A few years ago I bought their software and have a full li

[2019-05-02 04:25] LukeTowers commented on #4300
@bennothommo do you feel up to the task?

[2019-05-02 04:36] bennothommo commented on #4300
@LukeTowers nope :P. Jokes, I'll add it to the list.

[2019-05-02 06:33] robinbonnes commented on #3158
This works, however not if you search in the list filter, it returns:

[code]

For now i've "fixed" this by hiding the search field:

/Plugin.php -> boot():
[code]

/assets/css/custom.css:
[code]
Where "user" is the name of the scope.

[2019-05-02 08:42] Balex70 commented on #3371
Got the same issue. The weird thing that it was working before, and in one day I got this error:
[code]

[2019-05-02 09:50] lautsevich opened #4306 "Bundle card pulls the plugin banner instead of the icon"
The card of a bundle includes the icons of attached plugins. But in some of my bundles, there's a banner of them the plugin instead of the icon.

Let's look at the card. First goes the Sneakers shop theme banner, then the Shopaholic plugin icon and then the Good News plugin banner.  Why?

![image](https://user-images.githubusercontent.com/196445/57067632-3639bc80-6cd8-11e9-8cd9-215540793194.png)

[2019-05-02 11:05] lautsevich opened #4307 "Add a list of optionally supported plugins in theme.yaml"
Hi.

By developing themes for October CMS websites you must list required plugins in the `theme.yaml` file. But themes can support some other plugins as an available option. So it can be very useful to add to the `theme.yaml` file a new block with the list of optional dependencies, e.g.:

[code]
And the optional plugins will show on the theme page in the marketplace like the required plugins.

![i

[2019-05-02 11:18] lautsevich opened #4308 "Make theme translations available under the themes.themecode::lang namespace in the backend translation system"
October CMS doesn't support the themes internationalization at the moment. I mean that you can't add more than one (default) language to the theme settings screens. It's an unsolvable issue for the development of the themes for the international market.

We at LOVATA just started to develop themes for our Shopaholic. And we plan to add a huge amount of themes to the marketplace in the near future.

[2019-05-02 11:37] lautsevich opened #4309 "Themes auto-update"
Current October CMS functionality doesn't' support auto updates of the themes. It matters when we talk about simple and primitive themes implying additional development or customization for their use.

But what about talking about production ready themes?

We at LOVATA just released our first paid theme [Sneakers](https://octobercms.com/theme/lovata-shopaholic-sneakers), which is absolutely ready

[2019-05-02 11:45] lautsevich opened #4310 "Add ID's to the block headers on the plugin/theme/bundle pages in the marketplace"
It will be useful to refer to the required plugins, supported themes, etc. in the product description by adding anchor links to these blocks headers.

![image](https://user-images.githubusercontent.com/196445/57073013-68531a80-6ce8-11e9-8422-f5feda20b475.png)

![image](https://user-images.githubusercontent.com/196445/57073021-71dc8280-6ce8-11e9-9841-bba2a136aaa5.png)

![image](https://user-images.

[2019-05-02 11:49] bennothommo commented on #4309
@lautsevich Do you have any thoughts on how auto-updates will work with themes that have had custom modifications? I would imagine a lot of people generally make changes to themes that they download or purchase - for example, to match their branding requirements or adjust layouts.

[2019-05-02 13:16] lautsevich commented on #4309
@bennothommo, when we talk about a complex theme with a huge list of functionality we can assume that it covers all of the common needs. Of course, every theme should be customized following the brand guidelines.

As for our first theme, it doesn't have such an option to change the colors at the moment (it will be added in the coming releases). But such an option is presented in [TechMarket](https

[2019-05-02 16:54] alxy commented on #4300
I have found an alternative fix, and that is to rework the FileUpload widget to use an ajax event handler for the uploading, see https://github.com/octobercms/october/pull/4311

[2019-05-02 18:58] w20k commented on #4308
I don't think theme by itself would ever have more than one default language, but the setting page should be translatable, somehow.

[2019-05-02 19:13] lautsevich commented on #4308
@w20k, in this issue I've opened the discussion only regarding the theme settings screens in the backend (admin dashboard). It's very strange to set up language settings in the backend to Arabic, for example, and see theme settings screens on English.

[2019-05-02 19:15] lautsevich commented on #4308
As for theme localization, it's another issue and it can be managed with the current functionality.

[2019-05-02 19:22] lautsevich commented on #4297
I'd prefer Slack at the moment just because of overwhelming by chat apps. By the way, as for Telegram, there are two chats with October CMS developers:
- https://t.me/octobercms_rus - Russian speaking community (350+ users), but I think when more English speaking folks will join the chat, the locals will speak English more often! =)
- https://t.me/octobercms - English and Portuguese speaking commu

[2019-05-02 19:30] sqwk commented on #3068
This still occurs in build 447. To reproduce, remove all image classes from Settings > Editor settings > Markup classes.

[2019-05-02 20:38] w20k commented on #3068
Could you try in the dev build?)

[2019-05-03 02:46] corepay opened #4312 "Postgres - Builder exception on auto-increment integer fields"
- OctoberCMS Build: 447
- PHP Version: 7.34
- Database Engine:  PostgresSQL 11
- Plugins Installed: Builder

### Description:

![image](https://user-images.githubusercontent.com/48992923/57117777-ad00a500-6d2c-11e9-952a-c960e2631559.png)

CLICK SAVE

![image](https://user-images.githubusercontent.com/48992923/57117834-f224d700-6d2c-11e9-857f-8e6f8a14c57e.png)

### Steps To Reproduce:

Fresh instal

[2019-05-03 02:57] corepay commented on #4312
UPDATE:  I tried to workaround by just adding a string field and not selecting auto-increment or pk planning on fixing the migration file by hand to suit my requirements and still get the same error

![image](https://user-images.githubusercontent.com/48992923/57117939-ae7e9d00-6d2d-11e9-8328-3da454f53096.png)

[2019-05-03 03:19] corepay opened #4313 "BOOLEAN requires an integer - does not accept true/false default values"
- OctoberCMS Build: 447
- PHP Version: 7.32
- Database Engine: MySQL 5.7
- Plugins Installed: Builder

### Description:

Error when adding default value of false or FALSE as default value

![image](https://user-images.githubusercontent.com/48992923/57118358-b3911b80-6d30-11e9-81a3-4fe883de6854.png)

Boolean fields require an integer when they should accept values as per SQL standard  – TRUE, FALSE

[2019-05-03 03:25] bennothommo commented on #4313
@corepay In MySQL, the `boolean` is a synonym for `tinyint(1)`, so the default has to be specified as either `0` or `1` to fit the data type.

[2019-05-03 06:10] #4313 closed

[2019-05-03 06:14] bennothommo commented on #4312
@corepay This is a known issue. See: https://github.com/rainlab/builder-plugin/issues/212

[2019-05-03 06:14] #4312 closed

[2019-05-03 07:10] Fl0Cri commented on #3068
Still occurs on the develop branch.

Compared to my initial post long time ago, now the image can be added by browsing the media gallery using the "Insert Image" button of the RichEditor.

There is still an error in the console and the image's toolbar cannot be displayed but at least when saving it is realy saved.

However the upload image still doesn't work.

[2019-05-03 07:57] bennothommo commented on #4300
@tobias-kuendig Could you give @alxy 's PR #4311 a test when you get a chance?

[2019-05-03 10:55] ayumihamsaki commented on #4297
@lautsevich Thanks for info just added it to the wiki page in this repo, but needs to be added to the octobercms website found here: https://octobercms.com/support

[2019-05-03 11:13] GinoPane commented on #4309
Yes, themes should be updatable somehow.

Because currently new theme versions make sense only for those who install the theme from scratch.

Also, october's `placeholder` and twig's tags for extending/overriding may allow to build customizable themes with almost no changes to its core files.

[2019-05-03 11:15] GinoPane commented on #4308
It can, but it is rather painful.

I think that theme internationalization is doable. To be honest, I was looking for lang files in themes directories before, because I was sure they should be there :)

[2019-05-03 11:20] ghost opened #4315 "Add Telegram Channels information to the OctoberCMS Support web page"
Add the following info to the right hand sidebar menu:

- **Telegram**: https://t.me/octobercms_rus - Russian speaking community.

- **Telegram**: https://t.me/octobercms - English and Portuguese speaking community.

At the following web page: https://octobercms.com/support

See screenshot:

![Untitled](https://user-images.githubusercontent.com/17784082/57134314-b0804480-6d9d-11e9-9411-fffc5ff48dd

[2019-05-03 12:17] lautsevich commented on #4297
@ayumihamsaki, thx!

[2019-05-03 23:05] ayumihamsaki commented on #3867
Custom Build Code for Modernizr for October CMS Backend:

https://github.com/octobercms/october/wiki/Modernizr-Custom-Build-Code

[2019-05-04 11:34] tobias-kuendig commented on #4049
I just had the same problem using the installation wizard.

After the installation, the `database.php` config is the stock one and the migrations did not run. Everything without the slightest trace of an error message.

[2019-05-04 12:40] ayumihamsaki opened #4318 "Question: Good idea to merge Forms and emails plugins together?"
This is a question, just been using the plugins section on the website and trying to find a "Newsletter Email Form" plugin.

It's a bit of a pain having two sections:

- Contact Form
- Email

Would it not just better to merge them together under the one heading:

- Email & Forms

It would make it easy to search.

I am talking about the website:

https://octobercms.com/plugins/contact-form
https://

[2019-05-04 17:15] LukeTowers commented on #4318
It's already easy to search, just search using the search bar. Email related plugins are not always related to forms and vice versa.

[2019-05-04 17:15] #4318 closed

[2019-05-04 17:16] LukeTowers commented on #4049
@tobias-kuendig could you make an issue in their repo for that?

[2019-05-04 17:28] LukeTowers commented on #4309
The final solution to this would be introducing the concept of child themes in October where every single aspect of the parent theme can be overridden by the child theme. Until that happens, updating themes through the backend can't happen

[2019-05-04 17:31] LukeTowers commented on #4313
@BennoThommo I believe laravel handles that when you pass true vs false into the default() method so the builder plugin should probably support that too

[2019-05-04 17:33] LukeTowers commented on #3371
What plugins do you have installed @balex70?

[2019-05-04 17:51] mohammadmojrian commented on #3371
@Balex70 try this:
[code]

[2019-05-05 05:41] bennothommo commented on #4313
@LukeTowers You're correct, however, currently the Builder plugin adds `true` and `false` as strings if entered in as the default value in the datatable. It would be an improvement if it could handle those values correctly - I'll add it as a "good first issue" for the Builder plugin.

[2019-05-05 06:00] bennothommo commented on #4313
@corepay If you're interested in allowing true and false as a default value in the database builder of the Builder plugin, please feel free to contribute a PR to the following issue: https://github.com/rainlab/builder-plugin/issues/280

[2019-05-05 10:11] ayumihamsaki commented on #2303
Hi, I have updated Modernizr, see my PR to allow support `vw` and `vh`, this may help this issue and pr, please see my commit here: https://github.com/octobercms/october/pull/4316/commits/5e5f19381457d5c9990863353db118753aafdde5

[2019-05-05 12:41] corepay commented on #4313
Thank you for the attention.  Cant help with a PR however, not a developer...just an architect that knows just enough about coding to be annoying.

Very much appreciate your hard work though.

[2019-05-05 13:19] bennothommo commented on #4313
@corepay Not a problem. Thank you for the report! :)

[2019-05-05 21:10] sidealice opened #4319 "Email smtp return 503 error that need RCPT command"
- OctoberCMS Build: 4.4.7
- PHP Version: 7.1

if config with qq mail server with smtp return error:
Email smtp return 503 error that need  RCPT command

exmail.qq.com is the biggest email provider in China, suggest to check if we need to fix it.

[2019-05-06 05:08] w20k commented on #4319
@sidealice either you could provide a PR to implemment/fix this, or help and support someone who is willing to help you out :) Not enough Chinese speakers here)

[2019-05-06 05:16] tobias-kuendig commented on #4049
I feel like this is a "wont fix" kind of issue. laravel-valet needs some tweaking to even work with October and it literally *changes* the server config during the install based on the files that exist in the directory.

[2019-05-06 05:32] tobias-kuendig commented on #4300
I can confirm PR #4311 solves the issues I was experiencing. Great work, @alxy :+1:!

[2019-05-06 06:41] bennothommo commented on #4319
I believe SMTP 503 is an authentication error. @sidealice would you be able to double check your mail config and ensure its using the correct username and password?

[2019-05-06 14:07] LukeTowers commented on #4308
Theme language files exist: https://github.com/rainlab/translate-plugin#message-translation

And you can easily add language files to an accompanying file to have translations for the settings items.

[2019-05-06 23:31] drmzio commented on #4309
@LukeTowers I agree.

Coming from WordPress, child themes make it easy to overwrite theme code without modifying the actual theme itself.

[2019-05-07 05:22] LukeTowers commented on #4049
I'm not sure I understand. Valet is actively changing October's core files during installation? Why on earth would they do that?

[2019-05-07 05:25] jimcottrell commented on #4057
@LukeTowers I agree that's necessary, but I'd argue that we should go a step further for code to work with the memory cache the same in queue workers as in normal page requests. I hadn't actually realized the `MemoryRepository` was sitting in front of the cache driver by default until I started digging into why a job syncing data to a third party from a queue worker wasn't expiring a cached OAuth

[2019-05-07 05:33] LukeTowers commented on #4057
@jimcottrell I would say that it's worth disabling the memory cache layer in a CLI context, the original problem that layer was implemented to solve isn't really a big deal in CLI applications so it should be safe to just outright disable it. We could also take it one step further and have the default value be `null` which would have that behaviour as described but still enable developers to choos

[2019-05-07 05:41] jimcottrell commented on #4057
@LukeTowers Yeah, the more I think about it, the more I think it probably just isn't worth it in a CLI context by default. I like the null/true/false config. 99% of users will probably leave it the default `null`, and we can add some extra documentation by the config item that if it's explicitly enabled, you should be prepared for the effects on queue workers and long-running console commands.

[2019-05-07 05:42] LukeTowers commented on #4057
Go for it @jimcottrell

[2019-05-07 06:05] tobias-kuendig commented on #4049
:grin: No...

Valet uses "Drivers" to detect what App/CMS is served:
https://laravel.com/docs/5.8/valet#custom-valet-drivers

The drivers check to see if certain files exist (`app` or `wp-admin` folders) and then redirect everything to `public/index.php` or `index.php` or whatever the app requires.

While running the install wizard, no app is detected. But as soon as the installer unzips October's

[2019-05-07 07:22] PubliAlex commented on #4144
Can confirm that bug, just wanted to post the bug report and found that post.

A quick fix by waiting an official october update is to put the field as not hidden in form field definition, and directly hide it in filterFields. For example :

        myfield:
            label: My field
            span: auto
            dependsOn:
                - myotherfield
            type: text

        publ

[2019-05-07 07:28] w20k commented on #4144
@PubliAlex do you use the latest dev build or stable?

[2019-05-07 08:04] PubliAlex commented on #4144
I'm on the latest stable (447)

[2019-05-07 12:19] Balex70 commented on #3371
@LukeTowers I have installed: RainLab.User, RainLab.UserPlus, RainLab.Location, RainLab.Notify
@mohammadmojrian The problem is that site was installed by another developer via installer, so I can't do "composer dump".
Anyway, looks like this error related with this https://github.com/rainlab/notify-plugin/issues/10 issue on Rainlab.Notify plugin. Method findInPaths can't find "welcome" template wh

[2019-05-07 14:03] LukeTowers commented on #4144
I'm not sure we're going to remove that check that prevents `hidden: true` fields from being saved, but you can achieve the results you want by using https://octobercms.com/forum/post/usage-of-hidden-form-field#post-17502

[2019-05-07 14:07] LukeTowers commented on #4049
@tobias-kuendig then we can make a change to the OctoberCMS driver for Valet. Do you know where that lives? We could also make a change to the installer to detect the failure of AJAX requests.

[2019-05-07 14:28] tobias-kuendig commented on #4049
October currently is suppored via the [BasicValetDriver](https://github.com/laravel/valet/blob/master/cli/drivers/BasicValetDriver.php) (looks for a index.php). We would have to break it out into it's own Driver to make a change. I don't see this getting merged. The only working solution that comes to mind would be to not redirect as long as there is an `install.php` file present.

We have to keep

[2019-05-07 15:41] LukeTowers commented on #4049
@tobias-kuendig they already have drivers for a lot of other platforms. If we couple it with better error messages and https://github.com/octobercms/october/issues/4274 I don't see why it wouldn't be accepted.

[2019-05-08 21:26] ayumihamsaki opened #4326 "Backend Forms Enhancement Idea: Character Counts Feature"
## Background

I have been adding the following jQuery compatible code to the `textarea` and `text` fields in October's backend, see gif screenshot:

![oct](https://user-images.githubusercontent.com/17784082/57303929-41288e80-70d6-11e9-84e0-5cad99a62f43.gif)

In the above animated gif, the `textarea` has a character limit of 300 characters.

## Benefits

The reason I add this feature to some of th

[2019-05-08 23:25] LukeTowers commented on #4326
This could be implemented as a plugin

[2019-05-09 08:27] #4133 closed

[2019-05-09 08:27] #4192 closed

[2019-05-09 08:27] #4223 closed

[2019-05-09 08:27] #4253 closed

[2019-05-09 08:27] #4260 closed

[2019-05-09 08:27] #4085 closed

[2019-05-09 08:27] #4118 closed

[2019-05-09 08:27] #4155 closed

[2019-05-09 08:27] #3707 closed

[2019-05-09 08:27] #4076 closed

[2019-05-09 08:27] #4114 closed

[2019-05-09 08:27] #3301 closed

[2019-05-09 08:27] #3983 closed

[2019-05-09 08:27] #4168 closed

[2019-05-09 08:27] #4183 closed

[2019-05-09 08:27] #4210 closed

[2019-05-09 08:27] #4117 closed

[2019-05-09 08:27] #4209 closed

[2019-05-09 08:27] #4224 closed

[2019-05-09 08:27] #2168 closed

[2019-05-09 08:27] #4255 closed

[2019-05-09 08:27] #3208 closed

[2019-05-09 08:27] #3762 closed

[2019-05-09 08:27] #4237 closed

[2019-05-09 08:27] #4265 closed

[2019-05-09 08:27] #4271 closed

[2019-05-09 08:27] #4078 closed

[2019-05-09 08:27] #4149 closed

[2019-05-10 08:32] kojaktaha commented on #4184
I have the same Error when trying to install JWTAuth from Vdomah

`"Method diffInRealSeconds does not exist." on line 96 of /home/codere5/gtd.coderepublic.net/vendor/laravel/framework/src/Illuminate/Support/Traits/Macroable.php`

I cant install any other plugin after that unless I delete this plugin cuz i get this error when ever I access the market from the backend

It is really unique to this on

[2019-05-10 11:56] seanthepottingshed opened #4327 "Repeater Group indexes not being updated when Repeater Group orders are changed via Widget"
- OctoberCMS Build: `454`
- PHP Version: `7.1.27`
- Database Engine: `mysql`
- Plugins Installed: `RainLab.Pages`

### Description:

Changing order of **Repeater Groups** doesn't change indexes when submitting POST Data for validation.

### Steps To Reproduce:

- Install `RainLab.Pages` plugin
- Install the following PR: https://github.com/octoberrain/test-plugin/pull/68
- Create a new page with a

[2019-05-10 18:55] agraddy commented on #4309
I'm just getting up to speed on October and I know this has come up before but it seems like the major issue is that content is tied to themes.

I don't think child themes is the proper way to fix this issue (although child themes would be a great addition). I think separating content from themes is the proper way to fix this issue.

So for example, right now my understanding of a typical site str

[2019-05-10 19:11] GinoPane commented on #4309
@agraddy this is all because OctoberCMS is mostly a flat-file CMS. There's a current work in progress regarding moving of the content into DB instead of keeping data in files. So this will resolve your concerns.

[2019-05-10 20:13] agraddy commented on #4309
@GinoPane this isn't a flat-file issue. It is a directory structure issue that combines themes and content under one directory. If the directories were structured differently, then it would still be a flat-file CMS but themes (layout and design) would be able to be updated independently of content and pages.

To my knowledge, the work in progress of moving the content to the DB won't fix the issue

[2019-05-10 20:18] GinoPane commented on #4309
@agraddy Ah, ok, I see your point. Sounds reasonable.

[2019-05-11 00:00] LukeTowers commented on #4309
@agraddy I don't see us moving away from tying the theme content to the theme itself any time soon. A lot of the content stored in a theme is dependent on the theme itself; and in the real world sites change their themes completely very rarely.

All that to say, I'm still convinced that auto updating themes will require child themes before they can exist - and where you put your content has nothin

[2019-05-11 00:10] LukeTowers commented on #4327
@bennothommo could you look into this?

[2019-05-11 00:11] LukeTowers commented on #4184
@kojaktaha see

[2019-05-11 00:11] #4184 closed

[2019-05-11 00:37] agraddy commented on #4309
@LukeTowers thanks for the quick response! I'm impressed with how quickly you stay on top of the Github issues.

I realize I'm asking a lot here and you probably have a lot of other things on your plate, but I don't really understand this. Would it be possible for you to provide an example?

When I'm referring to theme, I'm referring to layout and CSS styling. I'm not aware of too many situations

[2019-05-11 01:41] bennothommo commented on #4327
@LukeTowers will do

[2019-05-11 04:35] LukeTowers commented on #4309
@agraddy

CMS Pages, Partials, & Meta information (menu structure) are all dependent on the theme that they are implemented in the majority of the time.

This feels like it's mostly ancedata coming from both of us, but in my experience clients aren't the ones actually changing out the themes, they're paying their developers to take care of that for them.

The idea behind a child theme (as I see it

[2019-05-11 07:28] agraddy commented on #4309
@LukeTowers Thanks again for the detailed and respectful response. I appreciate projects that have a clear direction and a welcoming community. I think you all have done a great job at that here in the October community. I think the direction you described indicates that this project is not a good fit for what I'm currently looking for, but I do think you have some great momentum moving forward an

[2019-05-11 13:45] Rike-cz opened #4330 "Taglist form widget does not have preview context"
- OctoberCMS Build: 454
- PHP Version: 7.2

### Description:
Taglist form widget behavior is the same in create/update context and in preview context. Select box can be dropdowned and new item selected in preview context.
![tablist](https://user-images.githubusercontent.com/4247582/57570569-b3b1ab00-7403-11e9-8b7b-c46853f20be4.png)

### Expected behavior:
No dropdown, only list of saved tags are e

[2019-05-11 15:31] bennothommo commented on #4327
I've confirmed that the bug exists. Still trying to determine the cause.

[2019-05-12 10:12] stanfomini opened #4333 "Cannot View my Project number after making a purchase of a theme"
This repository is only for reporting bugs or problems. If you need support, please use the following options:

- Forum: https://octobercms.com/forum
- Slack: https://octobercms.slack.com (Invite link: https://octobercms-slack.herokuapp.com/)
- Stack Overflow: https://stackoverflow.com/questions/tagged/octobercms

Thanks!

[2019-05-12 14:51] bennothommo commented on #4333
@stanfomini Please give us some more information. Are you saying the Project ID is not shown once a theme is purchased?

[2019-05-12 15:49] bennothommo commented on #4327
@seanthepottingshed Could you try @datune 's fix in https://github.com/octobercms/october/pull/4334 and see if this resolves the issue for you?

[2019-05-12 16:13] stanfomini commented on #4333
@bennothommo thanks for your response.  I have logged into octobercms.com and created an account and created a project and purchased a Theme.  Now when I try to get the code from my projects page so that I can use the theme it is giving me an error "Something went wrong and the page cannot be displayed." .  This is the only tab or page on the website that does not work for me.  I am wondering how

[2019-05-12 16:44] seanthepottingshed commented on #4327
@bennothommo yep sure thing, back in the office tomorrow so will have a fettle first thing ;)

[2019-05-12 17:45] vakopian opened #4335 "Bug in pivot sorting"
- OctoberCMS Build: 454
- PHP Version: 7.2
- Database Engine: MySQL 5.7
- Plugins Installed: none

### Description:
Two models called `Product` and `Category` that are in a many-to-many relationship with a pivot table. The pivot table has a column `relation_sort_order`, which should be used to sort the products within a category. The `belongsToMany` in `Category` is set like this:
[code]
When tryi

[2019-05-12 18:20] alekseybobkov commented on #4333
@stanfomini - thanks for reporting this problem, I'm looking into it now.

[2019-05-12 19:01] alekseybobkov commented on #4333
@stanfomini - could you try now? You you still can't access your project ID, please email me to `alexey[ at]octobercms.com`

[2019-05-12 19:11] stanfomini commented on #4333
Thank you so much for taking care of that!  Problem solved!

[2019-05-12 23:38] #4333 closed

[2019-05-13 07:20] seanthepottingshed commented on #4327
@bennothommo @datune

I've tested this and the indices are now updated as expected. Basically I'm just trying to get to a point where I can extend either a **Static** or **CMS** page with a repeater and validate the repeater groups individually based upon their type.

Now that this works as expected with a **Static** page I'm trying to get it to also work with a **CMS** page, as such locally I've

[2019-05-13 09:45] bennothommo commented on #4327
@seanthepottingshed Once @datune's PR is tested and merged, I will have a look into this for you. :)

[2019-05-13 09:47] seanthepottingshed commented on #4327
@bennothommo

Thanks, really appreciated.

[2019-05-13 11:02] datune commented on #4327
@seanthepottingshed

I've been trying to debug why there is no validation, and here is what I have found so far. It seems that, when there is no viewBag present, the validation does not trigger, because $model->test_repeater does not contain anything. Hence, you're never entering your iteration, and so no validation rules are added.

In fact, the first time around, when you pass $model to bindRepe

[2019-05-13 15:16] ayumihamsaki commented on #3608
@w20k @LukeTowers

Did a quick bit of research into this issue, would a possible solution to this issue be found here: http://www.relaxedjson.org/

[2019-05-13 16:40] LukeTowers commented on #4330
Feel free to make a PR to add support for this (would include readOnly & disabled support too)

[2019-05-13 16:46] LukeTowers commented on #4309
@agraddy

Not necessarily, you'd basically just have to copy over the relevant content files, make sure they still make sense in the new theme, and use any of the components used in the old theme in the new theme too.

The customizations I refer to are called "Components", you could think of them as WordPress shortcodes but way more powerful. That's the standard across the OctoberCMS ecosystem for

[2019-05-13 21:29] ayumihamsaki commented on #3608
@w20k @LukeTowers

Did a quick bit of research into this issue, would a possible solution to this issue be found here: http://www.relaxedjson.org/

You can see here (to get an idea of the file size): https://cdn.jsdelivr.net/npm/relaxed-json@1.0.3/relaxed-json.min.js

You can also use their Sandbox tester, to test combinations that October may, found here: http://www.relaxedjson.org/docs/converter

[2019-05-14 14:15] LarBearrr commented on #2722
@MaxNozhkin Did you get this working?

@daftspunk What is it that I am missing here? I have setup a very basic method on my controller to display a custom select, basically just copy and pasting the docs. However, I am not seeing any options in my select dropdown.

controller.php:
[code]

dropdown.htm:
[code]

![image](https://user-images.githubusercontent.com/28734844/57704953-84c84e80-7628-11e9-

[2019-05-15 11:17] dimensi commented on #4249
After debug and little research i found a answer.
Need to cast tag_type to text.

[2019-05-15 13:01] nanodesu88 commented on #3609
Same problem

[2019-05-15 13:06] nanodesu88 commented on #3609
Application has bootstrapped in setUp method, while PluginManager trying to register all the plugins after that

[2019-05-15 13:35] nanodesu88 commented on #3609
I found a pretty shit solution. You can add a plugin copy to tests/fixtures directory like plugins/october/tester/Plugin.php and register console command inside.
What?

[2019-05-16 01:16] #4057 closed

[2019-05-16 01:22] daftspunk commented on #4300
This should be available in Build 455.

Thanks and nice solution @alxy!

[2019-05-16 01:22] #4300 closed

[2019-05-16 06:21] bkrajendra commented on #3429
recent update resolves all issues.

[2019-05-16 08:05] mkinternet opened #4338 "Date plicker pl language version"
- OctoberCMS Build: ### 7590dfd30fb08242c6c8e111115659d38ac4aeb8
- PHP Version: 7.2
- Database Engine: 10.1.37-MariaDB

### Description:
Date picker doesnt work under pl version language. Tested succesfull under english version, us version, spanish version

### Steps To Reproduce:
Add date picker to backend form or list filter. Change language version to polish.

[2019-05-16 10:18] w20k commented on #4338
Works fine for me. Could you provide steps to reproduce @mkinternet ? Or maybe you need to re-compile assets just in case.

[2019-05-16 10:38] mkinternet commented on #4338
I got error 500 when loaded /modules/system/assets/js/lang/lang.pl.js?v=455
xampp server response was: AH01222: don't know how to spawn child process.

I had to comment "AddHandler cgi-script .cgi .pl .asp" in httpd.conf

Problem solved but. The bug appeared only for this language file. Other language files didnt produce error 500.

[2019-05-16 10:53] w20k commented on #4338
@mkinternet because Xampp thinks it's a Perl script 😄 Your solution is the only way to handle it.

[2019-05-16 10:53] #4338 closed

[2019-05-16 14:21] filipac commented on #3191
@LukeTowers this is still an issue.
Example:
[code]
This should validate a fax number only if present..

[2019-05-16 14:50] Samuell1 commented on #3191
@filipac it needs to be `sometimes|required|phone:US`

[2019-05-16 14:52] filipac commented on #3191
@Samuell1 it is not required, just has to be a valid number.

[2019-05-16 14:52] filipac commented on #3191
I did a hack:
[code]

[2019-05-16 19:35] PrestaSafe opened #4339 "How to send ajax request to other controller"
Hi everyone, i want to do a simple things:
I want to use the create form of one of my controller in popup, and use it, in an other controller.

Exemple, in my plugin i've a Customers controller, and an Invoices controller,  i list my items, create and update them.
But, i want to create a customer from the Invoice view if the user doesn't exist, i want to call the form of Customer create form in a

[2019-05-17 06:38] bennothommo commented on #3683
## Yearly "Best of October" competition

Run a yearly competition celebrating the best websites built on October CMS, with the potential for several categories of judging (ie. Best designed site, best plugin, people's choice etc.). The revenue could be generated as a registration fee for each site submitted as an entrant (perhaps $10-$50 per entry), with the revenue pool providing the cash prizes

[2019-05-17 15:30] bennothommo commented on #4327
@seanthepottingshed I've just tested your test plugin PR with @datune's changes from https://github.com/octobercms/october/pull/4334 and I'm not seeing the incorrect validation errors anymore - it seems everything is being validated against their correct rules even after being re-ordered.

Would you mind testing the same when you get a chance?

[2019-05-17 15:34] bennothommo commented on #4339
@PrestaSafe You should look into using the RelationController behavior, as that provides pretty much the exact functionality you are looking to do here.

The docs for implementing this in your plugin are here: https://octobercms.com/docs/backend/relations

[2019-05-17 15:34] #4339 closed

[2019-05-17 15:35] datune commented on #4327
@bennothommo Really? With the same codebase? Because all the tests I did, failed.

[2019-05-17 15:38] bennothommo commented on #4327
@datune Using a fresh install of October CMS 455, which has your changes included :)

[2019-05-17 16:04] datune commented on #4327
And you tested this with a CMS Page? Because it works just fine with Static Pages, but not CMS. See my Post from 4 days ago.

[2019-05-18 02:30] bennothommo commented on #4327
@datune Yep, the CMS Page with URL /demo/plugins and with @seanthepottingshed's changes  [here](https://github.com/octobercms/october/issues/4327#issuecomment-491704920) also works without issue.

[2019-05-18 17:22] seanthepottingshed commented on #4327
@bennothommo @datune I will have another test on Monday when I’m back in work

[2019-05-18 22:20] evanlihou commented on #4268
I just ran into this issue as well, it looks like the event from the time picker doesn't bubble up to the div used in fieldElements in [october.form.js](https://github.com/octobercms/october/blob/7e6800ea6e00637619a0d10eef3eaa82d5c4b255/modules/backend/widgets/form/assets/js/october.form.js#L124), though it does bubble up properly in the date picker.

Ideally the behavior should be that the change

[2019-05-19 23:02] charles-tainui commented on #4049
hi all,
if this this may help any Googlers who reach this page :
i had the same issue with "db_host => localhost"
setting to "127.0.0.1" solved it !

[2019-05-20 07:09] seanthepottingshed commented on #4327
@bennothommo @datune

Nope I'm afraid this still doesn't work for me, try the following steps to see if you can reproduce what I'm experiencing:

* In your IDE ensure that there is no content in `themes/demo/pages/plugins.htm`, it should be as follows:

[code]

* Navigate to `backend/cms`
* Click on **Plugin components** page
* Click on **Test** tab
* Click on **ADD DATA** prompt
* Select **Textar

[2019-05-20 07:23] datune commented on #4327
@seanthepottingshed Yup, this is the same result that I got while testing, which is why I was surprised that @bennothommo had a different outcome. @bennothommo [See my post here](https://github.com/octobercms/october/issues/4327#issuecomment-491777445)

[2019-05-20 07:31] seanthepottingshed commented on #4327
@datune Thanks for clarifying.

[2019-05-20 12:30] bennothommo commented on #4327
@seanthepottingshed @datune I'll give it another try as soon as I can. I can swear it was working though :)

[2019-05-20 13:24] seanthepottingshed commented on #4327
@bennothommo

No worries, let me know how you get on.

[2019-05-20 21:29] mrelevance commented on #2078
This approach doesn't seem to work anymore as of build 455. Is there a different way that should be used to would work to add buttons to the Rich Editor from a plugin?

[2019-05-20 22:47] LukeTowers commented on #2078
@mrelevance what doesn't work about it? Are you getting a specific error message?

[2019-05-21 11:13] paishin commented on #1402
Any updates on this? I think this is really needed. Each time we release a newer version of our plugin we have to run the migrations manually because we don't want data stored in the database to be lost by running plugin:refresh. It would be great if we could just run plugin:update and continue running commands from version.yaml that have not been called yet.

[2019-05-21 13:08] LukeTowers commented on #1402
@paishin that's what the `october:up` command is for. It runs any pending migrations that haven't been run yet.

[2019-05-21 15:22] mrelevance commented on #2078
It simply just doesn't show up in the toolbar.

I add the JS plugin file like this:
[code]

In build 447 it adds the button like so:
![Screenshot_20190521_101840](https://user-images.githubusercontent.com/5429872/58108644-d1280700-7bb1-11e9-835a-4270f2284d2b.png)

But, in build 455 it doesn't show at all anymore.
![Screenshot_20190521_102019](https://user-images.githubusercontent.com/5429872/58108

[2019-05-21 17:57] LukeTowers commented on #2078
@mrelevance have you checked the dev console? Are there any errors being displayed?

[2019-05-22 07:43] Samuell1 opened #4342 "get_class() expects parameter 1 to be object, null given"
- OctoberCMS Build: 455
- PHP Version: 7.3

### Description:
Error getting after clicking on editing hasMany relation manager in backend edit page

[code]

Trying to log issue it looks like relation edit form is initialized 3x
[code]
(number 3 is ID of model that i want to edit)

**Removing belongsToMany relations from fields issue dissapears.**

### Steps To Reproduce:
Creating hasMany relation o

[2019-05-22 10:49] w20k commented on #4342
Related: https://github.com/octobercms/library/pull/376

[2019-05-22 12:13] lnmput opened #4343 "When Model after Save, The Relation can not update"
- OctoberCMS Build:  454
- PHP Version: 7.2
- Database Engine:  mysql 5.7
- Plugins Installed: rainlab.user

### Description:
In my order nodel
` public $belongsTo = [
        'status' => ['Jshop\Order\Models\Status', 'key' => 'status_id']
    ];`
When I update `status_id` from `1` to `2` from  backend form, I try get `$this->status` in `afterSave()`  method， But the print data is before value, no

[2019-05-22 13:38] LukeTowers commented on #4343
@lnmput what about the value of `$this->status_id`?

[2019-05-22 14:01] mrelevance commented on #2078
@LukeTowers no errors are reported in the console.

[2019-05-22 15:00] Samuell1 commented on #4342
@w20k tested that nothing changes.

[2019-05-23 01:30] lnmput commented on #4343
`$this->status_id` value is update, But `$this->status` in not

[2019-05-23 07:37] w20k commented on #3867
FYI: @ayumihamsaki will be doing a major Testing/Merging on weekends!

[2019-05-23 14:48] bennothommo commented on #4178
This issue has likely been sorted by the recent Repeater updates (#4234, #4334). Please re-open or re-submit this issue if this is not the case.

[2019-05-23 14:48] #4178 closed

[2019-05-23 14:53] bennothommo commented on #3327
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 14:53] #3327 closed

[2019-05-23 14:55] bennothommo commented on #3351
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 14:55] #3351 closed

[2019-05-23 14:56] ayumihamsaki commented on #3867
@w20k tag me if any issues will be around.

[2019-05-23 14:57] bennothommo commented on #3381
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 14:57] #3381 closed

[2019-05-23 14:58] bennothommo commented on #3411
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 14:59] bennothommo commented on #3437
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 14:59] #3437 closed

[2019-05-23 15:00] bennothommo commented on #3474
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:00] #3474 closed

[2019-05-23 15:04] bennothommo commented on #3485
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:04] #3485 closed

[2019-05-23 15:06] bennothommo commented on #3517
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:06] #3517 closed

[2019-05-23 15:07] bennothommo commented on #3595
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:07] bennothommo commented on #3592
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:08] bennothommo commented on #3591
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:09] bennothommo commented on #3692
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:09] #3692 closed

[2019-05-23 15:09] bennothommo commented on #3656
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:09] #3656 closed

[2019-05-23 15:10] bennothommo commented on #3636
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:10] #3636 closed

[2019-05-23 15:10] bennothommo commented on #3614
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:10] #3614 closed

[2019-05-23 15:11] bennothommo commented on #3569
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:11] #3569 closed

[2019-05-23 15:14] bennothommo commented on #3745
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:14] #3745 closed

[2019-05-23 15:14] bennothommo commented on #3749
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:14] #3749 closed

[2019-05-23 15:15] bennothommo commented on #3835
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:15] #3835 closed

[2019-05-23 15:16] bennothommo commented on #4091
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:16] #4091 closed

[2019-05-23 15:17] bennothommo commented on #4099
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:17] #4099 closed

[2019-05-23 15:18] bennothommo commented on #4104
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:18] #4104 closed

[2019-05-23 15:19] bennothommo commented on #3771
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:19] #3771 closed

[2019-05-23 15:21] bennothommo commented on #2629
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:22] bennothommo commented on #2747
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:22] #2747 closed

[2019-05-23 15:23] bennothommo commented on #3348
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-23 15:23] #3348 closed

[2019-05-23 22:04] ayumihamsaki commented on #3955
@bennothommo @LukeTowers @w20k Why are issues and bugs getting closed and not fixed ?

I can reproduced this issue right now in latest CMS Version! If you do like this we end up with a CMS filled with bugs and it's no good. I understand October CMS is under staffed, but closing bug issues that exist is not good at all.

See here I can reproduce this issue right now:

![october-bug](https://user-im

[2019-05-24 00:02] bennothommo commented on #3955
@ayumihamsaki my apologies. Your last comment made it seem like there was no issue here, and since there hadn't been any activity for 6 months, I closed it to clear out some stale issues.

[2019-05-24 05:23] Teranode commented on #4342
PHP 7.3:
[code]

[2019-05-24 05:49] LukeTowers commented on #3955
@ayumihamsaki  stale issues get closed for exactly the reason you've just commented. If the issue is still present, it prompts people that care about it to comment and become engaged with it again. If nobody responds, then clearly it isn't important and can be ignored. If someone does comment, then it's not a problem to reopen the issue.

[2019-05-24 05:51] LukeTowers commented on #4342
@Teranode could you propose a PR to https://github.com/octobercms/october/blob/master/modules/backend/behaviors/RelationController.php#L907 to fix this issue? I'm not even sure how the original code was supposed to work tbh...

[2019-05-24 06:04] Teranode commented on #4342
Not sure how i would do this. On one occasion you could do:
[code]
Can I get someone to test? @Samuell1 @w20k | Don't have a local setup of October atm.

[2019-05-24 06:04] LukeTowers commented on #2629
@bennothommo I'm actually still interested in finding a fix to this. What do you think of my last suggestion?

[2019-05-24 06:08] LukeTowers commented on #4342
@Teranode actually we could probably do something like
[code]

[2019-05-24 06:14] Teranode commented on #4342
Hmmm, that feels off somehow.

[2019-05-24 06:16] LukeTowers commented on #4342
well the problem is that `$config->model` is being overwritten by `$config->model->find()` without verifying that the value is an object first (which leads to a non-object being passed to get_class), so it seems right to me.

[2019-05-24 06:19] LukeTowers commented on #4343
@lnmput call `$this->load('status');` first to force the relationship to reload: https://stackoverflow.com/a/23364277/6652884

[2019-05-24 06:19] #4343 closed

[2019-05-24 06:19] Samuell1 commented on #4342
But still issue is that why it runs 3x

[2019-05-24 06:30] LukeTowers commented on #4342
@Samuell1 that's a separate issue

[2019-05-24 06:59] lnmput commented on #4343
Isn't this a new bug?  OctoberCMS Build: 419 is ok， but 454 is error。

[2019-05-24 11:08] seanthepottingshed commented on #4327
@bennothommo any further insight into these Repeater shenanigans?

[2019-05-24 12:34] ayumihamsaki commented on #3955
Maybe have a rule for the `Type: Unconfirmed Bug` label, if two or more people confirm they can not reproduce it then close it.

As for commenting, I prefer not to do that, because before I write a comment, I know it will take up your time and you guys are busy people! So I try to comment in the github issues only if it's really needed.

[2019-05-24 13:27] bennothommo commented on #2629
@LukeTowers I'm not sure I follow where the bug is. By what is described in the OP, it looks like the IDs and orders are already one variable each (both arrays), and it's the arrays that are being clipped by `max_input_vars`. Is that the case?

[2019-05-24 15:28] bennothommo commented on #4327
@seanthepottingshed Just had a quick look just then. Would you be able to give the following event a try in your PR:

[code]

The following line:
[code]
should get the latest viewBag data, which should hopefully give you the validation checks you're looking for.

[2019-05-24 15:37] bennothommo commented on #3955
To go to the issue reported - I'm wondering if this is such a bad thing, preventing updates to disabled plugins. A plugin that is disabled should effectively be non-functioning and have no effect to the site - including migrations added as part of an update. Disabling updates should only be allowed for an enabled plugin, to allow a site administrator to "freeze" on a certain version. Thoughts?

[2019-05-24 15:49] iboved opened #4344 "Nested Repeater - A widget with class name has not been bound to the controller"
- OctoberCMS Build: 455
- PHP Version: 7.1.9
- Database Engine: MySQL

### Description:
Nested Repeater does not work if it has **only one** repeater field. For example, I have a "Content" Repeater. This repeater has another "Blocks" Repeater inside it.
[code]
When I try to add Block I get this error:

Here is a screenshot:
![image](https://user-images.githubusercontent.com/9253603/58339452-503b6a

[2019-05-24 16:04] ayumihamsaki commented on #3955
I agree with your comment, I think it would make it easier to remove the extra switch column and just have a single column that turns the plugin on and off (which also disables the updates).

I will also link these two other issues, I think we could group all three issues together to form a single issue titled: Plugin Section re-design.

https://github.com/octobercms/october/issues/4196
https://gi

[2019-05-24 16:12] ayumihamsaki commented on #3955
If it's ok with everyone I will close these three issues and merge them all into a single issue.

[2019-05-24 16:12] bennothommo commented on #3955
@ayumihamsaki Go for it :)

[2019-05-24 16:42] ghost opened #4345 "Revamp Plugin Management UX"
## Intro

This issue is several issues merged together, which relate to updating the design of the plugin section in the backend.

## Update 1 - Two web pages into a single page

This is from issue: https://github.com/octobercms/october/issues/3497

Currently, the plugin section is a little bit confusing on two web pages and can be merged into a single web page.

As Teranode said:

## Update 2 - H

[2019-05-24 16:42] ayumihamsaki commented on #4196
Closed see here: https://github.com/octobercms/october/issues/4345

[2019-05-24 16:42] #4196 closed

[2019-05-24 16:42] ayumihamsaki commented on #3955
Closed see here: https://github.com/octobercms/october/issues/4345

[2019-05-24 16:42] #3955 closed

[2019-05-24 16:43] ayumihamsaki commented on #3497
Closed see here: https://github.com/octobercms/october/issues/4345

[2019-05-24 16:43] #3497 closed

[2019-05-24 16:49] LukeTowers commented on #4345
Why did you merge them into one issue instead of keeping them separate?

[2019-05-24 16:50] ayumihamsaki commented on #4345
I realized they are all talking about the same thing and can be grouped under the header "Revamp Plugin Management UX"

[2019-05-24 16:52] LukeTowers commented on #4344
@bennothommo could you look into this?

[2019-05-24 16:55] LukeTowers commented on #2629
@bennothommo you'd have to inspect a network request, I'm pretty sure they're being sent as HTML arrays which means that each element is it's own input_var. We could fix this by sending them as JSON probably under one input_var

[2019-05-24 16:58] LukeTowers commented on #4343
Possibly, please provide detailed replication instructions using the [test plugin](https://github.com/octoberrain/oc-test-plugin) and a description of the behaviour in 419 vs 455 and we can look into it further.

[2019-05-24 18:02] phuongna opened #4346 "Can not upload more than 100KB , all setting in php.ini is ok?"
Can not upload more than 100KB.
my php.ini :
[PHP]

;;;;;;;;;;;;;;;;;;;
; About php.ini   ;
;;;;;;;;;;;;;;;;;;;
; PHP's initialization file, generally called php.ini, is responsible for
; configuring many of the aspects of PHP's behavior.

; PHP attempts to find and load this configuration from a number of locations.
; The following is a summary of its search order:
; 1. SAPI module specific locat

[2019-05-24 18:14] seanthepottingshed commented on #4327
@bennothommo oooo looking sexy will try later on this evening all let you know

[2019-05-25 02:58] bennothommo commented on #4345
@ayumihamsaki I had a thought that maybe the plugin list could be displayed as a grid, with small "cards" representing each plugin. Whilst it would be introducing a new UI format to October (albeit one that is kinda already implemented with the Dashboard), the big benefit is that it could be responsive - it could perhaps display 4 columns on desktop, and scale down to 2 columns and 1 column as the

[2019-05-25 06:46] seanthepottingshed commented on #4327
@bennothommo

Thank you so very, very much - I'm so incredibly grateful.

[2019-05-25 06:46] #4327 closed

[2019-05-25 09:45] tobias-kuendig opened #4347 "Overriding partials in subfolders"
Given the following component structure:

[code]

If I want to override the `subfolder/default.htm` partial in my theme, I would add it like so:

[code]

Unfortunately, this currently does not work. The override is ignored.

I tracked this issue down to this line:

https://github.com/octobercms/october/blame/master/modules/cms/classes/Controller.php#L1003

It seems like subfolder overrides are exp

[2019-05-25 11:55] bennothommo commented on #4344
@iboved Unfortunately I cannot replicate the issue with your config snippet provided above. Would you be able to provide the full form configuration and any controller configuration you may have for your plugin?

[2019-05-25 14:50] ayumihamsaki commented on #4345
@bennothommo  I actually have that coded in several of my custom plugins. In each of my cards I use a title at the top in the middle I have an svg image and at the bottom a short description - probably less than 100 characters. It's all responsive using flexbox. It makes October more modern. The down side is when you have a large list of objects you use a large amount of screen space so makes sear

[2019-05-25 14:54] ayumihamsaki commented on #4345
@bennothommo  I actually have that coded in several of my custom plugins. In each of my cards I use a title at the top in the middle I have an svg image and at the bottom a short description - probably less than 100 characters. It's all responsive using flexbox. It makes October more modern. The down side is when you have a large list of objects you use a large amount of screen space so makes sear

[2019-05-25 15:02] ayumihamsaki commented on #4345
@bennothommo  I actually have that coded in several of my custom plugins. In each of my cards I use a svg image at the top in the middle I have a title and at the bottom a short description - probably less than 100 characters. It's all responsive using flexbox. It makes October more modern. The down side is when you have a large list of objects you use a large amount of screen space so makes searc

[2019-05-25 15:27] ayumihamsaki commented on #4345
Cool idea, reminds me of this plugin: https://octobercms.com/plugin/sewa-tileable

[2019-05-26 21:27] LukeTowers commented on #4345
@bennothommo are you envisioning an official UI widget interface "TileList" similar to the plugin (except a lot more polished and incorporated in the core?)

[2019-05-26 23:44] bennothommo commented on #4345
@LukeTowers Yeah, I think that would be a useful widget to make available :)

[2019-05-27 02:18] LukeTowers commented on #4345
Go for it, that would be pretty neat!

[2019-05-27 08:24] iboved commented on #4344
@bennothommo I have only one plugin installed - Acme.Demo. This is my custom plugin. I use this project for testing purposes.
Ok, [here](https://gist.github.com/iboved/e38bb9ffe4e361c1d1f60fa5639ffba8) is my model, controller, fields.yaml and migration file.

Go to the "create" Post page and click on the "Add Content Item" button:
![image](https://user-images.githubusercontent.com/9253603/58405876

[2019-05-27 10:04] bennothommo opened #4350 "Implement a new Grid widget and behavior"
## What this is

This is a pre-merge discussion of a new "Grid" widget and behavior. The Grid widget will provide another format of displaying multiple model records on a page, similar to the List widget and behavior. Grids display each record as a "tile" - a single box of information for each record, with one or more columns of tiles displayed on the page. The standard tile will have the followin

[2019-05-27 10:05] bennothommo commented on #4345
I have started a pre-merge discussion for the Grid widget here: #4350. Please feel free to add any ideas or discussion in there. :)

[2019-05-27 14:37] ayumihamsaki commented on #4345
@bennothommo Good luck building it. I just want to ask and say, I would expect 50% of people to be happy with a grid and 50% want a list. If there could be an option to choose between the two that would be great.

(Having over 100 plugins a list is easy to search through than a grid).

[2019-05-27 15:19] LukeTowers commented on #4345
@ayumihamsaki could you add those comments to the issue @bennothommo created

[2019-05-27 15:43] ayumihamsaki commented on #4345
Will, do just updating another pr for october right now...

[2019-05-27 15:44] ayumihamsaki commented on #4350
Add to discussion:

Good luck building it. I just want to ask and say, I would expect 50% of people to be happy with a grid and 50% want a list. If there could be an option to choose between the two that would be great.

(Having over 100 plugins a list is easy to search through than a grid).

Also please consider larger screen sizes, right now I'm using an 80 inch 4K computer monitor as an example

[2019-05-27 15:44] ayumihamsaki commented on #4345
done

[2019-05-27 15:45] ayumihamsaki commented on #4326
@LukeTowers Please can you open this issue and tag me and I will re-close this. Github it saying it's still open my side.

[2019-05-27 15:50] RedMarlin opened #4351 "getThumb needs $options array since build 447"
- OctoberCMS Build: 447 or newer
- PHP Version: 7

### Description:
when using getThumb method for private images, you need to provide $options array with 'mode' and 'extension' keys. Previously you could just provide thumb size and default options were applied.

### Solution:
In theory providing default options for getThumb like it is done in October\Rain\Database\Attach\File should do the trick,

[2019-05-27 16:11] LukeTowers commented on #4326
@ayumihamsaki

[2019-05-27 16:12] LukeTowers commented on #4351
@w20k could you test the provided fix and make a PR?

[2019-05-27 16:39] w20k commented on #4351
@LukeTowers will do!

[2019-05-27 17:28] #4326 closed

[2019-05-27 17:29] ayumihamsaki commented on #4326
thanks that's fixed it

[2019-05-28 04:51] bennothommo commented on #4344
Thanks @iboved, I will take a look shortly and will let you know what I find.

[2019-05-28 09:01] bennothommo commented on #4347
@tobias-kuendig Best guess from what I can see is that line is to prevent people from accessing files outside of a single folder - since `$partialName` is a user-contributed parameter, someone could quite easily access a system file as a partial and cause havoc. Unfortunately, the upshot is that this prevent subfolder access too.

A suitable fix for this, in my mind, would be to allow for subfolde

[2019-05-29 05:25] tobias-kuendig commented on #4347
Yes, this is obviously the reason for this check.

It looks like there is already code around to check for valid partial paths: https://github.com/octobercms/october/blob/fb2aa1730cc08e8563908b54b70e942bd2988f5e/modules/cms/helpers/File.php#L48

I'm looking further in to this.

[2019-05-29 08:39] NathanBastiaans opened #4354 "Custom Froala plug-in doesn't initiate"
- OctoberCMS Build: 455
- PHP Version: 7.3
- Plugins Installed: Multiple but also tested on a clean install

### Description:
I have a plug-in which extends the Froala editor. Everything worked fine until I updated from version 447 to the latest version (455). Since the update my Froala plug-in doesn't seem to initiate anymore. As seen in the code below I'd expect a console log with 'init works' b

[2019-05-29 08:49] w20k commented on #4354
Based on that commit, do your user have permissions to access media manager (`media.manage_media`)?

[2019-05-29 09:51] NathanBastiaans commented on #4354
Yes, even as a super user my custom plug-in doesn't work.

[2019-05-29 10:09] w20k commented on #4354
Could @NathanBastiaans you try removing js part from that pr, build assets and retry.

[2019-05-29 11:08] NathanBastiaans commented on #4354
I don't think I have time to do that today but I'll definitely do this sometime this weekend!

[2019-05-29 11:09] w20k commented on #4354
Hopefully, will get this fix sooner 👍 Should be a quick one.

[2019-05-29 14:29] mjauvin commented on #4354
@NathanBastiaans can you test PR #4356 ? I used the procedure you provided above to test and it restores original behavior in my case. Make sure you rebuild assets if you hack the code manually, otherwise the minified JS code has been checked in with the PR.

Thanks.

[2019-05-30 06:05] munxar opened #4357 "Persist user's list settings even after logout from backend"
- OctoberCMS Build: 455
- PHP Version: 7.2.17
- Plugins Installed: none

### Expected Behavior
When I customize the list settings of any backend list (like show/hide columns, customize the order they appear or sort a column), I expect this list settings to persist.

![Bildschirmfoto von 2019-05-30 08-06-59](https://user-images.githubusercontent.com/12279988/58612194-04ede580-82b2-11e9-9296-9949262

[2019-05-30 06:40] w20k commented on #4357
@munxar confirmed!

[2019-05-30 13:45] LukeTowers commented on #4357
@munxar this might have worked previously; but with its current implementation the actual bug was that it was working in the first place. These settings get stored in the session, the only reason this used to work is that there used to be a bug where the session was not properly cleaned on logout. By fixing that bug, we have made it so that this no longer works.

The proper fix to this would be to

[2019-05-31 06:43] Samuell1 opened #4359 "Invalid method override "__CONSTRUCT""
- OctoberCMS Build: 447
- PHP Version: 7.3

### Description:
Looks like symfony had update and it breaking octobercms routing

[code]

### Steps To Reproduce:
Not found yet, it randomly appearing in system logs.

[2019-05-31 06:52] LukeTowers commented on #4359
It's not a bug, you're being scanned for vulnerabilities by someone manipulating the HTTP headers being sent to your server. That exception is thrown when the X-Forwarded-Host header looks suspicious to Symfony: https://github.com/symfony/http-foundation/blob/master/Request.php#L1135

[2019-05-31 06:52] #4359 closed

[2019-05-31 14:44] evanlihou commented on #4268
Are there any updates on this issue? I did try to look into the root cause but I'm not well-versed enough with the JS running the backend to wrap my mind around what's happening there.

[2019-06-01 04:44] daftspunk commented on #3883
The inline_* plugins have been included in the next build. It has no immediate effect on the UI but hopefully, this will introduce the functionality needed.

Should be available in Build 457+

[2019-06-01 04:44] #3883 closed

[2019-06-01 21:25] ghost opened #4361 "Link the Github Issues to the Release Update Notes to learn more info"
Hi,

## The issue

I just updated the cms to the latest version V456 and in the description it says '**Added support for database-driven theme templates.** ' I was interested and wanted to find out more about this new feature. So I clicked the '**View Changelog**' button and then clicked on the '**View details**' link which goes to this web page: https://github.com/octoberrain/meta/blob/master/rel

[2019-06-02 03:34] LukeTowers commented on #4361
It would be a nice feature to have, but it's a lot of work to keep up with, unless you know of some automated tool that would make it easier.

[2019-06-02 06:51] Samuell1 commented on #4361
@LukeTowers You can make it automated with: https://www.conventionalcommits.org/en/v1.0.0-beta.4/ But with this commits names needs to be changed.

[2019-06-02 16:46] ayumihamsaki commented on #4361
I would think Samuell1 suggestion is a good idea, all I could suggest is this tool: https://octobox.io/

[2019-06-02 16:51] ayumihamsaki commented on #4361
I would think Samuell1 suggestion is probably the way too go.

I would also suggest this tool as well, to manage the repo and make things easier: https://octobox.io/

[2019-06-02 16:57] ayumihamsaki commented on #4361
There's also this: https://github.com/NYTimes/Chronicler

[2019-06-02 17:08] ayumihamsaki commented on #4361
Try this: https://github.com/NYTimes/Chronicler

Also you could setup an automated way to send out the new release updates to Social Media platforms like Twitter and Facebook, plus also updating a blog web page in the ocobercms.com main website using this tool: https://ifttt.com/

Then we don't need to ask you questions about these features and reduce the amount of question issues (saving you guys

[2019-06-02 17:13] SebastiaanKloos commented on #4361
Maybe someone could create a oc plugin to do this😂

[2019-06-02 19:13] ayumihamsaki commented on #4361
No comment 😂

![Untitled](https://user-images.githubusercontent.com/17784082/58766117-dd797000-8572-11e9-9fd3-af2047aaf92f.png)

[2019-06-03 07:04] NathanBastiaans commented on #4354
Did a couple of tests with my froala plug-ins and everything seems to work fine after fetching your PR! Thanks!

[2019-06-03 08:52] marcomessa commented on #3515
Hello, i confirm this is related to new upgrade (core 456 | page 1.3.0). The fix is working, but therse is another error.When I try to swtich language (using RainLab.Translate), after the update I got this error:

[code]

I discovered this error in production ([here, menu patched is applyed, but I can't use english version](https://www.arredocad.com/it))while in my local env before the update it w

[2019-06-03 11:20] Samuell1 commented on #3376
Maybe we can solved this with this https://medium.com/@barryvdh/streaming-large-csv-files-with-laravel-chunked-queries-4158e484a5a2 and Streaming can solve another issue with CSV exports #4232

[2019-06-03 14:11] mjauvin commented on #4354
@w20k you can close this one now.

Thanks.

[2019-06-03 14:16] w20k commented on #4354
@mjauvin no need, will be closed automatically after merge to master.

[2019-06-03 14:25] terokorp commented on #3411
Same problem still exists on a22862c946062193b43e00a459ccadd4cb00896d
Fresh install
Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-145-generic x86_64)
Mariadb 10.0.38-MariaDB-0ubuntu0.16.04.1
PHP 7.0.33-0ubuntu0.16.04.4

[code]

Installation continued after clicking retry, payloads was identical on first try and second "retry"

[2019-06-03 15:48] bennothommo commented on #4357
@munxar Could you give https://github.com/octobercms/october/pull/4360 a test when you have a chance, and see if this gives back the config behaviour you're looking for?

[2019-06-04 01:38] LukeTowers commented on #4354
@w20k auto closing only works when a key word (fixes, resolves, etc) is used in connection with the issue link / number in a commit message when that commit gets merged to master. Since that's not present in https://github.com/octobercms/october/commit/30f4d4c5af180efb21a6e53f023b3b01b76fa891 this issue won't auto close FYI

[2019-06-04 01:38] #4354 closed

[2019-06-04 02:20] Jc-30 opened #4365 "Random SQLSTATE[3D000]: Invalid catalog name: 1046 No database selected"
My octobercms is installed in windows version, Apache/2.4.39 (Win64), PHP/7.1.29.
Getting SQLSTATE[3D000]: Invalid catalog name: 1046 No database selected error.
I have tried method below,
1. change .env from localhost to 127.0.0.1
2. php artisan cache:clear
3. php artisan config:cache
NONE of it works.
This issue seems just happen in Windows because Linux is working fine.

[2019-06-04 07:43] w20k commented on #4354
Thanks, @LukeTowers for pointing it out. Always thought it was @LukeTowers magic 😄

[2019-06-04 16:38] yaroslawww opened #4366 "Error while installing via composer"
- OctoberCMS Build: 1.0
- PHP Version: 7.3

### Description:

[code]

![Screenshot from 2019-06-04 19-38-42](https://user-images.githubusercontent.com/23663794/58897172-61149780-8700-11e9-9a94-e5011da5679a.png)

[2019-06-04 16:41] mortezaa opened #4367 "how to deploy octobercms projects on subdomain"
I want to upload octobercms project to my subdomain on my site but it gives me 500 or 404 errors

I change .htaccess file multiple times but it didn't work.
for example I add these lines to the .htaccess file according to https://github.com/octobercms/october/issues/1447 but it didn't work.

`
RewriteEngine on
RewriteCond %{REQUEST_URI} !^cms
RewriteRule ^(.*)$ cms/$1 [L]
`

how should I to solve

[2019-06-04 16:44] jexme opened #4368 "Output functions do not work when calling a method from a component"
- OctoberCMS Build: v1.0.455
- PHP Version: 7.3.6
- twig/twig: v2.11.1

### Description:
When calling any component method from any page / template - it is impossible to output information through output functions (echo, print_r, dd, etc.)

### Steps To Reproduce:
1. Create and register component
2. Create a page and plug in the previously created component.
3. In the component, create any functio

[2019-06-05 00:15] bennothommo commented on #4366
@yaroslawww You may need to reset the permissions of your `vendor` folder, and make sure that all folders and files within are owned by your user.

[2019-06-05 00:16] LukeTowers commented on #4368
@jexme could you provide an example of how the behaviour is supposed to work and explain the difference between when it was working vs now in a PR to the [test plugin](https://github.com/octoberrain/oc-test-plugin)?

[2019-06-05 00:17] LukeTowers commented on #4367
Check the logs of your server application to figure out what is causing the issues. October supports running on subdomains just fine so it's an error with how you've configured your server most likely.

[2019-06-05 00:17] #4367 closed

[2019-06-05 00:56] bennothommo commented on #4344
@iboved I have tried your plugin files against the [Test plugin](https://github.com/octoberrain/test-plugin) and I am not getting the error you're reporting. I'm able to add blocks just fine.

Are you able to make a PR to the Test Plugin with any necessary changes or files required in order to replicate the error above?

[2019-06-05 01:05] bennothommo commented on #4365
@Jc-30 I presume you have filled in the `[connections.mysql.database](https://github.com/octobercms/october/blob/7590dfd30fb08242c6c8e111115659d38ac4aeb8/config/database.php#L59)` config value as well. Are you using MySQL on Windows?

[2019-06-05 06:29] Nai4rus commented on #4368
I have the same problem, when I call a function with `dd()` from a template, then the server gives 500 error instead of a page with debug data like this.
![image](https://user-images.githubusercontent.com/33084287/58934829-a8d90480-877c-11e9-8096-3bf950030f27.png)

[2019-06-05 06:52] Samuell1 commented on #4368
Best for now is to downgrade twig to 2.10 looks like issue in twig. Caused with this PR: https://github.com/twigphp/Twig/pull/2995

[2019-06-05 09:02] iboved commented on #4344
@bennothommo here is the Pull Request to Test plugin: https://github.com/octoberrain/test-plugin/pull/71

I created a Product model because the Test plugin already has a Post model. But no matter what the model is called. To reproduce the error, you must use **Build 455**. Go to "Playground" => "Products" => "create" Product page. Try to add "Content item" and then add "Block item". You will get t

[2019-06-05 09:18] Nai4rus commented on #4368
At 2.10 the problem is reproduced, at 2.9 is ok.

[2019-06-05 10:22] acasar opened #4369 "Halcyon issue on dev branch"
- OctoberCMS Build: dev-develop
- PHP Version: 7.1
- Database Engine: MySQL
- Plugins Installed: ---

### Description:
After recent updates to Halcyon models, I am getting the following error after running a simple find statement on my custom Halcyon datasource:

![image](https://user-images.githubusercontent.com/6329543/58949080-e09b7880-878b-11e9-977a-e92724fff491.png)

### Steps To Reproduce:
1

[2019-06-05 10:27] acasar commented on #4369
When researching the issue I noticed that I can fix the error by updating ``October\Rain\Halcyon\Builder``, making a small modification to ``runSelect`` method where I replaced all ``$this->from`` references to ``$this->from ?: ''`` basically preventing null to be passed as a parameter. This is just a dirty patch but it shows the issue - if we don't set a subfolder, the selects don't work.

[code]

[2019-06-05 11:37] jexme commented on #4368
created pr: https://github.com/octoberrain/test-plugin/pull/72

[2019-06-05 14:16] DanNicolau opened #4370 "Trouble Implementing Character Count Froala Editor"
Apologies if my question is misplaced or vague; I am new to posting on github and octobercms.

I recently began working on a project where the froala editor in october was extended. I am aware that you can add buttons and this works fine but I am having difficulty implementing a character count.

I included the .js and .css for the character count available from [here](https://cdnjs.cloudflare.com

[2019-06-05 14:38] seanthepottingshed commented on #4370
@DanNicolau

I can help you when I return to work tomorrow, don’t have access to files at the moment

[2019-06-05 14:48] DanNicolau commented on #4370
Hi, I found [this](https://github.com/alexey-v-paramonov/froala-word-counter-plugin/blob/master/word_counter.js) implementation of a word counter. I extended the froala defaults to include the js from the link. Thank you for offering your time.

[2019-06-05 14:48] #4370 closed

[2019-06-05 15:56] LarBearrr opened #4371 "Main menu counter set to false shows empty red tag"
- OctoberCMS Build: ###
- PHP Version: 7.3

### Description:
Per the [documentation for adding a counter to navigation items](https://octobercms.com/docs/plugin/registration#navigation-menus), setting the main menu item counter attribute to false shows a empty red box on the main menu item:

![image](https://user-images.githubusercontent.com/28734844/58971088-4e41a780-8780-11e9-9b68-5ce75142d1f0.p

[2019-06-06 06:46] Nai4rus commented on #4365
I also had a problem with "No database selected", helped to transfer a dump of the base from linux...

[2019-06-06 09:01] bennothommo commented on #4365
@Nai4rus Are you using Windows as well? Which database server were you using?

[2019-06-06 09:43] Nai4rus commented on #4365
@bennothommo I'm on linux, my colleague uses windows. His configuration is:
openserver
mysql 5.7x64
php 7.2x64
apache-php 7.2

[2019-06-06 10:12] w20k commented on #4365
Want to add up my 50cents.
Had a problem today with MySQL connection, when I thought it's a good idea to upgrade a driver to the latest (😄). Might be related.

[2019-06-06 14:08] w20k commented on #4368
@LukeTowers, @Nai4rus, @Samuell1 - can confirm, twig messed up in this PR: https://github.com/twigphp/Twig/pull/2995

They removed one crucial part from `ob_start` -> `the buffer`.
[code]

An easy fix would be to return the buffer as it is: `ob_start(function($in){return $in;});`, but still should be done in Twig project.

[2019-06-06 14:12] w20k commented on #4368
Related: https://github.com/twigphp/Twig/issues/3058

[2019-06-06 15:04] LukeTowers commented on #4368
@w20k it looks like Twig doesn't want to make the fix, should we just fix it ourselves in our own code?

[2019-06-06 15:12] LukeTowers commented on #4371
@LarBearrr can you test changing https://github.com/octobercms/october/blob/master/modules/backend/layouts/_mainmenu.htm#L37 to `<?= !$item->counter ? 'empty' : null ?>"`

[2019-06-06 15:15] LarBearrr commented on #4371
Bingo! I'll work on the PR. Thanks @LukeTowers

[2019-06-07 00:36] bennothommo commented on #4319
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-06-07 00:36] #4319 closed

[2019-06-07 00:37] bennothommo commented on #4288
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-06-07 00:37] #4288 closed

[2019-06-07 05:03] Jc-30 commented on #4365
Hi bennothommo, thanks for checking. My vendor has installed XAMPP for us.
After much troubleshooting, it turns out XAMPP wasn't stable and caused this issue.
We have uninstalled XAMPP and reinstall mysql and php separately.
The issue has resolved now.

[2019-06-07 05:03] #4365 closed

[2019-06-07 05:41] bennothommo commented on #4365
@Jc-30 Thanks for letting us know!

[2019-06-07 05:46] bennothommo commented on #4368
@LukeTowers @w20k They're making a PR for it here: https://github.com/twigphp/Twig/pull/3059 - Twig has to be in debug mode though. Not sure if that's tied to our debug mode at all.

[2019-06-07 06:13] Samuell1 commented on #4365
@Jc-30 if you using windows i recommend using https://laragon.org for server

[2019-06-07 06:19] LukeTowers commented on #4368
@bennothommo I'm pretty sure it is, so I don't think that will be acceptable for us.

[2019-06-07 07:13] Nai4rus commented on #4368
For our part, we can make initialize twig with debug enabled, if debug is enabled in config/app.php

[2019-06-07 07:15] w20k commented on #4368
@bennothommo I believe it should work! It might cause other issues because of the fix, but not 100% sure.
@LukeTowers three options that we have right now:
1. Freeze twig version (`v2.9.x`)
2. Fix it in a fork (revert PR #3059)
3. Test their new PR and `hope` it will work without any additional issues

[2019-06-07 08:14] bennothommo commented on #4368
@LukeTowers I can understand the reasoning for their change - they are trying to prevent leaking the template code if there's an Error or Exception half way through rendering the code. People shouldn't be using `dd()` or `print_r()` in production in an ideal world, anyways.

[2019-06-07 12:31] andreacelery opened #4375 "Change of label for the backend"
If you go to change your back-end user settings there is a field Password and Confirm Password.
![image](https://user-images.githubusercontent.com/48524123/59104099-9f77a580-88fe-11e9-8b15-d8a7af9af11e.png)

This could cause confusion since the user might take it as if he needs to enter is password in order to save his settings when he is really changing his password. So my suggestion is to change

[2019-06-07 12:34] LukeTowers commented on #4375
Feel free to make a PR with your suggested changes. Note that the language used would have to be different in the create context vs the update context. Also, you can always use local language overrides in your project and they will persist between October updates: https://octobercms.com/docs/plugin/localization#overriding

[2019-06-07 12:47] LukeTowers commented on #4368
@bennothommo after rereading it, this isn't as big a deal as I thought. People shouldn't be using echo or other print statements in methods called by Twig templates, they should just be returning the values they want displayed. I can't think of any decent quality plugin that would be doing that in the wild.

[2019-06-07 15:42] heavygale commented on #3411
This issue occured for me, too. And hitting "retry" a few times also worked for me.

[2019-06-07 17:55] Nai4rus commented on #4368
@LukeTowers I do not agree with you. The problem is not in the functions of echo or print, there is no point in calling them at all with twig. The problem is that now there is no way to conveniently debug your code using `dd()`, I think this is actually an important issue for developers using October CMS.

[2019-06-07 18:13] LarBearrr commented on #3202
Any updates on this issue? Seems like mostly a JS fix? My JS is not quite advanced enough to know where to start. I'm looking at [filter.js](https://github.com/octobercms/october/blob/master/modules/system/assets/ui/js/filter.js) and not quite sure what to look for.

[2019-06-08 03:40] bennothommo commented on #4368
@Nai4rus The PR to the Twig library above will enable `dd()`, `die()`, etc. when Twig is in debug mode, which will be enabled when October itself is in debug mode, so you will still be able to debug in the proper environment. It will simply stop it working on production.

[2019-06-08 20:25] Teranode opened #4376 "CMS error when clicking an asset"
- OctoberCMS Build: 6d283829c04098ddb7e0f4700c0078864831806e
- PHP Version: 7.1
- Database Engine: MariaDB 10.2
- Plugins Installed: Demo

### Description:
Upon clicking an asset you will get this error. For now i just removed the type-hinting references
[code]

### Steps To Reproduce:
Go to CMS
go to assets
click on an asset

[2019-06-09 01:37] willouch commented on #4376
Same error php 7.3

[2019-06-09 15:20] LukeTowers commented on #4357
Fixed by https://github.com/octobercms/october/commit/6d283829c04098ddb7e0f4700c0078864831806e

[2019-06-09 15:20] #4357 closed

[2019-06-09 15:34] bennothommo commented on #4376
Fix is now in place as of https://github.com/octobercms/october/commit/a777c44cb43a4a53882103dc9904cf18c67ba11b.

[2019-06-10 04:33] bennothommo commented on #4344
@iboved Thanks for that - I can confirm the bug now. I'll hopefully take a look at it in the next day or so.

[2019-06-10 10:38] uitlaber commented on #2457
Same problem.  Responsiv.Uploader plugin

[2019-06-10 10:50] w20k commented on #2457
@uitlaber use for issues related to that plugin: https://github.com/responsiv/uploader-plugin/issues

[2019-06-10 14:19] ghost opened #4379 "Ways to improve backend performance"
I'm finding October CMS runs slow in the backend when loading between web pages and would like to open a discussion about this.

Having a general think about things, we have many files that are not minified (for testing reasons).

The files I find that are slowing things down are the main javascript files in the backend things such as: `storm-min.js` etc.

p.s. `storm-min.js`, `october-min.js` and

[2019-06-10 14:45] ayumihamsaki commented on #4379
p.s. Please commit below is anyone sees any performance issues with the backend, would be interested to know how many people are affected by this related issue?

[2019-06-10 15:48] alxy commented on #4379
When you are talking about loading times/performance/speed - are you talking about the time it takes for the server to provide the requested files? (Which will depend on their respective sizes and your internet connection.) The specific asset files you mention are typically cached in the browser, so they should only significantly affect performance on the first load. And this is what happens for m

[2019-06-10 16:19] LukeTowers commented on #4379
@ayumihamsaki I would say the best place to start is by profiling the backend to see where the biggest performance slowdowns are and work on minimizing them one by one with specific PRs.

[2019-06-10 16:40] LukeTowers commented on #3411
If anyone can reliably reproduce this issue consistently, perhaps we can get closer to finding a fix for it.

[2019-06-10 19:59] FlusherDock1 commented on #4379
I don't have any performance issues in the local or production environment. How many plugins do you have? How many of them have their additional assets?

The idea of ​​using ServiceWorker is very good. I think it is possible to implement it also to the frontend core framework.

[2019-06-10 20:26] ayumihamsaki commented on #4379
Will add some more info:

1. I got around 60 plugins running, I did open dev-tools to check to see if any of the assets are slowing down the loading of the web pages, but they seem to not be the issue.

2. ServiceWorker on the front-end, I'm not sure if that would be a good idea, due to everyone having different requirements, I do have a Service Worker running on the front-end. But I would say to

[2019-06-10 20:43] ayumihamsaki commented on #4379
Will add some more info:

1. I got around 60 plugins running, I did open dev-tools to check to see if any of the assets are slowing down the loading of the web pages, but they seem to not be the issue.

2. ServiceWorker on the front-end, I'm not sure if that would be a good idea, due to everyone having different requirements, I do have a Service Worker running on the front-end. But I would say to

[2019-06-10 21:39] ayumihamsaki commented on #4379
Gonna write this comment quickly, my gut feeling is telling me that the October backend has a bad render blocking issue as well.

Currently it is getting loaded from assets like `storm-min.js` and if that gets '**stalled**' or '**delayed**' etc. then the rendering of the web page gets delayed.

In fact Google Chrome V77 is telling me `storm-min.js` is getting '**stalled**'.

A better way to do the

[2019-06-10 21:48] ayumihamsaki commented on #4379
Gonna write this comment quickly, my gut feeling is telling me that the October backend has a bad render blocking issue as well.

Currently it is getting loaded from assets like `storm-min.js` and if that gets '**stalled**' or '**delayed**' etc. then the rendering of the web page gets delayed.

In fact Google Chrome V77 is telling me `storm-min.js` is getting '**stalled**'.

A better way to do the

[2019-06-11 08:09] w20k commented on #2939
Will be fixed as a part of PR #4378

[2019-06-11 08:09] #2939 closed

[2019-06-11 08:09] FlusherDock1 commented on #4379
I just tested some of my biggest projects, with a lot of records and plugins on Chrome Stable, and I always have around 50ms on scripting task.

Can you please test it on other browsers as well?

[2019-06-11 09:28] m-paniez9292 commented on #3411
Hi,
I have the same problem with a new install (I download the install file today).
I make an install from scratch.

My PHP is 7.0.6

I verify config/database.php generated file and all seem ok.

Thanks

[2019-06-11 10:40] Flothus opened #4380 "Default values missing for nestedform widget when used in a repeater field in update context"
- OctoberCMS Build: 455
- PHP Version: 7.2
- Database Engine: MySQL

### Description:
Default values for fields inside a nested form used in a repeater are only filled in `create` context. Fields created with the repeater on `update` are empty.

### Steps To Reproduce:
1. Create a form with a repeater field
2. Inside the repeater field create a nestedform field
3. Create fields with default values

[2019-06-11 13:59] ayumihamsaki commented on #4379
Ignore my comment about the browser, because it wouldn't really matter what browser you use with October. You will still get the same issues, such as: rendering blocking, everything trying to be loaded all at once and network congestion issues.

The only way to fix this would be to re-code October using modern coding practises like the [App Shell Model](https://developers.google.com/web/fundamenta

[2019-06-11 14:09] ayumihamsaki commented on #4379
Ignore my comment about the browser, because it wouldn't really matter what browser you use with October. You will still get the same issues, such as: rendering blocking, everything trying to be loaded all at once and network congestion issues.

The only way to fix this would be to re-code October using modern coding practises like the [App Shell Model](https://developers.google.com/web/fundamenta

[2019-06-11 14:50] LukeTowers commented on #4379
@ayumihamsaki it's highly unlikely that October is going to be rewritten in any major way, especially for the sake of checking of boxes of random online checklists / design patterns.

We are more than happy to deal with individual performance issues as they come up and are discussed in detail but I'm not seeing anyone else having the same problems as you. If you can make PRs for individual changes

[2019-06-11 15:21] LukeTowers commented on #4369
@acasar I'm not sure not having a `dirName` set is something that's officially supported by October. This could be fixed a couple of different ways, probably the easiest for everyone is if you just set
[code]
on your model class to indicate a conscious decision to not use subdirectories. I've "fixed" it in the core by making the error message more clear on what needs to happen to resolve the issue

[2019-06-11 16:49] m-paniez9292 commented on #3411
Re,
I put a resume from my install.log :

[code]

We can see my DB user is different of db user connexion.

Thanks

[2019-06-11 18:15] LukeTowers commented on #3411
I wonder if this is a race condition, setupConfig happens immediately before createAdmin (https://github.com/octobercms/install/blob/746602c5b6e6339524923c7ff39d79d274cf5175/install.php#L178) so it's possible that the installer is not waiting for setupConfig to finish before createAdmin runs.

[2019-06-12 06:33] LukeTowers commented on #4214
Fixed

[2019-06-12 06:33] #4214 closed

[2019-06-12 06:39] LukeTowers opened #4381 "Move to Laravel 6"
https://www.bountysource.com/issues/75392602-move-to-laravel-6

Laravel 6 has been released and is a LTS release (https://laravel.com/docs/6.x/releases#laravel-6). As such, October should look at moving from 5.5 to 6. This issue will contain discussions relevant to that change and related issues.

## Upgrade Guides:
- [x] 5.5 -> 5.6: https://laravel.com/docs/5.6/upgrade
- [x] 5.6 -> 5.7: https://l

[2019-06-12 06:40] DanHarrin commented on #4381
Will you be moving to the Laravel 5.7 email verification system?

[2019-06-12 06:41] LukeTowers commented on #4381
@DanHarrin what's that?

[2019-06-12 06:43] DanHarrin commented on #4381
@LukeTowers https://laravel.com/docs/master/verification, built-in email verification into the Laravel auth system

[2019-06-12 06:44] LukeTowers commented on #4381
@DanHarrin Probably not? October still isn't using Laravel's auth system so that sounds like a headache to implement.

[2019-06-12 06:45] DanHarrin commented on #4381
@LukeTowers isn't Rainlab.User using it?

[2019-06-12 07:54] Samuell1 commented on #4379
First things that should be optimalized is to recompile all assets and minify them trough something better for example "framework.extras-min.css" can save a lot in size.

(first is custom recompiled trough postcss)
![obrázok](https://user-images.githubusercontent.com/3110002/59332934-a2580900-8cf7-11e9-93c6-0284a814bc17.png)

[2019-06-12 08:41] lautsevich opened #4382 "Dotfiles are missing after the uploading archive to the marketplace"
We at [Shopaholic](http://shopaholic.one) provide a lot of devtools with our products. In particular, we provide front-end tooling for our [Sneakers](https://octobercms.com/theme/lovata-shopaholic-sneakers) theme. There's a `build` folder with the following content:

[code]
The uploading theme archive contains all these files. But the downloaded archive contains only these:

[code]

What the reaso

[2019-06-12 09:13] bennothommo commented on #4381
Another related issue:
https://github.com/rainlab/builder-plugin/issues/212#issuecomment-489566704 (Laravel 5.9 should include a compatible version of `doctrine/dbal`)

[2019-06-12 09:15] bennothommo commented on #4381
Just to note too, Laravel 5.9 is going to actually require at least PHP 7.2, [according to their composer.json](https://github.com/laravel/framework/blob/master/composer.json#L18).

[2019-06-12 09:19] adrenth commented on #4381
Finally time to implement strict types! And in all the DocBlocks too.

[2019-06-12 09:29] bennothommo commented on #4379
@ayumihamsaki Regarding ""304 Not Modified" response - that's something that is usually controlled at the server level. The only way we can enforce that is by routing asset calls through the PHP pipeline, which would result in even worse loading times initially. We could possibly add a doc page suggesting best practices for hosting, of which this could be one of them.

[2019-06-12 12:20] Samuell1 commented on #4381
Hope this gets merged too :D https://github.com/octobercms/october/pull/4280

[2019-06-12 14:09] mrelevance commented on #2078
@LukeTowers bumping as I haven't gotten any response to the last message, any ideas?

[2019-06-12 15:01] ayumihamsaki commented on #4379
@bennothommo I wrote my own blog plugin for October, due to two reasons why I didn't like RainLab's Blog plugin and RadiantWeb's ProBlog Plugin. The two issues I found was:

1. They both have duplicate content issues creating web pages in their folder structures.
2. They both didn't have 304 Redirects.

In my Blog Plugin I did use php as you suggested to create the 304 redirect, the code example I

[2019-06-12 15:15] LukeTowers commented on #4379
I feel like dashboard performance could be improved by implementing caching of the widgets contents with perhaps an in widget refresh button to clear the cache for that specific widget instance.

[2019-06-12 15:18] LukeTowers commented on #2078
@mrelevance this was fixed in https://github.com/octobercms/october/commit/30f4d4c5af180efb21a6e53f023b3b01b76fa891

[2019-06-12 15:33] ayumihamsaki commented on #4379
I was thinking loading the dashboard core widgets first and then loading third party widgets afterwards. First by loading the widget code and then filling the content in. Also preloading the core code minus the content.

I draw what I mean maybe easier to understand me:

![Untitled](https://user-images.githubusercontent.com/17784082/59365032-bf103300-8d2f-11e9-8dd3-299a4a56ea20.png)

[2019-06-12 15:57] LukeTowers commented on #4379
I'm not convinced that's the best way of doing things, seems needlessly complex

[2019-06-12 16:53] ayumihamsaki commented on #4379
Fair enough, my idea is based on 'trust models' we use in coding nowadays. We assume the core code is clean and the majority of errors would lie in the third party plugins that would cause issues to the loading.

[2019-06-12 17:11] ayumihamsaki commented on #4379
@LukeTowers Is it ok and are you happy to open an issue up with regards to Samuell1 point about

To Minify the assets:

- framework.combined-min.js
- framework.extras-min.css

In production enviroments.

[2019-06-12 17:48] ayumihamsaki commented on #4379
I've just seen some small issues with the code, where we could probably fix:

The backend signin screen has two files:

`modules/backend/assets/js/auth/auth.js?v=456`

with the code:

[code]

and the file

`modules/backend/assets/js/auth/uninstall-sw.js`

with the code:

[code]

These are really small pieces of code and instead of wasting two look-ups you could just inline this javascript in the h

[2019-06-12 17:53] ayumihamsaki opened #4383 "Minify the Framework Assets"
Minify the Framework Assets. As requested by lots of people over the years. To enhance performance in production environment websites.

## Pros:

- Reduce File size to increase loading speed
- Reduce File size to Save Data (most people are using Mobile Data Plans)

## Minify the following Files

- framework.combined-min.js
- framework.extras-min.css

[2019-06-12 17:59] ayumihamsaki opened #4384 "Block off front-end Service Worker from running in the Backend as a Security Threat and Reduce Lookups"
I've just seen some small issues with the code, where we could probably fix:

The backend signin screen has two files:

`modules/backend/assets/js/auth/auth.js`

with the code:

[code]

and the file

`modules/backend/assets/js/auth/uninstall-sw.js`

with the code:

[code]

These are really small pieces of code and instead of wasting two look-ups you could just inline this javascript in the head se

[2019-06-12 20:01] ayumihamsaki commented on #4381
Is it possible to turn October into an "**ever-green**" just have rolling updates that following Laravel, so let's say we are on stable 5.8 laravel, then October is on 5.7 laravel etc. When 5.9 laravel comes out we are on 5.8 etc. that way October just's updates all the time and is one version down so they can sort out the bug fixes in the meantime.

There's really big LTS release gaps.

[2019-06-12 20:15] ayumihamsaki commented on #4381
Is it possible to turn October CMS into an "**ever-green**" and just have rolling updates that follow Laravel, so let's say we are on stable 5.8 laravel, then October is on 5.7 laravel etc. When 5.9 laravel comes out we are on 5.8 etc. that way October just's updates all the time and is one version down so they can sort out the bug fixes in the meantime.

There's really big LTS release gaps.

See

[2019-06-12 20:30] ayumihamsaki commented on #4381
Also maybe updating to Laravel 5.9 will fix this issue as well: https://github.com/octobercms/october/issues/3893

[2019-06-13 01:58] bennothommo commented on #4379
@ayumihamsaki

Nice! Yeah, we can probably do 304 Not Modified calls for pages themselves (ie. CMS, Static Pages, Blogs etc.) which have to run through the PHP pipeline anyway, but my comment was referring to other assets like CSS and JS.

[2019-06-13 04:54] LukeTowers commented on #4381
@ayumihamsaki no, not unless someone is willing to pay for that work to be done. Just to give you some background on how we feel about Laravel's breaking changes in every release, we've toyed around with the idea of moving completely away from Laravel sometimes. Not saying that's going to happen anytime soon but it's incredibly unlikely that we'd ever decide to stay up to date with the latest Lara

[2019-06-13 05:00] LukeTowers commented on #4383
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: http://octobercms.com/forum
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

The support demand for

[2019-06-13 05:34] DanHarrin commented on #4381
@ayumihamsaki also think of how many plugins would need to be updated with every new Laravel release... there are some breaking changes in every release

[2019-06-13 05:53] adrenth commented on #4381
That's why they invented semver

[2019-06-13 06:48] Samuell1 commented on #4381
@adrenth hope octobercms will be using that with new release because now only patch version is changing but with breaking changes or new features minor version should change too and major should change when laravel core will be updated. What you think @LukeTowers ?

[2019-06-13 13:40] ayumihamsaki commented on #4383
@LukeTowers Sorry I misunderstood your comment in the other Github Discussion, I thought you meant have a discussion on performance ideas and then the ones that are good ideas, to open them as separate Github issues and then create pull requests on them.

What's the best way forward on moving things from discussion to code?

[2019-06-13 13:43] ayumihamsaki commented on #4379
@bennothommo Cool, I get what you are saying now! Sorry I misunderstood the first time around what you meant.

Yes please can we have 304 on the pages and not on the css and js.

[2019-06-13 13:45] ayumihamsaki commented on #4381
Cool thanks for answers.

[2019-06-13 17:39] ayumihamsaki commented on #4379
Going to show you a screenshot of the backend Dashboard, it shows the dashboard having a 8 second (wait) delay in Google Chrome while the assets are loaded via JSON:

![Untitled](https://user-images.githubusercontent.com/17784082/59454711-9741cd80-8e0a-11e9-8693-c18406ef270b.png)

[2019-06-13 19:19] ayumihamsaki commented on #4383
Github issue linked to discussion found here: https://github.com/octobercms/october/issues/4379

[2019-06-13 23:07] LukeTowers commented on #4383
@ayumihamsaki you tend to open a lot of different issues purely for discussion purposes. I would prefer that we keep those sorts of issues to a minimum and instead open PRs for specific change requests to be discussed and keep the discussion issues only for overarching architectural level discussions. Having a bunch of issues open for abstract discussions is less productive (in my opinion) then si

[2019-06-13 23:07] #4383 closed

[2019-06-13 23:23] LukeTowers commented on #4381
Semver would help with a lot of issues but that's up to @daftspunk and I don't think he's a fan. We also don't really want to ever have to support multiple versions of October, we try our best to minimize the breaking changes that come from Laravel as much as possible to encourage people to remain up to date with October.

[2019-06-13 23:36] ayumihamsaki commented on #4383
Ok understand.

[2019-06-14 00:43] prhost commented on #3683
# Donate page to develop new functionality

Make a page similar to the [donation](https://octobercms.com/fundraising) page, but for good ideas that need a fundraising amount to be developed, similar to what happened here https://github.com/octobercms/october/issues/2772

Sometimes some features need money to be developed, but we do not know exactly how much to donate, who better to say when they n

[2019-06-14 00:55] Teranode commented on #4381
@LukeTowers dont forget Carbon, now Laravel gives you an annoying message every time you update to use Carbon 2 instead of Carbon 1. What other framework were you looking at as a possibility if you were to move away from Laravel? Because I get where you're coming from.

[2019-06-14 02:31] bennothommo commented on #4347
@tobias-kuendig Have you had a chance to look further into this? :)

[2019-06-14 05:05] adrenth commented on #4381
Move to another framework is not even remotely possible. So that would be out of the discussion. That would result in a total new product, which will throw years of work away.

My suggestion would be to build a stable version of OC with the next LTS version of Laravel and introduce semver so vendor packages and OC itself can be locked in a state everyone is familiar with nowadays.

[2019-06-14 05:10] Teranode commented on #4381
I'm not saying to move away, im asking what was the other option he was considering

[2019-06-14 06:01] LukeTowers commented on #4381
@adrenth @Teranode the idea that's been talked about lots by @daftspunk is basically forking Laravel and maintaining that. Personally, I'm not a fan of doing that as it would diverge from the Laravel community and limit our potential reach, so I don't see us doing that any time soon, if at all. I bring it up purely to communicate our frustration with their often nonsensical breaking changes.

@Ter

[2019-06-14 06:08] bennothommo commented on #4381
@LukeTowers This is the list of breaking changes for Carbon 2:
https://carbon.nesbot.com/docs/#api-carbon-2

[2019-06-14 06:08] Teranode commented on #4381
@LukeTowers
wew that idea sounds worse than just not using Laravel at all, but I do get that frustration as i tend to look at their codebase every now and then and see things that don't need to be there.

Nesbot got a documentation for their breaking changes:
https://carbon.nesbot.com/docs/#api-carbon-2

[2019-06-14 06:37] LukeTowers commented on #4382
@lautsevich @daftspunk will be adding support for a `.octoberinclude` file that will follow `.gitignore` syntax, except just for dotfiles inclusion in the marketplace build packages and ignoring everything by default. So, in this case you would add a `.octoberinclude` file to `/build` that would contain the following entries:

[code]

[2019-06-14 07:59] amjadniazi48 opened #4387 "[website]Getting the following error on octobercms website author page after logging in"
![errorpage](https://user-images.githubusercontent.com/2420029/59493353-32d34c80-8ea4-11e9-91dd-b2332e9e881f.png)

[2019-06-14 10:20] Cryden opened #4388 "How refresh backend form after Save?"
How refresh backend form fields after Save model?

[2019-06-14 10:25] w20k commented on #4388
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-06-14 10:25] #4388 closed

[2019-06-14 13:53] #4387 closed

[2019-06-14 18:41] nathan-van-der-werf commented on #4381
You don't have this frustration when looking at the OctoberCMS codebase?

[2019-06-15 01:39] LukeTowers commented on #4381
@nathan-van-der-werf anything in particular? 😉

[2019-06-15 17:43] nathan-van-der-werf commented on #4381
My biggest frustration (aside from not having semver and tags being made while the version is not "stable" yet) would be the lack of strict typing.